[2017-05-22 15:36] sglangevin commented on #3404
I believe this was requested for desktop, but I'd like us to implement it for both unless @ranjuts confirms that it's not going to be needed for mobile in the future.

[2017-05-22 15:47] alxndrsn commented on #3404
Probably makes sense to work on as separate tickets.  medic-android and medic-collect can share the bulk of the date picker code, and there will be some smaller overlap between medic-android and medic-webapp, where the enketo widget is defined.

[2017-05-22 15:49] sglangevin commented on #3404
There is a ticket for medic-collect here: https://github.com/medic/medic-webapp/issues/3405

Let's use that ticket for medic-android and medic-collect and this one for the webapp?

[2017-05-22 16:59] mandric commented on #3359
I sense your frustration.  I swear I'm just trying to understand the pain and express my point of view.  This is a significant change and it's quite a bit of work to address all points of impact.  I was hoping we could use our base process of PRs to help us alleviate some pain, because I don't think we've really been doing that with submodule commits.  My theory is if we treat submodule changes li

[2017-05-22 23:22] garethbowen opened #3496 "Add support for the Bambara language"
The Muso Mali project is going to use the Bambara language. Translations are being compiled and the first cut of the translation file is committed. We need two more changes to completely support Bambara from the code side.

Firstly, add a `bm` property to the [LOCAL_NAME_MAP in api](https://github.com/medic/medic-api/blob/master/translations.js#L10). This is to show the name as native speakers wou

[2017-05-23 07:48] estellecomment commented on #1784
This is actually still sorta happening, but is better placed in medic-design. Filed https://github.com/medic/medic-design/issues/60 to continue, leaving this one closed.

[2017-05-23 09:44] garethbowen commented on #3435
@browndav Doesn't this mean that the migration itself doesn't have a memory leak, it's just that the doc is unworkable? Can we close this issue?

[2017-05-23 09:50] garethbowen commented on #1876
@mandric I'm not sure this is related. Can we kick it out of the milestone for now?

[2017-05-23 13:13] estellecomment commented on #3496
Adding bambara to Moment would be awesome! Then anyone on the internet could have dates in bambara 😎  @abdoufata would you be interested? We would need your help to produce a file like this : https://github.com/moment/moment/blob/master/src/locale/fr.js (this one is for french)

[2017-05-23 13:40] abdoufata commented on #3496
Hi @garethbowen Bambara language is **Bamanankan** in the local language.

[2017-05-23 14:15] estellecomment commented on #3496
We are drafting the Moment.js localization file.
I've asked @abdoufata questions in this doc so that I can write the file (sorry, in French, private language😛 ):
https://docs.google.com/document/d/1MzgouhvngbycE9Uk6EKj3pDdml9_ytc-XtZluoTx2aE/edit

[2017-05-23 14:53] alxndrsn commented on #3404
Yes, saw that - I think we want 3 tickets, ultimately 😄

[2017-05-23 15:10] sglangevin commented on #3496
Cool! This will be a nice contribution back to the internet!

[2017-05-23 18:09] #3435 closed

[2017-05-23 18:18] alxndrsn commented on #3404
Should there be a bikram-specific input field type, or should the bikram selecter be displayed instead of the regular date picker for a form displayed in Nepali?

[2017-05-23 21:28] garethbowen commented on #3496
@estellecomment Nice one! NB when contributing back the PR will only be accepted if the translations have associated testing. Read the contributing link above for details.

[2017-05-24 01:12] garethbowen commented on #3496
@estellecomment I've updated [the documentation](https://github.com/medic/medic-docs/blob/master/development/translations.md#adding-new-languages) about how to add a new language. Note the last step about including the language file into our app.

[2017-05-24 09:18] alxndrsn opened #3497 "Integrate travis-ci.com with Slack"
Give us some build notifications!

[2017-05-24 10:11] #2825 closed

[2017-05-24 10:11] garethbowen commented on #2825
No AT required.

[2017-05-24 10:13] garethbowen commented on #2635
Merged! Thanks @estellecomment and @mandric for fantastic and detailed reviews. If I missed some feedback in that epic review I'm happy to change in master but I needed to merge for my sanity...

[2017-05-24 11:22] alxndrsn opened #3499 "Bad error message when associated contact is not available in the local DB"
i see the following error message  if my user _does_ have an associated contact, but the contact is not in the local db:

[2017-05-24 12:14] alxndrsn opened #3501 "Separate Nootils and associated test code into an NPM package"
This would allow much more simple test code in projects - currently we have multiple submodules of the medic-webapp repo.

[2017-05-24 13:17] SCdF opened #3502 "Somehow expose conflicts to technical people to deal with"
We should expose conflicts, somehow, at least to technical staff, so we know to act on them.

First step would be to add a view that exposes all conflicting documents. The simplest way of doing this would be to add a new ddoc (to avoid view re-generation on all others) and write a simple view inside it:
[code]
The result of that view should be exposed somewhere.

Since conflicts are rare (~100 in

[2017-05-24 13:36] SCdF commented on #3502
In addition: the upshot of doing this is the expectation that all existing conflicts get resolved in the process of adding and testing out this flow.

[2017-05-24 13:41] SCdF opened #3503 "Work out how traffic_stats can conflict with itself"
Here are two examples from lg-testing, the lg clone: `4493C9C9-7C9C-2266-A828-DA3D34DF24C4` and `62DEB922-7397-2250-912C-0056B5F40F68`.

These documents need to be looked into. They are conflicting. However, they should be only generated from one client (specifically, a CHW's phone).

We need to investigate ways this could be happening. My top guess at the moment is the user has two devices, thoug

[2017-05-24 13:43] SCdF commented on #1838
Closing this ticket in favour of a near-identical replacement: https://github.com/medic/medic-webapp/issues/3502

[2017-05-24 13:43] #1838 closed

[2017-05-24 13:45] SCdF opened #3504 "Investigate where sent_by comes from, and why some documents have conflicts because of this"
Take a look at the following docs on lg-testing: `3A6817B7-338F-9D16-8B6C-E8566B650BD0`, `4FEF61DB-B6E8-FE0A-B49D-EA94CDF7301E` and `6FD1AF78-C03A-1D65-BFC5-D400107AFD9E`

Work out why they are conflicted (is it because of `sent_by`? Where does that come from?) and resolve them in production.

[2017-05-24 13:48] SCdF commented on #3502
Here are some non-standard (ie not easy to categorise) conflicts in lg-testing (that are presumably also in production), and additional notes about them:

- **F0ECD2A5-2103-650D-8620-F1767CFB1A2B** : edit to change form data + mark as read vs. transition. Interstingly transitions didn't run again on that doc, even though they should have? **This may be a sentinel bug**
- **F0ECD2A5-2103-650D-8620-

[2017-05-24 14:16] alxndrsn commented on #3503
:+1: Seems important whether or not this is the cause of conflicts.

[2017-05-24 14:28] #3497 closed

[2017-05-24 14:30] ranjuts commented on #3404
We would ideally want the latter.

[2017-05-24 14:34] alxndrsn commented on #3404
@ranjuts when you have a minute it'd be good to go through some ideas for how this could work

[2017-05-24 14:38] SCdF opened #3505 "Change patient id generation to store the length of id it's generating"
Currently the [id generation code](https://github.com/medic/medic-sentinel/blob/master/lib/ids.js#L4) always starts at 5 digits long, and then uses rules to increase that number as required.

Instead of this, we should store and retrieve the id length… somewhere[1].

This lets two things happen:
 - If a partner for some reason wants a default length they can set the initial length
 - If the rules

[2017-05-24 14:44] sglangevin commented on #3505
This is needed for a few projects that are upgrading. Adding to this iteration to see if we can get to it.

[2017-05-24 14:45] SCdF opened #3506 "Increase our confidence in client-side generated `_id`s being unique"
Currently, in lg-testing (a clone of production), we have around 50 documents (out of 2.5 million) that look to have conflicted because of non-unique id generation. In other words, they are completely separate documents that have smushed together because the UUID they picked was the same as another document.

At the moment we are using PouchDB' standard UUID generation, as seen here: https://githu

[2017-05-24 14:48] alxndrsn commented on #3476
Without modifying the build to upload a binary bundle somewhere, we'll have to re-run the packaging steps for each part of each stage: https://docs.travis-ci.com/user/build-stages#Data-persistence-between-stages-and-jobs

[2017-05-24 17:26] sglangevin commented on #3495
The approach we have taken to this is to warn the user if their date is incorrect. This is already implemented. As of v2.12.0 we'll be keeping track of the date that the report hits the server, which gets us a step closer to dealing with this issue a bit better. The problem is that users are creating reports offline, so we have to use the phone date/time when the report is created. Warning users h

[2017-05-24 22:53] garethbowen commented on #3503
Note that traffic stats are no longer collected or replicated so it can't happen again with that specific document. https://github.com/medic/medic-webapp/issues/2886

[2017-05-24 22:56] garethbowen commented on #3505
@SCdF When you say "default length" is it ok for it to still grow beyond that if necessary? It would be really good to store app_settings in a separate doc. Dashboard app settings page (which is used sometimes) expects it to be stored on the ddoc so we'd need to manage that perhaps by providing our own generic configuration page (maybe just import/export).

[2017-05-24 23:34] garethbowen commented on #3372
Code review please @SCdF

[2017-05-24 23:40] garethbowen commented on #3473
@bishwas-medic I cannot reproduce this bug. Can you try to reproduce it, perhaps with a language you're not using, and send me the instance URL so I can investigate further?

[2017-05-24 23:49] garethbowen commented on #3355
The client side only prompts to refresh if the doc _id is one of : '_design/medic', '_design/medic-client', 'appcache'. Source: https://github.com/medic/medic-webapp/blob/master/static/js/controllers/inbox.js#L593

The `medic-client` ddoc is automatically updated if the `medic` ddoc is updated. This is done in api to keep the app_settings in sync. Source: https://github.com/medic/medic-api/blob/ma

[2017-05-24 23:50] garethbowen commented on #3340
Please reopen if you get any more information.

[2017-05-24 23:50] #3340 closed

[2017-05-24 23:56] garethbowen commented on #1601
Related: #3045

[2017-05-25 07:14] SCdF commented on #3503
Cool, one less thing to deal with. Closing.

[2017-05-25 07:14] #3503 closed

[2017-05-25 07:15] SCdF commented on #3505
@garethbowen yeah it will still grow if required.

In terms of storing app_settings elsewhere, we could have a look, but the more I think about it the more I'd rather just create a new marker doc, as shown in the example above. In a large part because it means we're not introducing a giant refactor with this change.

[2017-05-25 07:26] SCdF commented on #3372
LGTM. Merged.

[2017-05-25 23:09] sglangevin commented on #3443
@henokgetachew there is a beta release out with this fix in it - v2.12.0-beta.2. Can you upgrade the affected instance to this beta and do acceptance testing so we can release 2.12.0 final?

[2017-05-25 23:41] garethbowen opened #3508 "Slow initial replication for users with lots of docs"
CouchDB reverts to a slow strategy when a changes feed is requested with more than 100 doc ids. 100 is fine. 101 is slow.

This is affecting LG in production since upgrade to 2.11.

Work out why and fix.

[2017-05-26 00:07] sglangevin commented on #3430
@derickl I've upgraded lg.dev to v2.12.0-beta.2 for testing. Can you test the form you were working on there and confirm that it is now working as expected?

[2017-05-26 12:49] estellecomment opened #3509 "Flaky protractor test : "Submit Enketo form submits on reports tab""
Seen once on travis, code change was irrelevant (changelog).

Travis log : [travis_enketo.txt](https://github.com/medic/medic-webapp/files/1031444/travis_enketo.txt)

[code]
at `medic-webapp/tests/protractor/e2e/submit-enketo-form.js:122:3`

And further down (possibly irrelevant) :
[code]

[2017-05-26 13:37] abbyad opened #3511 "Identify patients with Simprints"
Simprints is working on building low-cost, rugged fingerprint scanners for frontline workers. We can integrate use of these scanners into health worker workflows to identify patients. This can be helpful for a variety of projects, such as those with large number of patients that attend a clinic, ones with community campaigns, and ones where patient identification using names alone is not reliable.

[2017-05-26 15:58] estellecomment opened #3512 "Reports tab shows no reports"
Go to the reports tab. Shows "No reports".

I suspect the linked contacts change (https://github.com/medic/medic-webapp/issues/2635), and a bad use of a refactored view...

[2017-05-26 16:08] estellecomment commented on #3512
Neeeever mind that was me locally, ignore

[2017-05-26 16:08] #3512 closed

[2017-05-26 17:47] SCdF commented on #3508
The gist of the problem is talked about in https://issues.apache.org/jira/browse/COUCHDB-1288

Basically we were hitting the slow path (>100 docs). This was causing us performance issues, with lots of cache misses and things like that (in theory).

Changing the code to side-step the slow path by batching `_changes` requests into chunks of 100 fixed the performance issues we were having.

@alxndrsn

[2017-05-26 18:05] mandric commented on #3508
It would be nice to have tests documented for this.  Currently there is no easy way to know how to reproduce the issue (assert the problem exists) and how to know if it's fixed (assert the problem is fixed).

[2017-05-26 18:08] sglangevin opened #3513 "Allow users to enter Bikram Sambat dates in Enketo forms on Android phones"
The date widget available in Enketo currently supports only the Gregorian calendar. In order to support facility-based users in our Nepal deployments, nurses using the web app need to be able to enter dates using the Bikram Sambat calendar. Make it possible for Enketo forms to display a widget that allows Bikram Sambat date entry.

cc @ranjuts @bishwas-medic

Related: #3404, #3405

[2017-05-26 18:09] sglangevin commented on #3404
@alxndrsn ok let's use this issue for the webapp. I've created a new issue for Android (#3513) so now we have 3 tickets. I've also changed the title of this issue to reference the web app.

[2017-05-26 18:41] ngaruko commented on #3467
LGTM with V2.13.0-alpha.5898

[2017-05-26 18:46] ngaruko commented on #3433
LGTM. Would like @bishwas-medic to have a look/test and confirm if this what he (and the tech lead community) was looking for....

[2017-05-26 22:52] sglangevin commented on #3405
More info from @ranjuts:
- Ideal: Option to enter date in Nepali Date (Bikram Sambat) format : DD/MM/YYYY or pick from calendar (display Bikram Sambat Calendar  in date picker)
- Could work with: 3 separate dropdowns for DD, MM (or name of month) and YYYY and webapp to recognize that as a valid date field (as opposed to integer fields only to be displayed within the particular report -- currently

[2017-05-26 22:53] sglangevin commented on #3404
From @ranjuts:
- Option to enter date in Nepali Date (Bikram Sambat) format : DD/MM/YYYY or pick from calendar (display Bikram Sambat Calendar  in date picker)

[2017-05-26 22:53] sglangevin commented on #3513
More info from @ranjuts:
- Option to enter date in Nepali Date (Bikram Sambat) format : DD/MM/YYYY or pick from calendar (display Bikram Sambat Calendar  in date picker)

[2017-05-28 23:20] garethbowen commented on #3045
One commit fixes this and the related #1601

[2017-05-28 23:21] garethbowen commented on #1601
Review please @alxndrsn

[2017-05-29 00:16] #3508 closed

[2017-05-29 01:51] garethbowen commented on #3476
Right. Ideally we'd jshint, build, and upload somewhere, then run tests, then publish. In the short term we could leave it as is, or go with a slightly slower but cleaner strategy of building for each step.

[2017-05-29 09:32] garethbowen commented on #3490
This is hard.

- Using protractor v5 with the legacy driver and firefox 47 is not supported and fails miserably.
- Using protractor v5 with the new driver and firefox 53 fails a bunch of tests for seemingly random reasons.

I'm going to close this for now. Maybe there are problems with the new driver? Maybe we'll switch to headless Chrome when it's released (soon) and just not test firefox?

This

[2017-05-29 09:32] #3490 closed

[2017-05-29 09:41] #3045 closed

[2017-05-29 09:41] #1601 closed

[2017-05-29 14:02] ranjuts commented on #3513
Had a chat w Alex re this and here's the gist. @alxndrsn please add/correct if anything.

**Best option in terms of LOE + usability:** 3 separate dropdowns for DD, MM (name of month) and YY. Typing the date would be the default option. For month, when typing enter as integer but display the name of month in text once done entering (eg: Baisakh, Jetha, Asar etc or बैशाख, जेठ, असार  if form language

[2017-05-29 14:03] ranjuts commented on #3404
Had a chat w Alex re this and here's the gist. @alxndrsn please add/correct if anything.

**Best option in terms of LOE + usability:** 3 separate dropdowns for DD, MM (name of month) and YY. Typing the date would be the default option. For month, when typing enter as integer but display the name of month in text once done entering (eg: Baisakh, Jetha, Asar etc or बैशाख, जेठ, असार  if form language

[2017-05-29 14:03] ranjuts commented on #3405
Had a chat w Alex re this and here's the gist. @alxndrsn please add/correct if anything.

**Best option in terms of LOE + usability:** 3 separate dropdowns for DD, MM (name of month) and YY. Typing the date would be the default option. For month, when typing enter as integer but display the name of month in text once done entering (eg: Baisakh, Jetha, Asar etc or बैशाख, जेठ, असार  if form language

[2017-05-29 14:42] estellecomment commented on #3392
Words starting with non-ascii chars are not indexed. Removing that.

[2017-05-29 21:01] garethbowen commented on #3392
I've requested one change and one unit test.

@SCdF Can you also please review this PR? You added the regex that's being removed and I just wonder if you can remember why it was important.

[2017-05-29 23:32] garethbowen commented on #3481
@mandric This is assigned to you and I was mentioned too. I have no idea how this can happen but the patch seems fine to me. How do we even release gardener?

[2017-05-30 01:07] garethbowen commented on #3437
@abbyad The key to this bug is in the error: "No person with ID number '30001' found.". The way replication works is you can see any contact below you on the hierarchy and any report that is about one of those contacts. Because this report doesn't have an associated contact we don't know who is allowed to see it. Does that make sense?

When no patient_id is supplied at all the code falls back to u

[2017-05-30 01:10] garethbowen commented on #3254
@alxndrsn I assume this was when logged in as admin?

[2017-05-30 01:26] garethbowen commented on #3013
I just tried this on the latest sentinel. The validation message I used is: `The patient name is too long: {{patient_name}}.`. I used the old school messages style not the translation key style but they should both work.

![success](https://cloud.githubusercontent.com/assets/2064938/26564980/3cdfe2ec-453b-11e7-8b29-2e3236be6e64.png)

@abbyad I'll close this and set it to AT so you (or whomever) ca

[2017-05-30 01:26] #3013 closed

[2017-05-30 01:35] garethbowen commented on #2488
medic-docs has been reworked so it's no longer an app. Offline user documentation is covered by #1895.

@estellecomment Can this issue be closed now?

[2017-05-30 01:36] garethbowen commented on #1978
Related: #3299 #3254

[2017-05-30 01:45] garethbowen commented on #1412
This appears to be fixed in the latest alpha (cannot reproduce). Assigning to AT to get proper testing.

[2017-05-30 01:45] #1412 closed

[2017-05-30 03:59] garethbowen commented on #2418
This has been discussed at length in a [Google Doc](https://docs.google.com/document/d/1_bwML_WA_tuaxxxElNUcs-MTxd6f_u15J-Ak03kkIc4/edit#).

The TL;DR is to have a per user meta database which stores a doc for each doc the user has read. This is replicated to the server so if they switch device the information is retained.

[2017-05-30 07:38] estellecomment commented on #2488
yeah, closing. Thanks for cleaning up!

[2017-05-30 07:38] #2488 closed

[2017-05-30 07:52] estellecomment opened #3516 "e2e test for non-ascii search"
Write an e2e test to check that we deal with non-ascii text (especially french accents and nepali/hindi devanagari alphabet) properly all the way through. Include search, since that had issues (#3392).

[2017-05-30 09:43] browndav commented on #1605
Closing and marking as ancient. Create a new issue if this or a similar feature/fix is needed.

[2017-05-30 09:43] #1605 closed

[2017-05-30 09:43] browndav commented on #1720
Closing and marking as ancient. Create a new issue if this or a similar feature/fix is needed.

[2017-05-30 09:43] #1720 closed

[2017-05-30 09:46] browndav commented on #1978
This appears valuable; removing "needs triage" label and placing in deprioritized mobile app features milestone.

[2017-05-30 09:46] browndav commented on #2048
Closing and marking as ancient. Create a new issue if this or a similar feature/fix is needed.

[2017-05-30 09:49] browndav commented on #2224
Closing as ancient. Given that maintainership of nools is in flux and this issue is a bit old, IMO we should reassess if this is still needed and refile if so.

[2017-05-30 09:51] browndav commented on #2309
This is completely valid; keeping. Is it worth asking design to do one big pass re: keyboard accessibility in general?

[2017-05-30 09:52] browndav commented on #2489
This is valid and we should do it. Scheduling for this iteration.

[2017-05-30 09:54] browndav commented on #2996
This is recent and seems valid. Would like to pass it to @diannakane for a call on prioritization or if the issue has been addressed in some other way/design already.

[2017-05-30 09:56] browndav commented on #2821
Closing as ancient. Please reopen or recreate if this is still an issue on current builds of the Android container.

[2017-05-30 09:56] #2821 closed

[2017-05-30 09:57] browndav commented on #2852
THis is an older issue, but may still have some validity for design. Many aspects may already be resolved. Passing over to @diannakane to get a design team call before closing.

[2017-05-30 09:59] browndav commented on #2117
Proposal: mark this issue as superseded by https://github.com/medic/medic-webapp/issues/2503, which will provide a testing framework for Nools rules in general. Please reopen if you disagree or have questions.

[2017-05-30 09:59] #2117 closed

[2017-05-30 10:01] browndav commented on #2117
@estellecomment: Assigning over to you quickly just in case I forget to mention it on the call. If you agree with the approach, feel free to just unassign.

[2017-05-30 10:04] alxndrsn commented on #3254
That's possible, but worth checking before working on this.  I should have recorded the account type at the time of creating this issue :-\

[2017-05-30 10:12] SCdF commented on #3392
Commented. tl;dr; yes it's intentional.

[2017-05-30 10:24] browndav commented on #2627
I'm now unable to reproduce this a current build of Selenium / webdriver; rerunning `./node_modules/.bin/webdriver-manager start` seems to work for me regardless of how the previous process died (even tried signal 9).

Marking as `Ancient` for now and passing off to @SCdF for a final check – if it's no longer a problem for you either, just unassign yourself IMO.

Here's what I was running:

[code]

[2017-05-30 10:38] browndav commented on #3119
Closed; current process works well. Disk resizing is better handled by using a new instance type and EBS feature IMO, and comes with additional benefits (no-reboot live resizing, for instance).

[2017-05-30 10:39] browndav commented on #3360
Proposal from call: block access to Futon entirely, and provide simple SSH tunneling instructions for Tech Leads and Developers (e.g. `-L5984:localhost:5984`). Does anyone disagree with this approach?

[2017-05-30 10:41] alxndrsn commented on #3360
Please proceed with proposed approach immediately.

[2017-05-30 10:41] browndav commented on #2309
Tagging @diannakane, @amandacilek for input.

[2017-05-30 11:23] SCdF commented on #2627
Oh I'm sure this is no longer relevant. If it comes up again we can raise it again.

[2017-05-30 11:23] #2627 closed

[2017-05-30 14:55] SCdF commented on #3505
PR is here: https://github.com/medic/medic-sentinel/pull/133

@mandric can you review please.

@sglangevin do you have any idea how / where we'd document this?

[2017-05-30 15:44] estellecomment opened #3517 "Can't view contacts for restricted user"
Selecting any contact shows "No person selected" in the RHS.
Most likely bug from change to linked contacts (#2635).

`Error generating contact view model TypeError: Cannot read property 'patient_id' of undefined`
At https://github.com/medic/medic-webapp/blob/master/static/js/services/contact-view-model-generator.js#L178

`contact.doc` is undefined.

[2017-05-30 15:49] sglangevin commented on #3505
@SCdF what happens if an instance was using, say 7-digit IDs in v0.4 and then is upgraded to v2.x? Will the `shortcode-id-length` document be created?

For documentation, I'd put it in medic-docs in the configuration folder. I can also work with @ngamita to make sure that this is communicated well to tech leads.

[2017-05-30 16:00] estellecomment commented on #3516
One behavior to test : when you query for key `['aaa']`, you should get `['ààà']` in results (maybe just a db test? Since it doesn't need the client really... But it does need the full DB, it's not covered by view unit test.)

[2017-05-30 17:54] SCdF commented on #3505
@sglangevin there is no migration at this stage, no. I could write a script for it, but unless we have a dozen projects with custom lengths it's going to cost more time to write it than it is to just tell people about it.

I'll look into adding something into medic-docs/configuration.

[2017-05-30 18:56] sglangevin commented on #3508
Removing from 2.12.0 and 2.13.0 as this will be released in 2.11.2.

[2017-05-30 19:36] sglangevin commented on #3508
@garethbowen has corrected me. Added back to 2.12.0 so we make sure it gets into that release. 2.13.0 hasn't been branched from master yet, so I think we're good there.

[2017-05-30 19:45] sglangevin commented on #3505
Ok, makes sense. If you could include a note in the docs about how to set this up for projects that are upgrading from v0.4 or other earlier versions of v2.x, that would be really helpful. I believe there are 2 that @ngamita mentioned that are upgrading from v0.4, but there may be others upgrading from v2.11 or other v2.x versions that would need to set this up manually.

[2017-05-30 23:17] browndav opened #3519 "Migration failure in extract-person-contacts"
During a production upgrade, we encountered the following migration failure that caused us to decide to roll back the update:

[code]
To do:

- [ ] Examine facility data to determine correctness
- [ ] If facility data is clearly incorrect, correct it and retest the migration
- [ ] If facility data appears correct, refer to dev team and make use of preserved clone instance for reproduction/debuggin

[2017-05-31 02:09] garethbowen commented on #3517
Looks good. One small comment. Over to you @estellecomment

[2017-05-31 07:28] bishwas-medic commented on #3433
@ngaruko do we have a test instance online to test out this feature? Or should I try it out on my local machine?

[2017-05-31 08:38] estellecomment commented on #3517
Fixed. Thanks for the review!

[2017-05-31 08:38] #3517 closed

[2017-05-31 08:41] estellecomment commented on #3517
AT : both admin and restricted user should be able to see contacts fully displayed in the RHS, with their reports and everything, when they click on them in the LHS (or navigate from URL).

[2017-05-31 08:53] estellecomment commented on #2701
@abbyad Does this issue include testing the scheduled SMS sending?
If yes, then could you edit the OP to specify that?
If no, could you also edit the OP to specify (:D) , and reopen #2117 which does covers it.
Thanks!

[2017-05-31 10:19] SCdF commented on #3505
@sglangevin if you wouldn't mind taking a look at https://github.com/medic/medic-docs/pull/22 that would be really helpful :-)

[2017-05-31 12:51] SCdF commented on #3494
I've generated all the tickets I'm going to out of this. They all have the [conflicts](https://github.com/medic/medic-webapp/labels/Conflicts) tag.

[2017-05-31 12:51] #3494 closed

[2017-05-31 13:12] nice-snek commented on #2778
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:12] nice-snek commented on #3128
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:12] nice-snek commented on #3140
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:12] nice-snek commented on #3144
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:12] nice-snek commented on #3165
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:12] nice-snek commented on #1895
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 13:16] nice-snek commented on #3146
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍 🐍

[2017-05-31 16:38] alxndrsn opened #3520 "HBB can take you back to the login screen if you logged in that session"
Hardware back button is all sorts of broken right now on android, e.g.: https://github.com/medic/medic-webapp/issues/3461, so I suspect this is a regression.

[2017-05-31 19:28] sglangevin commented on #3140
Closing - comment made on corresponding medic-projects ticket.

[2017-05-31 19:28] #3140 closed

[2017-05-31 19:29] sglangevin commented on #3433
AT for v2.12.0 is on hold while we test v2.11.2 and release it. Once v2.11.2 is released, you'll be able to test the beta of v2.12.0. I'd prefer that this feature be tested using the release with which it will be included as opposed to testing in master.

[2017-05-31 20:22] SCdF commented on #3423
I've renamed this to cover a little bit more which all related.

We should also:
 - Move `sentinel-meta-data` and `shortcode-id-length` (and any other meta docs that basically only sentinel cares about) into a new `medic-sentinel` DB
 - When we pull out the transition metadata move that into a document in the new `medic-sentinel` DB

This is useful, both because it separates concerns, but also bec

[2017-05-31 21:01] garethbowen commented on #3146
This is by design. Closing.

[2017-05-31 21:01] #3146 closed

[2017-06-01 00:46] #3499 closed

[2017-06-01 00:47] garethbowen commented on #3499
I've merged it. This got missed for a while. @alxndrsn I think it'd be easier to find if it was marked for code review and assigned to the reviewer.

[2017-06-01 00:48] garethbowen commented on #3499
No AT required - it's a console error message only.

[2017-06-01 00:49] garethbowen opened #3521 "Task summary screen looks ugly on desktop"
![task-summary](https://cloud.githubusercontent.com/assets/2064938/26659938/c4f2ee70-46c8-11e7-96b8-b889a3727a16.png)

[2017-06-01 01:38] garethbowen commented on #3521
Code review please @estellecomment !

[2017-06-01 01:39] garethbowen commented on #3521
Now it looks like...

![after](https://cloud.githubusercontent.com/assets/2064938/26660991/b33ddc74-46cf-11e7-9f21-23b6a8dafbf5.png)

[2017-06-01 07:12] estellecomment commented on #3521
LGTM, merging

[2017-06-01 07:12] #3521 closed

[2017-06-01 09:32] estellecomment opened #3523 "Contact freetext search indexes useless things"
We are indexing all fields by default for contacts_freetext search[1], and have a huge index. Some of the search keys would never be used by a user and could be removed.

Examples of weird/useless keys, from lg.dev (prod data):
 - `"true"` and `"false"` are popular keys, coming from e.g. `pregnant_at_registration:true`
 - `“approx”` is a key, from indexing `date_of_birth_method: approx`
 - bits of

[2017-06-01 13:24] estellecomment commented on #3392
So, when you remove that intentional check for non-ascii characters, on lg.dev data (english and swahili, both ascii languages), you get these numbers of keys output:
`contacts_by_freetext` : 201,696 -> 201,786 (90 non-ascii keys added)
`contacts_by_type_freetext` : 201,696 -> 201,786 (90 non-ascii keys added)
`reports_by_freetext` : 287,788 -> 287,964 (176 non-ascii keys added)

So it's negligibl

[2017-06-01 14:02] estellecomment opened #3524 "Indexing numbers in freetext search is probably useless"
From lg.dev, examples of `number` keys in contacts_freetext and reports_freetext:
 - bits of locations :
    - `35.274224` (from "location": "-0.617624 35.274224 0 0")
 - bits of dates :
    - `2011` (from "dob_raw": "Fri Dec 30 2011 00:00:00 GMT+0300 (EAT)")
    - `2016` (from"edd": "Dec 13, 2016")
   - `16.08` (from "weeks_since_lmp": "16.08")
 - bits of ages
    - `2192`  (from "patient_age_in_

[2017-06-01 16:14] SCdF commented on #3506
I've added a PouchDB PR: https://github.com/pouchdb/pouchdb/pull/6538

I presume I'll have to make more modifications.

[2017-06-01 19:37] derickl commented on #3413
@sglangevin this would also be useful for a nutrition use case - will will need to track certain aspects/conditions of a mother and/or their child.

[2017-06-01 20:28] alxndrsn commented on #3392
Posted this a couple of days ago, but I guess it got missed.  I think the following line can be deleted:
[code]

[2017-06-02 07:02] SCdF commented on #3505
Merged both the code and the documentation.

[2017-06-02 07:33] SCdF commented on #1895
@garethbowen are these help pages still relevant (I presume they were made for 0.4 so may not be correct for 2.x)? If so we should totally get them back online, it's a waste of effort otherwise.

[2017-06-02 09:15] alxndrsn opened #3525 "Wrap text in tasks list"
Currently if a task has a long title, it gets truncated and `…` appended.  Instead this text should be wrapped.

[2017-06-02 11:16] SCdF commented on #3502
Added a conflict view, review please @alxndrsn : https://github.com/medic/medic-webapp/pull/3526

[2017-06-02 11:39] alxndrsn commented on #3502
👍

[2017-06-02 18:28] alxndrsn commented on #3404
Bootstrap bikram sambat date picker: https://medic.github.io/bikram-sambat/

[2017-06-05 08:41] ranjuts opened #3527 "Primary contact name on LHS is not updated after updating a contact even though it shows correctly on RHS."
First encountered it at: https://ebpp-indonesia.app.medicmobile.org. However, seen it in another instance as well so guessing its an webapp issue rather than a project.

version of webapp: 2.11.1

- I only edited the name of the person (via the person's profile). This person was already assigned the primary contact of the place.

<img width="865" alt="untitled" src="https://cloud.githubusercontent

[2017-06-05 10:11] SCdF opened #3528 "CouchDB 2.0: make sure our app doesn't rely on seq order"
Read this instructive mailing list thread: https://mail-archives.apache.org/mod_mbox/couchdb-user/201706.mbox/%3CCAB2GbkxjKMu9Z_PMQOHjL00OMkegOvhyjLpV3XHhGqo1sKW73A%40mail.gmail.com%3E

Basically, the initial number is there as a legacy trick, and if you are running CouchDB with multiple nodes there is no guarantee that the visible seq number actually increases as the change feed goes on.

We shou

[2017-06-05 10:34] SCdF commented on #3504
I'm convinced this is just Sentinel vs mark as read again.

All three cases are the same:
 - One of the sentinel transitions that ran was one that adds `sent_by`.
 - The revision with sentinel in it is one number ahead of the one without
 - Both revisions have a person who marked read
 - So one revision tree was New Document => Mark As Read (2 changes), and the other is New Document -> Sentinel ->

[2017-06-05 10:34] #3504 closed

[2017-06-05 11:58] alxndrsn opened #3529 "Add session expiry date in About screen"
Seems like this would be helpful for people.

[2017-06-05 13:03] SCdF commented on #3525
@alxndrsn why? It sounds like the … logic is intentional (otherwise presumably the handling would be uglier). Has someone asked for this, or has this caused a problem in production, or do you just not like how it looks?

[2017-06-05 13:16] SCdF opened #3530 "Reports view on person page doesn't live update"
To reproduce:
 - Have a person open, note the reports in the reports section of that page
 - Send a report in for that person
 - Note that the report doesn't appear in the reports view (though the report number against the main report tab has increased: the app clearly knows about it)
 - Refresh the screen
 - Note that it's now there.

[2017-06-05 13:40] alxndrsn commented on #3529
This is not possible in client-side javascript in a standard browser.  We could probably add a hook to our android wrapper to get the expiry timestamp for the `AuthSession` cookie.

[2017-06-05 14:01] alxndrsn commented on #3529
Neither crosswalk nor android webview/webkit provide any obvious interface for getting cookie expiration dates - it looks chrom(ium) doesn't expose this data to the java layer.
[code]

Could be done with a crosswalk modification, but would be significant effort for little gain.

[2017-06-05 14:01] #3529 closed

[2017-06-05 14:06] alxndrsn commented on #3525
Requested by @ranjuts due to production problems.

[2017-06-05 14:06] alxndrsn commented on #3525
@SCdF what does the following mean?

[2017-06-05 20:48] garethbowen commented on #1895
They were made for early 2.x. Mostly they should still be useful, but some content may need to be updated or thrown out.

I'm going to just get this done before they get any more out of date...

[2017-06-05 21:04] diannakane commented on #3495
I've added it to the design ideas repo.

[2017-06-05 21:54] amandacilek commented on #3438
Hey @alxndrsn, I understand that pngout compresses image files. I don't think of our app as being very image-heavy already. I'm not sure about what images we already include in "form images", do you have any examples? Is this mainly in reference to the file size of the icons?

I'm happy to work with you to figure out solutions for smaller icon files but I don't think the overall storage savings wi

[2017-06-06 07:04] sglangevin commented on #3413
@derickl not sure of your specific use case with nutrition, but as long as that info is entered into a form about the child, then this will work!

[2017-06-06 07:11] sglangevin commented on #3525
Why are the task names long in the first place? Are there long names or the task title is long?

[2017-06-06 07:27] sglangevin commented on #3530
These sorts of issues have come up several times across different parts of the app. We've been fixing them one-off as they occur, but could we do a full pass through the app and figure out what doesn't update in real time and fix everything all at once? I'd be happy to take on the task of doing a full pass through the app and listing the live update issues that are there so they can be fixed.

Thi

[2017-06-06 08:00] alxndrsn commented on #3525
It's a product of the lengths of the task title and contact name, the font size and the width of the phone screen.  As we can't control any of these factors, wrapping the text seems like a safe way to handle long strings.

[2017-06-06 08:08] alxndrsn commented on #3438
@amandacilek This is a near-zero-technical-effort fix which generally compresses images between 30% and 70%, losslessly.

Examples of icons which were recently bigger than they should be, see https://github.com/medic/medic-projects/pull/2010

I agree, but it will save bandwidth, which is very important to us.

Looking at SVG vs PNG definitely sounds worthwhile.  Checking handset browser support wo

[2017-06-06 08:08] sglangevin commented on #3525
Cool, that's helpful - I was just curious. Not sure if this is helpful in the specific situation that you are talking about, but we do have the option to display a task summary screen before opening the form. It would be easy to list the task name or form name, along with the patient's name, on that screen. Not sure if that would be useful here.

[2017-06-06 08:13] sglangevin commented on #3438
@alxndrsn can we run images through pngout within the upload script? That seems like the easiest way to ensure that it happens. Given that you're working on the CLI for config, it could be part of that work.

@amandacilek we use images in some forms (such as showing examples of positive and negative malaria tests) and we have other requests to include more images in the future.

I did a test to se

[2017-06-06 08:20] sglangevin commented on #3527
This is due to nested contacts, which have been removed as per #2635. This will be fixed in version 2.13 and higher of the web app. For now, the facility can be edited manually in Couch to fix the display, you can create a new person in that facility and set them to be the primary contact, or you can delete the place and re-create it. Closing as this has already been fixed and will be released soo

[2017-06-06 08:20] #3527 closed

[2017-06-06 09:10] derickl commented on #3430
@alxndrsn @sglangevin

Some comments on the issue/fix:

1. The UI implementation when submitting a new forms was fixed
2. On saving, only the last item in the repeat is saved

[2017-06-06 10:02] SCdF commented on #3525
Sorry, mostly a redundant sentence. Just saying that the handling of long lines looks to be intentionally done a certain way.

[2017-06-06 13:16] sglangevin commented on #979
@abbyad is this needed for any particular project? I'm trying to figure out whether this is an urgent priority.

[2017-06-06 13:43] abbyad commented on #979
This feature request is needed to properly support Collect, but I am not aware of this particular feature being needed for a project. That is likely because our team doesn't know about it rather than it not being useful. Perhaps we can get @ngamita to comment on usefulness for current/planned projects with Collect, and schedule accordingly.

[2017-06-06 15:25] amandacilek commented on #3525
FWIW, working on some typography updates to our content rows. One update is for Tasks rows to have at least two lines of text by default - the [Title of the task] in bold, followed by the person the task is about (the patient's name) on a new line. The title of the task can still potentially be too long and have the same issue of truncating or wrapping, but this at least breaks the two components

[2017-06-06 17:25] estellecomment commented on #3392
@alxndrsn Yup, thanks, saw it! It's just that everybody keeps reviewing this when it's not in Code Review yet :)
I will call out an official code review soon, and yall can all knock yourself out.
Thanks for the input anyway!

[2017-06-06 17:58] alxndrsn commented on #3413
Should be supported via https://opendatakit.github.io/xforms-spec/#secondary-instances---external

[2017-06-06 18:49] mandric commented on #2375
Kind of a separate issue but also `ddoc/` should be refactored to use commonjs at some point. i.e https://github.com/eHealthAfrica/couchdb-best-practices#commonjs-modules-aka-node-modules

[2017-06-06 21:29] abbyad commented on #3412
Just to summarize... we should add to patient's info to the incoming report eg `doc.patient`. This is similar to the way we add the submitter's info as `doc.contact`.

@garethbowen, given the work done as part of #2635, should we be putting the whole patient doc or just a reference to it?

[2017-06-06 21:38] garethbowen commented on #3412
Definitely just a reference to it. There are utility functions for turning a doc with hierarchy into a reference with hierachy and back to a doc when needed.

[2017-06-06 21:45] garethbowen commented on #3496
@estellecomment Any update on this? I don't know what the turnaround time for momentjs releases is but I suspect we need to get this PR in to them ASAP.

[2017-06-06 21:48] garethbowen commented on #3408
@alxndrsn What's the status of this? Did it fail AT?

[2017-06-06 21:49] garethbowen commented on #3375
Nobody has picked this up in a while - moving out of the milestone.

[2017-06-06 21:49] garethbowen commented on #3381
Nobody has picked this up in a while - moving out of the milestone.

[2017-06-06 21:49] garethbowen commented on #3387
Nobody has picked this up in a while - moving out of the milestone.

[2017-06-06 21:51] garethbowen commented on #2489
Important but not a priority. There's no way were getting to this this milestone. Removing.

[2017-06-06 21:53] garethbowen commented on #3257
CouchDB2 is not prioritised for this milestone - removing.

[2017-06-06 21:53] garethbowen commented on #2857
CouchDB2 is not prioritised for this milestone - removing.

[2017-06-06 21:53] garethbowen commented on #2960
CouchDB2 is not prioritised for this milestone - removing.

[2017-06-07 02:10] mandric commented on #2375
Also I have started putting couchdb compatible code in here: https://github.com/medic/medic-api-utils

[2017-06-07 08:07] estellecomment commented on #3408
nah, I merged it but @alxndrsn hadn't reviewed it so reverted it.
It got split into two PRs :
 - code : https://github.com/medic/medic-gateway/pull/107 is breaking, I have to figure out why
 - unrelated tests : https://github.com/medic/medic-gateway/pull/106 is supposed to be all tests but apparently it's not, so gotta sort that out.

I have higher priority stuff that keeps happening, but it's sti

[2017-06-07 08:08] estellecomment commented on #3496
Yup, I agree!
@abdoufata gave me all the info I need to write the file, so now I have to write it.

[2017-06-07 11:47] ngamita commented on #979
We needed this feature for IsraAid at some point where they wanted to have an image of the "MUAC band"  on collect and its different colors. MUAC band is used to measure the circumference of a child’s upper arm. If the measurement is green, the child is normal. If the measurement is yellow, the child has moderate malnutrition. And if the measurement is red, the child has acute malnutrition. It wou

[2017-06-07 15:29] estellecomment commented on #3392
Review time! Assigning to @garethbowen, but @SCdF and @alxndrsn if you want to take a look you're welcome to.

Whole PR : https://github.com/medic/medic-webapp/pull/3515
For your reviewing convenience, PR without the refactoring (first commit) so you can see the fix itself: https://github.com/medic/medic-webapp/compare/1424c69434c7c189e703709ff03b562fa841639c...3392-refactor-search-smore

[2017-06-07 15:39] alxndrsn commented on #3392
Just a question about functionality: if I search for `eleve` in webapp, will `élève` be matched?

[2017-06-07 15:50] SCdF commented on #3392
@alxndrsn that would be a really cool feature. We'd have to make the view generation a lot smarter though, and have it (and the client-side search code) down-grade é to e and so on. I'm not sure if there is a small list of these anywhere that we could use in the view, or if it's massive (massive meaning a slower generating view).

[2017-06-07 16:00] alxndrsn commented on #3392
👍 I wasn't sure if this was meant to be covered by this ticket, but sounds like we need a separate one.

For implementation, looks like this would work couch-side: https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript#answer-18391901

And we're already lower-casing, so we can ditch half the map.

Doesn't look like it's set up to handle non-latin characters,

[2017-06-07 16:04] alxndrsn opened #3533 "Searching without diacritics on pouch does not include contacts etc. _with_ diacritics in name"
If I have a contact named `Sánchez`, I'd expect him to show if I searched for `Sanchez`.

Possible starting point: https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript#answer-18391901

Related: https://github.com/medic/medic-webapp/issues/3392

[2017-06-07 22:49] garethbowen opened #3534 "The namespace-form-fields migration conflicts itself"
In the `namespace-form-fields` migration we use the `data_records` view which emits each data_record multiple times. If the same doc is returned twice in one batch the migration modifies both copies and attempts to bulk save them which fails with a conflict. It would be better to use the `doc_by_type` which only emits each doc once.

Fix this migration and check if other migrations are potentially

[2017-06-07 23:11] garethbowen commented on #3534
I've checked the other migrations and the only other one that uses the problematic view also ensures the IDs are unique, so it may not perform ideally but it shouldn't conflict.

[2017-06-08 00:27] garethbowen commented on #3372
Reopening so it can be backported.

[2017-06-08 01:11] garethbowen commented on #3519
I'm closing this as it's most likely a data integrity issue. If I'm right, create a medic-projects issue to solve it. If it's actually a bug, then reopen this with more details.

cc @bishwas-medic @browndav

[2017-06-08 01:11] #3519 closed

[2017-06-08 01:23] garethbowen commented on #3534
Code review please @SCdF

[2017-06-08 01:24] garethbowen commented on #3534
Don't worry about merging it. I'll merge, bump submodule, backport, release, etc once it's reviewed.

[2017-06-08 02:40] mandric commented on #3481
Merged and published 1.1.4 on npm.

[2017-06-08 03:36] #3481 closed

[2017-06-08 06:53] bishwas-medic commented on #3519
@garethbowen @browndav can you please let me know which project this was? I will look into it and file issue in medic-projects if needed

[2017-06-08 07:45] SCdF commented on #3534
@garethbowen LGTM

[2017-06-08 10:14] estellecomment commented on #3533
This is already working with #3392
![image](https://user-images.githubusercontent.com/911434/26923937-974d8228-4c3b-11e7-982d-0ac96eef69c4.png)

[2017-06-08 10:14] estellecomment commented on #3392
Yup!

[2017-06-08 10:41] estellecomment commented on #3533
But it doesn't work on pouch!
![image](https://user-images.githubusercontent.com/911434/26924620-89b77a58-4c3e-11e7-8b29-353512b30ba7.png)

Request :
`{"startkey":["eleve"],"endkey":["eleve￰"]}`
`http://localhost:5988/medic/_design/medic-client/_view/contacts_by_freetext?startkey=%5B%22eleve%22%5D&endkey=%5B%22eleve%EF%BF%B0%22%5D`
Response on couch :
[code]
Response on pouch:
`[{"total_rows":18,"

[2017-06-08 10:42] garethbowen commented on #3533
Dupe of https://github.com/medic/medic-webapp/issues/1474

[2017-06-08 10:45] estellecomment commented on #1474
Actually, it's still there.
See details in duplicate issue : https://github.com/medic/medic-webapp/issues/3533#issuecomment-307067116

[2017-06-08 10:47] sglangevin commented on #3519
@bishwas-medic this was a project in Africa and I've already taken it up with @ngamita to get the facilities table fixed so we don't run into this again.

[2017-06-08 10:48] estellecomment commented on #3509
4th time I see it happening

[2017-06-08 11:17] estellecomment commented on #3416
@katanu @sglangevin @samkanga
I think this also needs to have a time window, no?
E.g. 3 death reports in the same area **in the last month**. (without a time window, this will be triggered eventually for all areas, once enough people are dead)

[2017-06-08 11:22] sglangevin commented on #3416
@estellecomment the time window is 1 week for this project. So if you get a death report today, you have to get 2 more death reports (total of 3) within a week from today from the same community.

[2017-06-08 11:58] alxndrsn commented on #1474
New ticket has more relevant info - closing in favour of #3533

[2017-06-08 11:58] #1474 closed

[2017-06-08 13:48] estellecomment commented on #3392
Closing, thanks for the review(s)!

[2017-06-08 13:48] #3392 closed

[2017-06-08 14:17] estellecomment commented on #3416
If the reports to count are all from the same form, then we can use the existing `alerts` feature, with a really complicated `condition` :
[code]
but if this is a common use case then we want something simpler to configure, and if the reports come from several different forms then we'll have to write custom code anyway.

In that case, we can add an app_settings field called `thresholdAlerts` or wh

[2017-06-08 22:01] #3372 closed

[2017-06-08 22:01] #3534 closed

[2017-06-08 23:30] garethbowen opened #3535 "Longpoll changes not working for admin in dev environment"
It works for non-admin and it works on alpha.dev (Firefox, latest alpha, etc) but locally the longpoll feed keeps timing out after 5 seconds which means when changes are made the UI doesn't change.

To reproduce...
1. log in as admin to a dev environment
2. click on an unread document to mark it as read

Expected: The record should be marked as read within a reasonable time frame.

This is my netw

[2017-06-09 01:00] ranjuts commented on #3525
Hey @amandacilek that's great to know! One quick suggestion if the work is still in progress would be to perhaps switch the position of the task title and the patient's name. CHWs are mostly searching for the patient name rather than the kind of task so perhaps that should be the highlighted portion rather than the task name. It also aligns with the people centered approach we have taken to our wo

[2017-06-09 03:44] garethbowen commented on #3473
Cannot reproduce. Please reopen if you have an example I can look at.

[2017-06-09 03:44] #3473 closed

[2017-06-09 04:04] abbyad commented on #3437
That's a helpful explanation. I do think that supervisors do need to see incorrectly submitted reports to be able to support their CHWs. The solution you propose seems like the right approach.

[2017-06-09 06:55] sglangevin commented on #1345
I'm reassigning this to myself as I'm currently working on this documentation.

[2017-06-09 10:54] estellecomment opened #3536 "`accept_patient_reports` expect `data_record.fields.patient_id`"
`accept_patient_reports` crashes on a `data_record` that doesn't have `fields.patient_id`.
But v0.4 format has it in `data_record.patient_id` instead, which is also where `patient_registration` seems to add it : https://github.com/medic/medic-sentinel/commit/a44dba9705a7ed7928adfafa4101184edc297c08#diff-a0dcbc68959b7037de3e15353c473b00R169
So it's a normal thing to happen.

So edit `accept_patient

[2017-06-09 11:12] estellecomment commented on #3536
@SCdF assigning you as reviewer since you're the last person to have fiddled with it. Please confirm that doing this actually makes sense. :)
PR : https://github.com/medic/medic-sentinel/pull/134

[2017-06-09 16:25] estellecomment commented on #3536
Backtracking from code review, looks like this might be expected behavior. I'll figure it out and either close or put back in review.

[2017-06-09 17:29] abbyad opened #3537 "Can have Contact list with Simprints and regular results"
It is possible to have a contact list with Simprints and regular results, as seen here:
![image](https://user-images.githubusercontent.com/789512/26986766-f6cc7d68-4d16-11e7-98dc-b6b8b1bd6df9.png)

To reproduce:
- Do a Simprints search
- Select a person from the list
- Edit that person and save
- Press the back arrow in the header bar to bring you to LHS with list of people + Simprints results

**

[2017-06-11 13:52] alxndrsn opened #3538 "medic-pyxform --json switch is broken"
... but works upstream.  We're a long way behind, and should probably update.

[2017-06-12 13:39] alxndrsn commented on #3404
We may want to extend the bootstrap datepicker for bikram sambat.  Relevant source for the fork that we use is at https://github.com/uxsolutions/bootstrap-datepicker/blob/master/js/bootstrap-datepicker.js.

[2017-06-13 06:51] sglangevin commented on #3508
I'm going to call this Ready since the fix has been deployed to both LG instances and everything is working well.

[2017-06-13 07:12] sglangevin commented on #3384
@alxndrsn can we change the text labels to the ones in my previous comment?

* Loading app
* Fetching info (show # of docs)
* Starting app

[2017-06-13 07:18] sglangevin commented on #3433
This doesn't support uploading of meta files (it only supports the old context file format). Meta files are now being used in most projects. These look like the below:
[code]

[2017-06-13 07:43] alxndrsn opened #3540 "Allow upload of forms with "meta" docs through Configurations UI"
Update the form configuration UI to allow uploading of meta style form docs rather than the old context style. This allows for more configuration, such as the icon property.

For example:

[code]

Ref #3433

[2017-06-13 07:46] sglangevin commented on #3505
@SCdF I tested this on clone-kilifikids-kaiti.app on 2.12.0-beta.5. I created a doc with id `shortcode-id-length` and set `current_length` to 6. However, when I sent in a pregnancy registration form, I got a 5-digit ID in response. Am I missing something?

[2017-06-13 08:02] alxndrsn opened #3541 "Update startup text labels"
Upload startup text labels as per https://github.com/medic/medic-webapp/issues/3384#issuecomment-308028115:

* Loading app
* Fetching info (show # of docs)
* Starting app

[2017-06-13 08:02] #3384 closed

[2017-06-13 08:43] alxndrsn commented on #3541
@sglangevin some clarifications please:

1. should text end with ellipsis, full stop or just nothing?
2. for _Fetching info_, what would an example look like?  E.g. _Fetching info (123)_?

[2017-06-13 08:45] sglangevin commented on #3541
Yes, let's keep the ellipsis as you had it.

Can we put Fetching info (123 docs)?

[2017-06-13 09:38] henokgetachew opened #3543 "Sentinel marks reports with the sys.facility_not_found error before it searches and looks for the contact"
Version of the webapp that was being tested: 2.12.0-beta.5
Instance: clone-kilifikids-kaiti
This was the test message that was sent and look at an earlier revision:
![image](https://user-images.githubusercontent.com/3198821/27075850-1378b33a-5034-11e7-81b6-c2d95b369faf.png)

After a few minutes, the document gets updated again and the error is removed and the contact was saved into the doc.
![imag

[2017-06-13 09:44] garethbowen commented on #3543
This is actually by design, but I agree it's a terrible design. I'm going to change this to a performance issue because it is actually working as intended.

[2017-06-13 09:47] sglangevin commented on #3443
Tested on v2.12.0-beta.5 on clone-kilifikids-kaiti.app and is working well. Moving to ready.

[2017-06-13 09:56] sglangevin commented on #3073
Working well in 2.12.0-beta.5. Moving to ready.

[2017-06-13 10:03] #3541 closed

[2017-06-13 10:16] alxndrsn commented on #3509
I'm seeing this quite often too.  So far only seems to be with couch2/node8.

[2017-06-13 11:21] SCdF commented on #3505
@sglangevin could you try restarting sentinel and seeing if that helps?

[2017-06-13 11:50] garethbowen commented on #2418
Code review the above two PRs please @SCdF

[2017-06-13 11:57] garethbowen commented on #3541
LGTM

[2017-06-13 12:24] alxndrsn commented on #2912
It might be better to make each extra doc as a separate `<instance>`...

[2017-06-13 12:27] alxndrsn commented on #2912
...and work out how to do this in an XLS form.

[2017-06-13 12:29] alxndrsn commented on #3430
I'm happy for any dev to pick this up.

[2017-06-13 12:38] alxndrsn commented on #3413
@derickl when you have a moment it would be great to go over the current implementation of this and see if it's suitable for you

[2017-06-13 13:21] henokgetachew commented on #3502
Added a conflict monitoring plugin to medic bot.  Review please @SCdF: https://github.com/henokgetachew/medic-bot/commit/306160d924b81d8861945a43e8178d2f4b0e0686

[2017-06-13 16:03] estellecomment commented on #3496
PR LGTMed! Leaving this issue open until moment releases Bambara.
https://github.com/moment/moment/pull/4001

[2017-06-13 16:49] derickl commented on #3413
@alxndrsn does tomorrow work? I've slacked you just in case

[2017-06-13 17:26] alxndrsn opened #3546 "Don't eval() user input"
Here `eval()` is being used on unsanitised user input:

https://github.com/medic/medic-webapp/blob/master/static/js/services/contact-summary.js#L53

I suspect we are committed to executing this code, but we should sandbox it if possible.

Inclusion of unused imports [`$parse`](https://docs.angularjs.org/api/ng/service/$parse) and [`$sanitize`](https://docs.angularjs.org/api/ngSanitize/service/$san

[2017-06-13 18:04] alxndrsn commented on #3546
It's unlikely we can replace use of `eval()` with `$parse` - the `contact-summary.js` example in e2e tests breaks the following [angular expression restrictions](https://docs.angularjs.org/guide/expression):

* uses `if`
* declares a `function`

[2017-06-13 18:55] alxndrsn commented on #3546
Looks like using [`Function()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function) would be a bit safer.

[2017-06-13 18:56] alxndrsn commented on #3546
Pouch uses https://github.com/alexdavid/scope-eval/blob/master/scope_eval.coffee

[2017-06-13 19:16] browndav opened #3549 "In update_markets script: Switching to the market you're currently on produces incorrect URLs"
We're using `sed` somewhat imprecisely in `update_markets.sh`, which leads some operations that should be safe to effectively "brick" the dashboard metadata and require manual editing/intervention through Futon.

To reproduce: run `./update_markets.sh "$COUCH_URL" release_v2` twice. Observe that the URL inside of the updated docs is now `release-v2-v2`, which is invalid.

We should either: (i) cha

[2017-06-13 21:08] garethbowen commented on #3496
@estellecomment There's a comment on that moment issue that we can include it locally, which might be good for the 2.12.0 release.

[2017-06-14 02:00] garethbowen commented on #3546
Interestingly jshint fails on Function() with...

Still... it can't be any worse, right?

[2017-06-14 07:05] sglangevin commented on #3536
The root cause of this was a failure in migrations. Closing and removing from 2.12.0.

[2017-06-14 07:05] #3536 closed

[2017-06-14 07:17] sglangevin commented on #3505
@SCdF I tried restarting sentinel and no luck. Any other ideas?

[2017-06-14 08:46] estellecomment commented on #3416
Update : the reports can be from several forms.

So I'm going for adding a new transition whose config will look something like this :
[code]
Specifying message recipients by parish is trickier, this is not part of our standard hierarchy.
I also don't know who in the parish we're targeting, can we have examples @sglangevin? Is there a parish contact person (and if so where is it specified)? Are we

[2017-06-14 10:53] estellecomment commented on #3496
De-assigning myself to focus on other things, but this is not finished.

[2017-06-14 10:53] garethbowen commented on #3509
Hopefully the above commit works around this issue. Reopen if it happens again.

[2017-06-14 12:16] sglangevin commented on #3416
@estellecomment I think we were still waiting to confirm that the parish is the community in which we need to count reports. @samkanga @katanu can you please confirm this?

@samkanga and @katanu can also give more information on who receives the alert. I believe it will be a group of people which might differ by community. @samkanga @katanu can you please help provide more info so we can get this

[2017-06-14 12:25] SCdF commented on #2418
Back to you @garethbowen

[2017-06-14 15:56] SCdF commented on #3505
Weeeeird. Let me take a look.

[2017-06-14 16:05] SCdF commented on #3505
@sglangevin looks like beta 5 is a bad build:

[code]

So we care about commit `0c72050`, which looks to be in beta 3 and 4, though there is no tag for 5.

[code]

So beta 5 uses beta 1 of sentinel for some reason.

We really need a script to get rid of this manual process, it's kind of error prone :-/

[2017-06-14 16:07] sglangevin commented on #3505
Ah ok. I think we need beta 6 anyway. @estellecomment can you please do a new beta to fix this issue and also to include #3541?

[2017-06-14 16:09] SCdF commented on #3505
I'm going to re-close this issue and put it back to AT, hopefully this time you'll get a crack at it :-)

FWIW the reason I asked you to restart sentinel is because the length of IDs that should be generated is cached. This is an intentional performance thing. We could improve this by watching for the config file to change if it turns out to be a pain, but I figured that this is almost never going

[2017-06-14 16:09] #3505 closed

[2017-06-14 16:24] abbyad commented on #3437
Just relaying a comment by @ranjuts that came up for project that is being deployed, which reinforces the need for managers to see all reports submitted by their CHWs, even if the ID is incorrect:

[2017-06-14 16:48] henokgetachew commented on #3502
Update based on our slack convo: Next step is to upload that ddoc into instances.  I'll do this and post an update here so we don't have to wait until every single instance has been upgraded.  I have also made the code fix correcting the view url.  I don't think I have the rights to fork the medic-bot repo to medic. But I'll do PRs once it's under medic.  It's under my account right now.

[2017-06-14 22:10] garethbowen opened #3553 "Use alternative pagination method for running batched migrations"
In #2418 we introduced a high level `db.batch` function for running a function over all the records returned from a query in batches. This is particularly useful for migrations. For expeditiousness this has been done with the `skip` property which does work but is potentially slow on large result sets.

Refactor this to use the [startkey pattern](http://docs.couchdb.org/en/2.0.0/couchapp/views/pag

[2017-06-14 23:29] garethbowen opened #3554 "Improve associate-records-with-people migration"
Recently it took 40 minutes to complete on a relatively small instance (100k sequence).

Investigate using the doc_by_type view and using bulk updates to improve performance.

Add logging so progress is reported.

Ideally this would be included in the 2.12.0 release so the next round of upgrades can benefit from it.

[2017-06-15 00:36] ngaruko commented on #3389
LGTM

[2017-06-15 01:50] ngaruko commented on #3350
Hi @abbyad Are you able to confirm if this was fixed in that particular environment it was occuring

[2017-06-15 02:06] ngaruko commented on #3067
LGTM. @estellecomment  I am just thinking (maybe more for consistence than anything else), are we able to mark those 'required' marked with an asterisk (*)?

[2017-06-15 06:47] sglangevin commented on #3437
@garethbowen @abbyad we have a lot in 2.13 already, so I'd like to focus on getting that release out. We can either include this in 2.13 once other features are done (if time) or schedule this for either 2.13.1 or 2.14.

[2017-06-15 07:45] estellecomment commented on #3067
Yeah @ngaruko, I thought about that. They're only required for restricted users, not the other kinds of users. I'm not sure what the standard is in this case. Would you only display the asterisk when the selected type is restricted user?

[2017-06-15 08:43] garethbowen commented on #2418
Care for another review @SCdF ? I've made (I think) all the changes requested. The biggest one was using a view with a reduce for the read docs which meant having to add a ddoc to the users meta db so that's definitely worth a look...

[2017-06-15 14:00] samkanga commented on #3416
@estellecomment we have done some side enquiries as we wait for confirmation from LG on the level for reports count. The village is the lowest administrative unit followed by a parish. On average, a parish has between 100 to 150 families. In terms of who receives the alert, we presently have identified the surveillance person at the health facility (serves a parish), while at higher levels we have

[2017-06-15 14:35] henokgetachew opened #3555 "Sentinel runs into document update conflicts when trying to process messages sent by the network operator"
Here are the logs:
[code]

The document UUID pointed out above contains the following:
![image](https://user-images.githubusercontent.com/3198821/27186254-73d7da4a-51f0-11e7-8608-bc9781e22e84.png)
There is a lot of these conflicts throughout the log in christianaidisiolo instance and each of them has to do with the operator sent messages.

[2017-06-15 14:47] henokgetachew opened #3556 "Sentinel - update_clinics transition bug"
[code]

[2017-06-15 15:24] sglangevin commented on #3416
@samkanga we don't currently track the village that each CHP covers. If we are going to count these forms by village, then we would need to add a field (village) for every CHP area. Otherwise we should start with counting by parish, since that information is already there. Does each CHP cover a particular village?

[2017-06-15 15:29] henokgetachew commented on #3556
@SCdF PR: https://github.com/medic/medic-sentinel/pull/135

[2017-06-15 15:47] SCdF commented on #2418
Back to you @garethbowen. Just some minor stuff, but I think it's basically ready for AT!

[2017-06-15 16:58] estellecomment opened #3557 "transitions runner's `isRevSame` is assuming rev is an integer"
revs are not necessarily integers.
The transition runner is comparing revs to figure out avoid rerunning transitions for nothing, but since `parseInt('not an integer')` is `NaN`, `isRevSame` is broken.

https://github.com/medic/medic-sentinel/blob/master/transitions/index.js#L160

[2017-06-15 18:35] estellecomment commented on #3416
@samkanga @sglangevin
The info I need to implement is : for each of these people that need to me messaged, where is the person stored in our docs? Given a report, how do you get to the message recipient?
e.g. `report.contact.parent.parishContact` for instance.

If they can't be specified that way, then we might have a problem.

[2017-06-15 22:06] garethbowen commented on #2418
Merged.

[2017-06-15 22:07] #2418 closed

[2017-06-15 23:46] samkanga commented on #3416
@sglangevin we don't need to add the village field since CHP areas may span more than one village. It is in order to conduct the count by parish. @estellecomment am not very clear on the organization of our docs. However, a recipient need not exist as a user on the system to receive an alert. The plan is to have a capability to capture at least the cell numbers of the recipients so that a message

[2017-06-16 01:33] ngaruko commented on #3192
@bishwas-medic  are you able to test if this works for you now, on your instances?

[2017-06-16 02:34] garethbowen commented on #3554
Code review please @estellecomment

If this passes we need to bump api and backport to 2.12.0.

[2017-06-16 02:40] garethbowen commented on #3433
I think @alxndrsn meant to close this in favour of #3540 so I'll close it on his behalf now...

[2017-06-16 02:40] #3433 closed

[2017-06-16 03:16] garethbowen commented on #3540
Code review please @SCdF

This will need to be backported to 2.12.x

@sglangevin NB: I've dropped backwards compatibility so the `context` format is no longer supported - only `meta` will work in the UI.

[2017-06-16 06:49] sglangevin commented on #3540
Sounds good @garethbowen - can you make a note in the changelog so that everyone is aware?

[2017-06-16 07:30] sglangevin commented on #3416
@estellecomment I talked with @samkanga and here is what we agreed on:

There are about 10 people who need to receive SMS alerts for a particular branch. Each branch contains multiple parishes but only 1 link facility (first level of MOH hierarchy who receive alerts). In addition to the link facility people, there are district-level and national-level contacts who receive the alerts, as well as LG

[2017-06-16 08:44] SCdF commented on #3557
So this actually works, because `_rev` always *starts* with an integer:

[code]

It is horrific, but that is Javascript for you I guess.

[2017-06-16 08:44] #3557 closed

[2017-06-16 10:27] SCdF commented on #3540
Back to you @garethbowen

[2017-06-16 13:38] sglangevin commented on #3505
Retested on 2.12.0-beta.6 and it's working well. Moving to ready.

[2017-06-16 13:42] sglangevin commented on #3541
Tested in 2.12.0-beta.6 and it looks good. Moving to ready.

[2017-06-16 13:42] sglangevin commented on #3384
Moving to ready (changes made in #3541).

[2017-06-16 13:43] sglangevin commented on #3534
I'm going to consider this acceptance tested during the upgrade of Kilifi Kids Kaiti this week. Please shout if that is a bad assumption.

[2017-06-16 13:44] sglangevin commented on #3372
I'm going to consider this acceptance tested during the upgrade of Kilifi Kids Kaiti this week. Please shout if that is a bad assumption.

[2017-06-16 13:50] estellecomment commented on #3416
Yup, that's fine : `report.contact.parent.parish` is the parish name (right?), so you can compare the parish name for two reports.

We *don't* actually need to have a `person` doc in the system for the message recipients. We can
 - hard-code the number in the app_settings (we'll have to edit app_settings if they change numbers, hopefully that's ok). That's appropriate for numbers that should get t

[2017-06-16 14:04] sglangevin commented on #3416
Cool, yeah, that sounds like it will cover all bases. I think it would be fine to put all of the contacts (branch, district and national) in the branch doc `alertRecipients` field. Or if you want to make it possible to put national contacts directly in `app_settings`, that would also be fine, and we could put just the branch and district contacts in the branch doc `alertRecipients` field.

[2017-06-16 14:08] estellecomment commented on #3554
Added it to 2.12.0 project.
Two comments in commit : https://github.com/medic/medic-api/commit/d8f7581806c77ab5d392b1b4da5eebd869e25248

[2017-06-18 10:42] alxndrsn commented on #3096
Ref https://github.com/opendatakit/xforms-spec/issues/112

[2017-06-18 21:25] garethbowen opened #3559 "Split the form configuration page into JSON and XML tabs"
The current admin page is quite cluttered with both lists and both upload forms on one single page.

Scheduling because it's the result of a code review. In order to get #3433 in to 2.12.0 quickly I'm splitting the UI improvements off for 2.13.0.

[2017-06-18 21:55] garethbowen commented on #3540
@sglangevin I don't think it needs an explicit note in the changelog because the ability to upload the old context files was never released so nobody outside us alphas will notice the change. I've added it as a 2.12.0 feature in the changelog though.

[2017-06-18 22:28] #3540 closed

[2017-06-18 22:53] #3554 closed

[2017-06-19 00:29] garethbowen commented on #3430
It looks like no repeats work for reports, only contacts.

[2017-06-19 08:11] bishwas-medic commented on #3192
Yes @ngaruko , we've already tested this feature successfully in our instances.

[2017-06-19 17:18] sglangevin commented on #3540
Yeah, that's true. I was just wanting to make sure that everyone knows that we'll only be supporting meta files in the UI, but I can also make sure that is communicated elsewhere.

[2017-06-19 17:34] sglangevin commented on #3067
I think that would be ideal @estellecomment - show the asterisk if "restricted user" is selected.

[2017-06-19 17:36] mandric commented on #3492
Unassigning this because I don't know when I will get to it.  Also @alxndrsn  started a new project for CLI tools and this issue should be moved to that project IMO.

[2017-06-19 17:38] mandric commented on #698
Assining to @abbyad for further comment because this is pretty old.

[2017-06-19 17:41] mandric commented on #1876
I would say this is probably not worth working on until kanso removal/ddoc refactor (#3019) is done.

[2017-06-19 17:44] sglangevin commented on #1345
I've pushed a first draft of this to medic-docs. It doesn't cover everything that @garethbowen mentioned in the issue, but it's got a good amount of information on configuring tasks. Anyone want to volunteer to write an overview of Nools, TaskGenerator, and Utils functions? I can probably help out with the Utils stuff but don't know as much about Nools and TaskGenerator.

[2017-06-19 17:44] mandric commented on #2176
Is this still an issue?

[2017-06-19 17:45] mandric commented on #2317
Is this still an issue?

[2017-06-19 17:46] mandric commented on #2558
Pretty sure @garethbowen has this in his sights with travis build stages.

[2017-06-19 17:47] mandric commented on #2608
Is this still an issue?

[2017-06-19 17:48] mandric commented on #2715
I think @henokgetachew is in charge of this now and has probably evaluated several monitoring tools.

[2017-06-19 17:49] mandric commented on #2954
Any updates here @garethbowen?

[2017-06-19 17:51] mandric commented on #3091
Any updates here @ngaruko?

[2017-06-19 17:52] mandric commented on #3102
I'm pretty sure this is still an issue in sentinel, just deprioritized.

[2017-06-19 17:54] mandric commented on #3128
Wonder if you can set it to `null` or something that will evaluate to false as a temporary workaround?  @abbyad can you give an update here?

[2017-06-19 18:21] sglangevin commented on #1345
@garethbowen I was hoping you could help with:

- Nools
- TaskGenerator
- Utils class

[2017-06-19 21:06] sglangevin commented on #3540
This is working well in latest alpha, moving to Ready.

[2017-06-19 21:07] sglangevin commented on #3433
Moving to ready now that #3540 has been done and passed AT.

[2017-06-19 22:00] diannakane commented on #3525
I like how you're thinking, @ranjuts. I can see how a CHW may be scanning their tasks for the names of the people they need to visit.

The question is whether we can format the list items to bring attention to the right things while creating consistency throughout the app.

We've been trying to create more consistently between how list items are displayed -- tasks on the Tasks tab, tasks on the ho

[2017-06-19 23:37] sglangevin commented on #3424
Any tips on how to AT this @SCdF?

[2017-06-19 23:40] sglangevin commented on #3173
@browndav @henokgetachew I'm moving this to Ready. Please shout if you disagree.

[2017-06-19 23:46] sglangevin commented on #3350
Seems to be working for me. @abbyad please test on the instance where this was occurring and let us know if it's working for you. In the meantime, moving to Ready.

[2017-06-19 23:47] sglangevin commented on #3554
Moving this to Ready for now - we can come back to it if there are any issues during the next round of upgrades.

[2017-06-19 23:49] sglangevin commented on #3390
Tested using the Medic Collect demo and confirmed using the curl statement above as well. Working well, moving to Ready.

[2017-06-20 00:33] sglangevin commented on #3390
Moving back to AT as it turns out the demo or Collect I was using wasn't set to the right server URL. The curl statement works fine but I'm getting an error in Medic Collect.
![screenshot_2017-06-20-02-32-40](https://user-images.githubusercontent.com/1286381/27311395-6c4f6716-5515-11e7-8db1-692382413d47.png)

[2017-06-20 00:39] garethbowen commented on #3390
@sglangevin That error looks like one of the forms on the server is invalid. Can you check the API logs to ensure there's no error on the server side? Also can you check the collect logs (if there are any) to see if there's more information available? Finally, can you check that your form is valid, and perhaps try a trivially simple one?

[2017-06-20 01:14] garethbowen commented on #1345
I've added documentation about nools and nootils (in particular).

@alxndrsn Could you please add some documentation to https://github.com/medic/medic-docs/blob/master/configuration/tasks.md about how to write test task and target configuration?

[2017-06-20 01:23] garethbowen commented on #2954
No. But obviously nobody cares. Closing.

[2017-06-20 01:23] #2954 closed

[2017-06-20 01:25] garethbowen commented on #2558
I'm not sure how build stages will work. I don't think this is high priority for us. @alxndrsn If this is still an issue either raise an issue against travis or explore build stages as a potential workaround.

[2017-06-20 01:25] #2558 closed

[2017-06-20 01:35] garethbowen commented on #3469
@sglangevin Believe it or not, it isn't possible to fix this. The problem is the arrow is floated to the right, and we don't know how high the row is going to be (it may have no image or a small image or a large image, the text could wrap, etc).

I suggest we get rid of the chevron altogether. We don't use it anywhere else, not even in the "submit report" menu on the Reports tab. If we removed it

[2017-06-20 01:41] garethbowen commented on #3465
@alxndrsn It's fast for me. I've tried to reproduce this as admin and as restricted user, and in Chrome and Firefox. Selecting an item is always really fast (~200ms), and even select all with 360 items completes in a reasonable time (~3s). Can you try and reproduce?

[2017-06-20 04:33] garethbowen commented on #3471
Oooookay. After a deep dive into the unknown, it turns out the `constraintMsg` is only used if you also specify a constraint. So, my workaround is to add `constraint="true"` to the phone `bind` element, eg:

`<bind constraint="true" jr:constraintMsg="Use one of the following formats: +256-XXX-XXX-XXX or 07XX-XXX-XXX. Dashes are not required." nodeset="/data/ephemeral_phone/phone1" type="tel"/>`

!

[2017-06-20 05:38] ranjuts commented on #3525
`-- we've been talking about removing name from a task on the person profile
-- we've been discussing a switch from displaying who submitted the report on the history page to who the report is about, or finding a way to accommodate both`

Both of these make a lot of sense! I have experienced people being confused with how the history page currently displays the name of the person who sends in the

[2017-06-20 05:39] alxndrsn commented on #2558
This is almost certainly still an issue, but not high priority.

[2017-06-20 05:40] alxndrsn commented on #3465
@ranjuts we saw this on a live instance in Bali.  Do you recall which it was?

[2017-06-20 05:47] ranjuts commented on #3465
This was in [tts-indonesia.app.medicmobile.org](https://tts-indonesia.app.medicmobile.org/). Could it also be the internet connection/device?

[2017-06-20 08:30] garethbowen commented on #3465
Was it as admin or a restricted user? If admin, it could definitely be the internet connection. Every time you select a record it makes a request to the server. If you have a lot of lag it'll definitely be slow.

[2017-06-20 09:07] ranjuts commented on #3465
It was the same time I filed this issue: https://github.com/medic/medic-webapp/issues/3453

It looks like a full access user, admin but not the tech lead kind of admin in case that info is relevant here.

[2017-06-20 09:22] garethbowen commented on #3430
What we get in XML:

[code]

This is what we convert this to in JSON:

[code]

There's nothing in the XML that indicates it's a repeating field unless there happen to be more than one item so we need to pass more down to the service that creates the JSON than the XML alone.

[2017-06-20 09:23] estellecomment opened #3561 "Display required fields when creating a "restricted to a place" user"
When creating a "restricted to a place" user, the place and contact fields are required. Display an asterisk next to them (but only when "restricted to a place" is selected).

[2017-06-20 09:23] estellecomment commented on #3067
Filed https://github.com/medic/medic-webapp/issues/3561.

[2017-06-20 09:27] estellecomment commented on #2176
It's a bug, so if it's still happening, yes. We need to reproduce it.

[2017-06-20 09:29] estellecomment commented on #2608
We now have little update messages (number of docs etc) displaying while loading, so this is fixed..

[2017-06-20 09:29] #2608 closed

[2017-06-20 10:04] SCdF commented on #2317
We haven't looked into it yet, so nothing has changed.

Having said that, this ticket is badly formed (no definition of done or action to be performed) so I'm to just close it.

[2017-06-20 10:04] #2317 closed

[2017-06-20 10:04] SCdF commented on #2317
(Also @mandric my understanding is that the backlog tag is dead)

[2017-06-20 10:06] SCdF commented on #3102
@mandric why did you backlog this?

[2017-06-20 10:11] SCdF commented on #3424
@sglangevin basically when you write any document to CouchDB the info document for that doc is created (`id-info`, where `id` is the doc id). This shouldn't also result in the original document getting an entry in the `transitions` property for the `maintain-info-doc` transition.

[2017-06-20 11:30] garethbowen commented on #1895
I've reviewed the help pages we had in the translations files. Two were configuration pages which isn't necessary to bundle in app and is documented in medic-docs already. The other two were to do with search and export both of which are being greatly simplified so the pages were either out of date or soon to be.

Given this I've removed the help pages feature and deleted the translation terms fro

[2017-06-20 11:30] garethbowen commented on #1895
Code review please @alxndrsn

[2017-06-20 12:20] alxndrsn commented on #1895
Code looks fine.  Where is the actual help content removed?

[2017-06-20 12:22] alxndrsn commented on #3465
Interesting.  What are the requests doing?  Would it be possible to check the box before the response is received from the server?  This might make the UI more responsive.

[2017-06-20 13:28] billwambua opened #3563 "V2 scheduling EDDs on a Sunday for all ANC registrations"
Before V2, all EDDs fell on a Sunday but it was not apparent because the shown EDD did not include the day of the week was not indicated e.g 2017-11-13

But now the EDD includes the day of the week e.g Sun, Aug 6th, 2017. See below screenshots.

![ancp1](https://user-images.githubusercontent.com/17000106/27338181-30ce0472-55dd-11e7-8499-26beb3270d26.png)
![ancp2](https://user-images.githubusercont

[2017-06-20 14:07] henokgetachew commented on #3563
@billwambua I have removed the screenshots.

[2017-06-20 14:23] henokgetachew commented on #3563
I was just a part of a call discussing this with the partner.  The issue with making it on Sunday, even though it's an approximation and we're referring to the week, is that since doctors don't get in on Sundays and they are instead on call.  Instead, they propose choosing Wednesday of that week.

[2017-06-20 16:21] sglangevin commented on #3563
@henokgetachew @billwambua I would have liked to finish this discussion in medic-projects before moving this issue over. Thanks @henokgetachew for removing the screenshots.

To me, this sounds like a partner-specific issue but I also imagine that most other clinics are not staffed on Sundays. The problem is that we are collecting "weeks since LMP" so we don't know exactly which day the last period

[2017-06-20 16:25] sglangevin commented on #3465
@garethbowen I would test this on a server with a lot of data. I've also seen bulk select be very slow, even on fast internet connections. You can try on lg.app, for example.

[2017-06-20 16:33] sglangevin commented on #3471
@garethbowen I'm going to see if there is a way for me to add that to XLSform. If so, then we are good. If not, then we'll need to make sure it's supported in XLSform or that we are adjusting our conversion script to add `constraint="true"` since tech leads are using XLSform to build forms. Having to add `constraint="true"` to the XML every time would be a pain for them.

[2017-06-20 17:44] sglangevin commented on #3390
@garethbowen: @abbyad and I looked into this a bit together. There is no API error and it's not a problem with the form. It seems to be an issue with the request coming to API from Collect. @abbyad is looking into this further - assigning over to him.

[2017-06-20 17:59] sglangevin commented on #3471
Cool - so all we have to do is put "true" in the constraint column and we're good to go. I think this workaround is fine for now as it only applies to the phone number field for which we don't include a constraint in the form. We can close this one.

[2017-06-20 19:08] sglangevin commented on #3424
Got it. Tested and this is working well. Moving to ready.

[2017-06-20 19:15] sglangevin commented on #3469
The chevron was there in the original design for this menu, so I'm not sure I want to eliminate it without thinking about other possible alternatives.

@amandacilek @diannakane given that we aren't able to center the chevron in the row due to the row being variable height, do you have any suggestions on the way forward? Our options are:

- Remove the chevron entirely
- Come up with something else

[2017-06-20 19:30] amandacilek commented on #3469
As I understand the history here, the arrow was added to make the row look more like an actionable, clickable thing. I think the greater question is how do we make these clearly look like actions.

Our Material Design navigation updates re-think how actions are represented (FAB button that opens up a bottom panel with a grid of actions). But that solution is down the road...

If I had to do a quic

[2017-06-20 20:52] abbyad commented on #3390
The call from Collect seems to be alright, but the XML form list is missing the `name` field. The `name` field is required for Collect to process the forms list.

The "name" is stored in the form's doc as `title`, which is either a string or a localized object as shown below. We should return the localized version when the `Accept-Language` header is used.

[code]

[2017-06-20 21:00] garethbowen opened #3565 "Sentinel can make multiple db writes to complete the transitions"
Some transitions are order dependant, for example, `update_clinics` sets the contact on the report, then `registration` uses that contact to register the patient. If the contact isn't set then [`registration` is skipped](https://github.com/medic/medic-sentinel/blob/master/transitions/registration.js#L72).

This means if `registration` happens to run first it's skipped, then `update_clinics` and th

[2017-06-20 21:03] garethbowen commented on #3565
Two ideas we've come up with so far are...

1. Define the order transitions will be executed in to ensure that `update_clinics` is always executed before `registration` (there are bound to be other examples too).
2. Keep running the record through the transitions until nothing more changes. This is very similar to what we currently do except without the database write. This will always do one unne

[2017-06-20 21:39] garethbowen commented on #3563
This is configurable per project either through the UI at `/configuration/settings/advanced` or via app_settings properties `date_format` (for dates) and `reported_date_format` (badly named, but for datetimes).

[2017-06-20 21:40] garethbowen commented on #1895
The content was still in the translations. I've removed it from POE for all languages so it'll be updated in the translation files next time we export.

[2017-06-20 21:41] garethbowen commented on #1895
To AT make sure the About page works as expected with no "help" section and no errors.

[2017-06-20 21:41] #1895 closed

[2017-06-20 21:42] #3471 closed

[2017-06-20 22:15] garethbowen commented on #3469
I've checked with @sglangevin and she's comfortable that restricting icons to 30x30px throughout the app is acceptable in all our existing projects as nobody is using icons larger than this. If we need larger icons at a later date (eg: Targets widgets) then we can either upload two different sized icons or upload large svgs that will scale down nicely wherever we want the small size.

[2017-06-20 23:49] amandacilek commented on #3469
Suggestion:
![screen shot 2017-06-20 at 4 49 07 pm](https://user-images.githubusercontent.com/26235957/27360840-6bcb2f78-55d8-11e7-9c21-20d6cf2b9567.png)

[2017-06-20 23:51] amandacilek commented on #3469
This is consistent with my recent suggestions for other content rows (icon is 10px from left edge, and row text starts 50px in).

[2017-06-21 00:56] garethbowen commented on #3469
Quoting some guy...

Actually it turns out it is possible. _cough_. So I've fixed the vertical alignment without restricting the size of the icon. I've also made the Reports > Submit Report menu look the same as the People > Action menu because they both list available forms. Now it looks like this:

![flexy](https://user-images.githubusercontent.com/2064938/27362217-f6f7aed4-5680-11e7-8b62-afdbf9

[2017-06-21 06:17] alxndrsn commented on #3430
Agreed.  The model from the original form would be one option.  In this case:
[code]

[2017-06-21 07:08] SCdF commented on #3565
So 2. is hard to do "right" (ie deep compare etc). However, sentinel actually makes it easy, because you're supposed to pass `true` to the callback if something has changed, so we can just presume that's valid.

[2017-06-21 07:09] SCdF commented on #3565
We'd also need to write the sentinel transition metadata at the end of a "round" before we run the next one, as transitions use that to determine if the other one has run.

[2017-06-21 08:15] SCdF commented on #3502
@henokgetachew has this been done yet?

[2017-06-21 08:39] henokgetachew commented on #3563
@garethbowen is the configuration for how we are displaying the date or can we actually choose which day of the week the EDD falls on?

[2017-06-21 08:40] garethbowen commented on #3430
@alxndrsn I don't think that gives us enough either. Slightly confusingly the `<repeat>` node in your example is just the name of the instance so it could be anything.

The bit I think we need is in the body of the form definition:

[code]

While iterating through the XML we check the current elements path to see if we can find a `<repeat nodeset="<path>">`. If that exists it's a repeated element.

[2017-06-21 08:45] alxndrsn commented on #3430
I think you know from the `jr:template=""` attribute.

[2017-06-21 08:46] garethbowen commented on #3563
@henokgetachew I was just talking about the part about removing Sunday from the output, but it looks like that's known already. Choosing which day of the week the EDD falls on is not configurable.

[2017-06-21 08:48] estellecomment commented on #3469
One comment, otherwise cool

[2017-06-21 10:00] henokgetachew commented on #3563
Yeah, that was my understanding as well.  That was our second proposal to them: just changing the format to not show the day of the week.

[2017-06-21 10:09] garethbowen commented on #3559
Code review please @alxndrsn

[2017-06-21 10:45] #3469 closed

[2017-06-21 15:23] alxndrsn commented on #3430
@garethbowen reportedly pyxform always adds `jr:template` to repeat groups, so we could actually rely on that.  But I'm not sure if the behahviour is documented or not...

[2017-06-21 16:47] abbyad opened #3568 "App cache error not reported to user"
If there is an error with app cache the spinner runs endlessly on the page. We should report the loading error to the user, ideally with instructions on how to resolve it or at least to contact their admin.

From console:

Application Cache Progress event (32 of 33) https://demo.dev.medicmobile.org/medic/_design/medic/_rewrite/static/img/setup-wizard-demo.png
Application Cache Error event: Failed

[2017-06-21 22:55] garethbowen commented on #3390
@abbyad The form list XML is generated by our fork of a [third party library](https://github.com/medic/openrosa-formlist) and I don't like the idea of hacking the output just to add the `name` element. Alternative options:

1) ensure all forms have a `title` - this could be enforced at some validation stage or just managed manually.
2) modify medic-collect to default to the `formId` when no `name`

[2017-06-21 23:10] garethbowen commented on #3390
NB: for anyone else trying to test this, this is the URL to curl:

[code]

[2017-06-21 23:34] garethbowen opened #3569 "Requesting forms should respond with 4xx on client error"
If you request a form that doesn't exist you get a 500 response and an ugly stack trace in the api log. For example:

[code]

And the API log says...

[code]

This is misleading and annoying. Respond with a 404 if it's missing and a 400 if it's a bad request.

[2017-06-21 23:37] garethbowen commented on #3569
Code review please @mandric

[2017-06-22 00:39] garethbowen opened #3570 "Remove enketo form generation feature"
We have a [large and complicated function](https://github.com/medic/medic-webapp/blob/master/static/js/services/enketo-translation.js#L132) to generate an xform for editing contacts which is no longer used as far as I know. Instead all projects use custom made forms.

Remove the code for generating xforms.

[2017-06-22 00:39] garethbowen commented on #3570
@abbyad @sglangevin Can you please confirm that this feature isn't being relied on by any current projects?

[2017-06-22 00:40] sglangevin commented on #3570
Not that I know of, but instead of removing it can we bundle the Standard forms with the web app? That would be convenient for projects.

[2017-06-22 00:50] garethbowen commented on #3570
Yes that's my preferred approach so projects have something useful out of the box and can tweak or replace as needed.

[2017-06-22 01:13] sglangevin commented on #3570
Cool. Do we need to open a new issue for that? Or can we re-purpose this one?

[2017-06-22 01:15] garethbowen commented on #3570
This one is enough IMO.

[2017-06-22 02:09] abbyad commented on #3390
Thanks for looking into it. The `name` field is pulled from the `title` in the XForm, and although the project form we tested has the title field, we are actually stripping it automatically with the [upload_xform script](https://github.com/medic/medic-webapp/blob/cc433b0cc1a487dc4d4f00b1445cdbbce8b44645/scripts/upload_xform.sh#L166).

@alxndrsn is it safe to leave the title in the XML?

[2017-06-22 04:13] #3569 closed

[2017-06-22 04:59] garethbowen commented on #3430
Code review please @alxndrsn

[2017-06-22 09:53] garethbowen commented on #3390
@abbyad I caught up with @alxndrsn just now. There are a range of ways to do this but the easiest and cleanest is to remove the title stripping code from the upload_xform script. This was introduced to fix #1433 which I think would be better fixed by hiding the title using CSS. Possibly we should only hide it for mobile where the title is shown in the header bar anyway.

Does this make sense?

[2017-06-22 10:01] garethbowen opened #3572 "Fix couchdb1 travis build"
It's hanging and timing out probably because there is no couchdb1 image for ubuntu trusty which we're now using: https://github.com/travis-ci/travis-ci/issues/7912

The workaround is to apt install couchdb manually.

[2017-06-22 10:02] #3572 closed

[2017-06-22 10:18] garethbowen commented on #3555
@henokgetachew I'm not sure about the conflict, but check that "Safaricom" is on the `outgoing_deny_list`. The message in that screenshot is set to `pending` but it should be `denied` I think, otherwise the system will try to respond and potentially get an infinite loop of "out of credit" messages...

[2017-06-22 10:44] garethbowen commented on #3549
Closing this as a duplicate of #3492

[2017-06-22 10:44] #3549 closed

[2017-06-22 10:52] garethbowen commented on #3452
Code review please @SCdF

[2017-06-22 11:44] SCdF commented on #3452
Nice. Merged.

[2017-06-22 11:44] #3452 closed

[2017-06-22 13:34] abbyad commented on #3390
Yes, that makes sense, and seems like a much cleaner approach too.

[2017-06-22 13:52] abbyad commented on #3390
It seems as though the XForm title cannot be localized, so perhaps better to either:
A) not show it, even in desktop view
B) bring in the localized title from the form's `doc.title`

Given that we haven't had a specific request to show the title in the desktop view and option B requires writing new code, I'd lean towards option A.

[2017-06-22 21:31] henokgetachew commented on #3555
This instance had two instances of sentinel running at the time this log was captured and therefore this was expected.  After resolving that, this issue has gone away.

[2017-06-22 21:31] #3555 closed

[2017-06-22 21:37] garethbowen commented on #3390
After some discussion we decided on option B because the code already exists so it was a simple change.

[2017-06-22 21:38] garethbowen commented on #3390
Code review please @mandric

This needs to be backported to 2.12.x

[2017-06-22 21:55] garethbowen commented on #3390
Merged in order to get the 2.12.0 release out.

[2017-06-22 21:55] #3390 closed

[2017-06-22 22:39] garethbowen commented on #3390
To test this you'll need to upload the forms again with the latest version of the upload_xform script.

[2017-06-23 07:11] henokgetachew opened #3578 "Add an orphan check script for use before instance upgrades"
If contacts/places in the 0.4 database have parents that have been deleted, the `extract-person-contacts` migration fails to run.  We need to find out before declaring downtime windows for instance upgrades/migrations whether there are contacts/places that are orphans.  The output from this list can then be used by the people responsible for maintaining the project to know which contacts/places sh

[2017-06-23 11:02] alxndrsn opened #3579 "Security issue 2372"
https://github.com/medic/medic-projects/issues/2372

[2017-06-23 14:18] henokgetachew commented on #3578
@browndav: PR.  I have used the postgres replica.

[2017-06-23 14:46] abbyad commented on #3128
Setting them to null would help reduce bloat, but we should still support removing keys.

[2017-06-23 14:50] abbyad commented on #698
Could not reproduce. I imagine this was resolved through other work in the last two and a half years.

[2017-06-23 14:50] #698 closed

[2017-06-23 21:25] #3578 closed

[2017-06-25 20:13] garethbowen commented on #3579
Related: #1472

[2017-06-25 22:51] ngaruko commented on #3156
Do we need to AT this @abbyad ?

[2017-06-26 02:54] garethbowen commented on #3553
Code review please @SCdF

[2017-06-26 02:55] garethbowen commented on #3416
@estellecomment I haven't made any further progress on this, just cleaned up what you had and got the tests passing. Back to you.

[2017-06-26 04:09] garethbowen commented on #1472
Agreed. We should also update the users controller in api so users uploaded via a script can be checked.

The only other way users can be added is directly into couchdb. This is hard to protect against. We could check on login but that could be frustrating for the user and potentially regress existing users. I suggest we ignore this for now - it's probably not used much, and we're working on makin

[2017-06-26 08:59] alxndrsn commented on #1472
I propose we use the code from this answer, combined with a minimum length requirement: https://stackoverflow.com/questions/948172/password-strength-meter#answer-11268104

[2017-06-26 10:10] SCdF commented on #3553
Back to you @garethbowen

[2017-06-26 10:16] garethbowen commented on #3553
For AT, ensure the "extract-read-status" migration works as expected.

[2017-06-26 11:43] SCdF opened #3581 "Automatically tag medic-api and medic-sentinel when publishing medic-webapp"
Currently, we often forget to tag medic-api and medic-sentinel, because they are in a different repo. This is problematic because it becomes a pain to work out what code is in which revision (NB: you still know which version of api or sentinel were deployed with webapp due to submodules, but you cannot, for example, see which tag some code was introduced in easily).

We should change our `after_su

[2017-06-26 12:23] SCdF commented on #3506
I closed the above PR and replaced it with this one: https://github.com/pouchdb/pouchdb/pull/6565

It's currently not working in browsers, I need to work out why browserify is not doing what I'd expect it tp.

[2017-06-26 12:56] SCdF opened #3582 "Completing Horticulturalist"
Things we need to do to achieve greatness:

# So it can be used locally

 - [x] #3747 Write a local mode, that doesn't do medic-os stuff (like chmoding users etc) ( @alxndrsn is working on this )

# So it can be used in MedicOS

I've started changes in the `paving_over_the_garden` repo.

- [ ] Fix MedicOS so it builds ( @browndav and @henokgetachew are working on this)
- [ ] include the three new

[2017-06-26 12:56] SCdF commented on #3582
(Just wanted to give this a github ticket id. Feel free to remix / move out / whatever as needed)

[2017-06-26 15:18] henokgetachew commented on #3502
This is done. `medic-coflicts` is now uploaded to instances and view endpoints have been accessed through curl so that they warm up.

[2017-06-26 15:20] henokgetachew commented on #3502
Moving to AT.  @SCdF I assume you would want to see the weekly notifications at the end of the week before marking this completed?

[2017-06-26 17:23] browndav commented on #1829
I'd need additional detail to understand what's being asked here. @estellecomment, can you update?

[2017-06-26 18:21] alxndrsn commented on #3559
@garethbowen this was approved and merged; can it be closed?

[2017-06-26 20:58] garethbowen commented on #3559
Not quite. I need to update the documentation, and then I'll close this.

[2017-06-26 23:14] ngaruko commented on #3192
Thanks @bishwas-medic

[2017-06-26 23:22] garethbowen commented on #3559
Wrong issue... Yes this can be closed now. Sorry for the confusion.

[2017-06-26 23:22] #3559 closed

[2017-06-26 23:23] garethbowen commented on #3546
I misattributed the commit but here's the required documentation update: https://github.com/medic/medic-docs/commit/030e70999131f57b5d67c4f11330b916d812e30f

[2017-06-26 23:23] #3546 closed

[2017-06-26 23:30] ngaruko commented on #3219
Are you able to confirm that this is working as expected @bishwas-medic ? Thanks

[2017-06-26 23:36] garethbowen commented on #3535
Possibly caused by pouchdb/pouchdb#6510 - deprioritising because it's only an issue in dev, and it's easy enough to live with for now.

[2017-06-26 23:37] ngaruko commented on #3067
Sounds good @estellecomment , @sglangevin

[2017-06-26 23:44] ngaruko commented on #2670
Hi @sglangevin , this looks like a relatively old issue. Can safely assume that it now working as expected and remove the AT label? Thanks

[2017-06-26 23:45] ngaruko commented on #2568
Hi @henokgetachew . Are you able to test this one and confirm that it is working as expected?

[2017-06-26 23:45] garethbowen commented on #3525
@diannakane @amandacilek I'm not sure where this issue ended up. Should we allow line wrapping so the content is always shown, or should we leave it as is with the ellipsis and wait for the design to be complete?

[2017-06-26 23:46] garethbowen commented on #3492
I don't think this is a high priority so I'm removing it from the sprint.

[2017-06-26 23:48] garethbowen commented on #1876
Backlogged so removing from milestone.

[2017-06-26 23:54] amandacilek commented on #3525
Dianna, Ranju and I talked and I believe we are all comfortable with this approach:
![screen shot 2017-06-26 at 4 48 24 pm](https://user-images.githubusercontent.com/26235957/27564842-5c7ca8a6-5a8f-11e7-9886-16783d0fd535.png)

Tasks are now always two lines of text:
- Name of the person the task relates to
- Name of the task

This places more emphasis on the name of the person, while allowing more

[2017-06-27 00:10] ngaruko commented on #3251
Any clue how to AT this @garethbowen , @henokgetachew  @anyone?

[2017-06-27 00:14] ngaruko commented on #3242
Does this need AT @alxndrsn . How do you reproduce/check this?

[2017-06-27 00:22] garethbowen commented on #3525
Given that this is now no longer a simple patch, I'm going to remove it from the milestone. Either reschedule this issue, or close and create another one when the redesign is prioritised.

[2017-06-27 00:24] garethbowen commented on #3251
AT: run an upgrade from 0.4.x to 2.10.x and make sure you can see a list of permissions when you view the Configuration > Permissions screen.

[2017-06-27 05:25] sglangevin commented on #3390
Tested on 2.12.0-beta.8 and it's working well. Hooray! Moving to Ready.

[2017-06-27 05:37] alxndrsn commented on #3525
@garethbowen it would be great to get the simple fix to make long titles usable (i.e. wrap the text) while we're waiting for big changes to be scheduled.

[2017-06-27 08:08] SCdF commented on #3492
Also (though I'm not 100% sure what the script is for) it sounds like it will be rendered not needed by the Horticulturalist, as it does not use markets.

[2017-06-27 09:36] estellecomment opened #3584 "Security issue 2372"
https://github.com/medic/medic-projects/issues/2372

[2017-06-27 09:37] #3584 closed

[2017-06-27 09:40] estellecomment commented on #1829
@browndav This is a ticket from the dev meetup (not last one, previous one). Your work with Henok probably covers it by now. Closing.

[2017-06-27 09:40] #1829 closed

[2017-06-27 09:41] estellecomment commented on #2778
@browndav Is this still relevant?

[2017-06-27 15:56] amandacilek commented on #3525
Sure, I mean if making it 2 lines is a _big change_, then I'm fine allowing a bandaid that at least matches the treatment of Tasks on the profile pages (with wrapping text).

![screenshot_2017-03-22-07-51-30](https://user-images.githubusercontent.com/26235957/27597141-6001150c-5b16-11e7-8a49-6782013de0bf.png)

[2017-06-27 17:38] estellecomment opened #3585 "Validate sentinel transition configs at transition load time"
If there's a problem in the config of a sentinel transition (typo, missing field, ...), we won't know until the transition actually tries to run on a doc.

Add a `onLoad` func in transition api, for transitions to validate their config when they're loaded by `transitions/indox.js`.

[2017-06-27 18:31] mandric commented on #3019
Status update: PR is open here https://github.com/medic/medic-api/pull/149 for medic-api, decided to wait on merge for that to also create the webapp part of that to officially deprecate /add in medic-webapp and return 50x or friendly error message and potentially clean up few other things.

[2017-06-27 21:55] alxndrsn commented on #3525
Whether or not its a big change, it's taken nearly 4 weeks to get there.  In hindsight, it would have been constructive for me to apply wrapping to the text _before_ starting this conversation 😄

[2017-06-28 01:58] garethbowen commented on #3431
@mandric Can we close this now?

[2017-06-28 02:01] garethbowen commented on #1745
@mandric We have an Add Person button in the FAB which adds a person to the selected area:

![add-person](https://user-images.githubusercontent.com/2064938/27617413-43e6e65e-5c0a-11e7-8a88-e649908d7bb3.png)

It doesn't update the user but you can go and edit the user and then select this person as the contact.

Is this what you meant? Can we close this?

[2017-06-28 02:03] garethbowen commented on #3561
Related: #3041

[2017-06-28 02:41] henokgetachew opened #3587 "Medic API Error on v2.12"
This occurs repeatedly in a newly migrated/upgraded instance.
[code]

[2017-06-28 07:45] estellecomment opened #3588 "Remove local copy of bm.js when moment releases Bambara"
Spawned from https://github.com/medic/medic-webapp/issues/3496
We're using a local copy of the Bambara locale for now. Remove it when Bambara makes it into moment.js
https://github.com/moment/moment/pull/4001

[2017-06-28 07:51] estellecomment commented on #3496
@garethbowen please review :
api : https://github.com/medic/medic-api/pull/169
webapp : https://github.com/medic/medic-webapp/pull/3589

[2017-06-28 08:03] bishwas-medic commented on #3219
@ngaruko yes, we have already started using this feature. I can confirm that it's working as expected. You can close the AT.

[2017-06-28 08:15] bishwas-medic commented on #3251
This issue re-occurred in a freshly upgraded instance. It was upgraded from v0.4.x to v2.12.0. Had to manually replace the permissions in the app_settings to get the list appear on the page.

<img width="593" alt="screen shot 2017-06-28 at 1 53 23 pm" src="https://user-images.githubusercontent.com/13689284/27627053-1ce9ad66-5c0a-11e7-9b01-ebf7e288e034.png">

[2017-06-28 08:46] SCdF commented on #3502
@henokgetachew yeah. Are we expecting that on Friday / Sunday?

[2017-06-28 08:49] garethbowen commented on #3496
Merged. Good work. Hopefully moment will merge it soon.

[2017-06-28 08:49] #3496 closed

[2017-06-28 09:21] SCdF opened #3590 "Make travis use CouchDB 1.6 again"
Travis dropped support for CouchDB1.6 natively and broke our builds. We hacked around it to only test on 2.0.

We should add support back for 1.6 before we release 2.13.0

[2017-06-28 09:49] garethbowen commented on #1472
@alxndrsn @bishwas-medic pointed out that medic-gateway doesn't log in when the password has [certain characters](https://github.com/medic/medic-gateway#passwords). He suggested I forbid those characters when setting a password which makes a lot of sense. However it seems like a bug in medic-gateway. Why do those characters not work? Can't we encode them or something?

[2017-06-28 14:43] henokgetachew commented on #3502
Yup Friday/Saturday depending on your time zone.

[2017-06-28 16:52] SCdF commented on #3590
@garethbowen  https://github.com/medic/medic-webapp/pull/3591

[2017-06-28 21:34] garethbowen commented on #3572
Duplicate of #3590

[2017-06-28 21:37] garethbowen commented on #3590
@SCdF I found the issue I created: #3572

The reason we couldn't find it is because it's closed. The reason it's closed is the commit message had the word "fixed" at the end, and the issue number in the description, so GH auto closed it for me. Thanks GH!

It looks like it just works so I guess they fixed the underlying issue.

There's one change required but once you've fixed that, merge away.

[2017-06-29 01:42] abbyad opened #3592 "Cannot log out of app"
Logged in as admin on demo.dev running 2.12.0 and cannot log out via app or futon.

In both cases I get the following in console:
`DELETE https://_:_@demo.dev.medicmobile.org/_session 401 (Unauthorized)`

_**Edit:** As a non-admin I was able to log out._

[2017-06-29 01:48] alxndrsn commented on #1472
Try putting one of those characters in an HTTP auth password in your browser's address bar...

[2017-06-29 01:50] garethbowen commented on #3592
Works for me on demo.dev as admin.

[2017-06-29 01:50] abbyad commented on #3592
I am not able to reproduce this while in incognito mode.

[2017-06-29 01:50] garethbowen commented on #1472
@alxndrsn Yeah but can you encode them or something?

[2017-06-29 01:50] abbyad commented on #3592
And neither can @alxndrsn in regular chrome.

[2017-06-29 01:53] garethbowen commented on #1472
@alxndrsn For example, this is what Node does:

https://nodejs.org/api/url.html#url_url_password

[2017-06-29 01:53] alxndrsn commented on #1472
I could make `medic-gateway` work with these characters, but still neither `curl` nor Firefox would support them.  I have no idea what `collect` support will be like for these characters.  I think it's probably more helpful to exclude them from allowed characters for API-based accounts.

[2017-06-29 01:54] alxndrsn commented on #1472
AFAIK percent encoding is not included in the Basic Auth spec, so implementing this encoding would be questionable.

[2017-06-29 01:54] abbyad commented on #3592
Here is a screenshot to compare against if anyone is able to reproduce.

![image](https://user-images.githubusercontent.com/789512/27667983-4de7c3ca-5c4c-11e7-8671-3370ae258cde.png)

[2017-06-29 01:57] garethbowen commented on #3592
Copied from slack...

[2017-06-29 02:00] garethbowen commented on #1472
This needs testing but I'm sure curl and Firefox will work if you percent encode the user/pass. Percent encoding is part of the URL spec not part of basic auth. We should fix collect and gateway and everywhere else to encode properly rather than impose arbitrary limits on password characters.

[2017-06-29 02:03] alxndrsn commented on #1472
👍

[2017-06-29 02:05] alxndrsn commented on #1472
Although possibly interesting: https://stackoverflow.com/questions/6718471/escaping-username-characters-in-basic-auth-urls

[2017-06-29 02:05] garethbowen commented on #1472
Hopefully it's as easy as running the username and password through [URLEncoder](https://developer.android.com/reference/java/net/URLEncoder.html)

[2017-06-29 02:06] alxndrsn commented on #1472
I hadn't thought of that 😝

[2017-06-29 02:06] alxndrsn commented on #1472
Note that gateway will still not support any chars outside US-ASCII range.  You may want to impose this restriction when checking password contents.

[2017-06-29 02:07] garethbowen commented on #1472
Ok - why not?

[2017-06-29 02:08] alxndrsn commented on #1472
The spec isn't clear about how they would be encoded, and there are various implementations with patchy support.

[2017-06-29 02:08] garethbowen commented on #1472
URLEncoder will encode those too so maybe it'll just work?

[2017-06-29 02:09] garethbowen commented on #1472
Definitely worth testing.

[2017-06-29 02:16] alxndrsn commented on #1472
You're suggesting the URL-encoding should remain before base-64 encoding?  That definitely sounds incorrect.

[2017-06-29 02:19] garethbowen commented on #1472
I'm suggesting we test various options.

[2017-06-29 04:29] abbyad commented on #3592
The problem persisted after deleting the cookies, app cache, IndexDB, and local storage. After a 2hr break, came back and was finally redirected to the login page.

Closing for now as I cannot recreate this scenario.

[2017-06-29 04:29] #3592 closed

[2017-06-29 10:52] eljhkrr opened #3593 "Exporting reports filtered by place results in an empty xml"

[2017-06-29 10:56] eljhkrr opened #3594 "Add support for csv exports"
@eljhkrr I'm (@sglangevin) updating this first comment to summarize the discussion below so that whichever dev takes this on doesn't have to review the whole thread.

Requirements for completing this issue:
1. Support export of reports in csv format. We agreed that it's ok to lose the tabs that we currently have in the xml format.
1. Support streaming of the download so that we can download more t

[2017-06-29 11:22] SCdF commented on #3593
Hi @eljhkrr this sounds like a bug.

Can you please provide more information?

For example:
 - The server / partner it is relevant to
 - Steps to reproduce (and whether or not it was reproducible)
 - What you would expect to happen
 - What actually happened

Any other relevant information, such as the software version, browser version etc.

[2017-06-29 11:23] SCdF commented on #3594
Hi @eljhkrr it sounds like you're looking for some kind of feature?

Can you please provide more information about what you're looking for?

[2017-06-29 12:05] SCdF commented on #3587
Well that error is unhelpful.

What it basically means is that we're trying to destructure `undefined`. We can reproduce like this:
[code]

(Interestingly you get a similarly useless error: `TypeError: undefined is not a function` if you pass `add(1,2)`)

This is occurring because in [this function](https://github.com/medic/medic-api/blob/master/controllers/messages.js#L35-L42) we don't return any

[2017-06-29 12:17] eljhkrr commented on #3594
Hi @SCdF sorry for being light on details.

Some users are having trouble opening data exports from the webapp because they're only downloadable as xml files. Excel can open xml files, but when Excel isn't one of the obvious options in the 'open with' menu, some users aren't able to open the file. Allowing users to export data in formats which are easier to handle like xls or csv would improve usa

[2017-06-29 12:23] SCdF commented on #3594
@sglangevin do you already have any work around this kind of thing brewing?

[2017-06-29 12:49] eljhkrr commented on #3593
@SCdF This was observed on the kilifikids-kaiti instance.

To reproduce the bug:
Filter reports by place, confirm there are reports for the particular place and then export them. Only header fields will be present on the exported xml without any data rows. Exports with type, date & status filters are working as expected.

[2017-06-29 13:15] SCdF commented on #3590
Merged.

[2017-06-29 13:15] #3590 closed

[2017-06-29 13:41] SCdF commented on #3593
Thanks for filling in more details @eljhkrr. I looked up the software version for you: it's 2.11.3.

*(You can find out which version of the software you're running on the about page)*

I'd be also interested in the browser you're using, it's version, and the operating system you're running on.

[2017-06-29 16:11] SCdF commented on #3506
I've (I think) fixed this PR and now it looks like it works everywhere. Awaiting feedback.

[2017-06-29 16:28] Lesterng commented on #3389
@alxndrsn Here is a favicon of our logo that will work on multiple backgrounds. You can change the suffix from .png to .ico. If you need another size, let me know the dimensions.
![favicon](https://user-images.githubusercontent.com/5149601/27698855-3024e802-5cad-11e7-96dc-5de4795a8537.png)

[2017-06-29 17:29] mandric commented on #3431
Seems like for some reason you want to ignore two reports from different developers that _users is not found during setup because of user error?  If user error is what was agreed upon then it's fine to ignore them and close.  Otherwise we should update the docs with the PUT _users command or that mention need to run something in futon to finish the couchdb2 setup.

[2017-06-29 17:36] SCdF commented on #3431
@mandric it's in the docs http://docs.couchdb.org/en/2.0.0/install/

[2017-06-29 18:03] sglangevin commented on #3593
@SCdF there are two parts to this:

First, exporting has moved and changed a lot from 0.4 to 2.x. It's now on the Reports tab and we don't have different options for which format the file is downloaded in. We've had requests from some partners that we bring back the csv and xls options for downloads. This is something I'd like to include in 2.14 so it's not prioritized for now but will be soon.

T

[2017-06-29 18:04] sglangevin commented on #3593
I've updated the title here - @eljhkrr's steps to reproduce should work well as that's how I've recreated the bug on my laptop.

[2017-06-29 18:06] sglangevin commented on #3430
@derickl do you have a place where you can test this on alpha? You could try alpha.dev. It would be great to confirm this is now working well with the original form.

[2017-06-29 18:07] sglangevin commented on #2912
@alxndrsn have you had time to look at this? I will try to make some time to see which parts I'm able to do in xlsform, probably next week.

[2017-06-29 18:08] sglangevin commented on #3413
@alxndrsn @garethbowen does this issue still need more work? Not sure if either of you have connected with @derickl about this on Slack.

[2017-06-29 18:19] mandric commented on #3431
Can we add a link to that in the readme?

[2017-06-29 18:21] sglangevin commented on #3594
The workaround is to open the xml using Excel, which should be the default program on most Windows machines. @eljhkrr you could walk users through setting Excel as the default program for xml files while we get time to add a feature for exporting to csv or xls. Or we can do the exports for them and convert them to xls and share if that is necessary. I was planning to schedule this feature for 2.14

[2017-06-29 18:27] mandric commented on #3431
PR on the way...

[2017-06-29 19:03] sglangevin commented on #3251
@bishwas-medic this error is due to having the same permission listed twice in your `app_settings`. That's what the error message is saying here. We saw this issue during tech lead training and removing the second occurrence of the permission solved the issue. Looks like you have `can_view_analytics` listed twice. You can remove it from the dashboard settings page or re-upload your `app_settings`.

[2017-06-29 20:22] alxndrsn opened #3596 "Update to new favicon if it's an improvement"
New icon available at https://github.com/medic/medic-webapp/issues/3389#issuecomment-312020451

[2017-06-29 21:03] sglangevin commented on #2670
Yes, this is currently working in that we are storing the error messages.

[2017-06-29 21:30] garethbowen commented on #3587
Back to you @SCdF

[2017-06-29 21:33] garethbowen commented on #3413
@sglangevin I'm working on it currently and hoping to get it back to Alex for review this week.

[2017-06-29 21:39] garethbowen commented on #3251
@sglangevin My best guess is that the old configuration @bishwas-medic had already had the duplicate but it didn't cause any issues on the old version of the app. On upgrade the old configuration was retained by design which exposed the issue. The fix for this issue was to fix the default permissions but it won't fix broken permissions on upgrade.

@bishwas-medic Do you have a copy of the pre-upgr

[2017-06-29 21:58] garethbowen commented on #2786
It looks like this issue is covered by design issues so I'm closing this. Please reopen if there's more development work ready to be done.

[2017-06-29 21:58] #2786 closed

[2017-06-30 00:00] garethbowen opened #3597 "Update fonts to Noto"
* Change the font to "Noto, sans-serif" throughout the app (apart from where we use FontAwesome). Bundle Noto with the app so everyone uses the same font regardless of device, language, etc.
* Change the base font size to 16px: `body { font-size: 100%; }`
* Use rems for all font sizes.
* Use this opportunity to standardise font tags and classes. Right now we have a lot of different styles, but we

[2017-06-30 02:58] garethbowen opened #3598 "Contact summary isn't rendering lineage"
The "belongs to" field in the contact card isn't shown, and the following is shown in the log:

[code]

![no-lineage](https://user-images.githubusercontent.com/2064938/27719185-becba5e4-5da4-11e7-8d18-2f7989545b72.png)

[2017-06-30 03:03] garethbowen commented on #3598
Now it looks like this:

![belongsto](https://user-images.githubusercontent.com/2064938/27719260-430461f2-5da5-11e7-9e6c-bd9c199fdeac.png)

[2017-06-30 03:04] garethbowen commented on #3598
Code review please @SCdF

[2017-06-30 03:15] garethbowen commented on #3413
@alxndrsn I can't assign you as reviewer because you submitted the initial PR but can you review my changes and merge if you're happy?

How to AT:

Configure your contact summary script to output something useful in the context, eg:

[code]

Configure a form with a secondary instance with the ID 'contact-summary'. This prompts our code to bind the contact summary context in. Bind that to a primary

[2017-06-30 04:52] Enock1990 commented on #2670
@SCdF I'm currently having conversations on this with LG. Is it possible to explain what the error(failure) messages mean. For example in relation to what the CHP is doing what does` provide 'passive' did not provide a location` mean? They are having 40% of there CHPs recording GPS so it would be paramount if we can explain why the others are not from the 3 failure messages.

[2017-06-30 06:03] bishwas-medic commented on #3251
@sglangevin yeah, I've already fixed the issue by reuploading the app settings with the changed permissions. The issue is that the duplicate permissions get loaded from the start, before any config  is done. I think that should be addressed.

@garethbowen, to my knowledge, there weren't any permission settings on v0.4.x version of webapp. I'll DM you the old settings file. For backup of the instan

[2017-06-30 06:46] #3431 closed

[2017-06-30 08:11] SCdF commented on #2670
@Enock1990 I'm not completely sure what they mean (Android generates them, we don't). The closest thing I could find by googling was ironically http://medicmobile.cloud.answerhub.com/questions/145/what-do-the-various-geolocation-collection-errors.html , which just describes what passive etc mean, not why they are not successfully providing location data.

For the CHWs that are not recording GPS, i

[2017-06-30 08:13] #3598 closed

[2017-06-30 12:50] estellecomment opened #3600 "Doc hydrating for data_records uses the wrong field"
Data_records look like this :
[code]
When you hydrate them, the `contact` field is untouched, and the hydrated hierarchy is added in the `parent` field.
(so if you minify them, you're left with two dehydrated hierarchies in `contact` and `parent`)

[2017-06-30 17:44] sglangevin commented on #2670
From my testing, all I could conclusively say is that Airplane mode definitely blocks GPS collection. If airplane mode is on, you'll get `Provider 'network' did not provide a location.`

From the charts that @michaelkohn put together, some CHPs report GPS data 100% of the time, some less than 100% of the time and some 0% of the time, so it varies a lot. It does sound like they should make sure CHP

[2017-06-30 17:51] sglangevin commented on #3251
Yeah - the weird thing is that this also happened during the tech lead training on an instance that had working config (including permissions). At some point while one of the teams was working on the config (uploading changes) the analytics permission was duplicated. Seemed odd that it was the exact same permission causing the problem. So perhaps @bishwas-medic is correct and that permission is ge

[2017-06-30 18:31] SCdF commented on #2670
This might be a bit heavy handed, but we can detect airplane mode: https://stackoverflow.com/questions/4319212/how-can-one-detect-airplane-mode-on-android

We could update LG's android wrapper to do this.

Alternatively, we could do something more comprehensive (but more work) purely on the web side. Something like:
 - If we are configured to store GPS…
 - …and we don't get valid GPS data back whe

[2017-06-30 18:31] SCdF commented on #2670
It would be good for LG to go have a chat with users who have 0% GPS reporting and look at their phones though, it might just be that simple: they need training to know how to turn 3G off but not GPS for example.

[2017-06-30 21:36] alxndrsn commented on #2670
Is it possible that these users just never _enabled_ GPS on their phones?  It's really hard to do on the Y4.

[2017-07-02 20:38] garethbowen commented on #3600
Unfortunately there are multiple `hydrate` methods (this will be fixed when we have a shared npm package for this stuff). Assuming you're talking about the [one in sentinel](https://github.com/medic/medic-sentinel/blob/master/lib/lineage.js) then yes it looks wrong. Good catch!

The [one in webapp](https://github.com/medic/medic-webapp/blob/master/static/js/services/lineage-model-generator.js#L44)

[2017-07-02 21:01] garethbowen commented on #3251
@SCdF Any thoughts? There are two places in the api code that update the permissions - the config.js which defaults and saves the settings on init, and a migration which updates the settings with default permissions. Maybe the two are conflicting somehow? I'm not sure why we need the migration if the config.js is setting up permissions anyway.

[2017-07-02 22:44] garethbowen commented on #2996
I'm working in this area so it makes sense to fix this too.

[2017-07-03 01:50] garethbowen commented on #2967
I've spiked this to see if it would just work, and it does. Something like this...

[code]

[2017-07-03 01:55] garethbowen commented on #2967
Unassigning this so anyone can work on it.

[2017-07-03 02:00] garethbowen commented on #2967
This would also be useful for horticulturist (#3582) in the updating UI.

[2017-07-03 02:04] #3413 closed

[2017-07-03 03:51] garethbowen opened #3602 "Write a db reset util function for e2e tests"
e2e tests have to track all the documents they create so they can clean up at the end. It'd be much simpler just to delete everything except the system documents (ddocs, etc) and start from scratch each time.

[2017-07-03 06:37] SCdF commented on #3251
@garethbowen yeah I can't see why the migration is required anymore (with the exception that the defaults code presumed the permissions object exists, but that is a minor change to that code). I presume it existed before the auto-merge. It's interesting that it's the same permission, though I can't see anything in the code that is dodgy about it.

My suggestion would be to fix it by using a more c

[2017-07-03 06:42] garethbowen commented on #3602
@ngaruko Code review please - this adds a function to reset the database after each test.

[2017-07-03 08:36] henokgetachew commented on #3587
This was happening with messages from the `Messages` tab after upgrade.  It caused some duplicates.  I'm not sure how.  I'll look out for it in the next upgrade to get actual steps for reproducing it.

[2017-07-03 08:48] henokgetachew opened #3604 "Header row should always show up in the users page"
![image](https://user-images.githubusercontent.com/3198821/27785104-29da38ae-5fe5-11e7-8857-53451c8a9c95.png)
The header rows should stay in place wherever we have long lists/tables. @sglangevin  @diannakane @amandacilek

[2017-07-03 08:50] garethbowen commented on #3604
Related #2996

[2017-07-03 08:52] garethbowen commented on #3594
Related #929

[2017-07-03 08:54] garethbowen commented on #3444
There are libraries that do this for us, eg: https://github.com/angular-ui/ui-select

[2017-07-03 09:04] derickl commented on #3587
Will this impact LG if I were to upgrade to 2.12? Is it better to wait for the next point release? @SCdF @garethbowen

[2017-07-03 09:19] garethbowen commented on #3018
Duplicate of #3582

[2017-07-03 09:19] #3018 closed

[2017-07-03 10:11] SCdF commented on #3587
@derickl all this PR is doing is making the error message better. Hopefully the exact issue should become clearer.

It's still not clear why this would be happening. From the code it looks like Gateway is sending updates for messages that the server doesn't know about.

[2017-07-03 10:11] SCdF commented on #3587
@henokgetachew I've merged the PR and I'm leaving it assigned to you. Feel free to close or leave it open to get reproduction steps sorted.

[2017-07-03 11:42] SCdF commented on #3502
This didn't fire AFAICT. @henokgetachew let me know when I can take a look at this again.

[2017-07-03 15:44] SCdF commented on #3419
I've started looking at this again. It's not just SMS, at least not in my existing config:

![image](https://user-images.githubusercontent.com/583851/27799869-ccb9270a-600e-11e7-8a1f-57b161d5870a.png)

However, it did work via SMS when I registered them with the `N` SMS form.

[2017-07-03 16:36] sglangevin commented on #3419
@SCdF it had been working for people registered with the `N` SMS form. This issue is specifically for people who are created in the web app using an xform and assigned a Medic ID, then have a pregnancy registered by someone using SMS.

[2017-07-03 16:38] SCdF commented on #3419
@sglangevin there seem to be a few issues. The one I just found in the image above is due to the work done to pull parents out (ie it couldn't find {{contact.name}} in the above message because the contact wasn't hydrated).

I'll raise a separate bug for that and then try to look into this one specifically after fixing that one.

[2017-07-03 16:43] sglangevin commented on #3419
And that is what happens when I look at screen shots before drinking coffee! SGTM.

[2017-07-03 16:45] SCdF commented on #3419
FWIW I've been at work for hours and I'm pretty sure what I just said is the problem is not actually the problem… so… but there *is* a problem! That much is clear…

[2017-07-03 16:47] diannakane commented on #2852
We have a design that solves for this. Moving over to medic-design to track there until implemented: https://github.com/medic/medic-design/issues/61

[2017-07-03 16:47] #2852 closed

[2017-07-03 16:48] sglangevin commented on #3604
We're planning to redesign this page completely at some point later this year or early next year. @garethbowen if there is a quick fix as part of #2996, go for it, otherwise let's leave this until we can get to it later.

[2017-07-03 16:49] sglangevin commented on #3600
@SCdF this might be the issue that you ran into.

[2017-07-03 16:53] sglangevin commented on #2670
I believe that LG has a pretty standardized phone setup process, but it's worth confirming. I think they decentralized the process at some point so perhaps some groups of CHPs didn't have GPS enabled? I don't think there are any full branches with no GPS data for any CHP in the branch though. But we could try to group by training class to see if there are classes without any GPS as that might poin

[2017-07-03 16:53] SCdF commented on #3419
Uhm, OK maybe that issue is data related on my end? It's hard to tell in a development environment. The problem with the screenshot above is that `{{contact.name}}` is supposed to actually be the "clinic"'s contact's name, where clinic is defined by the first parent of the doc's contact that is of type clinic. You can see the logic [here](https://github.com/medic/medic-sentinel/blob/master/lib/mes

[2017-07-03 17:01] sglangevin commented on #3419
That does sound right to me - you should be getting the primary contact of the clinic. In the hierarchy in this case, clinic should be CHW Area and the primary contact of the CHW Area should be the CHW.

[2017-07-03 17:10] sglangevin opened #3605 "Bulk delete fails when deleting more than a few hundred records"
Original ticket: https://github.com/medic/medic-projects/issues/2409

This has been reported a few times. The workaround has been to delete in smaller batches, but we should probably fix this so that new projects and projects that are upgrading can make better use of this feature. To reproduce, try to delete a few thousand records on any instance and you'll get a 500 error.

@estellecomment has su

[2017-07-03 18:01] mandric commented on #3605
Possibly related: https://github.com/medic/medic-api/issues/96

[2017-07-03 18:32] alxndrsn commented on #3582
Can we consider renaming to `horti` for `svc-*` scripts etc.?

[2017-07-03 21:38] ngaruko commented on #1638
Any tips how to AT this @garethbowen @alxndrsn

[2017-07-03 21:40] garethbowen commented on #1638
No AT required.

[2017-07-04 00:05] garethbowen commented on #3604
@sglangevin Good to know. Will the redesign also include the create/edit user models?

[2017-07-04 04:58] garethbowen commented on #3579
This was closed in this commit: https://github.com/medic/medic-webapp/commit/c5fe068742e294fb69f3e687ef712ff222863a22

[2017-07-04 04:58] #3579 closed

[2017-07-04 06:15] ranjuts commented on #3563
@garethbowen we can't configure which day of the week the EDD falls on but can we configure to not have if fall on the start of the week but on the exact day calculated? The reminders are sent on the exact day so I would assume it is possible to calculate the EDD similarly?

We have had partners be confused here in Nepal as well ( @PawanMM can comment more) because of this same issue. However, I w

[2017-07-04 06:17] alxndrsn opened #3606 "Admin party mode detection is unreliable"
[code]

[code]

[2017-07-04 06:20] alxndrsn commented on #3606
This will occur when admin party is disabled but:
[code]

[2017-07-04 06:21] ranjuts commented on #3525
Was there a decision here? Are we wrapping until the other changes get implemented? @amandacilek @alxndrsn

[2017-07-04 07:32] nice-snek commented on #2012
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #2717
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #2733
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3049
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #2203
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #2734
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3182
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3204
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3245
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3256
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3264
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3284
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3322
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:32] nice-snek commented on #3324
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-04 07:34] estellecomment commented on #2114
Open for too long. Closing.

[2017-07-04 07:34] #2114 closed

[2017-07-04 07:36] estellecomment commented on #3245
Definitely useful. Sheeduling.

[2017-07-04 07:42] SCdF commented on #3582
@alxndrsn I have zero opinion about it, feel free to rename it to whatever you like :-)

[2017-07-04 07:45] estellecomment commented on #3264
@garethbowen I don't understand the point of this setting. We have users that have permissions, why do we need an overarching public/private setting? Can't we just remove the setting?

[2017-07-04 07:51] SCdF commented on #3606
@alxndrsn did you investigate this at all? What setup do you have that is different than expected? All the code is doing is checking for a 401 when you request the DB with no creds. Would be good to see what you get if you request that.

[2017-07-04 08:03] SCdF commented on #3049
@garethbowen did it ever get discussed?

FWIW I can't imagine it ever being scheduled, because it's not clear what point or value it provides, especially given that it's use is directly proportional to the pain of the required migration.

[2017-07-04 08:50] garethbowen commented on #3563
@ranjuts I completely agree. The code to round down to the start of the week was added about four years ago and I have no idea what the rationale was. Unfortunately it is hardcoded into sentinel. For now the bandaid solution is all I've got.

@sglangevin I think we should remove the rounding code in 2.13.0. I'm a little concerned that someone may be relying this behaviour as it's been part of the

[2017-07-04 08:50] garethbowen commented on #2717
Ancient. Closing.

[2017-07-04 08:50] #2717 closed

[2017-07-04 08:53] garethbowen commented on #3264
This is baked in to dashboard somewhere so I don't think we can just remove it. Instead what we should do is the same thing we do now for "admin party" mode - check it in API and refuse to start if it's set to "admins only".

Scheduling.

[2017-07-04 08:57] garethbowen commented on #3049
It didn't really get discussed. From what I recall there's a general feeling that all documents should have a type (except for ddocs which can't) but nobody could state a use case for the type. I don't think the migration would be too painful because almost all docs have a type already so it'd only be modifying a few docs.

For me this is very low priority - it'd be much more useful to split the `

[2017-07-04 10:16] garethbowen commented on #3204
Yeah it's on purpose to stop someone crashing the server accidentally... The perfect solution would batch and stream somehow.

However, I suspect nobody is actually using the export audit api as auditing is usually just to investigate a specific document. Let's ask around and see if we can drop the api altogether.

[2017-07-04 11:57] ranjuts commented on #3563
Thanks Gareth. If this was done around four years ago @mandric might know what the rationale was? Perhaps @diannakane as well?

[2017-07-04 12:43] henokgetachew commented on #3502
@SCdF, I have just tagged you in the slack channel for this notification.

[2017-07-04 13:53] estellecomment commented on #3600
@garethbowen please review PR : https://github.com/medic/medic-sentinel/pull/136

[2017-07-04 14:00] SCdF commented on #3419
When we generate details that can be passed to the message utils we essentially smush this document and all prior registrations for that patient together into one object. The problem is that this message requires `fields.patient_name` from the original registration. Except when you create a user using the UI it's not technically a registration.

The change I have adds the person document to this c

[2017-07-04 14:13] SCdF commented on #3419
@alxndrsn check out the PR: https://github.com/medic/medic-sentinel/pull/137

Also note that I've updated translations for that one message that was causing problems, in [English](https://github.com/medic/medic-webapp/commit/1d452d2c195c2325e7e41da024eec7d43a2efa08), [Hindi](https://github.com/medic/medic-webapp/commit/8947fec72b11828a09852764fa1f6ba360fbb266), [Indonesian](https://github.com/medi

[2017-07-04 14:15] SCdF commented on #3419
@sglangevin / @garethbowen  so this is an interesting documentation point. This is very much a changelog sort of change, I don't think there is anywhere specific to log this. How should we deal with this? Pulled out section at the top of the release notes?

[2017-07-04 14:29] SCdF commented on #3502
Sweet, conflicts are now being reported!

[2017-07-04 14:29] #3502 closed

[2017-07-04 14:32] SCdF commented on #3605
@sglangevin what is the maximum number of records that should be supported in the bulk delete UI do you think? Naively I'd suggest that if you're deleting hundreds of documents you wouldn't want to be doing it through the UI anyway, and it's something that a script is more suited to. However, I may be missing some use case here.

[2017-07-04 14:34] SCdF commented on #3391
@sglangevin / @garethbowen this change is a major change, requiring that people update their version of medicos along with this change (because we'd be moving the responsibility of auditing from code to nginx).

Should we reschedule this for 3.0? Or 4.0?

[2017-07-04 15:59] estellecomment commented on #3605
Use case : the carrier wants to send new ringtones to the gateway phone. Message loop ensues and 10k messages are created for nothing. Tech lead has to delete them.

[2017-07-04 16:55] mandric commented on #3182
@alxndrsn please triage (close or schedule)

[2017-07-04 17:38] mandric commented on #3563
Yes a prehistoric choice indeed, made by Rowan in fact, probably according to the initial OHW project spec that spawned that feature.  It's in one of the earliest commits of sentinel and the git history wasn't preserved (looks like a copy from kujua-lite) so there's not much to go on.  I imagine it has something to do with calculations or analytics that are easier to do if you standardize on a wee

[2017-07-04 18:17] alxndrsn commented on #3606
Yeah, as per my comment above - basically I think API error message should be updated to change

to e.g.

This would probably also be a suitable fix for https://github.com/medic/medic-projects/issues/1886.

[2017-07-04 18:20] alxndrsn commented on #2012
Still needs doing.

[2017-07-04 18:33] sglangevin commented on #3563
@garethbowen I'd like to finish the other priorities that are already in 2.13.0 - several items are still not complete. I had planned to schedule this one for 2.14.0 so that we could also handle any changes needed to message scheduling per our conversation on Slack.

[2017-07-04 18:35] alxndrsn commented on #2734
Still an issue.

[2017-07-04 18:37] sglangevin commented on #3605
Another use case: hundreds or thousands of messages are sent during training and we want to delete them. Bulk delete was meant to make it easy for PMs to delete training data.

[2017-07-04 18:52] abbyad opened #3607 "Specify which forms can be downloaded using Collect"
Now that we can get blank XForms in Collect again (thanks to https://github.com/medic/medic-webapp/issues/3390) we need to specify _which_ forms can be downloaded so that users don't mistakenly download app workflow forms which may not work in Collect.

This will be helpful for any project that will use Collect while also having some in-app workflows, as is the case for some upcoming Standard depl

[2017-07-04 18:56] alxndrsn commented on #3607
Specify `doc.context.collect`; default to `false`.

[2017-07-04 18:57] alxndrsn commented on #3607
Implement alongside support for `forms/collect` directory in `medic-conf`.

[2017-07-04 21:00] garethbowen commented on #3419
@SCdF Yes definitely. Add a 2.13.0 title with a TBD date and add this as a breaking change.

The other option is to alias patient_name as patient.name so existing configurations continue to work. This would be my preferred approach.

[2017-07-04 21:03] garethbowen commented on #3391
3.0 makes sense to me, or 4.0 if it doesn't get done in time.

[2017-07-04 21:15] garethbowen commented on #3563
Ok. I'll add this to the 2.14.0 project. Should be a quick fix.

[2017-07-04 21:26] sglangevin commented on #3419
Yeah, it would be much better if we can keep this backward-compatible and then work to update existing configurations.

[2017-07-04 22:18] garethbowen commented on #3600
Back to you @estellecomment

[2017-07-04 23:27] garethbowen commented on #1472
Two code reviews please @SCdF

[2017-07-04 23:33] mandric commented on #3606
The link is also broken, maybe use this one instead? http://docs.couchdb.org/en/latest/config/auth.html#authentication-configuration

[2017-07-05 06:15] SCdF commented on #3605
Yes I understand there exists situations where you'd want to delete thousands or documents. I'm sure there are many more than mentioned. The question was whether or not the UI was required to solve them.

Considering that Gareth sounded surprised that bulk delete was being used to delete thousands of documents the requirement for it to scale to the thousands clearly got lost somewhere.

@sglangevi

[2017-07-05 06:20] SCdF commented on #3419
@garethbowen / @sglangevin I considered that, but this doesn't actually break anyone's configuration, it just makes it possible for it to work (if that makes sense). I'm not taking `patient_name` away from places that already have it.

Happy to alias though.

[2017-07-05 06:29] SCdF commented on #3606
@alxndrsn oh! It was entirely unclear to me that you thought the feature worked but the message was wrong. I thought you were implying that it was broken ("Admin party mode detection is unreliable").

We can change the message to whatever, sure. Also, weird that that the link doesn't work, I swear I wrote it…

[2017-07-05 08:09] SCdF commented on #3605
OK, I've thought about this some more. Here is what I think we'd need to do to support deleting 10,000 documents in the UI:
 - RHS list of docs selected should follow the same rules as the LHS bar: only query for ~50 of them. If you want to see more you need to scroll.
    - Simpler solution: only ever show the first 50, just say "…and 9950 more" after that
 - We also want to solve #3465 as part o

[2017-07-05 08:35] bishwas-medic commented on #3605
I can confirm that all the reports and not just the one displayed in LHS are selected.

We've already seen this creating issue. It ends up using a lot of memory and browser hangs up and needs a refresh. In worst case, we had to close the window and open up a new one.

[2017-07-05 09:52] SCdF commented on #1472
Back to you @garethbowen , just some minor notes, but other than that nice one!

[2017-07-05 09:56] SCdF commented on #3582
@garethbowen I noticed you put technical debt on this. To be clear, I think this change adds real features and fixes real bugs:
 - Deployments will be a more stable prospect over bad connections
 - No more waiting for someone to deploy and test one beta so we can release another.
 - Production logs will not magically be deleted a few hours after they are produced
 - Can deploy branches to amz inst

[2017-07-05 09:58] #1472 closed

[2017-07-05 10:14] SCdF commented on #3419
@garethbowen I think Alex isn't going to be around for a bit: over to you to review :-)

[2017-07-05 11:05] derickl commented on #3430
@sglangevin submitting my original form on `alpha.dev` yields the same results. Picked 2 CHP's; only the last was saved.

Currently broken on `2.13.0-alpha.6177`. I'll test it on the most current build. @garethbowen

[2017-07-05 11:17] derickl commented on #3430
@garethbowen - seems to still be broken but in a different way. Closing two CHP's, It saves two instances of the second one. Testing this on `2.13.0-alpha.6254`.

[2017-07-05 11:25] garethbowen commented on #3430
It looks like it's just the names that are wrong - the chp id is correct and if you edit the report it works as expected. I'll have a look at why the rest of the data is wrong.

[2017-07-05 11:29] derickl commented on #3430
Editing the report didn't fix it for me.

[2017-07-05 11:32] garethbowen commented on #3430
Editing won't fix it, it just shows that the IDs are correct.

![ids-used](https://user-images.githubusercontent.com/2064938/27862607-20563a8e-61da-11e7-8986-12cde4bc5211.png)

I can see the problem and I'll look into it. Thanks.

[2017-07-05 11:34] derickl commented on #3430
Choice! (Stefan gave a lesson)

[2017-07-05 11:44] estellecomment commented on #3600
Thanks!

[2017-07-05 11:44] #3600 closed

[2017-07-05 12:08] estellecomment commented on #3416
Cleaned up and ready for review!

Code in sentinel : https://github.com/medic/medic-sentinel/pull/138
Documentation in webapp : https://github.com/medic/medic-webapp/pull/3609/
More documentation in medic-docs : https://github.com/medic/medic-docs/pull/26

(My script to assign random reviewers : `return '@garethbowen'`)

[2017-07-05 12:14] estellecomment commented on #3416
Still todo :
 - [ ] Weird shard error happening when querying the lineage view : `No DB shards could be opened`. Reproduce.
 - [ ] Newlines in SMS messages are disappearing. Is that a feature or a bug?
 - [ ] Should the time window be from now or from date of latest report?

[2017-07-05 13:42] mandric commented on #3605
As an alternative to Stefan's backend approach (middle road/pushing client side to the limit) you might have a UI that shows a max of 1000 and so to delete 10,000 records you would need to do 10 searches until your data is cleaned out.  Still uses bulk edit API, but client makes the request.  We could add an endpoint to API to help with reducing the payload the client needs to send, but backend ch

[2017-07-05 13:45] SCdF commented on #3582
I've pulled out the build generation stuff so we can merge it and get it into master: https://github.com/medic/medic-webapp/pull/3610

[2017-07-05 13:51] estellecomment commented on #3416
`No DB shards could be opened` error was because I was querying the view in parallel, not in series, and if there's more than 25 queries in parallel (from testing by hand, could be approx), it throws that error.

[2017-07-05 14:08] SCdF commented on #3582
NB: this is mostly blocked on being able to build medic-os and run it locally.

[2017-07-05 14:36] SCdF commented on #3606
@estellecomment I've improved the error message and created a proper section in the README with instructions
 - https://github.com/medic/medic-webapp/pull/3611
 - https://github.com/medic/medic-api/pull/173

On Slack you said you saw this error message. Would be good to get your feedback on whether or not this makes sense.

[2017-07-05 14:55] SCdF commented on #3605
@mandric I agree with your first sentence. A simple hack to just select no more than N (I feel like it's more likely to be 100 than 1000) docs. @sglangevin do you have thoughts here?

_(Not sure about the rest of your proposal, I don't really get it / agree with it, but that's neither here nor there)_

[2017-07-05 15:18] estellecomment opened #3612 "Newlines in messages are not displayed in webapp UI"
Formatting eats up newlines by default, so any new lines in task messages are not displayed.
Add `white-space: pre-line` to keep newlines and collapse other whitespace. https://developer.mozilla.org/en-US/docs/Web/CSS/white-space

In template : https://github.com/medic/medic-webapp/blob/master/templates/partials/reports_content.html
(and maybe other places?)

[2017-07-05 15:21] estellecomment commented on #3416
Newlines are a CSS issue, filing separately : https://github.com/medic/medic-webapp/issues/3612

[2017-07-05 16:14] mandric commented on #2678
I would tweak this for the time being since it's such an easy fix and increases dev build time significantly.  When removing `kanso-gardener` from `kanso.json` my `grunt deploy` goes from 59s to 11s.

[2017-07-05 17:25] SCdF commented on #2733
Leaving open as per comments on medic-projects

[2017-07-05 17:37] SCdF commented on #3049
@mandric did you have any strong opinions. My thought is close.

[2017-07-05 18:23] sglangevin commented on #3605
@SCdF can we make it 500? I really like your longer proposal and I'm wondering if we can put in a limit as a quick fix (like the idea, @mandric) and file an issue for the rest which I think would be a great improvement on the back end.

@bishwas-medic if we limit to deleting 500 at a time, do you think that would be enough to handle normal training data deletion? For issues like the one you faced

[2017-07-05 20:17] mandric commented on #3605
Not sure if this helps but here's my "state of the art" project template when it comes to large bulk edits or deletes. https://github.com/medic/medic-bulk-utils/tree/records-support/project-templates/migrations/move-child_name-to-patient_name

[2017-07-05 20:36] mandric commented on #3049
I'd like to add more strictness to the database so you can't just add any doc willy-nilly.  I'd like to see a check for known "types" either using the `type` property or the `_id` property.  Either one should allow us to link to a schema later and know what a document's purpose is and its expected structure.  Can't think of any better way to start adding more meaning to our database.  That's the v

[2017-07-05 22:30] garethbowen commented on #3416
Back to you @estellecomment

[2017-07-05 22:41] garethbowen commented on #3419
Back to you @SCdF

[2017-07-05 22:44] garethbowen commented on #3525
Ok, decision made, I think we're all happy with wrapping instead of ellipsis for now.

[2017-07-05 23:02] sglangevin opened #3613 "Change time listed on Reports tab to be more fine-grained"
At some point during development of v2.x, we adjusted the time labels on reports in the Reports tab to be daily, so we'll see "today" for all reports that have come in today (as in the below screenshot).
![image](https://user-images.githubusercontent.com/1286381/27888318-443550d8-619a-11e7-87b0-d0e452d0ea63.png)

For PMs and partners who are checking instances daily to make sure that reports are c

[2017-07-05 23:47] sglangevin commented on #3391
I agree with @garethbowen - let's try for 3.0.

[2017-07-06 00:28] garethbowen commented on #3593
Two PRs for code review please @estellecomment

[2017-07-06 00:36] sglangevin opened #3615 "Exporting when filtered by report type exports more reports than are displayed in the web app"
To reproduce:
1. Go to the Reports/History tab on standard.app.medicmobile.org
2. Use the report type filter to filter by New Pregnancy
3. See that you have only New Pregnancy reports on the LHS
4. Click "Export"
5. Open your xml file in Excel
6. See that the export includes pregnancy and pregnancy visit reports (pregnancy visit reports shouldn't be there)

When a user filters by report type, only

[2017-07-06 01:37] garethbowen commented on #3615
The problem is the current index splits on non-word characters, so "pregnancy_visit" splits to "pregnancy" and "visit" and returns for both. Working on it now.

[2017-07-06 01:57] garethbowen commented on #3615
Code review please @estellecomment

[2017-07-06 04:18] garethbowen commented on #3430
Code review please @SCdF - just do this one https://github.com/medic/medic-webapp/pull/3617 as the others have been reviewed already.

[2017-07-06 05:15] bishwas-medic commented on #3605
@sglangevin yeah, you are correct. The situation we faced this week (around 42K messages in 3 instances) rarely happens and we can use the scripts to delete them like we did this time. It's the training data that we want the feature mostly for. On most of the trainings, we expect around 600 messages ( 20 trainees x 30 messages) each day. So limiting to 500 should be a great start.

[2017-07-06 06:44] SCdF commented on #3049
Cool, we'll leave it around for another round then. If there is enough interest it can be pushed to be done, or at least scheduled / architected out / planned, if there's not then it can't be that important and we can close it.

[2017-07-06 07:02] estellecomment commented on #3606
Error message LGTM
(I'm not sure why I got it, couldn't reproduce it, ignored)

Webapp build is failing so I'm leaving the merging to you.

[2017-07-06 07:53] SCdF commented on #3419
@garethbowen I added the tests you asked for, take another look

[2017-07-06 08:21] SCdF commented on #3613
I presume there is a reason that we changed it to have less granular?

Unless that reasoning no longer holds, would a solution that satisfies both situations be that the hover text over today etc shows the exact datetime (currently it just shows the date)?. Or even both the exact datetime and how many minutes / hours ago it was?

[2017-07-06 08:26] SCdF commented on #3430
LGTM, merged.

[2017-07-06 08:26] #3430 closed

[2017-07-06 08:35] SCdF opened #3618 "Work out a dashboard that works for us with horticulturalist"
Spawned from #3582

We continue to need dashboard even with horticulturalist, because we need the config ui.

Work out:
 - Which Dashboard we're currently shipping in MedicOS (I believe when I checked we're extracting two `dashboard.couch` files : which one gets used, what source code does that align with?)
 - From that source code, which of the below is best / easiet
   - Ship existing dashboard

[2017-07-06 09:51] SCdF commented on #3605
@sglangevin we can make the number any number you like :P The question is whether or not it will scale to that, and I don't know that answer, we'd have to test.

Also, @bishwas-medic / @sglangevin my understanding--- though this may be old info--- is that we didn't train on the same instances that we worked on (precisely for this reason). It sounds like this has changed?

[2017-07-06 10:06] garethbowen commented on #3419
Merged. I'll leave it up to you to bump the submodule.

[2017-07-06 10:07] bishwas-medic commented on #3605
We've never done that for projects in Asia. That could work for small projects in small areas, but for most of our projects, we have a rolling training schedule. So while one group of training is going on, the older group will have already started sending in reports. That complicates the deletion process.

[2017-07-06 11:04] #3606 closed

[2017-07-06 14:07] SCdF opened #3622 "Flaky e2e test due to deletions not working?"
We have a flaky test! Could our lives get any more fruitful?

The test is [this sms api test](https://github.com/medic/medic-webapp/blob/master/tests/protractor/e2e/sms-gateway.js#L264):
[code]

Which sometimes fails because there are more than 2 messages. In one instance of its failure (there may be more) everything after the first two here should not exist:

[code]

All of these extra messages a

[2017-07-06 14:10] sglangevin commented on #3605
@SCdF we are only doing that for projects where CHWs are using the Android app. For SMS projects, we use the same instance for training and the deployment.

[2017-07-06 14:17] estellecomment commented on #3593
Commented on the commit for api one : https://github.com/medic/medic-api/commit/255a2f612ff306ce4169c0b4b059710cad1e395d

And then good to merge.

[2017-07-06 15:13] SCdF commented on #3618
OK I think we can probably just drop dashboard completely and use this: https://github.com/json-schema-form/angular-schema-form

Here is our schema rendered in their system: http://schemaform.io/examples/bootstrap-example.html#/1a3e926acff03706a2b64950e8e3cf41

The form seems cool, as it allows us to override formatting if we want to, but we don't have to.

So it seems pretty legit. The library is

[2017-07-06 17:23] sglangevin commented on #3613
Let's find out what the reasoning for changing it was and take it from there. Your other ideas could be good options if we had a good reason for changing it. My guess is that the preference will be to see the more granular time so that users don't have to hover over each message to see the time.

[2017-07-06 17:36] sglangevin opened #3624 "Cascading selects do not work in our version of Enketo"
@alxndrsn's notes from the original issue (https://github.com/medic/medic-projects/issues/2276):

From enketo-xslt:

–https://github.com/enketo/enketo-xslt/blob/master/xsl/openrosa2html5form.xsl#L186

I guess they don't do what we want.

It's seems this is due to an XPath 2.0 operations in the XSL stylesheet, so this probably works in enketo-core.

Expressions/functions that will need rewriting:
-

[2017-07-06 19:00] sglangevin commented on #3356
@SCdF this issue has resurfaced: https://github.com/medic/medic-projects/issues/2427

Since read status will be removed from the doc in v2.13.0, I'm guessing we should test this again in v2.13.0 and see if the problem goes away? We can't reliably reproduce it so it's probably to do with Sentinel and conflicts if I had to guess.

[2017-07-06 19:21] sglangevin commented on #3324
Still relevant but not high priority.

[2017-07-06 19:23] sglangevin commented on #2203
@mandric @browndav can this be closed? It's come up for triage 3 times now.

[2017-07-06 19:25] sglangevin commented on #3604
Yes!

[2017-07-06 20:24] abbyad opened #3625 "Hide Collect XForms from filter list in History tab"
For instances that use Collect, TextForms and App-workflows we will have multiple items in the History/Report tab's form filter, as seen here:
![image](https://user-images.githubusercontent.com/789512/27930674-7c7b20dc-6265-11e7-8e01-5f1391b6b4a9.png)

In the image above there are 4 delivery reports:
1) XForm used for the app workflow
2) XForm served to the Collect app (not used for parsing)
3) JS

[2017-07-06 22:12] #3615 closed

[2017-07-06 22:14] #3593 closed

[2017-07-06 22:37] sglangevin commented on #3513
I'm going to bump this one to the next release so that we can focus on getting Nepali date entry working on Collect and in the web app first.

[2017-07-06 22:44] sglangevin opened #3627 "Generate scheduled messages just-in-time so changes to contacts are reflected in yet to be sent messages"
For longer-term message schedules, data can easily become stale between the time the schedule is created and the time the scheduled messages are sent. For example, you register a pregnancy today, the EDD is 6 months from now, and messages will be going out for the next 6 months. It's likely the CHW's phone number may change or the name of the mother may be updated in the app during those 6 months.

[2017-07-06 22:45] garethbowen opened #3628 "Fix `npm ls` errors"
In webapp, sentinel, and api we get errors when we `npm ls`. There are two main causes - using version `latest` and using git hashes for dependencies.

I think the error on `latest` is because it's a specific version, not a range, so it quickly gets out of sync with the version in the package-lock.json. Change this to a wide range to solve it.

I think the error on git hashes is somehow it makes i

[2017-07-06 22:57] sglangevin commented on #2522
This issue has been worked on by the design team and is ready for development. The below image is a good overview of how the widgets are meant to look. Note that we will continue to have only 2 types of widgets for now: counts and percents. More information, including Zeplin files, is in [the design spec](https://docs.google.com/document/d/1_CrLQXy_P0OobjyWoMEOZgNVcJRkIvVd-35wgFuUkLg/edit#heading=

[2017-07-06 23:06] sglangevin opened #3629 "Update target widget cards and targets page layout"
TO DO:
- [x] set height of widget card to 180px (gets taller if there is more text)
- [x] set width of widget card to 350px (unless screen is smaller than 400px, in which case it should be 100% of screen width)
- [x] change background color of widget cards to white
- [x] set card border to 1px #E0E0E0
- [x] line breaks can be between words or between syllables (put a hyphen on the first line and t

[2017-07-06 23:08] sglangevin commented on #2522
We can also break this up into two issues, one for count targets and one for percent targets, if that makes more sense. Maybe @estellecomment has thoughts?

[2017-07-07 00:47] garethbowen commented on #2522
I think one issue is fine - it could get messy trying to do one without breaking the other.

[2017-07-07 02:01] garethbowen opened #3630 "Remove boilerplate tests for transition function signatures"
Lots of our transition unit tests check that the two required functions (`filter` and `onMatch`) exist with the require number of parameters. This is boilerplate we shouldn't have to write every time. It's also fallible because new transitions authors may not bother writing them.

Create a generic test that loops over all available transitions and tests the function signature.

[2017-07-07 02:13] garethbowen commented on #3630
Code review please @mandric

[2017-07-07 06:16] SCdF commented on #3627
So there are two things here that I can see:
 - Data gets out of date sometimes
 - Config gets out of date sometimes

The first one is probably pretty easy to solve: just don't run the message through the templater until it's time to send it.

The second one sounds like a large architectural rewrite, though I'd need to look into it in more detail. But from my understanding we'd be moving from gene

[2017-07-07 06:18] SCdF commented on #3628
FWIW Node 5.x now supports proper git tagged versions (`"foo": "medic/foo-fork^1.2.2"`). I haven't looked into whether this stops `npm ls` from complaining though.

[2017-07-07 08:17] estellecomment opened #3631 "Performance issues with multi_form_alerts"
`sentinel/transitions/multi_form_alerts.js` needs to bulk fetch hydrated docs. Currently `sentinel/lib/lineage.js` only has single doc fetch.

Implement bulk fetch hydrated docs.
We'll need to fetch lineage from `docs_by_id_lineage` view one by one, but after than the contacts/parents to link can all be fetched in one bulk query.

(from #3416)

[2017-07-07 09:42] SCdF commented on #3628
I've done https://www.npmjs.com/package/@medic/grunt-contrib-watch and https://www.npmjs.com/package/@medic/enketo-core

@alxndrsn with https://www.npmjs.com/package/@medic/enketo-core I just gave it the version that was in the existing package.json. The tag we were attached to had a very different version number, so I'm not sure how you want to version this. Also, none of the tags were in either

[2017-07-07 12:14] SCdF commented on #3628
It was more complicated than I thought, because the package name changes and so all of your imports and other things change.

Api: https://github.com/medic/medic-api/pull/175
Sentinel: https://github.com/medic/medic-sentinel/pull/140

Webapp: https://github.com/medic/medic-webapp/pull/3632
Note also the changes I had to make to our enketo-core fork to make it work: https://github.com/medic/enketo-

[2017-07-07 13:16] SCdF commented on #3630
This causes a bug in real-world situations because the test function hook was called recursively: https://github.com/medic/medic-sentinel/blob/master/transitions/index.js#L128

[2017-07-07 13:18] SCdF commented on #3630
@garethbowen https://github.com/medic/medic-sentinel/pull/141

[2017-07-07 14:52] henokgetachew commented on #3360
@browndav: PR submitted.

[2017-07-07 16:08] sglangevin commented on #3627
Thanks for the feedback @SCdF. I agree that it makes sense to split this into two as the first part is the priority but the second part would be good to do in the future.

[2017-07-07 16:15] sglangevin opened #3634 "Generate schedule just-in-time so changes to configuration are reflected in yet to be sent messages"
Split off from #3627.

For longer-term message schedules, configuration may change between the time the schedule is created and the time the scheduled messages are to be sent. For example, you register a pregnancy today, the EDD is 6 months from now, and messages will be going out for the next 6 months. It's possible that the schedule  may change during those 6 months. For longer-term use cases, l

[2017-07-07 17:05] estellecomment opened #3635 "Analytics need to differentiate multi_form_alerts messages from others"
from #3416

`multi_form_alerts` messages should be tracked in analytics. Currently there's no way to tell from the `data_record` which messages are from an alert and which are other types.

Add a field to make the difference queryable by analytics.

[2017-07-07 17:11] estellecomment commented on #3631
Additional performance issue :
`getReportsWithinTimeWindow` queries reports_by_date` view, within the time window. On big instances, and/or with long time window, that could be a lot of reports and cause OOMs.

Make the `getReportsWithinTimeWindow` and the report counting run on batches of reports.

[2017-07-07 17:43] #3630 closed

[2017-07-09 20:38] garethbowen commented on #3630
Thanks @SCdF ! I should have run sentinel before merging...

[2017-07-09 20:43] garethbowen commented on #3360
This has been reviewed by Dave - setting labels correctly.

For AT: make sure the patch is included in your medic-os, then test that

1. you cannot access futon or dashboard through nginx
2. you can access futon or dashboard using a tunnel
3. creating users in the app still works
4. updating configuration in the app still works

[2017-07-09 20:43] #3360 closed

[2017-07-09 23:03] garethbowen opened #3636 "Merge api full stack tests into webapp"
We have e2e and integration tests in api which are executed as part of the webapp build because they rely on having the full stack running. This is confusing to me because along with the webapp e2e tests this makes three different places where we're defining full stack tests. It also means sometimes they get missed when running tests locally.

There is also some code duplication caused by api test

[2017-07-10 00:41] garethbowen commented on #3628
I've merged this so master will be green again, however there is one more improvement that would be good to make, as commented in the PR:

I'll leave it up to you to decide if it's worth doing this now or not.

Nice work!

[2017-07-10 01:30] #3602 closed

[2017-07-10 01:51] garethbowen commented on #3613
This was done to fix #1947

As far as I see it, the options are:

1. Roll the change back, the times will get out of date until the item is rendered again (nav to a different tab and back, do a search, refresh the page, etc)
2. Roll the change back and reduce the existing refresh timer from 24 hours to 30 minutes or so
3. Roll the change back and implement some lightweight mechanism to update thes

[2017-07-10 02:11] garethbowen commented on #3525
Code review please @SCdF

[2017-07-10 02:29] garethbowen commented on #3596
Two reviews please @alxndrsn

[2017-07-10 02:44] garethbowen commented on #3182
Scheduling - this should be a quick win.

[2017-07-10 03:39] #3416 closed

[2017-07-10 04:27] sglangevin commented on #3613
Thanks for the context @garethbowen. I'd be fine with 1 as a quick fix for now, though if 2 is easy and won't cause a performance hit on servers with a lot of data then we should do that. In the longer term, I'd like to do 3, but I think that can wait in the interest of keeping this issue small.

I have been wanting to do a livelist review as there are a number of small, related issues like this o

[2017-07-10 04:53] sglangevin opened #3639 "Configurable place hierarchies"
Originally reported in #118. Our current hierarchy is limited to 3 levels with hard-coded names. This creates a number of limitations in our deployments, particularly when trying to ensure that users have access to only the data they should/need to have access to. We've been working around this by creatively designing the hierarchy so that it works well enough, but what we really need is more leve

[2017-07-10 06:13] diannakane commented on #2996
As @slangevin said in #3604, we are planning to redesign this completely later this year. @garethbowen do you have a quick fix in mind?

[2017-07-10 06:20] diannakane commented on #2309
This sounds completely reasonable to me. Any concerns, @amandacilek?

If agreed, we can take care of it as a small issue and add keyboard accessibility to our list of audits to be done in Q3/Q4.

[2017-07-10 06:26] sglangevin commented on #3430
@derickl - you up for another try with AT? This change is now in alpha.

[2017-07-10 06:53] diannakane commented on #3461
@slangevin do you want to fix this as a bug or close in favor of fixing alongside the nav update in September?

[2017-07-10 08:45] SCdF opened #3640 "Document Update Conflict caused error in accept_patient_report transition"
Report is this one: https://ohw-dhading.app.medicmobile.org/_couch/_utils/document.html?medic/b074803dc1ce31e3259d9627d4f2cd46

I have a full copy of each version up until the conflict gets noted.

In brief though:

_rev 1 has an error:
[code]
Then _rev2 has no errors, and a bunch of successful transitions:
[code]
Then _rev 3 has the DUC error and a failed transition:
[code]

[2017-07-10 08:51] garethbowen commented on #2996
@diannakane No quick fix no. I found a whole lot of GH issues in the user configuration section so thought I'd redo the whole lot, but once I found out it was on the list for redesign I decided to wait for that. I've marked all the issues I found with the "Users" label so you can see what people don't like in the current screens.

[2017-07-10 08:55] garethbowen commented on #3613
Batching the issues sounds good, however this one is special. Most often the list needs to be updated because something in the database changed but with this one it's just a matter of another minute ticking by so it's a different kettle of fish from a dev perspective.

[2017-07-10 09:33] alxndrsn commented on #3461
This is a large regression in the current implementation and likely very simple to fix.  I suggest prioritising this in the short term.

[2017-07-10 10:14] SCdF commented on #3525
LGTM, merged.

[2017-07-10 10:14] #3525 closed

[2017-07-10 10:28] alxndrsn commented on #3461
I suspect this is caused by a conjunction of changes related to android wrapper and the webapp code supporting it:

1. https://github.com/medic/medic-android/commit/c9739964085fdb9dbfe95774bc848e46f0f05cb1
2. https://github.com/medic/medic-webapp/commit/ce93efb5527ca9ded79fbdd4b83e2db6c6c1084a

[2017-07-10 10:28] SCdF commented on #3628
I'm OK with this for now. If we come back to having to edit this again then we can work out how this works.

[2017-07-10 10:28] #3628 closed

[2017-07-10 11:41] SLangevin commented on #3461
Mentioning the wrong user guys :)  I'm not too bad with Android dev tho haha

[2017-07-10 11:41] sglangevin commented on #3640
Is this happening consistently on that instance or only sometimes? cc @bishwas-medic

[2017-07-10 11:43] sglangevin commented on #3461
@diannakane make sure you use @sglangevin please.

@alxndrsn if this is easy to fix, let's fix it. We can put the bug fix in 2.14.0 (or a point release after 2.13 goes out) as I'd like us to focus on finishing up 2.13.0 features for now.

[2017-07-10 12:07] diannakane commented on #3461
Sorry about that! Responded from my email and took a guess...

[2017-07-10 13:42] bishwas-medic commented on #3640
This is the first time I've seen that error appearing in any instance. Haven't found other reports with the same error. Nothing further has been reported by the PM or partners.

[2017-07-10 15:06] SCdF commented on #3622
Closed with: https://github.com/medic/medic-webapp/pull/3633/files

[2017-07-10 15:06] #3622 closed

[2017-07-10 15:12] amandacilek commented on #2309
Makes sense. Keyboard accessibility is not something I know much about but happy to learn more and help. Something we should strive for.

[2017-07-10 16:56] alxndrsn opened #3641 "openrosa-formlist throws unhelpful error when host responds badly or can't be found"
[code]

[2017-07-10 17:05] alxndrsn opened #3642 "Only serve collect-specific XML forms to collect"
When requests are made to `/api/v1/forms` with the header `X-OpenRosa-Version: 1.0` set, only forms with `context.collect: true` should be served.

[2017-07-10 18:01] SCdF commented on #3506
The linked PR has been merged into PouchDB!

Next stage, waiting for a release so we can upgrade to it.

[2017-07-10 20:42] garethbowen commented on #3594
One issue with using CSV is the current export has tabs for each form which isn't supported by the CSV format.

I recommend we change the download from xml to xls (or xlsx) which should just work.

[2017-07-10 22:57] garethbowen commented on #3642
It'd be good to add a test to the medic-collect e2e test for this: https://github.com/medic/medic-webapp/blob/master/tests/protractor/e2e/medic-collect.js

[2017-07-10 23:05] garethbowen commented on #3506
When we upgrade we have to also solve the problem that `angular-pouch` is hardcoded to use `6.0.5`. We'll either need to hack the package-lock, patch angular-pouch, or fork it to make sure we're using the right version.

I assume this is meant to be closed now as it's blocked. @SCdF Please reopen if I'm jumping the gun...

[2017-07-10 23:05] #3506 closed

[2017-07-10 23:05] garethbowen commented on #3506
This can't be acceptance tested yet, and I don't think it's possible to acceptance test it anyway, so I'm going to move it to Ready.

[2017-07-10 23:08] garethbowen commented on #3408
@alxndrsn Would you mind finishing this off while @estellecomment is away?

[2017-07-10 23:09] garethbowen commented on #3393
This should be done, but it's not a priority right now. Moving out of the milestone.

[2017-07-10 23:09] garethbowen commented on #3151
This should be done but it's not a priority right now. Moving out of the milestone.

[2017-07-10 23:12] garethbowen commented on #3096
@sglangevin Should this be scheduled in a Project? Maybe 2.13.0?

[2017-07-10 23:14] garethbowen commented on #3596
Reassigning to @SCdF to free up Alex a bit.

[2017-07-11 00:19] garethbowen opened #3644 "Stop writing remote checkpoints"
When [PouchDB 6.3.0 is released](https://github.com/pouchdb/pouchdb/issues/6579) investigate [disabling writing of remote checkpoints](https://github.com/pouchdb/pouchdb/issues/6308).

Make sure there's no downside first...

[2017-07-11 02:58] garethbowen commented on #3639
This also solves https://github.com/medic/medic-webapp/issues/857

[2017-07-11 02:58] garethbowen commented on #857
This will be solved by making the hierarchy configurable in #3639

[2017-07-11 02:58] #857 closed

[2017-07-11 05:43] sglangevin commented on #3096
@alxndrsn is this done? If so, we can include it in 2.13.0. If not, it can wait longer as 2.13.0 has a lot in it.

[2017-07-11 07:51] SCdF commented on #3596
LGTM, merged.

[2017-07-11 07:51] #3596 closed

[2017-07-11 08:48] alxndrsn commented on #3096
It should probably wait - i've got it working, but not production-ready.  The following are still to do:
- [ ] finalise photo/camera/media-related changes to xforms spec and update the following:
  - [ ] our XSL stylesheets
  - [ ] get medic-android intent handler
  - [ ] update enketo photo widget
- [ ] write some tests

[2017-07-11 09:19] alxndrsn commented on #3644
Looks like a big winner.

[2017-07-11 09:19] alxndrsn commented on #3607
Duplicated at https://github.com/medic/medic-webapp/issues/3642

[2017-07-11 10:43] garethbowen commented on #3182
Code review please @SCdF

Once this is merged leave it open and assign it back to me so I can test on an actual server using https.

[2017-07-11 12:05] SCdF commented on #3182
Back to you @garethbowen. Mostly fine, just a comment about implementation and security therein.

[2017-07-11 13:36] SCdF commented on #3618
Update as I haven't posted against this ticket for awhile:
 - Performance is I think not what it could be. I think the library that we used in Dashboard was faster at least
 - However, we can easily create forms and tabulate them to reduce how long it takes to render. It would also make the configuration clearer.
 - Buggggs. Maybe this isn't supported in the spec they're following, but at `array->

[2017-07-11 15:14] SCdF commented on #3618
I got tricked! (sort of). This library is under active development, but against a 1.0.0 version that is currently in alpha. The version that I've been pulling down from npm is a year old, and this is where the bugs are coming from (this is also why when I played with it online with the link above things worked better).

The question now, is do we use the alpha version (and possibly contribute to i

[2017-07-11 15:51] alxndrsn commented on #3618
I don't have a strong opinion about this.  I had a quick look at that generated form and it was very confusing, but perhaps that's a feature of our config format.

[2017-07-11 15:59] SCdF commented on #3618
Yeah it's not the best. I think we can make it better though when we manage it ourselves:
 - When can split it into shorter sections
 - We can control what is shown via manually specifying stuff in forms. What you clicked is just it going nuts with the entire schema, which probably isn't sensible or required.
 - There probably isn't a huge reason we couldn't refactor it pretty extensively, as long

[2017-07-11 18:21] SCdF commented on #3605
Select All currently seems to be broken.

While individually selecting reports correctly adds them to `$scope.model.docs` (somehow), select all manages to add the right number of entries to this array, but they are all undefined instead of having a value. *Unless*, you expand a doc on the RHS after hitting select all. Any docs you select will be hydrated from undefined to the correct stub that can

[2017-07-11 21:53] garethbowen commented on #3472
@henokgetachew Can you update this at all? Do we overwrite `secret` on upgrade?

[2017-07-12 01:03] garethbowen commented on #3182
Yeah good call. I've changed it to use the NODE_ENV environment variable which I think we're setting to [production in medic-os](https://github.com/medic/medic-os/tree/master/platform/packages/gardener/settings/gardener/env). It's another thing I'll test when this gets merged.

Please re-review @SCdF

[2017-07-12 01:06] garethbowen commented on #3618
I'm not keen on using alpha in production and I don't really want to block this based on factors outside of our control, so unless you think they're really close to going final, or you think we should help them finish, I'd find a different package.

[2017-07-12 02:39] garethbowen opened #3645 "URI encode usernames and passwords everywhere basic auth is used"
In medic-gateway we have a [note requiring passwords not use certain characters](https://github.com/medic/medic-gateway#passwords) because we use basic auth so the passwords are inlined in the URL. When this guideline is ignored gateway fails to connect in a way that's hard to diagnose.

Instead of a guideline we should be able to URL encode the username and password so they just work.

I've teste

[2017-07-12 02:40] garethbowen commented on #3645
@alxndrsn I'd appreciate any insight here.

Also, does this affect any other of our apps (eg: medic-collect)?

[2017-07-12 08:47] alxndrsn commented on #2912
I'll work on this with @abbyad next week.

[2017-07-12 09:40] SCdF commented on #3182
LGTM @garethbowen, back to you to test etc

[2017-07-12 11:12] garethbowen commented on #3391
This is scheduled for 3.0 so I'll drop it out of this milestone for now.

[2017-07-12 12:29] SCdF opened #3646 "Select All in bulk delete doesn't work"
All docs are set to undefined and so cannot be deleted.

[2017-07-12 12:33] SCdF commented on #3646
@garethbowen over to you. Not sure if this is the right move, there is probably a better thing that could be done here.

[2017-07-12 16:04] SCdF commented on #3605
Fixed the above issue, see: https://github.com/medic/medic-webapp/issues/3646

Unfortunately medic-api (or express, or nodejs) is causing us to get this if we try to push more than 150 or so docs:
[code]

[2017-07-12 17:50] SCdF commented on #3605
This seems to be related to our friend auditing, unfortunately.

[2017-07-12 20:40] garethbowen commented on #3646
Back to you @SCdF

[2017-07-12 22:10] mandric opened #3648 "inadvertent cached data"
https://github.com/medic/medic-projects/issues/2473

[2017-07-12 22:35] michaelkohn commented on #3635
According to @estellecomment , the alerts will show up in the `tasks` field of the `data_record`.  From what I can tell, the only other message type we have in there are auto replies, but there may be others.  Ideally we could add a `type` field at the same level as the `state` field, which is the same as what we do for `scheduled_tasks`.

#
![screen shot 2017-07-12 at 3 27 12 pm](https://user-ima

[2017-07-12 23:02] michaelkohn commented on #3635
Thinking about it some more.... I'm not sure if we will be recording any history related to these messages anywhere other than on the `data_record`, but if not, we might want to include somewhat detailed information for traceability purposes.

- Would I be able to know which other records were counted when generating this alert?
- If I wanted to know the number of suspected measles outbreaks (for

[2017-07-13 01:18] garethbowen commented on #3585
Code review please @SCdF

[2017-07-13 10:12] garethbowen commented on #3631
@SCdF Review please good sir!

[2017-07-13 11:00] SCdF commented on #3585
@garethbowen I'm happy with the code as-is, though there are some discussions starters on the PR.

Could you please also:
 - Document the changes to the API where appropriate (either in the sentinel readme or in medic-docs, I forget where that documentation is right now)
 - Create a medic-webapp PR so that the e2e / int tests run (this wasn't a checkbox in your PR, I thought Milan added it?)

[2017-07-13 12:10] SCdF commented on #3631
Back to you @garethbowen.

Also note that you need a medic-webapp build to make sure e2e tests still pass etc.

[2017-07-13 17:21] derickl commented on #3635
I can't come up with anything at the moment. @samkanga @katanu any thoughts on the above? What else would you love to look at around the alerts sent?

[2017-07-13 18:56] derickl commented on #3430
@sglangevin AT was in progress before alpha.dev went down

[2017-07-13 19:47] abbyad commented on #3625
In setting up standard.app to test the Collect forms the filter is completely empty and I see this error in console:
[code]

This means that the effect of this issue isn't having a form in the list that wont have submissions, but rather that the list doesn't show at all if Collect forms are being used (since they reuse the same form id as the JSON forms used for TextForms).

[2017-07-13 20:28] garethbowen commented on #3644
PouchDB 6.3.2 has just been released. This reduces the chance of id conflicts, allows for the above performance improvement, and has a bunch of tweaks. Thus I'm scheduling this for 2.13.0 despite being close to our release date.

NB when upgrading we need to fix angular-pouch depending on an old (6.0.x) version of Pouch. Ideally this would be by getting a PR merged into angular-pouch, but if not e

[2017-07-13 22:45] garethbowen opened #3655 "Use transition.init everywhere"
We recently added an init function that gets called when the transition is loaded. This means we can do validation of configuration early rather than waiting for a change to fire the transition. I've done a quick audit to check if other transitions could benefit from this approach and found the following:

- [ ] https://github.com/medic/medic-sentinel/blob/master/transitions/registration.js#L382
-

[2017-07-13 23:07] #3631 closed

[2017-07-14 02:12] sglangevin commented on #3430
Yep - I saw that. Thanks for noting that here.

[2017-07-14 09:10] sglangevin commented on #3607
Moving out of 2.14 as the work for this is being done in #3642 and closing this issue as a duplicate.

[2017-07-14 09:10] #3607 closed

[2017-07-14 09:28] SCdF opened #3656 "Improve error messages"
Improve the error messages in the SMS endpoint to make it clearer what is going wrong.

[2017-07-14 09:33] SCdF commented on #3656
PR to merge to master is here: https://github.com/medic/medic-api/pull/180

I've already cherry picked these changes into the 2.12.x api branch, and modified the webapp 2.12.x branch to have the updated api.

Plz take a look young @alxndrsn

[2017-07-14 10:45] SCdF commented on #3656
We don't actually want to do this, we want to let empty SMS through.

[2017-07-14 10:45] #3656 closed

[2017-07-14 10:50] sglangevin commented on #3625
Do we need to reuse form IDs? That sounds like something we would want to avoid.

[2017-07-14 10:52] sglangevin opened #3657 "Add permissions to control whether or not users see the call and message buttons on mobile"
Currently, all users see the call and message buttons on the bottom bar of any person's profile in mobile view, as in the below screenshot.

![image](https://user-images.githubusercontent.com/1286381/28207640-2ad6de2e-68aa-11e7-829c-b693482fc4c0.png)

For the upcoming UNICEF deployment, the partner needs to be able to hide the call and message buttons. We'd like to add permissions to control wheth

[2017-07-14 11:15] SCdF opened #3658 "Allow SMS with empty content through"
We should throw errors if the SMS JSON request is *malformed*, but not if the message content is present but empty.

[2017-07-14 11:24] henokgetachew opened #3659 "Warn when non medic-os instances have security updates that haven't been installed"

[2017-07-14 11:40] sglangevin opened #3660 "Update top navigation bar on desktop and mobile"
Relevant section of design spec: https://docs.google.com/document/d/1c-silPsrR92opiQaGU05te8MzsFnUjYCPUpsi2Vo9Vc/edit#bookmark=id.qityfo7awhp6

The Home tab will be added in another issue. This issue is focused on updating the size and styling of the top navigation bar and adding labels to the top nav on mobile.

On mobile:
- [ ] top black bar should be 52px tall
- [ ] top colored bar should be 38

[2017-07-14 13:03] #3658 closed

[2017-07-14 15:24] abbyad commented on #3625
Yes and no....

**YES:** The Collect form does need a corresponding JSON form, regardless of whether that form is used by TextForms or not.

**NO:** Technically we can hack a Collect XForm to submit a form with a different ID by specifying a prefix with a different form code.

From an earlier conversation with @alxndrsn it would seem to me that the effort of hacking and maintaining a XForm to have

[2017-07-14 15:51] sglangevin opened #3662 "Add a new tab: Home"
Relevant section of the design spec: https://docs.google.com/document/d/1c-silPsrR92opiQaGU05te8MzsFnUjYCPUpsi2Vo9Vc/edit#bookmark=id.fps3u28imawh

Key tasks:
- [ ] create home tab
- [ ] add sync note and welcome note
- [ ] create CTA buttons
- [ ] add permissions so that the Home tab can be hidden or moved to the hamburger menu

We'd like to add a new tab to the app, a landing page for when users

[2017-07-14 18:28] abbyad commented on #3625
Ok, turns out https://github.com/medic/medic-webapp/issues/3625#issuecomment-315182868 was an error on my part in the form config.  I had changed the filename to match the form id (as per #3342) and that left a relic on couchdb with the same internal form id.

**This issue is now back to having a form in the list that wont have submissions**

It is therefor not _as_ high a priority, and sorry for

[2017-07-14 19:10] abbyad commented on #3625
Just thought I'd show what it actually looks like on standard.app when configured:
![image](https://user-images.githubusercontent.com/789512/28226993-178c6766-68a6-11e7-8337-5bcaf65edb21.png)

The duplicate names in the list are the Collect + App XForms. Selecting the Collect one will never show a result. The name shown in this list is the same as in Collect so it is not practical to rename it to

[2017-07-14 19:29] abbyad commented on #3642
For completeness here is what it looks like in Collect if you see all the forms, until this is resolved:
![image](https://user-images.githubusercontent.com/789512/28227683-103591b0-68a9-11e7-832d-1555575a48eb.png)

Notice that you have the app and Collect forms together, including the contact forms.

[2017-07-15 15:58] henokgetachew commented on #3472
@garethbowen we overwrite `secret` on upgrade right now yes.  However, what we're doing with the larger instances is copy this value to preserve it and put it back in after the upgrade.  It has worked fine for lg.app and lg-kenya.app instances.  The `.d` folders are available now after the upgrade and we could just copy those files from now on and paste them on the new instances as well.  Preservi

[2017-07-15 15:58] #3472 closed

[2017-07-16 20:01] garethbowen commented on #3472
Ok sounds fine. We should definitely solve this at some point.

[2017-07-16 20:28] garethbowen opened #3668 "Don't load any transitions if one of them fails init"
We recently added an init function that gets called when the transition is loaded. If the init function throws an error we log it then continue to load the other transitions. This means that when the configuration is fixed and the transition loads it has potentially missed a whole bunch of changes.

Change this so we fail to load all transitions until all transition.init functions succeed.