[2018-02-19 16:50] SCdF commented on #4208
I updated the description

[2018-02-19 17:44] SCdF commented on #4185
Here is my idea for how to implement this:
 - Two types of replication to consider: normal and longpoll
 - PouchDB initiates all replications like they are standard non-filtered replications from its perspective
 - We keep the current view that we have, which, given a document, emits all facilities that have access to it (and some meta types like `_all` and `_admin`)
 - API code, for normal replic

[2018-02-19 18:58] SCdF commented on #3594
Whoops, I still have to look into and fix the bug in API where date ranges are not honoured.

[2018-02-19 20:26] ngaruko commented on #3956
Do we need closed before 2.14 release @sglangevin ?

[2018-02-19 21:44] ngaruko opened #4209 "Show meaningful error when 'username' is already taken"
When creating a new user, if the user name is already in the database, the UI shows `Error updating user` message. It would be good to have a more meaningful error as it is in the console (` "Username "data" already taken."`.
![image](https://user-images.githubusercontent.com/6979995/36398169-9e4c85b0-162a-11e8-9669-c9e26f303abf.png)

[2018-02-19 21:47] garethbowen commented on #4185
@SCdF This is along the right lines but there is a large performance issue in your normal replication. If a project with millions of seqs gets a new user they will do a normal replication from seq 0. The `limit` at the moment is 100 which means making a request for the first 100 changes, filters them all out, then requests the next 100. This will make initial replication to an established project

[2018-02-19 23:38] ngaruko commented on #4140
I made some comments to the [medic/medic-projects#3313 ](https://github.com/medic/medic-projects/issues/3313) . Please have  a look and see if anything needs further attention @SCdF

[2018-02-20 03:00] ngaruko opened #4210 "Make logged in user easily discoverable on Android"
We recently allowed Android users to log out if they have the `can_logout` permissions, as `requested by a partner who has multiple users sharing an Android tablet`. Wouldn’t be nice to have a way on the phone to know at a glance (maybe on opening the hamburger menu) which user is logged in. Not a biggie since we still can get there by going to ‘edit user profile’ in ‘user settings’ but I thought

[2018-02-20 03:10] ngaruko opened #4211 "Export server logs not working"
Tested on local `2.15.0-alpha.9102` and `alpha.dev` version `2.15.0-alpha.9102`
To reproduce, log in as admin, go to Configurations, Import & Export, server logs, click Export
Expected: server logs download popup
Current behavior: Nothing happens for a while, no errors in console, then the app crashes with either `server error` or
![image](https://user-images.githubusercontent.com/6979995/36405950

[2018-02-20 04:34] sglangevin commented on #4210
This is going to be fixed in 3.1.0. We don't plan to do anything related to this until the big UI refresh, so I'd recommend we close this issue as it will be coming in the future.

[2018-02-20 09:53] SCdF commented on #4211
Is alpha.dev docker / horti?

I wouldn't expect this to work locally.

FWIW if we have any problems with this feature my vote would be to drop it.

[2018-02-20 11:35] alxndrsn opened #4212 "Fix pouch/tecno patch regression"
`pouchdb-adapter-idb` is included as a dependency in `medic-webapp`, but actually unused - it's included inline in the `pouchdb-browser` dependency.  This means that since changing to this lib (or perhaps: since this lib has stopped using `require()` calls), we have re-introduced #2797.

We need to:
- [x] remove direct dependency on `pouchdb-adapter-idb`
  - [x] `package.json`
  - [x] `package-loc

[2018-02-20 11:59] alxndrsn commented on #4212
Introduced in 721d9111e965fedec85d74ac2e84f1a55537bb98, so has not been released yet.

[2018-02-20 12:00] alxndrsn commented on #4120
Original has only been called since webworker was removed (721d9111e).

Fixes will need backporting.

[2018-02-20 12:12] SCdF commented on #4185
@garethbowen do you think performance would be acceptable if we did that looping on the API side? So the user sends a changes feed request for 100 docs, and api requests as many changes feed as required to fill that hundred (or run out)?

If we ignore deleting for now, then just requesting the docs from the view first and then doing a doc filtered changes request seems like a good idea. I believe

[2018-02-20 12:14] SCdF commented on #3594
Twas but a small thing. Fixed.

[2018-02-20 15:43] alxndrsn commented on #4175
On desktop, this does not appear to have significant effect.

[2018-02-20 15:43] #4175 closed

[2018-02-20 17:31] browndav commented on #4204
Pull requests submitted: https://github.com/medic/medic-os/pull/29, https://github.com/medic/horticulturalist/pull/4.

[2018-02-20 17:32] browndav commented on #4157
Pull requests submitted: https://github.com/medic/medic-os/pull/29, https://github.com/medic/horticulturalist/pull/4.

[2018-02-20 17:48] browndav commented on #4157
For standard configuration of `medic-webapp`, rely on this: https://github.com/medic/medic-webapp/issues/3779.

[2018-02-20 17:49] #4038 closed

[2018-02-20 17:50] #3023 closed

[2018-02-20 17:53] garethbowen commented on #4178
We've dropped worker-pouch so this should now be fixed. I'll release a new worker-pouch so if we go back to using it this bug won't come back and also so everyone else gets the patch. But for now, we can just AT that this is no longer the case!

[2018-02-20 17:55] garethbowen commented on #4090
@jillrshah @abbyad Any ideas how we can get this closed off?

[2018-02-20 18:13] #3983 closed

[2018-02-20 18:18] alxndrsn commented on #4131
Asked on ODK slack at https://opendatakit.slack.com/archives/C3K3P0WS2/p1519150596000410

[2018-02-20 19:48] sglangevin commented on #3956
No - this is scheduled for 2.15 so it needs to be tested before the release of 2.15.

[2018-02-20 20:50] garethbowen commented on #4212
Merged and backported (manually) to `2.14.x`.

Needs some serious AT to make sure the changes request never reverts to `since=0`.

[2018-02-20 20:51] garethbowen commented on #4120
I've merged and backported that PR. @alxndrsn Is there anything more to do on this issue?

[2018-02-20 20:53] garethbowen commented on #4176
@alxndrsn I think this is fixed by #4212 ?

[2018-02-20 21:05] garethbowen commented on #4185
That's what I assumed we'd do anyway - I still think it would take a very long time. Say you have 10m changes, and you use a pagination of 1000 (probably ok because you're not including docs), and say we start from 0 and there are very few docs that match (it's a new user), you'll have to iterate 10,000 times in API before you can return to the user. Each iteration has to make a further request to

[2018-02-20 22:57] ngaruko commented on #4210
Thanks @sglangevin . Closing this pending v3.1.0

[2018-02-20 22:57] #4210 closed

[2018-02-20 23:05] ngaruko commented on #4024
Hi @garethbowen . This has been here for quite sometime. I just sent a message via api
`Message sent with 'from' field empty not opening in the UI #4024`. Please have a look in `alpha.dev` UI.

[2018-02-20 23:15] garethbowen commented on #4024
There's not much in the console but what appears to be happening is because the conversation doesn't have a "from" there's no `key` to use so when the element is selected the URL doesn't change and nothing happens. I suspect this isn't a supported workflow - we should probably not accept this input, or at least just not show the message conversation in the UI.

It would be quite a lot of work to s

[2018-02-20 23:17] sglangevin commented on #4024
Do real-life messages ever get sent on a mobile network without a `from`? If not, then we should reject them. @alxndrsn may have thoughts on this as well.

[2018-02-20 23:26] garethbowen commented on #4024
It looks like this was done [on purpose](https://github.com/medic/medic-webapp/commit/af113e3002f9f58f162e19f9f22a58dee244b565) to fix [a production issue](https://github.com/medic/medic-projects/issues/2480), so we'd better not just reject them...

So it comes down to what we should do in the UI... either show "unknown sender" or something on the LHS and rework the code to handle no known sender

[2018-02-20 23:32] sglangevin commented on #4024
I'm a little confused why we are accepting an empty `from` field since I don't see any messages in that issue that have an empty `from`. Perhaps I am missing where that was highlighted. It seems like that issue was about empty `message` fields, which is something that could happen in real life and should be supported.

If we are going to support messages with empty `from` then 'Unknown sender' or

[2018-02-20 23:43] garethbowen commented on #4024
@SCdF @alxndrsn Do you remember why we want to allow messages with no sender?

[2018-02-21 00:37] abbyad commented on #4201
I have confirmed this problem in 2.13 as well. The PNC schedule (and many others in Standard now) rely on `doc.contact` being accessible from the bool expression -- and this works for XForms, but not SMS forms. The `contact` is added by the `update_clinics` transition for SMS, not sure about XForms. It _appears_ that the `update_clinic` transition does not run before the `registration` transition.

[2018-02-21 02:33] ngaruko opened #4216 "Restrict to `Data entry` user to Medic Reporter only."
Shadow of [medic/medic-projects#3468](https://github.com/medic/medic-projects/issues/3468)

[2018-02-21 03:13] garethbowen opened #4217 "Determine if we can build/release Crosswalk with the latest Chrome"
Crosswalk has been end of lifed in part because Android has had evergreen webview for a while now, so the version of Chrome we ship with our app is getting relatively old. Crosswalk is still really useful for us because of the ability to use 100% of the phones storage so we want to keep using it.

Find out how much work is involved in updating the version of Chrome and rebuilding Crosswalk either

[2018-02-21 03:33] abbyad commented on #4201
Thanks Gareth. Hardcoding the order does seem to make sense to me, and I can't yet think of when we would need it to be configurable.

I just tested on standard.app running 2.13.5 with `update_clinics` before `registration` and it does appear to assign the `contact` which is good, but it seems as though it is not fully hydrated from the bool expression. For instance `doc.contact.parent.parent` exi

[2018-02-21 03:36] #4140 closed

[2018-02-21 03:43] garethbowen commented on #4201
Ok well, maybe it's a partial fix. Definitely more investigation needed. From a quick scan this is the order I think we should define the transitions run in:

1. maintain_info_document
1. update_clinics
1. default_responses
1. registration
1. accept_patient_reports
1. generate_patient_id_on_people
1. update_sent_by
1. update_sent_forms
1. death_reporting
1. conditional_alerts
1. multi_report_alert

[2018-02-21 04:00] abbyad commented on #4201
That order look good generally, just want to confirm a couple of things:
1) Since `default_responses` can use a newly created patient ID does it needs `generate_patient_id_on_people` need to be above it?
2) I am not sure exactly how `update_scheduled_reports` works, but can it be low on that list and still keep data changed by other transitions?

[2018-02-21 04:11] garethbowen commented on #4201
No. The `generate_patient_id_on_people` transition only operates on `person` type docs, so `default_responses` won't fire. However `registration` has to run before `default_responses` for that reason. I'll update the list.

Yeah, nothing depends on it so I put it low.

The updated list:

1. maintain_info_document
1. update_clinics
1. registration
1. accept_patient_reports
1. generate_patient_id_on

[2018-02-21 05:59] sglangevin commented on #4201
I'm supportive of having ordered transitions and I think you both are best-positioned to decide on the order. Let me know if I can help - looks like you've got this covered though!

[2018-02-21 10:19] SCdF commented on #4024
@garethbowen all I remember is the argument that we should accept everything from Gateway, because it's easier to debug issues in API than it is Gateway, because it's easier to get logs, deploy new versions etc. @alxndrsn will know more.

[2018-02-21 10:30] alxndrsn commented on #4024
This is a fair representation of what I think.

Also SMS with an empty string for the "from" field is quite possible, albeit uncommon.

[2018-02-21 10:36] alxndrsn commented on #4178
@garethbowen is there anything blocking the new `worker-pouch` release?  I know we're not planning to use it, but maybe worth doing now so we don't get bitten again in future?

[2018-02-21 14:29] #2048 closed

[2018-02-21 14:32] SCdF commented on #2048
This was actually fixed as part of https://github.com/medic/medic-webapp/issues/3910

[2018-02-21 14:35] SCdF commented on #3568
Someone could look into this if we can find the time. It doesn't seem like a high priority though

[2018-02-21 14:37] SCdF commented on #2996
I don't think interest in this is high. @garethbowen I'm going to close this since this is our new SOP with tickets like this. Feel free to re-open if you think you should, or start a discussion about how our current system falls down for tickets like this.

[2018-02-21 14:37] #2996 closed

[2018-02-21 14:38] SCdF commented on #3675
I think this is worth looking into, though I have no idea when

[2018-02-21 14:50] rmhowe commented on #4197
@alxndrsn can you add a status and priority here?

[2018-02-21 14:52] dianabarsan commented on #3049
@garethbowen , @SCdF

Have there been any updates / discussions on this?

[2018-02-21 14:58] rmhowe commented on #4154
@alxndrsn can you add status and priority labels?

[2018-02-21 15:57] SCdF commented on #3049
Nope. I'm happy to close this as low priority / low interest.

[2018-02-21 16:47] #3049 closed

[2018-02-21 17:32] alxndrsn commented on #4199
NB this will need backporting to `2.14.x` before closing.

[2018-02-21 17:42] alxndrsn commented on #4208
I don't think this is surprising, as the list of `_doc_ids` [is generated in `DBSync`'s `getOptions()` function](https://github.com/medic/medic-webapp/blob/master/static/js/services/db-sync.js#L57), which is called _once per call to `PouchDB.replicate()`_.  [AFAICT](https://github.com/medic/medic-webapp/blob/master/static/js/services/db-sync.js#L63-L72), `.replicate()` then internally handles re-e

[2018-02-21 18:05] alxndrsn commented on #4206
@SCdF I can't work out what performance problems mentioned in the linked doc are relevant to us.  The only mention of performance issues seems to be:

[2018-02-21 18:13] SCdF commented on #4206
Sweet, no work to be done!

[2018-02-21 18:13] #4206 closed

[2018-02-21 21:44] garethbowen commented on #3779
It'd be really good to rework the e2e tests to use the standard configuration too. One of the issues our current test suite has is constantly changing the config and then having to refresh the page. If all our tests are based on standard then we never need to update config or refresh the page.

[2018-02-21 21:54] garethbowen commented on #3960
We recently removed a `can_access_directly` permission (#4144) which was being used for this in some situations. The problem was that because it was a permission it was configurable and setting it for district admin users didn't work. If this is done via a permission it either needs to be not editable, or we need to make it so turning it on for district admins works as expected.

[2018-02-21 22:31] garethbowen commented on #4024
Alright, so we need to handle this gracefully in the UI. So yes, we should show "unknown sender" in the LHS, and when you select the message actually show the content. Scheduling.

[2018-02-21 23:02] garethbowen commented on #4178
It's definitely on my todo list. Hopefully in the next few days...

[2018-02-21 23:08] garethbowen commented on #4109
Merged.

[2018-02-21 23:10] garethbowen commented on #3387
I'm scheduling this for 3.0 because it should be fixed before we release.

[2018-02-21 23:44] sglangevin commented on #3543
@garethbowen @dianabarsan will this be solved by the new ordering of Sentinel transitions? If not, then it should be reviewed as part of #4128.

[2018-02-21 23:46] sglangevin commented on #3204
Can we remove this API altogether? I guess we should touch base with @ngamita and perhaps a few tech leads to see if this is being used for support purposes.

[2018-02-21 23:48] sglangevin commented on #3264
Is this still relevant once we have Horti? If not, I think we can close this issue.

[2018-02-22 00:09] sglangevin commented on #3738
Moving to 3.0.

[2018-02-22 01:19] garethbowen commented on #3543
It's actually not sentinel doing this, it happens in the sms endpoint automatically, and then sentinel removes it if the facility actually is found. It's something we should clean up because it's confusing.

[2018-02-22 02:51] garethbowen commented on #3264
Agreed. Closing.

[2018-02-22 02:51] #3264 closed

[2018-02-22 03:19] garethbowen commented on #3535
I haven't seen this in ages. Closing.

[2018-02-22 03:19] #3535 closed

[2018-02-22 03:29] garethbowen commented on #4199
I still can't replicate as a restricted user using the latest alpha on alpha.dev with couchdb 1.6, however it does fail with admin. Given that admin requests are proxied directly to couchdb I think it's either a bug with PouchDB passing the wrong parameters or CouchDB not interpreting them.

[2018-02-22 03:31] garethbowen commented on #4199
Merged and backported to `2.14.x`

[2018-02-22 08:07] SCdF commented on #3204
IMO it's worth going through all those obscure exports and working out if people care: once we drop them from the UI we can drop them from the api in the major after that one.

[2018-02-22 08:09] garethbowen commented on #4200
Code review please @SCdF . This needs to be backported to `2.14.x` so feel free to leave the merge to me.

[2018-02-22 08:35] SCdF commented on #3826
(I renamed the title because I'm sick of searching for this ticket with 'lineage' and not finding anything :shipit: )

[2018-02-22 08:41] SCdF commented on #4200
Back to you @garethbowen

[2018-02-22 09:27] henokgetachew opened #4222 "Modify max_dbs_open default setting for couchdb"
With latest versions of the webapp, we have one db per user.  The default for this setting in couchdb is 100.  When that number is exceeded, couchdb responds with `500` with the error
[code]
This is required before migrations of large instances happens.

[2018-02-22 10:01] garethbowen commented on #4201
Merged and backported to `2.14.x`.

[2018-02-22 11:17] alxndrsn commented on #4167
Timeout bug worked around in #4215.

[2018-02-22 11:18] alxndrsn commented on #4167
All PRs code reviewed separately.

[2018-02-22 13:08] alxndrsn opened #4225 "Add big warning or break grunt dev if patches have not been applied"
If you forget to run `grunt mmnpm` (or presumably, `grunt exec:applypatches`) before running `grunt dev`, you can end up with some surprising regressions while developing.

It would be very helpful to check if the patch step has been performed and either refuse to start `grunt dev`, or print a big warning when this is the case.

[2018-02-22 13:10] SCdF commented on #4225
`grunt dev` doesn't exist anymore, and I thought (the old) `grunt dev` ran `mmpm` for you? Do you mean a different grunt target?

[2018-02-22 13:55] alxndrsn commented on #4120
Yes, work to understand the current sequence of checkpointing is underway.

[2018-02-22 14:33] SCdF commented on #4024
How do we feel about the UUID of the document showing up when there is no known contact?

![image](https://user-images.githubusercontent.com/583851/36543615-29001d36-17dc-11e8-8551-7579ced1f33c.png)

It's like an 11 character change to a view to get us that far.

The downside of this approach is that we don't know on the front-end that it's not a phone number, and so to show "Unknown number" in th

[2018-02-22 14:59] SCdF opened #4228 "grunt doesn't auto-push changes to medic-client"
To reproduce:
 - Have `grunt` running
 - Make a change to a medic-client view
 - Notice that grunt fires, and the DDOC gets updated
 - Notice that your view hasn't changed
 - Kill grunt and start it again
 - Notice this time it works

[2018-02-22 15:36] SCdF commented on #4024
(FYI I'm working on a better version of this, but it's a complicated section of code apparently… )

[2018-02-22 15:39] dianabarsan opened #4229 "Registration transition logs error when all scheduled tasks are in the past"
When Registration transition processes a document which only generates scheduled tasks with a due date in the past, an error is logged: `Failed to add schedule please verify settings.`
This is misleading, as no error actually occurs and the settings are fine.

[2018-02-22 15:47] dianabarsan commented on #3565
Transitions were put into specific order as part of [#4201](https://github.com/medic/medic-webapp/issues/4201) (PNC Schedule not generated for SMS reports).

As for the other suggestion, to use the `changed` parameter passed by the transition itself, some transitions return true whether or not changes were made (for example: default_responses).

[2018-02-22 15:55] #4222 closed

[2018-02-22 15:57] SCdF commented on #4024
OK, so I have it that it works normally for real messages:

![image](https://user-images.githubusercontent.com/583851/36548676-d1f7cb4e-17e8-11e8-82d1-19d61dc8e62c.png)

And allows you to send to unknown numbers:

![image](https://user-images.githubusercontent.com/583851/36548745-fdff8dda-17e8-11e8-8ea7-482599a752a8.png)

And allows you to view, but not send to, non-existent numbers:

![image](htt

[2018-02-22 16:15] henokgetachew commented on #4222
Sounds good to me @browndav

[2018-02-22 17:34] binokaryg opened #4230 "Error when using `tel` type entry in a contact form in 2.14.0 and above"
When using `tel` type field in a contact form in my local test instance (2.14.0-beta.10) and another instance on 2.15.0, the form fails to open and throws this error:
[code]

The same form is loading properly in `ebpp-indonesia (2.13.1)`
When I replace `tel` with `text`, the form loads fine.

[2018-02-22 17:38] abbyad opened #4231 "Phone number not shown when contact is not found"
The sender phone number is missing in the RHS if it is not associated to a known contact. I would expect the number to show up in the RHS even if there is no name or place associated to it.

# Unknown contact
![image](https://user-images.githubusercontent.com/789512/36554200-9222e2a4-17cc-11e8-80aa-f82ed2f902cf.png)

# Known contact
![image](https://user-images.githubusercontent.com/789512/3655421

[2018-02-22 17:45] alxndrsn commented on #4146
Possibly relevant: http://docs.couchdb.org/en/master/replication/protocol.html#find-common-ancestry

[2018-02-22 17:48] abbyad commented on #4230
From my test the `tel` type works in `2.14.0-beta.10` as long as there is no `relevant` on it.

For instance, the following `tel` field without a `relevant` works:
`      <bind constraint="true()" jr:constraintMsg="jr:itext('/data/person/phone:jr:constraintMsg')" nodeset="/data/person/phone" type="tel" />`

This `tel` field with a `relevant` does not work and throws the error mentioned by @binokar

[2018-02-22 19:13] abbyad opened #4232 "Wrong date shown based on time and timezone"
Some of our Standard reports set the birth date via SMS by setting it as N "days ago". The fields shown in the Reports tab can be unexpected:

## Birth date 3 days ago shows as 4 days ago
![image](https://user-images.githubusercontent.com/789512/36556426-20ecebe6-17d3-11e8-963e-169ae1bffcee.png)

## Birth date 0 days ago shows as yesterday, and 18 hours ago
![image](https://user-images.githubuserc

[2018-02-22 20:53] abbyad commented on #4232
No, it would not. I just tested the following:

# With field as is
### `"birth_date": "2018-02-22T00:00:00.000Z"` screenshot  at ~15:45 EST on 2018-02-22
![image](https://user-images.githubusercontent.com/789512/36563381-ed546b3c-17e7-11e8-9ba2-636da1d96f8c.png)

# Stripping time
### `"birth_date": "2018-02-22"` screenshot at 15:45 EST on 2018-02-22
![image](https://user-images.githubusercontent.c

[2018-02-22 21:19] abbyad commented on #4208
Redirecting to @alxndrsn to put the type Status and Priority

[2018-02-22 21:24] abbyad commented on #3393
@browndav is this now obsolete? Please close if that is the case.

[2018-02-22 21:25] abbyad commented on #2375
I'll again defer to @garethbowen on this one

[2018-02-22 21:29] browndav commented on #3381
Issue was backlogged in November 2017: https://github.com/medic/medic-projects/issues/1876#issuecomment-348330697. Leaving open for discussion on security call next week.

[2018-02-22 21:31] garethbowen commented on #2375
Yeah, we should still do it.

[2018-02-22 21:32] abbyad commented on #3374
Keeping open until associated issue is fully closed, remaining aspect is low priority.

[2018-02-22 21:35] browndav commented on #3570
Appears relevant; keeping.

[2018-02-22 21:36] browndav commented on #3393
This is obsolete in that it's actually complete. Closing, thanks.

[2018-02-22 21:36] #3393 closed

[2018-02-22 21:38] browndav commented on #4159
For Docker this would probably be the system clock on the container host – but yeah, monitoring, say, ntpd logs would be valuable. Keeping.

[2018-02-22 22:32] garethbowen commented on #4230
Unminified error:

[code]

[2018-02-22 22:43] browndav commented on #3612
This is old enough that it's probably already superseded by conflicting design changes. Unless @amandacilek or @diannakane disagree, I'll go ahead and close.

[2018-02-22 22:43] #3612 closed

[2018-02-22 22:44] browndav commented on #3151
Picking this up, I'm working right in the proper area (for the Docker stuff) to get a quick win here.

[2018-02-22 22:45] sglangevin opened #4233 "Updated place icons don't display on the LHS of the people tab"
Seen on beta.dev, logged in as admin:
![image](https://user-images.githubusercontent.com/1286381/36568267-32ff972e-17de-11e8-9097-91bc4ec41bd1.png)

The icon displays for adding a new district but not in the list of existing districts. Similar issue with the CHW area icon when logged in as a restricted user (CHW). The CHW area icon doesn't show up in the LHS list next to "Sharon Langevin Area" whi

[2018-02-22 22:51] garethbowen commented on #4230
Demo form:

[code]

[2018-02-23 00:00] sglangevin opened #4235 "Error when trying to submit a report as a restricted user on 2.14.0-beta.11"
I'm getting a DOMException that says the connection to the database is closing when trying to submit a form as a restricted user on beta.dev. Form submissions are working fine for admin. In the UI, I see "Error saving report". This happens on both incognito Chrome and on Android.

Screenshot of the console from my Android tablet:
![image](https://user-images.githubusercontent.com/1286381/36570940-

[2018-02-23 00:01] sglangevin commented on #4235
Screenshot of console from Chrome (incognito mode):
![image](https://user-images.githubusercontent.com/1286381/36571026-ac7a7cb2-17e9-11e8-8585-5f8353f48221.png)

[2018-02-23 01:08] jillrshah commented on #4090
Hi @garethbowen, I'm sorry for the delay here. I'm working on figuring out a process for translations.

In the meantime, here's a few small pain points that would this easier for me:
1. I don't currently know when terms are added to POEditor, or when English terms are updated such that other languages would need updating. Is it just a matter of someone letting me know?

2. There's clearly some ter

[2018-02-23 02:52] garethbowen commented on #4090
Yeah that's a really good point. I don't have a good solution for you. Possibly we could generate a list of keys that have changed every time we prepare a release. Would that work?

There shouldn't be. Can you show me an example?

We all add/update/delete them as we go so it's tricky.

[2018-02-23 03:18] garethbowen commented on #4230
Merged and backported to `2.14.x`

[2018-02-23 03:28] garethbowen commented on #4233
The problem is the `2.14.x` branch is missing #4063

[2018-02-23 03:33] garethbowen commented on #4063
Backported to `2.14.x`

[2018-02-23 03:34] garethbowen commented on #4233
I've backported the patch so it should work now.

[2018-02-23 03:43] garethbowen commented on #2734
The correct solution is something like...

1. Write a function that takes a doc and a user as parameters and returns whether or not that user has permission to see that doc. This must be reasonably performant as it will be called a lot.
2. Apply the above function when reading or writing a doc for every non-admin request.
3. Only proxy requests to couchdb if the user is an admin (as per my closed

[2018-02-23 08:50] SCdF commented on #4232
@abbyad so we think the error is that we're not taking into account the contact's / system's tz when calculating absolute dates from relative values? It would not surprise me: this stuff is hard

[2018-02-23 09:30] SCdF commented on #4235
New version of PouchDB is broken?

[2018-02-23 10:48] henokgetachew commented on #4232
@abbyad all of the servers currently use timezone UTC.

[2018-02-23 12:27] alxndrsn commented on #4208
I'd guess this is low priority, as:

* deleting documents that have just been created by a different user probably isn't that common.  But perhaps deletes aren't reaching all phones used in training?
* fixing it looks fiddly

Thoughts, @garethbowen @SCdF?

[2018-02-23 14:41] SCdF commented on #4208
Well I think ideally we'd fix this implicitly by redesigning the replication API so we don't have to know the ids at all, see: #4185

If we can't fix that particular oddity in the algorithm we should look into this.

[2018-02-23 14:46] alxndrsn commented on #4176
I don't think this is occurring on `master`.

[2018-02-23 14:46] #4176 closed

[2018-02-23 15:09] abbyad commented on #4232
There are two display issues regardless of the server time (1 & 2, from the OP), and two other issues (3 & 4) due to the servers being on UTC:
1) **Absolute date displayed should be the same shown regardless of timezone.** From OP: _The relative date/time resolution should match the date resolution. It seems odd to say "18 hours" ago for an event that was "today". If the birth date is a day, we sh

[2018-02-23 15:14] abbyad commented on #4232
This is a factor for 1, 3, and 4 above. You are right, it is not simple! So far we have been able to avoid these issues, but likely have to deal with it now that configs are the same across Standard projects.

[2018-02-23 19:20] alxndrsn commented on #4196
We should either be calling `localDb.close(); remoteDb.close()` at the end of bootstrapper, or re-using the `PouchDB` objects.  Brief profiling suggests this will free about 6MB of heap, about 10% of total usage on initial replication.

[2018-02-23 19:24] alxndrsn opened #4236 "Set return_docs: false when calling changes feed"
Worth investigating if setting `return_docs: false` will improve performance.

Ref https://github.com/pouchdb/pouchdb/issues/6502

[2018-02-23 21:10] sglangevin commented on #3204
Ok - here's what I've heard so far: user feedback logs are useful and actively being used, including in the UI. No one has spoken up to say that they use the audit logs export or the server logs export in the UI or via API but I'm waiting a little longer to be sure about those.

[2018-02-23 21:11] sglangevin commented on #4211
I'm asking the tech leads whether or not anyone uses this in the UI or via API. So far it doesn't sound like anyone uses this in practice, but I'll come back to this issue with an update if I hear otherwise.

[2018-02-23 21:27] sglangevin commented on #4090
Perhaps we can change how updating of translations is done in our release process. Currently, translations are updated when the first beta is created (from what I've been able to tell). However, this isn't ideal because it means that translations get out of date between the first beta and the time the final is ready as we do release testing and bug fixes.

How about this:
* I ping Jill when the fi

[2018-02-23 21:34] abbyad commented on #4201
This works well in `2.14.0-beta.13`, moving to Ready.

[2018-02-23 21:52] abbyad commented on #4230
This works for me on `2.14.0-beta.13`, moving to Ready. @binokaryg can you also confirm it works for you and share back here? We can reopen if needed.

[2018-02-23 21:52] #4230 closed

[2018-02-23 22:20] sglangevin commented on #4233
LGTM in 2.14.0-beta.13. One minor issue is that we've swapped the medic-clinic and medic-health-center icons. medic-clinic should be the CHW area icon and medic-health-center should be the blue building with the plus sign on it. @garethbowen can you swap the files? Once that's done we can close this. I think that was missed when the issue to change the icons was AT-ed.

[2018-02-24 01:48] sglangevin commented on #3543
I also think it would be cool if reports had no dot until we determined if there are any errors. Right now they sometimes display in the UI with red dots until processed by Sentinel, which finds the facility and then the dot becomes green. Even having it the other way around would be more helpful (assume it's correct until proven otherwise).

[2018-02-25 20:09] garethbowen commented on #4090
Not very often and almost always as the result of design input.

That's how devs do it too.

My suggestion is when the first beta is created we do a diff of the English translations we're shipping and make a note of all the ones that have been updated and send those to Jill. We could also send any created ones but they're easy to spot in POE.

Does that make sense?

[2018-02-25 20:10] garethbowen commented on #4233
Facepalm... yes I'll do that today.

[2018-02-25 21:23] garethbowen commented on #4233
Merged and backported to `2.14.x`

[2018-02-26 03:26] garethbowen commented on #4236
Which changes feed are you talking about? There are many cases where we need the docs...

[2018-02-26 03:28] #4201 closed

[2018-02-26 07:06] binokaryg commented on #4230
Upgraded local test instance to `2.14.0-beta.14` and the form with `tel` type with `relevant` loads properly. Thank you.

[2018-02-26 09:53] alxndrsn commented on #4236
Yes indeed!  But this option prevents all docs from a changes feed being cached, and then returned in the `complete` event.  We never listen for this event.

[2018-02-26 09:58] garethbowen commented on #4236
Sorry, I misread "return_docs" for "include_docs". Good call.

[2018-02-26 09:59] garethbowen commented on #3565
Two PRs to review please @dianabarsan

[2018-02-26 10:19] SCdF commented on #4232
I'm not sure I agree with 1. I think it's fine if that's how our app works, but I don't see the problem with the display date being in the correct TZ: as long as its stored in UTC we can have the display be whatever we want

[2018-02-26 10:44] alxndrsn commented on #4120
After initial REMOTE->LOCAL replication, two-way sync starts.

When LOCAL->REMOTE replication starts, all docs that have _just been read_ from the remote db will then be sent _back_ to the remote DB in `_revs_diff` calls.  If there is a way we could avoid that, it would be nice.

[2018-02-26 11:03] alxndrsn commented on #4196
@garethbowen note that PouchDB will never completely garbage collect all event listeners: https://github.com/pouchdb/pouchdb/issues/6225

[2018-02-26 11:12] alxndrsn opened #4241 "Targets tab has no Loading spinner on initial load"
It seems that the _Targets_ tab will not display a loading spinner while waiting for data the first time it's loaded.  This is very noticeable if you have a very large dataset.

[2018-02-26 11:24] alxndrsn opened #4242 "Avoid _revs_diffs calls after initial sync"
As per https://github.com/medic/medic-webapp/issues/4120#issuecomment-368460472, after initial remote to local sync is completed and local to remote sync is started, `_rev` values for all docs that have just been received from the server will then be sent back to it.  This is unnecessary.

If we wanted, we might avoid this by manually setting the `since` option when we know there have been no loca

[2018-02-26 15:49] vimemo commented on #3375
Assigning similar priority/status to #1796.

[2018-02-26 15:54] vimemo commented on #4132
Assigning a low priority on this issue since we do not rely on this functionality at the moment.

[2018-02-26 16:02] vimemo commented on #3245
Assigning this to a low priority since it is a nice to have type feature.

[2018-02-26 16:08] sglangevin commented on #4085
@garethbowen @alxndrsn what ended up happening with this issue? Sounds like it might be causing issues finding families in Siaya (I'm guessing other projects too) which means CHWs are creating duplicate families. Can we get this one finished off and released?

[2018-02-26 16:10] alxndrsn commented on #4242
Interesting discussion of this behaviour at https://github.com/pouchdb/pouchdb/issues/6316#issuecomment-287288665

[2018-02-26 16:23] alxndrsn commented on #4146
Disabling remote checkpoints is not entirely safe.  There's a great discussion at https://github.com/pouchdb/pouchdb/issues/6308, but in short remote checkpoints will protect us from losing client-generated docs in the case of a server-side database rollback.

I propose we close this, but consider suggesting a deferred checkpoint writer.  This would also help to solve the many-deferred-checkpoints

[2018-02-26 17:15] garethbowen commented on #4235
@sglangevin Does this happen every time? Does this happen on every device you test? Does this happen with every restricted user? Do you have space on your device? Does this happen when you're offline?

[2018-02-26 19:49] abbyad commented on #3128
Removed the Triaged label since this issue is not in a Project.

[2018-02-26 21:14] garethbowen commented on #3128
@abbyad All issues need some Status label or they will come up for triage again. IMO it doesn't need to be in a project to be triaged.

[2018-02-26 21:20] garethbowen commented on #4146
@alxndrsn As a compromise we could turn on remote checkpointing when replicating _to_ the server, and remove them when replicating _from_ the server. Does that make sense?

[2018-02-26 21:21] garethbowen commented on #4171
Deprioritising.

[2018-02-26 21:41] sglangevin commented on #4156
Closing in favor of #3806

[2018-02-26 21:41] #4156 closed

[2018-02-26 21:49] garethbowen commented on #3923
Blocked on #3019 - is fixed for free once that's done.

[2018-02-26 22:23] garethbowen commented on #4085
Yeah. We can either use the hacky solution above or work out how to do it properly.

[2018-02-26 22:34] garethbowen commented on #4236
Merged and backported to `2.14.x`

[2018-02-26 22:35] garethbowen commented on #4236
There's no way to AT this specifically - just make sure changes feeds still work by making changes in the local db and making sure the UI is updated automatically.

[2018-02-26 22:50] ngaruko commented on #3967
LGTM. Except (and I might have nothing to do with the issue at hand, but worth mentioning and will create a new issue), pressing the `Cancel` button on the 'Update Available` modal freezes horti page (same behavior if one clicks outside the modal) and once one refreshes the page, then the new version is loaded anyway.
![image](https://user-images.githubusercontent.com/6979995/36700065-7ece4546-1bb

[2018-02-26 23:02] garethbowen commented on #3967
@ngaruko What do you mean by freezes?

[2018-02-26 23:08] ngaruko commented on #3967
@garethbowen
Maybe not freezing as such, but the upgrading throbber spins forever and the page only reloads if ones moves to another page or refresh otherwise.
![image](https://user-images.githubusercontent.com/6979995/36701059-ba7280f0-1bb6-11e8-91de-f3405f9ae1d1.png)

[2018-02-26 23:11] garethbowen commented on #4196
Merged and backported to `2.14.x`.

Difficult to AT - make sure initial replication and subsequent loads work as expected.

[2018-02-26 23:12] garethbowen commented on #3967
Yes that's because of this change. I think that's probably ok for now. What do you think?

[2018-02-26 23:20] ngaruko commented on #3967
Not sure if the update is reversible at this stage (actually the same behavior shows when using the 'Dashboard`, except for the spinner. I mean, the update still happens even on pressing `Cancel` or ignoring the pop up. So, I think, if the update is not reversible at this stage, the best way would be to just show an 'information` pop-up. I have also realised that this button is also ignored for ot

[2018-02-26 23:22] garethbowen commented on #3967
The update is never reversible which is why we have lots of warnings before you hit "upgrade". If it's not clear, raise issues.

[2018-02-27 00:06] garethbowen commented on #4235
@sglangevin Victor and I are having trouble reproducing this issue. Can you please put the app in debug mode (Hamburger > About > Enable debug mode) and then reproduce this issue? That will give much more information in the console log. If you go to the console and right click and select "save as..." then you can download the entire console without taking a screenshot. I think I know where this is

[2018-02-27 00:17] ngaruko commented on #3967
I will send this back to dev to fix just the spinner issue. Right @garethbowen @dianabarsan ? No need for another issue.

[2018-02-27 00:28] garethbowen commented on #3967
Due to the way our app is built it will be quite difficult to stop the spinner once the upgrade is finished - we just don't know when it happens. Please raise a new issue.

[2018-02-27 01:19] garethbowen commented on #4235
I think I've got it... The problem is when IDB is trying to store the Position object returned from the geolocation. Because it's not a plain JSON object it fails. This is why we couldn't reproduce it - we'd been blocking the geolocation. Allowing it causes the error.

The solution is to copy the relevant fields into a JSON object.

[2018-02-27 01:29] ngaruko opened #4243 "Upgrading throbber spins forever when Cancel Button is clicked on in Horticulturalist's `Update Available` Modal"
Few steps to reproduce:
Login as admin
Configuration > Update Instance > choose a branch/build then `Upgrade`.
Once the upgrade is finished, the `Update Available` Modal pops up >> Click `Cancel`

Expected >> Spinner should disappear and app go back to the 'horti' UI .

But, the upgrading throbber spins forever and the page only reloads if one moves to another page or refresh otherwise.

![image](

[2018-02-27 02:35] #3967 closed

[2018-02-27 02:48] ngaruko commented on #4200
LGTM

[2018-02-27 02:48] #4200 closed

[2018-02-27 03:35] garethbowen commented on #4235
I just merged this directly in to `master` because I needed to test on a real server to prove it works. @vimemo Please review [the relevant commit](https://github.com/medic/medic-webapp/commit/68da84aa02d68eb1d44892f67a8a576734eea11f) and if you're happy set this for acceptance testing.

For AT: Make sure that forms get submitted reliably and that geolocation capture on form submission is still wo

[2018-02-27 03:38] #4126 closed

[2018-02-27 03:41] garethbowen opened #4244 "Write a scalability testing framework"
We need to be able to determine how many users our app can support. This will help us to...

1. work out which aspects to focus on
2. prove improvements work as expected
3. test for regressions

More information is available [on drive](https://docs.google.com/document/d/1V3gOlgiKBlyRNT6c-mTcefmDVlQBbdw6NpIWiwNgNzI/edit).

[2018-02-27 07:20] derickl commented on #4126
Works as expected.

[2018-02-27 08:55] SCdF commented on #4243
We could probably fix this by forcing a restart on you by specifically watching the changes feed instead of just letting the standard update flow go.

It's worth noting that this will be re-worked with https://github.com/medic/medic-webapp/issues/3993, noting this comment specifically: https://github.com/medic/medic-webapp/issues/3993#issuecomment-339929306

[2018-02-27 09:47] alxndrsn commented on #4146
Not really - seems to have the same problem to me.  In a rollback situation without checkpoints, you can lose some local changes, or some remote changes, or both.

[2018-02-27 15:46] abbyad commented on #4232
It may be easier to discuss on a call, but I'll try first to clarify point 1 in case we already agree. I am proposing that dates set using "days ago" should be **(a)** displayed as the same date regardless of the timezone of the logged in user, and **(b)** set relative to the project timezone.

The events that being reported are often a birth or a visit that occurred on a particular day with no ho

[2018-02-27 15:59] alxndrsn opened #4245 "API shouldn't start if audit db doesn't exist"
Currently if there's no audit DB everything will run happily until you try to do an audited action.  At which point...
[code]
!

[2018-02-27 16:10] SCdF commented on #4245
FWIW API creates the audit db when it boots based off a migration, so this seems like an unlikely problem to occur (in prod at least)

[2018-02-27 16:25] alxndrsn commented on #4206
This may still be worth considering for PouchDB.  Ref https://pouchdb.com/2014/04/14/pagination-strategies-with-pouchdb.html

[2018-02-27 16:39] SCdF commented on #4206
I wonder if this is still true with idbnext

[2018-02-27 16:45] SCdF commented on #4024
Back to you for review @garethbowen

[2018-02-27 17:49] alxndrsn commented on #4245
In which case:

1. this is caused by me deleting migrations locally
2. it wouldn't make much sense for api to refuse to boot if the db isn't found

[2018-02-27 17:49] #4245 closed

[2018-02-27 18:42] sglangevin commented on #4109
since this was a critical production issue, should we consider backporting to 2.14.0?

[2018-02-27 18:51] abbyad commented on #4232
After discussing with @SCdF it seems as though 1 & 2 could be a quick fix to _display_ the proper day with appropriate relative time. Items 3 & 4 would need a timezone setting in the app, and should be accompanied with a larger review & update of dates throughout the app to make sure they all take the timezone into consideration.

[2018-02-27 19:00] alxndrsn commented on #4110
- [ ] ACK quicker from api to gateway.  Poor connectivity is something we have to deal with, and should expect in our medic-api implementation.
- [ ] implement integration tests for API for the `/sms` endpoint, and if we can for poor connections (e.g. include expected response times in tests)
- [ ] get API to understand that gateway sends a unique UUID with each message, and that if it sees the sa

[2018-02-27 21:23] ngaruko commented on #4236
LGTM

[2018-02-27 21:23] #4236 closed

[2018-02-27 21:27] #4233 closed

[2018-02-27 21:32] garethbowen commented on #4109
We can do, although it sounds like @alxndrsn isn't 100% confident in this approach. I'm tempted to leave 2.14.0 as is to get it out the door - 2.15.0 probably won't be too far behind it...

[2018-02-27 23:17] ngaruko commented on #4199
Does this need AT @alxndrsn @garethbowen ? If so, does `alpha.dev` combination of `couch/pouch` version for the test?

[2018-02-27 23:23] garethbowen commented on #4199
Yes it needs testing.

No `alpha.dev` is not ok because that's got 2.15.0 on it not 2.14.0.

[2018-02-28 01:49] sglangevin opened #4247 "Place icons in the LHS action bar should be 30x30"
Place icons are quite small on mobile and hard to see. They should be 30x30 so that they are not hidden by the + sign.
![screenshot_2018-02-27-14-04-31](https://user-images.githubusercontent.com/1286381/36765508-72af02fe-1be6-11e8-9e91-15f4f36ede0d.png)

[2018-02-28 02:29] #4196 closed

[2018-02-28 02:31] ngaruko commented on #4174
Do we have a test instance  with  `tens of thousands of docs.`?

[2018-02-28 02:36] browndav commented on #2857
This now works and fully bootstraps to our login screen on Docker. Moving to code review but holding off on an assignment until we do a quick demo.

[2018-02-28 03:40] ngaruko commented on #4167
Can you advise on how to AT this @alxndrsn ?

[2018-02-28 03:42] #4212 closed

[2018-02-28 08:10] SCdF commented on #4232
OK so:
 - We should work out why the DOB is displaying with a relative date time and not a relative date
 - We should really have a larger discussion about time zones, and whether we should be conscious of them.

[2018-02-28 10:31] alxndrsn commented on #4174
No, but that would be _very_ useful!

[2018-02-28 10:32] alxndrsn commented on #4167
Simplest is to compare app startup times for a fully-synched client from before and after this patch.

[2018-02-28 12:27] SCdF commented on #4232
@garethbowen do you know how things like birth dates displayed in reports get relative dates generated for them? It's not clear to me from briefly looking into the code. If you don't know off hand I'll dig in more though

[2018-02-28 12:40] SCdF commented on #4024
Acceptance testing:
 - We should correctly display and allow conversations with messages from known contacts, and messages from unknown phone numbers
 - We should correctly display messages that have no recorded phone number, though you cannot have a conversation (you don't know which ph to send your message to)
 - This has involved changing the URL structure. All existing links inside the app sho

[2018-02-28 13:33] SCdF commented on #4247
@sglangevin to be clear, the problem is that if someone uses an icon (SVG, font or png?) that is too small we won't force it to be 30x30?

[2018-02-28 14:03] SCdF commented on #4085
My vote would be for Gareth's suggestion since it's easier to read, though I think either of them needs a comment to explain why it's not just limit. @garethbowen is there some kind of grander solution to this that you were considering implementing? Or did you just not instantly want to merge Alex's existing branch?

[2018-02-28 14:23] SCdF commented on #3867
This is duplicated by #4157 (ie moving to Docker, using horti)

[2018-02-28 14:23] #3867 closed

[2018-02-28 14:24] SCdF commented on #3805
Going to be fixed as part of #3993

[2018-02-28 14:24] SCdF commented on #3806
Going to be fixed as part of #3993

[2018-02-28 14:26] SCdF commented on #3993
Bumped priority from low to medium because there are a few tickets that this implementation will solve

[2018-02-28 14:56] abbyad opened #4248 "Fields to be populated by a `db-object` must have UI inputs, or `calculate="."`"
Issue originally from https://github.com/medic/medic-projects/issues/3500

[2018-02-28 15:40] abbyad opened #4249 "XForm with no relevant fields does not load"
A form with a single page does not load if the style is set to `pages`. It gives the following error:
[code]

The workaround is to remove the `pages` class (which is set by the Settings>style  in XLSForm).

## Example form
[code]

[2018-02-28 15:51] abbyad commented on #4249
Oops, the error is caused because there is no relevant question (because the relevant statement will never be true)!

[2018-02-28 15:52] abbyad commented on #4249
Renaming issue to state that form with no relevant fields has an error. This may not be worth fixing, but worth documenting and perhaps putting a useful error in console.

[2018-02-28 17:09] abbyad commented on #4248
Fields associated to a db-object must have an input in the XForm for their values to be set. This means that we can use the `hidden` appearance, but not the `hidden` type as instructed in https://github.com/medic/medic-webapp/issues/4134.

[2018-02-28 17:12] abbyad commented on #4248
Renamed to reflect the actual issue. The medic-project issue is now separate because it deals with updating the forms so that they work in 2.14.

[2018-02-28 17:13] abbyad commented on #4248
If we cannot easily correct this then we need to document this appropriately.

[2018-02-28 17:24] abbyad commented on #4248
Labelled as a bug because I would have expected to be able to use a `hidden` type for these fields, but we can still choose not to fix and document appropriately.

# Screenshot
The name should appear in both notes, but only appears if there is a UI input in `2.14.0-beta.15`, which is done using appearance `hidden`.
![image](https://user-images.githubusercontent.com/789512/36802170-398c746a-1c82-11

[2018-02-28 17:53] alxndrsn opened #4250 "e2e tests only pass if timezone is GMT"
# Observed

Running e.g.
[code]
I get the following error:
[code]

# Expected

Either these tests should be timezone-independent, or `grunt e2e` should make sure that env var `TZ=GMT` is set when running these tests.

[2018-02-28 17:55] alxndrsn commented on #4250
Ideally, `medic-api` would always be started in the same timezone that its expected to run in in a production environment, i.e. `GMT`.

[2018-02-28 19:47] abbyad commented on #4248
This appears to be because the HTML inputs are updated directly here: https://github.com/medic/medic-webapp/blob/4457404d43e66f5f98b8ae497338e14f8de33f84/static/js/enketo/widgets/db-object-widget.js#L104-L106

@alxndrsn, I am guessing that it isn't feasible to update the value in the data model directly?

[2018-02-28 20:08] garethbowen commented on #4085
The existing branch had a bug (commented on the PR). I think the suggestion above is fine. The grander solution would be to use `startkey` instead of `skip` which would handle all sorts of edge cases gracefully  but I think would require significant changes to the Search service.

[2018-02-28 20:11] SCdF commented on #4250
LGTM, I'll leave you to merge or investigate further if you're interested.

[2018-02-28 20:23] garethbowen commented on #4232
The reports are run through the FormatDataRecord service which hasn't been updated in years (but it has been migrated from the kujua-sms package few improvements were made). This is the line of code that determines how to format the field value: https://github.com/medic/medic-webapp/blob/master/static/js/services/format-data-record.js#L217

This has a couple of problems:

1. It doesn't know the di

[2018-02-28 22:08] sglangevin commented on #4247
We've limited people to using icons that we create (right now there are 4 options). These are all SVGs and should be displayed at 30x30 in the LHS action bar. The problem is with our icons - I don't expect us to support random icons generated by people other than our product team, at least for now.

[2018-03-01 03:33] garethbowen commented on #4228
@SCdF I can't reproduce this. When I save a view it's compiled, attached to the medic ddoc, and the medic ddoc is uploaded. Then API notices the change and extracts the medic-client ddoc which is then replicated to the browser and an update dialog is shown. Clicking the "update" button reloads the page and uses the updated view.

Which step specifically wasn't working? Did API watches fire? Did th

[2018-03-01 05:17] #4111 closed

[2018-03-01 05:17] #4167 closed

[2018-03-01 08:57] SCdF commented on #4228
I pretty much only recall what I wrote down. It may have been that my grunt was in a weird state?

[2018-03-01 09:39] #4250 closed

[2018-03-01 09:42] alxndrsn commented on #4120
I think this is sufficiently understood for the time being.

[2018-03-01 09:50] alxndrsn commented on #4109
I'm confident that the approach works, so it's probably worth backporting.  I just think it's only _part_ of the solution, and hope that it gives us sufficient logging and monitoring notification that we know when it happens again in future and investigate :¬)

[2018-03-01 10:12] #4120 closed

[2018-03-01 10:57] SCdF commented on #4247
@garethbowen I think I got it.

(FWIW, I also in general tried to refactor inbox.less a little, but it got nuts very quickly, and I'm *way* too unfamiliar with less to know what was going on. I'd love to pair on that actually. Three things:
 - action-container stuff should be in its own file
 - 400px and 767px are used in lots of places, they should be vars?
 - mm-icon vs icon
)

[2018-03-01 20:05] garethbowen commented on #4247
Code looks good. Happy to pair on css refactoring sometime.

[2018-03-01 20:55] jillrshah commented on #4090
Hey all, this is ready to be closed off. Here's a summary of our process for posterity.

1. I get alerted edited terms that require translation when first beta is created. I also check in POEditor for new terms at that time.
2. I created a handy tag to find and translate those terms easily.
3. I give our translation point people 1-2 weeks for completing translations based on the work load.
4. Once

[2018-03-01 21:21] garethbowen commented on #4090
I've updated our release documentation to add the bit about notifying Jill.

[2018-03-01 21:23] garethbowen commented on #4090
I'll leave this issue open until the tour messages are all updated and exported into the repo.

[2018-03-01 22:02] abbyad opened #4258 "Contact not hydrated in Place edit forms"
The fields for a place's contact are not hydrated when the form is loaded.

This appears similar to #4111 because a label using a contact field would not show on first load, but completely different cause. We think it's due to the form not hydrating because a contact created pre 2.13 has the contact fields appears properly, whereas one without the contact fields does not load properly.

[2018-03-01 22:41] abbyad commented on #4258
Tested and works on `2.15.0-alpha.9316`

[2018-03-01 22:54] garethbowen commented on #4258
Merged and backported to `2.14.x`

[2018-03-01 22:56] sglangevin commented on #4090
Thanks, @garethbowen and @jillrshah - this all sounds great to me!

[2018-03-01 23:24] sglangevin commented on #3594
Did some AT just now and found that I get an error when I try to filter and then Export. On alpha.dev, I went to the Reports tab, selected 2 form types, and then clicked Export. I immediately get a Failed - Server problem error and nothing is downloaded. I don't see any obvious errors in the console. Exporting a filtered set of reports was working previously, so this is a regression.

Secondly, wh

[2018-03-01 23:55] ngaruko commented on #4024
LGTM

[2018-03-01 23:55] #4024 closed

[2018-03-02 00:43] abbyad commented on #4258
Confirmed that this works in `2.14.0-beta.16`, moving to Ready

[2018-03-02 00:43] #4258 closed

[2018-03-02 01:31] #4130 closed

[2018-03-02 01:48] #4003 closed

[2018-03-02 03:03] ngaruko opened #4260 "Error loading app when there are ten of thousands of records"
Steps to reproduce:
1. create lots of messages (I used a `postman` runner)
2. logout of the app
3. log in again
4. The 'message` tab does not load and the spinner goes on forever.

Maybe I sent a bit too many than reasonable, but we need to investigate where the cut-off is (maybe as part of performance testing) and manage higher loads a bit more gracefully.

**Console logs**
![image](https://user-

[2018-03-02 09:12] SCdF commented on #3594
Yeah, I noticed that. It existed before this change, and I hoped that because this implementation should return sooner (because it only needs to calculate the header before sending you some data back) it would be less awkward.

I can look at some kind of indicator to make it clearer.

[2018-03-02 10:35] SCdF commented on #3594
This is due to how we've configured nginx, or inherent limits in nginx, which is why we didn't see it locally! There is a URL length limit, and we're going over it. Luckily this is in large part because by default we send exactly what we send to the search service, which has a bunch of crap we don't need, so I've removed that stuff from the export link. Links should now be smaller and work more re

[2018-03-02 14:49] SCdF commented on #3639
One thing to make sure we consider is how this affects analytics.

For example, if we allow variable hierarchies where places of the same type can have different numbers of parents[1] there may be certain types of "counting" based analytics that is harder.

Before we design this we should talk to @michaelkohn and work through these problems.

[1] One CHW has CHW Area -> Clinic -> District Hospital

[2018-03-02 15:10] derickl opened #4262 "Contact parent (and .parent.parent) objects are not hydrated"
The expected behaviour when accessing contact parent object is to have access to all parent attributes as per pre-2.13.

From 2.13 (also seen in 2.14-beta), the parent and parent's parent objects are not hydrated in the task rules. In the existing task rules, we rely on these parent properties to customise logic.

As of now, these  rules could be in an unusable state'.

LG KE will be rolling out 2

[2018-03-02 15:14] sglangevin commented on #4262
@derickl please provide more information. Where are you accessing these parent properties? Please include config examples to explain what you are trying to do that no longer works.

[2018-03-02 15:27] derickl commented on #4262
A case in point is that I need to do under one follow ups.

For this I'll need to only pick person contacts, belonging to a family

[code]

Given the parent attribute is not fully hydrated, `c.contact.parent.type` will evaluate to undefined and that condition fails.

[2018-03-02 16:57] sglangevin commented on #4262
For this one, please use `c.contact.parent.parent.parent` as a replacement. Per our conversation on slack, sounds like there might be some cases where a direct replacement isn't possible, so we need to identify those and look for workarounds. Hydrating all of the lineage in the task rules is a performance hit and I want to avoid it if possible. It is being considered, but let's see what workaround

[2018-03-02 17:13] sglangevin commented on #3639
We also have a request for being able to assign individual patients to a particular contact. So instead of assigning specific households to a CHW, assigning individual patients to another CHW who is part of a specific program. This happens frequently in HIV workflows where CHWs aren't following up on HIV+ patients. The follow-ups are done by another person, sometimes called a peer mentor or mentor

[2018-03-02 18:25] rmhowe commented on #3826
**Progess so far (2/3/2018):**
**Done**
- Added lineage shared library (converted to es5 and using promises, with tests converted to mocha with promises)
- Replaced:
  - Uses of lineage library within sentinel
  - The `places` controller within api
  - The `export-data` and `export-data-2` services within api
  - The `lineage-model-generator` service within webapp

**To do**
- Fix the `places` con

[2018-03-02 20:10] garethbowen commented on #3594
I think the main problem we're going to have is due to the way we download exports we won't know when the download has started or is complete, so if we showed a spinner or disabled the button it would never get unset. We basically rely on the browser UI to communicate the download progress. @sglangevin Is the browser UI insufficient? What do you actually see?

I don't think there's any other way t

[2018-03-02 20:17] sglangevin commented on #3594
In my test, it was a long enough delay from when I clicked Export to when the download started in Chrome (downloads bar popped up at the bottom) that I wasn't sure if it was working, so I'd assume this will happen to a lot of users. I'm just looking for a way to indicate to the user that the Export button was pressed and the download is going to start. If we can get the browser to communicate the

[2018-03-02 20:50] garethbowen commented on #3594
We could definitely improve the feedback on the buttons by having them appear to depress or something as you click on them but it's probably not worth it as we're moving to material style FABs soon which do feedback well.

I'm sure forcing flushing of a `\n` would work but it would leave an empty line in the top of the CSV. We _may_ be able to get away with [flushing the headers only](https://mich

[2018-03-02 22:52] michaelkohn commented on #3639
We should also look at other solutions in our space to look for inspiration and also consider the conversations about 'EMR style back-end'.

I'm not familiar with how OpenMRS deals with hierarchies, but the DHIS2 approach to this is pretty cool for analytics.  Essentially you can have an unlimited number of levels in your **Organization Unit** hierarchy.  Then you have **Groups** and **Group Sets*

[2018-03-02 23:59] sglangevin commented on #4235
Forms are working fine but I can't get the geolocation to work. I've tried in Chrome and on a phone and a tablet. The phone and tablet are on WiFi with airplane mode switched off. I'm only getting the `geolocation` field in the `data_record` sometimes and when it is there, it is blank.

[2018-03-03 00:00] sglangevin commented on #4235
I was testing as a restricted user on beta.dev and on standard.dev.

[2018-03-03 00:02] sglangevin commented on #4174
I've got an idea on how to test. Will work on it on Monday. In the meantime, I had some performance concerns initially but I think my Y4 was just having a slow day earlier this week and it now seems pretty much the same as before. I'll have to test on a user with a lot more data to confirm.

[2018-03-03 00:03] #4199 closed

[2018-03-03 00:17] garethbowen commented on #4235
Yeah, that's what I was getting too. When was the last time you tested this and got a geolocation result?

[2018-03-03 02:37] abbyad commented on #4248
If there are no UI elements it *can* still get populated if there is a `calculate="."` which means that UI elements are not strictly required for fields to a db-object. We thought we shouldn't be doing this because of #4134 (but perhaps need to reevaluate that). Regardless, this needs more investigation to figure out what is and is not possible.

[2018-03-03 12:18] abbyad commented on #4134
From a contact profile a hydrated contact doc is sent to the form, so the fields associated to a db-object have values regardless of the db-object. This may help to figure out what is going on.

[2018-03-03 13:34] abbyad commented on #4248
Summarizing some info here for reference, and to help figure this out.

Field values can be set in the following ways:

### Typical XForms
**INPUT**: Manually entered using UI input fields.
**CALCULATE**: Any field type can be set using an XPath expression.

### Medic Mobile specific
**PRE-LOADED**: The `inputs` group of an XForm can be pre-loaded with values from the task or contact that opens th

[2018-03-04 23:47] garethbowen commented on #4235
Fixed in 2.14.0-beta.17

[2018-03-05 01:06] ngaruko commented on #4247
LGTM

[2018-03-05 01:06] #4247 closed

[2018-03-05 02:05] #4125 closed

[2018-03-05 03:13] garethbowen commented on #3959
@sglangevin Sorry for the delay here. I've managed to have a look and it's just as you say - the `registration_id` is only set when the patient shortcode is found on a registration form and not on a contact. It might be quite confusing if it sometimes linked to a report and sometimes to a contact but it probably depends how it's used. Alternatively we could consider having a different field for `p

[2018-03-05 03:19] abbyad commented on #4248
A relatively simple short term solution until this is resolved is to make the associated fields `strings` with a `hidden` appearance. I'll test and confirm soon.

[2018-03-05 03:24] #3565 closed

[2018-03-05 03:53] #4121 closed

[2018-03-05 10:06] SCdF commented on #3639
We really need to kill the phrasing "EMR style back-end", unless we *actually* want to go there. The conversation we've had is about syncing to an EMR, not fundamentally changing the philosophy and technology behind our entire product. Syncing to an EMR is ~1 month's work, an EMR style back end is potentially years of work.

[2018-03-05 10:08] SCdF commented on #3639
Is this allowing a CHW to see that patient for the purpose of a HIV screening, but the patient is still seen / mostly managed by the general area CHW? I.e., is the current structure mostly right except for edge cases, or is the current structure basically wrong for a lot of workflows?

[2018-03-05 10:37] alxndrsn commented on #4248
This _sounds_ correct, but perhaps some example XML or XLS (current behaviour vs desired) would make it clearer why it's not...

[2018-03-05 14:44] SCdF commented on #3594
So I debugged further and it turns out Gareth is right: **we don't have a good start / end hook to know that a download is pending**.

I'm sure there are things we could do, but it looks like a large amount of rework :-(. It also probably needs design input / is dealt with a little in the current UI change.

I've implemented flushing headers (it's way nicer now G). @sglangevin once this is merged

[2018-03-05 14:55] abbyad commented on #4248
Here is an XLSForm example with three ways the fields associated to a db-object are structured:
1) **`hidden` type:** field is not populated by db-object, but this is the desired way since it ODK XForm standard compliant and cleanest
1) **`hidden` appearance:** works currently, and should continue to work, but bloats the form with unused inputs and labels, eg `<input appearance="hidden" ref="/issu

[2018-03-05 15:26] garethbowen commented on #3594
Nice one!

[2018-03-05 18:11] sglangevin commented on #3639
The current structure is mostly right except for edge cases. HIV is a special workflow because it involves particularly sensitive health information. Currently, HIV services are often provided by a separate cadre of people who only deliver HIV services. In the future, this may change, but we've seen this in many of the programs we've worked with.

[2018-03-05 19:32] browndav commented on #4260
Try `node --max_old_space_size=8192` or `node --max_old_space_size=4096`.

[2018-03-05 19:33] #4204 closed

[2018-03-05 19:33] #4157 closed

[2018-03-05 19:34] #2857 closed

[2018-03-05 20:00] browndav opened #4266 "Docker: Provide additional control over the automatic bootstrapping of Horticulturalist"
In our Docker images, Horticulturalist is automatically bootstrapped using `--medic-os --only-bootstrap` on first run, deferring to Horticulturalist's judgement re: which build of our app to install. This automated bootstrap process removes a manual step for our ops team, and is IMO useful.

However, our images do not currently provide a way to control *what* build name or type is bootstrapped by

[2018-03-06 00:06] sglangevin commented on #3594
Ok - gave this a test on the latest alpha (I just updated about 20 mins ago so it should include the merged code). The speed is slightly better but it's still not clear to the user that the export is actually happening. Could we gray out the button when it is clicked and just leave it grayed out for a short while so that it's clear that something is happening? I just want to avoid having users cli

[2018-03-06 01:33] sglangevin commented on #4235
LGTM - GPS is working in Chrome and on Android with a recent version of our Android app.

[2018-03-06 01:33] #4235 closed

[2018-03-06 02:47] ngaruko commented on #2753
LGTM

[2018-03-06 02:47] #2753 closed

[2018-03-06 10:26] SCdF commented on #4266
The first point sounds great, that should definitely be exposed! I think there is also a discussion to be had as to what the default should be. I think in the production docker it should definitely be the latest master, in large part because we want to push people to the latest version as much as possible. If there is already a dev flag where the docker image knows it's running in non-production m

[2018-03-06 10:47] browndav commented on #4266
I feel less strongly about the second option (it was by request last week), but you're right that is should probably no-op horti entirely if implemented. I'll do the first and skip the second for now unless someone objects.

[2018-03-06 11:02] browndav commented on #4266
I'm guessing you'd prefer that the default be implemented in horti (i.e. when no specific build is requested via `--only-bootstrap` or `--bootstrap`); is that done or should we file a ticket?

[2018-03-06 11:06] SCdF commented on #4266
Horti defaults right now to the latest beta build IIRC. Once there is actually a final build on there (ie once 2.14 goes gold) the intention is to change it to that.

[2018-03-06 11:09] SCdF commented on #4266
Actually I lie it apparently picks master as the default? I need to read through the code / docs again, I'm getting confused

[2018-03-06 11:10] SCdF commented on #4266
Right, so horti defaults to master, and our medicos integration defaults to beta: https://github.com/medic/horticulturalist-on-medic-os/blob/5bace22a436d2521c5424f7ac6f920a169214ff9/packages/horticulturalist/scripts/horticulturalist/env#L83

The intention is the code linked above changes to release once there is one

[2018-03-06 12:21] SCdF commented on #3594
@sglangevin OK Freaky Friday has arrived and it's only Tuesday!

This works correctly for me deploying locally on master, but I can also confirm it doesn't work on alpha.dev (which I presume you're using)!

There are tests which should catch if that particular part of it is broken on the backend, so it's not that: though not the integration between the front and backend (not sure how to test the d

[2018-03-06 12:41] SCdF commented on #3594
What alpha.dev's api sees:

[code]

What I get locally:

[code]

Apart from the HTTP version I don't see a difference, and I don't think that could cause problems.

It's clearly not nginx stripping the request parameters though!

[2018-03-06 12:45] SCdF commented on #3594
Dropping to the same node version (6.9.5 vs 8.9.1) didn't change anything either…

[2018-03-06 16:56] SCdF commented on #3594
OK…

So I ended up downloading the entire DB from alpha, and the same DB and the same code works locally. It's not nginx, there is debug code in master now and the request params are definitely making it to my code.

The only other difference that I can think of between the two setups is that I'm running CouchDB 2.0 locally. But surely that wouldn't cause issues… 🕵️

[2018-03-06 17:15] SCdF commented on #3594
… and it works locally in CouchDB 1.x.

@garethbowen can you try testing this locally (selecting different filters in reports view should constrain both the search and the export)? Do I live in some alternative dimension where it only works on my computer? Is it some weird artifact of how Gardener deploys shared libraries? Is it MacOS vs. Linux somehow?

Once we know which plane of existence I liv

[2018-03-06 21:35] garethbowen commented on #3594
@SCdF It works for me locally too.

The problem is the shared library on the server hasn't been updated to the latest code - it's missing [this commit](https://github.com/medic/medic-webapp/commit/b6715d11a89dda29fb2c385488d73d81449f1097#diff-b33f4182e273c08682f51463364b76fc) from 15 days ago.

I suspect npm isn't installing it because the search module's version hasn't changed.

[2018-03-06 23:34] abbyad opened #4272 "Items beneath menu can show through"
Text from below the Submit Report menu on the Reports tab LHS shows through ever so slightly on the top edge if there is a scroll bar:

## Menu on Reports tab LHS shows text from beneath

![image](https://user-images.githubusercontent.com/789512/37064484-1d5b4094-216b-11e8-9425-fe68ac4a8066.png)

## Menu from People tab RHS looks normal
![image](https://user-images.githubusercontent.com/789512/370

[2018-03-07 15:27] SCdF commented on #3594
This isn't a bug in how we're structuring shared libs: this is a bug in gardener / the bundled npm lib / perhaps kanso, where *any* dependency change is ignored.

This only seems to effect our master and beta markets, not release.

[2018-03-07 16:43] SCdF commented on #3594
@garethbowen let me know how the exciting "disable the button for 2 seconds" code grabs you.

As for the gardener issue… we should discuss next steps with that one I imagine. It's solved the mystery of the no filtering for this ticket though, so it's a separate issue.

[2018-03-07 21:05] abbyad opened #4274 "Misaligned default language icons"
The star to indicate default languages is misaligned:
![image](https://user-images.githubusercontent.com/789512/37118079-02eebb94-2221-11e8-9b3b-d7e5c220d11b.png)

Seen in `2.14.0-beta.16`, using Chrome at 100%.

[2018-03-08 00:45] michaelkohn commented on #3959
Attached some of the test scenarios I went through.

These worked as expected
- The `cleared_by` functionality in schedules
- The `source_id` field on  `person` records
- The `created_by` field on `person` records

These did not work as expected
- Submit N and then delivery.  The `registration_id` on the `delivery` linked to the `N`
- Submit P then P then P.  The `registration_id` on subsequent `P

[2018-03-08 01:09] garethbowen commented on #3594
Back to you @SCdF

[2018-03-08 05:19] ngaruko commented on #3530
LGTM. Will close this an raise a different issue if it comes up in another part of the app as @sglangevin suggested.

[2018-03-08 05:19] #3530 closed

[2018-03-08 06:04] #4085 closed

[2018-03-08 07:55] SCdF opened #4275 "Gardener doesn't replace node_module packages for beta and snapshot branches"
It seems that when deploying api / sentinel for (at least) beta and snapshot markets, if the module already exists in the existing deployment node_modules directory, the one in the tarball package is ignored.

This doesn't appear to affect any existing production instances, though I will keep looking.

A workaround is to `rm -rf node_modules` inside the api and sentinel working directories prior t

[2018-03-08 08:20] SCdF commented on #4275
It only affecting beta and snapshot markets could be:
 - There is something different on alpha.dev and beta.dev servers (a medic os problem)
 - There is something about the lack of a major / minor / patch semver bump when deployment happens (a gardener / npm problem)
 - We broke something in the code, most likely in kanso, and the break happened after the latest master (a kanso / me problem)

[2018-03-08 11:28] SCdF commented on #4275
It is not our kanso change.

I reverted it and generated packages locally.

The only medic ddoc differences were with build dates and revs, and some attachment hashes, which were in turn caused by harmless non-dependent-ordering in whatever the attachment was.

The only api / sentinel attachment differences were the ones I fixed kanso for in the first place: the old kanso didn't copy over our shar

[2018-03-08 12:34] SCdF commented on #4275
I think the following bash "script" will do what we want as a workaround:
[code]

[2018-03-08 12:39] SCdF commented on #4275
I think we are going to try to roll with this script for now:
 - It's not clear if this affects production
 - I have already spent a lot of time trying to work out why the code would have this problem and I can't see anything
 - There is only 1-2 more releases before 3.0, which drops this tech entirely and replaces it with something that will not have this problem

[2018-03-08 12:39] #4275 closed

[2018-03-08 13:10] SCdF commented on #3594
Merged into master.

[2018-03-08 21:13] garethbowen commented on #3738
Back to you @alxndrsn

[2018-03-08 22:45] abbyad opened #4279 "Countdown timer does not show if there is a relevant"
A `countdown-timer` will never display if it has a relevant statement, even `relevant="true()"`.

Sample form:
[code]

[2018-03-08 22:51] abbyad commented on #4279
This was initially reported by @oneil0 in [a project form](https://github.com/medic/medic-projects/blob/7956b8d470e2a9eb0c39dc2fa33094279ef1d080/muso_in/forms/app/supervision_with_chw.xml). Confirmed on `2.14.0-beta.16` and `2.13.1`, so it is not a recent regression, if it is one at all.

[2018-03-08 23:06] ngaruko commented on #4113
LGTM

[2018-03-09 08:09] SCdF commented on #3993
Also, we are going to run compaction against the DB as well, prior to running view warming.

Rough timeline would be:
 - Copy over DDOC
 - Compaction
 - Trigger view warming
 - Allow for deploy (either automatic or manual depending on if you're just staging)
 - Post deploy view compaction (to remove the now old view indexes)

[2018-03-09 18:51] sglangevin commented on #3594
Filters are working again and I think the 2 seconds of graying out is good enough for now. At least I can tell that I clicked on something. Moving to ready.

[2018-03-09 18:53] sglangevin commented on #4090
@garethbowen @jillrshah were you able to finish this off?

[2018-03-09 18:54] sglangevin commented on #4101
@vimemo what is the status of this issue? I'd like to get everything in 2.15 closed off soon if we can.

[2018-03-09 19:05] jillrshah commented on #4090
Yes! The 10 or so terms related to tours have all been translated for the languages that we have capacity for on our team.

[2018-03-09 23:42] sglangevin commented on #3959
@garethbowen sounds like it is not optimal for a report to be linked to a contact in that way. I think it should always be linked to a report.

@michaelkohn thanks for doing all that testing. Here is my feedback:

I'm not sure we can avoid having linkage IDs on pregnancies if we need them on delivery forms because both of these forms are registrations. Can't you just ignore them for pregnancy form

[2018-03-10 00:30] sglangevin commented on #3956
LGTM. Working well!

[2018-03-10 00:30] #3956 closed

[2018-03-10 00:36] sglangevin commented on #4053
Noticed this while testing death reporting. Can someone explain to me why [this report](https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/c52ee656-10d2-470c-9c30-2c6854af7205) shows up as "Unknown subject" in the history tab? Seems like it should be the patient's name, which is included in the report:
![image](https://user-images.githubusercontent.com/1286381/37235937-cc0686

[2018-03-11 16:30] dianabarsan commented on #4053
My guess (as I don't have access to alpha.dev) is that the patient doc has since been deleted.
It's a very easy change to prioritize data saved within the report doc itself (the patient name) and display that  versus data queried from the DB (ie: search by patient_id).
@sglangevin Please tell me if you wish that I make this change.

[2018-03-11 21:51] garethbowen commented on #4274
Moved to 2.15.0 - it's not high enough priority to backport.

[2018-03-11 21:59] garethbowen commented on #4079
Duplicate of #4080

[2018-03-11 21:59] #4079 closed

[2018-03-11 22:12] garethbowen commented on #3738
No AT required.

[2018-03-11 22:23] garethbowen commented on #4053
@dianabarsan I had a look on alpha.dev and the contact hasn't been deleted (though that was a good guess!). The problem is the code assumes that `patient_id` is a reference not a uuid. The workaround is to change the field to `patient_uuid` in the form, but I think having a uuid in a `patient_id` field is standard for enketo forms (right @sglangevin ?). We might have to try and determine if the `p

[2018-03-11 22:26] garethbowen commented on #4090
Great. I've just exported all the translations so this can now be tested.

[2018-03-12 02:07] ngaruko opened #4281 "`Outgoing messages` sorting broken"
Steps to reproduce:
Run  e2e tests (`grunt e2e`) with `specs: ['e2e/**/sms-gateway.js']` enabled.
Expected:  Pass  (`Delived` message to come before `Scheduled`)
Observed: Fail with `Scheduled` message showing before `Delivered`.
![image](https://user-images.githubusercontent.com/6979995/37262223-b17a9064-2606-11e8-888a-de428ff08266.png)

[2018-03-12 02:11] garethbowen commented on #4281
This test is failing because the two messages in the `ANC Reminders LMP:2` group are being reordered. The change was introduced with the recent change to a shared task-utils library which added [this line](https://github.com/medic/medic-webapp/blob/master/shared-libs/task-utils/src/task-utils.js#L23) which sets the timestamp of the task when updating the state. I don't think this is correct and th

[2018-03-12 02:12] garethbowen commented on #4281
@dianabarsan What do you think?

[2018-03-12 10:22] dianabarsan commented on #4053
@garethbowen is correct, the issue is that the patient_id field in the report contained a doc id instead of a shortcode, also the form is missing the patient_uuid field.

[2018-03-12 15:50] SCdF commented on #3826
Please review @garethbowen, apologies that the PR is so massive!

[2018-03-12 15:50] SCdF commented on #3826
(If you're cool with it leave the merging to me)

[2018-03-12 17:12] vimemo commented on #4101
@sglangevin, the latest commit should take care of this issue but we are optimizing the messages view with some recommendations from @garethbowen. The optimization depends on #3826 which is currently in code review. I should have this ready for code review right after that; hopefully eod.

[2018-03-12 18:10] sglangevin commented on #4053
Right - the `patient_id` field will always contain a doc id for projects that do not use Medic IDs (shortcodes), which is most of our projects where CHWs are using our Android app. The `patient_uuid` field is not something that we can rely on so we shouldn't be using that as a way to get the patient's name or any info about them.

[2018-03-12 18:45] sglangevin commented on #4101
Cool - thanks for the update. Are we going to backport #3826 to 2.15.x? If so, we should add that ticket to the 2.15.0 project so that we make sure it gets tested as well.

[2018-03-12 20:50] garethbowen opened #4284 "Refactor messages_by_contact_date view to reduce more"
The `medic-client/messages_by_contact_date` view is designed to return an object which contains all the information needed for the message list reduced to show only the last message from each contact. As the amount of information needed has increased so has the emitted value which means sometimes it crashes because the reduce isn't reducing the size of the object as much as expected (#4101). To ge

[2018-03-12 20:51] garethbowen commented on #4101
I've created a new issue (#4284) for the refactor that @vimemo is referring to. The above PR can be merged as is to provide a temporary workaround for 2.15.0 as we don't want to include large refactors this late in the 2.15.0 release cycle.

[2018-03-12 20:51] garethbowen commented on #4284
This is probably blocked by #3826

[2018-03-12 22:01] sglangevin opened #4285 "Gardener repeatedly scans every db looking for modules to install"
While testing the upgrade from 2.12 to 2.14, I noticed that view indexing was taking a long time and seemed to be failing repeatedly and re-starting. Upon closer inspection, @garethbowen realized that now that we have 1 db per user, gardener is scanning through all of these dbs repeatedly, as fast as it can, looking for modules to install, which is quite bad for performance. This may need an updat

[2018-03-12 22:18] abbyad opened #4286 "Labels missing from the Outgoing Messages translation tab"
The `Outgoing messages` translation tab is misleading since it looks like there are no labels to translate:

![image](https://user-images.githubusercontent.com/789512/37311209-dd0dfc00-261c-11e8-871c-c95fd484dbd7.png)

This is because these fields are now translated as part of the .properties files, which only show in the `Application text` tab.

A couple of possible options:
1) Remove the `Outgoi

[2018-03-12 22:25] garethbowen commented on #4285
It turns out gardener can be configured to just track a single database instead of tracking all databases.

I modified the `/srv/scripts/gardener/run/gardener` file so instead of:

[code]

It has

[code]

This means instead of polling every database every 30 seconds it only polls the `medic` database, This will fail to install an upgrade if anyone has installed our webapp into another database but

[2018-03-12 23:04] garethbowen commented on #4101
Merged in https://github.com/medic/medic-webapp/commit/524f92386d7fe6f6c177aa435f9dc0cae492dc0a

[2018-03-13 00:43] garethbowen commented on #3826
Back to you. Don't merge until the `2.15.x` is taken.

[2018-03-13 08:52] ngaruko commented on #4281
LGTM.... Well done @dianabarsan  & @garethbowen

[2018-03-13 08:52] #4281 closed

[2018-03-13 13:41] SCdF commented on #3826
Since 2.15 is nearly completion I'm going to wait (instead of merging and creating a 2.15 branch. Hopefully that turns out to be the right decision!

[2018-03-13 14:59] henokgetachew commented on #4285
@garethbowen @sglangevin confirming that this is indeed causing major slowdowns.  On the latest migrated clone instance that we did for brac, the instance is at 100% CPU utilization at the current instance size.  The only running process is this gardener scanning of dbs.  I think we should mass deploy this change.

[2018-03-13 15:30] henokgetachew commented on #4285
CPU utilization after making that change.
![image](https://user-images.githubusercontent.com/3198821/37351502-475055b6-26ec-11e8-89af-e1732ca0dd80.png)

[2018-03-13 15:36] SCdF commented on #4248
This is happening because db-object is writing to the DOM to to Enketo, and the DOM elements required to write to only exist if you either have an explicit hidden field, or one is generated implicitly due to a calculate bind.

[2018-03-13 16:16] henokgetachew commented on #4285
With respect to the upgrades from old versions however, this is not affecting us until the `extract-read-status` migration runs, which creates those dbs.  With the large instances, indexing has been finishing before we get to this migration - because the migrations related to the audit-db have been taking a while to run.

[2018-03-13 16:19] henokgetachew commented on #4285
I'm working on code to patch this across all instances.  I doubt we need to make the change in the medic-os repository however - since we're moving on to horti.

[2018-03-13 16:56] SCdF commented on #4248
This is also a useful link for finding the values at run-time, though I'm not sure it's helpful finding them inside the widget: http://medicmobile.cloud.answerhub.com/questions/209/how-can-i-debug-the-values-of-a-xform-in-progress.html

There are also lots of example widgets that might be helpful in enketo-core/src/widget, though I haven't found one that makes this clearer.

^ @garethbowen there i

[2018-03-13 19:58] garethbowen commented on #4285
Thanks Henok. @browndav suggested updating the medic-os repo so if there's a new instance before we release 3.0.0 or a security patch we need to apply before everyone is on 3.0.0 then the patch won't be reverted. It makes sense to me to do both.

I think the patch is also safe to apply to pre-2.13.0 instances they just won't see nearly as much of a performance improvement so feel free to apply it

[2018-03-13 20:58] SCdF commented on #4248
Brainwave: we can alter pyxform to always generate hidden fields if there are going to be no visible ones. This would mean we would always already have something to write into. I have no idea what else that would effect, I feel like it would be fine?

[2018-03-14 00:10] sglangevin commented on #4174
I've successfully tested on Y4. I upgraded a clone of the MoH Siaya instance and was able to load all of the docs on my Tecno (it took a long time to load initially but it made it). Once the app opened, warming up for the first time took a while too, but after warming up, everything was working at an acceptable pace. I then hard-closed and re-opened. It took about 8.5 minutes to re-open the app an

[2018-03-14 00:10] #4174 closed

[2018-03-14 00:13] sglangevin opened #4288 "Everyone is a primary contact"
For some reason, every person's profile has the yellow star and says "primary contact" even if that person is not the primary contact for any place. Places also have the primary contact label on them. This label should only be displayed for people who are actually the primary contact of a place.

Examples:
I clicked on General Hospital and then Central Health Center. Notice that Central Health Cen

[2018-03-14 01:58] ngaruko opened #4289 "Form sent from `medic gateway` comes with `Unknown sender`"
Steps to reproduce:
1 - Go to `Medic-Reporter`
2 - Pick a form (I used `New Pregnancy`)
3 - Fill in required details and send
4 - Go to the web app >> Reports tab and selected the report sent

Expected : on the RHS, we should be able to see the report submitter...
But : It shows `Unknown sender`
![image](https://user-images.githubusercontent.com/6979995/37379363-1271debc-2798-11e8-9b53-57cf8651176

[2018-03-14 03:26] garethbowen commented on #4248
I've come up with a solution to update the model directly.

Firstly I modified the Enketo service to store the current form as a global so I can access it from the widget. Add this to the `renderFromXmls` function:

[code]

We'd have to find a better way to access the current form but this is merely a proof-of-concept for now.

Then modify the db object widget so instead of updating the DOM we do

[2018-03-14 08:16] garethbowen commented on #4053
@sglangevin @amandacilek @dianabarsan The fix for this issue has had a side effect that I didn't expect - now the LHS and the header of the RHS are quite different which I for one find confusing. Here's what it looks like now...

![inconsistent-headers](https://user-images.githubusercontent.com/2064938/37390070-82e7ccfa-27cb-11e8-990f-decadfe27886.png)

1. Now the LHS shows the subject (eg: patien

[2018-03-14 12:05] SCdF commented on #4248
@garethbowen please take a look when you have a mo.

[2018-03-14 12:14] SCdF commented on #4288
Fastest bug fix ever. Maybe too fast…

[2018-03-14 13:43] dianabarsan commented on #4053
Also, on LHS, the submitter name could be included in to location.

![image](https://user-images.githubusercontent.com/35681649/37405784-3dac075a-279e-11e8-9644-8fdd37c22a63.png)

[2018-03-14 13:45] dianabarsan commented on #4289
Actually, #4053 has only updated LHS (the list), it has not touched report content.

[2018-03-14 14:56] henokgetachew commented on #4285
Testing the upgrade makes sense.  I'm going to do this before doing the mass patching.

[2018-03-14 15:09] henokgetachew commented on #4285
Code is ready.  I couldn't find a test instance that hasn't already been upgraded to be able to test the upgrade however.  I will make the test before deploying it.

[2018-03-14 15:28] amandacilek commented on #4053
Hey Gareth thanks. Yes I've been wanting to fix the reports RHS. My preference is that it is updated to match the new LHS order:
- Subject (patient) name
- Form name
- Location (breadcrumbs)

Diana is right - we were thinking the location component would give the details of the submitter.
Not entirely sure about your last question though on whether the location should be of the patient or the subm

[2018-03-14 20:14] garethbowen commented on #4248
Back to you!

[2018-03-14 21:06] garethbowen commented on #4288
It looks like it was broken in [this commit](https://github.com/medic/medic-webapp/commit/2bf99bd82fa9f9268afeeceaf498521016ae997d#diff-b259c456057dd9b09be9a7f05704a0dc). I think I removed it to make sure the layout worked for deceased primary contacts.

[2018-03-14 21:35] ngaruko commented on #4178
Any clue on how to AT this issue @SCdF @alxndrsn @alxndrsn ? Thanks

[2018-03-14 22:41] ngaruko commented on #4288
LGTM

[2018-03-14 22:41] #4288 closed

[2018-03-14 22:56] amandacilek opened #4294 "On single column pages, remove scroll within a scroll"
When on the Targets page viewing a lot of widgets that continue below the page fold, I cannot scroll the page with my mouse positioned on the far left or right side of the page in the grey background area. The page only scrolls when my mouse is positioned on top of the central content area where the widgets are. I see no reason for us to have a scroll within a scroll on this page because the conte

[2018-03-14 23:01] sglangevin commented on #4289
Yeah, I don't think this is a bug. You have to adjust the "Sent from" number to be a phone number that exists as a contact in Medic. I'm going to close this.

[2018-03-14 23:01] #4289 closed

[2018-03-14 23:22] browndav commented on #4266
Tossing over to @henokgetachew and/or @SCdF for a quick review.

[2018-03-15 00:40] ngaruko commented on #4274
Looks better. Not sure if @abbyad would like it more in the center of the icons....?
![image](https://user-images.githubusercontent.com/6979995/37438261-4814a8c4-2856-11e8-926b-08ff7b6ac325.png)

[2018-03-15 00:41] garethbowen commented on #3959
As discussed, this is supporting the 1-step registration. Because there is no `R` there may actually be useful information (eg: lmp_date) on the `N` form. I think this is the correct behaviour.

Definitely a bug. I'm working on a patch for that now.

I think this should be done as a validation which, if found to be invalid, would halt the transition before the `registration_id` was added. As far a

[2018-03-15 00:45] sglangevin commented on #4274
This is the correct way - this is how it looked before.

[2018-03-15 00:54] garethbowen commented on #3959
Code review please @SCdF

[2018-03-15 01:11] ngaruko commented on #4090
LGTM --

[2018-03-15 01:11] #4090 closed

[2018-03-15 01:19] garethbowen commented on #4285
The fix doesn't change the release at all so I'm going to remove this from the 2.14.0 project. We need to make a manual change or upgrade medic-os to update our gardener config before updating to 2.13.0 or above.

[2018-03-15 01:39] diannakane commented on #4053
The location of the patient makes sense to me, particularly for cases where the submitter is not the CHW. If it's the nurse at a facility, showing the location of the submitter could feel really disconnected from the patient's location in the hierarchy.

Did we account for the submitter to show up anywhere in this new design? A link to their location feels helpful, and we'll still want to search/f

[2018-03-15 02:38] #4274 closed

[2018-03-15 02:52] garethbowen opened #4296 "Compact the db and views before starting an upgrade"
This will free up some space which might save us from running out on upgrade. It can be run while API is still running so won't increase the downtime.

[2018-03-15 02:54] garethbowen commented on #4294
This also applies to other similar pages like configuration and about.

[2018-03-15 08:15] ngaruko commented on #4080
LGTM

[2018-03-15 08:15] #4080 closed

[2018-03-15 08:18] ngaruko commented on #3936
Any tips on how to AT this @alxndrsn ?

[2018-03-15 10:09] SCdF commented on #4178
@ngaruko essentially the bug is that multiple instances of the same user were writing to the same `_local` doc on the server. If you watch the network tab while replicating you will see PouchDB writes to `_local/randomstring` on the server a lot. This is it writing checkpointing indicating what it has replicated up to that server.

You want to make sure that different instances of the same user ar

[2018-03-15 10:14] SCdF commented on #4266
@browndav looks good to me, with the proviso that these flags should be documented somewhere so we know they exist.

Also, I see you implemented the no bootstrap option. What was the use case there?

[2018-03-15 10:48] SCdF commented on #4296
This is already covered here: https://github.com/medic/medic-webapp/issues/3993#issuecomment-371742490

[2018-03-15 10:48] #4296 closed

[2018-03-15 11:26] henokgetachew commented on #4266
LGTM

[2018-03-15 12:08] SCdF commented on #4248
Additional AT note:

@garethbowen suggested that we test this inside repeating sections. I was unable to get the db-object widget with working in a repeating section _at all_, let alone get to the point where I could test that it mapped fields correctly. @abbyad are you aware of whether this is expected to work? If so could you rustle up a test form, as I guess that means I don't know how to make

[2018-03-15 13:33] henokgetachew commented on #4285
I have tested this with alpha.dev and it works.  I will let @sglangevin confirm that things are okay with it before doing it on all others.

[2018-03-15 13:37] SCdF commented on #3826
AT: all the things. In all seriousness this effects all places where lineages are dealt with, which covers webapp, api and sentinel.

Mapping code changes roughly to features we get
[code]

[2018-03-15 13:46] abbyad commented on #4248
Below is a form with repeats. The first repeat group has an associated field of type `string` and `hidden` appearance, which currently works as expected. The second repeat group uses the XLSForm type `hidden`, which does not assign values to associated fields in 2.14... but hoping it works with this fix!

[code]

[2018-03-15 14:18] abbyad commented on #4248
The associated fields now get values, but only for the first item in a repeat group. The form above also consistently hangs my tab  (Chrome 65.0.3325.146 on Windows) when selecting a second person in a repeat group.

[2018-03-15 14:33] SCdF commented on #4248
This is tricky to fix because the data we get from XML is an array and I can't find an index into it. You'd think you could use the `_id`, but it looks like that's not written to the structure until after we write everything else. One strategy could be to work out how to change that ordering.

However, let's leave it for now and see if this is a feature we need to support, or it can be left as a l

[2018-03-15 14:37] abbyad commented on #4248
Testing it again it crashed with an out-of-memory error when trying to add a repeat item.

Here is a perhaps not so useful screenshot, shortly after I clicked the `+` button:

![image](https://user-images.githubusercontent.com/789512/37469853-9f249a9e-283c-11e8-8a52-ba1cae670c0a.png)

[2018-03-15 14:40] SCdF commented on #4248
One way we could do it is to work out our index by looking at the DOM (ie find our place in a collection of repeating children and use that to correctly index into the repeat.

[2018-03-15 14:41] SCdF commented on #4248
@abbyad that is very weird, and something I've never seen before testing this code, or testing any code.

Can you give:
 - Operating system
 - Browser(s) version(s) you tried (more than one browser please)
 - Exactly what you were doing
 - Whether it was repeatable
 - Whether it happens with any repeat or specifically with this code change? (ie if you do this on an old version does it still happen

[2018-03-15 15:17] abbyad commented on #4248
The form does not crash at all in `2.13.5`. In  `3.0.0-alpha.9637` I see the following:

## Chrome `65.0.3325.146` and `Firefox 59.0`

1) Add a repeat item to first group.
1) Select a person.
1) _It sometimes hangs now, if not, continue._
1) Add another repeat item to first group.
1) _It sometimes hangs now, if not, continue._
1) Select a person
1) Tab is consistently hung by now. I can see the ta

[2018-03-15 15:18] SCdF commented on #4248
@abbyad there is a `2.15.0-beta.1`, can you test on that? Depending on which build of 3.0.0 that is all sorts of stuff might be going on

[2018-03-15 15:54] abbyad commented on #4248
Good call, I cannot reproduce the memory crash in `2.15.0-beta.1`.

[2018-03-15 16:07] SCdF commented on #4248
@abbyad neat-o. Can you double check that this occurs on the whatever our "standard" master is (alpha.dev?) and make sure it happens there? Ideally after a laptop restart incase it is OS-related

[2018-03-15 16:19] abbyad commented on #4248
Ya, that's where I did all these tests: 3.0 alpha on alpha.dev, 2.15 beta on beta.dev, and 2.14 on standard.dev.

I'll post another update if any of this changes after a OS restart.

[2018-03-15 18:10] dianabarsan commented on #4053
I made a mock of @amandacilek 's update, including submitter name in location breadcrumb (location is still submitter's location). Just as an addition, in the RHS, Patient name could be a link to the corresponding contact page, if desired.

![image](https://user-images.githubusercontent.com/35681649/37482282-a20c2a2e-288c-11e8-9a73-7e5f3520e169.png)

@sglangevin Could you, please, offer your thoug

[2018-03-15 19:25] amandacilek commented on #4053
Did we account for the submitter to show up anywhere in this new design?

@diannakane The submitter name will be shown, listed first in the breadcrumbs, so long as the submitter's area is named after them (which I think it usually is?):
**Janet Mwangi's Area** > Tula Branch > Kiambu District Hospital

I remember us initially thinking this would be sufficient. However we could certainly add the sub

[2018-03-15 19:45] diannakane commented on #4053
What's confusing me is these breadcrumbs don't necessarily relate to the
submitter. I thought we were saying that the patient's location would be
listed first, e.g. household. If the submitter was someone else, would the
breadcrumbs show that as the first place, e.g. clinic?

[2018-03-15 19:55] amandacilek commented on #4053
Hm it is confusing. If a CHW is submitting a report, then the first item in the breadcrumbs will often be the same whether it is showing CHW's area or the patient's area (they would both fall under "Janet Mwangi's Area").

But yeah, say Nurse Mary submits the form for Beatrice. Then the breadcrumbs still say "Janet Mwangi's Area" because they're about the patient and Beatrice Bass belongs to that

[2018-03-15 20:06] diannakane commented on #4053
The submitter's name next to the date it was submitted feels sensible and
like it would reinforce the association, maybe accompanied by a label
"submitted by" if we think it's needed.

Why would the breadcrumbs start with the CHW"s area if it's about the
patient, and not with the patient's household?

[2018-03-15 20:13] amandacilek commented on #4053
Sorry, yes, in that case they could start with the patient's family, and then list the CHW's area. The CHW's area still applies, it's just going one level deeper. So:
Beatrice Bass Family > Janet Mwangi's Area > Tula Branch > ...

If we've decided we're interested in including the submitter's name as well in the top, why don't I do a few mockups to show what that would look like, explore some opti

[2018-03-15 20:17] garethbowen commented on #4053
In my opinion the current implementation is confusing enough that 2.15.0 shouldn't be released the way it is. Can fix the consistency issue with the LHS (perhaps the way @dianabarsan has suggested?) as part of this issue, and then make it even better with a new issue in 3.0.0?

[2018-03-15 20:23] diannakane commented on #4053
Yeah, Diana's suggestion will solve the problem we intended to solve with
this issue. I think this is a useful catch and worth mocking up, Amanda.
Depending on how simple the solution is and how close you guys are to
releasing 2.15, we could consider including it, but otherwise plan for it
in 3.0.

[2018-03-15 20:32] ngaruko commented on #3400
The `/api/v1/messages ` endpoint has been officially removed [#3971](https://github.com/medic/medic-webapp/issues/3971). So no need to work on this.

[2018-03-15 20:32] #3400 closed

[2018-03-15 20:41] amandacilek commented on #4053
Sorry if my earlier comments confused things, I was a little confused myself. To make sure I understand:

We like this for now:
- Subject (patient) name
- Form name
- Detailed time info
- **Location (breadcrumbs) based on submitter's location**

And we would like to consider:
- Subject (patient) name
- Form name
- **Submitter's name**
- Detailed time info
- **Location (breadcrumbs) based on patien

[2018-03-15 20:51] garethbowen commented on #4053
My proposal for the LHS and RHS is...

- Subject (patient) name
- Form name
- Subject location (breadcrumbs) (not submitter location)

We can do mockups for including the submitter's name, submitter's location, and moving the details time info and get that done in 3.0 (or whenever).

[2018-03-15 20:53] sglangevin commented on #4053
I don’t think I feel comfortable removing the sender information completely. I think it needs to be there. It seems weird to just see patient information and not know who sent that report.

[2018-03-15 20:56] garethbowen commented on #4053
Yeah, I was waiting to see who would notice that  ;)

How about this...

LHS:

- Subject (patient) name
- Form name
- Subject location (breadcrumbs) (not submitter location)

RHS:

- Subject (patient) name
- Form name
- Subject location (breadcrumbs) (not submitter location)
- "Sent by <submitter name>"

We can do mockups for including the submitter's location and moving the details time info and

[2018-03-15 21:04] amandacilek commented on #4053
I think I'm fine with whatever you guys want to do here for the quick-fix. The main thing is that we've fixed it so the LHS and RHS are more consistent, which is good.

As a point of comparison, here is a very quick mockup close to what I _think_ it might eventually be. I tried out the submitter name on the same line as the detailed time info but it made the line really long and I prefer to just p

[2018-03-15 21:27] sglangevin commented on #4053
I'm fine with that suggestion, @garethbowen. I think that makes it consistent but also keeps a reference to the submitter's name, which I think is useful. The other thing I like about this change is that you can easily get to the family page from the History detail view, which I think is very useful.

[2018-03-15 21:30] ngaruko commented on #3971
LGTM. The only thing we need to do is remove this from the api [documentation](https://github.com/medic/medic-api#messages). Will leave this open as reminder to edit the docs, unless otherwise suggested @alxndrsn  @garethbowen ?

[2018-03-15 21:34] sglangevin opened #4300 "Strange black bar appears on LHS when a restricted user doesn't have permission to create places"
Seen on beta.dev, logged in as a restricted user. Notice the black horizontal line across Nancy Ross Family:
![image](https://user-images.githubusercontent.com/1286381/37492198-bc9571c2-285d-11e8-926f-343d39fc6137.png)

We should either display an empty gray bar (similar to the mobile view) or the gray bar should be completely removed on both desktop and mobile. Here is a screenshot of mobile view

[2018-03-15 21:43] diannakane commented on #4053
It feels like sender name and time/date submitted should be formatted
differently from the rest, but I'm fine leaving that for a future
iteration. Let's just make a note to circle back to that, Amanda.

[2018-03-16 02:19] ngaruko commented on #3826
The `export` feature now breaks the app, with this error (mainly `api/v1/export/contacts`, `api/v1/export/messages`, `api/v1/export/feedback`, `api/v1/export/logs`, `api/v1/export/audit`):
[code]

[2018-03-16 04:09] sglangevin commented on #3594
I've tried testing this again on 2.15.0-beta.1 on beta.dev and I'm getting an error. It says 'Download failed - no file'. Any ideas?

[2018-03-16 04:10] sglangevin commented on #4113
This was working on alpha.dev but I can't delete reports (either singular or bulk delete) on beta.dev, which was updated to 2.15.0-beta.1 today. This is happening every time for me when logged in as admin.

[2018-03-16 04:14] sglangevin opened #4301 "Wrong "add place" button on the RHS at certain levels of the hierarchy"
As seen in this screenshot, I've clicked on a district hospital and am viewing the district hospital's profile but I have "Add family" on the RHS instead of "Add CHW area". Clicking on "Add family" does open the add family form, so it's not just an incorrect icon. I was logged in as admin on beta.dev when taking this screenshot - version 2.15.0-beta.1

![image](https://user-images.githubuserconten

[2018-03-16 04:16] sglangevin commented on #4144
Should this have removed the permission from the list of permissions? Or does config have to be updated for that to happen? I'm wondering because beta.dev has been upgraded and I still have this permission listed on the permissions page.
![image](https://user-images.githubusercontent.com/1286381/37503519-21c9ec70-2896-11e8-9ef0-d406219092ab.png)

[2018-03-16 04:19] sglangevin commented on #3657
Should these automatically show up on the permissions page or I need to update config? They don't seem to have appeared after upgrading beta.dev to 2.15.0-beta.1.

![image](https://user-images.githubusercontent.com/1286381/37503605-98d64890-2896-11e8-8fdf-e48c7bfbf5b7.png)

[2018-03-16 07:49] dianabarsan commented on #4301
It seems that `contact_summary` function from config throws an error for contacts that are top hierarchy (ie have no `contact.parent` and so `contact.parent.parent` throws). This prevents the code which sets your selected contact to fully run - this includes updating the action bar - so you'll be left with the action bar from the contact that was selected before.
If you refresh the page and click

[2018-03-16 10:40] henokgetachew commented on #3120
I don't think this is relevant anymore with all the docker stuff that we're doing.  Reopen if it's still relevant @browndav

[2018-03-16 10:40] #3120 closed

[2018-03-16 14:15] SCdF commented on #3826
Whoops, sorry about that, shoddy merging on my part!

I've fixed this and am going to do a deeper round of testing, as I've found a couple of other interesting bits and bobs. If you can keep testing the rest of it that would be greatly appreciated :-)

[2018-03-16 14:47] SCdF commented on #3826
One of the issues that I've fixed (not yet merged) would cause API to restart. This was due to applying a V2 optimisation to the V1 code path. I've changed that now, so there shouldn't be any way to kill api now (that we know of anyway)

[2018-03-16 15:55] sglangevin commented on #4301
Ok - we need to protect against that then or give guidance on how to create a `contact-summary` that avoid this bug. The `contact-summary` I am using worked fine in previous versions, so protecting against this would be the preferable option.

[2018-03-16 16:15] sglangevin commented on #3657
Since @rmhowe is out, assigning to @garethbowen - feel free to redistribute.

[2018-03-16 16:16] sglangevin commented on #4144
Since @rmhowe is out, assigning to @garethbowen - feel free to redistribute.

[2018-03-16 16:16] sglangevin commented on #4113
Since @rmhowe is out, assigning to @SCdF - feel free to redistribute.

[2018-03-16 16:20] sglangevin commented on #3959
Assigning to @michaelkohn for AT.

@garethbowen it does seem like a potentially useful feature - do we have other use cases for it or is it mostly an improvement for analytics when linking reports?

[2018-03-16 16:26] dianabarsan commented on #4301
There's also a difference between forms. Some forms for `district_hospital` have a `parent` field, while some don't (beta.dev forms don't, which is also part of what causes this issue).

I also think the right thing to do is to guard against this, only wanted to provide full context.

[2018-03-16 16:29] sglangevin commented on #4301
Cool, sounds like we are on the same page. Thanks for the context!

[2018-03-16 16:59] sglangevin commented on #4285
Looks ok to me - I was able to login to alpha.dev as a restricted user. It would be ideal to test this on an instance that is upgrading from pre-2.13 to 2.13 or higher.

[2018-03-18 20:13] ngaruko commented on #3826
`Choice` @SCdF

[2018-03-18 20:55] garethbowen commented on #3657
@sglangevin My guess is that your existing configuration hung around it's just not used any more. We should clean this up in a migration.

[2018-03-18 20:56] garethbowen commented on #3657
Unassigning myself so anyone can pick it up.

[2018-03-18 20:56] garethbowen commented on #4144
@sglangevin My guess is that your existing configuration hung around it's just not used any more. We should clean this up in a migration.

Unassigning myself so anyone can pick it up.

[2018-03-18 21:10] garethbowen commented on #3959
It's a general validation improvement - if a project doesn't want to allow someone to do an ANC visit for a 2 year old pregnancy this would allow the message to get rejected. This could protect from accidentally entering the wrong pregnancy number but also if you've forgotten to register the new pregnancy.

[2018-03-18 21:13] #4101 closed

[2018-03-18 21:24] ngaruko opened #4302 "Remove `messages` from `medic-api` documentation"
Since the `/api/v1/messages` endpoint has been[ removed](https://github.com/medic/medic-webapp/issues/3971), we need to edit related  [documentation](https://github.com/medic/medic-api#messages).

[2018-03-18 21:27] #3971 closed

[2018-03-18 22:29] garethbowen opened #4303 "Investigate using purgecss"
[purgecss](https://github.com/FullHuman/grunt-purgecss) removes unused css to reduce download size, memory using, and improve rendering performance.

On my machine using this command...

[code]

It reduced the minified by unzipped size from 337kB to 224kB and the zipped size from 74kB to 41kB.

There is a risk that it will remove too much but I hope that will be picked up in AT/RT and we can white

[2018-03-19 00:56] garethbowen commented on #4302
This was removed in 3.0.0 so this issue should be done then too.

[2018-03-19 04:29] ngaruko opened #4304 "'GET api/v1/users' endpoint authentication error"
Steps to reproduce
1. `curl http://localhost:5988/api/v1/users`
2. Note: no authentication
3. Expected: `{"error":"unauthorized","reason":"Authentication required."}`
4. Current response: `Moved Permanently. Redirecting to /medic/login?redirect=%2Fapi%2Fv1%2F`
 In Postman, we get a `200 OK` response status instead of a `401`.
![image](https://user-images.githubusercontent.com/6979995/37578023-d67b

[2018-03-19 08:29] SCdF commented on #4302
[It *has* been removed from the documentation](https://github.com/medic/medic-webapp/commit/6e29eb09d7a3cd69aaa6fdbe8c03ccabf40f6394#diff-d4b47e85ce206fdbe458cb599edf2a90L40). You're looking at and linking to the old repo!

I will 100% admit that this is confusing though.

Changing this task to making it clearer that medic-api and medic-sentinel are dead repos, only used for 2.14.x and below.

[2018-03-19 08:36] SCdF commented on #4302
@ngaruko please review the following PRs, making sure that makes sense to you and the current situation is clear

[2018-03-19 08:39] SCdF commented on #4304
There is a flag we use in errors (serverUtils.error or whatever) that is confusingly named perhaps, but basically decides if you're api or web and redirects if you're the latter. I guess that this flag is set incorrectly

[2018-03-19 11:22] henokgetachew opened #4305 "Make node version requirement of v8 and above mandatory"
We have decided to make this requirement just a warning at the moment until we finish working on v3 infrastructure.  Once that's done, we need to make the switch to throwing an error and making this a hard requirement.

[2018-03-19 11:32] SCdF commented on #4305
Commit to revert once Docker is in place: https://github.com/medic/medic-webapp/commit/79347fc7654e4bba3aedf3d8fbf8a1c9df96f9cb

[2018-03-19 11:36] alxndrsn commented on #3738
I have other tests written for this which are not yet passing.

[2018-03-19 12:22] SCdF opened #4306 "Write integration tests against lineage"
Looking at a lot of the current unit tests for lineage, I'm not convinced they test what they say they are testing. In general these tests are very complicated as they require correctly mocking multiple ordered DB calls. For complete correctness they should also validate that the calls are actually the right ones (ie the query provides the right params),  which no / few tests do. For this reason i

[2018-03-19 12:23] SCdF commented on #4306
Blocked on #3019. Once we have gotten rid of kanso I'm happy to take a crack at this.

[2018-03-19 12:35] SCdF commented on #3826
@garethbowen please review https://github.com/medic/medic-webapp/pull/4307

You'll note there are no tests for the lineage changes. I don't think these tests are scaling or even necessarily all testing what they think they are testing. I wrote #4306 to deal with this, and once kanso is gone I'm going to write a suite of integration tests that tests this critical (and historically buggy AF) piece o

[2018-03-19 13:23] SCdF commented on #4244
Apologies if this is the wrong place, but I've disabled the "should return within a reasonable time" test from https://github.com/medic/medic-webapp/blob/master/tests/protractor/e2e/api/controllers/sms-gateway.spec.js with a TODO that links it here, as what that is testing is a) flaky on travis, and b) seems like a reasonable thing that this framework would also test.

[2018-03-19 16:39] alxndrsn commented on #4217
Tenta _appear_ to be maintaining more up-to-date versions.  Here's a commit which appears to be Chrome 64: https://github.com/tenta-browser/crosswalk/commit/b84b8597bbb5d2b0e98bfae3dc3deba3c7c4bd97

[2018-03-19 20:03] garethbowen commented on #4244
That test will be incorporated into the sms workflow component of the scalability testing script. I'll delete the e2e test.

[2018-03-19 20:08] garethbowen commented on #4146
I'll close this issue and leave it up to you @alxndrsn whether we raise performance improvements with PouchDB. Thanks!

[2018-03-19 20:08] #4146 closed

[2018-03-19 20:11] sglangevin commented on #3959
Interesting - so it would allow us to do something like rejecting a V form if there was no pregnancy registered in whatever time period we set and send an auto-response that says: please register a pregnancy before reporting a visit?

[2018-03-19 20:16] sglangevin commented on #4303
Is this a requirement for 3.0? I'm concerned that we are still adding new things and we have a lot on the list.

[2018-03-19 20:18] sglangevin commented on #4110
@alxndrsn this is still listed as part of the 2.15.0 release which we are getting ready to start release testing (a beta has been released). Are you able to finish this off so we can include it?

[2018-03-19 20:23] garethbowen commented on #3959
Exactly! We have validation functions for

- `unique`: check whether another form of the same type exists with the same configurable fields
- `uniqueWithin`: same as above but only after a certain date
- `exists`: check whether a form of a different type exists with a fields set to a certain value

One for `existsWithin` might be enough because we could check for a registration within the last 9 m

[2018-03-19 20:38] garethbowen commented on #4303
It's not a requirement but it's really easy for a big rendering performance win. I'll kick it out if it takes more than a few minutes to do.

[2018-03-19 21:33] sglangevin commented on #4303
My main concern would be around increased need for testing if this causes issues with the UI.

[2018-03-20 12:19] SCdF commented on #4248
I've fixed the repeated positioning stuff, it now works in both examples on the latest test doc I have.

@garethbowen please review, and either leave me to merge and backport or do both, whichever works for you.

[2018-03-20 20:38] sglangevin commented on #4113
Confirmed this was an issue with the instance. Moving back to ready.

[2018-03-20 20:38] sglangevin commented on #3594
Confirmed this was an issue with the instance. Moving back to Ready.

[2018-03-20 20:38] #3594 closed

[2018-03-20 23:35] sglangevin commented on #4113
I selected 208 records and tried again. Overall, I found the experience to be very slow. Are there ways we can speed it up? I was stuck here for a while and my computer was using a lot of CPU
![image](https://user-images.githubusercontent.com/1286381/37688267-6659655e-2c5c-11e8-9786-6d8f26549ac6.png)

Then I got back here but still had to wait a while for the UI to update with the reports showing

[2018-03-20 23:38] sglangevin commented on #4113
Also, have we confirmed these deletes propagate to restricted users? The deleted reports still show up when I log in as a restricted user so I'm wondering how the deletion is being done.

[2018-03-21 09:28] SCdF commented on #4113
@sglangevin I can have a look, I'm interested in which bit is slow.

My current guess is:
 - load is coming from the deletes replicating down (because admin means all doc changes are replicated to you while the app is open)
 - and the LHS is having to dodge duck dip dive and... dodge, to constantly update.

This is an interesting problem, because it's inherent in our design. We expect to see all d

[2018-03-21 09:43] garethbowen commented on #4248
And.... back to you!

[2018-03-21 10:09] garethbowen commented on #4113
This is assuming the delay is on the client side (which, fits with Sharon saying "...was using a lot of CPU").

I agree the online user experience does not scale. It was really designed for the clinic administrator level rather than the massive deployments we're seeing now. I feel like ultimately to support admins at scale we'll need to turn off change monitoring altogether and force users to refr

[2018-03-21 11:33] SCdF opened #4312 "TIMEOUT errors watching changes feed For Some Reason™"
I've noticed this over the past few weeks, it at least affects 2.15+, though could be affecting 2.14 as well. It's really easy to tell, just log in as an admin (restricted might also cause this problem) and watch the network log in chrome tools.

You get lots of errors in changes feed watching:
![image](https://user-images.githubusercontent.com/583851/37707446-049708b8-2cfb-11e8-96ef-f60e0760e359.

[2018-03-21 11:35] SCdF commented on #4312
Relevant: https://stackoverflow.com/questions/47749806/chrome-stalls-request-for-15-seconds

[2018-03-21 11:38] SCdF commented on #4312
FWIW if I know how to read the Chrome network log admins only have one open pending connection, the _changes feed request noted above.

[2018-03-21 11:45] SCdF commented on #4312
This doesn't happen locally. Both (!) changes feed connections work fine.

In fact local _changes feed connection are marked as 200 not pending when they are in their polling stage, so it turns out I don't know how to read the Chrome network log!

The upshot being that:
 - The medic changes feed seems to always connect successfullly
 - The user changes feed never does, stuck in pending then being

[2018-03-21 11:53] SCdF commented on #4312
Same result in Firefox nightly. Their dev tools give a supposedly clearer answer:
![image](https://user-images.githubusercontent.com/583851/37708253-cffd977c-2cfd-11e8-853a-73392da8fd9b.png)
![image](https://user-images.githubusercontent.com/583851/37708262-d55f1402-2cfd-11e8-9226-1f3711585ae3.png)

_However_, changing that value to 600 (and restarted) doesn't fix the issue, so it's clearly not th

[2018-03-21 11:56] SCdF commented on #4312
@browndav / @henokgetachew do you have any instant thoughts about how nginx could be causing issues here?

URL that works:
 - https://beta.dev.medicmobile.org/medic/_changes?include_docs=true&feed=longpoll&heartbeat=10000&since=12742&limit=25

URL that fails:
 - https://beta.dev.medicmobile.org/medic-user-admin-meta/_changes?include_docs=true&feed=longpoll&heartbeat=10000&since=461&limit=25

[2018-03-21 12:04] SCdF commented on #4113
So I tried to delete 200 records on beta.dev. There is something weird going on for sure. It hasn't caused CPU issues for me, but the progress bar doesn't seem to work in deployed instances (it works locally). For me actually, it hung for ages, and then went back to the model with an error, even though it deleted everything.

[2018-03-21 12:29] henokgetachew commented on #4312
I just did a quick test and this one worked for me:
- https://beta.dev.medicmobile.org/medic-user-admin-meta/_changes
I suspect it's the request parameters causing the issues.

[2018-03-21 12:31] henokgetachew commented on #4312
Actually, the whole thing now worked for me with the request parameters as well.

[2018-03-21 12:34] SCdF commented on #4113
Tried it a second time. This time it finished quickly (though the progress bar didn't work), and then visible cleaned up after itself (ie the delete happened and then the UI caught up after the progress window closed).

FWIW @sglangevin I'm bulk importing documents **with the window closed**, because this is half of the performance problem (lots of doc changes at once), and isn't (probably) a real

[2018-03-21 12:35] SCdF commented on #4312
@henokgetachew so if you just log in as admin on beta.dev and leave the network + console window open, you don't get errors every 15 seconds?

I do have a crazy network setup here, this could be my fault, though I believe other people (@abbyad ?) have said they've noticed this before as well.

[2018-03-21 12:40] SCdF commented on #4113
Tried it a third time. This time because I'm a crazy risk taker (#nolimits) I did it with **500** documents. I know, sell 3/4ths of your seat because you only need the edge!

It still worked, though again the progress bar didn't work.

Interestingly it also seems to be interacting with #4312, as suddenly the user db gets to go and frantically starts updating read statuses while the delete is going

[2018-03-21 14:36] alxndrsn commented on #2224
Considering the performance problems introduced by running PouchDB in a worker thread, please properly benchmark this for offline users with large datasets before merging to `master`.

[2018-03-21 17:25] SCdF commented on #4248
Merged into master and cp'd into 2.15.x

[2018-03-21 18:10] alxndrsn opened #4316 "[travis] push docker output to s3 instead of to travis logs"

[2018-03-21 18:11] alxndrsn opened #4317 "push webdriver output to s3 instead of to travis logs"

[2018-03-21 20:12] garethbowen commented on #2224
I suspect it's not worth doing. It made some sense originally if it was going to be in the same worker as pouch because then the data between pouch and nools didn't have to get serialized to go between. But now that pouch isn't in the worker it will. Consider revisiting this if/when pouch is ever back in a worker. Maybe service workers are better? Maybe later Chrome is better? IDK...

[2018-03-21 21:52] sglangevin commented on #4312
This is definitely happening to me. I've seen it on several servers.

[2018-03-21 22:59] SCdF commented on #4113
Here's the plan:
 - We're definitely going to fix the progress bar

Then we're going to do one of two things:
 - Look at using the debouncing service on the report list. This may reduce CPU usage
 - Disable the changes watching entirely and then refresh the page once the delete is done

If we do the latter we will probably also add the search terms to the URL

[2018-03-21 23:01] SCdF commented on #4312
@garethbowen you mentioned it might be some kind of timeout? Both of these URLs are the same though, so if it's a couchdb timeout it's not codified in the URL

[2018-03-21 23:03] garethbowen commented on #4312
@SCdF What is the value of the timeout parameter being sent to couch?

[2018-03-21 23:06] SCdF commented on #4312
See this comment:

https://github.com/medic/medic-webapp/issues/4312#issuecomment-374912900

The URLs are the same, and the code for both seem to go through the same paths… the only obvious difference is one is initiated after the other one

[2018-03-21 23:09] garethbowen commented on #4312
If you say so...

[2018-03-21 23:10] SCdF commented on #4113
So the progress bar does work locally, but it's pretty inconsistent: you definitely don't get every batch report back. I am wondering if this is because of all of the other downloads going on at the same time?

[2018-03-22 12:20] #4316 closed

[2018-03-22 12:20] #4317 closed

[2018-03-22 13:16] dianabarsan opened #4319 "Browser OOM crash on Enketo db-object prepopulated forms"
When an Enketo form which contains a `db-object` field, prepopulated with a circular referenced object (f.e. generated by LineageModelGenerator), is loaded, an infinite loop runs which either causes an Out of Memory crash or Throws a Maximum call stack size exceeded error.

![image](https://user-images.githubusercontent.com/35681649/37772462-60e56c48-2de3-11e8-9391-6b0cb3c29f00.png)

Can be observ

[2018-03-22 13:39] SCdF commented on #4319
Interesting that this is a problem now and not before (we were always recursing).

In any case, we probably want to still recurse (otherwise why would be hydrating at all), so we should either:
 - stop generating recursive objects when we hydrate
 - change our recursion here to depth first (since that's how people would expect the references to sit I think?) and block recursion into objects we've

[2018-03-22 15:31] alxndrsn commented on #4110
This work is currently blocked by https://github.com/medic/medic-webapp/issues/3019, which should significantly improve performance of the sms-gateway api endpoint.

[2018-03-22 16:56] alxndrsn commented on #3738
Blocked by #3019.

[2018-03-22 18:43] abbyad opened #4322 "Ability to backup and delete custom translations"
It would be useful to be able to backup and remove custom translations using medic-conf, similar to how we `upload-custom-translations`.

**Backup** would be useful to have some record of translations in case we overwrite user edited one, and perhaps more importantly to know which fields have been edited in the app and bring them into the custom translations in the config. **Delete** would be usef

[2018-03-22 19:59] garethbowen commented on #4144
Back to you @alxndrsn

[2018-03-22 21:44] garethbowen commented on #4301
I'm concerned about using dummy values just to get this particular script to work. It looks to me like the configuration has a bug where it checks `contact.parent.parent` without first ensuring `contact.parent` exists. We _can_ provide a dummy `contact.parent` to make this particular configuration work but it won't protect users from accessing any other fields without proper null checking.

I prop

[2018-03-22 21:49] sglangevin commented on #4301
That sounds like a good approach to me. It would definitely help to have some kind of error message and we can easily document the handling of nulls to make sure we don't run into issues in config.

[2018-03-22 22:45] sglangevin commented on #3660
Closing this as we have a new design for the top bar that will be implemented in 3.1.

[2018-03-22 22:45] #3660 closed

[2018-03-22 23:25] sglangevin opened #4323 "Establish tablet-sized breakpoint, update cutoffs for mobile and desktop views"
Currently, we have mobile view and desktop view. This ticket introduces a "tablet" view for devices that are large enough to see two panes but handheld so that some of the elements of mobile view are relevant. It also updates the cutoffs for mobile and desktop views.

Mobile view is 0-599px
Tablet view is 600-999px
Desktop view is 1000px and beyond

More description of how these will look is avail

[2018-03-22 23:56] sglangevin opened #4324 "Add left-hand side navigation on desktop"
This issue adds navigation to the left side of the screen in desktop view. We won't yet remove the tabs, that will be done in [insert issue number once it is created]. Icons can be found here [insert google drive link once it exists].

- [ ] 180px wide from the far left side of the page
- [ ] Background color is transparent (you see through to the light grey #F1F2F2 page background color)
- [ ] Ic

[2018-03-23 01:12] abbyad opened #4325 ""selection.formatted.content.raw" translation missing"
The translation key for raw SMS content seems to have changed [here](https://github.com/medic/medic-webapp/commit/f1ab8b867b8316c4c2126be40827a0fcfe840906#diff-05073942b188e28786b666486b9c6ca9R68) in 2.15 to `selection.formatted.content.raw`.

We can either revert the key name or update translations. Currently [`messages-en.properties`](https://github.com/medic/medic-webapp/blob/fa054f91e1a5a4ca42

[2018-03-23 02:29] michaelkohn commented on #3959
Testing on https://alpha.dev.medicmobile.org/

- I sent this [N](http://localhost:5984/_utils/document.html?medic/0a976c4dcc9a90c81ad2d5f4ce03660e) and it created this [person](http://localhost:5984/_utils/document.html?medic/0a976c4dcc9a90c81ad2d5f4ce03759d).  There was no `source_id` on the `person`.

- Sent this [P](http://localhost:5984/_utils/document.html?medic/0a976c4dcc9a90c81ad2d5f4ce0383

[2018-03-23 02:30] sglangevin commented on #3959
I'd test on beta.dev because alpha.dev is now on version 3.0

[2018-03-23 02:40] michaelkohn commented on #3959
[Messages](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/messages/contact:d31881ca-d3c7-4b0b-8188-008fe75b159d) from Medic Reporter are not being recognized as forms on beta.dev.  I sent it from [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/d31881ca-d3c7-4b0b-8188-008fe75b159d) CHW.

<img width="1199" alt="screen shot 2018-03-23 at 8 23 58 am" sr

[2018-03-23 03:08] sglangevin commented on #3959
Shoot, sorry - I forgot that doesn't have the Standard config on it. I can fix that for you tonight.

[2018-03-23 03:27] michaelkohn commented on #3959
As Gareth mentioned... it's a general improvement, you'll have the same issue on contact summary whereby new visits might get associated to old pregnancies.  I've already seen things get wonky when you have multiple pregnancy registrations and only one delivery.... the Past Pregnancies card shows that the woman delivered multiple times (one for each pregnancy registered).

***

We should try to co

[2018-03-23 11:54] SCdF commented on #3959
That should never happen, that means someone has misspelled a view or something like that. It's 99% a bug in our code. Was there more in the logs?

[2018-03-23 12:33] abbyad commented on #4231
I have run into this again in testing 2.15, and believe it is a bug now that the LHS shows the subject of the report, not the submitter. It is therefore impossible to know who sent the message at all.

![image](https://user-images.githubusercontent.com/789512/37829286-d5803f74-2e74-11e8-8946-509fb5c83e1b.png)

[2018-03-23 12:45] abbyad commented on #4322
Here are a couple user stories:

1) As a tech lead I want to download translations edited in the app to save them with my config in github.
1) As a tech lead I want to delete the translations edited in the UI before uploading a new set so that I know exactly what all the translations are when setting up a new instance or pushing a config to an instance .

[2018-03-23 13:04] abbyad opened #4326 "Reports about patients get `missing_named_view` error"
Reports about people have a `missing_named_view` error. It looks like we are referring to a view called `registered_patients` that doesn't exist.

![image](https://user-images.githubusercontent.com/789512/37830455-a064e912-2e78-11e8-9543-ed36bb032e8d.png)

[code]

[2018-03-23 13:29] dianabarsan commented on #4231
Changes are underway which modify the RHS Report summary as well (see: https://github.com/medic/medic-webapp/issues/4053#issuecomment-373520150).
Would you say that displaying "Unknown sender" along with the phone number would be ok?

[2018-03-23 15:12] abbyad commented on #4231
Yes, I think that would be ok, but not necessary. In following how it is proposed in #4053 I think it would make sense for "Sent by {submitter name}" to become "Sent by {phone number}" when the contact is unknown. Open to other suggestions though!

cc @amandacilek

[2018-03-23 15:24] abbyad commented on #4326
This was also reported in AT for another issue here: https://github.com/medic/medic-webapp/issues/3959#issuecomment-375521050

[2018-03-23 17:25] sglangevin commented on #4322
Can you provide more context here? I am wondering how these fit into our current process for managing translations and for setting up new instances. I think I need to better understand the problem being solved here as I haven't seen this come up before. Can you elaborate?

[2018-03-23 18:01] SCdF opened #4327 "Removes changes watching for online users to improve performance"
Currently, online users are (on semi-large instances) unusable because:
 - The `_changes` feed watching in the `Changes` service watches and downloads every change to the database in full (eg `include_docs: true`)
 - The UI then live-responds based on the page you're on and updates accordingly (changing the value of a form, adding / removing reports from the LHS etc)

On semi-large instances this

[2018-03-26 10:44] rmhowe commented on #3657
@sglangevin the new permissions seem to now be showing on `beta.dev`, maybe a caching issue?

[2018-03-26 11:41] dianabarsan commented on #4326
The missing view ("registered_patients" ) was moved from `medic` ddoc to `medic-client` ddoc in Nov 2017 (https://github.com/medic/medic-webapp/commit/f1ab8b867b8316c4c2126be40827a0fcfe840906#diff-28d3dab1d7aa81ffde8a4497a1814992), while the error message states that the view uri is `localhost:5984/medic/_design/medic/_view/registered_patients`.

The stack trace also links to the legacy `medic-sen

[2018-03-26 14:14] henokgetachew commented on #4326
Alpha was indeed using outdated code.  I also confirmed that this was an issue both with beta.dev as well as standard.dev
I checked staging to make sure the right code is deployed there.  That was indeed the case.
I checked both alpha.dev and beta.dev to make sure the right code was deployed in the ddoc. That was also the case.
Therefore, this looks like a case of gardener not redeploying code cor

[2018-03-26 14:17] henokgetachew commented on #3959
@SCdF this might be related to [this](https://github.com/medic/medic-webapp/issues/4326#issuecomment-376180643).

[2018-03-26 14:34] henokgetachew commented on #4326
A somewhat related issue is [here](https://github.com/medic/medic-webapp/issues/4275) - deals with the same issue with the node packages. However, we don't need to necessarily do it pre-upgrade and it's also a good idea to nuke everything in gardener's work_dir since this issue just confirmed that the same thing is happening with actual code from api and sentinel as well.  As a general practice, f

[2018-03-26 15:49] sglangevin commented on #3657
Yeah - could be that or could be related to some deployment issues we've been having with gardener. Closing for now!

[2018-03-26 15:49] #3657 closed

[2018-03-26 16:59] abbyad commented on #651
I am seeing `unique` work and `uniqueWithin` work in some cases, but not all. Will debug a bit more and post more details shortly.

[2018-03-26 19:37] abbyad opened #4331 "Reports incorrectly filtered if filter changes before search returns"
If you use the form type filter in the Reports tab the results can include reports that should not be there.

To reproduce:
- Select an item from the form filter, wait for the results to be updated in the LHS
- Select a different item from the form filter **and deselect the item selected first before the results return**
- See that the reports list includes reports for the selected and un-selected

[2018-03-26 21:13] garethbowen commented on #651
After debugging with @abbyad I think the problem is to do with the [validation view request `key` parameter not being lowercased](https://github.com/medic/medic-webapp/blob/master/sentinel/lib/validation.js#L38) but the [view emit lowercasing the keys](https://github.com/medic/medic-webapp/blob/master/ddocs/medic-client/views/reports_by_freetext/map.js#L23). Confirm, patch, backport.

[2018-03-26 21:19] abbyad commented on #651
Note for future acceptance testing... if you want to validate for a `patient_id` being unique for a particular form you need to add the `'form'` as a parameter. Otherwise it will look for `patient_id` across all reports.

`unique('form', 'patient_id')"`

[2018-03-26 21:31] sglangevin opened #4332 "Add menu drawer to mobile and tablet views"
This ticket adds a menu drawer to the left side of the screen on tablet and mobile views. The menu drawer contains secondary navigation options (e.g. tour, about, user settings) as well as any pages that don't fit in the bottom navigation (e.g. reports or messages on mobile). It is accessed either by clicking on the hamburger menu or by swiping right and can be closed by clicking the X, clicking o

[2018-03-26 21:58] sglangevin opened #4333 "Add bottom navigation to mobile and tablet views"
Bottom navigation replaces the tabs at the top of the page on mobile and tablet. It is a simple bar with labeled icons that allows that user to navigate more easily to different pages in the app.

Bottom nav frame:
- [ ] 56px tall on all devices, color is #333333
- [ ] Up to 4 icons on mobile, up to 6 icons on tablet (any additional pages are displayed in the menu drawer)
- [ ] Icons should be eve

[2018-03-27 00:45] sglangevin opened #4334 "Update top bar on mobile, tablet and desktop"
The new top bar has updated colors and contains the page title, secondary navigation (menu drawer on tablet and mobile, name of user on desktop), and search and filters (if applicable). On desktop, it also include the Medic Mobile logo.

Mobile & Tablet:
![image](https://user-images.githubusercontent.com/1286381/37940364-1d915762-311d-11e8-91fa-41eacef355d3.png)
![image](https://user-images.github

[2018-03-27 00:49] sglangevin commented on #4053
Please backport to 2.15.x for AT in the next 2.15.0 beta.

[2018-03-27 00:50] sglangevin commented on #4053
Just kidding - I see that has already been done. I initially only saw the comment.

[2018-03-27 00:53] garethbowen opened #4335 "Standardise on a single configuration for e2e tests"
Significant delays and flakiness in our e2e tests is caused by changing the configuration between tests. When the configuration is changed api copies it to medic-client, which causes a change notification, which shows a update modal, which has to be clicked to refresh the page, and then the test has to wait for page loading to complete. Finally in teardown the configuration has to be reset for the

[2018-03-27 08:10] binokaryg commented on #4262
In ebpp-indonesia (growth monitoring), there is a requirement to show Parent/Household names (`parent.name`) in the task title and Parent/Household's contact information (`parent.parent_number, parent.primary_caregiver_number`) in the task summary. This information would be helpful in identifying the children before filling the growth monitoring form. From 2.13 onwards, I am not able to get these

[2018-03-27 08:10] rmhowe commented on #4325
@garethbowen it looks like this translation key was updated by accident when all of the other `selection.doc`s (referring to `$scope.selection`) were changed? In that case it seems like we should just revert the key in the template to `selection.doc.content.raw` (unless changing the key to `selection.formatted` makes more semantic sense).

[2018-03-27 08:16] garethbowen commented on #4325
@rmhowe You're absolutely right - find and replace fail. I reckon revert the key in the template.

[2018-03-27 08:22] garethbowen commented on #4303
I'm going to push this out to 3.1.0 because it requires a full UI regression test which we'll be doing as part of the navigation rework anyway.

[2018-03-27 08:46] garethbowen commented on #4325
Merged and forward ported to `master`

[2018-03-27 09:34] garethbowen commented on #651
Code review please @dianabarsan . Also needs to be backported to `2.15.x`.

[2018-03-27 09:56] alxndrsn opened #4339 "gateway appears to be polling too often"
On recently seen logs, gateway polls the server every 5 seconds.  The code implies it should be polling every 30s.

This may be a symptom of failing to wake up (https://github.com/medic/medic-gateway/issues/126).

[2018-03-27 10:27] ngaruko commented on #3826
LGTM. ```export server logs` is still broken and errors but there is an issue for that [here](https://github.com/medic/medic-webapp/issues/4211)

[2018-03-27 10:27] #3826 closed

[2018-03-27 14:19] rmhowe commented on #4319
I can't reproduce this locally on 2.15 or on beta.dev even with the latest standard forms (but can locally on 3.0 and alpha.dev) so I'm assuming this is a bug introduced recently, probably by the shared lineage library as the shared library may be adding in extra data that webapp may not use/be expecting. I'd suggest moving this issue to 3.0.

[2018-03-27 14:38] sglangevin commented on #4319
Let's move this if it's not an issue in 2.15.0.

[2018-03-27 15:03] SCdF commented on #4319
@rmhowe when you say you can't reproduce it, are you saying that if you open a form with a recursive lineage attached it doesn't do it?

I've 99% sure I've seen this on 2.15.

[2018-03-27 15:27] sglangevin commented on #4319
The original issue was filed against alpha, which would have been on 3.0. Is this the same issue that @abbyad had reported a while back? I think that was on a comment on another issue or on Slack that I now can't find. I remember him testing on 3.0 and (I think) on 2.15 and he found that there wasn't an issue on 2.15. It's possible that he actually tested on 2.14 and found no issue there. @abbyad

[2018-03-27 15:35] rmhowe commented on #4319
@SCdF yes exactly, attempting to edit the same form on `2.15.x` had no issues while on `master` produced the bug.

[2018-03-27 15:37] dianabarsan commented on #4319
I've also just tested it on `2.15.x` branch using same configuration as before and the form works correctly.

[2018-03-27 16:20] SCdF commented on #4319
Awesome, clearly my brain is part of the 1%!

[2018-03-27 21:01] sglangevin commented on #4262
Slight update to my previous comment - you will need to check for each parent along the way, so something like `c.contact.parent && c.contact.parent.parent && c.contact.parent.parent.parent` - you could also consider writing a function if that check is used a lot.

For @binokaryg, you should be able to use the contact-summary to get this information about the patient and feed it into the form as a

[2018-03-28 04:46] binokaryg commented on #4262
Yes @sglangevin, I am showing the information on the first page of my form for now by pulling it from `inputs/contact/parent` group in the form, which is better than nothing. If I could also show the clinic name in the task title, that would be great, but it does not seem to be possible yet. Thanks for your help.

[2018-03-28 09:17] mukesh2006 opened #4340 "Unable to delete user from medic webapp"
Instance URL: https://map-pk.app.medicmobile.org/medic/_design/medic/_rewrite/#/configuration/users
Instance Version: `2.13.1`
User: `medic`
Type of user: `full access`

Problem: Can not delete the users from the webapp.
Error: `403 Forbidden`

![map-pk-unable-to-delete-user](https://user-images.githubusercontent.com/4347171/38019745-2ac55934-3298-11e8-8163-87245f1f345d.png)

This problem is also

[2018-03-28 10:06] SCdF commented on #4340
@mukesh2006 I don't think this is a new issue, and is a result of how CouchDB works. This version of our software directly communicates with CouchDB from the UI to create users, and it looks like CouchDB doesn't allow non-admins (from its perspective) to delete users (though it can create them… go figure).

We have actually changed our strategy here in later versions, so that user modification ope

[2018-03-28 10:31] mukesh2006 commented on #4340
@SCdF The `admin` user is able to delete the users so as of now it's not a critical issue for us. We can wait for the next release for the fix.

cc @kanikamedic

[2018-03-28 10:46] derickl commented on #4340
@SCdF LG will be on 2.13 for the next 5 months before possibly upgrading to what will be available at that time.

The ability to delete users as non-admin will be greatly helpful as we are training them to do some of the maintenance work on their end. I'd be greatly appreciative of a backport to both 2.13 and 2.14 (moh-siaya) since we don't want to give them full admin access. cc @sglangevin

[2018-03-28 10:48] SCdF commented on #4340
@derickl I can take a look at how easy it is to backport these changes. It might be quite challenging, they were quite extensive. Or it might be fine :-)

[2018-03-28 10:49] derickl commented on #4340
Thank you @SCdF. I'll await your assessment.

[2018-03-28 12:12] michaelkohn opened #4341 "Prevent orphaned records"
If not already included or scheduled in a future release, we should enforce referential integrity in all areas of the system

- Do not allow a form to be deleted if there are follow-up forms that refer to it
- Do not allow a contact to be deleted if they have any forms associated to them
- Do not allow a place to be deleted if there are other places, contacts, or forms associated to it

[2018-03-28 13:29] SCdF commented on #4113
Update: I've tried various approaches to make this fast. tl;dr; there are no good options for a minor release. Sorry.

Pretty much the only thing that works without a **large** amount of refactoring is simply to kill the changes feed and then refresh once it's done. Our general approach is not scalable and there is no clever fixes I can see to make it so. There is good work we can do around deboun

[2018-03-28 14:46] alxndrsn opened #4343 "sms-gateway endpoint can crash api"
[code]
will crash api

[2018-03-28 15:20] alxndrsn opened #4345 "Flakey e2e test: changes handler reports with no associated contact can_view_unallocated_data_records permission should be supplied if user has this permission and district_admins_access_unallocated_messages is enabled"
[code]

[2018-03-28 16:44] sglangevin commented on #4340
I don't think we should backport this as the primary needs from LG should be to create and edit new users, both of which are possible with a full access user. Have they specifically asked for access to delete users? In the past, we didn't actually delete the user docs associated to CHPs who dropped out, not sure if that is something you've been doing lately.

If it's easy, we can discuss it, but o

[2018-03-28 16:45] sglangevin commented on #4340
Also, can you explain why this is needed for MOH Siaya? Did we commit to training them on user management as well?

[2018-03-28 20:55] garethbowen commented on #4300
Merged and backported to `2.15.x`

[2018-03-28 20:58] garethbowen commented on #4231
#4053 is now in AT so I'm going to move this to AT too. @abbyad Please spit it back if the implementation for #4053 is insufficient in this case.

[2018-03-28 20:58] garethbowen commented on #4326
@abbyad Can I close this as Can't Reproduce? Or, duplicate?

[2018-03-28 21:03] abbyad commented on #651
I can confirm that this works well in `2.15.0-beta.2`.

Updated the documentation via https://github.com/medic/medic-docs/commit/b1d6fcec3c7e6728ebda51f91c9692c12b7bd652 to clarify use.

[2018-03-28 21:03] #651 closed

[2018-03-28 21:09] abbyad commented on #4326
Have we formalized the `rm -r /srv/storage/gardener/data/working_dir/*` solution? The instance that I had the problem on was fixed, but not sure how we'll prevent this from happening again.

[2018-03-28 21:16] abbyad commented on #4231
Here is what it looks like now that 4053 is done, which looks to be in `2.15.0-beta.2`:

![image](https://user-images.githubusercontent.com/789512/38056654-0d08bbda-32ab-11e8-9050-f2cce278493e.png)

I think it should still show the phone number next to or instead of "Unknown sender", so sending back.

[2018-03-28 21:18] dianabarsan commented on #4231
@garethbowen I have not included the solution for this issue in #4053 as @abbyad had cc-ed Amanda for feedback. Was not sure if it was final or not.

[2018-03-28 21:24] abbyad commented on #3936
Given that the goal of this issue is to make importing of new places, people, and forms easier, see if you can do all of that with the instructions documented [here](https://github.com/medic/medic-conf/blob/master/README.md#csv-to-docs).

[2018-03-28 21:29] amandacilek commented on #4231
Marc's suggestion to have it say "Sent by {phone number]" sounds fine to me.

However, I want to make sure I understand - don't we already include a phone number sometimes, right after the first name? On the old design, when the first name was the submitter, I assume this was the submitter's phone number? Now that we've changed the first name to be the subject/patient, was that also updated to now

[2018-03-28 21:39] garethbowen commented on #4326
My understanding is we're using the `rm` solution for the beta testing for 2.15.0. 3.0.0 isn't affected (horti > gardener) so we're just going to muddle through till then. We can find a programmatic solution if that's not acceptable.

[2018-03-28 21:42] abbyad commented on #4248
Test forms b and c work well in `2.15.0-beta.2`. Moving to Ready.

[2018-03-28 21:42] #4248 closed

[2018-03-28 21:54] abbyad commented on #4325
@ngaruko, I accidentally came across this and can confirm it looks good in `2.15.0-beta.2`.

[2018-03-28 21:54] #4325 closed

[2018-03-28 21:58] abbyad commented on #4326
I think that is fine. Will mark as `can't reproduce` but since that applies only to production instances will also mark as `deprioritized`

[2018-03-28 21:58] #4326 closed

[2018-03-28 22:04] abbyad commented on #4231
The phone number on the first line was removed with #4053, and I dont think we ever show the subject phone number. Seems as though this phone number would be on the third line with the submitter info. The question is what the label should be along with the phone number, if there is one at all.

Some options:
- {{phone_number}}
- Submitted by {{phone_number}}
- Unknown sender {{phone_number}}

@ama

[2018-03-28 22:26] amandacilek commented on #4231
Marc - of the three options you list, I don't like just {{phone_number}} because then there is no context about whose phone number it is. I prefer Submitted by {{phone_number}}.

I don't know the background/history of Reports here and how it got to it's original design so @diannakane @sglangevin please jump in with your thoughts:

- I could be wrong but I'm not sure the intent of #4053 was ever to

[2018-03-28 22:30] sglangevin commented on #4231
Many/most patients do not have a phone number, so I'm not sure that keeping that on the first line is very relevant. No patients on SMS workflows have phone numbers, for example, and most children also don't have phone numbers. That might be a significant chunk of people whom reports are sent about, so I think removing the phone number from the first line makes sense. (@amandacilek this was never

[2018-03-28 23:27] sglangevin opened #4346 "Replace floating action bars with floating action buttons"
Now that the main navigation is at the bottom of the screen, move some functions previously located there to floating action buttons (FABs). If images are needed for the FABs, those are available - [see this folder](https://drive.google.com/drive/folders/1PQ3Ydd3CyHToHXYnRx0oMPsTpkT3i3cv) and ping @amandacilek if you can't find what you need.

![image](https://user-images.githubusercontent.com/128

[2018-03-29 00:18] sglangevin opened #4347 "Styling updates to people & reports pages on desktop"
Small updates to page styling. Broken up by page below. Can be done anytime - doesn't rely on other changes to the UI.

## People:
- [ ] Add a gray gear icon to the top right of the profile card. The icon is 24x24px, color is #A7A9AC, and it is located 20px from the top edge of the card and 20px from the right edge of the card.
- [ ] Include breadcrumbs for any person or place profile for which th

[2018-03-29 02:40] sglangevin commented on #4231
I would expect it if the submitter has a phone number in our system. I think it makes sense to include it regardless of whether its an SMS or an app form just for consistency, but I don't feel strongly about that. I think that's how we had it before we made these changes, though, isn't it?

[2018-03-29 05:02] diannakane commented on #4231
I like the submitting phone number always being there because it's common for managers to call to follow up with CHWs about a report they submitted so this provides easy access to that information.

Have we considered:
Submitted by: Unknown person
Phone number: +123456789

Submitted by: Janet Mwangi
Phone number: +123456789

Is it functionally easier to handle these fields separately knowing that

[2018-03-29 11:47] SCdF commented on #4113
Please review @rmhowe , and either merge and forward port to master or leave to me.

[2018-03-29 14:09] abbyad commented on #4322
When new instances are set up, especially for test purposes, we often use a clone of an existing instance. It is also possible for configurable components to be edited in the UI without the person managing the configuration knowing. In both cases, a configurer needs to know that they can: 1) remove/overwrite any configuration, and 2) backup any changes made via UI so it can be saved in github.

Fo

[2018-03-29 15:20] alxndrsn commented on #4110
This will need backporting to 2.15 branch.

[2018-03-29 15:20] alxndrsn commented on #3738
Completed by #4110.

[2018-03-29 15:21] #3738 closed

[2018-03-29 15:24] alxndrsn opened #4350 "Flakey e2e test: Contact summary info contact summary"
[code]

[2018-03-29 16:24] alxndrsn opened #4351 "Flakey e2e test: Reports Summary Displays correct LHS and RHS summary Concerning reports using doc id"
[code]

[2018-03-29 16:49] rmhowe commented on #4113
Back to you @SCdF, just a minor change and some questions

[2018-03-29 17:10] abbyad commented on #4231
I think any of these are reasonably feasible, and wouldn't block future changes. The hardest part is deciding which to use :)

Confirming that in 2.13.5 the submitter phone number is included if available, regardless of how the form was submitted.

I like the idea of being explicit with "phone number", but that adds a line to the UI which is more disruptive to the design than beneficial in my opin

[2018-03-30 12:43] henokgetachew commented on #4285
I have tested this with LG (2.11) and the upgrade has worked without a problem.  I'll make the change permanent.

[2018-03-31 20:22] henokgetachew commented on #4101
Can we get this backported to 2.14 as well?

[2018-04-03 02:18] garethbowen commented on #1002
Code review please @alxndrsn

[2018-04-03 10:16] dianabarsan commented on #4231
Merged and backported to `2.15.x`

[2018-04-03 10:44] alxndrsn opened #4356 "Flakey e2e tests: Bulk delete reports reports"
[code]

[2018-04-03 10:57] alxndrsn commented on #4356
More:
[code]

[2018-04-03 11:21] SCdF commented on #4110
Back to you @alxndrsn

[2018-04-03 12:11] alxndrsn opened #4359 "Flakey test: Submit Delivery Report open delivery form"
[code]

[2018-04-03 13:46] SCdF commented on #4113
Merged to 2.15.x and master

[2018-04-03 13:58] SCdF commented on #4340
It's not, unfortunately. From a quick look weird stuff is going on here, could be hours -> days.

[2018-04-03 14:26] alxndrsn opened #4360 "Re-enable flakey test: Reports Summary Displays correct LHS and RHS summary Concerning reports with unknown patient_id"
[code]

[2018-04-03 14:38] alxndrsn opened #4361 "Re-enable flakey e2e test: Settings API old api update with replace"
[code]

[2018-04-03 22:38] garethbowen opened #4362 "Write a doc minification script to apply migrations to a running instance"
Over the last couple of years we've made some changes to how we store data to reduce disk space requirements and/or improve performance, however because the migrations would take a long time to run we decided to make the changes in a backwards compatible way. Unfortunately that means existing documents are unoptimised.

Write a script to execute database optimisations against a running instance.

[2018-04-03 22:44] garethbowen commented on #4362
Related issue #2012 but note that this has to work against 2.13.0 (LG) where that is for 3.0.0.

[2018-04-04 02:00] garethbowen commented on #1002
@SCdF Kindly review the stage 2 PR above.

[2018-04-04 04:17] garethbowen opened #4364 "Don't use error code 301 when unauthorized"
In `serverUtils.notLoggedIn` we return a 301 (moved permanently) error code redirecting the user to the login page. Unfortunately 301s are cached by the browser so you sometimes get redirected back to the login page even once you've logged in.

[2018-04-04 07:47] SCdF commented on #4362
NB: we already have one of these for removing the XML: https://github.com/medic/medic-webapp/blob/master/api/manual-migrations/extract-data-record-content.js

It's basically a migration in the current style but moved into a separate directory so it can be run manually.

[2018-04-04 08:25] SCdF commented on #1002
Back to you young gentleman!

[2018-04-04 08:35] SCdF commented on #4312
I'm putting this into 3.0. It seems like a genuine bug, I believe it causes the user db to not replicate properly, and since we don't know why it's happening I think it could easily flip around to cause the main db to not replicate properly.

[2018-04-04 09:27] alxndrsn opened #4367 "Move sms-specific views into medic-sms ddoc"
`medic-sms` ddoc introduced in #4110

[2018-04-04 09:34] SCdF commented on #4128
One thing to look into here is moving certain "hot path" views into their own ddoc. These are somewhat documented here: https://github.com/medic/medic-webapp/issues/2849

The general idea is that 2-3 views are called for every single change, which would cause the entire ddoc's views to be regenerated for the couple of extra changes, which is super inefficient. If we put those "hotpath" views in it

[2018-04-04 09:50] alxndrsn commented on #4110
TODO
====
- [ ] Merge PR #4367
- [ ] backport fix to 2.15 (using main `medic` ddoc)
- [ ] release new 2.15 beta

[2018-04-04 09:54] alxndrsn opened #4368 "Refactor sms api endpoint status updates to use medic-sms/sms-messages view"
Using this view to map WO messages, using the message's UUID as the key, should be more efficient and a bit more sane than the current approach.

[2018-04-04 09:58] henokgetachew opened #4369 "Sentinel tries to act on old revisions of deleted docs"
This was observed while fixing an issue by deleting a problematic doc.  Sentinel tried to act on the old revisions of the doc and kept crashing even if the doc was deleted.  Running compaction was the only way to solve the problem.  This issue might also mean that sentinel is wasting processing power acting on old revisions of docs after they have been removed from the system.

[2018-04-04 10:07] alxndrsn opened #4370 "Fix flakey e2e test: Filters reports by date"
[code]

[2018-04-04 10:44] alxndrsn commented on #1140
This is not currently happening on `lg.app` or `alpha.dev`.  I have not checked other domains.  To confirm:

[code]

[2018-04-04 10:45] alxndrsn commented on #1140
@browndav @henokgetachew I think this is low effort and high impact, hence the priority.  Please triage and confirm my labels.

[2018-04-04 14:34] dianabarsan opened #4371 "Report RHS action bar not updated for unknown/missing contact"
When a report submitter contact has been deleted or is not accessible (f.e. for a restricted user), the RHS action bar is not loaded/updated.
The result is either a missing action bar, when no other reports have been opened prior, either an action bar with actions pointing to the previously selected report.

[2018-04-04 22:50] SCdF commented on #3993
6+ months after I wrote this comment, it clicks that we can't actually do this! The Horti daemon has to do everything that is required for a deployment, otherwise bootstrapping doesn't work.

So instead, api has to just do the tiniest amount (write something somewhere implying that a deployment should take place) and the horti daemon has to do the rest

[2018-04-04 23:53] ngaruko commented on #4053
LGTM. However there is a small UI error when the format of the report is incorrect (here more LMP more than 42 weeks). Not sure if it has to do with this work but apparently the `{{patient_name}}` is not rendered in the error message and the automated reply.
![image](https://user-images.githubusercontent.com/6979995/38340478-ce2db6ea-38c7-11e8-82fb-b87f08f5762b.png)

[2018-04-05 02:03] ngaruko opened #4373 "`{{patient_name}}` not rendered in the error message and the automated reply."
Steps to reproduce:
1. go to `medic reporter` (or other gateway UI):
2. Select `New Pregnancy (SMS) (P)  and insert a valid ID
3. In `Weeks Since LMP` type a number outside of the acceptable range (which is 2 to 42)
4. Send
5. Go to `medic web app >> reports `
6. Select the report

Observed : The `{{patient_name}}` is not rendered in the error message and the automated reply as seen in the screens

[2018-04-05 03:44] ngaruko commented on #4144
LGTM

[2018-04-05 03:54] ngaruko commented on #4300
LGTM

[2018-04-05 03:54] #4300 closed

[2018-04-05 04:51] ngaruko commented on #4343
LGTM

[2018-04-05 04:51] #4343 closed

[2018-04-05 04:53] #4364 closed

[2018-04-05 05:02] ngaruko commented on #4301
LGTM... Can you double-test this with the same config/form @sglangevin before we close the issue?

[2018-04-05 05:04] ngaruko commented on #4109
Have we backported this to 2.14.0 @garethbowen ...  @alxndrsn ?

[2018-04-05 05:14] ngaruko commented on #3959
@michaelkohn are you able to do a final check and confirm that the feature/issue works as you expect (and eventually close it if satisfied)? Thanks.

[2018-04-05 06:04] michaelkohn commented on #3959
Has the `missing_named_view`issue been resolved?  And if so, can you please let me know which instance this is configured on so that I can test.

[2018-04-05 07:53] dianabarsan commented on #4373
@garethbowen I think this should be included in 2.15.

[2018-04-05 09:04] garethbowen commented on #4373
I suspect it's a configuration issue - the translation value may need to be `\{\{patient_name\}\}` or something...

[2018-04-05 09:34] garethbowen commented on #3492
Market is being replaced by Horti.

[2018-04-05 09:34] #3492 closed

[2018-04-05 09:37] SCdF commented on #4373
We should really write some sentinel integration tests (simplest way would be to write E2E tests like we have done for API, since that is a framework that boots our entire stack) that go through and validate the various scenarios for our message templating, since I feel this breaks semi-regularly

[2018-04-05 09:44] #1976 closed

[2018-04-05 09:46] garethbowen commented on #2730
The icons are currently being redeveloped again so we shouldn't use this font. A new issue will be created once the new icons are ready.

[2018-04-05 09:46] #2730 closed

[2018-04-05 09:55] garethbowen commented on #3425
[code]

`death_reporting` and `multi_report_alerts` are new so the low usage is expected.

`resolve_pending` is used in testing so it's worth keeping.

There are no unused transitions.

[2018-04-05 09:55] #3425 closed

[2018-04-05 10:06] garethbowen commented on #3692
This has been improved slightly by storing logs in s3. I can't think of a way to improve it further without excluding useful information. Closing.

[2018-04-05 10:06] #3692 closed

[2018-04-05 10:09] garethbowen commented on #3676
@sglangevin We're not doing this any more right? Can we close it?

[2018-04-05 10:13] garethbowen commented on #3708
Looks like this has been fixed: medic/medic-projects#3045

[2018-04-05 10:13] #3708 closed

[2018-04-05 14:42] alxndrsn commented on #4109
AFAIK we aren't backporting fixes to 2.14 any more.  I don't know if this particular issue made it in before that happened.

[2018-04-05 15:49] rmhowe commented on #3032
Ok so it looks like the current state of package managers is as follows:

**npm** (>=v5):
- Deterministic (same resulting `node_modules` from the same `package-lock.json`) across different npm versions
- Easy to resolve `package-lock.json` conflicts as of v5.7 using `npm install --package-lock-only`
- `nsp` support
- Can theoretically update deep dependencies using [`replace-deep-dep`](https://www

[2018-04-05 16:11] rmhowe commented on #4306
This should include a test for https://github.com/medic/medic-webapp/pull/4366 (ticket was completed while the tests were still in a broken state)

[2018-04-05 20:25] abbyad commented on #4231
Looks great in `2.15.0-beta.4`! Moving to Ready

[2018-04-05 20:25] #4231 closed

[2018-04-05 20:27] abbyad commented on #4109
Assigning to @henokgetachew for AT

[2018-04-05 20:31] abbyad commented on #4301
Works for me on beta.dev with `2.15.0-beta.4`, so moving to Ready.

Tested that icon is correct and link goes to the right place too.
![image](https://user-images.githubusercontent.com/789512/38390235-b35e3f02-38ee-11e8-9faf-5bae262ae441.png)

[2018-04-05 20:31] #4301 closed

[2018-04-05 21:11] garethbowen commented on #3725
Let's get this ATed. Scheduling for 3.0.0.

[2018-04-05 21:13] abbyad commented on #3725
Clearing my assignment so it's free to be picked up!

[2018-04-05 21:30] garethbowen commented on #3032
Yarn gets my vote too.

There are other issues with npm (random package integrity failures, found to be downloading versions other than those specified in the package-lock, etc) that have sapped my confidence in the product.

I'm also curious about performance as npm seems unnecessarily slow - can you do some profiling with our project on npm vs yarn?

[2018-04-05 21:39] garethbowen commented on #1140
Removing from 2.15.0 so it doesn't block the release - the fix is separate from the app code.

[2018-04-05 23:44] #4178 closed

[2018-04-05 23:49] ngaruko commented on #3959
The `missing_named_view` issue #4326 was closed because it could not be reproduced. I guess `beta.dev` has now the right config for this test. Aye @sglangevin ?

[2018-04-05 23:53] ngaruko commented on #4110
Any clue how to AT this on `local` or `test instances` @alxndrsn @henokgetachew ?

[2018-04-06 03:42] ngaruko commented on #3936
LGTM

[2018-04-06 03:42] #3936 closed

[2018-04-06 10:51] alxndrsn opened #4378 "Re-enable flakey e2e tests: Send message Send message modal can send messages to contacts with phone numbers"
[code]

[2018-04-06 11:26] alxndrsn opened #4379 "Re-enable flakey e2e test: Reports Summary Displays correct LHS and RHS summary Concerning reports using place_id"
[code]

[2018-04-06 14:07] alxndrsn opened #4380 "UNIT_TEST_ENV is set 1 on Travis when running integration tests"
Either the env var should be called something more generic, e.g. `TESTING`, or it should be unset when running integration tests.

I'm not sure the cause of this though, as it's clear that the _intention_ of this code is to unset the variable for integration tests: https://github.com/medic/medic-webapp/blob/master/Gruntfile.js#L719-L723

[2018-04-06 14:11] alxndrsn opened #4381 "Re-enable flakey e2e test: registration transition submits new sms messages shows content"
[code]

[2018-04-06 14:27] alxndrsn opened #4384 "Make disabled e2e test reliable and re-enable"
[code]

[2018-04-06 15:15] rmhowe commented on #3032
I did a bunch of tests across webapp, api and sentinel using npm v5.8.0 and yarn v1.5.1

**Webapp**
| | npm | yarn |
| --- | --- | --- |
| Initial install without node_modules, lockfile, or cache | 73s | 69s |
| Initial install without node_modules or lockfile, with cache | 52s | 48s |
| Initial install without node_modules, with lockfile and cache | 33s | 32s |
| Installing `supports-colors` | 13

[2018-04-08 14:52] abbyad commented on #4110
@henokgetachew said he could take care of AT for this if it is not picked up by the time he is back.

[2018-04-08 20:28] garethbowen commented on #3744
Nothing to see here...

[2018-04-08 20:28] #3744 closed

[2018-04-08 21:33] #4053 closed

[2018-04-08 22:57] ngaruko commented on #4373
LGTM. Just a little bit of inconsistence but I guess it is not very important @dianabarsan @sglangevin : the successful report has the patient ID in parenthesis:
![image](https://user-images.githubusercontent.com/6979995/38473433-23e7744e-3be4-11e8-964d-195efdab9e62.png)

The `incorrect` reply does not show the ID
![image](https://user-images.githubusercontent.com/6979995/38473447-59a1cf58-3be4-11

[2018-04-08 22:57] #4373 closed

[2018-04-09 07:14] garethbowen opened #4386 "Update enketo-core to 5.9.2"
Going to the latest caused issues with the db-object widget. I think we need to [merge the upstream changes into our xslt library](https://github.com/medic/enketo-xslt/compare/master...enketo:master).

Also ensure jquery gets bumped in sync with the enketo jquery dependency.

[2018-04-09 08:47] michaelkohn commented on #3959
Testing on https://beta.dev.medicmobile.org

## SMS workflow testing
- I sent this [N](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/5a5298b0a308146efa4ab51d74690f13) through medic reporter and it created this [person](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/5a5298b0a308146efa4ab51d74690fd9) with a `patient_id = 11459`.  I was able to find

[2018-04-09 09:54] garethbowen commented on #4217
There's also ongoing discussion in the community: https://github.com/crosswalk-project/crosswalk/issues/4001

[2018-04-09 12:56] abbyad commented on #3959
This appears to be related to the Standard config... @michaelkohn can you open an issue for this in medic-projects? @jillrshah (and I) will follow up on it.

[2018-04-09 13:21] abbyad opened #4388 "Cleared scheduled messages are not visible"
When scheduled messages are cleared they disappear, but should have remained visible.

![image](https://user-images.githubusercontent.com/789512/38499785-a1cb5b04-3bd6-11e8-819d-d627bd02ae3a.png)

![image](https://user-images.githubusercontent.com/789512/38499827-c549c318-3bd6-11e8-9479-bf2dd7146c87.png)

Tested on beta.dev running `2.15.0-beta.4`.

Created as a new issue, but this could have been

[2018-04-09 13:39] abbyad opened #4389 "Configuration code `reporting_unit` shown to user"
As part of #3627 the phone number for scheduled messages is determined when the message is ready to be sent. As a result there is no number associated to each message in the Reports tab, but we are showing `reporting_unit` in the UI:

![image](https://user-images.githubusercontent.com/789512/38500154-938da8ac-3bd7-11e8-9f7d-e2a20edb7810.png)

Users would not know what `reporting_unit` is, so we sh

[2018-04-09 14:15] abbyad commented on #3959
Moving back to _Active_ due to the failed test.

[2018-04-09 15:53] SCdF commented on #3993
@alxndrsn / @garethbowen I linked you both into three PRs, which contain stage one: moving horti over to using a build doc instead of just copying the ddoc over. It also fixes horti builds for the kanso-less world.

Naming scheme I've gone with at the moment, is `build_info` for metadata that gets built at build time, which complements our existing `deploy_info`, which gets built at deploy time.

[2018-04-10 00:48] garethbowen commented on #4389
@abbyad I think I've found this report but it's not saying "reporting_unit" any more. Can you link the actual report you found? Can you reproduce it? Does it magically come right after some time? Maybe sentinel is attaching the reporting unit between when you saw it and when I did...

[2018-04-10 01:25] garethbowen commented on #3959
The failed case is because the `accept_patient_reports` transition didn't run which is because the senders parent is a health_center not a clinic.

For some reason the transition [checks that the sender has a clinic that has a phone](https://github.com/medic/medic-webapp/blob/master/sentinel/transitions/accept_patient_reports.js#L189). I think the right thing to do is remove this check so the tran

[2018-04-10 02:14] garethbowen commented on #4389
I'm not sure how this is possible... did you photoshop the screenshot?! When formatting the data record the messages (including the recipient) are generated synchronously. `reporting_unit` is converted into `doc.from` which should always be populated.

[2018-04-10 09:50] henokgetachew commented on #4110
I'm not sure how to AT this without putting it in the real world.  I guess we could try throttling connectivity but I'm not sure how well that would work for our needs. @rosteve do you know of a project that's going through this issue right now that we could test this on?

[2018-04-10 10:04] alxndrsn opened #4394 "Stabilise and re-enable e2e test"
[code]

[2018-04-10 10:12] alxndrsn commented on #3016
@garethbowen was the `/add` endpoint and related documentation removed when we moved off kanso?

[2018-04-10 10:14] alxndrsn commented on #4369
@henokgetachew does this need backporting to other versions, or is it specific to `3.0`?

[2018-04-10 10:17] alxndrsn commented on #4369
Also is there a stacktrace of the crash available?

[2018-04-10 10:30] henokgetachew commented on #4369
This was the issue @alxndrsn: https://github.com/medic/medic-projects/issues/3711.  Basically the app crashed even if the problematic doc was deleted.

[2018-04-10 10:35] alxndrsn opened #4395 "Remove reference to `national_office` in contacts_by_reference view"

[2018-04-10 10:40] alxndrsn commented on #4367
It's possible that we could separate the `shortcode` indexing from `medic-client/contacts_by_reference`... but then we may end up wanting a `medic-sms-client` ddoc down the road...

[2018-04-10 10:40] garethbowen commented on #3016
Yeah it was.

[2018-04-10 11:00] #4395 closed

[2018-04-10 11:01] alxndrsn commented on #3016
Current references to SMSSync in code:
[code]

[2018-04-10 11:02] rosteve commented on #4110
@henokgetachew CMMB Zambia is currently an active project we can test this on. It was majorly affected by this problem

[2018-04-10 11:03] alxndrsn commented on #4369
Thanks, but the linked issue doesn't seem to contain any more information about the nature of the crash when a document is deleted.

[2018-04-10 11:06] #4380 closed

[2018-04-10 11:27] alxndrsn commented on #4145
Another view that may be removed is `medic-client/feedback`.

[2018-04-10 11:58] SCdF commented on #4388
Merged into master and backported into 2.15

[2018-04-10 13:05] alxndrsn opened #4398 "Stabilise and re-enable flakey e2e tests: Reports Summary Displays correct LHS and RHS summary Concerning reports using patient_id"
[code]

[2018-04-10 13:11] alxndrsn commented on #4367
`medic-client/messages_by_contact_date` is only used in the _Messages_ view.  This would be a good candidate for a `medic-client-sms` ddoc... except that it's only used by online users, so could just go straight into `medic` ddoc.

similar candidates:
* `medic-client/registered_patients`
* `medic-client/messages_by_contact_date`

[2018-04-10 13:28] alxndrsn commented on #4369
Sentinel already tries not to run transitions on deleted docs: https://github.com/medic/medic-webapp/blob/master/sentinel/transitions/index.js#L92-L93

Later in this function it appears that a `not_found` error should be logged and ignored.

[2018-04-10 13:33] alxndrsn opened #4403 "Replace/move online_user_settings_by_id view with call to users db"
There is a view in the `medic` ddoc which is only used when a doc is deleted: `online_user_settings_by_id`.

This is not a frequent occurrence.

This view should either:

1. be deleted and replaced with an `allDocs()` call to the `_users` db, or
2. be moved out of the main `medic` ddoc and into e.g. `medic-sentinel` ddoc, or
3. be deleted and replaced with a call to `medic-client/doc_by_type`

[2018-04-10 13:38] alxndrsn opened #4404 "Fix training data script references non-existent view"
Referenced here: https://github.com/medic/medic-webapp/blob/master/scripts/data_deletion/delete_training_data_utils.js#L132
Not evident here: https://github.com/medic/medic-webapp/tree/master/ddocs/medic/views

This code looks like it's called by two scripts:
1. `scripts/data_deletion/delete_training_data.js`
2. `scripts/data_deletion/delete_training_data_for_group.js`

[2018-04-10 13:40] alxndrsn commented on #4404
@SCdF any ideas about this?  You were the last person to touch this file, but it doesn't look like a significant change...

[2018-04-10 13:47] alxndrsn opened #4405 "Some views are only used by sentinel"
Views which are currently only used by sentinel:

* `medic/reports_by_form_and_clinic`
* `medic/reports_by_form_year_month_clinic_id_reported_date`
* `medic/reports_by_form_year_week_clinic_id_reported_date`
* `medic/sent_reminders`

These could be moved into a specific `medic-sentinel` ddoc if deemed useful.

[2018-04-10 13:50] abbyad commented on #4389
The only photoshopping I did was removing the phone number... I can see the number showing well for SMS reports, and fails on [app form](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/8d28d7ec-7091-483f-b2ad-350151847a0b) -- but only when the user's associated contact doesn't have a phone number. This is therefore mostly a config issue because with https://github.com/medic

[2018-04-10 13:52] SCdF commented on #4405
There is no value in having a ddoc just for sentinel that I can think of.

[2018-04-10 13:52] #4405 closed

[2018-04-10 13:57] alxndrsn commented on #4367
`medic/tasks_messages` looks like a prime candidate

[2018-04-10 14:30] SCdF commented on #4404
Do you mean about why it's calling a non-existent view? No idea, I imagine something got refactored and it got missed. We'd have to pickaxe our way into the depths of git and work it out

[2018-04-10 14:48] alxndrsn commented on #4367
The cost of having unused views in `medic-client`, on the client-side, is minimal.  So removing sms-specific views from this ddoc probably isn't worth the effort.

`medic/tasks_messages` is moved to `medic-sms/tasks_messages` in #4408.

[2018-04-10 16:25] abbyad commented on #3959
Yes, makes sense to me as it doesn't matter _who_ submits the report. Not sure what side effects changing this will have though.

[2018-04-10 16:38] abbyad opened #4410 "Unable to access patient's CHW info from config"
As part of #3412 we should be able to access the patient's doc from transitions and scheduled messages, but that doesn't yet seem possible. This is needed to send auto replies and scheduled messages to the patient's CHW, even if the report was submitted by someone else (eg a nurse using the app or SMS). With app forms we can hardcode a CHW number, but from SMS this is not possible. Regardless, the

[2018-04-10 17:33] alxndrsn commented on #4312
I'm not sure if it's deliberate, but calls to `/medic-user-{username}-meta/_changes` are not handled by `api/handlers/changes.js`: https://github.com/medic/medic-webapp/blob/master/api/routing.js#L464

I don't think this can affect the main DB.

[2018-04-10 17:35] alxndrsn commented on #4312
Removing `feed=longpoll` from the request allows it to complete successfully.

[2018-04-10 17:36] alxndrsn commented on #4312
Likewise removing `since=X` from the request allows it to complete successfully.

[2018-04-10 17:37] alxndrsn commented on #4312
It looks like CouchDB is behaving correctly, but nginx is swallowing the `hearbeat`s.

[2018-04-10 17:45] alxndrsn commented on #4312
nginx is logging:
[code]

[2018-04-10 17:45] alxndrsn commented on #4312
nginx is actually forwarding the request to concierge...

[2018-04-10 22:07] abbyad commented on #4410
Just to clarify existing terms... the "submitter" of the report is `doc.contact`, which is not necessarily the CHW. The "subject" of the report is a patient (`doc.fields.patient_id` or `doc.fields.patient_uuid`) or place. The CHW is the patient's parent place's contact. As far as I can tell there is no way to determine the CHW if they are not the submitter, which is the main problem for this issue

[2018-04-10 23:36] garethbowen commented on #4389
@abbyad Is it ok if we move this out of 2.15.0?

[2018-04-11 00:32] abbyad commented on #4389
Yes, as long as we fix the config (which relies on #4410) it makes sense to push this one out.

[2018-04-11 00:51] garethbowen commented on #4389
Done, thanks.

[2018-04-11 01:11] garethbowen commented on #3959
Code review please @rmhowe . This needs to be backported to `2.15.x` but feel free to leave that to me...

[2018-04-11 10:07] alxndrsn commented on #4312
<img width="326" alt="screen shot 2018-04-11 at 12 07 18" src="https://user-images.githubusercontent.com/191496/38610364-ec3fbb7a-3d80-11e8-90f0-48bc9c6334f1.png">

Looks like this can be fixed in `api/routing.js` 🙂

[2018-04-11 10:37] garethbowen opened #4412 "User metadata db security"
Shadow ticket for https://github.com/medic/medic-projects/issues/3798

[2018-04-11 10:56] alxndrsn commented on #4312
Can't be fixed in `routing.js`.

But looks suspiciously similar to https://github.com/medic/medic-webapp/issues/4199:

[2018-04-11 11:49] alxndrsn commented on #4312
Command: `curl '${COUCH_URL-/medic}/medic-user-admin-meta/_changes?include_docs=true&feed=longpoll&heartbeat=10000&since=737'`

Server | access method | changes result (no timeout param)
---|---|---
local (couch) | pouchdb | no timeout
local (couch) | curl | `{"results":[` received immediately; heartbeats received; no timeout
local (api) | pouchdb |
local (api) | curl |
remote | pouchdb | timeout

[2018-04-11 12:06] alxndrsn commented on #4312
Looks to be identical to this (July 2016) https://github.com/medic/medic-webapp/issues/2363#issuecomment-232377434

[2018-04-11 14:49] amandacilek commented on #4389
Hm, I prefer option 2.

I agree that option 3 is at least better than the current "reporting_unit" but it still sounds a little confusing. Would "patient's CHW" be true and applicable in all cases? Or would we need a series of phrases depending on the situation?

Not quite sure I understand Marc's second question

Does this mean unknown number/recipient? Or does it mean error/the message will not

[2018-04-11 15:07] abbyad commented on #4389
If this were a generic thing, we would have set translations that could be customized. For instance, `reporting_unit` could be "Submitter", `primary_contact` could be "Primary Contact". For projects that have different terminology we could easily have project specific translations (eg "Patient's CHW" instead of "Primary Contact"). Options for this may come out of how we access the primary contact

[2018-04-11 23:06] garethbowen commented on #4410
In 2.15.x it looks like we don't hydrate doc.patient contacts. Once this patch is fixed this sort of configuration should work...

[code]

[2018-04-11 23:29] garethbowen commented on #4410
It looks like `master` is unaffected so no forward port is required. I've copied the functional test forward to increase coverage.

[2018-04-12 00:09] garethbowen commented on #4410
For AT make sure this works on 2.15.0 (beta) and 3.0.0 (alpha) as the code is quite different between the two.

[2018-04-12 07:26] SCdF commented on #4312
@alxndrsn LGTM, leaving to you to merge / rebase

[2018-04-12 11:15] garethbowen commented on #4412
Code review please @SCdF

[2018-04-12 12:56] abbyad commented on #4410
Testing in `2.15.0-beta.5` and getting some weird results.

On beta.dev I am submitting `P 96738 10` from a patient's "nurse" +14165551597

## Registrations
Using `patient` is not possible and gives an error (shown below). The `registration` transition is after accept patient reports, which seems to be the one that adds `patient` to the doc.

### Config
[code]
### Error
[code]
### Transitions
[cod

[2018-04-12 21:21] abbyad commented on #4410
Just confirming that the auto replies for `patient_reports` work well, just like `registrations`

## Patient Reports

### Config
[code]

### Result
On beta.dev with 2.15.0-beta.5 submitting `V 96738` from a patient's "nurse" +14165551597 [yields](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/5a5298b0a308146efa4ab51d74767c3b):

![image](https://user-images.githubuserconten

[2018-04-13 04:01] abbyad commented on #4410
I am still unable to get a scheduled message to go to the CHW when [sending a SMS as a Nurse](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/5a5298b0a308146efa4ab51d74795ca9).

The [getRecipient function](https://github.com/medic/medic-webapp/blob/2.15.x/sentinel/lib/message-utils.js#L74-L103) seems to be relevant here, from which I tried:

| recipient | comment|
|---|---|

[2018-04-13 04:15] garethbowen opened #4420 "Make a shared library for message utils"
[sentinel](https://github.com/medic/medic-webapp/blob/master/sentinel/lib/message-utils.js) and [webapp](https://github.com/medic/medic-webapp/blob/master/static/js/modules/message-utils.js) have identical modules with message utilities and even a message saying they should be split out in to a shared library. Now's the time!

[2018-04-13 08:28] SCdF opened #4422 "angular.bootstrap takes 10s of minutes on slow devices"
**EDIT**

Original issue below. The "real" problem is that angular.bootstrap takes forever to bootstrap our app. See: https://github.com/medic/medic-webapp/issues/4422#issuecomment-382016062

---

The move from the specific counted replication step (which is super awesome and makes it clear something is happening) to the generic "we're doing the loads now" label happens after server -> client repl

[2018-04-13 08:29] SCdF commented on #4422
@alxndrsn does my explanation above match how you think it works? I could be mistaken about what is happening here. The specific observation was on lg.app the loading docs step was really nice, and I felt like something was happening, but when it got to "app is loading" bit it took ages with no feedback, and the network tab was specifically just syncing upwards at that point.

[2018-04-13 08:30] SCdF commented on #4422
Another option: don't block the app from loading on upwards replication

Another another option: nuke upwards replication on initial load completely, and hack it by manually writing a progress log to the right place and avoid the chatter entirely.

[2018-04-13 08:41] SCdF opened #4423 "Loading the reports tab is blocking and CPU-heavy on large partners"
Setup: lg.app / admin / chrome

To reproduce:
 - Click from anywhere into the history tab

What happens
 - The UI blocks and it takes ~5 seconds for the page to render

Best guess it's something to do with generating the jquery-based facility dropdown, as that's pretty massive on LG.

It happens every time you click the page, so I'm guessing we're re-rendering that from the JSON each time?

[2018-04-13 11:39] alxndrsn opened #4424 "Pouch timeout weirdness with Medic servers"
#4199 reported that PouchDB `6.4.3` has a bug with timeouts.  This appears to be the case, but only against our servers.  I suspect this is related to #4312.

[2018-04-13 11:47] alxndrsn commented on #4420
Api also has a `message-utils.js`... which is very different!

[2018-04-13 12:07] alxndrsn opened #4425 "Lineage unit tests do not run on Travis"

[2018-04-13 12:15] alxndrsn commented on #4425
Also _looks_ like the build will only fail if the _last_ module tested fails.

[2018-04-13 12:22] alxndrsn opened #4426 "If one shared-lib test fails, it doesn't break the build"

[2018-04-13 13:13] SCdF opened #4430 "Lineage information from the contact summary causes forms to take minutes to load, freeze browser"
Having the following in your [contact summary](https://github.com/medic/medic-projects/blob/c3c37a43677b6017ac5181f9408fb291f9732291/lg-uganda/contact-summary.js#L16):
[code]

And then using it in [your form](https://github.com/medic/medic-projects/blob/9849c977a3d76f9d4bb4a8b6ff88709d100c5b25/lg-uganda/forms/app/anc_follow_up.xml):

[code]

Seems to cause the app to lock for 5+ minutes doing some

[2018-04-13 18:39] SCdF commented on #4430
So the issue turned out to be a really slow json2xml converter.

The library we were using is insanely slow, 5-10 minutes on what takes
normal libraries (including the one this commit introduces) milliseconds.

This specifically caused 5+min pauses when serialising the patient context
into XML when the patient context contained lineages (which are often very
large).

[2018-04-13 19:05] SCdF commented on #4430
I have release 2.13.6, 2.14.1 and forward ported the change to 2.15.x and master.

[2018-04-13 19:06] SCdF commented on #4430
@derickl I've assigned this to you for acceptance testing. This will come in the form of you making sure it solves LG's issues. Let me know on slack if the next steps aren't clear

[2018-04-16 09:32] alxndrsn commented on #4306
Kanso has been removed, so this ticket is ready to be worked on.

[2018-04-16 11:50] #4425 closed

[2018-04-16 13:03] alxndrsn commented on #3868
@garethbowen would this be a good place to start on moving the admin interface into a separate app?

[2018-04-16 15:43] Enock1990 commented on #4430
Still having same issues with LG:UG... from a few CHP's this time round. Wondering if there is something else to look at to improve the speed and also avoid 'error loading form' cc @SCdF & @derickl

[2018-04-16 16:13] alxndrsn opened #4439 "Stabilise and re-enable flakey e2e test: Settings API old api get"
[code]

[2018-04-16 16:13] abbyad commented on #4430
@Enock1990 can you confirm the version for those users, and send the usernames via a DM?

[2018-04-16 17:04] Enock1990 commented on #4430
Sure they are all on V2.13.6. Sending some that I just received. @abbyad Do you have an android phone for testing?

[2018-04-16 17:30] garethbowen commented on #3868
To keep it as small as possible I want to just to a 1-to-1 migration from the admin tab to the admin app. I guess this is blocked on that refactor happening.

Absolutely. Good spotting!

[2018-04-16 17:37] abbyad commented on #4410
I am still struggling to get this to work. Some of the failed tests could have been from irregular contacts (eg a primary contact that did not have a parent). I have now tested with a completely new district, health center, clinic and contacts, and still cannot get a scheduled message sent to the clinic contact (eg CHW) when the report was submitted by the health center contact (eg Nurse).

A rece

[2018-04-16 18:36] abbyad commented on #4388
Seen this work well in `2.15.0-beta.8`. Moving to Ready.

[2018-04-16 18:36] #4388 closed

[2018-04-16 18:41] alxndrsn opened #4440 "Investigate android crashes"
<img width="512" alt="screen shot 2018-04-16 at 20 41 21" src="https://user-images.githubusercontent.com/191496/38828488-8c2167e0-41b6-11e8-8ed3-bf9b3b6a3752.png">

[2018-04-16 18:43] alxndrsn commented on #4440
Related: https://github.com/medic/medic-gateway/issues/130

[2018-04-16 18:49] abbyad commented on #3959
@michaelkohn what's the latest on AT for this issue?

[2018-04-16 20:45] garethbowen commented on #1002
Leaving this with @browndav to test and merge the above commit to medic-os.

[2018-04-17 00:56] garethbowen opened #4442 "Improve message generation context"
When sending messages we supply a context to a configured template for replacing details in the message content and deriving the recipient of the message. The context is built in the [message utils shared lib](https://github.com/medic/medic-webapp/blob/master/shared-libs/message-utils/src/index.js#L133) using the doc, the patient, and some additional context that's passed in. Unfortunately it's al

[2018-04-17 03:08] michaelkohn commented on #3959
Testing on https://beta.dev.medicmobile.org

Created [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/7db9c5e2-1231-4f1c-b22d-55da35091b5a) person from the webapp.   I was a bit surprised that the Medic ID was not assigned.

Then I submitted [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/7e6beb0d-05a5-4136-b733-bbb0e1bfe668) pregnancy

[2018-04-17 03:17] michaelkohn commented on #3959
FWIW,  I'm able to replicate the issue.  Here's a video

[2018-04-17 03:29] ngaruko commented on #4113
Tested on `alpha.dev` and `beta.dev`....(`3.0.0-alpha.9880` and `2.15.0-beta.9` respectively).
The `delete` takes a while and comes with this popup:
![image](https://user-images.githubusercontent.com/6979995/38847008-76547bf8-4253-11e8-854e-18ad50d65091.png)
Apparently, behind the scene, 100 reports have been deleted. If 'delete` is clicked on this popup, the UI freezes again for a while and the s

[2018-04-17 05:39] ngaruko commented on #4113
Can you give it a quick test @SCdF or @rmhowe ? I created quick report with either a `Postman` runner or `curl`
[code]

[2018-04-17 07:55] SCdF commented on #4430
@Enock1990 if it's this exact issue then feel free to reopen. If it's just that there are still complaints about performance but not from this bug specifically we'll need to identify what those specific problems are and fix them in a separate ticket

[2018-04-17 08:34] alxndrsn commented on #4118
Potential candidate for a first test: https://github.com/medic/medic-projects/issues/3828

[2018-04-17 09:46] SCdF commented on #4113
@ngaruko what were the expanded errors? (ie expand the deletion errors above).

[2018-04-17 10:49] alxndrsn commented on #4440
Reports from a selection of popular prod apps:

# Crosswalk

## `SIGILL`
[code]
[code]
## `tgkill`
[code]
## `SIGSEGV`
### Type 1
[code]
### Type 2
[code]
[code]
# Location

## `IllegalArgumentException`
[code]

## `SecurityException`
[code]

# Unidentified

## `IllegalStateException`
[code]

## `NullPointerException`
[code]
## `IndexOutOfBoundsException`
[code]

[2018-04-17 10:51] ngaruko commented on #4113
[code]

[2018-04-17 10:53] ngaruko commented on #4113
@SCdF :
![image](https://user-images.githubusercontent.com/6979995/38865482-03ab725c-4292-11e8-9a50-207ed460efe8.png)
and
![image](https://user-images.githubusercontent.com/6979995/38865535-278bd59a-4292-11e8-908d-f6b41722fda4.png)