[2016-08-31 14:57] mandric commented on #2684
It hasn't been tested, was thinking either you or Gareth can confirm pushing a dev build to alpha.dev works as expected.  But we could close the issue and put in acceptance testing.

[2016-08-31 15:37] estellecomment opened #2691 "Base translations use mismatched conventions for places"
I'm assuming that `messages.en` is the base translation for all projects.

It contains some 0.4-style terms, like calling `clinic` "Catchment Area" :
https://github.com/medic/medic-webapp/blob/master/translations/messages-en.properties#L3

and also some 2.6+-style terms, like calling `clinic` "Family":
[contact.type.clinic.edit = Edit Family](https://github.com/medic/medic-webapp/blob/master/trans

[2016-08-31 20:12] diannakane commented on #1572
This is done, as shown in these mockups:
https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166340657

Detailed specs for many of the elements are attached below.

@lesterng is there another file that contains detailed specs for the family
and individual profile pages, that includes Tasks?

[2016-08-31 20:24] diannakane commented on #2339
@SCdF Your search results would still return a person, then default back to households when you clear. The LHS list is a pre-filtered list of places you manage, but any person or place you can see can appear here.

Another scenario is, if you are manager, your LHS list will be the CHP Areas you manage, but if you search for "Kane" you will return "Dianna Kane, CHP" (person) "Dianna Kane Area" and

[2016-08-31 20:43] garethbowen commented on #2691
Yes it'd be a good idea to work towards consistency here. Update the translation in POEditor as you find them.

Also there is bound to be a whole lot of unused keys which should be removed. The difficulty is finding if they're used.

[2016-08-31 20:59] diannakane commented on #2344
Thanks, @estellecomment ! Comments in-line below. Feel free to ping me to discuss anything.

Yes!

Correct

Currently, a place must have a primary contact, so this gets created in the "New Place" stage. Any new people subsequently added to that place are not the primary contacts. Primary contact can be edited from the Place by selecting a new primary contact from the drop-down.

Primary contact wo

[2016-08-31 21:07] sglangevin commented on #2334
Does this issue also include the ability to configure different `person` forms for different places? Because that would be very useful.

[2016-08-31 21:11] sglangevin commented on #2670
@abbyad I've made the update to `convert.sh` and pushed to `medic-projects` after confirming that it creates the correct xml. Feel free to take a look.

[2016-08-31 21:12] garethbowen commented on #2334
@sglangevin That feels like a separate issue to me.

[2016-08-31 21:15] garethbowen opened #2692 "Exporting Feedback crashes API"
Exporting 94 Feedback elements crashes API with out of memory.

[code]

[2016-08-31 21:29] sglangevin commented on #2334
Ok, just wondering because it's sort of implied in the issue description, but perhaps it was meant to be that we would just have a different title at the top of the page depending on which place we are adding a person to?

[2016-08-31 21:37] sglangevin commented on #2344
@diannakane I didn't realize we were going to remove the ability to send a message to a contact from the mobile view. Is there a way to fit that? I'm not sure that I have a specific user request for it off the top of my head, but it seems like it could be useful.

[2016-08-31 21:39] diannakane commented on #2338
What @garethbowen said!

We have multiple types of things to import / export so we might not want to get too granular in our break-downs. Import: records, contacts. Export: records, contacts, messages. I could see us re-integrating export into the tabs once we get our filters re-designed, but import will likely stay as a config-only option, so maybe we break it down along those lines?

[2016-08-31 21:41] garethbowen commented on #2338
The admin page has been broken down by type which is good enough for now. We can review again when exporting is added back to the FABs.

[2016-08-31 21:46] garethbowen commented on #2338
That last commit removes the Export button from the FABs on Messages and Reports as discussed with @diannakane

[2016-08-31 21:49] diannakane commented on #2344
@sglangevin and I just confirmed the confusion.

In mobile, ability to "call" and "message" from a person card (sorry I misspoke above), both of which launch the phone's native call/message applications.
https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166359152

In web, ability to "message" from a person card, though this doesn't appear to be working. We would expect it to launch the mes

[2016-08-31 21:56] diannakane commented on #2334
This may be more related to the conversation we're having in #2344

I had taken it that we were able to contextualize add person forms depending on which level you are adding them to, i.e. family member to a household vs. CHP to an area. Is that a configuration issue that needs to be sorted out? If so, we should create an issue.

[2016-08-31 21:59] sglangevin commented on #2334
Currently we just have one `person` form that applies to any person that you are adding to the app. If we wanted to configure by the place type that a person is being added to, that is a feature request and would need an issue.

[2016-08-31 22:03] diannakane commented on #2340
I will let @Lesterng respond to the question about font-awesome icons.

To the question of household member counts, is this an issue we will have for displaying any type of contextual information to a person's profile? Or is it only an issue because we are trying to run a whole list of queries? An example is if we want to show summary info about a household on their profile page (such as # kids in

[2016-08-31 22:10] diannakane commented on #2341
For CHW supervisor view (home place is a branch, CHW Areas are listed in LHS): "New CHW Area" is always displayed in the LHS. (confirm @diannakane or @Lesterng ?) For CHW view (home place is a CHW area, Households are listed in LHS) : "New Family" is always displayed in the LHS. (? @diannakane or @Lesterng )

Yes, right on all counts.
If you click on the squares in the Invision FAB, you can see al

[2016-08-31 22:17] garethbowen commented on #2692
Code review: https://github.com/medic/medic-api/commit/b16a202ce5742d8aca5ef0761269ab4166ee2830

The fix is to not attempt to include the console log in the response as it can be massive. If needed it can be accessed directly in the DB.

[2016-08-31 22:22] diannakane opened #2693 "Unique "add person" forms to a place"
We want to the ability to load different "add person" forms depending on the type of place you are adding them to, such as a "family member" form when adding a person to a household vs. a "CHP" form when adding a CHP to an area.

[2016-08-31 22:23] diannakane commented on #2693
@abbyad Can this be added to this iteration?

[2016-08-31 22:24] diannakane commented on #2334
#2693 created. Will defer to @abbyad and others whether this can be included in this iteration.

[2016-08-31 22:28] browndav commented on #2687
I think we understand this now. Some facts first.

Fact 1: If you query the Apache CouchDB `_info` endpoint, you'll get a `view_index.signature` property back. This is an MD5 digest of all of the map/reduce view code, the language the map/reduce view code is written in, and a couple of other details. If you append `.view` to that digest, you have the name of the view index – a file on disk, stored

[2016-08-31 22:31] garethbowen commented on #2687
Sounds like a daily cron job would do the trick?

[2016-08-31 22:34] browndav commented on #2687
Yeah, +1 here: if we can confirm that excess runs are fast and not destructive, just running it every day is way easier.

[2016-08-31 22:34] garethbowen commented on #2684
@mandric I just made a trivial change to medic-webapp/api (console.log statement in server.js) and kanso pushed. It completed successfully and looks to have restarted api, but the log statement didn't appear.

[2016-08-31 22:37] browndav commented on #2687
Forgot to mention: we've run `_view_cleanup` on a production clone and confirmed it decreases the space usage considerably (thanks @mandric). We also regenerated all of the views from scratch, and confirmed the final size was similar to our `_view_cleanup` test (also thanks @mandric).

[2016-08-31 22:41] sglangevin commented on #2185
Tested this a while ago - moving to ready.

[2016-08-31 23:05] garethbowen commented on #2271
Duplicate of #2679

[2016-08-31 23:05] #2271 closed

[2016-08-31 23:26] garethbowen commented on #2616
Released: https://github.com/medic/medic-webapp/releases/tag/2.8.0

[2016-08-31 23:59] #2616 closed

[2016-09-01 01:18] garethbowen commented on #2686
This is due to a bug in a [json.edit](https://github.com/marianoguerra/json-edit) which is the library dashboard uses to render the app-settings page. `description` fields on inputs render nicely, but `description` fields on groups of inputs render as a header.

We can update dashboard to overwrite the CSS, or attempt to patch the original library, but json.edit has many such issues so I recommend

[2016-09-01 01:55] garethbowen commented on #2693
To achieve this I think we want to have a new type of contact (`type:"user"` or something). We'll need to migrate existing users to this type.

This will work for SMS users, but smartphone users will need a couchdb user and a user_settings doc created. At some point in the future we should make it so smartphone users can be created on the People tab without having to also go to the Configuration >

[2016-09-01 01:56] garethbowen commented on #2334
Updating the "New Contact" button is covered by #2341 so this issue is now solely to rename the tab...

[2016-09-01 02:04] garethbowen commented on #2334
I've updated about 6 relevant labels in POEditor so the defaults are people not contacts.

[2016-09-01 02:04] #2334 closed

[2016-09-01 02:07] garethbowen commented on #2613
I don't think this is possible for webviews without some tricky mangling to get pouch to write to the app which writes to its local storage. We've found some ways to reduce our data requirements which make this less important. @estellecomment Would you agree with either closing or unscheduling this issue?

[2016-09-01 02:30] garethbowen commented on #2400
Checklist:

1. Take a snapshot of production so you can thoroughly test without breaking production
2. Run the update
3. Watch the api log for any migration issues. Take note of any issues found and let development know and wait for a patch or custom script.
4. Repeat 1-3 until there are no migration issues.
5. Test the snapshot thoroughly
6. Schedule an update on production.

[2016-09-01 02:30] #2400 closed

[2016-09-01 03:25] garethbowen commented on #2337
### Code review

Reverted the code that hid your place from the list. Styled the background colour - I decided that hover colour should take precedence over home colour. Select home place if none others are selected. Tweaked some other styles.

[2016-09-01 03:59] garethbowen commented on #2116
I think this is fixed now. Closing for acceptance testing.

[2016-09-01 03:59] #2116 closed

[2016-09-01 07:20] estellecomment commented on #2687
Additional documentation : https://en.wiktionary.org/wiki/balls_to_the_wall

[2016-09-01 07:26] estellecomment commented on #2693
For clarity @diannakane : Family Members, who don't log in to the site, are easier to create, but CHWs, who log in as users, are more complicated.

Note that in currently-0.4 projects, CHWs are not site users, so they're in the easy case.

[2016-09-01 07:27] estellecomment commented on #2613
We could unschedule if we've solved data size issues, yes.

I don't have enough info to close, because I haven't researched and tested for Android 5, in which there's different ways for apps to interact with SD card.

[2016-09-01 07:34] SCdF commented on #2339
So @estellecomment the above comment for reviewing is accurate!

[2016-09-01 08:55] SCdF commented on #2687
It has been suggested somewhere on the tubes that an optimisation is to have many ddocs to reduce the pain of this, even to the point of one ddoc per view. Not sure if it's something we're interested in thinking about for a general pain reduction.

[2016-09-01 08:58] estellecomment opened #2694 "Exporting messages crashes API"
Tried for a couple minutes to export 878 messages, then API ran out of memory and crashed.
(I can export forms and contacts just fine. This is on a clone of CA2, upgraded.)

[code]

[2016-09-01 09:00] SCdF commented on #2694
Related to #2692 ?

[2016-09-01 09:03] estellecomment commented on #2694
Yeah, similar, but #2692 is being solved by exporting less logs, which won't work here.

[2016-09-01 09:11] garethbowen commented on #2613
Ok, let's unschedule it for now and see how the other tactics pan out.

[2016-09-01 09:16] estellecomment opened #2695 ""Failed - Network Error" when exporting Contacts"
In Chrome.
![screen shot 2016-09-01 at 11 00 03](https://cloud.githubusercontent.com/assets/911434/18161682/4b1495a2-7033-11e6-8f7d-3189f57cbb0e.png)

I can export reports just fine.
No console errors, no API errors.
The file is called `download`, instead of `contacts-<timestamp>.json` when it's working.

I'm suspecting the `getHref(res)`, in `ajaxDownload` module, with `res` = array[998], is too

[2016-09-01 09:17] estellecomment commented on #2338
Filed separately :
Exporting messages crashes API : https://github.com/medic/medic-webapp/issues/2694
"Failed - Network Error" when exporting Contacts : https://github.com/medic/medic-webapp/issues/2695
Both issues with excessive data size.

[2016-09-01 09:21] estellecomment commented on #2338
UI looks great, I like the tabs!

One last thing : the icon for Import/Export should have arrows going both up and down.
And then LGTM!

[2016-09-01 09:22] garethbowen commented on #2338
I looked for one in Font Awesome but couldn't find one. I could stack but it's a PITA. Do you recommend one?

[2016-09-01 09:23] SCdF commented on #2337
The code in general looks OK but it doesn't work for admins, see notes on commit.

[2016-09-01 09:29] SCdF commented on #2692
Looks like it does what it says on the tin! I'd like to look at streaming at some point as a longer term solution to this. Perhaps it can be attempted on #2694 when someone gets to it (which might be me later today, idk)

[2016-09-01 09:29] #2692 closed

[2016-09-01 09:34] estellecomment commented on #2338
There's this one, and maybe stack on a circle :
http://fontawesome.io/icon/arrows-v/

Or that one, that you can rotate with `fa-rotate-90` (90deg), would look better maybe:
http://fontawesome.io/icon/exchange/

[2016-09-01 09:36] #2337 closed

[2016-09-01 09:39] #2338 closed

[2016-09-01 10:24] SCdF commented on #2434
OK so I think this is working as well as PouchDB can manage. Whether or not IndexDB itself is cleaned up in the background is an exercise in mysticism.

Steps that I followed to test:
 - Use Chrome Canary. While this reliably crashes after <5min every time I boot it, its indexdb inspector actually works correctly, allowing you to search and filter for things (filter in stable is broken for me)
 -

[2016-09-01 10:29] SCdF commented on #2694
I'm going to take a crack at solving this with streaming

[2016-09-01 10:30] SCdF commented on #2434
(where Code Review in this case is really Testing Methodology Review, but we don't have a label for that one…)

[2016-09-01 10:44] garethbowen commented on #2434
I wonder if [viewCleanup](https://pouchdb.com/api.html#view_cleanup) would fix the problem... Can you try that and see if the IDB space reduces? This is the same issue we hit with couchdb recently.

[2016-09-01 10:51] garethbowen commented on #2434
Running viewCleanup on my local install cut the IDB size down from 6MB to 2.4MB. We should probably be running it every time any ddoc is changed.

[2016-09-01 11:53] estellecomment opened #2696 "Add User modal doesn't display errors to user"
Here, saving failed, no error was displayed.
(it failed because there was already a user with the same username)
![screen shot 2016-09-01 at 13 50 44](https://cloud.githubusercontent.com/assets/911434/18166391/33ac5f86-704b-11e6-8003-f35c89c2dc79.png)

[2016-09-01 12:00] alxndrsn commented on #2673
* [ ] write the tests
* [ ] make them work on travis

[2016-09-01 12:06] estellecomment opened #2697 "ContactSchema vs. CONTACT_TYPES"
We have a [ContactSchema](https://github.com/medic/medic-webapp/blob/master/static/js/services/contact-schema.js) service, used for generating contact forms, and [CONTACT_TYPES and PLACE_TYPES constants](https://github.com/medic/medic-webapp/blob/master/static/js/app.js#L79).
Hopefully they don't give different info.

We should merge it all into ContactSchema service.

[2016-09-01 12:08] estellecomment commented on #2339
Comments about how to get the place below you. Filed https://github.com/medic/medic-webapp/issues/2697
But looks good otherwise!

[2016-09-01 13:59] estellecomment commented on #2344
@SCdF please review! https://github.com/medic/medic-webapp/pull/2698
(tests are flaking but nothing related is failing.)

Not done yet, will do after, ignore for this review :
- [ ] Translations not working
- [ ] Send Message button is not aligned
- [ ] When you click on the buttons, the forms don’t look like the mocks. But the urls should look right (e.g. create a person in clinic ‘abcde’ : `abcd

[2016-09-01 13:59] abbyad opened #2699 "Reported Date is show in ms since epoch"
In the Reporting Rates page the _Reported Date_ field is being shown in ms since epoch:

![image](https://cloud.githubusercontent.com/assets/789512/18169898/2d0a9aba-702a-11e6-9bdf-deb5bae2a38e.png)

It would be nice to display it using the `DateTime Format` from app_settings.

[2016-09-01 14:25] SCdF commented on #2344
@estellecomment reviewed! Left some style comments, but that's it. I thought I'd check out it and have a look around. Should I expect to see `New Action` in the FAB?

[2016-09-01 14:27] estellecomment commented on #2344
Nope, no New Action yes, it's in the todo list above. Just wanted to get this part merged in before launching into new adventures.

Thanks!

[2016-09-01 14:43] SCdF commented on #2339
Merged.

[2016-09-01 14:43] #2339 closed

[2016-09-01 14:51] mandric commented on #2687
So first thing I realized was that we were doing our tests on lg-testing using 2.8.0-beta.6 and the view changes are significant between the two.  I'm guessing the latest 2.8.0 won't have this issue, where the view generation never finishes and fills up the disk.  Testing that now to confirm...

While that is going on figured I would try to see if we can figure out why view generation in 2.8.0-bet

[2016-09-01 15:55] mandric commented on #2687
Thinking to edit out some views and keep retrying until we pinpoint which view is causing it...

[2016-09-01 17:55] mandric commented on #2687
Also browndav Fact 2 above is false. View index is only generated when *any* of the views change.  Otherwise we'd have a serious problem because settings live on the ddoc.

[2016-09-01 18:06] browndav commented on #2687
Fixed. Typed `_rev` and meant `signature`, thanks for the catch.

[2016-09-01 20:48] abbyad opened #2700 "Allow for people-centric SMS workflows"
Existing projects with SMS workflows are case-based, exemplified by having a new ID for each new pregnancy for the same person. Actions in the app are now about contacts, as used by mobile app users, and we’ll want the SMS workflows to be person-centric as well. Having consistency between the two types of workflows will be easier for our team to design deployments and will improve how managers of

[2016-09-01 20:59] abbyad opened #2701 "Plan for testing XForms used for app workflows"
We need to figure out an effective and efficient way for tech leads to test forms. Opening this issue for discussion of approaches, not to implement a test system.

_**Edit:** Focus on forms in this issue. Removed testing of task/target rules from this issue_

[2016-09-01 21:01] garethbowen commented on #2701
We have a rules testing framework that will help here: #1836

[2016-09-01 21:03] Lesterng commented on #2340
@alxndrsn @diannakane For all the icons, including the Font Awesome ones, I can create a single Medic Mobile font. I did a test with Icon Moon. If all the icons are fonts, they work best as a single color. I need to redesign the multicolor ones to be on color. I will get you something to test out soon!

[2016-09-01 21:05] garethbowen commented on #2700
Sounds good.

We will have to add a sentinel transition (or more likely, modify an existing one) to attach the patient UUID to the new report so it will show up under the patient history.

[2016-09-01 21:07] garethbowen commented on #2340
Once we've started down the custom font route we should look at eliminating font awesome icons that we don't currently use so the font file is as small as possible.

[2016-09-01 21:12] Lesterng commented on #2340
@garethbowen I can create a Medic Mobile font that only includes the font awesome icons we use plus all our custom ones! I can add to the font anytime and version it!

[2016-09-01 21:13] abbyad commented on #2701
Thanks, that is helpful.  Looks like https://github.com/medic/medic-webapp/issues/2503 covers what we need for the rules when it is complete:

I'll rename this issue to focus on testing the forms, where the guts of health protocol lives. For LG there are about 580 test cases for the Assessment form alone, so an efficient plan would help make sure that the protocols are properly implemented.

[2016-09-01 21:16] garethbowen commented on #2340
Perfect!

It's a little complicated to work out which icons we use, but we can work on it. Ideally anyone on the team could add/remove icons from the font so once you have a system that works it just needs to be written up somewhere. Thanks!

[2016-09-01 21:24] Lesterng commented on #2340
@garethbowen Cool. A list of the icons would be helpful.

[2016-09-02 00:56] abbyad commented on #2457
I can't think of any projects using the in-app medic-reporter anymore, but we should check with tech leads (cc @henokgetachew).

I suspect that if users do need to submit forms via web we can create those as XForms to match the JSON form. By doing that `medic-reporter` no longer needs to be user facing, and can return to being a testing tool.

@estellecomment what other info do you need before mov

[2016-09-02 08:15] estellecomment commented on #2457
I think I'm good.
Medic-reporter is linked from config pages, to use for testing.
Forms are sent from Action button.
Until we phase out JSON, the JSON forms in the Action link will open a medic-reporter window. When we're all JSON, it will be proper webforms for all forms.

Closing, thanks for everyone's input! ( @henokgetachew please reopen if it doesn't make sense)

[2016-09-02 08:15] #2457 closed

[2016-09-02 09:53] henokgetachew commented on #2457
No projects use Medic-reporter as a way of sending actual reports.  It is sometimes used for internal testing but even with that, it's being used less and less as it doesn't support skip logic.

[2016-09-02 11:45] SCdF commented on #2694
@estellecomment I've created https://github.com/medic/medic-api/pull/99 as a POC for streaming XML results. It would be good if you could test it locally to make sure that reduces the memory usage enough for that DB you have.

Also, how exactly were you testing it? Through a UI, or curling api?

[2016-09-02 12:13] estellecomment opened #2702 "Import/Export page : tabs are wrapping"
Leftover from #2338.

In a narrow window (or mobile), the tabs wrap to a new line, which looks weird. I'd expect them to get narrower and squeeze in.

![screen shot 2016-09-02 at 14 10 05](https://cloud.githubusercontent.com/assets/911434/18203449/6b66753e-7117-11e6-8cf1-c1c60890e257.png)

[2016-09-02 12:36] estellecomment commented on #2694
Through curl :
 - `curl -X POST  http://admin:pass@localhost:5988/api/v1/export/messages` -> works, both on `master` and your branch.
 - `curl -X POST  http://admin:pass@localhost:5988/api/v1/export/messages?format=xml` -> out-of-memory on `master`, `Server error` on your branch :
[code]
So you'll need to fix `format=xml` to get my before-after input!
(I'm getting 91301 messages, that's a lot of m

[2016-09-02 12:45] estellecomment opened #2703 "select2 form fields are not being prepopulated"
Example, when editing a user, its "Place" field should be prepopulated, and is not:
![screen shot 2016-09-02 at 14 43 13](https://cloud.githubusercontent.com/assets/911434/18204184/a758c674-711b-11e6-8c2e-6cff254a0eca.png)

The HTML does have the value though (in the selected line, the value is `9ebb72a1-8341-67a4-83b2e3b1a8a152fc`)
![screen shot 2016-09-02 at 14 40 46](https://cloud.githubusercon

[2016-09-02 12:49] SCdF commented on #2694
Interesting, so that's a bug in the XML framework that isn't happening when we run the tests, even though it's going through the same code paths…
[code]

I'll dig into it, seems weird

[2016-09-02 12:55] mandric commented on #2687
Woke up to a full disk and couchdb attempting a compaction on the reports_by_freetext view:
[code]

[2016-09-02 13:01] SCdF commented on #2694
OK wow check this out: https://github.com/medic/medic-api/pull/99/commits/37c2de1eb7496b58aa15b6da9fd6217ad05d93b3

One of those times I realise I don't really understand JavaScript at all… anyway @estellecomment give that another crack, it now works for me locally.

[2016-09-02 13:23] SCdF commented on #2703
Looks good.

[2016-09-02 13:23] #2703 closed

[2016-09-02 13:23] estellecomment commented on #2694
Booooom
But much further along the process. Got 59500 / 91301 rows.
![screen shot 2016-09-02 at 15 18 08](https://cloud.githubusercontent.com/assets/911434/18205205/10798878-7121-11e6-807a-30ca641b8812.png)
[code]

[2016-09-02 13:25] SCdF commented on #2694
OK so I'll move on to the next optimisation, which will be batching view calls to CouchDB instead of getting everything in one big go.

[2016-09-02 13:40] mandric commented on #2694
Hrm, it should be streaming from the couchdb list and we can just proxy that?

[2016-09-02 13:40] mandric commented on #2694
I might be hallucinating about old code...

[2016-09-02 13:42] SCdF commented on #2694
Yeah I think you might be. The existing stuff in master very linearly does this:
 - Checks some things
 - Either queries views or fti lucene stuff, and generates a whole data structure
 - depending on parameters generates a string representing a whole CSV, JSON or XML data structure
 - Returns that value to the client
 - Presumably then Node cleans that stuff up

Batching the queries is going to b

[2016-09-02 13:50] mandric commented on #2694
Hrm this might be a job for a couchdb list function, and stream results where each row can be parsed... as opposed to using a view.

[2016-09-02 13:53] mandric commented on #2694
Maybe add a list function to stream CSV from couchdb and transform it in medic-api.

[2016-09-02 14:00] SCdF commented on #2694
Why? As in, what is the benefit of doing this over simply calling the view again and again with a different offset?

[2016-09-02 14:07] mandric commented on #2694
Just a suggestion I thought worth exploring if batching is difficult.

[2016-09-02 14:37] estellecomment commented on #2335
Oh, I fixed this one without knowing it!
https://github.com/medic/medic-webapp/issues/2703

Note that this works for the default forms (the ones generated when there are no contact forms uploaded). If it doesn't work with e.g. LG's forms, then it becomes a form issue!

[2016-09-02 14:37] #2335 closed

[2016-09-02 14:45] estellecomment opened #2704 "Default "New Person" form doesn't alow editing the parent place"
In the default "New Person" form (the generated contact form for when there is no contact form uploaded) has no field to see/choose what the selected parent is, which [the mocks](https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906705_District-area) want.
It looks like this.
![screen shot 2016-09-02 at 16 40 52](https://cloud.githubusercontent.com/assets/911434/18207612/27cc7386-712c-1

[2016-09-03 16:54] estellecomment commented on #2344
- [ ] Icons match the old hierarchy (District, Health Center, Clinic) while labels match the new (Branch, CHW Area, Family)

[2016-09-03 17:03] estellecomment opened #2705 "Create icons for new People tab"
Icons currently come from fontawesome and match the old hierarchy:
District : http://fontawesome.io/icon/building/
Health Center : http://fontawesome.io/icon/hospital-o/
Clinic : http://fontawesome.io/icon/users/

while the design for the new People tab match the new hierarchy : Branch, CHW Area, Family.
And they're not in fontawesome, so we need a proper set of icons. (or find appropriate fontawe

[2016-09-03 17:03] estellecomment commented on #2344
Filed https://github.com/medic/medic-webapp/issues/2705

[2016-09-03 17:05] estellecomment opened #2706 "RHS buttons are not aligned"
On a Person page :
![screen shot 2016-09-03 at 19 04 33](https://cloud.githubusercontent.com/assets/911434/18226410/4e087c2e-7209-11e6-936b-8ef56969b0d1.png)

[2016-09-03 17:05] estellecomment commented on #2344
Filed https://github.com/medic/medic-webapp/issues/2706

[2016-09-03 17:08] estellecomment commented on #2344
@SCdF please review again!
https://github.com/medic/medic-webapp/commit/451ded7524628869453824b36189ca1c6fc8598b
https://github.com/medic/medic-webapp/commit/c587f2eb71ddb16b9fc855463fa3a1ba44b9cb59
https://github.com/medic/medic-webapp/commit/49fe19ff435f82bd7af42cbca15337f42d964c13

[2016-09-03 17:20] Lesterng commented on #2705
@estellecomment I am building a Medic Mobile icon font that will include all the Font Awesome icons we use and all the Medic mobile ones I have created. I will only include the Font Awesome ones in the app to decrease the load. Going forward you will be able to add to it and version the font. I will provide links and instructions. Monday is a holiday here. Let me see if I can get you something to

[2016-09-03 17:24] estellecomment commented on #2705
Thank you :)
It's not blocking my work, so no pressure on my side.

[2016-09-03 19:10] medic-translators commented on #2705
Are we still thinking that these icons will be configurable based on the
type of facilities/places in the hierarchy?

[2016-09-04 12:52] estellecomment commented on #2705
We'll need to, yes.
CA2 uses Clinic for CHW areas, while LG uses them for families. Can't have same icon for both.

[2016-09-04 15:52] mandric commented on #2684
Ok will have to debug it then...

[2016-09-05 08:18] SCdF commented on #2344
Made some test comments, otherwise LGTM

[2016-09-05 08:45] estellecomment opened #2707 "Need a synchronous fake promise for unit testing"
`mockPromise` is a real promise.

[2016-09-05 08:59] estellecomment commented on #2707
Woops wait a bit, not that simple, doesn't work

[2016-09-05 09:33] estellecomment commented on #2707
Not so easy to do, and probably not a good idea.
[code]
Synchronous promise runs `doB()` then `doA()`, while normal promise runs `doA()` then `doB()`. Allwrongness.
(http://stackoverflow.com/questions/32837479/how-can-i-stub-a-promise-such-that-my-test-can-be-run-synchronously)

Well. Glad I got that out of my system.

[2016-09-05 09:33] #2707 closed

[2016-09-05 09:53] estellecomment commented on #2341
@SCdF please review!
PR : https://github.com/medic/medic-webapp/pull/2708

Trying out a new controller testing approach, @garethbowen you're probably interested : https://github.com/medic/medic-webapp/pull/2708/files#diff-e2552baf6a41cfedb5e41ed972a7efefR190
It gets rid of the crazy setTimeouts and makes for clean tests, but it introduces test-specific code in the prod code. Choose your lesser evi

[2016-09-05 10:26] estellecomment opened #2709 "CSS for new People tab"
Doesn't really make sense to fix the CSS in little pieces, so filing this issue to do it in one go across the whole UI.

Update Oct 10 2016 :
Check out the zeppelin mocks for styling reference: https://github.com/medic/medic-webapp/issues/2709
This includes
 - [ ] font sizes
 - [ ] font weights
(icons are covered in https://github.com/medic/medic-webapp/issues/2730)

[2016-09-05 10:27] estellecomment commented on #2340
Filed separate issue for CSS across whole People tab : https://github.com/medic/medic-webapp/issues/2709

[2016-09-05 10:27] estellecomment commented on #2343
Filed https://github.com/medic/medic-webapp/issues/2709 to do all the CSS in one go across the whole page.

[2016-09-05 11:22] SCdF commented on #2341
@estellecomment LGTM, bar the one comment. I also took the liberty of changing labels to code review, apologies if you're in some flow state that I've mis-documented.

[2016-09-05 12:25] estellecomment opened #2710 "Translations broken for FABs in new People tab"
Both RHS and LHS.
Figue out if it's just me locally or what.

[2016-09-05 12:26] #2341 closed

[2016-09-05 12:26] estellecomment commented on #2344
Translations filed separately : #2710

[2016-09-05 12:26] #2344 closed

[2016-09-05 13:03] fredatthehub commented on #2670
hi @SCdF , @abbyad, does the change suggested by @sglangevin mean that we can now start recording GPS failure reason?

[2016-09-05 13:06] estellecomment commented on #2710
Doesn't translate :
`<p translate>action.{{actionBar.left.userChildPlace.type}}.add</p>`

Translates:
`<p>{{ ("action." + actionBar.right.selected[0].child.type + ".add") | translate }}</p>`

My guess is that
 - the label is `action..add` until the controllers are done initializing actionbar
 - `action..add` is not a known label.
 - the `<translate>` directive only translates once, and then doesn'

[2016-09-05 13:37] estellecomment commented on #2710
(I added a `action..add` label, and it did NOT get picked up. Hmmm.)

[2016-09-05 13:45] estellecomment commented on #2709
Specs :
[Contacts-specs-dimensions.pdf](https://github.com/medic/medic-webapp/files/305746/Contacts-specs-dimensions.pdf)
[Contacts-specs-type.pdf](https://github.com/medic/medic-webapp/files/305906/Contacts-specs-type.pdf)

@Lesterng if I forgot some specs (or other relevant info) please share!

[2016-09-05 14:11] estellecomment commented on #2343
@diannakane please confirm : the new People tab displays no reports and no tasks, anywhere.

[2016-09-05 14:42] estellecomment opened #2711 "Remove unused keys from translations"

[2016-09-05 14:42] estellecomment commented on #2691
https://github.com/medic/medic-webapp/issues/2711

[2016-09-05 14:48] estellecomment opened #2712 "Use proper pluralization in translations"
So far, the translations have two different keys from plural and singular.
I don't know the plural rules of the languages we support, and whether they need more than one vs. many.

We can use this :
https://angular-translate.github.io/docs/#/guide/14_pluralization

[2016-09-05 14:59] estellecomment commented on #2343
@diannakane : questions about edge cases.
If there are no People in this place, do we display the People section with nothing in it? Or no section?
Same thing for child places of the place, if there are none do we display empty section or nothing?

[2016-09-05 15:03] estellecomment opened #2713 "Need mobile mocks for new People tab"
Issue to track the work. I know they're in progress.

[2016-09-05 15:09] SCdF commented on #2694
FWIW this is basically exactly what we want: https://github.com/dominictarr/JSONStream

The downside is that some of our export generation is more complicated than I thought, and I'm not actually convinced they can all be streamed, at least not without quite a bit of re-writing. Still investigating.

[2016-09-05 15:12] SCdF commented on #2694
i.e. the forms export has an overview tab that requires mapping over the whole view result first, and should be the "first" XML result to be exported (ie you're streaming out tab by tab, the summary tab is first).

[2016-09-05 15:13] estellecomment commented on #2343
@diannakane
In the lists of places and people belonging to a place, in what order do we display people and places? Is it the same order for all places?
E.g. two supervisors in a branch vs. two family members.

Right now:
 - Places are sorted by name.
 - People are sorted by date of birth, then by name (which makes sense for family members, but less so for the several supervisors of a branch.). No

[2016-09-05 15:26] SCdF commented on #2694
@estellecomment can you pull that branch and give your test command another crack? I very much doubt I've fixed it but _actually_ fixing it looks like a larger piece of work than I was expecting, so I thought I'd try a silly random hack (that language optimisers hate!)

[2016-09-05 16:02] estellecomment commented on #2694
Nope!
Exploded at 62.6MB again. 59496 / 91301 messages.
[code]
Api says :
[code]

[2016-09-05 20:20] garethbowen commented on #2702
We don't really support configuration on mobile. It'll technically work but it's not recommended. Let's deprioritise this.

[2016-09-05 21:28] garethbowen commented on #2710
Couple of comments.

[2016-09-05 23:54] garethbowen commented on #2434
The above changes are, as far as I can see, the best practice for recovering disk space. It wasn't clear in testing whether this fully resolved the issue but as above I think we don't fully control when disk space is recovered as sometimes restarting the browser freed up more IDB space.

I think we've done all we can and we have to leave the rest up to pouchdb and browser implementations.

[2016-09-06 01:33] garethbowen commented on #2487
Assigned to @abbyad

[2016-09-06 01:36] garethbowen commented on #2706
"Bug" is when something doesn't function correctly, so it doesn't apply here.

[2016-09-06 01:57] garethbowen commented on #2328
Nobody is pushing to get this resolved and we haven't been able to reproduce it. If this happens again we need the network tab and console logs to do more investigation. Reopen if it happens again.

[2016-09-06 01:57] #2328 closed

[2016-09-06 02:21] garethbowen commented on #2709
We really need the mobile designs to this.

We prefer em as units for fonts rather than pt and px - the latter two are usually only used for print media. Please update the specs.

The colours and font sizes must be kept consistent throughout the app. Has this been thought through?

[2016-09-06 09:17] SCdF commented on #2434
Made some comments on the commit

[2016-09-06 09:19] garethbowen commented on #2434
Replied to said comments on the commit.

[2016-09-06 09:38] #2434 closed

[2016-09-06 12:49] SCdF commented on #2694
So talked to Alex and Gareth about this one: it's quite a lot of effort to re-write the API cleanly to stream from A->Z, which is really the only reliable way of fixing this issue without caveats and hacks.

These APIs are very "inherited", in the sense that it's not clear how many of the various file formats and output types are being actively used. No client has complained about these exports cr

[2016-09-06 13:26] SCdF commented on #2695
@estellecomment would you say this is the same as #2694 ? As in, this is occurring because you have a very large data set on a feature that otherwise works? I think this should have the same priority as #2694: i.e. not hugely important unless a client is having trouble.

[2016-09-06 13:28] SCdF commented on #2336
@garethbowen this ticket seems to be in a weird state. Should it either:
 - be closed because it's a standard ticket and tickets are closed before acceptance testing
 - be assigned to @abbyad because he yet has work to do

[2016-09-06 13:54] abbyad commented on #2336
Exported latest `en` translations in https://github.com/medic/medic-webapp/commit/842e862b09765faefd0332f4b83aec5c218786e3. We can open another ticket for exporting further translations prior to release if needed.

[2016-09-06 13:54] #2336 closed

[2016-09-06 14:29] SCdF opened #2714 "e2e tests got flake"
![if only!](http://blog.boschpackaging.com/wp-content/uploads/2014/07/PA_CS_Cadbury_Flake-Bar_704x251-704x251.jpg)

E2E tests now successfully run locally, nearly every time. Unfortunately they break a bunch on Travis. This is bad: Travis should only be whinging when there is something actually wrong.

Investigate!

[2016-09-06 14:37] SCdF commented on #2714
A failure I've seen a lot:
![image](https://cloud.githubusercontent.com/assets/583851/18277670/2ade3d98-7447-11e6-9392-f629fb15af85.png)
This is probably caused by our `browser.sleep()`, [here](https://github.com/medic/medic-webapp/blob/master/tests/protractor/e2e/send-message.js#L98). We could either increase this timeout, or possibly convert the `expect` assertions below into a `browser.wait` co

[2016-09-06 14:39] SCdF commented on #2714
A failure I've seen a lot a lot:
![image](https://cloud.githubusercontent.com/assets/583851/18277870/e56bc428-7447-11e6-8236-c1e7b09a7a8e.png)
This one seems to happen *a lot*. This is not limited to new e2e tests, the sms-gateway ones will have this one as well. In fact, you usually spot this particular failure in large groups. It might be that the browser state is getting into a funky state and

[2016-09-06 14:40] SCdF commented on #2714
We also don't tend to run Firefox locally, whereas Travis does. We should try to get Firefox working.

[2016-09-06 15:13] SCdF commented on #2714
So FF 38+ is known to not work with Selenium. FF 37 actively crashes on loading!

I'm downloading the version that Travis uses, which is the "Extended Service Release" or ESR.

[2016-09-06 15:22] SCdF commented on #2714
OK FF ESR (currently at 35) does work locally pretty stabily, at least with the few runs I've tried.

Unfortunately we can't expect devs who use FF as their actual browser to downgrade. Time to look at the forward moving step, which is using the Marionette driver, which AFAICT is the way forward with FF and webdriver.

[2016-09-06 16:52] Lesterng commented on #2709
Working this out this week. The type specs does affect the entire app. I have some of them in em as a unit, but I need to finalize them.

[2016-09-06 18:58] sglangevin commented on #2670
@fredatthehub it's not clear to me whether any web app feature was built here (it looks like potentially not, but @SCdF would need to confirm). If not, then as soon as we upload forms that have been converted using the new conversion script, we'll be able to see the errors. If there was a web app feature built, then that feature would need to be released, probably in v2.9, before we started being

[2016-09-06 19:05] SCdF commented on #2670
Nope, no code changes :-) All that needs to be done is for forms to be generated with the changed convert.sh, or whatever process is involved in pushing changed forms.

[2016-09-06 19:12] sglangevin commented on #2670
Ok cool - then we can get on updating the forms so that we expose the error message in JSON. @fredatthehub can you work with @derickl to run the conversion script on all LG Kenya forms (even if there are no other changes)? That will get the right XML into the forms so that we can store any error message related to GPS. I will do the same for LG Uganda. @henokgetachew we should also do this for all

[2016-09-06 19:20] mandric commented on #2687
This moved mostly to the slack dev channel: https://medic.slack.com/archives/development/p1472841966001827

[2016-09-06 20:44] mandric opened #2715 "evaluate Cloudwatch"
Where does it fit into the server/instance monitoring system?

[2016-09-06 21:16] mandric commented on #2648
Guys do we have any docs or description on how this feature should work?

[2016-09-06 21:20] garethbowen commented on #2648
Replication depth can be configured for user roles. If a user has multiple roles with different depths the biggest number is used. The depth controls which docs are replicated based on these rules:

- A contact (person or place) is visible to you if it's your place or a descendant of your place within the configured depth. Depth is optional and defaults to seeing all descendants.
- A report is vis

[2016-09-06 23:55] diannakane commented on #2343
Which view are you looking at? For mobile app projects, we have both tasks and reports on household and family member profiles. Eventually, this will show up on CHW and manager profiles as well in the manager view we are designing. SMS projects with v0.4 config won't have tasks or reports since we aren't dealing with "patients as people" yet. SMS projects on v2 config will show reports on a patien

[2016-09-07 05:56] estellecomment commented on #2706
It's a CSS bug! The CSS doesn't function correctly!
LGTM

[2016-09-07 05:56] #2706 closed

[2016-09-07 06:07] estellecomment commented on #2695
It's JSON instead of XML, but otherwise yes.

[2016-09-07 06:23] estellecomment commented on #2700
I think we have setups in immunization where a child is created and assigned an ID. Is a parent-child relationship stored?
If yes, then that starts to look like a family.

[2016-09-07 08:26] SCdF commented on #2714
My brain is slow! This error:
![image](https://cloud.githubusercontent.com/assets/583851/18277870/e56bc428-7447-11e6-8236-c1e7b09a7a8e.png)
Is almost certainly a knock-on error from a send-message error occurring. I'm going to look at adding a post test run for send-message tests that tries to reset the browser back into a useful state (ie maybe just a refresh, or refresh to a useful base url).

[2016-09-07 09:05] SCdF commented on #2695
OK cool I dropped it out of the sprint.

[2016-09-07 11:36] SCdF commented on #2714
Part one complete!

@garethbowen can you review: https://github.com/medic/medic-webapp/commit/4d5eea062b1a5c934884bb06042f3db77728d733 https://github.com/medic/medic-webapp/commit/922e3eb28497b244cd9116c83448e961c7feec18 and https://github.com/medic/medic-webapp/commit/6bd69b65eb66317de9abc8c0b986b0d5c29bafae

Not sure how you want to deal with this ticket. I'm happy to leave it open and assigned

[2016-09-07 11:43] SCdF commented on #2688
Grunt is catching `api_working` somehow, which is causing deploy to fire.

[2016-09-07 12:51] SCdF commented on #2688
So this is weird, watch catches any new directory in the root directory even if you're not watching for them. It is correctly ignoring new files in the root directory.

[2016-09-07 14:08] SCdF commented on #2688
So I think this is either a grunt-contrib-watch bug, or we don't understand the syntax that we should be using in the `files` property. I've created a test repo and filed a bug with grunt-contrib-watch: https://github.com/gruntjs/grunt-contrib-watch/issues/519

[2016-09-07 14:30] diannakane commented on #2700
That's true, we have implemented forms where you report the mother ID in the child registration form, and we also invented a L "link" form with [mother ID][child ID] should you want to do this later (though no project has used that to my knowledge). This lets you identify the mother child relationships in search results and outcomes are analyzable (word?) in exports.

[2016-09-07 14:44] SCdF commented on #2688
Blocked on a response from the linked ticket.

[2016-09-07 14:58] SCdF commented on #2702
@garethbowen / @estellecomment I'm going to take "deprioritise" to mean "take out of the sprint". Apologies if I got that wrong, and obvs feel free to add it back :-)

[2016-09-07 19:55] browndav opened #2716 "Create a script that invokes `_view_cleanup` for all CouchDB databases"
This issue supersedes #2687, and is required for medic/medic-projects#743.

Build a script that connects to the local CouchDB database using gardener's stored administrative credentials, and uses `curl` to request `_view_cleanup` for every design document in any database.

[2016-09-07 19:56] browndav commented on #2687
Superseded by #2716, closing.

[2016-09-07 19:56] #2687 closed

[2016-09-07 20:04] browndav opened #2717 "Document lessons-learned re: CouchDB database compaction, view compaction/rebuilding/cleanup"
We recently learned a bunch of potentially-troubling things about how CouchDB manages disk space and on-disk view indexes. Since the upstream documentation isn't spectacular, document the limitations we discovered and come up with a set of best practices for managing disk space and index rebuilds.

[2016-09-07 20:22] garethbowen commented on #2714
Code looks good. I'll leave it assigned to you. Good work!

[2016-09-07 20:23] garethbowen commented on #2714
I guess I ended up closing it... Leaving you to acceptance test. Feel free to open or change status as required...

[2016-09-07 20:50] Lesterng commented on #2340
@garethbowen @estellecomment @diannakane
Here is a zip file of the custom Medic Mobile Icon font
https://github.com/medic/medic-design/blob/master/mm-icon.zip
Let me know if it works. I will put together a guide for adding font awesome icons and material design icons.

[2016-09-08 03:19] garethbowen opened #2718 "Selecting a person's Report or Task doesn't load the actual item"
1. Go to People tab
2. Select a person
3. Click on one of their tasks or reports

Expected: the tab loads and selects that task or report
Actual: the tab loads but the content isn't set

[2016-09-08 06:03] estellecomment commented on #2705
Here is a zip file of the custom Medic Mobile Icon font
https://github.com/medic/medic-design/blob/master/mm-icon.zip
@Lesterng will put together a guide for adding font awesome icons and material design icons.

[2016-09-08 06:04] estellecomment commented on #2340
Cross-posting to #2705. Thanks Lester!

[2016-09-08 06:06] estellecomment commented on #2717
Blog! Post! Blog! Post!

[2016-09-08 06:24] SCdF commented on #2704
This requirement was spawned from the reading of a design mockup, specifically this one: https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906666_District-branch

It shows the new person form like this:
![image](https://cloud.githubusercontent.com/assets/583851/18339044/fcc8ecec-7594-11e6-9935-94495a1b203d.png)

@Lesterng / @diannakane is an intentional addition to the form (compared to

[2016-09-08 06:38] estellecomment commented on #2346
Is it on purpose that some Tasks for Allison Jones are displayed in both Allison Jones (the person) and Allison Jones's Family? It makes it hard to understand the difference between person and family, which is an issue.
E.g.
 - new pregnancy : belongs to Allison herself
 - family survey : belongs to the family

[2016-09-08 06:41] estellecomment commented on #2343
The ones linked at the top of the issue!
Person card, no tasks or report : https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906719
But I see that the mocks for Family and Family Member were done since then, in https://github.com/medic/medic-webapp/issues/2346
I'm going to remove tasks and history from this issue then, and tackle them in that one.

[2016-09-08 06:45] estellecomment commented on #2346
@Lesterng @diannakane
For implementation (and I realize that it can work differently in design! please bear with me), I would like to tackle all Tasks and History together in this issue.
Why? Because it's going to be the same code displaying tasks for CHWs as tasks for supervisors, so it would be better to have them both mocked before starting implementation. (I don't have a mock for supervisors'

[2016-09-08 06:55] estellecomment opened #2719 "Some fields in new People tab are not present in default forms"
There are fields in the new People tab mocks that we don't currently collect. If we want to collect them, we should add them to the default forms.

Ids for places : Branch id, CHW id, Household Id
Gender (for all Persons : family members, CHW, various managers)
Titles of Persons (e.g. "Branch Manager", "CHW", "Intern")

There are also not present in the ContactSchema. If they are defaults, they sh

[2016-09-08 07:59] SCdF commented on #2688
So I dug a little further, this is a problem with Gaze, the library that watch uses: https://github.com/shama/gaze/issues/204

[2016-09-08 08:15] estellecomment commented on #2710
rereview?

[2016-09-08 08:29] estellecomment opened #2720 "`grunt unit_continuous <my file>`"
I usually edit `karma-unit.conf.js` to only test the file that I'm working on. And of course it happened, I committed the change by mistake.

I need to do `grunt unit_continuous <my file>` without editing config files.

[2016-09-08 08:45] estellecomment commented on #2381
Summary :
 - We allow projects flexibility in how they use the different levels. ("branch, CHW area, family" vs. "district, heath center, CHW area")(or something else!)
 - Projects migrating from 0.4 (using "district, heath center, CHW area") will be fine with 3 levels, as long as they don't add the Family concept. If/when they do, we'll have to add a 4th level.

Kicking out of current milestone s

[2016-09-08 08:47] garethbowen commented on #2719
IDs only make sense for SMS installations so shouldn't exist in the default forms. The others are optional extras - it's not necessary to have everything available in the default forms, but the new profile will support whatever fields the tech leads decide to configure.

[2016-09-08 08:53] garethbowen commented on #2710
Looks good!

[2016-09-08 08:53] #2710 closed

[2016-09-08 09:43] SCdF commented on #2688
grunt-contrib-watch patch commit is here: https://github.com/SCdF/grunt-contrib-watch/commit/896dba3fed7874ed85074f787a5baf60db80d12f

[2016-09-08 09:45] SCdF commented on #2688
@garethbowen please check out the change to our package.json as well as the linked patch to grunt-contrib-watch.

I tried writing a test for watch, but their framework for testing doesn't lend itself well to testing that something _doesn't_ occur, so I haven't got a good solid test for now.

[2016-09-08 09:45] garethbowen opened #2721 "Quick filters for Tasks and Reports on the People tab"
Add filters for the lists of Tasks and Reports on the People tab as below.

![filter](https://cloud.githubusercontent.com/assets/2064938/18344964/858946da-760d-11e6-859e-33768fab71a3.png)

[2016-09-08 09:51] garethbowen commented on #1572
Split off the Tasks and Reports filters so they can be done separately: https://github.com/medic/medic-webapp/issues/2721

[2016-09-08 09:57] estellecomment commented on #2719
I disagree with that. Partners can have their own id system for places and people. We have instances with CHWs with external_ids.

They are optional extras so far, yes. I'd like to know if the design folks mean to change that. I expect that default forms should get you the results shown in the mocks.

[2016-09-08 10:13] #2688 closed

[2016-09-08 10:20] SCdF commented on #2714
Bah! https://travis-ci.org/medic/medic-webapp/jobs/158406496

[2016-09-08 10:21] SCdF commented on #2714
Weirdly these seem to be all the same issues I thought I'd fixed. Clearly I didn't!

[2016-09-08 13:15] estellecomment commented on #1572
This is a design issue, please don't add implementation details or commits to it.

@Lesterng, can you give the status on mocks? Are they done?
For all types of logged in users, and all levels, both desktop and mobile?

Is there a place where we can either list the mockups to have them all together, or maybe an invision shared folder? Right now we're relying on links to invision scattered among the

[2016-09-08 13:42] estellecomment commented on #1572
(LGTM @garethbowen)

[2016-09-08 14:08] diannakane commented on #2346
Sounds good re: implementation of the two together, @estelle.

There is no different manager view for this. Tasks and History show up on Household and Family Member profiles only, which are currently viewable the same way by all users.

[2016-09-08 14:17] diannakane commented on #2346
Yes, we had a lot of design team discussion about this and mocked it up
both ways to test with our designers.  Showing family tasks on the family
page and individual tasks on the individual page make a lot of sense
structurally, but what happens in a CHWs workflow is she wants to be able
to see all of the tasks for the family members in one place, on the family
page. The tasks on the family page a

[2016-09-08 14:21] diannakane commented on #2704
I think you are right, @stefan. We were probably following convention of
being able to do that in the current web app, but those long drop-down
lists are hard to navigate. We do want to show what place you are adding
the new person or place in this form, but I think it could be grayed out.
@slangevin, what you do think?

[2016-09-08 15:03] SCdF opened #2722 "medic-api integration tests (that run in medic-webapp) are flaky"
In our continuing series…

![image](http://www.mcdonalds.co.za/sites/default/files/productThumbnail/mcd-food-desserts-ice-cream-cone-flake.png)

So the api integration tests seem flaky. Here is a typical failure:

![image](https://cloud.githubusercontent.com/assets/583851/18354461/9589d714-75dd-11e6-9002-275c14d4b76a.png)

Investigate!

[2016-09-08 15:07] SCdF commented on #2714
@garethbowen check out the above commit, oh I've bet we've got it this time! (probably not)

[2016-09-08 15:20] alxndrsn commented on #2340
I started working on this, but then stopped because the scope was not clear at the time.  I did some work (viewable at https://github.com/medic/medic-webapp/commits/2340_contacts_list_lhs_updates) which is likely no longer relevant.

[2016-09-08 15:26] estellecomment commented on #2343
@SCdF please review! (so far)

[2016-09-08 15:31] estellecomment commented on #2346
@diannakane Ok!
In that case, when I view a CHW Area (e.g. because I'm a supervisor for that CHW), I will see the tasks for all the people attached to this Area (most often there's a single CHW per area, but in theory there could be other people, e.g. an intern).

I'm guessing I don't see the tasks for the people in the levels beneath, e.g. when I view a CHW area, it doesn't show the tasks for fam

[2016-09-08 15:37] estellecomment commented on #2346
An other thing : I'm also assuming that the History displayed follows the same rules. If you see a Task in a given card, you'll see the completed action in the History of the same card.

[2016-09-08 15:38] estellecomment commented on #2346
(Realizing it's not clear : please confirm that my guesses are actually right @diannakane ! :) )

[2016-09-08 16:14] SCdF commented on #2343
LGTM

[2016-09-08 20:31] garethbowen commented on #2714
Nice.

[2016-09-08 20:58] garethbowen commented on #2718
I've changed the function to `unsetSelected` so it's clearer what it does and added some documentation about when it should be used. I'm still not 100% happy with it but it's better...

[2016-09-08 20:58] #2718 closed

[2016-09-08 21:46] diannakane commented on #2346
@estellecomment per the comment above: "Tasks and History show up on Household and Family Member profiles only"

We are not implementing tasks and history for any other place or person cards at this time. THAT is what is currently being worked out for the separate "manager view" milestone. :) The way the mocks show it is accurate.

[2016-09-08 22:02] diannakane commented on #2719
@garethbowen  I understood from @sglangevin that the fields we display in the profile are hard-coded and not yet configurable (I was going to create an issue for that). It's somewhat hard to design for unlimited configurability because there could be a long list of fields a tech lead chooses to display.

@estellecomment I had included titles of persons in the mock because it seems useful to know w

[2016-09-08 22:06] diannakane commented on #2343
@estellecomment Ohhhh, that's because it's a CHW profile. See #2346 "Tasks and History show up on Household and Family Member profiles only"

[2016-09-08 22:24] Lesterng commented on #2705
@estellecomment @garethbowen @diannakane @sglangevin  New icon font mm-icon-v1.0 for deployment. Minor adjustments for deployment. I will version all updates.
https://github.com/medic/medic-design/blob/master/mm-icon-v10.zip

[2016-09-08 22:33] garethbowen commented on #2699
This was fixed at some point in the past...

![reported-date-formatted](https://cloud.githubusercontent.com/assets/2064938/18369258/c7410d18-7678-11e6-9454-e283b4acd80f.png)

[2016-09-08 22:33] #2699 closed

[2016-09-08 22:44] Lesterng commented on #2705
Renamed file:
https://github.com/medic/medic-design/blob/master/mm-icon-v1.0.zip

[2016-09-08 22:53] sglangevin commented on #2719
@garethbowen I don't know of a way to configure which fields display on a particular contact's profile. Is that something that can be configured? If so, let me know how! My understanding was that the fields on the contact profile were hard-coded, with certain fields displaying for families, certain fields displaying for primary contacts and certain fields displaying for other family members (mostl

[2016-09-08 22:56] garethbowen commented on #2719
I never meant to imply the fields are configurable. In the new UI we simply output an Age (for example) if one exists. If the form doesn't have an `date_of_birth` field then nothing will ever be displayed there.

[2016-09-08 22:58] sglangevin commented on #2719
Ok, so what did you mean when you said "the new profile will support whatever the tech leads decide to configure"? Did you mean that we can choose not to collect data that is part of the default form / contact profile view and it just wouldn't be displayed?

[2016-09-08 23:02] garethbowen commented on #2719
Tech leads can choose not to configure a `date_of_birth` field in their contact form. If they decide not to configure that field then their Age will be blank on the profile.

[2016-09-08 23:10] sglangevin commented on #2719
Ok, got it. Then I think this is just a matter of agreeing on what should be in the default form and then displayed on the contact profile. The ID field needs more discussion - perhaps we include it and then it is only populated for SMS projects. We could also make that configurable - hide or show depending on the project.

I'd also propose opening another issue for a feature where we could have a

[2016-09-08 23:13] sglangevin commented on #2705
Quick note that we are currently using font awesome icons in most of our xforms. If we are going to remove font awesome and that will affect xforms too, I'd propose that the first release with the MM icon font still have font awesome support so that we can make sure all xforms get switched over correctly before removing font awesome completely. Or we could have some other way of transitioning, jus

[2016-09-08 23:27] sglangevin commented on #2704
Yeah, I think that it should just display the place you are creating the person within, no need for a drop-down to allow the user to change as they should be getting to adding a person by navigating to the place they want to add them to. I'd vote for simply displaying the name of the parent place, if that is doable, no dropdown.

[2016-09-08 23:32] garethbowen commented on #2696
This affected all modals - not sure how it escaped my testing but something must've changed. The problem is due to the isolated scope of directives, meaning the directive can't access variables in the controllers scope. The fix is to pass through a `status` variable which contains the processing and error state.

[2016-09-08 23:38] diannakane commented on #2719
The ID is the only thing on this list that is set by Medic (not input from
a form) and not editable. Would it be possible, and would it help this
issue, if we displayed that somewhere outside of the rest of the profile
info? Would that make it configurable and easy to hide for Android projects?

[2016-09-08 23:39] diannakane commented on #2704
I think that makes sense as well.

[2016-09-09 00:41] mandric commented on #2128
See `medic-import` repo https://github.com/medic/medic-import

[2016-09-09 00:41] #2128 closed

[2016-09-09 00:43] mandric commented on #2472
See comments in the commit above https://github.com/medic/medic-reporter/commit/8913ff281db7b8f8b8b4b46b88ef6ae38d4fae46

[2016-09-09 00:54] mandric commented on #819
We dropped SMSSync support and rewrote the gateway see https://github.com/medic/medic-gateway

[2016-09-09 00:54] #819 closed

[2016-09-09 00:57] mandric commented on #1043
Everything merges into `master` now and betas and releases are done based on the git tag see:  https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#branches

[2016-09-09 00:57] #1043 closed

[2016-09-09 01:53] garethbowen opened #2723 "Convert edit report modal to new modal style"

[2016-09-09 09:11] SCdF commented on #2723
❤️

LGTM

[2016-09-09 09:11] #2723 closed

[2016-09-09 09:25] estellecomment commented on #2696
ha! Thanks!

[2016-09-09 09:25] #2696 closed

[2016-09-09 09:39] estellecomment commented on #2346
Sorry @diannakane still not all clear.

The mockups are NOT completely accurate : [this mockup of a Person card](https://projects.invisionapp.com/share/XA7CTCBGU#/screens/163504603) shows the "Family Survey" form in Tasks and in History.

"Family Survey" is a form attached to the Household, not the Person. It shouldn't be there on the Person card, from what you explained above. However on the mock

[2016-09-09 09:46] estellecomment opened #2724 "Mock updates: no parent place dropdown in forms"
When adding a child place or child person, the form that shows up should display the parent place, but not a dropdown allowing to change it.
(from decision in https://github.com/medic/medic-webapp/issues/2704#issuecomment-245773575)

Example (click New Person or New Area):
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906666

@Lesterng please update the mocks accordingly.

[2016-09-09 09:48] estellecomment commented on #2704
Ok! So this issue is a non-issue. Thanks all!

I'm going to open another one to remove the dropdowns in the default forms.

[2016-09-09 09:48] #2704 closed

[2016-09-09 09:52] estellecomment opened #2725 "Default forms for creating child Places should not allow changing the parent place"
In new People tab, you create Persons and Places from their parent place. Thus the form should get the value of the parent passed in, display it, and not allow changing it.

Currently, default forms allow changing the parent :
Health_center :
![screen shot 2016-09-09 at 11 49 35](https://cloud.githubusercontent.com/assets/911434/18382984/a9dda730-7683-11e6-845c-1c7182890cb1.png)

Clinic :
![screen

[2016-09-09 09:55] estellecomment commented on #2725
Blocked on mocks for forms (to make sure we're actually displaying the parent place in the end!) : https://github.com/medic/medic-webapp/issues/2724

[2016-09-09 09:55] estellecomment opened #2726 "Default forms for creating child Persons should display the parent place"
In the new People tab, you create a Person from its parent place.
The creation form should show what parent you're creating it in.

Currently, no parent field :
![screen shot 2016-09-09 at 11 50 17](https://cloud.githubusercontent.com/assets/911434/18383075/130308ae-7684-11e6-9d61-03b81eb191c9.png)

Blocked on mocks for forms (to make sure we're actually displaying the parent place in the end!) :

[2016-09-09 10:14] estellecomment commented on #2472
Thanks!

[2016-09-09 10:38] estellecomment opened #2728 "Update mockups : places should be listed in alphabetical order"
Child places and people should be sorted in alphabetical order (except Family Members, who are sorted by age)

This mock sorts differently, please update :
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906666

[2016-09-09 10:42] estellecomment opened #2729 "Update mockups : "Belongs to" should show all levels of hierarchy + show links appropriately"
In this one, it only shows the place just above (missing : Area, Branch)
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/163504603

[2016-09-09 10:43] estellecomment commented on #2729
That one too : https://projects.invisionapp.com/share/XA7CTCBGU#/screens/163504245

[2016-09-09 10:45] estellecomment commented on #2713
They're already done!! Sorry.
https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166036779

[2016-09-09 10:45] #2713 closed

[2016-09-09 10:50] SCdF commented on #2714
Nope.

![image](https://cloud.githubusercontent.com/assets/583851/18384632/8f862434-7683-11e6-943c-4803e29c95da.png)

Looks to be situations where loading doesn't show? Or we're not fast enough to catch it showing? Infuriating.

[2016-09-09 10:51] SCdF commented on #2714
On the plus side, the refresh trick worked, so this test breaking didn't break other tests in the suite. I'm going to expand the refresh so it happens between every test to further isolate issues.

[2016-09-09 11:00] SCdF commented on #2714
OK so AFAICT the loading indicator always shows. It might be the case that it only shows for very short time because the DB is so small the search is over very quickly (indeed the view will only have 2 entries in it). **However**:
 - The check should begin occurring straight after we've completely sent all the keys to select2
 - select2 should be waiting 250ms before firing off the ajax call

This

[2016-09-09 12:38] estellecomment commented on #2705
This issue is about creating the icons, which is done. Closing it.
I'll open a new one for dev work.

[2016-09-09 12:38] #2705 closed

[2016-09-09 12:41] estellecomment opened #2730 "New icons : use them for webapp and forms"
Icons were produced in #2705, yay!
https://github.com/medic/medic-design/blob/master/mm-icon-v1.0.zip
We are going to switch to these away from fontawesome.

Dev work :
Figure out how to use the new font, feedback to design if something is wrong or it needs more explanations.
Figure out how it impacts xforms, who were using fontawesome up to now. Find a solution if there's a problem (keep fontawes

[2016-09-09 12:42] estellecomment commented on #2340
Dev work for LHS :
 - [X] only display direct descendants of your home place
 - [ ] display home place at the top of the LHS. If admin, don't display a home place.
 - [ ] list items : remove breadcrumbs
 - if list items are families : display number of family members -> too expensive, skip.
Icons : blocked by #2730
Css : addressed for whole page in #2709

[2016-09-09 12:50] estellecomment opened #2731 "RHS : breadcrumbs and navigation"
- Breadcrumbs in "Belongs to" (display all levels). Clicking breadcrumb elements jumps to the appropriate page.
 - Navigation back button at top of page (display just the parent level)

Desktop mock : https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906959
Mobile mock : https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166037428

[2016-09-09 12:55] estellecomment commented on #2731
Note : some mocks currently have errors where the "Belongs to" field displays only the parent, not the whole ancestry. Ignore that. (https://github.com/medic/medic-webapp/issues/2729)

[2016-09-09 12:56] estellecomment commented on #2343
Filed off separately, in an attempt to chop up work into understandable segments : breadcrumbs and navigation https://github.com/medic/medic-webapp/issues/2731

[2016-09-09 13:06] estellecomment opened #2732 "Hide phone number for Family members in lists?"
The default way of displaying people in a list shows the phone number (see the CHW person) :
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/159906705

Family members are displayed differently (which is cool).
One such difference is that phone number is not displayed : (see Allison Jones)
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/163504245

Is this on purpose? Should we h

[2016-09-09 13:34] SCdF commented on #2721
^^ this commit is not for this ticket, it is for #2714 . This is what I get for multi-tasking.

[2016-09-09 13:35] SCdF commented on #2714
Mis-labled a commit, this one is relevant to this ticket: https://github.com/medic/medic-webapp/commit/4c263585808e8bde97e5264ecacd6de2bd6677e9

[2016-09-09 13:35] SCdF commented on #2714
@garethbowen more reviews plz, the above two commits if you don't mind.

[2016-09-09 14:17] abbyad commented on #2675
@mandric is there an update on this?

[2016-09-09 16:06] alxndrsn opened #2733 "Any user can read any other's user-doc"
Shadow ticket for https://github.com/medic/medic-projects/issues/753

[2016-09-09 16:06] alxndrsn opened #2734 "Changes feed filtering can be avoided"
Shadow ticket for https://github.com/medic/medic-projects/issues/752

[2016-09-09 19:10] diannakane commented on #2346
@estellecomment good eye -- this is an error!  A household form would only show up on the household page. Do you need an updated mock or can I include this rule in our design spec and refer to that as our main source of "rules"?

Here is a list of sample Family and Person tasks, history records, and actions that I put together some time ago, in order to get a sense for how many and how frequently

[2016-09-09 20:34] abbyad commented on #2487
I added more context in https://github.com/medic/medic-webapp/issues/2487#issuecomment-242805025 and fixed the permissions in the doc for further questions - although if anything is unclear we should make sure to clarify it in this issue too.

[2016-09-10 20:58] abbyad opened #2735 "Cannot have `Meta` field in XForm"
I was getting the following errors when trying this [sample XForm](https://github.com/opendatakit/sample-forms/blob/master/eIMCI%20by%20D%20Tree.xml)*:
`Error: Invalid primary instance. Found 2 instanceID nodes but expected 1.`
`nodeset.setVal expected nodeset with one node, but received multiple`
`Error loading form. Error: ["Error trying to parse XML record. Invalid primary instance. Found 2 ins

[2016-09-11 20:42] garethbowen commented on #2714
One comment. It's a difficult diff to read but looks ok.

[2016-09-12 02:40] garethbowen opened #2736 "Convert feedback to new modal style"

[2016-09-12 02:41] #2736 closed

[2016-09-12 07:27] estellecomment commented on #2346
@diannakane ok, we can decide that in case of discrepancy between mocks and doc, the doc is right. I've added it to [How Design and Dev interact](https://docs.google.com/document/d/1Z-JaxMeuSlI3dPjghk3n3gF9-Ar3TbqwaznCdvbus6w/edit).

We still need updates on the mock, it should be kept up-to-date as much as possible. Otherwise we can never know what we can follow blindly from the mock vs. what we

[2016-09-12 08:25] SCdF commented on #2721
@garethbowen so in adding this feature I noticed that tasks for users don't show up for admins. This completely makes sense: for performance reasons we disabled nools. When the page reaches for tasks it comes up empty handed.

Is this a problem? If so, it's a hard one to solve without moving to a tasks as documents system.

[2016-09-12 08:35] alxndrsn commented on #2735
Not sure what might be wrong with `Meta` as a tag name, but `meta` is certainly a (pending?) part of the ODK spec:

Do you still get the error if you have both a `Meta` and a `meta` block?  If not then the error may just be caused by a missing `meta` block.  There's no mention of `Meta` anywhere in enketo-core.

[2016-09-12 09:36] SCdF commented on #2721
Mostly done, in the above commit.

No filtering:
![image](https://cloud.githubusercontent.com/assets/583851/18431257/1560af96-78d4-11e6-956e-58291e9ca16c.png)
Filtering:
![image](https://cloud.githubusercontent.com/assets/583851/18431282/263f2590-78d4-11e6-8a9b-05755e0e44bd.png)

Three things:
 -  I haven't done any particular styling of the links at this point: not sure if there are specific colo

[2016-09-12 09:44] SCdF commented on #2721
@garethbowen interested in your thoughts so far

[2016-09-12 10:20] SCdF commented on #2722
Upped the timeout to 10s: https://github.com/medic/medic-api/commit/daad350ece5d7004f32915cfcea800f95a33cb87

[2016-09-12 10:37] SCdF commented on #2720
Are you aware of `only`? So `it.only` or `describe.only` basically does what you want.

You still have the commit issue where you can commit that by mistake (which I've done many times before) but it's worth knowing.

[2016-09-12 10:41] alxndrsn commented on #2720
Also mocha has a `--grep` option, which might be applicable to karma.

[2016-09-12 10:54] SCdF commented on #2722
@alxndrsn please review my "code"

[2016-09-12 10:56] alxndrsn commented on #2722
This https://github.com/medic/medic-webapp/commit/2a828ea39dae1df3fb9d748cd4dac31ecc6cf308 ?

[2016-09-12 11:03] SCdF commented on #2722
Well, that which causes us to have this: https://github.com/medic/medic-api/commit/daad350ece5d7004f32915cfcea800f95a33cb87

[2016-09-12 13:48] estellecomment opened #2737 "Tecno screens are kinda small for side-by-side display"
For example, when displaying the [persons list in a place](https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166340435), you display the name side-by-side with the phone number. Here's the relevant piece of mock:
![screen shot 2016-09-12 at 15 44 23](https://cloud.githubusercontent.com/assets/911434/18438016/d1d50d9a-78ff-11e6-9b43-6d4b7d01a06d.png)

On Tecno screen (320px wide!), if the n

[2016-09-12 14:04] estellecomment commented on #2737
Hmm actually, some things are probably narrow enough to fit, like age + gender :
![screen shot 2016-09-12 at 16 02 17](https://cloud.githubusercontent.com/assets/911434/18438609/6aead530-7902-11e6-9d89-e14acbb15dba.png)

So the general rule may be overreaching.

The issue remains for the name + phone example above.

[2016-09-12 14:05] abbyad commented on #2735
Good thinking. I tested again with each combination of `Meta` and `meta`:

| `Meta` | `meta` | Error? |
|:----------:|:-------------:|:---------:|
|present|present|no|
|present|absent|yes|
|absent|present|no|
|absent|absent|no|

This seems to imply that `meta` is _not_ required, and that `Meta` is forbidden as a top level element in a form - but still no clue why.

[2016-09-12 14:18] alxndrsn commented on #2735
Implies to me just that you can't have `Meta` if you have `meta`.  But I do agree that it's odd!

[2016-09-12 14:21] abbyad commented on #2735
Right, "forbidden" is not correct, but think you mean "can't have Meta if you _don't_ have meta", right?

[2016-09-12 14:26] alxndrsn commented on #2735
Yeah, that!

[2016-09-12 14:43] SCdF commented on #2231
Pretty sure this has been fixed, with a combination of various commits over the months.

[2016-09-12 15:14] SCdF commented on #2463
So @estellecomment looking at this ticket and then looking at Sentinel, I'm not really sure what you're asking for. Are we looking to delete transitions we don't think anyone uses anymore? Or that we don't want to support in 2.x for <some reason />? Are we saying that transitions required for SMS don't work with 2.x? Or that we're not sure if they work? Or if we need them at all?

I mean, we could

[2016-09-12 17:41] sglangevin opened #2739 "Targets tab is blank on first access"
When logging in as a restricted user on v2.8.0, the first time I access the Targets tab it is blank. Subsequent times it appears normally, but first access seems to have an issue. I logged in as demo1 - PM me for the password.

First access:
![image](https://cloud.githubusercontent.com/assets/1286381/18445773/036f1354-78d4-11e6-84ad-386e6bb835c2.png)

Clicked the contacts tab then the targets tab:

[2016-09-12 17:47] diannakane commented on #2737
Thanks for flagging this, @estellecomment !

Additionally, nearly all of our users have requested that we increase the font size, which would only exacerbate this issue.

Assigning to @Lesterng to see what he thinks

[2016-09-12 19:36] Lesterng commented on #2737
@estellecomment @diannakane
It might be best to remove the phone number in mobile. Right now you cannot select the phone number to call the contact. You will see the phone number in the individuals profile card RHS or when you select the list item.

[2016-09-12 20:31] Lesterng commented on #2729
@diannakane @estellecomment This is true. The "Belongs to" in the profile card is a breadcrumb that show the hierarchal levels. We should discuss if they are actual links. Also depending on what level the user is logged in at will depend on if they have access to a branch or district view. For this reason we might opt for showing the hierarchal order and **not** making them clickable links.

[2016-09-12 20:34] Lesterng commented on #2728
Yes, you are correct, alphabetical order. Future mockups we are working on getting the data more accurate.

[2016-09-12 20:38] Lesterng commented on #2724
@estellecomment  I saw this reference. I will change the mockups to reflect the change with no dropdown to change the parent place.

[2016-09-12 20:56] Lesterng commented on #2346
@estellecomment @diannakane Excuse some of the data errors as we are working through our workflows, we will make the content data more consistent to reflect the doc files. I will make the mockups reflect this so we have consistency with everything.

[2016-09-12 21:12] diannakane commented on #2737
@lesterng phone number is often used to verify identity... maybe less
relevant in the mobile app with all of the other contextual data there, but
in the event that two patients have similar names and birthdays, seeing the
phone number may be an important unique identifier

cc @slangevin

[2016-09-12 21:21] sglangevin commented on #2737
I can see this applying to the web app for SMS projects, where you might have a long list of people within the CHW area since we won't have families in that hierarchy. However, for the Android app, people are split up by family, so I'm not sure how important it would be to differentiate by phone number. It might be more useful to have the family designation (spouse, son, brother, etc.) as a way to

[2016-09-12 21:22] Lesterng commented on #2737
@diannakane Good to know. The phone number would still be in the RHS in web view. Only removed in the LHS list item mobile view.

[2016-09-12 21:33] diannakane commented on #2737
@lesterng I missed that we were talking about LHS vs. RHS. I take it that
showing it in the LHS would cause the same querying load trouble as
displaying number of family members there, so fine to leave it out.

@slangevin I see your point about it likely only applying to a relatively
small number of people (head of household). Should we make this field
available in the primary contact creation for

[2016-09-12 21:39] sglangevin commented on #2737
The primary contact doesn't have a specific form - when you list the primary contact during family creation, a person is created (same as all other people, like family members) and that person's information is listed in the `contact` field for the place, in this case, the family. If you wanted to edit someone's phone number, you'd go to that person, click edit, and either add or change the phone n

[2016-09-12 21:47] Lesterng commented on #2737
Every person should have the option of having a phone number when creating a contact from a form. The phone number would be displayed on their profile card. Let's just remove it from the list items because it is a fit problem for people with long names. List items are both in the LHS and RHS.

[2016-09-13 01:30] garethbowen commented on #2721
I've added some comments to the commit.

[2016-09-13 07:46] estellecomment commented on #2729
So we agree that "Belongs to" will show all the hierarchy. That's the subject of this issue.

Also agree we can't links to places that the current user cannot see (the doc isn't there on the device anyway, so the the link would be broken...).

Mocks whose text has missing links in the Belong to field :
https://projects.invisionapp.com/share/QD7ML6T7C#/screens/166037428
https://projects.invisionapp

[2016-09-13 07:47] estellecomment commented on #2731
Breadcrumbs are not all clickable : discussion in https://github.com/medic/medic-webapp/issues/2729#issuecomment-246482076

[2016-09-13 07:55] estellecomment commented on #2737
displaying number of family members there, so fine to leave it out

No, it doesn't. The issue with number of family members is that you have to fetch all the members in the family to be able to count them. The phone number is already part of the person doc, like the name, so you get it at the same time as the name, it doesn't cost anything.

[2016-09-13 08:28] estellecomment commented on #2737
Persons are never present in the LHS, on any device. (I this is wrong then I'm missing mocks, please point them out to me.)

@Lesterng Can we make mobile mocks 320px wide, like the tecno screens? That would allow for issues like these to pop up as soon as possible.

@diannakane Interesting point about the font size. I think it makes sense to include it in this redesign, while we're at it.
Please c

[2016-09-13 08:57] estellecomment commented on #2721
@SCdF reference for colors and fonts and pixels and things is the Zepelin project (request access from Dianna if necessary): https://app.zeplin.io/project.html#pid=57d311edb055084578d006ec&dashboard

[2016-09-13 09:46] estellecomment commented on #2343
@SCdF please review PR : https://github.com/medic/medic-webapp/pull/2738/files

[2016-09-13 09:49] estellecomment commented on #2732
@diannakane

[2016-09-13 10:21] estellecomment commented on #2343
@SCdF is in a park.
@alxndrsn please review!

[2016-09-13 10:58] alxndrsn opened #2740 "API changes feed unit tests are invalid"
In `/tests/handlers/changes.js`, `longpoll` has been misspelt `longpole`.  Correcting this spelling breaks the build on Travis (https://travis-ci.org/medic/medic-api/jobs/159551894), although tests pass on my machine with this change.

It's not clear if this represents a serious problem for the changes feed or not.

[2016-09-13 12:45] JenniferMuli commented on #2675
@ngamita @abbyad @mandric
Below are  links to some reports for today (13/9/2016)  with Missing Patient IDs and MHF names for your follow up -:
109099b546deabb2472ca7f001a799bf
109099b546deabb2472ca7f001a75795
109099b546deabb2472ca7f001a71d18
109099b546deabb2472ca7f001a6da6a
109099b546deabb2472ca7f001a64283
109099b546deabb2472ca7f001a5a529
109099b546deabb2472ca7f001a5606b
109099b546deabb2472ca7f001

[2016-09-13 13:01] estellecomment opened #2741 "Reports on family members should show up in Household's history"
E.g. report on "Allison Jones" should show up in "Allison Jones' Family" History list.
(and also in "Allison Jones" History list)

[2016-09-13 13:04] estellecomment opened #2742 "Tasks on family members should show up in Household's tasks"
E.g. task about on "Allison Jones" should show up in "Allison Jones' Family" Task list.
(and also in "Allison Jones" task list)

[2016-09-13 13:55] estellecomment opened #2743 "Households have different styling than other places"
Implement the household-specific styling.

The Person list, which looks like this for a normal place on desktop:
![screen shot 2016-09-13 at 15 47 17](https://cloud.githubusercontent.com/assets/911434/18476195/620bdd48-79c9-11e6-8200-2009f2a55d75.png)
and on mobile:
![screen shot 2016-09-13 at 18 03 35](https://cloud.githubusercontent.com/assets/911434/18481438/804b7274-79dc-11e6-902e-628453265228

[2016-09-13 16:11] diannakane commented on #2729
@Lesterng @estellecomment

Here's an updated mock showing all levels of hierarchy. Can the height of these fields expand if it runs to the second line, as shown, or must they all be hard-coded to be slightly larger to accommodate this?

https://invis.io/JA89C042Q#/179840795_Person_View
https://invis.io/JA89C042Q#/179813485_Household_View

I didn't want to spend too much time on showing the links,

[2016-09-13 16:11] #2729 closed

[2016-09-13 17:10] Lesterng commented on #2737
@estellecomment I will take a look at 320 width screen size. Trying to keep the font size the same throughout the application's media queries. Do you have a query at 320px. What is the breakpoint?

[2016-09-13 17:35] estellecomment commented on #2737
I just googled what a media query is, so I'm not an expert here, but we switch
 - from double-pane mode to single-pane mode at <=767px
 -  to "mobile" mode <= 400px.

Mobile mode drops labels off buttons and tabs, and probably some other things.
Code for media requests at 400px : https://github.com/medic/medic-webapp/search?utf8=%E2%9C%93&q=%22max-width%3A+400px%22

[2016-09-13 17:56] Lesterng commented on #2737
@estellecomment Perfect. Exactly what i need to know.

[2016-09-13 19:33] diannakane commented on #2737
Good to know! Sounds like we will still leave it off though, because as you mentioned it is relevant to people, not households.

They are present on the LHS in search results only. We have no mocks for search results @Lesterng #2339

[2016-09-13 19:40] garethbowen commented on #2740
This was by design. "longpoll" and a couple of other options specifically cause different behaviour. Anything else (eg: "longpole") does not. I'll change it to be "not-longpoll" or something.

[2016-09-13 19:46] diannakane commented on #2732
@lesterng I think we should consider changing this to handle CHWs the same as family members, and display their phone numbers on their cards, but not as a list.

This would help resolve:
1) issue #2737 about screen size
2) set us up for supporting future manager views which may require us to list number of tasks a manager must complete next to the CHWs name, in the same way a CHW sees the number o

[2016-09-14 08:25] estellecomment commented on #2697
Also PLACE_TYPES, same deal.

[2016-09-14 09:16] alxndrsn commented on #2740
Thanks!

[2016-09-14 09:16] #2740 closed

[2016-09-14 09:34] estellecomment commented on #2697
@mandric please review!

[2016-09-14 12:19] estellecomment commented on #2463
In the case where you have both SMS and smartphone users, transitions could be modifying things for nothing, and we should check that they don't break things.

E.g. for reports : reports will be coming from both SMS users (need transition) and smartphone users (don't need transition), and transitions could be applied to both. Will the smartphone users' forms be messed up accidentally by transition

[2016-09-14 13:32] estellecomment commented on #2487
I updated the doc to reflect the changes : https://docs.google.com/a/medicmobile.org/document/d/112CIX6T0iji2ztRfbjYNbzTzITbeC2_zEUtJaW-WQDA/edit?usp=sharing

Thanks!

[2016-09-14 13:32] #2487 closed

[2016-09-14 13:34] estellecomment commented on #2714
![image](https://cloud.githubusercontent.com/assets/911434/18514129/992fba66-7a90-11e6-8d1e-39293a260f0d.png)

![screen shot 2016-09-14 at 15 18 47](https://cloud.githubusercontent.com/assets/911434/18514155/af54bba2-7a90-11e6-932a-c725d74312db.png)
![screen shot 2016-09-14 at 15 19 01](https://cloud.githubusercontent.com/assets/911434/18514156/af570c36-7a90-11e6-83ed-5ab1c8a9859b.png)
![screen sh

[2016-09-14 13:36] estellecomment commented on #2343
Closing, since the rest of the work is described in other issues.

[2016-09-14 13:36] #2343 closed

[2016-09-14 13:49] estellecomment commented on #2714
More!
https://travis-ci.org/medic/medic-webapp/builds/159875880
[4120.1_travis.txt](https://github.com/medic/medic-webapp/files/472161/4120.1_travis.txt)
[4120.2_travis.txt](https://github.com/medic/medic-webapp/files/472162/4120.2_travis.txt)

[2016-09-14 15:16] SCdF commented on #2714
From your pictures: the first one is the problem, the rest are either not problems (I'm tweaking output to make that clearer) or are due to the first problem.

And yeah, not sure about that first one. I'm tempted to just push the timeout out further.

[2016-09-14 18:40] sglangevin opened #2744 "Admin performance on lg.app has regressed"
Navigating through the app is a bit choppy and unreliable. Sometimes, pages load at a normal speed and other times they load slowly - it's inconsistent. In addition, when editing a CHP Area, the speed of search results is highly variable, from within 10 seconds to a few minutes. Futon performance also seems to be affected, though not consistently. I'm seeing speeds of about 10 seconds for the serv

[2016-09-14 18:42] sglangevin commented on #2744
Search issues seem like they could be related to this extra `contacts_by_freetext` request:
![image](https://cloud.githubusercontent.com/assets/1286381/18525171/3c09407a-7a70-11e6-886f-0c42be9a2b8e.png)

[2016-09-14 23:56] garethbowen commented on #2657
Five commits to review. The first two are simple and only tangentially related, but they're things I found while working on this. The third is where the actual change is. The last two probably don't even need review.

[2016-09-15 09:03] garethbowen opened #2745 "Reports "Send Message" button is always disabled"
The Send Message action bar button is permanently disabled on the Reports tab. This is due to a recent refactoring which meant the Reports tab is setting the model in a way that's inconsistent with the template.

![disabed](https://cloud.githubusercontent.com/assets/2064938/18544231/c72109d2-7b87-11e6-8cb9-7e7f3adc8e82.png)

Also check all other uses of the action bar model to ensure no other regr

[2016-09-15 12:31] SCdF commented on #2657
Some minor comments, otherwise looks good!

[2016-09-15 13:30] SCdF commented on #2721
OK @garethbowen I've made some more changes (see the styling commit above). I've merged them into master because they're not so crazy that they need to be in a branch.

Note that I haven't fixed the pluralisation yet. I've created a branch that I'll link on #2712. If we end up really struggling we can come back and do the half-good version on here (as opposed to replacing it with the awesome).

[2016-09-15 13:32] SCdF commented on #2712
So I've created this branch / pr: https://github.com/medic/medic-webapp/pull/2747

The current status is that when you have this code in  place bootstrap never lets goes of its straps, and spins its spinner for ever.

Cannot work out why.

[2016-09-15 13:51] estellecomment opened #2748 "Sending message from Reports tab doesn't prefill the modal"
From Reports tab, select a report, then click Send Message.
Modal is not prefilled with the data in `data-send-to`: https://github.com/medic/medic-webapp/blob/master/templates/partials/actionbar.html#L90
![screen shot 2016-09-15 at 15 49 18](https://cloud.githubusercontent.com/assets/911434/18552275/025c4d08-7b5c-11e6-8645-62b6fac94be0.png)

[2016-09-15 14:00] estellecomment commented on #2745
I don't think this is related to the actionbar refactor. It was trying to get the `phone` field from a `data_record`, which doesn't exist. Not sure since when this was happening.

I'm assuming this button is supposed to send a message to the CHW who sent the report. Is that right?

Filed https://github.com/medic/medic-webapp/issues/2748: the contact data isn't getting to the send-message modal.

[2016-09-15 14:45] SCdF commented on #2675
@JenniferMuli @abbyad @mandric

The first 4:
109099b546deabb2472ca7f001a799bf
109099b546deabb2472ca7f001a75795
109099b546deabb2472ca7f001a71d18
109099b546deabb2472ca7f001a6da6a

Now have patient ids, generated by Sentinel. I'm not sure why the rest don't, but I'm wondering if it's a performance thing?

[2016-09-15 15:13] SCdF commented on #2675
OK so it sounds like it could be that the first 4 just got touched with some other way, and so got another chance at running through sentinel.

[2016-09-15 16:12] mandric commented on #2675
So my best advice to solve the production issue right now is create a task that runs a couple times a day and does the temp query and triggers the sentinel change processor again.  It’s not a bug fix but a workaround.  If a developer can't debug and fix in a day then I would go for the workaround and spend more time on 2.x testing and compatibility instead, where sentinel was has a significant ref

[2016-09-15 20:46] #2657 closed

[2016-09-15 21:23] garethbowen commented on #2745
Ahh, I see, we've duplicated the Send Message button in the action bar and I was looking at the wrong one. So confusing... Thanks!

[2016-09-15 21:28] #2745 closed

[2016-09-15 21:33] garethbowen commented on #2721
Two minor comments. How does it wrap if you switch to French (or just fake it by editing the source)? Do the filters drop down below the header?

[2016-09-15 23:43] garethbowen commented on #2712
Ok. It's working, but still a work in progress.

I was getting an exception in the console (firefox vs chrome?) which helped me track down the problem. Switching to use a different messageformat fixed it ([as covered by this doc](https://angular-translate.github.io/docs/#/guide/14_pluralization)).

You had an incorrect syntax on the "n.weeks" value (an extra comma). I also had to switch to optiona

[2016-09-15 23:44] garethbowen commented on #2712
@SCdF All yours!

[2016-09-16 06:52] estellecomment commented on #2748
LGTM!

[2016-09-16 06:52] #2748 closed

[2016-09-16 07:43] SCdF commented on #2721
Oh yeah whoops forgot to fix the wrapping. Meant to. Need more todo lists.

[2016-09-16 12:53] SCdF commented on #2675
OK temporary view isn't panning out in PROD, it's crazy slow and so far doesn't even finish for me in futon. I'm going to use push up a new ddoc and use a Real View™ instead.

[2016-09-16 13:21] alxndrsn opened #2749 "replication-depth may behave inconsistently if set to zero"
From the `getDepth()` function, it appears that there should be a difference between depth values of `0` and `null`: https://github.com/medic/medic-api/blob/master/handlers/changes.js#L32

However, the `bindSubjectIds()` method  appears to treat `0` and `null` equally: https://github.com/medic/medic-api/blob/master/handlers/changes.js#L52.  `hasNewApplicableDoc()` behaves similarly: https://github

[2016-09-16 14:32] SCdF opened #2750 "Medic OS: ensure useful stuff is on $PATH by default"
It would be great if things like `curl` were on the path by default.

You can currently incant this: `source /boot/include/utility && prepend_paths /srv/software/medic-core/current/default`

Which solves problems. Should be auto-magic though.

[2016-09-16 14:33] alxndrsn commented on #2750
One solution would be to include that line (`source /boot/include/utility && prepend_paths /srv/software/medic-core/current/default`) in `.bash_profile` (or similar) for the `vm` user.

[2016-09-16 15:01] browndav commented on #2750
There's an equivalent for it in `~/.profile` already, even in older builds (`ash` doesn't use `.bash_profile`) but IIRC a global `/etc/ashrc` misconfiguration IIRC is causing the per-user `.profile` to not be picked up. I'll take a look today and at least verify it's fixed in new builds.

[2016-09-16 18:24] abbyad opened #2751 "Automated Reply shows status of `scheduled` between `pending` and `delivered`"
Status for an auto-reply went from `pending` to `scheduled` then `delivered`.

![image](https://cloud.githubusercontent.com/assets/789512/18596591/e8e5c39c-7c17-11e6-9915-7e8943ad6c5f.png)

The auto-reply SMS was received, then `scheduled` status showed for about 30 seconds. We had been using `scheduled` for messages that are meant to go out later, whereas it seems as though it is now used differe

[2016-09-16 18:31] abbyad opened #2752 "Status icon for `delivered` is orange instead of green"
The status icon for delivered is showing as orange instead of green.
![image](https://cloud.githubusercontent.com/assets/789512/18596978/bd79f668-7c19-11e6-87f4-b7e14fe7e692.png)

Changing the CSS class to `sent` works (eg `class="state delivered"` switched to `class="state sent"`) so we should either be using the `sent` class or style the `delivered` class.

[2016-09-16 18:35] abbyad opened #2753 "Status time for messages does not update automatically"
The time in the status message does not update automatically, especially noticeable when it is a time in the future due to clock sync issues. This status messages stayed like this until I switched to another record and back, at which point it said `5 minutes ago`.
![image](https://cloud.githubusercontent.com/assets/789512/18597087/49d75b82-7c1a-11e6-93f1-48128f88a963.png)

[2016-09-16 20:03] abbyad opened #2754 "Unclear action button when editing schedules."
When editing a scheduled message the action button could be clearer with `save` instead of `submit`

![image](https://cloud.githubusercontent.com/assets/789512/18599541/f6417c20-7c26-11e6-8ee2-f94390e34f47.png)

[2016-09-16 20:59] abbyad opened #2755 "Validations and Auto-Replies not triggered for Notifications"
Notifications (OFF/ON forms) are not generating validation or auto-reply messages. This is using our DIY ANC config on diy.dev with `v2.9.0-alpha.4133`.

![image](https://cloud.githubusercontent.com/assets/789512/18600329/1500edae-7c2b-11e6-9ec1-6625b55e9421.png)

![image](https://cloud.githubusercontent.com/assets/789512/18600359/2a92e91a-7c2b-11e6-8792-22f8380741ad.png)

Registration and patient

[2016-09-17 01:48] abbyad opened #2756 "Option to set birthdate using days old instead of weeks"
The "Add Birth Date" event works using weeks old (since it was designed for immunizations) but for the PNC use case the message schedule can be 1, 3, 7 *days* after delivery. We should provide an option to add a birthdate using the age in days.

There are three upcoming projects launching in October that can use this feature. Without this feature they are opting to not using PNC reminders in their

[2016-09-17 03:05] abbyad commented on #2700
I have edited the original post to specify the issue further as it is now ready for the design-dev handoff. Feel free to continue in this issue or split it up as needed.

[2016-09-17 03:12] abbyad commented on #2530
Works well in v2.9, moving to Ready

[2016-09-17 03:13] abbyad commented on #2230
Works on v2.9

[2016-09-17 03:14] abbyad commented on #2213
Tested on v2.9 and works.

[2016-09-17 03:15] abbyad commented on #2214
Works well in v2.9

[2016-09-17 03:16] abbyad commented on #2536
Works on v2.9, moving to Ready

[2016-09-17 03:17] abbyad commented on #2533
Worked in v2.9, moving to Ready

[2016-09-17 03:18] abbyad commented on #2531
Moving to Ready as it works fine in v2.9

[2016-09-17 03:18] abbyad commented on #2215
Works nicely in v2.9, moving to Ready.

[2016-09-17 03:21] abbyad commented on #2545
Works in v2.9, moving to Ready

[2016-09-17 03:33] abbyad opened #2757 "Should not allow access to medic-reporter settings from webapp"
We should not allow a user to change the settings in medic-reporter when submitting a new form:
![image](https://cloud.githubusercontent.com/assets/789512/18605624/c32f1ed0-7c64-11e6-8b97-14787ad25238.png)

We have previously controlled which medic-reporter view to use by setting the `_embed_mode` param to `2` in the URL set in `app_settings`:
![image](https://cloud.githubusercontent.com/assets/78

[2016-09-17 03:44] abbyad opened #2758 "Correct form not displayed when going to Submit Report"
This may still be under development, but thought I'd point out that it doesn't matter which form is chosen in the Submit Report; all will show up in the medic-reporter's form selection list and the first one will be shown.

![image](https://cloud.githubusercontent.com/assets/789512/18605666/1fbe5912-7c66-11e6-8d17-90c35537aee9.png)

From within app the url is `https://diy.dev.medicmobile.org/medic

[2016-09-17 03:46] abbyad opened #2759 "All forms shown in `medic-reporter` even with `_show_forms` set"
As mentioned in #2758, the `_show_forms` URL param is not respected by `medic-reporter`. All the forms are shown in the drop down list regardless of the param value.

[2016-09-17 04:01] abbyad commented on #2529
_Looks_ good in v2.9:

![image](https://cloud.githubusercontent.com/assets/789512/18605761/5f6fad7e-7c69-11e6-83b3-212b27925fd1.png)

But with the [URL set](https://diy.dev.medicmobile.org/medic-reporter/_design/medic-reporter/_rewrite) it gets stuck on this:
![image](https://cloud.githubusercontent.com/assets/789512/18605767/87f21a8e-7c69-11e6-9435-560bf75ff381.png)

**Works however if you add a

[2016-09-18 21:32] garethbowen commented on #2749
Good spotting!

[2016-09-18 21:40] garethbowen commented on #2753
We have special handling for this in the live list code, but nowhere else in the app do the relative dates get updated automatically. We should consider how to do this reliably across the app, perhaps by storing the raw date on the element and periodically (every 5 minutes?) updating all.

This didn't happen in 0.4 either so I'll change the labels.

[2016-09-18 21:47] #2754 closed

[2016-09-18 21:47] garethbowen commented on #2754
Skipping code review for trivial change.

[2016-09-18 21:54] garethbowen opened #2760 "Forms in Submit Report menu aren't sorted"
![random](https://cloud.githubusercontent.com/assets/2064938/18619393/00b2831e-7e4f-11e6-9bb3-3bcd9c827eec.png)

[2016-09-18 22:14] garethbowen commented on #2760
It turned out to be more complicated than I'd hoped. JSON forms shouldn't be sorted because they're shown in the order they're defined in the app_settings which allows configurers to sort them sensibly.

I have applied alphabetical sorting to xforms only which should be sufficient because not many installations will have xforms and json forms together.

I also added a "track by" expression which s

[2016-09-19 02:59] garethbowen commented on #2757
Two commits to review. The configured uri was being ignored and parameters weren't being passed correctly to reporter. This also fixes #2758 and #2759.

[2016-09-19 03:00] garethbowen commented on #2758
Fixed in #2757

[2016-09-19 03:00] garethbowen commented on #2759
Fixed in #2757

[2016-09-19 04:21] garethbowen commented on #2752
@abbyad I think it was styled yellow to indicate that it had been picked up by the transport but not yet sent to the carrier. Is this distinction not worth showing? Will the user consider it sent as soon as the transport has picked it up?

[2016-09-19 08:46] estellecomment commented on #2760
LGTM

[2016-09-19 08:46] #2760 closed

[2016-09-19 09:51] estellecomment commented on #2757
One comment about documenting the new service which caught me by surprise.
LGTM, thanks for fixing!

[2016-09-19 09:51] #2757 closed

[2016-09-19 09:52] #2758 closed

[2016-09-19 09:52] #2759 closed

[2016-09-19 10:35] SCdF commented on #2675
I've documented our temporary production fix on the projects ticket.

@mandric : when you're around let's talk about what our potential next steps are

[2016-09-19 11:34] SCdF commented on #2721
@garethbowen just a minor style change so it looks right with longer text. I'm not really happy with it because it's magic pixel peeping to make things line up, but I don't think there are a huge number of options with this kind of thing.

[2016-09-19 14:36] alxndrsn opened #2761 "Improve sms-gateway startup time on well-used installations"
As per https://github.com/medic/medic-gateway/issues/19, the event log takes a long time to load when there are a lot of log messages in the database.  In turn this means that it can take a while for the GUI to load on starting medic-gateway.

Steps to fixing:
* [x] don't load the event log at startup - this should immediately fix the slow startup issue
* [x] release and share with @bishwas-medic

[2016-09-19 19:35] browndav opened #2762 "Deliver 64-bit v2.8.0 ISO to DIY Team"
Deliver an ISO to the DIY team that boots in to the app. They'll use this to do a full round of testing. Consider nightly builds as a way to stay out of their way.

[2016-09-19 20:03] garethbowen commented on #2730
Once the new font is integrated we should also write a quite "updating the font" readme so designers can do it themselves when they generate a new font.

[2016-09-19 20:35] garethbowen commented on #2675
Possibly caused by #2521

[2016-09-19 20:49] estellecomment opened #2763 "View reports and fill forms within the People tab"
From the People tab
 - when you click on a report in the History section, the report should be viewed within the People tab.
 - when you click on a task in the Tasks section, the form should be filled within the People tab.

See mocks that illustrate this:
mobile : https://projects.invisionapp.com/share/JA89C042Q#/screens/180760639
desktop : https://projects.invisionapp.com/share/XA7CTCBGU#/screen

[2016-09-19 20:52] garethbowen commented on #2763
Related: #1368 #2226 #1975 #1565

[2016-09-19 20:56] garethbowen commented on #2763
I think the correct way to do this is to separate the left and the right hand sides so we can have contacts on the left and tasks on the right without duplicating the tasks code. For example the URL could be `/contacts/<contact-id>/tasks/<task-id>` which would call the ContactsCtrl to render the Contacts list and select the contact, and call the TasksContentCtrl to render the selected task.

This

[2016-09-19 22:09] garethbowen opened #2764 "We get multiple instances of the same modal dialog"
If the same modal dialog is invoked multiple times they layer up in the UI which looks ugly and is wasteful. The most obvious example of this is the "update available" modal.

Add a check to either dismiss the first instance or not create a second instance of the same dialog.

[2016-09-19 22:48] garethbowen commented on #2721
LGTM

[2016-09-19 22:48] #2721 closed

[2016-09-19 23:08] garethbowen commented on #2673
We definitely need to rethink unit testing of the changes handler. I want to break the changes handler into small pieces that will be easier and more sensible to unit test rather than what's there now which has a large overlap with the e2e testing.

[2016-09-19 23:11] garethbowen commented on #2673
Excellent addition to the test suite. It'll be great to be able to test the server.js as well which we haven't been able to do up till now.

I feel really uncomfortable with using grunt to call shell scripts to set up for node tests - it means there's a lot of context and language switching. Personally I'd rather do as much in JavaScript as possible as it's cross-platform and a language we know ev

[2016-09-20 07:12] estellecomment commented on #2764
Lots of update modals, stacked into the modal of doom:
![screen shot 2016-09-19 at 23 09 43](https://cloud.githubusercontent.com/assets/911434/18660697/33f53e06-7f12-11e6-9b53-edbefa0a7fc0.png)

[2016-09-20 08:04] alxndrsn commented on #2673
Thanks for the review.  Will look at converting those scripts to node.

[2016-09-20 08:04] #2673 closed

[2016-09-20 09:39] #2749 closed

[2016-09-20 09:58] estellecomment commented on #2763
Considering whether to defer this work, see discussion on design spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.xi7rjrs2aqlr

[2016-09-20 10:25] garethbowen opened #2765 "Convert tour select to new modal style"

[2016-09-20 13:24] estellecomment commented on #2743
Still missing, covered elsewhere :
 - non-fontawesome icons (#2730)
 - number of tasks for a person is always 0 (#2742)

@garethbowen please review! Let me know if I'm introducing messiness in the less file, I can refactor.
@diannakane check out screenshots! As discussed they differ slightly from mocks. Thoughts welcome.

Screenshots :
Normal place (not a household), mobile :
![screen shot 2016-09

[2016-09-20 20:54] garethbowen commented on #2743
I didn't realise this was in a branch right away so comments are on individual commits - if I'd realised I would've PRed it and made it easier for myself  :(

[2016-09-20 21:24] garethbowen commented on #2743
Overall really good work. It flows really nicely for a range of resolutions - I wasn't able to break it!

Right - picky UI review time! These are taken in Firefox as an admin.

### Desktop

The hover border doesn't go all the way to the bottom of the cell any more. This only affects the cards with columns.

![border-no-fit](https://cloud.githubusercontent.com/assets/2064938/18688603/355b1a8c-7fd9-

[2016-09-20 21:47] SCdF commented on #2675
Update on this: there is a secondary issue with a similar but different set of missing docs (instead of missing patient ids, they're missing clinics). It looked like this was reproducible: when I re-ran them through sentinel they would similarly not process. However that knowledge was gained from running ~4000 of them through in one batch. After working through it today if I just touch one file it

[2016-09-20 21:59] garethbowen opened #2766 "People list filters default to smallest time unit"
Currently the list filters on the people tab default to "view all". Change this to default to the smallest time unit for each list so only the most relevant items are displayed initially.

[2016-09-20 22:04] SCdF commented on #2675
OK trying 100 in bulk and 6 were fixed. Trying 1 again, and yes one was fixed. I'm going to take a bit of a gander through the code, but it might be worthwhile trying to backport Gareth's linked fix. Or, if we're feeling mighty confident, upgrading Strongminds to 2.x…

[2016-09-20 23:50] garethbowen commented on #2766
Fixed the defaulting. Also fixed a bug where tasks filter was filtering out overdue tasks when it should be filtering out tasks that aren't due for ages (future vs past).

[2016-09-21 10:43] estellecomment commented on #2743
Thanks! Splitting it up.

Prettiness issues : will solve now
- [ ] 1) Hover borders
- [ ] 3) Icons vertically aligned
- [ ] 5) Right align tasks column
- [ ] 6) Whitespace before comma (unless we remove the "Primary Contact" text but we'll see)
- [ ] 8) Hard to scan household list: [on the mockup the first line is bold, the second isn't](https://projects.invisionapp.com/share/JA89C042Q#/screens/17

[2016-09-21 10:48] estellecomment commented on #2743
- [ ] more instances of 7) (Unlabelled title) : in my current implementation, it happens on the Place pages too. But the mocks have been updated since then to add labels, so I'll add them.

[2016-09-21 10:50] SCdF commented on #2766
LGTM.

[2016-09-21 10:50] #2766 closed

[2016-09-21 11:47] #2765 closed

[2016-09-21 12:27] alxndrsn commented on #2307
PR for review at https://github.com/medic/medic-webapp/pull/2767

[2016-09-21 12:35] alxndrsn commented on #2701
Is this list available somewhere?  Are there other examples, that we can see>

[2016-09-21 12:43] abbyad commented on #2701
Here is the test plan ([private Google Sheet](https://docs.google.com/spreadsheets/d/19UCse090W4aklxEVh1sMZQntad3K3xua7h0twWcUk3U/edit)) for a current project.

[2016-09-21 14:33] estellecomment commented on #2743
@garethbowen, second round please! Commits : https://github.com/medic/medic-webapp/compare/04e6966...2743-households-ui
The various ways I found to remove the whitespace before the comma all sounded absurd, so I picked one. If you know a better way, let me know!

[2016-09-21 14:35] estellecomment commented on #2743
Also, the font sizes are all out of whack, but I think it needs to be tackled across the whole page in one go, and we need the style guide to be final, so I just left it out of whack for now. (#2709)

[2016-09-21 14:37] estellecomment commented on #2529
LGTM!

[2016-09-21 14:37] #2529 closed

[2016-09-21 15:20] estellecomment opened #2768 "Review translations for People tab to ensure consistency"
Not sure which of the conventions to use : `Branch > Catchment Area > Household` (currently android projects) or `District > Branch > Catchment Area` (currently SMS projects)?

Discussion on design ticket:
https://github.com/medic/medic-design/issues/4

[2016-09-21 17:25] sglangevin opened #2769 "Adding a space to a select2 search term creates a request that returns > 150MB"
To reproduce (make sure you have the network tab visible first):

1. Go to a CHP Area
2. Click Edit
3. Click on the supervisor dropdown to bring up the search box
4. Type in the name of a branch, then wait until you see the `contacts_by_type_freetext` view request.
5. Type in a space.
6. You should see a second `contacts_by_type_freetext` view request with no key. If you keep waiting (about 4 minu

[2016-09-21 18:27] SCdF commented on #2712
Dropping this so someone else can pick it up. I haven't made any interesting progress passed what Gareth made in the linked PR / branch.

[2016-09-21 18:28] SCdF commented on #2714
Not sure why this was still open.

[2016-09-21 19:13] SCdF commented on #2675
Did a bulk of 100, which did 99 this time. Found the one that should have been wiped but wasn't. Here is all log messages I could relate to that id:

[code]

Pulling out only update-clinics stuff, we get:
[code]

Here is just update-clinics stuff, for an id we know worked:
[code]

Apart from the last two extra lines showing that we're actually doing something, there was also a lot of extra chatter

[2016-09-21 19:41] SCdF commented on #2675
(I have no idea why some lines have dates and some others don't. Also in the original log there is white space between everything. It's a mess)

[2016-09-21 19:54] SCdF commented on #2675
So the queue code is a bit wonky IMO, when we [push onto the queue](https://github.com/medic/medic-sentinel/blob/16c8af1000f5d241d56326eaf79839b4b327ec0e/transitions/index.js#L140L145):

[code]

We don't actually provide a callback function, which means we're effectively chucking it over the wall. This could be problematic when the queue implementation [looks like this](https://github.com/medic/me

[2016-09-21 22:31] garethbowen opened #2770 "If initial sync fails without syncing anything subsequent syncs get no results"
If you only have the ddoc in your local db then the changes request is [incorrectly determined to be a app status watcher](https://github.com/medic/medic-api/blob/2.8.x/handlers/changes.js#L326) instead of a data replicator meaning it only watches for ddoc changes. This affects 2.8.0 and master.

The workaround is to clear your IDB and try again, but with some users the initial sync is likely to f

[2016-09-21 22:34] garethbowen opened #2771 "Initial sync fails if server doesn't respond within 30 seconds"
With some users initial replication isn't responding quickly enough and the request times out. This means the app loads with lots of errors. Eventually the background replication should fix the app and a refresh will get back to normal but it's a jarring experience. It should have a heartbeat so timeout doesn't occur unless the server is unreachable.

Affects 2.8.0

Causes #2770

[2016-09-21 22:55] garethbowen commented on #2770
In master we no longer watch for ddoc changes because medic-client ddoc is replicated along with everything else, so referenced line can be safely removed.

In 2.8.0 we'll need to find some other way to determine if it's a ddoc change watcher or a sync (maybe a custom query param?).

[2016-09-21 23:25] garethbowen opened #2772 "Release 2.8.1"
### Release steps

* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to the release branch
* [x] Tag a beta release
* [x] Update the testing app and run acceptance testing
* [x] Update Changes.md
* [x] Tag the final release
* [x] Announce the release in #general

### Issues

* [x] #2770
* [x] #2771
* [x] #2769
* [x] #2739
* [x] #2434

[2016-09-21 23:43] sglangevin commented on #2772
It would be great to get #2769 in there as well as this causes issues for LG (national admin user) which they use for updating supervisors.

[2016-09-22 02:33] michaelkohn opened #2773 "couch2pg not sync'ing all records"
Have an issue where the number of records in the medic database in Couch does not match the number of records in the couchdb table in PostgreSQL though the 'Update seq' in Couch matches the 'couchdb_progress.seq' value in PostgreSQL.

There have been a number of timeout errors which may have contributed

Error: ETIMEDOUT
    at null._onTimeout (/var/adapter/{redacted}/medic-analytics/node_modules/

[2016-09-22 03:25] garethbowen commented on #2771
Done. I picked a timeout of 10 minutes trying to balance between a number that's too small resulting in an ugly first run experience, and a number that's too large forcing users to watch the spinner for an hour before the app loads at all.

The previous default was 30 seconds which was causing an issue for a specific user who, after curling the changes feed, I determined was taking ~ 1 minute to g

[2016-09-22 04:21] garethbowen commented on #2769
I've made the change to exclude empty queries.

It will still issue queries for single character searches which will perform better but not very well. The worst possible example of this is "a b" where the overall term meets the 3 character limit, but the term is split into two requests for one letter. While it's unlikely a user will type that, they are likely to type "sample c" which won't perform

[2016-09-22 06:48] alxndrsn commented on #2769
Nice bug, nice fix!

@garethbowen from the following I assume that we definitely want to support single-letter searches:

Is that the case?

[2016-09-22 06:48] #2769 closed

[2016-09-22 08:49] SCdF commented on #2770
@garethbowen So if I understand these changes right, when we're watching just the ddoc we're skipping the medic-api magic time layer, and asking to proxy. Can non-admins do that? I thought that would allow bad stuff like bypassing our filter checks where we make sure you're not doing a full replication and getting data you're not allowed.

[2016-09-22 08:50] SCdF commented on #2770
@garethbowen nevermind my coffee hasn't sunk in yet, that's literally the code that you're changing!

[2016-09-22 08:57] SCdF commented on #2770
@garethbowen OK a fresh coffee in my hand, yeah this is fine. You're pairing proxying with the doc_ids filter and with just the ddoc, so the absolute best anyone can get out of this is changes to the ddoc and nothing else. LGTM!

[2016-09-22 08:57] #2770 closed

[2016-09-22 09:03] SCdF commented on #2771
So wow it took 1min to get an initial response at all, i.e. before the heartbeat could even kick in? Crazy.

LGTM.

[2016-09-22 09:03] #2771 closed

[2016-09-22 09:36] garethbowen commented on #2769
@alxndrsn Currently for administrators we only search when 3 characters are provided, but that is controlled by select2 and without patching it we can't do a trim first. We could short circuit in the Search service itself but I couldn't think of a nice way to communicate back to the user that their term wasn't long enough, because again, the rendering is handled by select2. So admittedly this is a

[2016-09-22 09:37] alxndrsn commented on #2769
:+1: I'm very happy with it as an improvement over what we had previously.  Out of interest, what happens if an admin enters three spaces?!

[2016-09-22 09:39] garethbowen commented on #2769
Hah, yeah I was just wondering the same thing. I'll test.

[2016-09-22 09:42] garethbowen commented on #2769
Not good:

[2016-09-22 09:44] alxndrsn commented on #2769
What would happen if you returned zero results from the service?  Does the user then see a _No results_ message?

We can probably just ignore this as a weird edge case anyway, unless this causes serious problems server-side.

[2016-09-22 09:46] garethbowen commented on #2771
I think timeout trumps heartbeat. ie: a heartbeat keeps a connection alive, but it doesn't stop couch/pouch killing it at the timeout. I tested the heartbeat and it was emitting a new line every 10 seconds as expected.

[2016-09-22 09:47] garethbowen commented on #2769
It's mostly a client side problem in downloading and parsing all those results. It only affects admins so we don't hit any scalability limits.

[2016-09-22 10:59] garethbowen commented on #2739
`master` has been refactored so this is no longer an issue for 2.9.0+

[2016-09-22 10:59] #2739 closed

[2016-09-22 11:06] alxndrsn commented on #2504
For testing private repos on Travis, we'll need Travis Pro (as per https://docs.travis-ci.com/user/travis-pro/).

[2016-09-22 11:16] garethbowen commented on #2743
Lovely. Good job.

[2016-09-22 11:19] garethbowen commented on #2772
Ready for acceptance testing.

[2016-09-22 12:57] SCdF commented on #2675
OK, so here is my best guess:
 - This code uses couchmark, which tells us when there is a change a transition cares about via watching a filtered changes feed, and storing where we get up to whenever it notifies someone of a useful change
 - When we get a change from couchmark we chuck it in a queue to be processed. This queue is entirely in memory.
 - We only process one item from the queue at on

[2016-09-22 13:09] SCdF commented on #2773
Chucking this in the sprint because, depending on what documents its missing, it could be breaking important functionality.

[2016-09-22 13:12] estellecomment commented on #2743
For records, here's what the implementation looks like for 7) Unlabeled title :
![screen shot 2016-09-22 at 15 09 45](https://cloud.githubusercontent.com/assets/911434/18749388/f4fa01ca-80d6-11e6-93a6-390d63f99722.png)
![screen shot 2016-09-22 at 15 09 53](https://cloud.githubusercontent.com/assets/911434/18749390/f4fdf60e-80d6-11e6-815f-7f58603f9030.png)
![screen shot 2016-09-22 at 15 10 04](http

[2016-09-22 13:34] derickl opened #2774 "Inconsistent state of user accounts created on lg.app on 14th September 2016"
All users created on that day cannot log in. If I try to manually update the passwords or delete the user account, I get the following errors:

![screen shot 2016-09-22 at 15 56 40](https://cloud.githubusercontent.com/assets/83162/18749801/2b9b3a6e-80e1-11e6-9faa-82724498741a.png)
![screen shot 2016-09-22 at 16 20 57](https://cloud.githubusercontent.com/assets/83162/18749802/2ba3ac8a-80e1-11e6-963

[2016-09-22 14:10] estellecomment commented on #2761
Some class names are shorter than 15 characters, which was so shocking I stopped reviewing.
@bishwas-medic is acceptance-testing, hooray!

[2016-09-22 14:28] SCdF opened #2776 "Gardener log rotation is hot garbage"
**edit** apparently it's gardener. So Gardener should just not rotate logs and leave it to logrotate

It's really really broken. I can't even work out what the rules are honestly, but here are my best guesses:
- `foo.log` is sometimes the latest log you should look at, as you'd expect
- but not always the latest, sometimes it's a random `fooXX.log`, where XX is a number that might be related to ot

[2016-09-22 14:54] mandric commented on #2776
FWIW gardener does it's own log rotation, so that's probably what you're talking about.  The medic-api and medic-sentinel logs are handled by gardener.  Usually what I do is just list the logs sorted by last modified `ls -altr` in the gardener log directory to find relevant logs.  Also sometimes just do `tail -f /srv/storage/gardener/logs/*.log` when I'm lazy.  But yeah I agree the gardener log ro

[2016-09-22 14:57] SCdF commented on #2776
Point taken. I've updated the title to reflect that.

[2016-09-22 15:12] SCdF commented on #2776
Yeah this works sometimes, but I've had it freeze my ssh session for some reason.

The rest of the points, especially the one where we're dropping recent logs but keeping logs from 6 months ago, are still very important.

[2016-09-22 15:37] estellecomment commented on #2383
@garethbowen here are the missing bits... They're home now! Please review last commit.

[2016-09-22 15:39] estellecomment opened #2777 "JSON forms don't show up in new People tab's action buttons"
Only XML forms show up.

[2016-09-22 15:45] browndav commented on #2776
Yeah, gardener is the one service that doesn't use bog-standard `logrotate`, as the logs come out of `winston` pre-rotated and completely incompatible. We could either (i) disable rotation inside of gardener (`winston` constructor probably) and add a `logrotate` configuration, or (ii) fold this into a larger issue related to repairing/replacing a bunch of faults in gardener. I'm leaning toward the

[2016-09-22 15:49] ghost opened #2778 "Medic OS: cron.daily and related directories are broken and/or confusing"
Our OS images currently maintain two sets of `.d` directories for `cron` – one ephemeral directory beneath `/etc` intended to be used programmatically by packages, and one beneath `/srv/settings/system-services/cron` that is persistent. This is confusing.

Make `/srv/settings/system-services/cron/*.d` the sole set of user-accessible `.d` directories, and symlink the `/etc` versions to the real one

[2016-09-22 15:52] browndav commented on #2069
Haven't seen this happen again, and the UI is already much improved since this report. Closing.

[2016-09-22 15:52] #2069 closed

[2016-09-22 15:54] #2762 closed

[2016-09-22 15:55] #1826 closed

[2016-09-22 15:57] #1331 closed

[2016-09-22 15:59] browndav commented on #2716
Is the intent to run this from cron? There's no `bash` on our production images, but Busybox's `ash` can probably run this as-is IIRC (it's not `dash`-level bad, it supports a bunch of Bashisms and useful stuff like `pipefail` and `$PIPESTATUS`).

[2016-09-22 16:02] alxndrsn commented on #2716
No idea what the intent is - all I know is written on this ticket :¬)  If it's for automated use, it might benefit from better handling of non-2xx response codes (IIRC `curl` will often return a status `0` when a HTTP request fails).

[2016-09-22 16:04] browndav commented on #2716
Looks like the linked medic/medic-projects#743 is clear re: cron but this issue isn't. It is for automated use; the idea was to just run it once per day automatically since it's inexpensive and nondestructive.

[2016-09-22 16:42] browndav commented on #2716
I'd probably (i) add `-f` to `curl`, and (ii) fix up the `#!` and test it with Busybox `ash` to make sure everything runs okay there.

[2016-09-22 19:37] garethbowen commented on #2383
Looks good. Won't you also need the trailing slash on the iframe not just the test url? It's a little more tricky but if you add the slash to the uri before passing it to the getTestUri function then you'll get the trailing slash for both.

[2016-09-22 20:06] sglangevin commented on #2774
These users are missing their `user` docs. Sounds like there was an issue that happened during user creation. We should check and make sure that the `medic-import` script for users is able to create the `user` doc as expected. The other docs (CHP Area, CHP, `user-settings`) were all there as expected. More investigation is needed to determine whether this is a webapp issue or if it was due to slow

[2016-09-22 20:20] derickl commented on #2774
@sglangevin not that I remember. I imported these last week.

[2016-09-22 21:08] garethbowen commented on #2370
Reprioritising as requested by @sglangevin

[2016-09-22 21:14] abbyad opened #2779 "Alerts to `reporting_unit` not working"
In v2.9 Alerts meant to be sent to the `reporting_unit` don't translate that to the reporting unit's phone number. On the gateway I can see that it tried to literally send to `reporting_unit` as the phone number. I haven't tested, but suspect that other places such as `parent` and `grandparent` would be subject to the same problem.

## app_settings
![image](https://cloud.githubusercontent.com/asse

[2016-09-23 01:47] abbyad commented on #2756
Moving to the current iteration. If it does not get attention this iteration we should complete it by the following iteration.

cc @bishwas-medic

[2016-09-23 05:04] michaelkohn opened #2780 "If couch2pg fails when refreshing materialized views, updates may exist in couchdb that aren't reflected in the matviews"
In the example below, 10 new documents were successfully inserted based on change feed 1826888, but then there was an error refreshing materialized views.  Since there was an error, couch2pg immediately tried to run again, but since the 10 new documents were successfully inserted, and the next feed (from 1826898) had nothing to process, it didn't try to refresh matviews again.  The matviews succes

[2016-09-23 08:30] estellecomment commented on #2743
Reopening so I don't forget the couple design points that need to be solved.

[2016-09-23 09:35] alxndrsn commented on #2716
I'm not really convinced about the value of using `-f`, in part because:

Also, what are we going to do if this script fails?  Presumably just log it, which we'll achieve anyway if we redirect the current standard output to a log file.

---

If you have any suggestions for testing on `ash` locally, let me know.  Otherwise, I guess I'll just change the shebang to `/bin/sh`, and run it on alpha.dev.

[2016-09-23 09:42] alxndrsn commented on #2716
The main issue is actually that `jq` isn't available on medic-os.  I can effectively re-implement that part in node (at which point... maybe the whole script should be rewritten in node), or we could add `jq` to the image.  Let me know which is preferred.

[2016-09-23 09:51] SCdF commented on #2776
@browndav agree on the former: while cleaning up / replacing Gardener is nice, it is presumably a long way away.

Having said that: let's say that I fixed this in Gardener right now, and push that to GH. What is the process for usefully getting that onto servers, including 0.4.x servers?

If it's a one click thing where we can upgrade existing servers that's great, if not then maybe we make cleani

[2016-09-23 09:52] estellecomment commented on #2383
Ha! Good point, it breaks it!
Wanna review again, or is that enough reviewing for this one?

[2016-09-23 09:56] SCdF commented on #2780
@michaelkohn are you saying they are never represented, or they are just not represented this time around?

Them not being represented this time around is intentional. If there is a failure, it should run the whole process again immediately, and then if it keeps on failing with longer and longer delays up until the delay you configured. If refresh matviews is run and it succeeds then it should rep

[2016-09-23 12:04] estellecomment commented on #2761
Apart from shortening names LGTM!

[2016-09-23 13:19] SCdF commented on #2675
I've cleaned up the existing bad reports, and set something to check for new ones once an hour. Unless there is strong opposition that's all we're going to do on this for now I think. Strongminds should go to the front of the queue for a the new build of Sentinel when it's out.

[2016-09-23 13:19] #2675 closed

[2016-09-23 14:02] abbyad opened #2781 "The week/month is off by 2 in the Reporting Rates analytics dashboard"
Shadow ticket for https://github.com/medic/medic-projects/issues/699

[2016-09-23 14:11] #2761 closed

[2016-09-23 14:18] SCdF commented on #2773
OK, so without logs there isn't really much we can do about this one.

@michaelkohn: here are my suggestions:
 - For now, if you reset the seq value in pgsql to 0, it will resync from the beginning
 - Couch2PG should not be run from tmux. It should be run from a service. There are instructions on how to install it as an upstart service (which is the easiest way to get it running on our existing pg

[2016-09-23 14:18] #2773 closed

[2016-09-23 14:29] SCdF commented on #2744
@garethbowen didn't you fix this recently? You commited something to stop an errant search with just a space happening right? This looks to be the same thing

[2016-09-23 14:50] estellecomment commented on #2777
This is actually not so simple. And it doesn't make a lot of sense until we have patients as Persons.

Todo, when we have patients as Persons:
 - [ ] show "create person" JSON forms on "CHW Area" pages (e.g. `clinic` level), and prefill medic-reporter's sender number with the Area's CHW's phone number (`clinic.contact.phone`)
 - [ ] show other JSON forms (i.e. forms which have a patient ID field)

[2016-09-23 17:21] sglangevin commented on #2744
Yes, I think we can close this issue - the choppiness was corrected in the most recent update and I was able to reproduce the search issues in #2769

[2016-09-23 20:26] browndav commented on #2773
I suspect we should provide some support re: setting things up to run from upstart.

[2016-09-24 02:46] diannakane commented on #2743
I think is required for a place to have a primary contact as part of the place creation process, but I suppose it's possible that that contact could be deleted; i'm not sure what happens in that event. For the purpose of this issue, I agree that we want to keep that section empty if there is no PC listed.

7) Unlabelled title :
What do you guys think of this: using the label "Profile" as you sugge

[2016-09-24 05:38] michaelkohn commented on #2780
@SCdF I'm saying they are not represented until the next time there are changes to process (and therefore tries to refresh matviews).  In this situation, the batch size was 10.  It successfully inserted 10, looked for the next batch of 10 but there were none, failed refreshing matviews, then didn't have any changes to process for another hour so matviews didn't try to refresh again until there wer

[2016-09-24 08:16] michaelkohn commented on #2652
Do we know if the bug that is creating these feedback records has been fixed?  Mostly curious because even in September, a very large number of feedback records were created.

2006-08-01	3
2009-01-01	476
2010-01-01	3021
2014-01-01	103
2014-09-01	3
2015-07-01	1
2015-08-01	43
2015-09-01	47
2015-10-01	38
2015-11-01	22
2015-12-01	220
2016-01-01	9
2016-02-01	22
2016-03-01	827
2016-04-01	670
2016-05-01

[2016-09-25 19:08] garethbowen commented on #2675
@SCdF How confident are you that the bug doesn't exist in master?

[2016-09-25 19:12] garethbowen commented on #2652
@michaelkohn This bug was #2600 which was only fixed in 2.8.0 which has only just been installed on LG. I expect to see a big drop off in October.

Also, it's interesting to see how many bad dates there are. I wonder if we need to do something more to correct those...

[2016-09-25 19:14] garethbowen commented on #2383
Nice.

[2016-09-25 19:14] #2383 closed

[2016-09-25 19:15] garethbowen commented on #2744
Closing as a duplicate of #2769

[2016-09-25 19:15] #2744 closed

[2016-09-25 19:45] garethbowen commented on #2777
@estellecomment Yeah I have thoughts. Let's talk when we're both online next.

[2016-09-25 19:55] garethbowen commented on #2776
Replacing gardener made in on to our 2016 Q4 goals so hopefully it's happen in the next few months.

A patch would have to be manually pushed to the servers to fix them - it's not one click but should be simple enough. You'd also have to back up the existing logs I guess?

The more I think about it the more I'd like logs shipped to a log management server, eg: [AWS](https://aws.amazon.com/blogs/aw

[2016-09-25 22:29] garethbowen commented on #2700
@abbyad Is a migration that creates patients for existing registrations required or is it acceptable to just create patients for new registrations?

[2016-09-25 23:46] abbyad commented on #2700
I think a migration could be nice for projects that have longer duration or more facility based users (eg immunization projects) -- but this is not required or expected.

If it were a small amount of dev effort needed then it is worth doing because it makes all projects patient centric which greatly simplifies our training and mindset. Otherwise we can deal with it on a case by case basis for proj

[2016-09-26 01:24] garethbowen opened #2782 "ContactsContent controller modifies doc on render"
The ContactsContentCtrl has lines like this: `selected.doc.isPrimaryContact = isPrimaryContact;`

This modifies the db doc so if we ever save the doc it will now accidentally contain an `isPrimaryContact`. `selected` was designed so that transient data like this could be stored _without_ modifying the underlying doc in any way.

Change the `isPrimaryContact` field to be directly on the `selected`

[2016-09-26 01:26] garethbowen commented on #2782
Found another: `selected.doc.icon`

[2016-09-26 01:34] michaelkohn commented on #2652
Cool, thanks @garethbowen.  RE: Bad dates, yeah... that's why they are really keen to do #2180

[2016-09-26 01:57] garethbowen commented on #2782
Might be a good idea to move `$scope.showParentLink` into `$scope.selected.showParentLink` where it makes more sense.

[2016-09-26 04:18] garethbowen commented on #2700
### Code Review

Two PRs to review: [medic-sentinel](https://github.com/medic/medic-sentinel/pull/85), [medic-webapp](https://github.com/medic/medic-webapp/pull/2783)

### Acceptance Testing

To create the person you configure an event for "Create and assign a patient" to run after the "Add patient ID" event. This will create a person with the name of the "patient_name" field in the registration.

[2016-09-26 07:23] estellecomment commented on #2782
Did NOT think about that, good catch!

[2016-09-26 10:18] garethbowen commented on #2779
This is working for me.

![works-for-me](https://cloud.githubusercontent.com/assets/2064938/18830931/8844df20-843f-11e6-923b-1b1379ef39cb.png)

@abbyad Can you upload your configuration so I can debug?

[2016-09-26 12:21] estellecomment commented on #2743
SGTM!
@diannakane just to make this clear : I think we should go for the best UI-designed solution, not the easiest to implement.
For the titles, if it's better with different titles for different types of pages, we should do it, we don't have to stick to uniform title for all.
For Head of Household vs. Primary Contact, if we think it's a better UI for CHWs to use "Head of Household" and for manag

[2016-09-26 12:27] estellecomment commented on #2346
This conversation is getting out of date: refer to the spec for latest directions.
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#

[2016-09-26 14:11] estellecomment commented on #2700
Code reviews (I like the new features!!):
 - https://github.com/medic/medic-sentinel/pull/85#pullrequestreview-1525183
 - https://github.com/medic/medic-webapp/pull/2783#pullrequestreview-1534613

Resetting to "Active work" because of that one : https://github.com/medic/medic-sentinel/pull/85#discussion_r80470449 (the rest is smaller things, or out of scope things)

[2016-09-26 14:13] estellecomment commented on #2700
+1 for migration, less variation between projects makes for easier support

[2016-09-26 18:33] diannakane commented on #2743
Agree to all of the above!

On the topic of "head of household" label, I'm not sure it is meaningful. Culturally speaking, a woman wouldn't be considered the head of household so "primary contact" may in fact be more accurate, but some partners will request their own terminology to be used so we know we'll have to remain flexible on our labeling. We can stick with "head of household" for families

[2016-09-26 19:19] garethbowen commented on #2762
No work required.

[2016-09-26 20:40] abbyad commented on #2700
Decided on call that migration of data or configuration wont be done automatically, but can be done manually via import scripts.

[2016-09-26 22:41] abbyad opened #2784 "SMS not going out for `Scheduled Report Reminders`"
I have configured Scheduled Report Reminders but never received any SMS.

Here is a sample of my test config on `diy.dev.medicmobile.org`:
![image](https://cloud.githubusercontent.com/assets/789512/18854147/6d161520-8417-11e6-94e3-ff2a766806fc.png)

[2016-09-27 00:42] garethbowen commented on #2700
Thanks @estellecomment ! I've implemented most of the changes you proposed and commented on the rest.

[2016-09-27 07:59] estellecomment commented on #2700
I *think* I saved all my comments, hopefully you can actually see them... (mostly [this one](https://github.com/medic/medic-sentinel/pull/85#discussion_r80637463))
LGTM, cool change, thanks!

[2016-09-27 08:04] estellecomment opened #2785 "Tasks and History : display "No Tasks/History" message when empty"
See design spec about this, for History : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.m66hvcpz62q6

and for Tasks : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.kp0gezjp86z7

[2016-09-27 08:32] estellecomment commented on #2700
Tests look flaky, rerunning the broken one...
Said :
[code]

[2016-09-27 08:39] alxndrsn commented on #2756
Couple of queries on one of the backport commits; they should apply similarly to the corresponding commit to `master`.

[2016-09-27 08:40] estellecomment commented on #2700
yup passed, flaky! @garethbowen

[2016-09-27 08:42] garethbowen commented on #2700
As far as I can tell that failure has nothing to do with this change - it's testing a migration in API and I didn't touch API.

[2016-09-27 09:20] #2756 closed

[2016-09-27 09:39] estellecomment commented on #2743
*Primary contact labels in lists*
For normal places, desktop:
![screen shot 2016-09-27 at 10 44 37](https://cloud.githubusercontent.com/assets/911434/18866389/f9cf4b8e-849f-11e6-8938-aecba489213f.png)

For normal places, Mobile:
![screen shot 2016-09-27 at 10 44 50](https://cloud.githubusercontent.com/assets/911434/18866396/00451dd6-84a0-11e6-9ff5-cff820dfba35.png)

For households, Desktop:
![scre

[2016-09-27 11:52] estellecomment opened #2786 "Style History and Tasks lists"
They can probably use the same template.

See design spec:
For History
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.9quirbw60jeb

For Tasks
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.3geb36f0xc64

[2016-09-27 12:05] estellecomment commented on #2346
I'm not even sure what this is any more. Looks like the design spec is up to date, and if now we'll discuss it there. Closing.

[2016-09-27 12:05] #2346 closed

[2016-09-27 15:08] estellecomment commented on #2741
@alxndrsn please review!

[2016-09-27 15:19] diannakane commented on #2743
I don't think we need to treat web app differently by listing "head of
household" or "primary contact" in the family member list view, but it also
doesn't hurt to do so. Open to others' thoughts.

[2016-09-27 16:38] estellecomment commented on #2743
I left it in because we don't have space issues on double-pane view, and we know that the star by itself is not always understood. Can change it.

[2016-09-27 17:53] estellecomment commented on #2742
@garethbowen please review!

[2016-09-27 19:43] garethbowen commented on #2743
I agree with @diannakane it seems unnecessary but doesn't really hurt. On desktop the user can hover over the star for clarification anyway.

I've made one small comment on one commit but otherwise good to go.

[2016-09-27 19:57] garethbowen commented on #2742
A couple of small comments on the commit. Looks good!

[2016-09-27 20:47] garethbowen opened #2787 "Use default revs_limit"
I recently changed the revs_limit to 1 to try and save a little space, but apparently that's a bad idea...

[2016-09-27 22:03] garethbowen commented on #2772
@sglangevin 2.8.1-beta.2 is ready for acceptance testing and includes #2434 for automatic view compaction to reduce disk space usage.

[2016-09-27 22:08] garethbowen opened #2788 "Release 0.4.13"
### Release steps

NB: I'm not sure if this release process has been done with 0.4.x before so verify each step before executing.

* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to the release branch
* [x] Tag a beta release
* [x] Update the testing app and run acceptance testing
* [x] Update Changes.md
* [x] Tag the final release
* [x] Announce the release in

[2016-09-28 00:46] garethbowen commented on #2712
I've cleaned up the PR so it's ready to merge IMO now. Assigning to @estellecomment for code review as @SCdF is away.

[2016-09-28 01:37] garethbowen commented on #2782
Accidentally committed to the wrong branch - ignore the first and last commits, and just review the second one (the one to master).

[2016-09-28 08:13] estellecomment commented on #2782
Cool thanks!

[2016-09-28 08:13] #2782 closed

[2016-09-28 08:22] estellecomment commented on #2742
No changes so I'm closing, but happy to reopen if needed.

[2016-09-28 08:22] #2742 closed

[2016-09-28 08:38] estellecomment commented on #2712
Cool! We can now support Polish and Turkish and other obscurely pluralled languages!
Good job!
One comment to check so I left the merge for you, but LGTM.

[2016-09-28 08:44] estellecomment commented on #2777
Alright! Much talking, and decision making!

In the current SMS-only setup, only managers are logged-in users. So any form-filling would mean that managers are sending reports on behalf of CHWs.
That type of action is currently doable in v0.4, but not really well supported and designed (it's hackable rather that comfortably doable).

@diannakane is working on manager workflows for an upcoming rede

[2016-09-28 08:44] #2777 closed

[2016-09-28 10:06] estellecomment commented on #2743
And it's a CLOOOSSSSSE

[2016-09-28 14:54] estellecomment commented on #2722
It's back!

[code]

[2016-09-28 17:41] sglangevin commented on #2788
@bishwas-medic here is the issue for releasing a new version of 0.4. From the conversation I have seen, it looks like this includes the needed features for projects that have been requested. If anything else was under discussion, please note that here.

[2016-09-28 19:09] garethbowen opened #2790 "Log a warning when a translation value is missing"
Use the [$translateMissingTranslationHandlerLog](https://angular-translate.github.io/docs/#/guide/16_error-handling) to record to console when a missing translation value is requested.

[2016-09-28 22:15] garethbowen commented on #2790
Added a module to log a warning to the console if a translation value is missing. This revealed a missing translation value so I added that. But upon closer inspection it looked like the "back" and "close" titles were switched, so I fixed that too.

[2016-09-28 22:16] garethbowen commented on #2790
@estellecomment This should make it more obvious if we remove a translation that's still in use.

[2016-09-28 23:59] #2712 closed

[2016-09-29 07:46] estellecomment commented on #2790
Awesome! Thanks!

[2016-09-29 07:46] #2790 closed

[2016-09-29 08:57] estellecomment commented on #2785
@alxndrsn please review! (you're the only one left on board)

[2016-09-29 09:06] garethbowen commented on #2755
All properties submitted as part of the form are stored in the `fields` property. This is a change from 0.4 where they were stored directly on the doc.

[2016-09-29 09:07] garethbowen commented on #2772
Waiting for acceptance testing.

[2016-09-29 11:52] estellecomment opened #2791 "Show number of Tasks per Person in Person list"
Right now it always says 0.
![image](https://cloud.githubusercontent.com/assets/911434/18952856/eb89d726-864b-11e6-9fc6-20298ba1ce81.png)

[2016-09-29 12:30] alxndrsn commented on #2781
Does using `isoWeek()` in place of `week()` make a significant difference, or is it just neater somehow?  I'd have thought combining `isoWeek()` and `year()` (instead of `isoWeekYear()`) in the same code would lead to weird bugs some Januaries...

[2016-09-29 12:50] alxndrsn commented on #2785
Some little comments on the commits.

[2016-09-29 14:09] alxndrsn commented on #2741
Minor comments but looks fine.

[2016-09-29 14:09] #2741 closed

[2016-09-29 16:18] estellecomment opened #2792 "Discuss : make a small change to the tasks config for People tab redesign"
Currently, the tasks titles include the patient name (things like `"{{contact.name}} referral follow up"`), because so far we've been displaying the task name on a single line so you need to stuff all the info in the name.

It's not working very well on small screens:
![screen shot 2016-09-29 at 14 54 50](https://cloud.githubusercontent.com/assets/911434/18962209/34692086-8670-11e6-9b4e-4a2baa387d

[2016-09-29 17:57] diannakane commented on #2792
I have already expressed this to @estellecomment but pasting here for others: I'm curious if this change will affect people-centric SMS workflows using task rules for schedules. Will the CHW still receive a SMS indicating the person whom the visit is for, or only the name of the visit? I am otherwise in support of this change, just curious about any unintended consequences of changing the config.

[2016-09-29 19:26] garethbowen commented on #2781
Good call regarding `isoWeekYear()`! I'll make that change.

The reports are submitted with an integer for the week in EPI week format, which is poorly defined and non-standard, but fairly close to the ISO week standard. I think the only difference is EPI weeks start on Sunday and ISO weeks start on Monday. When searching for reports for "last week" for example, we need to use a standard that's as

[2016-09-29 19:29] sglangevin commented on #2792
@diannakane it depends on how the config is done for SMS workflows. It seems like we'll want to add something to the config for the SMS message, which may or may not affect how it looks visually. Perhaps the config for SMS has an additional field where we list the structured message that is different from the title?

Generally, I agree with @estellecomment that it's repetitive to have the name in

[2016-09-29 20:10] garethbowen commented on #2792
:+1: for modifying the config to remove this duplication. We need to make sure the patient name is displayed everywhere the task is (eg: in the Tasks tab).

When we get around to sending SMS for tasks I think we'll have to include a separate configuration for what the SMS should say because sending "Chaire postnatal followup" in an SMS doesn't provide enough context. So you might have "Claire" fol

[2016-09-29 22:34] sglangevin commented on #2772
@garethbowen I'm working on acceptance testing. I'd like to do testing on lg-testing before we do the release (if possible) as that would be the best way to know whether the automatic view compaction is helping. For now, I'm testing on lg.dev, but testing on a server with lots of data would be preferable.

[2016-09-29 22:51] garethbowen commented on #2772
@mandric is currently using lg-testing for contact minimization so I suggest working with him to get it updated to 2.8.1-beta.2.

[2016-09-29 22:53] sglangevin commented on #2772
Yeah, we can do that. I don't want to disrupt contact minimization, though.

[2016-09-29 23:04] sglangevin commented on #2739
Working well in v2.8.1-beta.2

[2016-09-29 23:25] sglangevin commented on #2769
Working well in v2.8.1-beta.2. Planning to do more acceptance testing on a server with lots of data.

[2016-09-30 00:17] mandric commented on #2772
I don't think it would affect contact minimization... unless there is something I'm missing.

[2016-09-30 00:20] sglangevin commented on #2772
Ok, well if you can change it to the beta market, I can run the update.

[2016-09-30 00:33] mandric commented on #2772
Done.  To switch markets run:

[2016-09-30 07:49] estellecomment opened #2793 "Release 2.9.0-beta.1"
### Release steps

* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to the release branch (use master for now)
* [x] Tag a beta release

[2016-09-30 07:51] estellecomment commented on #2792
Cool!
I filed a temporary 2.9 release issue with that todo and assigned it to Gareth.
Looks like everybody likes it, decision made, closing this issue!

[2016-09-30 07:51] #2792 closed

[2016-09-30 07:56] estellecomment opened #2794 "Add icons to forms"
Make it possible to associate an icon to a form.
It's needed for the new People tab:
![image](https://cloud.githubusercontent.com/assets/911434/18984632/f3ef1ac2-86f3-11e6-9f1b-8a216884d6b3.png)

Question : do it for JSON forms as well?

(out of scope : add icons to existing projects)

[2016-09-30 08:06] estellecomment opened #2795 "Only show reports for immediate children of a place"
Right now, on a give place page, we show reports for places/persons all the way down the hierarchy.
We should only show reports for immediate children (persons or places), not grandchildren.
(this is true for all levels of places, not just households)
See design spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.4jzygz8wqvog

[2016-09-30 08:09] estellecomment opened #2796 "If no permission to view Tasks, hide the section from People tab"
Since SMS projects don't have tasks, no use showing empty Task section.
(not sure how you figure out what type of project it is, maybe check if there's a tasks config? Or check if the RulesEngine is enabled? Not sure.)

Design spec about this : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.qizvdryusfeg

[2016-09-30 08:12] estellecomment commented on #2794
If this is not priority enough, do kick it out of the milestone.
@garethbowen @abbyad

[2016-09-30 10:48] estellecomment opened #2797 "Support Tecno W4"
A partner is running a training with 139 CHWs next week, on android 6, on Tecno W4, and they're not able to launch the app :
![screenshot_20160930-070659](https://cloud.githubusercontent.com/assets/911434/18989379/f22d482c-870b-11e6-8ba1-03ad6da59e37.png)

Figure out if android 6 breaks the app. (maybe a container issue?)
(for that, we need android 6 phones...)
@abbyad not sure what priority is, a

[2016-09-30 10:48] estellecomment commented on #2797
cc @Enock1990

[2016-09-30 10:55] henokgetachew commented on #2797
I have tested with Android 6.0.1 and it works fine.

[2016-09-30 12:32] estellecomment commented on #2797
Thanks!
So it's the W4 maybe... I've sent them instructions through @Enock1990 for debugging phones, to see if they can report anything more informative.
http://medicmobile.cloud.answerhub.com/answers/177/post.html

[2016-09-30 13:01] estellecomment commented on #2785
Integrated all the comments. Refactored a bunch of things @alxndrsn, thanks for the detailed comments.

(first commit was in master, so I pushed to that, and the two others were in a branch, so I pushed to that, which makes things complicated, I will not do that again)

Rebasing the branch and merging.

[2016-09-30 13:33] estellecomment commented on #2722
More of these magic conflicts...
[code]

[2016-09-30 13:34] estellecomment commented on #2797
There's changes in how permissions should be requested...
https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html

[2016-09-30 13:38] Enock1990 commented on #2797
Looks like Android 6.0.1 works well - I have tested with Samsung A8. I am trying to look for Tecno W4 or any other phone with just V6.0. @estellecomment on the priority issue, They are planning to do the scale up next week.

[2016-09-30 13:46] estellecomment opened #2798 "Flaky unit test : ReportsCtrl"
We may be cleaning it up too fast or something. This happened locally.

[code]

[2016-09-30 14:28] estellecomment commented on #2786
@garethbowen please review!
PR : https://github.com/medic/medic-webapp/pull/2799

Known issues :
 - Icons for Reports : #2794, we could add the feature
 - Icons on tasks are not fontawesome, so the sizing is all wrong : deferred to #2730
 - Tasks have the patient name displayed twice (in the title, and in the patient name) : #2793

[2016-09-30 14:29] #2785 closed

[2016-09-30 15:12] estellecomment commented on #2714
Send-message rears its ugly head again.
[send-message-flake.txt](https://github.com/medic/medic-webapp/files/503229/send-message-flake.txt)

[2016-09-30 15:28] estellecomment commented on #2795
Don't see this happening any more. I must have broken it or fixed it in the last couple days. Closing.

[2016-09-30 15:28] #2795 closed

[2016-09-30 15:47] estellecomment opened #2800 "Tasks list is not getting updated when task is resolved in another window / by another user"
Introduced in the last couple days : we need to keep track of resolved tasks, to know when the task goes from unresolved to resolved.

(note that this would only happen if you were resolving the task in another page or browser, which is not really likely to happen, and if it did you could refresh, but since CHWs don't necessarily know how to refresh, it's best to have it.)

[2016-09-30 23:49] mandric commented on #2697
👍  One suggestion over here https://github.com/medic/medic-webapp/commit/d76371808d9c79f0a973fba1fe8c0c20639a87f2#comments

[2016-10-03 06:58] bishwas-medic commented on #2788
@sglangevin yeah, looks like this release includes both the features that we've been requesting recently for our projects.

[2016-10-03 08:57] SCdF commented on #2780
@michaelkohn right, so the problem could be summarised as: if an error occurs during matview refreshing, matviews refreshing is not attempted again until there is new data.

[2016-10-03 09:03] SCdF commented on #2675
@garethbowen highly. Master uses a completely different approach. Instead of the seq being managed by a third party library that presumes once it tells us about a change its job is done, we only store the seq [once we've successful applied transitions](https://github.com/medic/medic-sentinel/blob/master/transitions/index.js#L76).

[2016-10-03 09:15] SCdF commented on #2776
I like the dream, but in the one instance I've seen that done in production it didn't actually help, and you ended up not using it (put an ineffective ui in front of an effective unix, you rarely care about logs from more than one server at once, etc). Sample size of one, ymmv, objects in mirror are closer than they appear etc.

(Also, agree it's scope creep, if we wanted to look into it would be

[2016-10-03 09:37] SCdF commented on #2800
Two questions:
 - I think the answer is "no", but is this the kind of thing we can test for in an e2e test?
 - Do we even support multiple tabs open to the same local DB? Sounds like a bit of a nightmare, i.e. making a change in one tab would have to fire a changes feed on the other tab… somehow, and that change would have to be marked as coming from… somewhere.

[2016-10-03 09:46] SCdF commented on #2722
@alxndrsn interested in your take on this, the first (ie only valid) issue looks to be the conflicts you were talking about awhile ago. I can look into it if you don't have time, but it sounds like you probably know what's going on here.

[2016-10-03 09:56] SCdF commented on #2714
Key issue here (from a guess) is that we're refreshing too fast after we've clicked send and we're losing the change. This is really hard to fix, because currently there is no useful UI indication (in an e2e test) that the message has been sent.

I'll take another look at it. Possibilities:
 - Fix the UI so that the send-message modal only closes once everything has been saved correctly (this migh

[2016-10-03 10:41] SCdF commented on #2798
@estellecomment have you seen this on travis?

[2016-10-03 11:01] SCdF commented on #2714
@estellecomment check out the above commit

[2016-10-03 11:25] SCdF commented on #2797
NB: @Enock1990 mentioned on Slack that he got a W4 and it works. Enock unless I misunderstood you IMO we should close this ticket as wontfix, as there doesn't seem to be a code issue.

[2016-10-03 11:28] SCdF commented on #2774
NB: @derickl fixed the prod data, so I'm going to drop the priority flag. We should definitely follow Sharon's thoughts on investigation and see if we can work out what went wrong.

[2016-10-03 11:56] SCdF commented on #2774
As the issue has been fixed in production (so there is no trace of the bad setup) can someone--- @sglangevin or @derickl --- explain what the problem was? It's not clear from the descriptions whether:
 - The `org.couchdb.user:blah` record was missing from the `medic` db
 - The `org.couchdb.user:blah` record was missing from the `_users` db
 - A field on either of those two records was missing / nu

[2016-10-03 12:01] derickl commented on #2774
@SCdF  `org.couchdb.user:blah` record was missing from the `_users` db

[2016-10-03 12:15] SCdF commented on #2796
AFAICT we already have this functionality via permissions:

![image](https://cloud.githubusercontent.com/assets/583851/19036821/40d53f6a-896a-11e6-817a-06d17fc50130.png)

While we could add a layer of automatically hiding it if there is no configured rules / no rules engine, but:
 - if you can't see the tasks tab maybe you don't have permission or maybe there is a configuration problem. Confusing!

[2016-10-03 12:16] alxndrsn commented on #2797
Looks like the user who logged in doesn't have permission to view tasks.  Worth checking:
1. which URL the webview is pointed at when the screenshot was taken
2. what result you get for the same user on the same server in a normal browser

[2016-10-03 12:23] alxndrsn commented on #2781
I don't understand the significance of the following, but it sounds bad:

[2016-10-03 12:25] #2755 closed

[2016-10-03 12:40] SCdF commented on #2784
That same configuration in futon:
![image](https://cloud.githubusercontent.com/assets/583851/19037577/f166b828-896e-11e6-9d47-a937d699af14.png)

[2016-10-03 14:19] SCdF commented on #2784
@abbyad the code looks OK. Upon debugging your situation a little more, I noticed you don't have any clinics with phone numbers! Or at least, there are none in the `clinics_by_phone` view. In the current code, this determines who gets reminders sent to them.

Let me know if that code is wrong, if it should be looking somewhere else etc. But it looks like maybe you just need to finish configuring y

[2016-10-03 14:40] alxndrsn commented on #2722
I suspect the conflicts are caused by the first test timing out, and then after that the cleanup isn't being handled properly.  Which makes all the subsequent tests fail.

[2016-10-03 14:54] SCdF commented on #2779
@marc Is this related to #2784 : no correctly configured clinics?

[2016-10-03 15:23] Enock1990 commented on #2797
@SCdF I have gone through the process of downloading, installing and login in and still the same result from there end and a different result on my end. It looks like the forms are not loading. @alxndrsn do you mean the base url? it's brac-ug.app@medicmobile.org.  Using the same user on the browser it works well.

[2016-10-03 19:17] abbyad commented on #2784
I have one place with a real phone number (mine) because i had used it to test receiving reports. I can't confirm right now what level of the hierarchy it is, but regular forms have been associated to that facility so I would expect alerts should go out to it too.

[2016-10-03 19:22] abbyad commented on #2779
Very likey @SCdF.

@garethbowen, sorry for the delay...  replies to visit forms work for me too, but not for alerts or scheduled reminders (#2784). The config is at diy.dev if you want to check it out.

[2016-10-03 23:28] sglangevin commented on #2434
The local DB seems to be growing in size now. Started at 98 MB after I completed syncing. I did 1 reload from the About page and let the phone sit a while, and I'm not at 119 MB. This is different from the relatively stable app size I've seen in the past. I wasn't exactly sure how to test this one though.

[2016-10-03 23:29] sglangevin commented on #2769
Tested on lg-testing.app (recent clone of production) and search speed has greatly improved.

[2016-10-04 07:30] sglangevin commented on #2770
Seems to be working in 2.8.1-beta.2, moving to Ready.

[2016-10-04 07:35] browndav opened #2801 "Provide a way to use a bundled version of Chromium 51+ in medic-android"
Currently, medic-android relies on the system Webview. This means we get whatever version of Webview is provided by the system. On Android 5+, this component is automatically updated. On Android 4.4.x and lower, it is not. Currently the Tecno Y4 is Chromium 30 and does not get Webview updates.

Provide an option to use a bundled version of Chromium (or Chrome) inside of `medic-android`, in lieu of

[2016-10-04 09:33] SCdF commented on #2768
Decision looks to be using SMS structure.

[2016-10-04 09:34] #2743 closed

[2016-10-04 09:52] estellecomment commented on #2340
Relevant paragraph of the design spec :
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.prkanutgdxq1

[2016-10-04 10:11] estellecomment commented on #2728
Since we're not using Invision mocks for dev-design interaction, I'm closing this.

[2016-10-04 10:11] #2728 closed

[2016-10-04 10:13] estellecomment commented on #2732
@diannakane Trying to clean up issues. Are the screenshots above final? If this issue is out of date, please just close it. (if not continue :) )

[2016-10-04 13:47] estellecomment commented on #2340
- [ ] admins: display branches only in LHS (right now it displays all 3 levels of places)

[2016-10-04 13:53] diannakane commented on #2732
Updated: no phone numbers in any level. Makes space for tasks for all people (future). Currently tasks only in level 3. https://zpl.io/28Bjam

[2016-10-04 13:59] diannakane commented on #2340
admins: display highest level place per configuration
(for SMS this would be districts, not branches)

On Tue, Oct 4, 2016 at 6:47 AM, Estelle Comment <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Chief Design Officer
Me

[2016-10-04 14:12] estellecomment commented on #2340
updated the checkbox item, thanks!

[2016-10-04 14:12] estellecomment commented on #2731
Navigation button, description in design spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#

Breadcrumbs, description in design spec:
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.lx8wv35f2w1v

[2016-10-04 14:16] estellecomment commented on #2731
Note : navigation when you are filling in a form from within the People tab is different, and described in https://github.com/medic/medic-webapp/issues/2763

[2016-10-04 14:20] estellecomment commented on #2731
Actually I'm going to split that up into two tickets.

[2016-10-04 14:20] #2731 closed

[2016-10-04 14:21] estellecomment opened #2802 "Breadcrumbs (aka "Belongs to" field)"
Breadcrumbs in the "Belongs to" field in RHS.
Description in design spec:
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.lx8wv35f2w1v

[2016-10-04 14:23] estellecomment opened #2803 "Navigation button on a Place or Person page"
Right now
 - there is no navigation button at the top of desktop RHS
 - there is a navigation button on mobile, but it always goes back to the place list.

Navigation button, description in design spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.qkrffmrtf0zt

Note : navigation when you are filling in a form from within the People tab is differ

[2016-10-04 15:07] mandric opened #2805 "LG Device Storage Problem"
This is the meta issue for the mobile device storage problem.  We are attacking this problems in two ways:
- minimize contacts, see https://github.com/medic/medic-projects/issues/592
- find a way to use all the storage available on the device, see https://github.com/medic/medic-webapp/issues/2801

[2016-10-04 16:01] alxndrsn commented on #2805
Working on via https://github.com/medic/medic-webapp/issues/2801

[2016-10-04 16:41] alxndrsn commented on #2801
Related: https://github.com/medic/medic-webapp/issues/997

[2016-10-04 17:46] SCdF opened #2806 "Cannot view contacts on mobile due to new api usage"
To reproduce:
 - Use the mobile app
 - Open up contacts
 - Once it loads, tap on a contact

What should happen:
 - Contact view should be displayed

What actually happens:
 - Screen goes white with top bar displayed, with loading throbber
 - After a few moments you get punted back to the contact list
 - The following error is in the logs:

![image](https://cloud.githubusercontent.com/assets/583851

[2016-10-04 18:09] SCdF opened #2807 "Tasks filter translations throw console error"
To reproduce:
 - Open a contact view, ideally one with tasks and reports associated with that contact

What should happen:
 - No errors in the logs, all translations should work

What happens:
 - Week translations look wrong:

![image](https://cloud.githubusercontent.com/assets/583851/19086423/fbaf64d6-8a65-11e6-8160-0b7a6286e448.png)
 - Errors occur in the logs:

![image](https://cloud.githubuser

[2016-10-04 18:28] SCdF commented on #2340
View for CHP on Y4:

![screenshot_2016-10-04-19-27-37](https://cloud.githubusercontent.com/assets/583851/19087095/af43f8f2-8a68-11e6-8ff1-d8124e096c12.png)

[2016-10-04 18:32] SCdF opened #2808 "Task and Report filters don't seem to work anymore?"
![image](https://cloud.githubusercontent.com/assets/583851/19087242/378cff38-8a69-11e6-85d2-133855423848.png)

^ This seems to be the opposite of what I'd expect. If I have 3 months selected I'd only expect to see the last three months of reports.

[2016-10-04 18:41] diannakane commented on #2340
This looks so good!!

cc: @slangevin

On Tue, Oct 4, 2016 at 2:28 PM, Stefan du Fresne <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Chief Design Officer
Medic Mobile <http://www.medicmobile.org/> +1 216 262 2204
@*M*edi

[2016-10-04 18:42] SCdF commented on #2340
@estellecomment are you aware of how we'd know what hierarchy we're using, and thus what type "level 1 places" are?

[2016-10-04 19:26] SCdF commented on #2807
So I cannot work out why months works but weeks throw this error. It appears to be a problem in the translation code itself, but weeks and months are identical:
[code]

[2016-10-04 19:36] SCdF commented on #2807
Ohhhhhhkaaayyyyyyyy.

So for funzies I changes `n.week`, `n.month`, `WEEKS` and `MONTHS` to `n.wek`, `n.mnth`, `WEKS` and `MNTHS` respectively. And now all the translations work.

I am guessing this is some kind of weird caching issue on my end?

@estellecomment / @alxndrsn can either of you confirm that this looks fine for you? If so I'll chalk it up to weird caching on my side and move on.

[2016-10-04 22:59] sglangevin commented on #2772
@garethbowen I've completed most of the acceptance testing. I wasn't quite sure how to test #2434 though - do you have any advice?

[2016-10-05 08:16] Enock1990 commented on #2797
Anyone here who can help with this @estellecomment @SCdF @mandric @abbyad @browndav @alxndrsn @sglangevin @ngamita  . I have attached all the error snapshots here.

![screenshot from 2016-10-04 19-13-00](https://cloud.githubusercontent.com/assets/5717816/19104980/572ec70c-8ae8-11e6-83f1-3eec627f0905.png)
![screenshot from 2016-10-04 19-13-11](https://cloud.githubusercontent.com/assets/5717816/1910

[2016-10-05 09:35] SCdF commented on #2340
NB: These changes required a view changed. @browndav / @mandric did the issues with regenerating views result in any kind of guide as to whether we're OK with updating views in production, either silently, or with some kind of process, or only by batching them together so we don't have to deal with it too much, or not at all?

[2016-10-05 09:40] SCdF commented on #2797
So this fails only on Android 6.0.0 and not 6.0.1? To confirm, these logs are from your phone? What version of the web view? Have you tried directly on Chrome on the phone? If so, what version of Chrome?

FWIW, all errors shown except those in the final screenshot are normal. Are all of the errors Error fetching form definitions? Or were there more before that? Are there any 404s / 500s in the net

[2016-10-05 10:02] Enock1990 commented on #2797
yes @SCdF this only happens on V 6.0. We got this logs from @ngamita and they are from the phones(Tecno W4) that they are using in Uganda.  My Tecno W4(same make&model) works just fine - this makes this issue very weird!

When you click on the link on the webview it opens the application very well on the web browser

There is the 404 ERROR which is distinct and to clarify I'll attach a screenshot

[2016-10-05 10:13] SCdF commented on #2797
Same make and model, same version of Android? Why is your version different from their version?

Unfortunately those screenshots of the about page don't help, though it does indicate that it hasn't got translations working, though that could just be bootstrap failing due to lack of forms.

To re-post from my previous comment, getting the following questions answered would be helpful:
 - What versi

[2016-10-05 10:16] SCdF commented on #2797
Oh to be clear, when I say version of the webview and Chrome, I mean by going into the Android Settings -> Apps, and then tapping on the Android System Webview or Chrome. For example, on my Nexus 5 both my Android System Webview version and my Chrome version is 53.0.2785.124.

[2016-10-05 11:00] Enock1990 opened #2809 "User Change Request"
Hey @derickl. LG-KE, is changing dropping  Accounts Ekakoro George, +254725778622 & Shepai Noah Ekisa +254725779496. They have reallocated their phone numbers to David Okumu and Gladys Atyang Barasa respectively.  Can you create this new users on both lg-kenya.dev and lg-kenya.app

[2016-10-05 11:10] #2809 closed

[2016-10-05 12:15] SCdF commented on #2803
@diannakane I'm not sure I completely understand how this would work. There are only a couple of sentences on this in the linked document that I can see, so let me write some user flows of my own and you can clarify.

I've written these with the mobile UI in mind, but I am presuming the only distinction between the desktop view and the mobile view is that where the mobile view would show a back bu

[2016-10-05 12:56] alxndrsn commented on #2701
Basic framework for testing xforms implemented at https://github.com/alxndrsn/xformunit

[2016-10-05 14:09] Enock1990 commented on #2797
@SCdF  I'll be getting one of the phones that they are using in Uganda tomorrow morning. I will get you the exact details.

[2016-10-05 17:24] sglangevin commented on #2797
@SCdF - @Enock1990 is working on getting one of the W4 phones that doesn't work to the Nairobi office for further testing. I'm guessing we will need to pair up a dev with someone in the Nairobi office to get to the bottom of this issue. Sounds like the phone will get there in the next few days.

[2016-10-05 19:20] sglangevin commented on #2340
Doesn't the user have a facility ID? That facility ID represents "my place" and should usually be the highest level place for the person logged in. Maybe that breaks down for some types of users, but it should work for most.

[2016-10-05 19:21] SCdF commented on #2340
Yep that works for CHWs and other "normal" users in the hierarchy. It doesn't work for admins though, who don't have facilities.

[2016-10-05 19:27] sglangevin commented on #2340
Makes sense. Is there a way to just check the special case of "no facility" and have another solution for that? @diannakane @Lesterng is there a mockup for an "admin" user? As in, one who might view all districts and therefore not be assigned to a facility?

[2016-10-05 19:51] Lesterng commented on #2340
@diannakane @sglangevin @SCdF  Here is an admin view with no place
https://zpl.io/ZCfWpO
This assumes you can only have one district, the one you are logged in under. As an admin you do not have a place.

[2016-10-05 19:54] SCdF commented on #2340
So I can (and am) writing some code to work out what the high level is each time for admins. Ideally though there would be a static way for us to check, i.e. in configuration. Presumably because when you set up the instance you are making some kind of decision about which hierarchy to use.

[2016-10-05 20:02] sglangevin commented on #2340
@Lesterng if you only see one district, then that district would be your place and the highest level place in the hierarchy. I'm wondering about the user who can see all districts. I can't see the mockup b/c I don't have a login for Zeplin, but is there a mockup for the user who sees all districts?

The hierarchy is the same for all instances: `district_hospital` > `health_center` > `clinic` > `pe

[2016-10-05 20:07] Lesterng commented on #2340
@sglangevin Sent you an invite to Zeplin.

[2016-10-05 20:09] SCdF commented on #2340
According to Dianna and the text up this thread, that is not true. Which is why when an admin is logged in I couldn't just default to showing all district_hospitals, I have to work out if district_hospital or health_center is the top level type.  See Dianna's comment up thread: https://github.com/medic/medic-webapp/issues/2340#issuecomment-251395737

[2016-10-05 20:10] SCdF commented on #2340
(the order is the same, but in some instances we are not using district hospitals)

[2016-10-05 20:12] sglangevin commented on #2340
Districts and branches are both of type `district_hospital` on the back end. The only difference is the translation being used on the front end. So an admin (someone with no place who has access to all data in the hierarchy) would see a list of places that are of type `district_hospital`. This represents something labeled Uganda Branch for android app projects and Uganda District for SMS projects.

[2016-10-05 20:15] SCdF commented on #2340
@sglangevin  ... so there is no actual difference between configurations except the name?

[2016-10-05 20:15] Lesterng commented on #2340
@sglangevin @diannakane We never did a mockup with a list of districts in the LHS. The only difference between an admin and a manager is managers have a place pinned to the top of the list in the LHS with a light gray bkg.
admin>branch https://zpl.io/Ziq9Gx
manager>branch https://zpl.io/1f4vcG

[2016-10-05 20:37] SCdF commented on #2340
OK @estellecomment, I think I've checked all the boxes. Would be glad for your review of the commits above, summarised here: https://github.com/medic/medic-webapp/compare/6309e36...5dc947e

[2016-10-05 21:14] sglangevin commented on #2803
@SCdF I'm not sure when story 3 would be possible. How would you be able to click on a person from your home area, other than from the list of People, who are people whose parent is the area? In order to click on a family member, you have to be on a household/family profile page, right? And the household/family page is the parent page to the family member. This probably doesn't resolve the questio

[2016-10-05 22:12] SCdF commented on #2803
@sglangevin oh you're right, if you are the primary contact (currently labeled "family member", we might need to fix that…) then you're placed under that thing in the hierarchy! That's cool.

So I think the work could be described as:
 - In desktop view show the contact's parent's name at the top of the contact view as a clickable link, which links to displaying the parent document in the contact

[2016-10-05 22:51] sglangevin commented on #2803
@SCdF I think the intention was to have a title at the top (e.g. Bwaise Branch in the first mock-up) as well as a back button. The back button would go up one level to that person or place's parent. The title is the title of the page you are looking at, not the page you will go to if you hit the back button (Bwaise Branch, the page title, should probably be farther away from the back button).

The

[2016-10-06 00:14] mandric commented on #2801
There is a new branch over here of the chromium bundled app https://github.com/medic/medic-android/tree/crosswalk-2016 but @alxndrsn do you have any links to the deployed apks on s3?  Is there any reason we don't publish a link to them?

[2016-10-06 00:55] SCdF commented on #2803
Are you saying in the Bwaise Branch screenshot above that the Dickton Mtanga's Area bit wouldn't actually be there? It's unfortunately quite confusing because the mockup is not internally consistent :-(.

We have to be careful with language here. Your scenario applies to 4 different situations: a combination of either the mobile or desktop view, and the hardware back button or software back button

[2016-10-06 02:09] diannakane commented on #2803
@estellecomment and I talked about the software back button being the immediate parent place, except when viewing a task or history record from within the People tab. In those scenarios, it's possible that you navigated to an individual's task or record from a family page, and would want to return back to the family page using back, or at the end of the form. Referenced here: https://docs.google.c

[2016-10-06 02:13] diannakane commented on #2803
@SCdF Bwaise Branch screenshot above is correct.

[2016-10-06 07:59] estellecomment commented on #2803
(hwoa much activity on this)
Dianna summarized this well : the software navigation button is not really a back button : it's a button to go up one level in hierarchy.
The HBB is actually a back button. :) Like a browser back button.

Yes, the "Belongs to" field (which I've also called breadcrumbs, don't know if that's misleading) partially repeats the function of the navigation button. (except is

[2016-10-06 08:28] estellecomment commented on #2786
Oh, no Gareth this week. @SCdF you're the backup!

[2016-10-06 09:32] estellecomment commented on #2340
Buncha comments, sprinkled around commits. (it's so annoying, you can't comment on that diff view!)
The LHS button doesn't get set right when the user is admin.

Can you also add a couple tests? Off the top of my head :
 - Home place makes it to the top of the list
 - Home place is not duplicated in the list if it's returned in search results
 - If admin, level 1 places are fetched in the list
 -

[2016-10-06 09:33] estellecomment commented on #2806
Thanks for the fix!

[2016-10-06 09:33] #2806 closed

[2016-10-06 09:41] estellecomment commented on #2796
Yeah that sounds good to me, thanks for checking!

There is work needed to do it though : if !can_view_tasks, don't show the tasks section in People tab. (right now it still does). Renaming the issue to describe that piece of work.

Not sure about the difference between can_view_tasks and can_view_tasks_tab. I don't really see why you would have one but not the other.
Right now afaict can_view_tas

[2016-10-06 09:46] estellecomment commented on #2714
kewl

[2016-10-06 09:46] #2714 closed

[2016-10-06 09:48] estellecomment commented on #2796
@garethbowen what did you have in mind for can_view_tasks vs. can_view_tasks_tab? When would each one be used? Is there a case for having one but not the other?

[2016-10-06 10:13] Enock1990 commented on #2797
Hey @SCdF
What version of the web view?
** 53.0.2785.124**
Have you tried directly on Chrome on the phone?
**yes**
If so, what version of Chrome?
** 53.0.2785.124**
Are all of the errors Error fetching form definitions? Or were there more before that?
**could you expound on this, please?**
![2016-10-06 1](https://cloud.githubusercontent.com/assets/5717816/19148679/89b35dda-8bc6-11e6-9564-ad6964443

[2016-10-06 11:07] SCdF commented on #2803
@estellecomment so to be clear, this means if you tap into a contact the **only way** to get back to the contact list, or in fact any other place at all (since the top bar gets hidden) is to hit the hardware back button enough times?

[2016-10-06 11:18] SCdF commented on #2803
Also, if my understanding is correct, may I make a suggestion that we don't use `<` as the iconography for this link?
 - It mimicks the iconography and placement of a browser back button
 - It mimicks back buttons in iOS apps, and various android apps and web apps that have aped that design language
 - As well as, I would imagine, a lot of design language about going "back"

Apologies if this is v

[2016-10-06 13:00] SCdF commented on #2786
Back to you!

[2016-10-06 13:33] SCdF commented on #2796
IIRC the `can_view_tasks` vs `can_view_tasks_tab` is the difference between whether you can view it in the dropdown, or whether it is a tab. Could be wrong on that…

[2016-10-06 14:27] SCdF commented on #2797
And on the phone that does work that is exactly the same except it's 6.0.1 instead of 6.0.0, what are those versions?
Also, do you know why their phones are 6.0.0 and yours is 6.0.1? Is there an update they can run, or something like that?

Anyway, from your output, it's really weird, it looks like you don't even have the medic-client ddoc!

You're not seeing any 404s in the network because the fa

[2016-10-06 15:05] SCdF commented on #2803
This ticket is blocked on a conversation between myself (or someone else if they want to work on the ticket, I'm not precious about it) and Dianna, where at the end of the call we have concrete answers, flows and rules that allow devs to implement this without requiring more questions.

Some thought experiments that might help on the call:
 - What is the flow, in both desktop and mobile, using bot

[2016-10-06 18:03] sglangevin commented on #2796
Yes, you are right, @SCdF. `can_view_tasks` means it will appear in the hamburger menu. If you want to view the tab, you have to have both permissions enabled. If you only have `can_view_tasks_tab` but not `can_view_tasks` then you'll see nothing.

[2016-10-06 19:13] SCdF commented on #2797
OK, @Enock1990 and I spent a few hours on hangouts trying to debug this.

Summary of things we learnt:
 - There are no significantly obvious differences between the two phones except the security patch level: The bad phone is on May 2016, and the good phone is on July 2016.
 - Both phones have the same Chrome version and Webview version, which in turn are the same as each other.
 - The app fails t

[2016-10-06 20:11] diannakane commented on #2803
Updated the spec with flows to these scenarios and have run it by @lesterng
who agrees with the decisions. Bookmark link in dev slack channel.

Sounds like the most confusing part is "starting from a contact list" is an
edge case only possible through search results.

[2016-10-06 20:23] diannakane commented on #2340
In the spec, we defined the view for each user, including Admin. It has
felt more helpful to discuss these as "levels" since the labels of each
level will vary by project. As Lester said, Admins have no place of their
own pinned to the top, and should only see "level one" places in the LHS.
Does that help any in how you're configuring it?

Refer to the section titled: …I want to see a list of all

[2016-10-07 08:30] estellecomment commented on #2763
Updated the initial description with the recent changes.

[2016-10-07 08:40] estellecomment opened #2810 "Display History list filters at bottom of list"
Currently they're displayed at the top. We want them displayed at the bottom as well (handy for long lists).
Design spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.66nj6r9pxmxe

[2016-10-07 08:52] estellecomment opened #2811 "Titles on mobile : swap header and page titles"
Final design for mobile : header says "<Place type>" for places, "Profile" for persons.
Place/Person name is at top of page, below header.
Primary contacts have "Primary Contact"/"Head of Household" on second line.

See design spec with screenshots :
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.pq8c85f5su8t

[2016-10-07 09:03] estellecomment opened #2812 "People list : same layout for mobile and desktop"
Final design for people list: same for mobile and desktop.

See design spec and mocks :
For levels 1-2 : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.cyra4xy2ri3r
For levels 3 : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.g64a4bnb085w

[2016-10-07 09:49] estellecomment opened #2813 "Admins : LHS button should be "New Branch""
Right now it's the generic version, "Add Place".
See design spec:
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.1anytbstx6by

[2016-10-07 09:52] estellecomment commented on #2732
sg! Closing, i've filed #2812 to implement it

[2016-10-07 09:52] #2732 closed

[2016-10-07 09:53] estellecomment commented on #1848
@diannakane I think this has been sorted out in design spec. Please close it, or describe what's next about it.

[2016-10-07 09:54] estellecomment commented on #1848
Oh, it's not in the milestone, none of my business, ignore

[2016-10-07 10:00] estellecomment commented on #2719
If that can help, here's what the default form looks like right now.

Currently, when you are in, e.g., a branch, and you click "Add Area", you get this :
![screen shot 2016-10-07 at 11 50 26](https://cloud.githubusercontent.com/assets/911434/19186151/26acff60-8c85-11e6-90c3-f003dfcf61e2.png)
 - The Branch/Area/Household selection is preset, but changeable. (do we want this?)
 - The parent branch

[2016-10-07 10:13] estellecomment commented on #2807
I'm not seeing any logged errors. I clicked on the filters, navigated away and back.

I fixed a problem like that (not sure it was this one though...) recently, there were extra `{{` that were producing errors. https://github.com/medic/medic-webapp/commit/2aef38cb5492e01c4124a645355f80d795d7a337#diff-b259c456057dd9b09be9a7f05704a0dcR195
Could that be it?

[2016-10-07 10:17] estellecomment commented on #2796
Thanks for the input! So the work is :
 - [ ] if `!can_view_tasks`, don't show the tasks section in People tab.
 - [ ] edit the default config to have `!can_view_tasks`

[2016-10-07 10:18] estellecomment commented on #2798
Yeah, i think the first time i saw it was on Travis. I'll update this if I see it again.

[2016-10-07 10:20] estellecomment commented on #2800
You could have a CHW's manager (or nurse at facility) fill in a form about a patient, that would clear the associated task for the CHW, I think. In that case it would be two different users.

[2016-10-07 10:21] estellecomment commented on #2800
And yeah we can probably e2e test : submit the appropriate report, check the task disappears from list.

[2016-10-07 10:32] SCdF commented on #2803
What do you mean here? Isn't this the default (and in fact maybe only) way to view a contact? From the list? Maybe this is a terminology issue

[2016-10-07 10:36] SCdF commented on #2340
@diannakane I think it's sorted now, the confusion came from the phrase "admins: display highest level place per configuration", which to me implied that could actually be different, whereas the only difference is just translations.

[2016-10-07 10:58] SCdF commented on #2807
I have the latest code, so IDK. I'm putting it down to something being cached locally on my system that I'm not clearly, possibly because translations are magic. It's clearly just My Problem™ though, so closing.

[2016-10-07 10:58] #2807 closed

[2016-10-07 12:13] estellecomment commented on #2722
[code]

[2016-10-07 13:09] estellecomment commented on #2812
@SCdF please bestow the Stefan-approval.

Level 3 (Households) :
![image](https://cloud.githubusercontent.com/assets/911434/19190798/ca22da24-8c9f-11e6-9418-7dad0417ad79.png)

Level 1-2:
![screen shot 2016-10-07 at 15 08 01](https://cloud.githubusercontent.com/assets/911434/19190839/fc385d36-8c9f-11e6-911b-c2ae3e7d0776.png)

I gave up on the little vertical bar separating the tasks : I couldn't ge

[2016-10-07 13:13] estellecomment commented on #2812
wooops messed up places list nevemind don't review fixing

[2016-10-07 13:17] estellecomment commented on #2812
Both commits : https://github.com/medic/medic-webapp/compare/b0a45b5343c3342853928382c101794eb498bab0...master

[2016-10-07 13:50] diannakane commented on #2803
Sounds like a terminology issue. I interpret "contact list" to be a list of
people. Currently the way only to view people in the LHS is through
returning search results.

We have lists of people who belong to places in the RHS, but if you click
on any individual person, their page does not contain any sub-places and
does not link anywhere else.

[2016-10-07 13:51] estellecomment commented on #2803
I think : Contact = Place or Person
Contact list = the list in the LHS on desktop

[2016-10-07 14:33] diannakane commented on #2719
From what I understand, all "add person" forms have to be the same for all
places (issued filed for place-specific add person forms), though I know
there are some exceptions for when you create a person when creating a
place.

Since level 3 is formatted for households (android) and areas (SMS), would
the "age" field displayed under the name in the list of people be hidden if
it was not collected f

[2016-10-07 14:50] diannakane commented on #2803
Got it. Can we use the language of People & Places to differentiate?

[2016-10-07 14:54] diannakane commented on #1848
"View History in Profile" is the act of viewing a history record from the
People tab rather than being redirected to the History tab, which we have
prioritized as part of the People update and is covered in the spec.

[2016-10-07 15:32] estellecomment commented on #1848
Yeah, in my mind I'm still at "close design issues when design is done" but I realize it's not necessarily in everyone else's mind :)

[2016-10-07 17:23] sglangevin commented on #2719
The form in @estellecomment's screenshot is a form for creating a CHP Area. This form (like the form for creating a family/household) creates both the place (CHP Area) and the person (CHP). The CHP is the primary contact for the CHP Area, which is why this form creates both. Is this the default form? If so, it probably shouldn't be as this is an LG-specific form.

Seems like the CHP Area / health

[2016-10-07 17:31] sglangevin commented on #2797
@SCdF BRAC has already bought a huge number of these phones. We are waiting for them to tell us whether or not they can replace them with a different phone. Even if they are able to get another phone for the first few training sessions, they might be stuck with a lot of these broken W4s, so if we can find a solution, that would be ideal.

Also, I don't think we bought W4s for anyone, we had bought

[2016-10-07 18:23] diannakane commented on #2719
Thanks for calling out the piece about the primary contact, @slangevin.
Devs, most likely this will be a new contact, but for instance, we don't
want to force a manager to create new contacts for a bunch of areas that
haven't yet been assigned to CHWs so in this case they could assign
themselves. That is included in the lo-lo-fi mockup in the spec.

We didn't include a supervisor field in that moc

[2016-10-09 16:22] SCdF commented on #2797
@sglangevin ideally they'd be able to just ship them back to Tecno and either get Tecno to flash them to the newer code level or just give them phones with new builds on them

[2016-10-09 16:38] SCdF commented on #2803
@diannakane I don't understand what your terms are. When you say "the language of People & Places", it's not clear to me what that language is. Like I said higher up the thread, we should get on a call.I don't think playing github issue ping pong is going to be very efficient. We can lock down terms at the start of that call.

[2016-10-09 19:33] garethbowen commented on #2793
@estellecomment I don't know what I'm supposed to do with this...

[2016-10-09 19:39] garethbowen commented on #2781
@alxndrsn I think everyone uses a different week standard. The tech leads have signed off on using ISO week for their reporting. We could have the week standard be configurable but that's probably outside the scope of this issue.

@abbyad Does that match your understanding?

[2016-10-09 21:17] garethbowen commented on #2772
@sglangevin We haven't worked out what's going on in the database yet. The end result of #2434 was to do everything we could to indicate to pouch it should clean up. I'll sign off on acceptance testing myself and we'll see how it goes...

[2016-10-09 21:18] garethbowen commented on #2434
This is basically impossible to acceptance test - there's just too much going on under the hood. I'm confident we're doing more compaction now than before so we'll leave it at that. If it happens again we can raise a new issue.

[2016-10-09 21:34] abbyad commented on #2781
Yes, that is my understanding too. We can have the design team chime in if further confirmation is needed, but believe that was already done in https://github.com/medic/medic-projects/issues/699.

[2016-10-09 21:53] #2781 closed

[2016-10-09 22:58] SCdF commented on #2340
@estellecomment I added some tests, note the commit above.

[2016-10-09 23:13] SCdF commented on #2812
Cool beans

[2016-10-09 23:13] #2812 closed

[2016-10-09 23:14] SCdF commented on #2774
Next steps for this would be to look through creation scripts and try to work out how this could occur.

[2016-10-09 23:34] SCdF commented on #2797
One of the broken phones is being shipped to me, to arrive on Tuesday. I'll pick this up then.

[2016-10-10 00:07] #2772 closed

[2016-10-10 00:17] SCdF commented on #2808
@garethbowen sorry this review is a long one!