[2019-01-22 13:32] Jodge commented on #4960
@garethbowen this is a ripple effect by padding-left of 10px and the solid 5px border-left on the LHS navigation section. The antidote will be do increase the width of the _navigation sidebar_ to `220px`

[2019-01-22 19:35] garethbowen commented on #4960
@Jodge Yes I think increasing the width makes sense and avoids a few line breaks, at least in English.

[2019-01-22 19:47] garethbowen commented on #4960
Merged and ready for AT.

[2019-01-22 20:05] garethbowen commented on #5038
Merged!

[2019-01-22 20:05] #5038 closed

[2019-01-22 20:05] garethbowen commented on #4932
Merged!

[2019-01-22 20:05] #4932 closed

[2019-01-22 20:05] garethbowen commented on #4908
Merged!

[2019-01-22 20:56] garethbowen commented on #5227
@kennsippell @SCdF The PR has been merged - can this now be closed?

[2019-01-22 21:04] garethbowen commented on #5260
I think we can definitely reduce the font awesome fonts as you say.

I'm not confident that we never use notosans italic - I see a few instances of `font-style: italic` in the built css, mostly in Enketo forms.

If we didn't include the italic fonts then the browser would fake it algorithmically which I suspect is definitely good enough for our use. As part of this issue take a screenshot of the i

[2019-01-22 21:15] kennsippell commented on #5227
Yep

[2019-01-22 21:15] #5227 closed

[2019-01-22 21:54] kennsippell opened #5267 "E2E tests which login as restricted user are blocked by service worker on Chrome 71"
In #5219, a purge test which logs in as a restricted user is being disabled.
The reason for disabling this test is detailed [here](https://github.com/medic/medic-webapp/pull/5219#issuecomment-456569431).
When Chrome 72 moves from beta to stable, this test should be re-enabled.

Impactful for #5214.

[2019-01-22 22:29] garethbowen opened #5270 "Bootstrap failed retry button doesn't work"
1. Navigate to webapp 3.4 (master)
2. Login as restricted user.
3. Go offline during initial replication.
4. Click "Try again"

Observed error:

[code]

Reported by @kennsippell

[2019-01-22 22:31] garethbowen commented on #5270
This is a regression from #5082

[2019-01-23 02:35] ngaruko commented on #5035
LGTM - Not sure if there was a consensus on how to name the links (`App Settings` and `Application`)- they seem to be changing with every new version @Jodge
![image](https://user-images.githubusercontent.com/6979995/51579043-6da00c80-1f24-11e9-9e31-da6b278eef48.png)

[2019-01-23 02:36] garethbowen commented on #5035
@ngaruko There should be a logout button there too, I think?

[2019-01-23 02:39] ngaruko commented on #5035
We have that @garethbowen
![image](https://user-images.githubusercontent.com/6979995/51579236-0df63100-1f25-11e9-8806-1649fd7d05aa.png)
 . If there is no objection about the nomenclature, I will go ahead and close this.

[2019-01-23 02:41] garethbowen commented on #5035
"App Settings" is correct. "Application" is a new one - I think it's ok unless anyone has any other suggestions?

Both are translatable so it's not hard to change if we don't like them.

[2019-01-23 02:43] #5035 closed

[2019-01-23 03:47] garethbowen commented on #5246
@abbyad @SCdF What fields do you think we need here?

- user roles are the easiest and most useful
- contact and facility doc IDs are quite easy but not very useful
- hydrated contact lineage is a little more tricky but potentially useful if we want to allow different purging rules for different branches of the hierarchy
- anything else?

I'll implement it to be forwards compatible so we can add m

[2019-01-23 03:55] ngaruko commented on #5255
Any clue how to AT this @garethbowen ?

[2019-01-23 09:29] dianabarsan opened #5271 "Translations not updated after upgrade"
Discovered after `gamma.dev` was upgraded from 3.2.1 to master (3.4.x) .
Instead of using translations that were correctly deployed with the new 3.4 ddoc, the app ended up using it's previous translations.

This is caused by the `convert-translation-messages` running after merging translations,  causing the old `values` be copied over the new `generic` translations.

[2019-01-23 09:37] dianabarsan opened #5272 "Message queue not loading when translations are missing"
When loading Admin's message queue, we try to load all languages in Angular before generating messages. We do that by iterating over all languages and issuing a call to Angular Translate, which effectively loads the language.
If the key we are trying to translate doesn't exist, Angular Translate throws an error and, as a result, the message queue does not load.

![image](https://user-images.github

[2019-01-23 10:31] SCdF commented on #5246
Agree on user roles being the most obvious. Also agree on contact and facility ids not being that useful. However, I see value in just aping the `userCtx` object as much as possible.

Presumably you're talking about doing this without using a view, but instead using the object map of contacts to link in that way?

I think if we wanted to do this we might as well also take the time to convert the u

[2019-01-23 15:14] abbyad commented on #5246
Although having access to everything sounds nice, taking the performance hit may not be worthwhile. Now that we have the ability to add custom roles I think it would be good to rely on that rather, and not enabling purge rules that are specific to people/place UUIDs.

[2019-01-23 15:22] rmhowe commented on #4750
As far as I can tell these are the steps needed upgrading to latest Angular (now 7.x)

1. **Update `ui-router`**. Necessary to allow the use of components (PR [here](https://github.com/medic/medic-webapp/pull/5276))
2. **Move to TypeScript**. This is not a necessity but it will make the migration easier assuming the eventual plan is to be on Angular 7 with TS. I assumed this was the case based on

[2019-01-23 16:10] SCdF commented on #4750
# !!HI ROBBIE!! ❤️ 💃 🎉 🍕

100%, and ideally everywhere. The only real downside is we need a compilation step for api / sentinel now as well right?

Almost certainly I think. One of the reasons-- actually:

Yeah. As above, one of the various reasons we want to move to AngularN is that it's more supported / having more development happen against it. So AFAICT we'd want to adhere as close to what a t

[2019-01-23 20:05] garethbowen commented on #5030
No AT required.

[2019-01-23 20:05] #5030 closed

[2019-01-23 20:52] kennsippell opened #5277 "Upgrades via admin upgrade page are broken"
1. Login to `gamma.dev` as admin
1. Navigate to admin console
1. Click "Upgrade Instance"
1. Attempt an Upgrade

Expected: Upgrade
Observed: Error `Refused to connect to 'https://staging.dev.medicmobile.org/_couch/builds/' because it violates the following Security-Content-Policy directory: "connect-src: 'self'"`

![image](https://user-images.githubusercontent.com/9014751/51635998-28ea9480-1f69-11

[2019-01-23 21:03] garethbowen commented on #5277
Commit: https://github.com/medic/medic-webapp/commit/754590c27329ac2a655ebc221fcfae446cd0a62b

[2019-01-24 01:54] garethbowen commented on #5246
The implementation looks reasonably straightforward so I'll backport this to 3.3.0.

[2019-01-24 02:16] garethbowen commented on #5246
Code review please @SCdF . Feel free to leave merging and backporting to me.

[2019-01-24 08:53] SCdF commented on #5246
@garethbowen sorry I saw the PR notification before the comment... I already merged, but will leave backporting to you :-)

[2019-01-24 08:54] dianabarsan commented on #5277
I am also seeing this:
![image](https://user-images.githubusercontent.com/35681649/51666345-4863da80-1fc6-11e9-9de3-914fe03edb08.png)

[code]

When trying to click the `Reload application` button after an upgrade.

[2019-01-24 08:55] garethbowen commented on #5246
Backported to `3.3.x`. Thanks!

[2019-01-24 09:49] SCdF opened #5280 "Lint the browser compatibility of our code"
We should use this: https://github.com/amilajack/eslint-plugin-compat

To set our browser version compatibility in web code.

[2019-01-24 11:18] kennsippell commented on #3768
Seems to me these "Regular Expression Denial of Service" and "Prototype Pollution" vulnerabilities are not relevant when in dev dependencies. They don't seem worth fixing. Should we maybe just manage a whitelist?

For `grunt-couch`, I started with this but things don't look good after one week. https://github.com/jo/grunt-couch/issues/36

For `openrosa-formlist`, I created https://github.com/medic

[2019-01-24 12:14] rmhowe commented on #4750
**Hi Stefan!!** 🎉 🎉

All sounds good to me.

My main thinking was to try to leave webapp in the least confusing state possible, and that having both `$scope` and redux around might get confusing, but now that you mention it doing both at the same time will help iron out the kinks in the state management approach which is probably more valuable, and as long as there's no major UI work going on it s

[2019-01-24 13:03] henokgetachew commented on #4877
I have taken care of this.  Let me know if you still run into issues.

[2019-01-24 18:52] wtekeu commented on #5271
@dianabarsan  So, my understanding is that this is due to the fact that post merging we are in a state where we have both `values` and `generic`. Please confirm that this is the case. Then I think an easy fix is not updating `generic` during  the execution of `convert-translation-messages` (the merging would have taken care of it)

[2019-01-24 19:46] garethbowen commented on #4877
@henokgetachew On a recent build we got this:

And the upload doesn't exist in the upload folder. Is there something we need to change on the travis config?

[2019-01-24 20:21] garethbowen commented on #3768
We definitely want to run it regularly, probably as part of the linting of our project. We'll need some whitelisting capability I think, and maybe only fail the build on high level issues?

devDependencies are definitely lower risk but we want to keep our dev machines safe too. We should try to fix them but I'm happy to lower the barrier to whitelisting compared to dependencies we ship.

I'll see

[2019-01-24 20:30] kennsippell commented on #4898
In case you were wondering how many feedback docs there are for some of our projects. The number is definitely significant. Do we replicate these docs to users?

database | sum
-- | --
musoapp | 34,451
livinggoods-ke | 41,677
livinggoods-ug | 782,368
moh_kenya_siaya | 25,159
brac-ug | 1,737,504

Thanks to @michaelkohn for pulling these numbers.

[2019-01-24 20:46] garethbowen commented on #4898
No we don't replicate them down to users, but we do need them to replicate up to the server.

The numbers should not be that high and it indicates a bug in either the software or the configuration. @michaelkohn Is there any quick way to work out what errors are being thrown most often?

[2019-01-24 21:45] garethbowen commented on #5228
Yeah, makes sense. Maybe `grunt e2e-chrome` or something? I'll have a look.

They're getting uploaded to: https://s3.console.aws.amazon.com/s3/buckets/medic-e2e/

You will need AWS access to see them. Unfortunately it's currently broken due to https://github.com/medic/medic-webapp/issues/4877

That is supposed to work, both locally and uploaded to s3. Is it not working now?

I think there's a way

[2019-01-24 22:47] kennsippell commented on #5228
I think it works now with https://github.com/medic/medic-webapp/commit/ee8406b5ab9c016f50fbf2161b85a59c44693dba. I think I just mostly never knew about it.

I think we have this already with the existing reporting extension for jasmine.

[2019-01-24 23:45] ngaruko commented on #4960
The styling is now consistent @amandacilek , except one case: `targets > add target`, which is a second level hyperlink
![image](https://user-images.githubusercontent.com/6979995/51715803-15d9e080-209f-11e9-8092-2190ad328a55.png)

Please have a second look and let us know if you are happy with the look and feel of the admin portal as it is.  One thing @dianabarsan mentioned is that ` the admin are

[2019-01-25 01:53] garethbowen commented on #4013
Merged and backported to `3.3.x`

[2019-01-25 08:02] Jodge commented on #5280
@SCdF good suggestion!
I have a question `eslint-plugin-compat` uses the `browserslist` configuration in `package.json` so what browserslist should we pick to be targeted by this plugin?

Example: currently for postcss autoprefixer we are targeting  `['last 2 Firefox versions', 'Chrome >= 54']`

[2019-01-25 08:18] Jodge commented on #3414
Awesome! You're welcome @ngaruko

[2019-01-25 09:42] SCdF commented on #5280
@Jodge our current browser compatibility is documented here: https://github.com/medic/medic-docs/blob/master/installation/supported-software.md

For firefox (which we just say "latest") you might want to make it the last ~4 versions (eg last 6 months) or something .

[2019-01-25 11:12] henokgetachew commented on #4877
It looks like this has been broken for a while.
<img width="364" alt="image" src="https://user-images.githubusercontent.com/3198821/51741673-a5d05800-20a8-11e9-8977-86ef64f3b356.png">

The travis change made to the repo is found here: https://github.com/medic/medic-webapp/pull/3975.
This means that this change never worked(?) (cc: @ngaruko).  I have just regenerated new keys and also given an acco

[2019-01-25 12:12] kennsippell commented on #4877
I'm stuck at `Either user is not authorized to perform iam:ChangePassword or entered password does not comply with account password policy set by administrator` using a 20 character password with lowercase, uppercase, numbers, and special characters. Let's look Monday then.

[2019-01-25 13:49] michaelkohn commented on #4898
Here are the top messages across the projects mentioned above (plus one more).   Full details can be found [here](https://docs.google.com/spreadsheets/d/1OMvqi70JbulaMi17Dex2SVZwJpPM9E8TOp0u8OfOyyQ/edit#gid=300719531)

info/message | Count
-- | --
Uncaught TypeError: Cannot read property 'handleAndroidBack' of undefined | 2,100,422
Uncaught TypeError: Cannot call method 'handleAndroidBack' of unde

[2019-01-25 15:03] SCdF commented on #4898
Those top two are really weird. We haven't had or referenced anything called `handleAndroidBack` since 2016. It was dropped in ce93efb5527ca9ded79fbdd4b83e2db6c6c1084a.

[2019-01-25 17:52] michaelkohn commented on #4898
There was no date filter on the query, so the grid above includes everything from the beginning of each project.

[2019-01-27 20:55] garethbowen commented on #4877
@henokgetachew The most recent files uploaded to s3 were uploaded in July 10th 2018 so it definitely worked after that PR you linked.

![screenshot from 2019-01-28 09-54-31](https://user-images.githubusercontent.com/2064938/51806758-dc91b280-22e2-11e9-9b02-def22cb62252.png)

https://s3.console.aws.amazon.com/s3/buckets/medic-e2e/BUILD_11972/JOB_11972.2/test-results/?region=us-east-1

[2019-01-27 21:00] garethbowen commented on #4898
@michaelkohn Is it possible to filter down to just the last 12 months or so?

[2019-01-28 02:16] garethbowen commented on #5228
Two PRs to review please @kennsippell

[2019-01-28 07:21] kennsippell opened #5293 "Integration tests labeled as "passing" by travis even when not all E2E tests run"
Here is a build labeled as passing by Travis: https://travis-ci.org/medic/medic/builds/484489080?utm_source=github_status&utm_medium=notification

In the logs for the integration suite, I see:
[code]

The suite took only 5 minutes to run and typically takes about 8 minutes.

[2019-01-28 07:32] garethbowen commented on #5293
Does it seems strange that we're running assertions in an `afterAll`? I wonder if that's unsupported behaviour.

I can't see the log any more - did you restart the build?

[2019-01-28 08:03] kennsippell commented on #5293
What about here? https://travis-ci.org/medic/medic-webapp/jobs/485043046

[2019-01-28 08:20] garethbowen commented on #5293
Yeah that's better! Not sure where I was looking...

[2019-01-28 15:41] jillrshah commented on #5224
Hi @garethbowen @kennsippell - translations in this Google Doc. Downloading app will be added by tomorrow (sorry, missed that one because added later and last week got away from me). https://docs.google.com/spreadsheets/d/1FB0o9hXeyWrxNJwq4KmOhtOvuSUfxRIq_JlygdVp-Yk/edit

[2019-01-28 16:28] SCdF opened #5297 "Individual builds can no longer be restarted"
Since we moved to staged builds we are unable to restart individual builds.

For example, if you have a flaky build:
![image](https://user-images.githubusercontent.com/583851/51850362-7ecc8d00-2319-11e9-9691-9122816d5401.png)

And you try to individually restart a build, you'll get the following error:
[code]

[2019-01-28 19:03] amandacilek commented on #4960
Yes, the active page styling now remains even after clicking on different tabs within a page. Thank you for fixing this. I'm a little unclear about that case you mention, Bede. Why can't the active page styling remain when clicking on a second level hyperlink?

I agree with Diana that we need to fix the header alignment. Before, the page content was centered on the screen, so the header made sense

[2019-01-28 19:15] michaelkohn commented on #4898
Here you go @garethbowen .... I re-ran the queries with a date filter of `>= '2018-01-01'`.

The spreadsheet [here](https://docs.google.com/spreadsheets/d/1OMvqi70JbulaMi17Dex2SVZwJpPM9E8TOp0u8OfOyyQ/edit#gid=1979929895) has the breakdown by partners.

info/message | Count
-- | --
Uncaught   TypeError: Cannot read property 'handleAndroidBack' of undefined | 581,624
Uncaught   Error: Could not reso

[2019-01-28 20:03] garethbowen commented on #5297
I've been thinking about this and I think we need to leave the release on the testing server for some time. So maybe after each build we delete all docs that are older than a week?

[2019-01-28 21:01] garethbowen opened #5298 "Investigate and fix common feedback errors"
First reported on [this issue](https://github.com/medic/medic/issues/4898#issuecomment-458263351) (comment inlined below) our app is generating a lot of uncaught errors in the browser. Some of these may have already been resolved in a later version of the app.

- Spend some time investigating the most common errors.
- If you ask @michaelkohn nicely he may help you find full stacks for these errors

[2019-01-28 21:01] garethbowen commented on #4898
I've raise a new issue to go through those errors - thanks Michael!

[2019-01-28 21:24] garethbowen commented on #5228
I think most of this is done. @kennsippell Are you happy for this to be closed, or are you holding out for anything else in particular?

[2019-01-28 22:15] garethbowen commented on #5255
@dianabarsan found this memory leak when using domains and promises in node v10+: https://github.com/nodejs/node/issues/23862

[2019-01-28 22:25] garethbowen opened #5300 "Remove node domain from export data controller"
The [export data controller](https://github.com/medic/medic/blob/master/api/src/controllers/export-data.js#L126) uses node domains to catch all errors and handle them. This is deprecated and can cause memory leaks (although I don't think this particular code leaks).

Switch to managing the errors without using domains.

[2019-01-28 22:32] garethbowen commented on #4423
@wtekeu This hasn't been updated for a while - are you still working on it?

[2019-01-28 22:32] garethbowen commented on #4209
@peter-ochieng How's this issue going?

[2019-01-28 22:33] garethbowen commented on #4128
@vimemo Any update on this one? Should we move it to 3.5.0?

[2019-01-29 04:34] peter-ochieng commented on #4209
@garethbowen Am working on implementing PR review changes from Diana, hope to finish by end of day.

[2019-01-29 04:42] ngaruko commented on #4013
Can you have a second look at this @newtewt . Seems like it still behaves as you described above on `3.3.0-beta.2`. Or was this merged later @peter-ochieng?
[issue.mov.zip](https://github.com/medic/medic/files/2806076/issue.mov.zip)

[2019-01-29 05:13] peter-ochieng commented on #4013
@ngaruko it was Merged and backported to `3.3.x` last week on Friday.

[2019-01-29 10:17] SCdF commented on #5297
@garethbowen I think that makes sense.

Ideally we'd have that function as part of the build server itself (e.g. to also periodically prune branches pushed to the main build server), but that requires us hosting something more complicated than a CouchDB database unfortunately

[2019-01-29 10:37] garethbowen commented on #5228
Code review please @kennsippell

This logs the browser console to a file in tests/logs. We have lots of severe log items so we can't fail the build on them unless we figure out a long allow list. This should at least make debugging possible.

[2019-01-29 12:40] dianabarsan commented on #5255
Unfortunately, `domain` also leaks on Node 8.11.4 (which is the version that we use in production), albeit the leak appears to be not as severe as for Node 10.

Offline user calls to `_changes`, `_bulk_docs`, `_all_docs` & `_bulk_get` (~5k requests):
![image](https://user-images.githubusercontent.com/35681649/51908019-412b3b00-23d1-11e9-9f2f-ca90a566fd12.png)

`admin` calls to `_session` (~50k req

[2019-01-29 13:33] dianabarsan commented on #5255
Same as above but after removing `domain` from api router:

Offline user calls to `_changes`, `_bulk_docs`, `_all_docs` & `_bulk_get` (~5k requests) 35MB vs 612MB:
![image](https://user-images.githubusercontent.com/35681649/51911624-062e0500-23db-11e9-8783-2d87c9338163.png)

`admin` calls to `_session` (~50k requests) 28MB vs 899MB:
![image](https://user-images.githubusercontent.com/35681649/51910

[2019-01-29 15:35] SCdF commented on #4908
This test is still failing for all of my PRs at a very high rate.

[2019-01-29 15:55] michaelkohn commented on #5298
Here are two examples of what I have access to... happy to help pull the data in a way that is easier for others to work with.

[5298_feedback_doc_example_01.txt](https://github.com/medic/medic/files/2808452/5298_feedback_doc_example_01.txt)
[5298_feedback_doc_example_02.txt](https://github.com/medic/medic/files/2808453/5298_feedback_doc_example_02.txt)

[2019-01-29 17:10] vimemo commented on #4128
@garethbowen, yes. Let's please move it to 3.5. I have timed things with and without the 50ms processing delay and haven't made any code updates. I have had different issues and not consistent times but in most cases it has been issues with my local setup.

[2019-01-29 17:42] ngaruko commented on #4013
Thanks @peter-ochieng .  Are browser buttons/actin meant to be covered as well? I am talking of `refresh/reload/F5` buttons, `Home` button, closing the tab altogether (not sure if this is meant to be covered by this ticket).

[2019-01-29 17:49] newtewt commented on #5048
@SCdF  These are the steps to reproduce the update to app settings and seeing the purge has changed message.

Log in as an offline user using chrome. Replicate and land in the app after everything has settled.
Open the webapp in another browser(Firefox) and log in as an admin user.
Navigate to the Admin Console.
Change the gateway number
Save
Return to chrome as the offline user. The update dialog

[2019-01-29 18:38] newtewt commented on #5246
Looks good. I'm conditioning my purge based on the roles included from the user context object.

[2019-01-29 18:38] #5246 closed

[2019-01-29 20:11] garethbowen commented on #5255
Thanks for the additional info @dianabarsan .

As discussed I'm proposing to leave this in 3.3.0 for now and monitor running instances and restart as needed. If it becomes too problematic we can backport to a new 3.2.2 release.

[2019-01-29 21:16] garethbowen commented on #5076
@dianabarsan I've merged this in to `master` (3.4.0 at the time of writing). The backport is a little complicated because there are multiple PRs to do, so I thought it'd be better to leave it to the expert - would you mind backporting it? I'm happy to review the backport if you think that's worth it.

[2019-01-29 21:23] dianabarsan commented on #5076
Yea, sure, absolutely. I already have a (now outdated) PR for the 3.3 branch, which I will update tomorrow morning first thing.

[2019-01-29 21:42] jillrshah commented on #5224
All translations are up to date in the file referenced above. Thanks!

[2019-01-29 21:42] garethbowen commented on #5224
Great, thanks! I'll get right on this.

[2019-01-29 21:47] garethbowen opened #5307 "Swahili "starting app" translation missing"
We missed a translation in the bootstrapper for "Starting app…" in the Swahili language.

[2019-01-29 21:50] garethbowen commented on #4713
Translations for "downloading app..." are available here: https://docs.google.com/spreadsheets/d/1FB0o9hXeyWrxNJwq4KmOhtOvuSUfxRIq_JlygdVp-Yk/edit#gid=0

[2019-01-29 22:09] ngaruko commented on #5249
LGTM...
_**Before**_
![image](https://user-images.githubusercontent.com/6979995/51943814-5a8ac080-247f-11e9-8b1c-200979554ed2.png)

**_After (v3.4)_**
![image](https://user-images.githubusercontent.com/6979995/51943848-6d04fa00-247f-11e9-880c-8a8f020b016e.png)

[2019-01-29 22:09] #5249 closed

[2019-01-29 22:40] garethbowen commented on #5267
@kennsippell Chrome 72 is now stable... from a recent build:

I'll leave you to tidy this up in the SW PR.

[2019-01-30 02:00] ngaruko commented on #4960
It could be @amandacilek . I just mentioned that it was the only case where we lose stying... and it is the only instance where we lose track of the page (or styling). Please have another look and let @Jodge know if you think it needs more work. It shouldn't too big of a job IMO. The form I am referring to is [App Settings >> Targets >> Add Target](https://gamma.dev.medicmobile.org/medic/_design/m

[2019-01-30 02:43] garethbowen commented on #4960
@ngaruko I fixed this in the last commit - it's now ready for review again.

[2019-01-30 03:01] garethbowen opened #5311 "Convert feedback export to streaming csv"
Exporting user feedback uses the old style of export which gets all the docs then generates a massive xml file. This doesn't scale.

Rewrite it to use the v2 export service which streams a csv to the user instead.

This will also allow for lots of code to be removed.

[2019-01-30 06:41] peter-ochieng commented on #4013
@ngaruko No,I don't think browser actions were to be covered within this ticket, just the navigation actions within the app but we can still get further clarification from @garethbowen ?

[2019-01-30 08:46] SCdF commented on #5048
@newtewt this is very strange. Let me take a look

[2019-01-30 09:39] peter-ochieng opened #5313 "Validate email address when creating or editing users"
Validate email address when creating and editing users in admin

**Steps to reproduce**:
 - Login with admin credentials
 - Go to AppSettings
 - Under AppSettings, go to Users and click Add user
 - On the Add user popup, enter any value into the E-mail address field and save

**What should happen**:
 - Only valid emails addresses should be accepted to be saved in this field

**What actually happen

[2019-01-30 09:53] garethbowen commented on #5224
Merged to `master` and backported to `3.4.x` and `3.3.x`

[2019-01-30 12:08] SCdF opened #5315 "Update Ready dialogue always appears for online users in Firefox, and in private browsing modes for Chrome, Firefox"
To reproduce, use the app as an online user, either:
 - In Firefox, either normally or in private browsing
 - or in Chrome as Incognito

Whenever you refresh the app you will get a prompt that there are new changes and you should refresh.

NB: while we don't expect private browsing sessions to work with offline users, we do expect them to work with online ones.

From testing it appears to be becau

[2019-01-30 12:16] SCdF commented on #5315
Apparently we know about this: https://github.com/medic/medic/issues/5247#issuecomment-456141281

@garethbowen so is the situation that we don't support private browsing on any browser, or firefox at all, until we migrate to service workers?

[2019-01-30 13:38] SCdF commented on #5048
Found the problem, I nicked a hash function from elsewhere and didn't convert it out of being prototyped against a string correctly. This PR fixes it: https://github.com/medic/medic/pull/5317

[2019-01-30 20:39] garethbowen commented on #5224
@newtewt Yes it should work right away. It's based on the language set for the user which is stored in the userCtx cookie, so have a look there and see if it's set right.

When you say:

At what point does it switch?

[2019-01-30 20:53] garethbowen commented on #5076
Backported to `3.3.x` - ready for AT!

[2019-01-30 21:46] ngaruko commented on #4694
Thanks @wtekeu for the discussion and demo with @michaelkohn  Pushing it back to `in progress` @wtekeu ...

[2019-01-30 21:46] newtewt commented on #5224
I have attached a video that shows the messages in English and then Spanish translations.

[translation-startup.mov.zip](https://github.com/medic/medic/files/2814582/translation-startup.mov.zip)

[2019-01-30 21:59] garethbowen commented on #4694
@ngaruko Can you give some information on how this failed AT? Or was that discussed somewhere else?

[2019-01-30 22:01] garethbowen commented on #5224
Very helpful, thanks. The translations in the "startup" phase are handled completely separately from the translations in the app. It looks like the former is just not working. I'll have a look.

[2019-01-30 22:16] garethbowen opened #5319 "db-batch gets stuck in a loop"
Run the `extract-read-status` migration over a database with plenty of data. You can force the migration to run by manually removing it from the array in the `migration-log` document and restarting api.

What should happen: it runs through to completion then api starts.
What happens: it gets stuck in a loop and never completes and api never starts up

Caused by https://github.com/medic/medic/commi

[2019-01-30 22:16] garethbowen commented on #5319
It turns out PouchDB doesn't support pagination using `startkey` and `startkey_docid`.

[2019-01-31 00:41] amandacilek commented on #4013
Hm, browser actions do seem like something we should warn about (if a desktop user tries to close a tab with a half-completed form in it, we should first present a dialogue double checking that they want to exit and lose their work).

If adding browser actions in is a bit of extra work then I am fine splitting that off and making it a separate ticket. But don't take my word for it, @garethbowen ma

[2019-01-31 03:05] garethbowen commented on #4013
I think we've done enough for now - as Bede points out our user base is mostly smartphone users. Lets split the browser actions off as a separate issue, or raise one about auto saving drafts (harder but much better UX) instead or as well.

[2019-01-31 08:49] dianabarsan commented on #4209
Merged into `master` and backported to `3.4`

[2019-01-31 11:58] SCdF commented on #5048
I have merged this fix and backported it to 3.3.x and 3.4.x, but I haven't done any releases on these branches.

@newtewt let me know if you need me to perform any more next steps here.

[2019-01-31 14:42] newtewt commented on #5224
@SCdF  I've seen it every-time so far when on the purge-upgrade-muso instance. Albeit I've only had a chance to replicate a few times so far this morning.

[2019-01-31 18:49] michaelkohn commented on #4694
@garethbowen we had a call yesterday to talk through it.  Here's what was decided.

<img width="1348" alt="screen shot 2019-01-31 at 10 31 55 am" src="https://user-images.githubusercontent.com/10096985/52077219-51642700-2545-11e9-9867-d6ee863a27b7.png">

1. Visit does not get associated to anything since no reminder messages have been sent yet.
2. Visit does not get associated to anything since it

[2019-01-31 18:51] newtewt commented on #5048
@SCdF  may have found another issue. I am changing the date of `medic-last-purge-date` and then refreshing the app. I'm not seeing the purge rerun. The console displays ```Initiating purge
inbox.js:3 Local DB may have unreplicated records, skipping``` but my sync is up to date. Looking in local storage I don't see an entry for `medic-last-replicated-seq` and when calling `window.localStorage.getIt

[2019-01-31 21:35] garethbowen commented on #5319
Merged and backported to `3.4.x`

[2019-01-31 21:38] garethbowen commented on #5315
On it.

[2019-01-31 21:42] garethbowen commented on #5224
Fixed in master and ready for AT once more.

[2019-01-31 22:41] garethbowen commented on #5224
On further inspection it's not in the "userCtx" cookie, it's set in the "locale" cookie instead. This is only set once you start the app so doesn't work for initial replication. To check this if you refresh the app it should show in Spanish next time through. However it's most important that it works for the first load because this is the one that'll do the initial replication and take the longest

[2019-01-31 22:45] ngaruko opened #5325 "Add warning dialogue when users navigate away from a form with browser actions"
This is an extension of issue #4013 .
On desktop, add our warning dialogue "This form is not finished. You will lose your data if you leave now. A form is only complete when you hit Submit. Are you sure you want to leave?" when users are in the middle of filling out a form on the RHS and then they click on a different item in the LHS or they click on a different page tab (basically whenever they c

[2019-01-31 22:49] garethbowen opened #5326 "Bootstrap translation doesn't work on first load"
**Steps to reproduce**:
1. As an admin configure a user to have a language other than English
2. Clear all your cookies
3. Log in to the app as the non-English user

**What should happen**:
The bootstrap translations are in the user's language.

**What actually happens**:
The bootstrap translations are in English. If you refresh the translations are in the right language.

[Video](https://github.c

[2019-01-31 22:50] ngaruko commented on #4013
Thanks @amandacilek and @garethbowen for clarifications. I have created another [issue ](https://github.com/medic/medic/issues/5325)to work on the above and assigned it to @amandacilek for further suggestions.

[2019-01-31 22:50] #4013 closed

[2019-01-31 22:55] garethbowen opened #5327 "The login page is not translated"
**Steps to reproduce**:
1. As an admin configure a user with a language other than English or the default app language
2. Go to the login page - at this point the app doesn't know which user it is so will use the default app language
3. Log in as the user configured in 1
4. Log out

**What should happen**:
The login page should be translated into the language you configured in step 1.

**What actu

[2019-02-01 02:21] garethbowen opened #5330 "Error loading target details"
**Steps to reproduce**:
1. Log in as an admin
2. Go to Targets
3. Click on an existing target

**What should happen**:
The name of the target should be displayed. No errors in console.

**What actually happens**:
The name is not shown. There's an error in the console. The name field is also missing when adding a new Target. Also the name column is always blank on the Targets list.

[code]

![scree

[2019-02-01 03:13] garethbowen commented on #5315
I can reproduce this now. As far as I can tell the appcache is simply not working in Firefox. The line of code just made it really annoying because it prompts every time. I have yet to work out why it's not working...

[2019-02-01 04:01] garethbowen commented on #5315
I've just tested on a real server on 3.3.0 which contains the UNCACHED change from #5247 and it's not affected. The "The operation is insecure." error is either due to our development environment not be https and maybe Firefox has changed recently to not like that, _or_ because of our more aggressive CSP but I commenting out the CSP didn't resolve this issue.

I'd like to get a production like ser

[2019-02-01 13:45] SCdF commented on #5048
NB: this works in master, but is not working in 3.3.x. I'm guessing the backport is incompatible with some kind of flow here, I'm looking into it.

I'll also check the 3.4.x branch once I figure it out as well.

[2019-02-01 14:07] SCdF commented on #5048
I have fixed this for 3.3.x (you need to wait for the build to complete).

The issue came about because the logic on how we replicate is different in 3.3.x compared to the version purging was originally build for and we didn't take that into account when backporting.

[2019-02-01 14:13] SCdF commented on #5048
3.4.x seems to be working fine

[2019-02-01 14:54] newtewt commented on #5076
This is looking good. I'm able to replicate large users on phones and interrupt replication and pick back up.

[2019-02-01 14:54] #5076 closed

[2019-02-03 08:39] kennsippell commented on #5228
Sweetness

[2019-02-03 08:39] #5228 closed

[2019-02-03 20:51] garethbowen commented on #5224
PURGE_INIT is a very short time between when the reports have been collated and the first reports have been purged. Slower devices may take time here. @SCdF I wonder if we should move it to before the `reportsByContact` call, or maybe remove it altogether?

STARTING_APP is shown between bootstrapping (initial replication, purging, etc) and angular taking over and rendering its states.

You can for

[2019-02-03 23:10] garethbowen commented on #5326
Merged into `master`, and backported to `3.4.x` and `3.3.x`

[2019-02-04 01:15] ngaruko commented on #4960
LGTM - Closing
![image](https://user-images.githubusercontent.com/6979995/52185729-57307400-2887-11e9-9145-7f03fcf4b93f.png)

[2019-02-04 01:15] #4960 closed

[2019-02-04 06:44] #5012 closed

[2019-02-04 11:17] SCdF commented on #5224
Yeah that's a great point, and I don't know why I didn't do this in the first place. That event sure fire once we've decided that we are going to purge.

I've made a note to do this, I presume it's not critical though?

@newtewt if you want me to do this today (it's not hard, I just have other priorities) ping me on Slack and I'll get it done :-)

[2019-02-04 12:03] kennsippell opened #5340 "Testing dev builds on mobile device after service worker change is awkward"
From #5219.

This issue tracks documenting a clear process to test dev builds on mobile devices.

[2019-02-04 16:38] #5224 closed

[2019-02-04 20:33] garethbowen commented on #4713
@kennsippell Is this ready for AT now?

[2019-02-04 21:19] Hareet commented on #3391
Oh, thanks bede!

This is likely related to kibana running out of space to keep logs.

Until we change to a microservice architecture where all logs pump to a stdout/streaming engine (elasticsearch/kibana), SRE thought it was advised to not duplicate costs on logging, so the duration of logging on kibana is limited (since we will pay for the files to exist either way). I will clear the history and

[2019-02-04 22:02] garethbowen commented on #4423
Apparently this is blocked on getting an instance from @henokgetachew - bumping to 3.5.0.

[2019-02-05 00:08] garethbowen opened #5344 "Flakey e2e test: registration transition submits new sms messages shows content"
It always seems to fail around midnight GMT.

[code]

[2019-02-05 01:35] ngaruko commented on #5327
Has this been back ported to 3.3 @garethbowen ? I see it works on a local install running the latest master but not on `gamma.dev` running the latest 3.3.x

[2019-02-05 02:42] ngaruko commented on #5327
Seems to work on `purge-upgrade-muso-mali.dev` running 3.3.X. I guess there was an error in `gamma.dev` update.

[2019-02-05 02:48] #5327 closed

[2019-02-05 03:11] ngaruko commented on #3391
LGMT. Tested on `purge-upgrade-muso-mali` running latest 3.3.x

[2019-02-05 10:00] dianabarsan opened #5345 "Registration transition invalidates unique ids when creating people"
When using `registration` transition to create people and also using `patient_id_field` configuration to set the `patient_id` manually, validating the uniqueness of `patient_id` is incorrect: non-unique ids are reported as unique and vice-versa, resulting in correct reports being marked as errored and creating patients with duplicate `patient_id` fields.

[2019-02-05 10:58] SCdF commented on #5340
An alternative might be to use medic-os' docker image as a base, have it run code not form horti but from configured directories, and also have the docker image use SSL with a medic-self-signed certificate, the pub key of the root of which we could manually install on phones we want to test?

[2019-02-05 13:07] henokgetachew commented on #4423
We need to upgrade a test LG instance to 3.x for this.  Since we have CBHIPP and Siaya prioritized, it's likely that this will not be ready for a couple of weeks.

[2019-02-05 13:45] dianabarsan opened #5347 "The update_scheduled_reports transition runs indefinitely"
**Steps to reproduce**:
 - Enable `update_scheduled_reports` transition. It requires no additional configuration.
 - make sure Sentinel is running, and it's seq is up to date (empty queue)
 - create this document
[code]
 - check the doc after a few seconds (10-20), making sure Sentinel has processed it (you can check `medic-setinel/scheduled_form_1-info` to see that the transition executed)

**Wha

[2019-02-05 14:41] dianabarsan commented on #5345
I ran a quick search in `medic-projects` for `patient_id_field` and it appears that nobody is currently using this feature. I don't think that we need to backport this.

[2019-02-05 16:21] newtewt commented on #5326
This doesn't seem to work. I've installed latest 3.3.x branch on gamma.dev. Is there something I can check to verify the cookie has been set?

I clear cache and cookies in Firefox.
Log in as tom (user lang set to french)
The starting messages are all in english and after the app loads everything is in French.

[2019-02-05 16:39] Jodge commented on #5330
@garethbowen I am unable to reproduce this bug

**Environment:**

- Instance: localhost
- Browser: Chrome / Firefox
- Client platform: Linux - Ubuntu

Maybe @ngaruko could help us also from his side to see if he can reproduce it?

[2019-02-05 16:58] newtewt commented on #5326
Ahh it was the known horti issue with upgrading not actually upgrading. Thanks @dianabarsan

This is translating the messages as the app starts.

[2019-02-05 16:58] #5326 closed

[2019-02-05 17:50] newtewt opened #5348 "Handle Database has a global failure error during replication"
When replicating to tecno wx3 the indexeddb database seems to be dying. Errors in the console are showing. Reloading the app finishes the app start process and the app becomes usable.

[code]
**Steps to reproduce**:
Using user filysa on purge-upgrade-muso-mali instance
Log in to a fresh app install on tecno wx3.  Have chrome://inspect going for the mobile app

**What should happen**:
The app shoul

[2019-02-05 18:47] kennsippell commented on #5348
I believe you're referring to #5045. The exception in this issue is `DOMException: Transaction timed out due to inactivity.` The exception which triggers a reload dialog is `DOMException: Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing.`  Although they are both DOMExceptions, this isn't the same issue seen in Siaya. As written, I wouldn't expect to see a reload

[2019-02-05 21:00] kennsippell commented on #5340
The port forwarding approach through Chrome Dev Tools (detailed in the link above) is super smooth. It works great on Android Chrome 53, but it crashes the Medic app when I try it within the container. I'd have to dig deeper into this SIGSEGV.

@garethbowen @SCdF -- If you gents agree this is the best approach, I'll dig in and try to get this working with the app.

[code]

[2019-02-06 08:56] Jodge commented on #5280
@SCdF I guess this requires no AT, and can be closed?

[2019-02-06 08:58] SCdF commented on #5280
Correct, yep

[2019-02-06 08:58] #5280 closed

[2019-02-06 10:29] SCdF commented on #5340
gent... 😊

For posterity in case it moves around, here is a permalink to the second answer: https://stackoverflow.com/a/43426714/1666

As long as the SIGSEGV isn't a giant pita to solve this seems like a good approach, though I worry it is going to be due to a deep bug in crosswalk or something. I think at some point in the future being able to deploy the whole stack locally based on your git work

[2019-02-06 13:29] kennsippell commented on #5340
I'm beginning to doubt that trying to fix the SIGSEGV in crosswalk is a productive vector. I didn't realize the project was unmaintained. Quite ironically, they stopped supporting crosswalk [because of PWAs](https://crosswalk-project.org/blog/crosswalk-final-release.html) -- the same technology which is causing this problem for us.

I'm not fully familiar with the responsibilities of the android w

[2019-02-06 14:19] SCdF commented on #5340
Yeah, the only reason we're still on it these days is partially a small number of old phones that can't get a newer version of the web view, but 95% because you can't override quotas usefully in raw Chrome, and we are worried about hitting size limits and having Chrome silently delete everything

[2019-02-06 16:28] dianabarsan opened #5351 "Reminders are not working"
Reminders are not sent because the `clinic` docs  are not hydrated before passing them to generate the message, thus the recipient phone number will never be matched: all reminder tasks will have a recipient of `"clinic"`. At least, if the message configuration is not templated to be unique, the tasks will get a `duplicate` state and not spam gateway.

Also:

- back in 2013 someone renamed a task

[2019-02-06 18:31] newtewt commented on #5048
Purging is working as expected. Docs are removed only from the offline user.

[2019-02-06 18:31] #5048 closed

[2019-02-06 22:37] garethbowen commented on #3768
Done!

[2019-02-06 22:37] #3768 closed

[2019-02-06 22:38] garethbowen commented on #3768
@kennsippell I just realised there may be more you want to do here - feel free to reopen if there's outstanding work not covered by other issues.

[2019-02-06 22:42] garethbowen commented on #5348
@SCdF As the resident IDB and purging expert does this ring any bells?

[2019-02-06 22:52] garethbowen commented on #5340
We can add code in our android wrapper for intercepting requests and (hopefully) messing with them, similar to [this issue](https://github.com/medic/medic-android/issues/26). I haven't had a chance at this yet.

We're also baking in more and more features that require an android wrapper, eg: simprints integration, sms sending.

[2019-02-07 00:22] ngaruko commented on #4209
I am seeing this error @dianabarsan and the submit button hangs there forever. Please note that I checked this on my local since our test instances are still on 3.3 pending AT/RT. So they might some environmental factors affecting this, but I don't have any problem updating an existing user or creating a user with a unique name.
![image](https://user-images.githubusercontent.com/6979995/52382730-4

[2019-02-07 03:15] garethbowen commented on #5351
Which project is the lucky one? Depending on which project it is I'd vote for removal - it's clearly very broken.

[2019-02-07 03:51] ngaruko commented on #5250
LGTM  - UI auto refresh

[2019-02-07 06:11] dianabarsan commented on #5351
The lucky project is `ipd-nepal`. I'm not sure what the state of the project is, there are recent reminders created by sentinel (last ones from yesterday), but it appears that none have been sent in a long time. It also appears to run an ancient version of the app (`0.4.16`).

[2019-02-07 06:15] garethbowen commented on #5330
@Jodge I can reproduce this on gamma.dev (`3.3.x`) - same error in the console but slightly different look. Have a look at this page: https://gamma.dev.medicmobile.org/medic/_design/medic-admin/_rewrite#/targets/edit/active-pregnancies

[2019-02-07 06:22] garethbowen opened #5352 "Date formatting in exports is not human readable"
First raised in [this medic-projects issue](https://github.com/medic/medic-projects/issues/5790) the export files are formatting the date as millis since the epoch which isn't easy for end users to read. These files should be able to be read without having to apply further calculations.

Unfortunately changing the output format would break API compatibility for anyone scripting against the export

[2019-02-07 06:28] dianabarsan commented on #4209
@ngaruko can you please tell me which version you are testing this on?

[2019-02-07 06:34] Jodge commented on #5330
Yeah sure

[2019-02-07 07:25] garethbowen commented on #3155
Configuration documentation: https://github.com/medic/medic-docs/blob/master/configuration/app-settings-validations.md#medic-mobile-validation-functions

[2019-02-07 07:27] eljhkrr opened #5353 "Support additional vaccines in standard"
Add support for the following vaccines in standard:
- Hepatitis B - At birth
- Fractional IPV: 6 & 14 weeks
- DPT Booster: 16 and 24 weeks

[2019-02-07 08:39] dianabarsan commented on #4857
Being such a heap of work, I decided to break this up into multiple pieces:

- [x] Remove Nano from Sentinel
- [ ] Add E2E tests for every Sentinel transition
- [ ] Pulling all transitions out in a shared library
- [ ] Updating Sentinel to use Shared transitions
- [ ] Update API to apply transitions on incoming messages

[2019-02-07 14:23] SCdF commented on #5348
Originally I thought it might be the view cleanup that happens after purge, but looking at the whole log there is a lot more going on.

A slightly more complete look at that log is:
[code]

The key numbers here are:
 - 486 rounds of purging, which will contain one bulk docs write per round, though only 238 of these rounds contained a change and thus fired a bulk_docs call.
 - 2325 documents purged

[2019-02-07 14:28] newtewt commented on #5348
I'll confirm today that the docs are unavailable. I was going based on the console log that purging completed.

[2019-02-07 14:29] SCdF commented on #5340
Totally, I didn't mean android wrapper vs. Chrome (I shouldn't have used "raw Chrome" sorry), I meant android wrapper + crosswalk vs. android wrapper + webview

[2019-02-07 15:28] dianabarsan opened #5357 "The conditional_alerts transition should sort docs by reported_date"
Because sorting reports is broken, conditions that compare multiple reports and depend on these reports to be sorted chronologically can randomly fail when they shouldn't.

[2019-02-07 18:31] dianabarsan opened #5359 "The death_reporting transition does not process reports when submitter has no phone number"
The filter function of `death_reporting` transition checks for a `doc.from` field, which is only valid if the submitting contact has a phone number, making it impossible for a contact without a phone to register or undo a death report.

[2019-02-07 20:37] ngaruko commented on #3391
Hi @vimemo . As discussed with you and @Hareet this morning, the logs need to be saved in `/srv`, for as Hareet suggested,  "any other folders will be cleared on container restart, and LogTrail won’t save all the data (since we currently log to files for the rest of the application, so there was no point to pay duplicate storage costs)".

[2019-02-07 21:13] abbyad commented on #5351
That project was meant to close out at the end of 2018. Moving the project-specific conversation to Slack.

It is not clear which reminders we are talking about here. Is it something from our [current transitions](https://github.com/medic/medic/tree/80e11565f8ed0d0ef3349a9e28330955ef69349f/sentinel/src/transitions)?

[2019-02-07 21:20] dianabarsan commented on #5351
@abbyad  [These reminders](https://github.com/medic/medic/blob/80e11565f8ed0d0ef3349a9e28330955ef69349f/sentinel/src/schedule/reminders.js)

[2019-02-07 21:28] jillrshah commented on #5307
It is "Programu yaanza..."

Thanks!

[2019-02-07 22:36] ngaruko commented on #4209
@dianabarsan Tested on latest `master` on my local machine.

[2019-02-08 00:27] garethbowen commented on #5307
Thanks Jill!

[2019-02-08 00:28] garethbowen commented on #5307
Code review please @vimemo

[2019-02-08 01:19] ngaruko commented on #5277
The original issue is resolved, but I still see this when updating @kennsippell . If it  is not related, I will close this and open a different issue
![image](https://user-images.githubusercontent.com/6979995/52453474-76434480-2bac-11e9-90f4-1dbdfcd57c96.png)

[2019-02-08 01:34] abbyad commented on #5351
I am not sure if the feature is being ignored because it isn't useful, or because it is undocumented. We implemented a similar feature in Medic Collect as Android notifications which had some limited use as well. They are useful for CHWs that need to submit periodic reports, which is something which is done infrequently in our SMS projects these days. I'll get some input from tech leads to see if

[2019-02-08 02:15] garethbowen commented on #5307
Merged and backported to `3.4.x`

[2019-02-08 02:39] garethbowen commented on #5351
@dianabarsan If it's a quick fix let's patch it. If Marc finds out it's useful but nobody knows about it let's call it a new feature!

[2019-02-08 03:07] garethbowen commented on #5315
@ngaruko @newtewt Have either of you noticed this issue on 3.3.x?

[2019-02-08 03:14] garethbowen opened #5361 "Serve app from root"
The `/medic/_design/medic/_rewrite` bit is unnecessary, complicated, confusing, ugly, etc, etc. Serve the webapp app from `/` and the admin app from `/admin`.

- add redirects or proxies so old URLs will still work
- make sure people upgrading with old service workers or appcaches survive the change
- make sure people upgrading with phones which have the old url configured survive the change
- don

[2019-02-08 04:06] garethbowen opened #5362 "Warn when replicating too many docs"
Users are trying to replicate more docs sometimes on purpose and sometimes due to misconfiguration. This leads to poor user experience and can impact other users by monopolising server resources. We need to do a better job of communicating the maximum number of recommended docs and also warning when users have been configured incorrectly.

1. @SCdF Has made a start on an API to return the number o

[2019-02-08 04:42] dianabarsan commented on #4209
@ngaruko This is caused by https://github.com/medic/medic/commit/317864546ed0c1776eb3a9e03759d9c62c232c4e which updates the `Translate` service in `Webapp`, which this feature now uses incorrectly. I assume that the working branch for this feature was created earlier than this change, but was merged after.

[2019-02-08 06:46] ashish-medic opened #5365 "Unregistered phone number or person getting an autoreply with correct textform format"
If a valid SMS (correct texform) is sent from an unregistered phone number (not in the hierarchy) is getting autoreply.  `public_form` is set to false in forms is not working. Issue was noticed for textform that were set in patient_reports (Patient Reports) of config.

Issue was posted here
https://github.com/medic/medic-projects/issues/5411

[2019-02-08 09:37] SCdF commented on #5277
@ngaruko what are you doing when you get this error?

[2019-02-08 10:09] #5353 closed

[2019-02-08 13:32] abbyad commented on #5351
Ya, with limited feedback it already sounds like it is potentially useful for us and CHT partners, and worth doing now if it is a quick fix.

[2019-02-08 14:13] dianabarsan commented on #5351
It's not a lot of work, but also not a quick fix per se.
I'm in disagreement with the way this feature is implemented: saving tasks (along with all their history) in the `clinic` document. It can, over time, create huge documents with data that is irrelevant to anyone except our backend stack (Sentinel, API & Gateway) as we do not display this information anywhere in the webapp.

I think it would

[2019-02-08 15:13] newtewt commented on #5315
I've only seen it in the situation described in 5427. Spent some time trying to get it to happen on gamma.dev(3.3.0-beta.3) with firefox and incognito chrome. I did not see this occurring.

[2019-02-08 15:36] dianabarsan opened #5369 "Message-utils defaults to sender when recipient is explicit"
This is how the recipient phone number is determined at the moment:
https://github.com/medic/medic/blob/acff94a24775080ffda5927570757c6c0ffe99b6/shared-libs/message-utils/src/index.js#L105

where
- `phone` is valid if `recipient` is an expression (`clinic`, `reporting_unit`, `report.contact.phone` etc) that is valid against the context
- `from` is `report.from || (report.contact && report.contact.

[2019-02-08 21:06] wtekeu commented on #5298
@garethbowen is there a reason behind the reliance on `window.onerror` vs AngularJS error handler `$exceptionHandler`: https://docs.angularjs.org/api/ng/service/$exceptionHandler ?

[2019-02-09 04:30] newtewt commented on #5348
@SCdF  purging completes properly. The home_visit docs are not available anymore after refreshing and getting into the app.

[2019-02-10 20:46] garethbowen commented on #5348
I'm trying to work out if this is a blocker for 3.3.0 or if we should add it to 3.5.0.

@newtewt Do you have any idea how often this would happen?

@SCdF I'm leaning towards bumping it - what do you think?

[2019-02-10 20:54] newtewt commented on #5348
This happens consistently for the filysa user on first replication and purging. So it is reproducible. However, I logged in as user madinagu and didn't experience that error. This user has more docs than filysa user.

[2019-02-10 21:04] garethbowen commented on #5348
Have you tried wiping the `filysa` user db, or logging in as them on another device? It's possible the db has been corrupted and isn't recovering.

[2019-02-10 21:30] newtewt commented on #5348
I'm wiping all the data in the Android app. I would need to try another device to be sure as I can't remember off the top of my head right now.

[2019-02-10 21:37] garethbowen commented on #5351
Oh man, you're right, that's horrible for smartphone users. It's so far out of sync with how we work now. Let's drop it and list it as a breaking change. If people want it we can rebuild it in a way that's consistent with the current workflows.

It may be that we run nools on the server and generate tasks which are SMSed to SMS users and displayed in the tasks tab to smartphone users or something

[2019-02-10 21:40] garethbowen commented on #5348
That's messed up. @SCdF Would you mind investigating this user to see if they have a dodgy doc or purge configuration that's messing them up? The goal is just to get 3.3.0 to the point of go/no-go so if in your opinion this isn't required then bump it out to 3.5.0 and we'll pick it off the stack when we get to it.

[2019-02-10 21:45] garethbowen commented on #5315
@SCdF It sounds like this only affects dev environments, and it should be fixed once and for all by service workers. Are you happy for me to close it out?

[2019-02-10 21:51] garethbowen commented on #5298
@wtekeu Ooh nice one. Originally the code was executed from other places (eg: kanso) so it couldn't use angular services which is why it's in `/webapp/src/js/modules/`. Now that we've finally gotten rid of kanso we can make it an angular service and use other services. Feel free to make that change, or raise a separate issue to make that change. Thanks!

This would possibly also fix an issue we ha

[2019-02-10 23:30] ngaruko commented on #4209
Thanks @dianabarsan. I will push it back and check if @peter-ochieng could rework on this to be work with the new changes

[2019-02-10 23:31] #5250 closed

[2019-02-11 03:39] #1212 closed

[2019-02-11 03:41] #1373 closed

[2019-02-11 03:45] garethbowen commented on #1688
Duplicate of #4502

[2019-02-11 03:45] #1688 closed

[2019-02-11 03:47] garethbowen commented on #1419
Won't fix - appcache is gone.

[2019-02-11 03:47] #1419 closed

[2019-02-11 09:45] SCdF commented on #5348
I'm on it

[2019-02-11 09:48] #5315 closed

[2019-02-11 10:10] SCdF opened #5372 "RFC: An `_id` scheme for Medic 4.0"
**NB:** This is in the 4.0 "some day" project because it's obviously a huge change that would require nearly all documents to be rewritten and all offline users to re-replicate. We have quite a few of these ideas and are slowly collecting them together so we can try to only do this once.

This ticket exists to create discussion and provoke thought on how we could use this incredibly rare opportuni

[2019-02-11 15:07] dianabarsan opened #5373 "Update_Clinics searches by refid should be case insensitive"
The `update_clinics` transition fails to match contacts by `refid` when doc `refid` is not uppercase, because the view only indexes by uppercase `rc_codes`.

https://github.com/medic/medic/blob/3f6755670bc6eb7556d3ff18c243fba5d8906685/sentinel/src/transitions/update_clinics.js#L49

vs

https://github.com/medic/medic/blob/3f6755670bc6eb7556d3ff18c243fba5d8906685/ddocs/medic-client/views/contacts_by

[2019-02-11 15:49] derickl commented on #5255
Probably worth back porting given MUSO's now frequent incidences of 502s.

[2019-02-11 16:45] SCdF commented on #5348
So it took four different devices, but I managed to replicate it, on our old friend the Tecno Y4.

It's unclear why it happens on that device over the others, though it is the worst device I have.

@newtewt can you post a user who does succeed compared to this one, and specifically:
 - How many documents they have in total
 - How many documents get purged for them

I'm trying to work out if there

[2019-02-11 16:50] newtewt commented on #5348
@SCdF Here are the two users I'm using on the wx3 and seeing the error. I tried on my pixel 2 and tecno J5 with no errors.  Let me know if you want more.

user | total | number of docs after purging | sees error | device
-- | -- | -- | -- | --
filysa | 4792 | 2467 | yes | tecno wx3
madinagu | 14751 | 7255 | no | tecno wx3

[2019-02-11 17:47] SCdF commented on #5348
So I'm guessing that we're using a WX3 because Muso people have them deployed?

[2019-02-11 17:49] newtewt commented on #5348
I believe so. @abbyad  mentioned that is what the CHW's are using in Mali.

https://medic.slack.com/archives/C02LFG69T/p1547677473108500?thread_ts=1547670638.106300&cid=C02LFG69T

[2019-02-11 19:43] ngaruko commented on #5271
LGTM.
Tested on latest master

[2019-02-11 19:43] #5271 closed

[2019-02-11 20:04] newtewt commented on #5307
Seeing the translation now.

[2019-02-11 20:04] #5307 closed

[2019-02-11 20:23] garethbowen commented on #5255
@derickl Have those crashes been investigated? How confident are we that it's this issue causing them?

[2019-02-11 21:03] newtewt commented on #4598
@wtekeu  Hey could you summarize what was changed for this ticket. I see a bit of back and forth just want to ensure testing of the right things here.

[2019-02-11 22:43] wtekeu commented on #4598
@newtewt if the `message_key` exists and the message returned is exactly equal to the `message_key` then I error the message and it will never be sent.
<img width="753" alt="49602282-1800a800-f956-11e8-896d-d6baf9f9d169" src="https://user-images.githubusercontent.com/1445164/52598531-05a65d00-2e24-11e9-9cba-68eb4bf29fd7.png">

[2019-02-11 22:57] dianabarsan commented on #5255
I am fairly confident this is the issue that is causing them.

Reasons:
1. Api doesn't actually crash, it just becomes extremely slow to answer any request (if it crashed and auto restarted, we wouldn't need manual intervention). There are no errors in the logs.
2. Every time we see this issue, Grafana shows app memory at ~13GB.
3. When API is restarted, app memory drops to ~5GB.
4. Node apps are

[2019-02-12 00:57] ngaruko commented on #5272
LGTM
![image](https://user-images.githubusercontent.com/6979995/52603992-0d224080-2ece-11e9-8a61-2e8b25158592.png)

[2019-02-12 00:57] #5272 closed

[2019-02-12 01:51] ngaruko opened #5376 "Report Bug not working for admin users"
_Brief description of bug encountered_.

**Steps to reproduce**:
 - _Log in as admin user_
 - _Go to menu > Report Bug_
 - _Click `Submit button without filling any info into the text box_

**What should happen**:
 - _An error message should show like so: _
![image](https://user-images.githubusercontent.com/6979995/52605467-df3ffa80-2ed3-11e9-997b-696eac505d55.png)
(this works as expected for rest

[2019-02-12 03:16] garethbowen commented on #4757
Closing as a duplicate of medic/medic-infrastructure#4

[2019-02-12 03:16] #4757 closed

[2019-02-12 03:24] garethbowen commented on #4694
@wtekeu Is this ready for AT again? Has it been backported to 3.4.0?

[2019-02-12 03:40] garethbowen opened #5377 "Make a sentinel adapter for NiFi integration"
By integrating to Apache NiFi we can configure integration with third parties without having to support all possible APIs natively. In the MUSO IN this could be used to integrate with the bespoke SIH system.

A proof-of-concept exists in [a branch](https://github.com/medic/medic/tree/nifi-transition). Make it production ready, including:

- retries if NiFi is down
- filter out the spam - can we re

[2019-02-12 04:44] ngaruko commented on #5082
I still see this error @kennsippell . But I am testing on local atm. Do you think it is a parameter that is not maybe defined on the local env and would rather work on our server?
Firefox: ![image](https://user-images.githubusercontent.com/6979995/52612230-bcbadb00-2eed-11e9-8c5d-9dfb4d9258c4.png)

Chrome:
![image](https://user-images.githubusercontent.com/6979995/52612264-d1976e80-2eed-11e9-9f8e-

[2019-02-12 07:23] sergey-safarov commented on #4757
Reference ticket public is not accessible.
Looks as other guys not be able to track this ticket.

[2019-02-12 09:06] ngaruko commented on #5270
This seems to work atm. However, I have left a comment around related issue [#5082](https://github.com/medic/medic/issues/5082#issuecomment-462613787) @kennsippell . Will keep this open as reminder for now.

[2019-02-12 11:27] SCdF commented on #5348
So I'm going to remove the compaction (optimise) step.

We are already supposedly doing this on every write (and the code seems to exist in PouchDB), and manual compaction is seq based, so it's going to run over the whole changes feed again, which is a lot.

There is no reason this should cause crashes, but there is also no reason for us to manually compact if we're always compacting when we write

[2019-02-12 14:31] wtekeu commented on #4694
Yes, it is ready for AT. @SCdF did you merge it back to 3.4.0?

[2019-02-12 15:08] abbyad commented on #5351
We got two responses in favor of using it, but nothing immediately planned. Although it seems worthwhile to rebuild properly, the projects with SMS workflows do not typically have offline users so I don't think we'd encounter that problem yet.

Also, just a note that these messages should display in the outgoing messages section of the admin console now.

I think this a great longer term vision fo

[2019-02-12 16:53] newtewt commented on #5348
So far this has been working fine on purge-upgrade instance. I haven't seen the crash today. I've initial replicated a few times in browser, tecno wx3, and tecno j5. I'd say let's push a PR and get another 3.3 beta and give it another once over.

[2019-02-12 17:34] SCdF commented on #4694
@wtekeu no I didn't. Unless something else is specified, reviewers will usually just merge to master, and you can use that as carte-blanch to cherry pick those commits into wherever they are supposed to go.

Feel free to drop me a line on slack if the back-porting / forward-porting process is unclear :-)

[2019-02-12 17:51] wtekeu commented on #4694
@garethbowen backport to 3.4.0 done. Ready for AT.

[2019-02-12 21:18] garethbowen commented on #5351
The quick fix is to patch it and leave it updating docs over and over again which is bad for anyone replicating. I don't think there's a quick fix for getting it to behave with decent performance.

The choice for now is to delete it completely, or patch it so it works poorly.

[2019-02-12 21:21] garethbowen commented on #5348
@SCdF I'll leave it for you to merge and backport accordingly. The diff looks fine - we should probably delete the translations for "optimize" at the same time.

[2019-02-12 22:06] newtewt opened #5380 "Check is missing in checkboxes"
Using 3.4 locally I'm seeing only a highlighting on selected checkboxes and no check in the box. This is using chrome. Using the android app against my local env it works fine.  Screenshot below shows the highlight box with no check
---

_Brief description of bug encountered_.

**Steps to reproduce**:
Log in
Navigate to a form that has check boxes. (Immunization Visit)
Check some of the immunizati

[2019-02-12 22:09] newtewt commented on #5186
I'm seeing the forms download correctly after multiple pushes with medic-conf

[2019-02-12 22:09] #5186 closed

[2019-02-12 22:44] #5270 closed

[2019-02-12 23:48] ngaruko commented on #5277
@SCdF Just logging in as admin, go to the admin portal and click `Upgrade instance`.
On `gamma.dev` (running 3.3.x), you get this
![image](https://user-images.githubusercontent.com/6979995/52675909-2a6a1400-2f8d-11e9-8dcb-382d807d000c.png)

and on local (running latest master atm 3.5):
![image](https://user-images.githubusercontent.com/6979995/52675988-6ac99200-2f8d-11e9-9d90-87f6c3355774.png)

[2019-02-13 03:47] garethbowen commented on #5380
@newtewt It's working for me..

Firefox:

![screenshot from 2019-02-13 16-44-49](https://user-images.githubusercontent.com/2064938/52685534-ee47ab00-2fae-11e9-9067-e50234ef978c.png)

Chrome:

![screenshot from 2019-02-13 16-46-17](https://user-images.githubusercontent.com/2064938/52685535-ee47ab00-2fae-11e9-89d4-1e5d2ebcdb13.png)

Can you reproduce this issue on a server I can access?

Are there a

[2019-02-13 04:16] ngaruko commented on #5108
LGTM
![image](https://user-images.githubusercontent.com/6979995/52686507-e2f67e80-2fb2-11e9-9ea7-8d587cb4b70e.png)

[2019-02-13 04:16] #5108 closed

[2019-02-13 08:39] SCdF commented on #5277
@ngaruko I'm dropping this to low priority because AFAICT this should affect the ability to perform an upgrade, and is only a visual bug that causes an icon to not appear in a view only seen by development builds.

If it is causing upgrading to not work please change it back to high priority and let me know.

What is happening here is some refactor / merge / whatever has caused us to be looking fo

[2019-02-13 08:44] SCdF commented on #5372
As people find the conversation flow easier in docs, I've converted it into a google doc: https://docs.google.com/document/d/1n1Ki1VOwvYpnUhFJgh0bDX0iG8ieal_v0tXSs92o-O8/edit#heading=h.hi7vwy216bu5

[2019-02-13 13:12] newtewt commented on #5380
Nothing in console. I'll confirm once we get this onto a test instance and close or update.

[2019-02-13 17:38] newtewt commented on #5319
I'm trying to reproduce this in 3.3.x and not seeing it hang. I assume I don't have enough docs.  Was hoping to do a before and after check to call this good.

[code]

[2019-02-13 20:25] amandacilek opened #5381 "Add an SMS page to the admin app to group SMS messaging configuration tasks together"
- [x] **Create a new high level page called "SMS"**.

- [x] **Create three tabs on the SMS page:**
- _Basic SMS settings_ with some content formerly on the Settings page (country code, phone number conversion, gateway number, messaging window, accept plain text messages)
- _SMS forms_ (formerly the “JSON” tab on the forms page)
- _Test message_ (what is currently the page called “Message test”)

[2019-02-13 20:26] amandacilek opened #5382 "Add a Display page to the admin app to group UI configuration tasks together"
- [ ] **Create a new high level page called “Display”**.

- [ ] **Create three tabs on the Display page:**
- _Date & time_ (contains “Date display format” and “Datetime display format” fields from the old Settings page)
- _Languages_ (contains accordions of languages available and the add new language button.)
- _Translations_ (retains all of the existing content from the tab currently called “App

[2019-02-13 20:28] amandacilek opened #5383 "Move "Settings > Backup & restore" to "Backup app code" in the admin app"
Move “Backup & restore” from the Settings page into a separate high level page, and name the page “Backup app code”.

[2019-02-13 20:35] amandacilek opened #5384 "Rename and reorder admin app navigation"
Assumes that tickets #5381 #5382 #5383 have already been completed.

- [x] Change the overall site name to “App Management”
- [x] Rename the “Upgrade instance” page to “Upgrades”
- [x] Rename “Import & export” to “Import & export data”
- [x] Rename "Forms" to "App forms"

- [x] Reorder the pages in the main navigation list as follows:
- **Display** > 3 tabs (Date & time, Languages, Translations)
-

[2019-02-13 20:58] amandacilek opened #5385 "Update text on admin app Display page"
Assumes that #5382 is already done

**Languages tab**
- [x] Add text above the accordion: “Enabled languages will be available to users as an option when they select their primary language. We recommend picking 1-3 supported languages and disabling the rest. Of the enabled supported languages, there should be 0 missing translations.”
- [x] Change the “Edit” button/text next to individual languages

[2019-02-13 21:01] garethbowen commented on #5277
@SCdF I think what @ngaruko found is a completely separate issue. Do you agree Bede?

If so, could you raise a new issue for the one you found and I'll triage it, and then if the original issue is fixed (which it looks like it is) close this one?

[2019-02-13 21:05] garethbowen commented on #5319
@newtewt I think the bug was introduced in 3.4.x and fixed in 3.4.x so you won't be able to reproduce it in 3.3.x. What I was seeing is it saying "processing doc x" with the same value for x over and over again, so what you're seeing proves it works. If you can run this same test on 3.4.x and get the same output I think we can close this.

[2019-02-13 21:11] amandacilek opened #5386 "Update text on admin app User page"
**Main page**
- [x] Add a page title “Users” at the top of the page above the button and table

**Add/edit user pop-up windows**
- [x] Add text below “User name” field title:  “This is what you will use to log in to the app.”
- [x] Add text below “Full name” field title: “Note: This is not currently displayed anywhere in the app.”
- [x] Add text below “Phone” to describe desired format: “Please en

[2019-02-13 21:24] newtewt commented on #5319
Awesome, I have upgrade the my local instance to 3.4.x and seeing it process as above.

[2019-02-13 21:24] #5319 closed

[2019-02-13 21:28] amandacilek opened #5387 "Update text on admin app SMS page"
Assumes that #5381 is already completed.

**Basic SMS settings tab**
- [ ] Change “Phone number conversion” to say “Country code conversion”

**SMS forms tab**
- [ ] Change the “Import” button to say “Upload”
- [ ] Add text at the top of the upload forms section “You need to choose both an XML file and a Meta file before clicking the upload button. You may only upload one app form file at a time a

[2019-02-13 21:38] amandacilek opened #5388 "Update text on admin app App forms page"
Assumes #5381 and #5384 are already done.

This "Forms" page should now only be one page (no tabs) with the content from the original Forms > XML tab. The JSON forms have been moved to the SMS -> SMS Forms tab.

- [ ] Both: Change “Upload forms” title to “Upload app forms”
- [ ] SMS Forms only: Edit the text at the top of the upload forms section to say "The file should contain a JSON encoded list

[2019-02-13 21:48] amandacilek opened #5389 "Update text on admin app Targets page"
**Main page**
- [x] Add text explanation of what “Disable” does at the top above the Disable button: “If you click “Disable”, the targets tab will be hidden for all users.”
- [x] Also at the top, add note about what it means to set a negative goal “If target goals are enabled, all Unique IDs must have a value in the “Goal” field. If you don’t want a certain target to have a goal associated with it

[2019-02-13 21:50] dianabarsan opened #5390 "The accept_patient_reports transition clears sent tasks"
If `accept_patient_reports` has a form configuration with `silence_for`, when matching which tasks to be cleared, statuses are not taken into consideration.
This can lead to tasks that are in not in a pending type state to be set to `cleared`.

[2019-02-13 21:55] amandacilek opened #5391 "Update text on admin app Images page"
**Icon tab**
- [x] Add text at the top “Images uploaded here are used throughout the application in various places as specified in the application code. For example, the image that appears for a particular widget in the Targets page is specified in the Target code. You can upload images one at a time, and if you upload an image with the same name as an existing image, it will be overwritten with t

[2019-02-13 22:08] amandacilek opened #5392 "Update text on admin app Upgrades page"
- [x] In the current version information, change “At” to “On” (“at” is for times, “on” is for dates”)
- [x] At the top, below the current version information but before the upgrades, to explain the difference between stage and install: “To upgrade your application to a specific release, beta, or branch, it is recommended that you stage first. This allows for background work to be done to prepare t

[2019-02-13 22:11] amandacilek opened #5393 "Update text on admin app Import & Export page"
- [x] Change the “Import” and “Export” buttons to say “Upload” and “Download” (all tabs)

Messages tab
- [x] Add text before the “Download” button: “Download all messages that have ever been sent or received in CSV format.”

Reports tab
- [x] Add text before the “Download” button: “Download a summary of all the  reports that have ever been submitted in CSV format.”

People tab
- [x] Add text befor

[2019-02-13 22:18] amandacilek opened #5394 "Update text on admin app Backup page"
Assumes #5383 has already been created

- [x] Change text at the top: “Here you can download or upload the application settings in JSON format. This JSON contains most of the application code other than forms, icons, and translations.”
- [x] Change “Backup current settings” to “Backup application code”
- [x] Change “Upload new settings” to “Upload application code”

[2019-02-13 22:21] garethbowen commented on #3391
@vimemo Is this now ready for AT again?

[2019-02-13 23:28] ngaruko commented on #5277
Thanks @SCdF . I agree with you: this is a minor issue that shouldn't get in the way of a release. Indeed, I will close this and raise the console error issue differently, if needed...

[2019-02-13 23:30] #5277 closed

[2019-02-14 01:30] ngaruko commented on #5229
Any clue on how to AT this @dianabarsan ?

[2019-02-14 07:34] dianabarsan commented on #4694
I found an issue related to this while writing up Sentinel E2E tests.

Currently, there are 2 mechanisms that update registrations as part of `accept_patient_reports`:
1. the old SilenceReminders mechanism
2. the new addReportUUIDToRegistration mechanism

The `addReportUUIDToRegistration` runs first and updates the registration. If `SilenceReminders` wants to silence a task from same registration,

[2019-02-14 07:51] vimemo commented on #3391
@garethbowen, looks like @Hareet has this currently in-progress.

[2019-02-14 08:15] dianabarsan commented on #5229
@ngaruko
You should make sure that the `resources` doc only gets requested if needed.
So login as admin, open the network tab and search for `resources` and refresh the app. Upon load, the `resource` doc should be downloaded **once**. Then navigate to reports or people and paginate, add new reports and so on, keeping an eye on the network tab to make sure that the `resources` doc is not redownload

[2019-02-14 08:35] garethbowen commented on #4694
@dianabarsan Good find. I think that should probably be fixed as part of this. Sentinel shouldn't ever conflict with itself...

[2019-02-14 09:36] Hareet commented on #3391
@vimemo @garethbowen I still have to deploy the new images on gamma-dev. Will comment here when its done

[2019-02-14 10:10] SCdF opened #5395 "`fix-user-db-security` migration needs to be optimised for larger databases"
It currently doesn't do any batching, and generates N parallel PUT requests to CouchDB, where N === the user count.

This is almost certainly A Bad Idea™ for larger databases.

We should at least not make those PUTs all concurrent.

This should be backported to 3.2.x.

[2019-02-14 10:12] SCdF commented on #5348
I made enough changes after @garethbowen 's comment that I made a PR and have linked it to Gareth.

@garethbowen leave it to me to merge / forward port.

[2019-02-14 11:47] Hareet commented on #3391
@vimemo @ngaruko Fixes deployed on `gamma.dev`. Re-deploy of medic-os container reverted it to release `3.2.0`, so you need to upgrade it to whichever branch again.

[2019-02-14 15:15] dianabarsan commented on #5373
I was wrong, the code that saves `refid` field uppercases the value prior to assignment.
Closing.

[2019-02-14 15:15] #5373 closed

[2019-02-14 19:36] amandacilek opened #5400 "UI/UX updates on admin app Users page"
Assumes text updates in issue #5386

**Main page**
- [ ] For “Place” and “Contact” columns, display the actual names of the places/contacts instead of just a checkmark.
- [ ] It is not intuitive that clicking on a row will allow you to edit. On hover, display an “Edit” button on the right side of the row where “Delete” is now. Keep the whole row as the click target.
- [ ] Move the delete button fr

[2019-02-14 19:42] amandacilek-zz opened #5401 "UI/UX updates on admin app Roles & permissions page"
**Roles (main page)**
- [ ] Consolidate the two permissions & roles tabs into one single page. The content from the roles tab should appear first on the main page (the table of all of the roles). You should then be able to click on a role to see all of the individual permissions for that particular role.
- [ ] On hovering over a row, the row background should change to grey, the mouse arrow should

[2019-02-14 21:22] amandacilek opened #5402 "UI/UX updates on admin app SMS page"
Assumes #5381 and #5387 are already done.

**Basic SMS settings**
- [ ] UI tweak Add more white space between sections

**SMS forms**
- [ ] Upload forms error message should be more detailed to explain the problem and solution. For example: If you click on the “Upload” button without first selecting any files, the message simply states “Upload failed”. Why don’t we say something like “Upload faile

[2019-02-14 21:33] amandacilek opened #5403 "UI/UX updates on admin app App forms page"
Assumes #5388 is already done. This page should now only be one page (no tabs) with the content from the original Forms > JSON tab.

- [ ] Add more white space between the “Upload forms” and “Installed forms” sections.
- [ ] Restrict the size of the icons in the installed forms sections so that ALL icons display at the same size. On gamma.dev currently some are displaying much larger than others.

[2019-02-14 22:51] garethbowen commented on #5348
@newtewt @ngaruko I've merged this into 3.3.x so AT (and hopefully RT) can start. Wait for the build to finish and you'll be all good.

[2019-02-14 22:56] garethbowen commented on #5348
@SCdF To get AT unblocked I've ignored your directive and merged the PR. I also forward ported to `3.4.x` and created a PR for you to merge into `master`.

[2019-02-14 23:28] garethbowen commented on #5369
Nice one!

I've merged it into `master` - I'll leave it with you to publish to npm and update dependencies.

[2019-02-15 00:14] garethbowen commented on #5395
The good news is, Stefan has already fixed this here: https://github.com/medic/medic/commit/2763c05c31fd53f87f8f48b65f887eca8ddb406e

I've backported it to `3.3.x` here: https://github.com/medic/medic/commit/f534da5d2f05eac1b827d229c17124d889e3752b

I think this should be released in 3.3.0 instead of making a new 3.2.2 because any new release on 3.2.x will require RT for a few days and delay 3.3.0

[2019-02-15 00:18] garethbowen commented on #5395
AT: Run the "fix-user-db-security" on a database with a large number of users and make sure it passes and that each request to set user security in the CouchDB log is made one at a time and not all as quickly as possible.

[2019-02-15 04:01] garethbowen opened #5405 "Can't edit translation terms for new keys"
**Steps to reproduce**:
1. Log in to the admin console
2. Go to Languages > Application Text
3. Click Add Translation
4. Fill in the key but no terms
5. Submit
6. Edit the translation
7. Provide an English translation
8. Submit

**What should happen**:
The translation is updated.

**What actually happens**:
The translation is unchanged, no errors.

**Environment**:

- Instance: local
- Browser: Fi

[2019-02-15 07:31] dianabarsan commented on #5380
I'm seeing this as well in Chrome 72 on latest master.
Not seeing it in Chromium 71 or Firefox.

Apparently Chrome 72 doesn't render this (coming from Enketo css):
`background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='#{$color-stroke}' fill='#{$color-fill}' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M25.1 12.5l-3.4-3.3-8 8-2.9-3-3.4 3.4 6.3 6.3z'

[2019-02-15 07:41] garethbowen commented on #5380
I can reproduce this now that my Chromium has updated to 72. Fun...

[2019-02-15 07:45] garethbowen commented on #5380
This may be the issue: https://stackoverflow.com/questions/54453987/did-chrome-72-break-dataimage-svgxmlutf8-for-css-background-svgs

[2019-02-15 07:46] garethbowen commented on #5380
If I encode the `#` as `%23` it works as expected. I'll raise an Enketo issue and overwrite this in our css.

[2019-02-15 08:34] garethbowen commented on #5380
Issue raised with enketo-core: https://github.com/enketo/enketo-core/issues/601

[2019-02-15 10:11] SCdF commented on #5400
Apologies if this is dealt with in another ticket, but we should also paginate this page. If you go onto a partner that has a reasonable number of users this page is really hard to use and takes a very long time to load.

We could even consider having a filter search bar at the top where you can type a name and have it live-return filtered results back. Due to CouchDB being CouchDB it's hard to do

[2019-02-15 10:15] SCdF commented on #5348
Coolio, so:
 - you merged into 3.3
 - you forward ported into 3.4
 - I merged into master
 - there is no 3.5

\*\*breathes out\*\*

[2019-02-15 10:17] dianabarsan opened #5409 "Errors when navigating away from edited forms"
We have a feature that shows a popup when navigating away from an edited form: https://github.com/medic/medic/issues/4013 . This is part of 3.3. This is not working as expected in latest code.

**Steps to reproduce**:
- Open the app (user type is not relevant as long as you can open some sort of Enketo form). I will continue to describe steps as if logged in as admin and submitting contact creatio

[2019-02-15 10:45] dianabarsan opened #5410 "Registration transition should calculate dates relative to reported_date"
Currently, `registration` transition calculates three dates:
a. date of birth
b. last menstrual period
c. expected birth date

https://github.com/medic/medic/blob/3d4f54ec5772fc2bcc4f77c68d0e4ab26ad0ebf8/sentinel/src/transitions/registration.js#L221
https://github.com/medic/medic/blob/3d4f54ec5772fc2bcc4f77c68d0e4ab26ad0ebf8/sentinel/src/transitions/registration.js#L155

All of these dates are cal

[2019-02-15 10:50] ngaruko commented on #3391
Logs are now being saved on the server and streamed on `kibana`. However, it looks like these are being truncated when they are too long. Did you want to have another look at this @vimago
here is how it looks on the server:
[code]

[2019-02-15 12:30] vimemo commented on #3391
@ngaruko, we have a limit of 400,000 characters for this at the moment:
https://github.com/medic/medic-infrastructure/blob/master/images/haproxy/haproxy.cfg#L31
Based on your testing and this type of request, how many characters should we capture?
Here is the haproxy documentation about this:
https://www.haproxy.com/documentation/aloha/8-0/traffic-management/lb-layer7/traffic-capture/
@garethbowen

[2019-02-15 12:40] vimemo commented on #3391
@ngaruko, it looks like that is not the limit we are reaching. The 1024 line length default limit is what is truncating this. I will create a pr to increase it. Still, how big do you think the request/post can be?

[2019-02-15 13:18] ngaruko commented on #3391
@vimago Maybe we should log the whole thing up to the allowable limit with haproxy, unless @garethbowen has got a different suggestion.

[2019-02-15 15:49] newtewt commented on #5348
Replicating and purging is occurring as expected. Closing

[2019-02-15 15:49] #5348 closed

[2019-02-15 17:32] dianabarsan commented on #5400
@SCdF depends on which phone number you'd wanna filter by.
There is a phone field in the user form which is saved in the `user-settings` doc, but there is also a phone field in the `contact` doc that is associated to the user.

Since we're suggesting things, I particularly like alphabetical pagination :)

[2019-02-15 20:02] amandacilek-zz opened #5412 "UI/UX updates on admin app Upgrades page"
Related: ticket #5392 (text updates on this page)

- [ ] Align the current version information at the top of the page to the left, merge the fields and answers together e.g. “Version 3.2.0”, and make all the text bold
- [ ] This was also mentioned in ticket #5392 relating to text updates, but please ensure the columns of the tables now have titles.
- [ ] In the “Releases” section, it might be nice

[2019-02-15 22:05] newtewt commented on #5395
Thanks to @dianabarsan  script I was able to add a bunch of users and see the Couchdb crash and then not crash after upgrading the gamma instance properly.

[2019-02-15 22:05] #5395 closed

[2019-02-15 22:58] amandacilek commented on #5400
I agree about the pagination and have added that to the list above, thanks Stefan. I suppose let's save the filter/search functionality for now. I have other pages I'd like similar functionality, and I've put some larger requests like that in a separate backlog.

[2019-02-17 20:12] garethbowen commented on #3391
@vimemo @ngaruko I agree - go for the maximum.

[2019-02-17 21:25] garethbowen commented on #5410
I think you're right, this is a bug. SMS messages in particular should be based of the `reported_date` just in case sentinel gets behind.

The only reason I can think of that this would be wrong is if someone is using the registration transition with enketo forms because we know that CHW phones often have an incorrect date. I'm fairly sure nobody would ever use this transition with enketo forms, b

[2019-02-17 23:36] ngaruko opened #5414 "Unknown replication status/last sync"
_Brief description of bug encountered_.

**Steps to reproduce**:
 - _Log in as restricted user_
 - _Open the options/breadcrumb navigation _
 - _look at the `replication status`_

**What should happen**:
 - _Should show last sync time and replication status_
![image](https://user-images.githubusercontent.com/6979995/52921170-25380b00-3379-11e9-9611-4361237c4c6e.png)

**What actually happens**:
 -

[2019-02-18 06:44] Hareet commented on #3391
@vimemo @ngaruko
Latest HAProxy image (with config change) has been deployed on gamma

[2019-02-18 07:32] ngaruko commented on #5380
This is also happening in 3.3.0 - Shall we back ported it @garethbowen ?

[2019-02-18 08:06] garethbowen commented on #5380
@ngaruko As this only affects Chrome 72 it won't affect any of our users using the android app, which is the vast majority of users who submit Enketo forms. I'm happy leaving it in 3.4.0 at this point so we don't risk slowing down the 3.3.0 release.

[2019-02-18 08:36] kennsippell commented on #5267
Fixed no that Chrome 72 is stable.

[2019-02-18 08:36] #5267 closed

[2019-02-18 08:47] eljhkrr opened #5415 "ANC visit count includes visits specified as not attended in Standard configuration"
ANC visit count displayed on the patient's condition card and used to compute targets include visits specified as not attended within the form. This count is displayed under "Completed visits" in the condition card and affected targets are "Deliveries with 1+ visit" and "Deliveries with 4+ visits".

[2019-02-18 08:48] SCdF commented on #5412
Linking to release notes should be easy initially because it's a guessable URL based on tagged releases (https://github.com/medic/medic/blob/master/release-notes/X.Y.Z.md). However we might want to consider baking it into the release and pull it from there so we don't get into a bind later if this kind of thing changes or we support deploying something else via horti.

[2019-02-18 08:51] garethbowen commented on #5412
I like being able to update them with more information (typos, more details, or known issues) so I'd rather not bake them in. But you're right we shouldn't rely on the URL pattern either. This is covered by #3995

[2019-02-18 08:51] SCdF commented on #5412
Sorry I meant baking the *url* into the release, not the actual text.

[2019-02-18 08:52] SCdF commented on #5412
I also want to pitch for changing the branch releases (only branch releases, not beta or full ones) back to showing a relative date (e.g. "22 minutes ago"). My reasoning is that these are updated over and over again, and so their existence doesn't make clear which actual version they are. So for example if your flow is something like:
 - Dev makes something
 - QA takes a look by deploying the bran

[2019-02-18 08:56] garethbowen commented on #5412
Even then, we are very likely to change the URL in future. If we're good and remember to `git mv` then github will do the redirect but I'm not sure I want to rely on that. Maybe we could use bit.ly or something...

[2019-02-18 09:58] dianabarsan opened #5417 "All reports are highlighted"
**Steps to reproduce**:
 - Login to a 3.3 instance
 - Navigate to reports page

**What should happen**:
 - Reports should appear in the LHS, with white background

**What actually happens**:
 - All reports on the LHS appear highlighted (orange background)

https://gamma.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/

- Instance: _gamma.dev.medicmobile.org, any 3.3.x install_
- Browser

[2019-02-18 10:34] dianabarsan commented on #5417
In addition to this, switching back to non-select mode does not clear the selection:

![image](https://user-images.githubusercontent.com/35681649/52945016-72b47800-3379-11e9-8c54-fe9f656a7bb6.png)

[2019-02-18 11:13] SCdF commented on #5377
@garethbowen I dropped this out of 3.5 as discussed. IDK if you want to delete the ticket, reschedule it or w/e, I'll leave that in your capable hands.

[2019-02-18 12:55] dianabarsan commented on #5414
Merged into `3.3.x`. `3.4.x` replication mechanism is different and likely not affected.

[2019-02-18 13:27] dianabarsan commented on #5417
Caused by changes made as part of https://github.com/medic/medic/issues/4013.

The report highlighting only affects `3.3.x`, as `3.4.x` uses grandchild scopes for LiveList.
Selection list not being cleared when switching `selectMode` affects `3.3.x`, `3.4.x` and `master`.

[2019-02-18 18:05] dianabarsan commented on #4013
I can still see some issues regarding the implementation of this feature:

**Steps to reproduce**
- login as admin
- go to Contacts
- open a form to add a new contact and edit something
- open the Hamburger menu and click on About
- when the navigation warning dialog pops up, click on "Yes" (You want to navigate to the about page).

**What should happen**
- You should be redirected to the About pa

[2019-02-18 18:43] dianabarsan opened #5420 "Optimize deletion of read docs for databases with many users"
A sister of https://github.com/medic/medic/issues/5395 .

When Sentinel receives a delete, it attempts to delete the `read` docs from every user database. It doesn't batch and executes all requests in parallel.

If there are enough users, it sometimes crashes CouchDB (I tested with 1000 users, on 3.3.x with Couchdb 2.3), other times just failing the operation.

[code]

[2019-02-18 18:45] dianabarsan commented on #5420
@garethbowen please advise where we should schedule this.

[2019-02-18 19:11] newtewt commented on #5414
Tested on gamma.dev with 3.3.x branch installed. This is now showing the updated sync time instead of unknown and console shows the timing as well.
[code]

![image](https://user-images.githubusercontent.com/10531066/52971860-02145800-3387-11e9-89ed-46c8ed5057e6.png)

[2019-02-18 19:11] #5414 closed

[2019-02-18 20:38] garethbowen commented on #5377
Let's just leave it unscheduled for now.

[2019-02-18 20:55] garethbowen commented on #5417
@dianabarsan I've merged this in to `3.3.x` but I'll leave it with you to forward port as necessary.

[2019-02-18 20:57] ngaruko commented on #3391
LGMT atm. Thanks @vimago and @Hareet

[2019-02-18 20:57] #3391 closed

[2019-02-18 21:07] garethbowen commented on #5420
I'm not sure how often deletes happen but crashing CouchDB is not ok... I'll look at getting this fixed today.

[2019-02-18 21:45] garethbowen opened #5423 "Confirming navigation away from form doesn't work"
**Steps to reproduce**

1. login as admin
2. go to Contacts
3. open a form to add a new contact and edit something
4. open the Hamburger menu and click on About
5. when the navigation warning dialog pops up, click on "Yes" (You want to navigate to the about page).

**What should happen**
- You should be redirected to the About page

**What actually happens**
- You stay in the same "Contacts" zone,

[2019-02-18 21:45] garethbowen commented on #4013
I've raised a new issue for that bug as https://github.com/medic/medic/issues/5423

[2019-02-18 22:39] newtewt commented on #5417
Looks to be fixed. Nice!

[2019-02-18 22:39] #5417 closed

[2019-02-18 22:56] garethbowen commented on #5420
Merged into `master` and backported to `3.4.x` and `3.3.x` and ready for AT.

For AT: Using an instance with many user dbs log in as an offline user and mark a report as read and sync that to your remote user db. Log in as an admin and delete the doc. Watch the sentinel log for the change to be processed. It may take a while but it should check every user db and delete all the read docs. Ensure se

[2019-02-19 02:17] newtewt commented on #5420
@garethbowen  I haven't seen anything yet to indicate it's going over after deleting. By marking the doc are read you mean Clicking Review then clicking Correct?

[2019-02-19 03:13] garethbowen commented on #5420
You mark a doc as read by selecting it in the LHS. Clicking "review" is a different workflow. If a doc is unread it has this little blue bar at the top right:

![screenshot from 2019-02-19 16-13-20](https://user-images.githubusercontent.com/2064938/52987753-555ad900-3461-11e9-8329-c3b0ca75a898.png)

[2019-02-19 05:40] Jodge commented on #5405
@garethbowen what exactly does "terms" mean here?

[2019-02-19 07:32] ngaruko commented on #5420
LGTM
Sentinel logs show every user db,
![image](https://user-images.githubusercontent.com/6979995/52997351-32dab700-3485-11e9-9c77-5c227ccc3a10.png)

and a final tombstone saving ...
```Feb** 19 20:09:33 gamma-dev gamma-dev-medic-sentinel-logs:  (gamma-dev-546bfc466c-dkgmd) | [2019-02-19 07:09:33] 2019-02-19 07:09:33 INFO: saving tombstone for 11096e274eadfa89fbffb16d940058b0```

No crashes

[2019-02-19 09:15] garethbowen commented on #5405
The "key" is the unique identifier and it's what we use in the code to get the translation. The "terms" are the actual translations into each language, ie: the string that's actually shown in the UI.

[2019-02-19 10:13] dianabarsan commented on #5409
This also affects 3.4.

[2019-02-19 10:20] #5420 closed

[2019-02-19 10:44] dianabarsan commented on #5417
Forward ported to `3.4.x` and opened a PR to merge into `master`.

[2019-02-19 14:23] dianabarsan commented on #5423
I was wrong about the versions here. `3.4.x` includes the ui-router upgrade and has the same behavior as https://github.com/medic/medic/issues/5409 .

I think we can close one of them.

[2019-02-19 16:46] wtekeu commented on #5298
Muso Errors since Jan. 19 2018 (post 3.x upgrade)

info/message | Count
-- | --
Uncaught InvalidStateError: Failed to execute 'index' on 'IDBObjectStore': The transaction has finished. | 319
Uncaught Error: Could not resolve 'undefined' from state 'about' | 84
Uncaught Error: Could not resolve 'undefined' from state 'home' | 56
Uncaught Error: Could not resolve 'undefined' from state 'error' | 14

[2019-02-19 18:56] derickl commented on #5298
MUSO was on 2.8.x until April 2018 (2.16) then in Sep/Oct 2018 (2.18), then Jan/Feb 2019 (3.x)

[2019-02-19 18:58] wtekeu commented on #5298
Sorry, I meant Jan. 19 20**19**

[2019-02-19 19:43] newtewt opened #5431 "Navigate away from form dialog shown when completing a task"
The dialog that you are navigating away from a un-saved form is shown on submit from a task.

**Steps to reproduce**:
Navigate to a person/place that has a task. Or navigate to the tasks page.
Complete a task

**What should happen**:
The task is completed and user is returned.

**What actually happens**:
The task is completed and the dialog  `This form is not finished. You will lose your data if y

[2019-02-19 20:06] amandacilek commented on #5412
Totally fine with that. I asked about the inconsistency with the date formatting earlier and Gareth said "The exact time of release is only important for branches, which change a lot." The reasoning makes sense but the different styling just looks like an oversight so I like the idea of having the "Date" column formatted the same for all three sections (displaying relative calendar date).

[2019-02-19 20:32] newtewt opened #5432 "Selecting no language and submitting is showing translation keys instead of default app language"
A new user is prompted to select which language they want to use on log in. If the user selects nothing and presses submit they are dropped into the app and the translation keys are shown. Watching the caught exceptions  there is one for `./locale/undefined` and looking at the cookie it is set to undefined.

**Steps to reproduce**:
Create a new user
Log in with that user
When prompted to select a

[2019-02-19 20:38] garethbowen commented on #5351
@abbyad What do you think?

[2019-02-19 20:42] amandacilek opened #5433 "UI/UX updates on admin app Targets page"
**Main page**
- [ ] It is not intuitive that clicking on a row will allow you to edit. Move the delete button into the edit details page. Keep the whole row as the click target, but add an “Edit” button/text on the right side.
- [ ] The Edit button should be 30px tall by 60px wide, and the text should be our standard 16pt size.
- [ ] Ensure that all of the icon images on the left are set/restricte

[2019-02-19 20:52] garethbowen commented on #5423
Ok great. Closing this one.

[2019-02-19 20:52] #5423 closed

[2019-02-19 20:52] amandacilek-zz opened #5434 "UI/UX updates on admin app Import & export page"
Relates to ticket #5393 (text updates on this page).

**People tab**
- [ ] Add more white space between sections, it is all currently mushed together. Add more space between the “Export” and “Import sections.

**User feedback tab table**
- [ ] Add a column to display the name of the actual user who reported the bug
- [ ] Add column titles (Sender, Date, Message)
- [ ] If we don’t already, paginate

[2019-02-19 20:56] garethbowen commented on #5298
We should be able to track down where these two are coming from:

- "Uncaught Error: Could not resolve 'undefined' from state 'xxx'"
- "Uncaught TypeError: Cannot read property 'scrollIntoView' of undefined"

The IDB one looks like a PouchDB issue we get from time to time which will be very hard to track down.

[2019-02-19 20:57] garethbowen commented on #5417
Merged into `master`.

[2019-02-19 21:36] amandacilek-zz opened #5435 "UI/UX updates on admin app Images page"
Relates to #5391 (text updates to this page)

**Images tab**
- [ ] After selecting an image file with the “Choose file” button, nothing appears to happen. If possible, we should display the file name of the selected item on screen. At the very least, we should display a generic message like “File selected” to provide feedback to the user.
- [ ] What if I uploaded an icon in error or simply want to

[2019-02-19 21:44] ngaruko opened #5436 "Images page not working in the admin console"
_Brief description of bug encountered_.

**Steps to reproduce**:
 - _Log on as admin_
 - _Go to `/medic/_design/medic-admin/_rewrite#/images/icons`_
 - _or click on Images_

**What should happen**:
 - _the Images page should show_
![image](https://user-images.githubusercontent.com/6979995/53049312-a7e8d380-34fb-11e9-9853-56f34a3c3d7a.png)

**What actually happens**:
 - _Nothing happens in the UI_

[2019-02-19 23:20] amandacilek opened #5437 "UI/UX updates on admin app Display page"
Assumes that #5382 and #5385 have already been completed.

**Date & time**
- [ ] Move any explanatory grey text up so it is between the bold field titles and the dropdowns/input boxes (so you read the detailed instructions first, before you input anything)

**Languages**
- [ ] (Nice to have) Ship an initial instance with all languages disabled by default and then have the user go in and enable the

[2019-02-19 23:21] ngaruko opened #5438 "Errors on Targets page"
**Steps to reproduce**:

* _Log on as admin_
* _Go to `/medic/_design/medic-admin/_rewrite#/targets`_
* _or click on Targets

**What should happen**:

* _The Target page should show (probably with default targets that ship with the app: speaking under correction: should we have any targets for a fresh install @abbyad ) like so: _
![image](https://user-images.githubusercontent.com/6979995/53054557-

[2019-02-19 23:26] amandacilek commented on #5437
Moving this conversation here:

@garethbowen  suggested "Consider dropping the Enabled column and instead greying out disabled ones and putting them at the bottom of the table."

I don't mind the idea of styling disabled languages differently and moving them to the bottom of the list. But I think whether or not we do this should depend on whether we will still ship with all languages enabled by de

[2019-02-19 23:43] garethbowen opened #5439 "Validate target ID uniqueness"
When creating Targets in the admin app you have to provide a unique ID but we don't have any validation to ensure the ID isn't a duplicate. This causes bugs [like this one](https://github.com/medic/medic/issues/5438).

Add validation when creating or updating Targets which stops users submitting duplicate IDs.

[2019-02-19 23:44] garethbowen commented on #5438
@ngaruko I could reproduce this when I created two targets with the same unique ID. I've removed a couple of duplicates from the configuration on gamma.dev which has resolved this issue, and created an issue to add validation to stop this happening again.

As this was due to misconfiguration I think this isn't a blocker for 3.3.0. What do you think?

[2019-02-19 23:56] ngaruko commented on #5438
Agree with you @garethbowen . It is not a blocker for 3.3 - works well on a local environment with no duplicates.

[2019-02-19 23:59] garethbowen commented on #5436
This was caused by a [bad backport](https://github.com/medic/medic/commit/1c03cf813abb0817d50ad1af7ed83425f3e2fd97) which changed the state name to one that doesn't exist in 3.3.0.

[2019-02-20 00:03] garethbowen commented on #5438
Closing - should be fixed with validation.

[2019-02-20 00:03] #5438 closed

[2019-02-20 00:09] garethbowen commented on #5436
Merged to `3.3.x`. Not a problem in `3.4.x` or `master.

[2019-02-20 00:32] amandacilek opened #5440 "Add explanatory text about permissions to the admin app"
Add explanatory text about what the various permissions mean. Some are fairly self explanatory but others aren’t (for example, “can_view_unallocated_data_records”). It is hard for someone not intimately familiar with our app to understand what all of these mean.

Suggest that a developer make the first pass looking at the code to see what each permission actually does. When the first pass is done,

[2019-02-20 03:36] ngaruko commented on #5436
LGTM

[2019-02-20 03:36] #5436 closed

[2019-02-20 07:39] garethbowen opened #5442 "Implement a better algorithm for showing or hiding beta releases"
The upgrades page in the admin app tries to determine if an instance is a production instance or not, only showing the unstable beta and branch releases if it's not. To determine if the instance is production we use a regex which essentially checks the end of the domain for `.app.medicmobile.org`. However with CHT and self-hosting instances won't be at `medicmobile.org` so this isn't a reliable te

[2019-02-20 07:39] garethbowen commented on #5442
My first thought is a flag in app settings but there may be a more reliable way...

[2019-02-20 07:57] garethbowen opened #5443 "Server side purge"
We recently added document purging on the client side which works really well for periodically deleting docs that are no longer needed. However because of the way it works it has to download the docs before it can determine if they should be purged. This will cause issues for people starting with a large number of docs, for example, if an existing user wipes the app or gets a new phone.

Instead,

[2019-02-20 08:20] garethbowen commented on #4972
Done.

[2019-02-20 08:20] #4972 closed

[2019-02-20 08:23] garethbowen commented on #3639
Do this issue at the same time: https://github.com/medic/medic/issues/4926

[2019-02-20 08:40] #4184 closed

[2019-02-20 08:44] garethbowen commented on #4014
Closing this. I'm not comfortable switching implementations which aren't guaranteed compatible, and I don't think this will save much of dem bits anyway.

[2019-02-20 08:44] #4014 closed

[2019-02-20 08:47] garethbowen commented on #3249
Duplicate of #649

[2019-02-20 08:47] #3249 closed

[2019-02-20 09:15] Hareet commented on #3142
Fairly certain 3.x projects are handling compaction correctly. But I'd like to confirm the large partner is handling it okay.

@henokgetachew Can you investigate on Muso Mali?

[2019-02-20 10:10] henokgetachew commented on #3142
We ended up finding out that most of the compaction issues were caused by there not being enough free space.  Medic-bot gives weekly notifications about compaction not working correctly and muso hasn't been in that list in last week's test as well.  I'm going to close this as taken care of.

[2019-02-20 10:10] #3142 closed

[2019-02-20 17:07] newtewt commented on #5431
COOOL no more message on task completion.

[2019-02-20 17:07] #5431 closed

[2019-02-20 17:18] newtewt opened #5445 "Report page is blank after cancelling navigation confirm dialog"
Creating a new report. Editing something to mark it as changed. Then navigating away shows the are you sure dialog. The report behind is blanked out. Pressing no dismisses the dialog but the page is blank.

**Steps to reproduce**:
Navigate to a person.
Click new action
New Pregnancy or any other report
Make some change to defaults to mark the report as dirty
Click away to trigger the are you sure

[2019-02-20 20:29] garethbowen commented on #5445
Merged into `3.3.x` to keep the release train running. @dianabarsan I'll leave it with you to forward port as necessary.

[2019-02-20 21:01] dianabarsan commented on #5445
For 3.4 (and 3.5) I've already written up a fix that covers this and others - can be seen here https://github.com/medic/medic/pull/5444 . I just wanna check it one more time before requesting a review.
So no forward port necessary.

[2019-02-20 21:13] newtewt commented on #5445
Looks good!

[2019-02-20 21:13] #5445 closed

[2019-02-21 04:12] ngaruko opened #5447 "Remove unused permissions"
We have dropped certain features like `export audit` and `export server logs` but we still have permissions hanging on the[ admin portal](https://gamma.dev.medicmobile.org/medic/_design/medic-admin/_rewrite#/authorization/permissions).

![image](https://user-images.githubusercontent.com/6979995/53143082-62133480-35fb-11e9-8ce8-5623eb7b8c76.png)

![image](https://user-images.githubusercontent.com/6

[2019-02-21 06:37] isaacholeman commented on #5198
I was wondering if we could start using  a tag to track  issues like this that are directly intended to support a more collaborative community and lower barriers to entry for new devs and people who aren’t working for Medic Mobile. Something like _FOSS Community_ or _CHT Community_? @garethbowen @abbyad @CescaGarrett

[2019-02-21 08:55] garethbowen commented on #4262
@derickl Did the workaround from Sharon work? Can we close this or is there anything more we can do here?

[2019-02-21 09:33] Hareet commented on #5362
@derickl This looks like the solution for `malabawc` on CBHIPP

[2019-02-21 11:06] dianabarsan commented on #4694
I've merged this into `master`. @wtekeu , would you, please, backport it to `3.4.x`?
There are some unit tests that need to be fixed because `3.4.x` is missing this fix: https://github.com/medic/medic/commit/d2b930ee6ab8b12f092b831c081c71f33d476773 . Thanks!

[2019-02-21 15:30] wtekeu commented on #4694
@dianabarsan backport done!

[2019-02-21 17:27] dianabarsan commented on #5390
This [commit](https://github.com/medic/medic/commit/08cf7af8f5d76e18e4d318e7ad61af73901cb0d3) has pushed the changes of this issue to `3.4.x` , so moving this to `3.4.x` to be AT-ed.

[2019-02-22 13:49] dianabarsan commented on #5409
Merged in to `master` and backported to `3.4.x`

[2019-02-22 19:33] kennsippell opened #5451 "Medic-config uploads puring function "purging" but webapp looks for function named "purge""
1. Create a `purging.js` file in a medic configuration directory
1. Upload the config (eg. `medic-conf --instance upgrade-muso-mali.app compile-app-settings upload-app-settings`)
1. Wait for purging to run on initial replication.

Expected: Purge
Observed: No purge rules configured, skipping

Here in medic-conf the variable in settings is set to be called `purging.fn`
https://github.com/medic/medi

[2019-02-22 19:34] #5451 closed

[2019-02-22 19:34] kennsippell commented on #5451
Created https://github.com/medic/medic-conf/issues/130 instead

[2019-02-24 22:40] ngaruko commented on #4209
Hi @peter-ochieng . This works on `master` which is at 3.5 but does not work on 3.4 (as seen on `gamma.dev`). Maybe the fix needed to be back-ported?
![image](https://user-images.githubusercontent.com/6979995/53306442-f6c6ac80-38f1-11e9-955f-94aea709aeee.png)

[2019-02-24 23:25] ngaruko opened #5452 "Error loading permissions"
**Steps to reproduce**:
 - _Log in to the admin console/app settings_
 - _Click on `Roles & permissions`_

**What should happen**:
 - _`Roles & permissions` page should display with defaults Roles & permissions_

**What actually happens**:
 - _The  permissions tab comes blank with some errors in the console_
 _```Error fetching settings TypeError: roles.includes is not a function
    at main.js:10

[2019-02-24 23:32] garethbowen commented on #5452
This is a configuration issue - somehow this server has 3.3.x era configuration with 3.4.x code. I'm guessing you've gone back and forwards between versions and that has broken the configuration. This would be caused by, for example, upgrading to 3.4, downgrading to 3.3, installing 3.3 config, then upgrading to 3.4.

We have a migration to fix this and we should check that it's working as expected

[2019-02-25 00:27] ngaruko commented on #5380
LGTM
Tested on `gamma.dev` 3.4
![image](https://user-images.githubusercontent.com/6979995/53307810-12857f00-3901-11e9-8252-f92281a989de.png)

[2019-02-25 00:27] #5380 closed

[2019-02-25 01:14] garethbowen commented on #5452
Removed from the release until it's been verified as a bug.

[2019-02-25 03:24] ngaruko commented on #5057
LGTM
Tested on `gamma.dev v3.3` by submitting a delivery report, thus generating a `postnatal visit` task and setting the system date to the future to make the task look overdue.
![image](https://user-images.githubusercontent.com/6979995/53312326-7a47c400-3919-11e9-88cb-16811f7225a9.png)

[2019-02-25 03:24] #5057 closed

[2019-02-25 05:51] ngaruko commented on #5409
looks to be working, functionally, but there is an error showing in the console. Is this anything to worry about @dianabarsan ?
![image](https://user-images.githubusercontent.com/6979995/53316882-5f337f00-392e-11e9-8bdd-123e376a586b.png)

[2019-02-25 06:03] dianabarsan commented on #5409
@bede That's just what our Modal without a Catch does, I wouldn't worry about it.
Most of our modals don't Catch because we usually don't need to do things when the user says "no", only when they say "yes". For curiosity, you can check the console if you try to logout and then change your mind.

[2019-02-25 07:40] #5409 closed

[2019-02-25 16:37] dianabarsan opened #5453 "Sentinel due_tasks updates only one task/doc/run"
Sentinel's `due_tasks` script should update all `pending` tasks with a due date the current window.
Due to how the view results are "compacted" so a doc is not requested/hydrated twice and a check that validates if the scheduled_task should be `pending`, only one matching task/document is updated.

[2019-02-25 20:20] garethbowen commented on #5453
@dianabarsan I think this is a duplicate of #4498 - do you agree?

If so, can you close whichever one you think is less helpful?

[2019-02-25 20:21] garethbowen commented on #5298
@wtekeu I've merged that refactor - let me know if I can help track down those two errors.

[2019-02-25 20:23] ngaruko commented on #3762
Has this  schema validation been implemented @garethbowen or shall we close this and open another issue for that? Also, we used to ship the app with certain `default` permissions, but at the moment, most of restricted users' basic permissions (like view/create contacts ) are disabled by default. Is this a result of this change or rather something to do with the configuration?

[2019-02-25 20:26] wtekeu commented on #5298
@garethbowen Yes I need help with the two errors.

[2019-02-25 20:28] garethbowen commented on #3762
We haven't implemented the schema validation - I'm still trying to work out if it's a good idea so I haven't raised an issue for it.

We still ship with default permissions for restricted users including view contacts - see here: https://github.com/medic/medic/blob/master/api/src/config.default.json#L108 . I think your configuration got corrupted when you downgraded from 3.4 to 3.3 so you might ne

[2019-02-25 23:08] garethbowen opened #5455 "Performance regression when loading reports"
First discovered in [performance testing for the 3.3.0 release](https://docs.google.com/document/d/1ab_wjxsT9millrBAy3SjZxWBT8KRmBElBuwgz9XAGII/edit?pli=1#heading=h.jqsljlq9vrt8) loading a report has regressed from previous versions. It was decided that it wasn't a blocker for release but we should revisit it soon to see if any improvements can be made.

[2019-02-25 23:09] garethbowen commented on #5455
The only relevant code change I can find is to do with linking from the report patient fields to the patient so I'll start investigating there.

[2019-02-26 00:12] ngaruko commented on #3466
LGMT
The response is reasonably quick and there is a spinner showing for a split second.

[2019-02-26 00:12] #3466 closed

[2019-02-26 01:15] ngaruko commented on #5390
Any clue on how to AT this on our end @dianabarsan ?

[2019-02-26 02:09] ngaruko commented on #4598
LGTM
Tested on `gamma.dev` v3.4 by a) setting outgoing language to a language with no available translations and b) deleting some translations...
![image](https://user-images.githubusercontent.com/6979995/53381398-7da08580-39d5-11e9-91c6-f252946ed2d5.png)

Two things however:
a) I think it would be a good idea I think to display a more explicit message to the user like 'Missing translation' instea

[2019-02-26 07:47] ngaruko commented on #4885
LGTM.
Tested on `gamma.dev ...v3.4`

[2019-02-26 07:47] #4885 closed

[2019-02-26 07:58] dianabarsan commented on #5453
Oh yea, definitely a duplicate. Thanks!

[2019-02-26 07:59] #5453 closed

[2019-02-26 08:20] #3762 closed

[2019-02-26 08:47] dianabarsan commented on #5390
For AT, you can use Standard config and you will just need to manipulate some dates.
- submit a new pregnancy
- this will create a schedule for this pregnancy - we're interested in a group that has multiple tasks of the same type (for example Group 2 or 3 from https://gamma.dev.medicmobile.org/medic/_design/medic/_rewrite#/reports/8fdd077d-3a6f-4efe-9d5c-da2c83f0a9ba - each of these groups has a f

[2019-02-26 08:48] garethbowen commented on #5455
Ready for AT. Install the branch `5455-report-content-loading-performance` and compare the performance against `3.4.0` or above.

[2019-02-26 19:22] Jodge commented on #5447
`export server logs`
Last seen: https://github.com/medic/medic/commit/a4238509b67dac5e3b38038fab7427788d3aa29f#diff-c096f29b328c61492abfe6a6f404fd35

`export audit`
Last seen:
https://github.com/medic/medic/commit/9ca61d4f6b325a51a237a77a442f98825add1548#diff-c096f29b328c61492abfe6a6f404fd35

@garethbowen `can_export_audit` and `can_export_server_logs` still reside in `config/standard/app_settings

[2019-02-26 20:06] garethbowen commented on #5439
Ready for AT. The branch for testing is: `5439-target-uniqueness`

[2019-02-26 20:22] peter-ochieng commented on #4209
Hi @ngaruko I back-ported the fix to `3.4.0`
If you can have a look,Thanks

[2019-02-26 20:24] garethbowen commented on #5447
@Jodge Definitely remove them from standard too - good spotting!

[2019-02-26 20:41] ngaruko commented on #4209
LGTM
![image](https://user-images.githubusercontent.com/6979995/53444725-cb6bcb00-3a73-11e9-876d-e75cb8ce6803.png)

[2019-02-26 20:41] #4209 closed

[2019-02-26 20:54] garethbowen commented on #5351
@abbyad ?

[2019-02-26 23:17] garethbowen commented on #5298
@wtekeu For the first one (* "Uncaught Error: Could not resolve 'undefined' from state 'xxx'") I think that means somewhere we're using `$state.go` or `ui-sref` with an undefined variable. There are only 3-4 places where we use those without passing a hardcoded string. My two top suspects are:

1. the android back button which tries to navigate back to the first visible tab.
2. the tour dialog whi

[2019-02-26 23:18] wtekeu commented on #5298
@garethbowen thanks for the help. I will review.

[2019-02-26 23:25] garethbowen commented on #5298
For the second one, there are 10 places in the browserified code where we call `scrollIntoView` - mostly in Enketo or the Tour library. I'm guessing it's caused by the Tour library when the element we want the tour step to focus on doesn't exist because they have no reports or whatever. There's only 8 of them so I'm not too worried about it.

For both of these, the feedback docs should have up to

[2019-02-27 02:13] ngaruko commented on #5092
LGTM
`Places` card not displaced for restricted users
![image](https://user-images.githubusercontent.com/6979995/53460442-04bb2f80-3aa2-11e9-8c4b-c8556ba5d98f.png)

but accessible for admin
![image](https://user-images.githubusercontent.com/6979995/53460496-37fdbe80-3aa2-11e9-84f4-031a3db94803.png)

[2019-02-27 02:29] #5092 closed

[2019-02-27 03:32] garethbowen opened #5459 "Place select2 dropdown results are badly styled in the admin app"
**Steps to reproduce**:
 - Log in as admin
 - Navigate to the Admin App > Users > Add User
 - Search for a "Associated contact"

**What should happen**:
- The results should be easy to read.

**What actually happens**:
- The results are ugly and hard to read.

![screenshot from 2019-02-27 16-42-30](https://user-images.githubusercontent.com/2064938/53464337-b95b4e00-3aae-11e9-8832-8ff18abf1a6c.png)

[2019-02-27 03:47] garethbowen commented on #5459
This is how it looks now:

![screenshot from 2019-02-27 16-41-45](https://user-images.githubusercontent.com/2064938/53464503-5ae29f80-3aaf-11e9-9a33-6d6a9c64b10d.png)

[2019-02-27 07:43] #5390 closed

[2019-02-27 08:00] ngaruko commented on #5229
LGTM-
Initial load: ![image](https://user-images.githubusercontent.com/6979995/53474535-30eea480-3ad2-11e9-8727-4d8ae913ef93.png)

Upon adding one icon
![image](https://user-images.githubusercontent.com/6979995/53474692-a5c1de80-3ad2-11e9-913a-957aafa695a0.png)

[2019-02-27 08:20] dianabarsan commented on #5229
@bede yes, online users would need to download this doc on every page refresh. Maybe this has changed since the Service Worker was added in 3.5, but for 3.4 this would be expected behavior.

[2019-02-27 08:24] Jodge commented on #5447
Ready for AT, the branch for testing is: `5447-unused-permissions`

[2019-02-27 08:38] #5229 closed

[2019-02-27 14:53] SCdF opened #5462 "Combine records from multiple transport layers"
We now support sending a report via SMS as well as via data, for situations where an offline user has no network connectivity and there are critical time sensitive reports to get server-side. We will always send the data version eventually, as it is the canonical version.

Due to the magic of networks, regardless of which we send first, these could arrive in any order.

So we need to write some co

[2019-02-27 20:23] garethbowen commented on #5459
Ready for AT in the `5459-fix-admin-contact-styling` branch.

[2019-02-27 22:45] wtekeu commented on #4598
@ngaruko Fixed a) (change the message as you suggested) .. did not fix b) .. according to @dianabarsan :
<img width="874" alt="screen shot 2019-02-27 at 5 41 23 pm" src="https://user-images.githubusercontent.com/1445164/53528362-705bc780-3ab7-11e9-988a-5be7dc476b51.png">

[2019-02-27 23:21] wtekeu commented on #5183
@garethbowen , @kennsippell suggests the following:
"so when the user clicks 'logout' set a new cookie
and when the user logs in successfully, clear the cookie
and when the app loads -- in the logic which already redirects to the login page. also redirect if that cookie exists"
what do you think? Or preventing the user from doing anything as long as the cookie exists and he is offline (I believe w

[2019-02-28 01:27] garethbowen commented on #5183
That's ok, and may be the best we can do. I'm concerned because the browser will tell them they've logged out when really they haven't. Anyone with access to the device could find the session id and hijack it. This would be quite a sophisticated attack because you'd need to block internet access, hope the user logs out, access their device with dev tools, inspect the cookies, then inject the sessi

[2019-02-28 02:01] ngaruko commented on #4621
LGTM
Report showing higher in the hierarchy with `invalid` flags
![image](https://user-images.githubusercontent.com/6979995/53535979-77dba900-3b69-11e9-9245-3a9be4fcc7c5.png)

[2019-02-28 02:01] #4621 closed

[2019-02-28 17:27] newtewt opened #5464 "Add new permissions to allow users to view outgoing messages and export tabs of the admin app"
In a call with @smbuthia  we were discussing who can view the outgoing messages tab. There was a request from a project to make this visible to users that are not able to configure the app. Creating to discuss if this page would be viable for the use case or possibly something else added.  [Reference to the original ticket for outgoing messages. ](https://github.com/medic/medic/issues/649)

[2019-02-28 20:46] newtewt commented on #4279
Using the form listed above I'm not seeing the timer when `
<bind nodeset="/issue_4279_a/group/timer" readonly="true()" relevant="true()" type="string"/>` has the `relevant="true()"` statement. Removing that shows the timer.

[2019-02-28 20:47] garethbowen commented on #5362
@newtewt is working on a [proposal](https://docs.google.com/document/d/1wSv0JPhs2udvS8VmxhHpmHI4KG_-mHU6ReG6qcXQY7A/edit) to work out what how we scale with different numbers of docs which would be useful for working out when this warning should be shown.

[2019-03-01 15:35] kennsippell opened #5468 "XForm definitions would benefit greatly from access to the moment library"
Code like this is a very common practice to write in to our XForms:

```if(${follow_up_count} = '1', "Suivi 48 Heures", if(${follow_up_count} = '2', "Suivi 5 jours", if(${follow_up_count} = '3', "Suivi 12 jours", if(${follow_up_count} = '4', "Suivi 19 jours", if(${follow_up_count} = '5', "Suivi 26 jours", if(${follow_up_count} = '6', "Suivi 33 jours", if(${follow_up_count} = '7', "Suivi 40 jours",

[2019-03-01 15:45] SCdF commented on #5468
Agree, and extend to say we should be exposing moment to all of our "application code" (rules, purging, forms etc)

[2019-03-01 21:23] abbyad commented on #5468
I think the xpath equivalent to what you have is `date(decimal-date-time(today())+${follow_up_count})`. That said, I don't think either properly replaces the xpath from the original post because the mix of values, and they don't include the message. (Also, is the xpath pasted twice?)

Is the goal of this issue to make calculations from XForms more JS friendly, or is it to bring in momentjs? If it'

[2019-03-02 03:05] ngaruko commented on #4598
Thanks @dianabarsan @wtekeu . Will close this and if the language issue is concern, we will raise a different issue.

[2019-03-02 03:05] #4598 closed

[2019-03-02 07:18] ngaruko commented on #5050
Start

![image](https://user-images.githubusercontent.com/6979995/53677947-fe84b780-3d1c-11e9-9e62-12afa655490c.png)
**Run 1**
![image](https://user-images.githubusercontent.com/6979995/53678012-dea1c380-3d1d-11e9-9a41-5b698a5d244e.png)

**Run 2**
![image](https://user-images.githubusercontent.com/6979995/53678078-ef066e00-3d1e-11e9-9314-fd118ed4aaef.png)

**Run 3**
![image](https://user-images.gi

[2019-03-03 02:05] ngaruko commented on #2031
![image](https://user-images.githubusercontent.com/6979995/53689751-920fc400-3dc1-11e9-8789-353450e5edf8.png)

![image](https://user-images.githubusercontent.com/6979995/53689766-e7e46c00-3dc1-11e9-9fe8-425958335cbc.png)

Fast forward one month

one more month

Metrics

[2019-03-03 06:40] dianabarsan commented on #5050
@ngaruko
Are you sure you are following the steps exactly, including running the tests with a closed dev tools in an **incognito** browser?
I ran them again, myself, on gamma.dev with a restricted user and these are my results:

![mem-no-leak](https://user-images.githubusercontent.com/35681649/53691899-87d4d200-3d8f-11e9-84ec-c40255aff805.png)

A total of 6 runs, for the last 2 I included the perf

[2019-03-03 12:57] kennsippell commented on #5468
My goal here is clarity, simplicity, and maintainability of code. I'm new to form creation, but there is a lot of date manipulation in muso forms and I find the code cumbersome.

MomentJs is what we use in webapp for all datetime manipulation. It is elegant, flexible, powerful, extensible, well documented and well supported, and broadly loved by JavaScript developers.

As you point out, this isnt

[2019-03-03 22:28] ngaruko commented on #5050
![image](https://user-images.githubusercontent.com/6979995/53701996-50d1ef80-3e67-11e9-88b4-5f988578e73b.png)

![image](https://user-images.githubusercontent.com/6979995/53702106-4fed8d80-3e68-11e9-807b-673efbdd45f1.png)

![image](https://user-images.githubusercontent.com/6979995/53702235-9a233e80-3e69-11e9-9959-051f0c4378d7.png)

(after GC)
![image](https://user-images.githubusercontent.com/69799

[2019-03-04 07:16] dianabarsan commented on #5050
Running the test 4 times on gamma.dev, logged in as the user indicated by @ngaruko

![mem-no-leak](https://user-images.githubusercontent.com/35681649/53716569-039d5000-3e5e-11e9-9cd2-7640f2423e62.png)

[2019-03-04 09:02] #2031 closed

[2019-03-04 20:56] garethbowen commented on #5298
Closing this for now with improved logging. I'll set up a recurring task to check for errors every month or so until we have proper monitoring set up.

[2019-03-04 20:56] #5298 closed

[2019-03-05 10:31] ngaruko commented on #5050
LGTM
Thanks @dianabarsan
![image](https://user-images.githubusercontent.com/6979995/53799239-d1473c00-3f9e-11e9-8148-17258cf05461.png)

[2019-03-05 10:32] #5050 closed

[2019-03-05 10:34] ngaruko commented on #4694
Hi @wtekeu Can you direct me to the documentation that was done for this? My understanding is that documentation is supposed to be done before AT.

[2019-03-05 20:15] wtekeu commented on #4694
@ngaruko

Please note that the way reminders are cleared is the following: when a report is send, we add `silence_for` to the report date to obtain an `until_date`. Then we determine all the reminders that have a due date before the `until_date`. Then we extract the unique couples `[type, group]` from these reminders then clear all the reminders with `type` and `group` matching one of these couple

[2019-03-05 20:25] garethbowen commented on #4279
Ready for AT in branch `4279-countdown-timer-relevant-fix`.

After it passes we'll need to merge and forward port to `master.

[2019-03-05 20:26] garethbowen commented on #5432
@peter-ochieng Have you had a chance to look at those requested changes? I'd like to get this in to AT as soon as possible. Thanks!

[2019-03-05 20:54] abbyad commented on #5351
Given that folks are interested in using it and that we don't have projects that would encounter the performance issue I think that we should do the quick fix patch. As part of this issue we should also put a disclaimer on the documentation that this should only be used when there are no mobile app users.

cc @MaxDiz

[2019-03-05 21:03] garethbowen opened #5475 "Reminders update clinic docs"
First raised by @dianabarsan in https://github.com/medic/medic/issues/5351#issuecomment-461815258 the scheduled reminders work by updating the clinic over and over again. This creates large contact docs with data that's only useful to sentinel.

Instead we should store these reminders in new docs. If these reminders don't need to be shown in the UI then don't replicate the docs to phones. If they'

[2019-03-05 21:04] garethbowen commented on #5351
Ok. Let's patch this to get it working, and update the docs as @abbyad suggests. I've raised a new issue #5475 to make it better.

[2019-03-05 21:08] garethbowen commented on #5464
@newtewt It only makes sense for online users obviously. Would it make sense to leave it in the admin app, but have a permission which lets you see the outgoing messages tab and nothing else? These users could probably get access to the Export tab too.

[2019-03-05 21:09] garethbowen commented on #5452
@ngaruko Can you confirm whether or not this is a bug?

[2019-03-06 08:33] peter-ochieng commented on #5432
@garethbowen I've seen and made the changes and have also resubmitted for re-review.
Thanks

[2019-03-06 13:42] newtewt commented on #5464
@garethbowen  I am asking @smbuthia  to provide more details here to better represent the request from partners.

[2019-03-06 13:46] smbuthia commented on #5464
@garethbowen @newtewt yes, those who would like to see the messages are online users. Enabling them to see the messages and export tab and nothing else would work. The main concern was them having access to configs etc

[2019-03-06 20:20] garethbowen commented on #5464
@amandacilek What do you think about this? Would it make sense to have some users see a restricted view of the "admin" app which just shows Outgoing Messages and Export?

[2019-03-06 22:35] garethbowen opened #5479 "Investigate Play Store replacements"
It looks as though Google's Play Store isn't going to allow medic-collect or medic-gateway to be listed any more, and if we start sending SMS from medic-android it will get blocked too. We are investigating various workarounds but in the medium-term it's likely we'll have to use a different app store so that projects can update the android app easily.

Investigate alternatives to the Play Store th

[2019-03-07 00:12] amandacilek commented on #5464
Hm, @simbuthia could you please explain more about the use case for these users?
- Who are the users requesting access? Are they managers in a field office or nurses in a health facility (or some other sort of leadership role)?
- Why do they want to look at the outgoing messages page, and what data in particular are they interested in there?
- Any idea how frequently they might visit this page if

[2019-03-07 06:59] smbuthia commented on #5464
@amandacilek

- Facility supervisors and nurses (with online accounts), program admins (these are partner level managers), and field officers (Medic Mobile staff and Partner staff).

- For nurses to track upcoming appointments and plan for visits in advance. They would be interested in the sent message and date the message went out (or was due).
- For facility supervisors to follow up with field s

[2019-03-07 12:45] dianabarsan opened #5481 "Angular $exceptionHandler too sensitive"
It appears that all UnhandledPromiseRejections are being pushed as feedback to the DB by the new $exceptionHandler, including network connection errors.

**Steps to reproduce**:
 - Checkout latest master (3.5)
 - Deploy it - you don't need any configuration for this, just start the app
 - I recommend deploying on an **empty throw-away DB**, as you're going to create thousands of identical feedback

[2019-03-07 15:08] newtewt opened #5482 "Countdown timer sound is not playing"
_Brief description of bug encountered_.

Launching the timer to on a form is showing the following error in console.

[code]
**Steps to reproduce**:
Using form in this [bug](https://github.com/medic/medic/issues/4279#issue-303660216)
Have Console open
Open in the web app

**What should happen**:
The alert mp3 shouldn't  be causing an error and should play I believe when timer completes.

**What ac

[2019-03-07 15:15] newtewt commented on #4279
@abbyad  is there a time where `relevant="false()"` would be valid?

[2019-03-07 23:19] abbyad commented on #4279
Yes, several years ago... :smile:
We were using that to hide fields and stopped once non-relevant fields were no longer saved with the form. There may be relics out there, but in general `relevant="false()"` should not be used anymore.

[2019-03-07 23:24] newtewt commented on #4279
Would it be ok then to cause the form to show Contact your administrator error?

[2019-03-08 00:25] garethbowen commented on #5482
Code review please @kennsippell

[2019-03-08 15:25] abbyad commented on #4279
Ya, that is fine. Is a more descriptive error shown in console? Ideally we would also catch in medic-conf, either in converting the form or in uploading it.

[2019-03-08 15:33] newtewt commented on #4279
The error in console is not really descriptive.

[code]

[2019-03-08 16:29] abbyad commented on #4279
Ya, that would be difficult to decipher.

[2019-03-08 17:01] newtewt opened #5484 "Setting relevant="false()" is a hard error to troubleshoot in console"
When using the form below. The `relevant="false()" is causing an error in console that isn't very clear. It would be helpful if we could make this more clear. As a side it would also be nice if medic-conf could catch uploading forms with this property set and show an error.

Error:
[code]
FORM:
[code]

[2019-03-08 17:02] newtewt commented on #4279
I don't think it's worth holding this ticket up to fix that. Created #5484  as an attempt to add a feature to correct this and add a check on medic-conf maybe.

[2019-03-08 17:02] #4279 closed

[2019-03-09 07:53] kennsippell commented on #4780
@benkags Was this ever implemented in script? Muso's mRDT trials may benefit from something similar.

[2019-03-10 20:23] garethbowen commented on #5484
This may be the reason for some errors found in the wild: https://github.com/medic/medic/issues/5298#issuecomment-465213494

This may be something we have to fix in enketo-core.

[2019-03-10 20:27] garethbowen commented on #5484
I don't think we should make the error more clear because I don't think this should cause an error at all. I assume it's trying to scroll to a field but the field it's there because it's not relevant. I think the correct behaviour would be for enketo to not scroll if the field is `undefined` and potentially to scroll to the next field in the form (if there is one).

[2019-03-10 20:36] garethbowen commented on #5482
This has been merged into `master` so I've backported it to `3.4.x` ready for AT.

[2019-03-10 22:06] garethbowen commented on #5361
This is ready for AT in the `app-root-redirect` branch.

[2019-03-10 22:09] garethbowen commented on #5361
For AT be particularly careful about upgrading making sure that we don't have to download the changes feed since 0 again, or download the documents into a new database. Make sure that all the old URLs redirect correctly to the new URL. Also check that the service worker is caching everything it should.

[2019-03-11 05:26] kennsippell commented on #5183
It would be great to understand the exact limits which prevent his from being able to handled through our service worker code.

[2019-03-11 07:21] benkags commented on #4780
Unfortunately not @kennsippell. Nothing has been done from within the product.
What we have running is the partial replication mentioned above whose code can be seen [here](https://github.com/medic/medic-projects/blob/8cc016d0fc5c2274192d53142af83e9a32ac7ad8/lg-kenya/scripts/supervisor_replication.js) & [here](https://github.com/medic/medic-projects/blob/8cc016d0fc/lg-kenya/scripts/hivst_superviso

[2019-03-11 13:41] newtewt commented on #5482
@garethbowen  the error version of the message isn't showing for me anymnore. However, console is still showing an entry `urity Policy directive: "default-src 'none'". Note that 'media-src' was not explicitly set, so 'default-src' is used as a fallback.` The wording is definitely cut off in chrome.  Also, I believe the alert moved and is updated in master but not the 3.4.x branch not sure if we sh

[2019-03-11 14:13] newtewt commented on #5482
![image](https://user-images.githubusercontent.com/10531066/54130166-43c47b80-43e6-11e9-82b7-128318ea8c90.png)

[2019-03-11 15:14] wtekeu commented on #5183
The service worker fails to cache `DELETE /_session`.

I used the following config:
[code]
which produced the following line:
`toolbox.router.any("/_session", toolbox.networkFirst, {"debug":true});`

The `GET /_session` is cached:
<img width="1255" alt="Screen Shot 2019-03-11 at 10 45 28 AM" src="https://user-images.githubusercontent.com/1445164/54134593-a28df300-43ee-11e9-86f3-f74e95f50581.png">

[2019-03-11 16:47] dianabarsan commented on #4857
Ready for AT on `4857-detached-sentinel-bis` branch.

[2019-03-11 16:52] kennsippell commented on #5183
I view this cookie-based psuedo-logout as a last resort, which we should pursue only if we can't achieve an actual logout through the service worker.

I believe that an actual logout may still be possible through the service worker. Have you tried creating a cacheable logout endpoint through api like we discussed?

[2019-03-11 18:49] wtekeu commented on #5183
Yes, I did try that and it failed to set the cookie

[2019-03-11 19:33] garethbowen commented on #1850
@SCdF Is it just me, or would this be _really_ easy to solve by adding the app version and form revs to the telemetry metadata?

[2019-03-11 19:39] garethbowen commented on #1846
The verification workflow has been updated recently so after discussion with @amandacilek I'm going to close this as obsolete.

[2019-03-11 19:39] #1846 closed

[2019-03-11 19:40] garethbowen commented on #2001
Verification has been reworked recently making this issue obsolete.

[2019-03-11 19:40] #2001 closed

[2019-03-11 20:54] garethbowen commented on #5482
As discussed on the call, it may be because of the previous service worker cache. Try wiping your cache completely and refreshing to see if that fixes it.

[2019-03-11 21:11] kennsippell opened #5485 "Muso supervisors can't review mRDT reports while having a replication depth of 1"
## Some Background
Muso supervisors with a replication depth of 2 are forced to replication all families (clinics) and forms associated with those families. Many CHVs per supervisor * many familes per CHV yields an estimated 4000 home-visit forms per week for these supervisors. This causes performance problems. Performance of the app can be improved with purging, but replication for some users tak

[2019-03-11 21:15] garethbowen opened #5486 "Logging in with an incorrect password shows an unhelpful error message"
**Steps to reproduce**:
1. Go to login page
2. Enter an incorrect user/pass combination
3. Submit

**What should happen**:
- An error message is displayed something along the lines of "incorrect user/pass"

**What actually happens**:
- This error message is shown: "Unexpected error while logging in. Please try again."
- There's an error in the API logs

![Screenshot from 2019-03-12 10-13-09](https

[2019-03-11 21:51] garethbowen commented on #4423
@henokgetachew Any update on the likely timeframe here?

[2019-03-11 21:52] garethbowen commented on #4877
@henokgetachew This is still causing issues for us. Do you think you'll be able to find the time to look at it soon?

[2019-03-11 22:26] garethbowen opened #5488 "Reports are being created for the wrong contact"
This doesn't happen every time but is reproducible if you slow down the phone enough.

**Steps to reproduce**:
1. Select a family, wait a while
2. Select a different family
3. Submit a home visit form

**What should happen**:
The report is created with the *second* family as contact.

**What actually happens**:
The report is created with the *first* family as contact.

**Environment**:

- Instance

[2019-03-11 23:51] garethbowen commented on #5486
This is ready for AT in the `5486-handle-non-200-login-responses` branch.

[2019-03-12 00:34] kennsippell commented on #5183
Super weird that it caches `GET` and not `DELETE` requests. DELETE is listed in the list of supported methods for sw-toolbox. https://googlechromelabs.github.io/sw-toolbox/api.html#expressive-approach

Sucks we can't manipulate cookies. Thanks for trying. I wonder if the Set-Cookie header was included in the list of headers in the cache.  I left some comments on your change.

[2019-03-12 00:39] garethbowen opened #5489 "Minify all JavaScript files"
We use uglify to make our JS smaller but we don't apply it to all files. Make sure this is applied to all JS files we serve to improve download speed and reduce parsing time.

[2019-03-12 00:43] garethbowen commented on #5489
Results:

`build/ddocs/medic/_attachments/js/service-worker.js`: 11753kb to 4649kb
`api/src/public/login/script.js`: 1889kb to 1395kb

[2019-03-12 01:14] garethbowen opened #5490 "Compress TTF font files"
Currently TTF font files aren't gzipped which makes them much larger than they need to be. Modify the api gzip solution to compress TTF files too.

[2019-03-12 01:16] garethbowen commented on #5490
Results for `fonts/NotoSans-Regular.ttf`: 406kb -> 217kb

[2019-03-12 03:20] ngaruko commented on #4694
LGTM-Thanks @wtekeu for the documentation

[2019-03-12 04:33] ngaruko commented on #5486
LGTM
Proper message shows in the UI and no error in logs, just a 401 log
![image](https://user-images.githubusercontent.com/6979995/54174656-8f614d00-44ec-11e9-804f-87443ca58490.png)

[2019-03-12 05:05] #5486 closed

[2019-03-12 07:02] kennsippell opened #5493 "Support a Muso Target - % of families which have received 2 home visits this month"
In Muso-land, a "home visit" can occur up to once per day per family. For any given family on any give day, the home visit has occured if either a) any member of the family has a report created on that day (which also meets some specific criteria that isn't important for this bug); or b) the family (clinic) has a home visit report created on that day.

A primary goal for Muso's CHWs is to visit ev

[2019-03-12 08:12] #4694 closed

[2019-03-12 09:13] garethbowen commented on #5475
Upon further investigation @dianabarsan discovered this saves each doc in parallel which will crash couchdb if enabled in a sufficiently large project. Therefore I'm scheduling this fix for 3.6.0.

[2019-03-12 09:14] garethbowen commented on #5486
Merged and backported to `3.4.x`

[2019-03-12 09:58] garethbowen commented on #5489
Unfortunately it looks like we weren't minifying anything... from the build:

[code]

The files are being copied _after_ we attempt to minify them.

[2019-03-12 10:17] garethbowen commented on #5489
The log now:

[code]

Much better. I'm not sure how we can fail if the uglify isn't working in future.

[2019-03-12 13:07] SCdF commented on #1850
@garethbowen it astounds me that we didn't at least already have the app version in the mix! How did we forget to do that!?

I've added the app version.

For xml forms I've used the md5 digest hash: `_rev` doesn't work for us because PouchDB just makes them up, and the versions inside the XML itself are neither required nor regulated (most forms don't use them, and the ones that do don't enforce i

[2019-03-12 13:07] SCdF commented on #1850
(I haven't moved this ticket or assigned it etc because I'm not sure this covers the whole deal: but it's definitely related and definitely useful.

I'm happy to create a new ticket for just this PR if you'd prefer)

[2019-03-12 13:25] SCdF commented on #5485
@garethbowen any reason why we wouldn't want to change the meaning of `needs_signoff` to be a string not a boolean, that string being the identifier of the person who is supposed to view it?

[2019-03-12 13:38] SCdF commented on #5493
So the two obvious options that I can see here are:
 - Muso changes how they are writing forms so they write a stable form they wish to track against a stable target: in this case a "home visit" form that is always against the family
 - We change how we scope forms in rules to either have no scope, or contain all forms from everyone below the contact under test

Neither of those two ideas in the l

[2019-03-12 13:52] newtewt commented on #5482
After clearing cache the error about content security is gone.

The path being moved is still around though.
`GET https://gamma.dev.medicmobile.org/medic/_design/medic/_rewrite/static/audio/alert.mp3 404`

[2019-03-12 16:56] kennsippell commented on #5485
@SCdF How would the form logic derive the value of the supervisor's contact id? If we're going to use the parent chain, I believe the best we could do would be to set it to the `district_hospital` -- the parent of the supervisor.

[2019-03-12 17:36] garethbowen commented on #5488
Moving to 3.4.0 so we can at least investigate how severe it is before release.

[2019-03-12 21:17] garethbowen commented on #1850
There is a lot of information in this issue. For now we're going to implement a simplified solution which captures the version information and stores it in CouchDB and resolve this issue. If you'd like to integrate with dashboards or anywhere else please raise a new issue and we can do it in a later version.

[2019-03-12 21:24] garethbowen commented on #5485
Right. We could set needs_signoff to a place UUID from the contact's hierarchy, then emit that ID from the view, and anyone who has access at that place or higher would be able to see the report. I think that'd work...

[2019-03-12 22:13] garethbowen commented on #5482
Ok - that appears to be a completely separate issue with the URL of the beep being wrong. It only affects `3.4.x` as it was fixed on `master` when [the service worker was introduced](https://github.com/medic/medic/commit/99c99dec8f87cf07fa720ccc643cdc2885b06121#diff-7619459d34fbf7cfafa63a0bbaa4cb8a).

Should be fixed now!

[2019-03-12 22:37] garethbowen commented on #5432
@peter-ochieng I think I've tracked the bug down in the API login controller. Can you please code review the above PR and let me know if it makes sense to you?

[2019-03-12 22:38] garethbowen commented on #5488
@dianabarsan Would you mind having a look at this to determine how much it affects 3.4.0?

[2019-03-13 03:40] garethbowen opened #5498 "The DDoc Version on the About page isn't working"
**Steps to reproduce**:
1. Log in as a restricted user
2. Make sure you're still online
3. Go to Hamburger > About

**What should happen**:
 - The "DDoc version" field should show the first part of the rev of the server ddoc

**What actually happens**:
 - It says "offline"

![Screenshot from 2019-03-13 16-37-51](https://user-images.githubusercontent.com/2064938/54252093-61444180-45ae-11e9-8acc-f77

[2019-03-13 13:46] newtewt commented on #5482
Awesomeeee, everything back to working.

[2019-03-13 13:46] #5482 closed

[2019-03-13 14:28] dianabarsan commented on #5488
This appears not to affect 3.4 at all.
The [fix](https://github.com/medic/medic/blob/556fc2bd3274455fb03d45824b90fe70fdcce8a4/webapp/src/js/controllers/contacts.js#L246) was part of a performance improvement change (https://github.com/medic/medic/issues/5086) .

For reference, I've put up videos demonstrating the issue and the lack of an issue here:
(the black banner displays the name of the conta

[2019-03-13 16:05] SCdF commented on #5485
@kennsippell yeah I presumed that we can use a UUID from the hierarchy of the CHW who writes the doc (as Gareth says, the contact). If you don't think that is going to work if you could draw a diagram of hierarchies that would be very helpful in visualising the situation.

Side note: we could actually, if we were feeling adventurous, allow for `needs_signoff` to be an array. This would potentially

[2019-03-13 17:12] SCdF opened #5499 "Add support for firing REST requests when documents are created / changed"
For Muso SIH we want to be able to send SIH a referral when it comes in.

[2019-03-13 20:13] garethbowen commented on #5432
This is now ready for AT in the `5432-dont-set-locale-undefined` branch (off `master`). Let me know if it passes and I'll merge and backport.

[2019-03-13 20:14] garethbowen commented on #5488
Awesome. I'll put this in AT just to go through the process. Thanks Diana!

[2019-03-13 20:15] garethbowen commented on #5488
For AT: Try and reproduce the error on the `3.4.x` branch.

[2019-03-13 20:47] garethbowen commented on #1850
Ready for AT in the `telemetry_app_version` branch.

Make sure when the telemetry is sent at the end of the month you can see the local app version and all the _revs of the forms.

[2019-03-14 03:47] garethbowen opened #5501 "Reloading the app while offline shows sync status "required""
**Steps to reproduce**:
1. Load the app
1. Fully sync so the hotdog menu says "all reports synced"
1. Go offline
1. Refresh the app
1. Open the hotdog menu

**What should happen**:
- No translation warnings in the console
- The sync status is "unknown"

**What actually happens**:
- A console warning is shown
- The sync status is "reports to sync"

Console log:

[code]

![Screenshot from 2019-03-14

[2019-03-14 07:47] ngaruko commented on #5432
LGTM on the branch

[2019-03-14 07:56] garethbowen commented on #5432
Merged into `master` and backported to `3.4.x`.

[2019-03-14 11:22] garethbowen commented on #5501
AT: Testing this depends on #5481 or #4898 being fixed, because currently there's basically always a feedback doc to submit, so instead of seeing "unknown" you'll see "error".

[2019-03-14 20:26] ngaruko commented on #5488
Could not reproduce this error on `3.4.x` @garethbowen . Is this happening on this branch or previous versions as suggested @dianabarsan in the [comment above](https://github.com/medic/medic/issues/5488#issuecomment-472444833)?

[2019-03-14 20:29] garethbowen commented on #5488
@ngaruko It's only been confirmed on `3.3.0`, so if you can't reproduce it even on a slow device with a decent amount of data, then that confirms Diana's assessment and we can close this as fixed.

[2019-03-14 22:30] ngaruko commented on #5488
Do we need to back-port this to `3.3` @garethbowen ?

[2019-03-14 22:32] garethbowen opened #5504 "poe export script empties translation files"
Running `poe export .` in `medic/medic/ddocs/medic/_attachments/translations` reports that it's working but leaves you with empty translation files.

Output:

[code]

Directory contents:

[code]

Note that all the files have 0 file size.

[2019-03-14 22:32] garethbowen commented on #5504
@vimemo Could you have a look at this when you get a chance?

[2019-03-14 22:34] garethbowen commented on #5488
No. Muso implemented a workaround that shows the family on the first screen of the form so the user can confirm it's right before continuing. They are willing to wait for 3.4.0 for the proper fix.

[2019-03-14 22:40] #5488 closed

[2019-03-14 23:35] garethbowen commented on #4279
Merged to `3.4.x` and PR created for merge to `master`.

[2019-03-14 23:39] garethbowen commented on #4209
`3.4.x` commit: https://github.com/medic/medic/commit/214edb286bef64fb67df83c2e8d6850f47575812

[2019-03-15 14:52] dianabarsan opened #5507 "Creating / syncing meta db-s fails when db name is not "medic""
When you deploy medic app and use a db name that is not `medic`, creation and replication of user meta dbs doesn't work, having all sorts of effects on the app.

For online users, which query the DB directly, loading reports fails and the console is riddled with replication failures.
For offline users, loading reports works as the queryied DB exists locally, but replicating upstream will fail.

Th

[2019-03-17 21:33] garethbowen commented on #5490
Ready for AT in `5490-gzip-ttf`.

AT: Clear your cache, appcache, service-worker cache, etc. Bring up the network tab. Log in. Make sure the request for all ttf fonts has a `content-encoding: "gzip"` header and the size is roughly 2KB.

[2019-03-17 21:35] garethbowen commented on #4279
Merged to master here: https://github.com/medic/medic/commit/43d00dd1d8580bd2743be9d10779ba731680a966

[2019-03-17 21:42] garethbowen commented on #5504
Merged. No AT required.

[2019-03-17 21:42] #5504 closed

[2019-03-18 00:50] garethbowen opened #5511 "Clean up translation exports"
We have a [new script](https://github.com/medic/medic/tree/master/scripts/poe) to export translations, however the format we get from POE isn't ideal for our use case. Make these changes to the export script so it works even better for us...

1. To make better diffs sort the output alphabetically. This means the output order is deterministic.
2. Remove `#` comments. They are not useful and actuall

[2019-03-18 03:10] garethbowen commented on #5452
No response from @ngaruko - closing as can't reproduce.

[2019-03-18 03:10] #5452 closed

[2019-03-18 04:40] garethbowen commented on #4908
This one is still failing a lot. Recent stacktrace:

[code]

[2019-03-18 16:11] abbyad commented on #1397
This is superseded for now by the declarative configuration. A UI for setting up tasks, targets and profiles is being considered and a new issue will be opened when that is put on the roadmap.

[2019-03-18 16:11] #1397 closed

[2019-03-18 16:14] abbyad commented on #1980
Closing as ancient and bulk editing of reports has not come up as a clear product feature. Some editing of reports is done by TL scripting, which we now try to bring into medic-conf.

[2019-03-18 16:14] #1980 closed

[2019-03-18 16:15] abbyad commented on #3438
@garethbowen should we move this to medic-conf?

[2019-03-18 16:18] abbyad commented on #2219
Closing as ancient. We are also moving from partner level dashboards having lists of patients/CHWs to having workflows in the app with Tasks where possible.

[2019-03-18 16:18] #2219 closed

[2019-03-18 16:20] abbyad commented on #1847
The mockup links are now broken. @diannakane can you replace them and prioritize this issue with @MaxDiz?

[2019-03-18 16:22] abbyad commented on #1772
@amandacilek the app has been updated since then... do you see this as a problem? If so are there any recommendations that you would like to make? Otherwise feel free to close this issue.

[2019-03-18 16:23] abbyad commented on #1626
Closing as ancient, and we can consider button placement as part of a larger redesign.

cc @amandacilek

[2019-03-18 16:23] #1626 closed

[2019-03-18 16:25] abbyad commented on #1565
@amandacilek this issue is a little old but perhaps still relevant. It would be good to get your opinion to know if navigation problems still exist, and how they should be corrected.

[2019-03-18 16:27] abbyad commented on #1380
@newtewt can you check see if this still a problem?

[2019-03-18 16:30] abbyad commented on #1852
@amandacilek do we want to revisit this?

[2019-03-18 16:31] abbyad commented on #2272
@amandacilek do you know if this is still an issue? If not feel free to close it. If it is please connect with @MaxDiz to prioritize accordingly. Thanks!

[2019-03-18 16:49] kennsippell commented on #4968
Is there a comprehensive plan for how to build this monitoring system? How will we present telemetry data to project staff? Will we have configurable alerting? Do we want to track not just performance, but also user engagement and user behaviour stats? How will all of this be presented. It seems like doing this properly is a huge investment...

Before we get too deep into building our own custom t

[2019-03-18 16:49] newtewt commented on #1380
This is no longer an issue because we show a dialog with a field to select who to send to and the message.

![image](https://user-images.githubusercontent.com/10531066/54547542-4ee65100-497c-11e9-9f2d-2c683350c301.png)

[2019-03-18 16:49] #1380 closed

[2019-03-18 19:26] newtewt opened #5514 "Images on reports are being blocked."
Processing a MRDT form with image attached is not showing when viewing the report. Looking at the console the following error is shown.

[code]
**Steps to reproduce**:
Log in to gamma.dev
Navigate to reports.
Click Add report
Process an MRDT form

**What should happen**:
The report is displayed with the image of the mrdt test

**What actually happens**:
The form displays however the broken image i

[2019-03-18 21:24] kennsippell opened #5515 "Some Performance Optimisations for Targets"
For each count appearing on a target, two identical objects are held in medic's memory and a third is potentially held within Nools. Each object is roughly ~250 bytes in size.  So for example, if you're seeing a target which emits a count of "200" or which emits a percent of 50% ("100 out of 200"), there are 400 objects in memory (~100kb). Nools may also be storing a copy of this, because in pract

[2019-03-18 21:58] garethbowen commented on #3438
@abbyad We should run some optimisation on images bundled with the app as well as when uploading in medic-conf, so we could leave it in webapp and do both at once, or split it so we have one issue for each step.

There's a node lib we can use: https://github.com/imagemin/imagemin-pngout . imagemin also has a bunch of other plugins for other file types so we should investigate using a range of them

[2019-03-18 22:03] garethbowen commented on #4968
The telemetry implementation is definitely a baby step. It'd been on the back burner for a while (years) waiting for a complete solution and we felt it was better to start with something basic and get it collecting data. It can definitely be replaced by a third party implementation at a later date but it's not a high priority right now.

The initial use case was gathering data that developers coul

[2019-03-18 22:25] garethbowen commented on #5297
No AT required.

[2019-03-18 22:25] #5297 closed

[2019-03-18 23:37] garethbowen commented on #5489
Ready for AT in `5489-uglify-all-the-things`

AT: clear all caches, open the network tab of the dev tools, load the login page and log in to the app and make sure the `login/script.js`, `service-worker.js`, `login/styles.css`, and `inbox.js` are all uglified (eg: all code on one line).

[2019-03-19 00:05] garethbowen commented on #5514
Ready for AT in `5514-img-blob`. Instructions: Remember to clear service worker cache as it caches the old CSP headers.

[2019-03-19 09:32] SCdF commented on #4968
Unfortunately attempting this is what caused it to not go anywhere for years, as Gareth suggests.

TBC I'm cool with replacing it with whatever, whenever. I'm mostly interested in it existing at all, and then people seeing the data and caring about it, which will hopefully spur interest in putting the effort in you suggest. I think this approach also allows us to be a bit more exploratory with und

[2019-03-19 13:15] Jodge commented on #4004
#5361

[2019-03-19 16:18] abbyad commented on #3438
Good idea to schedule this issue. Splitting it into separate issues could help avoid one blocking the other, but either is fine with me.

[2019-03-19 18:02] isaacholeman commented on #5086
Hey @amandacilek it looks like the UX issue that @ngaruko noted above is a real issue especially for facility-based users, even if it's low priority because it won't affect our most typical low-end-Android-user. Would you make an issue and put it in the UX backlog?

[2019-03-19 18:46] amandacilek opened #5518 "Fix the timing of the new lazy loading spinner on contact RHS sections"
This ticket raises a small UX issue with lazy loading contact RHS sections (ticket #5086).

From @isaacholeman: "It looks like the UX issue that @ngaruko noted in ticket #5086 is a real issue especially for facility-based users, even if it's low priority because it won't affect our most typical low-end-Android-user."

Problem: We've implemented lazy loading on the contact RHS sections so that each

[2019-03-19 20:03] abbyad commented on #5493
The closest I can think of doing this is by manually setting the `_id` to that of the home (eg `${clinic._id}-${target.id}`), and applying it to all contacts of type `clinic` to make sure to get the denominator. To include reports submitted to family members you could dedupe on the id, but there is no sense of how many of those were on same day and shouldn't be included. Also, this wouldn't really

[2019-03-19 21:39] newtewt opened #5519 "Permission denied when API is trying to create extracted-resources path in docker env"
Deploying master to gamma.dev is crashing the instance. The error is shown below. Looks like we are trying to create a new directory and we don't have enough permissions.

The line causing the crash.

https://github.com/medic/medic/blob/868a6402523339e7e7b8086617bd1a9adc96ba00/api/src/resource-extraction.js#L20

The error

[code]

**Steps to reproduce**:
Log in to gamma.dev as admin
Navigate to up

[2019-03-19 22:36] garethbowen commented on #5352
Ready for AT in `export-date`.

AT instructions: export all types from the app and ensure the dates are in ISO format, curl the export APIs directly and make sure the dates are in millis, then curl again with `options.humanReadable=true` to make sure the dates are in ISO.

[2019-03-19 22:37] garethbowen commented on #3438
Ok, scheduling for 3.7.0. I'll leave it as one issue because the implementation will probably be using the same library so it's easier to do both at once.

[2019-03-19 23:36] amandacilek commented on #5464
Thanks for the extra info @smbuthia! This page was not specifically designed for all of the use cases you mention, but like I said, I'm fine if our solution for now is to give some users a restricted view of the "admin" app. @garethbowen Is this ticket assigned to me because you all are just waiting to hear further thoughts from me?

Long term, we'd probably want to consider ways to add support fo

[2019-03-20 00:01] amandacilek commented on #2272
Yes I just checked and I think this is still an issue. When clicking in the "Date of Birth" field, a calendar pop-up displays (which is helpful), but does not let you type directly in the field area or even see what is there (which is unhelpful).

Note how the widget location blocks visibility and access to the entry field:
![Screen Shot 2019-03-19 at 4 54 40 PM](https://user-images.githubusercont

[2019-03-20 00:06] garethbowen commented on #5464
Ok, let's schedule the simple change of adding new permission(s) so some users can access only export and/or outgoing messages pages and nothing else. It's a quick fix and sounds like it would be useful for certain users.

@amandacilek Can you raise new issues for specific changes that would help those workflows? That'll get them into the prioritisation hopper.

[2019-03-20 00:12] garethbowen opened #5521 "Make our audit-whitelist test a more courteous user of the API"
A couple of times recently our build has failed due to the audit endpoint being temporarily unavailable.

[code]

Instead of failing, if we get this specific message we should wait and retry a couple of times.

I thought about just ignoring and continuing the build, but that runs the risk of silently failing if the audit endpoint is moved/taken down and always returns this error, so it's safer I t

[2019-03-20 00:25] garethbowen commented on #5514
Backported to `3.4.x` here: https://github.com/medic/medic/commit/9d0045cfdb4d3fea874c2eb33bf462d1faf93572

[2019-03-20 01:30] garethbowen opened #5522 "Feedback modal doesn't close after successful submission"
**Steps to reproduce**:
1. Go to hamburger menu > Report Bug
2. Fill in any description
3. Submit

**What should happen**:
- The bug is submitted, the modal is closed, and a Snackbar is shown confirming the submission.

**What actually happens**:
- The modal stays open.

Nothing in the logs.
No indication of an error in the UI.

**Environment**:

- Instance: localhost
- Browser: Firefox
- Client p

[2019-03-20 01:31] garethbowen commented on #5522
This was a regression caused by this line being removed in this commit: https://github.com/medic/medic/commit/f91bdea49bcabb988c3d1329cbf2792f897f42b0#diff-d43ea71e027c59879beb3bb530f132eaL54

[2019-03-20 06:48] kennsippell commented on #5493
@abbyad I have written the target to track home visits [here](https://github.com/medic/medic-projects/blob/muso-declarative/muso_declarative/targets.js#L142). As you mention, the hard part is counting iff it happens twice.

It isn't feasible with our current system - this is a feature request from Muso.

*I'm not saying this is a good solution - it illustrates there is a solution.* The most bare-b

[2019-03-20 09:01] kennsippell commented on #5519
@Hareet We need API to make a new folder. It is used to serve static resources for unauthenticated users. We create the folder when API starts up.

Do you have guidance on where to put this inside the docker container? Should I be putting this folder somewhere else?

If the path we're using above is as good as any place, do you think we can solve this with a file permission change inside the docke

[2019-03-20 09:26] Jodge commented on #5522
@garethbowen this a regression and a quick fix, do we need AT here?

[2019-03-20 09:53] garethbowen commented on #5522
Yeah I think so. It's a quick fix but I may have broken something else along the way...

The only issues that skip AT are technical ones that don't affect the product in any way, eg: testing, build tools, documentation, etc

[2019-03-20 09:53] garethbowen commented on #5522
Ready for AT in `5522-remember-to-close-the-modal`

[2019-03-20 15:56] newtewt commented on #5514
All good on 3.4.x

[2019-03-20 15:56] #5514 closed

[2019-03-20 16:20] amandacilek commented on #1852
Hm, I think Dianna's comment from June 9th is already implemented (tasks for family members display on the family profile). Her first comment about the time window of tasks displayed I think is still relevant. This relates to other Tasks changes we have been thinking about (like potentially getting rid of the due date altogether).

I think I'd like to wait to discuss this one with Dianna again whe

[2019-03-20 16:25] amandacilek commented on #1847
It sounds like this request is to "Add filters to the Contacts tab", is that correct, Dianna? Definitely something we've discussed more than once. The biggest question will be in deciding which sort of filters to offer, and whether the options change depending on the user role or user hierarchy etc.

We might also bundle adding "sort" functionality in here as well. We have a sort function for UHC

[2019-03-20 16:37] amandacilek commented on #1772
I think most of this is obsolete. Yes, we do still use the word "contacts" throughout, but I think we use it because it is generic and flexible enough to apply to any configuration of the app. The name of the tab itself is configurable, the wording on the "Add new" button on the LHS is based upon the hierarchy structure, and there are no longer filters at the top. I am fine with the text at the en

[2019-03-20 16:45] amandacilek commented on #1565
Yes, back/forward navigation problems do still exist. We had originally planned to address these at the same time as the navigation UI update. We should consider pulling this work out and addressing it separately. The fixes won't be as comprehensive without the UI updates but I think there are still improvements to be made.

In addition to Alex's summary above, please also reference this deck with

[2019-03-20 16:49] amandacilek commented on #856
Some additional information, questions, and UX suggestions on this topic can be found here: https://docs.google.com/document/d/1tgoRzN0DPMFupOy5VkjjH7qtoqACpGUJ-XMnPFhj210/edit#heading=h.wo98a2l6uybf

[2019-03-20 20:26] dianabarsan commented on #5521
I've noticed that it sometimes takes even more than a couple of minutes until npm's API responds (tested locally).

[2019-03-20 20:42] garethbowen commented on #5514
Merged to `master`

[2019-03-21 09:02] garethbowen commented on #5501
Ready for AT in `5501-rationalise-sync-events`

[2019-03-21 16:02] Jodge commented on #5260
@garethbowen  So after some deep dive, I realized there is only one place that we use **NotoSans Italic** `font-style: italic`  and that is on _missing translations on the admin console_

At no point do we use **Noto's** `font-weight: bold` i.e **NotoSans-Bold.ttf**

Also at no point do we use `font-style: italic, font-weight: bold` **NotoSans-BoldItalic.ttf**

I removed **NotoSans-Italic.ttf** to

[2019-03-22 03:57] garethbowen commented on #5260
Whoa, those fonts are _way_ different - that's not working at all how I'd expect. Did you remember to also update font.less to refer to the right font? I think you just need to remove this block:

[code]

[2019-03-22 05:58] Jodge commented on #5260
Interestingly if I remove that block it now goes for **BoldItalic**

[code]

when I get rid of **BoldItalic**, it runs out of option and defaults to the second image I attached earlier

[2019-03-22 14:06] SCdF opened #5530 "CPU pegging / infinite loop when an online user loses connection"
To reproduce:
 - Log in as an online user
 - Idle somewhere. I personally tried the reports page
 - Remove access to the server somehow (e.g. if you're running locally, kill api)
 - Look in the log and notice that it's generating and infinite amount of logging like below:
![image](https://user-images.githubusercontent.com/583851/54823294-4e60f980-4c9f-11e9-818e-f971e69b4554.png)

[2019-03-22 14:09] SCdF commented on #5530
Unsure when this issue arose, but I think it was probably due to this rewrite: https://github.com/medic/medic/pull/5430, so I've put this in the 3.5 project.

[2019-03-22 17:48] amandacilek commented on #5260
We do use Italic, basically in forms from what I can tell. I have a widget that lets me see the specs on fonts displayed in a browser though, and oddly, when I go to a form and check the Italic text there, it says that it is Open Sans (probably a default sans serif). All the other text in the form says Noto except for the italic. Any idea why it would be reverting to the default font instead of No

[2019-03-22 17:51] amandacilek commented on #5260
All that being said, I think performance is more important than aesthetics for our users, so if it does really help, I'm fine with the browser italic. Just wanted to share a designer's perspective. :)

[2019-03-23 01:01] abbyad opened #5531 "Tooltip showing as `logo`"
The logo for branding has a tooltip with just `logo`. Perhaps there is a way to set this that was missed. If so, we should document it.

![image](https://user-images.githubusercontent.com/789512/54859450-b20d1600-4ce3-11e9-8985-cc8eadaa4778.png)

**Steps to reproduce**:
- Hover over the logo in the top left corner of the app

**What should happen**:
- Should have some useful information (or nothin

[2019-03-23 01:15] abbyad commented on #1772
Thanks for reconsidering the comments!

I think the comment about the second screenshot makes sense only if the profile for the person doesn't exist already in the People tab. As I understand it would be so that the "person" could be created at the same time as the "user".

[2019-03-25 09:08] SCdF commented on #5530
Closed in favour of #5481

[2019-03-25 09:08] #5530 closed

[2019-03-25 09:14] Jodge commented on #5531
This is a `regression` by white labelling feature, we should revert it back to display the version number on tooltip hover

[2019-03-25 11:15] ngaruko commented on #5522
Feedback is submitted but ...
a) still shows error in console
![image](https://user-images.githubusercontent.com/6979995/54915471-10dcc480-4f5c-11e9-9515-8f19e807120c.png)

b) add an empty json in the `export feedback` list
[image](https://user-images.githubusercontent.com/6979995/54915499-27831b80-4f5c-11e9-9242-c304fd900c0b.png)

[2019-03-25 11:33] ngaruko commented on #5447
LGTM _ U can go ahead and merge @Jodge

[2019-03-25 14:20] newtewt opened #5533 "Add ability to configure colors on medic web app"
In 3.4 we added the ability to do some branding for the header logo. @nomulex  @smbuthia asked during our 3.4 release training call about possibly making the colors of the webapp or at the very least the header configurable to match more in line with our partner's logos.  Another possibility would be for maybe a design member(@amandacilek) to work the logo colors to our colors. Either way we wante

[2019-03-25 15:19] dianabarsan commented on #5481
Adding another scenario where the Exception Handler submits feedback about disconnects:

**Steps to reproduce:**

- Checkout latest master (3.5)
- Deploy it - you don't need any configuration for this, just start the app
- Login as an offline user
- Open the Dev tools network tab
- Keeping the network tab open, go offline (Via the network tab offline checkbox)
- Open the hamburger menu and click "

[2019-03-25 16:22] Jodge commented on #5531
Ready for AT on branch `5531-logo`

[2019-03-25 16:33] amandacilek commented on #5531
I'm not sure how common of a UI pattern it is, but I'm fine showing the version number again on hover.

The previous tooltip of "logo" sounds more like information that should be in the code as alt text for accessibility purposes. In the case of alt text, "logo" would be fine, or we could further customize it to say whatever partner it is e.g. "Living Goods logo".

[2019-03-25 16:38] Jodge commented on #5531
Actually previous it was `Title | version` e.g. `Medic Mobile | 3.5.0` so the change I have made has restored it back to that

[2019-03-25 17:45] amandacilek commented on #5533
Hey there. Thanks for raising this question.

We discussed this possibility in the past and were not keen on allowing customization of the app colors at this time for a few reasons. I'll split up app colors into three categories and respond to each individually. cc @abbyad @garethbowen @diannakane

**The colors of the header bars**
Currently we have two bars - the dark grey bar at the very top tha

[2019-03-25 23:16] garethbowen commented on #5260
Thanks Amanda. There is another compromise which is to change the styling so we don't use italics anywhere, but that feels like a constraint on future designs. I'll have a play today and see if I can work out how to get slanted Noto and see how that looks.

[2019-03-26 00:09] amandacilek-zz opened #5535 "Replace all FontAwesome icons with svg icons"
Our app currently uses a mix of FontAwesome icons and custom png or svg icons. This request is to conduct a clean sweep of the app and replace ALL instances of FontAwesome icons with svg versions, and replace any random png icons with svg. This relates to any system icons that are embedded in the app (navigational page icons, hamburger menu icons, admin app). It does _not_ include an audit of form

[2019-03-26 00:36] garethbowen commented on #5519
@Hareet @henokgetachew Do you have any advice here?

[2019-03-26 00:38] abbyad opened #5536 "Countdown timer does not respect custom timer value"
The countdown timer is always using the default time of 60, even when set as shown in https://github.com/medic/medic/issues/1531#issuecomment-155388612

Here is a sample XLSForm and corresponding XForm: [timer.zip](https://github.com/medic/medic/files/3006010/timer.zip)

**Steps to reproduce**:
 - Create a form with a non-default timer (eg set to `9` seconds)
 - Open form and tap on timer

**What

[2019-03-26 00:39] garethbowen commented on #5535
@MaxDiz We should consider scheduling this - the icons have been prepared and we can now add them to the app without too much difficulty. This would also improve performance by not downloading the whole FontAwesome font.

[2019-03-26 01:10] garethbowen commented on #5522
@ngaruko The only way I managed to reproduce this was by deleting the "feedback.submitted" translation, in which case I also got this in the log: "Translation for feedback.submitted doesn't exist". Can you confirm you see this in your log too?

The workaround is to provide the translation but I'll also patch the code so it doesn't fail if there's no translation.

[2019-03-26 01:15] #5447 closed

[2019-03-26 01:25] ngaruko commented on #5120
LGTM
Back to you @garethbowen
![image](https://user-images.githubusercontent.com/6979995/54964860-e843e180-4fd2-11e9-855a-13769828411e.png)

[2019-03-26 01:33] ngaruko commented on #5121
LGTM.
Two things though
a) the format looks different from the rest of the keys (unbold and italic it seems)
b) the key cannot be renamed (in edit mode)

Are these expected behaviors @garethbowen

![image](https://user-images.githubusercontent.com/6979995/54965134-11b13d00-4fd4-11e9-9f32-c39d17e4dde0.png)

[2019-03-26 02:16] ngaruko commented on #5405
LGTM @Jodge -

[2019-03-26 02:59] garethbowen commented on #5405
Already merged. Closing.

[2019-03-26 02:59] #5405 closed

[2019-03-26 02:59] garethbowen commented on #5120
Already merged. Closing.

[2019-03-26 02:59] #5120 closed

[2019-03-26 03:01] garethbowen commented on #5120
The key can't be renamed for any translations, so that's fine. I chose to change the styling because I wanted them to stand out.

Already merged. Closing.

[2019-03-26 03:02] garethbowen commented on #5121
The key can't be renamed for any translations, so that's fine. I chose to change the styling because I wanted them to stand out.

Already merged. Closing.

[2019-03-26 03:02] #5121 closed

[2019-03-26 03:02] garethbowen commented on #5522
I've merged a fix and the build has passed. Can you have another look please?

[2019-03-26 03:26] garethbowen commented on #5260
I thought there was something weird going on because in your screenshot the italic "a" is quite different from the normal "a", but I checked the font online and that's by design: https://www.google.com/get/noto/#sans-lgc

The "f" is also a very different style. I honestly don't know what they're thinking...

Okay here's what I get...

Regular:

![regular](https://user-images.githubusercontent.com/

[2019-03-26 08:35] garethbowen opened #5537 "Add a permission to show the Report edit button"
On the Report/History tab there's a button to edit a report which is shown to all users but sometimes we don't want certain users to be able to edit reports. Add a permission to the default and standard configurations that is required to allow for editing of reports. By default all roles should have this permission.

Requested by @Fatoufall in https://github.com/medic/medic-projects/issues/6057

[2019-03-26 14:00] amandacilek commented on #5260
Yeah. Can you please double check that it looks similarly ok across browsers though.

[2019-03-26 14:09] abbyad commented on #5536
The countdown-timer works for some projects, and it turns out that the difference is in using a `note` field vs a `string` as the XLSForm type.

The difference in the resulting XForm is that a `note` is readonly:
### `string`
[code]
### `note`
[code]

Given that it is reasonable for a form builder to set this field as readonly manually in the XForm, or via XLSForm `note` field, we should be more t

[2019-03-26 14:15] abbyad commented on #5536
Here are the forms working for posterity: [timer_as_string.zip](https://github.com/medic/medic/files/3008506/timer_as_string.zip)

### XLSForm

type | name | label | appearance | default
-- | -- | -- | -- | --
string | timer | Press timer to start | countdown-timer | 9

### XForm
[code]

[2019-03-26 17:39] kennsippell commented on #5537
Instead of solving this with user-level permissions, another way to handle this requirement might be that documents cannot be edited if the document is replicated due to the `needs_signoff` property.

We can semantically infer from the needs_signoff property that this user isn't the owner or creator of the document and thus has no business editing or altering it. But they can still edit their own

[2019-03-26 17:50] dianabarsan commented on #5537
I think adding a user permission is a clearer and more complete solution for this, it can also be applied for other cases, not just this specific one.

[2019-03-26 19:58] garethbowen commented on #5260
Above is Chrome. Here is Firefox...

Regular:

![Screenshot from 2019-03-27 08-54-16](https://user-images.githubusercontent.com/2064938/55029171-440f7880-506e-11e9-9a47-f2f621988469.png)

Italic using the font:

![Screenshot from 2019-03-27 08-54-54](https://user-images.githubusercontent.com/2064938/55029179-4c67b380-506e-11e9-873f-b44ced6bf861.png)

Italic using the browser slanting the regular f

[2019-03-26 21:50] garethbowen opened #5540 "Profile application memory usage"
I think our application uses too much memory. The primary suspect is nools which stores every report and contact in memory.

Log in as an offline user with at least 10,000 docs and measure memory usage once the app has started. Assuming we do indeed use too much memory, do some investigation into where the memory is being used. You may need to hack out parts of the app in order to work this out. D

[2019-03-26 21:52] garethbowen commented on #5540
@MaxDiz I'd like to schedule this for 3.6.0. It's a reasonable amount of work but could lead to some significant performance improvements for later releases.

[2019-03-26 23:05] amandacilek commented on #5260
Yep both look ok, thanks.

[2019-03-26 23:45] ngaruko commented on #5311
LGTM. Back to you @garethbowen for merge.
![image](https://user-images.githubusercontent.com/6979995/55040652-2d791980-508e-11e9-8e9b-de7db08387c7.png)

[2019-03-26 23:51] garethbowen commented on #5311
Merged and ready for release!

[2019-03-26 23:51] #5311 closed

[2019-03-26 23:55] ngaruko commented on #5498
LGTM ... Ready to merge @garethbowen
**Before**
![image](https://user-images.githubusercontent.com/6979995/55040800-f9522880-508e-11e9-837f-b11d15780b1d.png)

**After**
![image](https://user-images.githubusercontent.com/6979995/55040931-85fce680-508f-11e9-98f9-63e0c0af7cf8.png)

[2019-03-27 00:14] ngaruko commented on #5330
LGTM @Jodge
![image](https://user-images.githubusercontent.com/6979995/55041496-28b66480-5092-11e9-9b30-50fb3774cb50.png)

[2019-03-27 00:25] garethbowen commented on #5498
Merged.

[2019-03-27 00:25] #5498 closed

[2019-03-27 04:57] kennsippell commented on #5493
[Here](https://github.com/medic/medic-projects/commit/4b5eb91da71f7049b53fe817d5df9156b0536b7b#diff-fea27642d3def321e19d0f41eec7d3bbR167) is an example of how https://github.com/medic/medic-conf/pull/165 can be used to implement this rule.

I also attempted to do this using "nools rules" but was not able to do so without a webapp update..

[2019-03-27 05:47] kennsippell commented on #4713
Yep!

[2019-03-27 15:02] rmhowe commented on #4750
**AT**: This is an ongoing ticket with multiple PRs and is essentially one giant refactor of a lot of the webapp code. The PRs are getting quite big and touching lots of the code so it's starting to be worth ATing, there will be more PRs to come in the next few months that will touch more of the codebase, but for now [the most recent PR](https://github.com/medic/medic/pull/5502) needs AT which upd

[2019-03-27 15:42] SCdF commented on #5519
For testing, you can work around this by doing:

[code]
And restarting API.

Obviously not a PROD-ready solution.

[2019-03-27 16:21] kennsippell opened #5544 "UHC metrics are incongruous between contacts and analytics tab due to month_start_date"
Muso has several UHC-specific targets which report metrics which overlap with the data on the UHC-enabled contacts tab. For example, they track "total number of home visits this month" and "% of families which have received >= 2 home visits this month" in the analytics tab.

The UHC data on the contacts tab reports on a monthly period from the 26th to the 25th (eg. Feb 26th to March 25th). This is

[2019-03-27 17:00] amandacilek commented on #5533
Forgot to respond to this part. Is someone asking for a designer to potentially help them style their logo so that it works well in the Medic app? I would be happy to assist, however, I think we should limit assistance to Medic's closest model building partners and other large deployments like MOH. I do not think we want to take on the responsibility for assisting with every single white labeling

[2019-03-27 21:14] garethbowen commented on #4908
Another attempt made. Closing to see if it happens again.

[2019-03-27 21:14] #4908 closed

[2019-03-27 21:18] garethbowen commented on #4750
@rmhowe Nice one!

In terms of AT and tracking I think it'd be worth creating new issues for each step (eg: "Move `selected` into redux"). That way we won't have to reopen the same issue for each trip through AT.

[2019-03-27 21:32] garethbowen commented on #5537
Ready for AT in `5537-can-edit-reports`

[2019-03-27 21:46] dianabarsan commented on #5537
For AT, I've also updated some code around restricting access to certain routes, so please make sure that still works as expected (https://github.com/medic/medic/issues/4711).

[2019-03-27 21:50] garethbowen commented on #5544
@kennsippell Would this be solved by using `month_start_date` in all target calculations, or does it need to be different for different targets?

[2019-03-28 00:38] kennsippell commented on #5544
I would expect that they should always be the same periods.
I'd expect a fairly straightforward change [here](https://github.com/medic/medic/blob/master/webapp/src/js/services/target-generator.js#L30).

[2019-03-28 00:48] ngaruko commented on #5531
LGTM
![image](https://user-images.githubusercontent.com/6979995/55121615-30dcd580-5160-11e9-9c0b-67a3756e8b89.png)

Back to you @Jodge to merge!

[2019-03-28 01:18] garethbowen commented on #5544
Agreed. I might even call this a bug...

[2019-03-28 02:13] abbyad commented on #5531
Nice! @ngaruko does it also work when the title is changed with the custom branding feature?

[2019-03-28 02:43] kennsippell commented on #5544
Dare you to change the label.

[2019-03-28 10:25] rmhowe commented on #4750
@garethbowen sounds good will do!

[2019-03-28 10:36] rmhowe opened #5546 "Move "selected" into redux store"
As part of the ongoing changes to get ready to [move to Angular 7](https://github.com/medic/medic/issues/4750), this issue is for moving `selected` into the redux store. This is effectively a refactor with no new features added.

**AT**: `selected` refers to the currently selected contact/report/message/etc (ie looking at one in a detailed view on the RHS), and also the situation when multiple rep

[2019-03-28 11:30] SCdF commented on #5293
@kennsippell I have fixed where I think the problem is. However, in my branch everything is *passing*, where I'd expect now it would correctly error. However, the branch example you gave is from a few months ago, so it may be the error that was being masked has been fixed.

[2019-03-28 12:47] SCdF opened #5548 "Documentation tooling"
It would be cool if we could add an automatic documentation generation tool into our development flow. This would help newcomers as well as (hopefully!) help us to write good code-local documentation.

It should understand some kind of JS-friendly comment-based documentation (like [JSDoc](http://usejsdoc.org/about-getting-started.html)), and use that to generate some readable documentation (e.g. h

[2019-03-28 13:15] Jodge commented on #5531
@ngaruko could you also pull the latest code on this branch, I just realized when testing this change, the admin side specifically **Images - Branding** got broken, Ideally the test should confirm that you are able to change the title and the logo from the admin side as before

[2019-03-28 14:00] SCdF opened #5549 "Work out what we want to do with Enketo XML, and do that thing"
When creating reports we store the user-entered data effectively twice:
 - Once as the raw XML that Enketo returns to us, for use by subsequent Enketo invocations (i.e editing docs)
 - Once as extract JSON in `doc.fields.{}`, for use by everything else (on-screen display, configurable logic like rules and schedules, impact and analytics via couch2pg, etc)

Originally we stored the XML in the `doc.

[2019-03-28 14:05] SCdF opened #5550 "Measure and if possible improve CouchDB GET performance via API"
While doing some performance benchmarks (see Context below) I noticed that attachment GETs are really slow for what they are.

This may be true for all GETs, and could be due to our new security code making sure you're allowed to GET the thing you're asking for.

We should measure the performance of GET requests (and honestly authenticated interactions with api in general), work out if we're addin

[2019-03-28 14:17] SCdF opened #5551 "Investigate Geckoview as a replacement for Crosswalk"
When doing some performance tests recently (see Context below) I noticed that Firefox seems to have a much more performant implementation of IndexedDB than Chrome does (or PouchDB uses it in a way that Firefox likes more, or something).

Especially with Crosswalk EOL'd, and with us definitely wanting to squeeze as much performance out of the phones we're deployed to as possible, it may be worth ch

[2019-03-28 14:20] SCdF opened #5552 "Use IDBNext"
We've done a bunch of work around getting IDBNext ready to go, but so far haven't put the final amount of effort into being able to use it.

Specifically, we need to find the time to:
 - Get PouchDB folks to be OK with and release the adapter into the npm ecosystem so we can use it as an alternative (or publish it ourselves under `@medic`)
 - Create a branch that uses it and takes advantage of it

[2019-03-28 14:21] SCdF commented on #5372
There are some good ideas in here, but everything requires much more thought, so I'm going to close this for now.

[2019-03-28 14:21] #5372 closed

[2019-03-28 14:22] SCdF commented on #5462
NB: this has been put on hold until we can decide if we want to support SMS or not

[2019-03-28 15:52] dianabarsan commented on #4327
Ready for AT on `4327-admin-changes`

This branch changes the way the app behaves when the logged in user has an online role.

Rather than watching changes with `include_docs` and having the app be 100% responsive to external changes, we are now watching changes without `include_docs`.

The interface should still be updated by the direct actions of the logged user performed **in the same tab** (fo

[2019-03-28 16:10] kennsippell commented on #5293
I don't think the core of the issue here is a single test which is failing, but rather that the build is passing in travis while tests are failing. I'm less concerned about fixing a specific test and more concerned about fixing the wire-up to travis to ensure that builds fail when tests fail.

[2019-03-28 18:07] MaxDiz commented on #5540
Good call. This is a key issue to app stability and scalability and our 'doc limit policy' for users isn't a legit fix. We have a bunch of app & server side analytics/telemetry improvements under consideration. If your exploration reveals any ongoing needs, we can re-prioritize

[2019-03-28 21:06] garethbowen commented on #4898
AT:
- Make sure feedback docs are stored in the users meta db not the main medic db.
- Make sure the feedback docs eventually replicate into a new shared users meta db based on a configurable cron job.
- Make sure you can view feedback on the Admin > Export > Feedback page and that the export button works as expected.

[2019-03-28 21:23] garethbowen commented on #5531
@ngaruko This is now ready for AT again.

[2019-03-29 15:41] rmhowe opened #5559 "Move various scope properties into redux store"
As part of the ongoing changes to get ready to [move to Angular 7](https://github.com/medic/medic/issues/4750), this issue is for moving various scope properties into the redux store.

**AT:** Parts of the app touched include:
- All loading screens
- App "version" on the about page
- Error messages on analytics, contacts, messages, reports, tasks, and the edit user modal
- Url to the admin app
- T

[2019-03-30 08:04] dianabarsan commented on #5293
@kennsippell
Looking at the branch that this build (https://travis-ci.org/medic/medic/jobs/485043046 - your example) ran on, it looks like you've disabled a number of tests on purpose (https://github.com/medic/medic/commit/910e1f3dbdc9c5727c491c1a26951d0699debf6b & https://github.com/medic/medic/commit/c67b8088d1cab081316cef5654bc62fe8766c562 & https://github.com/medic/medic/commit/79707b78230a65f

[2019-03-31 21:12] garethbowen commented on #5536
Ready for AT in `5536-countdown-timer-does-not-respect-custom-timer-value`

[2019-04-01 03:56] kennsippell commented on #5293
Well that's embarrassing. Thanks.

But something is still off that there is `1 failure` and the travis build is failing. Or does our investigation explain that also?

[2019-04-01 05:13] smbuthia commented on #5533
@amandacilek for my part, the query came mostly as pre-emption of what a partner might ask. I think the response above will help respond to such queries. Thanks.

[2019-04-01 06:02] PhilipNgari commented on #5493
Thanks team. @kennsippell . How would the webapp update look like. How long would it take and is 3.7x release the immediate solution. I may lack more details for now but happy to chat more about it.

[2019-04-01 09:36] ngaruko commented on #5489
LGTM..
![image](https://user-images.githubusercontent.com/6979995/55315867-c0201b00-54c9-11e9-89aa-b840685e50d1.png)

[2019-04-01 09:54] Jodge commented on #5260
Ready form `AT` on branch `5260-font-cache`

Basically testing to see the browser Cache storage size before and after this change, my preliminary test shows it has reduced by _2.4MB_

[2019-04-01 16:09] MaxDiz commented on #5535
Looks like a good add for v3.7.0. We'll have to make sure to notify PM's of icon changes in case there is confusion from health workers/supervisors

[2019-04-01 17:37] kennsippell commented on #5485
Hierarchy Level | Use in the Muso Project
-- | --
District Hospital | Muso uses this to represent a Supervisor's catchment region
Persons that have District Hospital as parent | The supervisor
Health Clinic | Muso uses this to represent a CHV's catchment region
Persons that have Health Clinic as parent | The CHV
Clinic | This represent's a family of patients
Persons that have Clinic as parent | Pa

[2019-04-01 21:15] garethbowen commented on #5489
Merged into `master`.

[2019-04-01 21:15] #5489 closed

[2019-04-02 03:53] garethbowen commented on #3543
@dianabarsan I'm thinking that the new synchronous sentinel will mean we can resolve this, right?

[2019-04-02 04:02] garethbowen opened #5563 "Introduce a secondary server flag"
We've started to find use cases for running a secondary (aka satellite) server which runs its own copy of CouchDB with bidirectional replication to the primary server. This is useful where a facility needs to access all the data but doesn't have a reliable internet connection.

In these configurations it's easy to end up with database conflicts in situations where services on both servers assume t

[2019-04-02 04:08] garethbowen commented on #4154
@dianabarsan I think this should be closed as ancient or can't reproduce. What do you think?