[2015-12-17 10:25] estellecomment commented on #1768
"Family" is also used interchangeably. Updating the Issue's name.
![screen shot 2015-12-17 at 11 15 14](https://cloud.githubusercontent.com/assets/911434/11867357/e79974b4-a4b0-11e5-88ab-a85d72243061.png)

[2015-12-17 10:28] estellecomment opened #1773 "Breadcrumbs are "backwards""
Breadcrumbs are commonly "Big > Medium > Small".
We use "Small > Medium > Big".

![screen shot 2015-12-17 at 11 11 57](https://cloud.githubusercontent.com/assets/911434/11867421/3aa16626-a4b1-11e5-9fd4-f5b3db91f546.png)

[2015-12-17 10:29] alxndrsn commented on #1759
What are the forms in `test order/` for?

[2015-12-17 10:34] estellecomment opened #1774 "Schedules page is in default language"
Default language for the app is french. Admin user's language is English. Schedules page should be in English like other pages, but it's in French.

![screen shot 2015-12-17 at 11 33 23](https://cloud.githubusercontent.com/assets/911434/11867554/2429c22a-a4b2-11e5-9d93-bd60fb783d28.png)

[2015-12-17 10:39] alxndrsn commented on #1773
I think in this instance _small < medium < big_ is more useful, as the most relevant is usually the most local, and for me is the common form for addresses.  I think a more concrete screenshot would demonstrate this, e.g.

**Fester Addams**
_Addams Family_ > _Westfield Health Center_ > _New Jersey_

vs.

**Fester Addams**
_New Jersey_ > _Westfield Health Center_ > _Addams Family_

[2015-12-17 10:40] estellecomment opened #1775 "Missing menu options in Schedules page"
The Schedules page doesn't have a "Tasks" tab, and in the dropdown menu the "User settings" and "Icons" options are missing.
Also the "Users" (utilisateurs) option has the wrong icon, it's using the User Settings icon (single person instead of multiple people)

![screen shot 2015-12-17 at 11 38 22](https://cloud.githubusercontent.com/assets/911434/11867686/f00ec4d0-a4b2-11e5-91c3-856a729f900b.png)

[2015-12-17 10:57] estellecomment opened #1776 "Same icon for Configuration and Settings"
Settings is a sub-part of Configuration. Different icons would be easier to understand.

[2015-12-17 11:01] estellecomment commented on #1775
Also missing menu options in Configuration page : the "User Settings" tile is missing.
The icon for "Users" is also wrong.

![screen shot 2015-12-17 at 11 58 27](https://cloud.githubusercontent.com/assets/911434/11868107/db3bb45c-a4b5-11e5-8f7c-18c8deda5a04.png)

[2015-12-17 11:39] alxndrsn commented on #1724
Newly-created Person on `lg.app` does not have `geolocation` property set:

<img width="1280" alt="screen shot 2015-12-17 at 12 39 09" src="https://cloud.githubusercontent.com/assets/191496/11868868/396e1678-a4bb-11e5-9a47-be99d2697c95.png">

[2015-12-17 11:42] alxndrsn commented on #1733
#1700 is the feature request to include help pages in a more bandwidth-friendly way.

[2015-12-17 11:42] alxndrsn commented on #1733
If help docs are re-added, this should not be done in a way which affects the LG trial.

[2015-12-17 12:01] alxndrsn commented on #1749
@abbyad can you clarify if this ticket is a priority for working on?

[2015-12-17 12:03] alxndrsn commented on #1765
@abbyad please provide an example form where calculations occur in surprising ways, making clear what data will trigger strange calculations and what the expected result would be.

[2015-12-17 12:15] alxndrsn commented on #1757
Should a task be "due" at the _end_ of a day?  E.g. a task due Tuesday would be due at 23:59, or more accurately 00:00 Wednesday minus 1ms.  It might even be appropriate to say that a Tuesday task is due 00:00 Wednesday.

[2015-12-17 13:07] alxndrsn commented on #1733
Duplicate of #1727

[2015-12-17 13:37] abbyad commented on #1773
I think we originally had them as traditional breadcrumbs but swapped the order because the "Small" was most relevant but often got hidden when it overflowed. Looking at it now maybe we just need to change the delimiter to avoid confusion.

[2015-12-17 13:41] estellecomment commented on #1773
Thanks for the explanations! I was wondering if it was an accident, but I see it's not at all.

Flipping the delimiters then, yes :
Small < Medium < Big
Addams Family < Westfield Health Center < New Jersey

[2015-12-17 14:25] mandric commented on #1771
Any chance we can get a screen shot here while you have it handy?

[2015-12-17 14:26] #1771 closed

[2015-12-17 14:32] alxndrsn commented on #1771
<img width="453" alt="screen shot 2015-12-17 at 15 32 27" src="https://cloud.githubusercontent.com/assets/191496/11872008/63a8a67a-a4d3-11e5-944a-8ff6080032c1.png">

[2015-12-17 16:14] abbyad opened #1777 "Profile data/bandwidth usage in mobile application"
Given the high costs of mobile data we should profile the data usage of the app then make improvements where needed to use as little as possible.

`performance` label added since this relates to resource usage.

[2015-12-17 16:15] alxndrsn commented on #1777
# MTN UG Bundle costs

http://www.mtn.co.ug/internet/Mobile%20Internet/Pages/Bundles.aspx

<img width="596" alt="screen shot 2015-12-17 at 17 13 32" src="https://cloud.githubusercontent.com/assets/191496/11874786/b2c786aa-a4e1-11e5-9949-cd4f57426689.png">

# TL;DR: 100MB ~= $1 (USD)

[2015-12-17 17:23] #1682 closed

[2015-12-17 18:23] alxndrsn opened #1778 "Find out what is wrong with Firefox"
https://github.com/medic/medic-webapp/commit/424cc7ce2ec5b6e9c4fd62e845ca0339a1825cb3 introduces a 'specific' firefox version requirement to travis.  It would be nice to know what was wrong with firefox 31.

[2015-12-17 18:32] alxndrsn commented on #1270
After discussion with @estellecomment, seems logical to have an initial sync when the app is first used.  This will take place behind a splash screen.  Once the initial sync is complete, the app should store a flag locally so that it knows not to do this again.

[2015-12-17 19:56] sglangevin commented on #1406
Sorry for the delay on this, it was a little harder to test than I thought. Seems that "Upcoming" ranges from in 4 days to 12 days ago and "Missed" is working as expected (from 13 days ago to 23 days ago). I'm fine with the way it is, though it differs from the discussion above - 4 days before works as it will give the health facility some notice that they should be expecting certain women the fol

[2015-12-18 02:06] abbyad commented on #1765
Here is a file that presents odd behaviour: [test_order.xml](https://files.zenhub.io/56736786ff54ff8d331516a5)

From this test it seems as though using a further node that has a calculated or default value will be accurate in a simple assignment, but will have a value of `0` if used in a calculation.

# On first load:
![image](https://cloud.githubusercontent.com/assets/789512/11887249/56181806-a50

[2015-12-18 06:21] alxndrsn commented on #1765
@abbyad moving this into the iteration - anything causing forms to miscalculate is quite serious IMO!

[2015-12-18 10:01] alxndrsn commented on #1765
Perhaps more revealingly:

# First Load

<img width="178" alt="screen shot 2015-12-18 at 11 00 18" src="https://cloud.githubusercontent.com/assets/191496/11894304/9f8e4d5e-a576-11e5-9843-518621fcbd8a.png">

# Value Changed, then changed back

<img width="174" alt="screen shot 2015-12-18 at 11 00 27" src="https://cloud.githubusercontent.com/assets/191496/11894303/9f7b97d6-a576-11e5-8fd1-fa9054f7235

[2015-12-18 10:19] alxndrsn opened #1779 "Form update causes error in live application"
Logged in as admin, uploading a new version of form `test`, I see the following error in the browser console:

<img width="903" alt="screen shot 2015-12-18 at 11 17 30" src="https://cloud.githubusercontent.com/assets/191496/11894667/0a58a1c8-a579-11e5-8925-1f15349b7392.png">

Loading the form via the `+` button on the reports screen seems to work without error (and provides the updated form conten

[2015-12-18 10:24] alxndrsn commented on #1765
# Scenario 1: Going Down

## 1

<img width="340" alt="screen shot 2015-12-18 at 11 20 31" src="https://cloud.githubusercontent.com/assets/191496/11894736/74ef2c3c-a579-11e5-9519-76125d9f9e1a.png">

## 2

<img width="340" alt="screen shot 2015-12-18 at 11 20 44" src="https://cloud.githubusercontent.com/assets/191496/11894734/74ba5548-a579-11e5-992f-de25f584bd67.png">

## 3

<img width="338" alt="sc

[2015-12-18 11:11] alxndrsn commented on #1765
Filed upstream at https://github.com/enketo/enketo-core/issues/352

[2015-12-18 12:37] alxndrsn commented on #1765
Code review at https://github.com/enketo/enketo-core/issues/352 :)

[2015-12-18 12:37] #1765 closed

[2015-12-18 16:01] alxndrsn opened #1780 "Replication performance: PouchDB may be downloading more docs than it needs to"
pouch is generating a query similar to this:

`/medic/_changes?timeout=25000&style=all_docs&heartbeat=10000&filter=medic%2Fdoc_by_place&_nonce=1450453351782`

the problem is in the `style` value:

Is there an obvious reason why pouch would need `all_docs` (as it does currently) instead of `main_only`?

[2015-12-18 16:02] alxndrsn opened #1781 "Investigate pouch attachment downloads"
How is pouch downloading attachments?  Are they coming directly from the changes feed?  If so, it's worth noting:

[2015-12-18 16:06] alxndrsn opened #1782 "Couch can take many minutes to supply the changes feed on app first-load"
Investigating on my local machine the option of synching only non-user-specific data while the splash screen is running (#1270), I came across the following alarming performance:
[code]
Why is couch change feed filtering so slow?

Related: #1780 #1781 #1665

[2015-12-18 16:08] alxndrsn commented on #1270
Have made some progress on displaying a splash screen and then moving past it, but this won't be usable until #1780, #1781, #1782 are resolved.  Marking as **`Blocked`**.

[2015-12-18 16:16] alxndrsn commented on #1782
[code]

[2015-12-18 16:16] alxndrsn commented on #1782
[code]

[2015-12-18 16:22] alxndrsn commented on #1780
N.B. pouch supports `style=main_only` for [`.changes()`](http://pouchdb.com/api.html#changes), but not for [`.replicate()`](http://pouchdb.com/api.html#replication).

[2015-12-18 16:23] alxndrsn commented on #1782
[code]

[2015-12-18 16:25] alxndrsn commented on #1782
Unsuprisingly, it seems like the time taken to find the next doc is proportional to the difference in sequence number between previous and newly-found docs.

The weird thing is that parsing 33,000 docs should take 270 seconds.  That's about 100 docs per second.

[2015-12-18 16:25] alxndrsn commented on #1782
https://stackoverflow.com/questions/19165078/increase-speed-of-couchdbs-changes-feed-while-applying-a-filter

[2015-12-18 16:30] alxndrsn commented on #1782
Maybe it's just a fact of life - this post describes our problem fairly accurately, and no direct solution is offered: http://qnalist.com/questions/2386580/slow-filtered-changes-feed

[2015-12-18 17:58] alxndrsn commented on #1270
Splash screen implemented.  Current issues:
- [ ] someone needs to have a look and see if it looks alright
- [ ] there are `alerts` in the code
- [ ] probably safest to get the district and include this in the `query_params.id` before running `.replicate()`

[2015-12-19 06:32] btbonval commented on #1757
This might be related to the time zone bug: https://github.com/medic/medic-webapp/issues/1732

[2015-12-21 09:59] alxndrsn commented on #1782
Might be useful to create a separate view for each user.  Each would be defined like the [`doc_by_place` filter](https://github.com/medic/medic-webapp/blob/testing/lib/filters.js#L16).

[2015-12-21 10:25] alxndrsn commented on #1782
...or even a separate ddoc - otherwise [all views will need updating whenever a new view is added to the `users` ddoc:

[2015-12-22 02:01] abbyad commented on #1759
Those were not related to this issue, have since removed them.

[2015-12-22 16:30] abbyad commented on #1779
When a form is updated it is deleted then re-uploaded, is this happening when trying to access the form while it is deleted?

[2015-12-22 16:40] abbyad commented on #1565
Assigning to @diannakane for review.

[2015-12-22 16:56] abbyad commented on #1775
The lack of _Tasks_ tab is because the Schedules page is a relic that we plan on replacing - see conversation at https://github.com/medic/medic-webapp/issues/1362#issuecomment-145861874.

As for the _Users_ vs _User Settings_, we should open a separate issue for the cleanup.

[2015-12-22 16:59] abbyad opened #1783 "Clean up `Users` vs `User Settings` in Configuration"
Missing menu options in Configuration page : the "User Settings" tile is missing.
The icon for "Users" is also wrong.

![image](https://cloud.githubusercontent.com/assets/789512/11960931/35d628de-a8a3-11e5-90f1-1286953b68ba.png)

Split from #1775 via @estellecomment

[2015-12-22 17:00] alxndrsn commented on #1759
hard to review changes when lots of code seems to have moved around, but seems ok

[2015-12-22 17:00] #1759 closed

[2015-12-22 17:07] abbyad opened #1784 "Redesign the Configuration>Schedule (=tasks) page for SMS+android"
The Schedule page is the last configuration page that has not been converted to angular. We have UX mockups for it to be redone, but these were created prior to `Tasks` being introduced. We need to update these to reflect the schedule configuration in v0.6 - which may be entirely Task-based.

Updating this config page will allow us to make use of the latest config method as well as remove the kans

[2015-12-22 17:08] abbyad commented on #1775
Closing in favour of the split off issues.

[2015-12-22 17:08] #1775 closed

[2015-12-22 17:19] abbyad commented on #1749
Yes @alxndrsn, this is a priority issue as we cannot export data using the "export" button in lg.dev.

[2015-12-22 17:27] abbyad commented on #1278
This is a duplicate of https://github.com/medic/medic-webapp/issues/1230

[2015-12-22 17:29] abbyad commented on #1278
On second thought, reopening this one for the implementation, and closing the "design" issue #1230.

[2015-12-22 17:30] abbyad commented on #1230
Closing as the design discussion is complete, moving the final mockup to #1230.

[2015-12-22 17:30] #1230 closed

[2015-12-22 17:33] abbyad commented on #1278
Latest mockup from #1278 via @Lesterng:
![image](https://cloud.githubusercontent.com/assets/789512/11961635/da120dba-a8a7-11e5-8bf7-fd35e4ad3d71.png)

@browndav, @garethbowen as part of implementing the "targets" page we should consider how this fits with the postgres work and if/how we can build some configurable analytics in the webapp for future projects.

[2015-12-23 00:11] joshnesbit commented on #1734
Hey Milan, I can't test this on lg.dev currently because tasks aren't clearing. I haven't seen a blank screen on lg.dev, but I need to clear all the tasks to check the original issue.

[2015-12-23 00:37] mandric commented on #1734
Ok, I'm working on a "generic profile" setup/builds #1764  so we can differentiate bugs based on configuration and application code bugs.  Once this is done we should be able to reproduce and test/confirm all application bugs on alpha.dev...

[2015-12-29 06:11] bishwas-medic commented on #1000
Just been inquired about this feature by one of our project officer. The overlapping schedules for training and reporting for different areas and the slow unreliable internet makes it very very hard for them to delete the training reports and monitor the real reports. Would love to see this feature present in the next release.

[2015-12-31 14:44] SCdF commented on #1754
Hey @alxndrsn,

1) Do we care about redirecting HTTP? Are all our resources HTTPS?
2) Do you have any more data than these screenshots?

I used [Charles](|https://www.charlesproxy.com) to proxy the connections over a connection that never completes. With Charles set to effectively time out (very high round-trip latency) I couldn't reproduce the app running slowly. Note that it's on a Nexus5 and so

[2015-12-31 14:48] SCdF commented on #1754
FYI I used this guide to setup Charles, not that there is much to it: http://tech.taskrabbit.com/blog/2015/07/02/android-simulating-network-speed-and-response-codes/

[2016-01-02 03:27] mandric commented on #1000
@bishwas-medic this is next on my list after https://github.com/medic/medic-webapp/issues/1764. If you have any input on usability or UX let us know.  As soon as I have something in the works I will post here for feedback.

[2016-01-04 12:24] SCdF commented on #1777
So I've looked around a bit, and CouchDB doesn't seem to support any kind of HTTP compression (ie gzip). The only way we could add this AFAICT, bar adding the capability to Couch (I've always wanted to learn Erlang…) would be to put a server in the middle. You'd then have: Browser -> HTTPS+GZIP -> MedicCouch -> HTTP -> CouchDB, which CouchDB no longer being exposed over the internet.

[2016-01-04 13:16] SCdF commented on #1777
Talking to @alxndrsn we are already set up this way. It looks like we should just be enable compression in the PROD nginx deploys

[2016-01-04 18:17] alxndrsn commented on #1782
To see how the filter function is eventually included in the ddoc:
[code]

[2016-01-04 18:23] browndav commented on #1777
We have deflate turned on IIRC, but only for a whitelist of file types currently: https://github.com/medic/medic-os/blob/dev/platform/packages/medic-core/settings/medic-core/nginx/nginx.conf#L36

[2016-01-04 18:43] SCdF commented on #1777
`Content-Type: application/json` is what I'm getting, which is not covered by the whitelist. Not sure if that means the whitelist is wrong or the content type is

[2016-01-05 09:27] estellecomment commented on #1780
Couch, like pouch, doesn't have the "style=all_docs/main_only" option for replication, only for changes feed.
http://docs.couchdb.org/en/1.6.1/json-structure.html#replication-settings

[2016-01-05 10:00] estellecomment commented on #1780
TLDR : main_only would be fine for the first sync : there's nothing on the client db, so it doesn't matter.
Once both client and server are editing docs, I think we'll need to know all_docs for handling conflicts.

**The replication algo wants all the revisions** :
From http://guide.couchdb.org/draft/conflicts.html, the algorithm for deciding which version wins in a conflict:
"Each revision includ

[2016-01-05 11:48] SCdF commented on #1782
I'm going to say the Javascript function's weird loading situation is probably not a performance concern.

Running the `doc_by_place` filter locally eventually returns the `resources` document, 1345 documents in, taking ~13 seconds. Replacing the filter with `function(doc, req){return doc._id === \"resources\"}` takes ~13 seconds

_(it once anomalously took 8.5 seconds, but couldn't reproduce it a

[2016-01-05 15:20] SCdF commented on #1782
Erlang filters seem to be, from the limited testing I've done, an order of magnitude faster.

I have not rebuilt the entire filter in Erlang, but I have replicated the simple resource filter above. I also split out the python into its own design document to remove the possibility that the large design doc is causing issues (ie parsing the JSON each time).

So testing the following:
[code]

And got

[2016-01-06 21:17] SCdF commented on #1782
Here, have some Erlang: https://gist.github.com/SCdF/50b69e655595c56f679e

NB: haven't fully tested this but it appears to work.

On my local machine it runs 3x faster than the equivalent JS code. This is not the 10x we were experiencing before, which is a shame. Having said that, this code is probably not optimal, since I started learning Erlang this morning.

It's also twice the length of the eq

[2016-01-06 21:43] mandric commented on #1770
Thanks @estellecomment, looks great, nothing major just a few comments in the PR.

[2016-01-06 23:03] mandric commented on #933
@sglangevin @abbyad not sure what branch we are using to test DIY now.  Let me know and I'll make sure this is available somewhere for acceptance testing.

[2016-01-06 23:09] sglangevin commented on #933
@mandric last I checked we were using the new DIY branch that you had created, but I'm not sure when that will change. Maybe we can figure that out next week?

[2016-01-06 23:14] mandric commented on #933
Ok there was some talk about DIY using alpha, I just didn't know the status of that.  And we can surely work on that next week if we need to.

[2016-01-07 12:04] alxndrsn commented on #1701
Work done in #1787

[2016-01-07 13:19] SCdF commented on #1782
I updated the Erlang a little based on a quick reading of their optimisation guide (tl;dr; prefer head|tail on lists over more complex stuff, and my own observation that anon function calls are expensive). On my local machine taking the limit off the query (so it pulls all relevant docs for [I'm guessing] the admin user) JS runs in ~68 seconds and Erlang runs in ~18 seconds, which is 3.7x faster.

[2016-01-07 14:08] alxndrsn commented on #1777
@SCdF that content-type is correct for JSON.  Not sure if there's a reason it's left out of the list.  We should enable it, and make sure to test it doesn't break the changes feed.

[2016-01-07 14:33] alxndrsn commented on #1701
Nice work, @SCdF

[2016-01-07 14:33] #1701 closed

[2016-01-08 10:49] alxndrsn commented on #1628
This bug is documented in more detail at #1754

[2016-01-08 10:49] #1628 closed

[2016-01-08 10:52] alxndrsn commented on #1732
Fixed by https://github.com/alxndrsn/openrosa-xpath-evaluator/commit/ca3f6d4bea1051df816b4959288f1bae43545506 ?

[2016-01-08 10:52] #1732 closed

[2016-01-08 10:55] alxndrsn commented on #1779
Not sure!  This can be closed as without context it's not a very useful bug report.

[2016-01-08 10:55] #1779 closed

[2016-01-08 10:57] alxndrsn commented on #1754
HTTP is only used locally in dev - otherwise all access to the app should be over HTTPS.

No.  What data might be helpful to collect next time?

[2016-01-08 11:17] #1712 closed

[2016-01-08 11:18] alxndrsn commented on #1755
In Acceptance Testing, worth checking if this behaves correctly for both admin and non-admin users.

[2016-01-08 11:18] #1755 closed

[2016-01-08 11:18] SCdF commented on #1754
I'm not sure exactly. One thing that might be useful would be right clicking a failing request and getting the curl-able command, and then using that with `-v` for verbosity. Mostly because I'm wondering if requests can pause at different points in the flow, and those different points cause different styles of issues. Also, if useful, the line of (Medic) code which is waiting for a request, though

[2016-01-08 11:18] #1770 closed

[2016-01-08 11:22] alxndrsn commented on #1754
This should be fairly obvious from the URL.  It looks like a `PouchDB.info()` call, but I can't say where that happens off the top of my head.  It may not even be explicit, but part of e.g. `replicate()`.

[2016-01-08 11:25] alxndrsn commented on #1754
This could be interesting, but it's probably important to perform the curl over the same connection as the app is using.  Likely this would require tethering to the out-of-credit phone.

Also will require some care to recreate, as behaviour seems to be different depending if the request starts before the phone runs out of credit or afterwards.

[2016-01-08 11:28] #1734 closed

[2016-01-08 11:28] #1299 closed

[2016-01-08 11:28] #933 closed

[2016-01-08 11:34] #1733 closed

[2016-01-08 11:37] alxndrsn commented on #1769
@abbyad removing scheduled, as this issue has no milestone.

[2016-01-08 11:37] alxndrsn commented on #1719
removing scheduled, as this issue has no milestone

[2016-01-08 11:40] alxndrsn commented on #1586
Closed in favour of medic-android issue - this is just for developers' convenience.

[2016-01-08 11:40] #1586 closed

[2016-01-08 11:42] alxndrsn commented on #1472
Moving to backlog as no milestone is assigned.

[2016-01-08 11:42] alxndrsn commented on #1318
Moving to backlog as no milestone is assigned.

[2016-01-08 11:43] alxndrsn commented on #1706
Moving to backlog as no milestone is assigned.

[2016-01-08 11:44] alxndrsn commented on #1046
Moving to backlog as no milestone is assigned.

[2016-01-08 11:47] alxndrsn commented on #1115
As above - this behaves fine in browser and with curl:
[code]

Moving to backlog.

[2016-01-08 11:51] alxndrsn commented on #1122
@mandric @sglangevin should this issue be assigned to a DIY milestone?

[2016-01-08 13:48] abbyad commented on #1122
We haven't fully fleshed out the next DIY milestone, but it doesn't hurt to throw it in there now.

[2016-01-08 15:56] abbyad opened #1789 "Requesting audit log makes server unresponsive"
When requesting the audit log via `configuration/export` the server became unresponsive for about 10 minutes.

Marking as a bug as this could have adverse effects.

[2016-01-11 11:39] alxndrsn commented on #1658
@abbyad how does this look to you?

<img width="322" alt="screen shot 2016-01-11 at 12 38 38" src="https://cloud.githubusercontent.com/assets/191496/12232597/4945d924-b860-11e5-9630-689a9a27e5e2.png">

[2016-01-11 16:01] mandric commented on #1712
Pretty sure we decided this was unnecessary and probably a bad idea to complicate permissions.

[2016-01-11 16:23] alxndrsn commented on #1712
Yep, we're using `can_logout` and `can_edit_profile`.

[2016-01-11 16:40] mandric commented on #1712
Also pretty sure `can_logout` is a bad idea.  It's better put into a setting.  Outlined a bit in this old PR. https://github.com/medic/medic-webapp/pull/1785/files

[2016-01-11 19:01] browndav commented on #1789
Is this locally or on a specific hosted instance?

[2016-01-11 20:20] abbyad commented on #1789
Saw it happening on lg.app

[2016-01-12 06:34] bishwas-medic commented on #1000
@mandric beside the UI that Marc has suggested on one of the comments above, it would be great if we could also have an option for "Select All" feature. That would help in deleting large number of reports in very short time. The feature should be:
* Able to select all reports that fits the filter that is applied.
* Usable only after any filter is applied. Shouldn't be usable when no filter is appl

[2016-01-12 11:49] alxndrsn commented on #1700
Fixed in #1792 - please review

[2016-01-12 11:50] alxndrsn commented on #1727
These should be re-instated as individual docs in the db if #1700 is accepted

[2016-01-12 11:52] alxndrsn commented on #1700
If this is merged, help pages will no longer be specified in the ddoc.  Instead, an individual doc should be created for each help page, with the following properties:

[code]

[2016-01-12 14:05] alxndrsn commented on #1700
Fixed in PR #1793 - please review

[2016-01-12 14:34] alxndrsn commented on #1699
Implemented on https://github.com/medic/medic-webapp/pull/1794
Blocked by merge of #1700

[2016-01-12 14:36] alxndrsn commented on #1738
(closed in error - waiting for code review)

[2016-01-12 14:36] alxndrsn commented on #1746
(closed in error - waiting for code review)

[2016-01-12 14:36] alxndrsn commented on #1752
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1737
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1635
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1622
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1618
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1592
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1570
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1566
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #1503
(closed in error - waiting for code review)

[2016-01-12 14:37] alxndrsn commented on #818
(closed in error - waiting for code review)

[2016-01-12 14:49] alxndrsn commented on #1773
We could also use a different delimter, e.g.:
_Addams Family, Westfield Health Center, New Jersey_
_Addams Family • Westfield Health Center • New Jersey_

[2016-01-12 15:29] alxndrsn commented on #1751
This appears to have been fixed with _Option 2_ in https://github.com/medic/medic-webapp/commit/6cff85f31172adce4a59136df54f7d9963dbcf6e

[2016-01-12 15:29] #1751 closed

[2016-01-12 15:37] alxndrsn commented on #1736
Cannot recreate this locally or on dev or app servers.  Please re-open if it's still an issue.

[2016-01-12 15:37] #1736 closed

[2016-01-12 16:53] alxndrsn commented on #1694
Not surprising, as `doc.date_of_birth` is being stored as a string, but all our code expects a number (presumably a timestamp of some sort).  I'd consider changing the form to save as a number.

[2016-01-12 17:17] alxndrsn commented on #1657
Looks like it would be an improvement to modify CSS:

[code]

[2016-01-12 17:31] alxndrsn commented on #1657
To fix vertical alignment too, move the element containing the `*` prior to the label in the DOM.  This would however require modifying hte XSLT, which may not be clever.

[2016-01-12 17:42] mandric commented on #1738
Looks good.

[2016-01-12 17:42] #1738 closed

[2016-01-12 17:44] alxndrsn commented on #1657
Have fixed, except for vertical alignment issue.  Changing the XSLT seems a bit over the top.

[2016-01-12 17:47] alxndrsn commented on #1653
Moved to projects.

[2016-01-12 17:47] #1653 closed

[2016-01-12 17:51] alxndrsn commented on #1650
Would it make sense to have a `$scope.disableNavigation` flag in the `$scope` of `InboxCtrl`?  You might want to disable all sorts of stuff while a save is taking place, and for desktop users too.

[2016-01-12 17:52] alxndrsn commented on #1631
Closing this.  Please re-open in `medic-projects` if the issue is still occurring.

[2016-01-12 17:52] #1631 closed

[2016-01-12 17:54] mandric commented on #1746
Nice.

[2016-01-12 17:54] #1746 closed

[2016-01-12 17:58] alxndrsn commented on #1752
Comment added.

[2016-01-12 18:01] #1737 closed

[2016-01-12 18:06] #1752 closed

[2016-01-12 18:12] mandric commented on #1752
Assigning parent ticket #1751 for acceptance testing.

[2016-01-12 18:15] #1718 closed

[2016-01-12 18:18] #1717 closed

[2016-01-12 18:20] estellecomment commented on #1695
I had a neverending replication, when cloning the lg-dev db to my local server.
There were 12-ish docs that didn't replicate, one of which was huge : an audit_record of the ddoc, I think. We might not want to generate these giant audit_records, maybe a diff would be enough.

Can't reproduce it though.

[2016-01-12 18:49] mandric commented on #1695
If you see an audit record of a ddoc that's a bug.

[2016-01-12 19:35] estellecomment commented on #1695
Interesting. I didn't save it, so not 100% sure.
I am sure it was a giant audit_record though.

[2016-01-12 20:13] alxndrsn commented on #1695
I really hope the audit record isn't being cloned to clients...

[2016-01-12 22:29] estellecomment commented on #1373
Enketo has a single constraint per field, and from digging into the code, it looks like it would be a huge undertaking to add a second one.
@alxndrsn also [asked about it](https://github.com/enketo/enketo-core/issues/334)

We could fiddle with just the displaying of messages, without changing the underlying enketo validation.
However, the validation function, which checks if phone number is unique

[2016-01-12 23:01] btbonval commented on #1555
I think #1764 fully coopts the main rationale for this ticket with the minor exception of not addressing some way to present the new XML configs as JSON for postgres support. That minor issue can always become its own ticket at a later date.

[2016-01-12 23:01] #1555 closed

[2016-01-13 11:17] alxndrsn commented on #1774
It looks like this page is templated by kanso instead of angular.  @mandric @garethbowen are these legacy pages that still need converting to angular?

[2016-01-13 11:21] #1773 closed

[2016-01-13 11:24] alxndrsn commented on #1766
Admins can create places, so they see the option of different places to create.  It looks like the bug here is in the logic deciding whether to show `Add Clinic` vs `Add Place` - this should be determined the same way that the right-hand pane decides whether to go directly to the Clinic form, or display the choice of place types.

[2016-01-13 11:34] alxndrsn commented on #1735
Odd, but hard to recreate.  Any chance you can get a console output next time this happens?

[2016-01-13 11:40] alxndrsn commented on #1616
Does couchdb already store all revisions of the ddoc?

[2016-01-13 11:43] alxndrsn commented on #1577
Cannot recreate.  Please re-open if still occurring for you.

[2016-01-13 11:43] #1577 closed

[2016-01-13 11:47] alxndrsn commented on #1554
Likely the simplest approach to this would be to make an enketo widget which scans notes for spans whose contents look like phone numbers.  Converting these spans to clickable links would then be simple.  Would this be suitable?

[2016-01-13 11:53] alxndrsn commented on #1539
I think someone deleted _Atim Jane_.  Deleting a contact does not remove other contacts' references to the deleted contact.

[2016-01-13 12:19] alxndrsn commented on #838
Hi @Lesterng @browndav it'd be nice to get the designs for this; have you two made any progress?

[2016-01-13 12:27] alxndrsn commented on #1212
Looks like removing the `:hover` styles on mob could be the simplest approach - there doesn't seem to be a way to de-hover via JS, even triggering `mouseout`, `blur`, `ontouchend` on the relevant elements.

[2016-01-13 15:31] alxndrsn opened #1795 "Improve ng-repeat rendering?"
We should probably be using `track by item._id` in most of our ng-repeats

[2016-01-16 00:43] btbonval commented on #1437
This directory is a good config reference from the proof of concept for two different projects:
https://github.com/medic/middleware/tree/master/postgres/projects

That's the sort of thing we'd want to have somewhere in Couch.

[2016-01-18 00:01] mandric opened #1796 "report detail link fails to load"
These two links are not the same report but should be:
https://demo.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/44f17306d96785663156fd8dc0d027d3
https://demo.app.medicmobile.org/_couch/_utils/document.html?medic/44f17306d96785663156fd8dc0d027d3

If the report is not loaded in the left pane then the route fails to initialize properly.  For example this loads correctly: https://demo.a

[2016-01-19 19:52] alxndrsn commented on #1651
No longer deprioritised in favour of #1702

[2016-01-20 00:14] #1635 closed

[2016-01-20 00:18] #1783 closed

[2016-01-20 00:21] #1705 closed

[2016-01-21 21:04] abbyad opened #1797 "Some contacts shown twice"
Using the field test instance of v0.6, some places are shown twice:
![image](https://cloud.githubusercontent.com/assets/789512/12494458/3d31b0b8-c058-11e5-8f49-d4a515cc7d8e.png)

They are the same place as they are both highlighted when either is selected. This does not occur consistently, and I haven't figured out how to reproduce it.

[2016-01-21 21:44] btbonval opened #1798 "form metadata cannot be parsed on 0.6 systems"
Due to the switch from forms defined in JSON to forms defined in XML to support Enketo, the existing code to interpret couch data into one view per form cannot work for 0.6.

Here is the code which currently parses 0.4 JSON form metadata into relevant views:
https://github.com/medic/middleware/blob/master/postgres/formviews.sql#L37-L43

It expects a ddoc to contain `app_settings.forms.<formname>.f

[2016-01-21 21:46] btbonval commented on #1798
Ideally we can reflect the XML structure directly into the app settings for backwards compatibility. Alternatively we create some novel JSON output and maintain two form metadata parsers in postgres: one for 0.4 and one for 0.6.

[2016-01-21 21:51] btbonval opened #1799 "couch2pg adapter needs to have a main loop"
It is unclear if the import process must be encoded as a shell executable or if a main-equivalent function in JS is fine. The difference trivial.

Regardless, a main loop is required to:
1. call the import process
2. sleep for some predetermined amount of time

Since much of the importer's settings are managed on the environment, it would make sense to maintain the sleep interval in the environmen

[2016-01-21 21:52] btbonval opened #1800 "Package couch2pg for gardener"
I don't know what this entails, but it should happen.

Gardener will launch the importer and ensure it continues to run.

[2016-01-21 21:52] btbonval commented on #1800
Clearly this depends on #1799

[2016-01-21 21:53] btbonval opened #1801 "Bundle PostgreSQL with Medic OS"
[Moderator edit: PostgreSQL currently builds and ships as part of Medic OS, but lacks startup scripts and initial auto-configuration. Write database setup and startup scripts, and publish working credentials to the appropriate users on the local filesystem. End goal: PostgreSQL is automatically available locally on port 5432 for every up-to-daye Medic OS instance. (DB)]

[2016-01-21 21:54] btbonval commented on #1800
Once that is done, as a follow-up task, medic-os must be setup to configure/launch the couch2pg adapter gardener package.

[2016-01-21 21:55] btbonval commented on #1800
couch2pg relies on environment variables for configuration. Either Gardener or some other device will be necessary to ensure couch2pg is run with the correct environment settings.

[2016-01-21 22:01] btbonval commented on #1800
I will need the help of @mandric or someone else familiar with gardener.

[2016-01-21 22:03] btbonval commented on #1798
I will need help from @alxndrsn or someone familiar with the existing XML parsing in the webapp. I am told there is already a place wherein the XML is parsed in the webapp to support the in app views and this solution to this issue would operate in a similar manner.

[2016-01-21 22:04] btbonval commented on #1801
I will need the help of @browndav or someone familiar with medic-os packaging.

[2016-01-21 22:11] alxndrsn commented on #1798
Do you need this info to come from the design doc, or are you able to query couch by HTTP if the info were available?

[2016-01-21 22:21] btbonval commented on #1798
We had discussed this with @browndav previously and I agree with him on this point: we want all data processed by Postgres to come from couch documents.

The whole couch database is downloaded as a unit, but making independent HTTP calls could begin to introduce a loss of synchronization between the dataset currently inside postgres and anything fetched by way of HTTP.

[2016-01-21 22:24] btbonval commented on #1798
I think I worded that poorly. I suppose the couch database is also an HTTP fetch.

The couch database HTTP call is a single atomic fetch that gives a snapshot. Ideally postgres would operate on a single snapshot of the data to maintain integrity, without resorting to data outside that snapshot which might not be in sync with the snapshot.

[2016-01-21 22:26] alxndrsn commented on #1798
OK.  Have you got an example dataset that you'd expect to see?  I see it's described in the OP, but a concrete example would really help.

[2016-01-21 22:28] btbonval commented on #1798
I'll see if I can find something in the 0.4 demo dataset and get back to you with highlights from that.

[2016-01-21 22:55] alxndrsn commented on #1348
Code looks good!  There's an unresolved TODO; is that deliberate?  Also please squash your commits to a single one - 9 commits seems a lot for 9 lines of code :p

[2016-01-21 22:56] alxndrsn commented on #1348
Also, these 2 look equivalent to me, could you check?

**Old**
[code]
**New**
[code]

[2016-01-21 23:27] btbonval commented on #1798
I'm not sure why `forms.js` is separate from `app-settings.js` when in situ the forms are part of app settings. So maybe something has changed with how these things are organized? I don't know if the meta section is required for pulling the `forms.py` contents into `app_settings.forms` indexed by form name or what.

At any rate, here is an example of a P form defined for ANC (part of a list of oth

[2016-01-21 23:29] btbonval commented on #1798
btw notice how both say `position: 0`? That's technically a bug. I filed it some time ago.
https://github.com/medic/medic-webapp/issues/1308

I could have picked a better example, but `patient_name.position` might instead be 1 to make the above example useful.

[2016-01-21 23:51] browndav commented on #1799
IMO this needs to be shell executable. Gardener `fork`s and `exec`s IIRC, rather than fork and eval in-process.

[2016-01-21 23:52] browndav commented on #1801
Another option suggested at the meetup was to use a hand-installed Postgres for the LG deployment to save time. I think this'll be a priority/timeline-centric decision; consider selecting this issue for discussion during Monday's iteration kickoff call.

[2016-01-22 05:14] btbonval commented on #1799
Good to know. Trivial difference ultimately, as a shell wrapper around the main loop is just another line or two.

[2016-01-22 05:16] btbonval commented on #1801
We might be able to put this off for the immediate future but it will eventually need to be done.

We'll have a better idea in a few weeks I suspect :)

[2016-01-22 17:01] alxndrsn commented on #1798
We already have code to extract the output fields from an XML form submission in `EnketoTranslationService.nodesToJs()` at https://github.com/medic/medic-webapp/blob/develop/static/js/services/enketo-translation.js#L260.  It looks like this code may return a hierarchy in some cases, which I guess would need flattening in a standardised way.  The  `<model>` node from the form definition would norma

[2016-01-22 18:54] estellecomment commented on #1348
they are equivalent, but there's the additional statement underneath, $state.go, which is run if no err.

[2016-01-22 19:01] estellecomment commented on #1348
Ignore the first PR it's a giant mess. The second one is much cleaner.

[2016-01-22 19:25] estellecomment commented on #988
Reopening after Jan 2016 meetup.
Lucene is bloating Medic OS, because it needs java.

[2016-01-22 19:30] #988 closed

[2016-01-22 19:33] estellecomment opened #1804 "Get rid of Kanso"
Unmaintained, and causing ddoc bloat.
 - Analysis
 - settings / gardener config
 - one DIY page is still using duality

[2016-01-22 19:35] estellecomment opened #1805 "Merge master to develop"
Related : #1342 (merge to testing)

[2016-01-22 19:37] estellecomment opened #1806 "NPM modules shouldn't be attached to ddoc"
Gardener is attaching npm modules to ddoc. Should be elsewhere.

[2016-01-22 19:39] estellecomment opened #1807 "Upgrades are unreliable"
Upgrades should not depend on browser connection.
Upgrades should work consistently.

[2016-01-22 19:40] estellecomment opened #1808 "Store ddoc + deps in npm"
Rather than ad hoc

[2016-01-22 19:41] estellecomment opened #1809 "Remove watches on translations"
For performance improvement on phones.

[2016-01-22 19:42] estellecomment opened #1810 "View code replicates"

[2016-01-22 19:46] estellecomment commented on #1304
Medic OS update
App compat, including garden

[2016-01-22 19:48] estellecomment opened #1811 "Use ES6"
Should we?
Can use Babel compiler. Impacts source maps.

[2016-01-22 19:49] estellecomment opened #1812 "Instance management : EOL, date tags"

[2016-01-22 19:50] estellecomment opened #1813 "Make schedules rules-based"
+ remove Sentinel reminders code.

[2016-01-22 20:00] estellecomment opened #1814 "Forms : human-readable serialization"
For submitting forms from dumb phones.
Would only support subset of enketo features.
Start with SMS format.

[2016-01-22 20:02] estellecomment opened #1815 "Forms : machine-readable SMS serialization"
Full xform/enketo feature set.

[2016-01-22 20:03] estellecomment opened #1816 "Forms : remove JSON forms"

[2016-01-22 20:06] estellecomment opened #1817 "Move to Angular 2"
- When? Angular 1 should be supported for a while.
- How much? We can have both co-existing in the same app if needed.

[2016-01-22 20:07] alxndrsn commented on #1348
Comments inline at https://github.com/medic/medic-webapp/pull/1803/files

[2016-01-22 20:07] alxndrsn commented on #1348
Also the tests are broken - might need to rebase against `develop`?

[2016-01-22 20:08] alxndrsn commented on #1806
Are these actually kanso modules?  In which case this may be covered by #1804

[2016-01-22 20:08] estellecomment opened #1818 "Angular : modularization of services, controllers"

[2016-01-22 20:09] alxndrsn commented on #1807
Which upgrades does this refer to?  Getting new software is always likely to require a working connection...

[2016-01-22 20:09] estellecomment opened #1819 "Angular : docs for modules"

[2016-01-22 20:10] alxndrsn commented on #1809
This should be a simple upgrade of the `angular-translate` lib.

[2016-01-22 20:10] estellecomment opened #1820 "Angular : modals as controllers?"

[2016-01-22 20:11] alxndrsn commented on #1810
Any chance of some more detail on this one/

[2016-01-22 20:16] estellecomment opened #1821 "Document our repo structure"
Helps with external contributions and onboarding.
- folder-level doc
- file-level doc for non-obvious files

[2016-01-22 20:17] estellecomment opened #1822 "Onboarding documentation"
Getting-started docs. Useful for external contrib.

[2016-01-22 20:22] estellecomment commented on #1666
LG phone users complain the app is slow, which makes it hard to use.

[2016-01-22 20:23] estellecomment opened #1823 "Messaging reliability"

[2016-01-22 20:25] estellecomment opened #1824 "Multiple build tools"
Bower, kanso, npm, grunt.
 - Remove some?
 - Build speed?

[2016-01-22 20:26] estellecomment opened #1825 "Ensure E2E tests run"

[2016-01-22 20:31] estellecomment opened #1826 "Medic-os : one step build"
OS image automated build/upload

[2016-01-22 20:33] estellecomment opened #1827 "Clean app URL - remove "medic/_design/medic/_rewrite""

[2016-01-22 20:34] estellecomment opened #1828 "Nginx: enable gzip/deflate for application/json, including longpoll APIs"

[2016-01-22 20:36] estellecomment opened #1829 "Better instance deployment"
- checklist
- automation

[2016-01-22 20:37] estellecomment opened #1830 "Code opt for size : split inbox.js"

[2016-01-22 20:41] estellecomment opened #1831 "Logins/logouts : data security"
LG wants logout disabled.

[2016-01-22 22:33] estellecomment opened #1832 "Contact Schema : remove JSON -> XML generation"

[2016-01-22 22:33] estellecomment opened #1833 "Contact Schema : figure out outputs section"

[2016-01-22 22:38] estellecomment opened #1834 "Tests for Couchdb server-side code"
Views, filters, etc.

[2016-01-25 01:01] garethbowen commented on #1616
Yes but these could be compacted any time so we can't rely on it.

[2016-01-25 01:02] garethbowen commented on #1774
Correct. Schedules is the last of the pages to convert to angular.

[2016-01-25 01:38] garethbowen commented on #1806
Yeah. npm and bower modules are bundled and then not included in the ddoc. Closing as not required.

[2016-01-25 01:38] #1806 closed

[2016-01-25 11:29] SCdF opened #1835 "Deploy Erlang doc_by_place filter"
As a response to #1782 I re-wrote the doc_by_place filter in Erlang. It has been reasonably-though-not-exhaustively manually tested. The code is here: https://gist.github.com/SCdF/50b69e655595c56f679e

To be able to deploy this we need to do the following:
 - Add an integration test that hits couch for this filter. This should be covered in #1834. It needs to hit couch because once the filter is w

[2016-01-25 11:31] SCdF commented on #1834
To make it clear: writing the test so that it hits Couch (as opposed to just unit testing the JS code) allows us to re-write those filters in other languages, primarily Erlang. This could be useful for performance.

[2016-01-25 11:36] SCdF commented on #1817
This is more "consider moving away from Angular" right?

[2016-01-25 11:37] SCdF opened #1836 "Write Nools testing framework"
We want to:
 - Have tests for our current rules
 - Make it easy for other people who write rules to also write tests for those rules

Ideally we'd have a nice framework that boots up nools and provides convenience functions that allow you to push nools facts and expect certain facts out the other end.

[2016-01-25 11:42] SCdF opened #1837 "Ddoc gets loaded by pouch on nearly every user interaction"
It's unclear if this causes performance issues as Pouch's debug information isn't ideal for performance testing.

If you enable debug logging in pouch (http://pouchdb.com/api.html#debug_mode) and reload the page, you'll get a bunch of fun stuff in the logs. Note that the times at the end of each log message as the ms since the last message.

These debug logs seem to indicate that pouch is called t

[2016-01-25 11:46] SCdF opened #1838 "Take note / alert on document conflict"
Currently there is no mechanism for us to notice a document conflict. Due to how Medic is used conflicts will probably never occur in practice, but it would be wise to make sure that if they _do_ occur we know about it.

It could be as simple as:
- creating a conflicts view as described here: http://guide.couchdb.org/draft/conflicts.html
- writing a cron job that checks and parses that view once a

[2016-01-25 13:20] SCdF opened #1839 "Remove `features` folder"
We no longer use or run these tests, we should delete it.

[2016-01-25 14:34] SCdF opened #1841 "Cannot close form with top-left 'X' that appears on mobile stylesheet"
![image](https://cloud.githubusercontent.com/assets/583851/12553654/9c866282-c370-11e5-82dc-60d66cb06e6d.png)
The X at the top doesn't seem to do anything. Tested on local Chrome 48 as well as mobile version on Chrome 30.

[2016-01-25 14:46] SCdF commented on #1841
Ignore this, it was a local code issue

[2016-01-25 14:46] #1841 closed

[2016-01-25 15:48] SCdF opened #1842 "Detect when pouch has unsynced changes so we can have a simple sync status somewhere"
It would be useful, even if just for debug purposes, to be able to tell if everything in a user's pouchdb has been replicated into the cloud.

I was hoping that pouchdb replication would provide useful information. So far I've had a super quick look at the event handlers you can add to the replication call: http://pouchdb.com/api.html#replication

Unfortunately they don't seem massively useful by

[2016-01-25 15:57] SCdF commented on #1842
Another option would be to just store the last synced seq id somewhere and update it every time the change callback gets hit.

[2016-01-25 16:27] browndav commented on #1839
+1, let's do it.

[2016-01-25 16:28] browndav commented on #1838
Only one crate? This seems like a two-crate bug.

[2016-01-25 16:46] SCdF commented on #1837
Here is some example debug output, all from the Tecno, firstly from first boot:
![image](https://cloud.githubusercontent.com/assets/583851/12557239/a44573f8-c381-11e5-9a52-731e7b3a5f2e.png)
What this is saying is that 64ms after pouch boots someone asks it for the ddoc, and then 2 _seconds_ after that it gets asked for again. 210ms after that one answer is given, and 24ms after that the second one

[2016-01-25 16:48] browndav commented on #1837
Nice catch; seems like we could make a pretty substantial performance win here.

[2016-01-25 16:48] alxndrsn commented on #1837
`+2ms`?  May not be so bad if that's how long it takes!  I'd hope that PouchDB is caching, but you could probably write a simple in-memory cache yourself that wraps the DB service and see if that makes a difference.

[2016-01-25 16:49] SCdF commented on #1837
@alxndrsn where are you getting the 2ms from? Remember each number is the number of milliseconds *since the last debug message*, which makes stuff confusing when they interleave.

[2016-01-25 16:51] SCdF commented on #1837
@browndav what I'm unsure about is what the bug is exactly. For example, is it correct that it loads the Ddoc every time? Is that because we have translations in it for example? I wonder if splitting out ddoc out more would help to reduce the amount of stuff Pouch is having to serialise out of wherever it stores it (indexdb or whatever),

[2016-01-25 17:21] #1839 closed

[2016-01-25 17:29] mandric opened #1843 "check for `enketo_contact` before use"
In this commit we are using the contact information assigned to an enketo form.

https://github.com/medic/medic-webapp/commit/1445f13281792dc6b639ec862496a89f9686cb85#diff-0b7e26355f34ba7bde6fe48a1ca6e606R52

But there are cases where this information might be undefined.  We might want to handle that case better?

Example stacktrace from lg.dev when you click on "Johnson Jackie follow up" task:
[c

[2016-01-25 18:24] alxndrsn commented on #1843
The commit mentioned above does not introduce that code, it just reformats it.

[2016-01-25 18:25] alxndrsn commented on #1843
Useful info(?): `enketo_contact` should only be defined when editing a contact; the `phonewidget` might be used in e.g. a report form.

[2016-01-25 18:38] mandric commented on #1843
My bad, here's the right commit reference: https://github.com/medic/medic-webapp/commit/b5618361556a2c32e4e5a6abef36b06e0eb1ad17

[2016-01-25 18:42] garethbowen commented on #1842
I think this is a duplicate of #1270 . @SCdF Maybe add the above info to that issue and close this one?

[2016-01-25 19:07] mandric opened #1844 "http security issue"

[2016-01-25 19:39] SCdF commented on #1828
Note: there are some conversations on #1777

[2016-01-25 19:49] btbonval commented on #1798
Dave thinks this should take place in analytics software, so like the data import script.

`ddoc.version` can be used to decide 0.4 and 0.6.

That should be pretty straight  forward at this point for me.

[2016-01-25 19:50] btbonval commented on #1800
step 1 package as npm.

[2016-01-25 19:50] SCdF commented on #1837
One option is to find the root where the Ddoc is being asked for and manually cache that in JS. This may also negate the (performance) need for splitting the ddoc

[2016-01-25 20:08] btbonval opened #1845 "Data from lg.app needs to be migrated into postgres"
This one is a bit project specific and might thus be sensitive?

Tracking main ticket with https://github.com/medic/medic-projects/issues/88

[2016-01-25 20:25] browndav commented on #1828
I'll take this one. IIRC, all that needs to be done is to (1) modify the nginx configuration to turn on deflate for `application/x-json`; (2) retest the longpoll endpoints to make sure we weren't just hallucinating that bug; then (3) selectively turn off deflate for any of the longpoll endpoints that were shown to not work.

[2016-01-25 20:34] SCdF commented on #1835
Another better option is to write it as a migration script in medic-api. The tests would be protractor e2e tests in medic-webapp

[2016-01-25 21:04] alxndrsn commented on #1837
@SCdF or just cache it in the DB service - then you won't need to work out where it's being requested from, and caching would be app-wide.

[2016-01-25 22:42] garethbowen commented on #1825
Assigned to @SCdF to ensure he can also run the tests. If so I'll consider this issue closed.

[2016-01-25 23:19] garethbowen commented on #1809
@alxndrsn Do you have any documentation for the angular translate change or the additional config required?

[2016-01-26 01:58] diannakane commented on #1000
Does deleting a report delete the schedules created by that report?

And if a person is created in the test process, does a separate deletion process that needs to happen to remove test data?

[2016-01-26 02:23] diannakane commented on #1000
Include a stop gap "are you sure?" warning dialogue box before bulk deleting, listing how many records are about to be deleted.

[2016-01-26 03:03] diannakane commented on #1000
@Lesterng related convo from Slack:

henok While discussing the bulk delete feature, something we were talking about last week was to have the option of editing the reports and assigning a different facility using those same check boxes that will be used for bulk delete.  In other words, you bulk select, then use the edit feature we already have iteratively on each of the selected reports.
Use Cas

[2016-01-26 03:08] diannakane opened #1846 "Rework verification of reports display"
We are rethinking how we represent that a report has been verified, taking into consideration the need for bulk delete/edit (Issue 1000).

Initial conversation about validate button and creating space for checkboxes to select multiple messages can be found here: https://medic.slack.com/archives/design/p1449524198000002

Dianna's initial mocqup brainstorm found here: https://moqups.com/joshnesbit/1

[2016-01-26 03:28] diannakane opened #1847 "Redesign filters / search"
There are likely two (or more) issues here, but for the sake of documenting the conversation thus far:

In discussing bulk delete (issue 1000), we want to improve the way that users can search or filter reports in order to bulk delete / edit them. Most of bulk delete will be done by managers/trainers in the web app, though filtering applies to both the reports tab (primarily: bulk delete) and cont

[2016-01-26 08:13] SCdF commented on #1837
@alxndrsn sorry yeah that's what I meant. As in, find the one place that every request for the ddoc ends up and then cache that

[2016-01-26 09:40] SCdF commented on #1837
This looks like it's due to internal Pouch stuff, e.g. loading views:
![image](https://cloud.githubusercontent.com/assets/583851/12577190/c249ccfc-c410-11e5-96ce-d3f4b3393559.png)

[2016-01-26 11:13] alxndrsn commented on #1809
This should give the background: https://github.com/angular-translate/angular-translate/issues/945

[2016-01-26 15:29] SCdF commented on #1825
@garethbowen note that this only boots with node versions later than what we advertise in the readme. I ran it under 5.4.0, but we presumably want to standardise on a particular node version (at least major) before a-okaying this.

Inanycase, it did not work locally for me. I got the following output:

[code]

Let's talk about it when you're around. First thing I'd like to know is which node versi

[2016-01-26 17:09] SCdF commented on #1270
I was hoping that pouchdb replication would provide useful information. So far I've had a super quick look at the event handlers you can add to the replication call: http://pouchdb.com/api.html#replication

Unfortunately they don't seem massively useful by themselves. You effectively have `active`, `paused` and `change` to play with:
 -  `change` fires _when a change has been replicated_.
 - `acti

[2016-01-26 17:26] SCdF commented on #1842
Done.

[2016-01-26 17:26] #1842 closed

[2016-01-26 17:56] SCdF commented on #1837
I wrote a gross patch over pouch (that obviously we'd never ship, and doesn't care about updated files etc) just to see what would happen if the ddoc was stored in (JS) memory instead of being parsed out of storage every time it's requested: https://github.com/SCdF/pouchdb/commit/dcf23f85763b0cab92ec1e5539afbf0576b2d846

This drops the time it takes to load the ddoc from 1-200ms to ~10ms. However,

[2016-01-26 19:04] mandric commented on #1270
These links might be helpful:
http://stackoverflow.com/questions/29218445/after-successful-replication-are-two-couchdb-databases-guaranteed-to-have-ident
http://stackoverflow.com/questions/29138091/pouchdb-couchdb-sequence-counter-on-replicate

[2016-01-26 23:40] garethbowen commented on #1809
That issue was closed with no fix in place. The workaround seems to be to write your own filter, or rewrite every translate, neither of which are quick fixes. Deprioritising in favour of other issues.

[2016-01-26 23:50] btbonval commented on #1799
Looks like the shell wrapper is pretty standard to NPM, under bin/ with the js under lib/

I'll have to move files around to match the convention.

[2016-01-26 23:50] btbonval commented on #1800
This is a useful resource for making npm packages.
http://www.anupshinde.com/posts/how-to-create-nodejs-npm-package/

Also don't forget `npm link` for installing local before uploading to the main NPM repo.

Need to check on naming conventions for medic projects pushed to npm.

[2016-01-26 23:58] btbonval commented on #1800
There is some major work in progress under https://github.com/medic/medic-analytics/issues/11 in its own branch.

I need to move files around to follow npm conventions. Moving files around in master will create a merge disaster later.

Let's see if I can knock out the issue above before moving files around for this issue.

[2016-01-27 00:02] btbonval commented on #1799
Shell wrapper component is documented as part of building for NPM which goes into #1800

This ticket will strictly focus on main loop.

[2016-01-27 03:00] alxndrsn commented on #1809
https://github.com/angular-translate/angular-translate/commit/dec4bf34b7bb30bba4ca80df263df1858b3e68f5

[code]
?

[2016-01-27 04:50] diannakane opened #1848 "View history in profile"
In a patient’s history, can we have the details of the last diagnosis/treatment so that the CHP can refer to it if necessary?

What is meant by "details"? What should the summary look like?
We don't currently have a way of viewing treatment summaries after they are displayed at the end of an assessment form. This may be a way of logging those summaries so they can be viewed in line with the forms

[2016-01-27 04:54] diannakane opened #1849 "CHW sync status indicator - design"
MM to clarify -- if the CHPs can be able to see the data they have submitted to the database i.e 12 of 12 records submitted

Clarification - do they mean synching data, or updating the forms, or updating the app itself?

LOW: read as "have docs synced?";  HIGH: per-record sync marker
what should be on the replication status screen? What should it look like?

feasible for dev team to work on in Feb

[2016-01-27 04:59] diannakane opened #1850 "Report version of application and forms being used"
Know what app and form version each user is using

Is there any way for LG to know which of the CHPs have updated their App? If not, can we make it such that if they do not update after a certain period, they can no longer proceed with the App until they update?

Clarification - do they mean synching data, or updating the forms, or updating the app itself?

Decide how managers and/or users find ou

[2016-01-27 05:01] diannakane opened #1851 "Do not allow CHPs to Delete Old Reports"
In Treatments screen, the DELETE icon is active - it needs to be deactivated as it allows CHPs to delete that particular form.

We can monitor for use of the delete function in the audit logs

What is the treatments screen?  probably just allows deletion of record/report/doc.  if requirement is to block them from deleting reports, then this is LOW risk

What is the user story?

[2016-01-27 05:03] diannakane opened #1852 "Show all tasks on profile"
For the Tasks tab, can we retain the 7 days max for displayed tasks, but in the Contacts tab, when you select a Family, you should see ALL tasks associated with that family regardless of the followup duration

MM comments: I think this is an interesting and useful request, but there are some design issues to be figured out. Eg do you show all the tasks, or just the next one outside of the 7 day wi

[2016-01-27 05:05] diannakane opened #1853 "Task Windows"
Have a range of dates for a task, not a specific date

[2016-01-27 08:22] garethbowen commented on #1809
Ahh I see. I'll have a look. I think their preferred approach is to use translate directives: http://angular-translate.github.io/docs/#/guide/05_using-translate-directive

Unfortunately this will take some effort...

[2016-01-27 11:44] alxndrsn opened #1854 "Decrease pouch replication docs-per-fetch"
When the changes feed is sparsely populated for a particular filter and connection is not reliable, it may be more likely for a replication cycle completing if [`batch_size`](http://pouchdb.com/api.html#replication) is reduced in the replication options.

[2016-01-27 15:57] alxndrsn commented on #1348
LGTM!

[2016-01-27 15:57] #1348 closed

[2016-01-27 16:15] SCdF commented on #1837
I don't think there is anything more to do on this: as far as I can tell the code is working as expected. There is a possibility we'd want to patch pouch to be more aggressive with some of its caching, but we'd do that in another ticket.

[2016-01-27 16:15] #1837 closed

[2016-01-27 16:41] SCdF commented on #1854
:shipit:

Do we need to think on ways of testing this in the field? It sounds like this will make replication more stable but also increase replication time. How are we going to determine that 1 is the correct number?

[2016-01-27 16:41] estellecomment opened #1855 "Allow running karma tests continuously"
Handy for development process : as you edit the files, karma re-runs the tests.

[2016-01-27 17:23] #1854 closed

[2016-01-28 05:46] diannakane commented on #1565
Here's the latest comments on this, done just before Christmas. The disputes are mostly in column D, in regards to whether places should target directly back to Contacts ("owned" individually by contacts), or if they should target to their hierarchical next-level-up place. https://docs.google.com/a/medicmobile.org/spreadsheets/d/1yo6p7gccJrlg5wbtgV6z0CrKWTII-a_4kkzpUJQ3XRw/edit?usp=sharing

Let's

[2016-01-28 08:41] diannakane commented on #1850
@browndav do updates happen automatically when connected to internet or does the user need to do something to initiate the update? how long does an update typically take?

[2016-01-28 10:24] alxndrsn commented on #1809
`$translateProvider.statefulFilter(false)` didn't seem to remove watchers, and upgrading the lib broke the tests.  So I reverted the change.

[2016-01-28 14:56] SCdF commented on #1825
For clarity: the tests fail on my machine, but they fail _correctly_. As in, the expects in the tests aren't correct. @garethbowen is going to make the expects correct and then work out why that doesn't work on his machine.

[2016-01-28 19:43] #1636 closed

[2016-01-28 22:18] Lesterng commented on #1000
@diannakane and I talked about Bulk Delete being a web app function and view. CHWs will not need to bulk delete from Reports (History). This will only be a web app function.

[2016-01-28 23:00] btbonval commented on #1799
The following works for integration testing (though not called precisely the same way), but as a mainloop function, "Imported successfully" is being returned before the import is actually done.

I'm having a hard time understanding the difference.

Integration:
https://github.com/medic/medic-analytics/blob/764a59facf3f96924e934e82b750ac987da823e6/test/integration/index.js#L100-L102

what I'm tryin

[2016-01-28 23:13] btbonval commented on #1799
Okay it looks like the printing actually works okay. I've condensed the then/catch into a single then with two functions for good measure.

The database was up to date, so it took only a moment to decide no action was necessary, thus the immediate print out.

The problem actually appears to be that, once the main set of functions are done, `node` continues running as though waiting on something to

[2016-01-28 23:15] btbonval commented on #1799
I'm going to leave this running to see if it ever terminates, or if it simply takes a really long time to clean up.

[2016-01-28 23:31] diannakane commented on #1852
Work-in-progress mockups:

https://moqups.com/#!/edit/joshnesbit/1fF4IwJA
https://moqups.com/#!/edit/joshnesbit/1fF4IwJA

[2016-01-28 23:39] btbonval commented on #1799
so relevant it hurts.
http://stackoverflow.com/questions/15857568/node-js-program-either-exits-unexpectedly-or-just-hangs

[2016-01-28 23:48] btbonval commented on #1799
After the update function completes, there are two handles left open. One with looks like a socket with a file descriptor (probably the unix socket to the database?), and one is a socket to the webapp which appears to carry the URL that was requested last.

I'll run three of these in a row and see if I end up with more than 2 dangling connections. If not, these can be ignored. If so, I need to fig

[2016-01-29 00:21] btbonval commented on #1799
I added a time delay and only see the one file descriptor dangling.

I need to call `sco.done()` on the database connection to close the command chain.

Doing so, it looks like `node` will eventually terminate. The delay is likely garbage collection at this point.

[2016-01-29 01:03] garethbowen commented on #1855
Looks good. Consider removing jshint from the continuous run if it becomes too annoying.

[2016-01-29 01:03] #1855 closed

[2016-01-29 01:04] btbonval commented on #1799
if Travis says okay, https://github.com/medic/medic-analytics/commit/8dc609dccef74a70af868ff78fa2c2c7ff98971d will close this out.

[2016-01-29 01:08] btbonval commented on #1799
Travis gives green thumbs up.

[2016-01-29 01:08] #1799 closed

[2016-01-29 18:23] abbyad commented on #1000
This **draft** mockup is pending further design to see how we can better serve our user stories, and intended to clarify the [mockup above](https://github.com/medic/medic-webapp/issues/1000#issuecomment-137854871) for "delete only".

![image](https://cloud.githubusercontent.com/assets/789512/12684085/ce5c916a-c68a-11e5-8221-da5b3aaa699a.png)

Notes:
- No “select all” option included since it can s

[2016-01-31 04:53] btbonval commented on #1798
0.4 systems are fine. Easiest approach is to output in a format which matches them so postgres scripts don't need to fool around. Then the conversion process can be built into the importer.

[2016-01-31 06:30] btbonval commented on #1798
I hit a blocker downloading the dataabase, so I tried to find the XML by looking at the design docs for LG in Futon.

I can only find JSON form definitions.

I saw in medic-projects that each form is defined in XML independently. Somehow my recollection is of being shown a single monolithic XML config for all forms.

Regardless, I cannot find any XML in a live database.

[2016-01-31 06:36] btbonval commented on #1845
TMD: too much data. Getting an overflow.

This ticket now relies on completion of another ticket. https://github.com/medic/medic-projects/issues/88

[2016-01-31 07:26] alxndrsn commented on #1798
I will email some examples.

[2016-01-31 21:30] btbonval commented on #1798
Thanks @alxndrsn . So that appears to come from the forms view.

I'll see if I can figure out how the forms view generates that internally to figure out where the XML lives in the design doc.

[2016-01-31 22:00] btbonval commented on #1798
Only thing I can find referring to `/forms` is defined here, but it is for config.
https://github.com/medic/medic-webapp/blob/265b888e3ca4d74c0c04a2649364890238f125e1/static/js/app.js#L238-L246

I can't find `_view/forms` in rewrites or anywhere else.

I tried a different tack searching for XML, but all that comes up is Enketo specific functions which, to the best I can tell, operate on client-sid

[2016-01-31 22:05] btbonval commented on #1798
Honestly, I'm seeing forms defined in app settings and there are field definitions and everything I would expect. I'm not sure why I cannot use those, or what make the XML more authoritative. Marc had explained it but I'm lost in code and data and lack the context to store the things I'm told meaningfully.

At this point I'd be happy just to get the LG ddoc in my database (currently requires a fea

[2016-01-31 22:25] btbonval commented on #1798
oh right. I remember now. Those JSON form defs in the LG app_settings are a vestigial organ, like the human appendix. Utility unknown, but left sitting around to confuse people.

A fresh install using 0.6 would presumably have no such thing anymore.

so my best bet is still to get the full raw doc contents into postgres and search for some known XML from the app config within postgres to determine

[2016-02-01 02:02] garethbowen opened #1857 "Querying a pouch view is very slow"
PouchDB seems to take a long time to parse our ddoc every time a view is requested, in the order of 1 second per request. Most of this is due to parsing our enormous ddoc. Either reduce the size/complexity of our ddoc, or convince pouchdb to cache the views so it's only expensive on first load.

Props go to @SCdF for discovering this.

[2016-02-01 02:03] garethbowen commented on #1857
I couldn't find any easy way to reduce the size of our ddoc so going with the pouch patch for now.

[2016-02-01 02:05] garethbowen commented on #1857
Assigning to @alxndrsn for testing on more devices. If this passes review I'll try and get it merged upstream.

[2016-02-01 06:50] alxndrsn commented on #1798
I don't know where it will be in postgres, but XML forms are defined entirely within their own separate docs.  As you note, the JSON form definition in the ddoc is unrelated.

You can tell an XML form because each doc will have `"type": "form"` and an attachment labelled `xml`.

[2016-02-01 07:04] btbonval commented on #1798
Oh they are not part of the design doc. That is information I can use and explains ...

everything.

Okay once I get the full dataset loaded in, I'll see if I can find the form defs.

[2016-02-01 09:58] estellecomment commented on #1270
Separate issue for UX design of sync status : #1849

[2016-02-01 10:03] estellecomment commented on #1270
Several elements about sync status can be displayed:
 - last sync time
 - number of docs changed locally (from _changes feed, and replication last seq)
 - number of docs changed remotely (if online access, from last seq)

[2016-02-01 10:04] garethbowen commented on #1825
Should work now...

[2016-02-01 11:56] SCdF commented on #1825
It passed!

I'm going to give this to @estellecomment now, just to triple check

[2016-02-01 12:25] SCdF opened #1858 "Families registered should use map / reduce instead of counting results"
The current families registered target seems to pull all registered families and then count them: https://github.com/medic/medic-webapp/blob/develop/static/js/services/analytics-modules.js#L224-L227

This seems wildly inefficient, and ideally something that we could use map / reduce for?

[2016-02-01 14:51] estellecomment commented on #1825
:(

Both Firefox and Chrome fail.
Firefox displays a confirmation dialog which is probably not what we want :
![screen shot 2016-02-01 at 15 27 50](https://cloud.githubusercontent.com/assets/911434/12720529/aab1d9aa-c8fb-11e5-878a-a70e87383a45.png)

Log :
[code]

[2016-02-01 14:52] estellecomment commented on #1825
Chrome log :

[code]

[2016-02-01 14:55] SCdF commented on #1825
To add to this, I'm a terrible person and only tested on Firefox. On `chromium-browser` it doesn't find the driver, even though I installed chromium (via brew cask, idk if that matters). Changing it to `chrome` though, I get it to run, but get similar issues to @estellecomment

[2016-02-01 15:56] alxndrsn opened #1859 "contact-content display time has degraded"
Reports suggest that time to display a contact's details after clicking its name on the contacts list may have increased significantly since deployment of build 2468.

Testing suggests:
* admin user is unaffected - contacts-content rendering routinely takes 1s or so for @estellecomment  and @alxndrsn for admin view
* minimum time to render contacts-content may not have increased, but _sometimes_ i

[2016-02-01 15:59] alxndrsn commented on #1859
Nothing in this list jumps out at me, but some that might be relevant:
* 6cff85f Make Search query debounce check scope as well as query
* 1445f13 Use jquery.clone() + behave when settings are not found. Issue #1770
* 889e65f Upgrade pouch and remove monkey patches. Issue: #1636
* bf8fda2 Decreate pouch replication batch_size

[2016-02-01 18:39] btbonval commented on #1319
Production systems have been updated. In theory this feature should now be part of all running systems. The newest stable VM for medic-os that I could find is from July, which is still assuming `include_docs=false`.

However, the adapter now explicitly sets `include_docs=false` and `include_docs=true` for all calls to the webapp, further obviating the problem discussed in this issue.

I'm going to

[2016-02-01 18:39] #1319 closed

[2016-02-01 18:41] btbonval commented on #1320
All prod systems have been updated since this last comment. Closing ticket.

[2016-02-01 18:41] #1320 closed

[2016-02-01 18:43] btbonval commented on #1800
#1799 is done as is issue 11 referenced above. This issue should be ready for me to work on now.

[2016-02-01 18:52] garethbowen commented on #1859
This is greatly improved by https://github.com/medic/medic-webapp/commit/782e2868e0bdfc8b5f40ca40f7e0769c4ba64d79

[2016-02-01 18:55] alxndrsn commented on #1859
@garethbowen presumably the recommendation is for @SCdF - would be great to get a comparison

[2016-02-01 19:11] alxndrsn commented on #1857
Assigning to @SCdF until I get a decent test setup locally.

[2016-02-01 19:27] garethbowen opened #1860 "Use Tasks for schedule generation"
Replace the schedule configuration with a worker to send reminders based on a task schedule. This is so dumbphone and smartphone deployments can use the same configuration, rather than us trying to support two different implementations.

[2016-02-01 19:30] garethbowen opened #1861 "Delete Schedules configuration page"
We've decided to use Tasks for message generation (#1860), so we can delete the Schedules page and delete lots of kanso libraries. Port the kanso tests to karma so we don't distribute those either.

[2016-02-01 19:49] SCdF commented on #1859
Pouch monkey patch greatly improves opening contacts, from 4-8s to a much more consistent ~3s.

[2016-02-01 20:12] browndav opened #1862 "Review and merge LiveList to improve rendering performance"
We've determined that an excess number of Angular watches is hurting our performance while rendering and interacting with lists.

@alxndrsn has a branch (https://github.com/medic/medic-webapp/compare/develop...alxndrsn:cream2?expand=1) that reimplements an `ng-repeat` style list without using Angular, but still uses Angular templates.

Identify any issues with the patch, review, fix, and merge in

[2016-02-01 20:15] garethbowen commented on #1795
Closing as replaced by #1862

[2016-02-01 20:15] #1795 closed

[2016-02-01 20:27] garethbowen opened #1863 "Make Angular filters performant"
Filters like the contact filter are useless for LG CHPs because they only see a small subset of contacts anyway.

Find a way to improve performance of this filter.

[2016-02-01 20:32] alxndrsn commented on #1795
N.B. `track by item._id` did not have noticeable effects in our tests.

[2016-02-01 20:49] garethbowen commented on #1825
It looks like the Firefox issue @estellecomment reported is due to her database having more messages and when the webdriver tries to click on the message which is below the floating buttons it ends up clicking the "Export" button instead. The correct solution is to run the tests in a fresh db, so I'll look at doing that. If that's too difficult I can probably get the test to scroll to bottom befor

[2016-02-01 21:06] garethbowen commented on #1665
Pouch plugins that may help replication performance:

- https://github.com/nolanlawson/pouchdb-load
- https://github.com/nolanlawson/pouchdb-replication-stream and associated community of plugins
- https://github.com/nolanlawson/socket-pouch

[2016-02-01 21:42] garethbowen commented on #1700
Comments and suggestions added to the PR. Nice work!

[2016-02-01 21:50] garethbowen commented on #1658
No response from @abbyad so proceeding with Code Review.

I've added comments to the PR.

[2016-02-02 08:12] alxndrsn opened #1864 "Move audit docs to a new database"
# TODO

- [x] save new audit docs to a separate db
- [x] create the audit db on api startup if it doesn't exist
- [x] add migration to move old audit docs to the audit db
- [x] make `audit_records_by_doc` view available in audit db's design doc

[2016-02-02 09:00] SCdF commented on #1835
An update: I've fixed issues with the Erlang filter and optimised it some: it's now ~5x faster than the comparative JS filter. There are opportunities to make it faster still, but they are slightly more time consuming. Up next: Work out how to get this deployed it its own separate ddoc.

[2016-02-02 11:46] SCdF commented on #1857
Talked to @garethbowen, it looks good to me. To be specific: This doesn’t deal with cache invalidation: as in, if the ddoc changes the view won’t be updated. This doesn't affect us because a ddoc change requires a page refresh anyway, but it will hinder its upstream adoption.

[2016-02-02 14:15] SCdF commented on #1835
Added notes to the ticket about making sure a) there are no security issues with erlang filters and b) documenting how to enable them / that they need to be enabled on couch

[2016-02-02 15:05] alxndrsn commented on #1658
* moved to a service (`CheckDate`)
* added warning if server cannot be contacted/server does not respond with expected header
* changed translations to `dot.format` and moved the english values to API
* removed stray `console.log`

[2016-02-02 15:14] alxndrsn commented on #1700
Any idea how we get the help content into an app at deploy time?  or do we just manually upload later?  not sure how the latter would work for DIY

[2016-02-02 16:09] abbyad commented on #1658
Sorry for the late reply on this. Overall this looks good and really useful to avoid issues.

@diannakane and the design team can help with more formal acceptance testing once it has passed code review. At that time we can also refine the text to make it appropriate for the project. For instance we may want to avoid `date/time` if it sounds too technical for the users, and also tell them to bring

[2016-02-02 16:12] alxndrsn commented on #1658
@marc thanks for the feedback.  Messages are configurable through the normal translation config.  We would have to tweak it a bit if the 2 dates are to be hidden for a particular use case.

[2016-02-02 17:06] alxndrsn commented on #1700
Changes:
* use `Language` service in `AboutCtrl` and `HelpCtrl`
* remove naughty comma

Nothing done about Markdown, because it's not actually an additional lib.  Happy to replace with showdown, although last time I looked showdown was not accessible from angular code.  Perhaps @mandric can advise on this.

[2016-02-02 17:07] alxndrsn commented on #1700
This is now merged to `develop`.

[2016-02-02 18:02] mandric commented on #1864
We should also consider not auditing ddocs or _local docs in medic-api.

[2016-02-02 18:04] btbonval commented on #1864
Hi, I'm Bryan, and I approve this issue!

[2016-02-02 19:00] garethbowen commented on #1658
@alxndrsn One more comment on https://github.com/medic/medic-webapp/commit/71a8714ae439aba4f1eb9e6965d375cdc1b40fd6 , but otherwise all good.

[2016-02-02 19:06] garethbowen commented on #1700
@alxndrsn My initial thought is to upload the standard help library when api starts up. Obviously this will increase the size of the ddoc, but that's how couchapps work...

Quite a lot of time and effort was put in to the existing help pages so we should convert them to markdown and get them working before closing this issue off.

[2016-02-02 22:07] #1658 closed

[2016-02-03 01:41] garethbowen commented on #1861
This reduces the ddoc from 9.7MB to 4.2MB (uncompressed). There's too much to code review so going straight to acceptance testing.

[2016-02-03 01:41] #1861 closed

[2016-02-03 01:47] #1857 closed

[2016-02-03 01:50] garethbowen opened #1865 "Contribute ddoc caching back to pouchdb"
Work out how to get the patch in #1857 contributed upstream.

[2016-02-03 02:29] garethbowen commented on #1813
Duplicated by #1860

[2016-02-03 02:29] #1813 closed

[2016-02-03 02:32] garethbowen commented on #1774
The Schedules page has been deleted in #1861

[2016-02-03 02:32] #1774 closed

[2016-02-03 02:40] garethbowen commented on #1600
This is merely a placeholder. The final UI will be much more obvious.

[2016-02-03 02:40] #1600 closed

[2016-02-03 02:49] garethbowen commented on #1362
This page has been deleted in #1861

[2016-02-03 02:49] #1362 closed

[2016-02-03 02:52] garethbowen commented on #757
The Schedules page has been deleted in #1861

[2016-02-03 02:52] #757 closed

[2016-02-03 02:53] garethbowen commented on #1679
Related to #1005

[2016-02-03 05:56] btbonval commented on #1845
alright main ticket is done, and so too is this issue.

[2016-02-03 05:56] #1845 closed

[2016-02-03 06:11] btbonval commented on #1798
From the import of LG, 11 docs have type form. All 11 have the same top level properties, including `_attachments`. Under that is an `xml` property.
[code]

Problem is the xml property only contains metadata:
[code]

I have no idea where the actual XML is, but I do know it's md5 digest and string length!

[2016-02-03 06:18] btbonval commented on #1798
Interesting. Trying to see what I got in this database in terms of type. 11000 have no type. Those are placeholders for audit_records which were skipped later on in the import process.

Anyway, I'm not seeing any obvious place to look for XML outside of the form docs.
[code]

[2016-02-03 06:27] btbonval commented on #1798
Full text search for "xml", "xml version", and "patient_age_in_years". The XML defining forms in medic-projects all starts with `<?xml version=`, but 0 instances of "xml version" exist in the database as I grabbed in. "patient_age_in_years" is probably returning the forms with that field rather than the definition. It is only found in `data_record`s and `audit_record`s.
[code]

[2016-02-03 06:29] btbonval commented on #1798
Also no hit on "bind nodeset", which is part of the XML form definition in medic projects as `<bind nodeset="...`.
[code]

[2016-02-03 06:55] btbonval commented on #1798
http://guide.couchdb.org/draft/api.html#attachments
Maybe that works for bulk requests, in which case this should be fairly easy to sort.

[2016-02-03 07:15] btbonval commented on #1800
http://stackoverflow.com/questions/5178334/folder-structure-for-a-node-js-project
more folder layout advice for node projects

I'm not sure about splitting my integrations into `/spec` and units into `/tests`, but maybe it'll work fine.

[2016-02-03 07:55] btbonval commented on #1798
okay, imported again including `?attachments=true`.
[code]

Unfortunately it isn't decoding from base64 very nicely. I got a bunch of hex values rather than XML ascii when using `SELECT decode( ((data->'_attachments')->'xml')->>'data', 'base64' ) FROM lg WHERE data->>'type' = 'form' AND data->'_attachments' ? 'xml' LIMIT 1;`.

[2016-02-03 08:00] btbonval commented on #1798
meh. got it to decode part in python, so the base64 is legit and I see xml.
[code]

I SEE XML!

[2016-02-03 08:08] btbonval commented on #1798
Okay so plan of action for the adapter thing:

1. after import is done, determine if version is 0.4 (no action) or 0.6 (continue below)
1. seek out docs with type:form that have `_attachment:xml` property which aren't already in some special place in postgres
1. gank `_attachment:xml:data` for each unparsed doc
1. parse XML for ... I don't actually know yet, write that into postgres somewhere
1. m

[2016-02-03 17:14] estellecomment commented on #1665
For first sync of data :
Just ran into PouchDB Load too, and its friend PouchDB Dump.
http://pouchdb.com/external.html#plugins
Produce a dump file, then load it into another DB, and the resulting DB will be in the same state as if it had gone through replication. Neat!

Sounds better than using a view query, since it avoids reimplementing the filter as a view.
Ideally we'd need to create the dump

[2016-02-03 21:07] garethbowen commented on #1865
Issue created - awaiting response. https://github.com/pouchdb/pouchdb/issues/4867

[2016-02-03 21:44] garethbowen opened #1866 "Reset filters on tab change"
Filters are shared between tabs which is by design because any filter settings set on one tab are then kept and automatically applied to the next tab. However this can be confusing for even experienced users who expect each tab to start with an unfiltered view. It's also turned out to be less useful than hoped as most filters are tab specific. Resetting filters when changing tabs will align the UX

[2016-02-03 21:44] garethbowen commented on #1866
Also, if each tab has it's own set of filters we can clean up filter code and improve performance as we'll only have to manage the filters for the currently selected tab.

[2016-02-03 21:45] garethbowen commented on #1866
@abbyad Is this a UX win in your opinion?

[2016-02-04 00:53] garethbowen commented on #1809
I've upgraded the library. I can't see any quick wins here as most translations are only used once. I was hoping to find something translated for every item in a list (or similar). We should try to use the translate directive in future which does register a watcher.

[2016-02-04 01:53] #1657 closed

[2016-02-04 07:51] alxndrsn commented on #1809
Typo?

[2016-02-04 09:11] garethbowen commented on #1809
Yes. Fixed.

[2016-02-04 10:31] SCdF opened #1867 "Upgrade bootstrap-tour to a more recent cut of the code"
Bootstrap-tour has not seen a release in awhile (over a year) and to fix some bugs we are currently using a version I've forked which is the last release + the one thing we need.

Writing this ticket as a reminder because that's terrible, and when there is a proper bootstrap-tour release we should move to that. I've raised a ticket with the bootstrap guys, but afaict no one has been active on that

[2016-02-04 12:06] fredatthehub opened #1868 "App hanging on hitting Submit Button"
Feedback from the field:
"
_**Today i have received complaints from V2 CHPs in Mukono that if  they click on SUBMIT, it is just hanging and this has been so for two days ago**._

![elsie](https://cloud.githubusercontent.com/assets/15346836/12814545/d8ad7b78-cb50-11e5-98a6-1388ddc243e5.png)

[2016-02-04 12:08] fredatthehub opened #1869 "Error Fetching Contacts"
Feedback from the LG Field Test:

![error-fetching-contacts](https://cloud.githubusercontent.com/assets/2064938/13159663/dac62cea-d6f7-11e5-8c3f-52078a641319.png)

[2016-02-04 12:10] fredatthehub opened #1870 "Error Loading Form - Assess Patient"
Feedback from the LG Field Test:

![wagaba](https://cloud.githubusercontent.com/assets/15346836/12814610/5eeef9c8-cb51-11e5-97b9-9394ac80a4a9.png)

[2016-02-04 14:16] #1622 closed

[2016-02-04 16:02] browndav commented on #1868
Hi Fred,

Have you been able to reproduce this on one of your test devices or with a desktop web browser? A set of steps to reproduce the problem reliably would be really helpful here. Thanks!

[2016-02-04 16:08] alxndrsn commented on #1809
@garethbowen is the translate update related to this warning?

<img width="797" alt="screen shot 2016-02-04 at 17 03 09" src="https://cloud.githubusercontent.com/assets/191496/12820988/c3c6ec10-cb61-11e5-9518-1bbbdb102f42.png">
Link: http://angular-translate.github.io/docs/#/guide/19_security

[2016-02-04 16:10] #1618 closed

[2016-02-04 16:12] #1592 closed

[2016-02-04 18:15] sglangevin commented on #1870
@fredatthehub do you have more information? Could you provide the username of the CHP (or CHPs) who are experiencing this and what steps they went through before seeing this screen? I'm assuming they were trying to access this form from a certain contact. If you could get additional details, that would be helpful. If we can't reproduce the error on our end, we won't be able to fix it.

[2016-02-04 18:16] sglangevin commented on #1869
@fredatthehub do you know which users are experiencing this issue?

[2016-02-04 18:55] garethbowen commented on #1809
Probably. I didn't see that. I'll look into it.

[2016-02-04 19:01] #1844 closed

[2016-02-05 00:43] garethbowen opened #1871 "Remove the callback based Settings"
We have Settings based on callbacks and SettingsP based on promises. Get rid of the callback option and rename SettingsP to Settings.

[2016-02-05 00:46] garethbowen commented on #1871
Don't worry about reviewing _all_ the changes, but a quick look would be useful I think.

[2016-02-05 04:40] btbonval commented on #1800
Probably better to put this off until the analytics software is done.

Still need https://github.com/medic/medic-webapp/issues/1798 before the software is really ready for 0.4 and 0.6 production.

[2016-02-05 05:05] btbonval commented on #1798
Version is in `ddoc.app_settings._version` for 0.4

[2016-02-05 05:12] btbonval commented on #1798
Version is in `ddoc.kanso.config.version` for 0.6

[2016-02-05 05:13] btbonval commented on #1798
actually my 0.4 VM also has `ddoc.kanso.config.version` but it shows 0.5

[2016-02-05 05:15] btbonval commented on #1798
I found other instances of "0.4" in the VM ddoc and "0.6" in the LG ddoc, but they were part of export definitions written into code, not as part of directly readable JSON.

[2016-02-05 05:21] btbonval commented on #1798
I cannot write integration tests for distinguishing 0.4 and 0.6, or any integration code relying on 0.6, due to lack of a medic-data image or medic-os VM for 0.6.

I can write unit tests though. Do what I can to get this moving.

[2016-02-05 06:15] btbonval opened #1872 "Integration testing for .6 requires dataset"
I think this is dependent upon https://github.com/medic/medic-webapp/issues/1764

This was not previously necessary, but the adapter is now incorporating very specific 0.6 code with https://github.com/medic/medic-webapp/issues/1798

[2016-02-05 07:51] btbonval commented on #1798
For parsing XML, the first tag (and it's id) after `<instance>` names the form. Nested inside that will be an `<inputs>` tag with generic fields: `<patient>` tag with tags and content under that. The location meta seems to largely be empty. `<g_inputs>` seems to be empty though the fields look suspiciously like patient fields. `<outputs>` begins a bunch of form-specific fields. Then there are slap

[2016-02-05 07:51] btbonval commented on #1798
Empty leaf tags should probably take `NULL`.

[2016-02-05 08:05] btbonval commented on #1798
Okay so just for good measure, let's convert the above to JSON by hand. Heck might make a good tests fixture. I'm missing nice names, but for now I'll just run with the flattened name in all cases. Position can be an integer which simply increments across tags in their proper order.

I'm going to flatten with spaces b/c why not? They're just strings in a database. Make it look like 0.4 form defs:

[2016-02-05 08:07] btbonval commented on #1798
I just realized that the actual reports from these forms (type:data_record) are maintaining the form submissions in XML as well. There are a few token fields in JSON, but it looks like if I am to access anything I need, I must parse not only the form definitions, but also the forms themselves, using XML. This is a major complication.

[2016-02-05 09:04] alxndrsn commented on #1798
If you separate with `/`, you might find it handy later if you need to query form submission models using XPath.

[2016-02-05 10:05] estellecomment commented on #1871
Two nits, and a bunch of questions for my own information.

[2016-02-05 11:56] SCdF commented on #1304
I think we should make a decision about whether we're doing this before March. `medic-webapp` now relies on node 4.x to run protractor tests, and it would be good if all our node apps were on the same version to avoid bouncing around with nvm

[2016-02-05 12:02] alxndrsn opened #1873 "Deleting anything returns user to contacts list"
E.g. delete a report.

This seems to be deliberate:
https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/inbox.js#L658

[2016-02-05 12:03] alxndrsn commented on #1873
Introduced in #1348

[2016-02-05 12:18] alxndrsn commented on #1873
Not sure if this is the safest way to determine which view to return to; I also considered using `$scope.filterModel.type` instead of `$state.current.name`.

[2016-02-05 13:09] fredatthehub commented on #1868
Hello Dave,

The main problem is that its sporadic an as such may not be very easy to reproduce. I have asked the field supervisors to try and get as much information as possible when they experience issues like these.

[2016-02-05 15:30] abbyad commented on #856
Reassigning for further design work

[2016-02-05 16:10] alxndrsn opened #1876 "Restructure the repository to be more standard and logical"
Most of our JS and CSS is not served statically.  These files should reside in a `src/` directory.  `static/` should be reserved for files deployed directly to the server without modification.

[2016-02-05 16:14] abbyad commented on #1632
Tested on `0.6.0-alpha.2598` and works well. Moving to Ready.

[2016-02-05 16:14] #1632 closed

[2016-02-05 23:04] abbyad opened #1877 "`count-selected` not working"
Some of the forms used in the field test work in build 2508 (lg.dev) but do not work in build 2598 (alpha.dev).

For instance, the `assessment_follow_up` form fails with `The string 'count-selected("")' is not a valid XPath expression."`.

Also, the `assessment` form failed with `The string 'concat("")' is not a valid XPath expression."`. This was resolved by avoiding the use of concat with a sing

[2016-02-06 05:13] abbyad opened #1878 "XForm field with `calculate="today()"` gets wrong date in certain timezones"
A XForm field with `calculate="today()"` gets yesterday's date for computers in EST and PST, but the correct date for a computer in GMT.

Working theory is that the date value _in the current timezone_ is obtained for today at midnight GMT, which results in yesterday's date for Western timezones.

If the `today()` is used in a calculation (eg `decimal-date-time(today())`) it appears as expected. A

[2016-02-06 06:47] btbonval commented on #1798
@alxndrsn The field names will be columns of tables when flattened, so I should be querying tables directly using SQL right?

I might need to look into XPath or some kind of node XML parser to parse the trees in the first place, however.

[2016-02-06 07:39] alxndrsn commented on #1798
Ah yes, so as long as the node to column name conversion is consistent between both forms and reports, I guess it won't make a difference.

[2016-02-07 06:31] btbonval commented on #1872
Integration testing of XML form definitions would be probably use fixtures in these comments:
* https://github.com/medic/medic-webapp/issues/1798#issuecomment-180241049
* https://github.com/medic/medic-webapp/issues/1798#issuecomment-180243846

Some XML fixture with form data would still be required.

[2016-02-07 07:17] btbonval commented on #1798
Form definitions hide the XML as noted above in an attachment. https://github.com/medic/medic-webapp/issues/1798#issuecomment-179074125

Actual form reports are not attachments. Look for `type:data_record` and `form:something`, and then it appears the XML is not even base64 encoded as form defs are. It's just `doc.content` as a string.

[2016-02-07 08:37] btbonval commented on #1798
Postgres has XML support which is basically limited to XPath for parsing and cannot be optimized by indices.
* http://www.postgresql.org/docs/9.4/static/datatype-xml.html
* http://www.postgresql.org/docs/9.4/static/functions-xml.html

There exist XPath definitions to find all leaf tags and their contents, however, they do not return the full path so like-named tags in different hierarchical places

[2016-02-08 05:40] btbonval commented on #1800
It looks like this is going to be two mildly independent pieces of software under one hood. it will be useful to perform a directory restructure now which suits this packaging effort and also supports clear distinctions between import and form handling.

[2016-02-08 06:28] btbonval commented on #1800
Layouts updated in commit https://github.com/medic/medic-analytics/commit/d4f70bdeac1f7dad14056952ec60f165859fd5e3

[2016-02-08 07:43] btbonval commented on #1798
Report parsing will probably require some kind of pagination to manage indefinite numbers of collected reports which need parsing. Some kind of comparison for already-parsed reports will be helpful.

[2016-02-08 08:57] estellecomment commented on #1824
Remove bower in favor of npm : #1573

[2016-02-08 09:03] estellecomment commented on #1871
#1526

[2016-02-08 09:07] estellecomment commented on #1832
Duplicate of https://github.com/medic/medic-webapp/issues/1445.

[2016-02-08 09:08] #1832 closed

[2016-02-08 13:32] alxndrsn commented on #1573
Another downside to monolithic JS: combining `dependencies.js` and `inbox.js` means that (mobile) clients have to download one large file when any JS changes, instead of smaller, more relevant changesets.

[2016-02-08 14:19] alxndrsn commented on #1877
I agree that `The string 'concat("")' is not a valid XPath expression.` - `concat()` takes a pair of arguments.

[2016-02-08 14:55] alxndrsn commented on #1878
maintains the time *__zone__*?

[2016-02-08 15:24] estellecomment commented on #1270
When online, gives number of docs to send/fetch. Useful for knowing when your replication is done (for now).
No UI changes in this PR, waiting for UX design.

Next steps :
 - remove the monkeypatch and use a pouch plugin instead
 - expose in UI
 - when offline, get number of changes made locally.

[2016-02-08 15:41] alxndrsn commented on #1878
Ah, I think I understand what this means now...

[2016-02-08 15:47] alxndrsn commented on #1878
# `today()` vs `now()`

There are seemingly contradictory definitions of what these two functions should be doing:

We are currently following the latter two definitions - `today()` returns a timestamp at midnight UTC of today, whereas `now()` returns a timestamp of the current time in the current timezone.

If we choose to follow the implementation in ODK Collect, which is the first definition ab

[2016-02-08 15:54] SCdF commented on #1825
So this came up when I ran the tests on my laptop (no massive attached screen): they are highly reliant on screen real-estate. To make the tests pass I had to maximise Firefox manually as it started.

Is it unreasonable to have the tests look for things off-screen? Note that I didn't change my database contents or anything like that.

[2016-02-08 16:29] SCdF commented on #1859
@alxndrsn is there anything specific to do on this ticket?

[2016-02-08 16:37] alxndrsn commented on #1859
Make it better.

[2016-02-08 17:22] abbyad commented on #1877
Works well in 2612, moving to Ready.

[2016-02-08 17:22] #1877 closed

[2016-02-08 17:51] #1859 closed

[2016-02-08 17:52] alxndrsn commented on #1859
This is likely way better than it was a couple weeks ago.  If the speed is good then it's `Ready`.

[2016-02-08 17:55] abbyad commented on #1635
Works well during initial testing using 2612. Moving to ready and will open new issues if any bugs are discovered.

[2016-02-08 17:57] alxndrsn commented on #1635
:+1:

[2016-02-08 18:41] alxndrsn commented on #1811
Relevant discussion: https://news.ycombinator.com/item?id=11057976

[2016-02-08 20:13] mandric commented on #1798
@btbonval use the app-settings API for now...  until we have a medic-api endpoint.
[code]

[2016-02-08 20:14] garethbowen commented on #1798
... or ddoc in `kanso.config.version`

[2016-02-08 20:25] btbonval commented on #1798
@garethbowen `kanso.config.version` shows 0.5 in 0.4 medic-os release which I've been using for local VM testing. It is from July, but I don't think a newer 0.4 medic-os has been released.

[2016-02-08 20:27] garethbowen commented on #1798
You mean medic-webapp version, not medic-os version, right?

There was a 0.5 version which IIRC was never fully released, which is why we usually only talk about 0.4 and 0.6.

[2016-02-08 20:28] btbonval commented on #1798
@garethbowen no, I mean medic-os. I use a VM based on medic-os-v1.1.0-20150731-x86-virtual.iso downloaded from dev.medicmobile.org

[2016-02-08 20:40] btbonval commented on #1798
Sounds like `kanso.config.version` is most canonical and indeed the VM I'm running is a 0.5 version.

[2016-02-08 20:48] garethbowen commented on #1573
Using npm for everything doesn't mean everything is bundled together into one js file.

[2016-02-08 21:40] garethbowen commented on #1278
Primary targets for LG:

Under-5 Sick Child Assessments                                20
Under-1 Sick Child Assessments                                4
Pregnancies Registered                                            7
% Newborn Care Visit within 48 hours                          90%
% of Under-5 Referrals followed-up within 24 hours         90%
Fever tested with mRDT

[2016-02-08 22:49] garethbowen commented on #1873
`$scope.filterModel.type` feels a bit flakey in my opinion. I much prefer interrogating the $state. It's a shame about the string parsing but I can't see another way to do it...

[2016-02-08 22:49] #1873 closed

[2016-02-08 22:58] browndav commented on #1304
Self-assigning for Medic OS update and new build.

[2016-02-08 23:23] alxndrsn commented on #1573
I only thought that because you say above:

[2016-02-08 23:27] garethbowen commented on #1573
Right but there are ways of splitting this up if it proves problematic.

[2016-02-08 23:39] #1809 closed

[2016-02-08 23:42] garethbowen commented on #1666
This issue is too generic and is covered by a range of other more specific issues. Closing as duplicate.

[2016-02-08 23:42] #1666 closed

[2016-02-09 00:43] garethbowen commented on #1862
I've added a few comments to the merge but nothing major. Nice one!

[2016-02-09 02:08] garethbowen commented on #1866
Related: #1866

[2016-02-09 02:37] garethbowen opened #1880 "Remove HttpWrapper"
It's used to cancel requests when a user navigates but with almost all requests being pouch this service is hardly used any more. Remove it and the related listeners to simplify the code.

[2016-02-09 03:53] garethbowen opened #1881 "Analytics target is rendered twice"
![double-vision](https://cloud.githubusercontent.com/assets/2064938/12907208/a8e2062e-cf4d-11e5-8429-97448554083c.png)

[2016-02-09 06:00] mandric commented on #1844
Dev branches have been patched and issue opened upstream https://github.com/dscape/nano/issues/311.

[2016-02-09 06:07] fredatthehub opened #1882 "Pregnancy Task not cleared after follow-up"
This happened for CHP **2muk053**.

[2016-02-09 07:10] #1881 closed

[2016-02-09 07:27] btbonval commented on #1798
okay so it seems like I don't need to check for version. XML forms will be `type:form` containing non-empty `_attachments.xml`, while non-XML forms will be ... something else. 0.4 won't even have any such docs, so merely searching for them and iterating will skip the XML part as a matter of course.

[2016-02-09 09:01] estellecomment commented on #1871
LGTM! Thanks.

[2016-02-09 10:43] ranjuts commented on #1850
@browndav  any thoughts on the question from Dianna above?

And, a related question --- would our webapp have the capability to detect the version of the CHW app when the CHP is connected to the internet and syncing data (or just whenever his/her phone is connected to the internet) Or would we need to figure out a manual way to do periodic checks on the app version each CHP is using?

[2016-02-09 14:52] alxndrsn opened #1883 "Minimise templated HTML"
Looks like the following ngTemplate options could be worthwhile:

[2]: https://github.com/gruntjs/grunt-contrib-htmlmin

[2016-02-09 15:34] alxndrsn commented on #1883
This won't work until the weird templates are removed by https://github.com/medic/medic-webapp/pull/1884

[2016-02-09 15:57] SCdF commented on #1864
Also, as much as I trust Gareth, let's double-check that replication-based changes (as in what restricted users are doing) is audited properly.

[2016-02-09 17:27] abbyad opened #1886 "Add context condition to the form upload script"

[2016-02-09 17:36] browndav commented on #1727
Moving this to the backlog for now as we didn't identify it as a priority for this iteration.

[2016-02-09 17:40] browndav commented on #1764
Clarification: we need a single-step REST-based API that creates a user, creates a `UserSettings` document, and creates contacts/households/people as necessary. We should then convert the user management interface to use this new API. It's also possible that `concierge` could use this API to simplify its user creation logic.

[2016-02-09 17:43] browndav commented on #1000
@diannakane, @Lesterng, @abbyad: We've tentatively scheduled this issue for the current iteration, right behind #1764 – which means it'll probably end up reaching the front of the queue on February 15th. Is this compatible with the design timeline here?

[2016-02-09 17:46] browndav commented on #1709
Hard dependency on #1764. Moving in to backlog for now.

[2016-02-09 17:50] browndav commented on #1801
Clarification: add PostgreSQL binaries to a Medic OS package. Write a startup script, `postgresql.conf`, `pg_hba.conf`, and first-run database initialization script. Verify that the server starts up successfully. Verify that the server is not directly reachable from outside of the VM/instance.

[2016-02-09 17:54] browndav commented on #1313
Closing this due to inactivity. If problems remain, please file a new issue.

[2016-02-09 17:54] #1313 closed

[2016-02-09 17:55] browndav commented on #1777
We've added #1828. @abbyad: Are there any other actions that need to be taken here IYO?

[2016-02-09 18:00] alxndrsn opened #1887 "Update enketo to do less validation"
Enketo should now run less validation cycles in certain instances since https://github.com/enketo/enketo-core/issues/358 was fixed.  We should update to this version.

Also check that the alternative fix for repeat-scrolling is ok (https://github.com/enketo/enketo-core/issues/356).

[2016-02-09 18:07] browndav opened #1888 "Revoke full-database administrative access for admin user"
Currently, the `admin` user for `medic-webapp` is a full CouchDB administrative user. This makes it possible to perform privileged operations like database deletion, which is undesirable. Switch the initial administrative user over to a database-specific role, and revoke full-database administrative access.

This will have major implications for Medic OS and `concierge`; I'll file a second issue (

[2016-02-09 18:09] browndav opened #1889 "Concierge: Support "admin-free" mode"
After #1888 is complete, modify Medic OS and `concierge` so that users are created appropriately on first run. This will likely involve (a) switching the full-database administrative user over to a randomly-generated password, and creating the new database-only administrative user required by `medic-webapp`.

[2016-02-09 18:11] browndav commented on #1781
Goal: determine if the `attachments` parameter and/or base64 encoding is in use by PouchDB. If so, determine if it's possible to avoid this. If it is, file another issue for the refactor/removal.

[2016-02-09 18:15] browndav commented on #1741
Issue janitor post: Is there an action required here?

[2016-02-09 18:18] browndav commented on #1660
Is this a priority for February 21st? If not, I'd propose that this should be deprioritized for this iteration to allow additional time for form performance improvement, targets, and analytics support.

[2016-02-09 18:21] browndav commented on #1868
Goal: attempt to reproduce this issue. If this is reproducible, capture a backtrace and file an issue to fix the defect.

[2016-02-09 18:25] browndav commented on #1862
Moved in to current iteration.

[2016-02-09 18:27] browndav commented on #1570
Reviewed; LGTM. Closing and moving to acceptance testing.

[2016-02-09 18:27] #1570 closed

[2016-02-09 18:33] alxndrsn commented on #1799
What status is this ticket?  Presumably not actually **`1 - Scheduled`**.

[2016-02-09 18:34] browndav commented on #1799
Fixed, thanks.

[2016-02-09 19:03] SCdF commented on #1888
To be clear about language, I'm going to say there are *CouchDB Admins* and *Medic Admins*. Currently Medic Admins are also CouchDB Admins, and we want to change that.

Things to do on this ticket:
- Regression test to make sure that Medic Admins don't need anything else from being CouchDB Admins apart from CRUDing users
- Update documentation (if it exists) that we have about Medic Admins
- Write

[2016-02-09 19:04] estellecomment commented on #1780
Closing, turns out Pouch is doing things right.

[2016-02-09 19:04] #1780 closed

[2016-02-09 19:07] SCdF commented on #1889
This requires a little coordination with #1888 to make sure we meet in the middle.

Here's what I suggest for this ticket:
 - Concierge should modify the `_users` DB to have the `medic-admin` role as an `admin` in `_users`. I.e., if you looked in Futon it would look like this:
![image](https://cloud.githubusercontent.com/assets/583851/12927438/218e6a9c-cf60-11e5-9ade-2d7627ddb068.png)
 - The admin

[2016-02-09 19:14] garethbowen commented on #1566
Assigned to @estellecomment for code review.

[2016-02-09 19:15] garethbowen commented on #1503
Assigned to @estellecomment for code review.

[2016-02-09 19:15] garethbowen commented on #818
Assigned to @estellecomment for code review.

[2016-02-09 19:16] abbyad opened #1890 "Custom add Person and Place forms not working"
Contact forms that worked in the field test are not working properly in 2625.

[`contact:clinic:create`](https://github.com/medic/medic-projects/blob/bf9e837b002a5a503d72df9f7184844c7c9656df/lg-uganda/forms/family.xml):
You get an infinite spinner when going to the [Add Place page](https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/add) then click on Catchment Area.

[`conta

[2016-02-09 19:24] SCdF opened #1891 "Write migration script to enable Erlang script support"
There is a setting you need to change to enable Erlang script support. I'm pretty sure you can do it (see: https://github.com/johnko/kanso-manage-couchdb/blob/master/test.sh#L27 ) so we can just write an upgrade script so people don't need to worry about it.

[2016-02-09 19:30] #1871 closed

[2016-02-09 19:36] estellecomment commented on #1503
Code LGTM.
All the issues you raised with pouch are fixed now! Does that get rid of the monkeypatch?

[2016-02-09 19:38] garethbowen commented on #1503
Yes, the monkey patch was removed as part of #1636

[2016-02-09 19:38] #1503 closed

[2016-02-09 19:43] garethbowen commented on #1864
It'd be great to have an e2e test for this as it's really easy to break. Currently all the e2e tests are run as admin because it's much easier to write a test when the data is up to date, rather than having to wait for replication to complete with every interaction, but if you can find a way to test a restricted user that would be awesome.

[2016-02-09 19:43] estellecomment commented on #1566
That added slash LGTM. Thankfully 3 months was enough code review time to be really sure of it.

[2016-02-09 19:49] SCdF commented on #1864
@garethbowen this comes back to having a smaller controlled e2e database right? If you have an empty db (as in, you literally delete the DB and start again for the e2e tests, no history no nothing), would waiting for replication be less of an issue?

[2016-02-09 19:51] browndav commented on #1850
We could insert version checks pretty much anywhere they're needed IIRC.

The application essentially consists of three parts: (i) a native Android container that needs to be updated via the Play Store, but contains a minimal amount of code and is forward-compatible (read: does not need to be updated to run newer versions of the web application); (ii) the actual web application, which uses the HTM

[2016-02-09 19:55] garethbowen commented on #1864
Not really. Currently some of the tests do setup by adding docs (app settings in particular) directly to the remote server, then loading the page. We would have to ensure the replication finishes, then reload the page, to ensure we're testing the settings we pushed. Furthermore replication is completely disabled in e2e testing, because protractor waits for all requests to finish, including longpol

[2016-02-09 20:19] #1887 closed

[2016-02-09 20:54] btbonval commented on #1741
@abbyad asked me to post it. Marc can you follow up?

[2016-02-09 21:09] browndav commented on #1741
Are there additional items in this ticket beyond those in #1604 (now closed)? Just trying to figure out if there are actionable items left here.

[2016-02-09 21:10] btbonval commented on #1741
I NEED AN ADULT!

Seriously though, I was on phone with Marc and this was a tangent and he couldn't write tickets at the time for some reason. I wrote the words as dictation but I really don't know what they mean. Marc will need to take a look.

[2016-02-09 22:03] alxndrsn commented on #1883
This is waiting for PR/review of https://github.com/medic/medic-webapp/pull/1885

[2016-02-09 22:04] btbonval commented on #1741
Based on conversation with @abbyad, it sounds like we can't really recall the reason for this ticket to remain open outside of supporting the LG trial. So if the underlying reason for this issue comes up again, we can probably file it into medic-projects.

[2016-02-09 22:04] #1741 closed

[2016-02-09 22:53] #1890 closed

[2016-02-10 01:49] abbyad opened #1892 "Update failed, migration not found"
When updating lg.dev I got the following error:
`Update failed: settings migration failed /medic/_design/medic/_rewrite/migration Not Found`

Here is a screenshot of the network tab during the failed update:
![image](https://cloud.githubusercontent.com/assets/789512/12936638/5f596bca-cf6e-11e5-9d9a-57bd80ed3526.png)

[2016-02-10 01:54] abbyad commented on #1892
And trying again with a page refresh, all seems ok.

![image](https://cloud.githubusercontent.com/assets/789512/12936722/47f48568-cf6f-11e5-9324-c0881f10be4e.png)

[2016-02-10 01:57] garethbowen commented on #1892
This was caused by a recent commit that removed the migrations completely as it's no longer needed. The kanso.json contained a reference to the migration URL to use and has also been removed. Therefore gardener shouldn't have been attempting to do the migration. Possibly that the migration code uses the previous kanso.json not the newly updated one.

[2016-02-10 07:53] ranjuts commented on #1850
Thanks @browndav! Very helpful! Do you have any sense of how long it might take to reload/update?

[2016-02-10 08:39] garethbowen commented on #1278
I'll work on a Configuration UI but the raw configuration you'll need to add is something like this...

[code]
This sets up two targets: one for 35 reports per month, and one that registrations (form type R) should make up 50% of the reports.

[2016-02-10 08:57] estellecomment commented on #818
LGTM. I don't know this code though, so not a very deep review.

[2016-02-10 13:23] alxndrsn commented on #818
? What am I meant to be doing with this?

[2016-02-10 13:49] alxndrsn commented on #1891
@SCdF I assume this should be assigned to you

[2016-02-10 13:56] SCdF commented on #1891
@alxndrsn I can certainly do it, but I'm working on other stuff right now. Anyone can pick it up

[2016-02-10 14:17] alxndrsn opened #1895 "Convert help pages to markdown, and upload them"
Split from #1700; work detailed by @garethbowen:

[2016-02-10 14:18] alxndrsn commented on #1700
Re-uploading help pages is quite separate to this implementation work.  It has been filed at #1895.

[2016-02-10 14:18] #1700 closed

[2016-02-10 14:19] alxndrsn commented on #1895
@garethbowen do you have any more thoughts on the mechanism of uploading, or where the help text & translations should be stored code-wise?

[2016-02-10 15:15] abbyad commented on #1886
This was done by @alxndrsn in https://github.com/medic/medic-webapp/commit/e851ef027bd4d30b56d44e4d03f2698c050dc0bb

[2016-02-10 15:15] #1886 closed

[2016-02-10 16:18] alxndrsn opened #1896 "Softkey Next button hilights Prev button on phone number page of New Family form"
Pages:
* phone number page
* primary caregiver (gender, age) page
* how many children under 5 page

N.B. if there is a _repeat_ section, the next `+` button gets selected.  This may be reasonable behaviour.

[2016-02-10 16:30] alxndrsn commented on #1896
Need to catch `CHR$(7)` as well as `13`.

[2016-02-10 18:48] abbyad opened #1897 "Error in first launch using mobile app"
Launching the mobile app build 120 with lg.dev running 2640 gets unrecoverable errors. The following are the errors logging in with user `demo`, waiting 5 minutes, then switching to the Contacts tab:
[code]

![image](https://cloud.githubusercontent.com/assets/789512/12957786/825f2a0e-cffc-11e5-835a-6d78a093ac47.png)

[2016-02-10 19:10] abbyad commented on #1897
I am getting the similar behaviour but slightly different errors using the Chrome 48 browser on the Tecno Y4.

![image](https://cloud.githubusercontent.com/assets/789512/12958492/02ed5896-d000-11e5-92cb-9a9a1c41b7b9.png)

[2016-02-10 19:14] garethbowen commented on #1895
I think the markdown files need to be attached to the ddoc.

[2016-02-10 19:23] abbyad commented on #1897
I tested using Chrome 48 on desktop in mobile mode, and was not able to reproduce this issue.

[2016-02-10 19:46] alxndrsn commented on #1895
...and then removed again by API?

[2016-02-10 19:49] garethbowen commented on #1895
I guess so. The api could download them and create the docs and then delete the attachments. Does that make sense?

[2016-02-10 19:51] alxndrsn commented on #1895
Yep.  To clarify, the help docs would be part of the ddoc at deployment time, but not by the time ddoc is served to end users?

[2016-02-10 19:52] garethbowen commented on #1895
Sure.

[2016-02-10 20:14] alxndrsn commented on #1897
This is not happening on `develop`; can I just update `testing` in line with `develop`?

[2016-02-10 20:15] alxndrsn commented on #1897
...or maybe it just doesn't occur for `admin`s...

[2016-02-10 20:17] garethbowen commented on #1706
We could also only replicate the "enabled" languages to save on data.

[2016-02-10 21:19] mandric opened #1898 "Handle ID collisions better"
Currently when we generate non-unique patient IDs we try generating again and recurse infinitely.  This causes load on couchdb and prevents sentinel from processing its queue of changes.

I propose instead we:

1) add a warning to the sentinel log
2) add a limit to the recursion (20 attempts by default)
3) add an error to the record if we reach the limit and fail to generate a patient ID for the r

[2016-02-10 23:25] browndav commented on #1898
Might be worth looking at something like https://github.com/pid/puid. This same requirement shows up in PID generation (e.g. the Linux kernel) and is pretty well-trod ground IIRC.

[2016-02-11 02:51] abbyad opened #1899 "Not getting the Update modal with restricted user"
After updating app_settings I am not seeing the Update modal when logged in as a restricted user.

`Error: Failed to execute 'update' on 'ApplicationCache': there is no application cache to update.`

Here is the console for repeated updates of app_settings:
![image](https://cloud.githubusercontent.com/assets/789512/12968444/00a420a2-d040-11e5-913d-2d4f9fed16f7.png)

Using build 2660

[2016-02-11 02:54] garethbowen commented on #1899
I suspect a corrupt appcache? We should handle this better, maybe by catching the exception and prompting a refresh.

[2016-02-11 03:55] garethbowen commented on #1831
I believe this is a duplicate of #1714

[2016-02-11 03:55] #1831 closed

[2016-02-11 08:48] SCdF commented on #1898
Or just UUIDs? Or are they not well supported in the JS world?

[2016-02-11 08:49] garethbowen commented on #1898
UUIDs would work but this is used for identifying a patient by SMS, so shorter is better.

[2016-02-11 08:52] SCdF commented on #1898
Ahh, makes sense.

[2016-02-11 09:48] garethbowen commented on #1866
Marc said to do it, so let's do it...

[2016-02-11 13:16] alxndrsn commented on #1866
I recommend to hold off on this until #1862 is stabilised

[2016-02-11 13:22] abbyad opened #1900 "Deleting contact shows blank right pane"
On 2660, deleting a contact showed a blank grey right pane. It should return to the place that the contact belonged to with a toast "Contact deleted".

[2016-02-11 13:25] alxndrsn commented on #1900
May be caused by recent work in either #1862 or #1348

[2016-02-11 15:16] SCdF opened #1901 "Add test for filter security"
We make sure in `medic-api` that the filter params that are passed are allowed, based on user credentials and so on. Add tests for this.

[2016-02-11 15:18] SCdF commented on #1901
See: https://github.com/medic/medic-api/commit/9d78e5cb0b2f755c94f4e34bf3c41fd46060cf72

[2016-02-11 15:19] SCdF commented on #1901
Hey @garethbowen, can you take a gander at this?

[2016-02-11 15:36] SCdF opened #1902 "Enable erlang replication support"

[2016-02-11 15:37] SCdF commented on #1902
See: https://github.com/medic/medic-api/commit/ca92ab1cca5224b5b03864a20c229547c024195a

@garethbowen would you like to take another gander?

[2016-02-11 16:51] estellecomment commented on #1278
Progress!
![screen shot 2016-02-11 at 17 50 03](https://cloud.githubusercontent.com/assets/911434/12983084/fcf16c00-d0e7-11e5-9aba-7c1db5af445e.png)
![screen shot 2016-02-11 at 17 50 20](https://cloud.githubusercontent.com/assets/911434/12983085/fcf2e364-d0e7-11e5-93df-ee1f94ab2e09.png)

[2016-02-11 17:13] alxndrsn opened #1903 "Cannot see the datepicker in contact-edit"
<img width="825" alt="screen shot 2016-02-11 at 18 09 03" src="https://cloud.githubusercontent.com/assets/191496/12983693/a2a99864-d0ea-11e5-90e3-b88860e06492.png">

[2016-02-11 19:13] abbyad opened #1904 "Own area being shown"
When switching from 2660 to 2671 a CHP's own area is being shown in the contact list when logged in as a restricted user.

[2016-02-11 19:17] abbyad opened #1905 "Task icons not showing"
When switching from 2660 to 2671 the task icons are no longer showing in the tasks tab. Tested logged in as admin and a restricted user.

[2016-02-11 19:19] abbyad opened #1906 "Search not working in Contacts tab"
When doing a search in the Contacts tab the results are not affected. This was working in 2660, and no longer in 2671.

[2016-02-11 19:39] sglangevin opened #1907 "Cannot add different birthdates for children in the add family form"
When choosing to add children while filling out the add family form, changing the birthdate for the first child sets the birthdate for the second child and vice versa. (using 2671)

[2016-02-11 20:25] garethbowen commented on #1901
One small change in comment.

[2016-02-11 20:40] garethbowen commented on #1903
This looks like a regression of #1441

[2016-02-11 20:41] sglangevin commented on #1903
There is no date-picker at all in contact-edit on mobile, from what I saw. Maybe @abbyad can confirm?

[2016-02-11 20:42] garethbowen commented on #1902
One minor comment.

[2016-02-11 22:05] abbyad commented on #1903
The date field is shown differently in mobile. Depending on the device, it can look like a series of spinners (Tecno Y4) or a calendar (Tecno J5).

[2016-02-11 22:07] sglangevin commented on #1903
@abbyad I am not able to edit the date on mobile in contact-edit. Sorry if that wasn't clear from my earlier comment. Just wondering if you could reproduce.

[2016-02-11 22:10] abbyad commented on #1903
Sorry @sglangevin, I misunderstood. I can see it on mobile, but havent been able to run the very latest on my Y4.

That seems like it is worth opening as a separate issue.

[2016-02-11 22:13] sglangevin opened #1908 "Cannot edit birthdates in contact-edit"
Clicking on the Date of Birth field highlights it but the Android datepicker doesn't pop up.

[2016-02-11 22:26] garethbowen commented on #1883
The code looks fine. Haven't tested it.

[2016-02-11 23:25] btbonval commented on #1798
Unit tests are to the point where (for form definitions), XML is being converted into a flattened list of field names, so like: `{ "formname": [ "field1", "field2", "category/field3", "category/field4" ] } `.

To maintain some backwards compatibility with existing calculations, the formnames must be entered into a table (view won't cut the mustard due to XML) holding the name of all forms. Need to

[2016-02-12 04:31] btbonval commented on #1798
rolling over to current iteration because it's not done. started it mid-iteration if not later.

[2016-02-12 05:15] btbonval commented on #1798
Limitation: due to creating tables out of these forms in order to keep track of what has already been downloaded (iterative update) and manage some other problems (can't parse XML in pg), a form cannot have dynamic fields.

Even if I were to do something a little more flexible where I dump forms as JSON and create a VIEW as the current 0.4 postgres stuff works, the VIEW will have restricted fields

[2016-02-12 09:13] SCdF commented on #1901
Made the change here: medic/medic-api@b0fe558

[2016-02-12 09:13] #1901 closed

[2016-02-12 09:22] SCdF commented on #1902
@garethbowen / @browndav how does medic/medic-api@9928c9e sit with you guys? It's certainly more specific about what it's after.

[2016-02-12 14:31] SCdF commented on #1867
They have release a new version, we could use that and test everything.

[2016-02-12 14:33] SCdF opened #1910 "Actually enable the Erlang filter"
See the PR: https://github.com/medic/medic-webapp/pull/1909

The Erlang filter now exists and is being pushed, but the JS filter is still being referenced. This ticket deals with referencing the Erlang filter instead.

[2016-02-12 14:33] SCdF commented on #1910
Hey @estellecomment can you take a look?

[2016-02-12 14:54] abbyad commented on #1702
Works for now until #1651 is resolved. Moving to Ready.

[2016-02-12 15:00] abbyad commented on #1682
Form performance is still an issue, but better due to other performance work that was done. We will do some speed testing in the field to determine if the caching needs to be un-reverted and fix for further improvements.

[2016-02-12 15:02] estellecomment commented on #1910
LGTM! Enable away

[2016-02-12 15:05] SCdF commented on #1910
Mmmmmmmerged

[2016-02-12 15:45] SCdF commented on #1864
So yes: replication based changes are audited. I changed a contact and watched the couchdb logs, and got these useful lines:

[code]
_(other lines removed for brevity)_

The first line is the audit doc for the contact, the second is the contact, and the third and forth are audit histories that I don't exactly understand yet, but were triggered because I saved a file.

[2016-02-12 16:11] estellecomment commented on #1278
![screen shot 2016-02-12 at 17 09 45](https://cloud.githubusercontent.com/assets/911434/13012434/7f1ade0a-d1ab-11e5-9af9-e5ebc32987c5.png)
![screen shot 2016-02-12 at 17 10 00](https://cloud.githubusercontent.com/assets/911434/13012435/7f391550-d1ab-11e5-88a4-65bd3f8108ca.png)

Next step : navigation. Currently if you only have one type of analytics, the navigation is disabled, and you can't get t

[2016-02-12 19:49] btbonval opened #1911 "Postgres needs to support Contacts in a sane way"
Generally, contacts is JSON and could be parsed using Postgres JSON stuff into views. This would be broken down into a view for CHPs, a view for patients, a view for this or that other kind of contact.

However, it sounds like LG will need to add extra data for CHPs (if not other sorts of contacts), which would be best facilitated by making and populating a table. This would be node work.

Alterna

[2016-02-12 19:50] btbonval commented on #1911
Possibly related to https://github.com/medic/medic-projects/issues/90 but only tangentially

[2016-02-12 19:54] btbonval opened #1912 "Postgres needs access to scheduling information"
Schedules could possibly change over time.

Within postgres, if we entirely recreate schedules (duplicating nools logic), then we might miss when parameters change _and_ we're exposing ourselves to loss of sync in logic.

For LG, we (or our partners) might hard code certain schedule parameters directly into analytics views in the short term.

In the long term, it'd be great if we had access to som

[2016-02-12 20:05] browndav commented on #1911
Contacts and facilities have associated XML form definitions, so it may be possible to reuse a substantial portion of the form conversion/parsing code to handle contacts as well. May be worth opening up a short discussion on Slack.

[2016-02-12 20:06] btbonval commented on #1911
@browndav That is good to know. Views are entirely out in that case. We definitely need to discuss the contact situation at some point, because I don't know where to find them in the CouchDB. That's a good step 1 :)

[2016-02-13 22:41] btbonval commented on #1798
I'm trying to run the form extraction code against a postgres database. In a database with no XML forms, the code gets all the way to the end and then hangs. That was very much like this problem: https://github.com/medic/medic-webapp/issues/1799#issuecomment-176482512

I can't seem to resolve the hang, it's a different issue I need to poke at more.

When trying the code against a database with for

[2016-02-14 17:30] #1883 closed

[2016-02-14 17:33] alxndrsn commented on #1682
AFAIK caching is implemented on `develop` and `testing` already.

[2016-02-15 14:14] alxndrsn commented on #1905
Caused by `LiveList`/#1862

[2016-02-15 14:14] alxndrsn commented on #1904
Caused by `LiveList`/#1862.

[2016-02-15 14:14] alxndrsn commented on #1906
Caused by `LiveList`/#1862 (as mentioned already in comments!).

[2016-02-15 14:15] alxndrsn commented on #1903
@sglangevin @abbyad is this filed as a separate issue?  E.g. #1908?

[2016-02-15 14:16] alxndrsn commented on #1907
This is likely caused by recent updates to our Enketo dependencies.  I will investigate.

[2016-02-15 14:49] abbyad commented on #1903
Yes @alxndrsn, looks like it.

[2016-02-15 16:16] alxndrsn commented on #1904
Should be reviewed as part of #1862

[2016-02-15 16:16] #1904 closed

[2016-02-15 16:59] estellecomment commented on #1278
Done!

@garethbowen, I'm seeing weird navigation for the multiple-module case, though it could be because I'm faking it and the code is breaking. Are you getting that too?

Dropdown displays "Antenatal care" while the page is actually `/targets`
![screen shot 2016-02-15 at 14 40 18](https://cloud.githubusercontent.com/assets/911434/13055103/ac46a3fa-d40d-11e5-8dc5-9c90006eb5f2.png)

[2016-02-15 17:00] estellecomment commented on #1278
assigning Gareth for code review.

[2016-02-15 17:12] SCdF opened #1913 "Medic mobile logo not cached"
Even though `/static/img/ico/icon_48.ico` should be cached (based on the generated app cache, see yours here: http://localhost:5988/medic/_design/medic/_rewrite/static/dist/manifest.appcache ) whenever I change (internal not browser) tabs or interact with the page the app requests this file:

[code]

[2016-02-15 18:12] alxndrsn commented on #1905
The work on branch `1905` demonstrates the problem quite well - now that the task list items are static HTML, they cannot wait for the icons to load... even though this is near-instant.  Allowing deferred resolution of the icons for the task-list-items is the obvious fix, but how to do this reliably is not currently clear to me.

[2016-02-15 19:45] alxndrsn commented on #1907
This may not be a new bug!  Looks like when enketo duplicates nodes for the `repeat`ed child section, this duplicates our android-datepicker, complete with "unique" id!  Simplest fix would be to find a different way to link the datepicker back to the backing `input` field.

[2016-02-15 19:48] alxndrsn opened #1914 "`Go` button does not skip to next field in Contact form > Children"
In the Children details section of the New Contact form, the android soft-keyboard `Go` button does not move selection to the next field.  The same behaviour is likely when pressing `enter` in a desktop browser.

[2016-02-15 19:50] garethbowen commented on #1902
I like it. Specific is good in this case.

[2016-02-15 19:52] alxndrsn commented on #1908
For some reason the `/data/person/date_of_birth` field is marked `disabled` in the DOM...

[2016-02-15 20:39] alxndrsn opened #1915 "Enketo not validating on page-change"

[2016-02-15 20:57] garethbowen commented on #1278
@estellecomment I've added a couple of comments to https://github.com/medic/medic-webapp/commit/d20af79f43a3a97e5b3c71749245a444562d5d1c .

It looks really good. I think we need to make some more space for the smallest screens (320 width), as you can see below the Registration Reports title overlaps the icon.

![1278-mobile](https://cloud.githubusercontent.com/assets/2064938/13059857/02a4763a-d492

[2016-02-15 23:55] garethbowen commented on #1906
Comments in commit.

[2016-02-15 23:56] #1903 closed

[2016-02-15 23:58] garethbowen commented on #1902
Code review: :+1:
Not sure if this is ready to close, so assigning back to Stefan.

[2016-02-16 02:19] diannakane commented on #1000
I shared the mockups with Marc last week and we are reviewing tomorrow. Pending his feedback, they will be ready for implementation as soon as tomorrow.

[2016-02-16 06:51] btbonval commented on #1798
I don't know why error handling doesn't work as advertised with RSVP promises. I had to put an explicit `catch()` after the exact `then()` which is erroring. A `then(good(), bad())` was not catching anything, and a `.catch()` at the very end didn't pick anything up. It had to be `.then(good).catch(bad)`.

Error for 0.6:
[code]

[2016-02-16 06:59] btbonval commented on #1798
The `then`/`catch` code was fine. Actually the problem was my error handler: it was `throw`ing the error (which was silently ignored) but did not send anything to log. Logging added, this helps.

[2016-02-16 07:14] btbonval commented on #1798
The 0.4 failure to close was just impatience. It will close out of its own accord, it just takes a great many seconds.

So it looks like the only problem stopping my form definition import is form def XML that cannot be parsed.

[2016-02-16 12:22] SCdF commented on #1907
Just a minor comment

[2016-02-16 12:48] estellecomment commented on #1278
Here goes, in 320px :
![screen shot 2016-02-16 at 13 45 55](https://cloud.githubusercontent.com/assets/911434/13076618/bb28ca32-d4b3-11e5-9c5d-21afe209f2c3.png)

Very long titles will look weird, but longish ones are fine.
And languages with very long words might run into trouble, so let's never deploy in Turkey.

[2016-02-16 13:47] alxndrsn commented on #1907
thanks

[2016-02-16 13:47] #1907 closed

[2016-02-16 13:52] #1910 closed

[2016-02-16 13:52] #1902 closed

[2016-02-16 13:52] #1835 closed

[2016-02-16 15:11] SCdF commented on #1864
Hey @garethbowen we should have a chat about this: it seems more complicated than we'd hoped and I'd like to pick your brain on it

[2016-02-16 15:59] abbyad commented on #1777
The original goal of this issue was to find out how much data is being used and when/where that happens, so that we can then make decisions on how to reduce it.

I see that we'll gzip/deflate, but I don't see other information that can help to plan data usage reduction. How often is it polling, and how much data is used for that? If a replication fails midway does it retry from the beginning? We m

[2016-02-16 16:57] alxndrsn opened #1916 "Tab stops are broken for enketo forms on desktop"
Issues:

* [x] _New Family_: tab on _phone number_ field does not change field.  **This may also be a problem on mobile.**
* [x] _New Family_: shift-tab on _Notes_ field changes page, instead of going to _Name_ field
* [x] _New Family_: tab on _Names_ field of child does not shift focus; generally a bit messed up in repeaters

When fixing, be careful not to re-break them on android.

[2016-02-16 17:04] estellecomment commented on #1897
I get it every time when I load the contacts tab, with demo user, BUT only on `1278` branch, not on `develop`.
I'd guess whatever you did on `develop` since then fixed it? `1278` branched off a week ago.

![screen shot 2016-02-16 at 18 01 01](https://cloud.githubusercontent.com/assets/911434/13083935/72964a50-d4d7-11e5-8343-d7755a12ace1.png)

[2016-02-16 17:05] alxndrsn commented on #1897
Code review is prob best done as part of #1862.

[2016-02-16 17:05] #1897 closed

[2016-02-16 17:19] btbonval commented on #1798
So forms are just going to change willy nilly and somehow I have to make the database work with that.

I'll need to include tracking of the version property of the tag. It sounds like the old definitions will simply be gone?

We can add some kind of configuration or something to manage joining a similar type of form across versions of that form in analytics later.

[2016-02-16 17:23] btbonval commented on #1798
create a table `formview_formname_version` for each version as they are encountered, populate unread data into the "current" version, create a view for `formview_formname_X` possibly built dynamically by a function.

[2016-02-16 17:53] #1915 closed

[2016-02-16 17:54] btbonval commented on #1798
Need to capture reported date of forms, not part of the XML, but is part of the JSON metadata, and associate it with the correct form.

[2016-02-16 18:25] alxndrsn opened #1917 "Selected report does not update in UI after being edited"
In the _Reports_ tab, select a report, then edit its contents.  The contents do not update unless a hard-refresh is done.

This ticket was split from #1862

[2016-02-16 18:39] SCdF commented on #1891
Added it here: https://github.com/medic/medic-api/commit/4744bd98031a7e97d427f6b5b57e4cd121b775dd

[2016-02-16 19:24] btbonval commented on #1798
Need to add a table for tracking additional CHP information. UUID string primary key, additional fields include active/inactive boolean. Ideally UUID would be a FK against a CHP table, but there won't be a CHP table, there will be a contacts table with a CHP view. So things get a little wonky.

[2016-02-16 19:32] SCdF commented on #1782
@alxndrsn I think it's safe to close this yes?

[2016-02-16 19:36] garethbowen commented on #1682
TODO: work out what state this is in and update the issue.

[2016-02-16 19:39] #1778 closed

[2016-02-16 19:40] #1906 closed

[2016-02-16 19:40] #1699 closed

[2016-02-16 19:43] SCdF commented on #1754
Worth looking at whether or not having requests redirect somewhere: i.e., simulating running out of bandwidth and being redirected to a "top up your data page".

[2016-02-16 20:19] garethbowen commented on #1777
We need to find out how much data is used by continuous replication even if there's nothing to replicate. If it's prohibitive we could only turn on automatic replication when on wifi.

[2016-02-16 20:24] garethbowen opened #1918 "Let administrators choose which version of the app to update to"
Through the dashboard administrators can see when an update is available and click to update to the latest released version. However there is no way to choose a different version to update to. For example if an instance is on 0.1.0 and the latest is 2.0.0 there is no way for us to distribute the service pack 0.1.1. The only way to get the patch is to update to 2.0.0 which would require much testin

[2016-02-16 20:31] alxndrsn commented on #1777
Or just not run it 24/7.

[2016-02-16 20:58] alxndrsn commented on #1782
I'm not sure it's a very constructive ticket, but it might be interesting to have some numbers to compare before and after.  It also might be sensible to consider #1864 as a part of this.

[2016-02-16 21:42] alxndrsn opened #1919 "Enketo: Unrecognized input type found when trying to reset"
<img width="698" alt="screen shot 2016-02-16 at 22 41 28" src="https://cloud.githubusercontent.com/assets/191496/13092086/7c04a5ba-d4fe-11e5-8d43-02956714c83f.png">

Found when cloning repeated elements in the _Add Family_ form.

`enketo-core` should probably be treating unknown field types as per `text`.

[2016-02-16 21:51] alxndrsn opened #1920 "Check if changing the pouchdb `batch_size` can have positive effects on replication speed"
This is horribly slow now for `demo` on the dev deployment.  Tweak the settings and see if it can be improved at all.

[2016-02-16 21:59] garethbowen commented on #1920
With replication performance improvements (erlang, removing audit docs, etc) it probably makes sense to raise the batch size again. Serious benchmarking required to prove that any change actually improves performance.

[2016-02-16 22:08] garethbowen commented on #1862
Code review: Most of it was already reviewed so it's mostly good.

There's a todo item I don't understand in the live list service: "// TODO cache activeDom; set it when loading a controller!!". Either fix that or create an issue to fix it or explain it better?

Also the live list service needs unit testing.

[2016-02-16 22:10] alxndrsn commented on #1920
:+1: can't wait for the audit change

[2016-02-16 22:12] alxndrsn commented on #1905
Try resolving the icons from the TaskController's initialisation code.

[2016-02-16 22:21] garethbowen commented on #1278
Translation commit: https://github.com/medic/medic-api/commit/44ddff325761bd80604f90da67310a3fd4a1300a

[2016-02-16 22:22] garethbowen commented on #1278
@estellecomment Just a couple more comments in https://github.com/medic/medic-webapp/commit/ce24204eed4b7c16b0c09e11e970037febd8ab33 and https://github.com/medic/medic-webapp/commit/261ff09ecd533b4dfcf4cec571d815a6ecb6c977

[2016-02-16 22:27] alxndrsn commented on #1916
N.B. a better fix would be to skip the key handler when not on android.

[2016-02-17 00:48] abbyad commented on #1724
The person creation form had the geolocation in the data model, but it was missing as an output field. Should be good to go now on lg.dev.

[2016-02-17 00:48] #1724 closed

[2016-02-17 09:02] SCdF commented on #1777
Is the concern that it will request data and then close it after N minutes and then request it again? So that people will be charged over and over again for the start of the GET?

[2016-02-17 09:06] garethbowen commented on #1777
There shouldn't be a timeout but we do issue a heartbeat every 10 seconds to keep the connection alive. Also if the connection is sporadic I imagine we'll attempt to reconnect frequently. This is all just theory until the profiling is done.

[2016-02-17 09:08] SCdF commented on #1920
It's a balance right? We knew it would take longer to run in total but we'd be more likely to make progress with a smaller batch size. Perhaps the definition of done for this ticket should be:
 - Define a maximum amount of time we're willing for replication to take before we get a result back
 - Define a dataset we presume to accurate (eg maybe lg.dev)
 - Add some logging code to log these amounts

[2016-02-17 09:11] estellecomment commented on #1777
Batch size could also impact : if you try to get a batch of 10 docs and fail after 9 of them because of connectivity, are the whole 10 retried?

[2016-02-17 10:58] estellecomment commented on #1278
@garethbowen All done! I moved the css classes around to keep the same gutters in anc and stock, they're all good.

[2016-02-17 17:01] abbyad opened #1921 "Cannot load forms"
Seeing `Error loading form` for all forms on alpha.dev running 2718.

Tried as a restricted user in a fresh browser as well as logged in as admin.

[code]

[2016-02-17 17:31] abbyad commented on #1694
After some testing I've confirmed that the date in format `MMM DD, YYYY` is the source of the problem. Switching it to YYYY-MM-DD fixes the problem. Will revise all existing forms, although that won't affect existing contacts.

[2016-02-17 18:01] abbyad commented on #1878
I think `today()` returning a ISO 8601 date, such as `"2016-02-17"`, would be acceptable for all of those definitions.

The critical aspect for this issue is that the date reported ends up being incorrect in some timezones. I have now also seen this happen in a form with a date picker and then using that date in a calculation within the same form.

This issue also surfaced in #986 as well, but per

[2016-02-17 18:13] abbyad opened #1922 "In certain timezones, date going through `format-date` offset by 1 day"
The date is output incorrectly in UTC- timezones:
![image](https://cloud.githubusercontent.com/assets/789512/13119549/a9ae3ac0-d577-11e5-8d7c-2b1cc2600fa9.png)

[code]

[2016-02-17 19:48] abbyad commented on #1907
Seems to work well now using 2710. I will move to Ready, but @sglangevin feel free to test as well.

[2016-02-17 19:53] abbyad commented on #1694
This should work now for new contacts on lg.dev. @alxndrsn, ready for acceptance testing.

[2016-02-17 19:53] #1694 closed

[2016-02-17 19:54] abbyad commented on #1660
@sglangevin is this still required?

[2016-02-17 19:55] abbyad commented on #1890
Works well now in 2710. Moving to Ready.

[2016-02-17 19:57] abbyad commented on #1783
Looks good in 2710, moving to Ready. @estellecomment, you were the actual OP, please reopen if you had something else in mind.

[2016-02-17 19:58] abbyad commented on #1771
Assigning to @diannakane and design team for acceptance testing.

[2016-02-17 20:23] garethbowen commented on #1278
Apologies to the reviewer - I botched the merge and had to cherry pick the commits into develop so you can't just compare the branch. The relevant commits are everything from Estelle's previous comment till now. Here's the [unified comparison](https://github.com/medic/medic-webapp/compare/4800b7fbbbd29890de1095396568af68c7d758e5...210b82967bd4711f506e4a5b460a0af777d36cc2) for your code reviewing p

[2016-02-17 20:34] garethbowen commented on #1278
To configure targets first go to Configuration > Targets and click the Enable button so the Targets analytics modules is shown in the UI. Then click Add New Target, and fill in the form. The Unique ID you provide here will be used in the next step.

Now configure the nools rules to emit a target. First define the target object:

[code]
Then emit a target instance at the appropriate time, for examp

[2016-02-17 20:39] sglangevin commented on #1660
@abbyad I think we can hold off on this for now. During our last discussion, we raised the point that CHPs might need numbers to indicate different families with the same name, so we didn't want to limit this field to exclude numbers. I could see limiting the number of numbers that are in this field, but perhaps we should just monitor the data first to see how often this mistake happens? I will co

[2016-02-17 20:46] sglangevin commented on #1907
Working well for me too.

[2016-02-17 20:48] sglangevin opened #1923 "Tasks disappearing after closing and reopening and during new task creation"
My tasks disappear (I see no tasks found) after closing, waiting a while then reopening the app. I also saw a similar issue after submitting an Add Family form where I indicated that the primary caregiver was pregnant - navigating to the Tasks tab I see no tasks found. Clicking Update from the about page to reload the app resolves this issue. Seen on version 2710.

[2016-02-17 20:58] sglangevin commented on #1923
Did some further testing and this seems to apply only to the register pregnancy task that is created after submitting the add family form. Follow-ups for assessments are working as expected.

[2016-02-17 21:58] garethbowen opened #1924 "No contacts found - except for the ones above"
The contacts list shows "no contacts found" even if there were contacts found.

![no-contacts-found](https://cloud.githubusercontent.com/assets/2064938/13126191/74163f86-d62e-11e5-9e21-b4c7cbce16d9.png)

[2016-02-17 21:58] garethbowen commented on #1924
@alxndrsn Possibly due to the live list change?

[2016-02-17 22:06] alxndrsn commented on #1924
What's it meant to say?

[2016-02-17 22:10] garethbowen commented on #1924
Either nothing at all, or "No more contacts" (or similar) if we're at the end of the pagination. "No contacts found" should only show when the search is complete with 0 contacts returned.

This also affects Reports and Messages tabs (and probably Tasks too).

[2016-02-17 22:17] abbyad commented on #1718
Tested on 2710, looks good. Moving to Ready.

[2016-02-17 22:18] abbyad commented on #1713
Haven't seen this issue occur again, moving to Ready.

[2016-02-17 22:19] abbyad commented on #1697
This has been working for several months now, moving to Ready.

[2016-02-17 22:19] abbyad commented on #1696
Works, moving to Ready.

[2016-02-17 22:22] abbyad commented on #1643
Has this feature been removed? I can deselect radio buttons in 2710.

[2016-02-17 22:25] abbyad commented on #1602
Works, so moving to Ready. May have been somewhat related to #1922.

[2016-02-17 22:28] abbyad commented on #1407
Works well, moving to Ready.

@alxndrsn following up on Likert... we are now at the point that it would be useful to have. Issue will likely be created if it isn't included.

[2016-02-17 22:29] sglangevin opened #1925 "Show certain forms in History based on the type of user who is logged in"
Currently all forms are available for all users in the History tab which means that, for example, a CHP could submit a Branch Manager form. Need to limit which forms are available based on the type of user so that CHPs cannot access Branch Manager forms.

[2016-02-17 22:29] abbyad commented on #1402
This worked well for the field test. Moving to Ready.

[2016-02-17 22:30] abbyad commented on #1387
This worked well for the field test. Moving to Ready.

[2016-02-17 22:30] abbyad commented on #1456
This has been working well, moving to Ready.

[2016-02-17 22:31] abbyad commented on #1385
Moving to Ready.

[2016-02-17 22:31] abbyad commented on #1372
Works well, moving to Ready.

[2016-02-17 22:34] abbyad commented on #1157
This was working well in online mode, but not in offline mode. Moving to Ready and we can create a new issue for offline access to media when needed.

[2016-02-17 22:36] alxndrsn commented on #1922
Looks very similar to #1878

[2016-02-17 22:37] abbyad opened #1926 "Cannot view XForm videos on mobile device when offline"
Follow up to #1157, we want videos to be seen on mobile devices when offline.

For now this is not a hard requirement for planned deployments, but feature would be used when it becomes available.

[2016-02-17 22:37] garethbowen opened #1927 "Reset Filters not working on mobile"
Try as I might I just can't get the Reset Filters button to work on mobile. I'm not sure if the click target is obscured, too small, or if clicking it does nothing. Clearing the filter and hitting search does nothing either, and switching tabs doesn't clear the filters, so once you search for something you are stuck till you refresh the app.

![reset-filters](https://cloud.githubusercontent.com/as

[2016-02-17 22:38] alxndrsn commented on #1923
Icons missing due to #1905

[2016-02-17 22:39] alxndrsn commented on #1924
Surprising that this should happen in _Messages_.

[2016-02-17 22:40] sglangevin commented on #1927
@garethbowen this is currently working on my Y4, version 2710. My reset filters icon has moved over to the right side of the screen and is easier to press.

[2016-02-17 22:41] alxndrsn commented on #1927
This screenshot doesn't appear to be taken on a mobile.  Is the bug occurring on all thin screens, or only on specific mobile phones?  If the latter, please state which phones you have tested on.

[2016-02-17 22:45] garethbowen commented on #1927
Yes I took the screenshot on my desktop so it'd be obvious what I was talking about. I tested on the Y4.

[2016-02-17 22:47] alxndrsn commented on #1927
@garethbowen @sglangevin what user were you logged in as?  Filters display differently for admins and normal users, so this may have an effect.

[2016-02-17 22:48] garethbowen commented on #1927
Logged in as a restricted user.

[2016-02-17 22:49] alxndrsn commented on #1927
@garethbowen can you check on lg.dev?  this is what @sglangevin is likely testing on, and code may be different from what you're testing against.

[2016-02-17 22:52] sglangevin commented on #1927
Yes, I was testing on lg.dev with a restricted user

On Wed, Feb 17, 2016 at 2:49 PM, Alex Anderson <notifications@github.com>
wrote:

--
Sharon Langevin | DIY Lead, Mobile App Deployment Manager
Medic Mobile
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=6911deb493&e=c511575255>
 | @Medic
<http://medicmobile.us8.list-manage2.com/track/click?u=e5b07d2afb4b273eaf

[2016-02-17 22:52] garethbowen commented on #1927
I tested on 2721, so it could have been added in the last 11 alpha releases.

[2016-02-17 23:22] #1908 closed

[2016-02-17 23:45] alxndrsn commented on #1921
This appears to have been introduced by the upgrade to Node 5.6 on travis:
<img width="375" alt="screen shot 2016-02-18 at 00 43 43" src="https://cloud.githubusercontent.com/assets/191496/13128798/ccf2604a-d5d8-11e5-9df5-ec19ad228561.png">
<img width="414" alt="screen shot 2016-02-18 at 00 44 02" src="https://cloud.githubusercontent.com/assets/191496/13128799/ccf892f8-d5d8-11e5-9eb9-3eeae5b708e9.p

[2016-02-17 23:46] alxndrsn commented on #1921
@SCdF @garethbowen any chance that node `5.x` puts the `node_modules` dir somewhere different to node `0.12`?

[2016-02-18 00:20] #1896 closed

[2016-02-18 00:44] abbyad commented on #1765
Tested on 2710 and works as expected. Moving to Ready.

[2016-02-18 00:48] abbyad commented on #1634
Works well in 2710, moving to Ready.

[2016-02-18 01:17] abbyad commented on #1430
The parenthesis issue works, but the form that previously worked above does not load as is in 2710. Moving this issue to Ready, and creating another for the newly found problem.

[2016-02-18 01:30] abbyad opened #1928 "XForm with single display group does not load"
The form used for testing #1430 previously worked in medic-webapp, but now in 2710 does not load and gives an error: `Error loading form. ["TypeError: Cannot read property 'add' of undefined"]`.

This isn't blocking any work for a deployment, but we should investigate to avoid rejecting valid XForm (if this form is indeed valid).

The only change to make the form work was to remove the `<group app

[2016-02-18 01:31] abbyad commented on #1268
This is working well, moving to Ready.

[2016-02-18 01:32] abbyad commented on #1242
This has been working well for many months. Moving to Ready.

[2016-02-18 01:34] abbyad commented on #1188
Works well, moving to Ready.

[2016-02-18 01:44] abbyad commented on #1340
Moving out of Acceptance Testing as this conversation is now superseded by https://github.com/medic/medic-webapp/issues/1878

[2016-02-18 01:45] abbyad commented on #1357
This has been working well throughout the field test. Moving to Ready.

[2016-02-18 01:46] abbyad commented on #1384
These are now custom, so removing Acceptance Testing tag.

[2016-02-18 01:47] abbyad commented on #1410
Works well now, moving to Ready.

[2016-02-18 02:00] abbyad commented on #1588
Works well on 2710, although I suspect it did many builds ago. Moving to Ready.

[2016-02-18 02:01] abbyad commented on #1077
Long overdue acceptance testing, but closing the loop to say that it is working well now.

[2016-02-18 02:13] garethbowen commented on #1921
Yes it absolutely does. npm v3 (which comes with node 4+) as opposed to npm v2 (from node < 4). Where possible it puts all dependencies at the top level rather than nested under their parent.

However looking at the source the copy:enketo-xslt task copies from "node_modules/enketo-client-side-transformer/xslt/client-side/*.xsl" so it doesn't look at any nested modules and should just work.

Furthe

[2016-02-18 02:13] abbyad commented on #1770
It saves properly in international format, so will move to Ready.

There is a side effect of this which was alluded to in the original comment - we should have a display format as well. In the field-test, there is a confirmation page displaying the phone number to make sure it has been entered correctly. When a user enters the phone number without the country code, they then see it with the countr

[2016-02-18 02:16] abbyad commented on #1226
This has been working well, moving to Ready.

[2016-02-18 02:32] abbyad commented on #1922
Ya, it does. This may be the more general case for any date vs just today().

[2016-02-18 02:52] garethbowen commented on #1682
It looks like the "revert" commit above was reintroducing the code, not reverting it out. As Alex said, it's implemented in [develop](https://github.com/medic/medic-webapp/blob/develop/static/js/services/enketo.js#L55) and [testing](https://github.com/medic/medic-webapp/blob/testing/static/js/services/enketo.js#L54).

[2016-02-18 03:21] garethbowen commented on #1921
I updated to node v5.6 and it's still working as expected. Checking travis.

[2016-02-18 03:53] garethbowen commented on #1921
The name of the dependency was wrong in the package.json which I'm guessing npm v2 ignored, but was rejected silently by v3.

[2016-02-18 05:16] btbonval commented on #1798
Contacts are probably found in four docs with these UUIDs:
[code]

[2016-02-18 05:45] sglangevin opened #1929 "Strategy for allowing external access to the Postgres DB"
Need to be able to export info to be fed into a 3rd-party SMS system that provides follow up directly to families. Broken down by different SMS services:
- Family registration: phone number of head of household
- Pregnancy registration: phone number of pregnant woman, EDD
- Newborn visit 1 (delivery): phone number of mother, DOB of child
- Treatment-only: diagnosis, phone number of head of househo

[2016-02-18 06:34] alxndrsn commented on #1921
good spot :+1:

[2016-02-18 06:34] #1921 closed

[2016-02-18 06:46] alxndrsn commented on #1798
@btbonval by convention any form whose ID starts `form:contact:` is for creating/editing contacts rather than for a report.

[2016-02-18 08:36] estellecomment opened #1930 "Display format for phone numbers"
When you type in : 06 77 88 99 00 (local format), the number is saved as +33677889900 (international format). From then on, it's displayed in international format.

Adding a display format would be convenient (if all the numbers are in your home country, it's irritating to see international formats for nothing), and as mentioned by @abbyad in #1770 :
"In the field-test, there is a confirmation pag

[2016-02-18 08:37] estellecomment commented on #1770
Agreed. Filed #1930 for that. Less urgent obviously, but still nice to have.

[2016-02-18 09:08] SCdF commented on #1278
Should clicking enable make that button change at all? It doesn't visually make any indication that anything's changed. It just looks at me all like
![image](https://cloud.githubusercontent.com/assets/583851/13138424/1f9bcc14-d61f-11e5-92bf-603785f49975.png)

(Chrome Incog)

[2016-02-18 09:08] estellecomment commented on #1278
Thanks for great explanations above! Are they getting saved into documentation anywhere?
 - Could you also give a `percent` example? (I don't get why you would emit when it's not a pass... :( )
 - I suggest using another `type` than `report` for the example, because it's confusing with the `report` object in `c`)
(yes this is a Documentation Review, should I not do this to avoid discouraging you f

[2016-02-18 09:12] SCdF commented on #1278
Also, I always get a failed save when I try to add a random target. I get this in the console:
![image](https://cloud.githubusercontent.com/assets/583851/13138534/b68dd9b4-d61f-11e5-8035-dc1184958731.png)

[2016-02-18 09:17] estellecomment commented on #1278
@SCdF should change to this :
![screen shot 2016-02-18 at 10 15 49](https://cloud.githubusercontent.com/assets/911434/13138651/a4265be4-d628-11e5-89d3-6e5680d32330.png)
(though I didn't set mine up through the UI, edited the design doc instead)

[2016-02-18 09:18] garethbowen commented on #1278
Looks like a bug with the "empty" configuration where you can neither enable nor configure it. I'll patch it now.

[2016-02-18 09:25] SCdF commented on #1278
_(If there is a nicer way of doing code reviews in this situation let me know, otherwise I'm going to just do this)_
Should this line https://github.com/medic/medic-webapp/compare/4800b7fbbbd29890de1095396568af68c7d758e5...210b82967bd4711f506e4a5b460a0af777d36cc2#diff-6d1e6074e4c4c65d5e8888bb64a06457R23
a) be in a separate function?
b) cap the return value to 100 (ie if my goal is 10 and I've made

[2016-02-18 09:36] estellecomment commented on #1278
b) I like the idea that you can have 110% of your target : reward over-achievers! The position of things still looks right, the progress bar doesn't go overboard in that case.
c) Hmmm. Goal : "zero deaths in delivery" (or whatever) Though that's a fail-only target, I would not measure my staff's achievement like this...

[2016-02-18 10:29] garethbowen commented on #1899
This can be reproduced by updating settings in incognito mode.

[2016-02-18 10:40] estellecomment commented on #1916
So, you did a bunch of things, and then reverted them, right? It's a bit painful for the reviewer, having to go through 5 commits separately.

Next time this happens, could you provide a single diff view? My best solution for this is a compare view (https://github.com/medic/medic-webapp/compare/27d07352d5672aa280447ccda1091566e15980e2...167a812e2afc6be62d6b3424fe527cf9b9dc9a44), but it includes ir

[2016-02-18 10:48] SCdF commented on #1278
Does this https://github.com/medic/medic-webapp/compare/4800b7fbbbd29890de1095396568af68c7d758e5...210b82967bd4711f506e4a5b460a0af777d36cc2#diff-8794be7903dbece1299122ebb51eb912R117 need to do anything special to be translated? Or are we using those strings just as symbols / keywords?

[2016-02-18 10:51] garethbowen commented on #1278
They are translated [in the UI](https://github.com/medic/medic-webapp/blob/develop/templates/partials/configuration_targets_edit.html#L41). It's confusing because most of our keys have English punctuation.

[2016-02-18 10:57] #1916 closed

[2016-02-18 11:31] SCdF commented on #1278
Is this https://github.com/medic/medic-webapp/compare/4800b7fbbbd29890de1095396568af68c7d758e5...210b82967bd4711f506e4a5b460a0af777d36cc2#diff-0c0cd4a24146ff1933bf7bedc90adb4dR16 enough info? Is anyone going to notice this?

[2016-02-18 12:12] SCdF opened #1931 "App doesn't handle authentication invalidating over time gracefully"
CouchDB authentication is only valid for a (configurable) small amount of time, which is refreshed on every request. I think the default is 10 minutes. If you leave your phone / browser for awhile and come back you will have lost that, and will need to reauthenticate.

Here for example. I opened the app on mah tecno, and then left it for 30 min or so. I then `grunt dev`'d to force a design doc cha

[2016-02-18 12:36] SCdF commented on #1278
So I've read the code and mucked about with the UI a bit. Would be good to have a chat about it in mode detail (how it works etc) for knowledge sharing. Apart from that looks good!

[2016-02-18 12:37] SCdF commented on #1891
Hey @estellecomment can you check this out and see if it makes sense to you? Note that I haven't written a test because I can't work out what I'd test except that the one `db.request` statement I wrote indeed gets called.

[2016-02-18 12:38] estellecomment commented on #1278
Translated here : https://github.com/medic/medic-webapp/compare/4800b7fbbbd29890de1095396568af68c7d758e5...210b82967bd4711f506e4a5b460a0af777d36cc2#diff-005a710c0ad49979109a3afa935929b6R41

[2016-02-18 12:39] estellecomment commented on #1278
awww gareth answered it already dammit

[2016-02-18 12:42] SCdF commented on #1899
Just one question for @garethbowen but apart from that looks good

[2016-02-18 13:22] alxndrsn commented on #1643
Feature no longer working due to https://github.com/enketo/enketo-core/issues/362.  Blocked pending response to that ticket.

[2016-02-18 13:28] estellecomment commented on #1777
Rummaged through data monitor apps. I like this one :
https://play.google.com/store/apps/details?id=com.andcreate.app.trafficmonitor&hl=en
![screenshot_2016-02-18-14-19-01](https://cloud.githubusercontent.com/assets/911434/13144441/eba2a6d6-d64a-11e5-8b21-233539b4a01d.png)

You can get breakdown per app, and wifi vs mobile, but couldn't find one that exported data that I wanted.

The apps all star

[2016-02-18 13:32] abbyad commented on #1921
Thanks for the quick fix. Works well in 2723, moving to Ready.

[2016-02-18 13:33] alxndrsn commented on #1777
Good idea.  App above looks like it has adverts, so presumably adds its own data-usage overhead.  This is not ideal.

[2016-02-18 14:04] estellecomment commented on #1777
Hmm free apps tend to do that. Paid apps are more complicated to get on CHW phones.

The problem with extra apps is that if they're never used they get killed by the system, so if we make a separate app it might end up being useless unless woken up every so often by the user. (the alternative is to get a wakelock, but that'll drain the battery and people will complain)

So, add traffic logging to

[2016-02-18 14:23] alxndrsn opened #1932 "Unit test LiveListSrv"

[2016-02-18 14:23] alxndrsn opened #1933 "Cache activeDom in LiveListSrv"
This might be a nice performance boost.  Investigate, and if it looks useful then implement.

[2016-02-18 14:24] #1862 closed

[2016-02-18 15:21] estellecomment commented on #1891
I tried it and it seems to work! LGTM.

[2016-02-18 15:29] #1891 closed

[2016-02-18 15:36] alxndrsn commented on #1924
Fixed for reports & contacts; could not recreate for messages.

[2016-02-18 17:15] alxndrsn commented on #1917
Fixed bug by deleting code.

[2016-02-18 19:29] sglangevin opened #1934 "Do not allow CHPs to delete Reports"
CHPs shouldn't be allowed to delete any forms. They should be able to edit only. The delete button should be grayed out on the history page when a CHP is viewing a previously submitted form.

[2016-02-18 19:33] alxndrsn commented on #1934
Pedantic question alert!  Shouldn't be allowed to delete forms, or delete reports (form submissions)?

[2016-02-18 19:34] sglangevin commented on #1934
Forms! Sorry.

[2016-02-18 19:42] #1899 closed

[2016-02-18 20:18] garethbowen commented on #1924
Looks good. Good call on changing the variable name, eg: `$scope.contacts` -> `$scope.hasContacts`

[2016-02-18 20:18] #1924 closed

[2016-02-18 20:27] garethbowen commented on #1905
One comment on the commit.

[2016-02-18 20:45] garethbowen commented on #1917
Nice.

[2016-02-18 20:45] #1917 closed

[2016-02-18 20:54] garethbowen commented on #1278
I'll close this for now - @SCdF ping me when you're free for an overview of how it all works.

[2016-02-18 20:54] #1278 closed

[2016-02-18 21:20] garethbowen commented on #1927
Closing as I can no longer reproduce this issue. Will reopen if it occurs again.

[2016-02-18 21:20] #1927 closed

[2016-02-18 21:44] alxndrsn opened #1935 "Tasks list says "no tasks found" before it's loaded"
(again)

[2016-02-18 21:53] garethbowen commented on #1913
@SCdF I can't reproduce this. Were you using incognito mode? If so, the appcache doesn't work in incognito mode so this would explain it.

[2016-02-18 21:55] garethbowen commented on #1876
Good call. Also consider putting all compiled resources in the same directory, eg: `dist` or `build`. Currently we have `static/dist`, `ddocs/compiled`, and `build`.

[2016-02-18 22:03] garethbowen commented on #1858
This was a temporary "feature", just so the tab wouldn't be empty in the LG field test. This has been replaced by #1278

[2016-02-18 22:03] #1858 closed

[2016-02-18 22:03] abbyad commented on #1278
This is working very well and was easy to configure. Nice job @gareth and @estellecomment!

Moving to Ready and will open new issues as we do more testing.

[2016-02-18 22:06] abbyad opened #1936 "Remove target heading justification"
Text should be left aligned instead of justified.

![image](https://cloud.githubusercontent.com/assets/789512/13159772/b4b8f168-d661-11e5-9620-ab51eb81eb09.png)

[2016-02-18 22:07] garethbowen commented on #1727
Duplicate of #1895

[2016-02-18 22:07] #1727 closed

[2016-02-18 22:20] abbyad opened #1937 "Update notice after every change in configuration"
Every change in the Targets tab config pages (eg editing a target) changes the app_settings, which in turn prompts the user to Update/Reload the page.

![image](https://cloud.githubusercontent.com/assets/789512/13160149/d42fdd7a-d663-11e5-8dc9-0b940888b228.png)

[2016-02-18 22:22] garethbowen commented on #1937
Actually it's worse than that - any settings update triggers the "update" modal. This is by design because we're not doing a good enough job of listening and dynamically updating the UI on settings change. This works ok for CHPs as we don't expect the settings to change much, but it makes configuring the app a real pain.

The correct solution is to make sure that everywhere that gets settings is l

[2016-02-18 22:28] garethbowen commented on #1361
This work was done in #1861

[2016-02-18 22:28] #1361 closed

[2016-02-19 00:10] garethbowen commented on #1865
It's in their hands now...

[2016-02-19 00:10] #1865 closed

[2016-02-19 08:11] SCdF commented on #1913
Yeah I almost certainly was. It's the only thing that is being pulled each time though (ie it wasn't also loading all the JS/CSS back etc), none of the JS is, which is why it stood out to me.

[2016-02-19 08:29] garethbowen commented on #1913
Closing as I can only reproduce this with incognito mode which isn't supported for offline work anyway.

[2016-02-19 12:41] estellecomment commented on #1777
![screenshot_2016-02-19-13-40-01](https://cloud.githubusercontent.com/assets/911434/13175952/76009edc-d70e-11e5-98d3-b0a8519868da.png)

[2016-02-19 13:41] katanu commented on #1851
Took a while to find out what is the treatment screen? Still unsure of it. Is there a way of finding out who logged this for follow up? However, if its the deletion of the historical record, I think it should be greyed out.

[2016-02-19 14:19] katanu commented on #1934
Maybe the edit function would benefit with more exploration. I am not sure if the CHPs should be allowed to edit a historical record at all or tie it to a time limit and specific fields for which an edition can be made is better. Some editions might make the historical treatment a new assessment with different results and tasks for that patient. May be it is worth the while to look at when and why

[2016-02-19 17:11] sglangevin commented on #1934
This appears to be a duplicate of #1851 - closing.

[2016-02-19 17:11] #1934 closed

[2016-02-19 17:12] sglangevin commented on #1851
@katanu I think whoever reported that meant that CHPs should not be allowed to delete reports from the history page. The current use of edit on the history page is for CHPs to edit the LMP of a particular lady, though I am not certain how frequently that is happening. I don't think we expect any need for a CHP to delete, so I agree that we should go ahead and gray out the delete option. We were re

[2016-02-19 18:11] abbyad opened #1938 "Simplify medic specific XForm notation"
The goal of this issue is to simplify the customization needed to make XForms work within the webapp. We currently use some special notation within the XForm to make it work well with the webapp (eg to assign the form to a contact, or to display only certain fields in the Reports/History tab).

Here is a proposal for some of the changes, which may help increase performance by reducing field duplic

[2016-02-19 18:54] btbonval commented on #1938
It might be nice to reflect the name of the input sources, because "input" and "g_input" are mysterious and a bit confusing because the fields are also inputs. Same for "outputs": what is being output to? That whatever is the target would probably be a better label.

As I mentioned in slack, I'm not sure how much of a win moving to JSON is. The form definitions (`type:form`)would still be base64 e

[2016-02-19 19:14] btbonval commented on #1938
In order to make the best use of JSON, we would need to include the form's version in JSON as well.

[2016-02-19 19:39] abbyad commented on #1938
@btbonval I agree with the naming suggestions, and that's why the proposal made in this issue would remove `g_inputs` and `outputs` altogether.

As for the benefit of copying all values to JSON, it would make it possible to access any field from a Task or Target rule. Otherwise you are limited to the ones put in `outputs` when the form was created. It would also prevent duplication of fields, hope

[2016-02-19 19:47] btbonval commented on #1938
@abbyad Ah, I must not be reading this issue correctly. It still isn't obvious to me where it is recommended that `g_inputs` and `outputs` go away. I also don't know how this helps pull in Tasks.

Here's what I do know: that all sounds amazing! I'm in favor.

[2016-02-19 20:16] abbyad commented on #1925
We currently have a "context" condition for showing the form in a Contacts tab profile based on the doc of the contact in question. We could extend that concept and have a "user" condition that would be fed the logged in user's doc and can be used in a condition to determine if it is shown in the Reports/History tab.

[2016-02-19 20:30] abbyad commented on #1892
Do we need to do anything about this, or just tell people to retry if they encounter this?

[2016-02-19 20:32] abbyad commented on #1823
Marking this as high priority for our support projects that send SMS notifications.

[2016-02-19 20:35] abbyad commented on #1833
Closing as this is superseded by #1928

[2016-02-19 20:35] #1833 closed

[2016-02-19 20:36] abbyad commented on #1661
@alxndrsn is this issue still relevant?

[2016-02-19 20:37] abbyad commented on #1572
Moving to current iteration for **design work only**.

[2016-02-19 20:40] browndav opened #1939 "Verify/Unverify button falls out of sync with left pane after being clicked"
On build 2710 of v0.6: clicking the `Verify` button correctly changes the verified/not-verified indicator in the left pane, but fails to change the button in the right pane from `Verify` to `Unverify`. Expected result: the `Unverify` button becomes immediately available.

The reverse is also true:
<img width="1021" alt="verify-unverify-sync-20160219" src="https://cloud.githubusercontent.com/assets

[2016-02-19 20:42] sglangevin commented on #1572
@abbyad should this design work include thinking on where in the profile we could indicate that a woman is pregnant and show her EDD?

[2016-02-19 20:43] abbyad commented on #1797
Closing as I have not seen this lately and I haven't been able to reproduce it.

[2016-02-19 20:43] #1797 closed

[2016-02-19 20:44] sglangevin commented on #1939
@browndav it's funny this issue is coming up because we were talking earlier this week about the potential for using the verify feature for cases where CHP managers are more heavily involved in checking up on CHPs, i.e. they do home visits to verify the information submitted by a CHP.

[2016-02-19 20:48] alxndrsn commented on #1661
I guess not?

[2016-02-19 20:48] #1661 closed

[2016-02-19 20:53] abbyad commented on #1938
There was a lot in that original post, so to clarify:

- This won't help pull in Tasks, but helps task or target rules use any form data
- Wasn't explicit, but removing `<g_inputs>` would be possible once we make use of a `inputs/source` field.
- We would stop using <outputs> when we "assign all the field to json, not just the outputs section"

We will update the form creation how to guide accordi

[2016-02-19 21:20] btbonval commented on #1938
Gotcha. Those bullet points make sense. I think you were missing `<outputs>` in the last bullet.

[2016-02-19 21:26] abbyad commented on #1473
Bringing this up into next iteration for design, following #1938

[2016-02-19 21:34] abbyad commented on #1938
Interesting... html gets rendered or hidden if not in code block. Updated comment.

[2016-02-19 21:52] btbonval commented on #1938
Problem solved. Yeah, I think that's true. It is weird they don't escape HTML since they're using Markdown, but also, Markdown is a superset of HTML so ... maybe it's a bit too true to Markdown?

[2016-02-21 20:05] garethbowen commented on #1892
We should look at it to work out exactly what's going wrong.

[2016-02-21 22:08] garethbowen commented on #1932
Nice one. I moved the private methods into the top level `describe` function so they don't bleed into other tests.

[2016-02-21 22:08] #1932 closed

[2016-02-21 22:45] garethbowen opened #1940 "Provide an analytics module selection page"
When you go to /analytics if you only have one module you're automatically redirected to it, but if you have multiple modules you just see a blank page. Instead we should render links to each module.

[2016-02-22 07:46] alxndrsn commented on #1643
Fixed in https://github.com/medic/medic-webapp/commit/329b46609638cc63f30b299f89a8cf16005cec56 (commit tagged with wrong issue number).

[2016-02-22 08:45] estellecomment commented on #1940
The buttons are different sizes depending on how much text there is in them... Still functional, but looks not great.
![screen shot 2016-02-22 at 09 43 20](https://cloud.githubusercontent.com/assets/911434/13213409/df1aaac0-d948-11e5-9cdc-dab1f7fe2576.png)

[2016-02-22 08:47] estellecomment commented on #1936
LGTM!

[2016-02-22 08:48] #1936 closed

[2016-02-22 08:54] estellecomment commented on #1643
LGTM

[2016-02-22 08:54] #1643 closed

[2016-02-22 09:00] estellecomment opened #1942 "Targets config UI : needs back button"
Once on a given target's config page (`configuration/targets/edit/<targetname>`), you can't navigate back: `Submit` sends you back to the same page after a refresh.
We need a `Back` or `Cancel` button back to `configuration/targets`.

You can still pick from the dropdown menu though, so doesn't actually block navigation.

[2016-02-22 09:01] garethbowen commented on #1942
You can use the browser's back button, but a `cancel` would be nice.

[2016-02-22 09:02] estellecomment opened #1943 "Targets config UI : preview icon"
In a target's config page (`configuration/targets/edit/report/<targetname>`), a preview of the icon you pick would be nice. Otherwise, with just the icon names, picking is like "What's 'reports' icon again?"

[2016-02-22 09:04] estellecomment opened #1944 "Targets : add a description"
Add a description field to targets, and display it in analytics/targets under a "?" icon in a tooltip.
Something like this (bubble style is not ideal, it's just what Preview had)
![screen shot 2016-02-16 at 13 45 55](https://cloud.githubusercontent.com/assets/911434/13213794/9b8b4938-d94b-11e5-8b34-6339f34626b8.png)

[2016-02-22 09:17] estellecomment commented on #1940
text is not centered vertically on the buttons. (Gonna be the best buttons ever.)
![screen shot 2016-02-22 at 10 11 10](https://cloud.githubusercontent.com/assets/911434/13214050/782c50e8-d94d-11e5-8c25-bec09fdd5439.png)

[2016-02-22 09:27] SCdF commented on #1880
Choice :shipit:

[2016-02-22 09:27] #1880 closed

[2016-02-22 09:48] garethbowen commented on #1278
# Demo walkthrough

## Configuration

![configuration-list](https://cloud.githubusercontent.com/assets/2064938/13214727/39835a12-d9b6-11e5-89e2-815f46c0cdd6.png)

![configuration-form](https://cloud.githubusercontent.com/assets/2064938/13214732/3c0d0ec2-d9b6-11e5-9a17-7192bae93a7c.png)

![configuration-rules](https://cloud.githubusercontent.com/assets/2064938/13214736/402cae18-d9b6-11e5-9f59-9ac17

[2016-02-22 10:03] estellecomment commented on #1940
Much beautifulness! Thank you!

[2016-02-22 10:03] #1940 closed

[2016-02-22 11:08] estellecomment opened #1945 "Get more informative bug reports"
Can we add logs to the bug reports?
We keep asking people for more background or how to reproduce, which they might not be able to do.

[2016-02-22 15:19] SCdF opened #1946 "Tasks don't load on first run"
If you wipe your phone and load the app from scratch, tasks do not load. This includes moving from one tab to another (ie from Contacts back to Tasks).

They will only load once you refresh the page (ie with `location.reload()` or close the app and reopen it.

[2016-02-22 16:17] alxndrsn opened #1947 "LiveList dates will get out of date"
Relative dates of reports & tasks will be incorrect after a certain duration.  With the old implementation, angular was watching these values, and constantly updating the text as appropriate.  Now that the HTML for each item is generated statically in `LiveListSrv`, we need to periodically update these elements ourselves.

# Proposal:

## Reports

<img width="519" alt="screen shot 2016-02-22 at 17

[2016-02-22 16:20] SCdF commented on #1864
Things left to do:

- [ ] Write unit tests for the migration. It's been tested, but there are no automated tests
- [ ] Make the changes to couchdb-audit more universally useful than what I've done to get it working for us.

[2016-02-22 16:22] SCdF commented on #1864
Hey @alxndrsn could take a look at a look at the following PR: https://github.com/medic/medic-api/pull/45

Specifically, at the migration script.

[2016-02-22 17:23] alxndrsn commented on #1935
Can't see a way to make this work.  Perhaps changing the message to _No tasks yet_ or _No tasks right now_ would be suitable?  @SCdF @garethbowen any thoughts on the message, or on making this actually work?

[2016-02-22 17:24] alxndrsn commented on #1947
@garethbowen @abbyad interested on your thoughts on this one

[2016-02-22 17:27] abbyad commented on #1947
I think that proposal makes sense from a user perspective. Another option would for today's reports is to show the actual time, not relative.

[2016-02-22 17:32] sglangevin commented on #1946
I've also seen this many times and I've seen it happen when closing and re-opening the app too (see #1923)

[2016-02-22 17:47] alxndrsn commented on #1946
@sglangevin any feel for how long you've been seeing this issue?

[2016-02-22 17:51] sglangevin commented on #1946
The last week or two. I figured it was due to performance work being done and that it might resolve itself.

[2016-02-22 18:12] alxndrsn opened #1948 "Submitting forms does not work when logged in as admin"
When logged in as `admin`, saving a.g. patient assessment form, or editing a contact, fails on save with the following error:

<img width="709" alt="screen shot 2016-02-22 at 19 00 44" src="https://cloud.githubusercontent.com/assets/191496/13227703/34b6ad54-d998-11e5-8de4-cbb26a99f03a.png">

[2016-02-22 18:12] alxndrsn commented on #1948
@garethbowen would appreciate your thoughts on this

[2016-02-22 18:13] alxndrsn commented on #1948
IIRC this was working okay Friday

[2016-02-22 18:15] abbyad commented on #1278
Adding screenshots for a fully configured instance:

## mobile view
![pasted image at 2016_02_22 12_44 pm](https://cloud.githubusercontent.com/assets/789512/13227677/d255c65e-d965-11e5-99fe-a3f6f06dbec3.png)

## small desktop view
![image](https://cloud.githubusercontent.com/assets/789512/13227715/fac33ea0-d965-11e5-8826-e6cd5308deee.png)

## large desktop view
![image](https://cloud.githubusercon

[2016-02-22 18:15] alxndrsn commented on #1948
N.B. these actions seem to work on occasion, but mostly not.

[2016-02-22 18:15] alxndrsn commented on #1278
:+1: looking good!

[2016-02-22 18:51] garethbowen commented on #1947
The first proposal makes sense I think - regenerate the LiveLists at 12am (or next render) and only have daily granularity.

[2016-02-22 18:53] garethbowen commented on #1945
On the Configuration > Export page you can export the server logs. If the user contributes their console logs, is that sufficient?

[2016-02-22 18:55] alxndrsn commented on #1948
Looks like getting the original doc, or perhaps one of the related docs (e.g. `doc.parent`) fails during the save process:

<img width="667" alt="screen shot 2016-02-22 at 19 54 04" src="https://cloud.githubusercontent.com/assets/191496/13228831/20b3fdb0-d99e-11e5-90b7-673c8dd606b0.png">

[2016-02-22 18:55] alxndrsn commented on #1948
ooerr i see the problem

[2016-02-22 18:56] alxndrsn commented on #1948
ooerr i see the problem

<img width="716" alt="screen shot 2016-02-22 at 19 55 54" src="https://cloud.githubusercontent.com/assets/191496/13228860/4ea1e980-d99e-11e5-82d1-84f93cadcfbd.png">

[2016-02-22 19:27] abbyad commented on #1945
Need to document how to capture a bug report, and share that with users in training.

[2016-02-22 19:28] abbyad commented on #1945
We should also test that this still works.

[2016-02-22 19:28] alxndrsn opened #1949 "API: "notLoggedIn is not defined""
[code]

[2016-02-22 20:05] SCdF commented on #1782
I will create some terrible local benchmarks for the changes feed (so just curl, not in the app) with a 2x2 of:
 - JS vs. Erlang
 - Audit in same dir vs different dif

[2016-02-22 20:27] alxndrsn commented on #1679
Need to update local DB name at:

* https://github.com/medic/medic-webapp/blob/develop/static/js/app.js#L396
* https://github.com/medic/medic-webapp/blob/develop/static/js/services/db.js#L31

...and possible other places...

[2016-02-22 20:28] alxndrsn commented on #1679
It's not immediately clear how to get the username at https://github.com/medic/medic-webapp/blob/develop/static/js/app.js#L396, as we are not inside the angular app at this point.

[2016-02-22 20:29] SCdF commented on #1888
So the strategy here is to not give out admin access to anyone outside of medic / ops. If issues come out where customers need functionality that is only currently available to this user we will look at exposing it in a safe way.

[2016-02-22 20:29] #1888 closed

[2016-02-22 20:32] #1949 closed

[2016-02-23 01:48] browndav commented on #1828
Update
------

I can't find any reason for gzip or deflate to have been disabled for `application/json`. I've updated `lg.dev` to a new nginx configuration, added some additional deflatable MIME types for fonts and images, and done some basic testing with no apparent problems. Performance appears to be improved considerably:

App load time
------------------

Before: 32 requests, 2.7MiB, 19.11 sec

[2016-02-23 01:50] browndav commented on #1828
Follow-up tasks:
  - [ ] I still need to test a full application update via Garden.

[2016-02-23 02:05] browndav opened #1951 "Erlang filter failed to deploy properly on lg.dev (HTTP 403 Forbidden)"
When logging in to lg.dev with a clean desktop version of Chrome 43, I see this:

<img width="1334" alt="lg-dev-erlang-filter" src="https://cloud.githubusercontent.com/assets/763977/13239413/c49576e4-d98e-11e5-9238-b77582ad98fc.png">

It looks like the `Forbidden by design doc validate_doc_update function` message is due to a missing or otherwise-not-working Erlang filter. I've confirmed that remo

[2016-02-23 02:07] garethbowen commented on #1951
lg.dev is on 2710 which is 6 days old. The erlang migration was committed 6 days ago. My guess at this point is the version that's deployed had the webapp changes but not the api changes. If we update it might just work...

[2016-02-23 02:20] garethbowen commented on #1951
Once you have enough information it might be worth releasing a beta release and updating lg.dev which might just work.

[2016-02-23 06:37] #1679 closed

[2016-02-23 10:05] SCdF commented on #1951
Yep the deployed cut is broken: the api submodule wasn't yet updated to the correct version. Solution would be to cut another build and deploy that.

[2016-02-23 13:29] alxndrsn commented on #1695
@mandric what's going on with this ticket?  Is it work in progress and should it be in the current miestone?

[2016-02-23 13:34] browndav commented on #1945
Deprioritized on 2/22 iteration planning call; moving to backlog.

[2016-02-23 13:35] browndav commented on #1895
Deprioritized on 2/22 iteration planning call; moving to backlog.

[2016-02-23 13:37] browndav commented on #1868
Not enough information to proceed given the current timeline. Moving to backlog for now. If the problem becomes reproducible or you uncover additional information, please comment and we'll take another look.

[2016-02-23 13:45] alxndrsn commented on #1559
Still an issue.  Likely a text change or out-dated app_settings.

[2016-02-23 13:45] alxndrsn commented on #1582
Fixed.

[2016-02-23 13:45] #1582 closed

[2016-02-23 13:45] estellecomment commented on #1777
Measured how much background replication costs.
Right now we listen to the `_changes` feed for the ddoc changes, and we have replication both ways.
Will all three, we have:
[code]

[2016-02-23 13:46] #1583 closed

[2016-02-23 13:46] alxndrsn commented on #1591
These text help pages have been removed.

[2016-02-23 13:46] #1591 closed

[2016-02-23 13:47] alxndrsn commented on #1620
Cosmetic.

[2016-02-23 13:47] alxndrsn commented on #1654
Presumably working now.

[2016-02-23 13:47] #1654 closed

[2016-02-23 13:48] alxndrsn commented on #1655
Found when cloning repeated elements in the _Add Family_ form.

`enketo-core` should probably be treating unknown field types as per `text`.

[2016-02-23 13:48] alxndrsn commented on #1919
Duplicate of #1655

[2016-02-23 13:48] #1919 closed

[2016-02-23 13:48] alxndrsn commented on #1655
This has no observed affects apart from the log message.

[2016-02-23 13:49] alxndrsn commented on #1656
Re-open if observed again.

[2016-02-23 13:49] #1656 closed

[2016-02-23 13:49] alxndrsn commented on #1669
Not very conerning.

[2016-02-23 13:49] estellecomment commented on #1777
Logs, for records :
[ddoc changes + replication](https://github.com/medic/medic-webapp/files/142668/ddoc_changes_and_replication_console.txt)
[just ddoc changes, no replication](https://cloud.githubusercontent.com/assets/911434/13253458/75b22a96-da3c-11e5-9e0f-1a6e78302155.png)
[no changes feed (and thus no data spending)](https://cloud.githubusercontent.com/assets/911434/13253490/9692ecbe-da3c-11

[2016-02-23 13:50] alxndrsn commented on #1710
@garethbowen is this still a conern?

[2016-02-23 13:50] alxndrsn commented on #1729
Fixed in the distant past.

[2016-02-23 13:50] #1729 closed

[2016-02-23 13:54] alxndrsn commented on #1914
Fixed recently.

[2016-02-23 13:54] #1914 closed

[2016-02-23 13:56] browndav commented on #1777
It's probably worth repeating this test on lg.dev in light of #1828; I _think_ it makes a pretty major difference, but haven't quantified it yet beyond what's documented in the issue.

[2016-02-23 13:56] alxndrsn commented on #1777
Good numbers! :+1:

[2016-02-23 13:57] alxndrsn commented on #1931
@SCdF should this be marked **`Priority`**?

[2016-02-23 13:58] alxndrsn commented on #1946
Sounds important.

[2016-02-23 14:01] browndav commented on #1931
Additional comments from he 2/22 iteration planning call: We should check what the session timeout is in production. Also, the session timeout is bumped when a request is made, so the timeout doesn't necessarily need to be infinite (just longer than the longest period of user inactivity that we anticipate).

[2016-02-23 14:10] alxndrsn opened #1952 "Make task icons work in a cooler way"
As per discussion on https://github.com/medic/medic-webapp/commit/2efa40b3532892e724fa92bcbbf1b928508d12cf#comments, task icons are currently a bit clunky, and could possibly be done with promises instead.

[2016-02-23 14:11] alxndrsn commented on #1905
Doing this better filed separately at https://github.com/medic/medic-webapp/issues/1952

[2016-02-23 14:11] #1905 closed

[2016-02-23 15:01] alxndrsn commented on #1878
@marc giving this some more thought, it seems reasonable to make `today()` identical to `now()`.  This has a couple obvious advantages:

* keep implementation in line with odk-collect and enketo-core
* fix these timezone bugs

[2016-02-23 15:37] estellecomment commented on #1920
Having a batch size of 1 generates a lot more requests, looks like for each doc there's a request to
[_revs_diff](https://cloud.githubusercontent.com/assets/911434/13256533/5aaa0b10-da4b-11e5-868e-7ac44ae0e7fa.png) and one to the [replication status doc](https://cloud.githubusercontent.com/assets/911434/13256584/94581488-da4b-11e5-85bc-1893779eb5ae.png).

[2016-02-23 15:37] alxndrsn commented on #1920
@estellecomment I predict it would generate around ten times as many requests ;-)

[2016-02-23 15:47] SCdF commented on #1931
IMO this is super important, but I've been placated before by being told that in production people's creds never time out.

[2016-02-23 15:50] abbyad commented on #1878
Soudns good @alxndrsn. When we want to save or display the date we use `format-date(/path/to/node, '%Y-%m-%d')`?

[2016-02-23 15:50] #1878 closed

[2016-02-23 16:02] alxndrsn commented on #1922
Different cause to #1878 - `format-date()` has its own special timezone bug due to its use of `Date.parse()`.

[2016-02-23 16:12] estellecomment commented on #1781
No, it's not. Pouch gets the documents separately, not from the changes feed (no `include_docs` param):
![screen shot 2016-02-23 at 16 39 36](https://cloud.githubusercontent.com/assets/911434/13256704/1124743e-da4c-11e5-9714-8a80925bfcea.png)

[2016-02-23 16:25] browndav commented on #1828
Problem: Dashboard relies on the `ETag` header to discover the design document's `_rev`, which changes when gzip or deflate is enabled, causing dashboard to request a document with a bad `_rev`, leading to update failure.

Problem is here: https://github.com/garden20/dashboard-core/blob/master/lib/dashboard_core.js#L898

I'll look in to (in order of preference): either getting the `_rev` another w

[2016-02-23 16:33] browndav commented on #1828
Actually, it looks like it's the same ETag, just prefixed with a `W/`. I'll do some quick reading on ETags and `Accept-Encoding`, and then I think it should be a relatively easy dashboard patch.

[2016-02-23 16:43] estellecomment commented on #1781
Attachments are fetched separately.
E.g. for form attachments, `content-type:text/xml` (don't see any trace of either base64 or xml) :
![screen shot 2016-02-23 at 17 35 54](https://cloud.githubusercontent.com/assets/911434/13258691/7a3bac00-da54-11e5-9326-157b5f47fae3.png)
![screen shot 2016-02-23 at 17 41 20](https://cloud.githubusercontent.com/assets/911434/13258738/af252644-da54-11e5-812f-05d24

[2016-02-23 16:53] estellecomment commented on #1781
From docs for `GET` in http://docs.couchdb.org/en/1.6.1/api/document/attachments.html:
"The raw data of the associated attachment is returned (just as if you were accessing a static file."
So no base64.

[2016-02-23 17:01] abbyad opened #1953 "XForm constraint with `<=` fails unexpectedly"
The constraint `.<today()` does not allow today or future dates, as expected. Changing it to allow today, eg `.<=today()`, and all dates give the constraint message.

Tested on 2760.

[2016-02-23 17:04] #1781 closed

[2016-02-23 17:38] #1922 closed

[2016-02-23 17:41] alxndrsn commented on #1953
I would expect this constraint to allow yesterday and prior dates.  If you are trying to allow 'today and future dates', try:

    . > (today() - 1)

[2016-02-23 17:41] #1953 closed

[2016-02-23 17:42] alxndrsn commented on #1953
@abbyad the above should work.  If collect behaves differently, I am happy to work out a fix in-line with the behaviour seen there.

[2016-02-23 17:45] abbyad commented on #1953
I am trying to get today and prior dates. Are you saying to use `<` instead of `<=` until this calculation issue is resolved?

[2016-02-23 17:48] alxndrsn commented on #1953
I'm not convinced it's a calculation issue, but if collect behaves differently I will fix as such.

To get today's date or earlier, reverse the example given in my first comment above:

    . < (today() + 1)

[2016-02-23 18:03] abbyad commented on #1953
The suggested calculation fails too. Date arithmetic is just not working as I'd expect, and perhaps we just need to be aware of that.

The following works as expected: `decimal-date-time(.) <= decimal-date-time(today())`

[2016-02-23 18:06] alxndrsn commented on #1953
How is it failing?  Does yesterday's date pass validation, but not today's?

[2016-02-23 18:08] abbyad commented on #1953
Sorry for not clarifying... what I meant is that all dates fail the constraint.

[2016-02-23 19:07] SCdF opened #1954 "Speed up doc_by_place tests by restricting the returned documents"
Currently the doc_by_place e2e test pulls all docs ids down that match, and we check for certain ones. We should identify a correct subset of ids to pull down (both positive matches and expected negative matches) and add those to the query to make the test faster.

This should just be all test docs as well as a couple of static ones (ie `_design/medic` and `resources`, maybe others).

[2016-02-23 19:16] garethbowen commented on #1710
Yes definitely. This breaks the contact hierarchy.