[2018-04-17 11:11] derickl commented on #4362
@garethbowen happy to have a follow up conversation on this.

[2018-04-17 12:55] SCdF commented on #4113
OK so those are document update conflicts. Were you running sentinel and had just pushed those documents? If so sentinel was probably working on them at the same time.

Regardless though, we should make a decision about how bulk delete handles conflicts. My vote is that bulk delete indicates that you want it gone from the system: if there is a conflict add it to the back of the queue and keep tryi

[2018-04-17 14:36] SCdF commented on #4422
I renamed this bug, as that is not really the problem.

The problem is the time it takes for `angular.bootstrap` to make the app visible is *10s of minutes* on slow devices. It is not clear what it's doing, except that it may not be doing anything. It appears to perhaps be blocking on upward replication to complete, though it's not clear why Angular would block on this. It's also not clear why upw

[2018-04-17 15:05] SCdF commented on #4422
I think we are blocked on view generation. Even on my laptop, with a prod CHW, loading takes minutes and tears the CPU up. However, once the app loads once subsequent reloads aren't so bad. The only thing that changes between those two is view generation

[2018-04-17 15:15] SCdF commented on #4422
FWIW idbnext should fix view generation so that it's effectively free (it happens on insert): https://github.com/pouchdb/pouchdb/issues/6543

[2018-04-17 15:50] SCdF opened #4444 "Closing add contact from LHS goes to CHW area on RHS on mobile"
2.13.x, a CHW on mobile, LGU configuration.

Replicate:
 - Go to people list
- Tap add family
- Once the add family form as loaded tap the X
- Note that it's really trying to load something
- Note that now your *area* that was loading, not the default search, which is really weird and wrong

What should have happened is the contact list should have loaded again.

[2018-04-17 15:53] SCdF opened #4445 "Loading a CHW area is really slow"
Loading a CHW area takes 10s of seconds on a reasonable phone. I imagine this is proportionate to the number of families that CHW has. It's not clear if this is just how it is, or if we're doing something inefficient.

Perhaps we shouldn't render every single family under the area in the UI straight away.

For reference:
 - loading a random family: ~2.5 seconds
 - loading their area: ~30 seconds

[2018-04-17 16:13] SCdF commented on #4422
So a large part of initial bootstrap is view generation, but even after that something is going on, and I don't even think it's necessarily PouchDB. If you turn on debug mode on the about page and refresh, you'll see a lot of stuff in the logs from PouchDB, but then it will just stop logging, and then after some pretty large amount of time (1+ more minutes) the app completely loading.

So PouchDB

[2018-04-17 18:28] abbyad commented on #3959
The patient ID normally shows up a couple of seconds after the person was created, perhaps took longer on your side so wasn't available by the time you opened the form.

![image](https://user-images.githubusercontent.com/789512/38889087-9243a04e-424b-11e8-870f-9d81b3ad12fa.png)

That said, **the form should still use the UUID for the person and show up in the right place.**

[2018-04-17 18:31] abbyad commented on #3959
@michaelkohn in the meantime can you proceed with AT while we look at what's going on with the missing ID? [Here is a pregnancy report](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/f1943599-49cd-4835-a4a3-c458c1030952) similar to the one in your video that may work for AT.

[2018-04-17 19:00] abbyad commented on #3959
I can reproduce the scenario that @michaelkohn found, will try to distill a bit more and create a new issue for it if needed.

[2018-04-17 20:52] abbyad opened #4446 "Reports not linked to person if missing `patient_id`"
As first discovered [here](https://github.com/medic/medic-webapp/issues/3959#issuecomment-381819920), it is possible for a report to not be associated to a person even though it should be. This seems to happen because the report does not have a `patient_id` -- which can happen if the app user doesn't have a good data connection or because sentinel is down/slow between when the person and the repor

[2018-04-17 21:57] abbyad commented on #4446
This issue _might_ have been the source of the change: https://github.com/medic/medic-webapp/issues/3166

[2018-04-17 23:00] abbyad commented on #4410
Now testing on `2.15.0-beta.9` and it seems to be working properly. When a nurse at the `health_center` level submits a report about a patient at the `clinic` level a scheduled SMS goes to a patient's CHW. This is done using `"recipient":"clinic.contact.phone"`.

The scheduled messages default to the sender in other scenarios that I thought would work (eg a CHW submitting about a patient in anothe

[2018-04-18 00:09] ngaruko commented on #3019
I assume there is no particular test required for this, apart from checking that the app still works as expected, particular pieces that depended on or used `kanso`. I am going to close this and if an issue comes up due to this work, we will open a separate issue. Any objection @garethbowen @abbyad ?

[2018-04-18 00:39] ngaruko commented on #4371
Tested on `alpha.dev`
1. Created a new contact -- and assigned him/her/it a phone number
![image](https://user-images.githubusercontent.com/6979995/38905350-5211520a-4304-11e8-8306-eedc53035ff3.png)
2. Sent a report from that number
![image](https://user-images.githubusercontent.com/6979995/38905408-a9046b24-4304-11e8-92dd-14ef54d5db37.png)

3. observed the report was sent
![image](https://user-im

[2018-04-18 01:39] ngaruko commented on #4319
Tested on `alpha.dev` (version `3.0.0-alpha.9880`). >> People >> select from the LHS >>> Edit
Observed: `Primary Contact` dropdown comes pre-populated with some UUID and some errors in the console (`RangeError: Maximum call stack size exceeded`).
![image](https://user-images.githubusercontent.com/6979995/38906439-e144e738-430a-11e8-9edf-551a77f61de2.png)

On `beta.dev` (version `2.15.0-beta.9`), t

[2018-04-18 02:06] garethbowen commented on #4362
@SCdF I've created the doc minification scripts and committed into a branch off `master` and a branch off `medic-api/2.13.x`. Would you mind testing the latter against your db? I'm particularly interested in local and remote db size (after compaction) and performance of view generation and form loading.

[2018-04-18 04:42] ngaruko commented on #3725
If I understand this correctly, the `Threshold In Number Of Reports` here should be less than 100. Are we able to enforce this in the UI here @abbyad  or do we go with the assumption that in most cases this is done in a non-UI fashion?
![image](https://user-images.githubusercontent.com/6979995/38912041-3711cf0c-4327-11e8-911f-29d3d9adf1ff.png)
Also it is not very clear what is expected when this n

[2018-04-18 05:30] dianabarsan commented on #4371
Yes, @ngaruko , the scenario is correct. Another thing worth verifying is that the RHS action bar edits the correct report. Thanks!

[2018-04-18 05:34] ngaruko commented on #3923
Tested on `beta.dev`.
Sent a delivery report with `*` as code.
![image](https://user-images.githubusercontent.com/6979995/38913376-862ac362-432e-11e8-8993-1bbf3c1de360.png)

Report submitted with proper errors/translations...
![image](https://user-images.githubusercontent.com/6979995/38913401-a74c32ce-432e-11e8-910a-dea2dd2a4fbc.png)

 **LGTM**

[2018-04-18 05:34] #3923 closed

[2018-04-18 05:38] #4371 closed

[2018-04-18 06:00] michaelkohn commented on #3959
Created [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/2f74054d-c5c6-430f-90dc-5f25b6d2dec2)  `person` from the webapp.

Submitted [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/03fd5e71-9688-4e4d-8722-d587d16bc637) `pregnancy` from the webapp.

Submitted [this](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/

[2018-04-18 06:39] michaelkohn commented on #3959
Yep!

[2018-04-18 06:43] #3959 closed

[2018-04-18 06:55] dianabarsan commented on #4319
I think `alpha` is not deployed properly and you're observing the behavior this issue was reporting.

[2018-04-18 10:42] ngaruko commented on #4367
Does this need any AT? Any idea how to AT this @alxndrsn

[2018-04-18 10:43] ngaruko commented on #4420
do we need to AT this @garethbowen ?

[2018-04-18 11:44] henokgetachew commented on #4109
I'm not sure how to AT this one.  Perhaps running medic gateway on a very slow wifi could make sense.  @rosteve was the one who encountered this first.  @rosteve do you think we can try upgrading the instance that was experiencing this?

[2018-04-18 14:53] SCdF commented on #4362
I tested these locally, but unfortunately I think they are too disruptive with how PouchDB is right now with replication.

Re-replicating as many docs takes the phone out for hours, pouchdb stuck on pushing server side checkpoints up for the vast vast majority of that time.

If we could make PouchDB do fast server side checkpointing, either by fixing the existing backend or fixing it by writing id

[2018-04-18 21:16] garethbowen commented on #4420
Make sure messages (scheduled and replies) are correctly generated in sentinel and the UI. This includes the recipient and the message itself.

[2018-04-18 21:40] garethbowen commented on #3725
@ngaruko We don't use the dashboard UI any more. Use medic-configurer because that's what is used in the field.

I've documented the limit [in medic-docs](https://github.com/medic/medic-docs/blob/master/configuration/transitions.md#configuration-1).

sentinel will fail to start and throw a useful message if this threshold is exceeded, so try setting the configuration and then starting sentinel and

[2018-04-18 21:41] ngaruko commented on #4319
Thanks @dianabarsan . I understand `alpha` is outdated at the moment and cannot be deployed at the moment after the death of `kanso`( RIP, dear Kanso!).... I am marking this as ready since it is passing on `beta.dev` and `local` (when there is a `primary contact`).

[2018-04-18 21:42] #4319 closed

[2018-04-19 02:01] ngaruko commented on #3725
Tested on `local` using `medic-conf` .
1 . Make sure `multi_reports_alerts` is disabled in `transitions` ( `"multi_report_alerts": true`)
![image](https://user-images.githubusercontent.com/6979995/38966270-8918ce0a-43d5-11e8-92bd-5a97de2cae03.png)
2. Make sure app_settings.json has
[code]

[2018-04-19 02:07] #3725 closed

[2018-04-19 04:41] dianabarsan commented on #4319
@ngaruko `beta.dev` was never affected by this bug, it was exclusive to `alpha` (`3.0.0`). I guess if you've tested it locally, it should be sufficient.

[2018-04-19 08:26] ngaruko commented on #4113
The `bulk-delete` works on `beta.dev`....
![image](https://user-images.githubusercontent.com/6979995/38979664-ea672ab0-440e-11e8-8a6a-a3d315af5680.png)

though it takes quite a bit but I guess that's tolerable.
![image](https://user-images.githubusercontent.com/6979995/38979726-1b17a680-440f-11e8-9338-329c1d7c64df.png)

and there is a network error that I think is raised in another issue.
Closing

[2018-04-19 08:30] #4113 closed

[2018-04-19 08:37] SCdF commented on #4113
@ngaruko are you saying that the 409s are not actually problem?

[2018-04-19 10:03] henokgetachew opened #4448 "CPU Usage of the app has increased and trainings now require increasing instance size"
I will update this issue with more details as I do more investigation.
This affects versions 2.13 and beyond.  Whenever number of trainees is greater than 30 or 40, the instance becomes very slow if using m3.medium on AWS.  Increasing instance size for the duration of the training is required right now to alleviate the issue.

[2018-04-19 11:50] SCdF opened #4449 "On an empty database loading the contact list crashes"
See this code: https://github.com/medic/medic-webapp/blob/da0ec7a4bce7c5d4c06bb8daa0441e3aa600b4f0/static/js/services/contact-view-model-generator.js#L177L193

`model.doc` doesn't exist yet.

This gets resolved once you add the first District Hospital or whatever.

In both master and at least as far back as 2.13.x

[2018-04-19 16:49] SCdF opened #4450 "Optimise form HTML generation"
Currently phones regenerate the HTML for a form every time the browser is refreshed. This slows down first time form loading by a second or two on most phones.

Instead, we should cache this generation more aggressively somehow.

Probably the most complete solution would be to actually ship the HTML to devices instead of the form xml, and then generate the HTML in either sentinel or as part of upl

[2018-04-19 16:55] SCdF commented on #4450
@alxndrsn / @garethbowen interested in your thoughts on the above.

[2018-04-19 18:27] ghost opened #4451 "Require or enforce disk encryption in android wrapper"
https://github.com/medic/medic-projects/issues/3863

[2018-04-19 20:17] garethbowen commented on #4450
I vote for doing it server side which feels like the best solution, albeit the one requiring most change.

* We can be aggressive about rebuilding because performance won't matter much so any time the ddoc or the forms change we can regenerate and update the attachment on the form doc (if it's changed).
* It saves us about 6KB (zipped) of xml that the client no longer needs.
* Fetching the attachm

[2018-04-19 21:51] garethbowen opened #4453 "The due_tasks schedule fails trying to build the template context"
When messages are ready to send we persist them on the doc so they won't change if the configuration is updated after they're sent. As part of this we [build the template context including the patient doc](https://github.com/medic/medic-webapp/blob/2.15.x/sentinel/schedule/due_tasks.js#L13). This code attempts to hydrate the patient using the shortcode but the lineage function expects a UUID. This

[2018-04-19 21:56] garethbowen commented on #1002
This has been merged in medic-os here: https://github.com/medic/medic-os/commit/94ae7ad898ca21f6856c574da1a19c124973571c

[2018-04-19 21:57] garethbowen commented on #1002
For AT make sure you get an updated medic-os build with lucene removed.

[2018-04-19 23:35] ngaruko commented on #4109
Since it is hard to reproduce / AT this in non-production environment and we haven't heard it reported in production yet, I will close this and keep an eye out in the field. Aye @henokgetachew @rosteve ?

[2018-04-19 23:36] ngaruko commented on #4110
Since it is hard to reproduce / AT this in non-production environment and we haven't heard it reported in production yet, I will close this and keep an eye out in the field. Aye @henokgetachew @rosteve ?

[2018-04-20 01:12] garethbowen commented on #4145
Code review please @alxndrsn

[2018-04-20 13:29] abbyad commented on #4410
I tested on `2.15.0-beta.9` sending a report from 16 possible relationship with respect to the patient: whether the sender is in same `clinic`, `health_center`, and `district`, or not, and whether the sender is a primary contact or not. The results are listed in the table below for various `recipient` values for scheduled messages in the Reports tab. Due to #4453, these are all as `scheduled` and

[2018-04-20 13:32] abbyad commented on #4453
In case someone else runs into this, the symptom seen is that scheduled messages stay as `scheduled`, never moving to `pending` even when they are due to be sent.

[2018-04-20 14:53] abbyad opened #4455 "Contact and Messages exports not working"
The export functionality from the Configuration pages is not working in beta.dev running `2.15.0-beta.9`. Export of contacts gives a blank json file. Export of messages or reports yields nothing, and the server becomes non-responsive. @henokgetachew can you post what you were seeing on the server?

@sglangevin, according to @SCdF this fixed in 3.0, so we need to determine if the priority can be lo

[2018-04-20 19:18] abbyad opened #4457 "The z-score enketo widget is not usable"
As first reported by @binokaryg in https://github.com/medic/medic-projects/issues/3828 the calculation of Z-Score does not work as expected in `2.14`.

From further testing it appears that z-score calculations work _in isolation_ in `2.14`, but not when getting the sex and age from the patient context. From what I can tell this is because:
- the z-score calculation finds fields using `appearance`

[2018-04-22 01:43] #4109 closed

[2018-04-22 21:56] garethbowen commented on #3868
No longer blocked...

[2018-04-22 21:57] garethbowen commented on #1876
Proposal: https://docs.google.com/document/d/1ToR19pbEsXezpBN3vAAa0gt9ZBMsE7jSHN0Vh7oZyik/edit#heading=h.ugxoju33poid

[2018-04-22 22:46] garethbowen opened #4458 "Use published pupil package"
For some reason we've inlined the `pupil` package in `sentinel/src/lib/pupil/`. It's the exact same version number that's [published to npm](https://www.npmjs.com/package/pupil).

If the code is identical, add a dependency to the npm package and delete the code.

If the code has been modified in a meaningful way investigate contributing to pupil, adding plugins, or forking and publishing to `@medi

[2018-04-23 06:00] garethbowen commented on #1876
Merged. Nothing to AT except the usual release testing stuff so moving straight to ready.

[2018-04-23 06:00] #1876 closed

[2018-04-23 12:47] henokgetachew opened #4460 "Uncaught Exception: write after end error on 2.14.1"
This happened while trying to upload config using `medic-conf --instance instance.dev` on a test instance (standard-release.dev).

Medic conf fails with the error:
`ERROR Database encountered an unknown error `

The error on the side of API is this:
[code]
We used to run into this error consistently with v2.8 when doing replication and a patch released by @SCdF and rolled out in the 2.8.x branch h

[2018-04-23 13:34] abbyad commented on #4460
Can we reproduce this error running medic-conf from another AWS instance? That could rule out a bad internet connection.

[2018-04-23 15:01] alxndrsn commented on #4460
Specifically this is failing a request to `/medic/_changes?timeout=134217728&style=all_docs&feed=longpoll&seq_interval=100&heartbeat=10000&filter=_doc_ids&since=388951&limit=100`.

I think the stacktrace of the original error is:
[code]

[2018-04-23 17:15] alxndrsn commented on #4460
Looks like it was fixed in https://github.com/medic/medic-webapp/issues/3099; the server does not have this fix.

[2018-04-23 18:19] SCdF opened #4461 "Configuration app, select2 doesn't work"
To replicate:
 - Look at a user's config
 - Notice that their facility and person aren't attached properly

[2018-04-23 18:21] SCdF opened #4462 "Configuration app, checkboxes don't render right"
To replicate:
 - Load up the users view.
 - This should have check boxes when a user has a facility or a person.
 - Instead, it's everyone's favourite tofu box

I think other things aren't rendering right either. Everything looks slightly weird but I can't put my finger on it, and haven't done a side-by-side comparison.

[2018-04-23 18:23] SCdF opened #4463 "Configuration app, horticulturalist upgrade page no longer blocks if you aren't using horti"
Previously, if you went to the upgrade page and you weren't running on a build deployed by horti it would hide that page saying you could only upgrade from horti. Now, it always shows.

This matters a little less because everyone on 3.0 will be on horti, but it will be weird for local deploys, so idk, maybe we want to keep it. At the very least we want to clean up the top part of the page so it's

[2018-04-23 19:26] garethbowen commented on #4463
Possibly this is only true for development. I think the UI code is still there it's just how we're building the ddoc that's changed.

[2018-04-23 19:29] garethbowen commented on #4462
It's 404ing on font awesome so that makes sense. It's probably a bug introduced by the repo refactor.

[2018-04-24 01:12] garethbowen commented on #4462
Fixed: https://github.com/medic/medic-webapp/commit/3fb390edb239b8243e91267f02e680e1e83bd9c5

[2018-04-24 02:48] garethbowen commented on #4453
Code review please @rmhowe

[2018-04-24 02:52] garethbowen opened #4465 "Doc conflict when converting old sentinel info docs"
I'm getting unhandled promise rejections when converting old sentinel info docs stored in the medic db into new ones stored in the sentinel db.

I can't include the stacktrace because I've fixed it locally, just trust me  :grinning:

[2018-04-24 02:58] garethbowen commented on #4465
Code review please @vimemo

[2018-04-24 05:31] garethbowen commented on #4461
Code review please @SCdF

[2018-04-24 05:33] garethbowen commented on #3436
This has been greatly improved by splitting the admin tab out, so I'm going to call this done.

[2018-04-24 05:33] #3436 closed

[2018-04-24 07:47] SCdF commented on #4422
Update: we released a couple of 2.13 point releases to address various parts of this (updating the PouchDB version, no longer blocking on nools being ready).

I'm going to close this: the next step after these minor changes is to work on making PouchDB faster, and once we do that we can re-address.

[2018-04-24 07:47] #4422 closed

[2018-04-24 09:03] henokgetachew commented on #4460
@SCdF release 2.14.2 and I just tested it on standard-release.  The issue still appears to be there.  Here's the log:
[code]

[2018-04-24 09:16] SCdF commented on #4460
@henokgetachew I wasn't the one who made the change, @alxndrsn did. I'll assign this ticket to him.

[2018-04-24 09:31] garethbowen commented on #4453
Backported to `2.15.x`

[2018-04-24 09:45] garethbowen commented on #4455
Messages is throwing this exception:

[code]

[2018-04-24 10:07] garethbowen commented on #4455
The exception is the same for contacts.

[2018-04-24 10:11] garethbowen commented on #4455
Code review please @SCdF

As far as I can tell this only affects 2.15 as 2.14 has the old non-streaming code and 3.0 has only the streaming option.

[2018-04-24 10:24] henokgetachew commented on #3670
This has been taken care of with `supervisord`.

[2018-04-24 10:24] #3670 closed

[2018-04-24 10:25] henokgetachew commented on #3669
Medic-bot is now supervised using supervisord

[2018-04-24 10:25] #3669 closed

[2018-04-24 20:17] sglangevin commented on #4457
Added to 2.15.0 so we can look at this - if this isn't working in 2.14.0, it needs to be fixed in 2.15 and potentially backported.

[2018-04-24 20:27] sglangevin commented on #4113
@SCdF I agree - we should add them to the end of the queue until they can be deleted, as long as that doesn't cause the app to hang indefinitely.

[2018-04-24 20:38] sglangevin commented on #4444
This is a long-time existing issue. My vote is to leave it and fix it when we do the nav update.

[2018-04-24 21:28] abbyad commented on #4453
Testing this on `beta.dev` running `2.15.0-beta.10` and I can't see the error in the logs, but do see the symptom described in https://github.com/medic/medic-webapp/issues/4453#issuecomment-383096990 [[example report](https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/c82d544f4b8ed1a1c9db6d14803a0460)].

I do not see any logging that `due_tasks.js` is running. The last time I

[2018-04-24 21:29] abbyad commented on #4410
AT blocked on https://github.com/medic/medic-webapp/issues/4453

[2018-04-25 00:06] sglangevin commented on #3676
Yep - this one is obsolete. Closing.

[2018-04-25 00:06] #3676 closed

[2018-04-25 05:51] SCdF commented on #4113
Cool. I still have no idea why this ticket was closed then, since it didn't pass AT, but I'll just raise another one and chuck it into 2.15.x, this one has gotten long anyway.

[2018-04-25 05:54] SCdF opened #4469 "Bulk delete errors on conflict"
Raised from #4113

The bulk delete should make sure that when it's done all documents that were asked to be deleted are deleted.

Currently this can fail to be true if there are conflicts, which not only stops the conflicted documents from being deleted, but also halt the bulk delete completely.

One solution would be to take conflicts and add those documents to the end of the queue to be retried

[2018-04-25 05:56] SCdF commented on #4340
Stakeholders in this ticket (@mukesh2006 / @derickl / @sglangevin ) I'm unassigning this from myself: I don't have any actions left on this ticket.

[2018-04-25 05:59] SCdF commented on #4444
@sglangevin can I argue for doing it or #4445 sooner? When you combine this with #4445 it means that backing out of a form that you entered via the people tab takes *minutes* to complete (on a phone), and there is no UI that lets you navigate anywhere else (you only see a throbber).

[2018-04-25 10:22] alxndrsn opened #4470 "medic-api logs are inconsistently prefixed"
# Observed

Calls to `console.log()` are _sometimes_ prefixed with timestamp and log level:

[code]

# Expected

I'd expect _all_ calls to have this prefix

[2018-04-25 10:28] alxndrsn commented on #4460
# Observed
[code]

# Expected

I'm surprised that:

1. two calls to `getChanges()` are being processed for the same feed concurrently
2. `prepareResponse()` would ever be called after the feed's response has been ended

I suspect *2* is a consequence of *1*.

[2018-04-25 10:34] alxndrsn opened #4471 "2.14.x release versions are not tagged in medic-api repository"

[2018-04-25 11:42] garethbowen commented on #4453
@abbyad If you don't see "info: checking schedule again in 5 minutes" then it's a different issue from the one I "fixed". I can have another look.

[2018-04-25 13:18] SCdF commented on #4471
Almost no releases are, in either medic-api or medic-sentinel.

[2018-04-25 13:27] SCdF opened #4472 "couch2pg fails to escape certain JSON documents when trying to store them."
Here are two examples:
 - https://medic.slack.com/files/U1ZF01J12/FADT1E05D/0a7d50bb-2a53-416d-8c2e-17cdb218ba42.json
 - https://medic.slack.com/files/U1ZF01J12/FACPLCSLS/0b59675a-3e5f-42ed-81d4-915c27c2ca4e.json

These files cause couch2pg to crash with the following error:

[code]

(NB: these files probably contain private data, PHI or partner-specific config, so don't use these directly in any

[2018-04-25 13:30] SCdF commented on #4472
I'm actually going to make this critical since it's causing couch2pg to fail for production instances. Note that it's a _soft_ critical, since there is a workaround (delete the offending docs: they so far are not important documents for analytics)

[2018-04-25 14:28] sglangevin commented on #4444
That's a good point - I'd rather do #4445 as that seems to be a more important issue in terms of the user experience. However, we could also just do whichever one is easier. Have you investigated to see which one is simpler?

[2018-04-25 14:47] SCdF commented on #4472
Please review my epic commit @alxndrsn . If you think it's cool I'll push a new couch2pg package and a new medic-couch2pg tag

[2018-04-25 15:02] SCdF commented on #4444
I haven't looked into it, I imagine neither of them should be that challenging. Presumably for #4445 we'd change it to load 10 families with a load more button that loads the rest

[2018-04-25 15:04] sglangevin commented on #4444
Adding some sort of button would involve us having to change the design of the page. Perhaps it's better to do this issue instead so that we don't land back on the CHW area page.

[2018-04-25 16:01] SCdF opened #4473 "Remove / fix couch2pg \u0000 escaping"
Postgres doesn't support storing JSON with \u0000 in strings.

We have some dodgy escaping code in couch2pg, but there is a good chance it's wrong. Specifically, it probably removes escaped backslashes more aggressively than it should.

We should work out how to solve this problem properly, instead of just naively regex escaping.

Or we should watch pg and once they support \u0000 properly remove

[2018-04-25 16:03] #4472 closed

[2018-04-25 16:09] SCdF commented on #4472
Releases medic-couch2pg@1.2.1 with this fix.

[2018-04-25 16:25] nomulex opened #4474 "Date formatting causes data loss"
When the  "%b %e, %Y" date format is used, the resulting display shows a one week difference. Please see pictures below.
![image](https://user-images.githubusercontent.com/3070004/39259046-29f81de8-48be-11e8-9e65-40a93b6be32c.png)
![image 1](https://user-images.githubusercontent.com/3070004/39259045-29b5f59e-48be-11e8-817c-d047c5b39d2d.png)

[2018-04-26 03:01] garethbowen opened #4476 "Sentinel wipes the message when setting it to pending"
If the message is generated in the old way then when it's set pending the message is overwritten to `""`.

[2018-04-26 03:17] garethbowen commented on #4453
I've fixed an issue with the backport. There was another issue where a patient was his own father causing an infinite loop which I fixed in data. #4476 also came up, but that's unrelated. Long story short, this is ready for AT again...

[2018-04-26 08:45] alxndrsn commented on #4473
Note that our current escaping will escape actual backslashes that have been submitted in data and happen to precede `\u0000`.

To see the effect:
[code]

In practice this seems very unlikely to actually occur.

[2018-04-26 11:01] SCdF opened #4480 "Increase user confidence in reload times by adding a progress bar"
### Background
Our app takes a long time to reload, especially on phones. A CHW whose data I am modeling this on takes ~60 seconds to complete a refresh on an android phone that is likely to be deployed.

CHWs also refresh a lot more than we expect / that we'd like, as a lot of our app's performance issues are front-loaded: in the above example ~10 seconds of JS parsing (probably), and the majorit

[2018-04-26 11:09] SCdF opened #4481 "Limit the size of feedback docs"
Feedback docs can be arbitrarily large because we take the last 10 logs and stringify them out, which could be debug logs from PouchDB, which could be logging that someone accessed the ddoc…

We should limit the length of each log line to something sensible.

[2018-04-26 11:10] SCdF opened #4482 "Hook feedback up to monitoring"
We're currently ignoring feedback docs.

We should watch for them and push them to a slack channel, or to email, or something that people will action.

Probably the simplest is @henokgetachew 's existing monitoring.

[2018-04-26 11:14] SCdF opened #4483 "It's possible to generate feedback docs with no error attached"
We need to look into how feedback docs get generated to make sure that the logic still holds up. It's possible to generate feedback docs that are just 10 non-erroring log messages and no error.

It may be that it broke recently for some reason.

[2018-04-26 13:22] SCdF opened #4485 "Does view ordering matter for re-generating views?"
Let's imagine you have a ddoc:

[code]

And then we change that ddoc to be:

[code]

I am worried that in CouchDB (and perhaps in PouchDB) this change would result in the views being regenerated.

We should test this in couch and pouch.

This is really important for us, because I've noticed that the tooling we use to generate ddocs does not appear to be consistent in its ordering, which could caus

[2018-04-26 13:57] alxndrsn commented on #4185
In couchdb 2.1.0+ we can increase the size of our change feed batching as per https://github.com/apache/couchdb/pull/541

[2018-04-26 14:56] alxndrsn commented on #4471
...and now they all are.  There are a couple of legacy tags which appear to be incorrect:
* `api` `2.10.3`
* `api` `2.12.1`
* `sentinel` `2.12.0-beta.5`

[2018-04-26 14:57] abbyad opened #4487 "Person with self as parent"
It is possible to create a person with themselves as a parent.

## Steps to reproduce
- Create a person without a parent by manually removing the parent portion of the URL. Eg https://beta.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts//add/person
- See that the person has the following:
[code]

Creating users by editing the URL is not an intended/supported use case, but we should han

[2018-04-26 19:42] abbyad commented on #4474
Hi @nomulex, can you provide a minimal XForm showing this behaviour? That will help us reproduce the error, and eventually use it to test the fix.

[2018-04-26 22:49] garethbowen opened #4489 "Module packing is broken"
`yarn pack` has a [critical flaw](https://github.com/yarnpkg/yarn/issues/2636) that means it doesn't include the `bundledDependencies` in the output. This means none of our `node_modules` are being included in the sentinel or api modules which in turn means deployment fails.

Options:

1. Go back to npm
2. Patch the bug in yarn and wait for a release
3. Write a custom packing script - is it as sim

[2018-04-26 22:52] garethbowen commented on #4471
Not sure what to review here. I'm sure it's fine.

[2018-04-26 22:52] #4471 closed

[2018-04-26 23:59] browndav commented on #4489
I've observed method number 4 – a `tar --append` – working with both BSD `tar` and GNU `tar`, on archives generated by either (full crossover). Results were verified using `tar -t`. Adding to the packed archive on our own seems like the way to go.

Proposed steps:

- [ ] Ensure that Horticulturalist's tar unpacker can deal with archives that have had data appended. Some libraries/tools may not con

[2018-04-27 06:52] SCdF commented on #4489
NB: production dependencies only plz

[2018-04-27 07:43] eljhkrr opened #4490 "[standard] Change language setting not working"
It's not possible to change application language setting via the settings tab
![image3344](https://user-images.githubusercontent.com/4529018/39350679-91b77cd6-4a07-11e8-9cfb-0e39af90cc7d.png)
More context in https://github.com/medic/medic-projects/issues/3795

[2018-04-27 07:51] SCdF commented on #4490
@eljhkrr can you expand on what the bug is as it's not clear from that screenshot.

Specifically, can you provide:
 - Environment details (browser version, app version etc)
 - The steps to reproduce this
 - What you would expect to happen
 - What actually happens
 - Any more thoughts you have on it, things you've tried, context for the situation etc

[2018-04-27 08:44] christinewere commented on #4490
Hi Stefan its also not working for a recently updated to 2.14.1 IMCHA instance https://github.com/medic/medic-projects/issues/3795

[2018-04-27 09:00] SCdF opened #4491 "Investigate if contacts LHS loads on mobile even if you're viewing a contact (and so it's not rendered)"
It looks like, based on timings, that if you refresh while viewing a contact our app also spins up the LHS (queries the view etc) even though it's not rendered.

For example, it takes 55 seconds to refresh the LHS for the user I'm testing with, and 63 to refresh an open contact.

As a counter example it takes 60 seconds to refresh the LHS of reports, but only 30 seconds to refresh an open form.

N

[2018-04-27 09:21] SCdF opened #4492 "We should remember the user's url in the android app"
Users reload the app a lot. Mostly because it gets kicked out of memory when it gets backgrounded for whatever reason.

We should make sure that users get back to where they were when the app reloads.

[2018-04-27 11:13] rmhowe commented on #4489
Is it possible to use `yarn` for all the installing dependencies and whatnot and then `npm` only for `pack`? Even as a temporary measure?

[2018-04-27 11:35] SCdF commented on #4489
I'm pretty sure npm will be parsing and changing node_modules to achieve that, because it only packs release dependencies, which requires it does its whole thing.

[2018-04-27 13:33] nomulex commented on #4474
@abbyad  i have failed to reproduce this. I will close it for now.

[2018-04-27 13:33] #4474 closed

[2018-04-27 13:42] abbyad commented on #4490
Can you please check the logged-in user's language as well? Copying over relevant bits from https://github.com/medic/medic-projects/issues/3795#issuecomment-384972575 to have it in the public repo as well:

[2018-04-27 16:07] sglangevin commented on #4490
Setting the default language will not change the language for the user currently logged in. You have to follow Marc's instructions above to change the language for the user who is logged in. The default language will set the language of the login page and set a default for any users created once the default language is set. You can always override the default language as you create individual user

[2018-04-29 22:07] #4110 closed

[2018-04-29 22:28] ngaruko commented on #4476
Are these strings/recipients meant to be translated in here @garethbowen `This message will go to the 'reporting_unit'`?

![image](https://user-images.githubusercontent.com/6979995/39411582-e736439e-4c60-11e8-97d7-9d2bbff70eb1.png).
Tested on `beta-old.dev`  (2.15.0-beta.11)...

[2018-04-29 23:02] garethbowen commented on #4460
I've added comments to the `master` PR: https://github.com/medic/medic-webapp/pull/4495

These apply to the other PRs too.

[2018-04-29 23:02] garethbowen commented on #4476
@ngaruko Check the config - it depends how it's been set up.

[2018-04-30 01:11] garethbowen commented on #4489
@rmhowe I think that'll work perfectly.

@SCdF I tested that it doesn't mess with the node_modules that `yarn install --production` installs by installing, copying the node_modules dir, then diffing the directories - they were the same. Assigning to you to review and make sure I've alleviated your concerns.

[2018-04-30 01:37] ngaruko commented on #4426
Any clue how to AT this @alxndrsn @dianabarsan ?

[2018-04-30 01:39] ngaruko commented on #4412
Any clue on how to AT this @garethbowen ?

[2018-04-30 01:45] garethbowen commented on #4412
@ngaruko Read through the linked medic-projects issue. Each user should only be able to access their own metadata db.

[2018-04-30 02:35] garethbowen opened #4497 "DDoc extraction runs too often"
ddoc extraction is supposed to update the secondary ddocs when the primary ddoc is updated and the compiled.json attachment has updated code. It seems to be running too often. This was captured during a build when running integration tests:

[code]

[2018-04-30 07:33] SCdF commented on #4489
I am highly skeptical of this not interacting in some weird way, or it not dealing with certain types of packages right, or it pulling certain values from npm's cache and not from yarns, or whatever.

BUT. We can merge it to master and all those edge cases will be tested by virtue of us using it.

[2018-04-30 07:34] SCdF commented on #4426
This doesn't need AT, it's dev only

[2018-04-30 07:34] #4426 closed

[2018-04-30 07:55] garethbowen commented on #4489
AFAICT `npm pack` shouldn't do any installation or checking of caches - it just works with what you have in the `node_modules` already, so I can't see any reason why a `yarn install && npm pack` wouldn't work. But then I can't see why npm shrinkwrap wouldn't work reliably or yarn pack would be broken for over a year so who knows?!

[2018-04-30 08:15] SCdF commented on #4362
I did another round of testing for this, and I think these scripts need to be updated so that you pass a facility that you want to convert. This will allow LG and friends who have CHWs who are running out of space / having particular issues with performance to be specifically targeted, and have their phones wiped and re-installed.

Running this over an entire installation would be disastrous for p

[2018-04-30 08:15] SCdF commented on #4362
(NB: I suspect there is currently a bug / performance issue with PouchDB which actually makes these changes cause view generation to be *slower*. This is not the case in CouchDB and there is no logical reason why this would be the case. I'm still investigating.)

[2018-04-30 15:49] abbyad commented on #4453
I see this working well in `2.15.0-beta.11`. Here is [example doc](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/dd32e2d08c7def675f5de6ab96022d9e):

![image](https://user-images.githubusercontent.com/789512/39435818-5e772e10-4c6a-11e8-8eca-b1f51df263ed.png)

![image](https://user-images.githubusercontent.com/789512/39435851-75184e06-4c6a-11e8-90c8-0f673ae4b2d8.png)

!

[2018-04-30 15:50] #4453 closed

[2018-04-30 17:17] abbyad opened #4498 "Cannot send multiple scheduled messages at same time"
As seen in https://github.com/medic/medic-webapp/issues/4453#issuecomment-385440778, messages from a group cannot be sent at the same time. Only one message per group goes from `scheduled` to `pending` when [due_tasks.js](https://github.com/medic/medic-webapp/blob/ba2715130682cf6f7cd60b15868c1a57a4824304/sentinel/schedule/due_tasks.js) is run (every 5 minutes).

This can lead to puzzling behaviour

[2018-04-30 17:19] abbyad commented on #4410
This is working well in `2.15.0-beta.11` with configuration from https://github.com/medic/medic-webapp/issues/4410#issuecomment-383096110.

@ngaruko can you AT in 3.x?

[2018-04-30 17:53] abbyad commented on #4455
When I tried exporting messages on [beta-old.dev](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/configuration/export/messages) running `2.15.0-beta.11` I got a 504, and an unresponsive server. Since the server is unresponsive I haven't yet gotten around to exporting contacts.

[2018-04-30 21:36] browndav commented on #4489
Here's a full `docker run` redeploy of the current `master` by Horticulturalist on CouchDB 2.1.1: we're now seeing an HTTP 413.

[code]

[2018-04-30 21:37] garethbowen commented on #4489
That's due to couchdb having the old default for max request size: https://github.com/medic/medic-webapp/issues/3257#issuecomment-385306461

[2018-04-30 21:58] browndav commented on #4489
Raising limit. Fun with documentation and defaults: CouchDB ships a `max_http_request_size` of 64MiB in `rel/overlay`, but falls back to a (documented) hard-coded 2^32 if the entry is missing.

[2018-04-30 22:14] garethbowen commented on #4498
Yeah I noticed that too - it's due to [sentinel uniquing on the doc id](https://github.com/medic/medic-webapp/blob/master/sentinel/src/schedule/due_tasks.js#L48). AFAICT it's been around for a while and it probably doesn't crop up much in the wild but it does seem unnecessary.

[2018-04-30 22:30] garethbowen commented on #4497
Code review please @dianabarsan

[2018-04-30 22:55] ngaruko commented on #1002
I have spoken to David and he assured me that `lucene` is gone. However, we need to check that there was no feature supported by lucene that has suffered from the change. `[beta.dev`](http://beta.dev.medicmobile.org/) is now currently `lucene-free` and there aren't currently no suspicious behaviors on the instance. I will close this unless there are features that might need more rigorous testing f

[2018-04-30 23:00] garethbowen commented on #3257
It turns out the couchdb default value is still only 64MB. I've raised an [issue with couchdb](https://github.com/apache/couchdb/issues/1304) to clarify and @browndav increased our [default in medic-os](https://github.com/medic/medic-os/commit/af479b0ad5bcb35a1dbdb87dc3f31a6447f85e62) to 128MiB.

[2018-04-30 23:01] garethbowen commented on #1002
@ngaruko beta is running 2.15 and lucene was only removed in 3.0.0 (check the Projects section of this issue). This needs to be tested against an alpha.

[2018-04-30 23:03] garethbowen commented on #4455
Yes. They're just numbers. They don't have to all be the same, or every time we wanted to have a new version of an API everyone would have to change all the URLs they've configured.

[2018-04-30 23:10] garethbowen commented on #4455
@abbyad Can you attach the logs please?

[2018-05-01 01:35] ngaruko commented on #4312
Tested on `local` and `alpha.dev` (v 3.0.0). There are no errors in the console (watched over a period of time).
![image](https://user-images.githubusercontent.com/6979995/39457813-69745538-4d44-11e8-8d74-51cf09db28f2.png)

[2018-05-01 02:48] ngaruko commented on #4462
Just to make sure I understand this issue, are we talking about `medic/_design/medic-admin/_rewrite/#/users`?  For a start, the whole `Medic Mobile administration console` seems to need a bit of UI touch up...(unless fonts are not rendering in my browser!)
![image](https://user-images.githubusercontent.com/6979995/39459191-d8e49f46-4d4d-11e8-9f03-d863f58901f7.png)
Then the `users` view does not se

[2018-05-01 03:39] garethbowen commented on #4455
api eventually fails out of memory:

[code]

[2018-05-01 03:48] ngaruko opened #4500 "Add/Edit User form does not show required fields in 3.0"
The `Add/Edit User` form has a few fields that are required. These are generally marked with * but  they don't show in 3.0.
Pre-3.0
![image](https://user-images.githubusercontent.com/6979995/39460320-b0d98062-4d56-11e8-9aef-cfeb313c51bf.png)

in 3.0
![image](https://user-images.githubusercontent.com/6979995/39460354-eb60905e-4d56-11e8-9fc7-603a13394e97.png)

(tested on both local and `alpha.dev`

[2018-05-01 04:16] ngaruko commented on #4088
Tested in 3.0 (local)...
Observation:
When the user role changes from `National Manager` to `Regional Manager`, the user is logged out of the app and upon logging in, the role change is applied.
When changing from `Regional` to `National`, the user is still logged in (showing `regional manager's` features with console errors when navigating to `analytics/targets`) until a refresh.
[code]

[2018-05-01 06:05] dianabarsan commented on #4088
When the role is changed, the user shouldn't be getting logged out, they should be getting the same popup that informs of configuration updates. The app needs a refresh so the new user roles come to effect.

About `UserCtx not found`, could you please tell me what your previous actions were? It seems like something is deleting your userCtx cookie.

[2018-05-01 06:52] SCdF commented on #4462
@ngaruko this is the UI yep. The whole UI going through design is a separate conversation I'm sure, I just raised the bits that I saw were obviously broken when I used it for the first time.

[2018-05-01 07:11] garethbowen commented on #4455
@abbyad It's failing at an impossible place, so I think it's literally just running out of memory. 3.0 solves this properly by implementing streaming but this would be impossible to backport without breaking api compatibility... The options I can see are:

1. Ignore this issue - it only happens when exporting loads of records, it's fixed in 3.0, and it existed in previous versions. We can mark it

[2018-05-01 08:57] garethbowen commented on #4491
I'm confident it is loaded, and yes this is bad for performance. I'm not sure how easy it would be to fix as angular doesn't know that the responsive css is going to hide the LHS anyway. Someone cleverer than me may have the answer...

[2018-05-01 11:01] SCdF commented on #4491
@garethbowen I am reasonably confident that this doesn't happen for reports though, so if I'm right there maybe we can emulate that technique with contacts?

[2018-05-01 12:05] SCdF commented on #3805
Update: I have added a lot of unit tests, but no integration tests. We need to think about how to integration test horti if we can find the time. This is no longer blocked though.

[2018-05-01 12:05] SCdF commented on #3806
This has been fixed as part of work merged and released as part of #3993. Now, whenever a deployment starts it clears out old staging data.

[2018-05-01 19:07] sglangevin commented on #4455
I also vote for 2, FWIW. Or we could do something similar to what we're doing for downloading Reports in 2.15? Not sure if that is relevant.

[2018-05-01 21:38] sglangevin commented on #4462
Looks like the issue at hand is fixed (checkmarks are appearing). We are not doing any work on the UI for this release, that will come later.

[2018-05-01 21:41] #4462 closed

[2018-05-01 21:53] ngaruko commented on #4500
Tested on `alpha` and `local`
LGTM.
![image](https://user-images.githubusercontent.com/6979995/39495514-a15c5de2-4dee-11e8-9371-aa9abdfefa19.png)

[2018-05-01 21:53] #4500 closed

[2018-05-01 22:15] ngaruko commented on #4312
The errors show again in 3.0.0 . To reproduce (hopefully)
1. login into `alpha.dev` as admin
2. go to configuration
3. click `upgrade instance`
4. watch the console
![image](https://user-images.githubusercontent.com/6979995/39495631-277aa6d6-4def-11e8-971d-5bfa41a5791e.png).
 Same observation on local instance...
I will keep this closed, since there is another issue (#4424) dealing with this.

[2018-05-01 22:45] ngaruko commented on #4461
LGTM. Tested on local 3.0.0

[2018-05-01 22:53] ngaruko opened #4502 "`Contact is not within place`"
When creating/adding a new user in the configuration app, one can create a regional manager restricted to a place and associate that manager with a `Contact`  who is in another place.
The screenshot below is a successfully created user
Contact is not within place
![image](https://user-images.githubusercontent.com/6979995/39497208-6d27f394-4df6-11e8-80db-771d2a3d1c0d.png)
However, if one tries to '

[2018-05-01 22:57] #4461 closed

[2018-05-02 00:11] garethbowen commented on #4455
It's probably because I hacked it in while testing the solution...

[2018-05-02 00:58] garethbowen commented on #4211
@sglangevin Any update on this? I just tested it on beta-old.dev and the file blew out to ~2GB before I killed the script. Currently it collects all logs together and then zips them up. If we want this feature to work it would need to compress files as it goes or filter down to files that have been written to recently to reduce the sheer volume. If it's not used or useful we should remove it ASAP

[2018-05-02 01:02] garethbowen commented on #4455
There's an existing issue for exporting server logs: #4211

[2018-05-02 01:09] garethbowen commented on #4455
Merged into `2.15.x`

[2018-05-02 03:49] #1002 closed

[2018-05-02 04:13] ngaruko commented on #4088
The app works as expected on `alpha.dev`. The above behavior (logging out user on role change) is observed on my local instance. It might have do to with my environment/browser. I am closing this and raise a different issue if I (or someone) come  across this in a reproducible way.

[2018-05-02 04:13] #4088 closed

[2018-05-02 05:49] ngaruko commented on #3032
Does this need any AT @garethbowen @rmhowe apart from checking that the app can be deployed properly with `yarn`?

[2018-05-02 05:59] ngaruko commented on #3423
Lookking at couchDB, `medic-sentil` has been moved to its own db.
![image](https://user-images.githubusercontent.com/6979995/39507506-4c886b32-4e32-11e8-8720-eeea3fef18fd.png)

I understand @michaelkohn has expressed concerns about the implication of this move to `analytics` functions. Are you satisfied with suggested solutions above @michaelkohn before we close this?

[2018-05-02 06:30] ngaruko commented on #3806
LGTM... Not showing behaviors described in #4156

[2018-05-02 06:30] #3806 closed

[2018-05-02 06:34] ngaruko commented on #4266
Does this need any AT @browndav @henokgetachew ?

[2018-05-02 06:37] ngaruko commented on #4455
This seems to work on my 'local' at the moment. Please check with the instance where you saw errors @abbyad and feel free to close if it works there.

[2018-05-02 06:38] ngaruko commented on #4465
Do we need to AT this @garethbowen ?

[2018-05-02 06:43] ngaruko commented on #4489
Do we need to AT this and has the issue above(about max_size) been solved @browndav ?

[2018-05-02 07:48] garethbowen commented on #3032
@ngaruko That'd be enough I think.

[2018-05-02 07:49] garethbowen commented on #4489
If it deploys correctly it passes AT IMO.

[2018-05-02 07:50] garethbowen commented on #4465
@ngaruko Yes, definitely. Make sure when updating to a recent alpha that the `-info` docs are migrated correctly into the sentinel db without errors in the sentinel log.

[2018-05-02 08:16] SCdF commented on #4211
I'm going to reiterate my vote from Feb: drop it from the UI:
 - It's data that is medic-specific, and so being a webapp admin shouldn't give you permission to see the logs
 - It may contain PHI, and or medic-sensitive data (eg perhaps we make a mistake and expose passwords in the logs)
 - We have always supposedly supported people installing this app themselves, and we are moving to a world where

[2018-05-02 08:20] SCdF commented on #3423
@michaelkohn the data would be:
 - Specific to the running of sentinel
 - Doesn't need to be replicated down to users

Rest assured that 3.0.0 won't be released until the couch2pg changes have been throughly tested and approved by you and your team, against both 3.0.0 and 2.x (ie supporting both situations correctly). Once the PRs are ready to be merged we'll be (or you and Victor will be) chattin

[2018-05-02 13:34] sglangevin commented on #4211
All I know is that User Feedback docs are being used by our support team and we need to make sure they are available on every instance. @ngamita can you comment on whether the other logs are being used by your team? Last I checked, sever logs weren't being used (from what I recall).

[2018-05-02 14:23] SCdF opened #4504 "Configuration app: loader throbber doesn't work"
There are various places the loading throbber should be displaying but isn't.

Obvious ones are loading the list of upgrades on the upgrade page, the list of forms on the forms page, the list of icons on the icons page, etc.

[2018-05-02 14:52] ngamita commented on #4211
Yes, that's correct @sglangevin the other error logs showing on feedback page are not useful to us at all and also server logs are not being used - we're using the Feedback page to sieve issues being reported from the field - take the example of these issues coming from MoH Siaya directly from the CHVs
![screenshot from 2018-05-02 17-44-20](https://user-images.githubusercontent.com/294861/39530079

[2018-05-02 14:55] SCdF opened #4505 "Configuration app doesn't detect upgrades"
To replicate:
 - Be on the configuration app, e.g. http://localhost:5988/medic/_design/medic-admin/_rewrite/#/settings/basic
 - Change some code and re-push with grunt
 - OR, more importantly for production, deploy a new version with Horticulturalist: http://localhost:5988/medic/_design/medic-admin/_rewrite/#/upgrade

What should happen:
 - You should get a pop up asking you to refresh, just like

[2018-05-02 14:57] SCdF commented on #4463
This happened because some code was accidentally commit. Fixed in https://github.com/medic/medic-webapp/commit/644bbbe0be57f5339efe9f0492aeb79fa4d4d5d8

[2018-05-02 14:57] #4463 closed

[2018-05-02 15:12] sglangevin commented on #4460
@alxndrsn this issue has become pretty urgent while you were out. Have you gotten a chance to look at this one now that you are back?

[2018-05-02 15:40] SCdF opened #4506 "Configuration app isn't watched properly"
Changing code in that section of the codebase doesn't result in grunt re-generating the app

[2018-05-02 15:41] SCdF commented on #4506
Actually I don't think it's properly hooked up to jshint either

[2018-05-02 15:51] SCdF commented on #4506
It was just watching. Fixed in https://github.com/medic/medic-webapp/commit/4aaace1de4fc32b1fb1b85fbd99a45023e650042

[2018-05-02 15:51] #4506 closed

[2018-05-02 19:13] abbyad commented on #4455
Thanks guys, will test in hosted instance when this hits the next beta build.

[2018-05-02 21:35] browndav commented on #4266
I think we're in good shape here. It _would_ IMO be worth filing an issue centered around how to test our latest alpha on the new Docker Machine AWS infrastructure. The alpha.dev and beta.dev URLs are switched over already, and we have the old machines still available (e.g. for a manual replicate-and-crosscheck approach) if they're needed.

[2018-05-02 22:26] garethbowen commented on #4489
The server doesn't run `yarn`. Are you sure you've tested this on a production environment?

[2018-05-02 22:37] ngaruko commented on #3032
LGTM

[2018-05-02 22:37] #3032 closed

[2018-05-03 00:28] ngaruko commented on #3423
I guess we can close this issue at the moment and raise specific issues that might crop up later during the overall release testing, inviting @michaelkohn to keep an eye on features that may be affected.

[2018-05-03 03:10] ngaruko commented on #4497
Does this need any AT-ing @garethbowen ?

[2018-05-03 05:12] ngaruko opened #4507 "Configuration app: Upgrade Instance does not show when it is finished"
When Upgrading Instance, the page indicates that Upgrade is in progress but does not signal when it is finished. Also, once it is finished (ie `medic webapp` has actually been upgraded, the `Upgrade Instance` link is not responding to clicks until a refresh (or navigation to another page).
Tested on `alpha.dev` .
![image](https://user-images.githubusercontent.com/6979995/39560685-48ac967e-4ef4-11e

[2018-05-03 07:13] SCdF commented on #4507
This is a duplicate of #4505.

[2018-05-03 08:58] garethbowen commented on #4497
Yes. Make sure ddoc extraction only runs when ddocs have actually changed.

[2018-05-03 10:57] garethbowen commented on #4457
@alxndrsn Code review please. This needs to be backported to `2.15.x` and maybe `2.14.x` too - feel free to leave that to me. Also, once this change lands I'll remove the z-score widget from `master` as this should be used instead.

[2018-05-03 11:02] garethbowen commented on #4211
@sglangevin Do you agree, therefore, that we should drop the API and UI elements? Are you ok with me adding this to `2.15.0`?

[2018-05-03 11:11] garethbowen commented on #4505
@SCdF The admin app isn't offline-first so it should refresh as you navigate around just like a "normal" webapp. Horti is the special case where we were using the popup as a way of telling the user that the upgrade has finished. Perhaps we should do something different for that special case? I don't think the popup is particularly useful anywhere else in admin.

[2018-05-03 11:26] #4266 closed

[2018-05-03 11:43] garethbowen commented on #4241
Code review please @alxndrsn

[2018-05-03 11:50] garethbowen commented on #4229
@dianabarsan Agreed. Code review please!

[2018-05-03 11:59] garethbowen commented on #4147
Code updated.

I've updated the translations in POE so they will be synced on the next export.

[2018-05-03 12:04] garethbowen commented on #4102
This was done as part of moving to yarn (#3032). Yarn will scream at you if you're not using the [version specified in our package.json](https://github.com/medic/medic-webapp/blob/master/package.json#L12) and the [README specifies the required version](https://github.com/medic/medic-webapp/blob/master/README.md#dependencies).

Closing. Please reopen if there's more to do.

[2018-05-03 12:04] #4102 closed

[2018-05-03 12:05] garethbowen commented on #4100
@henokgetachew Can we close this?

[2018-05-03 12:29] SCdF commented on #4505
OK. I'll add a note to my horti work to make sure I deal with this specifically for horti.

[2018-05-03 16:01] sglangevin commented on #4211
Yeah, I think we should do it. One less way to end up with an unresponsive server. I could also see leaving it and removing in 3.0 since no one uses this feature anyway so it's unlikely to cause production issues, but given the rate of upgrades doing it now might be better.

[2018-05-03 20:36] ghost opened #4511 "Timestamps incorrectly cleared when adding a message to an ANC reminder group"
Webapp version: 2.15.0-beta.11
Deployment environment: Horticulturalist 0.9.1 on Docker Machine

On the latest beta of 2.15, I'm seeing what looks like incorrect UI behavior when adding a message to an existing group of ANC reminders. The bug does not appear to be present in the latest 3.0 `master` snapshot.

To reproduce, find a report with ANC reminders, then click `Add Message` on this screen:

[2018-05-03 21:26] sglangevin commented on #4389
For this release, we should focus on maintaining current functionality, which means we should display the phone number that the message will be sent to. How were we handling cases where there was no phone number in previous versions? Did we fall back on a different number? I'd prefer we just continue with previous functionality and we can add this to the backlog of items to improve in future versi

[2018-05-03 21:28] garethbowen commented on #4504
@ngaruko If you look at the [last comment on #4505](https://github.com/medic/medic-webapp/issues/4505#issuecomment-386279029) Stefan say's he'll work on this. It looks like we don't (yet) have an issue to track it.

[2018-05-03 21:34] sglangevin opened #4512 "Phone numbers in scheduled messages only update in real time if the person had no phone number at the time the schedule was created"
Seen on beta.dev, 2.15.0-beta.11, logged in as sharon.

To reproduce:
1) Send a pregnancy registration from the web app (use full access or a restricted user logged in a level above the CHW area). Make sure the contact associated with your user has a phone number.
2) Go to reports and check the schedule is generated. Notice that the outgoing messages are going to the contact associated with your u

[2018-05-03 21:37] garethbowen commented on #4211
Scheduling for 3.0. We need to remove the API, UI, and the script in medic-os.

[2018-05-03 21:44] sglangevin opened #4513 "No auto-response generated when using translation keys for notification (on/off forms)"
After updating the standard config to use translation keys for the responses to on/off forms for muting/unmuting schedules, the auto-responses are not generated.

To reproduce, use medic-reporter to send an OFF form about a patient.

Tested on beta.dev, 2.15.0-beta.11 using the following config for the "notifications" section of app_settings:
[code]
cc @abbyad in case this could be a config error.

[2018-05-03 21:51] sglangevin opened #4514 "Changing the outgoing message language does not update scheduled messages in real time"
To reproduce:
1) Register a pregnancy using the web app. See that scheduled messages are generated.
2) Change the default language for outgoing messages
3) Notice that scheduled messages are still in their original language

Expected behavior is the same as the behavior for phone number updates - should be updated when the report is loaded again. I tested with translation keys throughout app_setti

[2018-05-03 21:58] ngaruko commented on #4504
Thanks @garethbowen. I will close this one and reopen either #4505 or #4507 to track this.

[2018-05-03 22:03] ngaruko commented on #4241
LGTM

[2018-05-03 22:03] #4241 closed

[2018-05-03 22:49] sglangevin commented on #4511
Definitely a bug, though I don't know if anyone actually uses this feature. I'll investigate and see if I can find any use cases for this.

[2018-05-03 23:38] ngaruko commented on #4505
Reopening this for reasons mentioned in #4504  and #4507. Please check if this makes sense to you @SCdF ?

[2018-05-03 23:38] #4504 closed

[2018-05-03 23:44] garethbowen commented on #4457
For AT, ensure that the zscore widget and xpath calculation both work for 2.14 and 2.15. The widget has been removed completely in 3.0.

[2018-05-03 23:57] garethbowen opened #4516 "Replace medic-reporter"
[medic-reporter](https://github.com/medic/medic-reporter) is a standalone couchapp that we used for sending test messages without needing an SMS or gateway device. Because it's standalone it is frequently inadvertently broken, and currently is difficult to install because we've dropped dashboard.

Reproduce the main functionality of medic-reporter in the admin app so it's shipped with the webapp,

[2018-05-04 00:03] browndav commented on #4516
It's worth noting that we _are_ able to do a manual install by taking a build from staging and using the `couchup` tool on it – so if there was a one-off specific need for the tool, we could probably still accommodate it.

[2018-05-04 00:06] sglangevin commented on #4516
@ngamita @billwambua @rosteve can you comment on whether or not tech leads are using the "Forms" section of medic-reporter for testing? I personally don't use it to test textforms but if you know it is used for Medic Collect testing, for example, let us know. If no one is using it, it is likely to be removed.

[2018-05-04 04:47] ngaruko commented on #4147
Nothing to AT here I guess, since it has do to with documentation. Still have a few references to SMSSync in code however, mainly in comments and in other languages:
![image](https://user-images.githubusercontent.com/6979995/39613360-ac676740-4fba-11e8-8ff3-be1f32706ed4.png)

Tested by doing just a [search on our GH repo](https://github.com/medic/medic-webapp/search?utf8=%E2%9C%93&q=Smssync&type=)

[2018-05-04 07:08] ngamita commented on #4516
We use medic-reporter for testing text forms or Standard instances without need for setting up a gateway. I think it's still too early to take this feature away as on many occasions we've also worked with the Partnerships folks to perform demos to partners using the same medic-reporter on several occasions. If it's difficult to install, is it possible to have a separate standalone that can be poin

[2018-05-04 07:53] alxndrsn commented on #4147
Good spot, @ngaruko - I'd say this definitely fails the ticket!

[2018-05-04 08:11] alxndrsn opened #4517 "Import medic-specific functions from openrosa-xpath-extensions"
In https://www.npmjs.com/package/openrosa-xpath-evaluator, we have added some medic-specific functions.  These should instead be in `webapp/src/js/enketo/medic-xpath-extensions.js`.

[2018-05-04 08:26] SCdF commented on #4505
Wait hold on, sorry for making these tickets a churn fest, but this is actually the exact opposite of what we want.

This ticket talks about generically supporting noticing upgrades, which Gareth pointed out doesn't matter (because it's an online only website).

The two other tickets you closed are the right ones, and actually talk about two separate issues, one being refreshing once there is a de

[2018-05-04 08:26] #4505 closed

[2018-05-04 08:27] SCdF commented on #4507
Re-opening this as we want this to only work on this page: the rest of the admin app is online only and doesn't need to know that an upgrade is completed.

[2018-05-04 08:32] billwambua commented on #4516
The medic-reporter `Forms` section is quite useful for quick testing of `medic-collect` projects quickly rather than always going through the long process of deleting existing forms, uninstalling and uploading the `apk` to the phone.

Collect forms are sometimes unusually long, hence can't be accurately keyed in the `Compose` section. So, having a working and easy to use visual `Forms` section is

[2018-05-04 15:26] SCdF opened #4522 "Make sure we're always logging stacktraces"
We need to go through all of our code that logs errors, and make sure we're passing the raw error to console.error.

e.g.
[code]

If we don't do this we lose stacktraces, which we almost always want

[2018-05-04 16:42] sglangevin commented on #4516
@ngamita to clarify, we are just talking about re-writing medic-reporter and moving it to a different location, not removing it. And we're just wondering which parts of the current medic-reporter functionality need to be included. Sounds like we should just keep everything, though we can probably remove the drop-down for "Format" unless that is used? I have never used it myself.

[2018-05-04 18:26] abbyad opened #4523 "Sentinel cannot handle reports with `{}` in lineage"
As discovered in https://github.com/medic/medic-projects/issues/3936, sentinel cannot handle certain reports. This is a shadow ticket to resolve the project issue, and can spawn some medic-webapp issues as needed.

The current theory is that this is due to not properly handling the case where the lineage includes `"parent": {}`, but there may be other causes.

[2018-05-04 23:03] sglangevin opened #4524 "Add ability to sort places by date last visited"
This feature makes it easier for CHWs to identify households they have not visited recently so that they can ensure every household is visited each month.

Currently, the list of places on the people tab is sorted alphabetically. This feature adds the ability to sort by the date the place was last visited. The date the place was last visited is determined by the `reported_date` of a form submitted

[2018-05-04 23:13] sglangevin opened #4525 "Make it possible to toggle universal health coverage mode on and off"
As we are developing the first few features for our universal health coverage (UHC) mode, we would like to solidify the concept of these features as a mode for our app that can be toggled on and off. If UHC mode is on, the user should have the ability to sort by date last visited (#4524) and should see the date last visited listed for each place instead of the primary contact (#4526). In the futur

[2018-05-04 23:31] sglangevin opened #4526 "Replace the primary contact with date last visited in the people list"
This feature makes it easier for CHWs to see when they last visited a particular household.

Currently, the list of places on the people tab shows the primary contact for each place. In the list of households, this information is often repetitive as the household is named after its primary contact. This feature replaces that information with the date last visited. The date the place was last visit

[2018-05-07 02:48] ngaruko commented on #4367
LGTM.
Tested on `alpha.dev` v 3.0.0
`sms-messages` and `tasks_messages`  moved to `medic-sms` ddoc

[2018-05-07 02:48] #4367 closed

[2018-05-07 03:28] garethbowen commented on #4514
@sglangevin I think this is working as expected. We determine the locale in this order:

1. The `locale` property on the doc.
2. The `locale` property on the `doc.sms_message`.
3. The configured default outgoing message locale.
4. The configured default locale.
5. English.

In the examples I can find on beta.dev the `doc.sms_message.locale` is set to "en" so the configuration is never used. You di

[2018-05-07 04:03] garethbowen commented on #4513
Code review please @dianabarsan . This needs backporting to `2.15.x` - feel free to leave this to me.

[2018-05-07 04:35] garethbowen commented on #4512
@sglangevin I wonder if the correct solution is to change the config. It's not well defined but the code suggests that "reporting_unit" should always go to whoever sent the message. This is most useful for auto replies and the like. However, I think scheduled messages should go to "clinic" which is the report's clinic's contact's number.

For example, if a nurse registers a pregnancy then they sho

[2018-05-07 09:03] sglangevin opened #4529 "Expand verify button to allow for manager review of CHW reports"
This feature adds a new option for reports so that in addition to marking a report verified, a manager can mark a report as having errors. This makes it easier for a manager to see which reports have errors and follow up with the CHWs who have submitted those reports.

Currently, clicking the verify button from the report detail page marks a report as verified. With this new feature, clicking the

[2018-05-07 09:50] dianabarsan commented on #4513
Merged into `master`.

[2018-05-07 10:05] garethbowen commented on #4082
I tested on PouchDB...

| View | Test 1 | Test 2 | Test 3 | Mean | Relative time | Size | Relative size |
|--|--|--|--|--|--|--|--|
| Original | 24.865 | 26.607 | 25.940 | 25.804 | 100% | 1345 chars | 100% |
| Minified | 26.963 | 27.702 | 27.051 | 27.238 | 105% | 711 chars | 53% |

So PouchDB doesn't perform any faster and potentially performs slower, but it would save us about 9KB of medic-client

[2018-05-07 10:12] garethbowen commented on #4513
Backported to `2.15.x`

[2018-05-07 10:39] garethbowen commented on #4082
CouchDB 2 on alpha.dev with around 2000 docs.

| View | Test 1 | Test 2 | Test 3 | Test 4 | Mean | Relative |
|--|--|--|--|--|--|--|
| Original | 1342 | 1417 | 1356 | 1648 | 1441 | 100%  |
| Minified | 1635 | 1595 | 1310 | 1411 | 1488 | 103%  |

Either this issue is fixed in 2.0 _or_ there were too few docs to expose the issue. I'll try to find a server with more docs before closing this off.

[2018-05-07 11:31] garethbowen commented on #4305
Reverted in https://github.com/medic/medic-webapp/commit/3910822195e68bbd81ca44f0ba32155a5ee8f7fa

[2018-05-07 14:51] alxndrsn opened #4530 "summary label icons are misaligned"
# Environment
- Instance: standard.dev
- Browser: Firefox
- Client platform: OSX
- App: webapp
- Version: 2.15.0-beta.1

# Observed
Icons for titles in label summaries are misaligned:
<img width="737" alt="screen shot 2018-05-07 at 10 47 45" src="https://user-images.githubusercontent.com/191496/39708204-8f252cc2-51e4-11e8-93e1-585a466461eb.png">

# Expected
I'd expect the icon to be here:
<img wid

[2018-05-07 16:02] alxndrsn opened #4531 "Simplify Nools definitions to a JSON file"
Current Nools definitions could possibly refactored to common code between projects, and a project-specific JSON definition file.

Investigate if this is possible by trying to refactor a few existing `rules.nools.js` files into a common JS file and associated project-specific JSON files.

Even if this is not possible for _all_ projects, using templating/imports as per https://github.com/medic/medi

[2018-05-07 16:17] alxndrsn opened #4532 "Add jshint tests for contact-summary.js files in medic-projects"

[2018-05-07 16:17] isaacholeman commented on #4514
Just wanted to clarify here @garethbowen @sglangevin, is it the plan to store a contact's preferred language in their profile and be able to configure message schedules that send in the contact's language of preference? If so, we would definitely use this for zazic-zimbabwe. We're currently doing this kind of manually by having two separate message schedules and enrolling them in either the Shona

[2018-05-07 17:39] sglangevin commented on #4514
@isaacholeman no plan is in place yet, but your input is helpful, thanks!

@garethbowen I'll respond to the easy part first 😀. We definitely have a need to have outgoing SMS be sent in multiple languages from the same instance. This has come up mainly in Nepal where we are going to work in districts in which there may be multiple local languages, but it's also useful for other projects. A related

[2018-05-07 21:50] garethbowen commented on #4514
@sglangevin

I agree but I think this is a feature request rather than a bug - can we raise this and schedule it separately?

I've added this to #4516

I'm not sure how comfortable you feel about this but one way to test it is to delete the `sms_message.locale` property off the doc in futon. However when I did this it still didn't work and it looks like there is a bug where the [message utils call

[2018-05-07 23:09] garethbowen commented on #4523
I've merged the PR from @alxndrsn into `2.14.x`. I forward ported the unit test to `2.15.x` and it passed so no code changes were necessary. Unfortunately the unit tests in `master` are currently broken so I'll leave that test to be done as part of #4306

[2018-05-07 23:11] garethbowen commented on #4306
We also need to add a test to ensure #4523 doesn't affect `master` but the unit testing is currently broken. @rmhowe Could you please convert the test in [this commit](https://github.com/medic/medic-webapp/commit/98a8bf70be2f79440b14bc42f39c79bffeba2c5b) into an integration test as part of this work?

[2018-05-08 00:26] garethbowen commented on #4514
Code review please @dianabarsan . This needs to be backported to `2.15.x`.

[2018-05-08 00:28] garethbowen commented on #4512
@abbyad I'm interested in your opinion here too - what should "reporting_unit" resolve to?

[2018-05-08 04:41] sglangevin commented on #4514
Thanks @garethbowen - we can definitely file that as a separate issue as it's clearly a feature request 😁

Glad you were able to find & fix a bug in the meantime!

[2018-05-08 04:44] sglangevin commented on #4512
Sorry I missed this comment yesterday - I thought I had gotten back to you on all but I guess not! In this case, I think the phone number should update regardless of who is receiving the messages. Yes, in most cases we do want SMS messages to go to the CHW, but we often also have messages that go to the CHW's supervisor in pregnancy schedules and I would expect those phone numbers to update in rea

[2018-05-08 04:57] garethbowen commented on #4512
That's exactly what I'm suggesting - the way `reporting_unit` has always worked is it goes to the phone number that sent it originally. We could change the implementation to instead send the message to the contact but this wouldn't work for cases where the sender is unknown and therefore no contact is found. I'm concerned about changing the way it works because that'll change the behaviour for exi

[2018-05-08 08:44] SCdF commented on #4524
Ideally we'd be able to do this by creating a map/reduce view that pulls us the top N ids of places by type ordered by visit time, where visit time is the last time I form was created against that place. Perhaps places by type is reaching, which means we might have to just do it by visit time and then loop on getting the full docs and removing the ones that aren't at the right level (though for th

[2018-05-08 08:59] garethbowen commented on #4516
Code review please @SCdF

[2018-05-08 09:42] dianabarsan commented on #4514
Merged into `master` and backported to `2.15.x`.

[2018-05-08 10:02] garethbowen commented on #4115
In retrospect I think it's better to delay this. It only saves us a small hotfix to the library and we're planning to migrate to a custom icon set soon anyway.

[2018-05-08 10:02] #4115 closed

[2018-05-08 10:43] garethbowen commented on #4304
@ngaruko I think this is behaving as expected. In order to get a JSON response you have to include the `"Accept: application/json"` header, eg:

[code]

Can I close this?

[2018-05-08 10:44] garethbowen commented on #4285
@henokgetachew Has this change been rolled out?

[2018-05-08 12:49] SCdF commented on #4516
Back to you @garethbowen

[2018-05-08 14:05] abbyad commented on #4457
Seems to work well while testing on 2.14.3-beta.2 with the following form: [issue_3828_6.zip](https://github.com/medic/medic-webapp/files/1984220/issue_3828_6.zip). It even _feels_ quicker to show values than the old method, but have not measured this.

@binokaryg will continue to test for their particular project, but moving this to Ready.

[2018-05-08 14:07] #4457 closed

[2018-05-08 14:09] abbyad commented on #4457
Here are the functions used for reference until they land in documentation:
`z-score('weight-for-age',   ../sex, ../age, ../weight)`
`z-score('height-for-age',   ../sex, ../age, ../height)`
`z-score('weight-for-height',   ../sex, ../height, ../weight)`

[2018-05-08 15:25] #4523 closed

[2018-05-08 19:39] abbyad commented on #4512
I think that is accurate. I was planning on updating the Standard config accordingly.

[2018-05-09 00:05] garethbowen commented on #4512
Ok, so it sounds like we can close this for acceptance testing again to make sure "clinic" or some other configuration works as expected?

[2018-05-09 04:35] garethbowen commented on #4211
@rmhowe Please code review the [webapp PR](https://github.com/medic/medic-webapp/pull/4535) and @browndav please review the [medic-os PR](https://github.com/medic/medic-os/pull/32).

[2018-05-09 08:49] SCdF commented on #4516
Back to you @garethbowen

[2018-05-09 10:57] #3016 closed

[2018-05-09 11:01] garethbowen commented on #2115
I think we can call this fixed. If there are more improvements to make they should be made to medic-configurer but most of this is solved.

[2018-05-09 11:01] #2115 closed

[2018-05-09 11:02] ngaruko commented on #4147
LGTM

[2018-05-09 11:02] #4147 closed

[2018-05-09 11:03] garethbowen commented on #2035
This is dependant on the new UI framework and will be implemented at the same time.

[2018-05-09 11:03] #2035 closed

[2018-05-09 11:17] garethbowen commented on #1945
We now have an issue template which outlines the information we need an links to [documentation about how to get logs](https://github.com/medic/medic-docs/blob/master/troubleshooting/obtaining-logs.md).

[2018-05-09 11:17] #1945 closed

[2018-05-09 12:36] SCdF opened #4536 "Dev: Administrator app changes only take effect the *second* time grunt watch catches it, translations never work"
If you are devving on the admin app your changes aren't reflected the first time grunt watch cycles, but the second time.

**Steps to reproduce**:
 - Have grunt watching (e.g. `yarn grunt`)
 - Make an admin app change you should be able to see, also add a translation and use it somewhere
 - Note that grunt watch notices it, and does some very important-looking stuff
 - Once grunt has finished refr

[2018-05-09 13:04] SCdF commented on #4536
@garethbowen I can't work out from looking at Gruntfile why this would be the case. Can you try to reproduce on your end? Maybe it's just me...

[2018-05-09 14:13] SCdF commented on #4536
OK I don't think this is grunt, I think this is how the app is cached. If I **refresh** the app twice I get my changes.

[2018-05-09 22:05] garethbowen commented on #4536
I think with all the changes that have happened to the repo (admin app, restructuring, etc) the watch configuration is well out of date. I'll have a play today to see if I can get it to be more logical and also fix this issue at the same time.

[2018-05-10 00:11] garethbowen commented on #4536
Review please @SCdF ...

I think you were just refreshing too soon. What I think was happening was grunt would deploy the main ddoc, the deployment notification would flash up on the screen, you would refresh the admin app and get the old code, then api would extract the medic-admin ddoc from the primary ddoc, then if you refresh again you get the new code.

This PR changes it so instead of compil

[2018-05-10 00:12] #4145 closed

[2018-05-10 08:31] SCdF commented on #4536
That does sound pretty bad honestly. Wouldn't that also mean that any configuration you have wouldn't make it into medic-client as well?

[2018-05-10 08:44] garethbowen commented on #4536
Yeah, good point. Well, maybe review that PR but don't merge. I'll fix the settings soon and then we should be good to go. This has been holding us back long enough...

[2018-05-10 10:51] garethbowen commented on #3868
Code review please @dianabarsan

[2018-05-10 11:25] eljhkrr opened #4539 "[Feature Request] Ability to disable unrecognized form code autoresponse"
We have a project where the facility nurse engages patients via an SMS conversation to discuss symptoms being experienced by the patient each day. All of the free text responses sent in by the patient result in an unrecognized form code autoresponse being sent back to the patient. It would be great if there was a way to completely disable this autoresponse since all these unnecessary messages sent

[2018-05-10 13:12] sglangevin commented on #4512
So are we saying that we can no longer use "reporting_unit" in configurations like this one? Because my assumption would be that regardless of which phone number the message is being sent to, it should be updated correctly. What about messages that have to go to the supervisor? Does this feature only work when we are updating the CHW's phone number? I think I'm confused about what we do and do not

[2018-05-10 13:13] sglangevin commented on #4512
So are we saying that we can no longer use "reporting_unit" in configurations like this one? Because my assumption would be that regardless of which phone number the message is being sent to, it should be updated correctly. What about messages that have to go to the supervisor? Does this feature only work when we are updating the CHW's phone number? I think I'm confused about what we do and do not

[2018-05-10 22:07] garethbowen commented on #4512
@sglangevin This is how I'd configure it. NB: I haven't tested this so YMMV.

| Recipient | Resolves to | Useful for |
|---|---|---|
| reporting_unit | `doc.sms_message.from` (never updated) | Auto replies |
| clinic | `doc.contact.parent.contact.phone` | Scheduled messages to the CHP |
| health_center | `doc.contact.parent.parent.contact.phone` | Scheduled messages to the supervisor |

Have you g

[2018-05-10 23:17] garethbowen commented on #2915
[Documentation](https://github.com/medic/medic-docs/blob/master/configuration/forms.md#z-score)

[2018-05-10 23:17] garethbowen commented on #4457
[Documentation](https://github.com/medic/medic-docs/blob/master/configuration/forms.md#z-score)

[2018-05-10 23:47] garethbowen opened #4541 "Store app settings outside of the ddoc"
For historical reasons we store the configuration in the app_settings property of the main ddoc. These historical reasons are no longer relevant so we are free to store the configuration in a different doc. This is good because it...

1. Simplifies the upgrade code because the new ddoc can be uploaded without worry about overwriting settings. This also helps deployment in a developer environment a

[2018-05-11 11:57] rosteve opened #4543 "Marking inputs field's appearance' as 'hidden' in person-create form generates empty pages"
_Description_.
When one tries to hide the `inputs` section of a `person-create` form by placing the appearance `hidden`, the `inputs` section content gets hidden but the inputs inner groups are not hidden (see xls screenshot below). Several empty pages of all the groups embedded in the `inputs section` are seen as shown below:

_xls screenshot_
![screen shot 2018-05-11 at 1 51 49 pm](https://user-

[2018-05-13 09:38] sglangevin commented on #4543
@rosteve I think the issue is you are only marking the group as hidden, not any of the sub-groups or fields. In other examples I saw in medic-projects (including Standard), the inputs are marked with relevant = FALSE. Did you already try that? Have you tried marking all of the groups & sub-groups as hidden? Have you tried marking all of the groups and fields as hidden? Please try some of these oth

[2018-05-13 09:45] sglangevin commented on #4512
Yeah, I don't want to add more work, just want to make sure that I understand so I can document things well for release notes.

What does reporting_unit resolve to when the sender is a web app user? It sounds like our SMS configs may need to be updated to use `doc.contact` everywhere to make use of the just-in-time phone number updates. Is that correct? I'd like to be clear in the release notes wh

[2018-05-13 13:16] rosteve commented on #4543
Hey @sglangevin , we did try using `relevant = FALSE` but this didn't works in the `person-create` form but works in `person-edit` form.

 Also we tried marking all of the groups & sub-groups as hidden (and also we tried marking all the fields as hidden) but this also generated the empty pages as described above

[2018-05-13 21:14] garethbowen commented on #4512
It falls back to the `doc.contact.phone`. If that's not defined then I think it will just say "reporting_unit" in the UI.

It depends who you want the message to go to. Use the table above to update the config appropriately.

To be fair, the current behaviour is completely consistent with the old behaviour - all existing projects will keep working the way they always have. We have added a new feat

[2018-05-13 22:36] ngaruko commented on #3868
Getting errors on [alpha-old](https://alpha-old.dev.medicmobile.org/medic/_design/medic-admin/_rewrite/#/settings/backup) (`alpha.dev` has issues upgrading) when uploading new settings:
![image](https://user-images.githubusercontent.com/6979995/39972389-79109628-5762-11e8-87be-dadbdf652879.png)

[2018-05-13 23:26] garethbowen commented on #3868
@ngaruko I think this is the old problem with api and sentinel not being upgraded. Please delete these directories and try upgrading again.

[2018-05-14 07:29] PhilipNgari commented on #4539
@eljhkrr   Is it possible to know how many auto responses of that kind we are experiencing even if its approximation for the  50 clients so far.This  will help deduce what it would look like in the main study (commencing in June/july 2018) with about 700 clients. I can see already the partner is worried of the air time cost from these auto responses. @derickl  @abbyad .This looks like a critical o

[2018-05-14 18:53] browndav commented on #4470
This has been removed in https://github.com/medic/medic-os/pull/32.

[2018-05-14 21:07] garethbowen opened #4546 "Can't SSH in to Docker instances"
We need to be able to access Docker instances to debug issues and to access logs, but using the pre-Docker method no longer works.

[code]

Implement and document how to SSH into a Docker instance.

[2018-05-14 21:09] garethbowen opened #4547 "Implement a http to https redirect for Docker instances"
When you access an instance using the http protocol you should be permanently redirected to the https version as we only support https. This works on non-Docker instances, but when I try now I get "503 Service Temporarily Unavailable".

[2018-05-14 21:11] browndav commented on #4547
This is an ALB issue. Multiple feasible methods exist; I'm currently narrowing this down to the easiest option with the least administrative burden.

[2018-05-14 21:26] ngaruko opened #4548 "Error getting zscore-charts"
**Steps to reproduce**:
 - Login `alpha.dev` as admin
 - watch errors in the console
 -

**What should happen**:
 - No errors in the console

**What actually happens**:
 - Error in the console

![image](https://user-images.githubusercontent.com/6979995/40023954-d6de02ae-5820-11e8-9fa0-9b282ee7dda2.png)

`https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/messages/`
`https://alpha.dev

[2018-05-14 21:38] garethbowen commented on #4335
Deprioritised out of this release.

[2018-05-14 21:38] garethbowen commented on #4128
Deprioritised out of 3.0.0.

[2018-05-14 21:39] garethbowen commented on #3391
Deprioritised out of 3.0.0.

[2018-05-14 21:39] garethbowen commented on #2012
Deprioritised out of 3.0.0.

[2018-05-15 02:09] garethbowen commented on #4144
This migration is badly broken and should not have passed AT. It looks like the code changed significantly between code review and commit. This migration blows away all your permissions so you get reset back to default. This is a blocker for 2.15.0.

[2018-05-15 09:41] garethbowen commented on #4541
Two PRs to review please @SCdF

Most of the code is directly replacing getting and updating settings from the ddoc with the settings doc. The tricky bits are the migrations. If upgrading using gardener (if this is supported?) gardener will leave the settings on the ddoc and the api ddoc-extraction code will update the settings doc. If upgrading using Horti the second PR will update the settings do

[2018-05-15 09:44] garethbowen commented on #4144
In 3.0.0 this is fixed as part of #4541 which changes how we store permissions.

[2018-05-15 10:07] garethbowen commented on #4144
As far as I can tell this never made it in to the `2.15.x` branch so shouldn't have passed AT. I'll backport it now and submit for AT again.

When ATing ensure that the permission is removed and also that all other permissions remain and don't revert to default.

[2018-05-15 10:17] garethbowen commented on #4144
Code review please @alxndrsn

[2018-05-15 10:30] garethbowen commented on #4470
@browndav I think this is unrelated. The script that was removed was about bundling the logs, this is about what gets written to the logs.

[2018-05-15 21:20] garethbowen commented on #4548
Confirmed. It only happens in Chrome not Firefox - both requests 404 but Chrome is the only one that aggressively reports it in the console. This should not cause any issues unless you try and use the z-score calculation. I'll see if I can squash the error to remove the red herring.

[2018-05-15 21:34] garethbowen commented on #4548
Code review please @rmhowe

[2018-05-16 01:48] ngaruko commented on #4305
Tested in local environment :

1. Installed old version of node : 6.9.4 (the Minimum  is 8:)
2. checked out the commit where the feature was disabled ([79347fc](https://github.com/medic/medic-webapp/commit/79347fc7654e4bba3aedf3d8fbf8a1c9df96f9cb))
3. Run `yarn start`
4. Deployment successful with warnings in `sentinel`: ``` Node version 6.9.4 is not supported, minimum is 8.0.0```

5. Check out `m

[2018-05-16 04:36] garethbowen commented on #4502
Code review please @dianabarsan

[2018-05-16 13:31] SCdF commented on #4541
Back to you @garethbowen

[2018-05-16 13:54] korirm commented on #4539
@PhilipNgari The approximate cost can be arrived at as below
Average sms per day for 1 client with a suspected AE = 5
If 50% of the clients report AE per day = 350 clients
350 clients x 5 sms = 1750 auto-response sms
700 clients x 1 outgoing sms per day = 700 sms
700 clients x 1 auto-response per day = 700 sms
This translates to = 3150 sms per day x 17 days = 53,550 sms for the full study
17 days

[2018-05-16 17:18] SCdF commented on #3993
Merged. Requires horti 0.10.0

[2018-05-16 22:10] garethbowen commented on #4541
@SCdF Thanks for that. I've added some questions to the webapp PR.

Also, how do we go about releasing Horti? Should I leave this to you?

[2018-05-17 08:48] dianabarsan commented on #4487
The links provided in the issue description are outdated (due to `beta` being changed to `beta-old`).
Actual links:
- [webapp contact details](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/0bf36b24-7bbc-4dd1-b705-99ed9903f71d)
- [CouchDB doc](https://beta-old.dev.medicmobile.org/medic/0bf36b24-7bbc-4dd1-b705-99ed9903f71d)

[2018-05-17 09:51] alxndrsn opened #4556 "Move ddocs to top-level directory in medic-webapp repo"
`/webapp/src/ddocs/` don't seem specific to `webapp`, so perhaps could live at the top-level, e.g. `/ddocs`.

[2018-05-17 10:02] garethbowen commented on #4556
Yeah... that's the one bit I couldn't decide on. I think you're right...

[2018-05-17 10:03] garethbowen commented on #4556
We need a dir for the src and for the dist or build. Maybe `/ddocs/src` and `/ddocs/dist`?

[2018-05-17 10:10] alxndrsn commented on #4556
Personally i'd prefer all generated files to have a common root, e.g. `/build`.  I find this makes it much simpler to find generated files, especially if you're not aware what files can be generated.  Bonus is it makes `.gitignore` much simpler too.

[2018-05-17 10:13] garethbowen commented on #4556
That's what I've gone for... all generated files are in `webapp/dist` right now. Most are getting dumped right into the _attachments dir of the medic ddoc ready to be built right into the compiled ddoc.

This needs to be moved too, either to `/ddocs/dist` or `/dist` (or `/build` but I prefer dist for no real reason).

[2018-05-17 17:36] rmhowe commented on #4306
@garethbowen I added the test (which required some code changes) here https://github.com/medic/medic-webapp/pull/4501/commits/e1833b370e44b0a674b64b902b54f6e57c1124d8, this should hopefully be made redundant by this PR https://github.com/medic/medic-webapp/pull/4557

[2018-05-17 17:43] dianabarsan commented on #4487
Please review, @alxndrsn .

[2018-05-18 14:19] alxndrsn commented on #4556
`/dist` works for me (although I do prefer `/build`, because to me it implies it's temporary).  I'd say the subdirectory `/webapp/dist` is less clear than having `/dist` at the top level..

[2018-05-18 15:57] SCdF commented on #4541
You can do it when you're ready or I can. Just increment the minor and `npm publish`. Someone other than me should probably have proven credentials about thi---

OH WAIT. Actually your horti code is arguably not right, because it does not maintain backwards compatibility with versions prior to this change. Apologies for not catching that earlier.

So probably the simplest way of doing this is to j

[2018-05-20 21:18] garethbowen commented on #4556
Probably the most correct solution is to have a `/build` for all the bits and a `/dist` for the final medic ddoc rather than putting them together in the same place.

[2018-05-20 23:33] garethbowen commented on #4541
Ok... so the new upgrade workflow is:

1. Horti hasn't changed - when upgrading the app_settings are copied from the old medic ddoc to the new medic ddoc then uploaded.
2. API v3.0 begins startup process
3. DDoc extraction runs which pulls out the secondary ddocs including medic-client. Because it no longer copies the app_settings into medic-client we detect that the medic-client ddoc has changed

[2018-05-20 23:44] garethbowen commented on #4541
Horti hasn't changed so no release necessary.

[2018-05-20 23:49] #4536 closed

[2018-05-20 23:54] garethbowen opened #4558 "Replace "follow" library with pouch.changes"
They are essentially equivalent so we might as well reduce our dependencies by one.

[2018-05-21 00:03] garethbowen commented on #4558
Code review please @vimemo

[2018-05-21 00:09] garethbowen opened #4560 "Create a shared-lib for "settings""
Settings isn't very complicated but it is used everywhere so there is some value in making sure it's consistent and correct. Clean up the admin and webapp settings service, the api settings service, and the api and sentinel config modules.

[2018-05-21 00:11] garethbowen commented on #4560
Also consider an improvement so calls to update the settings don't put the doc unless they actually change the settings. This saves everyone having to replicate changes that don't change anything.

[2018-05-21 04:17] garethbowen commented on #4378
Enabled here: https://github.com/medic/medic-webapp/commit/7886a6c68dd832e91b839fc2310ec3fe26873719

[2018-05-21 04:17] #4378 closed

[2018-05-21 04:18] garethbowen commented on #4370
Enabled here: https://github.com/medic/medic-webapp/commit/7886a6c68dd832e91b839fc2310ec3fe26873719

[2018-05-21 04:18] #4370 closed

[2018-05-21 08:10] SCdF commented on #3423
@vimago / @ngaruko is it correct that this is closed? Victor has been working on changed to couch2pg and medic-couch2pg to support these changes, and the dev on that is just now concluding, and linked to this ticket. Is there another ticket that links to that work?

[2018-05-21 12:12] SCdF opened #4562 "Horticulturalist restart behavior"
We need to work out, confirm and potentially fix restart behaviour, at least while deployed under MedicOS, but ideally locally as well.

I think this is how it works now:

Under MedicOS:
 - Horti is started by the OS, and does not automatically start any packages
 - The packages are started by the OS
 - If any of the packages die, they are restarted independently by the OS
 - If Horti dies, horti

[2018-05-21 12:12] SCdF commented on #4562
@browndav can you comment on the MedicOS behaviour?

[2018-05-21 13:56] SCdF opened #4564 "Version build info and horti upgrade doc data structures"
For forwards compatibility / so we don't get into an annoying situation 18 months from now, we should version build info (the metadata stored against the build on the builds server) and `horti-upgrade` (the metadata created by api to instruct horticulturalist to perform a deploy).

This way, if we change the structure later up to date versions of horticulturalist will be able to handle old version

[2018-05-21 15:35] SCdF commented on #4564
Hey @garethbowen , please take a look at the three PRs above and let me know what you think.

Versioning the `horti-deploy` deploy info I think makes a lot of sense, because the version of that doc that gets created is based on your api version not your horti version, so it's definitely an api that we need to be really clear about (we already effectively support two versions of this data structure

[2018-05-21 21:37] garethbowen commented on #4564
LGTM. I've left the merge to you.

I think if/when we have a v2 maybe the view map should return a value which both v1 and v2 map to. That way horti is always getting the same format. But we can cross that bridge once we know what the differences are.

[2018-05-22 01:51] garethbowen commented on #3343
I can't reproduce this. The session management code got overhauled when kanso was removed so it's possible this bug was fixed. My first thought is it might have something to do with the `require_valid_user` config option which if false (which is the default) means calls to `_session` return 200 rather than 401. However in api and webapp we check the `userCtx.name` not just the response status so i

[2018-05-22 02:00] garethbowen commented on #3343
Actually the current admin party check also checks for `require_valid_user` by making a request with no credentials and expecting a 401 so no work needed.

I'm going to set this for AT to get another pair of eyes on it and we can reopen it if it happens again.

[2018-05-22 02:38] browndav commented on #3343
This should be set as part of the Docker image bootstrap process, but having a failsafe sounds like a great idea.

[2018-05-22 02:39] browndav commented on #3343
This should be auto-configured as part of the Docker image bootstrap process, but I can't argue with having failsafes. +1.

[2018-05-22 03:34] ngaruko commented on #3423
Adding @michaelkohn to `assignees` and re-opening this for further testing...

[2018-05-22 03:36] garethbowen commented on #3343
Yeah. The big concern for me would be if someone accidentally unconfigured it after bootstrap.

[2018-05-22 08:39] alxndrsn commented on #4556
Or just put the final ddoc in `/build/dist`.  Presumably "dist" is short for "distributable".

For comparison:
* gradle default is to put binaries in `/build/outputs`, and
* maven puts them directly in `/target`, with other build-related files in subdirectories of `/target`.

[2018-05-22 15:56] SCdF commented on #4564
Merged. No AT to do specifically here.

[2018-05-22 15:56] #4564 closed

[2018-05-23 11:18] SCdF commented on #4562
@rmhowe take a look at the PR above and let mw know what you think.

This PR makes it a bit clearer where Horti's responsibilities lie compared to MedicOS, uses a lockfile correctly (so you can't run horti twice), and tries its best to close cleanly when run locally.

[2018-05-23 11:42] SCdF opened #4567 "Make horticulturalist view warming output nicer"
When deploying a new release part of the deploy log displays views being warmed:
![image](https://user-images.githubusercontent.com/583851/40421931-789e497c-5e85-11e8-9bf6-d5102b21c889.png)

Currently this output is based on an unordered list of currently active background couchdb tasks that are indexers that are indexing staged ddocs, which gets overridden completely each time (and so once the ta

[2018-05-23 11:48] SCdF opened #4568 "Reduce how long horticulturalist takes node modules down for"
Horti does a lot of work in the background before it restarts api and sentinel, but there is even more we can move out from between restarts.

Take a look at the current process: https://github.com/medic/horticulturalist/blob/master/src/install/deploySteps.js

The process from stopping to starting should really just be:
 - Stop processes
 - Move staged ddocs into production locations
 - Change sym

[2018-05-23 16:22] sglangevin commented on #4512
Ok - did some more testing on beta-old.dev because beta.dev is still down. I uploaded a config where groups 1 & 3 of the ANC reminders have a recipient of 'clinic' and groups 2 & 4 have a recipient of 'health_center'. However, all of the reminders are listed as going to the person who submitted the report, except for the note to the CHW in the case of a pregnancy form being submitted via the app.

[2018-05-23 16:26] sglangevin commented on #2583
We'll be getting to work on this shortly. I've added a priority tag in the meantime.

[2018-05-23 16:26] sglangevin commented on #4448
Marking as triaged - awaiting further details from @henokgetachew.

[2018-05-23 16:27] sglangevin commented on #4485
@SCdF I'm not sure how to proceed with this one - any suggestions?

[2018-05-23 16:28] sglangevin commented on #3284
We've had a couple of requests to do a deeper dive into gateway reliability which has improved but isn't where we need it to be yet. I'm thinking we can include this one as part of that work.

[2018-05-23 16:30] sglangevin commented on #3122
@SCdF @garethbowen is this one still relevant?

[2018-05-23 16:30] SCdF commented on #3798
I imagine this is because as part of setting up select2 we (or select2, or enketo, or something) is blurring focus from select2. I imagine this could be super hard to track donw.

[2018-05-23 16:39] SCdF commented on #4490
Looks like there wasn't really an issue here.

[2018-05-23 16:39] #4490 closed

[2018-05-23 16:51] SCdF commented on #4485
Thanks for the reminder! Let me do it now, it should only take a few minutes to work out if it's a problem or not

[2018-05-23 16:54] SCdF commented on #4485
It matters not!

[2018-05-23 16:54] #4485 closed

[2018-05-23 20:07] garethbowen commented on #3348
I think this should be done as part of a comprehensive test plan but we have no plans to do it in the short or medium term. Closing.

[2018-05-23 20:07] #3348 closed

[2018-05-23 20:08] garethbowen commented on #3979
@SCdF Assigning to you for triage - is this still something that we want to work on?

[2018-05-23 20:09] garethbowen commented on #3604
As @sglangevin said above this page (and the whole admin app) is due for a redesign. This is a great idea but we should wait until the designers are done.

[2018-05-23 20:09] #3604 closed

[2018-05-23 20:10] garethbowen commented on #4530
Yeah this is a bit naff and should be a quick fix. I'll have a look.

[2018-05-23 20:13] garethbowen commented on #3122
I vote we close it off. The only time an exception is thrown that crashes sentinel is when it's unexpected and it's not a good idea to just catch all and hope for the best.

[2018-05-23 21:21] abbyad commented on #4455
Export of reports seems to work well in 2.15.0-beta.12 on beta.dev. Export of contacts gives a 500 on beta.dev... @browndav checked and it is because it is running couch 2.1.1 and Lucene has been removed. (Similarly export of logs is not working, because of another component that was removed. All other exports seem to work)

We can do further testing on a fresh instance with Lucene, or move this t

[2018-05-23 21:40] browndav commented on #4455
If we need to run versions prior to 3.0 on the CouchDB 2.1.1 on the new Docker infrastructure in production due to business/cost/tenancy constraints, we should be able to branch from Medic OS `dev`, revert two PRs, and produce a `-lucene` tagged Docker image fairly trivially.

[2018-05-24 01:51] garethbowen commented on #4455
@abbyad I think this needs to be tested on the actual infrastructure we'll be deploying on (eg: CouchDB 1, non-Docker, older medic-os). You should be able to test on beta-old.dev.medicmobile.org.

[2018-05-24 05:35] ngaruko commented on #4144
Confirmed on `beta.dev` version `2.15.0-beta.12` . The `can_access_directly` permission has been removed from the list...
![image](https://user-images.githubusercontent.com/6979995/40466203-907fcdce-5f78-11e8-887e-141863db1485.png)

[2018-05-24 05:35] #4144 closed

[2018-05-24 05:44] ngaruko commented on #4455
It looks like the deployment of some test instances has gone quite convoluted (ie right combination of couchDB, docker, horti and good-old dashboard!). For this one, the `export` seems to work as expected on old beta but not on the new beta. Will leave this one for @abbyad to do final checks and confirm what is the desired or expected behaviour.

[2018-05-24 09:26] garethbowen commented on #4512
Ooookay... I had a look at example 1 (thanks for the links!) and the problem is the report doesn't have an associated CHP. The contact of the report is Nurse Mary, which makes sense seeing she's the one who submitted it. When you say the recipient is "clinic" it goes up the contact tree from Nurse Mary to     ABC Health Center to District Hospital and if none of those have type "clinic" (spoiler a

[2018-05-24 09:48] garethbowen commented on #4530
Code review please @alxndrsn

I couldn't work out how to put the icons beside the text with CSS alone it would require changes to the forms, so I just made them look decent.

![alignment](https://user-images.githubusercontent.com/2064938/40478077-361ae2aa-5f9c-11e8-83d6-146628cfc809.png)

[2018-05-24 11:57] rmhowe commented on #4369
It seems to me that this problem (seen here https://github.com/medic/medic-projects/issues/3711 ) is to do with view generation rather than a problem with sentinel (as suggested by the error messages and particularly as sentinel will only act on the changes feed as new changes come in). The view generation problem appears to be in the `reduce` function for `messages_by_contact_date` which is being

[2018-05-24 12:12] rmhowe commented on #1347
Seems like this still needs to be addressed but is relatively low priority

[2018-05-24 12:20] rmhowe commented on #3415
@sglangevin is this still relevant? Maybe for 3.1?

[2018-05-24 16:36] browndav commented on #4455
We discussed the new beta.dev issue at stand yesterday IIRC – Lucene and the log printing utility were intentionally removed in the v3.0 infrastructure via two PRs.

[2018-05-24 21:52] sglangevin opened #4575 "Change use of colored (red/green) dot on the reports list and report detail page"
This improvement changes how we are using the red or green dot in the reports list and on the report detail page. More specifically, it changes the meaning of the green dot from "valid" to "verified/correct", and allows the red dot to be applied to reports submitted via the app in cases where they are marked as "has errors" (see #4529).

UI changes:
- [ ] no dot should appear for valid SMS reports

[2018-05-24 22:09] sglangevin opened #4576 "Minor updates to report detail page header"
This improvement makes a few tweaks to the header on the report detail page, making it easier to read.

UI changes:
- [ ] remove the detailed date from the report detail page
- [ ] move the relative date to the left hand side, below "Sent by"
- [ ] make sure the relative date shows the detailed date on hover/click

NOTE: No changes are being made to the reports list, only the report detail page, s

[2018-05-24 22:47] sglangevin opened #4577 "Update status filter on reports page"
This improvement updates the status filter to accommodate filtering by the new report statuses added in #4529. The status filter currently has sections for validity and verification, which will change to manager review and SMS validity, reflecting the new report statuses and the changed use of the red/green dot on SMS reports.

UI changes:
- [ ] validity label becomes "Manager review"
- [ ] valid

[2018-05-24 23:45] garethbowen commented on #4512
Code review please @SCdF

I merged the `2.15.x` version so I could get a beta out for AT. If you could please review the above PR for the forward port.

[2018-05-25 01:54] ngaruko commented on #4516
Just checking if there was a consensus on how this should work @garethbowen @sglangevin @abbyad . My understanding from the discussion above is that it should have the same functionality as before, minus the `forms` and `local` sections. As such one would expect forms to still be send via the `message body` like so:
![image](https://user-images.githubusercontent.com/6979995/40521974-76d293b6-6022-

[2018-05-25 11:38] henokgetachew opened #4580 "Horticulturalist shouldn't show older versions"
Since we don't support upgrading to an older version, we should not show the versions in horti.  The other option (If we want to show the list of versions) could be to gray out the upgrade buttons for the older versions.

[2018-05-25 16:21] sglangevin commented on #3415
Yes, still relevant. I'd put it as a nice to have for 3.1, we can see if there is time for it there.

[2018-05-25 17:03] sglangevin commented on #4513
Working well in 2.15.0-beta.13. Moving to ready.

[2018-05-25 17:03] #4513 closed

[2018-05-25 17:09] sglangevin commented on #4512
@garethbowen I tried listing clinic and health_center as recipients for different message groups. The clinic recipient resolved to the correct phone number but the health_center recipient resolved to the health_center object. I'm assuming that health_center should resolve to a phone number as well, correct? Check it out [here](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/rep

[2018-05-25 17:27] #3122 closed

[2018-05-25 20:29] vimemo commented on #3900
Same conditions, same priority/status.

[2018-05-25 20:37] abbyad commented on #4455
The export of _Messages_ and _Contacts_ works on `beta-old.dev` running `2.15.0-beta.13`, as do _Reports_, _User Feedback_ and _Audit Log_. The export of _Server Logs_ gives a 502 but doesn't bring the instance down. That is expected and acceptable as discussed in https://github.com/medic/medic-webapp/issues/4211.

Moving to Ready.

[2018-05-25 20:37] #4455 closed

[2018-05-25 20:40] vimemo commented on #4473
Same condition, keeping priority/status.
https://www.postgresql.org/message-id/8239.1500489054%40sss.pgh.pa.us

[2018-05-25 21:29] abbyad commented on #3897
This seems like it would be useful while doing UI update. Assigning it to that release, and we can move accordingly.

[2018-05-25 21:35] abbyad commented on #3798
This is odd, but doesn't break any workflows so I suggest we leave it as is. If @SCdF had said this was easy I may have a different opinion!

Will close as won't fix for now, but can reopen if we decide to tackle this.

[2018-05-25 21:35] #3798 closed

[2018-05-25 21:38] abbyad commented on #3374
Based on https://github.com/medic/medic-projects/issues/1795#issuecomment-374956103 it sounds like this is resolved.

[2018-05-25 21:38] #3374 closed

[2018-05-25 21:40] abbyad commented on #2222
@SCdF is it a good time to revisit this?

[2018-05-27 23:05] garethbowen commented on #4512
The recipient aliases were actually "parent" and "grandparent" but they're not very good, so I've added "health_center" and "district" to be released in 2.15.0-beta.14. Once you upgrade the existing messages should show correctly.

[2018-05-27 23:07] #3528 closed

[2018-05-28 01:26] ngaruko commented on #4469
Getting errors on `beta-old` even for a couple of reports...`Version 2.15.0-beta.14`. Is this a regression @garethbowen ?
![image](https://user-images.githubusercontent.com/6979995/40593091-f19d251c-6279-11e8-9a13-d9bdc7ec861d.png).

[2018-05-28 01:31] garethbowen commented on #4469
cc @rmhowe @SCdF

[2018-05-28 01:32] garethbowen commented on #4469
@ngaruko Can you switch to the network tab and see what the response is? I suspect you're getting an error or something which isn't valid JSON so is failing to parse.

[2018-05-28 01:37] ngaruko commented on #4469
Network tab...
Response
![image](https://user-images.githubusercontent.com/6979995/40593319-f41315e8-627b-11e8-84ee-caf5eff87109.png)

Request payload...
```{"docs":[{"_id":"dd32e2d08c7def675f5de6ab960e3295"},{"_id":"dd32e2d08c7def675f5de6ab960e2c1d"},{"_id":"dd32e2d08c7def675f5de6ab960e211f"},{"_id":"dd32e2d08c7def675f5de6ab960e1e0c"},{"_id":"dd32e2d08c7def675f5de6ab960e1345"},{"_id":"dd32e2d08c7

[2018-05-28 02:11] #4345 closed

[2018-05-28 02:11] #4350 closed

[2018-05-28 02:11] #4351 closed

[2018-05-28 02:11] #4356 closed

[2018-05-28 02:11] #4359 closed

[2018-05-28 02:11] #4360 closed

[2018-05-28 02:11] #4361 closed

[2018-05-28 02:11] #4379 closed

[2018-05-28 02:11] #4381 closed

[2018-05-28 02:11] #4398 closed

[2018-05-28 02:11] #4439 closed

[2018-05-28 02:13] #4394 closed

[2018-05-28 02:14] ngaruko commented on #4394
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:14] ngaruko commented on #4384
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:14] #4384 closed

[2018-05-28 02:15] ngaruko commented on #4099
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:15] #4099 closed

[2018-05-28 02:16] ngaruko commented on #4439
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4398
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4381
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4360
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4361
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4359
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4356
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 02:17] ngaruko commented on #4351
Fixed with https://github.com/medic/medic-webapp/pull/4570

[2018-05-28 03:43] garethbowen commented on #4546
Documentation written: https://github.com/medic/medic-docs/blob/master/operations/ssh-into-docker.md

[2018-05-28 03:43] #4546 closed

[2018-05-28 03:51] ngaruko commented on #4514
Seems to pick up the change of language for outgoing messages. However, I am observing a strange behavior: when switching to another language, the top report outgoing messages are not translated at first, until I navigate to another report and come back...
![image](https://user-images.githubusercontent.com/6979995/40596317-276467f0-628e-11e8-8656-49b9457bd42f.png)
Also (maybe not entirely related

[2018-05-28 06:05] ngaruko commented on #4243
LGTM.
Tested on `https://alpha.dev.medicmobile.org/medic/_design/medic-admin/_rewrite/#/upgrade`.
Version 3.0.0
![image](https://user-images.githubusercontent.com/6979995/40599483-a10791d2-62a1-11e8-9f34-0ef057300638.png)

[2018-05-28 06:05] #4243 closed

[2018-05-28 06:10] ngaruko commented on #3868
LGTM

[2018-05-28 06:10] #3868 closed

[2018-05-28 06:12] ngaruko commented on #4211
Removed from the UI in v3.0 > tested on 'alpha.dev`
![image](https://user-images.githubusercontent.com/6979995/40599706-9c6e2964-62a2-11e8-8d40-2971880b5fdd.png)

[2018-05-28 06:12] #4211 closed

[2018-05-28 11:19] ashish-medic commented on #3192
It's working for Weeks since LMP, Days Since Birth but not for Patient ID. Is this accepted? @alxndrsn @ngaruko @sglangevin

[2018-05-28 21:41] garethbowen commented on #4185
Merged.

This will need extensive acceptance testing particularly:

- replication of deleted docs
- initial replication
- continuous replication
- replication depth
- security - ensure each user only gets the docs they're allowed to get

It will also be essential to test performance compared to the previous implementation on a production sized database to ensure it doesn't use significantly more m

[2018-05-28 21:42] garethbowen commented on #4172
Fixed as part of #4185

[2018-05-28 22:43] ngaruko commented on #4530
Slightly better padding atm...(in the eye on the beholder :))
*Before*
![image](https://user-images.githubusercontent.com/6979995/40631062-aeb3227a-632c-11e8-93a7-1d210b4f90bc.png)

*After*
![image](https://user-images.githubusercontent.com/6979995/40631071-d651c494-632c-11e8-81d7-c6777797ccd5.png)

[2018-05-28 22:43] #4530 closed

[2018-05-28 22:59] ngaruko commented on #4502
LGTM.
Tested on `alpha.dev` v3.0
![image](https://user-images.githubusercontent.com/6979995/40631216-9c4511d2-632e-11e8-837c-6f7e1204ad32.png)
Could be improved, from a UX perspective @garethbowen by making the `associated contact` drop-down only bring contacts for that place (  once the place is selected)

[2018-05-28 23:06] #4502 closed

[2018-05-29 00:28] garethbowen commented on #4516
@ngaruko Sounds like a different issue - can you please raise a new issue and link to an example of an affected report?

[2018-05-29 00:57] ngaruko opened #4584 "Pregnancy reports sent via sms cannot be viewed when user language in not English"
Pregnancy reports sent via sms cannot be viewed when user language in not English.

**Steps to reproduce**:
 -Login alpha.dev as admin
- Change user language to Swahili in [edit user profile ](https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/user)
 - Submit a pregnancy report via the message-test Ui in [admin console](https://alpha.dev.medicmobile.org/medic/_design/medic-admin/_rew

[2018-05-29 00:58] ngaruko commented on #4516
Closing this an opening a [new issue](https://github.com/medic/medic-webapp/issues/4584) for the above

[2018-05-29 00:59] #4516 closed

[2018-05-29 07:53] #4369 closed

[2018-05-29 07:55] SCdF commented on #4580
We already do what you want, in production situations.

Specifically (for now, we could change how we detect this), if you're deployed as *.app.medicmobile.org you can only take final release versions, and only versions newer than what you're on.

If you run it in any other way you can do whatever you like. In part because this is not production so we can be a bit more cavalier with what we allow

[2018-05-29 08:09] alxndrsn commented on #4580
@SCdF the production situation sounds fine.  For non-prod: if currently it's unclear to users, I'd suggest doing something in the UI to make it more obvious that a particular version might be a downgrade.  Some things that might help:
* greying the names of older versions
* adding a confirmation dialog when an older version is selected
* showing a tooltip on-hover saying something like _this versi

[2018-05-29 08:35] henokgetachew commented on #4100
Yup.  Closed.

[2018-05-29 08:35] #4100 closed

[2018-05-29 08:39] SCdF commented on #3979
I don't think so. I think the current level of support has been fine and I haven't seen any requirement for something more comprehensive.

[2018-05-29 08:39] #3979 closed

[2018-05-29 09:01] garethbowen commented on #4580
I agree I think we can do better for non-prod deployments. For example, if we store the package.json version with the artefact as well as the branch name we can analyse it to allow switching between branches with the same root version.

[2018-05-29 10:31] SCdF commented on #4449
@abbyad I think unless it turns out to be really hard we should just fix it for completeness. I don't think it's a big enough deal to backport it anywhere though

[2018-05-29 10:33] SCdF commented on #2222
@abbyad I don't think pouchdb-validation has been touched since we last tried to use it.

We could definitely take a look at making it work if we want to spend the time, though I do not think it's a high priority.

[2018-05-29 10:47] SCdF commented on #4469
@ngaruko api server logs would be helpful here.

Does this reproducibly break or just sometimes?

[2018-05-29 11:21] ngaruko commented on #4469
@SCdF It seems to break all the time. Easily reproducible on [beta-old](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/). Even for a couple of reports.
![image](https://user-images.githubusercontent.com/6979995/40655889-c88db632-6396-11e8-95fe-b74e059ae554.png).

[2018-05-29 13:51] rmhowe commented on #4217
So it looks like various parties are interested in updating the chromium version within crosswalk and many have tried but none have really gotten anywhere. Someone managed to get an apk for chromium v53 but didn't seem very confident in it and then gave up (which confused me because I think the last stable crosswalk was with chromium 53). Tangerine seem to need to update it as well but are now loo

[2018-05-29 13:57] SCdF commented on #3257
Apart from the horti PR linked above, I don't think there is any more work here to do. @browndav can you confirm, so we can close this ticket?

[2018-05-29 14:04] SCdF commented on #3344
I'm going to close this. I don't actually think, one year later, there is any value in documenting anything specific against our change notes about couch 2. At the time the concern was that there would some large mindset change, but really all that has happened (from an external perspective) is that Futon has been replaced with a tool that looks mostly the same, but is prettier and does slightly l

[2018-05-29 14:04] #3344 closed

[2018-05-29 15:42] rmhowe commented on #4469
@ngaruko working locally for me but can definitely see the bug on beta-old, can you post the api server logs?

[2018-05-29 16:25] sglangevin commented on #4514
@ngaruko does this pass AT then?

[2018-05-29 21:49] abbyad opened #4588 "Disabled transitions still run"
**Steps to reproduce**:
- disable the `default_response` transition
- submit an unstructured SMS

**What should happen**:
 - the `default_responses` transition should not run on the doc

**What actually happens**:
 - the `default_responses` transition does run on the doc

See example [here](https://standard-release.dev.medicmobile.org/medic/410ca5bf6c30c2cfa17f4e8e0ad8ab5c): `"transitions":{"defau

[2018-05-29 23:10] sglangevin commented on #4512
LGTM. 'clinic' & 'health_center' are working well and are now patient-centric. I'll document that recipient resolution is now patient-centric and list the recipient aliases that we now have. The messages showed correctly after upgrade.

@abbyad we'll probably want to update the recipients in standard config to use this new format so that we make sure that phone number are updating correctly. Using

[2018-05-29 23:17] sglangevin commented on #4512
Ok - I'm still seeing some weird behavior. Once I tried to update the phone number for the CHW ('clinic'), the phone number was replaced by a phone number for someone in a different part of the hierarchy. [See this record](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/347b3251-5f32-4ea8-86ee-844032fd01d7). Groups 2 & 4 are correct, but groups 1 & 3 are going to a seem

[2018-05-30 00:33] garethbowen commented on #4512
The problem stems from the fact that this code is so old the `parent` is aliased to the `health_center` from back before people existed.

The fix is to not use the extendedTemplateContext for phone number resolution unless all other methods have failed.

The auto-reply is probably not updating because it's in the `pending` state at which point the message content and phone number are fixed ready t

[2018-05-30 00:36] sglangevin commented on #4512
I wasn't expecting the auto-reply to update - if you look at the CHW Phone field in the report, you'll notice that it is different from the phone number that the auto-reply was sent to.

[2018-05-30 01:01] garethbowen commented on #4512
Who is the configured recipient for that autoreply? I think the configuration has changed because I can't find that message in use anywhere...

[2018-05-30 01:10] garethbowen commented on #4588
I think I see the problem here - it looks like the `transitions` map is never wiped when the configuration changes which means if you disable a transition it will keep running until you restart sentinel. Testing now to confirm.

[2018-05-30 01:15] garethbowen commented on #4588
Confirmed - after sentinel restart I sent [this message](https://standard-release.dev.medicmobile.org/medic/410ca5bf6c30c2cfa17f4e8e0ad91089) which doesn't have an autoreply.

[2018-05-30 01:16] sglangevin commented on #4512
Hmmm, that's weird. It should be set to the CHW's phone number that is pulled into the form - `chw_phone`. I don't think that has changed, but I did try re-uploading the config at some point during testing, so maybe someone else had changed the config in the interim? This part of the config hadn't changed though, it is what we've had in the Standard config all along.

[2018-05-30 01:46] abbyad commented on #4588
Ah, seems simple enough. If it's just a matter of restarting sentinel the first time we switch the transition to disabled then that's suitable. Will test and report back.

[2018-05-30 01:50] garethbowen commented on #4512
Ok, bug number 2: the template context is built up from patient, then previous registrations, then the doc. Because there is a previous registration it's picking up the chw_phone from the previous one instead of this one. I think if I switch the order to patient, doc, _then_ previous registrations it'll just work.

[2018-05-30 01:53] ngaruko commented on #4507
LGTM.
Tested on `alpha.dev` v3.0.0
![image](https://user-images.githubusercontent.com/6979995/40694475-d1cfb3d8-6410-11e8-96d9-f34d4feaa76a.png)

[2018-05-30 01:53] #4507 closed

[2018-05-30 01:57] abbyad commented on #4588
Indeed, a restart of sentinel made it disable the transition properly.

You can see here that there is no auto-reply on the last message:
![image](https://user-images.githubusercontent.com/789512/40694461-ad878dec-638a-11e8-96b8-353e6558ccc0.png)

Reports still have their configured replies, as seen here:
![image](https://user-images.githubusercontent.com/789512/40694556-28a36294-638b-11e8-8fc8-ff

[2018-05-30 01:57] #4588 closed

[2018-05-30 02:00] abbyad commented on #4588
Marked as `Deprioritized` (as opposed to `Not an issue`) since there is still a minor issue, but the workaround is simple and acceptable for pre 2.15.

[2018-05-30 02:10] abbyad commented on #4539
Turns out that this is already possible by disabling the `default_responses` transition.

## To disable auto-replies for unstructured messages

1. In `app_settings.json` set `transitions.default_responses` to `false`.
[code]
2. Upload app-settings: `medic-conf --instance project-name.app upload-app-settings`
3. SSH into the instance and restart Sentinel (`sudo svc-restart gardener`)

[2018-05-30 02:11] #4539 closed

[2018-05-30 02:12] ngaruko commented on #3993
LGTM . Tested in `alpha.dev` v3.0.0
![image](https://user-images.githubusercontent.com/6979995/40695012-61187780-6413-11e8-99ba-f54d8d12f3a8.png)

[2018-05-30 02:12] #3993 closed

[2018-05-30 04:56] ngaruko commented on #4469
I looked at the logs and I found this @SCdF @rmhowe
[code]

[2018-05-30 12:34] SCdF commented on #4580
Yeah this is a good idea in general. Right now we just show everyone everything and it's not that readable.

[2018-05-30 13:48] SCdF commented on #4469
This is a known issue with gardener being terrible: you basically have to delete api and sentinel before upgrading. People should know this, but it's very easy to forget, and that sounds like what has happened here.

@henokgetachew do you have any bright ideas for how to avoid people forgetting to do this in the future. Maybe we really do have to fix gardener and deploy a new version?

[2018-05-30 15:50] abbyad commented on #4469
How involved and time consuming is the fix to Gardener?

[2018-05-30 22:32] garethbowen commented on #4469
Moving this back to AT.

[2018-05-30 23:10] sglangevin opened #4591 "Allow supervisors to access specific patient reports so that they can review them"
For the Muso IN, we are planning to deploy a workflow where a supervisor needs to review all patient assessments that included an mRDT test. The CHW will be taking a photo of the mRDT test to upload with the patient assessment and the supervisor needs to review the photo to check whether or not the CHW read the result of the test correctly. Since the Muso supervisors are restricted users, they do

[2018-05-30 23:39] garethbowen commented on #4591
LGTM

[2018-05-31 04:45] garethbowen commented on #4526
@sglangevin  Which are the forms that generate the date? Is any form good enough, or is it a specific set of configured forms?

[2018-05-31 04:48] garethbowen commented on #4525
This needs to be done in a generic way so we can use it for other modes.

If possible it would be done so certain users could have the mode set so the features can be toggled on/off just for them. This would help with the innovation network deployments as it would allow one instance to server IN and non-IN users.

[2018-05-31 04:54] garethbowen commented on #4529
@sglangevin Should the verify button only be shown to managers? Should it only be shown to the specific manager of the CHW who submitted this report?

[2018-05-31 05:46] ngaruko commented on #4172
Any details on how to AT this @alxndrsn ?

[2018-05-31 07:10] SCdF commented on #4469
No idea. It would involve:
 - Investigating the code and fixing the issue
 - Knowing how to "deploy" / "package" / "something" gardener (no idea)
 - Knowing how to update old medic os to the new version
 - Then deploying that everywhere.

Anyway, if we want to do this we should raise a ticket about it, this has nothing specific to do with this ticket and this ticket still needs to be AT'd correctl

[2018-05-31 08:16] alxndrsn commented on #4172
Check if changes requests are still sending a list of document IDs or not.

[2018-05-31 08:55] henokgetachew commented on #4305
LGTM.  Since this was first caught in production where the version was less than 8, I'd say it's already been AT'ed.

[2018-05-31 08:55] #4305 closed

[2018-05-31 10:03] garethbowen commented on #4584
I've updated the default translation (and 33 others) so they don't have `\n` any more. These will be updated next time we export translations from POE before we make the `3.0.x` branch.

[2018-05-31 10:14] SCdF commented on #3342
Sounds like a nice change to do at some point

[2018-05-31 10:19] SCdF commented on #4451
@browndav I think the real issue can be pulled out of medic projects, it's not an active security problem per se, just a conversation about additional security.

If you agree we should close this and transplant the conversation onto a new normal ticket.

[2018-05-31 18:47] sglangevin commented on #4529
The verify button would ideally only be shown to managers, but that is not a strict requirement of this feature. We current show the verify button for everyone and it isn't used. If it's easy to have a permission for showing/hiding the verify button, we can do that, but it's a nice-to-have and could be added later when we do more work on roles & permissions. @derickl we'll only need to define a ma

[2018-05-31 18:48] sglangevin commented on #4526
In the Muso IN case, there is one form being submitted at the household level that we would use to determine the date last visited. The follow-on request for the future will be to generate that date based on interactions with specific household members, but for now, we are talking about a household visit form submitted at the household level (click on a household, click the household visit action)

[2018-05-31 20:42] garethbowen commented on #4529
We don't have a supervisor/manager role at the moment so we can't achieve it through permissions without adding more roles. I suggest we add a permission to show it to everyone/no-one and then when we add the manager role it'll be easy to configure this to only be shown to managers.

[2018-05-31 20:46] sglangevin commented on #4529
Right - we've been sort of hacking this for projects where we are using replication depth by adding a role to the managers that we then use to set replication depth only for them. Not sure if that will work in this case as well, but that's what I had in mind.

I agree - let's put in the permission for everyone/no one for now and then we can improve on that in the future when we add the manager rol

[2018-05-31 22:31] sglangevin commented on #4514
I gave this a quick test on 2.15.0-beta.15 and it seems to be working well. I'm going to move this one to ready. @ngaruko please re-open if you disagree.

[2018-05-31 22:31] #4514 closed

[2018-05-31 22:34] sglangevin commented on #4469
@ngaruko I've deleted api and sentinel and then upgraded beta-old.dev. If you can give this a test today to make sure everything looks good, that would be helpful as it's the last item waiting for AT for 2.15.0.

As far as updating gardener, I'm not sure if it's worthwhile given that we will be upgrading people to 3.0 fairly soon and gardener won't be used anymore. It does add a little extra effor

[2018-05-31 23:51] sglangevin commented on #4410
Adding a note here that we've since updated the aliases so that `clinic`, `health_center`, and `district` are now based off of the patient, not the CHW. So the config in https://github.com/medic/medic-webapp/issues/4410#issuecomment-383096110 could be updated to reflect this.

[2018-06-01 00:55] garethbowen commented on #4576
I strongly prefer using relative dates by default and only using absolute dates when there's a specific use case that benefits. This is for several reasons...

- They answer the most common questions users have (eg: "how long ago was this pregnancy registered?", "when did I last visit this user?", etc). There are some use cases that absolute dates answer better but they're less common in my experi

[2018-06-01 06:46] henokgetachew commented on #4469
I can script it so that it's at least easier.  But people would still have to remember to do it.

[2018-06-01 09:37] rmhowe commented on #4217
Yes that was as far as I could get in building, running `gclient sync` from the tenta repo errors due to the private bitbucket modules.

I've reached out to the tenta team to see if they've managed to get crosswalk working with chromium 64 and whether they'd be willing to make the binaries publicly available.

[2018-06-01 10:34] SCdF commented on #4469
@henokgetachew / @sglangevin yeah that's the issue IMO: how do we make sure people remember this stupid manual step.

Having said that, I think at the moment we have two deploy situations:
 - Lots of people deploy alphas and betas
 - Henok deploys finals

Alpha and beta deployments are about to move completely to horti, and even for legacy ones (which I have no doubt will continue for months) wors

[2018-06-01 10:36] rmhowe commented on #2658
@SCdF @sglangevin sounds like this is a desired feature, low priority for 3.1?

[2018-06-01 10:38] rmhowe commented on #4481
@SCdF this sounds sensible, not sure what feedback docs are though. Low priority for 3.1?

[2018-06-01 10:41] rmhowe commented on #4444
@SCdF @sglangevin looks like this has roughly ended up in the timeline to go in with the nav update anyway, put it in 3.1?

[2018-06-01 10:42] SCdF commented on #2658
@rmhowe I think we should yeah. The only thing that would dissuade me from thinking this was important was if we were replacing it with some kind of different messaging system / ui / paradigm soon (remember the Diani conversations?), but that felt very… far away.

[2018-06-01 10:43] SCdF commented on #2658
Devil's advocate: no one has complained for all of 2.x that this doesn't work, so either no one uses the feature at all, or people don't care how much stuff costs

[2018-06-01 10:48] SCdF commented on #4481
Sounds right to me.

FYI, feedback docs are generated by two things:
 - A user clicks Report Bug in the hamburger menu[1] and types some stuff in
 - A error is generated on someone's phone

[1] Why is there no emoji / symbol for the hamburger menu!?!? This is an outrage. We have ㆔ which is close, and Ⅲ which is better but the wrong way around, and you could just do ||| if you really wanted to. If

[2018-06-01 10:59] SCdF commented on #4444
Worst case we should definitely make sure this is done in 3.1.

**BUT**, due to the performance issues noted here https://github.com/medic/medic-webapp/issues/4444#issuecomment-384169512 I'd really like us to fix it or the other ticket before then. I have no idea if people encounter this in production much but if they do it's hella terrible.

[2018-06-01 11:09] SCdF commented on #4580
@rmhowe plz review. If you merge it no need to squash, each commit makes sense on its own!

[2018-06-01 15:08] sglangevin commented on #2658
Actually someone has complained about this - it's a feature that our MoH deployments in Nepal want to use. I don't think anyone has asked us to calculate the cost, but messaging a group of people is currently broken. If you select a place to message, the SMS only goes to the primary contact of that place. I'd consider that a bug and it may need to be a separate ticket.

[2018-06-01 16:03] sglangevin commented on #4576
I'm fine with using a relative date if we can see the absolute date in the tooltip, but curious to hear your thoughts @amandacilek.

[2018-06-01 16:18] amandacilek commented on #4576
I don't know much about the history of partner changes and requests that got the page to its current design with both relative and specific dates. I'll leave that to @diannakane and @sglangevin to remind us. My takeaway from a previous conversation with Sharon though was that: someone requested the specific date get added and they use it. I thought it was silly to have both the relative AND the sp

[2018-06-01 17:35] sglangevin opened #4596 "Exporting reports causes API to stop"
When attempting to export all reports (no filters selected) on beta-old.dev, the file starts downloading but stops and never completes. It also causes API to stop with no errors in the logs. This is working properly on standard.dev which is also on the same version but has fewer reports.

**Steps to reproduce**:
 - Log into beta-old.dev as admin
 - Go to the reports page
 - Click Export

**What sh

[2018-06-03 19:02] abbyad opened #4597 "Allow registration with age in months or years"
Incoming forms can currently specify an age in **days** or **weeks**, and set the date of birth on the doc accordingly. It would be useful for Standard deployments to be able to specify the age in **months**.

The original immunization workflow required registration of children up to 2 years old, which was feasible by specifying the age in weeks. With the [new child health workflow](https://github

[2018-06-03 19:52] abbyad opened #4598 "Message's translation key sent when translation is missing"
If a translation is missing for a scheduled message's translation key, we are currently sending the key itself as the SMS. Instead we should make sure to not send a message at all.

As part of the [Standard Child Health messaging](https://github.com/medic/medic-projects/issues/4155) we are setting up 60 months worth of monthly messages. If we decide at a later time to send messages only every seco

[2018-06-03 19:59] abbyad opened #4599 "Allow translation to nest another translation key"
As mentioned in #4598:

We are setting separate translation keys for each to allow independent changes to each month's message. For now there are three different messages that are repeated 8, 20, and 32 times. To avoid bloating the translations we should allow specifying a translation key within a translation.

For instance, we may want to do something like this:
[code]

[2018-06-03 20:02] abbyad commented on #4599
According to @dianabarsan:

[2018-06-04 07:43] garethbowen commented on #4526
@sglangevin Follow up question... Should this only be based on visits from the logged in user, or should the date be updated if a supervisor/chp/anyone visits the family?

[2018-06-04 13:15] rmhowe commented on #4444
It looks like https://github.com/medic/medic-webapp/issues/4445 is the bigger issue here so I'd say that one should be fixed first, then this issue becomes a minor UI bug for 3.1

[2018-06-04 16:41] abbyad commented on #4598
I wanted to reconfirm for myself that we couldn't just have the translation defined but left blank. In the screenshot below a blank translation key shows a blank message while `scheduled`. Once the message goes to `pending` the translation key itself is set into the message.

![image](https://user-images.githubusercontent.com/789512/40929895-10dec9a6-67f4-11e8-9ee7-9c3dd03bda75.png)

[2018-06-04 17:21] sglangevin commented on #4526
This should only be based on the visits from the logged in user. It's a tool to help the CHW make sure she visits everyone each month so she wants to know when the last time was that she visited that household in order to prioritize her work. The date(s) that other people interacted with a particular household might be useful for other reasons, but we would likely want to display them in a differe

[2018-06-04 20:36] sglangevin commented on #4576
It's true, people do use the detailed date. But I think it's ok that they have to hover over the relative date to see the detailed date on the web app. I realized that this might not work well on mobile - how can you access the detailed date on mobile? With no hover action, I'm concerned that the detailed date won't be discoverable by users.

[2018-06-04 20:58] garethbowen commented on #4576
@sglangevin Touch/click works to show the tooltip on mobile.

[2018-06-04 21:09] amandacilek commented on #4576
But how would they know to touch/click the relative date? Is it styled like something clickable (blue and/or underlined)? I agree with Sharon that it doesn't seem very discoverable. Although if users are _already_ familiar with doing it that way it's less of an issue. Could be something we mention in the in-app tour? @sglangevin @diannakane do you have any idea of what percentage of our users are

[2018-06-04 21:10] garethbowen commented on #2203
I don't think this is a good idea - validate_doc_update will not let you save the doc if it's invalid, whereas our validation saves the doc after marking it as invalid and generating error responses. All validation is done through API on all incoming SMSes so I'm confident messages aren't getting to the db unvalidated.

[2018-06-04 21:10] #2203 closed

[2018-06-04 21:11] diannakane commented on #4576
I think it's mostly our project managers using the detailed date for testing. It helps them differentiate between test reports and real reports. Is that your understanding, @sglangevin ?

[2018-06-04 21:17] sglangevin commented on #4576
I think it's used as a way to scan through and see if the gateway is working. Now that we are showing the exact time for reports coming in today, I think that satisfies that need. If the full date is needed, you can easily hover over the relative date in the list of reports, so having that match the report detail page works for me. Someone will complain if it's not usable! I'm more concerned with

[2018-06-04 21:18] garethbowen commented on #4576
It would be nice to style it - perhaps not a blue underline, but maybe with a tooltip icon or dotted underline? I'm always too afraid to click links because they'll take me to a new page...

@diannakane We strongly recommend users use the provided testing instances for testing/training reports, so I hope nobody is using the date for differentiation between the two.

[2018-06-04 21:21] diannakane commented on #4576
Got it, @garethbowen. My information may have been based on the way training used to work.

[2018-06-04 21:26] amandacilek commented on #4576
Ok so... if we leave the relative date exactly as-is in the upper right, and remove the long detailed date altogether, I think this ticket is no longer necessary.

Could create another little ticket if we want to make some sort of update to the styling of the relative date...you're probably right, Gareth, blue might not be the way to go. I was thinking maybe a little info icon or something? I can

[2018-06-04 21:29] sglangevin commented on #4576
Could you also see if keeping the date in the same place but changing the detailed date to a relative date would work? I think that might be better for small screens. Looking at your mockup at the top of this issue, I'm not sure how we'd fit a relative date on the right.

[2018-06-04 21:41] sglangevin opened #4600 "Make family equity score available for family member task generation and within forms about family members"
This feature makes the family equity score available within forms about family members or for generating or updating task schedules for family members. Equity scores can be collected either during family registration or via a form filled in at the family/household level. The scores might impact the frequency at which a CHW should visit a particular household or require the CHW to follow a differen

[2018-06-04 21:57] amandacilek commented on #4576
Just to clarify: On demo.dev I see the rollover detailed date feature on the LHS main list, but not on the RHS detail page. Do we need to add the rollover function to the RHS relative date?

[2018-06-04 21:59] amandacilek commented on #4576
Here are a few options for where the relative date could live:
1. Upper right where it currently is
2. Bottom of left side, underneath sender name
3. Right after the sender info, on the same line

![screen shot 2018-06-04 at 2 55 38 pm](https://user-images.githubusercontent.com/26235957/40943956-e135db4a-6807-11e8-8fbe-b135b3ea329d.png)

[2018-06-04 22:04] sglangevin commented on #4576
I like it on its own line, but am fine with it on the same line as the sender. I like leaving the right side for the status dot.

[2018-06-04 22:08] amandacilek commented on #4576
The problem I was trying to solve with this ticket was the very long detailed date on the right side causing all sorts of weird wrapping. Getting rid of the detailed date solves that issue for me, so I don't have much of a preference between these three.

1 is more consistent with the short view we see on the LHS, 2 is friendliest when viewing on very small devices, 3 keeps the overall height of t

[2018-06-04 22:17] amandacilek commented on #4576
Ok is this what we all want? UI changes:
- [ ] remove the long, detailed date from the report detail page
- [ ] move the relative date to the left side, below "Sent by"
- [ ] touch/click on the relative date reveals screen tip with detailed date information (same functionality as seen on LHS)

I'm not sure if this is already implemented, but didn't we also discuss:
- [ ] sender name is styled blue

[2018-06-04 23:16] garethbowen commented on #1140
@browndav I found the helmet library which adds the HSTS header and a few others by default and submitted the above PR. Would you mind reviewing it? The defaults are listed here: https://helmetjs.github.io/docs/

[2018-06-04 23:18] sglangevin commented on #4576
I'm fine with those first 3. The other one might have been discussed but it's not in the spec. Would be useful though. @garethbowen how much effort would it be to hyperlink the patient name to their profile? I'm inclined to do that now if it's really easy, but if not, then let's hold off as we need to make sure that this release gets out the door on time. I'd like to update the top comment in this

[2018-06-04 23:28] garethbowen commented on #4576
It's fairly easy to add. There's a minor risk in doing it because that code is used in a lot of places to render the sender's name so we'd have to check all the other places.

[2018-06-04 23:46] sglangevin commented on #4576
Ok - if it's a risk then I'd leave it out for now, as I want to avoid regressions as much as possible and if we are changing code that's used in a lot of places, that expands our need for testing quite a bit.

[2018-06-05 00:18] garethbowen commented on #2322
May be done as part of #2583

[2018-06-05 01:08] ngaruko commented on #4584
LGTM. Tested in `alpha.dev` with this [report](https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/5f3104258f5bd30e159376d5da038b9e)

[2018-06-05 01:09] #4584 closed

[2018-06-05 02:44] ngaruko commented on #4469
It still seems not to be working. Does the `bulk-delete` works for you @sglangevin on [beta-old.dev](https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/)?

[2018-06-05 04:13] garethbowen commented on #4469
@ngaruko What's in the log?

[2018-06-05 05:52] ranjuts commented on #4597
Hmm I'm a bit confused here. We have a new person form deployed in Nepal w age specified in years. Is the limitation where you need to create a schedule based on that age? And is it not just age but any value? eg. if a form needed a value for "been under treatment for hypertension" (just giving a wild example here), that would also need to be entered in weeks or days? @abbyad

[2018-06-05 08:41] SCdF commented on #4596
Yep, this happens due to bad data, with a person with itself as the parent. Interestingly enough this person is marked as `"notes": "Purposefully has no parent",` so I wonder who did that, how they did that and how this then caused our software to make themselves the parent.

@garethbowen did we come to a conclusion on how we want to deal with this? We can put a recursion depth check in and throw

[2018-06-05 08:43] SCdF commented on #4596
Specifically it's this report: http://localhost:15984/_utils/#database/medic/5a5298b0a308146efa4ab51d74ad6a30 who points to this person: http://localhost:15984/_utils/#database/medic/8e0ff9fd-ff6a-442e-ad2d-ed7c915838dd

[2018-06-05 08:46] garethbowen commented on #4596
@dianabarsan fixed the similar issue in #4487 in 3.0.0 by patching the `docs_by_id_lineage` view. Is that view used? If so, we could look at backporting the fix. Otherwise, I'm not too worried about this as I suspect it won't happen in the wild, and if it does we can fix the data to resolve it without release.

[2018-06-05 08:58] alxndrsn commented on #1140
@garethbowen should this be handled by nginx?

[2018-06-05 09:00] garethbowen commented on #1140
I'm ambivalent about where it should be handled. Do you have a strong preference?

[2018-06-05 09:07] alxndrsn commented on #1140
I have a strong preference for nginx, because it's accessed before express, and express isn't guaranteed to handle all requests.

[2018-06-05 09:27] henokgetachew opened #4603 "Add partition table monitoring for instances"
If the disk has been modified on AWS but partition table hasn't been updated, we need to monitor that and report it so we don't have partition table mismatches.

[2018-06-05 11:10] SCdF opened #4604 "Make sure we can't infinitely recurse in the lineage shared library"
Due to issues like https://github.com/medic/medic-webapp/issues/4596 and https://github.com/medic/medic-webapp/issues/4487 we should make sure, however unlikely, that we have guards in place to have us cleanly throw errors if we detect that we're hitting an infinite loop.

The alternative is that the app hangs / crashes, which isn't good!

Simplest is probably just to put depth guards on potential

[2018-06-05 11:14] SCdF commented on #4596
@garethbowen I added a guard, see the PR. I think this is good enough for 2.15

[2018-06-05 11:43] SCdF commented on #4526
This and https://github.com/medic/medic-webapp/issues/4524 are related and should be done together

[2018-06-05 11:44] SCdF commented on #4524
This and https://github.com/medic/medic-webapp/issues/4526 are related and should be done together

[2018-06-05 11:47] SCdF commented on #4600
This makes me think this has to be implemented in a sentinel transition that writes the equity score to the family contact? (which won't work offline until replicating, which is annoying)

If we didn't need this point we could calculate it live before we initiate the forms.

[2018-06-05 11:55] SCdF commented on #4591
The different ways of doing this that I can see:
 - Idea 0: keep discussing which bits of this we do and do not need to do to refine what we need to build (AFAIK we haven't finished this yet!)
 - Idea 1: add support for server-side task generation and writing tasks to disk, along with support for dynamically working out what data you need for server-side generated tasks and attaching them to the t

[2018-06-05 14:46] sglangevin commented on #4469
I wouldn't be surprised if the error is related to the bad report that was causing #4596. We should delete that report and see if that resolves the issue.

[2018-06-05 17:15] abbyad commented on #4597
@ranjuts, can you point me to the project form in question? The limitation is where you need to set the date of birth when creating the person with an SMS. Setting any "time since X" is similar, but we don't have a generic way to do that.

[2018-06-05 18:07] ranjuts commented on #4597
Its form "क" (line 59) here: https://github.com/medic/medic-projects/blob/master/moh-nepal/forms.json

[2018-06-05 18:09] ranjuts commented on #4597
we're not calculating date of birth or a schedule based on date of birth (based on this age). Its simply the absolute value for how old that person is.

[2018-06-05 21:04] garethbowen commented on #4596
Agreed - good enough for 2.15.

I'll leave it to you to merge to `2.15.x`, forward port to `2.16.x`, and maybe forward port the error handling change to `master`?

[2018-06-05 21:14] garethbowen commented on #1140
Yeah that's definitely a pro on the nginx side. I just talked to @browndav and apparently we're not using nginx in Docker any more (the load balancer hits api directly) so traffic is guaranteed to go through api.

[2018-06-05 21:36] sglangevin commented on #4525
After further discussion, as long as we have a way to display UHC features to a subset of users on the same instance, that will satisfy what is needed for July's pilot. If we do that the same way we are limiting replication depth for supervisors, for example, that will suffice, and we can revisit this later to make it more robust.

[2018-06-06 08:35] SCdF commented on #4596
@garethbowen merged to 2.15 and 2.16. In the interest of working on 2.16 I raised https://github.com/medic/medic-webapp/issues/4604 in 3.0 and I'll mark as it a requirement for release, so we don't forget / deprioritise it

[2018-06-06 08:36] SCdF commented on #4604
Upgrading this to high, just to indicate that we defo need to do it before release.

[2018-06-06 10:41] ngaruko commented on #4469
Same error as above @garethbowen.
And I am not sure if it is related to #4596 @sglangevin. I think this issue has to be looked at because at the moment, not even one report can be deleted, apparently. Is anyone able to delete a report on this instance?

[2018-06-06 10:47] ngaruko commented on #4306
I assume these are unit and integration tests and the issue does not need AT-ing @SCdF ?

[2018-06-06 10:53] ngaruko commented on #3343
Just checking @garethbowen

Did you want this to be tested on a local install or are there ways to test on test instances/docker ?

[2018-06-06 10:55] rmhowe commented on #4306
@ngaruko yep sorry I just put it in AT because I wasn't sure what the process was, as long as the tests are passing (ie the build is passing, which it is) then I think it's all good

[2018-06-06 10:55] garethbowen commented on #3343
@ngaruko Definitely test on a docker instance...

1. Set `require_valid_user` couchdb configuration option to false
2. Restart API and make sure it fails to start with a useful error

[2018-06-06 12:38] browndav commented on #1140
https://github.com/medic/medic-webapp/pull/4601#pullrequestreview-126354546

[2018-06-06 12:42] browndav commented on #4547
We have a working design for this; it's a stateless nginx container from CoreOS that does nothing but issue permanent redirects, zero configuration. Currently updating checklist; expect this to add one step to the initial deploy and one step to container launching (adding the ALB rule to route correctly). I've forked it over to https://github.com/medic/docker-nginx-https-redirect so we can make lo

[2018-06-06 13:35] abbyad commented on #4597
Thanks. Even though it is not yet using the age to _set_ the date of birth, it does seem as though it would be used. I'll rename the issue to include an age in years option.

[2018-06-06 14:36] dianabarsan commented on #4529
Please review, @garethbowen . Thanks!

[2018-06-06 15:50] SCdF commented on #4526
Talked to sharon, some updates:
 - The `doc.fields.patient_uuid` field should have been OK, but unfortunately the way the specific instance has been configured the documents we care about are against the people in the family, not the family itself.
 - To resolve this we're going to add a new field, which is going to be set to the person's parent id (ie the family). I'm not sure what to call this y

[2018-06-06 17:01] sglangevin commented on #4469
@ngaruko I just deleted a report on that instance using the delete button and it worked fine. I'm wondering if bulk delete is failing due to the same report that is causing the other issue. Even if you aren't trying to delete that report, perhaps it is still breaking the bulk delete process in some way.

[2018-06-06 20:49] #4306 closed

[2018-06-06 21:31] garethbowen commented on #4469
The bulk-delete-utils shared library on beta-old hasn't been updated. I'm looking in to it.

[2018-06-06 21:41] garethbowen opened #4609 "Deny non-admin requests to futon/fauxton/whatever"
In 2.x we blocked requests to futon in nginx and required users to tunnel in using ssh permissions so it wasn't accessible by non-admin users. As of 3.0 and Docker we no longer use nginx so requests to futon aren't being blocked.

Add `_utils` to the deny list so only couchdb admins can access it. Ensure the URL matching is broad enough to catch slight variations (eg: `//_utils`, `/_utils/nothing`

[2018-06-06 23:01] garethbowen commented on #4469
When I followed the instructions that Stefan has pinned in the #development channel in Slack and installed the next beta the code was updated and bulk delete appears to work for me. No idea what happened but it's possible the instructions weren't followed, or that the instructions don't work 100% of the time. Anyway, this is now unblocked and ready for you to test again @ngaruko

[2018-06-06 23:03] sglangevin commented on #4469
Thanks @garethbowen - I updated beta-old.dev last (I believe) and I did follow the instructions, so I'm not sure what happened. Glad it appears to be fixed!

[2018-06-06 23:10] sglangevin commented on #4596
LGTM and it even helped me find the report with the circular reference so that I could delete it. Moving to ready.

[2018-06-06 23:10] #4596 closed

[2018-06-06 23:47] garethbowen commented on #1140
This is a difficult one to AT - work with @browndav to ensure the app has an acceptable level of security.

[2018-06-07 00:15] sglangevin opened #4610 "When exporting, duplicate reports are exported sometimes"
When filtering by certain places, the export feature downloads multiple copies of some reports.

**Steps to reproduce**:
 - Log in as admin to beta-old.dev or standard.dev
 - Go to the reports page
 - On beta-old.dev, use the places filter to filter by Antoine's district. On standard.dev, use the places filter to filter by General Hospital 11
 - Click Export
 - Notice that multiple copies of some

[2018-06-07 01:11] ngaruko commented on #4469
Thanks @garethbowen and @sglangevin. Bulk delete is now working. While on this, I discovered another strange behavior. If a report is selected and the user uses a filter (I used 'date' and form type  in here but will try other filters as well), the selected report still shows on the RHS with 'no report' on the LHS if no matching report  (see screenshot 1) or reports matching the filter on the LHS.

[2018-06-07 01:49] garethbowen commented on #4469
@ngaruko I think this is by design - we don't change the RHS when displaying search results on the LHS.

[2018-06-07 05:32] ngaruko commented on #4172
Seeing a `request not finished yet` message on the network tab. Not sure if it is anything to worry about @alxndrsn ?

![image](https://user-images.githubusercontent.com/6979995/41079980-5a3e6936-6a78-11e8-8afa-a353a8de7ff4.png)

[2018-06-07 06:48] dianabarsan commented on #4529
I have a few questions about the indicated colors: some of them are very similar to other colors which are already used in the app.

For example:
 - unselected icons #A7A9AC - similar to #A5A8AA (used for deceased)
![image](https://user-images.githubusercontent.com/35681649/41082318-912996b0-6a36-11e8-9278-96d9721d6a49.png)
- verified with error color #E0381F - similar to #E33030 (used for high ri

[2018-06-07 07:00] #4229 closed

[2018-06-07 08:33] garethbowen commented on #4172
@ngaruko The changes request sits there waiting for changes to happen on the server. This is exactly as expected. Did you check to see if the doc ids are included as parameters on the request?

[2018-06-07 08:34] SCdF commented on #4610
This is unsurprising when I think about it, as the current implementation also batches the search request along with the hydration / writing out to CSV bit.

Or there is a bug in the search library.

[2018-06-07 08:57] dianabarsan commented on #4576
Please review, @SCdF . Thanks!

[2018-06-07 08:59] SCdF opened #4612 "There are view generation errors"
Locally (using data from demo.dev) I have noticed that somewhere in medic-client (and perhaps elsewhere too, I haven't checked), some views are throwing errors in CouchDB.

[Up with this we will not put!](https://englishlanguagethoughts.com/2016/06/03/up-with-this-i-will-not-put/).

Someone should:
 - Get a bunch of reasonable data on their system
 - Force view regeneration by slightly altering a

[2018-06-07 09:05] ranjuts opened #4613 "Investigate how/whether we might be able to support reporting of dates using text forms as exact date"
So far our users of Text forms have been reporting on dates of events such as birth of last menstrual period in terms of days or weeks since. In the past its been determined as non-critical when weighed against the likelihood of errors and the degree to which we can validate such field (or group of fields, say if DD MM YYYY were to be treated as different fields) especially when the form contains

[2018-06-07 09:32] SCdF commented on #4612
lol github no.

Edit incoming.

[2018-06-07 10:35] garethbowen commented on #4591
@SCdF and I just discussed the options and we're leaning towards "Idea 2" because it's relatively simple to do in the timeframe available and doesn't cause any complications with duplicate docs and so on.

[2018-06-07 10:38] SCdF commented on #4612
Look again, notification squad, the title of this ticket has been updated to "There are view generation errors" and there is now a description

[2018-06-07 12:50] SCdF commented on #4576
@dianabarsan reviewed, back to you!

[2018-06-07 15:35] amandacilek commented on #4529
Thanks for asking. Aesthetically it makes no difference, as they are practically the same colors. Can we change all instances of the old existing colors to the new colors or is that tedious? That would be my preference.

I took my red and green hex codes from the "Foundation web colors" brand guide that Lester created:
![screen shot 2018-06-07 at 8 28 28 am](https://user-images.githubusercontent.c

[2018-06-07 16:36] sglangevin commented on #4529
It might be easiest to stick with the existing colors for now and then we can update all of the colors to the new ones in 3.1. Otherwise the new colors will be partially implemented for a few versions.

[2018-06-07 17:29] sglangevin commented on #4529
Yeah, I didn’t realize that either!

[2018-06-07 21:57] sglangevin commented on #4576
LGTM. Moving to ready.

[2018-06-07 22:41] sglangevin commented on #4576
I realized I shouldn't be testing this on alpha (master) and should wait for a 2.16.0 beta. Re-opening!

[2018-06-07 23:40] ngaruko commented on #4172
Thanks @garethbowen. Docs ids are not included as parameters on the request.

[2018-06-07 23:40] #4172 closed

[2018-06-08 09:49] SCdF commented on #4526
Current progress, with obviously incorrect hacked in data and what not:

![image](https://user-images.githubusercontent.com/583851/41151565-06abe2d0-6b09-11e8-9b9d-bd8e314e002b.png)

@sglangevin are you OK with how this looks?

Still have to create a permissions and check for it, but other than that I think dev is done.

Also, to aid testing / finishing the code I need a few things:
 - We need to

[2018-06-08 12:28] SCdF commented on #4526
NB: I'm counting a month ago as "over 30 days old" because I decided to forgo the philosophical debate about what a month is until another time. If someone wants to provide a more correct algorithm / code they are welcome to

[2018-06-08 13:41] dianabarsan commented on #4610
Please review, @SCdF .

The issue was Search library allowing `skip` to be greater than results length.
When paginating reports, if the `skip` was greater than results length, the `end` index in `slice` would be a negative number.
So `Export` service kept receiving data until `skip` was at least 2 x results length.

I am also fixing another bug, where `Boolean` filters (`verified` and `valid`) wer

[2018-06-10 23:52] garethbowen commented on #2587
Here's a possible solution for mocking angular code so we can run these tests in mocha in node without browserifying everything together: https://gist.github.com/rikukissa/dcb422eb3b464cc184ae

[2018-06-11 00:08] garethbowen commented on #4525
Code review please Mr. @SCdF

[2018-06-11 08:05] SCdF commented on #4526
So still keeping "Last visited N M ago", or also changing that to "Visited N M ago"?

I'm using the standard relative days display filter, which I believe in turn uses Moment. I can look into how configurable that is and see if I can get it showing months.

[2018-06-11 10:28] garethbowen commented on #4158
Fixed in #4172

[2018-06-11 10:28] #4158 closed

[2018-06-11 10:33] garethbowen commented on #4022
This has been achieved by #1876 - there are no production dependencies at the top level.

[2018-06-11 10:33] #4022 closed

[2018-06-11 10:38] #3329 closed

[2018-06-11 10:48] garethbowen commented on #3102
Closing. This is ancient, and the solution is to switch from nano to pouchdb.

[2018-06-11 10:48] #3102 closed

[2018-06-11 11:00] garethbowen commented on #4208
We no longer include doc ids in the request so this is fixed.

[2018-06-11 11:00] #4208 closed

[2018-06-11 14:33] SCdF commented on #4524
@sglangevin how should the button be displayed on desktop view? It looks really weird on large windows floated to the right:
![image](https://user-images.githubusercontent.com/583851/41237932-bd9c6db8-6d8c-11e8-8d5b-1293ab250e85.png)

[2018-06-11 14:42] dianabarsan commented on #4610
Merged into `2.15.x` and forward ported to `2.16.x` and `master`.

[2018-06-11 15:52] amandacilek commented on #4526
I know you're asking because we like generally consistency, but our preference was for the text to be as short as possible, which is why we prefer "Visited N M ago". Not a huge deal in English but the French translations were getting really long and we were attempting to control that a little.

So when date is known, say "Visited N M ago", and when date is unknown say "Last visit unknown" would be

[2018-06-11 17:56] sglangevin commented on #4524
@SCdF can you align it with the hamburger menu? That way it won't be in a weird spot and will scale to different screen sizes in a more sensible way.

[2018-06-11 21:11] garethbowen commented on #4469
@rmhowe It appears this change was never forward ported to `master` - can you have a look please?

[2018-06-11 21:21] sglangevin commented on #4526
I'm going to go ahead and mark this as active work - it's still listed as Triaged.

[2018-06-11 22:04] sglangevin commented on #4610
LGTM on 2.16.0-beta.17. Moving to ready.

[2018-06-11 22:04] #4610 closed

[2018-06-11 22:33] sglangevin opened #4618 "Symbols in translations are not rendered correctly"
Symbols are not rendered correctly if they are included in translations. In this case the translation key is messages.schedule.registration.followup_anc from the Standard config.

**Steps to reproduce**:
 - Submit an N form on an instance using Standard config
 - View the form submission in the Reports tab
 - Notice that the outgoing scheduled message shows `&lt;` and `&gt;` instead of the appropr

[2018-06-12 02:11] garethbowen commented on #4618
Review please @dianabarsan . Feel free to leave the merge and backport to `2.15.x` and `2.16.x` to me.

[2018-06-12 04:57] garethbowen commented on #4470
This appears to be fixed in our Docker environment, but now we get two dates for all the request logging, eg:

[code]

I think this is because we use morgan and it's including the dates by default. We should remove the date logging because it's a waste of disk space not to mention screen real estate.

[2018-06-12 05:03] garethbowen opened #4620 "Implement log rotation"
We need to implement some sort of log rotation, compression, and/or archival for all logs on the medic-os Docker images. This needs to be done for all logs (api, sentinel, couchdb, etc) to ensure we don't run out of space.

This needs to be done with thought to maintain ease of use, for example, the current log must always have the same name and recent logs (~ last 24 hours) must be easy to access

[2018-06-12 06:14] dianabarsan commented on #3408
@alxndrsn what do you think? Worth reviving?

[2018-06-12 06:17] dianabarsan commented on #2587
@garethbowen I think it's worth a try.

[2018-06-12 07:19] dianabarsan commented on #4529
Merged into `2.16.x` and forward ported to `master`.

[2018-06-12 07:47] SCdF commented on #4524
@sglangevin Won't that look so far away though? Looking at how the reset button is done right now, it's floated right in the mobile view, aligned normally on desktop. Would it make sense to do that here as well?

[2018-06-12 07:52] dianabarsan commented on #4618
Reviewed, @garethbowen . Leaving merging and backporting to you.

[2018-06-12 09:49] garethbowen commented on #4618
Merged into `master`, `2.16.x` and `2.15.x`.

[2018-06-12 15:35] sglangevin commented on #4524
This was @amandacilek's suggestion - perhaps you two can sort this out. I think it's only far away on bigger desktop screens, but I get the point that it would be far from the list that it's sorting. The other thing to remember is that everything will be moving when we do the nav update, so this is a temporary solution.

[2018-06-12 17:29] amandacilek commented on #4524
If it always stays 50px away from the search reset button:
![screen shot 2018-06-12 at 10 27 41 am](https://user-images.githubusercontent.com/26235957/41306585-7372da2a-6e2b-11e8-925d-4367d14a014f.png)

If it stays aligned to the right edge of the LHS column:
![screen shot 2018-06-12 at 10 27 55 am](https://user-images.githubusercontent.com/26235957/41306573-6c219ab8-6e2b-11e8-9a70-69a69d52ec70.pn

[2018-06-12 17:33] rmhowe commented on #4469
@garethbowen yep sorry must have forgotten to forward port it, having some issues with `master` currently but will do once they're resolved

[2018-06-12 18:16] #4469 closed

[2018-06-12 18:28] sglangevin commented on #4524
I prefer it aligned to the right edge of the LHS column, if that is possible.

[2018-06-12 18:32] jillrshah opened #4621 "Invalid report not being replicated to facility user"
Related to (https://github.com/medic/medic-webapp/issues/3437), submitting an incorrect report _D 1234 F_ is not seen by the facility-user, but incorrect reports _D 123456 F_ and _D 12345 F_ are - even though there aren't patients with any of those IDs. Seems to be a case that slipped past AT in medic-webapp.

**Steps to reproduce**:
 - _Submit Delivery text form in Standard configuration with too

[2018-06-12 19:13] garethbowen opened #4622 "Implement access logging in API"
In moving to Docker we have lost the nginx access log capability so we need to implement this in API. We already log when requests come in using morgan but we have no logging for the response status, size, time, etc.

Consider whether this should be combined in the same api log or logged separately.

[2018-06-12 21:48] sglangevin commented on #4618
LGTM on 2.15.0-beta.18. Moving to ready!

[2018-06-12 21:48] #4618 closed

[2018-06-13 00:07] garethbowen commented on #4525
This is now possible by creating a new role for UHC users and configuring specific permissions for that role. The UHC features should be developed with a role to control showing/hiding them.

[2018-06-13 00:08] garethbowen commented on #4096
I fixed the documentation in #4525 - you can pass roles or a type but type is deprecated.

[2018-06-13 00:27] garethbowen commented on #2583
This has been fixed as part of #4525

[2018-06-13 00:28] garethbowen commented on #2322
Done as part of #4525

[2018-06-13 01:13] garethbowen commented on #3960
While working on this I realised there's a bug with the current implementation - if a document is deleted that a user has read but the user is offline then there is a race condition to get the changes handler registered before the document is replicated.

When ATing this make sure...

1. If an offline user deletes a read document while offline the unread count is not updated. This is expected beca

[2018-06-13 01:29] garethbowen commented on #3960
Code review please @vimemo - the build is failing for the same reason as `master` so I think that's ok...

[2018-06-13 03:02] abbyad opened #4625 "Reports page can mistakenly hide fields"
A submitted report may be have fields hidden that should be shown.

**Steps to reproduce**:
 - Write a form with a hidden field whose name is the prefix to another field, or use the one included below
 - Submit that report

**What should happen**:
 - Only the specific field that is marked with `tag="hidden"` should be hidden. In this case it is the `name` field.

**What actually happens**:
 - All

[2018-06-13 04:37] ngaruko commented on #4567
LGTM. Tested on `alpha.dev` by upgrading instance to master

[2018-06-13 04:37] #4567 closed

[2018-06-13 05:16] ngaruko commented on #4096
Closing this as it will be tested in #4525 ...

[2018-06-13 05:16] #4096 closed

[2018-06-13 05:18] ngaruko commented on #2322
Closing this. To be tested in #4525

[2018-06-13 10:01] garethbowen commented on #3960
This needs to be backported to `2.16.x`.

[2018-06-13 10:14] SCdF opened #4626 "relativeDays filter only shows days, not months etc (unlike relativeDate)"
To replicate, mucking around with the code is probably the easiest to see the change.

We have two relative time filters that we can use to output relative time based on an absolute time: `relativeDay` and `relativeDate`. From current usage and the code it looks like the intention is that one of them shows relative time including times earlier than "today", and the other does not. e.g. `relativeDa

[2018-06-13 10:14] SCdF commented on #4626
@garethbowen interested if you know if this is intentional or not. It seems really weird

[2018-06-13 10:16] garethbowen commented on #4626
I think this was intentional, but I'd have to check the usage and confirm with design to be sure.

[2018-06-13 15:29] SCdF commented on #4580
Done.

We now show a warning sign against branches you may not be compatible with. This is based on a "base version", which is the root version your branch is based on. Since this requires a new piece of information, all current branches have this warning. Over time this will go away as people branch off the new master with this information.

[2018-06-13 16:09] sglangevin commented on #4625
Just noting that this isn't a new issue - I ran into this before and asked around, only to find out that the solution was to change the name of the form field.

[2018-06-13 16:34] rmhowe commented on #4600
@sglangevin should this be the national score, the urban score, or both? Also, are quintiles needed?

[2018-06-13 16:39] abbyad commented on #4625
Ah, although that seems like more of a workaround than a solution :)

Seems like we could fix this here: https://github.com/medic/medic-webapp/blob/b7a43c3cfdafc8e2a6159ac7efdcd95313b24167/webapp/src/js/services/report-view-model-generator.js#L70-L74

There may have been a good reason at some point to hide all that start with the same name, but seems as though we should compare the full field name

[2018-06-13 16:54] sglangevin commented on #4600
Can we just have a field called `equity_score` and then the person creating the form can decide what to put in there? I'll ask to see if the quintile is needed in another field, but my guess is we'd just be able to use the equity score to infer the quintile. I've pinged @yembrick on Slack and one of us will come back with more info.

[2018-06-13 16:59] #4410 closed

[2018-06-13 17:01] rmhowe commented on #4600
Making both available isn't a problem so I'll do that, and it sounds like the quintile can be calculated on the fly so I'll leave it out for now but it can be added in easily later if needed.

[2018-06-13 17:05] sglangevin commented on #4600
Cool, so I think the best way forward would be to store the national and urban quintiles as opposed to the raw scores. We'll need to dictate the field names for those two data points so others using this feature know how to configure their form correctly.

[2018-06-13 23:11] garethbowen commented on #4526
Back to you!

[2018-06-13 23:53] garethbowen commented on #3960
Merged and backported to `2.16.x`

[2018-06-14 00:56] ngaruko commented on #4529
Feature seems to work with a glitch: it takes quite long for the choice (click on `Has errors` or `Correct`) takes a bit too long(about 5 secs) to show in the UI.

[2018-06-14 01:08] garethbowen commented on #4529
@ngaruko Were you logged in as an online or offline user at the time? If online then it's probably the server round-trip + replication time, and maybe we should add a loading spinner.

Possibly related: #3466

[2018-06-14 01:20] ngaruko commented on #4529
Online @garethbowen and true, it must be related to #3466. Will close this and test it again once #3466 has been fixed.

[2018-06-14 01:47] #4529 closed

[2018-06-14 04:38] ngaruko commented on #4525
Does this need a new configuration loaded to `alpha.dev` @sglangevin @garethbowen ?

[2018-06-14 09:01] rmhowe commented on #4600
Ok sounds good, do you know yet what those field names will be?

[2018-06-14 16:57] sglangevin commented on #4529
@ngaruko where was this tested? I see that beta-old.dev hasn't been updated to the 2.16.0 beta.

[2018-06-14 17:55] SCdF commented on #4524
AT:
 - Follow the setup instructions on #4526's AT section so you have valid data
 - Once you have this the dropdown should sort your results by the type that you click.
 - NB: the styling is currently not what was asked for: it instead follows the existing styles used in other dropdowns. This feels more consistent to me, but if we really want to style this differently to everything else we can

[2018-06-14 18:04] SCdF commented on #4526
AT:

Setup:
This one is complicated. You need to setup your data very specifically:
 - Be a CHW so you view families by default in your person LHS
 - Generate data by having reports exist that link to a family contact by filling in the `doc.fields.visited_contact_uuid` property. You can do this either by creating an actual xml form that injects this value correctly, or just editing existing forms.

[2018-06-14 21:06] garethbowen commented on #4526
@SCdF Please remember to forward port this to `master`

[2018-06-14 21:07] garethbowen commented on #4524
@SCdF Please remember to forward port this to `master`

[2018-06-14 23:31] garethbowen commented on #4591
Code review please @dianabarsan

[2018-06-14 23:42] garethbowen commented on #4591
How this works...

1. Create offline roles for `chp` and `supervisor`.
2. Configure `supervisor` to have a replication depth of 2 (I think - @sglangevin is this right?). This is so they can see the CHPs they manage but not the families or reports about families.
3. Create a chp and supervisor user with the correct roles and correct contacts in the hierarchy so the supervisor is managing the chp.
4

[2018-06-15 08:43] SCdF commented on #4525
More AT:

Make sure that the upgrade between 2.15 and 2.16 works correctly re: permissions. There have been reports that this doesn't work transparently, both in dev and in testing, and it should.

Specifically, if you do an upgrade between the versions:
 - Admin (online) users, both logged in as the upgrade happens and not, should see a full permissions list on the permissions page that is the sa

[2018-06-15 09:47] SCdF commented on #4526
Done!

[2018-06-15 09:47] SCdF commented on #4524
Done!

[2018-06-15 09:51] SCdF commented on #4591
If this isn't true, I think changing `needs_signoff` from being a boolean to being a UUID that is the person who needs to do the signoff would work.

[2018-06-15 15:43] sglangevin commented on #4591
Actually, it should be 1: they only see a list of CHW areas.

[2018-06-15 15:43] sglangevin commented on #4591
I think if it's 2, they'd see the CHW person contacts and the list of families but no people.

[2018-06-15 18:16] sglangevin commented on #4600
Sorry - missed this comment yesterday. I think it would be fine to use `national_quintile` and `urban_quintile` and assume they are top-level fields in the form, so they'd be at `fields.national_quintile` and `fields.urban_quintile` in the JSON. If you already used something else, that's fine, just comment here with some info on how this would be configured.

[2018-06-15 18:38] sglangevin commented on #4576
LGTM on 2.16.0-beta.2. Moving to ready.

[2018-06-15 18:38] #4576 closed

[2018-06-15 18:42] sglangevin commented on #4524
@SCdF I haven't tested the functionality of this one just yet, but we need a permission for the sort button - right now it appears by default but it should only appear for those who have the permission. Either we have one permission for "UHC mode" that changes the people list to show date last visited and makes the sort button appear or we can have individual permissions, one for each, with a late

[2018-06-15 19:02] sglangevin commented on #4524
Upon further investigation, this had to do with the fact that I was logged in as admin and we can't control permissions for admin from the UI (as fas as I can tell). @garethbowen any suggestions? The UHC features shouldn't be enabled by default - maybe we can just adjust it so that they are not enabled for admin by default?

[2018-06-15 19:43] sglangevin commented on #4525
Configurable roles are cool! Excited about this feature. One small UI issue: the permissions page needs to scroll to the right because if you create more roles than can fit across, it wraps in a very unfortunate way. Note that the CHW role title is below the Supervisor title and the checkboxes for CHW have wrapped to the next line. https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/

[2018-06-15 21:46] sglangevin opened #4635 "Update CHW area icon"
Please replace the existing default CHW area icon (the one that ships with medic-webapp) with this new and improved one: https://drive.google.com/open?id=1uUG70I9fIZYTMrscj-U2mxq_QOdRYSl1

[2018-06-15 21:51] sglangevin opened #4636 "Improve death reporting workflow by allowing the death confirmation form to specify the date of death"
Currently, when the `death_reporting` transition runs, it adds a `date_of_death` field to the contact doc that is equal to the `reported_date` of the death confirmation form. However, the death confirmation is likely to happen after the actual date of death. We'd like to provide a way to indicate the date of death in the death confirmation form so that the date of death that is recorded on the con

[2018-06-15 21:52] sglangevin commented on #4525
Assigning back to you, @garethbowen to fix the UI issue. Giving some users access to the last visit date permission worked as expected.

[2018-06-15 22:35] sglangevin commented on #4526
@SCdF gave this one a shot on beta-old.dev and wasn't able to get it working. I confirmed that I had the correct field name in the correct place on the reports and tried at the patient level and at the family level. Here are the reports I submitted, any idea what the problem is?

https://beta-old.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/c23be138-f7ad-42d6-ba54-7c57d6c94b0f
https:

[2018-06-15 22:54] sglangevin commented on #4526
I see the problem from looking at the code and doing some more experimenting - we're emitting a field from the report called `patient_uuid` but most reports don't have that field in them. I was able to get this working by adding a field called `patient_uuid` and setting it equal to the family's ID. Perhaps we should change that to something else? Or use the same ID that is being set in the `visite

[2018-06-15 22:58] sglangevin commented on #4524
@SCdF I talked with @amandacilek and we both agreed that we don't like using checkboxes for sort. Checkboxes sort of imply that you can select multiple items and with sort, you can have only one or the other. I'd like to either implement the design Amanda provided or at least change these to radio buttons so it's more clear to the user. Returning to you for the UI changes - the functionality is wo

[2018-06-15 23:09] sglangevin commented on #4526
One more thing: for some reason our relative dates show up as XX days ago up to and including 25 days ago. After that it switches to 1 month ago. This looks odd here because you'll have two families visited 1 month ago and one is red (more than 30 days) while the other is not. I think it should be consistent. Anyone know why our relative dates switch to 1 month ago at >25 days? cc @garethbowen

![

[2018-06-17 19:52] garethbowen opened #4637 "Move /patches from the root to webapp/patches"
They only apply to webapp so it makes sense to move them down.

[2018-06-17 20:33] garethbowen commented on #4591
@SCdF I made it a boolean so you can have a multiple supervisor scenario, and also change supervisors and so another can be assigned a CHP and get all their reports needing signoff.

@sglangevin The depth needs to be configured so the supervisor can see the CHP which was 2 on my system but I think I've configured my hierarchy incorrectly. Before starting AT on this make sure the test system has a

[2018-06-17 20:36] garethbowen commented on #4524
@sglangevin The solution is to not log in as a couchdb admin. Create a new online role that's able to see everything and then toggle their permissions as you like.

[2018-06-17 20:43] garethbowen commented on #4525
Wow, yeah, that's terrible! Sorry I should have seen that coming.

[2018-06-17 21:35] garethbowen commented on #4591
Merged and forward ported to `master`

[2018-06-18 00:00] #2322 closed

[2018-06-18 00:21] garethbowen commented on #4635
Merged and forward ported.

AT: When upgrading the existing icon will be used. On fresh install this new icon will be used instead.

[2018-06-18 00:56] garethbowen commented on #4525
I've updated the UI in `2.16.x` and `master`. Instead of the roles being in columns they're now in rows which takes up much more vertical space but is potentially more useful and supports as many roles as you like. There are other more complicated ways to achieve this without using so much vertical space but I felt this was a good safe option for 2.16.0.

![new-ui](https://user-images.githubuserco

[2018-06-18 02:09] garethbowen commented on #4636
Code review and documentation review please @vimago

Feel free to leave merging and forward porting to me.

AT: The transition can now be configured with a `date_field` property which specifies the path to the field with the date. This defaults to `reported_date` but allows for users to specify the date in the death reports, eg: `fields.date_of_death`.

[2018-06-18 02:57] garethbowen commented on #4524
Code review please @dianabarsan . I'm happy to do the merge and forwardport.

It's quite difficult to get the icon to line up with at the right edge of the LHS on desktop mode with the current UI. I've made it line up on mobile/tablet but in desktop it's just beside the reset icon. This is going to change in 3.1 anyway so I thought it wasn't worth much time.

AT: make sure this works on mobile too

[2018-06-18 04:45] garethbowen commented on #4526
Done.

Yeah that looks like a straight up bug - I should have caught that in code review. Fixed now.

For relative dates we use `moment.fromNow()` which appears to round up to a month when > 25 days. For overdue we use a hardcoded check for > 30 days. I've updated this to use the "relativeDay" filter which never shows times, uses "yesterday" and "today", and counts days up till 2 months. This mean

[2018-06-18 04:56] garethbowen commented on #4526
Merged to `2.16.x` and forward ported to `master` ready for AT.

[2018-06-18 08:01] SCdF commented on #4526
Sorry reading emails in order, I see now the relative day thing is a
compromise, no prob

On Mon, 18 Jun 2018, 6:56 am Gareth Bowen, <notifications@github.com> wrote:

[2018-06-18 09:52] garethbowen commented on #4524
Merged to `2.16.x` and forward ported to `master`.

AT: Be sure to check the mobile interface not just desktop.

[2018-06-18 10:49] garethbowen opened #4642 "Output node_env when starting API"
It would be too easy for a production instance to end up without `NODE_ENV=production`. Output the NODE_ENV environment variable on startup and ensure that the Docker medic-os build is in production mode.

[2018-06-18 10:51] garethbowen commented on #4642
AT: Check in a Docker instance (eg: alpha.dev) that the API logs have something like this on startup:

[2018-06-18 10:55] garethbowen opened #4643 "Enable response body compression"
Old medic-os instances had gzip compression enabled in nginx, but Docker instances don't have nginx and compression is no longer happening. This can be enabled in express but [it's better to implement it at a reverse proxy level](https://expressjs.com/en/advanced/best-practice-performance.html#use-gzip-compression).

This is a blocker for using Docker in production.

[2018-06-18 11:01] garethbowen opened #4644 "Use asynchronous logging in node apps"
`console.*` synchronously blocks so is not recommended for production deployments. The express documentation [recommends using logging libraries](https://expressjs.com/en/advanced/best-practice-performance.html#do-logging-correctly) instead.

Replace all existing console invocations and implement a precommit regex check similar to the ones that exist for the webapp to ensure no new calls are added

[2018-06-18 11:14] garethbowen opened #4645 "Use a robots.txt file to stop spiders crawling our instances"
Making them a little harder to find if you don't know where to look.

[2018-06-18 11:17] garethbowen commented on #4645
Code review please @alxndrsn  - I can't think of any reason we'd want spiders to crawl our sites, can you?

AT: Make sure that `/robots.txt` returns:

[code]

[2018-06-18 21:08] garethbowen commented on #4636
Merged into `2.16.x` and `master`.

[2018-06-18 21:34] michaelkohn commented on #4636
- What happens if you delete the death report, does it blank out the `date_of_death` and/or remove the field from JSON?
- If subsequent death reports are submitted, do we reject them or do we just update with the most recently submitted?
- If the `date_of_death` on the form is edited, I assume this propagates to the contact as well, but what if an earlier form was edited (ie if two were submitted,

[2018-06-18 21:39] garethbowen commented on #4636
No the field remains. You have to use an undo report to remove the date_of_death.

The patient is not updated when the second report is received. Sentinel can be configured to reject duplicate death reports with an error if desired.

As with the previous question, editing won't update the date_of_death on the patient.

@sglangevin @michaelkohn Is this correct or do you think we should change the i

[2018-06-19 01:08] garethbowen commented on #4637
AT: Make sure the patches are still being applied to the bundled code.

[2018-06-19 01:22] sglangevin commented on #4575
@vimemo please make sure this code is merged into 2.16.x so that we can test in the next beta. Moving back to active work for now.

[2018-06-19 01:23] sglangevin commented on #4577
@vimemo please cherry-pick these changes into the 2.16.x branch for AT in the next beta. Moving back to active work.

[2018-06-19 03:43] ashish-medic opened #4649 "Automated reply not generated in case OFF/ON texfrom when patient id is not sent by the user."
When a sender sends just "OFF" or "ON" without any patient Id. It does not generate an automated reply. However, it shows error in Web-app. It should generate auto-reply saying: invalid patient id number or something like that.
Issue related to https://github.com/medic/medic-projects/issues/4206
cc @abbyad @sglangevin

[2018-06-19 03:59] sglangevin commented on #4591
At first glance, this is looking good. I need to do some more testing tomorrow but I was able to get the config set up easily and the supervisor can see the report as expected. I did need replication depth of 2, which seems to function slightly differently than it used to, but in a good way 😀

[2018-06-19 07:51] ngaruko commented on #4524
LGTM...
Tested on both `beta-old.dev` and `alpha` (desktop and phone)

[2018-06-19 10:03] garethbowen commented on #4556
Code review please @alixemden

This change moves `/webapp/src/ddocs` to `/ddocs` and `/webapp/dist` to `/build`.

[2018-06-19 11:32] eljhkrr opened #4653 "Trailing whitespace character in incoming SMS form makes sentinel throw an exception"
When sentinel receives an SMS report with a trailing whitespace character it throws the error below and does not process any reports coming in after the offending report

[code]
Removing the whitespace character unjams sentinel and it continues processing reports normally.

Discussion in https://github.com/medic/medic-projects/issues/4114

- Instance: https://amref-ethiopia.app.medicmobile.org
- V

[2018-06-19 13:05] alxndrsn commented on #4556
I know you asked the other Al*x to review this, but I went ahead and did it anyway 😝

[2018-06-19 14:49] alxndrsn opened #4654 "Only emit Target Instances if they are relevant"
# Observed

Currently it looks like Nools is configured to do some strange things with the dates of target instances:

* for "this month" targets, target instance date is set to `reported_date`.  The frontend then discards target instances from before the current month
* for "total" targets, target instance date is set to **NOW**.

# Expected

All report-based target instances' dates should be set

[2018-06-19 17:44] browndav commented on #4620
This should be currently performed by `logrotate(1)`, and the naming issues should be gone now that `gardener` is gone. I suspect it might just not be switched on for the services that were migrated out of gardener due to an oversight; I'll take a look now and push a PR.

Do you have any strong preference on retention/turnover parameters other than the 24 hour turnover (e.g. additional size-based

[2018-06-19 17:49] browndav commented on #4609
IIRC per our previous product call, we were going to move to denying this at the `medic-api` level rather than depending on an extra hop through nginx (which now that we've solved #5457, would be a pass-through proxy with no added functionality). I think this is architecturally the best place to solve it: it allows us to remove the hop through nginx, will work in both the hosted-by-us ALB scenario

[2018-06-19 18:08] sglangevin commented on #4654
The reason we're doing that is actually a hack so that we can have the "total" targets. It would be better if we could set the target to be "this month" or "all-time" in some way as those are the two most commonly used time periods. I've also seen requests for "this quarter". But essentially, targets were designed to show monthly progress and we have need to show progress over other time periods s

[2018-06-19 20:23] browndav commented on #4643
Let's chat at stand about this one briefly today. Brief summary as I understand it: ALBs won't add gzip/deflate but will pass ith through provided the `Content-Length` header is correct; there's [Express middleware](https://github.com/expressjs/compression) to perform gzip/deflate with native node bindings, and there's also the option of bringing nginx back into the picture for purposes of compres

[2018-06-19 21:20] garethbowen commented on #4654
Sounds good. Needs some thought about how to support the range of use cases.

[2018-06-19 21:30] garethbowen commented on #4556
Merged.

[2018-06-19 21:31] #4556 closed

[2018-06-19 21:32] browndav commented on #4547
This is complete. It is deployed to the development environment in `eu-west-2` and is available on ECR as `720541322708.dkr.ecr.eu-west-2.amazonaws.com/medic/http-redirector:1.0.0`.

[2018-06-19 21:37] garethbowen commented on #4620
It'd be good to have a size-based turnover as well just in case something goes wrong and blows out the logs in a hurry. Ideally this would be set very high so it's only used as a safety net and logs are otherwise in 24 hours slices.

[2018-06-19 21:39] garethbowen commented on #4609
Yes I was thinking this would be in medic-api too. Happy for anyone to pick this up. If you're busy feel free to leave it for a developer.

[2018-06-19 21:42] garethbowen commented on #4643
From the express documentation linked above:

That's my only real concern. I doubt we count as a "high-traffic website" for express so we may be fine. I was hoping there would be some easy performant AWS way to do it but it appears there isn't, so I'm comfortable with trying the express middleware until we hit some performance limit.