[2017-04-11 21:45] garethbowen commented on #3369
This is really likely to happen again if Enketo decide to change their styling. Investigate if there's a way to easily include the Enketo styles required for functionality (show/hide) and not the styles for their theme. This would allow us to define our own theme which is less likely to change/break between Enketo releases.

[2017-04-11 22:11] garethbowen opened #3370 "Write e2e test for medic-collect api integration"
We [recently regressed on medic-collect](https://github.com/medic/medic-webapp/issues/3118) by changing the way we do auth. This is easy to do because we don't use medic-collect a lot in development.

Write and e2e test to exercise the medic-collect use case so we don't regress further.

[2017-04-11 22:12] garethbowen commented on #3118
I've raised an issue for e2e testing this. I'll merge this PR so we can get 2.11 out. @alxndrsn Feel free to make the suggested readability change post merge if you want.

[2017-04-11 22:13] #3118 closed

[2017-04-11 22:46] sglangevin commented on #2297
This was fixed a while ago, it looks like. Closing.

[2017-04-11 22:46] #2297 closed

[2017-04-11 23:21] sglangevin commented on #3118
@abbyad confirmed this is working in 2.11.0-beta.3. Moving to ready.

[2017-04-11 23:26] garethbowen commented on #3369
I fixed part of the issue in #3248 but obviously missed this bit. That fix was a bit hacky and a more reliable fix described above is a better idea.

[2017-04-12 07:07] bishwas-medic commented on #3302
About accents: yup, it doesn't have accents in the form they are used in other language. But we have something similar for different pronunciation for the same consonant with different vowels applied to it. For example: for the consonant `क`, we have different forms like `का, कि, की, के, कै, को, कौ, कं, कः`. Don't know if they are implemented in the same way as accents are. (Sorry about not giving

[2017-04-12 08:26] estellecomment opened #3371 "namespace-form-fields migration causing Express toString fail"
[code]

Most likely because the migration queries all `data_records` without batching.

[2017-04-12 10:03] estellecomment commented on #3371
https://github.com/medic/medic-api/pull/142

[2017-04-12 12:53] alxndrsn commented on #1601
Yep.  Just an opportunity for improved usability.  The same "Are you sure?" dialog is displayed when navigating back from a "this form failed to load" error.

[2017-04-12 13:07] nice-snek commented on #1745
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #1860
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #1918
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2085
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2283
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2370
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2528
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2587
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2849
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #3035
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #3041
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #3112
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #3299
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2027
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2040
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2058
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2162
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2464
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2481
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2900
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:07] nice-snek commented on #2995
hi frand @${assignee}, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-04-12 13:39] SCdF commented on #3350
Reproduced, and it's where @garethbowen thoughts it would be.

![image](https://cloud.githubusercontent.com/assets/583851/24960444/bbce797a-1f8d-11e7-9648-7025f0360b57.png)

Unfortunately I haven't reproduced it locally yet, which is odd.

[2017-04-12 14:48] alxndrsn commented on #3302
Possible, but to be confident you're replying with the same encoding you'll have to be confident that you can detect what scheme is being used in an incoming message.  This sounds impossible for messages which do not contain the right combinations of characters, and I'd guess tricky with ones which do.

I'd lean towards normalising everything before storing.  And for debug purposes, also store the

[2017-04-12 15:00] browndav opened #3372 "In the create-patient-contacts migration provide a more complete list of potential patient_name locations"
In `medic-api/migrations/create-patient-contacts.js` at https://github.com/medic/medic-api/blob/master/migrations/create-patient-contacts.js#L105, we have:

[code]

On a very small number of instances waiting for upgrade, `patient_name` is stored outside of `.fields`, causing an `undefined` error when accessing `.fields` that blocks migrations from completing.

After following the advice in the `T

[2017-04-12 15:18] browndav commented on #3302
@estellecomment: Are we worried about a case where we're talking to phones via SMS in something other than UTF-16-BE (e.g. older "codepage" 7-bit and 8-bit style GSM encodings, where a certain code unit might just not be representable)?

[2017-04-12 16:02] alxndrsn commented on #3180
@mandric did you write a script this morning which can be used to solve this problem?

[2017-04-12 16:03] alxndrsn commented on #3119
@browndav can this be closed?

[2017-04-12 16:05] alxndrsn commented on #3023
Would it be more optimal (time & space) to just have a link to the relevant ash & busybox manpages online somewhere in the medic-os docs (e.g. on the github README)?

[2017-04-12 16:06] alxndrsn commented on #3023
Would it be more optimal (time & space) to just have a link to the relevant ash & busybox manpages online somewhere in the medic-os docs (e.g. on the github README)?

[2017-04-12 16:28] alxndrsn commented on #3357
<img width="326" alt="screen shot 2017-04-12 at 18 14 13" src="https://cloud.githubusercontent.com/assets/191496/24967908/dcfe8022-1fab-11e7-913b-ec1c8f50eea7.png">
<img width="322" alt="screen shot 2017-04-12 at 18 14 03" src="https://cloud.githubusercontent.com/assets/191496/24967907/dcfd1ade-1fab-11e7-83d0-dad34fccc366.png">
<img width="324" alt="screen shot 2017-04-12 at 18 27 44" src="https:/

[2017-04-12 16:39] alxndrsn commented on #3357
- [ ] provide service, or method in appropriate controller, to get sync status
  - [ ] last sync time
  - [ ] current status
- [ ] implement status service to report real values
- [ ] add translation values for different statuses
- [ ] configure colours and icons CSS for different statuses

[2017-04-12 17:34] alxndrsn commented on #3357
[code]

[2017-04-12 20:58] mandric commented on #667
I'm not sure, but I think we need this eventually.

[2017-04-12 22:14] mandric commented on #2238
An example of how we are importing users: https://github.com/medic/medic-projects/issues/1819

I have low level import process stuff over here, hoping to build a UI for it one day. https://github.com/medic/medic-bulk-utils/

[2017-04-12 22:32] garethbowen commented on #3350
@SCdF There's probably a "corruption" in the app_settings somewhere - have you tried importing their app_settings then importing the file?

[2017-04-13 06:28] alxndrsn commented on #3302
@browndav we're talking about communicating with phones using UCS-2.

The problem is that there are multiple **_correct_** unicode ways of encoding the same character, to the point where it will appear identical to a human reading it, and _may_ appear similar to string comparison functions in code, depending on the mechanism they use to compare the strings.

These messages may also go through laye

[2017-04-13 06:54] SCdF commented on #3350
Ran out of time last night, but the plan today is to work out exactly how this (untyp-- OK I'll stop) data structure is supposed to look and then work out if either a) there is an undefined edge case we're not taking care of and so take care of it or b) their app_settings are corrupt and make the error clearer.

[2017-04-13 08:12] alxndrsn opened #3373 "Security issue 1876"
https://github.com/medic/medic-projects/issues/1876

[2017-04-13 08:12] alxndrsn commented on #3238
Issue created:
* https://github.com/medic/medic-webapp/issues/3373

[2017-04-13 08:13] alxndrsn opened #3374 "Security issue 1795"
https://github.com/medic/medic-projects/issues/1795

[2017-04-13 08:14] alxndrsn opened #3375 "Security issue 1796"
https://github.com/medic/medic-projects/issues/1796

[2017-04-13 08:14] alxndrsn opened #3376 "Security issue 1797"
https://github.com/medic/medic-projects/issues/1797

[2017-04-13 08:15] alxndrsn opened #3377 "Security issue 1798"
https://github.com/medic/medic-projects/issues/1798

[2017-04-13 08:15] estellecomment commented on #3371
Fixed tests, @SCdF can you review?

[2017-04-13 08:16] alxndrsn opened #3378 "Security issue 1800"
https://github.com/medic/medic-projects/issues/1800

[2017-04-13 08:16] alxndrsn opened #3379 "Security issue 1809"
https://github.com/medic/medic-projects/issues/1809

[2017-04-13 08:16] alxndrsn opened #3380 "Security issue 1810"
https://github.com/medic/medic-projects/issues/1810

[2017-04-13 08:17] alxndrsn opened #3381 "Security issue 1876"
https://github.com/medic/medic-projects/issues/1876

[2017-04-13 08:33] SCdF commented on #3350
I think this change sort of broke it: https://github.com/medic/medic-webapp/issues/3127 ?

Sort of. Specifically, it marked the `messages` field as deprecated, so the app settings that is causing import failures doesn't have that field, which is why the push is failing.

It also might be that the import code is still correct, but the export code is not correctly exporting translation files, and is

[2017-04-13 08:55] SCdF commented on #3371
Back to you @estellecomment

[2017-04-13 09:20] estellecomment commented on #3371
pong

[2017-04-13 09:32] SCdF commented on #3371
For future reference, real PR link is: https://github.com/medic/medic-api/pull/143

Back to you @estellecomment

[2017-04-13 09:46] #3371 closed

[2017-04-13 11:42] SCdF commented on #3350
@estellecomment please review https://github.com/medic/medic-webapp/pull/3383

[2017-04-13 12:03] alxndrsn commented on #3357
This adds a new state not shown in the screenshots - when the last sync time is unknown.

Sync time does not persist between runs of the application - if you restart your phone, "last sync" will appear as _Unknown_.

[2017-04-13 12:04] #1849 closed

[2017-04-13 12:07] alxndrsn opened #3384 "Show loading progress when app is starting"
Currently the app just shows a spinning wheel while it's starting.  More information could be given, because there are clear stages to this loading process:

* loading assets (JS, CSS) that have not loaded already
* loading docs (we can track progress of this)
* having a little think while hiding behind the spinner

This will give people an idea if the app is actually doing the first sync without

[2017-04-13 12:13] alxndrsn commented on #3384
@garethbowen this seemed like a really obvious improvement to make while working on #3357

[2017-04-13 13:21] estellecomment commented on #3367
@SCdF can you review?

[2017-04-13 16:12] estellecomment commented on #3350
Done. Code looks good but I don't understand what you're doing!

[2017-04-14 10:54] alxndrsn commented on #3370
Test scenarios:
- [ ] request list of forms
- [ ] request specific form
- [ ] submit a form

[2017-04-14 13:54] alxndrsn commented on #3369
I'm not convinced by this.  Maintaining our own theme for the whole of enketo would be a big job, and it's unlikely we cover all the input types and different ways they can occur in a page with our current set of forms.  Testing would also be required cross-platform.

On the other hand, breakages like this from upstream have not occurred frequently, and detecting and fixing does not seem to be ver

[2017-04-14 14:06] alxndrsn commented on #3369
Also worth noting that we are currently handling generation of `note` HTML different to `enketo-core`.  They have moved their markdown processing to XSLT, but we have kept ours in javascript.

[2017-04-16 09:22] alxndrsn opened #3387 "Couch2 may not require a valid user by default"
https://github.com/medic/medic-projects/issues/1886

[2017-04-17 02:48] garethbowen commented on #3384
Agreed it's a shame about the internationalisation, but until we sync everything down we don't have the data to do the translation. We could work around it by replicating certain docs first, but that could get quite complicated... This is great for now!

[2017-04-17 02:49] garethbowen commented on #3238
Looks good to me. @SCdF Any thoughts?

[2017-04-17 03:01] garethbowen commented on #3370
Some changes requested but overall, very nice!

[2017-04-17 03:03] garethbowen commented on #3362
Closing as @abbyad reports it's a configuration issue - details in medic/medic-projects#1813

Reopen if this is incorrect!

[2017-04-17 08:20] alxndrsn opened #3389 "Favicon doesn't work on dark background"
<img width="120" alt="screen shot 2017-04-17 at 10 19 33" src="https://cloud.githubusercontent.com/assets/191496/25083452/7708942e-2357-11e7-9a37-54608d22768a.png">

Not sure what the answer to this is; perhaps a lighter outline or shadow?

[2017-04-17 09:43] #3370 closed

[2017-04-17 10:40] estellecomment commented on #3302
@alxndrsn

Maybe I'm getting this wrong, but some unicode is coming in, and you're sending the same unicode back, so you have no detection to do...? Like, you get `/0906` coming in, you just send back `/0906` without asking questions, and if it's `/0905 /093E`, then you send that back.
Am I missing some decoding steps that are happening at different points?

Right in what way? They're all right, j

[2017-04-17 10:48] estellecomment commented on #3302
@browndav The situation happens with letters with accents (or other modifiers : in the case of devanagari it's vowel modifiers, but I'm assuming you're more familiar with French/Spanish accents). Basically for `é` you can encode "small e with acute accent" (one code point) or "small e" + "acute accent" (two code points) and both will render as "é".
But in comparison it might not be equal (so e.g.

[2017-04-17 12:09] #3377 closed

[2017-04-17 15:42] sglangevin commented on #3389
@alxndrsn where is this screenshot from? Needs more context.

[2017-04-17 15:51] sglangevin commented on #3369
Can someone look at this issue this week? LG will be updating soon and we'll need to resolve this before then. cc @alxndrsn @garethbowen since you are the two who have commented. I'd prefer to just fix the items listed above for now and open a new issue for creating our own theme (if we decide we want to do that).

[2017-04-17 16:05] alxndrsn commented on #3389
It's from the Chrome bookmarks bar.

[2017-04-17 16:07] alxndrsn commented on #3302
I think it's rare that we reply to an SMS with the exact same text that was sent in.  I suspect we're misunderstanding each other...

[2017-04-17 16:17] abbyad commented on #3362
Although it can be partly mitigated in configuration, it is problematic to show a notification report as valid when the intended mute/unmute action is not taken. Because of that we should:
1) make necessary change so that reports are completely processed even if outgoing messages are missing
OR
1) document that the notification messages are required in app_settings and config docs

If we chose the

[2017-04-17 16:17] sglangevin commented on #3369
https://clone-lg-kenya.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/40A1CCEC-9CEE-DEE2-AB3E-5143AC15847E/report/pregnancy

Fill in the form for pregnancy and you'll see the issue on the results page.

[2017-04-17 16:45] Lesterng commented on #3389
Here is a white favicon. It is a .png need to change to .ico
![favicon-white](https://cloud.githubusercontent.com/assets/5149601/25095894/780d7f10-2352-11e7-81c4-093a0efddb06.png)

[2017-04-17 17:29] abbyad commented on #979
I don't think we should. Any Collect user updating their forms would not get any media/data files attached to their forms.

[2017-04-17 17:30] abbyad commented on #979
Assigning to @sglangevin to schedule as needed.

[2017-04-17 17:57] #3369 closed

[2017-04-17 17:57] alxndrsn commented on #3369
Fixed on master.

[2017-04-17 17:59] alxndrsn commented on #3389
@Lesterng That one doesn't look like it'll work on a white background:
<img width="160" alt="screen shot 2017-04-17 at 19 59 16" src="https://cloud.githubusercontent.com/assets/191496/25098321/5c9f6c42-23a8-11e7-9dd6-53481983d958.png">
Ideally we need something which is good for both - it's the favicon, so we have no control over what colour background it's displayed against.

[2017-04-17 18:32] Lesterng commented on #3389
@alxndrsn Try this
![favicon-gray](https://cloud.githubusercontent.com/assets/5149601/25099522/78528f56-2361-11e7-9300-f95da15c53f0.png)

[2017-04-17 20:51] sglangevin commented on #2393
See example here: https://github.com/medic/medic-webapp/issues/2313#issuecomment-288573330

[2017-04-17 21:09] sglangevin commented on #3384
Just got a chance to check this out. It's so nice to have some information about what is happening behind the spinner! I found it confusing that it went from telling me a number of docs to displaying 100%. I'm guessing that showing a percentage progress is more work? If so, can we change from 100% to "all docs loaded, starting app" or something else so that the user knows that everything has been

[2017-04-17 23:05] garethbowen commented on #3369
LGTM

[2017-04-18 06:26] alxndrsn commented on #3384
Correct, it's impractical to calculate how many docs need to be downloaded from the server as this calculation would take almost as long as the actual download!

👍 YES WE CAN! 👍

However, because this message is displayed before the translation module is available, we _cannot_ translate this message to other languages.  I thought _100%_ would be more generally understandable than something in Engl

[2017-04-18 07:07] michaelkohn commented on #2635
@garethbowen I recognize this is still WIP... but I'm curious what the current thinking is in terms of updates that happen higher up in the hierarchy.  So if you move a `health_center` from one `district_hospital` to another or one `clinic` to a different `health_center`, those updates would cascade down and update the `parents: [ "a", "b", "c", ... "x" ]` for all `person` docs, correct?

[2017-04-18 08:31] alxndrsn opened #3390 "Webapp does not supply XML forms (XForms) to Collect"
When trying to _Get Blank Form_, `medic-collect` reports:

The issue can be recreated using curl:

[code]

->

[code]

Server side error log example:

[code]

[2017-04-18 08:33] alxndrsn commented on #3390
@marc @ngamita @henokgetachew is this expected, or should fetching XML forms over HTTP from a medic instance work from Medic Collect?

[2017-04-18 08:43] ngamita commented on #3390
This is currently expected as we don't host these forms anywhere on the instance currently but this would be a great improvement if we can have this possible to update collect forms over HTTP( from medic instance). It's currently so manual and we have to collect all phones back for partners to upload manually from a single computer.

[2017-04-18 08:54] alxndrsn commented on #3390
Good to know that the behaviour is expected!

Serving forms over HTTP would not be complicated technically.  It would require some different behaviour by Collect users though:

* have working data connection on the phone
* regularly check for form updates

[2017-04-18 09:39] garethbowen commented on #2635
@michaelkohn No, unfortunately each doc will have to hold a reference to their entire hierarchy, so a report will store the IDs for its contact, its contacts parent, grandparent, etc. This is because couchdb views cannot recursively fetch other docs. Any other field will be updated automatically however.

My recommendation is that changing a hierarchy is part of a separate api that searches for an

[2017-04-18 09:58] michaelkohn commented on #2635
Thanks @garethbowen ... so without that separate API, the `parents` array on a `data_record` would always just be a snapshot of the hierarchy at the time the `data_record` was submitted.

From what I can tell, when you transfer a CHW to a different place, the hierarchy stored on the CHW's `person` record is already getting updated properly.  This is actually more important to me than the `data_rec

[2017-04-18 11:08] SCdF commented on #3367
@estellecomment back to you. I've recommended some changes, and I've closed it because I've forked the code into medic, where it should live now we're making changes for medic (and it's no longer some dinky thing I did in my spare time): https://github.com/medic/github-issue-roulette

[2017-04-18 11:20] SCdF commented on #3350
@estellecomment added a comment to the PR. Let's discuss!

[2017-04-18 11:51] SCdF commented on #3238
I'm a bit lost with these tickets honestly. It's cool they exist, but is the purpose here to prioritise them, schedule them etc?

[2017-04-18 14:10] abbyad commented on #3390
This is actually a bug as it worked with https://github.com/medic/medic-webapp/issues/886. The only part that was never working was serving media files, as per https://github.com/medic/medic-webapp/issues/979.

[2017-04-18 14:11] alxndrsn commented on #3390
@abbyad will this block some instances from upgrading?

[2017-04-18 14:13] abbyad commented on #3390
It sounds as though it wasn't (unfortunately/fortunately) being used by tech leads... but we should confirm.

[2017-04-18 14:33] SCdF commented on #3356
NB: the `reported_date` being the same is not interesting: that value is taken from the registration documentation's date, so it would be the same even if both contacts were created minutes apart

[2017-04-18 14:59] #3350 closed

[2017-04-18 15:31] estellecomment commented on #3367
Thanks for the cleanup! Merging in the medic repo.

[2017-04-18 15:33] #3367 closed

[2017-04-18 15:41] nice-snek commented on #351
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #682
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1029
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1325
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1329
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1436
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1474
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1648
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1669
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #1769
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2048
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2090
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2169
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2309
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2317
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2321
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2324
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2375
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2437
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2480
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2497
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2541
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2558
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2608
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2628
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2677
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2820
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2821
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2852
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2882
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2954
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 15:41] nice-snek commented on #2963
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-18 16:19] SCdF opened #3391 "Not all writes to CouchDB go through the audit layer"
In my opinion (descent welcome) we should be writing via audit everywhere. For every version that has ever existed in CouchDB there should be an entry in the audit log for that version.

This does not appear to be the case. Specifically, I've noticed that when SMS come in a report is created and written to without a sister audit log being created (the first audit in this instance is from sentinel

[2017-04-18 16:22] estellecomment commented on #2324
We're not using Erlang filters any more. Closing.

[2017-04-18 16:22] #2324 closed

[2017-04-18 16:32] SCdF commented on #3356
Here is the audit log from this fateful day:

---

#### 2017-04-06T17:43:32.002Z "gardener" (aka api) creates report
 - `_rev` is `3` already.
 - Has the contact attached, as run default_responses and update_clinics transitions already, and so has the contact attached
 - This exposes a bug IMO, because we are clearly storing documents against the DB without running it through audit. This makes thi

[2017-04-18 16:39] SCdF commented on #3356
Here are some ideas for solving this:
 - Add a `created_from` field in contacts that point to the report that created them. Add a view for this field. When determining if you need to create a patient contact also check this view, and re-attach if it was lost due to a conflict
 - Pull out read statuses from the main document so they don't generate conflicts
 - Actively manage conflicts: notice conf

[2017-04-18 16:40] estellecomment commented on #1669
On mobile, when the popup menu for the Actions is open, tapping anywhere outside of it closes the menu, without navigating to anything. So it's the case for the Contacts tab, but also for any other navigation.

Looks like expect behavior to me, so I'm closing, @diannakane or @amandacilek if that sounds wrong please reopen.

[2017-04-18 16:50] estellecomment opened #3392 "Search doesn't work in Nepali or with accented characters"
On alpha.dev, with demo user (non-admin) :
![image](https://cloud.githubusercontent.com/assets/911434/25142564/9f484dba-2467-11e7-907e-17bbaec2234f.png)

![image](https://cloud.githubusercontent.com/assets/911434/25142610/dd1c763e-2467-11e7-8260-9995d57f7824.png)

Also confirmed with a random Contact in care-sindhuli, just in case my fake Nepali name was special, with `admin` user.

[2017-04-18 16:53] alxndrsn commented on #1648
I think this is the responsibility of our implementing partners.

[2017-04-18 16:53] #1648 closed

[2017-04-18 16:53] estellecomment commented on #1474
Seems like now the search doesn't work at all for non-ascii chars, whether pouch or couch. Closing in favor of #3392.

[2017-04-18 16:54] alxndrsn commented on #2090
Still broken:

<img width="1271" alt="screen shot 2017-04-18 at 18 54 03" src="https://cloud.githubusercontent.com/assets/191496/25142779/6edc86c2-2468-11e7-9071-64385d1ed966.png">

[2017-04-18 16:55] alxndrsn commented on #1769
AFAICT this dialog would only be seen by tech leads.  They should understand what it means.

[2017-04-18 16:55] #1769 closed

[2017-04-18 16:56] alxndrsn commented on #2820
No clearer picture has emerged: closing.

[2017-04-18 16:56] #2820 closed

[2017-04-18 16:59] alxndrsn commented on #1029
Closing.  Please re-open/file again when required by a specific project.

[2017-04-18 16:59] #1029 closed

[2017-04-18 17:01] alxndrsn commented on #1669
If all keypresses are blocked while a menu is displayed, it might help to grey out the rest of the screen a bit while the menu is opened.

[2017-04-18 17:02] estellecomment commented on #1325
@browndav passing this potato to you, is it still an issue?

[2017-04-18 17:40] SCdF commented on #2090
Pretty sure incognito breaks as well? IIRC this is browser-level, because incognito modes don't allow you to properly use client-side databases. It should work with admin.

Also what is the reasoning around the security tag? Private Browsing or Incognito don't provide security benefits, they basically just delete cookies and local history when you close the tab.

[2017-04-18 18:43] browndav commented on #2960
Placing in sprint. This can be difficult to debug in some cases, and I've found that VMware and snapshots is a huge speedup. If anyone picks this up, I'm happy to help get software licenses and walk through how I've been doing debugging on this module, for better or worse.

[2017-04-18 18:45] browndav commented on #2857
In sprint. Decision: Henok should be involved in this at all stages, both to assist (N.B. decreased productivity for me due to outside factors) and to maximize experience/knowledge transfer.

[2017-04-18 18:52] browndav commented on #3151
It looks like this needs two distinct steps:

- [ ] Patch concierge to add the appropriate gateway user on first run
- [ ] Backpatch existing machines by creating the account via shell script (and I have one)

[2017-04-18 18:59] browndav opened #3393 "Include a couch2pg user in standard configuration by default"
We currently generate PostgreSQL replicas, and these replicas communicate with instances by using a special CouchDB account. Currently, we're making this account manually. Patch concierge and the user backfilling script to add this account, and then check the script that backfills accounts into `git` so that other people can see/use it.

[2017-04-18 19:41] mandric commented on #3359
@garethbowen and @SCdF I know we talked about this but I was still trying to think about the downsides of using npm for this.  Is basically the only downside to keeping things separate and treating sentinel and api like any other npm module is that it makes it hard to do branching/development because you have to potentially branch multiple projects?  This was the main takeaway I can remember from

[2017-04-18 20:44] garethbowen commented on #2628
Yeah we should do this - at least clean up the import script so it doesn't happen again.

[2017-04-18 20:46] garethbowen commented on #351
This is ancient and nobody is complaining about it. Closing.

[2017-04-18 20:46] #351 closed

[2017-04-18 20:50] garethbowen commented on #1436
I haven't come across this and nobody has complained in the last 18 months. It could be specific to this phone or android version. As the unbranded app is just for developers at this point I'm going to close this issue and we can reopen if it happens again.

[2017-04-18 20:50] #1436 closed

[2017-04-18 20:54] garethbowen commented on #2541
This is a really good idea and has lots of good information so I'm going to schedule it but not prioritise it.

[2017-04-18 23:53] garethbowen opened #3394 "The user needs an associated contact to create a contact"
A recent refactor caused a regression whereby the logged in user must have an associated contact in order to create a contact. This is how filing reports works, so the resultant report can be assigned to the correct person. However there is no need for contacts to be assigned to a person so this is not required. Furthermore it creates a chicken and egg problem where the first user (root admin) can

[2017-04-18 23:56] sglangevin commented on #1329
couch2pg has been refactored a bunch since this issue was filed. Closing. @michaelkohn please re-open if this is still needed.

[2017-04-18 23:56] #1329 closed

[2017-04-19 00:03] sglangevin commented on #3384
Yeah, that's a good point. I found 100% to be odd, given that I hadn't seen a percent progress before that. I'm going to collect feedback from a few others and get back to you, but I think that using English for that would be ok as it's mostly the person initially setting up the phone who sees that message anyway and we provide an installation guide with screenshots and description of what to expe

[2017-04-19 00:14] sglangevin commented on #2963
Documentation for `sms` has been added to the readme. Closing. @abbyad please re-open if there are other sections that are still missing.

[2017-04-19 00:14] #2963 closed

[2017-04-19 00:17] sglangevin commented on #2480
This is not currently needed and the design team is planning to do a review of config pages so I'm going to close this one for now in favor of the other, more specific issues that are mentioned here.

[2017-04-19 00:17] #2480 closed

[2017-04-19 00:22] sglangevin commented on #2882
This is not a priority right now and it seems like the decision was to implement this as part of #2900. Closing in favor of #2900.

[2017-04-19 00:22] #2882 closed

[2017-04-19 01:05] garethbowen commented on #3394
Written and reviewed by @ngaruko and I in peer programming.

[2017-04-19 01:05] #3394 closed

[2017-04-19 04:14] ngaruko opened #3397 ""Next" button does not appear on click "New Person" when creating a new district...in Firefox"
Tested on Local Install
Works in Chrome but not in Firefox
Steps:
1. Deploy app (with Firefox)
2. People's tab >> Click New District on the LHS FAB
3. Fill in district name
4. Click 'New District' button
5. Expected (and happening with Chrome) >> The 'Submit' button gets hidden and next button gets visible
6. Observed: >> Submit button still there. No 'Next' button

[2017-04-19 04:15] garethbowen commented on #3397
This is when using the default generated new district form.

[2017-04-19 07:08] alxndrsn commented on #2857
Please fix https://github.com/medic/medic-webapp/issues/3387 as part of this work.

[2017-04-19 07:12] alxndrsn commented on #3384
They'll be the one seeing `123 docs…` for the longest time.  The final `100%` message will be seen by users when they re-open the app I think.  Anyway, it's not hard to change the text so just let us know when you've settled on something.

[2017-04-19 07:13] alxndrsn commented on #2090
You mean in Chrome?  I do most of my testing in Chrome private windows - thankfully it still works!

[2017-04-19 07:37] alxndrsn commented on #2090
Ref: https://github.com/pouchdb/pouchdb/issues/5641

[2017-04-19 07:51] alxndrsn commented on #2090
Looks like there are two potential workarounds for this:

1. detect firefox private browsing and use `pouchdb-adapter-localstorage` – _https://github.com/pouchdb/pouchdb/issues/4010_
2. "using PouchDB in a worker/sharedworker" – _https://github.com/pouchdb/pouchdb/issues/5641_

[2017-04-19 08:07] SCdF commented on #3359
@mandric take a look at the document: https://docs.google.com/document/d/1bUfGjviRxWRsbi_z0BXPbmqBfSXzLhPGgUsRZw6hpPs/edit then apply each of the items in the problems we are trying to solve against the theoretical npm solution. We did it on the call, and I don't want to type it all out again, but basically it didn't fix those problems, and it actually made releasing a bit more complicated because

[2017-04-19 08:56] garethbowen commented on #3373
Reopening as the underlying issue has been reopened.

[2017-04-19 10:21] SCdF commented on #3356
@abbyad what are your thoughts here? I see that managing conflicts properly is a in the Q2 goals document. Should we just leave it at that?

[2017-04-19 10:33] alxndrsn commented on #3119
This sounds like it's in-progress - relabeling.

[2017-04-19 10:44] alxndrsn commented on #3180
IMO _dummy send mode_ deals with the immediate need for tech leads to prevent old messages being sent out by a project.

[2017-04-19 10:44] #3180 closed

[2017-04-19 10:57] alxndrsn commented on #3238
Yes.

[2017-04-19 11:00] #3238 closed

[2017-04-19 11:03] alxndrsn commented on #3373
Re-closing as duplicate of https://github.com/medic/medic-webapp/issues/3381

[2017-04-19 11:03] #3373 closed

[2017-04-19 11:41] alxndrsn commented on #3341
Not so simple!!

* https://travis-ci.org/medic/medic-webapp/jobs/223508220
* https://travis-ci.org/medic/medic-webapp/jobs/223508079
* https://travis-ci.org/medic/medic-webapp/jobs/223508221
* https://travis-ci.org/medic/medic-webapp/jobs/223508080

[2017-04-19 12:04] michaelkohn commented on #1329
hi frand @sglangevin, thanks for thinking of analytics.  You are correct... the newer version of `couch2pg` doesn't rely on the form version to parse the data, and we generally hand-write our views, so I don't think this is critical from an analytics perspective.

[2017-04-19 12:46] alxndrsn commented on #3389
In the end I converted one of our PNG icons, as the supplied one is the wrong dimensions.

Here's how the new (left) and old (right) look in Chrome:

Normal:
<img width="540" alt="screen shot 2017-04-19 at 14 42 45" src="https://cloud.githubusercontent.com/assets/191496/25180526/a5af361c-250e-11e7-9536-3afc732f62bf.png">
Incognito:
<img width="532" alt="screen shot 2017-04-19 at 14 42 38" src="htt

[2017-04-19 15:27] alxndrsn commented on #3342
Turns out that fixing this will fix #3390

[2017-04-19 15:41] SCdF commented on #3391
So this is a much larger problem than I originally anticipated.

We are using `db.medic.insert` all over the place (migrations, in some transitions and transition flow, schedules etc).
We are using `db.medic.request` with the method of `PUT` or `POST`all over the show as well.
We are also using CouchDB to write SMS messages into data_records (eg [kujua-sms/updates.js:add_sms](https://github.com/me

[2017-04-19 15:54] mandric commented on #3391
Anything going direct to couchdb will be difficult to audit, unless we only expose our own service instead of couchdb. I like the changes listener solution but then it seems weird if we store every rev then why even compact?  Maybe have an audit log that stores diffs?

[2017-04-19 16:01] SCdF commented on #3391
@mandric yeah I definitely like the idea of it storing diffs!

We currently store the full versions. The reason why we do it when we also compact is two things:
 - now that it's in its own db audit it shouldn't affect main db performance
 - Most importantly, compact is one command away, and you can't stop admins from performing it (and in the past as well as today we still require real CouchDB adm

[2017-04-19 16:05] SCdF commented on #3391
Oh whoops! So the other main reason we have audit instead of trusting compaction is that audit gives us who wrote it and when.

Which the `_changes` solution can't actually do (it could approximate when, but you've lost the who).

Nevermind, that one's out.

[2017-04-19 17:21] alxndrsn commented on #3342
Would be nice to preserve URLs like http://localhost:5988/medic/_design/medic/_rewrite/#/reports/add/pregnancy, instead of http://localhost:5988/medic/_design/medic/_rewrite/#/reports/add/form:pregnancy

[2017-04-19 17:33] alxndrsn opened #3399 "NEXT button on enketo forms is available even when it doesn't do anything"
# Observed behaviour

When validation has failed for a page, the _Next >_ button still looks clickable:

<img width="311" alt="screen shot 2017-04-19 at 19 29 16" src="https://cloud.githubusercontent.com/assets/191496/25193221/a30d82ba-2536-11e7-9fb1-2bed63d6cc76.png">

# Expected behaviour

Some visual clue should be given that we cannot proceed to the next page, e.g. button could be grey

[2017-04-19 17:40] alxndrsn commented on #3390
N.B. this may require a migration to match old reports to new form IDs

[2017-04-19 20:52] garethbowen commented on #3373
Sorry!

[2017-04-19 21:00] garethbowen commented on #3389
How did you generate the ico? How many sizes of icons are included? How does it look when you make a shortcut say on the desktop (IIRC this uses the favicon)? Have you tested on android? Can we just copy the one from medicmobile.org?

I can help with this testing next week when I'm back home if you like.

[2017-04-19 21:06] garethbowen commented on #3391
@SCdF Doesn't couchdb-audit already wrap nano and do auditing? The problem in sentinel is we maintain both wrapped (`audit`) and unwrapped (`db`) versions which leaves developers with a choice. In retrospect I think we should only pass around `audit` and treat it as a full db, but that may require more complete wrapping. We really need a [proxy](https://developer.mozilla.org/en/docs/Web/JavaScript

[2017-04-19 21:29] alxndrsn commented on #3389
It's only 48x48.  I assumed from the name that this was all we were using.  My mistake!

Pass.  That may or may not come from the PNGs.

No.

That favicon has exactly the same problem.

That would be really helpful - I may have time to regenerate tomorrow with 16, 32 and as-big-as-possible; I assume it's reasonable to use the pngs for this.

[2017-04-19 21:38] garethbowen commented on #3389
Yeah don't worry about IE support.

[2017-04-19 22:00] alxndrsn commented on #3389
I meant: I assume it's reasonable to use the PNGs for generating the `.ico`.  But I see these can also be generated from an SVG.

Looking at the PNGs vs what I see in Chrome, I suspect the whole favicon declaration is broken.

[2017-04-19 22:11] mandric commented on #3019
WIP https://github.com/medic/medic-docs/blob/ddoc-refactor/rfcs/ddoc-refactor.md

[2017-04-19 23:09] sglangevin commented on #2912
Seems like this one is pretty much ready to be implemented. It's something that LG has been waiting on for quite some time and is also needed for death reporting, which is being done in our community based disease surveillance project in Uganda. Sometimes we will have CHWs reporting deaths of people who were not previously registered, so ideally they could create the person and report the death fr

[2017-04-20 07:42] estellecomment opened #3400 "`/api/v1/messages` returns messages twice"
`/api/v1/messages` returns each message returned twice.

That's because the [`tasks_messages` view emits twice per message](https://github.com/medic/medic-webapp/blob/master/lib/views.js#L439), once to emit the message id and once to emit the message state. Which is because we use the view to query messages both by id and by state.

So for an unfiltered query, we return all view results, which out

[2017-04-20 08:28] SCdF commented on #3391
@garethbowen yeah it does, I meant transparently wrap, so you don't have to go out of your way to use it. Not sure if there is a better word, I guess proxy, based on your link?

But yeah you're correct, you can use `audit` to save a doc with audit if you want, but the normal non-audited one is available to use, has a more complete api, more natural etc.

Will read about proxies, sounds like it wou

[2017-04-20 10:09] alxndrsn commented on #3389
Incumbent `.ico` is only 48x48 too:

https://realfavicongenerator.net/favicon_checker?protocol=https&site=alpha.dev.medicmobile.org

medicomobile.org is slightly worse, but not much different:

https://realfavicongenerator.net/favicon_checker?protocol=http&site=www.medicmobile.org

[2017-04-20 10:18] #3389 closed

[2017-04-20 10:18] alxndrsn commented on #3389
Looks like the new `.ico` has all the problems of the old one, except for the transparent background.  So I guess it's an improvement!

[2017-04-20 10:48] alxndrsn commented on #3391
IMO the only way to reliably achieve this auditing is to put a proxy between couch and all services that we want to audit (api, sentinel, concierge).  This proxy should then log mutating requests made, and their results.

How the logging itself could be best achieved will come down to the reasons for doing this logging, and how much time we have to devote to implementing it.

If we only envisage u

[2017-04-20 13:48] SCdF commented on #3257
Cool! If you set the same couchdb secret it looks like you can share cookies:

[code]

[2017-04-20 14:56] SCdF commented on #3257
@browndav so what do you think about this rough plan:
 - Partner X has old server running old api, old sentinel, couchdb1.6
 - We create new server that is contains new api, new sentinel, couchdb2.0
 - Only CouchDB 2.0 should be running, don't want new api and new sentinel running right now
 - Get the secret from 1.6 and put it into 2.0 (see above)
 - Setup a continual replication between CouchDB1

[2017-04-20 15:00] SCdF commented on #3257
Oh, to be clear about where this will leave different users:
 - Analytics: would face migration-time down, plus would have to have their stored seq dropped and started again
 - Internet users: would face migration-time down, would not have to log in again
 - Restricted users: would not be able to replicate up or down while the migration was happening, would not have to log in again

And of course,

[2017-04-20 15:21] browndav commented on #3257
This sounds right to me, thanks for putting it together. Just to make sure I'm understanding this correctly: does the safety of this approach depend upon the fact that neither API nor Sentinel are running on the destination CouchDB 2.x instance (i.e. no writes other than replication are occurring)?

[2017-04-20 15:21] SCdF commented on #2677
@garethbowen can you provide some insight here? Or just close it.

[2017-04-20 15:25] browndav commented on #3257
One other note (and we can actually build a checklist for this, so no big deal): we can actually swap Elastic IPs to avoid any DNS TTL issues. Not a huge win, but still decreased downtime.

[2017-04-20 15:48] SCdF commented on #3257
I honestly don't know. At least for API you'd need to wait until you had all the data to upgrade to the newer api and have all the migrations run.

Apart from that, there is simply no need for them to be running at this stage, so better safe than sorry.

[2017-04-20 15:55] SCdF commented on #2169
I'm sure this is covered with design's tickets already.

[2017-04-20 15:55] #2169 closed

[2017-04-20 18:36] sglangevin commented on #3257
Thanks @SCdF for putting this together! Partners will be VERY thankful if we can make this work.

[2017-04-20 21:52] sglangevin opened #3401 "Cannot report via SMS about people who are registered in the web app"
To reproduce:
1. Log into https://clone-barefoot.app.medicmobile.org
2. Click on Arthur's Area
3. Create a new person in that area in the web app. Sentinel will add a patient ID to this person and it will appear in the person's profile.
4. Go to Medic Reporter. Be sure to use Arthur's phone number as the "from" number. His number can be found here: https://clone-barefoot.app.medicmobile.org/medic/

[2017-04-21 00:18] abbyad commented on #3356
Thanks for the detailed analysis! Seems as though option 1 could be useful regardless, so if that is a "quick" solution it may be worthwhile in case conflict management isn't done until much later. We can see with @sglangevin how this fits with Q2 priorities.

[2017-04-21 09:13] michaelkohn commented on #2780
Thanks @SCdF .  @derickl And I will test this and hopefully upgrade on rdbms Monday.

[2017-04-21 14:59] SCdF opened #3403 "Use sinon.sandbox"
`sinon.sandbox` is the correct tool for restoring lots of stubs. See: http://sinonjs.org/releases/v2.1.0/sandbox/

Currently we have a bunch of utils where you manually pass each stub that you think has changed. This is not only not necessary, but is not as foolproof as using a sandbox, because with a sandbox you don't have to know what things may or may not have been stubbed.

[2017-04-21 15:00] SCdF commented on #3403
So far:
 - https://github.com/medic/medic-sentinel/pull/128
 - https://github.com/medic/medic-api/pull/144

[2017-04-21 18:02] SCdF commented on #3403
Hey @alxndrsn could you review the two PRs linked above?

Still doing webapp. Digging into how sandboxes really work, because of how we use sinon in webapp I'm not sure we need either sandboxes *or* our utils in a lot of instances.

[2017-04-21 19:17] sglangevin opened #3404 "Allow users to enter Bikram Sambat dates in Enketo forms in the web app"
The date widget available in Enketo currently supports only the Gregorian calendar. In order to support facility-based users in our Nepal deployments, nurses using the web app need to be able to enter dates using the Bikram Sambat calendar. Make it possible for Enketo forms to display a widget that allows Bikram Sambat date entry.

cc @ranjuts @bishwas-medic

[2017-04-21 20:42] mandric commented on #3019
(note to self: sorry force pushes with issues linked can be noisy)

[2017-04-21 21:16] sglangevin opened #3405 "Allow users to enter Bikram Sambat dates into Medic Collect forms"
CHWs in Nepal who are using Medic Collect need to be able to enter dates in the local calendar. Currently, Medic Collect only supports the Gregorian calendar. Make it possible for CHWs to enter Bikram Sambat dates. This is needed for our Nepal deployments.

cc @ranjuts @bishwas-medic

Related: #3404

[2017-04-22 13:14] estellecomment commented on #3073
Done

Done

Wait for it...

[2017-04-22 13:57] estellecomment commented on #3073
Ok, so the timeline above, and what we currently have in documentation, is wrong. This is *what actually currently happens* (before the changes in this issue/branch) for WO messages :

Note : Gateway only sends a status update for a message only if the "needs forwarding" flag for the message status is true, and then sets it back to false. So it only sends status updates once.

Event | webapp state

[2017-04-22 14:00] estellecomment commented on #3073
Extra note : If api sends the same WO message again, then gateway sets its `needs forwarding` flag to `true`, and so sends the status at the next poll.

So if line `1` above happens twice for some reason, then at the next poll gateway will share UNSENT, which will set webapp state to `received-by-gateway`.

[2017-04-22 14:15] estellecomment opened #3407 "Doc for gateway<->api SMS protocol is wrong"
That's not what the code does.

Discovered when working on #3073 .

[2017-04-22 14:18] estellecomment commented on #3407
@alxndrsn please review : https://github.com/medic/medic-docs/pull/15

(cc @garethbowen )

[2017-04-22 14:24] estellecomment opened #3408 "SMS protocol : avoid sending new WO twice"
From #3073 :
Modify medic-gateway to call medic-api and change the status of received messages to received-by-gateway after they have been successfully written to the database. This will stop them being sent again next query and reduce the bandwidth requirements.

This will avoid step 4 in [the current protocol](https://github.com/medic/medic-docs/blob/e4483cbae3b619f1db8f1990f43cd25905e7b09d/user

[2017-04-22 14:58] estellecomment commented on #3073
Splitting off to another issue (#3408), since it can be done independently :

So it's all done! 🎆

@garethbowen please review :
api : https://github.com/medic/medic-api/pull/145
webapp : https://github.com/medic/medic-webapp/pull/3406
docs : https://github.com/medic/medic-docs/pull/16

[2017-04-23 20:09] garethbowen commented on #2677
@SCdF medic-reporter is currently using a couchapp builder called erica, which is even worse than kanso (eg: we've committed the erica binary because it's so hard to find/build now). Initially I'd hoped it would be a quick change to switch it out for kanso which would make it easier to deploy beside medic-webapp but that turned out not to be the case. Now that we're dropping kanso medic-reporter s

[2017-04-23 20:13] garethbowen commented on #3407
@estellecomment That `forwarded-to-gateway` status in the documentation was added prematurely - that's what I expect you're adding in #3073. Happy for you to remove that but remember to add it back when you're done.

[2017-04-23 21:15] garethbowen commented on #3073
Nice one! One regression with the view, but otherwise looks all good to me.

[2017-04-24 06:58] estellecomment commented on #3407
yup @garethbowen I have a medic-docs PR along with my code changes for #3073.

[2017-04-24 07:32] estellecomment commented on #3303
Closing until I resurrect this in a very hypothetical future. Work is saved in my repo https://github.com/estellecomment/medic-webapp/tree/1789-aux-armes-citoyens

[2017-04-24 07:32] #3303 closed

[2017-04-24 12:16] bishwas-medic commented on #3070
Did a quick check with the ANC widgets in a clone instance running v2.11.0-alpha. I can confirm that the issues still persists. Here are few issues that I could verify:

- The Active Pregnancies number is way off.
- The Monthly Pregnancies Registered chart is showing very low numbers than actual numbers
- The Total Births number is higher than actual numbers
- The Visits Completed During Pregnancy

[2017-04-24 15:22] estellecomment opened #3409 "grunt api_e2e won't run several times in a row"
Running `grunt api_e2e` from the webapp root `Gruntfile` works (provided `http://admin:pass@localhost:5984/medic-test`) once, but on second run it fails because the fixtures set up for the previous run haven't been torn down properly.

Tear down fixtures properly.

[2017-04-24 15:53] estellecomment commented on #3409
@alxndrsn please review :
api : https://github.com/medic/medic-api/pull/146
webapp : https://github.com/medic/medic-webapp/pull/3410

[2017-04-24 16:27] estellecomment commented on #3073
The sorting by date is tricky when you want to also filter by more than one state.
AFACIT you can't query `[<’pending’ || ‘forwarded’> , <any date>]`

Options are :
 - index by pairs of states, and query `['pendingorforwarded', {}]` -> lots of emitting, crazy big view, don't like this
 - query once for `['pending', {}]` and a second time for `['forwarded', {}]`, and merge on client -> queries are

[2017-04-24 18:58] abbyad opened #3411 "`User Type` in user creation should be required"
If the user type is omitted during user creation the user gets redirected to the error page when logging in. In console it shows `Error: No tabs available`. Simplest fix is to make the User Type field required in the UI.

[2017-04-24 19:08] sglangevin opened #3412 "Make it possible for CHWs to receive SMS notifications when a nurse confirms a visit or delivery via SMS"
Currently, when an SMS report is received, the contact information, including the hierarchy of the person who sent the report, is attached. This allows for sending of auto-replies and schedules to the sender and anyone above them in the hierarchy. This works well when the CHW is sending in all of the reports because they can get scheduled messages.

However, we have many nurses in our projects who

[2017-04-24 19:12] sglangevin opened #3413 "Make information from the contact-summary available as input to forms"
Now that we can configure the contact-summary, we're able to display a lot of really useful information in a patient's profile related to the care that has been provided to them in the past. We'd like to extend this feature so that the information that is being calculated in the contact-summary.js file can be made available as input to forms (or we could add a new object to contact-summary that co

[2017-04-24 19:14] sglangevin opened #3414 "Make the patient ID or UUID on the Reports tab a hyperlink"
There is currently no way to get back to a patient's contact profile from the Reports/History tab. All reports have a patient_id or uuid. If this field is visible, make it a hyperlink to the patient's contact profile.

[2017-04-24 19:56] sglangevin opened #3415 "Show person and place creation forms in the Reports tab"
Now that we have person creation via SMS, that form shows up in the Reports tab. If a person or place is created with an xform, however, there is no easy way to see which people or places were created recently. Display all person and place creation forms in the Reports tab so that a CHW or Nurse can easily review people they have recently registered and places they have recently created.

[2017-04-24 20:00] sglangevin opened #3416 "Trigger an SMS to be sent when multiple reports that meet certain conditions are sent in from the same community"
The Community Based Disease Surveillance (CBDS) use case includes a variety of SMS alerts that go out to specific people in the health system who are responsible for monitoring and responding to any potential outbreaks. Most of these alerts are triggered by one report of a certain set of symptoms. In a few cases, the SMS needs to be triggered when a certain threshold of reports with a certain set

[2017-04-24 20:45] sglangevin commented on #3070
@bishwas-medic please test the filtering issue as well and feedback on whether or not that is working. Which project were you testing on the cloned instance?

[2017-04-24 22:05] abbyad commented on #2437
Closing, but we can consider this as part of our tests of configurations.

[2017-04-24 22:05] #2437 closed

[2017-04-24 22:06] abbyad commented on #2375
@garethbowen, what do you think about this one? Close?

[2017-04-24 22:07] abbyad commented on #2321
@SCdF, is this still relevant?

[2017-04-25 07:03] SCdF commented on #3411
NB: https://github.com/medic/medic-webapp/issues/2222 would also help here.

[2017-04-25 08:23] garethbowen commented on #2375
@abbyad Nah I think schedule it - at least we can fix it for the `medic` ddoc which is only ever used in couchdb land so the pouchdb hack isn't needed.

[2017-04-25 09:42] SCdF commented on #2677
Closing this. Once we've made a move with webapp we can look at it again, but since we don't mess with it much it's not causing direct pain atm.

[2017-04-25 09:42] #2677 closed

[2017-04-25 10:52] SCdF commented on #2497
It was easier to just re-read the readme and fix it where necessary.

Lucene is optional, but I'd argue sentinel is now required since we need system transitions to run, so all that needed to be changed was the lucene section.

[2017-04-25 10:53] SCdF commented on #2497
@estellecomment please take a look at some minor readme changes: https://github.com/medic/medic-webapp/pull/3417

[2017-04-25 11:04] SCdF commented on #682
Wow this is old.

@sglangevin / @diannakane do you two have thoughts here? I would argue that if mark as read is an important feature to have (and equally, the badge showing how many unread you have), mark all as read would be equally important? Mark as read is about managing an inbox after all, being able to attain inbox zero is an important strategy for some.

[2017-04-25 11:28] estellecomment commented on #3409
@alxndrsn re-review?

[2017-04-25 11:32] #2497 closed

[2017-04-25 13:43] SCdF commented on #2321
I'll take a 10 minute look in the next day or two, and either do it or just close it. I don't think it's a big deal either way.

[2017-04-25 13:46] estellecomment commented on #3073
@garethbowen can you re-review? Added sorting.
Same PRs :
api : medic/medic-api#145
webapp : #3406

e2e testing exposed that timestamps are sometimes ISO strings, sometimes number of millis, so the sorting was messing up... Yay testing!

[2017-04-25 14:01] abbyad commented on #3394
Just discovered that admins cannot create contacts even with a contact set in 2.11.0. We should test if this is resolved as part of this fix.

[2017-04-25 14:22] sglangevin commented on #3394
Working well for admin and full access users.

[2017-04-25 21:26] garethbowen commented on #3073
Some comments on the API PR.

[2017-04-25 22:20] garethbowen commented on #3393
Follow-up to medic/medic-projects#1779

[2017-04-25 22:21] garethbowen commented on #3333
Duplicate of #3393

[2017-04-25 22:21] #3333 closed

[2017-04-25 22:22] garethbowen commented on #3393
Related: #3151 - these should probably be done at the same time.

[2017-04-25 22:23] garethbowen commented on #3173
Nothing's happening here - moving to AT.

[2017-04-25 22:23] #3173 closed

[2017-04-25 22:24] garethbowen commented on #3110
@browndav This has been hanging around for ages and from what I hear we've finished testing and are on to actual upgrading. Can this be closed?

[2017-04-25 22:24] garethbowen commented on #3022
Not a priority - leaving scheduled but kicking out of the iteration.

[2017-04-25 22:26] garethbowen commented on #1889
Clearly not a priority. Descheduling.

[2017-04-25 22:26] garethbowen commented on #667
We'll need this eventually but shouldn't be in the milestone.

[2017-04-26 00:53] abbyad commented on #3401
Just noting that even though the `registration_not_found` error is given, the form is associated to the contact:
![image](https://cloud.githubusercontent.com/assets/789512/25413492/c735b54c-29f8-11e7-91fd-f8bd291b36ca.png)

[2017-04-26 00:57] abbyad opened #3418 "Some labels are not being translated"
On 2.11.0 some translation labels are not showing even though they are on the instance.

![image](https://cloud.githubusercontent.com/assets/789512/25413571/513a9cc6-29f9-11e7-82ea-4f7286036996.png)

[2017-04-26 01:15] garethbowen commented on #3418
@abbyad Can you link to an example? Anything in the sentinel log?

[2017-04-26 05:46] nice-snek commented on #651
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1028
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1058
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1093
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1479
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1526
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1876
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1898
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1978
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #1987
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2023
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2031
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2112
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2152
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2224
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2310
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2320
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2498
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2504
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2526
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2605
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2627
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2669
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2676
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2686
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2825
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2994
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #2996
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #3018
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #3044
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #3057
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 05:46] nice-snek commented on #3067
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint. :parrot_conga::parrot_conga::parrot_conga:

[2017-04-26 06:51] estellecomment commented on #3073
FIxed!
@garethbowen some of your comments about `constants.js` and `utils.js` didn't apply, because this is api e2e tests, not webapp e2e tests :) But I refactored stuff into the `utils.js` so it's equivalent to what you were suggesting.
Merging, TFTR!

[2017-04-26 08:43] estellecomment commented on #3409
Thanks!

[2017-04-26 08:43] #3409 closed

[2017-04-26 08:44] #3073 closed

[2017-04-26 09:31] #1028 closed

[2017-04-26 09:32] alxndrsn commented on #3044
@ngaruko please confirm if this is worth fixing

[2017-04-26 09:43] alxndrsn commented on #2676
Sounds worthy, but doesn't look like it's happening.  Also I don't think this code is likely to change.

[2017-04-26 09:43] #2676 closed

[2017-04-26 10:10] garethbowen commented on #2310
Closing as this hasn't been touched in months. We can reopen when there's a need to expose it in the UI.

[2017-04-26 10:10] #2310 closed

[2017-04-26 10:11] garethbowen commented on #2023
I think this has been resolved with the contact UI rework. If it turns up in further interviews raise a medic-design issue and we can take it from there.

[2017-04-26 10:11] #2023 closed

[2017-04-26 10:13] garethbowen commented on #1898
Resolved by #3230

[2017-04-26 10:13] #1898 closed

[2017-04-26 10:19] henokgetachew commented on #3253
The standard contact forms have fixed the hierarchy issue.

[2017-04-26 10:19] #3253 closed

[2017-04-26 10:21] garethbowen commented on #2678
This will probably go away (or at least be much easier) with #3019

[2017-04-26 10:26] garethbowen commented on #2273
This is probably a duplicate of [one of many similar issues](https://github.com/medic/medic-webapp/issues?q=is%3Aissue+Can%27t+set+headers+after+they+are+sent+is%3Aclosed) but regardless without more logs and without it being reproduced in a year we aren't going to be able to track it down.

[2017-04-26 10:26] #2273 closed

[2017-04-26 10:28] garethbowen commented on #1479
This looks like a known issue and unfortunately it's not an easy fix. Updating other information such as [phone numbers](#638), response messages, schedules, etc also don't update previously generated messages. The correct fix is to change message generation to just in time which is a significant effort. Scheduling because we know it's a big deal, we just don't know how to fix it yet.

[2017-04-26 12:01] estellecomment commented on #3407
Changes already checked in as part of #3073 .

[2017-04-26 12:01] #3407 closed

[2017-04-26 12:14] estellecomment commented on #3418
Example: https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0ba96f94b93899b06a4136ab5c36fd3e

`messages.generic.registration_not_found` is not being translated, and not printing a console error about `Missing translation`.
(there are other form labels that aren't translated and that are printing that error, I'm ignoring them.)

[2017-04-26 12:18] abbyad commented on #3418
Others on that page that are not translating despite having translations in instance: `schedule.anc_lmp`, `messages.generic.registration_not_found`, `selection.report.content.raw`

[2017-04-26 12:25] estellecomment commented on #3418
Node version is v6.9.5, getting `This node version may not be supported`, don't know if it's related yet

[2017-04-26 13:11] SCdF commented on #3418
@estellecomment the "official" node version we support is 6.10. This is declared because it's what we test for in travis. In terms of there being changes, there aren't any feature changes between 6.9.5 and 6.10 that I'm aware of, see: http://node.green/ . However, I haven't looked at a changelog between those two versions.

Regardless though, I would say it's unlikely they are related.

[2017-04-26 13:12] abbyad commented on #3401
One difference between a person created by app vs SMS is that the ones created by SMS show up in the `registered_patients` view, which is used [here](https://github.com/medic/medic-sentinel/blob/b1d97da65475494f70d1f521e925f611ae7675b4/lib/utils.js#L383).

[2017-04-26 16:34] estellecomment commented on #3418
**For `messages.generic.registration_not_found` non-translation :**
It seems to be happening only [in the case described in](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0ba96f94b93899b06a4136ab5c39b416) #3401.
[In normal cases](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0ba96f94b93899b06a4136ab5c39ae98), the translation is fine.
Note

[2017-04-26 16:40] SCdF commented on #3401
Yeah that'll do it. That view is a bit of a weird one. Most code should instead use the `patient_by_patient_shortcode` view. I'll put together a PR fixing this.

[2017-04-26 16:42] estellecomment commented on #3418
`selection.report.content.raw` is missing in `message-en.properties` that I got from the db on standard.app. I just added it through the UI, that fixed it. @abbyad You probably want to add it in standard package.

[2017-04-26 16:46] estellecomment commented on #3418
`schedule.anc_lmp` is displaying fine as "ANC Reminders LMP" for me.
And that seems to be it for translations.

Setting this as Blocked by #3401, for `messages.generic.registration_not_found`. @abbyad let me know if you see other ones.

[2017-04-26 16:47] SCdF commented on #3418
@estellecomment why do you think this is blocked by #3401?

[2017-04-26 16:49] estellecomment commented on #3418
See comment above : it's only happening in that case.
I'm not sure it's causing it, but would like to see what comes out of it before I launch into it...
https://github.com/medic/medic-webapp/issues/3418#issuecomment-297468435

[2017-04-26 17:08] SCdF commented on #3401
Actually this is correct.

The new thing is that you can have patients that are not created as a result of a registration.

The current code is trying to match patient ids to registrations to work out what registrations it can potentially silence. I guess we just want to change this so that it's OK if it doesn't match a known registration, as long as it matches a known patient_id generally.

[2017-04-26 17:23] SCdF commented on #3401
First stab at a PR: https://github.com/medic/medic-sentinel/pull/129

@estellecomment can you take a look at this one?

I'd like to merge into and bump sentinel so I this change can get into alpha.

I'm not able to fully test this kind of thing locally. I need to get some time with @abbyad to go through that, but for now it would be good to get this into a place where it can be tried on alpha.

[2017-04-26 17:24] SCdF commented on #3401
(still active because I haven't tested it basically at all. I'll get setup and do that before closing)

[2017-04-26 17:27] SCdF commented on #3401
TODO: we should also change the "registration_not_found" message to "patient_not_found", because I think in all (certainly nearly all) cases that's what we really mean

[2017-04-26 17:45] sglangevin commented on #1526
@garethbowen is this one still relevant? If so, I'd say we could mark as scheduled and save for later - I'm assuming it's on the prioritized list of tech debt somewhere.

[2017-04-26 17:50] sglangevin commented on #1058
@mandric looks like this one was completed a long time ago and the only thing missing was a test. I'm closing this issue. Please open a new issue for the test if it's still needed.

[2017-04-26 17:50] #1058 closed

[2017-04-26 17:57] estellecomment opened #3419 "{{patient_name}} not found when patient was created by xform"
Reproduce :
 - create patient through webapp UI (not SMS), and watch it get a patient ID
 - submit a report about patient by SMS (e.g. new pregnancy)
- The patient is found, but the {{patient_name}} in the generated messages is blank.

See below, should be
`Thank you for registering the pregnancy for {{patient_name}} ({{patient_id}}) ...`
`Did {{patient_name}} attend her ANC visit? When she does .

[2017-04-26 17:58] estellecomment commented on #3419
Both created `person` docs have a `name` field so that's not it... Maybe related to fetching the `{{patient_name}}` through registrations, and not finding a registration since the patient was not created by SMS.

[2017-04-26 17:59] estellecomment commented on #3418
Solved by #3401 locally. Closing, please reopen if you see it again.

[2017-04-26 17:59] #3418 closed

[2017-04-26 18:05] abbyad commented on #3419
That almost certainly it, because you were only able to access info from the registration, not all the info from the person's doc.

[2017-04-26 18:11] sglangevin commented on #3419
Since every person has a `person` doc, regardless of how they were created (by SMS using the N form or using an xform in the web app), seems like the ideal thing to do would be to fetch any information directly from the `person` doc. I'm guessing that isn't a quick fix, though.

[2017-04-26 18:32] SCdF commented on #3419
I'm not clear about the forms that you're using, but it shouldn't need to find a registration, since what you're actually doing here is creating a registration (a pregnancy *is* a registration, unless I've misunderstood).

[2017-04-26 18:49] SCdF commented on #3418
To be clear if people read this in the future: #3401 did not solve anything to do with translations. Instead, the particular situation that caused that code to attempt to add that translation is not being called.

[2017-04-26 19:51] abbyad commented on #3419
It doesn't need the registration per se, but does need patient info which was previously obtained from the registration report.

[2017-04-26 20:21] garethbowen commented on #1526
It's a nice to have. It's certainly not blocking us and would be far down the technical debt priority list I imagine. I vote we close for now, but I'll leave if for you to judge.

[2017-04-26 23:16] abbyad opened #3420 "Error when adding Place with new person"
Getting 409 when creating places with a new primary contact on 2.11.0.

[code]

To reproduce create a new district or health center, and for "Set the Primary Contact" choose "Create a new person" then complete the form.

Despite the error the place seems to be created properly, **but the person does not have the parent set, and the place doesn't show in the LHS until refresh**

[2017-04-26 23:58] mandric commented on #1028
We added a view for this but I'm not really sure how it's used. https://github.com/medic/medic-webapp/blob/master/packages/kujua-sms/kujua-sms/rewrites.js#L49

[2017-04-27 00:17] mandric commented on #1058
Looks good, tests are there in the PR.

[2017-04-27 00:21] mandric commented on #2112
@estelle @marc pretty sure nobody manages their settings via dashboard anymore or expects it to work properly so we can close this?

[2017-04-27 00:26] mandric commented on #2605
I think this is a valid bug.

[2017-04-27 00:31] mandric commented on #2994
Still a bug.

[2017-04-27 00:33] mandric commented on #1876
ddoc build refactor is related: #3019.  I will look at this too.

[2017-04-27 00:42] mandric opened #3421 "minor medic-api startup tweaks"
If we still support CouchDB 1 on medic-api, can we  set a default for `COUCH_NODE_NAME` since it doesn't mean anything?

Also do we really need an error message for nodejs < 6.10 (e.g. 6.9)?  I also wince at "may not be supported" can we make it supported or not supported?  Can we just have a minimal travis test env run against 6.0.x and latest nodejs?

[code]

[2017-04-27 01:07] abbyad commented on #3420
Perhaps due to the person's MM ID being added while the parent field is also added?

[2017-04-27 01:26] alxndrsn commented on #3342
@abbyad when uploading an XForm, do you ever set the `internalId` of a form different to the doc ID (minus the `form:` prefix? I'm thinking of mandating that they match in the upload script.

[2017-04-27 01:41] abbyad commented on #3356
Just noting that had this occur again on a 2.11.0 instance:
- [doc 1](https://clone-barefoot.app.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/2403111f9f4bdee781b8dcf37116fe62)
- [doc 2](https://clone-barefoot.app.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/2403111f9f4bdee781b8dcf37116f548) - _which I have since moved to another place because it looked bad in my demo_

[2017-04-27 01:41] ngaruko commented on #821
Does this issue need any AT @browndav @mandric ?

[2017-04-27 01:56] abbyad commented on #3420
Was not able to reproduce this issue when creating people as a restricted user. This would make sense with the theory that the conflict is due to MM ID because with restricted users the person is created in pouchdb first.

[2017-04-27 02:06] garethbowen commented on #2112
@mandric My understanding is actually surprisingly many people still use dashboard app settings.

[2017-04-27 08:19] estellecomment opened #3422 "`i18n` and `utils.translate` are doing the same thing, in sentinel"
[i18n.js](https://github.com/medic/medic-sentinel/blob/master/i18n.js) is only used in one spot, for reminders. AFAICT it does the same thing as [utils.translate](https://github.com/medic/medic-sentinel/blob/master/lib/utils.js#L415) which is used everywhere else.

Remove i18n.js.

[2017-04-27 08:31] SCdF commented on #3421
Sure, if you can find a default you think is good. I quickly looked and couldn't fine one.

Sure. I added that notice precisely because we are *not* testing on 6.0.x, but on 6.10.x. If we, as a team, want to agree to lower the version on travis we can definitely do that.

[2017-04-27 08:32] SCdF commented on #3421
Also, why is this marked scheduled?

[2017-04-27 08:37] SCdF commented on #3420
@abbyad I'm looking at fixing issues around this today.

The problem is that sentinel transition metadata is stored directly on the document, so if the app ever tries to write a doc and then write that doc again, and the first write was valid for transition processing, we can get conflicts.

I'm partially fixing this by moving transition metadata out of the document. However, this is similar to #3

[2017-04-27 08:42] SCdF opened #3423 "Pull sentinel data out into its own database"
This should reduce writes to documents, causing less conflicts.

[2017-04-27 10:32] SCdF commented on #3420
Actually I don't think I'm going to fix this today actually, since you did it in 2.11.0 and 2.11.0 doesn't actually have the code I'm fixing in it.

I'll have to look into this specifically, but I think this will be the same as #3356: until we put a plan into action for dealing with conflicts we will keep finding situations like this

[2017-04-27 10:34] SCdF opened #3424 "Stop maintain_info_doc transition from writing sentinel metadata"
The maintain_info_doc transition does not change the document (it changes its own doc) and so it shouldn't return true to the sentinel transition framework, and so transition metadata shouldn't be written.

[2017-04-27 10:35] SCdF commented on #3424
Please review @estellecomment : https://github.com/medic/medic-sentinel/pull/130

[2017-04-27 11:29] SCdF commented on #3423
Dropping it out of milestone because I don't think this actually in itself reduces conflicts, though it is still something I'd like us to do.

---

Hey @mandric when you're around can we chat about this. I'd like to understand the thought process behind this metadata, and what it's for.

Questions:
 - The sentinel framework creates the metadata, but only if the individual transitions make changes

[2017-04-27 11:33] SCdF commented on #3257
TODO:
 - [ ] Test this from start to finish with a restricted user to make sure they keep their session

[2017-04-27 11:54] estellecomment commented on #3424
cool!
One suggestion for the comment, otherwise go ahead and merge.

[2017-04-27 11:58] #3424 closed

[2017-04-27 12:07] abbyad commented on #2112
Although it is possible that some people use the GUI, I dont think that we need to improve it right now. We are currently reviewing our config processes and I haven't yet seen a case for making the edits in dashboard. The app's configuration pages are sufficient for users that need a UI, and tech leads are trained to use our scripts with JSON files to update app_settings. Although it is handy to o

[2017-04-27 12:46] SCdF commented on #2112
Agree. I think in general big bucket issues are far too easy to constantly put off, and this one is no different. Closing,

[2017-04-27 12:46] #2112 closed

[2017-04-27 12:47] SCdF commented on #2152
In general mocking dates at a system level is really challenging, and even more so in Javascript.

I think if there is someone who is testing around this and finds it challenging, that would be the time to look into fixing it.

[2017-04-27 12:47] #2152 closed

[2017-04-27 12:48] SCdF commented on #2320
Sounds like a lot more work than the gain you'd get.

[2017-04-27 12:48] #2320 closed

[2017-04-27 13:10] SCdF commented on #2686
It sounds like dashboard-based configuration is, if not deprecated, relegated to minor edits only these days. I think we can close this for now. I imagine the next piece of work we'll be doing on this area will either be deleting it completely, or making such a massive change this will get solved in the process.

[2017-04-27 13:10] #2686 closed

[2017-04-27 13:20] estellecomment opened #3425 "Delete or deprecate unused sentinel transitions"
Currently most projects are being migrated to v2, and when that's done the configs will contain exactly which transitions are used.

Wait until migration is done, then use [this script](https://github.com/medic/medic-projects/blob/master/scripts/transitions_counter.js) to survey usage, and then delete unused transitions if they exist.

[2017-04-27 13:50] SCdF commented on #1838
This is no longer remotely true. We are getting them quite a lot. The classic problem is: Someone creates a report which has transitions that will run against it, and attempts to make a write to it while the transition framework attempts to run transitions against it.

An obvious example of this is marking a document as read.

However, this comes up a lot, I believe in our own code (ie we write so

[2017-04-27 14:01] SCdF commented on #3423
Re-scheduling this because I managed to dupe https://github.com/medic/medic-webapp/issues/2569 and it is scheduled. This ticket now has more information against it though, so I'm closing that one as a dupe and keeping this one.

[2017-04-27 14:02] SCdF commented on #2569
I duped it with #3423 , closing this as that has more info against it.

[2017-04-27 14:02] #2569 closed

[2017-04-27 15:17] mandric commented on #3421
The example works for me. COUCH_NODE_NAME=couchdb@localhost

Because I don't think it belongs in backlog.

[2017-04-27 15:25] mandric commented on #3421
I think it makes sense to have a travis config to build to latest node and the supported major version? I think we can probably get away with supporting node 6.0 or 5.0 and above?

Example .travis.yml config (replace stable with whatever latest version of node):

[code]

[2017-04-27 15:48] SCdF commented on #3421
Yep that one works for me too but I believe that wasn't the one that @alxndrsn had? I'm sorry I'm not much help, it was awhile ago. Might as well just do it anyway and if it ends up causing issues we can change it later :-)

Totally. We're trying to cut down on the versions of node we test on because it takes so long, which is why we only have 1. According to http://node.green/ I'd be a bit leary

[2017-04-27 17:06] mandric commented on #3421
https://github.com/medic/medic-api/pull/148

[2017-04-27 17:56] alxndrsn commented on #3390
@mandric please review: functional change at https://github.com/medic/medic-api/pull/147, related test at https://github.com/medic/medic-webapp/pull/3426

[2017-04-27 23:56] abbyad commented on #651
Moving this to acceptance testing, and we can close if it works.

[2017-04-27 23:57] abbyad commented on #1093
Closing as we have not needed this demo set. We can open a new issue if this becomes needed again.

[2017-04-27 23:57] #1093 closed

[2017-04-28 00:02] abbyad commented on #1987
@alxndrsn do you still think this is necessary?

[2017-04-28 00:04] abbyad commented on #2498
I think we will be closer to this with the instructions for Standard config. Will schedule to make sure that we put this documentation is a useful location for "random internet developers".

[2017-04-28 03:19] alxndrsn commented on #1987
Not if tech leads don''t care :¬)

[2017-04-28 03:19] #1987 closed

[2017-04-28 04:18] alxndrsn opened #3427 "medic-api forms controller should use appropriate protocol"
From @mandric

In `medic-api`:

[2017-04-28 04:48] alxndrsn commented on #3390
@mandric to write a test for this in `medic-api`, it would either have to be:

1. a unit test, using sinon to mock the XML GET request issued by `openrosa-formlist` (a third-party lib)
2. a unit test, mocking `openrosa-formlist`, although I'm not sure if whole `require`d libs can be mocked(?)
3. an e2e test, running an extra HTTP server to serve the form XML

I think the e2e test in webapp is enou

[2017-04-28 05:29] alxndrsn commented on #3408
@estellecomment It look like you've done most of the work for this.  Is it in progress, or do you want me to finish it off?

[2017-04-28 08:09] SCdF commented on #3421
LGTM. I've also changed sentinel (since changing just one doesn't make any sense) with the same changes you made and merged it.

[2017-04-28 08:09] #3421 closed

[2017-04-28 08:17] SCdF commented on #2498
@abbyad FWIW unless we open source our standard config (out of interest, would that be such a big deal?) and open source or config deployment tooling (which I think we should definitely do) people off the metaphorical street do not have access to standard.

[2017-04-28 08:41] SCdF commented on #2321
Looked at it for 10 minutes. Currently impossible, because PouchDB doesn't support cancelling requests.

[2017-04-28 08:41] #2321 closed

[2017-04-28 08:57] estellecomment commented on #3408
I haven't given up on it yet :)
I unassigned myself because I'm doing something else for now, and I don't know how much of a hurry you're in. If it's urgent you can finish it, otherwise I will today/tomorrow.

[2017-04-28 09:40] estellecomment commented on #3359
When we do that, we could move the api e2e tests into the webapp e2e tests. They both need couch + api running, it ends up being the same setup.
The migration tests might be different though (in `integration` dir)

[2017-04-28 09:46] estellecomment commented on #3067
Happy Friday @alxndrsn ! You get a code review!

[2017-04-28 12:18] SCdF commented on #3257
Tested this locally, by:
 - setting up a CouchDB 1.6 system with a restricted user on a phone
 - killed api (started getting connection errors in the log, as expected)
 - Rebooted CouchDB 1.6 on a different port, and booted CouchDB 2.0 to the normal port
 - Confirmed that 2.0 and 1.6 had the same entry for this user in `_user` (in a prod scenario I imagine we'd replicate the `_user` db)
 - Deleted

[2017-04-28 14:39] SCdF commented on #3403
Found a bug in sandbox, I'm going to wait until that's fixed to convert webapp over.

[2017-04-28 16:15] mandric commented on #3421
Thanks!

[2017-04-28 16:28] mandric commented on #3390
I don't understand why you can't just unit test `controllers/forms.js:listFormsXML` since that is where the patch is?  I praise your attempt at doing e2e testing but that also breaks or fails to contribute to the lib's coverage?

Also the third party lib is currently hosted by medic, we have our own fork so we can do whatever we think is right and try to push upstream again (or not).  If it's a bu

[2017-04-28 16:45] sglangevin commented on #3342
If we mandate that, please make sure to note that in the Migration Notes section of the changelog so that it is highlighted for tech leads.

[2017-04-28 16:57] mandric commented on #3359
Well here's my thoughts...  If anything I think medic-api and medic-sentinel should be merged.  Rather than listening to  changes feed we can make changes to records as data comes in.  I'm requesting a little time to do some refactor first before we do this because it's a big change.

This can be automated if needed.  Even with one repo we still have lots of interaction.

That's a bad expectation,

[2017-04-28 17:07] mandric commented on #3390
I also think we're already hitting communication limits and confusion on GH, it might be less pain if we chat next time you have a chance or schedule a time to review this?

[2017-04-28 17:11] mandric commented on #651
Do we have/need a specific config (or host) we can test this on?

[2017-04-28 17:15] mandric commented on #2152
Just to clarify the `synthetic_date` setting is app level not system level.  We should never change a system's time for app testing purposes.

[2017-04-28 17:20] mandric commented on #821
I don't think so @ngaruko. It's already in production and working as expected.  This is also in system territory which I don't think you need to be concerned with?  I think you can stay focused on the webapp and mostly ignore systems/devops/sysops/infrastructure development?

[2017-04-28 17:26] sglangevin commented on #1526
Sounds good. I'll close for now and we can re-open in the future if it moves up the tech debt priority list.

[2017-04-28 17:26] #1526 closed

[2017-04-28 18:06] abbyad opened #3429 "Some translations not working in Indonesian"
As reported in https://github.com/medic/medic-projects/issues/1957, some fields are not being translated in `id`.

The ones that don't work are [the ones with dates](https://github.com/medic/medic-webapp/blob/9cb4e0e713d5890d41637eb7ccb5da2dbfa32bf5/translations/messages-id.properties#L685-L691), such as `n.month = {MONTHS, plural, one{1 bulan} other{\# bulan}`. These work in English and Hindi.

[2017-04-28 18:09] bishwas-medic commented on #3070
All the filters for Reports seems to be working fine. I will DM you the name of the instance since this thread is public.

[2017-04-28 21:27] abbyad commented on #3429
It turns out that the error message was helpful:

Therefore for Indonesian we need to specify the translations with `=1` and not `one`.

Eg.
~`{MONTHS, plural, one{1 bulan} other{# bulan}}`~
`{MONTHS, plural, =1{1 bulan} other{# bulan}}`

[2017-04-28 21:27] #3429 closed

[2017-04-29 07:16] alxndrsn commented on #3390
Sure, let's talk next week.

[2017-04-29 09:47] derickl opened #3430 "select2 in a repeat group does not work as expected in an Xform"
With a select2 in a repeat group, only the first instance allows selection. Subsequent instances are selectable with much difficultly (long clicking the mouse, if at all) and the selected option is reflected on the first instance.

I've attached a stripped down xml to reproduce this issue.

This was tested on v2.11.0
cc @alxndrsn
[repeat.xml.zip](https://github.com/medic/medic-webapp/files/966021/

[2017-04-30 22:03] garethbowen commented on #3359
That's what I've been trying to do recently. Firstly it's easy to forget to do this. Secondly it's really easy to typo `medci/mdeic-webpap#xxxx`. Thirdly it's just unnecessary boilerplate if we make the proposed change.

Not entirely. It can certainly be improved through automation but it would be eliminated entirely by merging, _and_ we wouldn't need to support custom automation code. Elimination

[2017-04-30 22:20] garethbowen commented on #2825
Definitely worth doing and probably an easy win. Anyone can pick this up.

[2017-05-01 05:07] alxndrsn commented on #3237
This is working.  Waiting for @diannakane or @amandacilek for design input.

[2017-05-01 09:08] garethbowen commented on #2825
Actually, you know what, this is conflicting with the linked contacts refactor. Let me queue it up.

[2017-05-01 17:28] mandric opened #3431 "couchdb 2.0 does not have _users by default?"
In [the Readme](https://github.com/medic/medic-webapp/#setup-couchdb-on-a-single-node):
[code]
Fresh Couch 2.0 install:
[code]
Fix:
[code]
Found this strange/odd but maybe it's worth noting in the readme.

[2017-05-01 18:44] abbyad commented on #3057
Moved to Active and current milestone due to work going on in medic/medic-projects#1263

[2017-05-01 19:10] sglangevin commented on #3430
@alxndrsn assigning to you to see if you can take a look. LG needs this for one of their supervisor forms so I'm wondering if there is a simple fix.

[2017-05-01 21:24] sglangevin commented on #3237
@alxndrsn can you provide more detail here? What has been implemented? What input is needed? This is also a significant change that will affect large-scale partners so the roll-out of this feature needs to be done carefully.

[2017-05-02 02:11] alxndrsn commented on #3237
@sglangevin I'm hoping to demo to someone from the design team, although perhaps you would be more appropriate.  If you're interested I can send you a build with the feature enabled and if desired talk you through it.

[2017-05-02 04:42] abbyad commented on #3418
Given https://github.com/medic/medic-webapp/issues/3418#issuecomment-297506028 I wanted to verify if this is still an issue or not. I tested on 2.11.0 a scenario that would legitimately give the `registration_not_found` error, and it seems to translate properly:

![image](https://cloud.githubusercontent.com/assets/789512/25604214/c2eca410-2ecf-11e7-8b56-5a9a27ccfd36.png)

I think we can keep this

[2017-05-02 08:04] alxndrsn commented on #3431
I think this is a duplicate of https://github.com/medic/medic-webapp/issues/3225 - it might give you some ideas.  Perhaps we to check explicitly at e.g. API startup that this db is present in the expected place.

[2017-05-02 08:20] bishwas-medic opened #3433 "Allow form upload through Configurations UI"
Currently we are uploading forms using command line scripts. UI interface to upload these will make it easier to quickly upload the files specially for non-technical users. This will also help users to work from any machine without the need for setting up the required libraries and packages.

[2017-05-02 08:22] garethbowen commented on #3433
Duplicate of #1330

[2017-05-02 08:30] alxndrsn commented on #1838
How much of an improvement would removing marking-documents-as-read "feature" be?  If significant, we should remove it.  Then, if it offers enough value vs the effort that it will take to implement it in a way that either does not cause conflicts and network traffic, or where the conflicts are handled correctly, we could re-implement it.

[2017-05-02 08:32] alxndrsn commented on #1838
In our own code, would the solution just be to make sure we're using up-to-date references?  A client should be prevented from conflicting with himself first, before we worry about _how_ to resolve those conflicts.

[2017-05-02 08:35] SCdF commented on #3431
Yes. You have to follow the CouchDB 2.0 setup instructions.

[2017-05-02 08:41] SCdF commented on #1838
Depends on how often people create documents on the reports pane (where, once you're done, you select the document). There are definitely other situations that have nothing to do with this one, whose fix may fix the mark as read feature for free at the same time (ie the only fix would be to implement conflict merging based on rules, and the mark as read merge rule is trivial).

Irrespective of tha

[2017-05-02 09:07] alxndrsn commented on #3096
Example XForm:

[code]
---

The following HTML works out of the box in the standard android browser.

[code]

However, it will need custom handling in both `WebView` and `XWalkView`, e.g.
* https://stackoverflow.com/questions/5803914/can-i-open-camera-in-webview
* https://stackoverflow.com/questions/15805886/android-webview-upload-file-and-camera
* https://stackoverflow.com/questions/18568566/webv

[2017-05-02 11:24] alxndrsn commented on #1838
I agree this has been back and forth, and don't want to waste anyone's time.

[2017-05-02 12:50] SCdF commented on #3401
This has been merged to master.

[2017-05-02 12:50] #3401 closed

[2017-05-02 17:52] sglangevin commented on #3237
I am interested to see a demo soon if we can make time for that. I'd like to understand the details of how it was implemented and what other things we need to do (if any) before it could be rolled out. I'd also like to make sure I'm fully up to speed on how it works so that I can help support the roll-out of this feature. I'll need to know how it would affect existing users vs. new users who are l

[2017-05-02 18:51] SCdF commented on #682
Maybe @abbyad has an opinion too!

[2017-05-02 19:43] abbyad commented on #682
I'll just jump in to say that how read statuses are shown (if at all) is a good topic for the design team.

[2017-05-02 20:50] garethbowen commented on #682
I'll follow up with design and work out the importance of marking read in general, and mark all read as well.

[2017-05-02 23:47] sglangevin commented on #3413
This is needed for outbreak surveillance (cc @samkanga) so that we can look and see if a patient was sick recently or delivered recently and use that as context within a form. It will also be useful for the examples cited above (cc @derickl).

[2017-05-03 07:47] browndav opened #3435 "Memory exhaustion in "drop-audit-doc-index", slow runtime"
This migration, if successful, should take about four hours to run on our production workload. Unfortunately, we're crashing pretty early on in the process (around 10% of the way through). Post-crash, the issue reoccurs at the same spot. I'm only seeing this on machines with (on the order of) millions of records.

[code]

Running `ulimit -a` shows the following, which leads me to believe it's not

[2017-05-03 07:50] browndav commented on #3435
We may also look into the exact document this is failing on; given that `v8::internal::Factory::NewRawTwoByteString(int, v8::internal::PretenureFlag)` is in the backtrace, it could be a string-specific allocation issue (e.g. an extremely large string in an existing document). No real evidence of this, just an idea.

[2017-05-03 07:55] browndav commented on #3435
Beginning of issue:
[code]

[2017-05-03 08:10] alxndrsn commented on #3435
[code]

[2017-05-03 08:24] alxndrsn commented on #2912
Proposal: process the model so that anything with the `new-doc` attribute set `true` will create a new doc in the db.

N.B. will need to check of attributes can be set conveniently from XLS.

[2017-05-03 08:42] alxndrsn commented on #3435
@browndav could you test this locally by creating one extremely large doc, and then running the migration?

[2017-05-03 08:47] garethbowen commented on #3435
@browndav Do you mean the crash occurs at 10% in, or immediately?

[2017-05-03 09:27] estellecomment opened #3436 "edit-user controller has 3 different entry points and 2 different templates"
You can use the `edit-user.js` with
 - `model === aUserObject` : you want to edit a given user
- `model === undefined`: you want to edit the current user
- `model === {}` : you want to create a new user

And with templates :
 - `edit_user.html` : to edit the whole user. Though depending on your permissions, not all fields might display.
 - `update_password.html` : to edit only the password.

That'

[2017-05-03 09:41] alxndrsn commented on #3392
@bishwas-medic Is this blocking your 2.x upgrade?

[2017-05-03 10:53] diannakane commented on #682
@garethbowen I'm interested in your user stories for this. Generally speaking, I will bundle this issue with understanding the various states and filters needed for history tab, part of the audit of that tab we've prioritized for this quarter.

[2017-05-03 11:02] garethbowen commented on #682
@diannakane The theory is that if you have 10000 unread messages it won't be obvious which ones are new. This would happen if you're new to a project that's been running for some time, particularly as an administrator on a SMS based project. This feature would allow the user to clear the counter.

[2017-05-03 13:07] browndav commented on #3435
10% in.

[2017-05-03 13:08] browndav commented on #3435
I could also run an `_all_docs` query and sort by doc size to determine our top N-sized docs. It's actually almost easier to do because you can exploit linefeeds in the JSON return value. Have a call for a couple hours and then will gather that data.

[2017-05-03 13:18] browndav commented on #3435
[code]

[2017-05-03 13:20] browndav commented on #3435
The part that sucks is it's the js engine dying, so we'd have to dump out at least a large range of docs to observe them directly. Possibly doable. Would someone want to try to just monkey-patch on that clone to log everything in the, like, 25000+ range to a file, and I'll pursue an overview of all doc sizes (top-N-sized) simultaneously?

[2017-05-03 13:23] browndav commented on #3435
I suspect there's a v8-enforced or runtime-enforced heap limit, right? Because it's a huge machine, it couldn't possibly be running into a true `mmap` or `brk` failure with those MiB numbers.

[2017-05-03 14:02] browndav commented on #3435
Currently looking at v8 heap limit, we may be way too low.

[2017-05-03 14:08] bishwas-medic commented on #3392
I can do away with it for few weeks but I see this becoming a big problem after we've upgraded all instances to v2.x. Specially with the associated contact mess. To associate a contact to a user, we need to search using the contact's name and since we can't search in Nepali we can't associate any existing contacts in most of our projects to any users because all their names are in Nepali.  The PMs

[2017-05-03 14:18] SCdF commented on #3420
OK this is complicated:
 - A Place is being created, and a person along with it
 - The place's contact should be the person
 - And the person's parent should be the place

There is a lot of code that I'm having trouble groking that deals with taking the js object created from enketo and storing that as documents in CouchDB.

That code will need to be changed to no longer persist and go, and instea

[2017-05-03 15:14] abbyad opened #3437 "Some reports not being replicated"
As a CHW supervisor I should see all reports that were submitted by people I supervise. I have been seeing odd replication issues where a supervisor does not see certain reports. One such case where a supervisor user account does not see reports from their CHW is if the `patient_id` did not match a patient. This scenario seems reproducible.

For instance, [this report](https://standard.app.medicmo

[2017-05-03 21:00] sglangevin commented on #3420
If we're not able to get a fix out for this tomorrow (Thursday), I think we will need to go ahead and release 2.11.1 without it. Ideally this fix should be included in v2.11.1, though.

[2017-05-03 23:34] sglangevin commented on #3392
@bishwas-medic the upgrade should automatically set the associated contact for each place, so this should only affect new projects, not existing projects.

Also, if something is a bug that will prevent PMs or partners from doing their work, then I would call it blocking. We can prioritize this next iteration.

[2017-05-04 02:22] bishwas-medic commented on #3392
@sglangevin How does this work? User names are matched with the existing People in the Contacts?

Thanks for moving it into next iteration.

[2017-05-04 02:38] abbyad commented on #3401
Tested on `2.12.0-alpha.5615` and can no longer reproduce... so it appears to be resolved. Thanks @SCdF!

My testing was not exhaustive though so we should test SMS reports more fully with the release to ensure that there are no regressions.

[2017-05-04 02:45] abbyad commented on #3437
I just reproduced on `2.12.0-alpha.5615` as well, so this issue has unfortunately not been magically been resolved by some other work since 2.11.

[2017-05-04 06:26] alxndrsn opened #3438 "Images on production could be smaller"
Running icons and form images through pngout when committing to github, or when uploading to prod, could save a bit of bandwidth.

[2017-05-04 07:22] alxndrsn commented on #2912
@sglangevin this is implemented.  I'd like to walk you through the feature and check that it fulfills your needs.

[2017-05-04 08:12] estellecomment opened #3441 "UpdateUser service should enforce matching user and usersettings edits"
Currently you have to call `UpdateUser` service with both user updates and usersettings updates.
The caller should figure out which is which and how to make a consistent update.

That's a difficult API to use : make `UpdateUser` service get a list of fields, and make it split between what's in user and what's in usersettings, and what should be in both (otherwise you get a messed up user...)

[2017-05-04 08:51] alxndrsn opened #3442 "Config tab missing when screen gets too small"
When the screen gets too small, the _Configuration_ tab disappears.  This is mildly irritating.

<img width="435" alt="screen shot 2017-05-04 at 16 49 43" src="https://cloud.githubusercontent.com/assets/191496/25696439/c64391d4-30e9-11e7-97f9-56094c85cb35.png">
<img width="409" alt="screen shot 2017-05-04 at 16 49 52" src="https://cloud.githubusercontent.com/assets/191496/25696441/c76afbba-30e9-11

[2017-05-04 08:54] alxndrsn commented on #3442
This appears to be deliberate: https://github.com/medic/medic-webapp/blame/master/static/css/inbox.less#L1590-L1592

@garethbowen any ideas?

[2017-05-04 08:55] alxndrsn commented on #3442
N.B. there is an option _Configuration which appears in the fast food menu:

<img width="391" alt="screen shot 2017-05-04 at 16 54 32" src="https://cloud.githubusercontent.com/assets/191496/25696621/6cd540f6-30ea-11e7-823c-7d1f263d2d25.png">

However, this actually opens the first-time config wizard:

<img width="400" alt="screen shot 2017-05-04 at 16 54 37" src="https://cloud.githubusercontent.co

[2017-05-04 09:02] garethbowen commented on #3442
It's deliberate. The configuration screens don't really work on mobile resolutions so I decided there wasn't much point taking up space in the tab bar. Is this needed?

[2017-05-04 09:25] alxndrsn commented on #3342
This is already being enforced by the `convert.sh` script in `medic-projects`, so perhaps not a controversial change at all.

[2017-05-04 10:49] SCdF commented on #3420
This won't be fixed, code reviewed and tested by EOB today, no.

[2017-05-04 12:15] henokgetachew opened #3443 "Medic Gateway runs into document update conflicts while trying to upload sms status"
Instance to test this with: clone-kilifikids-kaiti.
What this example below causes for example is that the sms is reported as `Pending` when it has already been picked up by gateway and it has been trying to communicate that the status is now `forwarded-to-gateway`.

Logs from API:
[code]

[2017-05-04 12:26] #3442 closed

[2017-05-04 12:59] estellecomment opened #3444 "Enable 2-way binding for select2 fields (non-enketo)"
A couple places (like edit-user.js controller) use select2 fields outside of enketo. They don't have to way binding, they fetch the value on form submit using jquery. That's more complicated code, and it makes testing more messy.

Make a select2 directive, or maybe a [ng-bind with a setter](https://docs.angularjs.org/api/ng/directive/ngModelOptions#connecting-to-the-scope), and remove the jquery.

[2017-05-04 15:42] alxndrsn opened #3445 "Loading a form in firefox creates a mysterious error message"
E.g. http://localhost:5988/medic/_design/medic/_rewrite/#/reports/add/postnatal_care

Form seem to work fine, but the following appears in the console:

<img width="762" alt="screen shot 2017-05-04 at 23 40 32" src="https://cloud.githubusercontent.com/assets/191496/25712074/2f085f90-3123-11e7-8e75-1e796dca9dd9.png">

[2017-05-04 17:56] SCdF commented on #3420
Initial PR: https://github.com/medic/medic-webapp/pull/3447

@garethbowen can you take a look at this one for me please.

[2017-05-04 17:57] SCdF commented on #3420
Still assigned to me and active because I need to do more testing, and I broke the sidebar somehow (or it was always broken…), which I need to look into, But the bulk can still be code reviewed)

[2017-05-04 19:32] sglangevin commented on #3443
This is likely a blocker for upgrades, so I've added it to the current milestone to see if someone can take a look.

[2017-05-04 20:00] sglangevin commented on #2912
Sounds good - can we choose a time to meet? I'll ping you on slack.

[2017-05-04 21:51] sglangevin commented on #3369
Works well in v2.11.1-beta.1. Moving to ready.

[2017-05-04 21:57] sglangevin commented on #3394
This is working on v2.11.1-beta.1. Tested on lg.dev using a full_access user with no contact and no place associated.

[2017-05-04 22:24] sglangevin commented on #3392
I think I misunderstood your original comment. I meant that your primary contacts would all be migrated, as long as the facility table is filled out completely.

The users you had in 0.4 are "full access" users (national_admins) so they don't require an associated contact so I don't think this issue is relevant for them. Full access users can create people and places in the app without an associat

[2017-05-04 23:12] sglangevin opened #3448 "Error after canceling and re-opening any contact creation form"
Seen on v2.11.1-beta.1 on lg.dev. A fix is required for v2.11.1 final as this is occurring for both full access/admin users and for restricted users for both adding places and adding people. Note that all edit forms are working correctly.

To reproduce:
1. Log in as a full access user or admin.
2. Click on New district. See that the form opens.
3. Click Cancel to close the form.
4. Click New distr

[2017-05-04 23:23] garethbowen commented on #3448
IIRC that usually means we forgot to unload the form (ie: `Enketo.unload(formInstance)`) after it was first rendered.

[2017-05-05 01:32] alxndrsn opened #3449 "Resolve repeat-relevant TODO"
There's a TODO in EnketoTranslation here: https://github.com/medic/medic-webapp/blob/master/static/js/services/enketo-translation.js#L267

The issue it references has been resolved in March: https://github.com/enketo/enketo-core/issues/336

Looks like we need to start passing `{ irrelevant: false }` to calls to `getDataStr()`, and then we could drop `repeat-relevant`.

There's a unit test for it,

[2017-05-05 04:45] bishwas-medic commented on #3392
If the `full_access` users won't require to have associated contacts, that'd be handy to start with. My concern now is about the release date for v2.11.1.

But we do plan to have restricted users for partner's IT staff so that we can assign them limited permissions like no bulk delete, no contact delete etc and only the main project managers from Medic and the partner will have "full access".

[2017-05-05 08:35] SCdF commented on #3423
@mandric can you respond to the above comment please? https://github.com/medic/medic-webapp/issues/3423#issuecomment-297687977

[2017-05-05 08:38] SCdF commented on #682
I'll hand it over to you @garethbowen

[2017-05-05 08:56] estellecomment commented on #3408
@alxndrsn Can you review?

[2017-05-05 09:16] estellecomment commented on #3018
yup, that's still a thing

[2017-05-05 09:19] estellecomment commented on #2669
We remove that feature, so this is not needed any more.

[2017-05-05 09:19] #2669 closed

[2017-05-05 11:11] SCdF commented on #3257
More additional information.

In Fauxton, it shows a warning if >50% of your documents in your DB are deletes. This is because in large DBs this can cause performance problems.

Since our migration will force clients to re-replicate the `_changes` feed, depending on these ratios for our larger partners we might want to consider doing a filtered replication to CouchDB2.0, to not replicate deleted s

[2017-05-05 12:37] SCdF commented on #3356
@abbyad thinking about it again, I actually think the second idea is a pretty bad idea. Views are expensive, and we're creating an entirely new view, so support a hack to fix an edge case we should be solving through good software development.

I really think pulling read status out is the right move here. We should be doing it regardless, it's crazy to replicate an entire document just to mark so

[2017-05-05 13:08] SCdF commented on #3420
Merged.

AT notes, things that should be tested:
 - The core problem is that if sentinel is running, and up to date idling for new changes, *all* creations and edits of contacts should work without flaw, both that the contact should be stored correctly, but also that sentinel should run on those contacts correctly as well
 - This change affects *all* creation and editing scenarios for any kind of

[2017-05-05 13:08] #3420 closed

[2017-05-05 16:33] sglangevin commented on #3257
Since we did a lot of deleting of training data in the early stages of the LG project, this seems like something we should consider.

[2017-05-05 16:35] sglangevin commented on #3392
@bishwas-medic let's take this conversation off of this thread. I'll respond to your questions on Slack.

[2017-05-05 17:54] sglangevin commented on #3420
This is working well with Standard config - I tested all types of place creation where I was also creating a new person to be the primary contact. I also tested editing of people who didn't previously have Medic IDs and those were created once I saved. Not exactly sure how to test other types of editing.

We don't currently have transitions enabled for LG or any projects that are Android-app only.

[2017-05-05 18:18] mandric commented on #3431
As far as I can tell creating a _users database is not part of the CouchDB 2.0 setup instructions.  Do you have a link to what you are referring to?

[2017-05-05 18:47] sglangevin commented on #3420
I've now tested with the `generate_patient_id_on_people` transition enabled on an LG config. I tested creating different types of places with new people as the primary contact, and I tested creation of families both online (as admin) and offline (as a CHP, logged in as restricted user) and I haven't encountered any conflict issues. I've also confirmed that patient IDs are being created as expected

[2017-05-05 18:59] sglangevin commented on #3443
@henokgetachew what version of webapp was running?

[2017-05-05 19:00] sglangevin commented on #3443
Looks like 2.11.0. Can you update to v2.11.1-beta.2 and re-test?

[2017-05-05 20:59] sglangevin commented on #3357
Did some quick acceptance testing: "Currently syncing" and "All reports synced" are cut off on all screen sizes.
![image](https://cloud.githubusercontent.com/assets/1286381/25763945/666c7fd0-319a-11e7-9a34-ec55fc63d79a.png)

Returning so that the font size can be changed.

[2017-05-05 21:00] sglangevin commented on #3357
Back to you @alxndrsn!

[2017-05-05 21:11] sglangevin commented on #3142
@henokgetachew is this still being worked on or can we close it?

[2017-05-05 21:13] sglangevin commented on #3358
I'm going to close this issue and open a new one for allowing users on Android to log out if they have permission to do so.

[2017-05-05 21:13] #3358 closed

[2017-05-05 21:15] sglangevin opened #3450 "Allow Android users to log out if they have the can_logout permission"
Android users who are using a branded version of the Medic Android app cannot currently log out. We have a `can_logout` permission. If this permission is enabled, users should have access to the logout button in the hamburger menu and be able to log out.

Relevant to permissions work to be done later this year.

[2017-05-05 21:41] sglangevin commented on #3397
We're generally not deploying the default forms right now. We are deploying the Standard version of the forms or customized forms that are built for a specific partner.

[2017-05-06 03:09] alxndrsn commented on #3450
@sglangevin Which users are expected to need this?

[2017-05-06 03:13] alxndrsn commented on #3450
This will require minor changes to the android app - currently the "Logout" menu item is completely unavailable in branded builds.  There are two options for enabling it:
* enable on a per-brand basis, so every user for this brand will have the option available.  This could be done via manually adding to the branded build's menu file, or better via a feature flag configured in `build.gradle`
* ena

[2017-05-06 03:16] alxndrsn commented on #3237
@sglangevin I think this is really a design issue now.  If designers are using this ticket to track the issue then leave it here; if not, perhaps we can close it?

[2017-05-06 04:05] alxndrsn commented on #2912
Extensions to the form Model:

## Extra docs

* extra docs can be added by defining structures in the model with the attribute `db-doc="true"`, e.g.:

### Example Form Model

[code]

### Resulting docs

Report (as before):
[code]

Other doc:
[code]
## Linked docs

* linked docs can be referred to using the `doc-ref` attribute, with an xpath.  This can be done at any point in the model, e.g.:

###

[2017-05-06 04:05] alxndrsn commented on #2912
Things to note at code review

* all docs are now assigned IDs by the client, and saved using `db.put()` instead of `db.post()`
* if any save fails, the whole batch will be treated as a failure

[2017-05-06 04:10] alxndrsn commented on #3433
This is a part of #1330, but not the whole thing.

[2017-05-06 04:15] alxndrsn commented on #3433
PR supplied implementing the basic feature.  There are some clear extensions mentioned in the PR, which may or may not be immediately important to tech leads.

[2017-05-06 04:25] alxndrsn commented on #3357
@sglangevin How about shorter strings?  E.g.

* _Required_
* _Syncing…_
* _Synced_

[2017-05-06 04:29] alxndrsn commented on #2393
This may be fixed by #2912

[2017-05-06 04:29] alxndrsn commented on #2313
This may be fixed by #2912

[2017-05-06 05:11] alxndrsn commented on #3408
PR test failures are things like this:
[code]

The espresso tests intermittently fail on Travis.  I will re-run and see if they pass the second time.

[2017-05-06 05:24] alxndrsn commented on #3342
Currently, form doc IDs must be lower-case, but the ID in XML can contain upper-case chars: https://github.com/medic/medic-webapp/blob/master/ddocs/medic-client/validate_doc_update.js#L16-L33

[2017-05-06 05:36] alxndrsn commented on #3342
I think this is a good goal for the longer-term, but the work required migrating current projects is not justified currently.

[2017-05-06 05:48] alxndrsn commented on #3436
`EditUserPassword` as a separate controller seems very sensible 👍

[2017-05-06 05:53] henokgetachew commented on #3142
@sglangevin this is still going to be tracked.  The next update will be after disk size is grown for some of the instances.  Not all of the instances are doing compaction as they should right now.

[2017-05-06 13:24] abbyad commented on #3438
The icons are uploaded via the [upload_icons.js](https://github.com/medic/medic-projects/blob/master/scripts/upload_icons.js) script. Assigning to @Lesterng and @amandacilek to review using pngout with @alxndrsn.

[2017-05-06 13:37] abbyad commented on #3357
In the current implementation the icons are clickable which is confusing since clicking does nothing about syncing, just closes the menu.

From the spec:

[2017-05-06 18:56] abbyad opened #3452 "Reports list showing when user doesn't have proper permission"
When a user doesn't have permission to see reports the Reports header is removed but the list remains:

![image](https://cloud.githubusercontent.com/assets/789512/25774157/1d95c546-323f-11e7-996b-051b0b8bf366.png)

For comparison, here is what it is like when they do have they `can_view_reports` permission

![image](https://cloud.githubusercontent.com/assets/789512/25774191/ae829cf0-323f-11e7-97de

[2017-05-07 21:05] garethbowen commented on #3357
@alxndrsn We can't really rely on shorter strings due to internationalisation, different devices, and different fonts (not to mention zooming in in the browser).

* Fix wrapping so the browser makes the best attempt at fitting everything.
* Make the menu wider on mobile (90%?) - there's no reason for it to be so skinny.
* Fix the hover so it doesn't look clickable (as @abbyad pointed out).

[2017-05-08 05:48] ranjuts opened #3453 "Bulk delete does not work on reduced screen size"
bug found on instance: tts-indonesia.app.medicmobile.org

Works in normal desktop size
<img width="960" alt="bulk delete 1" src="https://cloud.githubusercontent.com/assets/5404004/25791739/dbb16e8e-33f4-11e7-8ffc-fb8ded5a0df9.png">

Delete all button is greyed out in the reduced screen
<img width="950" alt="bulk delete small" src="https://cloud.githubusercontent.com/assets/5404004/25791750/f7b3116

[2017-05-08 07:50] SCdF commented on #3431
@mandric following the setup wizard thing in Fauxton.

[2017-05-08 08:07] SCdF commented on #2912
@alxndrsn I believe this will break logic in places, because we tend to use "doesn't have an _id` as shorthand for "it's a new report". For example, what used to be `persist()` and is now `prepare()` in [contacts-edit.js](https://github.com/medic/medic-webapp/blob/master/static/js/controllers/contacts-edit.js#L234):
[code]

There may be more, this is just the first one that comes to mind.

[2017-05-08 09:10] alxndrsn commented on #2912
TODO
- [ ] don't modify XML
- [ ] save mapped IDs against report

[2017-05-08 09:26] garethbowen commented on #3433
Merge away.

[2017-05-08 10:43] SCdF commented on #2960
Hmmm. I'm now wondering if we want the default to be single node or cluster, and how that potentially affects how we've made changes. I've had my head in the clouds of large partners, so I've been defaulting to clustered, but perhaps that is wrong.

[2017-05-08 10:44] SCdF commented on #3391
@browndav what @alxndrsn is suggesting is quite a large change from what we already do. Do you (with your CTO hat on) have any thoughts here? My original plan was to just try to shore up what we already have. However, I do not have full context into the situations we are trying to solve.

[2017-05-08 11:38] henokgetachew commented on #3443
Since this instance is on alpha, it's now been updated to the latest alpha - 2.12.0-alpha.5680.  @christinewere can you retest medic gateway related issues again? Sending and receiving messages to and from the instance and checking whether the statuses are reflected on the instance correctly?

[2017-05-08 12:25] SCdF commented on #2960
I've made the changes my PR recommended and updated the PR: https://github.com/medic/medic-os/pull/12

I need to talk to @browndav about some concierge-specific stuff, which is unfortunately going to block me progressing on this one I think.

[2017-05-08 12:34] SCdF commented on #3435
@browndav I looked at the code, and I don't think it's a memory leak, I think it's just that there are some super duper large docs and we're running out of heap. You also seem to be working on this one, so I'm going to assign it to you and put into progress to get it off the open priority list.

[2017-05-08 12:41] SCdF commented on #3443
@henokgetachew could you help with specific reproduction steps, and ideally a link (private on slack if you like) of a instance where this is occurring, with the document that is having problems?

[2017-05-08 13:08] SCdF commented on #3443
So:
![image](https://cloud.githubusercontent.com/assets/583851/25805454/9ccc0668-33f7-11e7-9429-59e6b15c7e78.png)
![image](https://cloud.githubusercontent.com/assets/583851/25805470/affef420-33f7-11e7-9835-f139049cc387.png)
And:
![image](https://cloud.githubusercontent.com/assets/583851/25805440/8ff9fda0-33f7-11e7-84e8-66f9b84aebf3.png)

Make me think this isn't because of sentinel, since no senti

[2017-05-08 13:25] SCdF commented on #3443
I have no idea how this can be a 409 actually, because you're not passing a rev, so how can it conflict? It implies that in the time it takes the _update code to run something else has updated the document. Which could happen once, but to happen over and over again… suspiciously weird.

Dumb question, but is there a chance there are two instances of whomever is calling this function (sentinel / ga

[2017-05-08 15:49] SCdF commented on #3443
![image](https://cloud.githubusercontent.com/assets/583851/25812460/4706028a-340e-11e7-8826-e2ed1310c3c5.png)
Right then.

[2017-05-08 16:25] SCdF commented on #3443
OK. Where I am at with this there are presumably a lot of messages that need to be sent to gateway that originate from the same report. I am wondering if somehow we are actually running these requests asynchronously (even though the code looks fine after a reasonable walkthrough of it) and at least two of them are basically trying to update their same parent document at the same time.

[2017-05-08 16:34] sglangevin commented on #3453
@ranjuts bulk delete is not meant to work on non-desktop screens. Is a reduced screen size being used for this project? Is it a tablet or just a small computer screen?

[2017-05-08 17:15] sglangevin commented on #3349
I'm not sure how to AT this. @alxndrsn do you have a sample xform that explains the format required?

[2017-05-08 17:40] sglangevin commented on #3142
Sounds good! Just checking in as there hadn't been any activity here in a while.

[2017-05-08 17:42] sglangevin commented on #3237
Normally tickets would be tracked with a design issue first before development, but since we did this in a slightly different order, let me talk to @diannakane and she can provide feedback. Depending on the changes, we can decide whether to open a new issue or continue with this one.

[2017-05-08 17:48] sglangevin commented on #3450
This was requested by a partner who has multiple users sharing an Android tablet. They wanted to be able to easily log out and log back into different accounts without having to clear data every time. Ideally we'd be able to use the `can_logout` permission to control whether or not an Android app user can logout.

[2017-05-08 22:42] sglangevin commented on #3448
@estellecomment this is the last item we are waiting for to release 2.11.1 final.

[2017-05-08 22:45] sglangevin commented on #2031
@SCdF I agree that this is important. I'm thinking mark as scheduled and get it on the radar for later in the year when we can think about how we might do this and what types of questions we are most interested in answering. Thoughts?

[2017-05-08 22:47] garethbowen commented on #3448
Also happens with restricted users creating a health centre so I suspect any Enketo contact form is affected.

[2017-05-08 22:47] garethbowen commented on #3448
Reports don't appear to be affected.

[2017-05-08 22:48] sglangevin commented on #2504
This seems to be blocked on #2503. Marking as blocked for now. Seems like #2503 is a good next step in building out a test framework for Nools rules (tasks and targets).

[2017-05-08 22:48] garethbowen commented on #3448
Unminified stacktrace:

[code]

[2017-05-08 23:06] garethbowen commented on #3448
It looks to be a race condition where now that contact forms are cached they render super fast and are ready to go before angular has rendered the page.

[2017-05-09 00:18] #3448 closed

[2017-05-09 02:13] alxndrsn commented on #3453
@sglangevin this was on a desktop browser with a narrow window.  It surprising (as a user) that everything in bulk delete seems to work on the small screen except for the delete button itself... and likely a one-line fix.

[2017-05-09 02:19] alxndrsn commented on #3349
@sglangevin you'll need to test by including something like the following code to a `note`:
[code]
Note that normal links have always been specified in this way, e.g.
[code]
Hopefully unsurprising!

[2017-05-09 02:37] alxndrsn commented on #3067
@estellecomment is there a commit missing from the PR?  I don't see any of the fixes which you say you've done :thinking:

[2017-05-09 05:49] SCdF commented on #3450
@sglangevin / @alxndrsn do they need to be able to log out in the android app specifically, or just have logout exposed in the Medic menu?

[2017-05-09 05:59] SCdF commented on #2031
@sglangevin I still agree with my previous comment: I think we'd want some questions to answer first before we built it :-) There is some technical work done in comments above, so that's argument for not closing the ticket, but it's not exactly ground-breaking stuff, so honestly I'd be happy with it going either way.

[2017-05-09 06:03] SCdF commented on #2504
@sglangevin FWIW I'd say the testing framework in #1836 was really more of a prototype: I don't think a new project could use it today for example. So this ticket is also blocked on us truly spending the time to build something people could use, and then either filling out LG's tests as examples, or not getting the time to do it and just letting other projects go it alone.

[2017-05-09 06:48] estellecomment commented on #3067
forgot to push!! :woman_facepalming: Sorry about that, done, PTAL!

[2017-05-09 07:33] alxndrsn commented on #3450
@SCdF You may be hinting at this: all my talk about android in my previous comment is probably irrelevant, as the option could just be done inside the angular hotdog menu.

[2017-05-09 08:34] alxndrsn commented on #2912
@SCdF

This is a shame.  "Doesn't have a `_rev`" is a better metric to determine that.

[2017-05-09 08:36] SCdF commented on #2912
@alxndrsn yeah almost certainly. And it might just be that one place I noted. Certainly for the code you're changing. I just didn't look into it any further.

[2017-05-09 10:35] SCdF commented on #1838
On read status: there are ongoing discussions on what to do with that one, external to this ticket.

In general though, there are always going to be problems with conflicts, it's the nature of how CouchDB works.

[2017-05-09 12:06] SCdF commented on #3443
FWIW I can replicate this if two requests to the medic-api gateway run at the same time:
[code]

But if I run them one after other it works for me fine locally.

So I'm not really sure why this is failing. I'm going to take a look at the audit log, but I think maybe the best I can do is harden this code to make it less susceptible to these sorts of problems, and have it attempt to resolve 409s its

[2017-05-09 14:32] bishwas-medic opened #3458 "The error should display the name of the missing form"
When trying to access non-existant form from the task, the following error was generated. It didn't have info about the missing form. It'd be helpful if it contained the name of the form.

<img width="561" alt="screen shot 2017-05-09 at 10 30 06 pm" src="https://cloud.githubusercontent.com/assets/13689284/25855964/381c43d4-3507-11e7-8b9c-2c0eabf642d3.png">

[2017-05-09 17:58] SCdF commented on #3458
[code]

Myyyyyyyyystery.

[2017-05-09 18:03] SCdF commented on #2960
More more additional information.

In asking about if there are any instructions for automated setups and was linked to these examples:
 - https://github.com/afiskon/install-couchdb
 - https://github.com/kafecho/ansible-couchdb2

So we can look at these for examples of what to change in Concierge

[2017-05-09 18:23] browndav commented on #3110
Upgrades are fully tested. Closing.

[2017-05-09 18:23] #3110 closed

[2017-05-09 18:25] sglangevin commented on #3357
That makes sense, @garethbowen. @alxndrsn I agree with Gareth on this one so let's go with his suggestions.

[2017-05-09 18:30] alxndrsn commented on #3357
@sglangevin I agree that Marc's change and Gareth's should be done.   Would the proposed text changes also be beneficial?

[2017-05-09 18:32] sglangevin commented on #3357
Now I get the question :)

I like the text that we had in the designs and would stick with that unless @diannakane or @amandacilek have other suggestions.

[2017-05-09 19:12] sglangevin commented on #3443
Thanks for looking into this, @SCdF. @christinewere have you tested now that the instance was upgraded? Sounds like hardening the code is a good solution either way.

[2017-05-09 19:33] alxndrsn commented on #3443
@SCdF It sounds like gateway could do with stronger protection against running requests in parallel.  Right now it shouldn't be likely, but definitely possible - especially if api's response times are slow.

[2017-05-09 19:55] SCdF commented on #3443
@alxndrsn yeah totally. I know it sounds horrid, but I'm going to seriously look into some form of mutex for that call, since it a) has no reason being run by more than one thing at once, and b) does X*Y*Z things that will conflict with multieple requestors which we cannot collapse into a single couchdb request.

[2017-05-09 21:05] garethbowen commented on #3390
@mandric @alxndrsn Any update on this?

[2017-05-09 21:06] garethbowen commented on #3342
Not a priority - moving out of iteration.

[2017-05-09 21:40] sglangevin commented on #3448
This is working well on v2.11.1-beta.3. Moving to ready.

[2017-05-09 21:50] sglangevin commented on #3331
Is there anything to AT here? cc @ngaruko

[2017-05-09 21:50] sglangevin commented on #3251
Any instructions on how to AT? cc @ngaruko

[2017-05-09 21:51] garethbowen commented on #3023
Clearly not a priority - moving out of the iteration.

[2017-05-09 21:51] sglangevin commented on #3371
Anything to AT here? cc @ngaruko

[2017-05-09 21:52] garethbowen commented on #3279
Not a priority.

[2017-05-09 21:58] browndav commented on #3435
Using `--max-old-space-size=16384` or any variation thereof does not fix the issue. We do, however, get a different error. Examining doc sizes now. Other possibility: infinite loop with allocation inside (e.g. list push). No idea right now. Will continue to investigate.

[code]

[2017-05-09 22:08] sglangevin commented on #3450
As long as we are able to use the `can_logout` permission to control whether or not a user sees the option to logout, I think that suffices. Ideally we'd use the permission for both desktop and Android users, so controlling it in the web app may make more sense than controlling it within the Android container.

This is not high priority at the moment, just wanted to file it for later.

[2017-05-09 22:14] sglangevin commented on #2504
I'd like to see us build out a testing framework for configurations, so I'm going to leave this one as blocked for now and add the Testing label so that it's easy to find later. Sounds like we'd need to revisit #1836 first and perhaps open a new issue for building out something that people can use. #2503 sounded like it was referring to building out the tests for LG's rules, which I assumed would

[2017-05-09 22:29] sglangevin opened #3459 "Add format-date-tr() to our custom xpath functions to support translations of days and months in xforms"
Spawned from discussion here: https://github.com/medic/medic-projects/issues/2019

Currently, the ODK spec (and therefore, Collect and Enketo) always uses English when rendering `%a` and `%b` options. @alxndrsn suggests that for the short term we add a custom xpath function so that we can translate `%a` and `%b` options into the language in which the form is being rendered.

In the longer term, th

[2017-05-09 22:32] browndav commented on #3435
I've confirmed that there is no reasonable value for `--max_old_space_size` that allows the migration to complete. When we do set it to something very high, though (e.g. 16GiB or 32GiB), we get a different error. Investigating doc sizes now (query is running) and I will report ASAP.

[code]

[2017-05-09 22:50] sglangevin commented on #3453
Yeah, I'm also not sure about the intricacies of bulk delete :) This is likely due to the break point between desktop and mobile views. I imagine we'll be adding a tablet-sized breakpoint in over the course of the next few months (between desktop and mobile) which would likely resolve this because tablet view is generally for managers and more similar to the desktop view. If this is needed for a p

[2017-05-09 23:35] sglangevin commented on #3384
@diannakane @amandacilek any thoughts on this one? We're not looking to update the UI, just wanting to confirm the labels that users see. If you log in to alpha.dev as a CHW user, you'll see the messages there. These can't currently be translated so they will appear in English for everyone for now. PM me if you need a login.

[2017-05-10 04:09] alxndrsn commented on #3023
@browndav PR at https://github.com/medic/medic-os/pull/15

[2017-05-10 08:18] nice-snek commented on #2899
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #698
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #890
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #1115
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #1345
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #1605
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #1720
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2117
hi frand @browndav, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2176
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2177
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2226
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2254
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2268
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2305
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2503
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2512
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2652
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2695
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2701
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #2984
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #3050
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #3062
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #3086
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #3091
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 08:20] nice-snek commented on #1085
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues) before the end of this sprint.
[code]

[2017-05-10 09:41] rosteve commented on #3443
The messages are now showing  `forwarded` but they are being forwarded to the web app in duplicates .. logs for the gateway is attached
[logs.txt](https://github.com/medic/medic-webapp/files/989357/logs.txt)

[2017-05-10 09:58] christinewere commented on #3443
Thank you @rosteve

[2017-05-10 10:02] diannakane commented on #3237
@alxndrsn great initial mockups! I have a few questions and suggestions. @amandacilek has offered to help with final polishing, but if you can take another stab at the UX/UI with these considerations, that'd be helpful.

Overall features and navigation:
1. How do you get to the menu options?
2. What is in the “settings” option?
3. What is “Home”?
4. How do you recover a forgotten pin?

UI:
1. The

[2017-05-10 10:42] garethbowen commented on #2652
This is a nice to have and we have all the information we need to accomplish it so I'll leave it scheduled. Unfortunately unless this becomes a real performance issue again it's unlikely to get any traction but we can close it in the next review cycle if it hasn't been picked up by then.

[2017-05-10 10:46] garethbowen commented on #1115
I think this is fixed, and even if it wasn't it's low priority and ancient. Closing.

[2017-05-10 10:46] #1115 closed

[2017-05-10 10:51] garethbowen commented on #2254
Closing. This is low priority but nice to have. We can reopen if first run experience becomes a priority.

[2017-05-10 10:51] #2254 closed

[2017-05-10 11:21] SCdF commented on #3435
[code]

Found here: https://github.com/nodejs/node/issues/10738

Changing old space size doesn't change anything. Looks like a current node limitation, but I haven't read too much about it. Though FWIW if they mean old space like Java does, the current string you're working on would be in that space anyway.

[2017-05-10 11:22] SCdF commented on #3435
I'm thinking we just have a giant doc somewhere? It is unfortunately not obvious how to find documents by size in CouchDB

[2017-05-10 11:26] SCdF commented on #3435
(I've asked the CouchDB slack about it. I think otherwise we can write a script you point at a DB and just requests each doc one by one, logs their size and id out and then sorts once it's done. It's crude and gross, but is probably useful)

[2017-05-10 11:39] SCdF commented on #2503
Yes we should still do this. We only did one example, and we need to expand, both with LG and in general into a system where people can actually unit test the partners core business rules.

[2017-05-10 11:40] SCdF commented on #2512
This is a good idea, but I have a feeling the next time we have enough impetus to touch gardener is going to be when we replace it with something else.

[2017-05-10 11:40] #2512 closed

[2017-05-10 11:56] browndav commented on #3435
I have a doc size calculation process running now that's insanely hard-headed and brute-force and dumb, but will get us the doc sizes. About halfway finished.

[2017-05-10 11:57] browndav commented on #3435
We've chosen to delay the upgrade on the theory that even if this script does reveal an obvious problem document in time, we'll be too close to the downtime window for comfort.

[2017-05-10 15:12] SCdF commented on #2776
@mandric your tip does not bring old deleted logs back unfortunately.

Just ran into this trying to solve an issue. Thought I'd get to the bottom of the logging system. Behold:
[code]

So it seems like it keeps the latest 3 of a set of logs, and for some reason changes that set?

It makes no sense. It's really really dumb.

[2017-05-10 15:17] SCdF commented on #3443
Went to check the logs to see if we could definitively see if someone was accessing at the same time:
 - nginx logs don't indicate that anyone is
 - api logs have been surprise deleted by gardener already, so dead end there.

I'm going to look into refactoring the code

[2017-05-10 15:44] estellecomment commented on #3380
@SCdF review is in MP issue.

[2017-05-10 17:20] browndav commented on #3435
The design document is the largest document in the database, in terms of bytes. That theory appears shot; more on Slack in #development.

[2017-05-10 21:34] mandric commented on #2776
No my tip is just an easy way to tail the latest logs, sorry.

[2017-05-10 23:04] sglangevin commented on #3349
Thanks! I had never specified a link in xlsform before and it did not dawn on me to look into that - @abbyad and I tried a few different things last week and had gotten stuck. This is working well and is very exciting!

[2017-05-10 23:22] sglangevin commented on #2912
@alxndrsn from what I am understanding, this fulfills the need. And actually, the fact that we can reference the original doc in the resulting docs is super helpful so I'm glad you added that.

I'm not 100% sure that I understand the Repeated Docs section above:

^^What does that part mean? Also, what is the difference between linked docs and repeated docs?

Probably. But I haven't tried yet so I'

[2017-05-11 07:46] estellecomment commented on #2899
This is working now. Closing.

[2017-05-11 07:46] #2899 closed

[2017-05-11 07:48] estellecomment commented on #2526
@browndav @ngamita @bishwas-medic Is this something you saw happening when upgrading? If not I'll just close

[2017-05-11 07:55] estellecomment commented on #2177
Hmmm. Don't remember in what use case I was seeing a 404.

That seems like basic functionality we should have, though no one has complained about it so i guess it's low priority. Leaving open.

[2017-05-11 07:56] estellecomment commented on #1085
We use Jenkins?! @alxndrsn throwing it over the wall to you

[2017-05-11 07:58] estellecomment commented on #890
@abbyad Is this still needed? We're going towards integration with carriers/aggregators for larger scale projects right? Please close if that's the case.

[2017-05-11 08:14] estellecomment commented on #2177
Quick fix, @garethbowen can you review PR? https://github.com/medic/medic-webapp/pull/3460

[2017-05-11 08:20] bishwas-medic commented on #2526
Yeah, I had the same issue with a logged in session after the upgrade from v0.4 to v2.x. The webapp showed a loading error (forgot the exact error message). The console displayed this error:
<img width="573" alt="screen shot 2017-05-09 at 9 43 57 am" src="https://cloud.githubusercontent.com/assets/13689284/25939505/ae1af06c-3665-11e7-8e0f-0d7bba249852.png">

I'll DM you the instance name.

[2017-05-11 09:23] #2177 closed

[2017-05-11 09:58] SCdF commented on #1085
(we use Jenkins for android builds yeah)

[2017-05-11 10:18] SCdF commented on #2984
Just did it: https://github.com/medic/medic-os/pull/16

[2017-05-11 12:49] diannakane commented on #3384
First question: does it have to be text? Could it be a graphic or simple animation to account for the internationalisation?

[2017-05-11 13:42] alxndrsn commented on #3349
👍 Glad to hear it 😄

[2017-05-11 14:02] alxndrsn commented on #3050
Would it work just to disable the Submit button if no changes have been made?

[2017-05-11 14:14] alxndrsn commented on #2305
Doesn't sound like it has any negative effects.  Feel free to fix if it bothers anyone especially.

[2017-05-11 14:14] #2305 closed

[2017-05-11 14:15] alxndrsn commented on #1085
Current set up is acceptable.

[2017-05-11 14:15] #1085 closed

[2017-05-11 14:18] alxndrsn commented on #2226
Seems reasonable to keep this, but not high priority.  @sglangevin please close if this would be bad behaviour

[2017-05-11 16:34] SCdF commented on #2984
Done.

[2017-05-11 16:34] #2984 closed

[2017-05-11 16:46] alxndrsn opened #3461 "HBB not working correctly on Android for (some?) modal dialogs"
HBB on Guided Tour, Edit User Profile, Edit Password should close the dialogs.  It actually causes the back action to be performed on the screen displayed behind the dialog.

I have not checked the behaviour with other modals.

[2017-05-11 16:48] alxndrsn opened #3462 "There is no warning when HBB is used to exit a form"
# Observed:

When filling an enketo form and HBB is (accidentally) pressed, the app navigates back to the previous screen (e.g. the tasks list), losing all form progress.

# Expected:

I would expect the "are you sure you want to leave?" confirmation dialog to be displayed

[2017-05-11 16:48] SCdF commented on #3257
Talked to Dave. I should look at the single mode: see if we can migrate without having to replicate at all (and then later for large clients replicate into clustered mode).

[2017-05-11 16:48] alxndrsn opened #3463 "Debug section of the About screen has some weird extra text"
![screen shot 2017-05-12 at 00 49 27](https://cloud.githubusercontent.com/assets/191496/25961437/e19efe78-36ac-11e7-86a4-19d523c8b796.png)

[2017-05-11 16:51] alxndrsn opened #3464 "Predictive Text does not work in form text fields or text areas"
This may be deliberate(?)  I think predictive text should at least be available for multi-line textareas, if not for all text input.

Seen on: Samsung Galaxy V2

[2017-05-11 16:53] alxndrsn opened #3465 "Bulk Select is impressively slow"
In desktop Chrome, selecting an item in the bulk select list takes a few seconds.

I suspect it's doing something sub-optimal.

[2017-05-11 16:55] alxndrsn opened #3466 "Marking a report as verified is slow"
Seen on: Samsung Galaxy V2

Clicking the tick in the action bar when viewing an existing report takes a couple of seconds to process.  This is uncharacteristically slow for this handset.  This functionality may be doing something suboptimally.

[2017-05-11 16:58] alxndrsn opened #3467 "On small screen, cannot re-open date filter in history tab"
After using the date filter to search reports once, it cannot be opened again.  Other filter dialogs seem to re-open fine.  Seen on Android/Galaxy V2 and desktop Chrome.

![screen shot 2017-05-12 at 00 57 39](https://cloud.githubusercontent.com/assets/191496/25961766/02927b90-36ae-11e7-8520-7258d6e28b77.png)

[2017-05-11 17:00] SCdF commented on #3391
Talked to Dave. I will check with the business and see how they feel about not being able to access audit from the ui at any stage, but a second nginx seems like a good solution to look into that I will detail after I've checked with the business.

[2017-05-11 17:00] alxndrsn opened #3468 "Softkeyboard Next has no effect sometimes"
Soft keyboard's Next key has no effect if textfield is followed by a label.  Expected behaviour: close the keyboard.

[2017-05-11 17:05] alxndrsn opened #3469 "Send Report dropdown menu items are misaligned"
Even I can see that this isn't quite right:

![screen shot 2017-05-12 at 01 04 24](https://cloud.githubusercontent.com/assets/191496/25962076/020bf51a-36af-11e7-9d2f-001fa7bfa307.png)

[2017-05-11 17:18] sglangevin commented on #3462
This is a duplicate of #3086. Closing.

[2017-05-11 17:18] #3462 closed

[2017-05-11 17:23] sglangevin commented on #3463
This is a translation issue. I've updated the English translation in POEditor so this will be fixed in the next release.

[2017-05-11 17:23] #3463 closed

[2017-05-11 17:24] alxndrsn opened #3470 "if no data connection, app gets stuck"
If there is no data connection (data connection and wifi switched off) when the app is started, a toast is issued saying something like `ERR::Domain name unknown`, and the webview screen stays blank.

To get out of this, a user needs to click _Home_ in the app menu.  However, on recent versions of Android this menu can only be accessed by holding down the HBB, as the hardware menu button has been

[2017-05-11 17:25] alxndrsn opened #3471 "No error message is shown if phone number is not valid"
![screen shot 2017-05-12 at 01 25 25](https://cloud.githubusercontent.com/assets/191496/25962856/e79134cc-36b1-11e7-9276-2dfe0353f3c3.png)

Can be seen on alpha.dev.

[2017-05-11 17:28] sglangevin commented on #3464
Predictive text works for me on my Tecno Y4 in text fields and text areas of forms.

[2017-05-11 17:33] sglangevin commented on #3466
Is there a deployment that is using this feature on mobile? If not, then I'd prioritize this behind other scheduled bugs.

[2017-05-11 17:35] sglangevin commented on #3467
This issue goes beyond not being able to re-open the filter. The selected dates also don't seem to filter the list. This feature isn't commonly used on Android in the projects that have deployed already. Is there an upcoming deployment that needs this fix?

[2017-05-11 17:36] sglangevin commented on #3471
This looks like a configuration issue. Error messages need to be included in the form. Which form is this?

[2017-05-11 17:46] alxndrsn commented on #3471
Add Person form on alpha.dev and on a newly-setup project.

[2017-05-11 17:47] alxndrsn commented on #3467
Not that I know of.  Can we hide the functionality for this screen size if it's not going to be fixed?

[2017-05-11 17:47] sglangevin commented on #3471
Did a bit more digging as this was reported during testing for LG's upgrade and it looks like the workaround being used is a regex, so I'm not sure if we are actually checking to see if the phone number is valid. Seems like not, so we should probably look into this further.

[2017-05-11 17:47] sglangevin commented on #3470
Is this for a user who was previously logged in? Or on first run?

[2017-05-11 17:48] alxndrsn commented on #3466
I don't even know what this feature's for, so I agree its performance is not high priority.

[2017-05-11 17:49] alxndrsn commented on #3470
Seemed to happen for both, but I will confirm.  If only the latter, then less of a concern.

[2017-05-11 17:56] sglangevin commented on #3466
Cool. I'll add this to the backlog of bugs for now and we'll schedule it when we can (or bump it up in priority if we have a project that needs it).

[2017-05-11 17:58] sglangevin commented on #3465
We've got a bunch of bugs in this iteration already, but I'd like us to look at this next iteration as bulk select and bulk delete are used across most of our deployments. I'll put this one on deck.

[2017-05-11 18:10] sglangevin commented on #3356
After talking with @abbyad we decided to deprioritize this for now to see if work on some other bugs might resolved this. Moving out of the iteration for now and continuing to track alongside other bugs.

[2017-05-11 18:15] sglangevin commented on #3469
Yeah, this has been bugging me for a while and should be fixed. If it's an easy fix to center everything vertically, we can schedule this. Otherwise I'd wait until a little later.

[2017-05-11 18:18] sglangevin commented on #3467
We have been leaving it alone since the plan is to revamp the history tab filters anyway. If hiding it is important, then I'm ok with it, though the longer-term plan is to re-do the filters.

[2017-05-11 18:23] sglangevin commented on #3461
That's weird. Pinging @diannakane and @amandacilek as this relates to app navigation work they are doing.

[2017-05-11 18:28] sglangevin commented on #2226
Yes, let's keep this. We're hoping to do some app navigation updates and this is near the top of that list but not prioritized just yet.

[2017-05-11 18:32] sglangevin commented on #3050
Ideally we wouldn't have the prompt at all unless changes were made. If the Submit button is disabled, is the user expected to hit Cancel? Or the HBB? Seems like it could be weird UX.

[2017-05-11 18:36] sglangevin commented on #3384
This was something that was added just as a quick thing, hence the fact that it is currently text. For now, I'd say let's stick to text as that is easy to change and we can improve to something better later. @alxndrsn can probably comment on the ease/difficulty of animation here as well as the ease/difficulty of internationalization.

[2017-05-11 20:55] abbyad commented on #3086
This seems relevant given that this was just reported again! Marking as scheduled.

[2017-05-11 20:58] sglangevin commented on #2701
This is definitely relevant. Marking as scheduled and adding to our Q2 tracking list.

[2017-05-11 21:02] abbyad commented on #2695
@estellecomment has this been resolved by https://github.com/medic/medic-webapp/issues/3107 or https://github.com/medic/medic-webapp/issues/3109?

[2017-05-11 21:05] abbyad commented on #1345
@garethbowen is this issue related to dev or tech lead documentation? (I imagine we could use both, but could be separate authors)

[2017-05-11 21:07] abbyad commented on #890
Correct, and we can open new issues specific to circumstances if something like this comes up again.

[2017-05-11 21:07] #890 closed

[2017-05-11 21:18] sglangevin commented on #3062
We've now got the Standard version of person and place creation and editing forms that are being used by many projects. Ideally we should bundle those xforms with the app so that they don't have to be uploaded separately. For now, we have a script that uploads all forms and settings that is working pretty well. I'm going to mark this as scheduled as it's the ideal longer-term solution but not high

[2017-05-11 21:18] garethbowen commented on #1345
@abbyad I was just thinking about tech lead documentation. It would fit in somewhere in medic-docs/configuration

[2017-05-11 21:43] sglangevin commented on #2268
We haven't yet added the schedules page back into v2.x. I'll leave this one scheduled so that it can be done with #1784.

[2017-05-11 21:44] sglangevin commented on #2031
I'll leave this open and scheduled for now so that we can revisit discussions later in the year.

[2017-05-11 21:57] #929 closed

[2017-05-11 22:25] browndav opened #3472 "Ensure CouchDB `secret` configuration parameter is left unmodified after Medic OS upgrade"
Ensure that we preserve the `secret` configuration parameter in the CouchDB `*.ini` set of files during upgrade if one is already present. This secret is used as part of session management, and changing it will invalidate sessions post-upgrade, which we do not want.

Also, ensure that the session timeout is set to the CouchDB default value consistently for normal instances. Preserve the existing s

[2017-05-11 23:53] browndav commented on #3435
Removing a 283MiB audit document allows the migration to proceed. I have document size statistics now for both `medic` and `medic-audit`. Unfortunately this migration is running slowly, processing about 50k records per hour, which gives us an ETA measured in days. We'll need to think of an alternate approach for this migration when we're doing upgrades of our large LG instances.

[2017-05-12 04:33] bishwas-medic opened #3473 "The Contact list doesn't load when Indonesian is the user language"
When Indonesian is selected as the language for the user, the Contact list doesn't load.
<img width="866" alt="screen shot 2017-05-12 at 12 32 07 pm" src="https://cloud.githubusercontent.com/assets/13689284/25982435/0bd7fdd6-370f-11e7-8c03-0c59a871b9b3.png">

Console displayed following error:
<img width="564" alt="screen shot 2017-05-12 at 12 29 26 pm" src="https://cloud.githubusercontent.com/ass

[2017-05-12 04:50] bishwas-medic commented on #3473
Very likely caused by missing translations:

<img width="543" alt="screen shot 2017-05-12 at 12 47 19 pm" src="https://cloud.githubusercontent.com/assets/13689284/25982718/7ecf913a-3711-11e7-9e6a-0847bf798efc.png">

It shouldn't fail this hard.

[2017-05-12 04:58] bishwas-medic commented on #3473
This is caused by a missing translation for `contact.primary_contact_name`.  This is no longer a priority, but as above a missing translation key should not cause a whole tab to fail to load.

[2017-05-12 05:00] bishwas-medic opened #3474 "File chooser for importing translations should filter for .properties files"
Currently allows you to choose any kind of file.  Would make finding files easier if it filtered just for .properties files.

This is likely a one-line fix.

cc @alxndrsn

[2017-05-12 12:07] estellecomment commented on #2695
Nope, still happening. I'm leaving it open, I'm not sure the feature is being used, but it's definitely broken.

Now I get this api error :
[code]

[2017-05-12 12:16] SCdF commented on #2695
@estellecomment port 5985 is lucene. You probably aren't running lucene, and apparently it's required.

[2017-05-12 12:33] estellecomment commented on #2695
o_O
Thanks for the fact-checking!

With lucene running, the bug is still happening, and error from api is
[code]

Database log says
[code]
(401??)
With admin user, locally.

[2017-05-12 12:35] SCdF commented on #2695
@estellecomment I don't want to sound like a magician, but have you tried running it twice?

[2017-05-12 12:38] estellecomment commented on #2695
https://www.youtube.com/watch?v=nn2FB1P_Mn8

[2017-05-12 12:39] estellecomment commented on #2695
I just did, also with one eye closed, still happening. Anything specific you're looking for? :)

[2017-05-12 12:40] SCdF commented on #2695
Just checking. I've found when I setup lucene locally it always fails the first time.

[2017-05-12 14:58] SCdF commented on #3403
I've lost interest in this one. I made the changes in api and sentinel, webapp is more work than it's worth right now.

[2017-05-12 14:58] #3403 closed

[2017-05-12 15:12] abbyad commented on #1345
Thanks, that's good. @ngamita, assigning to you to start building it out with the tech leads. Other product team members can help fill out key pieces where needed.

[2017-05-12 23:22] sglangevin commented on #3474
Is anyone besides tech leads needing this? I'm assuming that people on our team are uploading the correct type of file. This can be grouped with future work we will be doing to improve the ease of configuration for partner organizations.

[2017-05-12 23:23] sglangevin commented on #3473
Added to the list of bugs to be triaged.

[2017-05-12 23:38] amandacilek commented on #3384
My 2 cents:

Can it just say "Loading assets..." and then "Starting app..."?

It already has a very simple circle spinner animation. Might be fun to create our own custom looping animated GIF at some point. It could either illustrate what is happening (show file icons flying from one place to another, for universal international understanding), or it could be a play off our logo maybe with the log

[2017-05-14 10:44] alxndrsn commented on #3050
@sglangevin sorry for not being clearer: I mean the submit button on the app_settings page should be disabled unless there are real changes.  That way, no ddoc "update" will be pushed to users.

Unless @SCdF was referring to a different mechanism of ddoc updating... if it's done from a script, the script should probably reject the upload if there were no changes.

[2017-05-14 11:13] #3474 closed

[2017-05-14 11:14] alxndrsn commented on #3474
No, but it wasn't hard to fix!

[2017-05-14 11:24] alxndrsn commented on #3384
This would miss the step of docs being fetched from the server, which is the slowest part.

[2017-05-14 11:28] alxndrsn commented on #3384
We already have a looping animation, so it's not difficult.  However, the current animation is good because it doesn't require gifs and only requires minimal code to be downloaded.

(On the other hand, it's probably not great for battery life compared to a GIF, although I doubt testing this theory is worth the effort.)

I think internationalisation would be possible, although the mechanism would b

[2017-05-14 20:25] garethbowen commented on #3474
LGTM!

[2017-05-14 23:39] garethbowen commented on #682
I've created a design issue to track the user design: medic-design/issues/59

Once that's done we can reopen this or create a new issue to implement the design.

[2017-05-14 23:39] #682 closed

[2017-05-14 23:50] garethbowen opened #3476 "Investigate and use travis build stages"
We currently have [a complicated script](https://github.com/medic/medic-webapp/blob/master/scripts/ci/travis_after_all.py) which we copied from some guy on the internet which tries to determine if all travis builds in one run have finished successfully, and then pushes the app to the market. This is really useful so we can test against different versions of node or different version of CouchDB.

T

[2017-05-15 04:34] ngaruko commented on #2938
Hi @abbyad . Are you able to test this on a Windows machine?

[2017-05-15 04:41] ngaruko commented on #3020
LGTM. Will close this for now

[2017-05-15 05:55] alxndrsn commented on #2912
Repeated docs can also be linked docs, but don't have to be.  With this PR, you can create multiple docs from a single report which _optionally_ are inter-related.  However, it's currently not possible to relate to docs created in a repeat section, because the syntax will be more complicated, and I didn't see any point implementing it unless it's wanted.

This means that if e.g. you created multip

[2017-05-15 05:57] alxndrsn commented on #2912
I think once merged this PR will allow for deprecation of legacy approaches to creating docs from a report.  Separate tickets should be created for deprecation.  This should involve:
1. warning at form upload that a deprecated configuration style is being used
2. creating a new ticket to be triggered after a certain time, to remove the old approach

[2017-05-15 08:11] #3380 closed

[2017-05-15 08:52] ngamita commented on #1345
@abbyad received - adding @smbuthia as we had already started something related to this and he will lead us on this as he is the documentation master on techleads team.

[2017-05-15 09:00] alxndrsn commented on #3237
@diannakane great feedback, thanks!

On older phones, you press the hardware menu button.  On newer phones, it may be accessible via a long-press of the back button.  There's an open issue to deal with this at https://github.com/medic/medic-android/issues/33

Try clicking on them - nothing terrible will happen.

Delete all app data.

Another option might be to phone or visit your branch and get a

[2017-05-15 09:15] smbuthia commented on #1345
Will start work on this @ngamita
@abbyad I'll use the doc you've share in #1480 as a starting point.

[2017-05-15 11:49] garethbowen commented on #3467
This is the exception thrown when trying to open the dialog the second time:

[code]

I suspect this is probably because of [the patch](https://github.com/medic/medic-webapp/blob/master/patches/bootstrap-daterangepicker.patch) we apply to the datepicker to make it work on small screens. Or alternatively somewhere [in the code](https://github.com/medic/medic-webapp/blob/master/static/js/services/se

[2017-05-15 13:14] estellecomment commented on #3067
thanks!

[2017-05-15 13:14] #3067 closed

[2017-05-15 14:33] SCdF commented on #3443
[Work complete](https://www.youtube.com/watch?v=bupagiROLV8).

PRs:
 - https://github.com/medic/medic-webapp/pull/3475/files
 - https://github.com/medic/medic-api/pull/152/files

Changes:
 - Pulled out updating tasks via message state changes from CouchDB and into API. This lets us do more than one at a time
 - Refactored the code that dealt with this to use bulk save instead of saving things one

[2017-05-15 14:34] SCdF commented on #3443
Hey @alxndrsn please review the above two PRs. Let me know if you have any questions.

[2017-05-15 15:24] SCdF commented on #2960
The changes to concierge are blocked on us understanding single node vs clustered setup of couchdb: https://github.com/medic/medic-webapp/issues/3257

[2017-05-15 15:28] alxndrsn commented on #3467
@garethbowen good sleuthing.  As Sharon said above, this is not prioritised.  If you can fix it without effort, then please do, but I'm unlikely to get round to it.

[2017-05-15 15:48] SCdF commented on #3391
Sounds like we're all good to go forward with some kind of external logging solution.

Next steps for this ticket is:
 - Work out how to deploy nginx so there is a new instance / port that logs, at least: time, user, verb, request, code, and response, and calls through to CouchDB
 - It should be, if not parsable right now, at least easily parsable in the future if we need to. Simplest way of achie

[2017-05-15 15:56] sglangevin commented on #1345
@smbuthia I can help out with task documentation if you'd like. Happy to review or help add content as needed - just let me know.

[2017-05-15 16:38] sglangevin commented on #3050
Ah, makes sense.

[2017-05-15 17:09] sglangevin commented on #3237
What unlock screen are you referring to that is in use? I don't know if I've seen it, but may be misunderstanding.

[2017-05-15 17:12] smbuthia commented on #1345
@sglangevin that would be great, I could definitely use some help with that. Thanks.

[2017-05-15 21:32] sglangevin commented on #3357
@alxndrsn sounds like we should stick with the text in the designs for now so I think we can proceed with the changes agreed upon above.

[2017-05-15 21:36] sglangevin commented on #3096
@alxndrsn following up on this one - it's marked as active work, just curious if we should keep it there or delay it a bit.

[2017-05-15 21:45] sglangevin commented on #3384
I'd prefer it if we can agree on some text with the existing animation for now. @diannakane @amandacilek I've suggested the following:
- Loading assets
- ## docs loaded
- All docs loaded, starting app (instead of 100%, followed by starting app)

Do either of you have other suggestions? Let's decide on a solution for now and we can revisit in the future. We could also just go from ## docs loaded to

[2017-05-15 23:16] mandric commented on #3359
If you don't want to do repetitive things in your git commit messages then configure git to help nudge us in the right direction for commit formats: https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration

I don't believe merging eliminates this.

We already have GH dependencies in our build system (see openrosa-formlist dep) and it hasn't been an issue.  Github is about as reliable as np

[2017-05-16 06:11] alxndrsn commented on #3237
I'm referring to the operating system-level lock screen.

[2017-05-16 06:13] alxndrsn commented on #3096
If it's not a priority, I'll leave it on the back burner.  It's the kind of work I'll come back to if e.g. I get stuck without internet, or have a spare afternoon.

[2017-05-16 06:16] alxndrsn commented on #3357
- [ ] wrap menu item text
- [ ] make menu wider on small screens (without it looking rubbish)
- [ ] remove hover effects (this already does not affect mobile users)

[2017-05-16 07:39] alxndrsn commented on #3443
Is there any update to the external `/messages` api after refactoring of message controller and message utils?  https://github.com/medic/medic-api#messages

[2017-05-16 08:13] #3357 closed

[2017-05-16 08:15] henokgetachew opened #3481 "Gardener Bug in Startup Log"
The following error appears repeatedly in gardener startup logs.

[code]
This is an older version of gardener.  However, looking at the code, the bug is still in there.

[2017-05-16 08:30] henokgetachew commented on #3481
Pull request filed to gardener's repo here: https://github.com/garden20/gardener/pull/32.  Can someone with access please have a look? @garethbowen @mandric

[2017-05-16 09:05] alxndrsn commented on #3237
Here's what it looks like on my tecno, if you can make it out:

![img_6548](https://cloud.githubusercontent.com/assets/191496/26098265/ba012732-3a59-11e7-8806-8488a45b67de.JPG)

[2017-05-16 09:19] diannakane commented on #3384
I'm not sure what "assets" and "docs" refer to. We don't use these terms
anywhere in the app.

"This would miss the step of docs being fetched from the server, which is
the slowest part." >> Does this happen even when starting the app without a
data connection?

How about:

   - loading app
   - fetching info *or* updating app
   - starting app

[2017-05-16 14:47] alxndrsn opened #3482 "Make inputting dates quicker for power users"
Currently on Android, inputting dates must be done via the calendar.  There are two issues with this:

1. if you know what you're doing, it may be quicker just to type in the date directly as a string
2. if using the picker:
    * for some types of dates, it's more appropriate to select year -> month -> day-of-month than to start at a calendar view with today's month

-----

**`1`** would be much

[2017-05-16 14:51] sglangevin commented on #3482
Related: #2272. Ideally we would fix both for Android and on desktop at the same time.

[2017-05-16 19:11] sglangevin commented on #3237
Ah, makes sense - I know that screen now.

[2017-05-16 21:23] sglangevin commented on #3096
It's not required for v2.12, but I'd like to come back to it for v2.13, if you don't get to it sooner.

[2017-05-16 22:33] sglangevin commented on #3357
Looks good! Moving to Ready.

[2017-05-16 22:34] sglangevin commented on #3433
This one seems to have translations missing:
![image](https://cloud.githubusercontent.com/assets/1286381/26131157/35cefedc-3a4d-11e7-95f6-ecd7edf760db.png)

[2017-05-16 22:43] sglangevin commented on #3384
data connection?

This happens only on first run. Once you've installed the app and downloaded the initial data, you'd only ever see "Starting app" again. The steps here are meant to cover first run (app installation, usually done at HQ), though it's likely that CHW users would see the last step here: "starting app" when they re-open the app later (both online and offline).

I think we should avoi

[2017-05-17 06:07] alxndrsn commented on #3433
Looks like the `translate` attribute is missing.  Fixing...

[2017-05-17 06:18] alxndrsn commented on #3433
Should be fixed in `master` now.

[2017-05-17 07:56] SCdF commented on #3443
@alxndrsn there should be no api changes anywhere in this code, no. With the exception that we no longer hide errors, but the documentation never stated we did that.

[2017-05-17 08:23] SCdF opened #3484 "Make sure gateway never requests /api/sms concurrently"
See: https://github.com/medic/medic-gateway/blob/master/src/main/java/medic/gateway/alert/AlarmListener.java#L25

We want to avoid this scenario:
 - Wakeup, send POST request to `/api/sms`
 - api takes ages for whatever reason
 - Wakeup again, send POST request to `/api/sms`
 - Oh no conflicts.

We could fix by either:
 - Making sure gateway doesn't initiate another request if one is already activ

[2017-05-17 08:45] SCdF commented on #3430
@alxndrsn left some comments on the commit. You didn't make a PR. Don't know if that's intentional.

I don't really get how the code fixes the problem titled in the commit. This may be because I don't understand when destroy gets called.

[2017-05-17 10:33] garethbowen commented on #2635
@mandric @estellecomment Would you do me the honour of review this enormous PR?

Now when creating reports instead of inlining the entire contact we just store the IDs required to hydrate the contacts later.

Primarily this means that contact information will always be up to date (with the one exception of contact hierarchies), so if a contacts phone number or name is changed then this will be ref

[2017-05-17 10:34] SCdF commented on #3443
Merged to master.

[2017-05-17 10:34] #3443 closed

[2017-05-17 10:45] alxndrsn commented on #3484
https://github.com/medic/medic-gateway/issues/104

[2017-05-17 10:50] alxndrsn commented on #3484
Should be simple enough to do on the gateway side.  That won't prevent weird things happening if someone decides to configure multiple gateways, though.

An alternative fix would be to make API ignore duplicate messages and status updates.  Both of these things can be identified uniquely - messages have a UUID attached to them, and status updates would be practically identifiable by the combinatio

[2017-05-17 11:00] alxndrsn commented on #3430
Thanks for the review; lack of PR was unintentional.

That'll be exactly why you don't understand.  I don't entirely understand either, so clearly I should research a bit more and document it.  The basics is that when a repeated group is requested, all the HTML gets cloned (including listeners), and then all widgets in the cloned HTML get `destroy()`ed and re-`init()`ed.

[2017-05-17 16:13] estellecomment commented on #3392
@garethbowen , can your review the first wave? It's just refactoring at this point. I'd like to merge it in separately first.
https://github.com/medic/medic-webapp/pull/3486

(I can tag the commit with this issue number, or not, since it's not fixing the issue...)

[2017-05-17 17:07] alxndrsn opened #3487 "Update enketo dependency to latest release"
Update enketo to latest master.  Give the change log a close read, and apply all required changes to our enketo widgets.  This may just extend to deleting the `widget.prototype.destroy()` functions.

-----

Old text, which prompted this issue:

For some reason, in the db-object-widget's `Dbobjectwidget.prototype.destroy()` function, we need to destroy _and then recreate_ the select2 jquery plugin

[2017-05-17 17:56] alxndrsn commented on #3430
@SCdF updated per your comments.  PR at https://github.com/medic/medic-webapp/pull/3483

[2017-05-17 19:49] sglangevin commented on #3487
Just a note to make sure our CSS styling still works after the update since we ran into an issue with that after the last update.

[2017-05-17 20:52] garethbowen commented on #2825
This is being reviewed as part of #2635

[2017-05-18 00:46] garethbowen commented on #2635
Doc explaining the concept: https://docs.google.com/document/d/1cqBKCrIHQiVOzY5IX5ONQ3aUHoQ1pBD4X0NgXSNRapE/edit#

[2017-05-18 02:06] garethbowen commented on #3392
Back to you @estellecomment

[2017-05-18 04:25] garethbowen commented on #3467
@alxndrsn Review please!

[2017-05-18 09:28] alxndrsn commented on #3467
:+1:

[2017-05-18 09:29] #3467 closed

[2017-05-18 13:21] alxndrsn commented on #2912
@sglangevin ready for testing
cc @estellecomment

[2017-05-18 20:15] derickl commented on #3105
Possibly also related to  medic/medic-projects#2135

[2017-05-18 23:51] garethbowen opened #3490 "Update protractor to v5"
While working on updating npm dependencies (#3341) I hit an issue trying to update protractor. Once updated it didn't work with the old Firefox in travis. Updating Firefox caused other issues. Using Chrome didn't work. Maybe using the marionette driver would do it?

Work out what's going on. Ideally get it to work on Chrome as well so we can test both.

[2017-05-18 23:52] garethbowen commented on #3341
Review please @alxndrsn
API: https://github.com/medic/medic-api/pull/154
Webapp: https://github.com/medic/medic-webapp/pull/3489

Nothing in sentinel was outdated.

I hit a problem with protractor so I left it outdated and spawned this issue: #3490

Everything else should work.

[2017-05-19 06:44] alxndrsn commented on #3341
All looks fine to me.  Shame we're still stuck on Firefox 45 :~\

[2017-05-19 14:03] abbyad opened #3491 "Build hangs with no error if password is incorrect"
If the password in .kansorc is incorrect when [building the app](https://github.com/medic/medic-webapp#build-the-webapp), then `grunt dev` hangs on the following with no error message:

[code]

Typing `admin` and pressing Enter doesn't help. It would be nice to have an error message, especially since passwords can go stale with password rotation.

[2017-05-19 16:25] mandric commented on #3491
Not really sure this is much of an issue for local development environments?  If you had the .kansorc setup according to the instructions you should get a decent error, like 401 not authorized.

[2017-05-19 16:27] mandric commented on #3491
Actually I think you're right if .kansorc has the wrong username/pass it prompts and fails?

[2017-05-19 16:27] abbyad commented on #3491
Ya, I was running this locally from an AWS instance, and the only sign that something was not right was it asking for my username again. I don't think that 401 is surfaced.

[2017-05-19 16:34] mandric commented on #3491
Ok assuming this is a bug with the kanso push retry prompt then...

[2017-05-19 21:36] sglangevin commented on #3416
I gathered some more information about this feature request after talking with @samkanga and @katanu:
- Each of these SMS messages needs to go to a specified group of people
- This group might change over time, so it needs to be possible to change the list of phone numbers the messages go to (this could be done in config)
- In general the group to send to will be based on the Parish or Link Facili

[2017-05-21 03:43] browndav opened #3492 "In update_markets.sh: multiple runs against `release_v2` produce invalid URLs"
Each successive run of `./update_markets.sh "$COUCH_URL" release_v2` appends another `-v2` to the URL, creating invalid market source URLs. These operations should be repeatable; an invalid URL should never be created provided `"$COUCH_URL"` is valid.

[2017-05-22 08:29] alxndrsn commented on #3404
@sglangevin is this for mobile, desktop or both?

[2017-05-22 08:34] alxndrsn commented on #1784
Is this ticket referring to Schedules (SMS) or Tasks (nools)?

[2017-05-22 08:36] garethbowen commented on #1784
This is referring to schedules. The page has since been deleted.

[2017-05-22 08:40] alxndrsn commented on #1784
Does that mean we can close the issue?  Hard to redesign something that doesn't exist.

[2017-05-22 08:42] garethbowen commented on #1784
Agreed.

[2017-05-22 08:42] #1784 closed

[2017-05-22 08:47] garethbowen commented on #3473
Probably related to #3195

[2017-05-22 08:51] garethbowen commented on #3473
If it is the same as #3195 then it should be fixed in 2.11.0. @bishwas-medic What version is this on?

[2017-05-22 08:52] #3341 closed

[2017-05-22 09:31] SCdF opened #3494 "Investigate conflicts"
I want to look at a variety of things around how our data is conflicting, why it's conflicting and what we can do about it.

Because this data is from production I won't be posting specifics here, but I will note a slack channel when I have enough to start saying interesting things.

[2017-05-22 09:45] garethbowen commented on #3466
I think the process is something like... click the link, get the report, mark the report verified, update the database (possibly remote?), get the changes listener notification, get the report, rebuild the UI.

With read status we fake it by immediately setting the style as read assuming the rest of the process will work, then the changes listener and everything else still happens it just has no v

[2017-05-22 09:50] SCdF commented on #3494
Facts, as they come in:
 - A conflicted document can only become conflicted via replication. If you try to push a doc directly into (P|C)ouch that conflicts it will fail with a 409. Replication is what generates the `_conflicts` property.
 - If you replicate a conflict the `seq` gets incremented, even if there is no change (ie the conflict auto-resolves to the same value as you already have)
 - If

[2017-05-22 09:53] garethbowen commented on #3458
This error existed in 2.10: https://github.com/medic/medic-webapp/blob/2.10.x/static/js/services/enketo.js#L36

This is completely reworked in 2.11 and now it'll show the requested internal ID, something like: `No form found for internalId: D`

[2017-05-22 09:53] #3458 closed

[2017-05-22 09:56] bishwas-medic commented on #3473
@garethbowen the webapp is in v2.11.1

[2017-05-22 10:00] garethbowen commented on #3359
@mandric I don't think you understand exactly how much of a pain this is. It's certainly not a "minor bump". In the last week we've had problems with submodule revisions disappearing due to depending on a branch which is then merged and deleted, and problems with releasing 2.12.0, and features requiring 3 PRs that are all co-dependent so have to be merged at the same time. And that's just in the l

[2017-05-22 10:04] garethbowen commented on #3390
Seeing as this is in `master` already I'm going to close this and set it to acceptance testing.

[2017-05-22 11:30] henokgetachew opened #3495 "Protecting against invalid values for reported_date"
The webapp allows future dates when using the mobile app.  We should validate the reported_date against the server date.  One way to do this might be to warn the user that the date on their system is the wrong one by getting the current date/time from the server.  I'm sure there are lots of considerations here with the reported_date vs sync_date etc but future dates should be disallowed somehow.

[2017-05-22 11:41] Enock1990 commented on #3495
This has been an issue before. Sometime the CHPs phone might be off(not correct). Does this mean that we will always have this issue? cc @derickl