[2016-10-10 00:25] garethbowen commented on #2808
Should have been done in a feature branch, and broken up into multiple commits. Code looks ok though.

[2016-10-10 00:25] #2808 closed

[2016-10-10 02:17] garethbowen commented on #2779
I've had a look at that specific example on diy.dev (thanks for that) and the problem is that the way the code is written "reporting_unit" is synonymous with "clinic". Either of those strings will iterate up the contact hierarchy and return the first parent found with type "clinic". In this case, because your contact is at a "health_center" not a "clinic" no "reporting_unit" is found and it defaul

[2016-10-10 02:49] garethbowen commented on #2796
Done. I also hid the Reports section if the user doesn't have "can_view_reports".

[2016-10-10 03:05] garethbowen opened #2815 "Don't show Primary Contact label if no configured primary contact"
![no-primary-contact](https://cloud.githubusercontent.com/assets/2064938/19226115/3c686bb6-8f03-11e6-9813-e591b43c71fd.png)

[2016-10-10 03:22] garethbowen opened #2816 "Inconsistent styling and overuse of bold on People tab"
The three sections of the People tab are inconsistent and use **bold** for almost all labels. This is visually overwhelming and confusing and makes it very hard to ready the important information. Redesign this so the important information is bold and supplementary information is more subtle.

Examples:

Reports:
![report](https://cloud.githubusercontent.com/assets/2064938/19226284/b077e688-8f05-1

[2016-10-10 03:23] garethbowen commented on #2816
@diannakane Design input appreciated here!

[2016-10-10 03:25] garethbowen opened #2817 "People attributes are missing horizontal separators in mobile"
When in mobile on the People tab all fields should be separated by a 1px border. Currently this isn't happening:

![missing-separators](https://cloud.githubusercontent.com/assets/2064938/19226319/22bfdc0a-8f06-11e6-997b-2b9c4b0369ac.png)

[2016-10-10 08:11] estellecomment commented on #2793
I'm trying to keep track of that work item above, which needs to be done along with the People tab redesign release. I assigned it to you because you've been doing releases so far.
Don't really know how to keep track of it, if this makes no sense close it.

[2016-10-10 08:14] garethbowen commented on #2793
Ok. Leave it as is and we'll add it to the release notes for 2.9.0. Anybody can (and should) do releases so I'll leave it unassigned.

[2016-10-10 08:14] estellecomment commented on #2815
thanks!

[2016-10-10 08:20] estellecomment commented on #2709
related : https://github.com/medic/medic-webapp/issues/2816

[2016-10-10 08:21] estellecomment commented on #2816
@garethbowen The current implementation doesn't reflect the mocks (yet). Check out the Zeppelin mocks for styling : zpl.io/Z6oDCH

I filed this issue : https://github.com/medic/medic-webapp/issues/2709
It's probably not detailed enough, so just added detail to the original post, feel free to add more, and to rename the issue if needed, it's helpful.

[2016-10-10 08:22] estellecomment commented on #2817
dammit that's probably me

[2016-10-10 08:31] estellecomment commented on #2796
LGTM!

[2016-10-10 08:39] estellecomment commented on #2340
nice job! Thanks!

[2016-10-10 08:39] #2340 closed

[2016-10-10 09:35] garethbowen commented on #2709
This has been blocked too long and we're out of time. I'll do this to the best of my design ability and further improvements can be made in subsequent releases.

[2016-10-10 09:38] garethbowen commented on #2763
To do this properly and consistently throughout the app will require a large refactor and I recommend this is delayed until a later release.

[2016-10-10 09:39] garethbowen commented on #2720
Not a priority - removing from this iteration.

[2016-10-10 09:39] garethbowen commented on #2609
This is not a priority to moving out of this iteration.

[2016-10-10 09:46] SCdF commented on #2787
Choice.

[2016-10-10 09:46] #2787 closed

[2016-10-10 09:51] estellecomment commented on #2719
Sorry, actually that WAS LG's form (good catch @sglangevin !) so my intervention was most unhelpful. Here it is, all over again, with the default forms this time.
(I don't know if you guys all have access to the default forms and know what they look like; if you already do, then this is old news for you. If not, then it'll be helpful hopefully)

**New Place default form**
 - The Branch/Area/Househ

[2016-10-10 09:53] #2796 closed

[2016-10-10 10:18] estellecomment commented on #2719
Now, about the various features and variations : I'd like to split out what we want now, vs what we'll get to. Not saying we shouldn't do all the things, but I'm trying to prioritize what to do in People tab redesign.
Especially, I'm trying to split out what's just changing the default forms, vs. what requires work elsewhere in the app (and thus more likely to be out of scope)

**Requires other wo

[2016-10-10 10:20] estellecomment commented on #2719
Actually, is this within scope of the People tab redesign at all? Happy to hear opinions.

I think there are minimum variations that are within scope:
 - making sure we gather the fields that we want to display in the profiles (e.g. user role)
 - allowing/disallowing changing the parent

[2016-10-10 10:22] estellecomment commented on #2709
Actually, maybe it CAN be unblocked, I don't know.
@Lesterng ? How far along are the zeppelin mocks, regarding visual styling?

[2016-10-10 11:15] garethbowen commented on #2307
Fixed some tests and reviewed ready for acceptance testing.

[2016-10-10 11:15] #2307 closed

[2016-10-10 12:36] SCdF commented on #2784
Sorry for the delay, just got time to look at this again.

So looking at what you've setup, you have a district hospital and a health centre (with the dh as its parent) setup with contacts attached to both.

@abbyad , what do you think the expected behaviour is? Currently we are just checking clinics with phone numbers attached (ie clinics with contacts with phone numbers). Do you think it should

[2016-10-10 15:06] SCdF commented on #2791
PR: https://github.com/medic/medic-webapp/pull/2818

[2016-10-10 15:06] SCdF commented on #2791
@estellecomment please review :-)

[2016-10-10 17:29] Lesterng commented on #2709
@estellecomment @garethbowen I will get to the type specs today. The Zeplin mockups are all correct. Let me clarify the Type and Icon font specs. More coming soon.

[2016-10-10 18:59] SCdF commented on #2803
@diannakane and I had a chat: turns out we're on the same page, and terminology and other things were throwing the discussion.

There are two requirements to solve: a hierarchy link; and back button rules.

**Thing 1**: on desktop, if the user is viewing a person or place, and has access to that person or place's parent (ie a CHW can access a family's area but not branch / dh, an admin can see eve

[2016-10-10 19:39] mandric commented on #2801
There is a chromium command line option labeled "for testing only" because it removes quotas for all origin domains, and this could be passed to Crosswalk, so we might not have to build chromium from source if we use this command line flag?
https://github.com/crosswalk-project/crosswalk-website/wiki/Use-Chromium-command-lines-in-your-apps-on-Android
http://peter.sh/experiments/chromium-command-lin

[2016-10-10 19:49] SCdF commented on #2800
@sglangevin can you talk about the complexities over this so it's documented somewhere, and then we can drop it out of the sprint (since it sounds like a much larger issue that we're maybe even OK with existing).

[2016-10-10 21:50] garethbowen commented on #2632
This should be left (or changed to Infinity) on Node 0.10 which defaulted to 5, but removed for Node 0.12 where the default was increased to Infinity.

[2016-10-10 21:58] garethbowen commented on #2632
@browndav Please review this change.

[2016-10-10 21:59] garethbowen commented on #2632
The relevant documentation about maxSockets: [0.10](https://nodejs.org/docs/v0.10.0/api/http.html#http_agent_maxsockets) & [0.12](https://nodejs.org/docs/v0.12.0/api/http.html#http_agent_maxsockets)

[2016-10-10 22:03] browndav commented on #2632
LGTM.

[2016-10-10 22:04] #2632 closed

[2016-10-10 22:04] garethbowen commented on #2788
@bishwas-medic Are you able to acceptance test this release? I can prepare a clone of ipd-nepal with the new code if you could go through and ensure it works as you expect.

[2016-10-10 22:21] garethbowen commented on #2793
I've fleshed out the todo list so this is no longer a placeholder.

[2016-10-10 23:21] garethbowen commented on #2779
@mandric Seeing as Marc is away on holiday, does my suggestion above make sense to you?

[2016-10-11 02:28] garethbowen commented on #2816
Working on this as part of #2709

[2016-10-11 02:28] #2816 closed

[2016-10-11 02:30] garethbowen commented on #2709
This is reasonably close now. I diverted from the zeplin mocks where there were inconsistencies or specific issues ( eg: #2816 ).

[2016-10-11 02:31] garethbowen commented on #2709
IMO this is now good enough for the beta release in 3 days time. Submit specific issues for any further changes required.

[2016-10-11 03:05] Lesterng commented on #2709
@garethbowen @estellecomment I went through a the zeplin mockups to make sure the font sizes were consistent. Zeplin will give you the less style in px. This is what I came up with for em conversion with the default set at 12px. Feel free to come up with your own em conversions if you want to use a different default size or different H1, h2, etc values.

https://docs.google.com/a/medicmobile.org/d

[2016-10-11 03:15] mandric commented on #2779
Yeah makes perfect sense to me @garethbowen.

[2016-10-11 03:52] garethbowen commented on #2784
I was working on the related issue #2779 so I had a quick look at this too. We have to be a little careful - if we relax this to send to all places then existing 0.4 instances will start sending messages to districts and health centers to submit forms which make no sense.

We could add a filter expression to determine if the place should get the message, eg: `place.type === 'clinic'`, and even hav

[2016-10-11 11:27] SCdF commented on #2817
lgtm

[2016-10-11 11:27] #2817 closed

[2016-10-11 12:40] SCdF commented on #2784
I agree with what Gareth is saying.

Assigning to @abbyad for his thoughts.

[2016-10-11 12:56] SCdF commented on #2803
There has been a lot of conversation and clarification on this ticket. To make things cleaner I'm going to close this ticket and raise two others with specific instructions on each. This will allow us to discuss the two issues separately without conflating them.

[2016-10-11 12:56] #2803 closed

[2016-10-11 13:23] SCdF opened #2819 "Add a hierarchy link to the top left of the people and places RHS view"
See the spec: https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.qkrffmrtf0zt

There are examples on Zepplin also.

For example:

![image](https://cloud.githubusercontent.com/assets/583851/19271339/3440ea44-8fbc-11e6-977d-5715bc529a6e.png)

From what I understand this link should read `< PARENT_PLACE`, and link to the parent place. If the user does not

[2016-10-11 14:01] SCdF opened #2820 "Improve Android back button flow to account for deeper navigation in the person & places tab"
There has been work (see: #1564) to improve how the back button works on Android. There has been additional work in #1565 that stalled earlier in 2016.

Specifically for the people and places tab, there is a gap in navigation rules that has arisen because we can navigate up and down the hierarchy, and into reports and tasks. More specifically, back tends to take you back to the people & places lis

[2016-10-11 14:01] SCdF commented on #2803
Added #2819 and #2820

[2016-10-11 14:29] mandric commented on #2779
I think we can improve this a little, comments on the commit.

[2016-10-11 15:35] SCdF opened #2821 "Android dev: unable to access app menu with newer phones"
Our development android app has an app menu that allows you to logout, change URL, stuff like that.

On older Android phones (Tecno Y4) there is a dedicated hardware menu button (the hamburger button on the left)

On moderner Android phones that button is gone.

On phones with soft buttons (Tecno W4) it should appear as a soft button, as three vertical dots on the far right.

On phones without a m

[2016-10-11 15:58] SCdF commented on #2791
@garethbowen plz review :-)

[2016-10-11 17:16] SCdF commented on #2797
I have the phone. It could be something to do with web workers?

When attempting to boot the app the Settings service attempts to load the ddoc, and it 404s. When you do a `DB().info()` in place you get:
![image](https://cloud.githubusercontent.com/assets/583851/19280589/890d2e9e-8fde-11e6-8f89-3b7d160b51cb.png)
When I try it myself later outside of that scope (using `PouchDB('db-name').get('_desi

[2016-10-11 17:34] SCdF commented on #2797
Yep patching web workers out seems to fix it. Need to double check that everything is working by comparing on Chrome (ie this user has no contacts or tasks, but that might be expected).

Also not sure why this is happening: replication deals with web workers fine, but us getting documents doesn't.

[2016-10-11 18:18] Lesterng commented on #2709
@garethbowen @estellecomment @diannakane I add specs for the Medic Mobile icon font to the Web app type specs. It includes Medic Mobile icons plus Font awesome and Material design fonts in one font stack. you can add icons to the document with the span tag and the class name of the icon.
https://docs.google.com/a/medicmobile.org/document/d/1oIc4iBPgILlbtnAMEHvsHoNSF7Q8wGOLxNhbaGrw5TE/edit?usp=shar

[2016-10-11 18:58] garethbowen commented on #2797
Interesting that your second case is using websql not indexeddb. Maybe the problem is with web workers and websql?

Try requesting idb explicitly and see what happens. You'll need to wipe the db to get it to create it with the right db adapter. Did the security patch do anything to idb?

We have some [custom code](https://github.com/medic/medic-webapp/blob/master/static/js/services/web-worker.js)

[2016-10-11 19:19] garethbowen commented on #2791
Changes requested on PR.

[2016-10-11 19:42] garethbowen commented on #2779
@mandric I've responded to you comments - if you disagree maybe grab me on Slack/Hangouts to try and work out what's best...

[2016-10-11 19:59] SCdF commented on #2797
Cheers @garethbowen I'll muck around with that in a moment.

Another interesting note: I tried it against master running my local dev db, which is a modified LG setup. Initially it failed in a similar way, but more violently: same inability to load settings, and then it started spamming huge numbers of errors about translations, and various other things, in an infinite loop (which made it hard to

[2016-10-11 21:51] SCdF commented on #2797
So in the android app, PouchDB is unable to find the IndexedDb adapter. _Sort of_. If I try to use PouchDB from the console: `PouchDB('any-db').info().then(console.log)` it works, but it uses the websql adapter. If I try to force idb, it throws an error because it can't find the idb adapter.

# Going Deeper

## Android app

If I disable web workers, nuke and run the app in the android app, the app

[2016-10-11 22:11] browndav opened #2822 "Test Chrome 52+ persistent storage using an Origin Trial key, report results"
We need to determine (i) if the Google Chrome Origin Trial keys for persistent storage work, and (ii) if successfully enabling persistent storage using an Origin Trial key removes storage quotas or provides additional flexibility.

[2016-10-11 22:13] browndav commented on #2822
Initial results: I'm seeing the origin trial key get picked up from a `<meta>` tag, and `navigator.storage.persist()` being made available, but actually calling `persist` seems to always return false (indicating that the request for persistent storage was not granted).

[2016-10-11 22:13] browndav commented on #2822
E-mail to the Google Origin Trials support team follows.

[2016-10-11 22:13] browndav commented on #2822
We've been testing out persistent storage for IndexedDB on Chrome 53, and have run into some trouble.

I have an HTTPS-only test site with a apparently-correctly-configured Origin Trial key (using the <meta> tag method), but am unable to get `true` back from the promise returned by navigator.storage.persist() – it's denied with `false` every time. If I remove the Origin Trial key, `navigator.stora

[2016-10-11 22:19] garethbowen commented on #2797
Wow. So something to do with the pre-patch 6.0.0 webview is breaking idb.

I'm ok with saying idb is required and trying to get Tecno to install the security patch on all devices if you think that'd work...

[2016-10-11 22:21] SCdF commented on #2797
New facts:
 - When web workers is enabled in the android app, idb and websql both get populated, *except* that idb doesn't get `_design/medic` stored in it. This is the only document that is missing from IDB.
 - This means that the 404 in testing is not because `DB().get(..` looks somewhere else, it fails because it can't find the ddoc in idb.
 - This also explains why everything else fails, becau

[2016-10-11 22:33] SCdF commented on #2797
@garethbowen Yeah so it's really weird:
 - We can't directly access idb, but clearly the web worker can
 - Somehow PouchDB is saving things twice, possibly because if you do `DB()` without an adapter you get websql by default, and so maybe there are some assumptions in the code that are having it leak into websql
 - Except when it comes to the ddoc, which is *only* stored in this leaky way and nev

[2016-10-11 22:41] garethbowen commented on #2797
WRT backporting PWA functionality to 2.8.x [this is the change](https://github.com/medic/medic-webapp/commit/f9ec3dad88b97da9611d89eb34cc6f5b2ebb6355). It's mostly the manifest but I cleaned up some icons while I was in there.

[2016-10-11 22:58] SCdF commented on #2797
Cool. I've also attached a google account to it, and am going to attempt to update it via the play store as much as possible

[2016-10-12 00:00] SCdF commented on #2797
So PWAs aren't going to pan out on these phones:
 - Tecno's homescreen skin / app / whatchamacallit doesn't support Chrome's "Add to Home Screen' functionality, which means that you can't use PWAs.
 - Even ignoring PWAs, the best I got get setup was a bookmark link on the home screen by bookmarking it in the Android Browser (the default one that is gone in modern installs) and using the bookmark w

[2016-10-12 00:07] SCdF commented on #2797
I liiiiiieeeeeeeeed.

We can actually install the Google Now launcher (the default Google launcher that is on Nexus devices) on these phones from the play store. This launcher correctly understands Chrome's add to home screen command.

[2016-10-12 00:14] SCdF opened #2823 "PWA doesn't work because our manifest requires authorisation"
It looks like manifests can't require http authorisation for PWAs to work correctly.

To replicate:
 - Open our app in Chrome on your mobile phone
 - Open dev tools
 - Tap the "Add to home screen" button
 - Note that Chrome attempts to load the manifest, which fails with a 401
 - follow through with your add to home screen attempt
 - Note that only a normal link get created, not one that represent

[2016-10-12 00:38] SCdF commented on #2791
@garethbowen back to you

[2016-10-12 01:36] garethbowen commented on #2791
Done.

[2016-10-12 02:05] garethbowen commented on #2802
[PR](https://github.com/medic/medic-webapp/pull/2824)

Introduced a CSS only way of listing parents and refactored other places where the parents are shown to use the same technique.

[2016-10-12 02:05] #2779 closed

[2016-10-12 02:08] garethbowen opened #2825 "Extract getInitialData function from ContactsContentCtrl into service"
A lot of the logic in the controller is to do with generating the model object for the given contact id. Currently this isn't well tested because testing controllers is hard. Pull it out into a service and write unit tests to ensure it's working as expected.

[2016-10-12 08:04] sglangevin commented on #2821
@SCdF FWIW, I have found that on some newer phones, holding down one of the hardware buttons for a few seconds will make that menu appear. Not sure if that works for many or all phones, so having the three vertical dots on the far right is a better solution, but might be a workaround for now.

[2016-10-12 08:07] sglangevin commented on #2819
A little further down in that doc it says: The title is not the text of the back button, it is the title of the page. This ticket is the opposite of what I've understood in conversations with @diannakane but perhaps that was a previous iteration. Dianna, can you clarify?

[2016-10-12 08:18] estellecomment commented on #2709
For the design folks, here's a screenshot :
![screen shot 2016-10-12 at 10 04 36](https://cloud.githubusercontent.com/assets/911434/19302263/a5e79bdc-9063-11e6-9b9c-6917e473daee.png)

Looks good!
 - I don't have thoughts about bold vs. not bold.
 - I think it would increase readability to have more vertical whitespace in list elements (people, tasks, reports). The scribbled space is the one I'm ta

[2016-10-12 08:24] estellecomment commented on #2811
This is almost done (see [branch](https://github.com/medic/medic-webapp/pull/2826)), except I just couldn't get the two-line titles ("Allison Jones \n Primary contact") to display next to the icon, not underneath, thus the WIP. (I did get it to work with flexboxes, but flex isn't supported in the old webview, so backed out of that.)

Also maybe tests.

Unassigning myself if someone wants to finish

[2016-10-12 08:35] garethbowen commented on #2709
Unfortunately we can't know how big the biggest row is (due to wrapping, fonts, icons, etc).

[2016-10-12 08:35] #2709 closed

[2016-10-12 08:59] diannakane commented on #2819
@sglangevin that must be referring to mobile.

[2016-10-12 09:48] estellecomment commented on #2709
Can you set a minimum height though, ballpark? Then if there's more wrapping it can go over?

[2016-10-12 10:32] SCdF commented on #2797
So Gareth and I did some more debugging, and we've found a problem with idb support detection based on User Agent strings (!) in PouchDB that we're confident that we can patch out.

Here is the bad Tecno's user agent string for the web view.
`Mozilla/6.0 (Linux; U; Android 6.0; zh-cn;TECNO-W4 Build/ AppleWebKit/534.30 (KHTML, like Gecko) Version/6.0 Mobile Safari/534.30`
In contrast, here is an ex

[2016-10-12 12:30] SCdF commented on #2797
@garethbowen can you review the following:
 - Branch to create a 2.8.2 build, which is 2.8.1 + this patch: https://github.com/medic/medic-webapp/compare/2.8.1...2.8.2_br
 - A slightly different PR to get this change into master: https://github.com/medic/medic-webapp/pull/2827

[2016-10-12 13:53] sglangevin commented on #2800
So I'm not sure that we want to allow any user to complete another user's task any time. This seems like something that we'd want to configure for cases where we want to enable a particular workflow. Otherwise, we might have cases where a manager sees the tasks their CHPs need to complete and can complete them even if the manager isn't supposed to complete them. They'd then be marked complete for

[2016-10-12 14:26] SCdF commented on #2802
LGTM

[2016-10-12 14:26] #2802 closed

[2016-10-12 16:24] Lesterng commented on #2709
@estellecomment
Note:
1. Area name above area card, People, Households, Reports above list items should be in "regular" NOT "bold"
2. Household list items: "**Name family**" should be bold
Refer to Zeplin mockup: https://zpl.io/28Bjam

[2016-10-12 17:51] sglangevin commented on #2719
@estellecomment, just chatted with Dianna and wanted to add a few points of feedback to your "Requires other work" list.

That is not the case. LG has the same "add person" form at all levels of the hierarchy, whether it's a branch manager or family member.

- the CHW is the single primary contact for the area (there can be other people in the area)
- the parent of the area is the branch
- the bra

[2016-10-12 18:16] diannakane commented on #2719
I added default Add Place and Add Person forms to the spec -- feedback welcome.

These forms are for our default config which is for SMS. That means that we won't be creating households and family members from the app, giving us more flexibility to create default forms that prioritize facilities and staff.

[2016-10-12 18:18] estellecomment opened #2828 "Default Add Place and Add Person forms"
From discussion on design issue #2719

Our default forms don't make sense with the updates on the People tab, so they need to be updated.

Design spec:
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit?ts=57f7fabd#bookmark=id.kaz9vme2zuol

Edit : snapshot of the content of link above :

[2016-10-12 18:20] estellecomment commented on #2719
Relevant part in the spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit?ts=57f7fabd#bookmark=id.kaz9vme2zuol

Filed https://github.com/medic/medic-webapp/issues/2828

[2016-10-12 19:06] garethbowen commented on #2797
Looks good.

Because this is going to be a long lived patch I wonder if we'd be better off using the [other style of patch](https://github.com/medic/medic-webapp/blob/master/static/js/modules/pouchdb-generate-replication-id-patched.js) on `master`. After getting the original you could overwrite the `valid` method with your implementation. Up to you...

[2016-10-12 19:57] garethbowen commented on #2709
@estellecomment I don't think it's a good idea to add arbitrary minimum heights as we want to get as much on the tiny mobile screen as possible. For example if an installation doesn't have an age field in registration forms then none of the children will have the second line and it would be a waste to insert all that whitespace.

I've added bolding for the name of the children as per the comment f

[2016-10-12 20:14] garethbowen commented on #2811
I've requested a couple of changes - nothing major. Good job.

This is what it looks like now:

![household-header](https://cloud.githubusercontent.com/assets/2064938/19326028/45c997c4-9125-11e6-973f-3cfb31aea75c.png)
![contact-header](https://cloud.githubusercontent.com/assets/2064938/19326027/45c47f0a-9125-11e6-919a-08867f061c38.png)

It looks a little weird to me that the name of the person/pla

[2016-10-12 21:09] garethbowen commented on #2823
I think the 401 was a red herring - the real problem was the manifest URL was incorrect, which meant it wasn't found. Now it works without firing another request to the server (ie: offline first).

[2016-10-12 21:45] garethbowen commented on #2764
[PR](https://github.com/medic/medic-webapp/pull/2829)

Not all modals should be singletons - it would be really annoying if a modal you were working on closed while you were typing into it. I've set it on some that require no user input.

That being said, most modals won't have this issue because users can't interact with the page while the modal is visible. This one is affected because it's trigg

[2016-10-12 22:52] garethbowen opened #2830 "When resources change all icons disappear"
1. Go to the analytics > targets page and see the icon is displayed for a target (may need some configuration)
2. In another tab, as admin go to the configuration > icons page
3. Add a new icon
4. Go back to the analytics > targets page and the icon should still be there

For bonus points you can change the icon of the target and it should automatically update on the targets page (no refresh requi

[2016-10-12 22:58] garethbowen commented on #2830
The problem is that ng-sanitize strips out the `name` attribute - not sure why and not sure when this changed. Using `title` instead fixes the issue.

[2016-10-13 08:05] estellecomment commented on #2719
@sglangevin

Yeah, that's in the list of things we can do with just form changes.

[2016-10-13 08:07] sglangevin commented on #2719
Ok - I saw that in the list of things that require other work, so I wanted to make sure I understood what you meant.

[2016-10-13 08:08] estellecomment commented on #2719
Oh sorry read too fast.
I don't know if we can offer a dropdown that filters only `person`s of `role == 'CHW'`. That's what I meant.

[2016-10-13 08:11] sglangevin commented on #2719
Ah, ok, cool. You are right - we can't currently do that. It would be a great feature to add in the future though. What we can do is have a dropdown in the form where the user selects the contact type and then based on their answer, ask different questions.

[2016-10-13 08:14] diannakane commented on #2719
That feature would also be helpful in filtering contacts and sending
messaging to groups. "Only people with role = CHW." I think this is where
roles and tags start to overlap, such as "Only people with schedule = HIV
treatment" or "Only people with form = danger sign." We should take that
into consideration when we develop for people roles.

On Thu, Oct 13, 2016 at 11:11 AM, Sharon Langevin <notif

[2016-10-13 08:26] SCdF commented on #2797
I think if it breaks in the future we can move it, but I'll leave it there for now.

[2016-10-13 08:41] SCdF opened #2831 "Release 2.8.2"
### Release steps

* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to the release branch
* [x] Tag a beta release
* [x] Update the testing app and run acceptance testing
* [x] Update Changes.md
* [x] Tag the final release
* [x] Announce the release in #general

### Issues

* [x] #2797

[2016-10-13 09:58] SCdF commented on #2823
Awesome, nice one!

[2016-10-13 09:58] #2823 closed

[2016-10-13 09:59] SCdF commented on #2830
LGTM

[2016-10-13 09:59] #2830 closed

[2016-10-13 10:24] SCdF commented on #2764
LGTM!

_(Interestingly, re the example screenshot above, there is a separate issue--that I've yet to file because I've yet to really have anything intelligent to pin down about it--where grunt seems to be firing multiple times for just one change, and only the last firing generating a useful build.)_

[2016-10-13 10:24] #2764 closed

[2016-10-13 10:25] #2797 closed

[2016-10-13 10:50] SCdF commented on #2797
@Enock1990 I've assigned this to you to acceptance test. I've updated brac's dev site to be on the 2.8.2 beta. Chat to me on Slack. Once you're cool with it we can put out a final release and get brac's prod box upgraded!

[2016-10-13 11:02] estellecomment commented on #2811
Ok, how's that? Cleaned things out a bit.
https://github.com/medic/medic-webapp/pull/2826

[2016-10-13 11:05] estellecomment commented on #2719
Looks like we have a resolution, so closing. Reopen if you have more about the default "Add People/Places" forms.

[2016-10-13 11:05] #2719 closed

[2016-10-13 11:23] SCdF commented on #2774
@derickl / @sglangevin for clarity, which scripts were you using?

[2016-10-13 12:01] sglangevin commented on #2774
@SCdF the import script in medic-import

[2016-10-13 12:20] sglangevin commented on #2701
![](https://github.trello.services/images/mini-trello-icon.png) [Loop back with Alex/Stefan regarding automated testing](https://trello.com/c/C71deZVg/138-loop-back-with-alex-stefan-regarding-automated-testing)

[2016-10-13 13:39] estellecomment commented on #2697
@mandric Refactored to include your comments, see PR : https://github.com/medic/medic-webapp/pull/2832
Please rereview!

[2016-10-13 14:17] estellecomment opened #2833 "Restricted User without a home place downloads all contacts"
That's not very restricted, would be better to show no contacts.

Unless it's being used for something? @sglangevin @abbyad ?
(But if you want to see all contacts, then what you want is an admin user, of type "Full Access", rather than "Restricted Access" with no place)

[2016-10-13 14:36] estellecomment commented on #2833
Edit : the contacts aren't shown in People tab. But they're downloaded.

[2016-10-13 15:01] sglangevin commented on #2833
This isn't currently being used for anything - all restricted users have a home place - but wouldn't we want to have the ability for a user to store all this data offline? I'm thinking of the use case of a clinic with intermittent connectivity that is logged in as a restricted user so that they can view and manipulate their data offline on the clinic's computer. "Full access" users have to be onli

[2016-10-13 15:11] estellecomment commented on #2833
That makes sense as a use case, yeah. If we want that though, I'd rather implement that type of user, than reuse the restricted user. It's pretty surprising and a potential privacy/security problem to have a restricted user that's not restricted.

All right, it's a bug! Thanks!

[2016-10-13 17:06] browndav commented on #2805
Is there anything remaining in this issue that hasn't been split out?

[2016-10-13 17:13] SCdF commented on #2774
So I took a look, there is nothing obvious that could cause the `_users` record to not be created, or if the creation failed in any way for that error to not make it back to the script caller. I mucked around trying to see if I could see if it could error without at least notifying the script, but it looks like it's built right.

Not sure what the next steps are here. AFAICT either:
 - The script

[2016-10-13 17:13] SCdF commented on #2774
Hi @mandric , can you review and merge (if you're happy) the PR : https://github.com/medic/medic-import/pull/3

[2016-10-13 17:15] SCdF commented on #2831
The issue fixed requires a broken phone. I am the only MM person with that phone, and I fixed the ticket… so I can't really QA it.

We're looking to see if we can get the customer to either send us another broken phone, or have them QA it over the phone (it's easy to do), or have them decide they don't actually care (they are apparently in the process of recalling the broken phones, so maybe they

[2016-10-13 18:16] SCdF commented on #2833
So @estellecomment to be clear about what's happening, let me try to write the bug report and you can fill in the blanks / correct my mistakes. Note the (?) which are my big guesses:

--
Steps to reproduce:
 - Create a user that does not have a facilityId (?) set, or remove the facilityId from an existing user
 - On a fresh browser / app, start the app, so replication happens

What should happen:

[2016-10-13 19:03] garethbowen commented on #2833
I think this is "by design". The other alternatives are don't download anything, or throw an error on login, neither of which are very user friendly.

For DIY there may only be one clinic and it would make sense to have CHPs able to view anything.

[2016-10-13 19:31] mandric commented on #2697
$0.02 over here https://github.com/medic/medic-webapp/commit/980f67669c2936970de2950bed4b6b28a711899a#commitcomment-19417675

[2016-10-13 20:28] browndav commented on #2801
I'm seeing the `--unlimited-storage` option work properly on Chromium `51.0.2704.63` (64-bit, Mac OS X). I'm able to hit a `QuotaExceededError`, restart with the option enabled, and see successful transaction commits once again.

[2016-10-13 21:16] garethbowen commented on #2811
I've added a few more comments.

[2016-10-13 21:32] garethbowen commented on #2794
TODO:

* Refactor CSS for reuse in all lists and headers. At the moment it's scattered throughout the code.
* Refactor templates to use directives where code is duplicated.
* Fix the xforms upload script to set the icon value in the form doc.

[2016-10-14 04:00] mandric commented on #2801
Still no luck, I'm just modifying and testing the default project generated from `crosswalk-app`.  https://gist.github.com/mandric/7bf05e750d7ed3b5f907c4fb44abdd8e

[2016-10-14 07:15] sglangevin commented on #2813
@diannakane @estellecomment I thought you both decided that SMS projects would be the default configuration. If so, then this button should say "New District" instead of "New Branch".

[2016-10-14 07:17] sglangevin opened #2834 "When I click on a report from a contact profile, I see a flash of the History tab before getting to the report view"
To reproduce, go to any contact profile that has something in the History. Click on one of the reports in the History section - you'll see a flash of the History tab, followed by viewing the report you had clicked on. The correct behavior is to navigate directly to the report without seeing the History tab.

Definitely happens on mobile - might be harder to notice on web.

[2016-10-14 07:32] diannakane commented on #2813
Right. SMS = district > branch > area

(branch being synonymous with clinic)

[2016-10-14 07:37] sglangevin commented on #2813
I think you meant branch is synonymous with health_center (clinic is at the bottom of the hierarchy, so it's either area or family).

[2016-10-14 08:04] diannakane commented on #2813
Yes, thanks.

[2016-10-14 08:24] estellecomment commented on #2697
Replied on the PR, lemme know if it works for you : https://github.com/medic/medic-webapp/commit/980f67669c2936970de2950bed4b6b28a711899a#commitcomment-19424895

[2016-10-14 08:45] SCdF commented on #2831
All done!

[2016-10-14 08:45] #2831 closed

[2016-10-14 10:22] SCdF commented on #2768
OK so my looking through the existing translations on poeditor things don't line up right now.

Let's make a table to make things clear. shall we:

Internal Type | Current | Proposed
-------------|------|----------
district_hospital | District, sometimes Branch | District
health_center | Health Center | Branch
clinic | Sometimes Catchment Area, sometimes Clinic | Catchment Area

Can someone confir

[2016-10-14 10:48] SCdF commented on #2810
This seems inconsistently represented on the various mockups. It's in some but not others.

Additionally, I'd be worried about how scrolling would work in such as instance. If you change how much content is displayed below you, your current viewport doesn't change, and it looks clean and understandable. If you change how much content is displayed **above** you, your viewport will shift dramaticall

[2016-10-14 11:40] SCdF opened #2835 "First load: briefly displays "No people found" on the people and places tab even if you have contacts"
To reproduce:
 - Refresh browser etc, so you've got a cold instance
 - Navigate to the People and Places view

What you'd expect:
 - The page contains a loading throbber which after a time is replaced by your list of contacts

What actually  happens:
 - The page reports "No people found.".
 - After a time (occasionally multiple seconds, even on a fast phone) this text is finally replaced by a load

[2016-10-14 11:41] SCdF commented on #2834
On my Nexus 5 it only happens the first time (apologies I don't have touch view turned on so it's a bit hard to follow): https://dl2.pushbulletusercontent.com/pqSerd1m4uDbnBnxuanZRDEEQGCdY2hQ/demo2.mp4

On my worst tecno it's a little more noticeable, but honestly not much more so.

This is almost certainly a side effect of our current hierarchy, which is also why when you hit back from filling it

[2016-10-14 12:21] diannakane commented on #2768
Hi @SCdF, does this help?
![img_4244](https://cloud.githubusercontent.com/assets/1675870/19387269/d20566c6-9221-11e6-8cdf-8847d81cb4ec.JPG)

[2016-10-14 12:27] sglangevin commented on #2768
@diannakane that diagram implies that the default should be District, Branch, Area. Is that what you want for SMS projects? Earlier discussions had District, Branch, Catchment Area, so I'm just double checking.

[2016-10-14 12:29] diannakane commented on #2768
Our mockups show Area so let's keep it as Area. Everyone will recognize it
as the same thing.

[2016-10-14 15:40] mandric commented on #2697
Ok added a final suggestion.  Feel free to merge!

[2016-10-14 16:47] estellecomment commented on #2697
merged! Thanks!

[2016-10-14 16:47] #2697 closed

[2016-10-14 16:48] estellecomment commented on #2697
skipping acceptance testing, since this is refactoring, nothing to look at from the outside.

[2016-10-14 22:39] mandric commented on #2801
Soliciting help over here:
https://lists.crosswalk-project.org/pipermail/crosswalk-help/2016-October/002274.html

[2016-10-16 14:05] sglangevin opened #2836 "Targets tab doesn't go to the edge of the screen on mobile"
Seen on alpha.dev (2.9.0-alpha.4250), logged in as a restricted user.
![image](https://cloud.githubusercontent.com/assets/1286381/19417966/9619e996-93c2-11e6-9e60-70277adaceb8.png)

The gray pane containing the targets should go to the edge of the screen,

[2016-10-16 14:16] sglangevin opened #2837 "Forms appear on the History page when they shouldn't, based on configuration"
Seen on alpha.dev (2.9.0-alpha.4250):
![image](https://cloud.githubusercontent.com/assets/1286381/19418015/01dd00ae-93c4-11e6-8f07-c52bc5ff6775.png)

For example, the Assessment Follow-up action shouldn't appear, based on it's configuration. Here is the context:
![image](https://cloud.githubusercontent.com/assets/1286381/19418021/21676c02-93c4-11e6-8c8a-41d947eb7b9e.png)

Based on the context, thi

[2016-10-16 15:33] garethbowen commented on #2835
@SCdF Can you be more specific? Device? User type? etc...

[2016-10-16 16:34] sglangevin commented on #2835
I've also seen this on first load logging in as admin on desktop. I'd have to check to see if it's happening on mobile as well - can't remember.

[2016-10-16 20:48] garethbowen opened #2838 "Modify the upload_xform script to set the form icon"
In #2794 we modified the UI to display a custom icon beside forms and reports. For Enketo forms this is set as a string property on the form doc. We use a custom [upload_xform](https://github.com/medic/medic-webapp/blob/master/scripts/upload_xform.sh) script to create form docs and set metadata such as the context. Modify this script to also set the icon string.

The context metadata is stored in

[2016-10-16 20:48] garethbowen commented on #2838
@abbyad I think you're probably most familiar with this script - does the proposal make sense?

[2016-10-16 20:48] garethbowen commented on #2794
I've split off the upload script patch as #2838

[2016-10-16 21:16] garethbowen commented on #2794
Code review: https://github.com/medic/medic-webapp/pull/2839

Screenshots:

The content of the people tab:
![people-content](https://cloud.githubusercontent.com/assets/2064938/19420932/8ec7c326-9452-11e6-8ad9-e3d033f243c6.png)

The content of the report tab (icon)
![report-header-with-icon](https://cloud.githubusercontent.com/assets/2064938/19420931/8ec75f08-9452-11e6-95e6-cdf14080f8fa.png)

The c

[2016-10-16 22:34] garethbowen commented on #1122
As there has been no update to this issue I'm going to assume it's ready for acceptance testing and kick it out of the iteration.

[2016-10-16 22:34] #1122 closed

[2016-10-16 23:43] garethbowen commented on #2837
@sglangevin Are these forms hidden on 2.8.x?

The way it's designed at the moment is the context is only evaluated if there is a doc (eg: a person) selected. Obviously that doesn't apply in this case. It is expected that forms that require a person will have a person select field which is empty when invoked from the "Submit Report" menu and populated (and maybe readonly or hidden) when invoked wit

[2016-10-16 23:59] garethbowen commented on #2833
@estellecomment Get in touch - I'd like to close this as "by design". If the administrator has decided a certain CHP should see all information then there's no reason why we shouldn't support that use case.

[2016-10-17 00:01] garethbowen commented on #2724
@Lesterng Any update on this?

[2016-10-17 00:07] abbyad commented on #2837
Although there may be cases that forms should be hidden from specific types users, I think what we are dealing with now are forms that only make sense with input fields populated based on prior form submissions. For instance, without the cause for a visit a followup form on its own does not make sense. Right now, the only way to populate those fields is from our task rules, which means the form sh

[2016-10-17 00:11] garethbowen commented on #2837
@abbyad So do you think that all forms with a configured context should be hidden from this menu, or should we add an option to show/hide the form? (eg: `{ context: { required: true, expression: "" } }`

[2016-10-17 01:17] abbyad commented on #2837
I thought we already had a way to show/hide by putting the appropriate expression with `!contact`. If I am wrong about that I'll need to update [this answer](http://medicmobile.cloud.answerhub.com/questions/72/what-determines-how-we-set-the-context-json-file-f.html).

[2016-10-17 06:12] sglangevin commented on #2837
We did have that ability - I have this exact same configuration for this form on 2.8 and it does not appear on the History page. So this is a regression that should be fixed.

[2016-10-17 08:24] SCdF commented on #2835
Wow OK, I swear I wrote a detailed description for that, with reproduction steps, **including a video** I recorded on my phone. Not kidding. I'll write some stuff again

[2016-10-17 08:26] garethbowen commented on #2835
Also results from the focus groups please.

[2016-10-17 08:26] SCdF commented on #2835
(interestingly this seems to be a GitHub bug!? I found the tab: I never actually submitted the ticket because I wasn't done with the description, but it looks like it submitted bits of it for me…)

[2016-10-17 08:28] SCdF commented on #2835
OK updated. Can't find the video, I have too many phones. Can always record again if it's not clear.

[2016-10-17 08:29] SCdF commented on #2835
_(Oh but you fixed it anyway, I didn't even notice!)_ No video recording needed!

[2016-10-17 08:33] SCdF commented on #2835
LGTM!

[2016-10-17 08:33] #2835 closed

[2016-10-17 08:34] SCdF commented on #2836
LGTM!

[2016-10-17 08:34] #2836 closed

[2016-10-17 09:53] garethbowen commented on #2639
This appears to be done. Reopen if you find another example where it doesn't work.

[2016-10-17 09:53] #2639 closed

[2016-10-17 10:10] SCdF commented on #2837
LGTM

[2016-10-17 10:10] #2837 closed

[2016-10-17 11:22] SCdF commented on #2794
@garethbowen added some comments, but otherwise looks good!.

Also just to confirm, I need to upload forms with icons locally before I see anything right?

[2016-10-17 13:37] SCdF commented on #2774
@derickl / @sglangevin I'm going to close this, as we've made the logs a bit easier to spot errors in, and there isn't much else I can think to do unfortunately.

[2016-10-17 13:38] SCdF commented on #2797
Released in 2.8.2.

[2016-10-17 18:43] garethbowen commented on #2794
Sorry I should have written some documentation about how to get them to show up...

For JSON forms: add an `icon` property to the `meta` property of the form. eg:

[code]

For Enketo forms: add an `icon` property to the form doc, eg:

[code]

[2016-10-17 19:51] mandric commented on #2801
Looks like we'll need to point crosswalk to a fork of chromium... https://github.com/crosswalk-project/crosswalk-website/wiki/Downstream-Chromium

[2016-10-17 20:47] garethbowen opened #2840 "Try couchdb v2"
- Install couchdb v2
- Test functionality to determine if our app breaks (don't forget couchdb-lucene)
- Do any required work to get our code working with it
- Profile performance compared to v1

For performance we're particularly interested in
- view rebuild (including does changing one view force a rebuild of all views in the ddoc)
- view compaction
- view request
- initial replication (measure

[2016-10-17 21:15] abbyad opened #2841 "Newly created person shows in LHS"
Logged in as admin, you should not see any people in the LHS. When adding a person they show in the LHS, until you reload.

Added "Zorba", shown in LHS
![image](https://cloud.githubusercontent.com/assets/789512/19455859/c567a592-948c-11e6-9d34-5df2b7142ba6.png)

Proper LHS only after reload:
![image](https://cloud.githubusercontent.com/assets/789512/19455903/f37afc18-948c-11e6-9be3-e9bd5191c0d6.pn

[2016-10-17 22:00] #2794 closed

[2016-10-17 22:40] garethbowen commented on #2793
Released.

[2016-10-17 22:40] #2793 closed

[2016-10-17 23:22] garethbowen commented on #2788
0.4.13-rc.1 is ready to go and ipd-nepal has been cloned to ipd-nepal-testing and updated for UAT.

[2016-10-17 23:28] browndav opened #2842 "Upgrade LG to 2.8.2"
- [x] Review the LG upgrade checklist (and revise, if necessary)
- [x] Find a more permanent home for the checklist in Git
- [x] Perform a test upgrade using a cloned instance; characterize required runtime/effort
- [x] Schedule downtime for LG production
- [x] Perform actual production upgrade during off-hours (EAT)

[2016-10-17 23:28] browndav commented on #2842
Current upgrade checklist is located at https://gist.github.com/browndav/6eda2e77a8039c77514b2211db2e4d8b.

[2016-10-18 01:59] garethbowen commented on #2834
PR: https://github.com/medic/medic-webapp/pull/2843

The problem was when a user kicks off a new search we immediately show the LHS so they can see the spinner while the search is loading. Unfortunately we also do that when the search is kicked off on first load of the controller. I've added some code to detect when the search is being execute explicitly as opposed to in the background.

[2016-10-18 08:10] SCdF commented on #2842
FWIW I did a quick check and I'm pretty sure there are no view changes between 2.8.0. and 2.8.2

[2016-10-18 08:41] SCdF commented on #2834
Works for me!

[2016-10-18 08:41] #2834 closed

[2016-10-18 09:15] sglangevin commented on #2813
This is just a quick change to the default translation, right? Seems like we could combine this with #2768 and just do a final pass on all translations to make sure everything is correct.

[2016-10-18 09:17] sglangevin commented on #2768
Can we combine this issue with #2813? Then this issue could include a review of the default translation and updating those translations to be consistent.

#2813 was just to change the LHS button for admins to be "New Branch".

[2016-10-18 09:18] sglangevin commented on #2810
@SCdF - that makes sense to me. @diannakane, could we leave out the filters at the bottom and just add the up arrow that was in the mock-ups? That way it's easy to get back to the filters if you have a long list.

[2016-10-18 09:24] sglangevin commented on #2737
This looks to have been resolved, based on what I have seen in the current UI on alpha.dev. Can we close this issue and open a new one once there is a specific request?

[2016-10-18 09:25] sglangevin commented on #2726
This is no longer blocked as there is now a spec for default place and person forms (#2828). I think we can close this issue in favor of #2828.

[2016-10-18 09:25] #2726 closed

[2016-10-18 09:30] sglangevin commented on #2724
Sounds like this was moved to #2828, where we have full information on default person and place forms. Updates to mocks can be made to satisfy all requirements in the other issue. Closing in favor of #2828.

[2016-10-18 09:30] #2724 closed

[2016-10-18 09:34] sglangevin commented on #2841
I've seen this happen on start-up (first view of People tab) as well. I logged in and saw 1 person in the LHS. The person disappeared after a refresh and didn't show up in the LHS the next time I logged in.

[2016-10-18 09:35] sglangevin commented on #2725
Closing in favor of #2828, which has complete requirements for default forms.

[2016-10-18 09:35] #2725 closed

[2016-10-18 09:37] sglangevin commented on #1848
Closing in favor of #2763.

[2016-10-18 09:37] #1848 closed

[2016-10-18 09:38] sglangevin commented on #1735
Have we seen this again? If not, we should close this issue and re-open if it recurs. cc @abbyad

[2016-10-18 09:39] sglangevin commented on #1572
What is the status of this issue? It's not clear what needs to be done (if anything). I would suggest opening a new issue or editing the title of this one to clarify what is needed.

[2016-10-18 09:41] sglangevin commented on #1490
Is this still needed? cc @abbyad

[2016-10-18 09:44] sglangevin commented on #2813
Closing in favor of #2768.

[2016-10-18 09:47] estellecomment commented on #2811
done!

[2016-10-18 09:52] garethbowen commented on #2811
Nice. There's a conflict now, but feel free to merge when ready.

[2016-10-18 10:00] estellecomment commented on #2833
As discussed : this is probably not great for DIY, but that'll come later, so closing.

[2016-10-18 10:00] #2833 closed

[2016-10-18 12:31] #2811 closed

[2016-10-18 12:34] estellecomment commented on #2813
It's not a translation issue : the issue is that it uses the generic term "Place", instead of the specific term for level 1 places (the translation part is picking between "Branch" and "District" or whatever, for that level 1 place label.).
It also sends you to a generic "Create Place" form, without selecting the type of place.

[2016-10-18 13:45] abbyad commented on #1490
Seems as though current projects are doing well without this so I think this can wait until it comes up again for a project.

[2016-10-18 13:50] abbyad commented on #2828
We should create this default form as an XLSForm, which would make it easy for tech leads to modify them for their projects. This issue can be picked up by a tech lead, @sglangevin or myself.

[2016-10-18 14:00] abbyad commented on #2819
@diannakane this would replace the "Belongs to", right?

Desktop view:
![image](https://cloud.githubusercontent.com/assets/789512/19480749/952eb3e2-9519-11e6-9c25-772d2e968cee.png)

[2016-10-18 14:10] SCdF commented on #2820
So I took a stab at this in a branch. It's a two steps forward one step back sort of deal unfortunately. Nearly all of the existing back button logic is retained, which is good. More complex navigation situations default to the standard web back functionality, so things hitting back after People List -> Area -> Family -> Person -> Report -> Edit Report will work backwards up each step correctly. W

[2016-10-18 14:16] SCdF opened #2844 "Should CHWs be able to edit their own area?"
As a CHW you can currently edit your area, which has the branch ID, which CHW is attached, who the supervisor is etc.

It seems like allowing people to edit the area they're attached to, to do stuff like detach themselves or what have you, could cause problems.

[2016-10-18 14:30] SCdF opened #2845 "Editing a report from a person doesn't pre-populate the person"
To reproduce:
- Be a restrictied user
- Navigate to a person / family / etc
- Tap on a report in the report section
- Hit edit

What should happen:
- The person gets prepopulated, and you skip past the first page where you select the person into the first "data" page

What actually happens:
- Either
  - You're on the first page, and the person gets prepopulated in the select2 dropdown
  - You're o

[2016-10-18 14:34] abbyad commented on #2819
Moving this to the backlog for now since the functionality seems to be covered by the "Belongs to" field.

[2016-10-18 14:36] abbyad commented on #2828
Assigned to @ngamita to be worked on by tech leads with support of @sglangevin and myself.

[2016-10-18 14:47] abbyad commented on #2763
This issue is most jarring in desktop view, yet noticeable on both mobile and desktop when using the back button and left arrow. We should deal with this before any major changes to the back button functionality, but we decided to hold off on this until we get feedback from initial beta testing - and can then prioritize accordingly. Ideally we can wait until after 2.9 is released to avoid potentia

[2016-10-18 14:48] abbyad commented on #2730
Given the ripple effects of this change for forms, moving this to backlog to be tackled post v2.9 release.

[2016-10-18 14:51] abbyad commented on #2342
Given the apparent low effort for this, we should include this with the v2.9 release for non-admin users. I think it is acceptable for admin users to see no place in right hand side for now. We can design an admin RHS page at a later time.

[2016-10-18 14:52] abbyad commented on #2342
@estellecomment if I've misjudged the effort of this issue for non-admin users please let me know and we can (re)consider backlogging it.

[2016-10-18 15:04] abbyad commented on #1572
This had been kept open as an overarching issue but now makes sense to close in favour of the newly spawned issues. If further design work is needed for the profile page it can be opened in `medic-design`.

[2016-10-18 15:04] #1572 closed

[2016-10-18 15:07] abbyad commented on #2693
@diannakane is this still required?

In the meantime moving it to the backlog so it doesn't get lost with no milestone

[2016-10-18 15:09] abbyad commented on #2333
Seems related to #2828, but for the _Edit_ place forms.

[2016-10-18 15:11] abbyad commented on #2126
@sglangevin is this needed for a v2.9 release?

[2016-10-18 15:12] abbyad commented on #1768
@estellecomment, I am closing this as it seems to be superseded by the new People tab work.

[2016-10-18 15:12] #1768 closed

[2016-10-18 15:32] abbyad commented on #2784
Thanks for figuring this out. It definitely makes sense to only send messages to the `clinic` level for now. If/when we need to send SMS to other levels we can open a feature request for that.

I now have a `clinic` contact and will tested this successfully.

[2016-10-18 15:32] #2784 closed

[2016-10-18 16:42] SCdF opened #2846 "On mobile, from people and places tab, back button on creating a new place goes "back" to the user's home place"
To reproduce:
- Be a CHW on a phone
- Open people and places list
- Tap the + to create a new place
- Hit back, confirm that yes you want to close the form

What should happen:
- You should be back where you were: looking at the people and places list

What actually happens:
- Your home place (probably just whatever is first on the list) gets displayed.

Notes:
- This is due to how enketo form dis

[2016-10-18 16:44] SCdF opened #2847 "Home place always shows even when searching for something that shouldn't show it"
This might be intentional and I'm just not the target audience, but it seems wrong to me:

![image](https://cloud.githubusercontent.com/assets/583851/19487366/6d92b216-955a-11e6-808f-76b1f44db090.png)

I would expect no results, but I always get the home place.

[2016-10-18 18:39] garethbowen commented on #2342
"your place" is already selected for users with a configured place in desktop mode.

The other part of this issue is to have a root place for users without a configured place (eg: admins). @abbyad Is the root place concept required for 2.9.0, or can we split off a separated backlogged issue for that?

[2016-10-18 19:12] garethbowen commented on #2820
I think the crux of this issue is getting our routing model correct. Simplistically it sounds like we want the android back button to go up not back in the conventional sense. This maps quite nicely to taking the last route of the URL, eg: `/tasks/{uuid}/submit-report` -> `/tasks/{uuid}` -> `/tasks` -> `/`. This is easily achievable with `$state.go('^')`.

I think this will require significant cha

[2016-10-19 07:12] sglangevin commented on #2126
This only applies to the Android app currently, so I'd say we can release 2.9 without it and then try to revisit this at a later date.

[2016-10-19 07:15] sglangevin commented on #2846
@SCdF you should only be able to add a person from a place page. So you'd have to be on an area or family page to add a person. If you hit back while you are editing the form, then you should be back on the place page where you came from. For example: go to People tab, click on CHW Area #1, click Add Person in the FAB, then hit back, confirm you want to leave the form and you should end up back at

[2016-10-19 07:19] abbyad commented on #2342
Good to hear that "your place" is already set of you have a place set. That seems sufficient for v2.9 and we can see from testing how admin users deal with it.

[2016-10-19 07:20] abbyad commented on #2126
Sounds good, we'll leave it in the backlog for now then.

[2016-10-19 07:24] sglangevin commented on #2342
When I log in for the first time as a user with a place set, the RHS is blank. I see "my place" highlighted in gray but I should see the card on the RHS. Maybe someone else can test?

[2016-10-19 07:28] sglangevin commented on #2820
@garethbowen I like the overall concept of this and it's cool that we could accomplish viewing reports and/or tasks in the People tab with this new way of doing things.

That said, as a user of the Android app, one of the more frustrating things that I encounter is the fact that clicking back from a person's page takes me all the way back to the list of families. If I have drilled down from my are

[2016-10-19 07:33] sglangevin commented on #2847
@diannakane @Lesterng any thoughts on this one? To me, seems like we would remove "my place" when searching but wondering what you had in mind.

[2016-10-19 07:35] sglangevin commented on #2693
We had agreed this was not required, but it's a feature that we should include in a later version. It's mostly applicable to Android projects, but could be used for SMS projects at some point in the future.

[2016-10-19 07:37] sglangevin commented on #2845
@SCdF this is also a regression as this was working properly for CHWs before.

[2016-10-19 07:38] sglangevin commented on #2844
Can we create a permission for this? We don't want CHWs editing their own areas most of the time - it would be ideal to have a user permission for this as opposed to blocking it for everyone. If creating a permission is too much work, then it might be fine to block editing of your own place for all users as an interim solution.

[2016-10-19 08:16] garethbowen commented on #2820
It can be done, but I worry it'd feel inconsistent with how it's implemented everywhere else.

[2016-10-19 08:24] sglangevin commented on #2820
I don't see this as inconsistent because we don't have anything that is equivalent in any other tab. In Tasks, you open a task and then you click back to go back to the list. In Targets, there is just 1 screen. In History, you open a report and then go back to the list.

The People tab is actually a special case as it functions very differently from all other tabs. The UX that is there is very con

[2016-10-19 08:26] garethbowen commented on #2820
Of course.

What if you click parent, child, parent, child, parent, child, then back, back, back. What page are you on? Does back on People always just go to the parent? Or does it go back in the web sense?

[2016-10-19 08:31] sglangevin commented on #2820
I would assume that back goes up the hierarchy. So if you are logged in as a CHW and are on a family member page, the first back goes to the family page, the next back goes to the LHS (list of families) and the third back goes to Tasks tab. If you are logged in as a branch manager and are on a family member page, the first back goes to the family page, the next back goes to the area page with a li

[2016-10-19 11:26] SCdF commented on #2846
@sglangevin so right now on master I can see a + button at the bottom of the people and places search, as both a CHW and an admin. Are you saying that button shouldn't be there?

[2016-10-19 11:31] sglangevin commented on #2846
The + button at the bottom of the LHS (where search results appear) should only be for adding places, not people. If you want to add a person, you'd have to navigate to a place first, either your home place or another place you have access to.

[2016-10-19 11:31] SCdF commented on #2846
Oh **sorry**, I actually meant place. In my mind those are the same things (because they are on the technical record storing level).

I'll update the ticket to be clearer.

[2016-10-19 12:01] SCdF commented on #2820
Firstly, this ticket is an attempt to solve precisely what your suggestion intentionally doesn't solve. While a more understandable routing model is desirable, I don't think it helps this issue by itself.

Secondly, consistency is very much in the eye of the beholder. If I use other android apps that allow drilling down, they behave in the way that I describe above. Some examples:
 - In Twitter, i

[2016-10-19 15:04] alxndrsn commented on #2801
Building crosswalk is not documented for OSX; I recommend Ubuntu, although have not completed the process yet.

[2016-10-19 18:38] garethbowen commented on #2820
I'm mostly concerned about internal consistency as, like you say, there's not a lot of consistency with other android apps.

[2016-10-20 08:33] garethbowen commented on #2840
### Methodology

I installed couchdb 2 following the [installation documentation](http://docs.couchdb.org/en/2.0.0/install/index.html). I set up a reasonably sized demo database in v1 then replicated it to v2. Then I ran each of the following tests against each instance...

### Performance results

| Test | v1 | v2 |
| ---- | ---- | ---- |
| View rebuild: make a change to a view in lib/views.js an

[2016-10-20 08:44] bishwas-medic commented on #2756
Acceptance testing completed! It works great. This feature will be very helpful, thanks Dev team.

[2016-10-20 08:54] bishwas-medic commented on #2781
Acceptance testing completed by me and Pawan. The issue is solved and everything looks good. Thanks team.

[2016-10-20 10:37] Lesterng commented on #2847
@sglangevin @diannakane I agree with Sharon. This should return nothing.

[2016-10-20 11:24] diannakane commented on #2693
I wasn't expecting this to be done for this release. We'll keep it as a
feature request for future releases.

[2016-10-20 11:31] diannakane commented on #2819
The back button and "belongs to" serve different purposes so ideally we
will have both.

The back button allows you to get back to where you came from. In the
majority of cases, this is the parent place. In two cases, where you came
from is not your parent place. This has been outlined in the spec and
agreed to by Stefan and Estelle.

The "belongs to" field shows the entire hierarchy of where that

[2016-10-20 11:33] diannakane commented on #2810
I agree with that.

[2016-10-20 11:40] SCdF commented on #2847
OK sounds like a bug, putting it in the sprint.

[2016-10-20 11:54] SCdF commented on #2819
majority of cases, this is the parent place. In two cases, where you came
from is not your parent place. This has been outlined in the spec and
agreed to by Stefan and Estelle.

This is not what you and I discussed. Specifically, I tried to be clear about the difference between a back button such as in a browser, and a link that goes to your parent, including the differences between mobile and des

[2016-10-20 12:03] diannakane commented on #2819
It is the same as what we talked about, just described in a different way.
The spec hasn't changed.
https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.qi8rme5a3bqd

In most cases "take me back" = "parent place." The spec describes the two
exceptions to that rule.

[2016-10-20 20:16] garethbowen commented on #2798
Also the TasksContentCtrl...

[code]

https://travis-ci.org/medic/medic-webapp/jobs/169339791

[2016-10-20 20:19] #2788 closed

[2016-10-20 20:30] abbyad commented on #2838
Ya, that makes perfect sense.

[2016-10-20 20:45] garethbowen commented on #2798
The reports one was just plain broken - the setTimeout was running after the test completed because it wasn't using the done function. When I fixed that it was failing on a real error.

I made an attempt at the Tasks ones but I'm not confident I got to the bottom of those.

[2016-10-20 20:46] garethbowen commented on #2798
Closed by accident.

[2016-10-20 20:50] garethbowen opened #2848 "Test SMS workflow in v2: Christian Aid"
Test the [Christian Aid configuration](https://github.com/medic/medic-projects/blob/master/christian-aid-2/app_config.json) running on `master` and raise any issues.

[2016-10-20 22:23] browndav commented on #2842
The `lg.app` production server is now at version `2.8.2`.

[2016-10-20 22:23] #2842 closed

[2016-10-21 09:46] estellecomment commented on #2798
LGTM, thanks!
I'm closing this, we'll reopen if it shows up again...

[2016-10-21 09:46] #2798 closed

[2016-10-21 10:42] derickl commented on #2774
@SCdF this happened again for the user liliankh created on October 19th. Login works on `lg-training` but not on `lg.app`. No error was shown during the creation process. Do you need any more information?

[2016-10-21 10:46] SCdF commented on #2774
Hmmm so can you explain what you did exactly? Things like:
 - How you used the script
 - How many people you imported, whether only one of them fails, all of them, some of them etc
 - How training and prod are connected (ie are you replicating between them, or are you running the script twice against each one etc)
 - Output of the script if you have it (probably want to send it to me via slack, or

[2016-10-21 10:59] derickl commented on #2774
_- How you used the script_
cat new-users.csv | ./node_modules/.bin/medic-import -t users <PLACE_ID>

_- How  many people you imported, whether only one of them fails, all of them, some of them etc_
Just the indicted user was created

_- How training and prod are connected (ie are you replicating between them, or are you running the script twice against each one etc)_
I ran the script twice agains

[2016-10-21 11:14] SCdF opened #2849 "Consider putting each view into its own DDOC"
We should have a proper discussion about the pros and cons of this approach.

I'll go first.

Pros:
- It makes it very clear how large each view is, which helps with keeping track of performance
- It reduces the likelyhood of unused views eating ram / disk space / cpu cycles, since views are only (re)generated when you query them
- Importantly for mobile, it makes sure that views users aren't actu

[2016-10-21 11:44] alxndrsn commented on #2801
@mandric have you tried passing chromium command line options via `src/main/assets/xwalk-command-line`, as documented at https://github.com/crosswalk-project/crosswalk-website/wiki/Use-Chromium-command-lines-in-your-apps-on-Android ?

[2016-10-21 12:22] estellecomment commented on #2849
:star: :unicorn_face: :stefan: :unicorn_face: :star:

[2016-10-21 13:20] mandric commented on #2801
Yes, tried all the methods. See ML post.

[2016-10-23 20:41] abbyad opened #2850 "Cannot add new translation key"
When adding `action.person.add`, it saved the proper label with `undefined` as the key.

Tested using 2.9.0-beta1

[2016-10-24 11:42] derickl opened #2851 "Error when completing a task on demo.dev.medicmobile.org"
On the final step, clicking on submit shows the following error page.

![screen shot 2016-10-24 at 14 41 13](https://cloud.githubusercontent.com/assets/83162/19644370/f525dfa4-99f7-11e6-90ab-0245448c9622.png)

Here is the associated console log:

[code]

[2016-10-24 12:04] abbyad commented on #2851
We have seen this error often during our internal training session.

The config includes permissions for `can_view_tasks` and `can_view_tasks_tab`. We should open corresponding issue in `medic-webapp`.

[2016-10-24 12:57] henokgetachew opened #2852 "It's hard to tell between labels that are clickable/selectable vs those that are just labels"
![screenshot_20161024-154927](https://cloud.githubusercontent.com/assets/3198821/19646440/0b076f54-9a02-11e6-9b55-f1b0c709175f.png)
Perhaps there should be a difference between the labels that are clickable and those that are not.

[2016-10-24 14:07] SCdF opened #2853 "Improve free text search views"
There are some inefficiencies in the free-text search views where they generate more data than they need to.

We should look at reducing the amount output produced, so save disk space, increase indexing speed and search speed / correctness.

[2016-10-24 14:10] SCdF commented on #2853
I also want to look at why we have two freetext views for contacts, I'm pretty sure that's not required anymore.

[2016-10-24 15:12] abbyad commented on #2700
Nice work @garethbowen, works like a charm!

[2016-10-24 18:22] abbyad commented on #2700
I hadn't completed step four of the acceptance testing and just noticed that it passes for _Patient Reports_, but not for _Registrations_ (now called _Report Actions_). Returning for fixes.

[2016-10-25 02:06] garethbowen commented on #2700
Just the [last commit](https://github.com/medic/medic-sentinel/commit/9d10a71b229c3f4b5f92d4b77ec08be0cb1231e2) to review please @SCdF

[2016-10-25 03:14] garethbowen opened #2854 "Upgrade to couchdb v2"
Meta issue for upgrading to couchdb v2.
- [x] #2855 Make migrations compatible with CouchDB 2.0
- [x] #2856 Replace uses of _config with couchdb v2 compatible api
- [ ] #2857 Update medic-os to couchdb v2
- [x] #2930 Update any README.md instructions for CouchDB2.0
- [x] #2931 CouchDB2.0 API version check
- [x] #2932 Test Couch2PG with CouchDB2.0
- [x] #2933 Get Travis using CouchDB2.0
- [x] #2934

[2016-10-25 03:16] garethbowen commented on #2854
This follows on from #2840

[2016-10-25 03:19] garethbowen opened #2855 "Make migrations compatible with CouchDB 2.0"
We have two or three migrations that use temporary views which have been removed in couchdb v2. Use either mango or create then delete persistent views to achieve the same result.

[2016-10-25 03:21] garethbowen opened #2856 "Replace uses of _config with couchdb v2 compatible api"
In particular, the user creation UI which calls _config to update admin passwords.

[2016-10-25 03:21] garethbowen opened #2857 "Medic OS: Update to CouchDB version 2.x"

[2016-10-25 03:23] #2840 closed

[2016-10-25 03:51] garethbowen commented on #2851
PR: https://github.com/medic/medic-webapp/pull/2858

[2016-10-25 04:46] smbuthia opened #2859 "Can't change the label on the first tab within Facilities for v0.4"
The partner would like the tabs within facilities to be relabeled from 'Districts' to 'Country' like is done for the other tabs using translation. There doesn't seem to be a translation for this.

![cb-districts-tab](https://cloud.githubusercontent.com/assets/1491710/19673318/402efe7e-9a87-11e6-8d0a-0c9d7f5d334b.png)

[2016-10-25 07:14] SCdF commented on #2851
Choice!

[2016-10-25 07:14] #2851 closed

[2016-10-25 07:24] SCdF commented on #2700
@garethbowen one minor style comment, other looks good.

[2016-10-25 09:00] garethbowen commented on #2850
PR: https://github.com/medic/medic-webapp/pull/2860

[2016-10-25 09:54] abbyad commented on #2700
Confirming the fix. Thanks for the quick turnaround!

I noticed that I failed to include muting/cancelling schedules as Acceptance Testing items. I will add them to the original post as I think they are required as part of this issue as opposed to new functionality. @garethbowen, if you prefer this as a separate issue let me know.

![image](https://cloud.githubusercontent.com/assets/789512/1968079

[2016-10-25 10:02] garethbowen commented on #2859
From reading through the code I think if you supply a translation key of "Facilities" it should just work: https://github.com/medic/medic-webapp/blob/0.4.x/lib/shows.js#L658

[2016-10-25 10:02] garethbowen commented on #2859
@smbuthia Can you please try modifying your configuration and see if it works?

[2016-10-25 10:23] abbyad commented on #2700
As noted in https://github.com/medic/medic-webapp/issues/2700#issuecomment-255990586, the Patient Forms and Notification forms do not clear, mute, or unmute scheduled messages.

In terms of timing this is not urgent and we do not need to move our next planned release (beta2) forward for this.

[2016-10-25 10:31] SCdF commented on #2850
LGTM

[2016-10-25 10:31] #2850 closed

[2016-10-25 10:40] smbuthia commented on #2859
@garethbowen I've tried that but this only changes the parent tab 'Facilities', what I'm trying to change is that tab that's currently labeled 'Districts' within the facilities.

[2016-10-25 10:49] garethbowen commented on #2859
@smbuthia Sorry I misread. Have you tried supplying a translation for "Districts"? Again, looking at [the code](https://github.com/medic/medic-webapp/blob/0.4.x/templates/facilities.html#L4), this should work...

[2016-10-25 11:19] estellecomment commented on #2669
Feel free to pick this up, if not I'll get back to it later

[2016-10-25 12:45] smbuthia commented on #2859
@garethbowen I somehow still can't find this translation. Is it possible to provide a bit of direction or share a screen shot of where I can perform this translation? I've also asked the rest of the Tech lead team and the consensus seems to be that this tab cannot be translated.

[2016-10-25 12:55] SCdF commented on #2853
Hey @garethbowen I've created two PRs:
 - https://github.com/medic/medic-webapp/pull/2861 tweaks how free-text views generate stuff to reduce cruft (as well as skipping a bit more, or in the case of reports, a lot more)
 - https://github.com/medic/medic-webapp/pull/2862 removes two views and their associated logic. Due to the massive simplification of the contact search UI I don't see how we can g

[2016-10-25 13:12] bishwas-medic commented on #2859
@smbuthia this is a known issue as discussed here:
https://github.com/medic/medic-projects/issues/50

The workaround is changing one of the labels to "Districts" and assign the translation for it in the Advanced Configuration page.

[2016-10-25 13:33] smbuthia commented on #2859
This works, thanks @bishwas-medic
cc @garethbowen

[2016-10-25 13:33] #2859 closed

[2016-10-25 17:46] SCdF commented on #2849
An interesting through occurs: CouchDB may be incomprehensible Erlang with potentially challenging constraints that force views to be regenerated at the ddoc level. There may be no reason that PouchDB has to be this way though (or even is this way?).

[2016-10-25 19:22] SCdF commented on #2853
@garethbowen reminded me of select2s etc: I'm going to take another look to see if those two views are *actually* not used, and ideally see if we can add some e2e tests around it

[2016-10-25 19:41] garethbowen commented on #2384
@alxndrsn What's the status on this?

[2016-10-25 20:06] garethbowen commented on #1800
Deprioritised.

[2016-10-25 20:08] #2737 closed

[2016-10-25 20:11] garethbowen commented on #821
I'm guessing this is done. Reopen if necessary.

[2016-10-25 20:20] mandric commented on #821
Just needs a code review and a merge.

[2016-10-25 21:14] garethbowen commented on #2700
@SCdF PR: https://github.com/medic/medic-webapp/pull/2863

The problem was with the view that's used by sentinel to determine which registrations the mute/unmute/clear should apply to. Previously it only supported the 1 phase registration where patient and pregnancy are registered in the same message, and the `doc.patient_id` is correctly populated. The 2 phase registration means the pregnancy reg

[2016-10-25 22:11] abbyad opened #2864 "Transitions do not run for XForms"
Based on a test that Sharon and I did, a XForm did not trigger a transition (act like a registration or patient report) despite being configured to do so. Use case is a nurse at a facility submitting form via app, which has come up often lately.

[2016-10-25 23:28] garethbowen commented on #2864
PR: https://github.com/medic/medic-sentinel/pull/86

Configuration is just like for JSON forms - put the form internal ID as the "Form" in the "Report Actions" section of the config. I chose not to configure any validations or response messages.

![config](https://cloud.githubusercontent.com/assets/2064938/19707904/4ff65c58-9b77-11e6-8227-1b48915e6608.png)

Configure the "Schedule" as you would fo

[2016-10-26 01:23] garethbowen commented on #2342
Try as I might I cannot reproduce the issue @sglangevin is seeing either locally or on alpha.dev. I'm going to close this and set it for acceptance testing so we test it again.

A dummy place for admins can be raised as a separate issue.

[2016-10-26 01:23] #2342 closed

[2016-10-26 02:15] garethbowen commented on #2847
PR: https://github.com/medic/medic-webapp/pull/2865

[2016-10-26 03:32] garethbowen commented on #2841
This would also happen if a person was replicated into the database while you had the People screen open. The problem is we're watching for changes in the database and then updating the list when a change comes in. This worked fine until we filtered the LHS more heavily. I think the fix is to fire off a background search when changes occur so the current filters are used, rather than blinding appe

[2016-10-26 05:21] sglangevin commented on #2841
@garethbowen does this also fix the fact that new reports show up in History that don't fit the filter that you have put on the History tab? For example, I filtered to see CHW Area A's reports and while I was looking at them, reports from CHW Area B came in and appeared in the list. If not, I'll file a separate issue for that.

[2016-10-26 06:13] jaymedic opened #2866 "Text re-size within medic -Web app"
Text within the Web app on Android /Chrome was resized to Large without user changes upon login.

[2016-10-26 08:24] garethbowen commented on #2841
Yeah that's the same root cause and I'll apply the same fix to both reports and contacts.

[2016-10-26 09:20] garethbowen commented on #2841
PR: https://github.com/medic/medic-webapp/pull/2867

The Changes listener used to always append the new item to the list which meant we ignored any filters that were set. The listeners are now in the controller and just fire off a background search using the current filters.

[2016-10-26 12:59] SCdF commented on #2853
@garethbowen I dropped the second PR, comments on it. I made some changes to the first and it's back to you!

[2016-10-26 14:09] SCdF commented on #2700
LGTM--merged.

[2016-10-26 14:09] #2700 closed

[2016-10-26 14:35] SCdF commented on #2864
LGTM. I've also updated medic-webapp to pull the latest sentinel.

[2016-10-26 14:45] SCdF commented on #2847
LGTM

[2016-10-26 14:45] #2847 closed

[2016-10-26 14:48] SCdF commented on #2841
So this code looks good @garethbowen, and feel free to merge it, but may I ask: do we actually want the search to magically update in the background because a new doc was added? Is the chattiness worth the functionality?

[2016-10-26 15:09] abbyad opened #2868 "Non admins can edit translations"
A restricted user (district manager or CHW) that has permission to see the Configuration tab can make changes to the translations for all users -- but probably shouldn't. They can see the other settings but cannot change them since they are not couchdb admins. This probably changed when translations was moved out of the app_settings.

[2016-10-26 15:39] abbyad commented on #2700
Nice work -- works incredibly well and passes all acceptance testing. This is closed for good now!

[2016-10-26 16:07] sglangevin commented on #2864
Fields are picked up from within the message, e.g. `{{patient_name}}` but @abbyad and I were not able to get the messages to be sent to a number other than the sender. We had a field in the xform called `patient_contact_phone` and we listed the recipient of our SMS auto-reply as `fields.patient_contact_phone` but no luck.

[2016-10-26 16:39] jaymedic opened #2869 "Dual login on medic Web app on Android"
-Upon entering link into Chrome on Android, 2 different login windows appear
- one is in the browser window
- one is on the phone

-Hardware Samsung Galaxy 4
-Android v 5.0.1

[2016-10-26 16:41] browndav commented on #2869
Are you able to grab a screenshot? Curious if it's an HTTP basic authentication popup overlaying the page area on the phone (e.g. http://i.stack.imgur.com/PNsXB.jpg) or something different.

[2016-10-26 17:23] jaymedic commented on #2869
![screenshot_2016-10-26-19-46-45](https://cloud.githubusercontent.com/assets/23031331/19736906/f8a7a78e-9bb9-11e6-8d4f-0632f42837ef.png)

[2016-10-26 17:24] jaymedic commented on #2869
The dual login occurs about 90% of the time

[2016-10-26 18:59] garethbowen commented on #2853
Beautiful!

[2016-10-26 18:59] #2853 closed

[2016-10-26 19:00] garethbowen commented on #2868
Correct. We should modify the replication to server filter to exclude translations and anything else they shouldn't be able to change (eg: xforms).

[2016-10-26 19:49] garethbowen opened #2870 "Deregister Changes callbacks"
Our controllers use the Changes service to register listeners for changes to specific documents. These listeners should be deregistered when the controller is destroyed. This will improve performance and also avoid bugs where we attempt to update the $scope after it's dead.

[2016-10-26 20:11] garethbowen commented on #2841
I've split off #2870 to alleviate some performance concerns and will hopefully get that done this iteration too.

[2016-10-26 20:11] #2841 closed

[2016-10-26 20:18] garethbowen commented on #2864
@sglangevin Can you please try specifying the recipient as `patient_contact_phone` (ie: without the "fields." at the front)?

[2016-10-26 21:06] sglangevin commented on #2864
@garethbowen thanks, it's now working! Since there were no code changes, I think this can go straight to acceptance testing again.

[2016-10-26 21:07] #2864 closed

[2016-10-26 21:07] garethbowen commented on #2864
Thanks Sharon!

[2016-10-26 21:30] garethbowen commented on #2870
PR: https://github.com/medic/medic-webapp/pull/2871

I'm not 100% happy with the API here - if you have any feedback let me know.

I'm deregistering all callbacks registered in controllers on the $destroy event. Other uses of Changes (eg: from other services) will still run in the background. Services are not destroyed the way that controllers are so I think this is the correct behaviour.

[2016-10-26 23:45] garethbowen commented on #2375
Seems to work for couchdb. Unfortunately pouchdb doesn't natively support `require` but we could use the solution here: https://github.com/pouchdb/mapreduce/issues/220

[2016-10-27 02:34] garethbowen commented on #2868
PR: https://github.com/medic/medic-webapp/pull/2872

[2016-10-27 03:22] garethbowen commented on #2813
PR: https://github.com/medic/medic-webapp/pull/2873

[2016-10-27 08:43] garethbowen opened #2874 "Excessive whitespace in Contact select dropdowns"
![dropdown](https://cloud.githubusercontent.com/assets/2064938/19760469/66d704be-9c8e-11e6-9225-bd020e18da09.png)

[2016-10-27 08:46] garethbowen commented on #2874
PR: https://github.com/medic/medic-webapp/pull/2875

Updated to look like...

![dropdown-fixed](https://cloud.githubusercontent.com/assets/2064938/19760585/dd2cb08c-9c8e-11e6-8392-3922694ff9c2.png)

[2016-10-27 11:33] SCdF commented on #2813
Just one comment, back to you

[2016-10-27 11:36] SCdF commented on #2868
Merged.

Questions:
 - Is there still work to be done to stop users from being able to edit translations in the UI?
 - Is there still work to be done to stop this replication at the medic-api level?

[2016-10-27 11:39] SCdF commented on #2874
Merged.

[2016-10-27 11:39] #2874 closed

[2016-10-27 11:47] SCdF commented on #2870
So the code looks fine as is, though I think at least maybe pull the changes keys out into a const instead of repeating them.

However, is it possible to change the `Changes` service to optionally take the `$scope`, and add the destroy logic written in the Changes service instead? Then the only code change for the callers would be passing the `$scope` when they init their changes watcher.

[2016-10-27 13:01] SCdF opened #2876 "Cannot fully replicate dbs behind medic-api due to badly named document"
We create a document to store whether or not the first install stuff should run:
![image](https://cloud.githubusercontent.com/assets/583851/19768009/748de942-9c4d-11e6-97f3-e4bfb2f57d19.png)
Because we hide CouchDB behind medic-api, and medic-api has an endpoint called "login", this value can never be replicated externally (e.g. you use admin credentials to completely replicate a DB from one place

[2016-10-27 19:05] garethbowen commented on #2876
@SCdF The only setup_complete reference I can find is in the ddoc app settings. Do you have any idea where this doc came from?

[2016-10-27 19:11] garethbowen commented on #2870
I really dislike passing $scope around because it couples the service to the entire angular model.

The other thing I thought about doing is having the Changes method return an object representing the listener which has a `unsubscribe` function, so you would hold on to that reference and then...

[code]

@SCdF Is that better?

[2016-10-27 19:13] garethbowen commented on #2813
Replied in the PR.

[2016-10-27 19:13] #2813 closed

[2016-10-27 19:16] garethbowen commented on #2868
We have permissions that stop the UI from showing. The bug seems to be only if permissions are set incorrectly.

Good call. I'll create a new PR.

[2016-10-27 19:23] garethbowen commented on #2768
Done: https://github.com/medic/medic-webapp/commit/1fcf4b7d1a47dfb5e1614270664517feabe0d268

[2016-10-27 19:23] #2768 closed

[2016-10-27 19:53] SCdF commented on #2876
@garethbowen This is from a completely fresh install.

Exact steps:
 - Nuke `medic`
 - Re-create `medic` to be an empty db
 - Run `grunt dev` over it
 - push Christian Aid's app config over it:
[code]
 - Run medic-api to completion
 - Open the app as admin and click through all the steps that get thrown at you

[2016-10-27 19:59] SCdF commented on #2870
So IMO ideally the Changes service would detect when it's being canned and unsub itself, but if there isn't the ability to do that you're not comfortable passing $scope around what you're proposing looks good.

[2016-10-27 20:00] garethbowen commented on #2876
Ok. It doesn't exist in my db, and I'm pretty sure it's being created by accident (maybe a redirect to login or something?). It'd be interesting to do each of those steps again to work out which one is creating the doc...

[2016-10-27 20:01] SCdF commented on #2876
I'm already mucking around in that area, I'll do it now

[2016-10-27 20:13] SCdF commented on #2876
OK those steps don't re-create it locally for me? I have no idea how I created it…

[2016-10-27 20:27] SCdF commented on #2876
I'm going to close this unless I can actually work out what I did...

[2016-10-27 20:27] #2876 closed

[2016-10-27 21:01] garethbowen commented on #2868
PR #2: https://github.com/medic/medic-webapp/pull/2877

This is a little difficult because we can't check permissions in the validate_doc_update - we can only check roles. This change allows db admins or national admins to change the core docs.

I also removed a function that wasn't used anywhere.

[2016-10-27 22:03] garethbowen commented on #2870
Back to you @SCdF

[2016-10-28 06:36] abbyad opened #2878 "Mute button does not work"
In 2.9.0-alpha.4373 clicking the mute button momentarily shows a spinner, but the scheduled messages are not muted.

![image](https://cloud.githubusercontent.com/assets/789512/19797113/96d2aa98-9cf1-11e6-9d41-3933e94b392b.png)

This may be related to being a person-centric schedule as per #2700.

[2016-10-28 08:59] SCdF commented on #2868
I Strunk and White'd, back to you

[2016-10-28 09:07] SCdF commented on #2870
Merged.

[2016-10-28 09:07] #2870 closed

[2016-10-28 15:13] SCdF opened #2879 "Make medic-audit's view generation 8-∞ times faster"
# Problem

We are currently having performance problems in LG, **including being unable to write documents.**

This looks to be due to `medic-audit`'s single view taking far too long to generate. While it is a simple view:
- as audit logs get continually larger the efficiency of this view gets worse and worse
- because writing to `medic` must have a successful write to `medic-audit` first
- and be

[2016-10-28 15:24] SCdF commented on #2848
Not really sure what I need to do to test this, but I figured I've give it a crack anyway.

So far:
 - Clean `medic` DB
 - Installed code from master
 - Used Christian Aid config and installed forms

![image](https://cloud.githubusercontent.com/assets/583851/19767337/41c59b8e-9c4a-11e6-8f07-1c0134c19db1.png)
Missing translation on branch view, area view etc.

![image](https://cloud.githubuserconte

[2016-10-28 15:29] SCdF commented on #2848
Last thing I had issues with but didn't resolve was that restricted users were unable to load their contact. I'm not sure if this was due to a misconfiguration (maybe todo with depth), a bug, or both.

[2016-10-28 15:56] alxndrsn commented on #2879
IIUC, `audit` is a stream of events which is never read in real-time/"online".  If that's correct, for the long-term **Drop couchdb completely** gets my vote.

[2016-10-30 19:04] garethbowen commented on #2879
I like "Drop the view completely".

[2016-10-30 19:28] garethbowen commented on #2868
Fixed and merged.

[2016-10-30 19:28] #2868 closed

[2016-10-30 20:16] garethbowen commented on #2878
Getting this error in console...

[code]

[2016-10-30 20:36] garethbowen commented on #2878
PR: https://github.com/medic/medic-webapp/pull/2880

Since bulk delete $scope.selected has been an array of selected reports, not just a single report.

[2016-10-30 20:51] garethbowen commented on #2878
@alxndrsn Quick code review for you please!

[2016-10-30 22:43] garethbowen commented on #2838
PR: https://github.com/medic/medic-webapp/pull/2881

[2016-10-30 22:43] garethbowen commented on #2838
@alxndrsn Another small review for you if you'd be so kind!

[2016-10-31 01:52] garethbowen commented on #2845
@sglangevin Is the regression just that the person should be prepopulated, or that the person select page should be skipped, or that that person select should be readonly?

[2016-10-31 02:43] garethbowen commented on #2691
Closing this as a duplicate of https://github.com/medic/medic-webapp/issues/2768 - if there are any other bad defaults raise separate issues for them.

[2016-10-31 02:43] #2691 closed

[2016-10-31 02:46] garethbowen commented on #2584
Closing as can't reproduce. Reopen if it happens again.

[2016-10-31 02:46] #2584 closed

[2016-10-31 08:31] sglangevin commented on #2848
@SCdF this is an SMS project, so CHWs would not be using that form on their phones. They might register a person via SMS, but that would not involved viewing that registration form that you screen-shotted on mobile. That form is also just the default form and can be overwritten for any project, so I wouldn't focus on it so much.

I think we'll need to use medic-reporter to test SMS reports to make

[2016-10-31 08:33] sglangevin commented on #2845
Previously, the person select page was skipped and we'd get right into the form when editing a report.

[2016-10-31 09:46] garethbowen commented on #2879
I think we can drop the view with a much simpler replication - because api blocks on startup we can:

1. drop the view
2. query all docs in batches and for each doc
  1. save a new doc using the `record_id` as the `_id`
  2. delete the old doc

Using bulk edits this could be reasonably performant.

[2016-10-31 21:06] garethbowen commented on #2879
I'm going with the "drop the view" option for now as it has a good balance of risk vs reward.

Steps:

1. Release a new version of couchdb-audit which assumes it's using a different db and make it clear this breaks backwards compatibility. I don't know of anyone else using it so this is probably no big deal.
2. Write a migration to change all the audit record IDs
3. Release 2.8.3-beta.1
4. Test on

[2016-11-01 09:22] garethbowen commented on #1219
We now plan to upgrade everyone to 2.x rather than backport improvements to 0.4.

[2016-11-01 09:22] #1219 closed

[2016-11-01 09:27] garethbowen commented on #1498
This is probably fixed by #1459 - closing for Acceptance Testing.

[2016-11-01 09:27] #1498 closed

[2016-11-01 17:10] abbyad commented on #2864
Tested in build 4373 and works well. Moving to Ready.

[2016-11-01 17:25] abbyad commented on #2848
Does pushing a v0.4 `app_settings` to a 2.x instance automatically make the config compatible with v2? Are any manual steps needed?

[2016-11-01 18:28] garethbowen commented on #2848
@abbyad I think that works but testing that should be part of this issue. It comes down to if any migrations should be run on the configuration. The safer approach would be to upgrade an existing 0.4 instance because that ensures the migrations are run. You could then export the configuration from the 2.x instance and compare with the original.

[2016-11-01 20:18] garethbowen commented on #2879
More detailed steps...

- [ ] release couchdb-audit 1.0.0 to use alldocs instead of the view
- [ ] update api with a migration to update the audit data and using couchdb-audit 1.0.0
- [ ] code review api ( @browndav )
- [ ] update sentinel to use couchdb-audit 1.0.0
- [ ] update webapp to use the new api and sentinel
- [ ] backport api, sentinel, and webapp changes to 2.8.x branch
- [ ] release 2.

[2016-11-01 23:28] garethbowen commented on #2845
Related: #2197

[2016-11-02 14:15] alxndrsn commented on #2878
Nothing controversial here.

[2016-11-02 14:15] #2878 closed

[2016-11-02 14:18] alxndrsn commented on #2838
LGTM

[2016-11-02 14:18] #2838 closed

[2016-11-02 23:10] garethbowen opened #2882 "Compress form-content"
We store the raw report xml in the data_record so we can edit the report at a later date. In a randomly selected report from production I found the record is 18.4kb of which 5.6kb (~30%) is the form content.

However this is the raw size, not the size on disk, so firstly confirm the size of the record on disk in couchdb and pouchdb to see if they're doing any compression.

If they're not, experime

[2016-11-02 23:10] garethbowen commented on #2882
Scheduling for 2.9 as this should be a fairly quick win.

[2016-11-03 03:41] garethbowen commented on #2882
I created 1000 docs in pouchdb with various levels of compression...

Method | IDB size (MB)
-----|------
Original |          14.0
Stripped |     12.8
Compressed |    13.3
Stripped and compressed |     13.1

[fiddle](https://jsfiddle.net/za3qaqrv/)

I'm surprised that whitespace stripping is the best option, but possibly that indicates IDB is doing some compression in the background.

It works out

[2016-11-03 09:43] garethbowen commented on #2882
PR: https://github.com/medic/medic-webapp/pull/2883

[2016-11-03 09:44] garethbowen commented on #2882
@alxndrsn code review please!

[2016-11-03 12:59] alxndrsn commented on #2882
mmmm `xmlString.replace(/>\s+</g, '><');` is the whitespace stripping?  Looks likely to introduce nasty little problems.  _Ideally_ this would be done specifically on the context of text nodes.

[2016-11-03 17:28] mandric commented on #2882
Are you sure those sizes are based on compressed data?  How do you know the IDB is compressed?  And what level of compression?  Afaict we have no way to query this information.  IDB is still somewhat of a black box to us.  https://rawgit.com/google/leveldb/master/doc/impl.html

[2016-11-03 18:55] garethbowen commented on #2882
@alxndrsn What it's doing is stripping the whitespace from between xml tags. For some reason the xml we get is formatted so it has indentation and new lines between tags. What nasty problems are you concerned about? Just doing regex on xml in general?

@mandric I don't know anything about IDB compression because as you say it's a black box. If you look at the fiddle all I'm doing is asking pouch t

[2016-11-04 11:19] diannakane commented on #2828
the default add person form shouldn’t require a ph#. this is particularly relevant when adding a person who is a child.

![screen shot 2016-11-03 at 12 22 18](https://cloud.githubusercontent.com/assets/1675870/20003828/3b049726-a291-11e6-8724-d46c657767d2.png)

[2016-11-04 11:26] diannakane opened #2884 "Can't create new person as primary contact to existing place"
It appears that I'm not able to create a new person when assigning a primary contact to an existing place, only to a new place.

Existing place:
![image](https://cloud.githubusercontent.com/assets/1675870/20003996/472c98ea-a292-11e6-8c6b-a42ccf77cb26.png)

New place:
![image](https://cloud.githubusercontent.com/assets/1675870/20004004/53a3d14c-a292-11e6-8458-ae8f430814d9.png)

[2016-11-04 11:27] diannakane commented on #2815
One of our rules is that we must have a primary contact for every place. I thought this was a tech requirement, but if not then we can leave it as optional as you have done. @abbyad

[2016-11-04 12:32] alxndrsn commented on #2882
I guess the latter.  It looks like it only strips whitespace from tags with nothing else in between them, so there are probably some improvements that can be made - e.g. trimming whitespace from start and end of text.  It doesn't look like it would handle `CDATA` properly, which may be a surprise if we include binary data such as photo submission in forms.

[2016-11-04 18:53] mandric commented on #2882
@garethbowen my concern is this introduces added complexity without much of a win.  I think just running the fiddle doesn't compress anything, it's likely writing to a log (level 0) which is uncompressed at the IDB level iirc.  I think chrome does the level db compression in spare cycles, idle time or when resources are low, similar to browser memory garbage collection.  I don't know of a way yet

[2016-11-04 23:18] browndav opened #2885 "Nginx: `worker_connections` are not enough while connecting to upstream"
We're frequently hitting the currently-configured `worker_connections` limit of 1024. Understand this setting, pick a more appropriate value, and update `medic-os` to ensure that the new setting will be applied to all instances on update.

[2016-11-06 19:13] garethbowen commented on #2885
[We've hit this before](https://github.com/medic/medic-webapp/issues/2076) on lg.app and decided 10240 would be fine. We've been running with 10240 in production for over six months with no known issues, so my recommendation is to bump it to 10240 in medic-os.

FWIW 2.9.0 will roughly halve the number of connections established.

[2016-11-06 20:25] garethbowen opened #2886 "Improve traffic stats performance"
Every time the app is started on android we record the data usage in a `traffic_stats` document. This looks something like...

[code]

Each user has only one of these docs which is continuously updating by appending the latest data to the `traffic` array. This is then replicated to the server and the change is audited. Auditing permanently stores each revision. This means the traffic_stats doc has

[2016-11-06 21:42] garethbowen commented on #2879
The migration seems to have a couple of issues. Firstly it's slow, possibly due to enormous traffic_stats docs. Secondly the total docs in the database goes down when it was designed to delete precisely as many docs as it creates. More work needed.

[2016-11-06 22:10] garethbowen commented on #2884
@alxndrsn PR for you please: https://github.com/medic/medic-webapp/pull/2887

[2016-11-07 00:17] abbyad commented on #2815
I don't think this is a technical requirement, unless we set it to be so in the creation/edit forms.

[2016-11-07 10:19] estellecomment commented on #2886
See https://github.com/medic/medic-webapp/issues/1777 : we were trying to assess how much data we are using and whether it's a problem. We've measured it already for a "stable internet" case. This `traffic_stats` doc was meant to get measurements in the real-life shaky internet case.

I don't think we've ever used the data so far.

Partners haven't complained so far about data usage, that I know o

[2016-11-07 11:11] diannakane commented on #2815
In that case, I think it may be useful to show the empty Primary Contact
field if none has been selected yet. It shows you that this place has no
listed primary contact, which may prompt you to assign someone.

[2016-11-07 11:18] SCdF commented on #2886
I also vote for dropping it. I also think if we care about it in the future it would be a good excuse to look at developing our injectable stats collection doo-dad, as we've talked about on and off (https://github.com/medic/medic-webapp/issues/2031)

[2016-11-07 13:49] diannakane opened #2888 "Clean up labels and translations (master issue)"
All of the items below relate to the labels and translations for the default version of the app, configured for SMS projects. Some are cleaning up minor UX issues in the titles, others are translations.

- [x] The default config should be for SMS projects. Therefore the labels should be: District — Branch — Area (NO households or families)
	The current places look to be: Branch — CHP Area — Family

[2016-11-07 13:51] diannakane commented on #2828
Can we have a checkbox in the form that says, “name this place after the primary contact”?

Ideally, it can be checked by default and unchecked by the user if relevant.

[2016-11-07 14:15] diannakane opened #2889 "Households appearing at the wrong level in hierarchy"
Households are appearing as belonging to the branch, not areas. I'm not sure if this was user error in the demo data creation or confusion about what place types belong in the default config. Note that households don’t belong in the default SMS config at all. Related: #2888

Should I fix this manually by deleting the families and relabeling all of the places to bring them line with the labels? (e.

[2016-11-07 14:17] diannakane commented on #2813
This issue is still not resolved. Admin log-in should allow adding a “new district” on the main people tab page.

![screen shot 2016-11-03 at 12 11 17](https://cloud.githubusercontent.com/assets/1675870/20060819/acd596ae-a505-11e6-93b9-ed993c89c91e.png)

[2016-11-07 14:18] diannakane commented on #2888
Ref #2768

[2016-11-07 14:21] diannakane opened #2890 "Admin view shouldn't show a home place"
Admin log-in should not show a "home place" at the top of the LHS and should show only the "district" level 3 places.

![screen shot 2016-11-03 at 12 11 17](https://cloud.githubusercontent.com/assets/1675870/20060929/2dfcd878-a506-11e6-8c1d-138e5a4484c7.png)

[2016-11-07 14:26] diannakane opened #2891 "Back button in mobile takes me to main contact list, should take me to the last-visited page"
hitting “<“ takes me back to the main people tab list, no matter where i am in the hierarchy. rather, it should take me back to the previous page.

[2016-11-07 14:31] diannakane opened #2892 "we need a software back button in web; the “belongs to” field is not adequate."
We had temporarily decided to de-prioritize the software back button in mobile which appears to perform a similar role to the "belongs to" field, but as a matter of usability, clicking on the links in "belongs to" is not a sufficient substitute for a back button.

Current:
![screen shot 2016-11-03 at 12 55 22](https://cloud.githubusercontent.com/assets/1675870/20061097/039fc508-a507-11e6-9e8c-70e8

[2016-11-07 14:32] diannakane opened #2893 "Update icons per Zepelin mockups"
Icons in demo app should be updated to use @Lesterng new font of icons.

[2016-11-07 14:32] SCdF commented on #2891
This is covered by #2820.

[2016-11-07 14:32] #2891 closed

[2016-11-07 15:08] diannakane commented on #2786
History and task items should show the person or place that the item relates to, and the title of the task or record below.

Current:
![screen shot 2016-11-03 at 12 36 36](https://cloud.githubusercontent.com/assets/1675870/20062481/92fa4034-a50c-11e6-94b6-bae2f587a039.png)

Mockups:
![pasted graphic](https://cloud.githubusercontent.com/assets/1675870/20062521/b87257d4-a50c-11e6-923d-cf1a565d4af7.p

[2016-11-07 15:13] diannakane opened #2894 ""Up" button at bottom of place/person pages"
Include an “up” button at the bottom of the page to help with scrolling, as described in:

Zepelin mocks -- see comments: https://zpl.io/2tsIvg
People tab spec -- https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit?disco=AAAAAz9B4nY

[2016-11-07 15:19] diannakane commented on #2786
Is verified / unverified configurable by project? I expect to see it them here in alpha (per mockups directly above). Same for valid/invalid checkmark. All records in app projects are “valid” so we can choose to show them all with a check or leave it as-is.

[2016-11-07 15:58] abbyad commented on #2786
**Verified/Unverified** has no actual configuration, it is up to each project to decide how/if to use it.

As for **Valid/Invalid**, the XForms have validation checks within the form so you cannot submit an invalid form. This is to have a better UX - if you were to configure that the SMS workflow validation for a XForm it would reply with a SMS. Since we dont use that validation for XForms they wi

[2016-11-07 15:59] abbyad commented on #2786
Seems like this is being returned from `Acceptance Testing` -- so moving to `Active Work` and `Returned` as opposed to `Bug`.

[2016-11-07 16:17] abbyad commented on #2888
For the last point (possessive place), that relates to the default creation forms list in https://github.com/medic/medic-webapp/issues/2828

[2016-11-07 18:16] SCdF opened #2895 "Calling the `doc_summaries_by_id` view results in an audit record being created"
Weird one.

I deleted my audit db to clear it out, and then-- without recreating my db-- went to view the history page as admin.

This resulted in a request to `medic_client/doc_summaries_by_id`, which returned a 500.

In `medic-api`'s logs, there was the following error:
[code]

It looks like for some reason calling that view results in medic-api trying to create an audit document. If I re-create

[2016-11-07 18:17] SCdF commented on #2895
I also think, while we're on the subject, that medic-audit should be created by medic-api if it doesn't already exist. It presumably used to do this when there was a ddoc to deploy, but it should continue doing it even when it's just a dumb db.

[2016-11-07 18:23] SCdF commented on #2895
This is occurring because the `doc_summaries_by_id` call is POST, presumably to make sure the arbitrary number of document ids we pass all make it through OK. It doesn't look like we're doing it specifically, looks like PouchDB is choosing.

Worth considering what rules we can think of to avoid auditing reads even if they are POST requests. It might be enough to know that because we block all ddoc

[2016-11-07 18:25] SCdF commented on #2895
Also worth noting that presumably this is not a result of the recent changes to Auditing, but has actually been happening for yonks. If it's possible to work out when this has happened and delete them from the audit db that would be ideal, though I suppose not required.

[2016-11-07 18:34] garethbowen commented on #2815
That makes sense. The label should be something like "No primary contact" instead of "Primary contact: ". We could show that label in the "Primary contact" field of the place card too.

[2016-11-07 18:43] garethbowen commented on #2895
I noticed a few audit trails like that in the LG prod server but hadn't had a chance to track them down. Good catch.

[2016-11-07 18:47] garethbowen commented on #2893
This is a duplicate of https://github.com/medic/medic-webapp/issues/2730

[2016-11-07 18:47] #2893 closed

[2016-11-07 18:56] garethbowen commented on #2888
@diannakane Is this a fresh install or did you upgrade an existing installation? Is this on a server or local? If on a server, what URL? Did you upload any configuration?

[2016-11-07 19:09] abbyad commented on #2828
Yes, we can do that. Good idea.

[2016-11-07 19:12] garethbowen commented on #2828
Alternatively we could have a "name" field which prepopulates to "<name>'s area" where name is what the user entered for the contact name.

[2016-11-07 19:34] abbyad commented on #2828
That's another option, although the UX is a little trickier for an XForm. We can put it on a different page to mitigate, but not eliminate, some of the issues. For instance, re-editing the person field overrides a manually entered place name.

I think we'll have to create a couple of options and test it.

[2016-11-07 19:36] sglangevin commented on #2828
I created a version of a place creation form (I think Area) that has a field that can be pre-populated to use the person's name for the place name. See the `health_center` form in the `diy` folder in `medic-projects`.

[2016-11-07 20:31] garethbowen commented on #2890
@diannakane I think your admin must be configured with a facility_id referencing Busia Branch. This is a misconfiguration of the admin. Can you try clearing the facility_id and check again?

[2016-11-07 20:32] garethbowen commented on #2813
This is now covered by https://github.com/medic/medic-webapp/issues/2890

[2016-11-07 20:40] garethbowen commented on #2786
@diannakane You can mark a report as verified on the History tab and then on the People tab it renders like so:

![verified](https://cloud.githubusercontent.com/assets/2064938/20074898/f7c5e826-a596-11e6-90d6-d9b74a57ac16.png)

WRT showing the person/place the report relates to in the People tab History section, we decided at some point to hide it if it relates to the currently selected person/pla

[2016-11-07 20:57] sglangevin commented on #2889
This appears to be due to the user who added the household. As in, if the admin is logged in and goes to an Area, then clicks Add Household (or Family), the Household is added to the user's place instead of at the appropriate place in the hierarchy (Area from which Add Household/Family was clicked).

[2016-11-07 21:15] garethbowen commented on #2886
In today's iteration planning meeting we decided to go ahead with option 3, stop recording traffic stats. We'll leave existing ones on the server so we can retrospectively look at traffic usage if required.

[2016-11-07 21:21] garethbowen commented on #2886
PR: https://github.com/medic/medic-webapp/pull/2896

If/when this passes Code Review it needs to be backported to 2.8.x

[2016-11-07 21:23] garethbowen opened #2897 "Release 2.8.3"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [x] Update the testing app and run acceptance testing
- [x] Update Changes.md
- [x] Tag the final release
- [x] Announce the release in #general
### Issues
- [x] #2886

[2016-11-07 21:44] abbyad commented on #2786
I understood it as needing to show the _person_ name if you are on the _place_ profile - basically resolving any ambiguity about who the form is about. Looking at a place form on a place profile should still not need to show their name.

The general rule seems to be show the name of the place/person the form is about unless you are on that place/person's profile.

[2016-11-07 21:45] abbyad commented on #2889
We should keep an eye out for avoiding this situation when building the default forms in #2828.

[2016-11-07 21:45] garethbowen commented on #2786
@abbyad That is the current implementation and that is shown in the screenshot above, but it obviously doesn't match what @diannakane was expecting.

[2016-11-07 21:49] abbyad commented on #2890
Typically admins are associated to a place to know what to see in the hierarchy, and a person to be able to complete a form. This seems to break the assumption that the admin does not have a place/person, which is used for these designs.

@diannakane we may need to reconsider how admins are associated to a place and person to figure out what they should see at the top of the LHS.

[2016-11-07 21:54] sglangevin commented on #2786
Does this mean we'll be able to see the person whom/place which the report is about on the History page as well? Or will the History page always show the person who submitted the report?

[2016-11-07 21:57] sglangevin commented on #2888
Based on what I've seen, this is from alpha.dev. I don't think any config has been uploaded there in a while, so I'm not sure what config is currently there. Do we have a default config file we can upload? Or at least a config file that matches what the dev team has been using for development? I believe alpha.dev is on either the latest or a very recent alpha version.

[2016-11-07 22:08] garethbowen commented on #2882
Updated stats:

The execution time is per doc averaged over 1000 executions, on the Tecno Y4 using the latest Chrome. Updated [fiddle](https://jsfiddle.net/za3qaqrv/1/).

Method | IDB size (MB) | Execution time (ms) |
-----|------|-----
Original |          14.0 | 2.3
Whitespace stripped via regex |     12.8 | 2.5
Whitespace stripped via xml walking | 12.8 | 12.0
Compressed |    13.3 | 36.5
Whitesp

[2016-11-07 22:10] garethbowen commented on #2786
@sglangevin Currently the History tab will show who submitted it. This could be changed to show the subject (who it's about), or even show both. I think CHPs want to see who it's about, but admins may want to see who submitted it. But maybe it's a case where we show both but hide the submitter if it's the currently logged in user. Needs some design...

[2016-11-07 22:13] garethbowen commented on #2888
Ok. IIRC alpha.dev doesn't get blown away between updates so any configuration changes that have been made will stick which might explain the bugs Dianna is seeing.

[2016-11-07 22:18] sglangevin commented on #2786
Ok, cool, thanks for clarifying. I do think it's worth exploring what info to display when. For example, I think you're right that users may want to see who it's about for reports that they submitted but may want to see the person who submitted the report for any reports they can see but didn't submit. And it also may depend on the user type.

[2016-11-07 22:23] garethbowen commented on #2882
@alxndrsn @mandric @browndav : I've updated the results with the XML walking option and included an execution time column. I didn't test Alex's alternate regex - I'm confident it'll get very similar numbers for both size and execution time as original regex. Feel free to edit the fiddle if you want to try it out.

Regex is almost free (0.2ms penalty) and gives the best equal results. XML walking i

[2016-11-07 22:53] mandric commented on #2882
Hrm on the fiddle I'm getting about 1.5 seconds (1500 ms) to parse 1000 docs.  Doesn't that mean 1.5 ms to strip whitespace from a doc via XML parsing?

[2016-11-07 23:25] mandric commented on #2882
Ok that test was on desktop version of chrome.  My bad, ignore that comment.

[2016-11-08 08:25] garethbowen commented on #2822
@browndav This might be the reason why you always got `false`..

From: https://developers.google.com/web/updates/2016/06/persistent-storage

I'm thinking we should start requesting persistent storage. It probably won't give us any more quota but it'll make it less likely to be cleared, and hopefully it'll magically start working soon. Maybe we can add another hack to Chromium to return true for on

[2016-11-08 10:53] diannakane commented on #2786
I think consistency is important with these cards that appear in different places (place card, people card) and different parts of the app (people, history, and even tasks feels similar).  I would make the person or place to whom the tasks or history record refers to a standard line, no matter which page it appears. The repetition on the person's profile is the only place we'll see redundancy, and

[2016-11-08 10:56] diannakane commented on #2888
OK moving the last request pertaining to possessives over to issue #2828

[2016-11-08 11:00] diannakane commented on #2828
@sglangevin can it be made possessive, e.g. "Dianna's area" instead of "Dianna Area." I know LG preferred to leave the 's off, but it would be nice to have on our default forms.

[2016-11-08 11:06] diannakane commented on #2890
@garethbowen How do I clear the facility_id?

@abbyad Ah, so the role of admin permissions doesn't necessarily mean they
aren't associated with a place. The "admin" role we designed for is not
based on permissions role, but rather on someone with "root access" (no
place). If we want to assign admin privileges to a person at a place, that
shouldn't affect what they see in the LHS (the places they d

[2016-11-08 11:10] diannakane commented on #2889
The type of place you are adding should be restricted to the appropriate
type of place, depending on where you are adding it from in the hierarchy.
That will solve this problem.

From the spec:

Adding a new place of the type I manage is in the LHS FAB, below the list
of places of this same type.
e.g. for CHWs this is households (mockup), for Branch Managers this is
areas (mockup). For admins, it’

[2016-11-08 11:12] diannakane commented on #2815
How about "Primary Contact: none"

[2016-11-08 12:35] SCdF commented on #2895
PR (with some explanatory comments from me) here: https://github.com/medic/medic-api/pull/101

[2016-11-08 14:20] diannakane opened #2898 "Messages, People, and Targets tab headers snap to the RHS when scaled down from web to mobile"
Logged into alpha.dev as admin on my desktop. When I drag the browser into mobile size, the Messages, People, and Targets tab snap to the RHS view, losing the tab header. The other tabs maintain the tab header as expected.

Furthermore, this only happens SOMETIMES! I just did it again and it maintained the tab headers. Then did it again a second later, and it snapped to RHS. No pattern I can ident

[2016-11-08 14:24] diannakane commented on #2817
This appears to be displaying properly now.

[2016-11-08 14:30] diannakane commented on #2812
Layout looks consistent to me. Other issues have been opened to deal with the translations and fields displayed.

[2016-11-08 14:42] diannakane opened #2899 "When the Primary Contact for a place belongs to another place, it doesn't appear on the place page"
In alpha.dev, logged in as admin. I am viewing Dave's family, which appears to have no primary contact.
![screen shot 2016-11-08 at 16 28 10](https://cloud.githubusercontent.com/assets/1675870/20102991/d08e53e4-a5d0-11e6-87c0-f714d80b5535.png)

I click on "edit place" to assign the primary contact and see that one is already selected. "Janet Jones" belongs to another household so we don't expect t

[2016-11-08 14:47] diannakane commented on #2811
Looks good! Issue to center these titles is open under #2888

[2016-11-08 14:49] diannakane commented on #2802
LGTM2

[2016-11-08 14:53] diannakane commented on #2796
This will be improved in the new permissions config. Labels for permissions will be clearer and dependencies will be taken into account (you shouldn't be able to check both -- to have it in the hamburger menu and in the tabs)

[2016-11-08 14:59] diannakane commented on #2796
Two questions:

I'm logged in as Admin and neither "can_view_tasks_tab" nor "can_view_tasks" are checked in "full access" yet I see it in the Tabs. Is that what we expect?

Another question: In "restricted to their place," both are checked. Do we expect one to supersede the other?

[2016-11-08 15:05] sglangevin commented on #2796
@diannakane for your first question, that is expected. Full Access doesn't apply to admins, admins are above full access users (at least the admin that we have set up on alpha.dev)

For your second question, you need both checked to see the tab. Checking "can_view_tasks" shows in the hamburger menu, if you also check "can_view_tasks_tab" then you'll see the tab, outside of the hamburger menu.

[2016-11-08 19:25] garethbowen commented on #2895
Overall good improvements. I've added some clarity suggestions but otherwise LGTM.

[2016-11-08 20:02] garethbowen commented on #2879
@browndav Can I get a review of the latest commit, but also the concept in general? I think maybe we push this out to 2.9.0 and release #2886 in 2.8.3 mitigate the issue in the meantime.

[2016-11-08 20:06] sglangevin commented on #2879
@garethbowen how long will #2886 mitigate? 2.9.0 is a big update and it may not be pushed to production for active mobile app projects for a little while because it will require re-training of CHWs. I just want to make sure that we feel confident that 2.8.3 will work for the next few months before we move forward with splitting off this issue for later.

[2016-11-08 20:08] garethbowen commented on #2879
@sglangevin Good question! At this point we don't know of any docs that can cause this issue other than the traffic stats docs that were removed in #2886 so it should mitigate the problem for the foreseeable future.

[2016-11-08 20:10] browndav commented on #2879
I'm currently trying to work out the root cause, and hope to have some better collection of triggers/circumstances by Thursday or Friday. This might give us some margin of safety, i.e. some assurance that mitigation is viable.

[2016-11-08 20:11] SCdF commented on #2886
Merged.

[2016-11-08 20:11] #2886 closed

[2016-11-08 21:36] browndav commented on #2879
This all looks good to me after a couple read-throughs. Should we figure out a way to test this migration on a production clone before we push 2.8.3?

[2016-11-08 22:01] garethbowen commented on #2897
I've dropped #2879 from this release as it needs more thorough testing. #2886 is enough to fix the audit blocking issue for the foreseeable future.

@sglangevin Is there anything else you'd like included in the 2.8.3 release?

[2016-11-08 22:07] garethbowen commented on #2879
Talking with @browndav we decided to push this migration back to 2.9.0. He's going to do some more investigation to ensure no other documents are close to the ~32MB limit to confirm nothing more is needed in the short term.

[2016-11-08 22:46] garethbowen commented on #2882
It turns out removing the whitespace from the form definition removes it from the submitted form, so it'd better to modify the form upload script to strip the whitespace.

[2016-11-09 00:22] mandric opened #2900 "add support for creating forms like POST /api/v1/forms"
This might also include some basic validation (it is valid XML and our parser can parse it) and optimization (remove unnecessary whitespace).

[2016-11-09 00:23] garethbowen commented on #1330
Related: https://github.com/medic/medic-webapp/issues/1330

[2016-11-09 00:53] garethbowen commented on #2786
The subject now always shows on the Contact history section. This is not consistent with how it's shown on the History tab because some design is required here. It'll need some thought to work out how to clearly show who is the subject and who is the sender.

@diannakane Please raise a separate design issue for how the information should be shown.

[2016-11-09 01:30] garethbowen commented on #2815
Translation change: https://github.com/medic/medic-webapp/commit/38ba78c4c4c08ea4d08f08b53f5053bec5325b4a

[2016-11-09 01:31] #2815 closed

[2016-11-09 01:32] garethbowen commented on #2815
![primary-contact-none](https://cloud.githubusercontent.com/assets/2064938/20124163/4b2a0702-a689-11e6-8107-5f3292d088fa.png)

[2016-11-09 01:39] abbyad commented on #1330
We should consider accepting the xlsform directly.

[2016-11-09 02:45] garethbowen commented on #2882
Deprioritising as it's not longer a quick win and it's not a priority. This is difficult to do in the bash script so we should do it as part of https://github.com/medic/medic-webapp/issues/2900

[2016-11-09 08:21] #2879 closed

[2016-11-09 10:43] estellecomment commented on #2898
Could you share screenshots? I'm having trouble understanding what's going on exactly.

[2016-11-09 10:46] estellecomment commented on #2899
Before figuring out how we want to do this, is this something we want to support?
What's the use case for having a Primary Contact that doesn't belong to the place it's contact for?

[2016-11-09 12:09] diannakane commented on #2899
Good question. This will be an edge case but I'm confident that we'll get
requests for it. Some examples: a neighbor being the primary contact for a
child-headed household; a CHW or other person being primary contact for a
household that doesn't have a phone; a manager as the primary contact for
multiple health facilities, or a CHW responsible for multiple areas.

We could probably buy ourselves s

[2016-11-09 12:12] diannakane commented on #2898
I wanted to upload a video but couldn't find an easy way to record my screen.

It basically goes from both panes:
![screen shot 2016-11-09 at 14 10 21](https://cloud.githubusercontent.com/assets/1675870/20137966/6673d84c-a686-11e6-9780-3a8ef04916e4.png)

to the RHS when resizing the window:
![screen shot 2016-11-09 at 14 10 25](https://cloud.githubusercontent.com/assets/1675870/20137970/6ac880f0-a

[2016-11-09 12:15] SCdF commented on #2898
@diannakane on OSX you can use Quicktime to record your screen! Open up Quicktime Player, and go File -> New Screen Recording. HTH :-)

[2016-11-09 12:34] diannakane commented on #2898
Oh, I knew that trick and forgot it!! Thanks for the reminder.
[#2898.zip](https://github.com/medic/medic-webapp/files/580676/2898.zip)

[2016-11-09 12:36] diannakane commented on #2815
@garethbowen I don't see it listed here under "John Luck's Area"

![screen shot 2016-11-09 at 14 35 26](https://cloud.githubusercontent.com/assets/1675870/20138577/d4521dda-a689-11e6-8c51-3a15d4ae91fe.png)

[2016-11-09 12:41] diannakane commented on #2786
I am having trouble finding anyone with an open task in the instance who I can acceptance test on.

[2016-11-09 12:42] diannakane commented on #2786
I have filed #40 in medic-design to resolve the issue of displaying the sender's name.

[2016-11-09 12:55] diannakane commented on #2796
OK, it sounds like this isn't a functional problem as much as it's a
usability one.

[2016-11-09 13:51] diannakane commented on #2892
Closing as duplicate of #2819

[2016-11-09 13:51] #2892 closed

[2016-11-09 14:02] SCdF commented on #2895
@garethbowen minor changes we talked about, thought I'd just get you to confirm this one instead of insta-merging.

[2016-11-09 14:19] SCdF commented on #2845
Reproduced: using lg.dev data locally, this URL results in a broken report edit http://localhost:5988/medic/_design/medic/_rewrite#/reports/edit/B8FA1743-0A51-48B6-8F22-53141C6AD1E6, or https://lg.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/edit/B8FA1743-0A51-48B6-8F22-53141C6AD1E6 in the wild (ish).

[2016-11-09 15:01] diannakane commented on #2786
Please refer to Zeppelin for bubble styling. The bubble is much larger and a darker grey.
https://zpl.io/2tsIvg
Also the number is medium weight not bold.

Here is the size and color of the task bubble
width: 32px;
height: 26px;
background-color: #4c4c4c;

Font specs:
font-family: HelveticaNeue;
font-size: 14px;
font-weight: 500;
text-align: center;
color: #ffffff;

[2016-11-09 15:02] diannakane commented on #2791
Per user feedback, there's a change to this issue: if there are no tasks, don't show "0" bubble; show nothing.

[2016-11-09 15:24] abbyad commented on #2898
That looks like what I'd expect to see, so I am not sure this is a bug. When you have something selected on the LHS in mobile you would be seeing that item in the RHS - which is what happens when you go from desktop to mobile view.

[2016-11-09 15:39] diannakane commented on #2898
@estellecomment and I figured this out. It acts this way if something has been selected on the LHS and is displaying on the RHS. Closing the issue.

[2016-11-09 15:39] #2898 closed

[2016-11-09 16:33] SCdF commented on #2845
This looks to be a form configuration issue: In the form used above, the convention for where the contact was stored changed, from `inputs>place>_id` in the old forms, to `inputs>contact>_id` in the new. This means that the newest version of the form doesn't attach the db-object (aka select2) widget to the correct node, and so select2 doesn't find the right data.

@sglangevin / @abbyad to fix this

[2016-11-09 16:33] #2845 closed

[2016-11-09 18:47] garethbowen commented on #2815
@diannakane If you're looking at alpha.dev it looks like it's about 30 revisions behind so doesn't include this change yet. I strongly recommend you only test on released betas so you know it's reasonably stable. Also I recommend testing on your local machine in a vm so you can set up and test a configuration without anyone else messing with it.

[2016-11-09 19:06] garethbowen opened #2901 "Don't show task count bubble if person has no tasks"
Per user feedback if there are no tasks, don't show "0" bubble; show nothing.

cc @diannakane

[2016-11-09 19:06] garethbowen commented on #2791
I've split that change off as #2901

[2016-11-09 19:06] #2791 closed

[2016-11-09 19:15] garethbowen commented on #2786
@diannakane That background colour is not in our current palette so I chose to use the closest existing colour to tie it in with other similar elements. Also the bubble sizing is using the same styling as other bubbles in the app for consistency. We need to consider how changes like this will affect the site as a whole.

[2016-11-09 19:31] #2895 closed

[2016-11-09 20:12] garethbowen commented on #2901
PR: https://github.com/medic/medic-webapp/pull/2902

[2016-11-09 21:21] abbyad opened #2903 "Upgrade did not migrate the app_settings"
Going from v0.4.13 to v2.8.2 the app_settings was not migrated as expected. Only changes were the addition of `forms` and `_id` and the change to the value of `_version`.

Would have expected the `translations` to be removed, `permissions` added, and likely some other changes too.

[2016-11-09 21:23] garethbowen commented on #2903
My guess is that [passing `null` into update_settings](https://github.com/medic/medic-api/blob/master/migrations/extract-translations.js#L67) doesn't work as expected.

[2016-11-09 21:38] garethbowen commented on #2903
My bad - that migration doesn't run for 2.8.2. Should've read more clearly...

[2016-11-09 21:38] #2903 closed

[2016-11-09 21:49] abbyad commented on #2903
Seems to be as expected when moving to v2.9.

[2016-11-09 21:59] abbyad opened #2904 "Upgrading does not remove translations from app_settings"
Going from `2.8.2` to `2.9.0-beta.3` the translations were updated, but not removed from app_settings.

[2016-11-09 22:06] garethbowen commented on #2844
We're unable to check permissions in the server side security check so I had to choose between the permission and the increased security of a server side validation. I chose the latter. We can look at how to implement the permission at a later date when it's needed.

[2016-11-09 22:06] garethbowen commented on #2844
PR: https://github.com/medic/medic-webapp/pull/2905

[2016-11-10 03:10] garethbowen commented on #2904
It's working in the integration test... will have to try and replicate an actual upgrade.

[2016-11-10 09:44] diannakane commented on #2819
Updated spec with @estellecomment to clarify behavior of the back button:

We've removed the label next to the back button to make it consistent with mobile and easier to implement. Styling of mobile button doesn't change from the current. Back button in desktop RHS mockup here: https://zpl.io/28Bjam

![image](https://cloud.githubusercontent.com/assets/1675870/20171749/c7743420-a73a-11e6-9bd2-6e8c

[2016-11-10 09:48] diannakane commented on #2786
@Lesterng, @garethbowen makes a good point. He is referring to bubbles that appear on the tabs, as such:
![bubbles](https://cloud.githubusercontent.com/assets/1675870/20171870/5586cbd8-a73b-11e6-8816-d56a053bb0e6.png)

If we want to implement changes to the stye guide, we should call that out as its own issue to be implemented across the app, otherwise design within the existing style guide.

[2016-11-10 10:38] estellecomment commented on #2901
Comment on commit : https://github.com/medic/medic-webapp/commit/5297d488918f115641a42088abcd4a53d7ed5e96#commitcomment-19769270

[2016-11-10 10:40] SCdF commented on #2844
Just one question, otherwise LGTM

[2016-11-10 10:43] SCdF commented on #2819
This could just be me, but that button looks like it collapses / hides the RHS. If it's just me then ignore, though I'd be interested to know if other people saw it that way. I wonder if having it and the icon and document name beside one another would help with that.

[2016-11-10 13:05] SCdF commented on #2567
I opted to just add ts logging using the existing framework instead of moving to winston, since winston has nothing we need, it was really easy to add ts logging to loglevel, and it's only logging.

[2016-11-10 17:39] abbyad opened #2906 "Upgrading corrupted a scheduled message string"
When upgrading from v0.4 to v2.8.2 [this Hindi string](https://github.com/medic/medic-projects/blob/master/diy/app-settings.json#L1662) in `app_settings` became corrupt:

`"content": "कृपया {{patient_name}} ({{patient_id}}) को याद दिलाएँ कि इस हफ्ते, वह स्वास्थ्य सुविधा जाएं स्वास्थ्य की जांच के लिए | स्वास्थ्य की जांच के बाद, हमें बताइए  'V {{patient_id}}' से जवाब भेजकर | धन्यवाद !",`

`"content"

[2016-11-10 21:27] abbyad opened #2907 "No button to delete place or person in webapp"
In v2.9 there is no delete place or delete person button in either the desktop or mobile views.

![image](https://cloud.githubusercontent.com/assets/789512/20194939/6dfd4a62-a762-11e6-8500-3b7c9aff8900.png)

![image](https://cloud.githubusercontent.com/assets/789512/20194926/5aaad2e0-a762-11e6-92d0-6e4ccbecc3e8.png)

Delete permissions are set accordingly:
![image](https://cloud.githubusercontent.

[2016-11-10 21:32] #2844 closed

[2016-11-10 21:32] #2901 closed

[2016-11-10 21:41] garethbowen commented on #2907
As far as I know this is by design and I couldn't find anything in the mocks. It was always complicated - you couldn't delete a place that had any children or a person that was the primary contact for a place.

@diannakane Is there supposed to be a delete button somewhere?

[2016-11-10 22:03] garethbowen commented on #2906
I can't spot anything obvious here - throwing back on to the stack in case anyone else wants to have a look.

[2016-11-11 10:18] diannakane commented on #2907
We planned for it, but not mentioning it is an oversight in the spec. In desktop, we were hoping to hide the delete button within the edit form (see the early lo-fi mockup below), though I'm still not sure what's possible with Enketo. Delete is a rarely used function that may also be disabled for many users, so we were trying to avoid taking up space in the FAB. @garethbowen your point about delet

[2016-11-11 20:56] abbyad commented on #2828
@alxndrsn the ID of the parent is past to the create person form -- is it possible to find its name and type? Is that info passed at all to the inputs? If not I'll spin off a new issue.

[2016-11-11 22:44] sglangevin commented on #2897
@garethbowen can we update libphonenumber and include an updated version in this release? I'm having issues with phone number validation on muso-mali.app and I think updating libphonenumber might help.

[2016-11-13 18:54] garethbowen commented on #2907
@diannakane @abbyad Thanks for that Dianna. Is delete a requirement for 2.9.0?

[2016-11-13 20:17] abbyad commented on #2907
Yes, this should be included as part of 2.9.

@diannakane is the location of the delete button in desktop view ready to implement? This is the current edit form for reference (pending #2333/#2828):
![image](https://cloud.githubusercontent.com/assets/789512/20248521/eae69972-a9b3-11e6-9c71-6b2f3ca56da0.png)

[2016-11-13 20:45] garethbowen commented on #2897
2.8.3-beta.3 is available for testing with traffic stats removed (to save the auditing view) and an updated libphonenumber. cc @sglangevin

[2016-11-14 02:17] garethbowen commented on #2888
Most of the translations were correct but the alpha.dev deployment was out of date. I fixed up some more here: https://github.com/medic/medic-webapp/commit/f0da73b36e5ea50908f862454dc4f1ec261bfd31

[2016-11-14 02:19] garethbowen commented on #2888
I think the "Add" title was another case of out of date translations as I couldn't get it to show so I've ticked it off. Please test again on a clean install.

[2016-11-14 02:54] garethbowen commented on #2888
PR for centering titles: https://github.com/medic/medic-webapp/pull/2908

[2016-11-14 02:54] garethbowen commented on #2888
@SCdF Review please!

[2016-11-14 10:31] diannakane commented on #2907
Can anyone here answer whether we can implement as mocked above, with delete as a button with the "edit place" form?  If not, we'll have to take another look at the design.

This is jumping the gun, but if we can't implement it as mocked, the easiest thing to do may be to add the delete button to the RHS FAB in desktop and hide it in the three dots menu in the header of the place or person page in

[2016-11-14 10:49] SCdF opened #2909 "Debounce form submissions"
According to https://github.com/medic/medic-projects/issues/1024#issuecomment-260295712 we are not debouncing our form submissions properly, so users may tap multiple times and have multiple forms created.

We should check this out and replicate it, and then make sure that when you tap the submit button (or other buttons) multiple times the action is only performed once.

[2016-11-14 10:50] SCdF commented on #2884
LGTM

[2016-11-14 10:50] #2884 closed

[2016-11-14 11:57] alxndrsn commented on #2909
I'd expect the button to become disabled immediately when pressed, which should prevent this from happening.

[2016-11-14 12:13] SCdF commented on #2909
Yup me too, but it sounds like, at least from customer reports, that isn't happening. So step 1 would be to confirm those reports by trying to replicate.

[2016-11-14 12:20] SCdF commented on #2888
Like Christmas in… November, I guess!

[2016-11-14 12:20] #2888 closed

[2016-11-14 14:06] alxndrsn commented on #2828
@marc From a quick look it seems like the parent comes directly from the contact being edited.  Which suggests that whatever data is embedded directly in the `person` doc will be available.  If `contact.parent` is just an ID, this is all that's available; if `contact.parent.name` etc. all exist then they should be available.

[2016-11-14 14:16] abbyad commented on #2907
Having a FAB delete button in desktop view would be simplest, and can we can get further feedback on it from user testing if we want to revise it in followup releases.

From my understanding if you have `can_delete_place` or `can_delete_person` permission it will show the button, although at times the button would be disabled eg when the place contains people. If you do not have those permissions

[2016-11-14 15:59] SCdF commented on #2499
Hey @garethbowen, can you check out as much that you think is relevant of:
 - The PR which removes couch2pg stuff from medic-couch2pg and uses a library instead: https://github.com/medic/medic-couch2pg/pull/34
 - The actual library code (mostly copy / paste, though the cli stuff is new): https://github.com/medic/couch2pg
 - Note that it's also published to NPM: https://www.npmjs.com/package/couch2

[2016-11-14 15:59] abbyad opened #2910 "`db-object` fields show as editable when `readonly="true()"`"
When a field has `readonly="true()"` it should be disabled so that the user cannot edit it - but db-object fields still _appear_ to be editable.

![image](https://cloud.githubusercontent.com/assets/789512/20271573/3aec3698-aa59-11e6-9d3d-b7b4dc455ef5.png)

![image](https://cloud.githubusercontent.com/assets/789512/20271596/4d9712c2-aa59-11e6-829e-23b5390519f0.png)

String fields are properly disab

[2016-11-14 16:50] abbyad opened #2911 "Data binding does not occur if `db-object` field is pre-populated"
Selecting a value from the the select2 of a db object field binds associated fields accordingly, but if the db object field is pre-populated there is no binding to the associated fields.

This is required for #2828 and #2333.

[2016-11-14 17:56] SCdF commented on #2820
Another thought would be to drop the android work entirely and replace it with navigation manipulated through the history api. That api isn't amazing though, we'd need to have a play and see if we can solve the problems the android work solves using it.

[2016-11-14 18:45] sglangevin opened #2912 "Enable registration of a person from a report/action form"
Currently, people can only be registered using a contact form. There are some workflows where it would be helpful to be able to register a new person using a report/action form.

For example, when a CHW does a postnatal care visit for a mother, this form collects information about the baby. Ideally, the postnatal care visit form would, upon submission, create a new person in the family. This shoul

[2016-11-14 18:58] sglangevin opened #2913 "Support additional context for hiding/showing actions"
Our context for displaying actions is currently limited to the information that is collected during person or place registration. Ideally, we should enable information from report/action forms to be used as context. For example, only show the New Pregnancy action for a woman who has not recently been registered as pregnancy (has an EDD in the future). Other examples would be showing an Update EDD

[2016-11-14 19:00] sglangevin opened #2914 "Display additional information in contact profile"
Some use cases and workflows require additional information to be displayed in the contact profile. For example, seeing a woman's EDD on her contact profile or knowing if her pregnancy is high-risk by looking at her profile. Another example would be showing a child's height and weight for growth monitoring for malnutrition.

This should be configurable, so we can adjust what displays in the contac

[2016-11-14 19:29] abbyad commented on #2914
From https://github.com/medic/medic-design/issues/6

[2016-11-14 20:35] abbyad commented on #2911
Labelled as priority because it will unblock creation and testing of Person/Place forms.

[2016-11-14 21:05] garethbowen commented on #2499
@SCdF It looks like the tests have been moved to couch2pg but the grunt task to run the tests hasn't been. Otherwise it looks good.

[2016-11-14 21:13] mandric commented on #2567
Cool.  Just a minor question on the commit...

[2016-11-14 21:29] garethbowen commented on #2912
Is it ok to create the person only when the data is synced to the server? ie: in sentinel not on the phone.

[2016-11-14 21:32] garethbowen commented on #2914
Information like the EDD could then be passed to the action context predicate to enable [showing actions based on status](https://github.com/medic/medic-webapp/issues/2913).

[2016-11-14 21:34] sglangevin commented on #2912
If it's done that way, could we still create a set of follow-up tasks for the CHW who submitted the report based on that person's birthdate?

[2016-11-14 21:35] garethbowen commented on #2912
Yes once the person is created on the server they would replicate down to the CHP and then tasks would be generated as per usual. The only problem is those tasks won't show up right away if the CHP is offline.

[2016-11-14 21:57] abbyad commented on #2912
I think we'd want this workflow to work while a person is offline, especially since postnatal workflows are very time sensitive. A followup may be needed day of or next day, and it is rather likely that they will be offline in the time period.

[2016-11-14 22:06] sglangevin commented on #2912
Yeah, I agree with Marc - offline would be preferred.

[2016-11-14 22:10] garethbowen commented on #2912
Can't blame a guy for trying...

[2016-11-14 22:18] abbyad opened #2915 "Calculate Z-Score within app workflow form"
From https://github.com/medic/medic-projects/issues/810, emphasis mine:

The z-score tables for this first project are based on WHO tables, but these may change between projects and also over time.

[2016-11-14 22:31] garethbowen commented on #2915
Prioritising as this should be included in 2.9

[2016-11-14 22:37] sglangevin commented on #2909
This is very difficult to replicate on desktop but fairly easy to replicate on a Tecno Y4, in my experience.

[2016-11-14 22:39] sglangevin commented on #2828
@diannakane we can do it any way that is needed. The naming convention is set by the form.

[2016-11-15 00:25] garethbowen commented on #2907
I've added it back to the FAB for both mobile and desktop. It is hidden if you don't have the `can_delete_contacts` permission and disabled if the selected place has children.

This puts it back the way it was in 2.8 thus resolving the regression - I'm not sure how it got deleted in the first place.

I'm not 100% comfortable with adding additional actions in a completely different part of the scre

[2016-11-15 00:26] garethbowen commented on #2907
PR: https://github.com/medic/medic-webapp/pull/2916

[2016-11-15 01:16] sglangevin commented on #2890
The facility_id is necessary if we want the admin user to be able to complete reports. If that's not necessary, then the facility_id can be cleared from the admin user in Futon.

[2016-11-15 01:35] garethbowen commented on #2911
PR: https://github.com/medic/medic-webapp/pull/2917

@alxndrsn If you'd be so kind.

[2016-11-15 02:35] garethbowen commented on #2910
@alxndrsn Code review: https://github.com/medic/medic-webapp/pull/2918

[2016-11-15 03:20] garethbowen commented on #2655
@sglangevin Can you give me an example of a form with this problem and/or a report submitted with a form with the problem?

From my testing it appears that `dateTime` outputs a timezone specific datetime, eg: `2016-11-06T16:15:00.000+13:00`. We can work with this - yes it's annoying it's not UTC but we can convert it to UTC easily.

The difficulty is with `date` fields, because without the time yo

[2016-11-15 03:21] garethbowen commented on #2786
Clearly some design is required so I'm removing this from the milestone.

[2016-11-15 05:54] abbyad opened #2919 "New place doesn't show on LHS after creation"
A newly created place at the same level of the LHS should show in that list immediately after creation, but only does so after a full page refresh

[2016-11-15 05:55] abbyad opened #2920 "Item in LHS remains selected when creating new place"
When clicking New District the previously selected place on the LHS remains highlighted:
![image](https://cloud.githubusercontent.com/assets/789512/20294700/24f2bc98-aace-11e6-9fcd-dc5b845d4758.png)

[2016-11-15 06:16] abbyad commented on #2919
This is an intermittent error, because I have just seen this working properly. Not sure yet under what conditions it fails.

[2016-11-15 08:57] diannakane commented on #2786
That's fine. This is labeled as nice-to-have and is more relevant to app workflows than SMS so it's not an immediate priority.

[2016-11-15 09:44] estellecomment opened #2921 "test"
ignore this

[2016-11-15 09:45] garethbowen commented on #2921
ok

[2016-11-15 09:57] diannakane commented on #2820
Changing to nice-to-have since this isn't directly related to SMS workflows. cc: @abbyad

[2016-11-15 10:26] SCdF commented on #2909
I'm chucking it in the sprint, feel free anyone to override me and drop it back out. My reasoning is that a lack of debouncing is a large and annoying generator of data errors and it shouldn't be hard to fix.

[2016-11-15 10:37] SCdF commented on #2919
You may wish to try admin vs. restricted, it could be something to do with that

[2016-11-15 10:56] SCdF commented on #2499
Whoops, that was my overzealous deleting of medic-specific stuff. I've added it back.

[2016-11-15 11:07] SCdF commented on #2499
Fixed, tests work now, merged.

[2016-11-15 11:07] #2499 closed

[2016-11-15 11:09] SCdF commented on #2567
Fixed the erroneous parameter.

[2016-11-15 11:09] #2567 closed

[2016-11-15 12:41] SCdF commented on #2909
So we definitely have code that theoretically prevents this. Specifically, our current strategy is to set `$scope.saving` to be true, and for angular's button rendering to disable the submit button if saving is true. I'm not sure if there is some edge case, race condition or other angular issue which means it's not kicking in fast enough and the user is able to get multiple clicks in.

[2016-11-15 13:04] SCdF commented on #2909
Uhm I think I replicated it O_O:

![image](https://cloud.githubusercontent.com/assets/583851/20306750/eaf869be-ab33-11e6-9b41-496e7d5a51cc.png)

For reference, this was creating a family, with 2 children, and I'm pretty sure I only hit submit 2-3 times before I let the submit button grey out.

[2016-11-15 13:17] estellecomment commented on #2907
Comments in PR.

[2016-11-15 13:37] alxndrsn commented on #2910
Probably good enough for our current usage, but will the `disabled` attribute be updated if the value of `readonly` changes?

[2016-11-15 13:52] alxndrsn commented on #2911
LGTM - merge away

[2016-11-15 14:10] abbyad commented on #2919
I'll keep note of that. I was still logged in as admin when it failed and then later worked. Will provide more info if I can reproduce.

[2016-11-15 16:49] abbyad commented on #2919
I've seen it occur again. Once in this state I can reproduce it consistently, but I still don't know how to get into this state where it doesnt show in the LHS.

No errors in console when creating the new place, but have these errors from before which may help - especially relevant seems to be the `Error watching for db changes`.

![image](https://cloud.githubusercontent.com/assets/789512/20314807

[2016-11-15 18:15] #2911 closed

[2016-11-15 19:06] #2907 closed

[2016-11-15 19:51] garethbowen commented on #2910
You're right - it won't update. I went in to try and fix that but couldn't get readonly to toggle on a string field either and almost all the examples I could find showed `readonly=true()`. In medic-projects we only ever have `readonly=true()` so like you say this should do for now...

[2016-11-15 20:10] #2910 closed

[2016-11-15 20:24] SCdF commented on #2909
So I can't really work out how I got 16 above. Or, even, how I'm managing to get more than one through. Sometimes the debouncing works, sometimes I get two through, and that one time I got 16.

I think the smart move here is to go through all of the `save` functions and make sure they check their own flag to make sure they don't get fired multiple times instead of trusting angular to do it.

[2016-11-15 20:59] SCdF commented on #2909
PR: https://github.com/medic/medic-webapp/pull/2922

[2016-11-15 21:04] SCdF commented on #2909
@garethbowen take a gander at that there PR https://github.com/medic/medic-webapp/pull/2922

[2016-11-15 21:11] garethbowen commented on #2909
LGTM.

[2016-11-15 21:11] #2909 closed

[2016-11-15 21:24] garethbowen commented on #2904
I can't reproduce this and I can't work out how it could happen looking at the code. It might be due to the double upgrade (0.4 -> 2.8 -> 2.9) doing something illogical. We can check the meta doc to see if the upgrade completed successfully. When we test the upgrade again we should check this...

[2016-11-15 22:20] garethbowen commented on #2856
It's also used in data migrations.

[2016-11-15 22:58] garethbowen commented on #2906
Can't reproduce. I think this is probably a bug within dashboard somewhere as it manages how settings are copied into the latest ddoc.

That same character was copied successfully in other places in the same settings doc which implies it's a random occurrence or corruption rather than the inability to handle special characters.

We're planning to rethink how we do deployment in the near future so

[2016-11-16 10:39] SCdF commented on #2919
It's not 100% clear from the docs, but it sounds like if the changes feed errors out it will just drop it. I'm going to try to confirm that, but the fix would be that on error we above we attempt to reestablish the connection after a short period of time.

[2016-11-16 13:58] SCdF commented on #2919
Hey @estellecomment take a look at the PR: https://github.com/medic/medic-webapp/pull/2923

[2016-11-16 16:58] SCdF commented on #2920
PR: https://github.com/medic/medic-webapp/pull/2924

@alxndrsn if you would be so kind.

[2016-11-16 17:02] alxndrsn commented on #2920
LGTM

[2016-11-16 17:02] #2920 closed

[2016-11-16 19:32] abbyad opened #2925 "Cannot close/cancel Select Language modal"
Pressing the cancel or close buttons the Select Language modal give the error `TypeError: Cannot read property 'split' of undefined`. Clicking outside of the modal will close the modal.

![image](https://cloud.githubusercontent.com/assets/789512/20362226/c58707fa-ac08-11e6-803a-25012827942b.png)

[2016-11-16 19:46] garethbowen commented on #2925
It looks like this happens if there is no default language when the modal is initialised.

[2016-11-16 20:12] abbyad commented on #2925
That makes sense. This instance was a fresh install with no config.

[2016-11-16 20:19] garethbowen commented on #2925
@estellecomment Review please! https://github.com/medic/medic-webapp/pull/2926

[2016-11-16 20:20] abbyad commented on #2910
Works well to disable the field -- moving to Ready.

Without Read Only
![image](https://cloud.githubusercontent.com/assets/789512/20364042/b7142e62-ac0f-11e6-9987-9851fcc706ca.png)

Ready Only Mode:

![image](https://cloud.githubusercontent.com/assets/789512/20364096/e52428fc-ac0f-11e6-92c5-aa333b54509e.png)

The field label looks different, but that is consistent with other disabled fields in Enk

[2016-11-16 20:20] abbyad commented on #2911
Works well! Moving to Ready.

[2016-11-16 20:27] abbyad opened #2927 "Errant select2 dropdown"
If you are in a select2 dropdown and go back to another page the dropdown remains on the page until you do a full page refresh.

![image](https://cloud.githubusercontent.com/assets/789512/20364369/e8ae82d2-ac10-11e6-82ad-6864f52b7383.png)

[2016-11-16 20:38] garethbowen commented on #2927
@estellecomment PR for you please: https://github.com/medic/medic-webapp/pull/2928

[2016-11-17 09:43] garethbowen commented on #2915
PRs: https://github.com/medic/medic-webapp/pull/2929 https://github.com/medic/medic-api/pull/104

[2016-11-17 09:49] garethbowen commented on #2915
To get this to work...

### Charts doc

Add a doc to the couchdb which stores the raw data. Here's one I generated for the WHO data provided above.
[doc.zip](https://github.com/medic/medic-webapp/files/596992/doc.zip)

### Update the form

Example:

[code]
The `appearance` attributes are the key - everything else can be changed.

[2016-11-17 12:06] alxndrsn commented on #2910
Label looks the same in your screenshot.  If you mean the field itself, I think it would be quite confusing for users if appearance did not change for read-only fields...

[2016-11-17 13:03] SCdF commented on #2915
LGTM, merging.

[2016-11-17 13:03] #2915 closed

[2016-11-17 13:44] SCdF opened #2930 "Update any README.md instructions for CouchDB2.0"

[2016-11-17 13:47] SCdF opened #2931 "CouchDB2.0 API version check"
As 1.x and 2.0 are not compatible, add a check to the start of API to make sure that the CouchDB that they're connecting to is the right version.

This is mostly important for our transition to CouchDB2.0 (in medic-webapp 3.0), though we could also backport this code to block usages of couchdb 2.0 on existing code as well.

[2016-11-17 13:48] SCdF opened #2932 "Test Couch2PG with CouchDB2.0"
Make sure it works as expected. It should, it's not doing anything fancy. Only concern is if seq numbers have changed in format.

[2016-11-17 13:50] SCdF opened #2933 "Get Travis using CouchDB2.0"
Our tests should run in Travis on CouchDB 2.0.

Some options:
 - Get travis to support CouchDB 2.0 as a service (much like they support 1.6)
 - Build it ourselves once, zip it and host it somewhere, and have our travis builds pull it down and execute it
 - Built it from source each time, and cry

[2016-11-17 13:52] SCdF opened #2934 "Determine and document CouchDB 1.6 -> 2.0 migration strategy"
It looks like we can just turn off 1.6 and copy its DB files to the new install location. We should check that this works as expected.

If we have to use replication to migrate, work out what happens when seq numbers change from PouchDB's perspective, does it:
 - Completely not realise the server has changed and lose data
 - Realise the server has changed and start from 0 again, which means all of

[2016-11-17 13:53] SCdF opened #2935 "CouchDB2.0 and Lucene, does that all still work?"
Work out if couchdb-lucene works on CouchDB 2.0.

[2016-11-17 13:55] SCdF commented on #2854
Created a bunch more tickets with things we need to check. Because this is Kind Of A Big Deal™ I'm not sure we should be progressively merging things into master this one time, so I've created a branch: https://github.com/medic/medic-webapp/tree/2854-couchdb-2.0

If people think this is stupid we can just merge into master as we go.

[2016-11-17 14:03] SCdF commented on #2934
https://blog.couchdb.org/2016/08/17/migrating-to-couchdb-2-0/

[2016-11-17 15:13] SCdF commented on #2931
PR: https://github.com/medic/medic-api/pull/105

[2016-11-17 15:14] SCdF commented on #2931
@garethbowen review plz. Note that this PR intentionally merges into the meta ticket's branch

[2016-11-17 15:16] SCdF commented on #2935
2.0 compatibility is being worked on, but a new release hasn't occurred yet: https://github.com/rnewson/couchdb-lucene/commit/d26bdf04d88e58745f21fd2cbdf44ac5293417ee

[2016-11-17 16:56] SCdF commented on #2934
Tested this strat locally:
 - Had a replicating user already cached on my Chrome (demo / medic)
 - changed `/usr/local/etc/couchdb/local.ini` to boot on port 598**5**
 - Booted the standalone MacOS couchdb2 app (which boots on 5984 as standard)
 - Replicated `_users`, `medic` and `medic-audit` between them
 - Hit some views to warm them
 - Booted api (now against 2.0)
 - Loaded the app with the re

[2016-11-17 17:21] SCdF commented on #2849
I think we're going to drop this. PouchDB already does this and this is where our main performance concern is.

[2016-11-17 17:38] mandric commented on #2849
Isn't a major win with separate ddocs that we can do sane upgrades?  So if you have a design doc with 30 views and you update one view, the entire index needs to rebuild, so that means gigabytes of data  which can take potentially hours of rebuilding.  As is, a minor update/bug fix in a view causes a very poor upgrade experience.

[2016-11-17 17:50] SCdF commented on #2849
Yep that's true.

[2016-11-17 18:00] abbyad commented on #2907
Works well in build 4477. Moving to Ready.

[2016-11-17 18:03] SCdF commented on #2932
Sequences are now strings, so couch2pg is broken, though the fix is easy.

[2016-11-17 18:05] abbyad commented on #2890
The new forms from #2828 do not use the `facility_id`, so a home place will not show in the LHS for admins unless they are legitimately assigned to a place.

Having figured out what the problem is I think we can close this issue as there is no action needed.

[2016-11-17 18:05] #2890 closed

[2016-11-17 18:13] abbyad commented on #2693
With #2911 it is now possible to get a person's parent place's `type`. This means that we can use a single XForm with different fields based on the type of place the person belongs to.

An example of getting the type will be seen in the forms created for #2828.

[2016-11-17 18:13] #2693 closed

[2016-11-17 18:46] garethbowen commented on #2935
Good catch. We should consider migrating our couchdb-lucene code to mango which is effectively the same but natively supported.

[2016-11-17 18:56] garethbowen commented on #2931
Cleanup, aisle 2!

[2016-11-17 20:26] sglangevin commented on #2897
@garethbowen this looks good to me. I'm not exactly sure how to test the removal of the traffic documents, but I don't see any performance issues or any major bugs here.

[2016-11-17 21:09] abbyad opened #2936 "Show parent place after deleting a place/person"
When you delete a person or place you are brought to the blank `No person selected` page. We should return to the parent place after deleting a place. When deleting top level places there is no parent so it is OK to show the blank RHS.

[2016-11-17 22:05] sglangevin commented on #2910
I think he's talking about "Belongs To" which is bold without read-only and not bold when in read-only mode.

[2016-11-17 22:09] alxndrsn commented on #2910
Thanks, Sharon!  I guess in CSS it's related to the text `Marc District` being bold when the field's enabled - I'd guess the de-boldening is being applied at the wrong level.

[2016-11-18 01:39] abbyad commented on #2333
Marking as no action needed anymore and closing since this is configurable per project.

For example, [this default form for SMS workflow projects](https://github.com/medic/medic-projects/blob/003f459ac1f2b271876d69d1ba6f28375b9d6300/default-sms-workflow/health_center-edit.xml) allows editing of the primary contact place.

[2016-11-18 01:40] #2333 closed

[2016-11-18 01:43] abbyad commented on #2828
Moving to Acceptance Testing, but @alxndrsn feel free to do code review. After acceptance testing we can decide whether to pull these forms in as the true built-in defaults, or to use them as a base for projects.

[2016-11-18 08:56] estellecomment commented on #2927
If there's any way to do that in the enketo code, as a cleanup function of some kind, rather than add more setup stuff in inbox.js, that would be nice... But this works.

[2016-11-18 09:21] estellecomment commented on #2925
Comment : https://github.com/medic/medic-webapp/commit/8d7c8a987ff2e93b5bff8490e4f5670a540042a9#commitcomment-19876150

[2016-11-18 09:34] estellecomment commented on #2919
Cool! See comments.

[2016-11-18 09:57] estellecomment commented on #2810
Closing and updating the spec, we're not doing that.

[2016-11-18 09:57] #2810 closed

[2016-11-18 09:59] estellecomment opened #2937 "UP button to scroll up from long lists"
From spec : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.ta51n5b830h

[2016-11-18 10:02] diannakane commented on #2810
@estellecomment Should we update the spec given that we will likely do this
in a future iteration?

[2016-11-18 10:04] estellecomment commented on #2810
Yes we most definitely should! I crossed it out : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.66nj6r9pxmxe

[2016-11-18 10:40] SCdF commented on #2935
@garethbowen really? Does that also apply to our free text search views as well? I didn't think Mango was this magical…

[2016-11-18 12:52] SCdF commented on #2931
@garethbowen  Take it to the bridge!

[2016-11-18 13:15] SCdF commented on #2937
Also, worth thinking about what happens when the button covers content you'd expect to be able to read. Need to make sure if the button is visible you can scroll down enough so the button is only over whitespace and not content. See the Gmail Android app as an example of how to get this right.

[2016-11-18 16:13] SCdF commented on #2919
Hey @estellecomment I updated the PR, take another look.

[2016-11-18 21:09] mandric opened #2938 "fix line endings when cloning medic-servers repo"
windows only issue, PR available https://github.com/medic/medic-servers/pull/5

[2016-11-18 23:26] sglangevin opened #2939 "If a user navigates away from the People tab while a person/place is selected, that place will be selected on the LHS upon returning to the People tab but the RHS is blank"
Seen on v2-alpha.app, version 2.9.0-alpha.4490, logged in as `tester` (full access user).

To reproduce:
1. Go to the People tab
2. Select a branch/district
3. Navigate to the History/Reports tab
4. Navigate back to the People tab
5. Notice that the branch/district is selected on the LHS but the RHS say "No person selected"

![image](https://cloud.githubusercontent.com/assets/1286381/20450159/1d29

[2016-11-19 00:30] mandric commented on #2939
What would you like the behavior to be?  Should the LHS stay selected and the right display the detail?  Or should the selection be reset?

[2016-11-19 00:35] sglangevin commented on #2939
If the LHS has a selection, then it seems like the RHS should display the detail. I'm not sure whether the user would expect to come back to the tab and find the selection reset or of they would expect to find the place or person they viewed most recently. It seems like resetting the selection would be cleanest. Thoughts @diannakane?

[2016-11-19 01:31] mandric commented on #2568
Ok this should be ready for review see PR: https://github.com/medic/medic-import/issues/7
What looks like PII has been replaced with fake data.

[2016-11-20 14:24] SCdF commented on #2932
Commit medic/couch2pg@417f547 adds support: we just needed to support strings where we store sequences, the rest works fine.

[2016-11-20 14:43] SCdF commented on #2939
That's quite weird: I'm pretty sure there is code that deals with exactly this scenario. [Here is the contacts example](https://github.com/medic/medic-webapp/blob/master/static/js/controllers/contacts.js#L268-L272):

[code]

I wonder if we've broken it recently somehow.

[2016-11-20 18:51] garethbowen commented on #2936
Not a bug. Removing from this milestone.

[2016-11-20 19:06] garethbowen commented on #2935
@SCdF Yes. I think mango will be a huge win for our freetext views which are quite crude at the moment. I _believe_ mango is backed by lucene, but the real advantage to us is the [pouchdb-find](https://github.com/nolanlawson/pouchdb-find) plugin which means we can use the same syntax client side and offline. NB: I haven't actually tried any of this yet...

[2016-11-20 20:51] #2931 closed

[2016-11-20 20:51] garethbowen commented on #2931
Lovely!

[2016-11-20 20:52] garethbowen commented on #2932
LGTM

[2016-11-20 20:52] #2932 closed

[2016-11-20 20:59] garethbowen commented on #2927
This bug affects _any_ page with a dropdown, not just Enketo ones, eg: Configuration > Settings > Default country code, then click back:

![not-just-enketo](https://cloud.githubusercontent.com/assets/2064938/20466079/103f072c-afd1-11e6-8721-a43ed33f577b.png)

[2016-11-20 20:59] #2927 closed

[2016-11-20 21:54] garethbowen commented on #2568
Mostly looks good. The setTimeout() stuff looks like a bug but I might be reading it wrong.

[2016-11-20 21:54] garethbowen commented on #2568
@mandric Back to you.

[2016-11-20 22:31] #2897 closed

[2016-11-20 22:32] garethbowen opened #2940 "Update Changes.md for 2.9.0"
Update Changes.md with a list of the major changes from 2.8 with user friendly descriptions.

[2016-11-21 08:11] Enock1990 commented on #2909
Sorry guys for taking you back does this mean it's fixed and we will not be seing this duplicates come up due to clicking _submit_ several times? If yes, have we pushed the update? cc @garethbowen & @SCdF ?

[2016-11-21 09:31] garethbowen commented on #2909
@Enock1990 This has been fixed in the `master` branch which means it will be part of the 2.9.0 release.

[2016-11-21 13:16] SCdF commented on #2856
![image](https://cloud.githubusercontent.com/assets/583851/20483924/99dd01d0-afec-11e6-83d5-988d877cc844.png)
Sigh.

To be clear:
[code]

The documentation is just not up to date.

[2016-11-21 13:26] SCdF commented on #2856
APIs of interest:
 - ` /_membership` lists all members of the cluster
 - ` /_node/XXX/YYY` allows you to view the YYY endpoint of node XXX.

For example:
[code]

It very much doesn't make sense to me that admin credentials are per-node, but whatever. I guess the correct approach to make sure we support multiple nodes in the future would be to iterate over all nodes when we make changes, even if fo

[2016-11-21 14:04] diannakane opened #2941 "Change "branch" to "health center""
Based on team feedback, please change the middle level of the hierarchy from "branch" to "health center" in the default config for SMS projects. This means that the hierarchy labels should be district > health center > area

[2016-11-21 14:30] diannakane commented on #2939
This is an interesting question and is relevant to how long before we clear search results as well. Posting to the design channel to get some quick team input.

[2016-11-21 18:32] garethbowen commented on #2941
@diannakane Just to be clear, this is a change from a month ago when we switched all translations for the hierarchy to "district > branch > area"? ( #2768 )

[2016-11-21 18:44] garethbowen commented on #2856
Is there no other/new API for modifying admin credentials? Maybe we should just disable changing the password for admins and make them go through [fu|faux]ton?

[2016-11-21 18:50] abbyad commented on #2941
That is correct. In #2768 we had incorrectly shown SMS workflows as using Branch as the middle level, when to date no SMS projects has used the term Branch. Sorry for not having cleared this up prior to the work on 2768.

[2016-11-21 18:51] garethbowen commented on #2941
Ok, I'm on it.

[2016-11-21 19:01] sglangevin commented on #2655
@garethbowen sorry for the delayed response. Is it possible to store a `date` field in local time then? I think the problem is that we get a `date` from a form and then I think it gets converted to UTC somewhere, but the tasks appear in local time. So that results in tasks appearing on the correct day but with the incorrect due date. E.g. a task appears on Wednesday, saying it was due yesterday. T

[2016-11-21 21:01] garethbowen commented on #2655
@sglangevin The problem is dates don't have timezones, only datetimes do. Can you point me to the configuration you're talking about so I can see where the problem occurs?

[2016-11-21 21:26] garethbowen commented on #2941
Done: https://github.com/medic/medic-webapp/commit/ab8718bed1d1d047dfa4e05171de24645ef86b4f

[2016-11-21 21:26] #2941 closed

[2016-11-22 00:08] sglangevin commented on #2909
@Enock1990 we can chat about this tomorrow, but how urgently does LG need this feature? If it's possible for them to wait for 2.9, let's do that. If they are pushing to get this as soon as possible, we can discuss backporting this feature and releasing 2.8.4.

[2016-11-22 00:31] sglangevin commented on #2936
I would argue that this is a UX bug. Getting to a blank screen after deleting something means that you no longer know where you are in the hierarchy, which is jarring to the user.

[2016-11-22 08:32] Enock1990 commented on #2909
@sglangevin We will need to delete the duplicates first. I have the duplicates from Michael and have been looking for someone to help me with deleting this to no avail. And yes it is fairly urgent to LG like always!!

[2016-11-22 11:31] SCdF commented on #2856
Yeah I think that's the best approach, the code change required to do this is pretty horrid anyway.

It's also a good first step in us removing the use of CouchDB admins in medic-webapp (we should still have admins, they just shouldn't be the infallible gods that are official CouchDB admins).

[2016-11-22 12:04] SCdF opened #2942 "Remove ability for CouchDB admins to be used as medic admins"
Right now we use CouchDB admins as our medic admins.

Not only is there no reason to do this: it's dangerous. **CouchDB admins are to CouchDB as root is to 'nix.**

We cannot really use CouchDB roles for this: especially in the `_users` DB CouchDB doesn't really support you changing the security model and adding roles.

Instead, we should fix this by:
 - [ ] Adding / modifying APIs in medic-api to

[2016-11-22 15:02] SCdF commented on #2855
Some migrations also access the `_config` endpoint that is now more of a pain to access.

[2016-11-22 15:16] SCdF commented on #2856
Removing usages of this endpoint in medic-webapp: https://github.com/medic/medic-webapp/pull/2943
Removing usages of this endpoint in medic-api: https://github.com/medic/medic-api/pull/106
Removing usages of this endpoint in medic-sentinel: https://github.com/medic/medic-sentinel/pull/87

[2016-11-22 16:50] mandric commented on #2856
Possibly related... we should be using /api/v1/users for any type of user/auth editing? https://github.com/medic/medic-webapp/issues/2048

[2016-11-22 16:53] abbyad commented on #2925
Works in 4504, moving to Ready.

[2016-11-22 17:10] SCdF commented on #2856
Yo @garethbowen we'll deffo need to discuss this one. Take a look at the PRs above and we'll have a chat about it.

[2016-11-22 17:53] SCdF commented on #2856
@mandric we could do, but putting the time in clearly is not important enough to anyone, since it got punted through 15 milestones without anyone working on it.

[2016-11-22 17:56] SCdF commented on #2855
Things that need to be looked at:
 - [ ] `disable-erlang-support.js` edits `_config`
 - [ ] `enable-erland-support.js` edits `_config` ... since we now have erlang disabled I'm wondering what would happen if I just deleted both of those migration scripts? Would the world end?
 - [ ] `extract-user-settings-roles.js` uses `_config` to add the `_admin` role to admins.
 - [ ] `convert-bad-dob-format.j

[2016-11-22 18:59] garethbowen commented on #2855
We can't delete both erlang migrations unless we're convinced that nobody has run `enable` without also running `disable. You could probably just delete the `enable` one though...

[2016-11-22 19:07] garethbowen commented on #2856
@SCdF Looks good. I'll leave the merge to you, or we can talk about it first.

[2016-11-23 04:06] guptasanchay commented on #2915
I did some acceptance testing for this issue on the alpha instance that @abbyad set up for me: https://v2-alpha.app.medicmobile.org/

I randomly tested ~50 cases from a [dataset](https://docs.google.com/spreadsheets/d/1axN5G_a_b8DefLQg-zK9DHCEywTn_6J7pMLyscHTDEA/edit#gid=0) of 1400 measurements that CiC's promotoras collected this month.

The calculator is working really well for the most part. I

[2016-11-23 08:38] garethbowen commented on #2915
@guptasanchay You're absolutely right. There was a bug where any zscore between -3.0 and -3.9 was returning as -4. This is now patched and I've added that CIC case as a unit test.

@abbyad Can you please deploy on the right instance so testing can resume?

[2016-11-23 14:56] abbyad commented on #2915
Updated to `2.9.0-alpha.4509`, testing can resume with this fix.

[2016-11-23 17:00] SCdF commented on #2856
Merged to their 2.0 branches.

[2016-11-23 17:00] #2856 closed

[2016-11-23 17:02] SCdF commented on #2930
So for MacOS there really isn't any differences, except that the version number changes. You just go to their website and follow their instructions. You get a little app to download and pollute your app bar (because why not).

@garethbowen is linux quite complicated?

[2016-11-23 21:09] abbyad opened #2944 "Show better error if your user's contact person is deleted"
If your user's contact is deleted there are several strange behaviours in the webapp
1) LHS of History tab never loads
2) There is no FAB on a Person profile:
![image](https://cloud.githubusercontent.com/assets/789512/20578635/4c7ceb8e-b196-11e6-8914-fd0c7eb4ee38.png)

Ideally we would show an error in the UI so that the person can correct the situation or know to contact their admin. We should al

[2016-11-23 21:12] garethbowen commented on #2944
I wonder if we should just treat it like not having a contact. IIRC that shows an error message as expected.

[2016-11-23 21:16] abbyad commented on #2944
Ya, that seems reasonable. Not having a contact only shows the error when trying to complete a form, since that is the only action that requires it.

[2016-11-23 21:33] abbyad commented on #2915
It may be a good idea to rename `chart` to `table` in the code to avoid confusion later on, especially that there are [feature requests](https://github.com/medic/medic-projects/issues/812) to display growth charts in the future.

The chart is typically the visual graph, whereas table refers to the list of values used to generate the chart.

On the [WHO site](http://www.who.int/childgrowth/standard

[2016-11-23 23:00] garethbowen opened #2945 ""digest in progress" when submitting invalid report"
1. Go to add a report with a required field
2. Submit the form without filling in the field

Expected: The spinner stops spinning
Actual: The spinner keeps spinning, and this error is shown in the console.

[code]

[2016-11-23 23:01] garethbowen commented on #2945
The code that's erroring was committed in #1410 to solve the spinner issue - something must've changed since then.

[2016-11-23 23:02] garethbowen commented on #2945
@alxndrsn Review if you please?

[2016-11-23 23:03] garethbowen commented on #2568
If this is in acceptance testing is should be closed.

[2016-11-23 23:03] #2568 closed

[2016-11-23 23:42] garethbowen commented on #2944
@alxndrsn PR please: https://github.com/medic/medic-webapp/pull/2946

[2016-11-24 00:52] garethbowen commented on #2936
@sglangevin It's not a bug because it's working as it was intended to.

[2016-11-24 00:52] garethbowen commented on #2936
@SCdF PR please: https://github.com/medic/medic-webapp/pull/2947

[2016-11-24 02:49] garethbowen opened #2948 "Refreshing the People tab often doesn't display the search results"
1. Go to the People tab
2. Hit reload
3. Some of the time the spinner never clears and the action bar never populates:

![infinispin](https://cloud.githubusercontent.com/assets/2064938/20585139/83a24646-b25d-11e6-9662-10ba3e048228.png)

[2016-11-24 03:00] garethbowen commented on #2939
This only happens for users without a place. For CHPs their home place is selected when returning to the People tab. To make it consistent I've patched it so the previous place won't be selected in the LHS. The RHS will still be blank. This means switching to the People tab the second time behaves identically to switching to it the first time.

PR please @alxndrsn : https://github.com/medic/medic-

[2016-11-24 03:09] garethbowen commented on #2948
There seems to be a race condition in `$translate` if it's not ready to go when it's called. In this case it sometimes wasn't resolving which blocked the `search` and other times it was resolving the translation key instead of the value. It turns out we don't need it and can just set the label and get the translate directive to do the work for us. This greatly simplifies the promise chain.

PR ple

[2016-11-24 08:45] guptasanchay commented on #2915
Okay, retested and everything looks great! Thanks all

[2016-11-24 09:46] ranjuts commented on #2912
Another user story for this feature -- Confirmation of a delivery/birth is usually followed by a PNC and/or immunization workflow which requires registering the child (children if multiple). Automatically creating the child reduces a task for the CHW, also ensures her likelihood to timely report on any events concerning the child that happens at or immediately after birth (eg. birth polio vaccinat

[2016-11-24 10:53] SCdF commented on #2936
LGTM, merged.

[2016-11-24 10:53] #2936 closed

[2016-11-24 12:16] henokgetachew opened #2951 "User type needs to be linked with a default set of permissions"
The whole point of having a user type seems to be that there are some default actions/permissions for that user type.

Example: The user type `Gateway` should have `can_access_gateway_api` permission turned on by default.

[2016-11-24 12:29] SCdF commented on #2935
Looking into how mango works, I'm not convinced we can use it for free text search. The only tool I see for finding things inside a string is regex, and regex is not allowed in indexes, and indexes are required for performance on large data sets.

I looked at both the pouchdb-find documentation and [couchdb's find documentation](http://docs.couchdb.org/en/2.0.0/api/database/find.html).

[2016-11-24 12:42] #2945 closed

[2016-11-24 12:44] alxndrsn commented on #2944
Looks fine.  Surprised this is a PR; do you have doubts?

[2016-11-24 12:46] alxndrsn commented on #2939
This change looks like it makes things much simpler 👍

[2016-11-24 16:05] alxndrsn commented on #2801
# Ready for testing

* crosswalk-fork, managed from https://github.com/medic/crosswalk-build
* latest build of `medic-android`, including `XWalkWebview` from crosswalk version [`medic-0.4.0`](https://github.com/medic/crosswalk-build/tree/medic-0.4.0) is version [`0.1.175`](https://github.com/medic/medic-android/tree/v0.1.175) which implements the `--unlimited-storage` flag
* pull request for the `

[2016-11-24 18:40] garethbowen commented on #2944
@alxndrsn We're trying to PR (just about) everything in order to keep master stable. Docs: https://docs.google.com/document/d/1SrW4bOxdD3kAWZ9WvJtftyrfQBpZiA5HTJydpe43CeY/edit

I'll update the workflow doc to reflect this new reality.

[2016-11-24 18:41] #2944 closed

[2016-11-24 18:43] #2801 closed

[2016-11-24 18:44] garethbowen commented on #2805
@alxndrsn Can we call this done now?

[2016-11-24 18:47] alxndrsn commented on #2805
Seems reasonable.

[2016-11-24 18:47] #2805 closed

[2016-11-24 18:48] garethbowen commented on #2951
It's configured that way: https://github.com/medic/medic-webapp/blob/master/packages/kujua-sms/views/lib/app_settings.js#L190

@henokgetachew Did you upload any configurations after install or is this a clean default installation?

[2016-11-24 18:54] garethbowen commented on #2935
This might be helpful: https://cloudant.com/blog/enable-full-text-search-in-apache-couchdb/

They talk about "full text search" and how they use lucene and so on, so I still feel like this should be possible...

[2016-11-24 19:51] SCdF commented on #2935
Right, so that doesn't seem to be with Mango exactly, it's more JS. It's not completely clear how much of Cloudant made it into CouchDB 2.0. I'll give a crack at creating one of these indexes in a ddoc and see what happens…

[2016-11-24 20:01] SCdF commented on #2935
OK so yeah I don't think that is in CouchDB 2.0, at least not by default. I followed the query examples in here: https://cloudant.com/for-developers/search/ . First by copying the first full ddoc they show and then using their url structure talked about later to query it, and got a 404.

[2016-11-24 20:12] garethbowen commented on #2935
Yeah I think you need to compile lucene compatibility in.

[2016-11-25 10:58] alxndrsn commented on #2904
Please re-open if the problem recurs.

[2016-11-25 10:58] #2904 closed

[2016-11-25 11:01] alxndrsn commented on #2906
@garethbowen If the upgrade is triggered through Dashboard, it may depend on the default string encoding used on the user's browser or machine.  So, if @abbyad triggered the upgrade on Windows, it seems possible that you wouldn't be able to recreate the issue on Ubuntu.  Does that seem plausible?
@abbyad do you remember the OS/browser combination you used when this corruption occurred?

[2016-11-25 11:03] alxndrsn commented on #2857
I think this is blocked by:
* #2855
* #2933
* #2934
* #2935

[2016-11-25 11:09] SCdF commented on #2857
@alxndrsn there is a super ticket that is dealing with the various things that need to be done: **https://github.com/medic/medic-webapp/issues/2854**

It's not blocked AFAICT, it's upgrading medic-os so it runs CouchDB 2.0. There is no need to involve any of our code, just having medic os boot and have CouchDB 2.0 on 5894 is all that is needed.

[2016-11-25 11:19] henokgetachew commented on #2951
@garethbowen this was actually when a 0.4 was ported to v2.  I see why it wasn't set by default. The app_settings uploaded belonged to the 0.4 originally.  I think this brings out one of the issues we will have to deal with when upgrading the instances to v2.  What's the best way to set these default values when app_settings has been uploaded from a previous instance? Tagging @abbyad too here.

[2016-11-25 11:42] alxndrsn commented on #2774
@derickl please capture logs next time attempting this process, e.g.

[code]

[2016-11-25 12:47] alxndrsn opened #2952 "Consider switching from Crosswalk to Crosswalk Lite"
Switching from [Crosswalk](https://crosswalk-project.org) to [Crosswalk Lite](https://crosswalk-project.org/documentation/crosswalk_lite.html) for our `WebView` implementation could potentially reduce the APK size by ~10MB and installed size by ~15MB.

[2016-11-25 12:48] SCdF commented on #2855
@garethbowen for your consumption https://github.com/medic/medic-api/pull/107

[2016-11-25 12:51] alxndrsn commented on #2952
From the [list of disabled features in Crosswalk Lite](https://crosswalk-project.org/documentation/crosswalk_lite/lite_disabled_feature_list.html), it is missing the following which we may depend on:

* **ICU** - this appears to be used for rendering non-latin charactersets, and problems rendering Hindi are specifically mentioned
* **XSLT** - we rely on this (via enketo) for converting XForms from

[2016-11-25 12:51] #2952 closed

[2016-11-25 13:07] SCdF commented on #2935
@garethbowen right, but if you need to compile lucene compatibility in, that means a) you need lucene installed on the server (+Java etc) and b) it won't work with PouchDB.

So I guess the question is, do we:
 - Keep using `couchdb-lucene`, and make sure it still works
 - Drop `couchdb-lucene` and hand-compile CouchDB 2.0 for support it
 - Actually drop all Lucene use, somehow.

[2016-11-25 15:27] abbyad commented on #2906
Interesting theory! I was on Windows + Chrome when updating that instance.

[2016-11-25 15:48] SCdF commented on #2935
@garethbowen so I can see usages of `_fti` (what we're binding couchdb-lucene to) in medic-api (and sentinel for some kind of validation?), I don't actually see it in medic-webapp at all, either directly or using the medic-api api. I know you said it was still used, for analytics or something like that right?

Let's talk monday.

[2016-11-25 17:49] derickl commented on #2774
👌🏿👍🏿

[2016-11-25 21:49] abbyad commented on #2912
@sglangevin does the person need to be created directly by the action form, or is it sufficient to be able to create a person from a task? If we could open and submit a create person form from a task then we can send all the necessary info via the task to make the person creation very streamlined.

Doing it this way does require a separate task but this could be clearer to a user than creating peo

[2016-11-27 18:56] garethbowen commented on #2906
@alxndrsn Nice one. Gotta love upgrading on the client... It's definitely worth a test. This would mean it's a dashboard issue not a migration one as migrations happen in node on the server.

@abbyad Can you try upgrading again via Windows with clean translations and see if it's reproducible?

[2016-11-27 18:58] garethbowen commented on #2951
Ahh right. What might be happening is any permissions that don't exist in the old configuration are left as null (false for everyone) in the new configuration. We might need to write some API code so add in missing translations with the default permissions.

[2016-11-27 19:08] garethbowen commented on #2935
It's used for ANC analytics which is online only and queries API controllers which do the FTI query. I'm sure we can replace it with queries to postgres if we want to make couch2pg a requirement. Or we can look at replacing it with nools based targets so it can work offline.

I'm not sure about that sentinel validation but it would be great to rewrite it using views.

There's also https://github.c

[2016-11-27 20:37] garethbowen commented on #2912
Do not merge this into `master` until the `2.9.x` branch is created.

[2016-11-27 20:37] garethbowen commented on #2913
Do not merge this into `master` until the `2.9.x` branch is created.

[2016-11-27 20:37] garethbowen commented on #2914
Do not merge this into `master` until the `2.9.x` branch is created.

[2016-11-27 20:42] garethbowen commented on #2180
@sglangevin @abbyad This needs more design work before we can start on it in order to work out where this data should be stored. @SCdF has laid out 5 options above each with pros and cons. In particular, it is essential to know where is the "replication date" going to be used/displayed.

[2016-11-27 21:45] garethbowen commented on #2919
Reviewed and merged.

[2016-11-27 21:45] #2919 closed

[2016-11-28 00:33] abbyad commented on #2180
Based on the requests to see the sync time in postgres as well as in the app by a mobile user I think we are down to two options, both involving saving the info in couchdb: saving it in the report doc, or an associated doc.

Given potential conflicts and needing to download a new/updated doc as soon as a report is replicated, it seems to make sense to save the info in an associated doc, something

[2016-11-28 00:42] garethbowen commented on #2180
@abbyad Yes the associated doc idea sounds most efficient. Would this be the initial sync time or the latest sync time (eg: if an edit is made)?

[2016-11-28 00:45] garethbowen commented on #2180
Do not merge this into `master` until the `2.9.x` branch is created.

[2016-11-28 01:02] abbyad commented on #2180
We'd definitely want to know the initial replication time, and can also see it being useful to know the replication time of the most recent edit, along with the associated rev number. It would seem unnecessary to maintain a record of every edit in between since that could create a hugely bloated doc.

[2016-11-28 11:43] diannakane commented on #2939
Hey guys, we've been having some discussion in the design channel about this. It seems that the consensus is that we would expect the previously selected place to be selected. @abbyad summed it up well:

The ideal scenario would be for the user to come back to the place they were previously viewing, even if it is a level below the one selected in the LHS. For CHWs who only see one level below them

[2016-11-28 12:11] alxndrsn commented on #2857
Tasks:
* [ ] update couchdb version in `platform/source/manifests/medic-core`
* [ ] remove or update couchdb-lucene version in `platform/source/manifests/medic-core`
* [ ] determine if `platform/source/medic-core-1.6.1/patches/couchdb-fix-user-properties.diff` needs updating or removing

[2016-11-28 12:25] SCdF commented on #2855
@garethbowen commented on your comment. We can talk when we're both around.

[2016-11-28 12:27] SCdF commented on #2948
LGTM, merged.

[2016-11-28 12:27] #2948 closed

[2016-11-28 12:32] SCdF commented on #2934
@garethbowen just to confirm that we're on the same page, I'm happy with the above statement (ie migration via replication), but if you could "review" it and close the ticket if you're happy that would be choice.

[2016-11-28 12:34] SCdF commented on #2935
Things to do:
 - [ ] Work out who uses `api/v1/fti` and how much pain we'd be in if we just dropped support for that
 - [ ] Work out where else we use fti, and what those queries end up being
 - [ ] Evaluate those queries and work out if we actually need lucene

[2016-11-28 12:59] alxndrsn commented on #2857
Blocked by https://github.com/medic/medic-os/issues/9

[2016-11-28 14:15] SCdF commented on #2935
- [ ] `export-data.js` (exposed by `api/v1/export/..`) also exposes lucene queries as an api. Work out if that was a nice to have or we actually use it.

[2016-11-28 16:47] abbyad opened #2953 "Add Medic Gateway to Google Play store"
We should add the Medic Gateway app to the Play store so that it is easier for teammates to install and maintain by setting to automatically upgrade to the latest version.

[2016-11-28 18:49] #2855 closed

[2016-11-28 18:52] garethbowen commented on #2934
@SCdF Did you try just copying the v1 DBs into v2? I'm just wondering about the pros and cons of the two approaches.

[2016-11-28 18:56] SCdF commented on #2934
@garethbowen oh yeah true, I did not try that. Let me work out how to do that (OSX is weird) and I'll get back to you.

[2016-11-28 20:20] sglangevin commented on #2935
+1 for nools-based targets replacing ANC analytics

[2016-11-28 20:32] abbyad commented on #2935
We are doing a review of the current ANC widgets to see which ones would be needed. Some of the existing ones are no longer needed since we can make use of Tasks to highlight pregnant women that have missed their appointments.
cc @diannakane

[2016-11-28 20:32] garethbowen opened #2954 "Show the previously selected item when navigating to a tab"
From @abbyad

From @diannakane

[2016-11-28 20:32] garethbowen commented on #2939
I've raised #2954 to cover the UX improvement.

[2016-11-28 20:32] #2939 closed

[2016-11-28 20:33] SCdF commented on #2935
@abbyad / @diannakane it would also be good to know, since lucene only works online, which could be replaced by Klipfolio dashboards. Either directly in klipfolio or perhaps with some kind of iframe-style arrangement.

[2016-11-28 20:34] garethbowen commented on #2934
@SCdF Also I think you put this in the wrong milestone?

[2016-11-28 20:35] SCdF commented on #2934
@garethbowen whoops… yeah def

[2016-11-28 20:36] garethbowen commented on #2820
Nobody in the dev team seems to have a clear idea of what's required to close this issue. As it's a nice to have I'm removing it from this milestone.

[2016-11-28 20:37] sglangevin commented on #2935
@abbyad we might still need some of those for projects that are purely SMS-based, no? Or are the tasks only for the nurses? Seems like a big change from the existing workflow - perhaps I am misunderstanding though as I haven't see what you guys have worked on so far.

[2016-11-28 20:37] garethbowen commented on #2774
This is blocked waiting on more information. Removing from the milestone.

[2016-11-28 20:40] sglangevin commented on #2954
I agree with @abbyad on this one - makes sense to come back to where you were if you are being directed away by the app.

Seems like we would ideally land on the person or place page that we were on when leaving the People tab as opposed to trying to work out the place they belong to and display that.

Is this change going to be applied to all tabs? Would that include keeping the same filters on t

[2016-11-28 20:52] sglangevin commented on #2180
I think having an associated doc would accomplish what we need. Keeping track of the initial replication time and the most recent edit should be sufficient. As long as these associated docs are replicated to medic-analytics, that satisfies the initial need. I think it's likely there will also be other needs in the future to display this info in the webapp, so the associated doc could also help wit

[2016-11-28 21:03] garethbowen opened #2955 "Release 2.9.0"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Create a release branch
- [x] Tag a beta release
- [x] Update the testing app and run acceptance testing
- [x] Update Changes.md ( #2940 )
- [x] Tag the final release
- [x] Announce the release in #general

[2016-11-28 21:36] sglangevin commented on #2912
Ideally, the person is created directly from the action form as opposed to via a task. The task helps, but it still requires an extra step for the CHW. PNC and immunizations workflows begin immediately after birth, so creating the person at the time the delivery is reported is important.

We had discussed the option of having this as a task, but there was a strong preference for having it be autom

[2016-11-28 21:52] abbyad commented on #2912
Ok, so to do that we'll need to figure out how to specify that a form should create a person.

An option would be to create a person with the info from any group named `person`, or for groups that have a specific appearance value, such as `new_person`. @sglangevin do you have any preferences or other suggestions?

[2016-11-28 21:57] sglangevin commented on #2912
I think either of those would work. I know that in family registration (`clinic` form) we are using a group named `person`, so it might make sense to have a similar format for creating a person from a report form. The appearance value could also work well, though it might be easiest to stay consistent with the family/household registration form.

[2016-11-28 22:35] michaelkohn commented on #2180
As long as the associated doc is being sync'd to PostgreSQL and I have an easy way to link the associated doc to the doc it refers to, we should be OK from an analytics perspective.

Right now I think the only database that is being replicated to PostgreSQL is the `medic` DB, so if this associated doc is going to live somewhere else (ie not in the `medic` database), we'll need to account for that

[2016-11-28 22:45] sglangevin commented on #2180
@michaelkohn the proposal is to have an associated document stored in the `medic` db that has an `_id` that references the original doc. Per @abbyad's proposal, the `_id` of this associated doc would be something like `${UUID}_info`. Would that be enough for easy association on your end?

[2016-11-28 23:26] garethbowen opened #2956 "Release 2.8.4"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [x] Update the testing app and run acceptance testing
- [x] Update Changes.md
- [x] Tag the final release
- [x] Announce the release in #general
### Issues
- [x] #2909

[2016-11-29 00:52] sglangevin opened #2957 "Add family button doesn't open the add family form on mobile"
Seen on lg.dev, v2.9.0-alpha.4529. To reproduce:
1. Go to the people tab (on your Android phone)
2. Click the add family button at the bottom
3. Notice that the button gets the pink underline to note that it was tapped, but the form doesn't open.

I also tried clicking on my area and tapping on add family there, but I got the same result.