[2017-03-11 12:56] alxndrsn commented on #3180
I see what you mean, but the current medic data model for storing SMS is wholly unsuitable for abstract users, so I don't think `medic-gateway` having a dependency on couchdb makes much sense - better just to define a clean JSON API which the Android app expects the server to implement.

[2017-03-11 23:57] ngaruko commented on #3198
Ah! Was to do with my settings on the machine!
![image](https://cloud.githubusercontent.com/assets/6979995/23827869/7782de64-0723-11e7-91ea-759c4ef14154.png)

[2017-03-12 04:09] alxndrsn commented on #3056
Related: #1373

[2017-03-12 04:10] alxndrsn commented on #3096
I'm reviewing the backlog of enketo-specific issues.  Does this feature have requirement in a current or planned project?

[2017-03-12 04:12] alxndrsn commented on #3056
Translation of `jr:requiredMsg` will depend on #3174

[2017-03-12 04:16] alxndrsn commented on #2102
Closing this as it doesn't sound like it's required.  If this was for a `label`, you should be able to include markdown such as `**bold**`.

[2017-03-12 04:16] #2102 closed

[2017-03-12 04:17] alxndrsn commented on #1815
Closing as there is no detail.  Please add detail and re-open if this issue is clear.

[2017-03-12 04:17] #1815 closed

[2017-03-12 04:17] alxndrsn commented on #1816
Closing as there is no detail.  Please add detail and re-open if this issue is clear.

[2017-03-12 04:17] #1816 closed

[2017-03-12 04:18] #1817 closed

[2017-03-12 04:18] alxndrsn commented on #1818
Closing as there is no detail.  Please add detail and re-open with more detail if this still requires work.

[2017-03-12 04:18] #1818 closed

[2017-03-12 04:19] alxndrsn commented on #1818
Please re-open with more detail if this still requires work.

[2017-03-12 04:20] alxndrsn commented on #1814
I enjoyed the haiku, but please re-open with more detail if this still requires work.

[2017-03-12 04:20] #1814 closed

[2017-03-12 04:21] alxndrsn commented on #1812
Please re-open with more detail if this still requires work.

[2017-03-12 04:21] #1812 closed

[2017-03-12 04:22] alxndrsn commented on #1807
This is referring to deployments via Garden Market.

[2017-03-12 04:23] alxndrsn commented on #1819
Please re-open with more detail if this still requires work.

[2017-03-12 04:23] #1819 closed

[2017-03-12 04:25] alxndrsn commented on #1827
It doesn't seem like this is a priority.

[2017-03-12 04:25] #1827 closed

[2017-03-12 04:26] alxndrsn commented on #1829
@browndav please triage and either:
* add detail and schedule, or
* close

[2017-03-12 04:28] alxndrsn commented on #1834
Hi @SCdF, can you triage this?  I'd guess now is the time to either do or ditch, as there could be some interesting changes between couch 1.6 and couch 2.

[2017-03-12 04:31] alxndrsn commented on #2393
_Possibly_ a duplicate of #2313, but the discussions are both interesting.

[2017-03-12 04:33] alxndrsn commented on #1330
@bishwas-medic with your upcoming work with enketo forms, please decide if this feature is useful.  If so, we should schedule this ticket; if not, we should close it.

[2017-03-12 19:45] #3198 closed

[2017-03-12 21:43] browndav commented on #3197
I think the problem actually is with the migration.

At hhttps://github.com/medic/medic-api/blob/master/migrations/extract-person-contacts.js#L108, we use `restoreContact` to try to "put back" an original document after a write failure. In `restoreContact`, `places.updatePlace` is used, which in turn applies constraints at https://github.com/medic/medic-api/blob/master/controllers/places.js#L169.

[2017-03-12 21:57] browndav commented on #3197
As an alternative to proposal two, we could just fix up names prior to upgrading. I have a one-off script that adds missing names and can adapt it into a migration, but need to do some additional testing to make sure it solves the whole problem. Will report back shortly.

I do think we should address proposal one so that `extract-person-contacts` can be safely re-run after an error.

[2017-03-12 22:17] garethbowen commented on #1715
Good call. Closing.

[2017-03-12 22:17] #1715 closed

[2017-03-13 02:21] browndav commented on #3197
Okay, fixing up documents beforehand looks viable. The following war crime of a script gets us all of the way through migrations on a few test instances:

[code]

I can obviously rewrite this as an actual migration script written in Javascript; this is literally stolen from a console window.

[2017-03-13 03:23] garethbowen commented on #3174
Code review please @alxndrsn https://github.com/medic/medic-webapp/pull/3221

Don't worry about the failing build - I think it's some transient npm issue...

As far as I can tell the enketo/odk code is working perfectly. I managed to reproduce this by changing language and then loading the form without refreshing. We cache the form html so it was being generated once and stored regardless of if th

[2017-03-13 08:27] SCdF commented on #1834
@alxndrsn Hmm. I don't think we're ever going to justify spending time to work backwards and add tests to existing code (as much as I'd like to). I think it's something we should be be conscious to do in the future. i.e., when you create a new view, write tests for it. Now there are integration tests in api this should be much easier than when it was raised.

[2017-03-13 08:27] #1834 closed

[2017-03-13 08:48] estellecomment commented on #1812
@browndav can't tell if this is covered somewhere else or not...

[2017-03-13 08:54] SCdF commented on #3166
Added a WIP branch to check in code I'm working through that allows support for third party ids: https://github.com/medic/medic-sentinel/tree/3166-external-id-support

[2017-03-13 09:50] garethbowen commented on #3160
Code review please @SCdF https://github.com/medic/medic-webapp/pull/3222

When we switched to using doc.fields this view must've been missed. These views are the heart of the [update_scheduled_reports transition](https://github.com/medic/medic-sentinel/blob/master/transitions/update_scheduled_reports.js#L74-L94), and this bug meant it was never finding any matching scheduled reports.

[2017-03-13 11:16] SCdF commented on #3160
@garethbowen I'm going to be that guy: can we have an integration test please? View code is super important and should be tested. I know we haven't done it in the past but we have to start somewhere…

[2017-03-13 14:40] SCdF opened #3223 "Decide if we want to enable validation of patient id correctness via checksum"
We currently generate patient ids (short codes) with the last digit as a checksum. This is potentially pretty cool because it helps us to verify that the correct id was actually entered, and someone hasn't entered an incorrect ID by mistake. This is already technically covered by the fact that we hard check the id to link it, but it does allow us to check without having to talk to the DB, and pote

[2017-03-13 14:55] mandric commented on #3223
But since we've been using these types of IDs in the past haven't we technically been using them then?  I thought the point of the check ID was just to limit/help avoid typos from IDs entered manually which is what is happening on SMS.

[2017-03-13 15:07] SCdF commented on #3223
Oh I think I understand what you're saying. To confirm: are you saying that it's not that we should use the checksum to validate, but more that it's an intentional non-random digit at the end, to confirm that you aren't mis-typing the id? So while `12348` is valid, `13248` can never be a valid id, because we'd generate `13249` for this (based on our current checksum algorithm).

[2017-03-13 15:08] mandric commented on #3223
Correct!

[2017-03-13 15:09] mandric commented on #3223
By removing the check digit you are changing behavior which could result in a potential regression that is hard to detect...

[2017-03-13 15:11] SCdF commented on #3223
Cool. I'll document that against the code, because it confused me!

[2017-03-13 15:11] #3223 closed

[2017-03-13 15:12] mandric commented on #3223
Yeah was thinking a test would do the trick too/even better.

[2017-03-13 18:06] sglangevin commented on #3096
Yes - LG has been asking for this for several months. #1554 is higher priority than this issue is, though.

[2017-03-13 18:16] sglangevin commented on #1330
This would need to be considered with many other issues if we are thinking about going ahead. We have a number of partners who are interested in this feature but we may not be able to get to it immediately as we have quite a number of other needs for projects.

[2017-03-13 21:16] sglangevin commented on #2170
This has been resolved by people tab updates.

[2017-03-13 21:16] #2170 closed

[2017-03-13 21:21] sglangevin commented on #2014
Closing as unlikely to implement. Lives on as a card: https://github.com/medic/medic-design/projects/1#card-1557061

[2017-03-13 21:21] #2014 closed

[2017-03-13 21:23] sglangevin commented on #1853
Closing. Will re-open if it comes up again.

[2017-03-13 21:23] #1853 closed

[2017-03-13 22:12] garethbowen commented on #3113
My plan is to add the export button back to the Messages, Reports, and Contacts tabs, and to have it ignore the filters and just download all.

I don't like the UX of having a separate tab labelled Configuration which only allowed them to export. And download filtering is based on lucene which we're trying to migrate off.

[2017-03-14 00:22] sglangevin commented on #2266
This should be working in v2.10.

[2017-03-14 00:49] sglangevin commented on #1984
Link to update mockups: https://github.com/medic/medic-design/issues/37#issuecomment-274173014

[2017-03-14 01:20] garethbowen commented on #3113
Instead of ignoring the filters I used the existing code to enable filtering. Because it's server side (as it was in 0.4) it doesn't respect user restrictions, so this should only be enabled for users who are allowed to see all data, hence I used the permission `can_access_directly` (the same as used in 0.4). Implementing a solution that respects user restrictions will need some design so I've put

[2017-03-14 01:50] #2266 closed

[2017-03-14 02:22] alxndrsn opened #3225 "Cannot start API with couch 2"
Looks like the `extract-user-settings` migration is looking for the `_users` db, which doesn't exist on couchdb2.

[code]

[2017-03-14 02:27] alxndrsn opened #3226 "API does not check if COUCH_NODE_NAME is set at startup"
If you forget to set the `COUCH_NODE_NAME` env var, the following cryptic error is received:
[code]
...and `medic-api` fails to start.

[2017-03-14 04:04] alxndrsn commented on #1638
PR opened.  Changes have not been submitted upstream, but I will create a new ticket to merge latest upstream changes, and begin upstreaming discussions if it seems appropriate.

[2017-03-14 04:05] alxndrsn opened #3228 "Rebase medic-enketo-xslt onto latest upstream"

[2017-03-14 05:21] bishwas-medic commented on #1330
While it will not greatly effect my upcoming tasks, I think this feature is pretty important for users of all level in the long run. And like Sharon mentioned, we already have few partners with their that are interested in building and uploading the forms on their own.

[2017-03-14 05:29] sglangevin commented on #1330
Yeah, I agree it's important. It is on the list of items that we want to work on this year already and I'll keep in mind that you are also interested in implementing it. For now, we also have other things that are pressing that we need to focus on, so I'd prefer that we put this one off until a bit later in the year.

[2017-03-14 07:25] bishwas-medic commented on #3219
Like Gregorian date, Nepalese dates are used in a lot of formats like `dd/mm/yy`, `dd/mm/yyyy`, `yyyy-mm-dd`, `dd mmmm yyyy`, `mmmm dd, yyyy`, `yyyy mmmm dd` etc. The only difference being that we never use the month in the front like `mm/dd/yy`.

Had a small discussion with the team here and all suggested that the following format would be the best for sending out the EDD: `dd mmmm yyyy`

Example

[2017-03-14 08:36] garethbowen opened #3229 "Write an e2e test that involves a sentinel transition"
Our e2e test framework doesn't start sentinel so we're lacking coverage on any SMS workflows. This issue is mostly about getting the framework working to remove the inertia for writing SMS e2e tests. Pick any simple workflow that requires a transition and ensure when a message is received the UI is eventually updated to show the doc with all transitions performed successfully.

[2017-03-14 08:37] garethbowen commented on #3160
I managed to convince @SCdF to split the e2e test off into another issue: https://github.com/medic/medic-webapp/issues/3229

[2017-03-14 08:51] SCdF commented on #3225
@alxndrsn what makes you think the `_users` DB doesn't exist in CouchDB 2.0?

I have it in mine:
![image](https://cloud.githubusercontent.com/assets/583851/23892642/5dc78120-0893-11e7-8757-8250c70f8817.png)
Though I admit I may have migrated it over manually (I don't remember).
I can't find in the 2.0 documentation or in any migration documentation that `_users` is no longer used? Where are userna

[2017-03-14 08:52] SCdF commented on #3225
@alxndrsn https://groups.google.com/forum/#!topic/couchdb-user-archive/oWMbIAYs8wI

Looks like you have to setup CouchDB 2.0 "properly" for `_users` to be created. I'm going to close this, feel free to reopen if I made a mistake.

[2017-03-14 08:52] #3225 closed

[2017-03-14 08:55] SCdF commented on #3226
@alxndrsn can we default it? On local / single installs it should be the same everywhere I believe

[2017-03-14 08:55] SCdF commented on #3226
(putting this in the sprint because it sounds like it would break standard 2.x deploys)

[2017-03-14 09:17] alxndrsn commented on #3225
The error message quoted in the OP: `Database does not exist.`

I'll take a look at the link, thanks.

[2017-03-14 09:25] SCdF commented on #3229
This comment should not derail this ticket or expand the scope in any way. I just want to note that I think this is pretty important, and contributes so a collection of work we should be slowly improving (incl. mobile css e2e tests, supporting the changes feed, supporting non-admin users) to bring our e2e tests in line with real use, and give them a lot of bang for their buck. So, +1.

[2017-03-14 10:05] SCdF opened #3230 "Drop id_format app setting in favour of auto-lengthening ids"
_(This ticket is spun off to explain a change that is somewhat hidden inside #3000)_

We want ids generated for the `patient_id` field to auto-extend in length when required. This means we don't need to worry about running out, and Sentinel doesn't get into problems where it freezes / slows down massively when it starts having trouble running out of ids.

To do this effectively we have dropped sup

[2017-03-14 10:07] #3174 closed

[2017-03-14 10:12] garethbowen commented on #1638
Nice one. One small change requested. Merge when ready!

[2017-03-14 10:16] #3160 closed

[2017-03-14 10:22] SCdF commented on #3000
This work has been completed and merged to master.

A/T: Any which way you create a `person` / patient, you should get a patient_id created for that person (NB: make sure sentinel is running, and you have enabled the new transition)

[2017-03-14 10:37] SCdF commented on #3230
The [current formula / algorithm](https://github.com/medic/medic-sentinel/blob/master/transitions/utils.js#L36-L62) for length is untweakable, though it could be trivially be changed to be if it was determined it was necessary:
 - On Sentinel startup, we [default to generating ids of length 5](https://github.com/medic/medic-sentinel/blob/master/transitions/utils.js#L7) (4 random digits and a check

[2017-03-14 10:37] #3230 closed

[2017-03-14 11:00] SCdF opened #3231 "Work out id_length efficiency"
We just change the code to auto-lengthen ids if required. However, I just realised we never really looked into the random numbers we plugged into that algorithm. Write a little script to work out a good proportion to use (ie how many ids to check etc), and change it to that.

[2017-03-14 12:25] SCdF commented on #3226
So this is certainly one downside of squashing. Looks like the commit that added this is actually `c8c0654a0339cf05a14ed4e2a020f81b9e189eb5`, which no longer exists on GitHub because it got squashed away:
[code]

@alxndrsn do you recall while you created the `COUCH_NODE_NAME` env var? Would it be crazy to default it in server.js to what you replaced?

[2017-03-14 12:27] SCdF commented on #3231
Looks like a round size of `20` is pretty good, but I'm still testing. I really feel like there should be some maths that just answers this question, but I do not know what it would be. Oh well.

[2017-03-14 15:13] henokgetachew opened #3232 "Raise misconfiguration warnings on schedules/reminders configuration"
A detailed log of the error should be either in sentinel logs or on the document.

[2017-03-14 15:17] henokgetachew opened #3233 "How we refer to fields in the reminder vs registrations is not consistent"
In registrations you need to use `doc.fields.{field_name}` whereas in the schedules config you need `fields.{field_name}`.  This is confusing and easy to miss. We should make this consistent.

[2017-03-14 15:17] mandric opened #3234 "redirect to /report/<uuid> from login page fails"
On 2.10 if you send someone a link to `/reports/<uuid>` it does not get followed from the login page.

[2017-03-14 15:21] mandric commented on #1342
cruft

[2017-03-14 15:21] #1342 closed

[2017-03-14 15:23] mandric commented on #1282
cruft

[2017-03-14 15:23] #1282 closed

[2017-03-14 15:38] abbyad commented on #3233
There are also places where you can just use `{field_name}`

[2017-03-14 16:19] alxndrsn commented on #3226
Defaulting it might be ok, but you'll notice pretty quickly that the node name on docker is different to that on your local machine ;¬)

[2017-03-14 16:28] mandric commented on #3233
We should also either include errors on the doc or log decent errors/warnings when those configurations are not resolved properly.

[2017-03-14 16:34] #1638 closed

[2017-03-14 17:33] browndav commented on #3215
To do: perform a test with an artificially low session expiry duration; figure out what (if any) information about active sessions we can get from CouchDB.

[2017-03-14 18:18] henokgetachew commented on #3233
@mandric that last bit is raised in a separate issue here: https://github.com/medic/medic-webapp/issues/3232

[2017-03-14 19:54] garethbowen commented on #3113
Estelle ran out of time so reassigning to @SCdF for code review please!

[2017-03-14 20:35] garethbowen commented on #2989
Changes requested - back to you!

[2017-03-14 21:10] garethbowen commented on #1984
After talking to @diannakane we decided to left align the cancel button and make it a link button so it's consistent with the cancel buttons in the modal dialogs, eg:

![dialog-cancel](https://cloud.githubusercontent.com/assets/2064938/23922512/8b51bd34-0967-11e7-9ba9-5e5e6e1aa31c.png)

[2017-03-14 22:43] garethbowen opened #3236 "Replication isn't working"
If I change a doc on the server it appears to replicate to the client but nothing actually changes.

For example, in the console I get...

But no

It's not just the changes listener because even if I refresh the page the form isn't updated.

[2017-03-14 22:53] garethbowen commented on #3236
@SCdF If I comment out the pouchdb validations it works so it looks like it was caused by #2222

I don't have time to look at it right now so unassigning from myself...

[2017-03-15 00:49] garethbowen opened #3237 "Lock the android app when returning to foreground"
Implement a PIN (or similar) to unlock access to the app when bringing the app back to the forground. This will help protect when a phone is borrowed or stolen.

[More information](https://docs.google.com/document/d/1VXM8KIJnBBGMVP4O9_IrelBTAUu_6DAqF6n-Ey_9XQQ/edit)

[2017-03-15 00:51] garethbowen opened #3238 "Make authentication more secure"
Patch the vulnerabilities outlined in [medic-projects](https://github.com/medic/medic-projects/issues/1638)

[2017-03-15 00:57] garethbowen opened #3239 "Accessing webapp without logging in is possible"
Stub for medic/medic-projects#907

[2017-03-15 00:58] garethbowen commented on #1472
Some discussion here: https://docs.google.com/document/d/1VXM8KIJnBBGMVP4O9_IrelBTAUu_6DAqF6n-Ey_9XQQ/edit

[2017-03-15 01:01] garethbowen opened #3240 "Improve server admin passwords"
Stub for medic/medic-projects#1640

[2017-03-15 01:03] garethbowen opened #3241 "Improve db admin passwords"
Stub for medic/medic-projects#1641

[2017-03-15 02:44] alxndrsn commented on #3021
@marc is there an example form for this bug?

[2017-03-15 02:47] alxndrsn commented on #1554
@marc is there an example form for this bug?

[2017-03-15 07:16] SCdF commented on #3113
@garethbowen just some questions, back to you

[2017-03-15 08:23] alxndrsn opened #3242 "Sending a message from the Messages tab creates a message with uuid equal to database URL"
https://github.com/medic/medic-projects/issues/1643

The guilty code: https://github.com/medic/medic-webapp/blob/master/static/js/services/send-message.js#L166 -> https://github.com/medic/medic-webapp/blob/master/static/js/services/send-message.js#L133-L143

[2017-03-15 09:40] nice-snek commented on #650
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #928
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #992
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #1140
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #1159
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #1269
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #1800
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2022
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2037
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2042
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2059
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2119
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2204
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2313
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2374
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2412
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2569
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2583
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2609
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2702
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2711
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2733
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2846
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2866
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2869
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2962
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #2967
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #3022
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #3046
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #3071
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #3093
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:40] nice-snek commented on #664
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-15 09:43] alxndrsn commented on #2733
Security!

[2017-03-15 09:44] alxndrsn commented on #2711
If there are known keys that are not used, please remove.

Might be handy to have e.g. a grunt task to check for unused keys.

[2017-03-15 09:44] #2711 closed

[2017-03-15 09:45] alxndrsn commented on #928
Please re-open and schedule when required for specific project work.

[2017-03-15 09:45] #928 closed

[2017-03-15 09:47] alxndrsn commented on #2204
Sounds like it would be a neat performance improvement.  Please re-open when required.

[2017-03-15 09:47] #2204 closed

[2017-03-15 09:48] alxndrsn commented on #650
@sglangevin this may be a priority for Standard.  If not, please close the ticket.

[2017-03-15 09:51] alxndrsn commented on #3219
Might be useful to consider momentjs's support (or lack of) for other calendars when starting on this work: https://github.com/moment/moment/issues/1454

[2017-03-15 09:54] SCdF commented on #2866
Closing. We can re-open if anyone sees this again / we get more information.

[2017-03-15 09:54] #2866 closed

[2017-03-15 10:26] alxndrsn commented on #3192
@mandric I am working more on this to stop message content being changed - please hold off on your review!

[2017-03-15 10:30] garethbowen commented on #2569
Scheduling!

[2017-03-15 10:32] garethbowen commented on #2022
This is configured in forms. I'm happy to leave it as whatever was requested by the project.

[2017-03-15 10:32] #2022 closed

[2017-03-15 10:34] garethbowen commented on #992
@abbyad Is this still needed? We seem to have gotten by ok for the last two years...

[2017-03-15 10:35] garethbowen commented on #2119
Yeah let's do it.

[2017-03-15 10:37] SCdF commented on #1159
Last commented 2015, unassigned 2016… my prognosis:

![It's dead Jim](http://i3.kym-cdn.com/photos/images/original/000/715/142/f6c.jpg)

[2017-03-15 10:37] #1159 closed

[2017-03-15 10:38] SCdF commented on #2846
I'm going to close this one. It was a huge amount of back and forth, with no clear resolution, and the entire conversation would really need to be re-thought and re-started. I think we're getting along for the moment.

[2017-03-15 10:38] #2846 closed

[2017-03-15 10:52] garethbowen commented on #3113
Done.

[2017-03-15 10:52] #3113 closed

[2017-03-15 10:58] alxndrsn opened #3245 "Format digits in outgoing SMS with Devanagari script"
Similarly to https://github.com/medic/medic-webapp/issues/3192, it would be helpful for users if outgoing SMS containing e.g. `patient_id` values would use local numerals in Nepal.

Related: https://github.com/medic/medic-webapp/issues/3219

[2017-03-15 11:21] #3242 closed

[2017-03-15 11:50] alxndrsn commented on #3192
@mandric ready for review again at https://github.com/medic/medic-webapp/issues/3220 :¬)

The message is modified in-place, but the original text is stored in `doc.raw_message`.

[2017-03-15 13:54] mandric commented on #2022
Is it part of a/the "standard" configuration?  Seems like we should incorporate this knowledge somewhere?

[2017-03-15 14:30] mandric commented on #992
I'm pretty sure we support any date field?  But I'm not exactly sure what part of the app you are talking about.  Can you provide come configuration example(s) of what you are using and what you would like?  Or a link to a running instance/configuration?

[2017-03-15 14:34] mandric commented on #992
Oh I see, we might assemble a new field like `birth_date` based on the other fields `birth_date_year` `birth_date_month` and `birth_date_day`... and then generate a schedule based on that...

[2017-03-15 14:44] mandric commented on #1159
Wonder if we have any docs around `form.public_form` at all @henokgetachew @abbyad ?  It seems like a really easy fix.  The related issue in medic-projects was closed but with comments like we should revisit this later.  Maybe @alxndrsn can double check if this is an issue for them?  https://github.com/medic/medic-projects/issues/16#issuecomment-132120313

[2017-03-15 15:02] #3061 closed

[2017-03-15 15:05] mandric commented on #488
Scheduling because it was [reported again](https://github.com/medic/medic-projects/issues/1613).

[2017-03-15 16:23] SCdF commented on #3166
@garethbowen can you please review the code: https://github.com/medic/medic-sentinel/pull/116

I have no idea where to put the following documentation. I started writing out markdown documentation to cover things, and then realised that it's sort of half-covered by `kanso.json`. Things you can specifically configure are sort of covered, but also sort of not (eg a short phrase is encouraged by the

[2017-03-15 16:24] SCdF commented on #3166
@abbyad I'd appreciate your input (or perhaps even a voice call!) on how best we can keep documentation consistent, easy to find and ideally in one place / format.

[2017-03-15 16:25] SCdF commented on #3166
(NB: code is "done" so I'm putting it up for review. However, I'd like to do some proper black-box testing and I've run out of time today, so I'm still assigning this to me and still keeping it in active work)

[2017-03-15 16:50] sglangevin commented on #650
I don't think this is a priority for Standard right now as we have a standard set of config files being used by all partners. Closing.

[2017-03-15 16:50] #650 closed

[2017-03-15 17:23] alxndrsn opened #3246 "update_message_task does not update scheduled_tasks in 0.4"
https://github.com/medic/medic-projects/issues/1645

[2017-03-15 17:24] alxndrsn commented on #3246
@mandric @garethbowen Please advise if:

* we are still fixing stuff on 0.4
* it would be appropriate to backport the `doc.scheduled_tasks` code in `getTask()` hilighted in the linked issue comments from 2.10 to 0.4.

[2017-03-15 19:01] #3114 closed

[2017-03-15 19:09] sglangevin commented on #3246
The affected instance has a clone on 2.10 available for testing. Would it be faster to complete that testing and update production? Or backport the bug fix and do a release of 0.4? Ideally we would get this resolved as soon as possible if SMS messages are not going out.

[2017-03-15 19:13] alxndrsn commented on #3246
PR for review at https://github.com/medic/medic-webapp/pull/3247

[2017-03-15 20:24] garethbowen commented on #3246
@alxndrsn I was hoping not to fix any more stuff in 0.4, but until testing completes we can't be 100% sure that every project can get on 2.x yet, so I think we still have to support it. That said, my understanding was we'd decided that 0.4 wasn't compatible with medic-gateway (possibly because of this bug, possibly because of others).

So we have a few options:

1. move them off gateway
2. push th

[2017-03-15 21:40] garethbowen commented on #3166
Some changes requested - back to you!

[2017-03-15 22:55] garethbowen commented on #3242
worker-pouch issue created: https://github.com/nolanlawson/worker-pouch/issues/34

[2017-03-16 01:13] garethbowen opened #3248 "Enketo report summary screen looks messed up"
![summary](https://cloud.githubusercontent.com/assets/2064938/23977362/96c11548-0a52-11e7-9b9e-fce67e3eb86b.png)

This may be due to recently bumping the enketo version.

[2017-03-16 02:58] abbyad commented on #3166
We can start the documentation in https://github.com/medic/medic-docs/blob/master/md/config/, similar to the [sentinel transitions](https://github.com/medic/medic-docs/blob/master/md/config/transitions.md) and the [contact-summary](https://github.com/medic/medic-docs/blob/master/md/config/contact-summary.md) documentation.

[2017-03-16 03:10] garethbowen commented on #2989
@alxndrsn I'm getting this error again after your merge. Can you have another look?

[2017-03-16 03:21] #3192 closed

[2017-03-16 04:04] alxndrsn commented on #2989
I think the error's correct - `concat('NEW')` is invalid because `concat()` takes two arguments.

[2017-03-16 04:15] alxndrsn commented on #3246
@bishwas-medic 0.4.16 is building and should be ready for release shortly.

[2017-03-16 04:15] #3246 closed

[2017-03-16 04:25] alxndrsn opened #3249 "Simple server-side SMS status monitoring"
It would be helpful for diagnosing problems if there were a query or two that would show:

* all WO messages in a particular state
* recent time differences for state transitions (pending -> sent -> delivered)
* SMS status ratio - pending:sent:delivered:failed

Even if this was just a command-line script or two that a tech can run.

[2017-03-16 04:32] #2989 closed

[2017-03-16 04:39] alxndrsn commented on #3141
Seems good.

[2017-03-16 04:39] #3141 closed

[2017-03-16 05:23] bishwas-medic commented on #3249
We have been discussing a very similar feature. PMs were asking if there could be a way to look at all pending or stuck messages from a single page. Design team has been working on something very similar: https://github.com/medic/medic-projects/issues/669
cc @ranjuts

[2017-03-16 05:29] sglangevin commented on #3249
Yeah, there is an open request for a UI to view some of this information. This is something the design team is looking at in Q2, so it would be great to have a script as a start, and we could also build any necessary infrastructure to support this if time.

[2017-03-16 05:38] alxndrsn opened #3250 "Re-upgrade travis firefox to `latest-esr`"
Because of incompatibility between Firefox 52, protractor 4 and JDK7, I have forced the Firefox version on Travis to `45.0`, which was the last [Extended Support Release](https://www.mozilla.org/en-US/firefox/organizations/faq/) to be compatible with our current config.

We _need_ to get Travis working with latest Firefox ASAP, as otherwise our e2e tests will grow stale.  I have begun [work on thi

[2017-03-16 06:45] bishwas-medic commented on #1159
@mandric we think this feature is still essential. We'd expect the ON/OFF report from unknown number to work when we've set the webapp to accept public forms for other reports.

cc @ranjuts

[2017-03-16 07:41] SCdF commented on #3166
@abbyad OK so how does that documentation meld with `kanso.json`? Should we just ignore what is in that, presuming it is for a different situation, and replicate it in medic-docs as well?

[2017-03-16 08:25] garethbowen commented on #2989
Yeah totally my fault. I thought I was using a default form but I was using a broken custom form...

[2017-03-16 08:34] SCdF commented on #1159
@bishwas-medic how are you working around this issue right now? As in: if the feature is essential, what has the strategy been for dealing with its absence in the past few years?

[2017-03-16 09:24] bishwas-medic opened #3251 "No permissions available for configuration on first run"
On a newly configured V2 instance:

<img width="682" alt="screen shot 2017-03-22 at 4 46 59 pm" src="https://cloud.githubusercontent.com/assets/13689284/24194789/81593556-0f1f-11e7-9f7b-54de7d19650d.png">

[2017-03-16 09:28] alxndrsn commented on #3251
This prevents us creating any non-admin users.

[2017-03-16 09:46] garethbowen commented on #1984
Review please @SCdF https://github.com/medic/medic-webapp/pull/3252

Use ?w=1 because I did a bit of refactoring in there too.

[2017-03-16 11:08] SCdF commented on #1984
LGTM, merged.

[2017-03-16 11:08] #1984 closed

[2017-03-16 12:11] henokgetachew opened #3253 "V2 Schedules Configuration: "recipient": "parent" doesn't work"
With 0.4.x versions, it is possible to do this: `"recipient": "parent"` to send messages to the supervisor of the CHW.  With v2 however this doesn't map to the supervisor's phone number (The parent).  Other options that don't work but that have been tested include: `"recipient": "contact.parent.parent.contact.phone"` and `"recipient": "doc.contact.parent.parent.contact.phone"`

![d3a0c43e-0a59-11e

[2017-03-16 12:58] alxndrsn opened #3254 "Trying to send a message when logged out is weird"
# 1. let your session time out

# 2. compose an SMS message

<img width="382" alt="screen shot 2017-03-16 at 18 41 33" src="https://cloud.githubusercontent.com/assets/191496/23997135/40a9cdd2-0a78-11e7-87f7-1ccb74812eb5.png">

# 3. click _Send_

# 4. see that the send box has collapsed and the button disappeared

<img width="391" alt="screen shot 2017-03-16 at 18 41 37" src="https://cloud.githubus

[2017-03-16 13:42] SCdF commented on #3254
@alxndrsn what is your expected behaviour?

My vote would be what I believe we've tried to do everywhere else, which is detecting 401s and redirecting to the login page.

[2017-03-16 14:35] abbyad commented on #3166
I don't think there is sufficient place to document this in `kanso.json`. We can explain "triggers", but not each one individually there. Linking to our doc from there would be useful (eg "[more info on triggers](https://github.com/medic/medic-docs/blob/master/md/config)"), as is being done [here](https://github.com/medic/medic-webapp/blob/e4330e08d9b2bd3b351b534751cf32ef1c299b04/kanso.json#L328)

[2017-03-16 14:40] abbyad opened #3256 "Document the `tasks` section used for Tasks and Targets"
The `contact_summary` section is [well documented in kanso](https://github.com/medic/medic-webapp/blob/e4330e08d9b2bd3b351b534751cf32ef1c299b04/kanso.json#L328), linking to further documentation for that section. We should document the [`tasks` section](https://github.com/medic/medic-webapp/blob/e4330e08d9b2bd3b351b534751cf32ef1c299b04/kanso.json#L1035
) in a similar fashion, linking to more compl

[2017-03-16 14:47] SCdF commented on #3231
PR: https://github.com/medic/medic-sentinel/pull/117

After talking with @garethbowen we settled on a better strategy:
 - We start with an empty in-memory cache, and a id length of 4 (i.e. `0000` -> `9999`)
 - When an id is requested, we pull one from the in-memory cache and use that, with no I/O required. This is OK because we are the only ones creating IDs.
 - If we run out of cached ids then we

[2017-03-16 14:54] SCdF opened #3257 "Determine how we migrate large instances from CouchDB 1.x to CouchDB 2.0"
We have some large instances, and it's going to be a pain to migrate to CouchDB 2.0, primary because it will force all long term sessions to be logged out (ie all CHWs will have to log back in).

We should look into how we can get around this, and if we definitely can't, strategies for migrating people over slowly (ie running both at the same time).

[2017-03-16 16:12] alxndrsn commented on #3254
Any kind of clear feedback via the regular UI would be acceptable.  @SCdF your suggestion seems reasonable.

[2017-03-16 16:13] mandric commented on #3246
@alxndrsn we missed a release a step so that it shows up on [Releases tab](https://github.com/medic/medic-webapp/releases) too.  I looked at [the process doc](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#webapp) above and it's not very clear, I think we meant to say "tag release in GitHub"?  Or we need to add another step for doing the release in github.

[2017-03-16 16:18] alxndrsn commented on #3246
@mandric interesting!  I certainly tagged it in git, and on the releases tab you linked there's an entry for `0.4.16`...but nothing's been uploaded there.  Is this something that can & should be fixed for this release?  I don't know the process, but if the documentation can be updated that would definitely be helpful.

[2017-03-16 16:18] mandric commented on #3249
https://github.com/medic/medic-api#get-apiv1messages

[2017-03-16 16:25] mandric commented on #3246
Right you certaintly tagged it in git, just didn't do it through the GH interface so we're missing an entry in the Releases tab.  I think we want to just update the doc.  I can update it and file a PR so we can decide what makes most sense.  I'm just not sure we want to advise tagging through GH  because it does both the release entry and the git tag.

[2017-03-16 16:34] alxndrsn commented on #3246
We could also use the releases API to push the changelog content to github.  Sounds like a big effort, though.

In the `medic-gateway` repo, if you push a tag that matches `vX.Y.Z`, travis creates the entry in github releases and adds the apks there - maybe interesting?

[2017-03-16 16:36] mandric commented on #3246
That seems like a nice trick but the problem is you need to also include the changelog entry... which is a pain.  I think quickest thing right now is include the GH release step in the process doc as a separate step.

[2017-03-16 17:32] abbyad commented on #3253
The issue here is likely because the form submitter is connected to a `health_center` (middle level), not a `clinic` (lowest level). If the form submitted belongs to a `clinic` then setting the recipient as the parent/grandparent works properly, as long the number has not changed (pending #2635).

[2017-03-16 19:11] SCdF commented on #3254
Yeah I think we've had conversations in the past about not kicking people to the login page, and instead presenting some kind of login modal, or interstitial login page. But the login page is easier, and easier to support on both desktop and mobile.

[2017-03-16 20:28] garethbowen commented on #3231
Couple of comments. Back you to.

[2017-03-16 21:55] garethbowen opened #3258 "Warning when rendering xform"
I'm getting this warning in the console every time I render any xform. It doesn't appear to break anything but it's concerning...

[code]

[2017-03-17 00:17] sglangevin commented on #3251
Just to be clear, this is for a new instance, not an upgraded instance, right?

[2017-03-17 00:48] browndav commented on #3251
This is a new instance that had its OS upgraded, and then saw `medic-webapp` upgraded from 0.4.15 to 2.10-alpha. This may be an issue with the upgrade procedure; if it's not something we can immediately solve, I'm happy to recreate this with a non-upgraded image, and then take this one offline to figure out what's going wrong.

[2017-03-17 02:05] alxndrsn opened #3259 "Auth rejection message is wrong for disallowed non-admins"
[code]
– https://github.com/medic/medic-webapp/blob/master/static/js/services/auth.js#L78

Looks like `missing required permission(s)` will be returned if `check(disallowedPermissions, ...)` fails.

[2017-03-17 10:05] SCdF commented on #3231
@abbyad BTW having a dynamically increasing ID length means that validations like this (and their associated hard-coded messages) are no longer valid: https://github.com/medic/medic-projects/blob/master/default-sms-workflow/standard/app_settings.json#L483-L487

I imagine you'd just want to change it to `[0-9]{5,13}`, which is the min and max valid range at the moment.

[2017-03-17 17:33] SCdF commented on #3231
@garethbowen I uh… I changed it a little. You may just want to read [ids.js](https://github.com/medic/medic-sentinel/blob/3231_id_efficiency/lib/ids.js) by itself and then check out the rest of the diff.

I rolled back some changes where I got rid of a local function that nothing but null check and then call the real function, because it turned out the tiny null-check--- which AFAICT is never usef

[2017-03-17 17:35] SCdF commented on #3226
Should not have assigned this to myself sorry-- I was 100% not working on it.

[2017-03-17 17:50] SCdF commented on #3166
Also: https://github.com/medic/medic-webapp/pull/3260

Just some message changes, with a note to talk to @abbyad about how we should change the default config (and others??) to support auto-extending ids.

[2017-03-17 19:57] abbyad opened #3261 "Difficult to specify and maintain which form fields to hide"
With https://github.com/medic/medic-webapp/issues/1476 we are able to hide specific form fields from showing in the Reports view of the form. This is specified by adding `tag="hidden"` to appropriate places in the XML model of a form, after it has been converted from the XLSform (by [pyxform](https://github.com/medic/pyxform)). Since this is a tedious manual step it is done only when the forms are

[2017-03-17 20:07] abbyad commented on #3021
Testing on 2.10 and I cannot reproduce this anymore... Is it possible it was resolved in Enketo?

[2017-03-18 00:18] abbyad commented on #664
Closing as we haven't seen any problems with this. @mandric, please reopen if you disagree.

[2017-03-18 00:18] #664 closed

[2017-03-18 00:20] abbyad commented on #1140
I think this has already been done. @browndav, please reopen if I am mistaken.

[2017-03-18 00:24] abbyad commented on #2412
Closing as it is in the top right, which was one of the suggestions above ![image](https://cloud.githubusercontent.com/assets/789512/24067170/7a57fd4c-0b4f-11e7-92b9-cefee7b175fe.png)

@diannakane if you decide to bring this to the design team please open a new issue when there is a new suggestion.

[2017-03-18 00:24] #2412 closed

[2017-03-18 00:32] abbyad commented on #2702
The tabs are compressed only in tablet view, which is not ideal but still usable. I am bringing to the current iteration in case there is a quick CSS fix to this. One option is squeezing on same line, another is to make them button-like not tab-like when overflowing to a second row.

If it not a quick fix lets send it to the design team as part of a larger redesign conversation.

[2017-03-18 13:29] mandric commented on #664
Do we even have a forms upload interface anymore? I think validation of forms should be done during upload.  But this gets into a bigger problem of validating app settings during upload as well. We should eventually remove any direct use of couchdb api and only be using medic-api when trying to talk to the database.  There is an issue open for adding an endpoint I think that's good enough.   It's

[2017-03-20 06:37] alxndrsn commented on #3021
Enketo has just been updated on `master`, but in 2.10 it was not updated since 7 Dec 2016.  However, still possible you tested with an older version.

Either way, I'm sure we're all happy that the bug is resolved :¬)  Please re-open if you find it again.

[2017-03-20 06:37] #3021 closed

[2017-03-20 14:25] abbyad commented on #3231
Thanks for the heads up @SCdF, we'll have to do this change on many instances upgrading to this version.
cc @ngamita

[2017-03-20 18:21] sglangevin commented on #3231
@ngamita this is the issue I was talking about last week related to validation of IDs. Since the web app will automatically increase the ID length if we run out of IDs, we'll need to update the validations in the config for all projects upgrading to v2. I'll leave a note about this on Slack as well.

[2017-03-20 19:01] sglangevin commented on #3253
@henokgetachew will this project need for this feature to work for a `health_center`? Or will real users be connected to a `clinic`?

[2017-03-20 19:05] sglangevin commented on #3215
@browndav has this testing been done?

[2017-03-20 21:02] diannakane commented on #2412
@slangevin do you recall if we created an "idea" for this piece of feedback?

[2017-03-20 22:08] garethbowen commented on #3231
@SCdF Back to you...

[2017-03-20 22:08] sglangevin commented on #3046
Seems like this is being discussed in other venues and is related to other password management discussions happening. Closing for now, but we can revisit as part of password management.

[2017-03-20 22:08] #3046 closed

[2017-03-20 22:12] sglangevin commented on #992
This has been requested again recently but is not required right now. I'd like to see more investigation into what needs to be supported. We currently support age in days and age in weeks, so I'd be interested to know if we would want to support age in months, age in years, full birthdate, etc. I'd put this on hold for now until requirements can be gathered.

[2017-03-20 22:12] sglangevin commented on #1800
@browndav is this still needed? If not, please close.

[2017-03-20 22:13] sglangevin commented on #2059
I haven't heard this reported by any users so far. Closing, we can re-open if it becomes a bigger issue.

[2017-03-20 22:13] #2059 closed

[2017-03-20 22:14] sglangevin commented on #2037
Not sure if this is needed. @diannakane let's transfer this to medic-design. Closing.

[2017-03-20 22:14] #2037 closed

[2017-03-20 22:14] garethbowen commented on #992
Thanks @sglangevin . Closing for now. We can reopen if/when we have clear requirements.

[2017-03-20 22:14] #992 closed

[2017-03-20 22:14] sglangevin commented on #2037
Looks like it's already there.

[2017-03-20 22:17] browndav commented on #1800
Thanks, closing.

[2017-03-20 22:17] #1800 closed

[2017-03-20 22:24] browndav commented on #3215
Testing is complete. The short answer: we shouldn't have to do anything, provided `allow_persistent_cookies` and `require_valid_user` are enabled (and they are).

The long answer: CouchDB will automatically reissue a `Set-Cookie` header with a different token if (i) a `Cookie` header with a valid still-valid session token was received; *and* (ii) a non-trivial amount of time has passed since the l

[2017-03-20 22:32] #3248 closed

[2017-03-20 22:32] #3215 closed

[2017-03-20 22:54] sglangevin opened #3262 "Full access users cannot create users, even when they have the appropriate permissions"
This was reported by a project team and then again by @ngamita during testing of an upgraded instance. Here are the permissions provided to the full access user:
![image](https://cloud.githubusercontent.com/assets/1286381/24125284/2cbbba0a-0d85-11e7-97c6-0def670b4021.png)
![image](https://cloud.githubusercontent.com/assets/1286381/24125293/3bd77560-0d85-11e7-9e3a-92c57aeacb76.png)
![image](https:/

[2017-03-20 22:54] sglangevin commented on #3262
Original issue: https://github.com/medic/medic-projects/issues/1658

[2017-03-21 04:25] ngamita commented on #3231
@sglangevin noted as this affects several projects. I'll communicate this to techleads and mention in our weekly call. I'm assuming this change comes in in v2.11

[2017-03-21 06:54] erwagasore opened #3263 "clone-christianaid2.app: Contact edit and delete button missing label"
On any contact page we have both edit and delete button showing only their icons but missing the label. See attached image below for clarity

![screen shot 2017-03-21 at 8 39 27 am](https://cloud.githubusercontent.com/assets/1290048/24135679/e60754e0-0e13-11e7-8b94-21db37f127c1.png)

[2017-03-21 07:24] #3263 closed

[2017-03-21 07:37] alxndrsn commented on #3171
Backing ticket closed.

[2017-03-21 07:37] #3171 closed

[2017-03-21 08:55] garethbowen opened #3264 "Detect access configuration errors and notify the user"
The ["too many redirects" issue](https://github.com/medic/medic-projects/issues/1668) was found again today due to the medic app being configured as "Admins Only" instead of "Public". This has been hit several times and it's not obvious what's going wrong (unless you've hit it before and can still remember the solution).

Work out some way to detect this issue and let users know.

[2017-03-21 08:56] garethbowen commented on #3264
My initial thought is to check in the background when the login page is loaded and show a big error somewhere that the app is configured for admins only.

[2017-03-21 09:02] alxndrsn commented on #3171
Backing ticket closed.

[2017-03-21 09:48] alxndrsn commented on #3219
Converter is written over at https://github.com/alxndrsn/bikram-sambat.js:
[code]

This now needs hooking in somewhere so that scheduled messages can filter included variables, e.g.:

[code]

It's not immediately clear to me where this should be, but perhaps in `kujua-sms`.

[2017-03-21 09:49] alxndrsn commented on #3245
The conversion is simple.  As with #3219, knowing _where_ that conversion should be done is less clear.

[2017-03-21 10:57] estellecomment commented on #2711
I'm pretty sure there are some, and there is nothing to spot them right now
AFAIK. That's the point of the issue.

On Wed, Mar 15, 2017 at 10:44 AM, Alex Anderson <notifications@github.com>
wrote:

[2017-03-21 11:38] SCdF commented on #3231
@ngamita yep. The devs should have a conversation about how to add upgrade notes into release notes in a consistent way that doesn't involve trolling all tickets

[2017-03-21 14:02] SCdF commented on #3231
@garethbowen I made some changes, made some discussion. NB: I also added a check at the start of sentinel to make sure your node version is good enough. I think it's important since the app will explode if the version is too old.

[2017-03-21 17:20] garethbowen commented on #3251
This [migration](https://github.com/medic/medic-api/blob/master/migrations/add-permissions-configuration.js) is supposed to fix this problem. Is it not running or not working?

[2017-03-21 18:31] sglangevin commented on #3263
Note: this was moved to medic-projects.

[2017-03-21 21:14] sglangevin commented on #2412
I think it's covered by the History/Reports tab audit

[2017-03-21 22:39] garethbowen commented on #3231
Don't forget to update the Changes.md with any required configuration change.

[2017-03-22 02:34] garethbowen commented on #3132
Adding keywords: lhs, fab, clear, empty

[2017-03-22 02:40] alxndrsn commented on #2735
I'm surprised by this behaviour - there's nothing in `enketo-core` which suggests that capitalised `Meta` tag should be found when looking for `<meta>`, and on Chrome and Firefox XPath selecters on XML docs look case-sensitive (as they should be): https://jsfiddle.net/nwn88596/.

@marc I'll close this now as a known edge case.  Please re-open if using capitalised `<Meta>` is important or useful, o

[2017-03-22 02:40] #2735 closed

[2017-03-22 02:51] alxndrsn commented on #2313
@sglangevin is there an example form available that demonstrates this bug?

[2017-03-22 02:52] alxndrsn commented on #2393
@sglangevin is there an example form available that demonstrates this bug?

[2017-03-22 04:01] alxndrsn commented on #3248
Out of interest, any idea how this CSS got lost?

[2017-03-22 05:16] abbyad commented on #1554
Here is a XLSForm showing this issue: [issue-1554.xlsx](https://github.com/medic/medic-webapp/files/860407/issue-1554.xlsx)

![image](https://cloud.githubusercontent.com/assets/789512/24183174/1ced9256-0e9d-11e7-9108-dbaf9839d0a6.png)

And the XForm generated using [pyxform](https://github.com/medic/pyxform):

[code]

[2017-03-22 07:53] garethbowen commented on #3248
@alxndrsn I tracked it down to being removed in around enketo-core 4.5. It turns out depending on their css is quite fragile - it's probably worth some investigation some time about how to define our own "theme" or something.

[2017-03-22 07:57] garethbowen commented on #3229
Review please @SCdF https://github.com/medic/medic-sentinel/pull/118

Don't close this issue when done - this is step 1 towards getting an e2e test for transitions.

[2017-03-22 08:05] estellecomment commented on #2869
On chrome Chrome version: 56.0.2924.87, android 6.0, I don't see this happening.
Closing, reopen if it happens again.

[2017-03-22 08:05] #2869 closed

[2017-03-22 08:12] estellecomment commented on #2609
Sounds like this is a useful cleanup to keep medic-data up to date, but since medic-data is only used to create MedicOS builds it's not used much; so it's not a high priority until it breaks.

[2017-03-22 08:16] estellecomment commented on #2042
Not sure what FBB is.
There is a "X" button which enables you to navigate away, that looks appropriate to me until you get your contact form configured, so closing.

[2017-03-22 08:16] #2042 closed

[2017-03-22 08:19] estellecomment commented on #1269
Looks like this isn't a requirement, so closing until someone asks for it.
@sglangevin and @diannakane if that's wrong please reopen.

[2017-03-22 08:55] SCdF commented on #3229
Back to you @garethbowen , just made some style comments re: ES6

[2017-03-22 09:46] estellecomment commented on #1789
Submitted the code, still needs e2e test ideally. Part way done in https://github.com/medic/medic-webapp/pull/3210

[2017-03-22 10:28] garethbowen commented on #3229
Round 2 please @SCdF https://github.com/medic/medic-webapp/pull/3266

[2017-03-22 10:52] SCdF commented on #2012
There are cons to client-side migration as well unfortunately.
 - If migrations only run on the server side it may be possible to get new app code replicated to you without also having all migrated documents being replicated to you, and it is very possible that the migration will run while there are documents that only exist on the client side and are thus missed by that migration run
 - If migrat

[2017-03-22 11:00] bishwas-medic commented on #3251
@garethbowen the meta doc has an entry for `add-permissions-configuration` migration so I think the migration ran but it didn't work.

The same thing happened when trying to config a new instance for a standard project (barefoot.app.medicmobile.org). The Permission page was empty and the list appeared only after uploading an app settings file with permissions defined in it.

[2017-03-22 11:24] SCdF commented on #3229
Back to you @garethbowen , all ES6 stuff

[2017-03-22 11:31] SCdF commented on #3118
Apologies, I have no idea why I had this assigned to me, I haven't been working on it at all.

[2017-03-22 11:32] SCdF commented on #3071
I don't really want to fix this.

Instead, I want to disable admins from signing in at all.

That way, anyone who has access to the web app should be able to change their password, because none of them are magic special case users.

Closing,

[2017-03-22 11:32] #3071 closed

[2017-03-22 14:25] henokgetachew commented on #3253
Real users are connected to the `clinic` in this case.  What I haven't understood is how the fields are picked from the doc and like why {{contact.parent}} above for example didn't work.. We're still fleshing things out here and there are still issues I'm working on.. I will resolve the issue when that's done.

[2017-03-22 14:54] sglangevin commented on #3253
Sounds good @henokgetachew - let us know if there is a bug here that needs attention and we'll get it fixed.

[2017-03-22 15:33] SCdF commented on #3166
OK let's get this all clear, because there are lots of fragmented things flying around.

@garethbowen, can you approve (you may have seen this stuff before):
 - Sentinel changes: https://github.com/medic/medic-sentinel/pull/116
 - Fixing some documentation / translation in Medic, including Changes.md documenation: https://github.com/medic/medic-webapp/pull/3260
 - Adding official documentation (an

[2017-03-22 17:47] browndav commented on #3196
I've taken a look, and these were definitely one-off tests. Looks like this is no factor; closing.

[2017-03-22 17:47] #3196 closed

[2017-03-22 20:34] garethbowen commented on #3251
Or maybe it ran but got overwritten by something else...

[2017-03-22 20:41] henokgetachew opened #3268 "API crashes after /medic/_bulk_docs gets called"
Instance: cic-guatemalav2.dev.medicmobile.org
Web App version: 2.10.1
[code]
Some more information: @guptasanchay was reporting that replication wasn't working for him as expected.  Docs that were deleted in admin are still showing up when logged in as the CHW.
Last replication date to the server has been showing as unknown.  Last replication from the server is updating properly (Logged in as CHW)

[2017-03-22 21:32] garethbowen commented on #3166
@SCdF Nice one. One small change requested on each of the last two PRs. Merge when fixed!

[2017-03-22 21:42] henokgetachew opened #3269 "API reports address in use error"
Instance: strongminds.app.medicmobile.org
Webapp version: 0.4.15.  (Will retest after an upgrade to 0.4.16)
[code]

[2017-03-22 21:50] jillrshah opened #3270 "Be able to pass ANC Group Number into CHW SMS (for pregnancies with LMP)"
As discussed with @marc, it would be helpful to pass the ANC Group Number into contextualized SMS to CHW. Might only make sense to do for pregnancies where LMP != null.

[2017-03-22 21:52] browndav commented on #3191
We're also seeing something similar with Gardener that _should_ be fixed by https://github.com/medic/medic-os/commit/2f7cc51eb8805a838543bd0ad34e29ff8f1d4f7c:

[code]

[2017-03-22 23:28] sglangevin commented on #3270
@abbyad or @jillrshah can you add some additional detail to this ticket? I don't understand what the request is.

[2017-03-22 23:41] sglangevin commented on #2313
Converted to txt so I could upload it, but you can convert back to xml.
[clinic.txt](https://github.com/medic/medic-webapp/files/863214/clinic.txt)

[2017-03-23 01:15] alxndrsn opened #3271 "sms-gateway should mark scheduled tasks which are missing uuid as failed"
ref https://github.com/medic/medic-projects/issues/1645#issuecomment-288587948

[2017-03-23 01:25] alxndrsn opened #3272 "Add migration to handle pending scheduled_tasks which don't have a uuid"
On old instances, it _seems_ that we can have scheduled_tasks' messages which do not have a uuid.  If one of these messages has a sate of `pending` (or presumably `scheduled`), then the sms-gateway controller in api will try to give it to the gateway, but at some stage it will be rejected (not immediately clear if that's in the controller or just that gateway itself is ignoring those messages).  T

[2017-03-23 02:32] garethbowen commented on #3272
@alxndrsn Is this a duplicate of this issue? https://github.com/medic/medic-webapp/issues/3015

[2017-03-23 02:54] garethbowen commented on #2012
@SCdF No worries - two brains dumping are better than one.

I don't much like your proposed solution because as you say, it needs to run on every doc forever, even if there's no way it could possibly make a difference (eg: 0.4 migrations running for projects that started on 2.11).

Let's voice chat about this some time - I feel like we're close to a solution.

[2017-03-23 03:11] garethbowen opened #3273 "Submitting feedback no longer works"
To reproduce:

1. Log in as a restricted user
1. Go to Hamburger menu > Report bug
2. Type anything
3. Hit submit

Stacktrace:

[code]

[2017-03-23 03:41] garethbowen commented on #3268
It's not necessarily after `_bulk_docs` - I've found all sorts of examples. I can't reproduce it however so I suspect there is a specific action causing the issue. @guptasanchay Is there anything you can do to reliably reproduce this issue? Which user are you logged in as?

I'll try and improve the logging so if it happens again we'll get more info.

[2017-03-23 06:14] alxndrsn commented on #3272
It definitely looks the same, but comments on #3015 imply that it was applied to 0.4.x.  However, https://github.com/medic/medic-projects/issues/1645 was seen on `0.4.16`.

[2017-03-23 06:17] alxndrsn commented on #3271
DIFFICULT to implement, as `messageUtils.updateMessage()` identifies the message using... it's ID!

I guess we don't need to fix this if we promise never to have another message without a `uuid` field...

[2017-03-23 06:17] #3271 closed

[2017-03-23 06:17] alxndrsn commented on #3271
@garethbowen any thoughts?

[2017-03-23 08:42] SCdF commented on #3231
Merged into the #3166 feature branch. I'll close this ticket once _that_ branch has been merged into master.

[2017-03-23 09:56] estellecomment commented on #3219
It would also be cool to output २०७२ फागुन २३ rather than 2072-11-23, it would look more human friendly. Gonna do that next...

[2017-03-23 10:23] alxndrsn opened #3274 "`svc-restart gardener` runs 2 gardeners"
[code]

And then you get lots of errors like:

[code]

[2017-03-23 10:36] alxndrsn commented on #3274
If I run `svc-restart gardener` 10 times, I get 10 gardener instances.

[2017-03-23 10:51] alxndrsn commented on #3274
Related https://github.com/medic/medic-webapp/issues/3191 ?

[2017-03-23 11:02] alxndrsn commented on #3219
yeah, this should be part of the bikram-sambat lib.  Will add.

[2017-03-23 11:10] alxndrsn commented on #3219
If you update the BS lib to v 0.2.0, then `str_toBik()` should give you dates in devanagari script.

[2017-03-23 11:32] SCdF opened #3275 "Sentinel somehow infinitely loops and continually writes to it's metadata file"
Mostly master sentinel.

Locally booting it up on a fresh DB with 34 documents:

[code]

And then I killed it.

`sentinel-meta-data` is being endlessly written to, which is probably causing the changes feed to keep on being fired:

![image](https://cloud.githubusercontent.com/assets/583851/24245830/6663527a-0fbc-11e7-93a4-ce554254f04e.png)

[2017-03-23 11:51] SCdF commented on #3275
@alxndrsn take a look at https://github.com/medic/medic-sentinel/pull/121

[2017-03-23 12:34] SCdF commented on #3226
PR: https://github.com/medic/medic-api/pull/130

[2017-03-23 12:45] mandric commented on #3272
If you want to update UUIDs on 0.4 you have to run a migration manually. https://github.com/medic/medic-api/tree/0.4.x/migrations/add-uuid-to-scheduled-tasks

[2017-03-23 13:27] SCdF commented on #3226
Hey @alxndrsn please take a look at the attached PR. NB: there are two commits in it, one is just for ES6 stuff.

[2017-03-23 13:53] SCdF commented on #3226
Actually this has managed to break api in a way that the tests wouldn't pick up until we ran medic-webapp's.

[2017-03-23 14:12] SCdF commented on #3226
Fixed it, feel free to take a look @alxndrsn

[2017-03-23 14:15] SCdF commented on #3226
OK I lied. Hold off Alex, I'm going revert these ES6 changes and prepare a PR just for this change. There is clearly something going on with a lack of equivalence between:

[code]
And
[code]

Even though I can't understand why.

[2017-03-23 15:03] browndav commented on #3275
Thanks. I'm seeing this post-upgrade on our OS images as well.

[2017-03-23 15:18] SCdF commented on #3275
Oh I wouldn't thank me, I introduced it 🙇

[2017-03-23 16:05] browndav commented on #3241
Hey @henokgetachew, I've tossed this issue your way. Let me know if you need anything.

[2017-03-23 16:06] browndav commented on #3240
Hey @henokgetachew, I've tossed this issue your way. Let me know if you need anything.

[2017-03-23 16:41] henokgetachew commented on #3269
This is being handled here: https://github.com/medic/medic-webapp/issues/3191. Closing as duplicate.

[2017-03-23 16:41] #3269 closed

[2017-03-23 16:43] browndav commented on #3209
This is fixed in recent builds of our OS images, and was definitely a regression. To get it to work on a not-yet-updated instance, try adding line eight of https://github.com/medic/medic-os/blob/master/platform/initrd/common/etc/sudoers#L8 to `/etc/sudoers` using `visudo`.

@SCdF: We're not eval'ing; there's a script that takes no user input (`/boot/print-logs`), and simply finds/dumps all of the

[2017-03-23 16:44] browndav commented on #3209
Would it be useful to do patch this en-masse on all machines, or do you think we're better off just waiting to upgrade?

[2017-03-23 17:07] henokgetachew commented on #3268
After improved logging:
[code]

[2017-03-23 17:12] henokgetachew commented on #3268
It seems like it's related to this: https://github.com/medic/couchdb-audit/blob/master/couchdb-audit/log.js#L79

[2017-03-23 19:02] browndav commented on #3173
👀
https://github.com/medic/medic-os/blob/master/platform/config/kernel/x64/dot-config-3.14.42-grsec#L307

[2017-03-23 19:49] garethbowen commented on #3271
Sounds good to me.

[2017-03-23 19:53] garethbowen commented on #3272
@alxndrsn It was applied to 0.4, but 0.4 doesn't have any mechanism to run migrations, so it was a bit useless. We decided at the time that nobody should run `medic-gateway` against 0.4 so it's not an issue. Workarounds: don't use `medic-gateway`, upgrade to 2.10, run the migration manually.

The third one is problematic because the instance will still be running an unsupported software combinatio

[2017-03-23 20:31] garethbowen commented on #3268
Ok, it looks like it's a really bad explanation from v8 when you're trying to `stringify` too much. Either you have heaps of unreplicated data (lots of docs, or one massive doc) that's all trying to go out in one replication cycle, or you've got one massive audit record that can't be updated any more. I'll do some more investigation to try and work out which option it is...

Also, you're running a

[2017-03-23 20:45] browndav commented on #3274
Oh, wow. That's pretty bad and a definite regression. Investigating now.

[2017-03-23 20:46] browndav commented on #3209
Duplicated by https://github.com/medic/medic-webapp/issues/3089.

[2017-03-23 20:47] browndav commented on #3209
Related, but different cause: https://github.com/medic/medic-webapp/issues/3089.

[2017-03-23 21:01] garethbowen commented on #3272
Closing due to workarounds mentioned above. Reopen if there's more we should do.

[2017-03-23 21:01] #3272 closed

[2017-03-23 21:16] garethbowen commented on #3275
This probably needs to be backported and released as 2.10.2

[2017-03-23 22:13] browndav commented on #3274
I've tracked this down to a problem with the `gardener` init script. Specifically, it appears to leave an orphaned `node` process subtree when sent `SIGTERM`, which is then reparented to `init`. I've reproduced this using the init script itself (bypassing the `supervisor` system entirely).

Should have a solution soon.

[2017-03-23 22:16] browndav commented on #3274
Bug was introduced in https://github.com/medic/medic-webapp/issues/3131; `exec` behaves differently when there's a pipeline attached to it.

[2017-03-23 23:40] garethbowen commented on #3268
I found a massive doc (~2GB) in medic-audit db which is the `medic` ddoc. The medic ddoc should never be replicated back to the server so this is definitely a bug. As far as I can tell this restricted user downloaded the ddoc correctly in v2.9 but then after upgrade to v2.10 kept trying to sync it back.

This will only affect clients who have loaded the app in v2.9 and then upgraded to 2.10. @gupt

[2017-03-23 23:49] garethbowen opened #3276 "Release 2.10.2"
Follow [the instructions](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#webapp)

Issues to include:

- [x] #3268
- [x] #3275
- [x] Update Spanish translations (export from POE)

[2017-03-24 00:00] browndav commented on #3274
I'll rework the `timestamp` script tomorrow. Waiting on a pipeline with `ash` seems unusually difficult; we have a non-default `bash` in the latest OS `master` that I might punt to if this takes too much longer. In any case, that should fix this problem everywhere (including #3191).

[2017-03-24 00:07] garethbowen commented on #3268
Code review please @SCdF https://github.com/medic/medic-webapp/pull/3277

[2017-03-24 00:37] browndav commented on #3131
Bad news: returning this to myself after self-code-review and discovery of a particularly nasty bug. Good news: fixing it will close three issues. See above for details.

[2017-03-24 00:45] #3229 closed

[2017-03-24 02:04] alxndrsn commented on #3275
Looks fine; one in-line comment on the commit.

[2017-03-24 02:05] alxndrsn commented on #3272
@bishwas-medic FYI

[2017-03-24 02:38] alxndrsn commented on #3056
`requiredMsg` support should be introduced by #3228

[2017-03-24 03:48] alxndrsn opened #3278 "Add lint stage to medic's enketo-xslt fork"
Check for illegal stuff in the XSL sheets (see repo README for suggestions).

[2017-03-24 04:37] estellecomment opened #3279 "When logging in as a different user, the language of the previous user still shows"
Spotted on barefoot.

Log in as admin (language : english)
Log out
Log in as < user > (language : hindi)
Expected : hindi, shown : english

It also works the other way round, < user > then admin.
If I clear all site data and log back in I see language properly.
Going to user settings and re-saving the settings without changes (e.g. for < user >, the language is set as Hindi, even though English is

[2017-03-24 07:39] #1655 closed

[2017-03-24 07:40] #3228 closed

[2017-03-24 07:43] alxndrsn opened #3280 "New District form can no longer be opened after being cancelled"
Steps to recreate:

1. browse to http://localhost:5988/medic/_design/medic/_rewrite/#/contacts/
2. click _New district_ in action bar
2. observe that the form loads as expected
3. click _Cancel_ or FBB and confirm
4. click _New district_ in action bar
2. observe that the form does not load

[2017-03-24 07:43] alxndrsn commented on #3280
@garethbowen introduced by the new Cancel button (#1984)?

[2017-03-24 09:25] SCdF commented on #3236
This would be a blocked to releasing 2.11

[2017-03-24 09:47] SCdF commented on #3275
Merged. Cherry-picked into 2.10.x branch.

[2017-03-24 09:47] #3275 closed

[2017-03-24 10:02] SCdF commented on #3268
Merged and cherry-picked into 2.10.x branch

[2017-03-24 10:02] #3268 closed

[2017-03-24 10:52] bishwas-medic commented on #3272
@alxndrsn should we revert all older projects back to SMSsync until the v2 upgrades are done? Or just the ones that we are seeing the issues with?

[2017-03-24 11:13] SCdF commented on #3276
Done.

[2017-03-24 11:13] #3276 closed

[2017-03-24 15:05] SCdF commented on #3226
OK @alxndrsn you're up. I cut out most of the refactor to just be the code I'd already written that I was adding.

[2017-03-24 15:42] SCdF commented on #3166
OK everything is merged with the exception of the documentation stuff, which Gareth and I will talk about on Monday, and then I'll almost certainly merge it then.

[2017-03-24 15:42] #3231 closed

[2017-03-24 21:44] abbyad opened #3281 "The value from `jr:choice-name()` can be stale"
The value from a `jr:choice-name()` calculation is stale if the choice label is changed but the choice value is not. The choice-name function should be rerun if either the choice value or label are changed.

Will post test form shortly.

[2017-03-24 21:54] abbyad commented on #3281
Test form, which is also temporarily accessible [here](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/add/issue_3281):

[code]

Tested on 2.10.1

[2017-03-25 09:35] estellecomment commented on #3219
Aarrrrgh just realized I implemented २०७३ असोज १४ instead of १४ असोज २०७३ :woman_facepalming:

[2017-03-25 09:41] estellecomment commented on #3219
@alxndrsn please review :
https://github.com/medic/eurodig/pull/1
https://github.com/medic/bikram-sambat.js/pull/1
https://github.com/medic/medic-sentinel/pull/122

[2017-03-25 09:43] estellecomment commented on #3219
(there's also PRs against your alxndrsn branches, by mistake. I closed them, ignore.)

[2017-03-25 14:20] abbyad commented on #964
Closing as this has done (and redone) long ago.

[2017-03-25 14:20] #964 closed

[2017-03-25 14:52] abbyad opened #3282 "Relative times are not translated"
We are translating dates that are explicitly translated like `today` and `yesterday` but not relative dates, as seen in list of reports and contact summary.

![image](https://cloud.githubusercontent.com/assets/789512/24323219/f394586e-1148-11e7-8d58-b22b745a3447.png)

![image](https://cloud.githubusercontent.com/assets/789512/24323169/3b30654c-1148-11e7-8753-18a3d9fd8c34.png)

[2017-03-25 15:24] abbyad opened #3283 "Schedule titles are not translated"
The label shown for schedule titles are taken directly from the report doc, and correspond to `app_settings.schedules.name` for which we cannot translate:

![image](https://cloud.githubusercontent.com/assets/789512/24323434/7cdfdfe2-114b-11e7-87f7-ea2ef9d29089.png)

Since the schedule names are used to identify the schedule in app settings, it seems as though we'll have to keep the `name` property

[2017-03-25 16:27] browndav commented on #3191
This duplicates #3274; code review being done there. Closing.

[2017-03-25 16:27] #3191 closed

[2017-03-25 16:28] browndav commented on #3274
@alxndrsn: You mind reviewing https://github.com/medic/medic-os/commit/ea8b6703eb0d09f0741e26d25c09b9084689c675?

[2017-03-25 16:33] browndav commented on #3131
This should be resolved in https://github.com/medic/medic-os/commit/ea8b6703eb0d09f0741e26d25c09b9084689c675.

[2017-03-25 16:34] browndav commented on #3131
If nobody objects, code review can happen in #3274.

[2017-03-25 16:37] browndav commented on #3197
Bumping into code review. @garethbowen: do you think this is an okay way to go, or do you have a strong preference for packaging this up as a real migration?

[2017-03-26 03:15] estellecomment opened #3284 "Need remote troubleshooting of sms gateway phones"
Currently you need a person to physically look at gateway phones to diagnose them.
We're at a training on site away from the office, and can't troubleshoot or restart the gateway.

Remote access would be nice. Or just remote rebooting.

We can probably leave gateways plugged into a laptop, and then ssh + adb when needed.
(another option is grounding @jaymedic at the office and remote-controlling h

[2017-03-26 03:17] estellecomment commented on #3284
Exporting logs remotely would also be awesome

[2017-03-26 03:20] estellecomment commented on #3053
added more things : https://github.com/medic/medic-docs/pull/11

[2017-03-26 03:25] estellecomment commented on #2776
Seeing rotation keeping 9 old log files for no reason, and only 3 recent ones which is not enough. Annoying. (sindhuli)

[2017-03-26 03:37] estellecomment opened #3285 "Gateway stops polling sometimes"
Seen on sindhuli. No gateway logs, and no api logs :(

Maybe because of lack of activity? The project is not started yet so there were no messages to send/receive.

[2017-03-26 04:33] estellecomment opened #3286 "Invalid and existing phone number have same error message"
When entering a phone number when creating a contacts, you will get the error "Invalid phone number" for invalid number or for existing number, and you can't know which is which.
Add a separate "Number already exists" message.

[2017-03-26 07:21] estellecomment opened #3287 "Relative dates for reports in LHS only has day precision"
In the reports LHS list, the relative date at which the report was received is precise by one day (today/yesterday/x days ago) :
![image](https://cloud.githubusercontent.com/assets/911434/24329375/b66a8616-1224-11e7-9706-92c48fb8317b.png)

As a comparison, in the messages tab, more precision :
![image](https://cloud.githubusercontent.com/assets/911434/24329380/d30644ae-1224-11e7-9042-9083fa58f814.

[2017-03-26 07:23] estellecomment commented on #3287
@amandacilek you're probably also interested

[2017-03-26 11:12] estellecomment commented on #3284
`adb logcat | grep --line-buffered Medic` gives you log.

Note that in the adb log, you don't have the status of messages, which is the most useful part. So that would have to be added to logs.

(For the UI, the message statuses are fetched from DB, and getting that from logcat is complicated/impossible.)

[2017-03-26 21:44] garethbowen commented on #3197
@browndav That's fine as is as we shouldn't need it again. In future I think write scripts in node makes them easier to read, more cross platform, and it's easier to use 3rd party libraries, but I'll give you a pass just this once  ;)

[2017-03-26 21:44] #3197 closed

[2017-03-26 23:12] garethbowen commented on #3280
This works for me. @alxndrsn Do you have any more details? Were you logged in as admin or restricted user? Any console output? Any UI update at all? Does it happen with other contact forms or just district? What about when cancelling out of reports?

[2017-03-26 23:16] garethbowen opened #3288 "Write an e2e test for Enketo"
Write an e2e test to fill in a simple Enketo report and ensure it renders as expected. The purpose of this is to ensure we integrate with Enketo correctly and don't regress.

[2017-03-26 23:21] garethbowen opened #3289 "Enketo fails to render with "haystack.split is not a function""
Some recent change has broken Enketo. Loading a form either as a new report or a new contact fails with...

[code]

When I revert to https://github.com/medic/medic-webapp/commit/c5c64b9932d1913bd8ad7f5aadb27028e09824c5 (from 11 days ago) it works as expected.

[2017-03-26 23:21] garethbowen commented on #3289
@alxndrsn Any ideas?

[2017-03-26 23:59] garethbowen commented on #3282
Added additional moment locales: id, hi, sw

[2017-03-27 00:00] garethbowen commented on #3282
Code review please @alxndrsn

[2017-03-27 00:54] #3274 closed

[2017-03-27 00:55] alxndrsn commented on #3274
Comments in-line, which I'd appreciate you review, but do not effect the validity of the code.

[2017-03-27 00:55] #3131 closed

[2017-03-27 00:58] #3282 closed

[2017-03-27 01:00] alxndrsn commented on #3289
Yes.  Is this form deployed to a server I can access it on?  Failing that, can you share the form?

[2017-03-27 01:01] alxndrsn commented on #3289
Also would be helpful to see the code where the exception is thrown, if you can easily share a screenshot.

[2017-03-27 01:04] garethbowen commented on #3289
It's failing on all forms I have. I'll try to get it failing on a server you can access.

That stacktrace is using a sourcemap so it's actually useful. This is the line it's referring to: https://github.com/medic/medic-webapp/blob/master/static/js/services/enketo.js#L191

It's just one of the load errors from the Enketo library which unfortunately doesn't tell you much about where it happened (it'

[2017-03-27 01:07] garethbowen commented on #3283
Code review please @SCdF : https://github.com/medic/medic-webapp/pull/3291 and https://github.com/medic/medic-sentinel/pull/123

[2017-03-27 01:11] garethbowen commented on #3289
@alxndrsn alpha.dev has been updated and is now failing in the same way. Try this form as admin: https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/add/assessment

[2017-03-27 01:18] alxndrsn commented on #3284
I'd recommend this as being more correct:
[code]

[2017-03-27 01:20] garethbowen opened #3292 "Document supported software"
We have a complicated array of software in our stack and not all pieces are compatible with all others. Document which versions of the app depend on what, including:

* node (sentinel in 2.10 introduces a hard dependency on 5 or 6)
* couchdb (v1 for now, v2 soon?)
* browsers (firefox & chrome only, chrome 30+, chrome latest soon?)
* sms-sync (< 0.4 only)
* medic-transport (2.x + only)
* android (4

[2017-03-27 01:23] alxndrsn commented on #3284
@bishwas-medic interested in your thoughts on this, especially when trying to make the gateways _more_ independent rather than less.

[2017-03-27 01:24] garethbowen commented on #3289
I just had a crazy idea - it might be a jquery 3 thing. IIRC we hardcode to jquery 2 but I noticed that this later enketo wants jquery 3.

[2017-03-27 01:24] alxndrsn commented on #3284
Any thoughts on how this would work?  Where would you export them to?  Perhaps possible for an android phone to read the logs and send them as an email?

[2017-03-27 01:36] alxndrsn commented on #3284
It may be more practical to take the gateway phone with you to the training.

[2017-03-27 01:51] alxndrsn commented on #3289
Most likely that `../contact_dob_method` is not resolving correctly after upgrading enketo.

[2017-03-27 01:54] alxndrsn commented on #3289
N.B. the form linked at https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/add/assessment does not contain `selected(../contact_dob_method,'calendar')`.

[2017-03-27 02:41] alxndrsn opened #3293 "enketo-core/package.json is included in inbox.js bundle"
Work out why, and if it _is_ required, only include relevant information (e.g. with https://github.com/nolanlawson/package-json-versionify)

[2017-03-27 02:48] alxndrsn commented on #3289
`selected()` calls are being passed `boolean` values instead of string values

[2017-03-27 02:51] garethbowen commented on #3289
On the linked form I get:

[code]

Same error, different field.

[2017-03-27 03:12] alxndrsn opened #3294 "Migrate the `meta` doc to have a predictable id"
Currently info about our app such as "which migrations have been run" are stored in the `medic` db against a doc with a UUID.  This doc should have a predictable `_id` value such as `meta`.

We'd have to write a migration to fix this, which could get interesting!

[2017-03-27 03:39] garethbowen commented on #3273
Code review please @mandric

[2017-03-27 03:53] garethbowen commented on #3294
It's ok for this to be a migration but the api code that finds the doc will have to look for the ID and then fall back to looking by type as it does now. This way migrations will work before and after this migration has run. It's a bit annoying to have to have the fallback code indefinitely but I can't see any way around that.

[2017-03-27 05:22] alxndrsn commented on #3294
We can delete when we're confident every live instance has migrated.

[2017-03-27 05:33] alxndrsn commented on #3056
@sglangevin do you have any examples when we would want to customise English required message?

[2017-03-27 05:38] bishwas-medic commented on #3284
Just clarifying/adding few things here.

- This happened on a Sunday (which can possibly happen again as Sunday is a work day and not a holiday in Nepal's official calendar), so I was not at the office to directly check and get logs from the gateway phone and was supporting from my home. On normal weekdays, this isn't a problem.

- Taking the gateway phone to the training is not advised as the tra

[2017-03-27 05:44] alxndrsn commented on #3293
Pulled in by function to get the required transformer version: 1e06321368921e077cf2826cb47e2ad8365d992a

[2017-03-27 06:41] alxndrsn commented on #3056
There are a few issues here:
1. enketo has a built-in translator, currently used for a very limited set of messages, which needs re-implementing and overriding in browserify
2. we need to scan forms for `data-i18n` attributed nodes and translate these at form display time
3. do we actually need support for custom require messages??  This should work out of the box, but only worth checking if we ac

[2017-03-27 07:29] alxndrsn commented on #3056
Fixed for standard required messages.  This change adds at least three new translation keys:
[code]
These values were previously hard-coded in English for all languages.

[2017-03-27 08:10] alxndrsn commented on #3280
Can't recreate.

[2017-03-27 08:10] #3280 closed

[2017-03-27 09:24] SCdF commented on #3292
I have a version check in API in an existing PR, so that should be in master soon. Same code as Sentinel, helpfully copy pasted (if we merge repos we can make that nicer)

[2017-03-27 11:30] garethbowen commented on #3056
One small change please.

[2017-03-27 11:31] garethbowen commented on #3289
Works for me!

[2017-03-27 11:31] #3289 closed

[2017-03-27 11:57] SCdF commented on #2012
OK so @garethbowen and I had a chatty chat.

Here is the current apogee of our collective thought, intermingled with my post collective thought confusion:
 - Client-side migrations probably do not help
 - We should have a separate metadata document for each document. This document is server-side only, and stores the schema version of the document (as it is server side only it could store other thi

[2017-03-27 12:22] SCdF commented on #3283
LGTM, merged.

[2017-03-27 12:22] #3283 closed

[2017-03-27 12:30] SCdF commented on #3166
OK merged documentation. Donnnnnnnnnnnne.

[2017-03-27 12:30] #3166 closed

[2017-03-27 13:21] shreyakb opened #3297 "Barefoot instance - Analytics tab Hindi text is not aligning properly"
Instance: barefoot.app.medicmobile.org

(Standard ANC)

In Hindi Analytics, the format is slightly off (the top part of all hindi text like the dots and accents have gotten chopped off).

For example, "Active Pregnancies" should appear as "मौजूदा गर्भावस्था" but the accents on top can't be seen.

![image](https://cloud.githubusercontent.com/assets/7915295/24358050/6bc54afc-131d-11e7-80b8-c7882d6eb

[2017-03-27 13:49] SCdF commented on #3236
OK I've disabled this while keeping the splitting / refactoring work I did: https://github.com/medic/medic-webapp/pull/3298

I'm going to re-open #2222 and we can re-look into it later.

[2017-03-27 13:50] SCdF commented on #2222
This broke replication, see #3236 .

I've disabled it for now, we should take a look at why this is happening so we can complete this.

[2017-03-27 13:52] SCdF commented on #2222
I made a branch of where master was where validation worked, but replication didn't: https://github.com/medic/medic-webapp/blob/2222_validation_and_replication/static/js/services/db.js

I imagine there is a bug in pouchdb-validation that we'd need to look into.

[2017-03-27 14:15] abbyad opened #3299 "Not showing login screen if logged out until refresh"
A spinner shows if the user is logged out or timed out, but nothing indicating to the user that they need to log back in. I would expect this to show the login page eventually, if not immediately, then redirect back to the current page after login.

![image](https://cloud.githubusercontent.com/assets/789512/24360641/de43e590-12d5-11e7-8b4f-11740884e585.png)

[2017-03-27 14:25] browndav commented on #3173
This is resolved in Medic OS `master`. Additionally, we've upgraded the kernel in https://github.com/medic/medic-os/commit/4b5441404e9328732c9afc4b1d0f0eab44c5a6e9.

[2017-03-27 18:19] sglangevin commented on #3299
@abbyad what user were you logged in as? Had you logged yourself out or were you logged out automatically for some reason? If you have steps to reproduce, please share.

[2017-03-27 18:26] sglangevin commented on #3056
@alxndrsn I'm not sure if you are still looking for an example, but we wanted to be able to translate "This field is required" and "Required" into the language that the form is being rendered in. So for a project where the users are loading forms in French, we wanted to customize those messages so they would appear in French. This applies to all forms in the Muso Mali project - here is a link to a

[2017-03-27 18:32] abbyad commented on #3299
I don't know exact steps, but I was likely logged in as `admin`. I had my computer in sleep mode and had this message when I came back to this tab a couple days later. I don't remember logging out from another tab, but when trying to reproduce by logging out via a different tab I get similar console output except that it doesn't attempt to reconnection.

[2017-03-27 19:45] mandric commented on #3209
@browndav what needs code review?  The `sudoers` file above?

[2017-03-27 19:51] sglangevin commented on #3287
@estellecomment what is the user story you have in mind for needing more precise date/time?

[2017-03-27 19:52] #3273 closed

[2017-03-27 19:52] sglangevin commented on #3286
@estellecomment this issue has been filed and closed a few times. Enketo limits us to one error message per field, so we have to put in an error message that encompasses all potential errors. This can already be configured within all contact forms. If we want to file a feature request to add the option to include more than one error message in an Enketo form, we should do so.

[2017-03-27 19:54] #3236 closed

[2017-03-27 19:55] mandric commented on #3180
I also prefer having a clean JSON API, which anyone can implement around.   But we'd be maintaining the adapter for couchdb (and some legacy hacks for medic-webapp compatibility) since that's what we use.  The ugly data model should be replaced with something much simpler and it should all be decoupled so anyone can get something up and running quickly.

[2017-03-27 20:03] mandric commented on #2678
`master` is the "dev env" though?  The [deploy scripts](https://github.com/medic/medic-webapp/blob/master/scripts/ci/setup.sh) make final adjustments before a release like bundling the gardener managed services.

[2017-03-27 20:21] garethbowen commented on #2012
@SCdF

It doesn't matter much in practice but I think it matters conceptually. If we want to move to a world of data schemas then I think it makes sense to have versioned schemas per type. If want to stay with schema-less data then we should stick with a filter function. It probably falls outside the scope of this work - we can introduce schemas later.

Yeah sure. I think @estellecomment was looki

[2017-03-27 23:26] sglangevin commented on #3253
@henokgetachew any update on this one? Wondering if we need to pull this forward into the next milestone or if we will likely be closing this issue.

[2017-03-27 23:42] garethbowen commented on #3297
This doesn't happen on my machine but I can see what's happening - if the font is slightly too large for whatever reason the overflow is hidden. I'll make this more tolerant.

[2017-03-28 00:04] garethbowen commented on #3297
Code review please @estellecomment

[2017-03-28 00:42] diannakane commented on #3287
@estellecomment I haven't heard many complaints about this. I think we did
it to make it readable at a quick glance, and if you view the report on the
RHS, you can see the high-precision date/time. I'm open to revising it if
it's no longer serving us. Looking forward to hearing your thoughts.

[2017-03-28 01:34] abbyad commented on #3287
We introduced daily time resolution because of [issue #1947](https://github.com/medic/medic-webapp/issues/1947) when we first started doing offline access because the time was not being refreshed. From what I remember daily time resolution was never requested from users to begin with.

@garethbowen has the underlying reason become obsolete now?

[2017-03-28 01:54] alxndrsn commented on #3056
@sglangevin these should now be translatable via the standard translations, using the following keys:
[code]

[2017-03-28 01:54] #3056 closed

[2017-03-28 02:50] garethbowen commented on #3287
@abbyad Not as far as I know. Closing as by design. Please reopen if the design is found to be wrong!

[2017-03-28 02:50] #3287 closed

[2017-03-28 02:52] alxndrsn commented on #3226
Over to you, @SCdF

[2017-03-28 03:08] alxndrsn commented on #3219
This looks good to me, but I'm not familiar with _how_ or _when_ the code in `medic-sentinel` gets run.  Presumably this is before a message will end up in the _Reports_ tab.  Is that the case?

[2017-03-28 03:23] garethbowen commented on #2702
There is no quick fix that I can find. These are standard bootstrap tabs styling.

I think it's highly unlikely anyone will import or export from a tablet because you don't have traditional file storage. As there's currently enough space on PC this is acceptable.

The workaround if needed is to update the translation with a truncated value.

Please reopen if this is an issue for users.

[2017-03-28 03:23] #2702 closed

[2017-03-28 03:25] garethbowen commented on #3258
This appears to have gone away...

[2017-03-28 03:25] #3258 closed

[2017-03-28 03:42] garethbowen commented on #3259
Code review please @alxndrsn - it's trivial so I just committed straight to master.

[2017-03-28 04:32] estellecomment commented on #2012
Re: non-blocking migrations, no I don't remember doing anything about that...

I get the point of schema version. Cool. Not quite sure it all works out when version are server-only though, but maybe I'm missing some bits.

Assume there’s code v1, and schema v1, and we push an upgrade to code v2 and schema v2.

 - Server gets new code v2. Api blocks until migrations are run. Schema is now v2 for al

[2017-03-28 04:38] estellecomment commented on #3287
It's helpful to be able to differentiate between different reports sent by the same person recently, or spotting new reports when you're watching for them. I don't know if it's a common use case.

Looks like it's not trivial because of livelist though, so not a big deal.

[2017-03-28 04:47] estellecomment commented on #3284
If you have physical access to the phone, then either a button that emails logs yes, or use adb to get logs through USB.
If you have remote log access through ssh, you can save them to wherever, so no need for extra features.

This would have come in useful because when you reboot the gateway phone you apparently lose the logs. So if you reboot because of an issue, you lose the log that could have

[2017-03-28 04:50] estellecomment commented on #3284
If a project runs into a problem and the person troubleshooting the problem isn't physically with the phone, you're stuck. Like if Bishwas is at another training/meeting, or working from home, or it's after hours/holiday...

[2017-03-28 04:59] estellecomment commented on #3297
Merged

[2017-03-28 04:59] #3297 closed

[2017-03-28 05:58] smbuthia commented on #3186
@garethbowen we'd like to start adding a number of the tech-leads docs by end of this week. I've been looking through the repo and I am not quite sure where to begin. Would it make sense to have a tech-leads folder specifically for tech-leads docs?

[2017-03-28 07:03] #3259 closed

[2017-03-28 08:01] SCdF commented on #3226
Fixed issues, merged.

[2017-03-28 08:01] #3226 closed

[2017-03-28 08:35] alxndrsn commented on #3281
Required by 2017-03-30.

[2017-03-28 08:49] garethbowen commented on #3186
@smbuthia Yeah that's sort of what I was thinking, except maybe "configuration" instead of "tech-leads"? I'll get on to this one soon so you have a structure to put docs in, and you can let me know if the new structure works for you or not.

[2017-03-28 09:01] garethbowen commented on #3234
@mandric This works for me locally and on a server, in firefox and chrome. If I go to the following URL I'm asked to login then taken to the reports tab with the correct report selected: https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/3EAE1203-156B-4890-BE94-F183648409B6 . Any ideas?

[2017-03-28 09:01] estellecomment opened #3301 "Enketo throwing errors when displaying forms"
On both admin and restricter user.
All forms I've tried failed, but not with the same error.

Creating a district_hospital does :
![image](https://cloud.githubusercontent.com/assets/911434/24396481/17b2678c-13c3-11e7-9e42-d833464fa6a3.png)

After that, any creating of district_hospital or health_center will do :
![image](https://cloud.githubusercontent.com/assets/911434/24396518/353283a0-13c3-11e7

[2017-03-28 10:14] smbuthia commented on #3186
Yeah, that works. Thanks @garethbowen

[2017-03-28 11:25] alxndrsn commented on #3272
TBH I'd be much happier upgrading old projects to gateway, and fixing any specific issues we see.

[2017-03-28 12:11] SCdF commented on #2012
re: conflicts in general

Our managing of conflicts remains the same before and after this change, and your scenario above plays out identically (in terms of conflicts) with the current migration scheme. We currently have no conflict resolution, so CouchDB will just pick one based on which has the highest hash (or lowest, I forget, it's not relevant).

Conflicts are not auto-detected at any point

[2017-03-28 14:52] estellecomment commented on #3219
When transitions add messages to a doc, they use [lib/messages.js](https://github.com/medic/medic-sentinel/blob/master/lib/messages.js#L26) which uses `lib/template.js` to render the mustache templates in the app_settings. The formatted filters are implemented there.

[2017-03-28 15:08] estellecomment commented on #3219
It's in!

AT : replace a set of `{#date} ... {\date}` tags in app_settings with `{#bikram_sambat_date} ... {\bikram_sambat_date}` and check it displays dates properly and doesn't mess up unicode.
I didn't test other locales than english, that might be a good idea...

[2017-03-28 15:08] #3219 closed

[2017-03-28 15:17] nice-snek commented on #667
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #740
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #987
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #1035
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #1227
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #1437
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #1527
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #1882
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2118
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2298
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2380
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2663
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2720
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2753
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2942
hi frand @mandric, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3017
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3020
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3060
hi frand @sglangevin, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3065
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3066
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3090
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3105
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3151
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3155
hi frand @estellecomment, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3190
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3199
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3270
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3279
hi frand @browndav, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #2780
hi frand @SCdF, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3049
hi frand @garethbowen, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3299
hi frand @alxndrsn, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:17] nice-snek commented on #3019
hi frand @abbyad, U is coot

Please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

Nice Snek

[2017-03-28 15:24] bishwas-medic opened #3302 "Filtering inconsistent unicode character encoding in reports"
## Problem ##
We have found out several times that unicode has different encoding of visually same character in different devices(feature phones, android phones, tablets), tools (text editors, web browsers, word processor) and systems (android, windows, mac).

This causes several issues such as incoming report not getting recognized as a valid report since the character in the form definition is d

[2017-03-28 15:27] browndav commented on #1035
Closing as ancient.

[2017-03-28 15:27] #1035 closed

[2017-03-28 15:30] browndav commented on #2663
This is probably worth a quick discussion – I suspect that extra data is used by a caller somewhere. Moving into the current sprint; feel free to remove if we determine that no action is required.

[2017-03-28 15:30] browndav commented on #885
Closing as ancient.

[2017-03-28 15:30] #885 closed

[2017-03-28 15:32] browndav commented on #3279
Scheduling.

[2017-03-28 15:34] browndav commented on #3093
Leaving as-is.

[2017-03-28 15:34] browndav commented on #3022
Looks actionable, useful, and straightforward. Scheduling.

[2017-03-28 15:36] browndav commented on #2694
Closing.

[2017-03-28 15:36] #2694 closed

[2017-03-28 15:38] browndav commented on #3020
This is odd. Scheduling.

[2017-03-28 15:42] browndav commented on #3209
Yeah – just looking for verification that this fixes the issue. Probably worth testing at the same time, and then you can just move it to `5 - Ready`.

[2017-03-28 16:51] abbyad commented on #3190
This is very pertinent, will mark as scheduled.

[2017-03-28 17:17] mandric commented on #2663
It follows this API https://github.com/garden20/app_settings and it's always been that way so I'm not sure why you would expect anything else?  We should add an endpoint for settings in medic-api though and that can be designed as nicely as we like?

[2017-03-28 17:21] garethbowen opened #3303 "Write e2e test for streaming exports"
@estellecomment has done most of this in PR #3210

[2017-03-28 17:21] garethbowen commented on #1789
The e2e testing has been split off to #3303 so this can be ATed.

[2017-03-28 17:21] #1789 closed

[2017-03-28 19:00] mandric commented on #2663
Related https://github.com/medic/medic-webapp/issues/1250

[2017-03-28 19:07] mandric commented on #3209
`/boot/print-logs` does not exist on lg.dev, so it's more than just a `sudoers` tweak.

[2017-03-28 19:11] mandric commented on #2694
I still don't understand why medic-api can't simply stream the output from the list function in couchdb that is already streaming.

[2017-03-28 19:15] diannakane commented on #2298
Resolved with Contacts tab update.

[2017-03-28 19:17] mandric commented on #2298
Assigning to Sharon because I don't know what to do with this.

[2017-03-28 19:18] diannakane commented on #3287
I could see the day granularity being the exact time and everything older
than that reverting to days/weeks in the list view. We'll consider when
doing the History tab update in Q2. cc: @amandacilek

[2017-03-28 19:20] mandric commented on #2753
Assigning to Marc because I don't know what to do with this.

[2017-03-28 19:22] #1227 closed

[2017-03-28 19:49] sglangevin opened #3304 "Release 2.10.3"
Follow [the instructions](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#webapp)

Issues to include:

- [x] #3281 (if ready in time)
- [x] #3282
- [x] #3283
- [x] https://github.com/medic/medic-projects/issues/1624
- [x] Update Hindi translations (export from POE)

Release must be done before COB (PDT) on Friday, March 31st. Ideally we would wait as long as we can to try and ge

[2017-03-28 20:58] abbyad opened #3305 "Corrupted translation strings"
Of the 850 translations in 2.10, two Hindi labels were corrupted on one instance. These translation labels seem OK in github, and on another instance with the same version installed. The two translations in question were not locally modified, but others were. This is somewhat similar symptom to #2906 but perhaps different cause.

## English
`reports.none.n.months = {MONTHS, plural, one{No reports

[2017-03-28 21:08] abbyad commented on #3305
The first corruption happened between these two revs:

[rev2](/_couch/_utils/document.html?medic/messages-hi@2-210e94776672f1f8c6e09916cd623f52): `{MONTHS, plural, one{पिछले महीने की कोई रिपोर्ट नहीं है.} other{पिछले # महीनों में कोई रिपोर्ट नहीं है.}} `

[rev3](/_couch/_utils/document.html?medic/messages-hi@3-027c59b8eda7cea1cf8fc8d59c9ec961): `{MONTHS, plural, one{पिछले महीने की कोई रिपोर्ट नह��

[2017-03-28 21:09] garethbowen commented on #1437
@michaelkohn Is this still useful? It feels like these options should be stored directly in postgres rather than updating couch and replicating to postgres.

[2017-03-28 21:13] garethbowen commented on #3305
I wonder if something is splitting the characters based on a packet boundary or something...

@abbyad do you know what happened when rev3 was saved? Was someone updating translations, or updating the app?

How were they being modified? Through the app, or via Dashboard, or through a script, or something else?

[2017-03-28 21:15] abbyad commented on #3305
Not sure, but trying to put `{MONTHS, plural, one{पिछले महीने की कोई रिपोर्ट नहीं है.} other{पिछले \# महीनों में कोई रिपोर्ट नहीं है.}} ` into the configuration page and it corrupts immediately.

[2017-03-28 21:16] garethbowen commented on #3049
Closing as per my previous comment.

[2017-03-28 21:18] garethbowen commented on #2720
It looks like the above workarounds will do the trick. We've also recently added a check so `.only` will fail the build if committed accidentally.

[2017-03-28 21:18] #2720 closed

[2017-03-28 21:19] garethbowen commented on #3017
This is high on our prioritised tech wishlist so I'll schedule it.

[2017-03-28 21:21] garethbowen commented on #3253
Descheduling this issue waiting for more information from @henokgetachew

[2017-03-28 21:26] garethbowen commented on #3053
@estellecomment It looks like the comments in your review have been fixed - can you please rereview the PR and if good merge and close this issue?

[2017-03-28 21:30] garethbowen commented on #476
Not a priority right now. Leaving scheduled, but removing from the iteration.

[2017-03-28 21:31] garethbowen commented on #2289
This will be tackled as part of the permissions rework going through design currently.

[2017-03-28 21:31] #2289 closed

[2017-03-28 21:34] garethbowen commented on #2663
Leaving this scheduled but removing from the milestone as it doesn't fit within one of the goals.

[2017-03-28 21:35] sglangevin commented on #2298
This wasn't resolved with the Contacts tab update, this is a different issue. This can be resolved once we refactor the contact hierarchy as we would be able to have a level for CHW supervisors. Alternatively, we'd want some kind of "grouping" concept. I'll close this in favor of the more flexible hierarchy, which is going to be scheduled soon.

[2017-03-28 21:35] #2298 closed

[2017-03-28 21:43] garethbowen commented on #3304
Project: https://github.com/medic/medic-webapp/projects/4

[2017-03-28 21:54] sglangevin commented on #3272
Sounds like running the migration manually should resolve this particular issue, right?

[2017-03-28 21:55] garethbowen commented on #3272
Yes.

[2017-03-28 21:57] garethbowen commented on #3272
A summary of the discussion from this mornings planning meeting...

Don't upgrade 0.4 instances to medic-gateway.
When upgrading to 2.x also update to medic-gateway.
Where projects have already been migrated to medic-gateway don't change them back. Attempt to resolve issues (like this one) manually until 2.x is ready and then upgrade ASAP.

[2017-03-28 22:08] sglangevin commented on #2380
Since we are planning to replace dashboard, I'm going to close this one. Please re-open if needed.

[2017-03-28 22:08] #2380 closed

[2017-03-28 22:08] sglangevin commented on #987
Very old issue, closing.

[2017-03-28 22:08] #987 closed

[2017-03-28 22:10] sglangevin commented on #3060
Seems useful, but not related to current sprint goals. Marking as Scheduled.

[2017-03-28 22:36] garethbowen opened #3306 "Contact profile fields collapse on mobile"
Here's what it looks like on desktop:

![summary-desktop](https://cloud.githubusercontent.com/assets/2064938/24430605/e1c8574c-1473-11e7-9599-5e96966af670.png)

And on mobile:

![summary-mobile](https://cloud.githubusercontent.com/assets/2064938/24430607/e4a32992-1473-11e7-9110-b85eb8f1f290.png)

This should be updated so each field takes up full width on mobile devices.

[2017-03-28 22:41] garethbowen commented on #3306
Code review please @estellecomment

[2017-03-28 23:44] abbyad commented on #3105
Somewhat perplexing, worth having a dev look at this.

[2017-03-28 23:51] abbyad commented on #3019
Marking this as scheduled, and will leave @garethbowen and @sglangevin to pull this into the appropriate iteration.

[2017-03-28 23:55] abbyad commented on #2753
I don't think we should close this since it seems like a UX bug to me -- a user would expect relative dates to be accurate.

[2017-03-29 00:01] abbyad commented on #3090
I just reproduced this bug. If you open a task the task's URL is shown (eg `medic/_design/medic/_rewrite/#/tasks/0713c7986f5017fa8e182e5a6cb9ee46-postnatal-missing-visit-4`), and if you reload the page it goes back to `medic/_design/medic/_rewrite/#/tasks/` instead of staying on the original URL.

[2017-03-29 00:02] abbyad commented on #3090
This isn't a situation that would happen often, nor be terribly problematic when it does, so not high priority.

[2017-03-29 00:27] abbyad opened #3308 "Cannot submit a form where field values have Hindi characters"
Cannot save an XForm with Hindi characters: `Error: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.`

![image](https://cloud.githubusercontent.com/assets/789512/24433075/39c23da8-13f4-11e7-911a-e037dc4fe95b.png)

Testing with a single Hindi character gives the error as well. If I remove the Hindi chars in the text area in question I c

[2017-03-29 00:31] garethbowen commented on #3308
Reproduced locally with a non-minified stacktrace:

[code]

[2017-03-29 00:54] abbyad opened #3309 "In person profiles SMS reports do not show name in summary"
Summary info is missing from reports in person profiles. This is similar to #3084, but in patient profiles instead of place profiles.

### Person's profile is missing the summary
![image](https://cloud.githubusercontent.com/assets/789512/24433712/789e9efa-13f8-11e7-8f0e-a62eb33baea5.png)

### Summary shows when looking at same reports in their parent's place
![image](https://cloud.githubuserconten

[2017-03-29 04:54] estellecomment commented on #3053
It's waiting on rereview by @alxndrsn

[2017-03-29 04:56] #3306 closed

[2017-03-29 05:41] estellecomment commented on #3301
I get it on a fresh install.

Reproduce :
 - git clone webapp, npm install
 - new medic db
 - grunt dev latest code
 - upload app_settings : I used standard : medic-projects/default-sms-workflow/standard/upload_all.sh, l.66
 - log is as admin
 - click add place button : form fail.

[2017-03-29 09:30] SCdF commented on #3219
@estellecomment should this be documented somewhere? Note I have no idea where, though possibly in kanso.json, or at least linked from kanso.json

[2017-03-29 09:54] henokgetachew commented on #3253
I will respond to this by tomorrow.

[2017-03-29 11:15] SCdF commented on #3262
This ticket about removing couchdb admins is related: https://github.com/medic/medic-webapp/issues/2942

Basically, right now only a true couchdb admin can edit / add users. This is a problem because:
 - Like *this* ticket states, there are other people who should be able to add users who can't
 - Like *that* ticket states, having a couchdb admin being a credential given out is a bad idea

To solv

[2017-03-29 12:24] michaelkohn commented on #1437
@garethbowen The benefit of keeping things like this in Couch is that it doesn't require `write` access in PostgreSQL to customize the queries from project to project.  In theory, our installation process could install all the SQL scripts without having to customize any of them, it would just require the PM to configure them in the webapp.

Having said that, we have a `configurations` table in som

[2017-03-29 12:47] #1882 closed

[2017-03-29 12:48] alxndrsn commented on #3199
@garethbowen this doesn't seem that old to me.  You might have more idea if this is pertinent or not.

[2017-03-29 12:51] alxndrsn opened #3311 "Multiple versions of jquery are being bundled with app"
Enketo is pulling in an extra one, causing _lots of trouble_.

[2017-03-29 12:56] alxndrsn opened #3312 "Enketo's package.json file is overriding our overrides"
`package.json` in `enketo-core` defines a `browser` section which overrides the location of some node/browserify modules.  We also override these in medic-webapp's `Gruntfile.js` in `browserify.dist.options.alias`.  However, with recent enketo upgrades, our overrides are now overriden by enketo's overrides \*mayhem\*!

[2017-03-29 12:57] alxndrsn commented on #1471
I assume this has been superseded.  @garethbowen please re-open if I'm mistaken.

[2017-03-29 12:57] #1471 closed

[2017-03-29 13:03] alxndrsn commented on #3302
We should normalise incoming message text before processing it.  I can't see any obvious benefit to saving both non-normalised and normalised text to the database.

Ref
https://en.wikipedia.org/wiki/Unicode#Ready-made_versus_composite_characters
https://en.wikipedia.org/wiki/Unicode_equivalence#Normalization

From a quick read we may want to use NFKC, but it's far from obvious.

[2017-03-29 13:34] alxndrsn commented on #3312
...or is it?!

[2017-03-29 13:42] #3312 closed

[2017-03-29 14:02] alxndrsn commented on #3308
Offending code at https://github.com/medic/medic-webapp/blob/master/static/js/services/enketo.js#L273-L279:
[code]

[2017-03-29 14:29] mandric commented on #3119
@browndav use PRs when at all possible.

[2017-03-29 16:29] abbyad commented on #3309
This may be a quick fix given the work already done for https://github.com/medic/medic-webapp/issues/3084. If so it would be good to have this in 2.10.3, but not as high priority as the other blocking bugs marked `Priority`.

[2017-03-29 17:54] alxndrsn commented on #3281
`medic-enketo-0.9.2` released to fix this; upstream PR at https://github.com/enketo/enketo-core/pull/414

[2017-03-29 17:54] #3281 closed

[2017-03-29 18:03] #3311 closed

[2017-03-29 18:04] alxndrsn commented on #3301
Caused by https://github.com/medic/medic-webapp/issues/3311

[2017-03-29 18:04] #3301 closed

[2017-03-29 18:14] alxndrsn commented on #3293
Fixed in our fork; filed usptream at https://github.com/enketo/enketo-core/issues/415.

[2017-03-29 18:14] #3293 closed

[2017-03-29 18:16] alxndrsn commented on #3286
Closing as per @sglangevin comment.

[2017-03-29 18:16] #3286 closed

[2017-03-29 19:08] sglangevin commented on #3309
Marked as priority to see if we can get to this before the end of the week.

[2017-03-29 20:26] garethbowen commented on #3308
Yeah I'm on it

[2017-03-29 20:34] garethbowen commented on #1437
Ok sounds good. I'll leave this scheduled.

[2017-03-29 20:56] garethbowen commented on #3199
Still pertinent. Not urgent however.

[2017-03-30 00:03] mandric commented on #3049
Most of our validation or any type of validation we do in the future will be based on the `type` property.  It's a good starting point to adding more sanity to the database.  I don't see a migration as much of a blocker especially since there shouldn't be any normal docs (not design docs) that do't have a `type` property, if there are then they are probably not used?

[2017-03-30 00:08] garethbowen commented on #3308
Code review please @alxndrsn

I'm pretty sure your way would've worked, but there's a PouchDB article on [how to work with attachments](https://pouchdb.com/guides/attachments.html) that I followed instead. I took the opportunity to clean some things up while I was in there so use `?w=1` to make it a bit easier on yourself. I mostly created the AddAttachment service because I couldn't get a unit te

[2017-03-30 00:19] garethbowen commented on #3049
@mandric I think it's valid to have docs without a type. For example, if we have a singleton doc that stores stuff like what migrations have run it can be uniquely identified by the id so there's no need for a type too (this isn't the way that particular example works now but it could do...) If future validations are based off the doc type they can ignore docs without a type.

Why do you think all

[2017-03-30 04:44] garethbowen commented on #3238
Scheduling as per the planning meeting. Put together a proposal and share it with the team for discussion.

[2017-03-30 04:57] estellecomment commented on #3301
:yay: Winner!!
Thanks!

[2017-03-30 05:09] garethbowen commented on #3309
Code review please @SCdF

[2017-03-30 07:05] alxndrsn commented on #3308
Merge at will!

[2017-03-30 07:37] SCdF commented on #3309
Merged.

[2017-03-30 07:37] #3309 closed

[2017-03-30 07:50] alxndrsn opened #3317 "Minify XSL stylesheets"

[2017-03-30 08:35] #3308 closed

[2017-03-30 08:45] alxndrsn commented on #1554
I don't think this is fixable, directly.  Options seem to be:

* introduce our own markup which will be subsituted for tel links and can have `<output>` embedded inside (e.g. `____tel:<output value="/issue-1554/phone_number"/>____`)
* add a new appearance type for e.g. readonly textfields which will turn them into tel links

[2017-03-30 08:45] #1554 closed

[2017-03-30 11:22] SCdF commented on #3317
@alxndrsn I merged it. You left yourself assigned to back to you in case you want to do anything more with this ticket.

[2017-03-30 11:44] #3317 closed

[2017-03-30 14:05] SCdF commented on #3262
So this might be good enough for us, for now: https://github.com/medic/medic-api/pull/131 @garethbowen take a look plz.

It's somewhat of a hack:
 - it uses roles, not our "permissions", which is in theory wrong, since there are permissions around whether or not they can view, create, edit and delete users
 - Except apparently for "Full access" users these things are ignored anyway
 - and also man

[2017-03-30 14:06] SCdF commented on #3262
(also, dropping #2942, solving this is actually kind of massive and out of scope)

[2017-03-30 14:06] SCdF commented on #2942
I've taken this out of 2.11. It's not required to solve the issues in that release.

[2017-03-30 14:32] SCdF commented on #3251
@bishwas-medic so where is this ticket. FWIW

I set up a standard project locally and permissions worked properly. However, "standard" is a project with app_settings… so I'm not sure if that's the same standard that you're talking about.

Do you have a set of steps I can use to replicate this? Like: replicate this DB, then upgrade it to 2.x, then see how there are no permissions; that kind of thin

[2017-03-30 14:50] mandric commented on #3049
All docs should have a type because that's how we validate docs, by looking at the type and then checking if we have required properties.  There might be an exception or two but that's the general rule.  I know it's not required but I think we've developed a nice convention around it and should go the extra step and have a list that we support.  It doesn't have to be `type` but I'm pushing for a w

[2017-03-30 14:56] mandric commented on #3197
FFR here's a manual migration I wrote, I think it makes sense how I combine shell and node here: https://github.com/medic/medic-api/tree/0.4.x/migrations/add-uuid-to-scheduled-tasks

[2017-03-30 15:11] bishwas-medic commented on #3251
@SCdF This happens only in newly created instance and I had to manually add the permission in the app_settings for them to appear on the Permissions page. I have another new instance that I started testing on today which has the same issue. I'll share the URL with you privately.

[2017-03-30 15:23] mandric commented on #3234
Only guess is alpha.dev was not running 2.10 but I can't even load it to find out.  Just confirm you tested on 2.10 (or 2.10 branch) and we can close this.

[2017-03-30 15:23] SCdF commented on #3251
Talked to @bishwas-medic , by the time he gets them the setup is complete and they are already in this incorrect state.

@abbyad / @henokgetachew / @browndav can any of you shed light on how these get setup?

From talking to Bishwas it sounds like they should just be 2.x running standard, and at least for me that works fine locally.

If someone can give me some reproduction steps, that either star

[2017-03-30 16:17] abbyad opened #3321 "Buttons in LHS FAB disappear"
Reported in https://github.com/medic/medic-projects/issues/1724

Reproduced on 2.10.2

[2017-03-30 17:10] henokgetachew commented on #3251
There is no AMI that is specific for Standard yet.  Once the instance is up and running, the standard config has to be specifically uploaded to the instance.  I will create a brand new AMI that will support standard out of the box - all the default config options.  But, we would still need to upload the standard settings from medic-projects as the forms and config gets updated.

[2017-03-30 17:20] SCdF commented on #3251
@henokgetachew I'm looking for reproduction steps. It is currently unclear to me what people are doing to get into this state, since it "works for me". Until I get reproduction steps I'm not sure what else I can do.

[2017-03-30 17:24] henokgetachew commented on #3251
I mean there is a folder in medic-projects (`default-sms-workflow`) that has all the files and `app_settings.json` that you can just run the upload script over to get your instance up to par.  If these files came by default with a fresh install of the webapp, that could work as well.

[2017-03-30 17:27] mandric opened #3322 "`content_type` property is weird"
I think this property should be removed because:

- we moved the form to an attachment that has the content type specified on the attachment, so this data is redundant.
- it's confusing because it seems like a property that applies to the whole record when it only applies to the form, if anything rename it to `form_content_type`?

[2017-03-30 17:45] SCdF commented on #3251
@henokgetachew yep done that. Works for me.

Can you please detail the steps that you follow to get an instance installed with standard running 2.x please.

[2017-03-30 18:53] abbyad opened #3323 "Changing languages does not change form labels"
When a user changes their language setting the app changes languages but the form labels do not.

Notice that the app labels, including the Next button are in English whereas the form is still in Hindi:
![image](https://cloud.githubusercontent.com/assets/789512/24520789/b33de7ae-1557-11e7-931a-bc4c632bd243.png)

I have tried logging in a completely fresh browser and the same problem exists. Even c

[2017-03-30 19:25] garethbowen commented on #3321
Duplicate of #3132

[2017-03-30 19:26] garethbowen commented on #3323
Duplicate of #3174 ?

[2017-03-30 19:27] abbyad commented on #3323
Yes, looks like a duplicate.

[2017-03-30 19:34] abbyad commented on #3321
Yes, looks like a duplicate.

[2017-03-30 19:34] #3321 closed

[2017-03-30 19:35] abbyad commented on #3323
Closed this one accidentally... I need to still confirm that it is a duplicate.

[2017-03-30 19:38] garethbowen commented on #3049
Reopening. Perhaps this is part of a larger discussion about data validation. I'll add it to the list of things to discuss at next week's tech talk.

[2017-03-30 19:44] garethbowen commented on #3234
@mandric I tested on master (2.11). It's back up now if you want to try again? If it's been fixed between 2.10 and 2.11 it's probably not serious enough to backport. My main concern is it's some sort of race condition.

[2017-03-30 19:53] abbyad commented on #3323
Action places translate accordingly, but People/Place forms are stuck in Hindi.

[2017-03-30 19:54] garethbowen commented on #3323
Looking into it now

[2017-03-30 20:41] abbyad commented on #3281
Seems to be working well in 2.10.3-beta. Moving to Ready.

[2017-03-30 20:54] abbyad opened #3324 "`pyxform` doesn't respect spacing after reference at the beginning of label"
If a label starts with a `${value}` the space that follows it is not respected.

A label such as `${input} <-- Test without preceding text, **space is ignored**` has the space ignored after ${input}. The spacing is fine if there is text prior to `${input}`.

This can be seen with this [form](https://github.com/medic/medic-webapp/files/883769/issue-3324.xlsx), resulting in the following XForm snipp

[2017-03-30 21:03] garethbowen opened #3325 "Use enketo xml cache for contact forms too"
We have an xml cache which greatly improves rendering time for forms but we don't use it for contact forms. Use it!

[2017-03-30 21:15] garethbowen commented on #3325
As part of this, refactor to increase reuse between `Enketo.render` and `Enketo.renderFromXmlString`

[2017-03-30 21:26] henokgetachew commented on #3251
@SCdF please use these steps to reproduce.  Go to the garden market and install a fresh medic app from [here](https://staging.dev.medicmobile.org/markets-release-v2/details/medic).  I have confirmed that the instance comes with empty permissions.

[2017-03-30 21:33] henokgetachew commented on #3251
I have also confirmed that uploading the files in the `default-sms-workflow` solves the issue.  Always doing this step after a clean install could be a workaround for now.  Including these files by default with the webapp would be a better solution however.  That would also solve some of our hierarchy issues we've been running into by using the default contact creation forms that come with the web

[2017-03-30 21:33] #3323 closed

[2017-03-30 21:36] henokgetachew commented on #3251
@garethbowen, not sure if this is the right question to ask but do the migrations run for a fresh install from garden market?

[2017-03-30 21:42] garethbowen commented on #3251
@henokgetachew Yeah they do. When API starts it runs each migration that hasn't yet been run on that database. Most migrations won't do anything on first run but it could well be a migration stuffing this up.

[2017-03-30 21:51] henokgetachew commented on #3251
Alright.  I have just created new AMIs that will have the permissions added by default so that new instances will no longer have this issue.

[2017-03-30 21:55] #3278 closed

[2017-03-30 22:19] garethbowen commented on #3305
My guess is it's a bug in the way api combines the streaming request body.

[2017-03-30 22:20] garethbowen commented on #3305
The workaround is to edit the translation file directly in couch.

[2017-03-31 00:36] #3305 closed

[2017-03-31 01:03] abbyad commented on #3174
Works well, moving to Ready.

[2017-03-31 01:10] abbyad commented on #3305
I didn't have a surefire way to reproduce before, but after best effort I could not reproduce in 2.10.3-beta.2. Moving to Ready.

[2017-03-31 01:13] abbyad opened #3327 "Date picker widget is not translated"
![image](https://cloud.githubusercontent.com/assets/789512/24532313/8bc57044-158d-11e7-85dd-34dc2df54502.png)

[2017-03-31 01:14] abbyad commented on #3323
Works well for both Contact and Action forms, moving to Ready.

[2017-03-31 01:17] abbyad commented on #3309
Example from original post shows up well now, moving to Ready.

[2017-03-31 01:20] abbyad commented on #3282
Looks great, moving to Ready.
![image](https://cloud.githubusercontent.com/assets/789512/24532454/af57a404-158e-11e7-9c09-4fccead7fbcb.png)

[2017-03-31 01:24] abbyad commented on #3308
Works well! Moving to Ready.

[2017-03-31 01:59] abbyad commented on #3283
Works great! Moved to Ready.

Helpful hint:

![image](https://cloud.githubusercontent.com/assets/789512/24532888/eb1b18b0-1591-11e7-835e-b6789a9d49eb.png)

Otherwise you end up with a series of same title for each group

![image](https://cloud.githubusercontent.com/assets/789512/24532843/88a102f8-1591-11e7-8038-dc8d00485a81.png)

[2017-03-31 02:50] garethbowen commented on #3262
One small code suggestion - back to you.

[2017-03-31 02:52] garethbowen commented on #3186
@smbuthia Sorry I didn't get around to this this week. Feel free to start adding documentation to https://github.com/medic/medic-docs/tree/master/md/ and I'll get on to the reorganisation next week.

[2017-03-31 03:49] abbyad commented on #3013
Given the recent changes this may actually be resolved... should retest.

[2017-03-31 07:32] henokgetachew commented on #3253
An example of one that still fails: https://github.com/medic/medic-projects/issues/1748

[2017-03-31 07:43] alxndrsn commented on #3282
Looks like that's a Greogrian date written in Nepali; @bishwas-medic is my reading correct, and if so is this date format helpful?  We could reasonably easily be converting these to BS dates, but perhaps that's for another ticket.

[2017-03-31 07:52] bishwas-medic commented on #3282
@alxndrsn Those are Gregorian dates written in Hindi. I think this was for a standard project in India. They follow the Gregorian calendar there, so no need of BS dates.

[2017-03-31 08:19] alxndrsn commented on #3282
Silly me!  How could I get Nepali and Hindi confused o_O

[2017-03-31 08:19] JenniferMuli commented on #3253
@henokgetachew  not sure why this works sometimes and fails at other times.

We have just submitted a new Pregnancy Registration form now and its works perfectly
https://christianaidisiolo.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/f107cc9ef2f01e605d482c48c13a4a90

[2017-03-31 10:04] JenniferMuli opened #3328 "Christian Aid 2 - Deletion of training Data"
@billwambua please assist in deleting some facilities that were added during the training period .

I deleted them from the web app but they are still showing in the analytic dashboards.

This is the list of facilities that needs to be deleted -:
muumandu sub county
Enosaen community unit
Transmara east sub county
Transmara sub county
macha sub county
Narok sub county

[2017-03-31 10:08] #3328 closed

[2017-03-31 10:13] henokgetachew commented on #3253
I will look at the different CHWs and compare the hierarchies.  I think the most likely cause is that the two CHWs are at different levels of the hierarchy.

[2017-03-31 10:19] JenniferMuli commented on #3253
@henokgetachew we are doing a clean up of the instance today since they are going live next week .

However we can leave the 2 CHWs so that you can do the comparison first and see what might be the issue.

[2017-03-31 10:21] henokgetachew commented on #3253
Thanks @JenniferMuli.  Yes, that would be great.

[2017-03-31 10:52] SCdF commented on #3262
So I talked to the CouchDB folks about how we can make this nicer. The summary is: don't monkey with the security object on system dbs (those that start with _) and instead do it all through an intermediary (that would be api for us).

Doing this right would be part of our permissions re-think, and part if #2942.

[2017-03-31 11:00] SCdF commented on #3262
Merged.

Note there are known issues with this technique:
 - Full Users can just do everything, medic permissions don't matter (this is already true)
 - Full Users that aren't real CouchDB admins can't delete users.
 - Probably more.

To deal with this "correctly", look at #2942.

[2017-03-31 11:04] SCdF commented on #2942
I have changed the description of this ticket with new information about how couchdb roles are not appropriate for solving this.

[2017-03-31 11:04] SCdF commented on #3251
@henokgetachew so are we saying this ticket is "fixed" then? i.e. no dev required?

[2017-03-31 12:35] alxndrsn commented on #2617
I'm confident these issues have been addressed by recent improvement work to gateway and its controller in medic-api.

[2017-03-31 12:35] #2617 closed

[2017-03-31 13:32] abbyad commented on #3297
This has been tested by @Anandpriyadeo, and (re)opened [here](https://github.com/medic/medic-projects/issues/1760) ...but it looks like it is because it was not included in 2.10.3.

[2017-03-31 17:52] mandric opened #3329 "`.hidden_fields: []` property on data_record is weird"
What is this for?  You can see examples on cic-guatemalav2.app.

[2017-03-31 17:54] sglangevin commented on #3329
Is that different from `hidden_fields`? We have a place to list the fields that should be hidden from view in Reports/History.

[2017-03-31 17:59] sglangevin commented on #3253
@henokgetachew I would also look into the contact docs of the CHWs for which reminders are not going to the supervisors. I saw one example on this instance where the problem was that the supervisor didn't have a phone number at the time that the CHW was created. It's possible that issue is affecting multiple CHWs.

[2017-03-31 18:08] mandric opened #3330 "poor error handling in medic-api:/api/v1/records"
Submitting data missing the `from` field I only get "Server Error" in the http response, it should pass the useful message through "Missing required field: from":

[code]

Also the log entry in the medic-api log seems incomplete because it doesn't include the stack trace?

[code]

Also why do we have extra newlines in those logs?

[2017-03-31 18:14] alxndrsn commented on #2634
As far as I'm concerned these branches are all ancient and can be deleted.

[2017-03-31 18:25] browndav commented on #3329
Assuming we're not proposing a specific change or thinking this is a bug, Answerhub may be an ideal place for these sorts of questions.

[2017-03-31 18:44] mandric commented on #3329
Sorry @sglangevin that's what I meant!  Fixing...

[2017-03-31 18:45] mandric commented on #3329
@browndav if it has to do with defining our records schema I'd prefer we discuss it in github.

[2017-03-31 18:58] sglangevin commented on #3329
Yeah, that was a workaround to allow us to hide certain fields from the user's view in Reports/History so we don't see a laundry list of form fields there. You set those by setting the appearance to hidden for a field or group in the XML form.

[2017-03-31 19:05] mandric commented on #2776
In the meantime add this to your medic-os shells (~/.profile).  So when you type `logs` it gives you recent logs from api, sentinel and couchdb:
[code]

[2017-04-02 07:52] henokgetachew commented on #3251
@SCdF I guess for practical purposes for projects, it won't happen again because the instance will come with a default config.  I don't know if that means it's "fixed" however because you could run into it locally and whatever is making that migration not run would still be there.

[2017-04-02 08:09] henokgetachew commented on #3253
@sglangevin we were looking at just the report doc thinking that the `{contact}.{parent}` was getting picked from it.  I didn't know it was actually going to the contact's doc to look for the parent. @JenniferMuli let's make sure that all supervisors have phone numbers filled in before creating the CHWs under them.
Do you guys think it makes sense to have a way of updating the CHW docs when the su

[2017-04-02 18:27] garethbowen commented on #3330
Yeah absolutely agree that validation errors shouldn't end up as server errors (502s). It doesn't need a stack because it's not an exception - it's an expected case we should handle gracefully.

To complicate the matter further, those look like the log statements I added to a specific instance to get better logging to fix an unrelated bug - usually we just have the server error line and not even a

[2017-04-02 18:41] garethbowen commented on #3152
Back to you @alxndrsn

[2017-04-02 21:07] garethbowen commented on #2634
Done.

[2017-04-02 21:07] #2634 closed

[2017-04-02 22:12] garethbowen commented on #3294
Code review please @alxndrsn

[2017-04-02 22:30] garethbowen opened #3331 "add-national_admin-role migration does not work in couchdb 1"
Log from my local install:

[code]

[2017-04-02 23:08] garethbowen commented on #1650
Code review please @SCdF

There are probably other buttons that could be disabled, and other actions which should disable buttons but this takes care of the low hanging fruit of the cancel buttons for enketo forms and modals. Other specific cases can be raised as separate issues.

[2017-04-03 07:48] SCdF commented on #3331
Weird that travis didn't fail… I presumed it would cover the running of that migration on CouchDB 1.0.

[2017-04-03 08:31] alxndrsn opened #3333 "Create a `couch2pg` couch user in default configuration"
Follow-up to https://github.com/medic/medic-projects/issues/1779

[2017-04-03 08:46] garethbowen commented on #3331
It looks like the API dependency hasn't been bumped so the e2e tests aren't yet running this migration.

[2017-04-03 08:47] SCdF commented on #3331
Man it would be great if we could get consensus on whether or not we could merge repos…

[2017-04-03 11:37] SCdF commented on #3331
PR: https://github.com/medic/medic-api/pull/137

@garethbowen take me home, country road

[2017-04-03 11:51] SCdF commented on #1650
Merged.

[2017-04-03 11:51] #1650 closed

[2017-04-03 11:52] #3331 closed

[2017-04-03 12:02] SCdF commented on #3118
Reviewed and approved. @garethbowen should take a look as well: https://github.com/medic/medic-api/pull/134

[2017-04-03 12:13] alxndrsn opened #3334 "Set user-agent header in Medic Collect"
`medic-collect` does not currently set the `User-Agent` header in HTTP requests made to servers.  This issue has recently been fixed upstream (https://github.com/opendatakit/collect/issues/167), and we should backport this fix into our builds of Collect.

Support should also be added in [`medic-api`'s `is-client-human` tester](https://github.com/medic/medic-api/blob/master/is-client-human.js)

[2017-04-03 12:13] alxndrsn commented on #3118
Worth mentioning that future versions of ODK Collect _will_ have a user-agent set.  We backport this to Medic's build, and handle that in API as well.  Issue for this at https://github.com/medic/medic-webapp/issues/3334

[2017-04-03 12:50] SCdF commented on #3251
OK I'm going to close it for now then. I think if we come across situations where this is an issue we can deal with it then.

[2017-04-03 14:19] alxndrsn commented on #3334
Open pull requests against medic-api and medic-collect; blocked by https://github.com/medic/medic-api/pull/134

[2017-04-03 15:42] sglangevin commented on #3253
@henokgetachew we have an issue for that. https://github.com/medic/medic-webapp/issues/2635

We should be getting that done within the next few iterations so that we can avoid similar issues. For now, the best thing to do is to make sure supervisors have phone numbers before creating CHWs.

[2017-04-03 16:02] SCdF commented on #3270
I'm not sure what this ticket is either. I'm wondering actually if it was opened by mistake, and should be an internal ticket? I'm going to close this: @jillrshah / @abbyad if we want to re-open it we can, it's just really not clear what it's for.

_(Also, @jillrshah it's @abbyad not @+marc, that would be someone else)_

[2017-04-03 16:02] #3270 closed

[2017-04-03 16:07] shreyakb opened #3335 "Localization for Hindi using European numerals"
Hindi users need to see all numbers and dates in regular European/Western Arabic numerals (not in Devanagari).

![image](https://cloud.githubusercontent.com/assets/7915295/24618701/908ef4e4-18b5-11e7-92bc-f77e2bda0d1d.png)

[2017-04-03 16:09] SCdF commented on #3151
@alxndrsn what is involved here? Standard configuration is a collection of app settings and forms right? How could we include a default user? Or are you suggesting we write a migration script / init check to add a gateway user if it doesn't already exist?

[2017-04-03 16:20] alxndrsn commented on #3151
I'm not fussed _how_ it's implemented, but I think there should be a gateway user set up out-of-the-box or as part of the initial setup process (I think there is a wizard for this).

[2017-04-03 16:26] SCdF commented on #2780
@michaelkohn so to fix this I think we'd be breaking another request of yours right, which is to have errors result in the app exiting, so that upstart / whatever catches them? It also potentially changes some performance dynamics.

How would you like this to work? Should any error exit out, but also any successful pull of new changes results in running refresh as well?

We should chat on slack ab

[2017-04-03 16:28] SCdF commented on #2780
(Oh, I think we should fix this. It's almost certainly really easy to do)

[2017-04-03 16:31] SCdF commented on #740
We sort of solve this now. We also seem happy with the idea that configuration etc is for desktop browsers, where as the smaller set of icons (which we don't have overflow problems with) are for mobile, reducing the need to solve this issue generically. Closing.

[2017-04-03 16:31] #740 closed

[2017-04-03 16:45] SCdF commented on #3151
@abbyad / @browndav do you two have any thoughts about this? It's hard to tell where it should live: it is something we should be adding to the standard setup script? Or is this something medic-os is supposed to do somehow?

I'm not sure how our current single admin user is setup honestly.

[2017-04-03 16:55] alxndrsn commented on #3335
As far as I can tell, this is only happening for numbers within dates.

[2017-04-03 16:55] abbyad opened #3336 "Discrepancies in date and numeric translations"
With release of https://github.com/medic/medic-webapp/issues/3282 in 2.10.3 dates are translated (with noted exception below), but we are not consistent throughout app in how we are dealing with numerals and dates. This issue will list some discrepancies and we can spawn off issues to deal with these individually as needed. The only blocker for a project is already a separate issue (#3335).

## Re

[2017-04-03 16:57] sglangevin commented on #3335
Yes, this is a request to have the numbers within dates in Arabic numerals, not Devanagari.

[2017-04-03 16:58] abbyad commented on #3335
That is correct @alxndrsn. I have explained in a bit more detail in #3336.

Can we tell momentjs to use a specific numeral system? For instance instead of passing `hi` we pass `hi-u-nu-latn`?  ([reference](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat))

[2017-04-03 17:07] SCdF commented on #3279
Uhm… this seems to literally be because the language is never changed except when you save the user model.

I guess this hasn't come up much because in real world scenarios people are rarely swapping languages on the same computer / browser.

[2017-04-03 17:07] sglangevin commented on #3336
What happens if the project is using Bikram Sambat dates for outgoing SMS? Will those show up correctly in the Reports tab as Bikram Sambat dates? If we are going to consider an app-wide strategy for translation, we may want to consider splitting out the handling of dates so that we have more flexibility in how they display.

[2017-04-03 17:09] alxndrsn commented on #3336
No Hindi users will be using bikram dates AFAIK.

[2017-04-03 22:03] #3294 closed

[2017-04-03 22:07] garethbowen commented on #3335
LGTM, thanks @alxndrsn .

[2017-04-03 22:27] garethbowen commented on #3118
Back to you @alxndrsn

[2017-04-03 22:53] garethbowen commented on #3325
Code review please @alxndrsn

Mostly minor refactoring but the big thing is when rendering a non-generated contact form we use `Enketo.render` instead of `Enketo.renderFromXmlString` which means it gets translated and cached just like report forms.

[2017-04-04 01:23] garethbowen commented on #3186
@smbuthia I've updated the repo now so hopefully it's much easier to find things!

[2017-04-04 01:23] #3186 closed

[2017-04-04 01:50] garethbowen commented on #3292
Documentation review please @SCdF

[2017-04-04 03:12] ngaruko commented on #2266
LGTM

[2017-04-04 03:27] ngaruko commented on #3070
Are we able to AT this at this stage @abbyad @sglangevin ?

[2017-04-04 03:55] garethbowen commented on #3090
Code review please @mandric

[2017-04-04 03:56] garethbowen commented on #3234
Assigning to @mandric to reproduce.

[2017-04-04 04:08] ngaruko commented on #3089
This issue is still pending/happening but has AT label. Shall we move it to ready and leave the open #3209
@garethbowen @sglangevin ?
![image](https://cloud.githubusercontent.com/assets/6979995/24641114/d99a1146-1950-11e7-903b-038318d30f59.png)

[2017-04-04 04:12] ngaruko commented on #3107
Are you able to confirm that this was fixed @garethbowen ? Is there a need to AT this?

[2017-04-04 04:23] garethbowen commented on #3107
@ngaruko Yes this needs AT.

[2017-04-04 04:30] ngaruko commented on #3089
Will move this one and will do full AT with  #3209

[2017-04-04 04:34] garethbowen commented on #3336
In app_settings we have a date format and a datetime format which are hardcoded and not translated. These are passed straight to moment.js so I suspect we can't translate hardcoded words. Instead I think we should move these settings into translations so each language can define a different value, which will allow for translating hardcoded words, but also allow for completely different date format

[2017-04-04 07:05] SCdF commented on #3292
Merged.

[2017-04-04 07:05] #3292 closed

[2017-04-04 10:46] alxndrsn commented on #3334
Cross-platform multilinguistic review, please!  @garethbowen I think the JS code should be fairly obvious after your review of #3118; @abbyad you're the collect maestro.

[2017-04-04 11:07] alxndrsn commented on #3325
I can't work out if media loading will now be broken.  If you've checked it already then these changes are probably good; if not, then worth some thought.

[2017-04-04 14:04] henokgetachew opened #3340 "API Uncaught Exception: Can't render headers after they are sent to the client"
Webapp version: 0.4.16
Instance: safesimbaglung.app
[code]

[2017-04-04 15:49] #3152 closed

[2017-04-04 16:37] smbuthia commented on #3186
@garethbowen awesome. Thanks!

[2017-04-04 17:27] abbyad commented on #3151
Doing this via a script is not ideal since creating users with medic-api also creates a Place and Person for the user -- it was not designed for creating gateway users.

If we want to create the gateway user automatically then it could be done by concierge. @browndav can provide more details on that.

Alternatively we could just have a seed image for Standard that is a snapshot of an instance that

[2017-04-04 17:30] browndav commented on #3151
I'd prefer we not use images of preconfigured instances; that'll cause reuse of (locally-configured) service account passwords and host keys. We already create a number of CouchDB users for use by local services; is wouldn't be that hard to add a `gateway` user if we can document the requirements here.

[2017-04-04 21:25] garethbowen commented on #3334
LGTM

[2017-04-04 21:33] garethbowen commented on #3325
My reply is in the PR. Thanks!

[2017-04-04 21:33] #3325 closed

[2017-04-04 21:34] garethbowen commented on #3325
For AT: check that rendering enketo forms works as expected for creating and editing, on the tasks, reports, and contacts tabs.

[2017-04-04 23:07] #3334 closed

[2017-04-04 23:09] #3304 closed

[2017-04-04 23:27] garethbowen commented on #3299
Related: #3254

[2017-04-05 02:12] garethbowen opened #3341 "Update npm dependencies"
Now that 2.11.0 has been branched we can bump the npm dependencies of webapp, api, and sentinel.

[2017-04-05 02:43] ngaruko commented on #3248
LGTM

[2017-04-05 08:16] SCdF commented on #3340
@henokgetachew can you fill this out with more information please? What were you doing? What actions cause this? Can you replicate it, and if so, how?

[2017-04-05 08:59] alxndrsn opened #3342 "Force form "internalId" to match database ID"
Having two different IDs is a minefield.  If we can force (perhaps at form-upload time) that these values match, it will simplify things.

This may be best done at form upload time.

[2017-04-05 09:25] alxndrsn commented on #3096
N.B. initial proposed use is:

[2017-04-05 09:32] henokgetachew commented on #3340
@SCdF this instance was experiencing outages and this information was from the logs.  I'm not yet sure what has been causing it.  I will look for what types of requests API was handling when this happened.

[2017-04-05 13:12] SCdF opened #3343 "Confirm logout in CouchDB 2.0, in medic-os, works properly"
Locally, I did the following:
 - Boot CouchDB 2.0
 - Close the Fauxton login page that automatically starts (on MacOS at least) without logging in to it
 - Opened Medic, logged in as admin, then clicked logout

What followed was a constant loop between `GET _session` and `DELETE _session`. It looked like this code: https://github.com/medic/medic-webapp/blob/master/packages/session/session.js#L137-

[2017-04-05 13:12] SCdF opened #3344 "Notes / Changelog for CouchDB 2.0"
Ticket to build up / add notes about the CouchDB 2.0 change. Documentation, change log etc. We can dump stuff here for now and put it in better places later.

[2017-04-05 13:14] derickl commented on #3251
@SCdF I've just experienced this issue after upgrading from 2.9.1 to 2.10.3 (on a local VM) and uploading the app_settings from lg-uganda.

[2017-04-05 14:36] SCdF commented on #3279
OK I misread the code: we are setting it on login, we're just using a different function.

The _actual_ [problem](https://geekwhisperin.files.wordpress.com/2009/09/bug-vs-feature.jpg) is that we cache the language in a cookie, instead of checking the user settings each time. I imagine we do this for performance?

This also means another [bug](https://geekwhisperin.files.wordpress.com/2009/09/bug-v

[2017-04-05 14:36] SCdF commented on #3279
@garethbowen over to you. Your thoughts about relying on UserSettings would also be welcomed.

[2017-04-05 14:40] SCdF commented on #3344
Major technical changes we should note:
 - Supports clustering transparently now. Our app should work with clusters without issue, because we have intentionally purged aspects that don't cluster from our application. This may interest tech leads who maintain large databases
 - the `seq` val has now changed. If you are relying on it anywhere it is no longer a long / numeric value, but is now a gian

[2017-04-05 15:05] SCdF commented on #3344
Fauxton is also worth mentioning in general. There are some oddities with it. Most alarmingly, seq against databases doesn't show useful values and can't be relied upon. The rest are just a general note that the UI / UX is a bit wonky. I'm not aware of it missing any features.

[2017-04-05 17:08] henokgetachew opened #3346 "Improve Gardner's Log file size for API"
Here's the current configuration for gardener logging: https://github.com/garden20/gardener/blob/master/lib/logger.js#L56-L57.
Maximum files of 3 and maximum size of 1MB is very low.  Specifically for Medic API, we've been losing logs because of this.  In one instance the 1MB was getting filled up in 15 minutes.  We should increase the maximum size to the hundreds of MBs.

[2017-04-05 17:11] henokgetachew opened #3347 "Improve gardener's log rotation"
Instead of deleting the files, the logs should be compressed and stored for a specific period (e.g. 30 days).  Since it's a text file, the files would not take that much space and it would make sense to keep logs for at least a month.

[2017-04-05 17:13] alxndrsn opened #3348 "Create smoke tests for Android app"
On travis, start the android app in emulator and start webapp.  Run through a/some scenarios, e.g.

1. log in to the app
2. check that the tasks screen is displayed

[2017-04-05 18:36] sglangevin commented on #3089
This should be working on an instance with upgraded Medic OS. Where did you test?

[2017-04-05 18:37] sglangevin commented on #3107
This needs to be AT-ed on a server with updated Medic OS.

[2017-04-05 18:39] sglangevin commented on #3070
This should be tested on the cloned/upgraded version of the instance where it was originally reported, if possible. We should coordinate with @bishwas-medic

[2017-04-05 19:35] SCdF commented on #3251
@derickl that is interesting. FWIW the migration that Gareth mentions near the top of this thread is super old (from 2015!) so you definitely already had it in 2.9.1 already.

Which `app_settings` did you upload?  The one in medic-projects?

[2017-04-05 19:38] SCdF commented on #3346
Or, if possible / easy, just log absolutely everything (ie just standard out) and leave it to the OS to do rotation / zipping / cleaning.

[2017-04-05 19:39] SCdF commented on #3347
IMO it should be the OS' job to do this, we should just be able to push to standard out and let linux deal with it

[2017-04-05 19:41] derickl commented on #3251
@SCdF, yep. From medic-projects.

[2017-04-05 19:46] SCdF commented on #3251
Well that's just the weirdest. So what app settings did you have before that?

And so for clarity (clarify where I'm ??? or wrong):
 - Had 2.9.1 installed on a local medic-os VM, with the ??? app settings and some? / no? data
 - Upgraded (via one click / gardener / etc?) to 2.10.3
 - Ran `./scripts/upload_app_settings.sh lg-uganda/app_settings.json` ??
 - Then logged in and found no permissions wh

[2017-04-05 19:51] derickl commented on #3251
That's right.

- Initial install on VM was v2.8.X which was then upgraded to 2.9.1 (a while back)
- I had the default settings.
- Handful of reports on the local VM
- One-click upgrade to 2.10.3
- Ran `upload_app_settings`
- Found a blank permissions page (even after logging out and back in)

[2017-04-05 20:08] SCdF commented on #3251
By the default settings you don't mean LG-Uganda right? You mean just whatever the app comes with?

It's incredibly weird to me that it would do that, because as I understand it you uploading lg-u would overwrite any incorrect permissions with those ones.

Odd. I will try to reproduce tomorrow

[2017-04-05 21:50] sglangevin opened #3349 "Introduce our own markup which will be substituted for tel links and can have `<output>` embedded inside"
Spawned from #1554 which @alxndrsn determined could not be fixed directly. Instead of the original fix, we'd like to go with the first option that was suggested. So this would allow us to do something like
` ____tel:<output value="/issue-1554/phone_number"/>____`

[2017-04-05 23:50] garethbowen commented on #3279
Big long braindump on the PR - happy to discuss in person.

[2017-04-06 07:17] SCdF commented on #3151
@alxndrsn can you document the requirements for @browndav. It sounds easy and like a nice thing to smooth over, so scheduled.

[2017-04-06 07:32] alxndrsn commented on #3151
I think this should do it:
[code]

[2017-04-06 08:13] derickl commented on #3251
Default app settings - whatever the app come with.

[2017-04-06 08:36] SCdF commented on #3251
@derickl but the permissions looked right when it was on 2.9.1? Or you're not sure / don't remember?

[2017-04-06 08:43] derickl commented on #3251
@SCdF not sure

[2017-04-06 09:11] henokgetachew commented on #3251
I'm not completely sure about this but the original instance Bishwas reported about might have first been configured with 2.9 and updated to 2.10 as well.

[2017-04-06 10:55] SCdF commented on #3251
Steps:
 - Check out 2.9.1 in both webapp and api (based on submodule commit)
 - Have a clean medic db and `grunt dev` into it
 - Run API until migration completion
At this stage if you log in as admin and look in permissions you see an empty permission list.
Then:
 - Check out 2.10.3 in both webapp and api (based on submodule commit)
 - Run `grunt dev` again, pushing the new webapp up
 - Run API u

[2017-04-06 13:15] derickl commented on #3251
@SCdF

[code]

[2017-04-06 13:24] SCdF commented on #3279
OK I'm going to drop this one.

I have now spent too much time on this, relative to my understanding of its importance. Someone else is welcome to pick it up if they want, but I'm not feeling it. I was hoping it would be a quick win, but it got to yak shave territory very quickly, and there are more important pieces of work to do IMO.

Brain dump:
 - We don't want to get rid of the language cookie

[2017-04-06 13:46] derickl commented on #3251
@SCdF It works on the 2nd upload.

[2017-04-06 14:22] SCdF commented on #2180
I did some force pushing to rebase, so for clarity here is the PR: https://github.com/medic/medic-sentinel/pull/127/files

[2017-04-06 14:38] SCdF commented on #3257
In terms of logging people out, CouchDB uses HMAC, so while we need to test this, I think if we migrate the secret key then 1.x sessions will be valid on 2.0.

[2017-04-06 17:09] abbyad commented on #3335
Seems to work well for numbers across the app, except for labels like this one:
[code]

![image](https://cloud.githubusercontent.com/assets/789512/24766600/f4c61eae-1ac9-11e7-9bb7-cb7a0f1f354b.png)

If this is an unrelated problem I can open a new issue.

[2017-04-06 17:12] abbyad commented on #3335
This is a translation issue as that label should be `MONTHS`.

[2017-04-06 17:12] #3335 closed

[2017-04-06 17:35] abbyad opened #3350 "False positive error uploading translations"
The import of a properties file succeeds to update the translations, but there is always this error:
`Error submitting modal TypeError: Cannot read property 'push' of undefined`

Followed by a `Possibly unhandled rejection: undefined` when the modal is closed.

![image](https://cloud.githubusercontent.com/assets/789512/24767369/ba123272-1acc-11e7-864f-044f2f2c7f7b.png)

Tested on 2.11.0-beta.1 and

[2017-04-06 18:04] abbyad commented on #3000
The very first time I tested this two people were created:
- [doc 1](https://clone-barefoot.app.medicmobile.org/_couch/_utils/document.html?medic/4e8b44624f528af64152afa72128ebb8)
- [doc 2](https://clone-barefoot.app.medicmobile.org/_couch/_utils/document.html?medic/4e8b44624f528af64152afa72128dbde)

The docs are practically identical, even the `reported_date` is the same down to the ms. The only

[2017-04-06 18:06] abbyad commented on #3335
This seems to work well. Will get our Hindi readers to test as well before moving to ready. cc @shreyakb

[2017-04-06 18:07] abbyad commented on #3297
@shreyakb can you please test this and report back here?

[2017-04-06 18:14] abbyad commented on #3118
@smbuthia, can you please test this with the 2.11 beta?

[2017-04-06 18:17] abbyad commented on #3301
Wasn't able to reproduce with 2.11.0-beta, so moving to Ready.

[2017-04-06 18:23] abbyad commented on #3262
Can create and edit users, but not delete them.

`PUT https://clone-barefoot.app.medicmobile.org/_users/org.couchdb.user%3Atest 403 (Forbidden)`
`Error submitting modal Object {data: Object, status: 403, config: Object, statusText: "Forbidden"}`

Tested using 2.11.0-beta.

[2017-04-06 18:25] abbyad commented on #3262
This issue was about creating users, not deleting them so I'll leave it to @sglangevin to decide what the intended behaviour is here. Do we want to let any user that has these permissions to edit and delete other users, only create users, or only create and edit users? If it is the latter, then we can close this issue and move it to Ready.

[2017-04-06 18:27] abbyad commented on #3262
For sanity check, here are my permissions:
![image](https://cloud.githubusercontent.com/assets/789512/24769638/2d78c962-1ad5-11e7-84f2-e46e96d0ecc4.png)

[2017-04-06 18:30] sglangevin commented on #3262
I think this is sufficient for satisfying the request as now PMs will be able to create and edit users. This will be resolved once we improve our roles and permissions.

[2017-04-06 18:30] #3262 closed

[2017-04-06 18:35] abbyad commented on #3311
Moving to Ready since #3301 is resolved, which was a symptom of this issue.

[2017-04-06 19:38] mandric opened #3351 "log errors to the database with stack traces using source maps"
It's pretty crucial that we do useful error handling/logging in the app so we can tell when things are broken.  If an exception is thrown in the browser it's not very useful because we don't know what (unminimized) line in the code is throwing it.  We should have clients saving useful debug data and replicate back to the server so we can investigate problems we otherwise don't know exist.

Somethi

[2017-04-06 20:11] abbyad opened #3352 "The value from `jr:choice-name()` can be stale (again)"
Resurgence of https://github.com/medic/medic-webapp/issues/3281 in 2.11 after working in 2.10.3. Tested using the same form as original issue.

[2017-04-06 20:26] alxndrsn commented on #1472
A fun tool for checking password strength: https://www.grc.com/haystack.htm

Something like this, with a min length 8 and min score 60 looks ok: https://stackoverflow.com/questions/948172/password-strength-meter

We may want slightly different rules depending on a user's role (although this could be worked around - e.g. change password first and then change role).

[2017-04-06 20:50] alxndrsn commented on #3352
Tested locally, or on a deployed server?  I _suspect_ this is due to stale `node_modules/` caused by re-use of version numbers in the enketo lib :~(

[2017-04-06 20:56] abbyad commented on #3352
Tested on a clone of a production server that was upgraded to `2.11.0-beta`. Will DM you the details.

[2017-04-06 21:11] alxndrsn commented on #1472
I recommend that this password complexity checker is implemented in the Users configuration UI in webapp.

[2017-04-06 21:59] alxndrsn commented on #3352
Out of date node_modules is still possible.  I will check on the affected instance.

[2017-04-06 22:24] garethbowen commented on #3234
I came across this on https://clone-barefoot.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/add/issue_3281

Could be a browser specific issue or a race condition.

[2017-04-06 22:39] garethbowen commented on #3350
I haven't managed to reproduce this but I suspect it's caused by [this line](https://github.com/medic/medic-webapp/blob/master/static/js/services/properties.js#L26) as it's the only `push` I could easily find. I suspect this could be a problem if using the `translation_key` but trying to update the `messages` property in settings. Needs more investigation.

[2017-04-06 22:54] garethbowen opened #3354 "Cannot render form in Firefox"
Rendering any form fails with

[code]

That line number corresponds to this [XSLT service line](https://github.com/medic/medic-webapp/blob/master/static/js/services/xslt.js#L24):

[code]

[2017-04-06 22:55] garethbowen commented on #3288
This works locally but fails in travis, probably because of #3354

[2017-04-06 22:56] #3352 closed

[2017-04-06 23:19] mandric opened #3355 "only show app Update dialogue when specific design doc is changed"
When I'm doing bulk edits or manual migrations I will temporarily install a view (and a unique design doc) to help manage the data that I need to update.  When I do this the app triggers the app Update dialogue even though I didn't change the design doc the app uses.  The listener should be tweaked to only show the update dialogue when specific doc ID's are changed:
[code]

[2017-04-07 03:42] shreyakb commented on #3297
Top accents/dots are still cut off on barefoot.app.medicmobile.org (FWIW, its fixed and looks good in the clone instance - screenshots below) @abbyad :

Barefoot:
![image](https://cloud.githubusercontent.com/assets/7915295/24784717/177866c0-1b72-11e7-9d15-ac3161c66265.png)

Clone:
![image](https://cloud.githubusercontent.com/assets/7915295/24784711/08d3b8c2-1b72-11e7-9b0f-6c183163ee84.png)

[2017-04-07 03:56] shreyakb commented on #3335
Looks good in 2.11.0 on the clone instance @abbyad

Clone:
![image](https://cloud.githubusercontent.com/assets/7915295/24784962/c4c9563a-1b73-11e7-9481-df5865f00cf5.png)

Barefoot:
![image](https://cloud.githubusercontent.com/assets/7915295/24784884/3c3f6c0a-1b73-11e7-9442-53b709ccf0a2.png)

[2017-04-07 07:43] SCdF commented on #3000
@abbyad can I get some reproduction steps please (I'm aware you've been able to reproduce it, but I mean, can you list what you did specifically?)

[2017-04-07 07:59] SCdF commented on #3351
So let me see if I can guess what this would entail, and you can tell me where I'm wrong:
 - Anywhere where we would console.error, we would want to take that package of data, potentially along with some other data that is not evident unless you're on the phone (chp name, exact code version, maybe tz / dt, potentially a tiny collection of state such as whether or not they are online etc) and packa

[2017-04-07 08:37] SCdF commented on #3000
@abbyad my coffee just kicked in: this ticket is about adding a patient id to created person documents. The work on this ticket doesn't actually involve creating person document at all. You can see the crux of the work here: https://github.com/medic/medic-sentinel/blob/master/transitions/generate_patient_id_on_people.js

I'm going to re-close this, since there is nothing wrong[1] with this work, a

[2017-04-07 08:37] #3000 closed

[2017-04-07 08:38] SCdF opened #3356 "Two person documents were created when only one should have been"
Transplanted from: https://github.com/medic/medic-webapp/issues/3000#issuecomment-292258336

---

The very first time I tested this two people were created:
- [doc 1](https://clone-barefoot.app.medicmobile.org/_couch/_utils/document.html?medic/4e8b44624f528af64152afa72128ebb8)
- [doc 2](https://clone-barefoot.app.medicmobile.org/_couch/_utils/document.html?medic/4e8b44624f528af64152afa72128dbde)

[2017-04-07 08:38] SCdF commented on #3356
@abbyad as I instructed on the other ticket, can you add reproduction steps please.

[2017-04-07 10:03] michaelkohn commented on #2780
To add some context to future readers, `couch2pg` retries (indefinitely?) when certain errors happen.  These errors are logged in the .log file, but we don't have an easy way to notify someone if there is an error.  Since we are now running `couch2pg` in Upstart, we can surface errors to Slack if `couch2pg` dies, the problem is, `couch2pg` seldom/never dies, it keeps retrying.

If `couch2pg` comes

[2017-04-07 10:26] smbuthia commented on #3118
@abbyad we are currently in training sessions but I'll try and test this by evening my time.

[2017-04-07 11:33] henokgetachew commented on #3240
This has been taken care of last week by @alxndrsn

[2017-04-07 11:33] #3240 closed

[2017-04-07 11:42] henokgetachew commented on #3241
This has been taken care of last week by @alxndrsn

[2017-04-07 11:42] #3241 closed

[2017-04-07 13:38] abbyad commented on #3335
Thanks @shreyakb, moving to Ready.

[2017-04-07 13:42] abbyad commented on #3297
Thanks @shreyakb, moving this issue to Ready.

[2017-04-07 14:56] abbyad commented on #3336
This is the number of visits: `contact.profile.visits.of = {{count}} of {{total}}`, or in this case the Hindi `{{total}} में से {{count}}`

I was just pointing out that even when the numbers in a date field were translated to Devanagari, the ones in relative dates were not, which is somewhat expected because we were not translating digits anywhere else in the app, except those done by moment.js (w

[2017-04-07 15:15] abbyad commented on #3352
Seen to be working again in 2.11.0-beta.2. Moving to Ready.

[2017-04-07 15:25] SCdF commented on #2180
@garethbowen can you review the PR above please?

Notes:
 - I still want to manually test this, please don't merge (this is why I'm still assigned and it's also active).
 - You probably want to look at this commit by commit, as opposed to the PR in one big go
 - When I merge it I will probably `rebase -i` to clean up the different commits, merging some of them and not others, and then merge withou

[2017-04-07 15:29] SCdF commented on #2180
(btw I'm not necessarily sold on the "system transitions" concept. I'll mull it over on the weekend)

[2017-04-07 15:41] abbyad commented on #3118
Thanks @smbuthia, I'll do some testing then in the meantime.

So far I have tested in 2.11.0-beta.2 and this does not yet work. Reopening for investigation.

[2017-04-07 17:31] alxndrsn commented on #3349
Perhaps:
[code]
This could then be converted at widget init-time to:
[code]
With the following binding in the widget init:
[code]

[2017-04-07 18:10] abbyad commented on #3349
Using the link notation from markdown is a nice touch.

I imagine this would still allow for some styling as a button when creating the XLSForm? For example: `[<span style='background-color: #CCCC00; padding: 1em; text-decoration: none; '>Call this patient</span>](tel:${phone_number})`. Although I am not sure that that CSS would work as intended though given that it is nested in another `span` and

[2017-04-07 23:56] sglangevin opened #3357 "Add sync status indicator for offline users (mobile and web)"
Add an indicator to the hamburger menu so that users know when they last synced data and whether or not they have any data that needs to be synced. No specific count of documents is required at this time. More information in design spec here: https://docs.google.com/document/d/1fHrXcZZexM4DiXlEvABsYnM8upHN0IKBxMNkkXj8n8E/edit

Zeplin Files:
https://app.zeplin.io/project.html#pid=57d311edb055084578

[2017-04-07 23:56] sglangevin commented on #1849
Closing in favor of #3357.

[2017-04-08 00:09] sglangevin opened #3358 "can_logout permission no longer works as expected"
Seen on v2.10.3. Restricted users were given the `can_logout` permission but they cannot access the logout button from the Android container. Using container version 0.2.3. Not sure if this is a web app issue or an Android container issue (cc @alxndrsn)

[2017-04-08 09:33] alxndrsn commented on #3358
Is the logout option available for the same user when accessing via web?

[2017-04-09 00:40] amandacilek commented on #2522
Proposed changes to widgets here: https://docs.google.com/a/medicmobile.org/document/d/1_CrLQXy_P0OobjyWoMEOZgNVcJRkIvVd-35wgFuUkLg/edit?usp=sharing

Proposed changes to page layout here: https://docs.google.com/a/medicmobile.org/document/d/1mddzTrBV3QNctYKal2eGxWV5CNOUCYFEcDIQM4NrzQk/edit?usp=sharing

Tried to clearly explain but please review and let me know if you have any questions.

[2017-04-09 00:51] sglangevin commented on #3358
It was always available when accessing via web - we weren't able to block it there.

[2017-04-09 21:39] garethbowen commented on #3358
As far as I can tell `can_logout` is never used, instead we detect whether the user is on android or in the webapp.

Related: #1714

[2017-04-09 22:15] garethbowen opened #3359 "Merge api and sentinel into webapp in git"
As discussed in [this doc](https://docs.google.com/document/d/1bUfGjviRxWRsbi_z0BXPbmqBfSXzLhPGgUsRZw6hpPs/edit) we've decided to merge the api and sentinel repos into webapp so long as the git histories can be retained.

Do the repo merge and where desirable merge or raise further issues to merge tests, dependencies, gruntfiles, and anything else you can think of.

[2017-04-09 22:18] garethbowen commented on #3359
Node modules that are required at runtime will have to be bundled up for publishing so will have to somehow end up in the api or sentinel directory respectively. It's probably best to leave these dependencies unmerged, but I think most if not all of the dev dependencies could be merged into a single root level package.

[2017-04-09 23:16] garethbowen commented on #2180
I'm sold on system transitions! Love it! A bunch of comments on the commits (you may need to click "show outdated" to see them all). Back to you!

[2017-04-10 01:39] garethbowen commented on #3354
The current [medic-enketo-xslt](https://github.com/medic/enketo-xslt) build is [failing on travis](https://travis-ci.org/medic/enketo-xslt/jobs/216954087) with

[code]

[2017-04-10 01:49] garethbowen commented on #3354
@alxndrsn Can I hand this one over to you? My best guess is the error in the build is the same as the browser but I can't find a decent error message in either...

[2017-04-10 04:42] garethbowen opened #3360 "Futon privilege escalation"
Shadow ticket for https://github.com/medic/medic-projects/issues/1807

[2017-04-10 09:02] estellecomment commented on #3219
Documented in medic-docs : https://github.com/medic/medic-docs/blob/master/configuration/variables_in_messages.md

[2017-04-10 11:23] alxndrsn commented on #3349
Implemented using the standard markdown links.  Inside notes, any link with HTML inside will be treated as "live", and handled by javascript.  Other links will be handled as before.

[2017-04-10 11:56] SCdF commented on #2180
As this change is pretty transparent to users (I'm not even going to document that this transition exists and is disable-able) I think I'm happy to roll with it for now, as we can back out of it easily later.

However, thinking about it over the weekend, I wonder if we want it to be even more integrated into how transitions work, as opposed to being just a transition that runs by default.

Specifi

[2017-04-10 12:22] #3354 closed

[2017-04-10 12:22] alxndrsn commented on #3354
(Already merged.)

[2017-04-10 14:16] abbyad commented on #3261
Created [add_hidden_attributes.js](https://github.com/medic/medic-projects/blob/ab706be97a3a205dc8035a0a9fea13063e54e8e5/scripts/add_hidden_tags.js) to specify in the XForm which fields are to be hidden. It uses the JSON notation from the meta file in the original post, but the mechanism for hiding the fields is still in the XForm. This means that the fields to hide are noted in the submission, an

[2017-04-10 14:16] #3261 closed

[2017-04-10 15:01] SCdF commented on #2180
Merged.

To summarise this feature for AT:
 - When documents are written to the server, either via replication or directly, a sister info document is created or updated
 - This document is in the `medic` DB, and is named `foo-info`, where `foo` is the id of the document in question
 - This info document (currently) contains the first replication date, as well as the latest replication date. It als

[2017-04-10 15:01] #2180 closed

[2017-04-10 15:18] estellecomment commented on #3020
Looks like an encoding problem, with UTF-8 not being read as UTF-8 : http://stackoverflow.com/a/16024449

[2017-04-10 15:51] abbyad opened #3362 "The `update_notifications` transition is not working as expected"
Reported in https://github.com/medic/medic-projects/issues/1813, the `ON` and `OFF` forms are not getting auto responses, nor are they muting/unmuting schedules.

I was hoping this was a simple config issue but was not able to find the source of the problem. I have put further notes in the original issue.

[2017-04-10 16:00] michaelkohn commented on #2180
@SCdF A couple questions....

- What time zone is the sister doc in?
- If you delete a doc, does it's sister doc get deleted?
- Did we end up doing https://github.com/medic/medic-webapp/issues/2180#issuecomment-274588285 as well?  And if not, how much additional work is that?
- Is there an environment I can have a look at that has some testing data on it?

[2017-04-10 16:36] sglangevin commented on #2180
@ngaruko please make sure you liaise with @michaelkohn for AT on this issue.

[2017-04-10 16:38] alxndrsn commented on #3349
Welcome back :¬)

[2017-04-10 18:18] sglangevin commented on #3358
It's possible that it was because I was using the unbranded Medic Mobile app and not a partner-branded app, but I'm not sure. We'll probably need to fix this before LG upgrades to v2.10+, otherwise all CHPs will be able to log out.

[2017-04-10 18:21] sglangevin commented on #3357
This is required for an upcoming deployment and a long-standing feature request from our active deployments.

[2017-04-10 20:45] garethbowen commented on #3354
Works for me!

[2017-04-10 20:52] garethbowen commented on #3358
I don't think so. My understanding (and the description of this issue) is that nobody in android can ever log out. This was done for LG and I'm fairly sure hasn't regressed. This issue is about allowing some users on android to log out via a permission.

[2017-04-10 22:30] sglangevin commented on #3358
Right, sorry, got distracted from the issue at hand.

[2017-04-10 22:51] garethbowen commented on #3288
Code review please @SCdF

I made a change to utils to be more strict WRT error reporting which broke a bunch of tests so please check that my fixes make sense.

[2017-04-11 01:05] garethbowen commented on #3190
Also update transition messages such as `notifications.messages`

[2017-04-11 01:05] garethbowen commented on #3362
Related to #3190

[2017-04-11 01:12] garethbowen commented on #3053
Looks like this has been reviewed. Closing.

[2017-04-11 01:13] #3053 closed

[2017-04-11 01:25] #3090 closed

[2017-04-11 01:25] browndav commented on #3119
Thanks for the comments. Henok and I are hopefully going to make some major improvements to those scripts soon. I've used this about 150-some times during upgrade testing and it's worked well. Marking as ready, and will work with @henokgetachew to address the comments ASAP.

[2017-04-11 01:28] browndav commented on #3209
This is resolved in the latest `medic-os` master, which will be going out to all production instances within the next two weeks. The update process will replace the entirety of the `bootinit` scripts in `/boot` as well as the `sudoers` configuration beneath `/etc`.

Moving to ready.

[2017-04-11 01:28] #3209 closed

[2017-04-11 07:04] SCdF commented on #2180
It's just `new Date()`, dependent on the server, so UTC.

No. This was less an intentional decision and more a result of how transitions work (they do not get run over deleted documents).

No, medic-couch2pg didn't change. We can talk about exactly what you want, and what it achieves over doing a join

alpha.dev is an environment that runs on anything that is merged to master. As long as sentinel

[2017-04-11 07:35] SCdF commented on #3288
Back to you @garethbowen

[2017-04-11 08:00] estellecomment commented on #3349
Cool, check out if `.hidden` will work, and then LGTM. Thanks!

[2017-04-11 08:09] alxndrsn commented on #3349
I think `.hidden` will work, from looking in the `inbox.css` bundle.  But I've got no idea where it gets defined...  It may be from bootstrap, in which case all good.  If you're not already onto this, I can check later.

[2017-04-11 08:10] alxndrsn commented on #3349
I just read your further comment on the PR - I'll switch to `.hidden`, thanks!

[2017-04-11 08:37] estellecomment commented on #3020
I wasn't able to reproduce this, so I'm not completely sure which part is doing this.
Replaced `•` with `\2022`.
http://stackoverflow.com/questions/5316545/libefore-content-%E2%96%A0-how-to-encode-this-special-character-as-a-bullit-in-a

Let me know if it's worse. :)

@alxndrsn please review!

[2017-04-11 09:37] SCdF commented on #3251
Permissions are working fine.

The real issue is rendering the list:
![image](https://cloud.githubusercontent.com/assets/583851/24902082/faae2ac0-1ea0-11e7-9088-d91a0da54dbb.png)
This is because api has a default config which is being written, and that default config has a duplicate in it.

https://github.com/medic/medic-api/pull/139

@garethbowen take a look

[2017-04-11 10:44] alxndrsn commented on #3020
@estellecomment The change looks good, but I recommend you test this with @abbyad - it's likely that this is caused by Windows encoding, so I doubt I'd have any more luck than you in recreating.

[2017-04-11 10:47] #3349 closed

[2017-04-11 11:30] garethbowen commented on #3251
Wow...

[2017-04-11 11:38] #3288 closed

[2017-04-11 12:24] estellecomment commented on #3073
To be sure I get this right : @garethbowen is this what you mean? Changes from [current version](https://github.com/medic/medic-docs/blob/master/user/message-states.md) are in italics.
cc @alxndrsn

Event | webapp state | gateway status
------|---------------|---------------
Report comes in | scheduled | ---
Due date to send the message passes | pending | ---
Gateway polls webapp **~and gets the m

[2017-04-11 12:55] abbyad commented on #3020
I'll test when this gets merged to alpha. Sharon and Bede have also seen it, which means it was seen by at least one person not on Windows as well.

[2017-04-11 13:06] michaelkohn commented on #2635
This may have some impact on analytics.  Curious what level of nesting we will be removing.

In the example below where `type = 'person'`, would we be...
(a) Removing all contents in the curly brace (just leaving the `_id`); or
(b) Would we just be removing the element pointed at by the arrow (`{parent,parent}`)

If (b), would we remove that element altogether? Or would we replace it with the `_id

[2017-04-11 13:15] mandric commented on #2635
Pretty sure any parent or contact properties would just be a string with a UUID in it.

[2017-04-11 13:15] SCdF commented on #2635
@michaelkohn Gareth can give the most correct answer as he's doing the work, but as I understand it we'd be effectively doing option `a`, except that the entire value of `parent` would be the id (ie not `parent: { _id: 'foo' }` but instead `parent: 'foo'`).

[2017-04-11 13:36] estellecomment commented on #3302
This source is probably clearer : http://unicode.org/reports/tr15/#Normalization_Forms_Table

It gets really hairy with characters that have more that one "accents", e.g.
http://unicode.org/reports/tr15/#Multiple_Mark_Figure
I don't think this happens with devanagari? @bishwas-medic ?

I would vote for NFK* over NF* because "In the NFKC and NFKD forms, many formatting distinctions are removed" : h

[2017-04-11 13:44] estellecomment commented on #3302
Waaaaait if a dumbphone sends a certain encoding, and we normalize it and send it back, we might send back an encoding that the phone can't display...?
In which case normalizing is not so good. We should just echo whatever encoding was used.
@bishwas-medic does that sound sane?

Issues we want to solve:
 - sending SMS replies which a phone can't display -> keep the same encoding, no normalization

[2017-04-11 13:47] estellecomment commented on #3020
Merged to master, @ngaruko can you AT, since you've seen it happening too?

[2017-04-11 13:47] #3020 closed

[2017-04-11 13:49] estellecomment commented on #2118
Documented in https://github.com/medic/medic-docs/blob/master/configuration/variables_in_messages.md#variables-you-can-use-todo

[2017-04-11 13:49] #2118 closed

[2017-04-11 13:52] estellecomment commented on #3066
I still agree with myself (who filed this) that it should be fixed. Scheduling.

[2017-04-11 14:04] abbyad commented on #3362
This is in fact (partly) a config issue, and medic/medic-projects#1813 can be resolved for the time being by reverting to the older way of defining messages with `message`, not `translation_key`.

The larger issue of ON/OFF forms not working as expected is still valid, and not fully resolved by #3190.

## Messages appear as deprecated, but are in fact required
![image](https://cloud.githubusercont

[2017-04-11 14:23] SCdF commented on #2780
I added a  `COUCH2PG_RETRY_COUNT` env var you can use, which will indicate how many times we want to successively fail before giving up on retrying and exiting.

I also changed how we determine whether or not to run the extra mat view code to include situations where we're not 100% sure if the prior run was successful. Specifically, first run, and if this run follows a run that errored.

[2017-04-11 14:24] SCdF commented on #2780
@michaelkohn these changes can be found in the 1.1.1 release.

[2017-04-11 14:36] SCdF commented on #3350
@abbyad do you really mean *every* time? If so can you provide (privately of course) a server and a file that I can run the test on myself?

[2017-04-11 14:39] SCdF commented on #667
@mandric was this supposed to be added to the milestone?

[2017-04-11 14:54] abbyad commented on #3350
Happens 100% of the time for me. Will send you details.

[2017-04-11 14:58] abbyad commented on #3350
Reproduced by selecting a language, exporting the language file, and importing the same file (with or without edits).
Tested using Chrome 56 on Windows, and the file has Unix LF.

[2017-04-11 15:03] abbyad commented on #3356
The only steps to reproduce are:
- submit a form that creates a person (eg `N Marc`)
- hope it reproduces it for the sake of investigating the issue

I'll share the instance privately so that you can see the config.

[2017-04-11 15:08] abbyad commented on #3356
Thought I'd add that you will only know if it is reproduced from the People tab, not the Reports tab. Test with a unique name then search the People to see if you have two with that name.

[2017-04-11 15:15] #2465 closed

[2017-04-11 15:21] mandric commented on #2297
Is this still an issue/problem?

[2017-04-11 15:28] mandric commented on #1601
Is this still an issue/problem?

[2017-04-11 15:29] bishwas-medic commented on #3362
@abbyad regarding the validations and ID not found errors not showing up, it is happening even when the `message` object is present: https://github.com/medic/medic-projects/issues/1825

[2017-04-11 15:31] mandric commented on #1322
Should we close this?

[2017-04-11 15:32] mandric commented on #979
Can we close this?

[2017-04-11 15:34] abbyad commented on #3362
Thanks @bishwas-medic, just tested that and you are right, that is a problem. I will update the comment above to include that as another way the forms don't behave as expected.

[2017-04-11 16:51] alxndrsn commented on #3249
Appending all status updates to an event stream (couch/flat file/whatever) could make for very easily-parsable data.

[2017-04-11 18:03] henokgetachew commented on #3173
I haven't been able to get time this week to get to this.  Reassigning you @browndav

[2017-04-11 18:19] garethbowen commented on #2635
@michaelkohn @SCdF @mandric I'm still prototyping but I think we'll have to have a list of all ancestors, so `parents: [ "a", "b", "c", ... "x" ]`. The structure may change from this but IDs of all ancestors will be available in the doc.

[2017-04-11 18:20] garethbowen commented on #1322
Closing - let's do it when we have a use for it.

[2017-04-11 18:20] #1322 closed

[2017-04-11 18:29] garethbowen commented on #3118
One small readability change requested then merge away!

[2017-04-11 19:09] estellecomment opened #3367 "Triage script : pick issues by last action date"
Anything that hasn’t had a comment for X months gets triaged : close if irrelevant, otherwise the triage bot has refreshed date by commenting, so leave it.

[2017-04-11 19:12] garethbowen commented on #3367
Be sure to limit to `y` issues per user per iteration.

[2017-04-11 19:15] garethbowen commented on #3073
@estellecomment Yeah that looks good. Just an FYI that it's `api` that is polled and sets the status and replies and so on, not `webapp`, but that's a technical detail.

[2017-04-11 20:31] abbyad opened #3368 "The `sys.missing_fields` label is not being translated"
The export of the translations shows `sys.missing_fields = Missing or invalid fields: {{fields}}.` yet the app shows `sys.missing_fields`:
![image](https://cloud.githubusercontent.com/assets/789512/24929458/f844d9c2-1ed3-11e7-9546-cd870fc91a2f.png)

Tested on 2.11.0-beta.2

[2017-04-11 20:56] garethbowen commented on #3368
@abbyad What's the config? `translation_key` or `messages`? The former is probably not supported yet.

[2017-04-11 20:57] garethbowen commented on #3368
Actually that comment doesn't make sense. Ignore me.

[2017-04-11 21:42] sglangevin opened #3369 "Results page CSS messed up in v2.11"
Issues (as seen in screenshot below, from lg.dev on v2.11.0-beta.2):
- All text appears bold
- Icons are indented too far, overlapping with text (see Diagnosis & Treatment)
- List items (Diarrhoea for 4 days - 1 week) are not aligned correctly (the bullet point appears to be behind the text)

![image](https://cloud.githubusercontent.com/assets/1286381/24932099/e1eb4e9a-1ec4-11e7-8dfc-6fe08e71925d.