[2016-07-25 14:38] alxndrsn opened #2563 "Icons wrong on analytics stock widget"
# Observed

<img width="1169" alt="screen shot 2016-07-25 at 16 35 48" src="https://cloud.githubusercontent.com/assets/191496/17105069/ed43f82a-5285-11e6-8913-6528197325e0.png">

# Expected

<img width="1174" alt="screen shot 2016-07-25 at 16 36 38" src="https://cloud.githubusercontent.com/assets/191496/17105109/0f165ac4-5286-11e6-8a19-7743c77d4696.png">

[2016-07-25 14:54] alxndrsn opened #2564 "stock widget shows time-period selecter before a place has been selected"
<img width="716" alt="screen shot 2016-07-25 at 16 52 06" src="https://cloud.githubusercontent.com/assets/191496/17105660/6f5f29a4-5288-11e6-97cc-390720990cb8.png">

[2016-07-25 15:01] alxndrsn opened #2565 "Back button is broken on analytics stock widget"
# Observed

After browsing to the analytics stock widget and selecting a place, pressing the browser back button take you to the previously-viewed tab, or even off medic mobile completely (if that was the previous history item).

# Expected

I would expect the browser button to return to the place-selection screen from the report screen.  This expectation might change if the place selection become

[2016-07-25 15:04] alxndrsn opened #2566 "No loader shown when loading locations on Analytics Stock widget"
# Observed

On browsing to the Stock Monitoring widget, there is a noticeable lag while different parts of the sceen load:

## 1
<img width="521" alt="screen shot 2016-07-25 at 17 01 36" src="https://cloud.githubusercontent.com/assets/191496/17105926/8d9e930e-5289-11e6-987d-851ed670b0c8.png">

## 2
<img width="523" alt="screen shot 2016-07-25 at 17 01 42" src="https://cloud.githubusercontent.com/a

[2016-07-25 17:09] sglangevin commented on #2409
@alxndrsn I know the requirements and would be happy to go over this. I can give more info on where this would be configured.

[2016-07-25 17:45] SCdF commented on #2554
Just one question for Mr. @alxndrsn

[2016-07-25 18:10] mandric commented on #2534
Yeap should have assigned it.

[2016-07-25 18:11] mandric commented on #2534
Also will probably be part of a bigger sentinel views refactor/consolidation #2537

[2016-07-25 20:00] michaelkohn commented on #2541
I would like to think that there will be a fair amount of re-usability on indexes, though my understanding is that it also depends on what is happening up-stream.  We only really have 3 or 4 index-able base objects anyway (the couchdb table which has just one field of the raw json, and a few meta-level matviews).

We can index JSON in the couchdb table, but even for the same use case, my understan

[2016-07-25 20:20] SCdF commented on #2541
@michaelkohn is there ever stuff like sorting or filtering in clipfolio? That would require special indexes?

[2016-07-25 20:37] SCdF opened #2567 "Add datestamps to medic-analytics logging"
We use loglevel, and there is a plugin that will allow us to add datestamps at the front, which would be swell. It would also mean we can get rid of some parts of log messages where we log out the date.

[2016-07-25 20:55] michaelkohn commented on #2541
Not in addition to what we've already built into our queries.  We build the queries that KlipFolio executes and any additional filtering or sorting is done client side / from the presentation layer.

[2016-07-25 21:02] garethbowen commented on #2539
Security critical information (facility id and permissions) are stored in the _users db as well as the medic db. The information is in the medic db so we can replicate it locally and show different parts of the UI depending on what the user is permitted to do. We cannot stop users changing data in their own pouchdb so theoretically they could make themselves full access users and see the full UI.

[2016-07-25 21:06] garethbowen commented on #2534
Looks good.

[2016-07-25 21:06] #2534 closed

[2016-07-25 21:18] mandric commented on #2567
Fwiw this is how we do it in [sentinel](https://github.com/medic/medic-sentinel/blob/master/lib/logger.js).

[2016-07-25 23:01] diannakane commented on #2522
@garethbowen: @michaelkohn and I did some whiteboarding.

Can we have a dotted line to show that 90% is a point on the bar, not the end of the bar?

We think that by including counts of on-time visits vs. late visits will make it clear that these visits are "done" (10 out of 100 sounds like you still have 90 left to do, especially with the white space between the count and the goal). We played wit

[2016-07-25 23:34] garethbowen commented on #2522
I find it a little confusing to see percentage targets with a goal line and count targets without one. I also think it's unnecessarily wordy to repeat the title of the widget as part of the status count, and unnecessary words lead to confusion. I've made a little mockup with a dotted goal line on counts as well, and used the "x of y" wording which is more obvious.

![count](https://cloud.githubuse

[2016-07-26 00:23] diannakane commented on #2522
The issue with the one above is that my target is a % but it doesn't tell me my % to compare to the goal, so we are asking them to do that math.

The 0/0 and 18/18 bars feel OK, but in "14 of 20," it's unclear that I have completed 20 visits. The white space on the right looks like I still have 6 visits left to complete -- it looks like progress towards, not percentage of. If we could know the num

[2016-07-26 00:37] garethbowen commented on #2522
Which small changes are those?

[2016-07-26 00:44] browndav opened #2568 "Muso: Data Import Procedure"
Determine if any changes to `medic-webapp` or `medic-api` are needed to satisfy the requirements of https://github.com/medic/medic-projects/issues/562. If so, create a checklist below. If not, follow https://github.com/medic/medic-projects/issues/562 and close this when it completes.

[2016-07-26 08:23] SCdF commented on #2541
@michaelkohn right so to be clear, are you saying klipfolio works by running your view, downloading all data over to its servers, and then any kind of filtering or sorting it deals with?

[2016-07-26 08:24] #2520 closed

[2016-07-26 08:43] SCdF commented on #2554
lgtm

[2016-07-26 08:43] #2554 closed

[2016-07-26 10:32] garethbowen commented on #2521
### Code review

PR at https://github.com/medic/medic-sentinel/pull/81

I've replaced the broken `last_valid_seq` view with a doc with id `sentinel-meta-data` that records the last seq the backlog processor got to. This starts at 0 so existing sites will start processing again but transitions are designed to be able to be run multiple times so other than a slight performance hit it should be fine.

[2016-07-26 10:34] garethbowen opened #2569 "Store the doc transition status in a separate doc"
Currently we store the status of transitions in the doc (as noted in #2521), but this causes performance issues with users having to replicate docs when the change is useless to them. It also makes the docs prone to conflict.

Store this information in a separate doc.

Related: #2418

[2016-07-26 10:36] garethbowen opened #2570 "Fix twilio_message transition to retry on error"
Currently an error marks the doc as being transitioned (as noted in #2521). If the twilio server is unavailable that means the messages from this doc will never be sent, unless the doc is modified later on.

Modify the twilio_message transition to retry when an error occurs.

[2016-07-26 10:39] SCdF commented on #2513
Quick review for you @mandric

[2016-07-26 11:00] alxndrsn opened #2571 "Garden market release notes are in wrong order"
Looks like it can't cope with ordering `0.4` vs `2.x`, or it sorts by date:

<img width="579" alt="screen shot 2016-07-26 at 12 52 12" src="https://cloud.githubusercontent.com/assets/191496/17135386/d6f0846c-532f-11e6-9ad2-744b48c08c99.png">

Either way, I'm not sure 0.4 and 2.x builds should both be available on this server so it's a little confusing!

[2016-07-26 11:01] SCdF commented on #2549
Yep that looks to be the case. I'll make sure the gateway user has the right permissions in the diy config.

[2016-07-26 11:02] garethbowen commented on #2571
It just loads the changes doc: https://github.com/medic/medic-webapp/blob/master/Changes.md

We can define it in any order we like.

[2016-07-26 11:05] alxndrsn commented on #2571
Presumably the 0.4 release doesn't exist on the 2.x branch and vice versa, so perhaps that file should only contain relevant releases.

[2016-07-26 11:25] alxndrsn opened #2572 "No loader showing when loading data on analytics stock report"
Loader should be shown when:
* initially loading the data for a specific location
* changing the time period for the report

[2016-07-26 12:05] alxndrsn opened #2573 "No title shown for analytics stock table"
# Observed

<img width="1169" alt="screen shot 2016-07-25 at 16 35 48" src="https://cloud.githubusercontent.com/assets/191496/17105069/ed43f82a-5285-11e6-8913-6528197325e0.png">

# Expected

<img width="1174" alt="screen shot 2016-07-25 at 16 36 38" src="https://cloud.githubusercontent.com/assets/191496/17105109/0f165ac4-5286-11e6-8a19-7743c77d4696.png">

[2016-07-26 13:33] SCdF commented on #2549
Hey @garethbowen  check out : https://github.com/medic/medic-projects/pull/566

As well as the permission fix noted above.

For me working through this raises the question of how we deal with this kind of merging now? For example, how does this scenario play out:
 - We setup client Foo
 - We then make some permissions changing to client Foo due to their requirements (1)
 - We add a new permission

[2016-07-26 14:33] SCdF commented on #2542
Gonna wait until #2521 is done, it's a large refactor and may potentially fix this

[2016-07-26 16:05] michaelkohn commented on #2541
Correct.

KlipFolio executes the query we provide it, downloads the results of that query and then has the ability to sort/filter whatever data was returned by the original query.

So if the query we configure in KlipFolio is this
-> SELECT * FROM contactview_chp WHERE NAME LIKE 'MICHAEL%'

KlipFolio will receive the results of that query and do whatever addition filtering or ordering on that data

[2016-07-26 16:34] mandric commented on #2521
Batch processing a few hundred docs at a time would be nice but probably best to leave it for next time.  LGTM

[2016-07-26 18:46] SCdF commented on #2542
Looks like #2521 fixed this!

[2016-07-26 19:00] SCdF commented on #2542
Actually looks like #2521 has broken transition functionality, so maybe this isn't actually fixed at all.

[2016-07-26 19:04] SCdF commented on #2521
Looks like this has broken transitions? If I:
 - Run couch, api and sentinel
 - have a gateway user
 - send in the following: `curl -i -u gateway:pass --data-urlencode 'message=P 4 Alice' --data-urlencode 'from=+447765902019' --data-urlencode 'sent_timestamp=1469027270' -X POST http://localhost:5988/api/v1/records`

With prior codebases, it would generate tasks, and scheduled tasks, as well as fle

[2016-07-26 19:23] SCdF commented on #2541
OK, so it sounds like we can look into multiple schemas here, something like:
 - db.couch2pg schema which is only writable by couch2pg, and contains the couchdb table
 - db.xmlforms schema which contains helper views for xmlforms support, again only writable by couch2pg
 - db.hlv schema (name is terrible, think of a better one) which is the only place tech leads / humans can write to, which is whe

[2016-07-26 21:43] garethbowen commented on #2549
Your changes look good. No we don't have a nice way of dealing with your scenario. Currently administrators have to add the new permission manually. This is usually ok because usually it's for a new feature that they may not want to switch on right away anyway.

If we're changing permissions (eg: renaming) or similar we should probably write api migration scripts to handle it.

[2016-07-26 23:30] garethbowen commented on #2461
medic-webapp: This is the main app and it includes medic-sentinel and medic-api as git submodules.
medic-gateway: This is an android app for sending and receiving SMS messages.
SMSSync: This is a deprecated version of medic-gateway
medic-api: This is the node server for controlling access to couchdb.
medic-os: This is for building a stripped down linux OS with the whole medic stack.
kujua lite: Th

[2016-07-26 23:30] #2461 closed

[2016-07-26 23:33] garethbowen commented on #2390
Closing as duplicate of #1710

[2016-07-26 23:33] #2390 closed

[2016-07-26 23:33] garethbowen commented on #2327
Closing as duplicate of #1710

[2016-07-26 23:33] #2327 closed

[2016-07-26 23:34] garethbowen commented on #1710
This has been reported 3 times now so I'm scheduling it for this milestone. It's obviously something that gets hit a lot.

[2016-07-27 00:19] garethbowen commented on #2566
Looks good.

[2016-07-27 00:19] #2566 closed

[2016-07-27 00:20] garethbowen commented on #2562
:+1:

[2016-07-27 00:20] #2562 closed

[2016-07-27 00:22] garethbowen commented on #2564
I assume this is the relevant commit? https://github.com/medic/medic-webapp/commit/6382751a108a723b284777821e8e592163115ad2

Don't forget to include the issue number in commit messages...

[2016-07-27 00:23] garethbowen commented on #2564
Looks good.

[2016-07-27 00:23] #2564 closed

[2016-07-27 00:33] diannakane commented on #2522
Sorry for the delay, @garethbowen

After spending several hours on this, @michaelkohn and I propose adding the dotted line demarcating 90% would improve clarity that the bar is showing their score against 100%, not 90%. It's clear with count targets that the goal and the bar are both 100%.

Adding the counts of on-time vs. late visits is helpful if marked as such. This is not defined in the title

[2016-07-27 01:50] browndav commented on #1800
Update: as a stepping stone, there's now a `medic-couch2pg` package in https://github.com/medic/medic-os. This was deadly easy, but there are concerns about multi-step upgrades, so I'm on the fence about whether or not we'd want to put it into production. Per a Slack conversation, @SCdF and I are going to try to reproduce the whole setup as an npm package for gardener, and either (a) succeed and u

[2016-07-27 03:00] garethbowen commented on #2516
I couldn't find a way to add it as a list item, so I added a separate button beside the label which does it. Not the best UI but we really have our hands tied here...

[2016-07-27 04:20] garethbowen commented on #2408
@sglangevin Two questions...

1. In the issue description you say "The goal is to enable a tech lead to configure different targets...". I think this is meant to say "tasks" instead of "targets", right?
2. In your opinion, which information would be useful? eg: the user's contact (where they are in the hierarchy), the user's role (chp, manager, etc), the user's facility (what they're allowed to se

[2016-07-27 09:05] SCdF commented on #2542
Looks like #2521 has fixed this for real!

[2016-07-27 09:05] #2542 closed

[2016-07-27 09:09] #1710 closed

[2016-07-27 09:21] #2549 closed

[2016-07-27 09:55] SCdF commented on #2516
Is this just my eyes being crazy, or is it not aligned properly?
![image](https://cloud.githubusercontent.com/assets/583851/17171356/44d22e0a-53e8-11e6-867c-4ec79f365851.png)
It doesn't look like it fits in the UI correctly, that it's a little too high.

Apart from that, all good!

[2016-07-27 09:57] alxndrsn commented on #2516
Looks like 1 pixel too high:

<img width="672" alt="screen shot 2016-07-27 at 11 57 09" src="https://cloud.githubusercontent.com/assets/191496/17171512/4a71e040-53f1-11e6-99b7-71293819589b.png">

[2016-07-27 09:58] garethbowen commented on #2516
Depends on your browser.

![alignment](https://cloud.githubusercontent.com/assets/2064938/17171552/473f951c-5445-11e6-9a76-eba3062cca5c.png)

[2016-07-27 10:45] alxndrsn opened #2574 "Rename "stock" widget to "reporting rates""
_Reporting Rates_ seems to be a more generic name for the _Stock Monitoring_ analytics widget.  In `0.4` it was called _Reporting Rates_ and found at `/analytics/reporting`, but in `2.x` it is not called _Stock Monitoring_ and it found at `/analytics/stock`.  It seems like the old name is more suitable and should be reverted.

[2016-07-27 10:46] alxndrsn commented on #2574
@mandric @abbyad any ideas which name is correct?

[2016-07-27 10:47] #2516 closed

[2016-07-27 11:10] bishwas-medic opened #2575 "Missing "district" selector in Reporting rates Analytics in v2.x"
The older version of webapp had a dropdown menu with the list of "districts" that was useful for quickly switching to different "districts".
<img width="740" alt="screen shot 2016-07-27 at 4 51 43 pm" src="https://cloud.githubusercontent.com/assets/13689284/17173465/c0bde360-541a-11e6-8890-78ea67b85808.png">

This will be a better option UX wise instead of putting a back button.

[2016-07-27 11:21] bishwas-medic opened #2576 "Missing option to change time unit in reporting rate analytics"
Option to change the time unit to week/month/quarter/year is missing in the v2.x version of the webapp.

Screenshot of the feature in the older version:
<img width="1120" alt="screen shot 2016-07-27 at 4 51 00 pm" src="https://cloud.githubusercontent.com/assets/13689284/17173742/547eb7fe-541c-11e6-84d1-7366b92d8778.png">

[2016-07-27 11:40] alxndrsn commented on #2576
@bishwas-medic i'd noticed this too, but assumed it was meant to be an improvement - the new UI shows 5 otions from 1 month to 5 years.

It would be good to get feedback on what is actually recommended here rather than blindly reverting to the old functionality.

[2016-07-27 12:08] bishwas-medic commented on #2576
Giving the option to users to select the unit would be better in my opinion. And since this project follows weekly reporting format...weekly denomination, which is missing right now, is a must.

Bigger year denomination like "3 years", "5 years" may not be required though. This was recommended by the partner officials in a meeting last week. Also, IIRC the old functionality was built specifically

[2016-07-27 12:51] mandric commented on #2576
There's still bugs for weekly reports. #2429 is one that should be ported and I'm working on.

[2016-07-27 13:00] abbyad commented on #2574
I don't know where "stock" came from. We have generally only referred to this as "reporting rates" in the past. Some of the monthly or weekly forms could be stock reports, but often are service reports too.

I would stick to the more generic _Reporting Rates_ until we officially decide to change it.

[2016-07-27 13:15] alxndrsn commented on #2576
@mandric related tickets all seem to be closed, so it looks like this is the one to follow for getting this working in 2.x

[2016-07-27 13:18] alxndrsn opened #2577 "Clean up dead Analytics CSS"
* remove kujua-reporting css file
* rename static/css/analytics.css to something more specific to widgets

[2016-07-27 13:20] alxndrsn opened #2578 "Sort out Reporting Rates/Stock analytics CSS"
Old styles were in `static/css/kujua-reporting.less`, but these were not properly tied to the current DOM structure.  Those styles mostly should be resurrected, and the DOM may need changing, e.g. to put tabular data in `<table>`s.

Related: #2577

[2016-07-27 13:26] abbyad commented on #2575
This may be related to a previous discussion on https://github.com/medic/medic-webapp/issues/1030#issuecomment-134804149

[2016-07-27 13:30] abbyad commented on #1032
This issue was intended as part of v0.4 testing, and now new testing is being done as part of the v2.x update. I think we can close this issue and reopen a new one if needed following the changes v2.x.

[2016-07-27 13:30] #1032 closed

[2016-07-27 13:32] alxndrsn commented on #1032
Definitely required in 2.x!  I'm filing issues for superficial stuff, but not that familiar with the functionality so it would be good if someone could go over it properly.  @bishwas-medic has also had a look, but not sure if he'd class it as thorough or not.

[2016-07-27 13:35] bishwas-medic commented on #1032
I wouldn't classify it as thorough :)

[2016-07-27 13:40] abbyad commented on #1032
I probably should have said _reopen a new one **when** needed following the changes in v2.x_

[2016-07-27 13:41] alxndrsn commented on #1032
I think we're ready for it!

[2016-07-27 13:54] alxndrsn commented on #2574
PR @ https://github.com/medic/medic-webapp/pull/2579

[2016-07-27 13:55] alxndrsn commented on #2575
Very related - thanks @abbyad

Are we deliberately avoiding the drop-downs as per this screenshot, or should we just be re-implementing the same?

<img src="https://cloud.githubusercontent.com/assets/789512/9209538/0d090ffa-4045-11e5-9007-249020483ce7.png"/>

[2016-07-27 14:08] alxndrsn commented on #2571
Any objection to the release notes only relating to the current branch?

[2016-07-27 14:22] alxndrsn commented on #2560
Duplicated at https://github.com/medic/medic-webapp/issues/2572

[2016-07-27 14:23] #2560 closed

[2016-07-27 14:23] SCdF commented on #2535
Hey @mandric, take a look at the above commit. With these changes scheduled messages which have been moved to pending show up in the view medic-gateway etc use.

[2016-07-27 14:25] alxndrsn commented on #2535
LGTM.  Is this likely to be creating problems in current 0.4 projects?

[2016-07-27 14:32] alxndrsn opened #2580 "Once viewing a stock report, clicking the area name makes area stats disappear"
# Steps to recreate

1. open analytics tab
1. choose stock report (if not already selected)
6. choose a facility
3. click on the facility's name/stats at the bottom of the screen
1. observe that the facility has disappeared

[2016-07-27 14:39] alxndrsn commented on #2580
Wow this does make the thing disappear, but since #2572 you can tell that the app is fetching data, and if you wait a while then a crazy list of facilities appears!  Not sure what this is meant to mean, but each can expand to show a list of months like this:

<img width="602" alt="screen shot 2016-07-27 at 16 38 40" src="https://cloud.githubusercontent.com/assets/191496/17179210/a6fb793a-5418-11e6

[2016-07-27 14:42] alxndrsn commented on #2578
N.B. style changes may have been made to make the stock/reporting rates screens more mobile-friendly.

[2016-07-27 16:04] SCdF opened #2582 "Upgrade to tough-cookie >=2.3.x"
When running `npm install`:
[code]

Not sure yet where this dependency comes from, may be easy or hard to upgrade.

[2016-07-27 16:05] SCdF commented on #2582
(priority IMO, though depending on who uses it and how it may not be)

[2016-07-27 16:55] SCdF commented on #2582
[code]

[2016-07-27 17:03] abbyad commented on #2457
When in the webapp, forms are _always_ send via web, even in v0.4 instance. In other words, it is not possible to complete a form in the webapp and have it sent via SMS.

This does expose the bigger issue of how to define forms in v2. Do we want to be able to define forms that will be sent via SMS as XForms? Right now the way we deal with this in projects with Medic Collect is to have a JSON equiv

[2016-07-27 17:12] SCdF commented on #2582
`request@2.74.0` and above has the correct package.

It's weird that `angular-pouchdb` uses the full `pouchdb` package, and not `pouchdb-browser` (not that it helps us if they did, tough-cookie is also used by that package).

@garethbowen what are your thoughts? How horrible is it to just edit `npm-shrinkwrap` to have the newer version of request in it (or just the newer version of tough-cookie)?

[2016-07-27 17:21] abbyad commented on #2500
I think we can get away with considering "Everyone at" to mean "Everyone directly connected to", and have this only for the top two tiers of our hierarchy:

**Top level:**
- *Everyone at District/Branch X* = the staff that directly reports to the district/branch eg all Health Facility Managers (v0.4 style hierarchy) or CHWs (v2 with Families as lowest level).

**Middle level:**
- *Everyone at Heal

[2016-07-27 18:19] waqar-ah commented on #2461
ok Thanks .. Got it my concern is medic-webapp and medic-gateway now to run complete app.  but medic-gateway not sending messages. issue is: [#2551](https://github.com/medic/medic-webapp/issues/2551)

[2016-07-27 20:11] browndav commented on #1800
Decision from a Slack call this morning with @SCdF: create system accounts (either automatically, e.g. for Klipfolio, or from `medic-credentials` for actual people) and allow `trust` authentication for those specific system groups in `pg_hba.conf`. This seems like a reasonable alternative to credential-passing, and would all end up in the `medic-rdbms` (PostgreSQL) package. Planning to do this tod

[2016-07-27 20:14] garethbowen commented on #2571
@alxndrsn Dashboard fetches this information straight from GitHub, as that's the only way to get the information for the new version without actually downloading everything yet. AFAICT Dashboard doesn't know which branch the release was built on, so it can't just fetch the Changes.md for `0.4.x` or whatever. However it does know the version number so it could look at the tag of `0.4.12` and fall b

[2016-07-27 20:36] garethbowen commented on #2582
I don't like the idea of editing npm-shrinkwrap because the edit will get overwritten silently by npm. We could set it as a build task.

I don't like forking either for obvious reasons.

Another option is to explicitly depend on the updated version but that won't work in this case because our dependencys' dependencies are too locked down so won't accept the 2.3.0 version required to resolve this i

[2016-07-27 20:52] garethbowen commented on #2577
@alxndrsn Is this ready for code review? If so, it should be assigned to someone.

[2016-07-27 21:04] sglangevin commented on #2408
@garethbowen: yes, that was a typo. We originally had tasks and targets in one issue, then split the targets part into #2409 and I didn't come back to update the original comment.

I think the contact and role would be useful - is that what we have available for form context currently? If we have the same information that is available for forms, that should suffice for now, though I haven't sat do

[2016-07-27 21:09] garethbowen commented on #2582
The minimatch warning will be fixed in the next release of jshint: https://github.com/jshint/jshint/commit/05d7a317f910e2565f079df544030c87512cdd58

Then we need to get grunt-contrib-jshint to use that release and we're golden...

[2016-07-27 22:48] garethbowen commented on #2408
Roles are complicated. We decided in a conversation on Slack to just include the user contact for now. This is consistent with forms and tasks context.

[2016-07-27 23:04] garethbowen opened #2583 "Sort out roles"
Our implementation of roles is complicated. In the UI we only allow configurers to pick one role for a user. Then behind the scenes we [map this to an array of roles](https://github.com/medic/medic-webapp/blob/master/static/js/controllers/edit-user.js#L48) and store that instead. Then, each of these roles maps to a set of permissions.

Instead, store a single role for the user which maps to a set

[2016-07-27 23:11] diannakane commented on #2583
There's an issue for this in #2368 and initial work done by @sglangevin @abbyad and I. It's being bundled within our "manager views" milestones which we will begin design work on this quarter, so will be revisited soon.

Requirements are being explored here: https://docs.google.com/a/medicmobile.org/spreadsheets/d/1_3jOJaNyFoNYlkR22V22sWmAmBI5II4iCBHenYb5SgE/edit?usp=sharing

[2016-07-27 23:13] mandric commented on #2583
Having default roles is good, but also envision a screen allowing you to define your own roles. Then permissions screen includes those new role strings you created and lets you assign permissions.  The result gets saved to app_settings.roles_permissions_map or something and then can be used in the frontend/backend like `user.hasPermission('can_configure`)` and that function would check the new per

[2016-07-27 23:15] garethbowen commented on #2583
I think #2368 and adding configurable roles are out of scope for this issue. All we need to accomplish in the short term is fixing the many to many relationship of roles. This is purely technical debt.

[2016-07-28 01:48] sglangevin opened #2584 "context_by_type_freetext view seems to run with no search term"
![image](https://cloud.githubusercontent.com/assets/1286381/17198490/6ca51ac2-542a-11e6-98a8-f5504b7ebf35.png)

This leads to the following error in the console:
![image](https://cloud.githubusercontent.com/assets/1286381/17198497/79b80710-542a-11e6-9722-38ff0dc4e67e.png)

Which comes from here:
![image](https://cloud.githubusercontent.com/assets/1286381/17198506/8d26061c-542a-11e6-9f2c-b31bf2a644

[2016-07-28 01:50] sglangevin commented on #2584
Now it seems to happen every time - sometimes before the first call to `contacts_by_freetext` and sometimes between other calls to that view.

[2016-07-28 02:00] sglangevin commented on #2584
Also, to add: you can reproduce this by going to a CHP area, clicking edit, then searching for a person in the supervisor field. Select that person and hit Submit.

[2016-07-28 03:28] garethbowen opened #2585 "Promisify DownloadUrl"

[2016-07-28 06:31] alxndrsn commented on #2571
I like option 3.

[2016-07-28 06:31] #2571 closed

[2016-07-28 08:27] SCdF commented on #2582
@garethbowen does that mean for the minmatch issue it's all dev-side anyway? (ie if it's part of jshint and grunt then that's not exposed on the server anyway right?)

[2016-07-28 10:31] garethbowen commented on #2584
Sharon and I are both having difficulty reproducing this so I'll kick it out of the iteration.

[2016-07-28 10:31] garethbowen commented on #2582
Good point regarding dev dependencies. Not an issue...

[2016-07-28 10:33] SCdF commented on #2582
So this is no longer a priority, looking at it with my eyes this time, none of those dependencies are actually used in production (two of them are dev dependencies, and the other is under sqlite which we don't use)

[2016-07-28 10:33] SCdF commented on #2582
I will still raise tickets / PRs with the various packages though, but it is not urgent

[2016-07-28 10:36] garethbowen commented on #2574
One comment regarding modifying translation keys and values. Otherwise all good.

[2016-07-28 10:44] garethbowen commented on #2577
I'm a bit surprised all that code was dead but it looks like you're right... nice one!

[2016-07-28 10:44] #2577 closed

[2016-07-28 10:46] #2563 closed

[2016-07-28 10:48] garethbowen commented on #2580
It's a breakdown of how many reports have been received for each of those months. It would make more sense if more than zero reports had been received...

[2016-07-28 10:56] #2572 closed

[2016-07-28 11:20] alxndrsn commented on #2574
Confirm translations are properly deleted before closing this.

[2016-07-28 13:18] SCdF commented on #2585
LGTM

[2016-07-28 13:18] #2585 closed

[2016-07-28 13:18] SCdF commented on #1055
@garethbowen [in the docs](https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI) they recommend a sleep time after starting xvfb, did you give that a try?

Also, apologies if this is a dumb question, but have we considered something like PhantomJS? I'm not actually aware of pros and cons regarding this. We have phantomjs in our dev dependencies alre

[2016-07-28 13:22] SCdF commented on #2582
FWIW we're also getting the minimatch warning in medic-webapp, which is lousy with its dependency. They are mostly dev side though, and the only unpatched one I'm aware of is again under pouchdb->sqlite, which we shouldn't be executing.

[2016-07-28 15:02] SCdF commented on #2582
So I took a crack at changing angular-pouchdb to use pouchdb-browser instead of pouchdb. The way they have their tests setup is not something I'm too familiar with and I couldn't get it working with my changes, but I've spent enough time on it so I'm dropping it. AFAICT none of the bad stuff actually makes it into production anyway, so it's not a big deal.

[2016-07-28 15:03] SCdF commented on #2582
Closing because it's not enough of a priority to solve via either shrinkwrap or mass forking.

[2016-07-28 15:03] #2582 closed

[2016-07-28 15:33] alxndrsn opened #2586 "extract-person-contacts migration fails"
On upgrading a clone of demo.app.medicmobile.org to 2.x, migration fails as follows:

[code]

1. it would be nice if the migration could deal nicely with this problem
2. it would be nice if either (a) the server did not come back up if the migrations do not complete successfully, or (b) there is some clearer way to know that migrations failed to complete - this was detected by strange behaviours i

[2016-07-28 15:37] SCdF commented on #2551
Hi @waqar-ah, there isn't too much to go on here. Do note that the code in `master` probably does not work well with SMS right now, and will be fixed in the coming weeks.

[2016-07-28 15:41] waqar-ah commented on #2551
Thanks for the response ... tracking **medic-webapp** issues for the resolve...

[2016-07-28 15:52] alxndrsn commented on #2586
Through Futon, I deleted the `parent` property which was causing trouble.  I now get the following error:

[code]

[2016-07-28 16:00] alxndrsn commented on #2586
This seems to be fixable by adding a `parent` field with value `null` to any facilities which this error is shown for.
So far I have done this for 7 contacts, manually with futon.

[2016-07-28 16:00] alxndrsn commented on #2586
Having "fixed" all those contacts, I now see the following error:

[code]

[2016-07-28 16:08] alxndrsn commented on #2586
Oh no, I haven't fixed them all.

[2016-07-28 16:20] alxndrsn commented on #2400
Related: https://github.com/medic/medic-webapp/issues/2586

[2016-07-28 16:23] SCdF opened #2587 "grunt test / karma:unit does not use the latest code"
`grunt test` invokes `karma:unit`, which uses code in `dist/inbox.js`. However, the code is only compiled into that file when browserify is run, which is only on the default or dev grunt commands.

We should either:
- Change karma to the actual code source files in `static/js/` instead of `static/dist`. If we're worried about browserify creating issues we could have `grunt ci` run against `static/

[2016-07-28 16:25] alxndrsn commented on #2587
Option · (the first one) sounds better to me too, mainly for the reason you state - tracking down the line that's causing a test failure is currently not easy.

[2016-07-28 16:30] alxndrsn commented on #2586
From the doc linked from #2400:

I will work to fix this migration so that it does not break contacts.

[2016-07-28 19:44] mandric commented on #2535
I doubt it's creating problems in 0.4 projects because:

- 0.4 projects don't use /api/v1/records
- smssync doesn't expect or use message uuids atm
- pretty sure the view is different and doesn't require uuids
- if scheduled messages were stuck in pending state forever we'd know about it

[2016-07-28 19:58] #2535 closed

[2016-07-28 20:58] garethbowen commented on #1055
I think PhantomJS was used for some unit tests once upon a time. Look into it - we may be able to drop that dependency.

IIRC Phantom doesn't work well for e2e tests because it's missing some fairly important bits. Also e2e tests are an attempt to mimic an end user so should be run in a browser that users use. Chrome or Firefox would be fine for now with an eye to running in both as the next step.

[2016-07-28 20:59] garethbowen commented on #2582
@SCdF Can you link to any issues in other repos so we can track them from here?

[2016-07-28 21:01] garethbowen commented on #2456
I'm promoting this to the current milestone. We're about to do a bunch of 0.4 to 2.x upgrades so migration failures are likely and we need to know about them.

[2016-07-28 21:08] garethbowen commented on #2551
@waqar-ah I think there are two problems here. I think I can track down the TypeError issue. I'm not sure about the medic-gateway issue.

Could you please raise a separate issue for that one and try and gather more information?

[2016-07-28 21:09] garethbowen opened #2588 "TypeError on Messages tab"
@waqar-ah reports:

When i try to send SMS from medic-webapp using medic-gateway it shows Errors:

[code]

[2016-07-28 21:10] garethbowen commented on #2551
I've created #2588 to cover the TypeError.

Thanks for reporting these issues!

[2016-07-28 21:10] #2551 closed

[2016-07-28 21:16] garethbowen commented on #2587
I agree option one sounds fantastic, but I think it would be very hard to implement because browsers don't understand `require` statements. That's why we run `browserify` so that we end up with something the browser will understand.

In my dev environment I run `grunt dev` constantly, so any changes are compiled into dist right away. This works well for me, but it is annoying if I forget it and wo

[2016-07-28 21:38] garethbowen commented on #2588
I think this error has to be coming from https://github.com/medic/medic-webapp/blob/master/static/js/services/message-contacts.js#L25-L35 but I can't see how.

@waqar-ah Can you provide a little more information? What browser are you using? What version of medic-webapp are you running? Can you get any more of the stack trace?

It would be great if you could find the line of code that was creating

[2016-07-29 00:08] mandric commented on #2576
Yes there is quite a bit lacking in the 2.x UI.

@garethbowen I believe you did the first round of the built-in analytics (reporting rates) refactor for 2.x.  Do you have any opinion about where this time unit select dropdown should go in 2.x.  Should we just  follow along with how 0.4 looks, filling in the gaps?  Including the filters in the top bar?  Other thoughts?

![screen shot 2016-07-28 at

[2016-07-29 04:22] garethbowen commented on #2576
It should go right beside the "last 1 month" | "last 3 months" bit just like in 0.4. I don't think we should spend much time on design but just make sure it's functionally equivalent and correct. Pretty can come later.

[2016-07-29 05:41] waqar-ah commented on #2588
OK.. i will look to it more deeply and update here

[2016-07-29 08:21] alxndrsn commented on #2456
The error above in `extract-user-settings` is likely to happen, and needs a human decision, so figuring it out ahead is helpful.

@estellecomment what is the human decision that would be needed on failure?

[2016-07-29 09:27] SCdF commented on #2582
I only raised one, https://github.com/angular-pouchdb/angular-pouchdb/issues/106, about using pouchdb-browser instead of pouchdb.

When I actually went to raise issues about upgrading request to 2.74, it seemed like a lot of effort for something that doesn't look to be a security issue for us:
 - Raise that dependency N use request 2.74
 - Wait until there is a release, and then raise that depende

[2016-07-29 14:27] sglangevin opened #2589 "Reduce lg.app server size"
Now that lg.app is stable in terms of CPU load, let's reduce the server size since we don't need as large of a server to handle the new way of replication. Assigning to Dave, who can probably add more info. Ideally we would make this change on Monday so that we can assess through next week.

[2016-07-29 14:49] SCdF commented on #1055
OK they should run locally now, just a minor change was required.

[2016-07-29 15:12] SCdF commented on #1055
(oh, I also removed phantomjs, but my brain is fried and I removed them under #2587. The two commits are https://github.com/medic/medic-webapp/commit/da6bf928179a747d1b7d657f90aed2fc693cf7ba and https://github.com/medic/medic-webapp/commit/e52bbd9c40c459d606c68624bffc9c72563cae40 )

[2016-07-29 16:15] alxndrsn commented on #2409
# TODO
* change the `user` object to be called `contact`?  this may be closer to other implementations
* clone the objects before passing to scope to prevent modification
* add a `user` object containing the user's settings? (sounds unnecessary...)

[2016-07-29 16:21] sglangevin commented on #2409
@alxndrsn agreed that the third bullet is not necessary for now. First bullet would be great, and actually I would add that if we called it `expression` instead of `context` that would also be more in line with how we do form context config.

Also, this is working correctly on alpha.dev, very exciting!

[2016-07-29 16:22] sglangevin commented on #2408
@garethbowen this seems to be working on alpha.dev. I'll do some additional testing when I get back from vacation - I want to make sure that I'm testing it the right way. But initial tests look good!

[2016-07-29 16:59] SCdF commented on #1055
@garethbowen OK it's half (sort of) done! It's time for me to sign off. Where we're at:
 - Created a branch: https://github.com/medic/medic-webapp/tree/e2e_in_ci
 - I dropped 0.12 support because the webdriver location is different and whatever. We can solve that once at least one of the versions run through
 - 5.6 **actually passes**!!! Feel free to [let your down, down…](https://www.youtube.com/

[2016-07-31 22:25] garethbowen commented on #2576
Added a couple of comments.

[2016-07-31 23:08] garethbowen commented on #2561
Nice one. Added a few style comments.

[2016-07-31 23:09] #2408 closed

[2016-07-31 23:10] garethbowen commented on #2290
This appears to be backlogged - moving it out of the iteration.

[2016-07-31 23:11] garethbowen commented on #2212
Tours are only really useful for DIY so this isn't a priority for this iteration.

[2016-07-31 23:12] garethbowen commented on #2172
This issue is backlogged so moving it out of the iteration.

[2016-07-31 23:13] garethbowen commented on #2044
This issue is backlogged so moving it out of the iteration.

[2016-07-31 23:13] garethbowen commented on #1767
This issue is backlogged so moving it out of the iteration.

[2016-08-01 00:17] mandric commented on #2537
No active work here yet.

[2016-08-01 02:46] garethbowen commented on #2537
### Code review

Two PRs: https://github.com/medic/medic-sentinel/pull/82 & https://github.com/medic/medic-webapp/pull/2591

Once I removed the duplicate and unused views there were only 6 left so I decided it wasn't worth maintaining the additional ddoc. This meant I could get rid of a lot of code, mostly in kanso dependencies. If you ignore these there are significant changes to the server initi

[2016-08-01 04:43] garethbowen commented on #1055
Some initial thoughts...

Does 6.3 reliably fail? Is it worth upping the timeout and seeing if that helps? Are you running node v6.3.1 locally? The way we check if the server is started is by scanning for the database migration success output so it's possible that a different node version is outputting it in a slightly different way. NB that as of https://github.com/medic/medic-api/commit/b807bfaa

[2016-08-01 08:22] SCdF commented on #1055
It passes for me in 6.3.1 locally, _in Chrome_.

I've never actually run them in FF (the default is Chrome): trying that now, they don't work for me in Firefox, but under any node version (I've tried v5 and v6). They fail for a completely different reason to why Travis fails. It's hard to tell if that means there is still more issues, or that's just OSX, or I have a version of FF that is too new,

[2016-08-01 08:26] SCdF commented on #1055
But OK reading your comments and looking at the code, that seems to be the main difference between 5 and 6, 5 has:

![image](https://cloud.githubusercontent.com/assets/583851/17287843/db2004ec-57c9-11e6-8bbc-2c764453d28e.png)

Whereas 6 has:

![image](https://cloud.githubusercontent.com/assets/583851/17287856/f08c2982-57c9-11e6-8a04-61652d7b3b57.png)

Looks like in 6 they may not pass data chunks

[2016-08-01 08:42] SCdF commented on #2587
Yay, that worked, both 5.x and 6.x pass in Travis. Now to add 0.12 back…

[2016-08-01 08:42] SCdF commented on #1055
Yay, that worked, both 5.x and 6.x pass in Travis. Now to add 0.12 back…

[2016-08-01 09:03] estellecomment commented on #2522
It's hard to get because the percentage target (% of on-time visits) varies when the fixed target (total num of visits) varies.
We can remove the percentage target to dissociate them:
Total number of visits : goal = 10
Number of on-time visits : goal = 9
(or conversely, Number of late visits : goal = 1 max)

It's not quite the same as the percentage target, but it's more understandable for CHWs. T

[2016-08-01 09:03] #2456 closed

[2016-08-01 09:09] alxndrsn opened #2592 "Clean up reporting rates analytics widget code"
Some code improvements suggested at https://github.com/medic/medic-webapp/commit/bef8b38b42b337550a1b05b97f7d970d498fbf2f#diff-0c347d212db96fde93787adf20d137b5L159 will make the reporting rates analytics widget's code neater.

[2016-08-01 09:09] alxndrsn commented on #2561
I think the changes you suggest have value, but are unrelated to this ticket.  I will make the changes in https://github.com/medic/medic-webapp/issues/2592

[2016-08-01 09:09] #2561 closed

[2016-08-01 09:09] SCdF commented on #2543
It's not just me! This occurred on TravisCI as well: https://travis-ci.org/medic/medic-webapp/jobs/148819836

![image](https://cloud.githubusercontent.com/assets/583851/17289103/10c4ae08-57d0-11e6-8f60-7f792284ce65.png)

[2016-08-01 09:33] #2592 closed

[2016-08-01 09:46] SCdF commented on #1055
![image](https://cloud.githubusercontent.com/assets/583851/17290183/170fab78-57d5-11e6-9f22-40c709a1db2b.png)
 ^-- why FF doesn't work for me locally. Oh well.

[2016-08-01 09:46] estellecomment commented on #2458
reverting this, since it's too simplistic.
We should review transitions more generally, and see which ones apply, in https://github.com/medic/medic-webapp/issues/2463

[2016-08-01 09:49] SCdF commented on #1055
@garethbowen take a look at https://github.com/medic/medic-webapp/pull/2593 and feel free to merge if you're happy with it!

[2016-08-01 10:33] #2458 closed

[2016-08-01 10:36] estellecomment commented on #2456
@alxndrsn You need humans when you are lowercasing usernames and get a conflict because the lowercase version already exist. You probably need to rename one user to something else, or delete one of the two, depends on the setting.

[2016-08-01 10:43] garethbowen commented on #1055
LGTM

[2016-08-01 10:45] SCdF commented on #1055
Merged

[2016-08-01 10:45] #1055 closed

[2016-08-01 10:45] alxndrsn commented on #2456
have we found clashes in multiple projects and resolved them in different ways?

[2016-08-01 10:51] estellecomment commented on #2586
@alxndrsn I went through a similar process for ChristianAid2 : the docs are not always standard-format (we don't have a standard) and some are just broken (e.g referencing unknown parents).

I made it break when it hits problems because I think it's a good time to be fixing the data. I could make it auto-fix, instead of breaking and fixing by hand, but I don't know if the breaks are common, if the

[2016-08-01 10:53] alxndrsn commented on #2586
What is correct behaviour in this case?

[2016-08-01 10:56] estellecomment commented on #2586
Depends. In the CA2 case, the parent was the same as an existing facility, except with a different _id. So I just changed the _id. But if the bad parent has been deleted for instance, then you should remove the parent field altogether. You could try automating the first case, but don't know how easy it would be or how often it would be happening.

[2016-08-01 11:23] alxndrsn commented on #2586
I only see one case; what's the second one?

How did you identify that they were the same facility?  Just check for matching names?

[2016-08-01 12:31] estellecomment commented on #2456
I only worked on CA2.
I don't see a unique reason across projects for why the username clash it would happen.
Why is it happening in the project you're upgrading?

[2016-08-01 12:36] estellecomment commented on #2586
Yes, by matching name.
The second case is where the parent was deleted completely, so you can't find it at all and should replace with null.

[2016-08-01 12:41] SCdF opened #2594 "medic-webapp takes a long time to start on Chrome 53.0.2785.34 beta (64-bit)"
Chrome.

When loading or reloading medic-webapp the app sits and the loading animation for a long time while Chrome pegs a CPU.

Could just be my computer, could be something has changed in master recently.

[2016-08-01 13:02] alxndrsn commented on #2456
No idea!

[2016-08-01 14:20] alxndrsn opened #2595 "extract-person-contact migration creates self-referential data"
AFAICT the `extract-person-contact` "creates loops", and it shouldn't as per https://github.com/medic/medic-api/blob/master/migrations/extract-person-contacts.js#L41:

[code]
when migrated creates a self-referential `district_hospital`:
[code]

[2016-08-01 14:58] estellecomment commented on #2400
Actually, now the doc with the most stuff is this one :
https://docs.google.com/document/d/1kYUEX08slCivSmP5D1Cbl602ho2g89V1_WbGJZSiSeY/edit#

[2016-08-01 15:18] SCdF commented on #2594
So this is slow for me in Chrome, but not in Chromium or Firefox. It's not clear what it's doing: I'm thinking it's a bug in Chrome (I am on the Chrome dev channel).

@alxndrsn / @estellecomment you're both on OSX: do you have this problem with the code in master?

[2016-08-01 15:20] SCdF commented on #2500
OK, so to summarise @abbyad , it sounds like it should work like this:
 - Hit "Send Message", the modal pops up with To and Message text entries
 - Entering a name in To does an ajax search for a contact with that name (like other uses of Select2 throughout the app)
 - If the selected contact is not a person (ie is an area / facility etc) then *somehow* allow them to make that send to everyone. Ne

[2016-08-01 15:22] alxndrsn commented on #2594
No problem here (Chrome 51)

[2016-08-01 15:49] SCdF commented on #2594
FWIW I'm on 53.0.2785.34 beta (64-bit).

[2016-08-01 16:38] SCdF opened #2596 "Audit views, remove ones that aren't being used, consolidate where possible"
There seems to be a lot of views that aren't used by the code, or are perhaps very similar to others that are also being used. Views aren't free, so we should remove ones that aren't being used, and consolidate where possible.

FWIW I'm going to be checking usages in webapp, api, sentinel and data. If there are other repos or usages then I guess we'll find out later…

[2016-08-01 17:04] diannakane commented on #2500
I second @abbyad's suggestion.

Following this structure, for lowest level I would expect the head of
households that the CHW serves to also be included in a "Everyone at CHW
Area" message.

On Mon, Aug 1, 2016 at 8:20 AM, Stefan du Fresne <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07

[2016-08-01 17:07] diannakane commented on #2522
I'm not I know what you mean, @estellecomment. Why can't the percentage
target remain at 90% and the personal performance percentage change based
on the number of visits completed?

I think 9/10 on-time is a difficult target since the actual number of
visits will vary and it will be up to the CHW to do the math of comparing
these fractions...

On Mon, Aug 1, 2016 at 2:03 AM, Estelle Comment <notif

[2016-08-01 17:08] diannakane commented on #1767
I believe we have solved this with the new People UX. You are restricted to
creating a parent place only on the left FAB and a child place only on the
right, within a parent that already exists.

On Sun, Jul 31, 2016 at 4:13 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b

[2016-08-01 17:09] diannakane commented on #2044
This issue can be closed -- it's been addressed within the new People UX.

On Sun, Jul 31, 2016 at 4:13 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medicmobile.

[2016-08-01 17:09] diannakane commented on #2172
Addressed in new People UX.

On Sun, Jul 31, 2016 at 4:12 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medicmobile.org/> +1 216 262 2204
@*M*edic <http://www.twi

[2016-08-01 17:10] diannakane commented on #2290
Addressed in new People UX -- by including this in the "edit" of the
household form.

On Sun, Jul 31, 2016 at 4:10 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.m

[2016-08-01 17:11] diannakane commented on #2212
@abbyad felt otherwise, but agreed that this doesn't need to be a dev goal.

On Sun, Jul 31, 2016 at 4:11 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medicmobil

[2016-08-01 17:22] diannakane commented on #2457
Can someone provide more insight into the reason we would want to get all
forms on XForms?

As for where to complete forms in the web app, we will be revisiting the +
button in the header redesign so I think focusing on the Action button is
the right way to go, and is consistent with how we've been dealing with
forms lately.

Since we can't submit forms via SMS from the web app, a selection modal

[2016-08-01 20:09] mandric commented on #2537
I'll let you have the pleasure of merging this one @garethbowen.

[2016-08-01 20:09] #2537 closed

[2016-08-01 20:46] garethbowen commented on #2537
Merged.

[2016-08-01 20:53] garethbowen commented on #2594
@SCdF Based on your Chrome version alone it could be related to this: https://github.com/nolanlawson/pouchdb-authentication/issues/111

Although we don't use pouchdb-authentiation it looks like it's caused by an underlying couchdb bug.

[2016-08-01 20:57] garethbowen commented on #2595
@alxndrsn I think that's the correct behaviour. You'll notice the `contact` is missing from the `contact.parent` to avoid creating an infinite loop.

[2016-08-01 20:57] #1767 closed

[2016-08-01 20:58] #2044 closed

[2016-08-01 20:58] #2172 closed

[2016-08-01 20:58] #2290 closed

[2016-08-01 21:52] garethbowen commented on #1800
Decision from Hangouts with @browndav and @SCdF this morning.

1. Bundle medic-couch2pg as a gardener managed node server
2. Add the ability to disable medic-couch2pg through configuration which defaults to disabled so it doesn't waste cpu and disk space when not needed. The node server will stay running and monitoring the configuration even when disabled.
3. Investigate improvements to gardener o

[2016-08-01 22:07] garethbowen commented on #1800
Steps to packaging for gardener:

1. Use the method described by @browndav for getting DB credentials
2. Move all other environment variables and add an additional `enable` settings to the webapp app settings. Update couch2pg to check the webapp for settings and watch for settings. Example code for this is in sentinel and api in the `config.js` file.
3. Add couch2pg as a submodule of webapp.
4. Ad

[2016-08-01 23:17] garethbowen commented on #2185
Checking dates are always stored as UTC using one of: moment.valueOf(), moment.toISOString(), Date.now(), Date.toISOString()

[ ] reported_date
[ ] scheduled task due date
[ ] enketo dates

[2016-08-02 00:26] garethbowen commented on #2185
I think the original bug is 0.4 only. They're using the lucene style query. It looks like 2.x queries correctly.

[2016-08-02 03:46] garethbowen commented on #2185
Ok. Found the bug in 2.x. Fixed it. Wrote an e2e test to prove it.

The root problem was we were adding a day to ensure the end date was inclusive, but our datetime UI widget was already setting the time to 23:59:59.999 to achieve the same result. Removing our addition fixed the issue.

This is timezone sensitive so if you ask for reports that were submitted on the 24th of January you will get tho

[2016-08-02 07:27] estellecomment commented on #2522
@diannakane
I'm suggesting the change because I think that it's a hard metric to understand, and I think that's why we're having a hard time representing it.
That's why I'm suggesting changing the metric altogether. The CHWs wouldn't do any math, they would just view this new metric.
If the CHWs do a lot more than 10 visits, then it kinda breaks down, yeah.

If we don't think it's hard to understa

[2016-08-02 07:43] estellecomment commented on #2457
Ok, so focus on the action button. Remove the "+". Deal.

forms on XForms?

@diannakane Yes! Because dealing with two different formats is twice as much work for the people configuring forms, and under the hood we have two parallel systems (thus twice as much bugs potentially...). Thus the move towards single format.
And we chose xforms over JSON because we can do many more things (rich web forms

[2016-08-02 07:44] estellecomment commented on #2457
@diannakane I'm leaving this open in case you have other points, since it's assigned to you. If not feel free to close. Thanks!

[2016-08-02 07:55] estellecomment commented on #2595
It's self-referential but not infinitely so! That's what I mean by no loops.

I.e. `districtHospital._id` and `districtHospital.contact.parent._id` are the same, but it stops there : `districtHospital.contact.parent.contact` doesn't exist.

It's unclear if that's already too much... I copied the data format in LG and BRAC, to avoid breaking existing UIs.
Agree that it's kinda weird, but storing re

[2016-08-02 08:30] estellecomment commented on #2436
Hmm, this nitpicking discussion has not disappeared, how annoying.
@garethbowen @browndav @SCdF @alxndrsn please express your opinion.

Thumbs-up this post if you think we should clean up `parent: {}` into `parent: null` (or other falsy value) when upgrading 0.4 -> 2.x.

[2016-08-02 08:31] estellecomment commented on #2436
Thumbs-up this post if you think we leave it as is and deal with variations of format in app code.

[2016-08-02 08:36] estellecomment commented on #2529
From discussion in https://github.com/medic/medic-webapp/issues/2457, we should add a link to it in Configuration pages somewhere.

[2016-08-02 08:38] estellecomment commented on #2556
Can you navigate to it by URL? Is it just the dropdown option missing?

[2016-08-02 09:01] waqar-ah commented on #2588
Error While Sending Message, message status " Scheduled "

![screenshot from 2016-08-02 13-59-10](https://cloud.githubusercontent.com/assets/19934353/17322976/818bf76a-58b9-11e6-9e8a-5b408353e512.png)

[2016-08-02 10:25] garethbowen commented on #2588
@waqar-ah Thanks for that stacktrace - it should be fixed now. It's possible it was a timing bug my commit fixes it, but I think it's more likely there's some other bug that caused it to get into an inconsistent state. It would be great if you could update to the latest commit and see if that resolves your issue or just exposes the real problem.

[2016-08-02 10:27] garethbowen opened #2597 "Create migration to remove obsolete ddocs"
We have recently deleted the `kujua-sentinel` and `erlang-filters` ddocs, however these won't be deleted in production. This means the views will continue to use CPU cycles even though no code executes them any more. Write a migration to remove these unneeded ddocs.

[2016-08-02 10:33] waqar-ah commented on #2588
I will update and test it

[2016-08-02 10:48] garethbowen opened #2598 "Promisify Message services"
MessageContact and ContactConversation

[2016-08-02 11:21] estellecomment commented on #2598
PROMISIFYYYYYY

[2016-08-02 11:44] SCdF commented on #2588
LGTM

[2016-08-02 12:22] SCdF commented on #2596
So I've deleted a bunch of views. We're also going to use this opportunity to rename views for consistency. Looking at what we have now:

[code]

Renaming that I think we want to do, as I understand it:
 - drop the use of `facility` or `faciliites`
 - `contacts` (or change to `contact`?) for emitting all contact types (`[ 'district_hospital', 'health_center', 'clinic', 'person' ]`)
 - `person` (or

[2016-08-02 12:23] SCdF commented on #2596
On to renaming.
Renaming that I think we want to do, as I understand it:
 - drop the use of `facility` or `faciliites`
 - `contacts` (or change to `contact`?) for emitting all contact types (`[ 'district_hospital', 'health_center', 'clinic', 'person' ]`)
 - `person` (or `people`?) for just the `person` type
 - `place` for contacts that are not people

Additionally, I've found that `reports` and `d

[2016-08-02 12:23] SCdF commented on #2596
Ongoing PR: https://github.com/medic/medic-webapp/pull/2599

[2016-08-02 13:32] SCdF commented on #2596
@garethbowen handing over to you just to confirm naming so I only have to do it once. We can talk your morning / my night (if I have internet at home, which I may not)

[2016-08-02 13:40] SCdF commented on #2594
It's not a couchdb issue I don't think, the issue still happens (as either admin or restricted) against localhost when couch / api is not running.

[2016-08-02 13:58] SCdF commented on #2594
Huh, it looks like the issue doesn't occur me in PROD, so that suggests either my chrome is broken for a particular URL / localhost, or it's a code change we've introduced?

Also:
 - The pause is not waiting for a request or any kind of data, Chrome actually often complains that the page is unresponsive, and the Chrome pegs a CPU, so it makes me think it's runaway JS
 - Here is a CouchDB log, anno

[2016-08-02 14:02] SCdF commented on #2597
Nice one!

[2016-08-02 14:02] #2597 closed

[2016-08-02 14:10] SCdF commented on #2594
![image](https://cloud.githubusercontent.com/assets/583851/17331526/3a6f1588-58c3-11e6-9b77-25f88102f1c5.png)

Something to do with fonts maybe?

[2016-08-02 14:49] SCdF commented on #2594
It may be a case of some pathologically bad parsing of inbox.js? I tried creating a test HTML page that just imports inbox.js and nothing else:
 - In Chrome is pegs a CPU for a long time (though not as long as a real install would I think), and then errors out due to illegal characters in some d3 stuff
 - In Firefox it *instantly* errors out at the same place as Chrome does.

I'm not sure why it's

[2016-08-02 14:57] SCdF commented on #2594
I'm dumb, it's because I didn't set my charset to utf8!

[2016-08-02 15:13] SCdF commented on #2594
OK so now I fixed the charset issue, what I did was put this file in the dist dir, and hosted it with `python -m SimpleHTTPServer`:
[code]

On Firefox that loads near instantly. On Chrome it takes forever. If you're thinking that it's actual code that's executing: it doesn't appear to be. If you add:
[code]
_(which logs, alerts, then **halts the execution of the script**)_

To the top of inbox.js

[2016-08-02 15:18] SCdF commented on #2594
There is where I'm going to stop for the day I think: I currently don't have internet fast enough to jump around installing different Chrome versions. If anyone has Chrome 52 installed it would be helpful if you could do the example noted above and report back if it's fast or slow.

[2016-08-02 16:04] SCdF commented on #2594
Yay, it looks like it's fine on Chrome 52 (stable), and is just an issue with the beta. I'll install a nightly and see if they've already fixed it.

[2016-08-02 16:08] SCdF commented on #2594
Sweet, it looks to be fixed in Chrome Canary, so it was either a Chrome regression, or my install was screwed up. Regardless of which that was, consider the issue closed!

[2016-08-02 16:08] #2594 closed

[2016-08-02 16:23] mandric commented on #2596
Yes, this makes perfect sense to me and follows along with what's published in [medic-api](https://github.com/medic/medic-api).  Also `data_record.form` can be any form (xmlform or jsonform), when it's an xmlform there is an additional property `content_type: 'xml'`, otherwise it's a JSON form.

[2016-08-02 16:23] estellecomment commented on #2383
So, the JSON forms are not shown in the Actions menu in the reports tab, because only xforms are fetched.

So I'm going to add them in, and when you click the name in the menu, you get to a modal containing medic-reporter in an iframe, for filling in the form (vs. XForms which get a real page, no change there.).
So it'll be similar to 0.4 with its "+" menu.

[2016-08-02 22:36] garethbowen commented on #2588
@waqar-ah We're in the process of setting up a Slack channel for providing better support to external contributors. It'd be great to hear about your project and see how we can help, but I can't find any contact information for you. If you'd like an invite to our Slack channel please send your email address to: gareth@medicmobile.org

[2016-08-02 23:37] garethbowen opened #2600 "Android back button doesn't work as expected"
Hitting the back button always closes the app.

This error is in the console:

[code]

This comes from trying to access the angular scope the wrong way [in the android app](https://github.com/medic/medic-android/blob/master/src/main/java/org/medicmobile/webapp/mobile/EmbeddedBrowserActivity.java#L95) as explained in #2407.

This can't be reproduced locally because angular includes additional code

[2016-08-03 03:05] garethbowen commented on #2600
The back button integration was using `scope` which doesn't exist, which was then throwing an exception, which handed back handling back to the app, which closed the app thinking the webapp was at the top level.

#2407 solved this same problem by calling a service directly, but the code invoked here was embedded in a controller so this couldn't be done easily. I ended up pulling the code into a ne

[2016-08-03 04:26] diannakane commented on #2522
I agree that it is a hard metric to understand, though as you mentioned,
that would need to be discussed with the partner. This thread was
originally started to see if we could make any small adjustments to improve
the clarity of the widget, and I'm afraid the answer might be no. Michael
and I put our heads together and made the imperfect recommendation above.
We'll definitely be revisiting this w

[2016-08-03 04:30] diannakane commented on #2457
Thanks for all the context, @estellecomment!

Interesting point about medic reporter being used for testing under the
hood. If we convert all JSON to xforms, will this testing still be needed?

"We can put a link to the standalone medic-reporter"
Will this affect any of our current SMS/JSON projects' ability to send
forms currently configured in JSON?

On Tue, Aug 2, 2016 at 12:44 AM, Estelle Comm

[2016-08-03 04:53] abbyad commented on #2457
Hey, just a private msg about this... When people say "remove the +" are we
talking about removing the message button too, or just the ability to
submit a report from there? We had gotten a lot of feedback originally to
have a high level button to be able to send a message so I would want to
make sure we consider its use before removing everyeverg under the +, if
that was the plan.

See you next w

[2016-08-03 06:38] waqar-ah commented on #2530
Also it shows this error   `WARN sms-gateway [TypeError: callback is not a function]`   in api  running log

[2016-08-03 08:35] alxndrsn commented on #2595
Thanks for the background - I guess the fix is to update the documentation in the migration to be clearer about what "no loops" actually means.

[2016-08-03 08:39] alxndrsn commented on #2556
From discussion with @bishwas-medic it looks like the bug is actually in 0.4 - _VPD Weekly Report_ should never have been shown in _Analytics_ in the first place.

[2016-08-03 08:39] #2556 closed

[2016-08-03 09:43] estellecomment commented on #2457
@diannakane

Yes. Because the users will still be sending stuff by SMS in the various weird encoded formats (`#Mary#23?#` or whatever the format is), and you'll want to check it works when you set it up.

When we go all-xform, they will have to convert their forms to xml, so no more JSON. That's the main change for them.
Interface-wise, they'll have similar features to what 2.x has right now (send

[2016-08-03 09:48] estellecomment commented on #2598
LGTM

[2016-08-03 09:51] estellecomment commented on #2596
I'd vote for avoiding `report`, it's more of a UI term, and using `xml_data_records`

[2016-08-03 09:57] garethbowen commented on #2596
`report` is a term used throughout the system to denote a doc that is bound to a form, either JSON or XML, so I'd keep using it here.

[2016-08-03 10:02] alxndrsn commented on #2600
This looks very nice 👍

[2016-08-03 10:02] #2600 closed

[2016-08-03 10:08] #2185 closed

[2016-08-03 10:32] #2598 closed

[2016-08-03 11:09] estellecomment commented on #2457
Ah, that's a good point. Good to know that there's feedback about it.

Is this for messages or reports? I hadn't considered messages, so will
watch out to not kill the feature accidentally!

There's a "Send Message" button in the Messages tab, that seems to do the
job. Did users want it to be in the top bar specifically?
It doesn't send messages in bulk, to a whole district, for instance. We
could

[2016-08-03 11:11] alxndrsn commented on #2457
Not so private anymore :p

[2016-08-03 11:13] estellecomment commented on #2457
Hehehe I was wondering how the privateness works. Twas unprivated.

[2016-08-03 13:13] SCdF commented on #2596
Another thing to consider while we're here is plurals: many of them use plurals (eg reports_by_date), but some do not (eg doc_by_type).

IMO we should remove plurals, what do you people think?

[2016-08-03 13:31] alxndrsn opened #2601 "Cannot create a user in a place without a parent"
Copying the example from https://github.com/medic/medic-api/blob/master/API_v1.md#get-apiv1users:

[code]

Removing the `place.parent` field:

[code]

Adding a `null` value for `place.parent`:

[code]

[2016-08-03 13:34] alxndrsn opened #2602 "Can crash API with call to /api/v1/users"
It's possible to crash `medic-api` by POSTING to `/api/v1/users`:

Client:
[code]

This crashes API with the following message:

[code]

[2016-08-03 13:39] alxndrsn commented on #2602
Related to #2601

[2016-08-03 14:18] SCdF commented on #2596
I've presumed a lack of plurals in my changes, but I haven't made note of ones where just a plural changes. If we want to rename to remove plurals there will be lots more, but they're clear just from reading the name.

_design/medic existing | changes to
-----------------------|-----------
delivery_reports_by_district_and_code |
delivery_reports_by_year_month_and_code |
data_records_by_year_month_

[2016-08-03 16:25] estellecomment opened #2603 "Determine if AutoCompaction is working in latest code"
Discovered while debugging https://github.com/medic/medic-projects/issues/592.
A user had large amounts of data, and running compaction by hand reduced it to half the size (320MB to 143MB)
[code]

We should have autocompaction on : https://github.com/medic/medic-webapp/blob/master/static/js/services/db.js#L43

Related : https://github.com/medic/medic-webapp/issues/2434

[2016-08-03 16:26] estellecomment commented on #2603
If it requires a temp fix, we could add a "Compact" button on the About page (suggestion by @mandric )

[2016-08-03 16:30] estellecomment opened #2604 "App can run out of allowed disk space, even when there's free space left on phone"
Discovered during https://github.com/medic/medic-projects/issues/592

There are space limits for offlined apps. One user with 1200 families (which is 3-4 times more than usual) hit it.
Others may hit it later?

Looks like with our old webview, we can't request more quota. Googling results here:
https://github.com/medic/medic-projects/issues/592#issuecomment-237182409

[2016-08-03 18:00] diannakane commented on #2457
Now that it's out in the open ... :)

I agree that we need to make it really easy for all users to send messages and submit reports. I remember that feedback and think that's where it was coming from. I am a fan of having some app-wide way to do this and will keep that in mind as we redesign the headers this quarter. It hasn't been in any of our recent versions for awhile, and losing it feels more

[2016-08-03 19:56] mandric commented on #2576
Code Review Round 2...

[2016-08-03 20:52] garethbowen commented on #2596
I'm happy with plurals. Really I'm on the fence, but making fewer changes sways me.

[2016-08-03 21:03] garethbowen commented on #2603
It would be good to test this with the latest alpha as we updated to the latest pouchdb which fixed some bugs in this area.

[2016-08-03 21:06] garethbowen commented on #2576
@mandric I'm confused - that commit looks identical to the first one?

[2016-08-03 21:48] garethbowen commented on #2601
Response 1 is correct. Response 3 is covered by #2602. I'm not sure if response 2 is correct or not - the validation was clearly added intentionally. Is this a sensible use case?

[2016-08-03 21:56] garethbowen commented on #2602
### Code review

[Commit 1](https://github.com/medic/medic-api/commit/41decac8ebcb2114f85493708717ea6645fb442c): Server utils is already printing out the error message so we don't need to do this twice
[Commit 2](https://github.com/medic/medic-api/commit/ce2c1d694585b49c041696aac16cfe33581b5065): The response should definitely not contain a stack trace or other information that could expose inform

[2016-08-03 22:06] mandric commented on #2576
Look at the PR.

[2016-08-03 22:06] garethbowen commented on #2576
Ahh thanks!

[2016-08-03 22:08] garethbowen commented on #2576
Awesome work! Merge when ready.

[2016-08-03 23:30] #2576 closed

[2016-08-04 01:16] garethbowen opened #2605 "Underscore prefixed fields fail JSON submission to "reports" api"
@henokgetachew reported getting a 500 when submitting a form using medic-collect.

From the API logs:

[code]

This was found to be caused by the form having a field named `__version__`. This is a couchdb error caused by having a `_` prefixed property at the root of the document.

Firstly all submitted fields should end up in a `fields` property and therefore not at the root of the document so thi

[2016-08-04 02:13] garethbowen commented on #2215
I think this might be fixed by #2100 . Closing for acceptance testing.

[2016-08-04 02:13] #2215 closed

[2016-08-04 02:16] garethbowen commented on #2230
Working for me too. Closing for acceptance testing.

[2016-08-04 02:16] #2230 closed

[2016-08-04 02:17] garethbowen commented on #2214
JSON forms are shown correctly in the filter and filtering on JSON forms works as expected.

[2016-08-04 02:17] #2214 closed

[2016-08-04 02:26] garethbowen commented on #2213
I installed the base generic-anc settings and forms and schedules worked as expected. Closing for acceptance testing.

[2016-08-04 02:26] #2213 closed

[2016-08-04 02:40] garethbowen commented on #2263
Related: #2500 #2547

[2016-08-04 02:48] garethbowen commented on #2491
Wow: http://stackoverflow.com/questions/18487056/select2-doesnt-work-when-embedded-in-a-bootstrap-modal

[2016-08-04 03:40] garethbowen commented on #2530
Yes this is broken - the "sms-gateway" controller calls a `create` function on the "records" controller with the wrong number of parameters. I'll prioritise this now.

[2016-08-04 07:22] estellecomment commented on #2603
Ok. The problem above was on lg.app, webapp v.2.7.2

[2016-08-04 07:31] SCdF commented on #2491
Yay another select2 issue crushed! Good job!

[2016-08-04 07:31] #2491 closed

[2016-08-04 07:31] SCdF commented on #2491
Yay another select2 issue crushed! Good job!

[2016-08-04 09:03] alxndrsn commented on #2601
I think so - how else would you create a program-wide administrator account?

[2016-08-04 09:19] #2602 closed

[2016-08-04 09:23] estellecomment opened #2606 "<deleted>"

[2016-08-04 09:33] SCdF commented on #2606
To be clear right, Y4s are still being used by CHWs right? As in, if there is a new feature in a later webview we're not able to rely on it?

[2016-08-04 09:34] estellecomment opened #2607 "Allow chrome-inspecting on prod medic-android"
We only allow chrome-inspecting the webview on debug build of medic-android :
https://github.com/medic/medic-android/blob/master/src/main/java/org/medicmobile/webapp/mobile/EmbeddedBrowserActivity.java#L52

This means partner's apps are not debuggable. We can't diagnose their problems. Change that.
(unless there's some security implication I'm not thinking of)

[2016-08-04 09:40] estellecomment commented on #2606
Yeah, I suppose the first wave of CHPs have Y4s, and then they ran out and switched models. Something to figure out!
 - how many L5s and W3 vs. Y4?
 - are they on android 5+ ?

[2016-08-04 09:40] alxndrsn commented on #2607
Will this impact application performance?

[2016-08-04 10:25] alxndrsn commented on #2596
I vote for plurals, unless a view is expected to return only a single doc.

[2016-08-04 10:26] alxndrsn commented on #2596
Favourite view name: `report_by_form_year_month_clinic_id_reported_date`

[2016-08-04 10:27] alxndrsn commented on #2596
What is `total_clinics_by_facility` used for?!

[2016-08-04 10:28] SCdF commented on #2596
https://github.com/medic/medic-webapp/blob/master/static/js/services/child-facility.js#L22

[2016-08-04 10:29] alxndrsn commented on #2596
I don't understand the use of `ordered` in `contact_by_ordered_name`.

[2016-08-04 10:38] SCdF commented on #2596
After discussion, renamed `contact_by_ordered_name` to `contact_by_type_index_name`, which is hopefully clearer. It's a weird view…

[2016-08-04 11:46] estellecomment commented on #2607
Just downloaded the LG app, whose URL is on https://github.com/medic/medic-projects/issues/189
And I can debug it just fine.
So I'm confused what that DEBUG flag is then.

[2016-08-04 12:18] estellecomment commented on #2607
Nope, was using wrong app (not sure what I did). LG prod app is not debuggable.

[2016-08-04 13:22] SCdF commented on #2596
Relating to `facilities` being renamed to `contacts_by_type` and thus conflicting with an existing view (but with different returned values):
 - I'm pretty sure the only place that view is used is in medic-api, in [users.js#getFacilities](https://github.com/medic/medic-api/blob/master/controllers/users.js#L79)
 - That call has `include_docs:true`, and only exposes the included docs from that funct

[2016-08-04 13:32] SCdF commented on #2596
Hold on it looks like it actually is used, initially it looks like it was only used in tests. It's just confusingly written.

[2016-08-04 13:37] estellecomment opened #2608 "Display "about" stats on first-load wait page"
Otherwise if you have a problem with your first load, you are stuck on the spinner, and you can't see for instance how many docs you have in DB.
Useful for debugging.

[2016-08-04 14:59] estellecomment commented on #2604
Ran the experiment of running out of space, and then freeing space back again, logs here : https://github.com/medic/medic-projects/issues/592#issuecomment-237570399

The one thing we can do is spot the "Database connection is closing" errors, and prompt the user to do something.
This error happens in other situations though, so you'd need to check for free space to decide if that's the problem.
Bu

[2016-08-04 15:40] SCdF commented on #2596
@garethbowen , here are some PRs for you:
 - https://github.com/medic/medic-webapp/pull/2599
 - https://github.com/medic/medic-api/pull/91
 - https://github.com/medic/medic-sentinel/pull/83
 - https://github.com/medic/medic-data/pull/16

Some notes about the webapp PR:
 - You may want to check out each commit individually, as re-ordering the views in lib/views.js makes that file somewhat unreadabl

[2016-08-04 16:08] mandric opened #2609 "refactor medic-data"
Pretty sure most of medic-data should be replaced with sets of data that is saved in medic-projects/diy or elsewhere and imported with medic-import.
- Some of the builds take longer than an hour to run and reach the travis limit so they fail
- Written in interest of time so lots of one-off code that can be replaced with more generic code now
- medic-sentinel, medic-api and medic-webapp have change

[2016-08-04 16:19] SCdF commented on #2596
Talking to @mandric about medic-data:
![image](https://cloud.githubusercontent.com/assets/583851/17409528/9517ff68-5a67-11e6-83f9-7cc4cb3e913b.png)

So no worries about the broken build! :-)

[2016-08-04 20:51] garethbowen commented on #2603
Yeah, it would be good to test on 2.8.x

[2016-08-04 21:48] garethbowen commented on #2596
Looks pretty good. One bug commented in the medic-webapp PR.

Through no fault of your own it's really hard to review, but I'm sure we'll find any mistakes in acceptance testing... Merge when ready.

[2016-08-05 00:25] mandric commented on #2601
A program-wide admin account should use type `national_admin` or `district_admin` no?

[2016-08-05 00:26] mandric commented on #2601
The minimum hierarchy is 3 levels, `district_admin` does not require a parent, but `health_center` and `clinic` does.

[2016-08-05 00:34] mandric commented on #2568
@browndav when is this due?  And do we have the data to import?

[2016-08-05 00:38] #2521 closed

[2016-08-05 00:44] #2513 closed

[2016-08-05 12:52] estellecomment commented on #2603
Ha.
My 328MB of app data is now 150MB, a couple hours later, without me having done anything.

Either compaction is happening but slowly, or App Manager reports wrong app size.

[2016-08-05 12:54] estellecomment commented on #2603
(or installing storage-usage branch of medic-android compacted the data, but that seems unrelated)

[2016-08-05 15:49] SCdF commented on #2596
Merged.

[2016-08-05 16:26] SCdF opened #2611 "Disable Erlang support"
We no longer use it, and it's kind of a security hole.

[2016-08-05 16:27] SCdF commented on #2611
@alxndrsn as discussed.

[2016-08-05 16:28] alxndrsn commented on #2611
Glad this is in medic-projects!

[2016-08-05 16:29] alxndrsn commented on #2611
Should there be an associated change to `local.ini`?  https://wiki.apache.org/couchdb/EnableErlangViews

[2016-08-05 16:34] SCdF commented on #2611
That's exactly what this code is doing. Why yes, you *can* change local.ini via the HTTP API! WHY WOULD THAT BE A BAD IDEA!?!?!

[2016-08-05 16:56] alxndrsn commented on #2611
Standard webscale feature, AFAIK

[2016-08-05 21:38] browndav commented on #1122
In `medic-os`'s `master` branch as of b9bff608085c82d2b69355f09c780a93a0aec444.

[2016-08-05 21:39] browndav commented on #1801
In `medic-os`'s `master` branch as of https://github.com/medic/medic-os/commit/b9bff608085c82d2b69355f09c780a93a0aec444.

[2016-08-05 21:41] browndav commented on #2589
Instance size cut in half on Monday, August 1st, 2016. Reassess next iteration using performance data to see if further reductions are necessary.

[2016-08-05 21:41] #2589 closed

[2016-08-05 22:15] browndav opened #2612 "Gardener is broken on Node v6.x"
Gardener appears broken on Node v6.2.0. NPM's call-level interface has changed – specifically, `npm.commands.install(dir, url, fn)` has changed to `npm.commands.install(dir, args, fn)`, where `args` can be `[ url ]`. Audit all uses of the `npm` module for compatibility with the latest version, and fix API incompatibilities. Either (a) branch a new major version of Gardener for Node v6.x, or (b) ad

[2016-08-07 20:26] #2611 closed

[2016-08-08 08:25] SCdF commented on #2586
@alxndrsn made some notes on the PR, apart from that GTG. I see the ticket is still in active work, not sure what that means in this context

[2016-08-08 09:43] alxndrsn commented on #2586
@SCdF yeah still a fair bit of work to do on the ticket itself - just wanted to get the test framework merged before getting too deep into specific tests, and fixes for the migration.

[2016-08-08 12:11] estellecomment opened #2613 "App doesn't store data on SD card"
App is on SD card, but most of the data is still saved to main storage. Figure out if we can have it save data to SD card.

![screenshot_2016-08-08-15-06-54](https://cloud.githubusercontent.com/assets/911434/17479290/01d8489e-5d72-11e6-9834-42d74f991973.png)

[2016-08-08 14:01] estellecomment commented on #2613
Tried `adb shell pm set-install-location 2` and setting default install location in Settings.

Added `WRITE_EXTERNAL_STORAGE` and `READ_EXTERNAL_STORAGE` permissions.

Tried setting the [app cache dir](https://github.com/medic/medic-android/blob/master/src/main/java/org/medicmobile/webapp/mobile/EmbeddedBrowserActivity.java#L178) in our code to an external storage dir, but I don't think that's whe

[2016-08-08 14:26] alxndrsn commented on #2613
Long shot, but have you tried overwriting `EmbeddedBrowserActivity.getCacheDir()`?  I hope it doesn't work, as from the docs:

So I guess it's some consolation that `webSettings.setAppCachePath()` does not seem to dictate where our database ends up, as having that randomly deleted could make for poor UX.  And we'd definitely be using more than 1MB already.

[2016-08-08 14:34] alxndrsn commented on #2613
Have you tried [`WebSettings.setDatabasePath()`](https://developer.android.com/reference/android/webkit/WebSettings.html#setDatabasePath(java.lang.String))?

[2016-08-08 14:37] estellecomment commented on #2613
No, I did see a blog post where someone was doing that though... Could try it.
I'm doubting that it's the cache dir at all. Something gets in it, but I don't think the db does.

I saw it, but it's deprecated in Kitkat (api 19), so didn't try it. Also could give it a shot.

[2016-08-08 16:43] alxndrsn commented on #2586
PRs at https://github.com/medic/medic-api/pull/92 and https://github.com/medic/medic-webapp/pull/2614

[2016-08-08 20:30] garethbowen opened #2615 "Investigate using persistent storage so we can increase the available storage"
https://developer.chrome.com/apps/offline_storage#persistent

[2016-08-08 20:33] garethbowen opened #2616 "Release 2.8.0"
This will be a branch of 2.7.x with some additional features.

### Release steps

* [x] Update Changes.md
* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to the release branch
* [x] Tag a beta release
* [x] Update the testing app and run acceptance testing
* [x] Tag the final release
* [x] Announce the release in #general

### Issues

* [x] #2408
* [x] #2409
*

[2016-08-08 20:37] #2588 closed

[2016-08-08 20:41] garethbowen commented on #2474
Duplicate of #2463

[2016-08-08 20:41] #2474 closed

[2016-08-08 21:43] sglangevin commented on #2616
The French translation of the app has been updated for use by Muso. Since they will also likely be on v2.8, could we make sure the new translations are included? These were done using POEditor and may need to be pulled into Github.

[2016-08-08 21:57] garethbowen opened #2617 "Error handling in medic-gateway"
Errors in processing messages through the sms-gateway endpoint are not reported so messages cannot be retried.

Examples:
1. If gateway submits new messages but couchdb is unavailable the error is logged but gateway isn't notified and the message is lost.
2. If gateway submits a message status update but couchdb is unavailable the error is logged but gateway isn't notified and the update is lost.

[2016-08-08 22:03] garethbowen opened #2618 "Use bulk docs instead of update function for sms gateway"
In the sms gateway controller we use a couchdb update function to change the status of messages. This has to be done serially to avoid Document Update Conflicts with two update requests occurring on the same doc at the same time. This is chatty and inefficient.

Modify this to make a single bulk docs request to update all docs in a single request.

Investigate ways to share the status update code

[2016-08-08 22:04] garethbowen commented on #2530
Issues raised for other problems found while debugging:

* Better error handling: #2617
* Use bulk docs: #2618

[2016-08-08 22:21] sglangevin commented on #2568
@mandric by the end of this iteration (August 19th) we should have a script ready based on the sample data in https://github.com/medic/medic-projects/issues/562. I am available to answer any questions you have about what needs to be imported. Let's follow up on this when you are back.

[2016-08-08 23:03] garethbowen commented on #2530
### Code review

Two PRs:

- [api](https://github.com/medic/medic-api/pull/93): Lots of refactoring, renaming, reorganising. It might be easiest to review commit by commit rather than a full diff...
- [webapp](https://github.com/medic/medic-webapp/pull/2619): Mostly just adding the e2e testing. Also updated the update function to check for scheduled_tasks not just tasks, and added translation and

[2016-08-08 23:10] #2160 closed

[2016-08-08 23:10] #1801 closed

[2016-08-09 01:08] garethbowen commented on #2409
@alxndrsn The other implementations use `user` as the context property name for the UserContact object. It's probably not the best name, but what do you think about changing this to use `user` instead of `userContact`. It's bound to trip us up if they're inconsistent...

[2016-08-09 02:05] garethbowen commented on #2409
@alxndrsn I've code reviewed your commits and my only comment is about the naming of the `UserContact` content property.

I've also added a unit test, did some refactoring, and fixed a small bug.

We need this issue for the 2.8.0 release - would you mind reviewing my commit?

[2016-08-09 02:56] garethbowen commented on #2616
@sglangevin Other candidates for inclusion:

- https://github.com/medic/medic-webapp/issues/2600 - Android back button. This will also require a release of the android app.
- https://github.com/medic/medic-webapp/issues/2185
- https://github.com/medic/medic-webapp/issues/2516
- https://github.com/medic/medic-webapp/issues/1710

I think they should probably all be included. What did you think?

[2016-08-09 04:24] garethbowen commented on #2615
Ugh: https://github.com/nolanlawson/cordova-plugin-sqlite-2

[2016-08-09 06:47] alxndrsn commented on #2409
Thanks for doing this - was already half way through unit tests, but saves me the bother.

Seems fine to me.  That's what it was called originally, but I was worried that it might be confusing, or clash if we decided to also include the user's doc from the `_users` db.

[2016-08-09 07:53] estellecomment commented on #2615
Can you use it as Pouch backend?

Aw crap persistent storage is just for Files API, not indexedDB :(

[2016-08-09 08:22] SCdF commented on #2586
@alxndrsn PRs look fine, but the api one has Travis failures that look reasonably important

[2016-08-09 09:29] estellecomment commented on #2604
Error thrown when you go over quota!
On Chrome 51, on tecno y4, android 4. (not webview :( )

![screen shot 2016-08-09 at 11 23 01](https://cloud.githubusercontent.com/assets/911434/17511688/5bd6b5f8-5e24-11e6-8bdf-7d41a964a8a4.png)

[2016-08-09 09:55] garethbowen commented on #2615
Yes you can use it as a Pouch backend so it would actually work. It's not recommended for the above reasons.

[2016-08-09 10:42] garethbowen commented on #2409
@alxndrsn This is now ready for review. Thanks!

[2016-08-09 13:14] alxndrsn commented on #2586
Fixed, will merge.

[2016-08-09 13:14] #2586 closed

[2016-08-09 13:34] estellecomment opened #2620 "Branch Manager is not getting forms downloaded"
A test user with BM config couldn't download forms. It may be separate from the data size issue, since it has no CHPs in the branch.

Raised in medic-projects, for LG. Follow the original issue : https://github.com/medic/medic-projects/issues/630

[2016-08-09 14:12] sglangevin commented on #2616
@garethbowen yes, let's include all of those - thanks for taking a look through.

[2016-08-09 14:18] alxndrsn commented on #2409
Some simple questions inline.

[2016-08-09 14:31] alxndrsn commented on #2530
Comments on PRs

[2016-08-09 15:40] alxndrsn commented on #2386
Any guidance on what we're looking for?

[2016-08-09 15:40] alxndrsn commented on #2425
Shouldn't this be handled by migrations?

[2016-08-09 15:41] alxndrsn commented on #2435
Have you got example data that will break the migration?

[2016-08-09 15:49] alxndrsn commented on #2555
I have a feeling this is fixed...

[2016-08-09 15:50] alxndrsn commented on #2481
Where in the UI should this be?  Is this configuration part of app_settings?

[2016-08-09 15:50] alxndrsn commented on #2480
Related: #2481?

[2016-08-09 16:09] alxndrsn commented on #2603
What's the status of this ticket?  From the comments it looks like it may be a non-issue.

[2016-08-09 20:22] garethbowen commented on #2620
My guess is the forms are downloading just fine, but the form is configured not to show for this user.

[2016-08-09 22:19] browndav commented on #2612
The resolution in https://github.com/medic/medic-os/commit/b984811addafe8bd16e2ee2e52338614e400f7b4 tests out okay; sending a PR.

[2016-08-09 22:30] browndav commented on #2612
Upstreamed to https://github.com/garden20/gardener/pull/30 for review.

[2016-08-09 22:30] #2612 closed

[2016-08-09 22:43] browndav commented on #1800
FYI: I have a working system package for `medic-couch2pg` in `medic/medic-os` as of https://github.com/medic/medic-os/commit/36cd3d7003c638f60e79eddc11dc4e06f3f9cf58.

[2016-08-09 22:52] sglangevin commented on #2620
See testing report on the original issue: https://github.com/medic/medic-projects/issues/630

[2016-08-09 23:08] browndav opened #2621 "In preloaded databases from medic-data: the medic-audit database is missing"
We should ship a `medic-audit.couch` with the "preload" `.tar.xz` files from the `medic-data` repository. This database is required for v2.7.x and v2.8.x of `medic-webapp` to start up properly. The Medic OS scripts should automatically handle the new `.couch` file once it's being built by the `medic-data` CI scripts.

[2016-08-09 23:17] mandric commented on #2609
After this do: https://github.com/medic/medic-webapp/issues/2621

[2016-08-09 23:24] garethbowen commented on #2173
I've checked all references to the fields named above.

[2016-08-09 23:30] mandric commented on #2609
Prioritize https://github.com/medic/medic-webapp/issues/2621 as much as possible.

[2016-08-09 23:47] #2530 closed

[2016-08-10 00:54] #2409 closed

[2016-08-10 08:54] SCdF commented on #2173
LGTM

[2016-08-10 08:54] #2173 closed

[2016-08-10 09:28] alxndrsn commented on #2595
PR for review at https://github.com/medic/medic-api/pull/94

[2016-08-10 11:50] alxndrsn commented on #2436
PRs for review at: https://github.com/medic/medic-api/pull/95 & https://github.com/medic/medic-webapp/pull/2622

Will need a final commit to update API after the PRs are merged.

[2016-08-10 12:01] garethbowen commented on #2436
Loving the integration tests. Added a few comments to the api PR.

[2016-08-10 12:11] #2436 closed

[2016-08-10 14:20] SCdF commented on #2596
Whoops, missed one.

[2016-08-10 14:21] SCdF commented on #2596
@garethbowen I missed one!

[2016-08-10 14:22] estellecomment commented on #2615
@garethbowen 's report : https://docs.google.com/document/d/1dvX6zalt-nqcu3-uvTh1OZyOwkvwo4lSPjZpJb39I8Q/edit#

[2016-08-10 14:23] estellecomment opened #2623 "Try persistent storage on Firefox"
Firefox has an API for persistent storage for IndexedDB :
https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria#Firefox_specifics

[2016-08-10 14:49] alxndrsn commented on #2555
Duplicate of #2574

[2016-08-10 14:49] #2555 closed

[2016-08-10 15:07] alxndrsn commented on #2384
Is custom migrations a new feature?  Could we just make a general migration which checks for `person`s whose `.parent` field points to a `health_center`, and moves them into a new 'CHW area'?  Is there only one CHW per `health_center`?

[2016-08-10 15:08] estellecomment commented on #2623
Added `storage: 'persistent'` to the args to Pouch. Removed the worker-pouch for now, it was eating up the storage param.

Got it to work on desktop, though only after some time, not sure why :
![screen shot 2016-08-10 at 14 49 52](https://cloud.githubusercontent.com/assets/911434/17557615/29470bca-5f18-11e6-93e5-5a7d2e362353.png)

On mobile, I never got that popup, and the data doesn't show up in

[2016-08-10 15:08] alxndrsn commented on #2529
There's no obvious place to put this link in configurations.  I will put the link in the hamburger/hotdog menu, where it should only be visible for users with the correct permission.

[2016-08-10 16:10] mandric commented on #2618
Using bulk docs API also means something would need to pull the entire documents in, modify them and then send them back.  Wanted to note that bulk docs request should happen from medic-api not the gateway.  The bandwidth/throughput needed by the gateway needs to be minimal to support low connectivity settings.

[2016-08-10 16:57] alxndrsn commented on #2574
@abbyad I need your help deleting relevant translations from POE.

[2016-08-10 20:42] garethbowen commented on #2623
@estellecomment There might be some weird restriction like it only works on localhost or https (it seems like all cool features are restricted like this these days). No idea why the indexed db went bad but it's probably related to the empty permanent folder? You're not running in private mode or something? I might have a look too and see if I can reproduce it.

Also using the web worker is a big w

[2016-08-10 20:44] #2596 closed

[2016-08-10 21:56] garethbowen commented on #2623
It looks like the web worker is dropping the options we pass in, which explains why the auto compaction isn't working...

[2016-08-11 00:13] garethbowen opened #2625 "Always use the same pouchdb configuration"
The bootstrap code connects to the local db without passing any options. This means during initial replication auto_compaction is off and the db grows larger than needed until the app starts and compaction is turned on. Getting out of sync on other options would be much more significant (eg: `storage` which would replicate to one place, then try to connect to a different one).

A possible exceptio

[2016-08-11 00:37] garethbowen opened #2626 "Progressive Web App"
Get the browser to accept us as a PWA. This will improve the appearance of the app greatly if we decide to go with #2623

[2016-08-11 00:53] garethbowen commented on #2623
It's dropping all except for the `name`, `auto_compaction`, and `revs_limit`. I've created [an issue](https://github.com/nolanlawson/worker-pouch/issues/24) to pass through `storage` also.

[2016-08-11 00:58] garethbowen commented on #2623
@estellecomment I've got persistent storage working for me. In my profile persistent storage is > 0 and temporary storage is empty. Once you've removed the web worker (or patched it to pass through storage) it should work.

When I first tried I forgot to add it in both places that PouchDB is instantiated - did you remember to add the `storage` option to the [bootstrap code](https://github.com/medi

[2016-08-11 04:24] garethbowen commented on #2623
I'm getting fatal errors trying to get IDB working on Firefox mobile - I'm not even getting the prompt. My best guess is it's disabled for anything other than localhost or https. If I could find a way to do port forwarding [like in Chrome](https://developers.google.com/web/tools/chrome-devtools/debug/remote-debugging/local-server?hl=en#port-forwarding) I'd be good to go...

[2016-08-11 08:04] estellecomment commented on #2623
Aaaaaaaarrrrrrrrrghghghghhrrrrraaaarrrrrhhhh

[2016-08-11 08:06] estellecomment commented on #2623
That explains why the replication would finish, and then the indexeddb would get corrupted. It's because the replication didn't use the persistent storage! Mystery solved.

[2016-08-11 08:36] estellecomment commented on #2425
It could yeah!

[2016-08-11 08:37] estellecomment commented on #2386
As mentioned, we want the national manager to be able to send reports, and maybe @abbyad has more suggestions.

[2016-08-11 08:38] estellecomment commented on #2435
No. This would happen if the `person` can't be created. I don't remember if I saw this happening specifically.

[2016-08-11 08:40] estellecomment commented on #2481
Old-style SMS schedules are in the app_settings, yes. We want to move away from editing it in Dashboard, so we'd need a proper Configuration page for it, somewhere in Configuration. Kindof like we have a Tasks config page.

[2016-08-11 08:42] estellecomment commented on #2607
LGTM! Thanks!

[2016-08-11 08:43] estellecomment commented on #2607
@sglangevin will test this maybe? Check that the webview is inspectable in `chrome://inspect`

[2016-08-11 08:43] #2607 closed

[2016-08-11 08:47] estellecomment commented on #2595
👍

[2016-08-11 08:47] #2595 closed

[2016-08-11 09:01] estellecomment commented on #2384
So that's not the issue : the `person` corresponding to the CHW has a `parent` of type `clinic`. The issue is that the `clinic` has the same name as its parent `health_center`, which is unhelpful.

You could check for `clinic.name` being the same as `clinic.parent.name`, and renaming `clinic.name` to "`clinic.contact.name`'s Area".

In CA2'a case it would work: it's the case for al CHWs so finding

[2016-08-11 09:18] estellecomment commented on #2529
I don't see a permission linked to it?

Not convinced by the hamburger menu. All the Tech Lead / admin stuff is in Configuration, so I don't think adding one-off elements to the hamburger menu is a good organisation, it'll end up cluttered.

How's this :
![screen shot 2016-08-11 at 11 12 05](https://cloud.githubusercontent.com/assets/911434/17584143/4a229484-5fb5-11e6-885b-ad7f5813a397.png)

[2016-08-11 12:02] estellecomment commented on #2603
Looks like the replication is using different params for PouchDB, which don't have autocompaction on. That explains why the data size goes back down after replication is done!
https://github.com/medic/medic-webapp/issues/2625

[2016-08-11 12:08] estellecomment commented on #2623
Disabled pouch web worker to test on alpha.dev.

[2016-08-11 13:25] estellecomment commented on #2543
I'm something like this locally, and weird things are happening on Travis too.
Don't know if it's the same.

[2016-08-11 13:37] estellecomment commented on #2623
Ussing https on alpha.dev doesn't fix it, still getting `indexed_db_went_bad` :
![screen shot 2016-08-11 at 15 36 04](https://cloud.githubusercontent.com/assets/911434/17590271/6f4f1e98-5fd9-11e6-87cb-a170d0faf2f9.png)

[2016-08-11 15:35] SCdF opened #2627 "webdriver-manager breaks after running integration tests"
To re-create:
- Have a clean workspace, `npm install`ed correctly etc
- Update and start the webdriver: `./node_modules/.bin/webdriver-manager update` `./node_modules/.bin/webdriver-manager start`
- Run all of the tests: `COUCH_URL='whatever' grunt test`
- This will run standard tests, then integration tests that require api is built into your local node_modules, then e2e tests. This should pass.

[2016-08-11 15:42] SCdF commented on #2547
Hey @garethbowen a code review for you. The linked code above is in a branch I probably won't merge until all the various todos are fixed, which will be under #2263.

[2016-08-11 19:55] sglangevin commented on #2607
@estellecomment @alxndrsn I need to have the new version of the Android app on the Play Store for testing, though that would then push the update to all the CHPs. Perhaps someone can help me get set up to do this testing another way?

[2016-08-11 20:20] garethbowen commented on #2547
Nice cleanup. A few minor comments inline.

It looks incomplete like some uses of send message will no longer work. Is this intentional?

[2016-08-11 20:25] mandric opened #2628 "clean up contacts during import"
There is some code in the webapp that makes using the contact data more efficient.  Use this code during import, and bulk update (prune) any documents that exist on LG, starting with okellowa user.

[2016-08-11 20:25] garethbowen opened #2629 "Remove empty parents migration scalability"
The remove-empty-parents db migration attempts to download all contacts including docs and then process them one by one. On a large data set I expect this will crash.

Do some sort of batching instead (`limit` and `skip`), and use bulk docs to do the insertion.

[2016-08-11 20:25] garethbowen commented on #2629
Assigning to @alxndrsn because I _think_ I saw him talk about this issue on Slack...

[2016-08-11 21:00] garethbowen commented on #2623
Maybe we don't need persistent storage. Maybe on Firefox even default storage will allow unlimited usage. It looks like it may just prompt the user when 5MB is hit: http://www.html5rocks.com/en/tutorials/offline/quota-research/

[2016-08-12 07:33] estellecomment commented on #2628
Example doc with excessive recursion of parents and contacts : see https://github.com/medic/medic-projects/issues/592#issuecomment-239379980

[2016-08-12 07:58] estellecomment commented on #2625
@garethbowen why not use the webworker during the initial replication? Does it actually hurt? If not, it would be easier to just have the same params in both places.

[2016-08-12 08:34] estellecomment commented on #2543
Hmm mine look different :
[code]

[2016-08-12 08:35] alxndrsn commented on #2529
I haven't finished yet?

Yes perfect - I'll go with that.

[2016-08-12 08:53] SCdF commented on #2547
Yeah it's intentional. Like I said I won't merge it until other things are done (which should be today hopefully), I just wanted someone to look at it separately to everything else.

[2016-08-12 09:02] estellecomment opened #2630 "Test bootstrap.js"
Write a test for bootstrap.js.

[2016-08-12 09:44] alxndrsn commented on #2603
Looks like this is covered more clearly by #2625

[2016-08-12 09:44] #2603 closed

[2016-08-12 09:46] alxndrsn commented on #2607
Should be available in the app store for beta testers.  Please let me know if this is not working.

[2016-08-12 09:56] alxndrsn commented on #2384
Confused now - this definitely now sounds quite specific to one project, as I presume we wouldn't set up areas in this way in the future.  So maybe not a good case for a standard migration.  Or was the original plan to update all the clinics by hand?

[2016-08-12 10:35] estellecomment commented on #2434
@garethbowen how do you get the size of the indexeddb? With android app manager? Or are you on desktop?

[2016-08-12 12:28] estellecomment commented on #2623
You can go over 5MB on default storage on firefox, just tested that.
That guy's research is from 2.5 yrs ago, no doubt things have evolved since then.

[2016-08-12 12:55] estellecomment commented on #2384
I didn't automate it because I don't know how much it's going to happen, outside of Christian Aid 2. Thus the original point : custom one-off migration for CA2.

If you want to automate it that also works.

[2016-08-12 13:56] estellecomment commented on #2434
Ok here's something fun. Running `db.compact()` makes the db **grow** by 140KB.

Running in console :
[code]
With latest webapp code, on tecno Y4, user demo (2 families). No app update.
![screen shot 2016-08-12 at 15 53 29](https://cloud.githubusercontent.com/assets/911434/17624445/f412c974-60a4-11e6-9992-652cb0810cf9.png)

[2016-08-12 13:56] estellecomment commented on #2434
(how we get to 22MB with 2 families is another question)

[2016-08-12 14:25] estellecomment opened #2631 ""Empty" user has 22MB of data, that's a lot"
Created a user, assigned it to a district with nothing in it, and to a contact.
Synced it.
`Initial sync received 573050B of data` = 560KB
Network tab says `535KB transferred`

App data in App Manager : 22.26MB.
Edit : that's for app data only, not app itself (116KB). It's zero before you start the app.

22MB for an empty user seems like a lot.

[2016-08-12 14:30] estellecomment commented on #2631
This is run on a db with 76589 docs, 0.5GB, so a big one.

[2016-08-12 14:39] estellecomment commented on #2631
Appcache :
![screen shot 2016-08-12 at 16 34 49](https://cloud.githubusercontent.com/assets/911434/17625893/280587f2-60ab-11e6-957f-38ad8e9f8fda.png)

Add it all up : 18206.5 KB = **17.78 MB**!
16MB for inbox.js.

[2016-08-12 14:44] estellecomment commented on #2631
Then again, it's development : unminified inbox.js.
Assuming inbox.js is 4MB (from prod server), then it's 5713.7 KB = 5.58 MB.
Run it again on prod webapp...

[2016-08-12 15:55] estellecomment commented on #2628
Any time in the hierarchy you have `x.y.z.contact.parent` then `contact.parent` == `z`, so it's redundant. You should be able to remove all `contact.parent` fields inside the doc.
Though I don't know if that's needed for any features of the UI. I'd vote fixing the UI and keeping the data sane, over keeping the data redundant (but maybe that's not possible?)

[2016-08-12 17:31] sglangevin commented on #2607
@alxndrsn I haven't seen an update available this week. Last time, @abbyad had to promote the app so that I could test it. I'd rather not side-load as that would prevent me from updating from the app store later, wouldn't it?

[2016-08-12 20:38] browndav opened #2632 "Legacy v0.4.x instances: remove socket limit in medic-api"
In https://github.com/medic/medic-api/blob/0.4.x/server.js#L31, we limit the maximum number of Express.js server sockets to 100. This proved unnecessarily low in the 2.8.x/master branch and was removed entirely, effectively making the limit infinite, which worked out okay. We never did the same for the older v0.4.x instances.

Symptom: nginx is timing out while attempting to connect to the local `

[2016-08-13 15:48] alxndrsn opened #2633 "Forms Config page needs better CSS"
`/medic/_design/medic/_rewrite/#/configuration/forms` layout needs improving:

<img width="752" alt="screen shot 2016-08-13 at 17 47 18" src="https://cloud.githubusercontent.com/assets/191496/17644123/0d0130f4-617e-11e6-9a0b-a6ca5c15f7dd.png">

&

<img width="1271" alt="screen shot 2016-08-13 at 17 47 27" src="https://cloud.githubusercontent.com/assets/191496/17644120/07dee6ca-617e-11e6-9bae-60562

[2016-08-13 15:48] alxndrsn commented on #2529
I've created a new ticket for sorting out the layout: #2633

[2016-08-14 20:09] garethbowen commented on #2625
Yeah I'm not sure... It's probably fine, it just won't help much because nothing else is going on during initial bootstrap. In actual fact it'll slightly hurt performance because everything we receive will have to be serialized and deserialized to go to the web worker. Also I didn't want to introduce any fragility to the first run process. But as you say the code is cleaner if we can just use the

[2016-08-14 20:11] garethbowen commented on #2623
Never trust documentation.

[2016-08-14 20:11] garethbowen commented on #2623
I presume that was meant to read "You _can't_ go over 5MB"? Because otherwise just use Firefox and we're done?

[2016-08-14 20:13] garethbowen commented on #2434
I measured it on desktop. In retrospect I'm starting to think it might be a bit misleading. Maybe even if `compact` is called the browser doesn't GC right away. More investigation needed for sure.

[2016-08-14 20:38] alxndrsn commented on #2629
Now using a temp view, similar to `migrations/convert-bad-dob-format.js`.

[2016-08-14 20:41] alxndrsn commented on #2629
No limit or skip, and no bulk update, but should now only be getting a few docs per project, instead of _ALL_ the contacts.

[2016-08-14 20:44] garethbowen commented on #2629
Can you link the commit/PR?

[2016-08-14 20:58] garethbowen commented on #2629
Original issue: #2436

[2016-08-14 21:03] garethbowen commented on #2629
One comment in the commit. Also there are a few jshint errors to fix.

[2016-08-14 21:47] garethbowen commented on #2606
@estellecomment What can the dev team to do achieve this?

[2016-08-14 21:53] garethbowen commented on #2386
Assuming that the national manager has permission to see all records then we also need to ensure they don't attempt to replicate data. It'd be best to have no `facility_id` set rather than creating a root facility but we need to check that submitting forms still works if you have no facility.

We need more information about what sort of reports this user will submit because they currently won't be

[2016-08-14 22:00] garethbowen commented on #2629
I've fixed jshint to unblock `master`.

[2016-08-14 23:13] garethbowen commented on #2543
Deleted the offending test.

[2016-08-14 23:13] #2543 closed

[2016-08-15 04:13] garethbowen commented on #2625
I opted to keep the web workers solely for the app as it doesn't help us during bootstrap and may hurt us in terms of reliability and performance. Furthermore the registration code uses a couple of angular services which aren't available while bootstrapping. To keep the code in sync I'm using an angular constant which is passed to the bootstrapper and injected into the db service.

[2016-08-15 08:32] garethbowen commented on #2632
@browndav Is this happening on a specific instance?

[2016-08-15 08:54] garethbowen commented on #2395
Related to (and possibly duplicated by) #2386

[2016-08-15 09:00] garethbowen commented on #2631
That (~5.5MB) seems about right. There's not much low hanging fruit here.

[2016-08-15 09:04] garethbowen opened #2634 "Remove dead branches"
(Split off from #2410 )

@alxndrsn , please have a look here and let me know the status of these branches:

https://github.com/medic/medic-webapp/compare/master...styled-enketo-summary
- [ ] Dead
- [ ] WIP
- [ ] Needs PR submitted
- [ ] Other, please explain

https://github.com/medic/medic-webapp/compare/master...styled-enketo-summary-or-appearance
- [ ] Dead
- [ ] WIP
- [ ] Needs PR submitted
- [

[2016-08-15 09:05] garethbowen commented on #2410
Deleting dead branches is outside the scope of the original issue and it's holding this issue open too long so I've created #2634 to track it.

[2016-08-15 09:05] #2410 closed

[2016-08-15 12:07] mandric commented on #2410
Thanks

[2016-08-15 19:49] browndav commented on #2621
Works on Medic OS, LGTM, moving to ready.

[2016-08-15 19:49] #2621 closed

[2016-08-15 22:40] garethbowen opened #2635 "Remove nested contacts"
We include the contact hierarchy in all data records and contacts. This duplicates the data which means updates don't propagate. It also means each record and contact is approximately double as big as it should be requiring more data to be replicated and more disk space on the device.

Investigate using [joins with views](http://docs.couchdb.org/en/1.6.1/couchapp/views/joins.html) to get all the r

[2016-08-15 23:45] garethbowen opened #2636 "Submitting a report with an invalid ref id crashes sentinel"
When filling in a scheduled form I entered a bogus ref id which resulted in this error:

[code]

It looks like we blindly trust the ref id we're given.

[2016-08-15 23:54] garethbowen commented on #2573
@alxndrsn It's unclear what's missing here. Are you talking about the labels on the big numbers, or the "show reports from" bit at the bottom of the expected screenshot, or the column titles on the expected screenshot? Or all of the above?

[2016-08-16 00:20] garethbowen commented on #2573
I added titles to the columns and someone else had already added labels to the icons. If this wasn't what you meant please assign back.

[2016-08-16 00:21] garethbowen commented on #2573
Commit: https://github.com/medic/medic-webapp/commit/dcff08cd329c5d14e42c9396bf1da624dca53ff8 (dsylixa strikes again).

[2016-08-16 00:27] garethbowen commented on #2557
I managed to reproduce this by loading the analytics page which redirected me to the module then hitting the back button took me to this page.

[2016-08-16 02:38] garethbowen commented on #2546
I think this is a dupe of #2557 but it's hard to tell. If not, I can't get this to happen. Closing for testing.

[2016-08-16 02:38] #2546 closed

[2016-08-16 10:48] #2573 closed

[2016-08-16 10:51] #2557 closed

[2016-08-16 10:54] estellecomment commented on #2529
cool!

[2016-08-16 10:58] estellecomment commented on #2625
LGTM

[2016-08-16 10:58] #2625 closed

[2016-08-16 11:01] estellecomment commented on #2626
thanks!

Acceptance testing : open this from a browser on a phone (both Firefox and Chrome should work yes @garethbowen ?), and check that it looks nice.

[2016-08-16 11:01] #2626 closed

[2016-08-16 11:15] estellecomment commented on #2630
cool!

[2016-08-16 11:15] #2630 closed

[2016-08-16 14:36] estellecomment commented on #2606
nothing. Filed https://github.com/medic/medic-projects/issues/650, removing this issue.

[2016-08-16 15:12] #2629 closed

[2016-08-16 15:41] henokgetachew commented on #2031
+1 because it would help answer lots of usability questions.

[2016-08-16 15:59] estellecomment commented on #2031
Like what?

[2016-08-16 20:12] garethbowen commented on #2626
Acceptance testing: use "add to desktop" (or similar) to add the MM icon to the desktop, and launch from that. It should appear similar to a true mobile app: no address bar, a splash screen, and the MM theme on the status bar.

[2016-08-16 20:14] #2606 closed

[2016-08-16 20:15] garethbowen commented on #2606
Replaced by: https://github.com/medic/medic-projects/issues/650

[2016-08-17 04:38] garethbowen commented on #2553
### Code review

PR: https://github.com/medic/medic-webapp/pull/2637

I've reworked the filters as below. I've also added carets so it's clear when something is expandable. Finally I added more routes to fix the back button #2565

[2016-08-17 04:38] garethbowen commented on #2565
To be reviewed with: #2637

[2016-08-17 07:32] henokgetachew opened #2638 "JavaRosa Parser should give a better error message when form definition on the web app is mismatched with the submitted message using medic collect"
Example: the form definition in `app_settings.json` contained this:

[code]

The JavaRosa parser code [here](https://github.com/medic/medic-webapp/blob/64cc8074ad2811be701cc1b38a20e7d99fb2ac1a/packages/kujua-sms/views/lib/javarosa_parser.js) fails with the error:

[code]

We should may be compare `def.fields.length` and `parts.length` and throw a `Form definition mismatch error` if the two lengths

[2016-08-17 08:34] henokgetachew commented on #2031
I guess I can't say it any better than @SCdF above. Others could be like being able to answer things such as: after the introduction of a certain feature (after roll out of version x.xx), do the users tend to use the app less/more? How many users open the app at least once a day?  Which page never gets visited by users?

[2016-08-17 08:40] SCdF commented on #2031
So where we got to before was: we should have concrete questions that we are trying to answer (and ideally only a run for a certain amount of time), and then we can look at implementing a framework to allow for those questions to be answered.

I think it would be a great improvement, I'd just want at least one concrete question to start off with.

[2016-08-17 09:37] #2565 closed

[2016-08-17 09:37] #2553 closed

[2016-08-17 09:47] garethbowen commented on #1122
@browndav Is that really the right commit? Is this really in code review? If so, maybe it should be reviewed by someone else?

[2016-08-17 10:59] alxndrsn opened #2639 "Branch manager appears alphabetically in Branch's contacts list"
# Observed

<img width="447" alt="screen shot 2016-08-17 at 12 57 28" src="https://cloud.githubusercontent.com/assets/191496/17734068/4f99346c-647a-11e6-80c5-428111525aad.png">

# Expected

Feels like the `.contact` for a place should be top of the list, or even listed separately.

[2016-08-17 11:02] #2580 closed

[2016-08-17 11:03] garethbowen commented on #2580
This should be more sensible now that we have loading spinners and carets.

[2016-08-17 11:33] #2559 closed

[2016-08-17 14:19] alxndrsn opened #2640 "Sometimes changes feed is told the wrong ID for user doc"
Sometimes the `doc_ids` entry for the user doc looks correct:

<img width="277" alt="screen shot 2016-08-17 at 16 15 28" src="https://cloud.githubusercontent.com/assets/191496/17739603/f7750c86-6495-11e6-9c1f-b96524d4e097.png">

Sometimes it looks like it's missing the prefix `org.couchdb.user:`:

<img width="177" alt="screen shot 2016-08-17 at 16 15 51" src="https://cloud.githubusercontent.com/as

[2016-08-17 15:00] sglangevin commented on #2639
@alxndrsn there is already a new design for this page. See #2343 for more information.

[2016-08-17 15:01] SCdF commented on #2500
Relevant PR: https://github.com/medic/medic-webapp/pull/2641

[2016-08-17 15:01] SCdF commented on #2547
Blocked on #2500, can be moved to acceptance testing once that one is.

[2016-08-17 15:50] estellecomment commented on #2623
What I mean is, there is no hard limit at 5 or 50MB. You don't get an error, you can go over, I tried that.

That doesn't mean there's no limit at all :) But it's not hard-set at 5 or 50MB.

[2016-08-17 19:54] garethbowen commented on #2623
Was this on mobile? If so it sounds like a Firefox PWA without persistent storage is the way to go. Persistent storage would be good but not necessary for increasing storage and we've had trouble getting it to work on mobile.

[2016-08-17 21:36] garethbowen commented on #2631
Using a production db I get 4MB in the appcache. This is large but acceptable IMO. The big win would be separating the admin code into a separate module as most users don't need it.

@estellecomment Do you agree that 4MB is acceptable? Can we close this now? Perhaps open a new backlog issue for some specific solution?

[2016-08-17 21:39] garethbowen commented on #2620
@sglangevin From the testing report it looks like you were unable to reproduce this issue. Can we put it down to a bad/incomplete replication?

[2016-08-17 21:41] garethbowen commented on #2604
@estellecomment Given that we can't increase our quota and we can't even detect errors what more is left to do on this issue?

[2016-08-17 21:46] garethbowen commented on #2615
Replaced by https://github.com/medic/medic-webapp/issues/2623

[2016-08-17 21:46] #2615 closed

[2016-08-17 21:56] sglangevin commented on #2620
I think so - I was able to download forms successfully, though I was having issues with initial sync timing out. Even with that, I eventually was able to download everything.

[2016-08-17 21:59] garethbowen commented on #2620
Closing as replication problems (space, etc) are covered by other issues.

[2016-08-17 21:59] #2620 closed

[2016-08-17 22:59] garethbowen commented on #2501
I've added some comments. My main concern is all the lines that suggest SMS only works pre v2 which will be out of date in a month or so.

@estellecomment This has been sitting around for over a month now. I think it's ready for the review comments to be approved and merged and this issue closed off. I'm happy to help out if you have too much on your plate.

[2016-08-17 23:22] garethbowen commented on #2578
I think the styles have been copied over where appropriate but really as the HTML has had a significant rewrite (for mobile friendliness) most of the styles needed to be rewritten too.

If there are specific stylistic concerns with the current UI we should raise specific issues to fix them, but I couldn't find anything salvageable in the old styles.

[2016-08-17 23:22] #2578 closed

[2016-08-17 23:46] garethbowen commented on #2470
Setting | Explanation | Ok?
----- | ---- | ----
setup_complete | Decides whether or not to show the welcome modals. Is null until it's set on first render. | :heavy_check_mark:
statistics_submission and statistics_submission_number | Used for collecting and submitted anonymous statistics. Null means don't submit | :heavy_check_mark:
district_admins_access_unallocated_messages | Whether or not dist

[2016-08-17 23:47] garethbowen commented on #2470
@estellecomment I think that covers all the properties in the diff. I think it'll all just work. Is anything else required to close this off?

[2016-08-18 03:21] mandric commented on #2638
Yeah I agree throwing a nicer error is an easy change and probably the right thing.

[2016-08-18 04:12] garethbowen opened #2642 "Convert check-bad-date modal to ng-bootstrap"

[2016-08-18 04:23] garethbowen opened #2643 "Convert version-update modal to ng-bootstrap"

[2016-08-18 04:41] garethbowen opened #2644 "Convert delete-user-confirm modal to ng-bootstrap"

[2016-08-18 08:01] #2640 closed

[2016-08-18 08:25] estellecomment commented on #2631
Yeah. Thanks for checking!

[2016-08-18 08:25] #2631 closed

[2016-08-18 08:34] estellecomment commented on #2623
There's still the quota depending on the free space. I haven't tested it on firefox.
https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria#Storage_limits

[2016-08-18 08:36] estellecomment commented on #2604
Closing in favor of https://github.com/medic/medic-webapp/issues/2623 (testing similar things on firefox)

[2016-08-18 08:37] #2604 closed

[2016-08-18 08:40] estellecomment commented on #2470
all good thanks!

[2016-08-18 08:40] #2470 closed

[2016-08-18 08:54] estellecomment commented on #2642
One comment about the controller, and then close when you're done!

[2016-08-18 08:59] estellecomment commented on #2643
See comment, can you reuse `ConfirmModalController`?

[2016-08-18 09:06] estellecomment commented on #2644
Same as the others!

[2016-08-18 09:30] estellecomment commented on #2623
With 150MB of free space, and an app of 57MB, I'm not sure if I have a quota issue or not. I'm not sure what the quota issue looks like on Firefox mobile.

The app is not throwing the "db connection is closing" errors, which is what chrome does over quota.
But it's so slow that it's really not functional. Tasks and forms load, contacts don't. I'm not able to query pouch from console.
That could be

[2016-08-18 10:27] #2642 closed

[2016-08-18 10:27] #2643 closed

[2016-08-18 10:27] #2644 closed

[2016-08-18 10:59] estellecomment opened #2645 "How to use modal and modal controllers right?"
There are different ways of doing the bootstrap modals.

We could write a separate controller for each modal, and consider that the controller owns the logic for this separate modal "page".

Or we could reuse controllers for similar cases of modals, e.g. ConfirmModalCtrl, with different templates and different models and processing functions. That's considering the modals as building blocks that y

[2016-08-18 11:03] alxndrsn opened #2646 "Adding a Family to a Branch does not seem to create a contact"
On a local instance, using the `admin` user, _Add Family_ from a branch seems to complete successfully but does not create the family nor the head of family's `person` doc:

<img width="1280" alt="screen shot 2016-08-18 at 13 02 38" src="https://cloud.githubusercontent.com/assets/191496/17771607/2cd6b7e0-6544-11e6-8bcf-2b3b0a7e039a.png">

[2016-08-18 14:23] alxndrsn opened #2647 "jshint doesn't run against view code"
Specifically there is a missing semicolon and an extra one in `ddocs/medic-client/views/doc_by_place/map.js`, and this is not detected by jshint.

[2016-08-18 14:27] estellecomment commented on #2501
Updated!
I'm closing this, reopen if there's more to discuss and update. Thanks for the inputs!

[2016-08-18 14:33] estellecomment commented on #2501
Reopening, it's worth a second round of review. Thanks @SCdF for volunteering!

[2016-08-18 14:54] alxndrsn opened #2648 "Hide reports from branch managers"
Hide reports from users at higher or lower levels of the hierarchy from where they were originally filed.

[2016-08-18 21:07] garethbowen commented on #2647
Added jshint and actually found a few bad bugs...

[2016-08-18 22:19] garethbowen commented on #2435
I've updated the migration to attempt to restore the facility contact if creating the person or updating the contact fails. It's worth noting that there are many other ways that this (or any other) migration can mangle the data. Because we don't have transactions we can't revert properly. For example, if api crashes in the middle of a migration it's almost guaranteed to leave it in a corrupt state

[2016-08-18 22:58] sglangevin commented on #2616
@garethbowen I've acceptance tested all of the issues except for the back button issue. My phone is currently being used for other testing, but once I have that done I will check again for the update to the unbranded app from the play store and test. Hopefully we can release on Monday.

[2016-08-18 22:58] garethbowen commented on #2616
Sounds good!

[2016-08-19 01:52] sglangevin commented on #2616
@garethbowen I updated my app and tested the back button fix - it's working well, no errors. I think we can go ahead with the release.

[2016-08-19 08:03] estellecomment commented on #2435
LGTM

[2016-08-19 08:04] estellecomment commented on #2435
Skipping acceptance testing, cos that is pretty hard to test

[2016-08-19 08:04] #2435 closed

[2016-08-19 08:12] estellecomment commented on #2613
Conclusion : on android 4, you can't write app data to SD card.

On android 5+ though, you might :
http://www.androidcentral.com/lollipop-brings-changes-way-your-sd-card-works-kind-youll
I can't test it though, my old Samsung is not as fancy as the new Tecnos and is on android 4.

[2016-08-19 08:36] #2647 closed

[2016-08-19 09:06] estellecomment opened #2649 "disable-erlang-support migration fails if erlang support is already disabled"
[code]

[2016-08-19 12:41] alxndrsn commented on #2384
Done on branch; not clear if this should be in `master`.

[2016-08-19 12:57] alxndrsn commented on #2395
Works for me.

[2016-08-19 12:57] #2395 closed

[2016-08-19 12:58] alxndrsn commented on #2386
Works for me on latest `master`.

[2016-08-19 12:58] #2386 closed

[2016-08-19 12:59] estellecomment commented on #2383
@mandric I made a small add to medic-reporter, could you review please? (the rest of the code is coming later)

[2016-08-19 13:03] alxndrsn commented on #1325
This ticket does not seem to relate to iteration goals.

[2016-08-19 13:23] alxndrsn commented on #2481
IIUC we can currently edit the schedules via app_settings, so there is no pressing need for a new UI.

[2016-08-19 13:32] alxndrsn commented on #2370
This ticket does not seem to be a priority - removing from current milestone.

[2016-08-19 13:45] alxndrsn commented on #2219
Should this be **`1 - Scheduled`**, or should it be removed from the Milestone?

[2016-08-19 13:46] #2425 closed

[2016-08-19 13:54] estellecomment commented on #2623
@browndav is testing browsers I think. What's up @browndav ?

[2016-08-19 15:22] mandric commented on #2383
👍

[2016-08-19 16:39] abbyad commented on #1848
We should revisit this for design work following #1572

[2016-08-19 16:42] erwagasore opened #2650 "Request for *ageInDays* function to use in form context"
In the past we usually only use `ageInYear` function to help us define the context expression

for example:

[code]

With #Muso-Mali we have contexts which require us to use days and months and we tried to use just vanilla javascript to solve the issue `(new Date() - new Date(contact.date_of_birth))/(24*60*60*1000)` but failed with `Syntax Error: Token 'Date' is unexpected, expecting [)]`.

It wou

[2016-08-19 16:44] abbyad commented on #2334
@sglangevin we will have to check existing mobile app projects if they want the new defaults, otherwise set project specific translated labels to keep the old labels.

[2016-08-19 16:53] abbyad commented on #2342
@diannakane is this shown instead of the Task tab for mobile app users?

[2016-08-19 16:53] SCdF commented on #2648
@alxndrsn the travis failure looks like its because the function that was replaced with an if call also deals with unassigned. You may need to extract that out to continue to support that feature.

[2016-08-19 16:54] abbyad commented on #2343
This should be considered along with #1572

[2016-08-19 16:54] SCdF commented on #2648
( @alxndrsn ignore that above comment, I see that you've done it, clearly I never refreshed this page.. deleting that comment and this one now)

[2016-08-19 16:55] abbyad commented on #2344
This is for consideration as part of the work in #1572

[2016-08-19 16:58] SCdF commented on #2649
LGTM. Not closing because you're still assigned, though I did move it off code review.

[2016-08-19 17:15] SCdF commented on #2501
Just a couple of minor comments, nothing to write (!) home about. LGTM!

[2016-08-19 17:15] #2501 closed

[2016-08-19 17:15] abbyad commented on #2650
Looks like we could add them like [ageInYears](https://github.com/medic/medic-webapp/blob/a6b15968b793835d14e96b7438f82053b959fc4a/static/js/services/xml-forms.js#L14-L25).

@garethbowen given the upcoming deployment for this project, would it be feasible to fit this in before the 2.8.0 release?

[2016-08-19 17:41] SCdF commented on #1325
Not every ticket has to. The idea is that goals are a focus, not a ridged collection of dos and don'ts.

[2016-08-19 18:06] abbyad commented on #2450
Is this available somewhere to be acceptance tested? @michaelkohn is waiting on this fix for a project.

Is this being included in the upcoming v2.8.0 release?

[2016-08-19 18:11] abbyad commented on #2616
#2450 is not listed explicitly, @garethbowen do you know if is already released? If not, we should include it here.

[2016-08-19 18:18] sglangevin commented on #1325
This ticket is in there because it's needed for DIY and we are due to have a new build of DIY soon. I think it should stay.

[2016-08-19 18:29] abbyad commented on #2616
Also had a request to include #2650 if feasible.

[2016-08-19 18:47] sglangevin opened #2651 "Removed"

[2016-08-19 18:55] sglangevin commented on #2651
Created in the wrong repo by accident - see https://github.com/medic/medic-projects/issues/659

[2016-08-19 18:57] #2651 closed

[2016-08-19 19:05] michaelkohn opened #2652 "Consider filtering out feedback docs from the medic database"
A large number of feedback docs are being created and replicated to PostgreSQL.  While the size of the documents is not necessarily huge from a space perspective, we have only one table in PostgreSQL (couchdb) and we are replicating a lot of unnecessary documents.  In one project, over 20% of total documents (out of 700k+) are feedback docs.  While creative use of indexes can help with the impact

[2016-08-19 23:28] browndav commented on #2623
I think I have a pretty good handle on this now, after writing a quick script to interact with IndexedDB directly. Short answer: not great news.

There are two documented ways I found to turn persistent storage on. MDN documents a variant of `IDBFactory.open` for Firefox, where the `version` argument can be replaced with an `options` argument of the form `{ version: 1, storage: 'persistent' }`. Th

[2016-08-21 20:14] garethbowen commented on #2613
The problem is we're not talking about our app's data, we're talking about the webview's data. We need to find a way to convince the webview to store data on the SD card.

[2016-08-21 20:17] garethbowen commented on #2395
Me too...

[2016-08-21 20:21] garethbowen commented on #2219
I vote for removing it as it hasn't been touched in 5 milestones...

[2016-08-21 20:30] garethbowen commented on #2651
@sglangevin It'd be great to get a comment about why you deleted this. Could you not reproduce it? Was your phone slow for other reasons? etc. Share the knowledge!

[2016-08-21 20:48] garethbowen commented on #2652
We don't replicate feedback docs to restricted users, but for couch2pg we made the decision to replicate everything. I don't think we want to reintroduce filtered replication for couch2pg (for other reasons) but we could test it out to see if it works.

We can't easily store them in a different database either because that would require all clients to replicate to two different databases which mea

[2016-08-21 22:11] abbyad commented on #2651
Looks like this issue was moved to another repo: https://github.com/medic/medic-projects/issues/659

[2016-08-21 23:27] garethbowen commented on #2650
I've merged this in to 2.8.x so it'll be acceptance tested in parallel with code review.

[2016-08-21 23:34] garethbowen commented on #2616
@sglangevin I've published a 2.8.0-beta.3 which includes #2450 and #2650 . Would you mind acceptance testing those too (or delegating them to @abbyad )?

[2016-08-22 00:37] garethbowen commented on #2384
@alxndrsn Where's the code? How will it run if not in master?

[2016-08-22 01:12] garethbowen commented on #2645
My proposal...

I consider a modal dialog to be a page, and therefore its controller should handle gathering all the data needed for the view, and handling all actions invoked from the view. This keeps all the related code together, and also separates the concerns of the modal from the underlying page.

We should still maximise code reuse so develop a directive for modal templates which outputs al

[2016-08-22 01:20] garethbowen commented on #2147
@abbyad Surely the investigation stage is over?

[2016-08-22 01:22] garethbowen commented on #2384
This is the branch: https://github.com/medic/medic-api/tree/2384_rename-chw-areas

[2016-08-22 01:31] abbyad commented on #2147
Ya, it's been an ongoing process but think we've fleshed it out sufficiently. We've created issues for all known areas of work, and anything else that is discovered at this point will be opened as separate issues.

[2016-08-22 01:31] #2147 closed

[2016-08-22 01:45] garethbowen commented on #2384
Temporary views are really slow. I don't know how many records Christian Aid has but this would take LG offline for maybe an hour. But I can't think of any decent workaround. Maybe this should just be run as a one off node script on a case by case basis?

[2016-08-22 03:32] garethbowen commented on #2575
Fixed as part of #2553

Now it looks a little different but should function the same.

![reporting-rates-updated](https://cloud.githubusercontent.com/assets/2064938/17843039/92013c08-687d-11e6-89ff-96a30442ac18.png)

[2016-08-22 03:32] #2575 closed

[2016-08-22 03:34] garethbowen commented on #2558
@alxndrsn I'm not sure what we can do about that - raise an issue against travis?

[2016-08-22 03:36] garethbowen commented on #2502
Instance no longer required - we're going hosted!

[2016-08-22 03:36] #2502 closed

[2016-08-22 03:40] garethbowen commented on #2392
We don't support development on Windows at this point. My understanding is that node on Windows is challenging. I'd really appreciate any pull requests to get us towards supporting Windows, but otherwise I recommend using any linux distro (I'm using Ubuntu here) or OSX.

[2016-08-22 03:40] #2392 closed

[2016-08-22 03:42] garethbowen commented on #2332
Closing as can't reproduce. Reopen if it happens again.

[2016-08-22 03:42] #2332 closed

[2016-08-22 03:44] garethbowen commented on #2296
All "online-only" users have full access to the database. This is because we rely on replication to filter down to only docs the user has access to. Allowing for online access for restricted users is a big job.

[2016-08-22 07:41] estellecomment commented on #2645
That works! Like the wise @SCdF, I do not argue endlessly when a viable solution is already found.

 - Directive sounds nice.
 - For extending scope, there's a `scope` arg that you can pass to `$uibModal.open` (https://github.com/angular-ui/bootstrap/tree/master/src/modal/docs)
 - In the modal-is-a-page viewpoint, we should move some after-modal stuff, that's currently in the modal-calling control

[2016-08-22 07:53] #2649 closed

[2016-08-22 08:09] estellecomment commented on #2645
(I'd enjoy doing it, but it's likely you'll get to it faster than me)

[2016-08-22 08:59] SCdF commented on #2652
I'm perfectly happy running native (ie CouchDB-based) filtered replication here, because it's one replicator per deployment, not one per CHW. It's probably one of the view cases where it scales reasonably well. Note that this complicates things a little because we'd want to avoid your medic-api replication (it's not helpful here, the filter would be different etc). Shouldn't be hard, it just requi

[2016-08-22 09:27] garethbowen commented on #2645
Heh. I've already started on the directive, because it's useful for either approach.

[2016-08-22 11:12] garethbowen commented on #2645
@estelle: I've refactored the DeleteDocConfirm modal as a proof of concept. It'd be awesome if you could review [the branch](https://github.com/medic/medic-webapp/compare/2645-refactor-modals) before I do any more...

[2016-08-22 13:55] estellecomment commented on #2645
Nice job!
Couple tweaks, but works for me.

[2016-08-22 14:00] mandric commented on #2575
I actually liked the index of districts on a separate page as opposed to a dropdown because then (in the year 3000) we can add pies of all the districts so you could see more "birds eye view" and drill into problematic regions.

[2016-08-22 14:07] mandric commented on #821
Ok this is setup to happen in cron now via `backups/rsnapshot-hourly`.  I didn't get to setting up notifications on failures yet.  Thinking maybe we do that as another issue, or maybe there is one already.  @browndav assigning to you for code review, see PR above.

[2016-08-22 15:21] mandric opened #2653 "trim spaces from usernames and passwords on login page"
If you submit "john " in the username box the space at the end is submitted in the POST.  We should `String.trim()` that off since it's easy on mobile devices to get junk in there.

[2016-08-22 17:05] sglangevin commented on #2651
Thanks @abbyad - not sure what happened, but I had a comment in here that I had moved it to another repo, that must have been removed.

[2016-08-22 19:41] garethbowen commented on #2648
This doesn't work. Reopening.

[2016-08-22 19:41] SCdF opened #2654 "Test LG Branch Manager setup"
We need to:
 - Branch on 2.8.0
 - Take the view change in #2648 and cherry pick it in, tag as 2.9.0
 - Push that to lg-testing
 - Notify the cavalry / @sglangevin

[2016-08-22 19:44] garethbowen commented on #2654
NB: #2648 isn't ready for testing yet.

[2016-08-22 20:11] garethbowen commented on #2575
We can cross that bridge when we come to it.

[2016-08-22 22:00] garethbowen commented on #2654
NB 2: We might try to get this in to 2.8.0 which is almost ready rather than creating a new release.

[2016-08-22 22:37] sglangevin commented on #2334
I think People tab will be fine as mobile users don't currently see the labels, so renaming shouldn't be an issue. I'll have to confirm that, though, as we want to be extra careful about anything that might confuse CHPs.

In the family contact profile page, the current option is "Add family member" so I'm not sure where we will see "New Person". Is this on the FAB? Maybe @diannakane can give me th

[2016-08-22 22:40] garethbowen commented on #2648
Issues I can see with this solution...

1. It affects 0.4 and DIY users - try to find a way to turn this on/off based on a permission.
2. The API changes handler hasn't been updated to be consistent which means the solution probably isn't working at all.
3. I think it'll break on upgrade because users with the old view code will request docs they're no longer allowed to see with the new view code.

[2016-08-22 22:56] sglangevin commented on #2450
I've acceptance tested this on lg.dev (v2.9.0-beta.4) and it's working well. Moving to ready.

[2016-08-22 23:02] diannakane commented on #2334
Everything is contextualized, so "new person" will replace "new family
member" as the default but will understand this to be adding a person to
the place page you are on, just as the "new actions" are specific to the
page you are on. For a CHP, a family member is the only type of "new
person" they can add, so this shouldn't be too confusing.  We will need to
be able to translate for different cont

[2016-08-22 23:04] sglangevin commented on #2650
@garethbowen for ageInDays I am getting a result that is off by one day. I put in my context a condition that `ageInDays(contact) >= 29` but the form appears for the child when they are 28 days old and disappears when they are 27 days old. Could be an issue related to how birthdates are stored vs. displayed in the app, not sure.

[2016-08-22 23:05] sglangevin commented on #2616
@garethbowen #2450 is good to go, left a comment on #2650 as it seems to be off by a day.

[2016-08-22 23:07] diannakane commented on #2342
@abbyad Not instead of the Task tab, it would show as a locked item at the
top of the LHS place list as seen here:
https://projects.invisionapp.com/share/XA7CTCBGU#/screens/163504202

On Fri, Aug 19, 2016 at 9:53 AM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273e

[2016-08-22 23:07] sglangevin commented on #2334
Ok, cool, that makes sense. I think that *should* be fine, but if we can keep the option open by having translations for all the labels, that would be great. Then our new default will be "new person" but existing projects can have "add family member" if needed. They will probably want to change it because I think the wording currently applies to all levels of the hierarchy and it doesn't make much

[2016-08-22 23:17] diannakane commented on #1848
History in profile was given a minor update to keep it relevant and
minimize scrolling, using the filter designed for Tasks on profile. I'd
suggest any larger updates to History to come in a future milestone.

On Fri, Aug 19, 2016 at 9:39 AM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/trac

[2016-08-22 23:20] diannakane commented on #2334
Right, we'll need to be able to translate into different languages so if a
partner has a strong preference, customizing labels should be available to
us. The reason we went for the more generic "new person" was to minimize
the customizations in the default, since the label would have to change for
every page depending on the type of person added to that place, and for
some places that may be multi

[2016-08-22 23:24] garethbowen commented on #2650
Details...

Henrietta DOB: `"2016-07-25"`
Form context expression: `!contact || (contact.type === 'person' && (!contact.date_of_birth || (ageInYears(contact) <= 5 && ageInDays(contact) >= 29)))`
Today's date: August 22nd (US TZ)

It's showing up as expected in NZ.

[2016-08-22 23:44] sglangevin opened #2655 "Enketo date-picker should store dates in UTC"
Currently we are moving between UTC and local time, causing tasks to display on incorrect days and form context for the new `ageInDays` function to be off by a day in some timezones. We should store all dates in UTC to avoid confusion and strange behavior.

[2016-08-23 00:20] garethbowen commented on #2650
It was decided to make the ageIn functions timezone sensitive so they are consistent with the other age calculations in the app. This means that a child may be shown as 29 days old and a form shown for one user, and shown as 28 days old and the same form not shown.

[2016-08-23 00:33] garethbowen commented on #2616
I've patched #2650 so it should be fixed in the next 2.8.0 beta. I'll also to add #2648 to the beta.

[2016-08-23 03:06] michaelkohn commented on #2652
I don't really know enough about 1 and 3 to have a strong opinion.  However, if the feedback records are still being generated (just not replicated to PostgreSQL), I would still be a bit concerned that they could build up somewhere if they are not being monitored somehow.

Also, I didn't really understand @garethbowen 's comment about reviewing and deleting feedback docs potentially making the sit

[2016-08-23 03:54] garethbowen commented on #2648
The last bit left is to sort out how to switch this on/off. My thoughts so far are to change the view so instead of `[ contactId ]` it's keyed by `[ contactId, depth ]`, for example if given this report:

[code]

These keys would be emitted: `['b',0]`,`['c', 1]`.

A user who is at district "c" who can see all levels would query the view for keys: `['c', 0]`, `['c', 1]`, `['c', 2]`, ..., `['c', n]`

[2016-08-23 08:30] estellecomment commented on #2648
Ha was thinking about this! (but didn't get it properly out of my brain, so that wasn't so helpful)

Works for places too :
I’m a manager, here's my place:
[code]
And a sub-place
[code]
Outputs for places :
[code]
And thus `myDistrict` user gets only the first doc if `depth=0`, or the first and third docs if `depth=1`.

And for contacts :
[code]
[code]
Outputs contacts :
[code]

+1 for variable de

[2016-08-23 08:38] garethbowen commented on #2648
At the moment we only support boolean permissions which keeps things nice and simple. Maybe we just store depth separately to the permissions. It's still configurable per role but just in a different part of the settings.

[2016-08-23 08:56] SCdF commented on #2655
I don't want to blow the scope of the ticket out, but perhaps this is probably a good opportunity to check all of our date storage and make sure we understand what is and isn't in UTC. IMO everything should be UTC because it's a nice simple rule to remember and reason about. If we can't do that we could at least document the rules somewhere so it's clear.

[2016-08-23 09:01] SCdF commented on #2648
Complex! But, simpler solutions are too simple to work unfortunately, so this looks like it's just complex enough.

[2016-08-23 09:03] garethbowen commented on #2655
UTC storage was checked as part of #2185 . Interestingly enketo dates are marked as being ok... Anyway, double check and fix if necessary, but all other dates should be fine.

[2016-08-23 09:41] SCdF commented on #2500
@garethbowen feel free to take a look at the linked PR.

_(One of the Travis builds fails, which is really weird since I'm rebased off master, so it's not clear why 1/4 of the runs is failing and none of the runs in master are. It appears to be a timing thing in the api integration tests.)_

[2016-08-23 11:51] SCdF opened #2656 "Rename kujua_message to outgoing_message"
We use `kujua_message` to mean this is a message that is being sent from the app. That doesn't make sense anymore. It should be renamed to something more meaningful and obvious.

See: https://github.com/medic/medic-webapp/blob/master/static/js/services/send-message.js#L35-L36

This could break some things. @garethbowen could maybe say some interesting things about this. Or not, the ticket taker-up

[2016-08-23 12:11] SCdF opened #2657 "Convert send-message to new modal style"
Send message functionality currently sits like this:
 - send-message.html, the modal dialog
 - modules/send-message.js: contains logic for dealing with the modal dialog, as well as some validation logic hooks
 - services/send-message.js: takes input from the module and stores them as tasks to be sent later
 - Misc: inbox.js inits the module for the whole app, various bits of HTML have a class that

[2016-08-23 13:05] SCdF opened #2658 "Calculate how many people everyoneAt will send to"
In previous versions of send message we knew how many people we were sending to because we loaded every person into the dropdown.

When we changed to using the select2-search module we lost this functionality.

It's probably important, and SMS cost money. We should consider adding it back.

It is slightly tricky:
 - In the old version this was inline in the drop-down. You would see _Mukono - send

[2016-08-23 13:14] SCdF opened #2659 "Add recipients doesn't work"
To reproduce:
 - Go to the messages tab
 - Click on already contacted person
 - Click reply to and type some stuff
 - Click add recipients

What you'd expect to see:
 - The send message modal
 - with the contact already in the to box
 - and your message in the message box

What you actually see
 - The send message modal
 - You message in the message box
 - **Noone in the To box!**

This is probabl

[2016-08-23 13:16] SCdF opened #2660 "Clean up send-message.js e2e to not use browser.sleep so much"

[2016-08-23 13:33] SCdF commented on #2650
Tiny minor stuff, otherwise LGTM

[2016-08-23 14:00] abbyad commented on #2574
4 deleted with `analytics.stock.*`
1 deleted with `Stock\ Monitoring`

[2016-08-23 14:00] #2574 closed

[2016-08-23 14:01] abbyad commented on #2574
Assigning to @bishwas-medic for Acceptance Testing.

[2016-08-23 15:17] sglangevin opened #2661 "Cannot update a contact's phone number without an error"
When you try to edit the phone number of a person, you get an error while saving because the system thinks the number is not unique. To reproduce, go to a person, click edit, then click Submit to try to save that person (they must have already had a phone number).

[2016-08-23 15:59] SCdF commented on #2660
@garethbowen OK I took a crack at this. See the commit above (it's in [a branch](https://github.com/medic/medic-webapp/compare/2660_ill_sleep_when_im_dead)).

Here is where I got to:
 - Some of them could be replaced quite easily I think, though I'm not certain
 - Some of the select2 stuff is really flaky and I'm not sure what to wait for
 - Even though I'm in theory waiting for a promise to compl

[2016-08-23 16:00] SCdF commented on #2660
We can talk about it at the next standup, or if you want you can take a crack at making it awesome.

[2016-08-23 16:59] mandric commented on #1980
Related: https://github.com/medic/medic-projects/issues/653

[2016-08-23 19:55] sglangevin commented on #1980
Note that that is the second request we've had for a bulk edit of families, to move them from one CHP to another.

[2016-08-23 20:08] diannakane commented on #1980
From a user experience standpoint, moving families from one CHP to another
would happen in the People tab by editing and reassigning a CHP's place.
The reports associated with those families would stay with the families and
relevant tasks would be applied to the new CHP.

On Tue, Aug 23, 2016 at 12:55 PM, Sharon Langevin <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Me

[2016-08-23 20:10] garethbowen commented on #2656
Alternatively it might make sense to change the `type` to "message" (or something) and have an `incoming:(boolean)` property. We have a lot of logic in a log of places to try and work out if a "data_record" is a report or a message and it'd be great to see it disappear!

[2016-08-23 20:11] sglangevin commented on #1980
@diannakane currently tasks are generated based on reports, so the new CHP would have to have access to the old reports in order to see any tasks that are generated based on those reports. Without the reports, the app wouldn't know what needs to be followed up on. Maybe we could keep the contact on the reports the same as the old CHP though? I think that's how it happened the last time I did this

[2016-08-23 20:17] diannakane commented on #1980
Reports would stay with the family, so the new CHP would have access to old
reports. We don't the new CHP to be listed as the one who submitted old
reports though, b/c then their targets would be affected.

On Tue, Aug 23, 2016 at 1:11 PM, Sharon Langevin <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/tra

[2016-08-23 20:20] garethbowen commented on #2650
@SCdF I don't quite follow one of your comments - we can chat about it after the standup. Closing so acceptance testing can be done.

[2016-08-23 20:20] #2650 closed

[2016-08-23 20:29] garethbowen commented on #2657
Wait for #2645 - it's an even newer modal style!

[2016-08-23 23:10] sglangevin commented on #1980
I realized I totally misread your previous comment - we are on the same page. Since this issue is about bulk edit, just wanted to provide a +1 for implementing bulk edit as it comes in handy when moving families from one CHP to another.

[2016-08-24 04:14] garethbowen commented on #2648
I've fixed the aforementioned issues and backported everything to 2.8.x. Also included a unit test to ensure the view and the api handler stay in sync. This is quite complicated but also quite powerful.

To configure it you'll need to edit the "Replication depth" section in the app settings in dashboard.

[2016-08-24 04:24] garethbowen commented on #2616
@sglangevin @abbyad 2.8.0-beta.5 is ready to go with the patch to #2650 and #2648 ready for testing.

[2016-08-24 04:25] garethbowen commented on #2654
This has been included in 2.8.0 so will be tested as part of that.

[2016-08-24 04:25] #2654 closed

[2016-08-24 04:34] garethbowen commented on #2500
The code looks fine. Assigning back to you to squash/merge/whatever.

[2016-08-24 07:44] SCdF commented on #2648
![image](https://cloud.githubusercontent.com/assets/583851/17922418/c8071de0-69d6-11e6-8ca8-b62997e028aa.png)
That's a lot of commits, some of which I presume are duplicates. PRs, or at least a link to commit ranges, would be really helpful here.

[2016-08-24 08:39] estellecomment opened #2662 "Create API endpoint for replacing whole app_settings with new object"
Right now we have:
- an endpoint for getting app_settings:
  [GET /medic/_design/medic/_rewrite/app_settings/medic](https://github.com/garden20/app_settings#retrieve-settings)
- an endpoint for merging existing app_settings with an object, in different ways:
  [PUT /medic/_design/medic/_rewrite/update_settings/medic](https://github.com/garden20/app_settings#update-settings)

But none for replacing

[2016-08-24 08:55] estellecomment opened #2663 "`GET /medic/_design/medic/_rewrite/app_settings/medic` returns unexpected `schema`"
`GET /medic/_design/medic/_rewrite/app_settings/medic` returns

[code]

I got surprised by this, I find it unexpected that GETing `app_settings` would also return other stuff. (it also caused a bug in e2e `utils.js` for that reason). It would be a nicer API to return only app_settings.

Note : We'd need to update all the callers of the API.

[2016-08-24 09:17] garethbowen commented on #2648
Yeah, sorry. Because it was already committed to master I just sort of went with it. On top of that some commits are to api, and some to webapp, and some to master, and some to 2.8.x... Here are the important ones:

- https://github.com/medic/medic-api/commit/1c3db5403ae5877e84926f65651845b4e467a242 : This means instead of blowing up when a user requests a doc we don't think they should see, we ju

[2016-08-24 09:28] estellecomment opened #2664 "Document `PUT /medic/_design/medic/_rewrite/update_settings/medic`"
It's tricky to understand.

[2016-08-24 09:29] garethbowen commented on #2664
What's missing in [the documentation](https://github.com/medic/medic-webapp/tree/master/packages/app-settings)?

[2016-08-24 09:31] estellecomment commented on #2664
It's not missing, it's just tricky to understand. It wasn't enough for me to get what it was doing, so I'm making it clearer.

[2016-08-24 09:33] estellecomment commented on #2664
@mandric can you review the PR please? (and merge it, I don't think I have permissions)

[2016-08-24 11:51] SCdF commented on #2648
Choice

[2016-08-24 12:57] #2547 closed

[2016-08-24 12:57] #2500 closed

[2016-08-24 16:59] abbyad commented on #2342
Ah ok, I was confused by the "upon login" and "Upon startup" in the original post. Would it be accurate to say that it is "Show `your place` in RHS when first navigating to the People tab"?.

![image](https://cloud.githubusercontent.com/assets/789512/17939803/33e74f94-69fa-11e6-87ef-f07077489637.png)

Having your own place in the top left is being done as part of https://github.com/medic/medic-web

[2016-08-24 17:04] diannakane commented on #2342
Yes, thanks for clarifying, Marc. Right now, when you first navigate to the
People tab, the RHS is blank. In the redesign, you would see "Your Place."

On Wed, Aug 24, 2016 at 9:59 AM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c51157

[2016-08-24 18:36] sglangevin commented on #2648
@garethbowen I've done initial testing and it's working mostly for branch manager type users, but it seems to be broken for CHP users. For the branch manager user, it's not downloading my history if I clear data and log in again. Might be related to this issue:

![image](https://cloud.githubusercontent.com/assets/1286381/17943038/9ade573a-69ee-11e6-8f92-34a309e1d6bc.png)

When I log in as a CHP, I

[2016-08-24 21:36] sglangevin commented on #2650
@garethbowen tested this and it's working well now. Moving to ready.

[2016-08-24 21:45] sglangevin commented on #2661
![image](https://cloud.githubusercontent.com/assets/1286381/17949257/5e6615c0-6a09-11e6-843c-1afcabdb443a.png)

[2016-08-25 00:06] browndav opened #2665 "Improve application performance for high-utilization CHPs"
In testing, @sglangevin has been experiencing major application performance problems with a newly-replicated set of documents from a high-performing CHP (total database size: 3430 documents). Operations that fetch data were taking on the order of 10-15 seconds, leading to lags in the UI and general un-usability.

In analysis, we noticed that `allDocs` was outperforming `query` for this IndexedDB d

[2016-08-25 00:07] garethbowen commented on #2665
Patch: https://github.com/medic/medic-webapp/commit/153aec454f3148265b8a4b34dfd0246668adfa91

[2016-08-25 00:08] garethbowen commented on #2665
My understanding is everyone on 2.7.x will get on to 2.8.x soon so the backport to 2.7.x shouldn't be necessary.

[2016-08-25 00:12] browndav commented on #2623
Update: we have origin trial keys. I'll perform another round of quota tests using Chrome 52's `navigator.storage.persist()` this week and report back.

[2016-08-25 00:17] #2665 closed

[2016-08-25 00:18] browndav commented on #2632
It was; it came out of a minor August 12th production downtime incident (instance details in #downtime on Slack). IIRC we applied this change to `medic-api` during the `0.6.x` series IIRC but hadn't addressed the issue (or experienced the issue) on a `0.4.x` instance.

[2016-08-25 10:33] garethbowen commented on #2645
Assigning [the PR](https://github.com/medic/medic-webapp/pull/2666) to @estellecomment for review.

[2016-08-25 13:36] estellecomment commented on #2383
@mandric can you review again please? It's basically just this last commit :
https://github.com/medic/medic-webapp/commit/12462665c3aaf99962580443d18e43a95b404e0c

The e2e tests are looking more and more complicated, so that'll come later.

[2016-08-25 13:38] estellecomment opened #2667 "`revertSettings` in e2e tests doesn't work"
It's not using medic-api in the proper way, so it's saving the schema by accident, and then not actually reverting all fields.

[2016-08-25 13:42] estellecomment commented on #2667
@mandric can you review please?

[2016-08-25 13:51] mandric commented on #2383
👍

[2016-08-25 14:35] estellecomment commented on #2645
Looks good!
I have looked over everything but didn't bend over backwards finding typos. Acceptance testing FTW!
2 small comments are in the PR (I'll let you merge and close): https://github.com/medic/medic-webapp/pull/2666

Acceptance testing : check that the modals aren't broken! They should look right, and when you submit they should do the action properly (save, update, whatever).
 - All the on

[2016-08-25 14:54] estellecomment opened #2669 "e2e test for sending JSON reports from Action button"
Requires medic-reporter.
Might be better to just e2e test medic-reporter...

[2016-08-25 15:53] estellecomment commented on #2661
I see it on lg.dev.
I can't reproduce it locally, even with same version (2.8.0-beta.6), minifying, and using the same `contact:person:edit` form.

More tomorrow...

[2016-08-25 17:49] sglangevin commented on #2648
@garethbowen I tried replication depth of 1, but that doesn't show me family members when I log in as a CHP. So replication depth has to be 2 so that I see families and family members when logged in as a CHP and I see CHP Areas and families, but no family members when logged in as a branch manager. I definitely don't see any family members when I log in as a branch manager, but I do see forms abou

[2016-08-25 20:13] garethbowen commented on #2301
This was fixed as part of #2645

[2016-08-25 20:13] #2301 closed

[2016-08-25 21:31] garethbowen commented on #2648
The problem is we've been picking depth based on the contact not the parent. This is convenient because we have the entire contact hierarchy, but it's not as accurate. If you can see a patient you should be able to see reports about that patient.

This will require a further significant change to the replication code which I'll get on to ASAP.

[2016-08-26 07:37] SCdF commented on #2660
NB: that branch is now out of date as I've refactored that code to re-use more of its elements. When attempting this we'd need to start again from master.

[2016-08-26 08:20] SCdF opened #2670 "Store GPS failure"
It would be helpful to store the GPS failure reason in documents so we know why GPS wasn't acquired (at least vaguely).

Currently [we are storing failures](https://github.com/medic/medic-webapp/blob/master/static/js/services/enketo-prepopulation-data.js#L38-L39) (if the android wrapper comes back an error it will be valid JSON which we then set into Enketo), but it's being lost later, probably in

[2016-08-26 08:21] SCdF commented on #2670
@garethbowen / @alxndrsn any idea if this is intentional (not storing GPS failure errors in documents)?

[2016-08-26 08:22] SCdF commented on #2670
Another way of dealing with getting this information would be an implementation of #2031. A GPS failure would be a logable item.

[2016-08-26 09:00] estellecomment commented on #2661
Ha!

[This line](https://github.com/medic/medic-webapp/blame/2.8.0-beta.6/static/js/enketo/widgets/phone-widget.js#L52) :
`var contactBeingEdited = angular.element( $( '.enketo form' ) ).scope().enketo_contact;`
is failing because the `.scope()` is not found.
And that's because [`angular.element(blah).scope()`](https://docs.angularjs.org/api/ng/function/angular.element) needs [Debug Data](https://

[2016-08-26 09:16] estellecomment commented on #2661
It should be fixed already by https://github.com/medic/medic-webapp/commit/375bfc984a11d2414f73dd14e539298de5e77dba, which is tagged 2.7.1, so I'm not sure what happened there. Looks like the release branch hasn't merged for a while.
@garethbowen ?

History for the file :
https://github.com/medic/medic-webapp/commits/master/static/js/enketo/widgets/phone-widget.js

[2016-08-26 13:46] estellecomment commented on #2645
Last one!

[2016-08-26 17:53] abbyad commented on #2487
The SMS in the webapp come from the following parts of the configuration:
- **`Registrations`**: Validation + response messages following a registration form
- **`Schedules`**: Series of SMS triggered by a registration
- **`Patient Reports`**: Validation + response messages following submissions about patients
- **`Notifications`**: validations &  response messages when turning notifications on an

[2016-08-26 17:55] abbyad commented on #2487
@estellecomment feel free to re-open if you need more info for this list.

[2016-08-26 20:34] mandric commented on #2664
Merged!  You also might consider updating the local copy in medic-webapp since that's maintained in git.

[2016-08-27 01:27] mandric commented on #821
Ok @browndav this should be a little closer now.  Added make style generation and install targets.  See PR above (private).

[2016-08-28 13:30] SCdF commented on #2659
Hey @garethbowen check out https://github.com/medic/medic-webapp/pull/2672

If you're happy with it I'll squash it into a sensible commit message.

[2016-08-28 13:31] SCdF commented on #2263
I believe this is being completely taken care of in the tickets that Gareth linked.

[2016-08-28 13:31] #2263 closed

[2016-08-28 19:54] garethbowen commented on #2670
It'd be nice to store it on the record somehow so it's clear why it's missing. I have no idea whether this was intentional or not.

[2016-08-28 20:01] garethbowen commented on #2645
That change looks good. I noticed we're hardcoding the "medic-reporter" URL here:

`var medicReporterBaseUrl = '/medic-reporter/_design/medic-reporter/_rewrite/';`

We can't do this because we don't necessarily know the reporter db. Instead you should use the configured `muvuku_webapp_url` in app settings.

If you wanted you could also write a migration to rename that setting to `medic_reporter_ur

[2016-08-28 20:06] garethbowen commented on #2667
@mandric is right - we have to revert both `medic` and `medic-client` settings. API listens for ddoc changes and extracts the settings from `medic` to `medic-client` so if some test changed the server settings this would cause instability in the tests.

This raises an interesting question - if API is indeed watching for settings changes and updating medic-client then why is this necessary? It'd be

[2016-08-28 20:26] garethbowen commented on #2659
I've added some comments to the PR.

There seems to be a change where instead of passing the given doc to send message, we just pass doc._id, and then fetch the doc from the DB again. This shouldn't be necessary. If you're given an object with a _id property then we should just be able to supply that directly and only go to the DB if we're given a string that's not a phone number.

[2016-08-28 20:32] garethbowen commented on #2661
@estellecomment I have no idea how GH works out the tag because it seems kind of random. This was fixed in #2420 which hasn't been included in [2.7.x](https://github.com/medic/medic-webapp/blob/2.7.x/static/js/enketo/widgets/phone-widget.js#L52) or [2.8.x](https://github.com/medic/medic-webapp/blob/2.8.x/static/js/enketo/widgets/phone-widget.js#L52).

I'll make sure this makes it in to 2.8.0.

[2016-08-28 20:33] garethbowen commented on #2661
This is a duplicate of #2420

[2016-08-28 20:33] #2661 closed

[2016-08-28 22:29] garethbowen opened #2673 "Integration testing for the replication handler"
The replication handler is a critical piece of our security model and it's only covered by unit tests. Write integration or e2e tests for replication covering unassigned documents, depth, changes after the request is established, and requesting unauthorized docs.

[2016-08-29 03:53] garethbowen commented on #2648
Two PRs to review... https://github.com/medic/medic-webapp/pull/2674 https://github.com/medic/medic-api/pull/97

[2016-08-29 05:37] ngamita opened #2675 "Missing patient ids and CHW names. Sentinel not fully running on Strong Minds instance."
Team,

We've been consistently filing issues around this for specific Strong Minds instance. Partner is continuously complaining about missing ids and we have to run this manually to be included. Ticket https://github.com/medic/medic-projects/issues/596#issuecomment-239271137 raised with discussions. Please requesting that you add more debug logging to try to pinpoint the problem in sentinel

cc @

[2016-08-29 07:08] estellecomment commented on #2469
duplicate of https://github.com/medic/medic-webapp/issues/2664

[2016-08-29 07:08] #2469 closed

[2016-08-29 07:18] estellecomment commented on #2487
Thanks @abbyad good work!
I have a couple clarifying questions (I can also comment on doc if you give me permissions) :
 - What are Notifications? Are they the same as the Response Messages for Patient Reports and Registrations?
 - for Alerts, what are "rules" exactly?
 - what's concatenation of messages?

[2016-08-29 07:21] estellecomment commented on #2487
Ah sorry, just realizing you explained the first point in your github comment above.
Could you add the content of that comment to the doc so that it's self-explanatory? I'm happy to do it too if you like. (no permissions!)

[2016-08-29 07:29] estellecomment commented on #2667
Interesting, I was wondering which of `medic` and `medic-client` to edit.
I tried both in turn, and my forms showed up the same in the UI. So I suppose API was copying from `medic` to `medic-client` appropriately.

Is anything actually using the settings in `medic` then? The `Settings` service gets them from `medic-client` (which is why I went for it).

If I edit both, then API will copy the new s

[2016-08-29 07:38] estellecomment opened #2676 "e2e test for the app_settings update flow"
- make a change to `medic` ddoc app_settings
- the app_settings get copied over to `medic-client`'s app_settings
- the change in `medic-client` triggers the Update modal
- user clicks modal
- page gets refreshed, and new settings are present (e.g. new form in the list, or something else visible)

[2016-08-29 07:46] estellecomment commented on #2664
Thanks!

[2016-08-29 07:46] #2664 closed

[2016-08-29 07:50] estellecomment commented on #2645
+1 I'm doing that in #2669 . I submitted the refactor here to get it out of the way.

[2016-08-29 07:50] #2645 closed

[2016-08-29 09:07] garethbowen commented on #2645
Excellent. Good work!

[2016-08-29 09:11] garethbowen opened #2677 "Convert medic-reporter from erica to a better build tool"
One fewer build tool!

[2016-08-29 09:15] garethbowen commented on #2676
Step 3 won't happen. Unfortunately we've had to turn off all longpoll requests (read: changes feeds) because they cause protractor to hang while waiting for the page to load.

There is still plenty of value in testing that the setting is copied to medic-client and when the page is manually refreshed the setting takes effect.

[2016-08-29 09:18] garethbowen commented on #2667
As mentioned https://github.com/medic/medic-webapp/issues/2676#issuecomment-243074035 the update modal won't show while e2e testing. API (and probably Sentinel) load their settings directly from `medic`. Also remember that we only ship the `medic` ddoc - the `medic-client` ddoc is an attachment with no settings yet, so on first run the settings only exist on `medic`.

[2016-08-29 10:30] garethbowen commented on #2677
Actually, you know what, kanso is legacy now. Use grunt.

[2016-08-29 12:07] estellecomment opened #2678 "Remove packaging of api and sentinel by `kanso push` for local dev"
When you run `grunt dev`, it calls `kanso push`, which packages api and sentinel for gardener. That's not necessary for dev environment, and it's long.

It's done by the `kanso-gardener` package, which you can disable by removing [this line in kanso.json](https://github.com/medic/medic-webapp/blob/master/kanso.json#L52).

Find a way to do this more cleanly so that I don't have to edit the kanso.js

[2016-08-29 12:17] estellecomment opened #2679 "Add option to not run npm-install in grunt dev"
Because it takes a lot of time, and you're fetching the same dependencies over and over again, most of the time.

[2016-08-29 14:46] estellecomment opened #2681 "medic-reporter ignores _forms_list_path"
The value passed into _forms_list_path is ignored.

[2016-08-29 17:36] SCdF commented on #2648
OK this is really complicated. Would be good to get you to walk me through some stuff, especially the merging and new document discovery in API. Also, would definitely be worthwhile someone else (ie Alex) reviewing this one.

[2016-08-29 18:40] browndav commented on #2665
Performance increase confirmed.

2.7.2:
<img width="573" alt="view-perf-2 7 2" src="https://cloud.githubusercontent.com/assets/763977/18062826/4fdbf52e-6ddd-11e6-8f14-8a0535c558ae.png">

2.8.0 beta 6:
<img width="575" alt="view-perf-2 8 0-b6" src="https://cloud.githubusercontent.com/assets/763977/18062830/57d79fc6-6ddd-11e6-84be-796bcc61e982.png">

[2016-08-29 18:42] browndav commented on #2665
Performance increase confirmed.

v2.7.2:
<img width="573" alt="view-perf-2 7 2" src="https://cloud.githubusercontent.com/assets/763977/18062890/8f9063f8-6ddd-11e6-97ef-b62b18e26164.png">

v2.8.0-b6:
<img width="575" alt="view-perf-2 8 0-b6" src="https://cloud.githubusercontent.com/assets/763977/18062901/977faa88-6ddd-11e6-90a9-bd861c95f42d.png">

[2016-08-29 20:21] garethbowen commented on #2667
One style comment. Feel free to close.

[2016-08-29 20:26] garethbowen commented on #2679
I've added a couple of comments.

This will lead to bugs where build fails because npm is out of date. I think the ideal solution would check to see if the shrinkwrap has changed somehow and only run npm when needed, but if this is useful for you that's fine.

[2016-08-29 20:53] estellecomment commented on #2679
Yeah I know, it becomes up to you to run `npm install` once in a while...
Right now I have the npm task commented out, so it's the same situation anyway for me. I got fed up with having an edited Gruntfile all the time so decided to make it real.

Added comment about "default"

[2016-08-29 23:40] garethbowen commented on #2648
The rules:
* A contact (person or place) is visible to you if it's your place or a descendant of your place within the configured depth. Depth is optional and defaults to seeing all descendants.
* A report is visible to you if it's about one of your visible contacts, unless it is both (a) about you or your place AND (b) submitted by a contact that is not visible to you.

[2016-08-30 03:59] #2636 closed

[2016-08-30 04:00] #2623 closed

[2016-08-30 04:14] garethbowen commented on #2126
This is probably a duplicate of #2665

Assigning to @sglangevin to test.

[2016-08-30 06:51] SCdF commented on #2659
This might work for selections added via being automatically injected from the message pane, but it doesn't work for search results for example, which are summaries not documents.

[2016-08-30 07:08] SCdF commented on #2670
So I misunderstood the `bindJsonToXml` function: it takes your JSON and silently attempts to match it to whatever XML structure already exists. So anything that isn't a lat and a long (ie error reasons) are discarded.

[2016-08-30 07:15] SCdF commented on #2670
![image](https://cloud.githubusercontent.com/assets/583851/18079664/da428050-6e89-11e6-9a4e-6063ab608607.png)
Example of error data structure

[2016-08-30 07:21] SCdF commented on #2670
@garethbowen so I'm not sure what the most correct way to deal with this. A few different ideas:
 - Deal with this externally to the application: change forms so that the XML structure for location looks like this: `<location><lat /><long /><error /><message />`
 - Similar but different: change forms so that there is a separate XML structure elsewhere that we can bind to in case of error (though i

[2016-08-30 09:05] garethbowen commented on #2670
I like the first option because it's explicit and doesn't require special code. I can't think of any better option...

[2016-08-30 09:25] garethbowen commented on #2677
Not a priority and not trivial to do. Putting it on the backlog.

[2016-08-30 09:26] estellecomment commented on #2667
Thanks!

[2016-08-30 09:26] #2667 closed

[2016-08-30 09:51] garethbowen commented on #2679
LGTM

[2016-08-30 09:51] #2679 closed

[2016-08-30 09:57] alxndrsn commented on #2558
Might be the answer.  Is the problem that Travis does not execute the `after_success` step except when all builds pass _when run together_?

[2016-08-30 10:37] alxndrsn commented on #2681
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2669
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2400
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2344
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2343
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2341
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2336
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2339
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:37] alxndrsn commented on #2338
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:38] alxndrsn commented on #2335
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:38] alxndrsn commented on #2334
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:38] alxndrsn commented on #2381
Is there a reason this is not labelled **`1 - Scheduled`**?

[2016-08-30 10:39] alxndrsn commented on #2337
@Lesterng What does "locked" mean?  Does the place stay visible when the rest of the contacts list is scrolled?

[2016-08-30 11:24] alxndrsn opened #2683 "Cannot associate a user with a place"
On latest master, I can't seem to select a place for a user.  I would also expect the select box to be styled like the **Associated Contact** selecter below it:

<img width="1280" alt="screen shot 2016-08-30 at 13 17 23" src="https://cloud.githubusercontent.com/assets/191496/18087219/4828fe44-6eb4-11e6-8499-ef5e889799bf.png">

[2016-08-30 11:36] alxndrsn commented on #2683
Looks like the `Select2Search` service may be swallowing errors.

[2016-08-30 12:08] garethbowen commented on #2616
@sglangevin @abbyad 2.8.0-beta.7 is ready with #2420 and enhancements to #2648

[2016-08-30 12:11] SCdF commented on #2659
Squashed and merged.

[2016-08-30 12:11] #2659 closed

[2016-08-30 12:19] alxndrsn commented on #2683
Seems to have been inadvertently fixed by @SCdF - thanks!

[2016-08-30 12:19] #2683 closed

[2016-08-30 12:57] SCdF commented on #2670
Ok, I made a minor change to generate an error if you're not on Android.

If forms are changed to accommodate those data structures errors will get stored correctly. Forms should be changed like this:
[code]

@abbyad what would the next steps be here? I can just change the XML in projects for LG, but I'm probably not changing exactly the right thing and I don't want to mess up the process.

[2016-08-30 12:57] #2670 closed

[2016-08-30 12:58] SCdF commented on #2660
I cleaned up as much as I could, and the commit was squashed into the add recipient work.

[2016-08-30 12:58] #2660 closed

[2016-08-30 13:05] SCdF opened #2684 "Have a mechanism to push a branch to a server"
Currently it's a real pain if you have a branch you want to test somewhere other than locally. There should be a way, ideally with one command, of getting any particular branch running on any particular server that you have admin privileges over.

[2016-08-30 13:56] SCdF commented on #2648
Consider this reviewed!

[2016-08-30 13:56] #2648 closed

[2016-08-30 14:05] mandric commented on #2684
Couchapps are pretty portable?  No reason the ddoc can't be PUT with http on any server that is running gardener?  Each developer might have their own server they can push stuff to for acceptance testing rather than merging with master (alpha).

[2016-08-30 14:07] SCdF commented on #2684
That doesn't work right now. Or at least, kanso push onto a server doesn't work. I don't understand the details, but something about the deployment (ie also correctly deploying api etc)

[2016-08-30 14:08] mandric commented on #2684
kanso push to a local or remote couchdb is the same thing...

[2016-08-30 14:09] mandric commented on #2684
that would be the mechanism, maybe it's broken though.

[2016-08-30 14:15] SCdF commented on #2339
So I think this translates into:
 - Take the facility id of the current user
 - Take that facilities type
 - Go one type "down" (woe betide you if you're already at the bottom: not something that can happen right now I don't think)
 - Set that as the default internal filter configuration

[2016-08-30 14:36] sglangevin commented on #2648
I'm getting `error getting tasks` and `error getting targets` when logging in as a branch manager and as a CHP user.

![image](https://cloud.githubusercontent.com/assets/1286381/18093363/70f18c72-6e84-11e6-83bc-a71e9772b894.png)

[2016-08-30 14:39] sglangevin commented on #2648
There is one network request failing:
![image](https://cloud.githubusercontent.com/assets/1286381/18093479/dc65d7ec-6e84-11e6-9df5-1edb25ae1627.png)

[2016-08-30 14:49] estellecomment commented on #2669
DOOOONNNNNEEEE

@SCdF please review: https://github.com/medic/medic-webapp/pull/2685

[2016-08-30 14:52] estellecomment commented on #2681
@mandric can you review please?

[2016-08-30 14:57] #2681 closed

[2016-08-30 15:11] estellecomment commented on #2684
If the server runs gardener, right now you can click the button on the market to deploy, but if you want a random branch I don't know how to do it.
If it doesn't run gardener you need to push api and sentinel to it. (does nginx matter in this case?)

In either case, you also need data (though you can achieve that by replicating your local db to the remote one, if you have admin access to the remot

[2016-08-30 15:34] alxndrsn commented on #2340
* [ ] colours
  * [ ] deselected colour
  * [ ] selected colour
* [ ] Icons
  * [ ] update branch icon
  * [ ] update area icon
  * [ ] update household icon
* [ ] remove area hierarchy from LHS list item
* [ ] add primary contact to LHS list item for non-families & non-persons
* [ ] add family member count to LHS list item for families

[2016-08-30 15:44] diannakane commented on #2337
It doesn't need to stay visible while scrolling, it just needs to stay at
the top of the list.

On Tue, Aug 30, 2016 at 3:39 AM, Alex Anderson <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <h

[2016-08-30 15:45] diannakane commented on #2381
I am not sure if this falls within this milestone. @abbyad?

On Tue, Aug 30, 2016 at 3:38 AM, Alex Anderson <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medicmobile.org/> +1 216

[2016-08-30 15:52] mandric commented on #2684
Anything you have running locally should be trivial to setup/copy to any couchdb server.  The same way you push to a local couchdb you can push to a remote one.  It gets a little tricky with the submodules/processes that also need to run (handled by gardener) and might also need patches but that just means you also patch the submodule before you build/package it with the ddoc.

For data/other docs

[2016-08-30 15:59] SCdF commented on #2669
Made some comments on the PR. I'd be a massive fan of not requiring the internet each time you want to run e2e tests (the first time would be fine). Apart from that minor stuff.

[2016-08-30 16:01] alxndrsn commented on #2669
👍 tests shouldn't require internet

[2016-08-30 16:03] SCdF commented on #2669
(oh, and travis currently doesn't pass, which is not the best :P )

[2016-08-30 17:14] alxndrsn commented on #2340
Including count of family members in the left hand list looks like it will be very expensive (_N_ extra db queries, where _N_ is the number of items in the list)...

[2016-08-30 17:16] abbyad opened #2686 "Field descriptions in Dashboard's App Settings are formatted as section titles"
# Example 1:

![image](https://cloud.githubusercontent.com/assets/789512/18099278/c0e1bd54-6eb3-11e6-9a5d-4981ecaaf7f8.png)
# Example 2:

![image](https://cloud.githubusercontent.com/assets/789512/18099293/d4443f3e-6eb3-11e6-80c0-a09a84a7c0e9.png)

[2016-08-30 17:29] Lesterng commented on #2340
Ok good to know Alex. On a plane now. I can revisit the issue later tonight.

[2016-08-30 17:36] diannakane commented on #2340
Alex, is this also an issue when the data is stored offline on the mobile
app?

On Tue, Aug 30, 2016 at 10:29 AM, Lester NG <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medicmobi

[2016-08-30 17:39] alxndrsn commented on #2340
@diannakane I would expect so, but we could see how it performs before thinking about redesigning.

[2016-08-30 18:54] diannakane commented on #2340
Are you going to implement it then and see what happens or should we leave
it off until we can figure out how to handle it?

On Tue, Aug 30, 2016 at 10:39 AM, Alex Anderson <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | S

[2016-08-30 20:25] garethbowen commented on #2684
@mandric Yes it's all possible, but right now it's difficult because you need to manage api and sentinel separately. I think what this issue is asking for is a simple (one command) way of pushing the ddoc and telling gardener to extract the node modules and restart them. Definitely a good idea IMO.

[2016-08-30 20:34] mandric commented on #2684
I guess I"m not seeing the point of that because gardener is already listening to any ddoc changes.  So if it sees a new ddoc it looks for the attached modules and installs them.  You don't need to tell gardener anything, if the md5 of the module is different than it will get reinstalled.

[2016-08-30 20:35] garethbowen commented on #2684
There must be a bug then, because `kanso push` remote definitely doesn't work as expected.

[2016-08-30 20:36] mandric commented on #2684
Ok maybe gardener is only listening to changes to dashboard...

[2016-08-30 20:37] mandric commented on #2684
It's a command line flag to make it listen to any ddoc change.  That might be the issue...

[2016-08-30 20:39] browndav commented on #2684
FWIW: https://github.com/medic/medic-os/blob/master/platform/packages/gardener/scripts/gardener/run/gardener#L33

[2016-08-30 20:42] mandric commented on #2684
Yeah this is also relevant then: https://github.com/garden20/gardener/blob/master/examples.md#dashboard-style
https://github.com/garden20/gardener#advanced-usage

[2016-08-30 20:53] garethbowen commented on #2648
You can safely ignore `_local` docs - that's often just pouch looking to see if something exists. Usually there's a comment in the console saying "you can ignore this error". I'll have a look at the other issue.

[2016-08-30 20:57] garethbowen commented on #2648
@sglangevin Branch manager on lg.dev is working fine for me. Can you try again or ping me on Slack with more details?

[2016-08-30 21:21] mandric commented on #2684
Is there a particular server we want to test this on?

[2016-08-30 21:22] garethbowen commented on #2684
alpha.dev I guess? It's one we can break without anyone else caring.

[2016-08-30 21:29] mandric commented on #2684
Ok, I just updated `/srv/scripts/gardener/run/gardener` on alpha.dev I added `--include=medic` to the command line args settings and restarted.

[2016-08-30 21:55] sglangevin commented on #2670
@SCdF @abbyad I think we would want to make the change in the `convert.sh` script so that this is included in every form, correct?

[2016-08-30 22:59] browndav opened #2687 "Find a failsafe way to always run `_view_cleanup` after a design document update"
Using a 45GiB production-like dataset, updating from `medic-webapp` version `2.7.2` to `2.8.0-b6` fills a 1 terabyte disk and eventually leads to `502 Bad Gateway` errors. CouchDB reports `{error,enospc}`.

Current understanding: when `medic-webapp` is updated via the Garden dashboard, the `medic` design document is modified. This potentially changes view code, which leads CouchDB to assume the wo

[2016-08-30 23:23] sglangevin commented on #2408
This is working well on v2.8.0-beta.8

[2016-08-30 23:24] sglangevin commented on #2600
This is working well in v2.8.0

[2016-08-30 23:24] sglangevin commented on #2409
Looks good on v2.8.0

[2016-08-30 23:24] sglangevin commented on #2516
Working well on v2.8.0

[2016-08-30 23:25] sglangevin commented on #1710
Working well in v2.8.0

[2016-08-30 23:25] sglangevin commented on #2648
Working as expected in v2.8.0-beta.8

[2016-08-30 23:31] sglangevin commented on #2126
@garethbowen this is still a concern in v2.8.0, though it's possible that it's because I'm starting out with a log of data as opposed to adding families over time (not sure). After the first search, any subsequent search is quick though.

[2016-08-30 23:32] sglangevin commented on #2420
This is now working as expected.

[2016-08-30 23:36] garethbowen commented on #2126
Reopening as first load is still slow.

[2016-08-30 23:51] mandric commented on #2687
Ok I will do the first test which is just to delete and query the views so they regenerate and see if that succeeds/sizes are comparable to production...

[2016-08-31 01:57] garethbowen commented on #2336
I've updated the translations which will need @abbyad to export from POE at some point before release.

[2016-08-31 02:15] garethbowen commented on #1895
Once this is done remove the help text from the POEditor to make the translations files much smaller.

[2016-08-31 02:47] garethbowen commented on #2341
@diannakane District managers can see and manage branches, areas, and households depending on the configured replication depth. With this proposal how will district managers add a new area? What will administrators see?

[2016-08-31 04:32] garethbowen commented on #2633
I've added some padding and tidied some bits up to improve the appearance of the forms page:

![forms](https://cloud.githubusercontent.com/assets/2064938/18116015/4b113f2e-6f98-11e6-9a5c-5002ae86fb02.png)

@alxndrsn Is this sufficient or is there something else I'm missing?

[2016-08-31 04:34] garethbowen commented on #2338
I've created a new configuration page for Contacts which has the Import/Export functionality. In lieu of a design for this page I've done something functional but not perfect.

[2016-08-31 06:20] alxndrsn commented on #2633
LGTM

[2016-08-31 06:38] #2633 closed

[2016-08-31 07:23] SCdF commented on #2670
_(looks right to me. Knew there was a reason I shouldn't just edit all of the xml files)_

[2016-08-31 08:26] alxndrsn commented on #2340
Yes.

[2016-08-31 08:42] SCdF opened #2688 "grunt dev and grunt e2e fight each other, and nobody wins"
If you have `grunt dev` sitting the background and try to run `grunt e2e` they break each other. It is probably the excessive list of startup hullabaloo / foofaraw causing dev to fire, which in turn causes the state on disk to not be compatible with deployment.

[2016-08-31 08:53] SCdF commented on #2339
@diannakane so let's say that I am a CHP. Prior to this change I can go to contacts and scroll and scroll, and I will see all of my families and people in those families. After this change if I scroll and scroll, I only see families.

What happens if I type something in the search box? Should that only be searching families, or searching everything? In other words, if I want to find Alice who is i

[2016-08-31 08:55] SCdF commented on #2339
To re-quote that question more technically, are we:
 - setting a particular type as the base filter and adding to that when we do a text search, or
 - either doing a raw text search OR filtering by a calculated type

[2016-08-31 09:01] estellecomment commented on #2338
- I got "Failed - Network Error" on download, so couldn't test it. I do have lucene running. Is it a local-only problem?

 - What is this importing/exporting exactly? Places and People? Are we still using the word "Contact" from now on? @diannakane please advise, so the UI can make sense.

 - There's already an "Export" configuration page, so it's clashing with this new page, I find it hard to kno

[2016-08-31 09:17] estellecomment commented on #2231
What's the status on this? Does the patch fix it, should you commit it @mandric ?

[2016-08-31 09:46] estellecomment commented on #2344
Ok! Here's a full description from the linked mock, though I have missing pieces. @diannakane or @Lesterng, could you help fill in my gaps please?

RHS FAB, depending on what is displayed in the RHS:
- "New < Place >" where place is directly below in hierarchy (e.g. if a branch is displayed in RHS, "New CHW area")
-  "New Person" :
   - if a Branch or CHW area is displayed in RHS : creates a Prima

[2016-08-31 09:49] estellecomment commented on #2341
Full description, according to mock linked in https://github.com/medic/medic-webapp/issues/2344: I'm missing pieces, @diannakane and @Lesterng could you fill in the gaps please?

LHs FAB, depending on the logged-in user:
 - For admin view (home place is root, branches are listed in LHS) : "New Branch"
 - For CHW supervisor view (home place is a branch, CHW Areas are listed in LHS): "New CHW Area"

[2016-08-31 09:51] estellecomment commented on #2344
Just an extra check : "Send Message" button is gone from the Contacts/People tab, at all levels. Does that sound right @diannakane ?

[2016-08-31 09:55] estellecomment commented on #2341
Extra question @diannakane or @Lesterng : when I search in Contacts/People, the LHS now shows places of different levels in the hierarchy.
What does the "New <Place>" button in LHS say? Is it shown at all?

[2016-08-31 10:25] garethbowen commented on #2338
No idea - I'll look into it.

Yes.

I'm using the same translation key as the "Contacts" tab so when we update that one this one will change too. Consistency!

[2016-08-31 10:32] estellecomment commented on #2338
Got as far as the download system popup, clicked download, AFAICT the data to send was still there as far as here: https://github.com/medic/medic-webapp/blob/master/static/js/modules/ajax-download.js#L25
No network requests failed in Network tab, nothing in Console.

[2016-08-31 10:35] alxndrsn commented on #2340
@diannakane @Lesterng it does look like including the count of family members in the left-hand list will be very complicated for the benefit it provides.  Would it be acceptable to leave this out, or include e.g. the head of household as the subtitle for a family?

Also, there can we substitute the new icons for font-awesome equivalents?  We can still use the new colours, but using icon-fonts inst

[2016-08-31 10:37] garethbowen commented on #2338
Anything in the api log?

[2016-08-31 10:46] garethbowen commented on #2338
@estellecomment Please raise that as a separate bug - it no doubt existed on the old modal based system too.

[2016-08-31 11:28] garethbowen commented on #2338
@estellecomment Other than that bug I think this commit ticks off all your other comments.

[2016-08-31 12:47] estellecomment commented on #2344
Other check : "Delete" button is gone from Contacts/People tab, at all levels. Is that right too? @diannakane

[2016-08-31 13:22] SCdF commented on #2339
I've created two PRs, one for each of those possibilities (I'm guessing it's the latter so I did the work anyway):
 - There is a default base filter that all searches work from: https://github.com/medic/medic-webapp/pull/2689
 - There is *either* a default base filter *or* you are doing a text search: https://github.com/medic/medic-webapp/pull/2690

[2016-08-31 13:26] SCdF commented on #2339
@estellecomment review for you. I'd suggest you just review https://github.com/medic/medic-webapp/pull/2690 , I doubt the first PR is going to be used (this one is the first one plus more anyway)

[2016-08-31 13:28] SCdF commented on #2658
@abbyad / @sglangevin would be interested in your thoughts about the importance of this.

[2016-08-31 13:29] SCdF commented on #2657
#2645 has been completed, this ticket can go ahead when we think it's worthwhile to do so.

[2016-08-31 13:29] SCdF commented on #2684
@mandric are you saying that it works now and this ticket can be closed?

[2016-08-31 13:33] SCdF commented on #1572
So is this still blocked on requiring design work? Or is there something for a developer here?