[2016-03-22 21:09] mandric commented on #2130
If we add a `transitions` property to the ddoc that looks simliar [to this](https://github.com/medic/medic-sentinel/blob/develop/defaults.js#L118) you should be able to enable/disable transitions.

[code]

[2016-03-22 21:51] garethbowen commented on #2106
This fix adds the following permissions: "can_view_tasks", "can_view_messages", "can_view_reports", "can_view_analytics", "can_view_contacts". Configuring these to be false will hide the respective tab _and_ dropdown menu item.

[2016-03-22 22:54] garethbowen commented on #2012
We can use [this pouchdb plugin](https://github.com/zoepage/pouchdb-hoodie-unsynced-local-docs) to get all the unsynced docs to know which we need to migrate before push.

[2016-03-23 01:00] garethbowen commented on #2012
Ok... I think we can put this off until we need it, but here's the plan:

1. Create a new style of migration which can run on one doc at a time, ignoring docs that aren't relevant.
2. On the server get all docs and run the migration on each one saving those that have been modified.
3. Store the migrations on the ddoc somewhere.
4. On the client fetch the ddoc in the background and check for any ne

[2016-03-23 07:07] SCdF commented on #2132
Closing cause it's a dupe (apologies if that's nor the protocol)

[2016-03-23 07:07] #2132 closed

[2016-03-23 07:43] estellecomment opened #2133 "Scope the $scope variables"
The `$scope` is inherited by child and grandchild controllers. So methods from `inbox.js` are visible in e.g `contacts.js` and `contact-content.js`.

This gets confusing because functions with similar names are defined at each level, and do pretty different things. For instance in `contact-content.js`,  `$scope.setSelected` and `$scope.clearSelected` are not the opposite of each other : one is at

[2016-03-23 11:52] sglangevin opened #2134 "Forms don't download on slow connections"
Requests for form definitions seem to be cancelled after 10 seconds. On slow connections, this isn't enough time to download the form definition. Can we extend this timeout?

[2016-03-23 11:55] SCdF commented on #2106
This causes my local environment to break:
[code]

Checking out and pushing 293d7af (commit prior) means my page looks like this:

![image](https://cloud.githubusercontent.com/assets/583851/13984388/f79b1244-f106-11e5-937c-e3b82ef93013.png)

Checking out and pushing 21e93d1 means my page looks like this:

![image](https://cloud.githubusercontent.com/assets/583851/13984423/358c26f6-f107-11e5-8bae-b

[2016-03-23 11:58] SCdF commented on #2134
It shouldn't cancel a download after 10 seconds if it's managed to actually connect (I hope!). What is more likely is that it's not even managing to connect in those 10 seconds.

Regardless, we should be able to change that to something like 30 seconds pretty easily I think.

[2016-03-23 12:00] sglangevin commented on #2134
That makes sense. Changing it to something higher would help a lot and make it easier to load phones on slower connections. We had to ask everyone in this training to turn off WiFi so that I can update some phones :)

[2016-03-23 12:05] SCdF commented on #2106
To fix it I went into the permissions tab and changed the defaults to make sure the show_xyz_tab was selected.

FWIW these permissions seem to have really odd defaults that aren't actually expressed in the app. For example, the admin user, whom I presume is the left-most column, can do all the things that the permissions imply they can't do.

[2016-03-23 12:13] sglangevin opened #2135 "Mobile app tries to fetch form definitions from old forms"
During initial replication, the app tries to fetch form definitions for forms that were deleted from Couch. Is there a way to only fetch form definitions for current forms?

[2016-03-23 12:48] SCdF commented on #2134
@sglangevin can you go into a bit more detail about when these timeouts are occurring?

Currently it looks like for the initial replication we have a timeout of 30 seconds, and for continuous replication we don't have a timeout at all!

Having said that, it's unclear to me *which* timeout we are talking about in our code, and whether or not those values are also used for individual document reques

[2016-03-23 12:51] sglangevin commented on #2134
The 30 second timeout for initial replication isn't long enough. It almost always fails on the WiFi at LG HQ. I've also seen it fail on better connections (WiFi in Nairobi). Haven't tested thoroughly on an SF-speed connection.

The easiest way to observe this is to try a clean install on your Tecno on a slow internet connection using developer tools so that you see the network requests and console

[2016-03-23 12:51] SCdF commented on #2134
OK ignore me I've found it. There is a separate timeout that you set specifically for ajax requests.

[2016-03-23 12:53] sglangevin commented on #2134
Also, just as a note. If initial replication fails, forms are still downloaded during continuous replication. But it only seems to try to download form definitions once, so if it doesn't work the first time you have to clear data and start again. I may also not be understanding what is happening correctly and the forms would come later, but I haven't seen that happen before.

[2016-03-23 12:56] SCdF commented on #2134
AFAIK forms are just documents like everything else, so I'd hope it would try again.

[2016-03-23 13:01] sglangevin commented on #2134
Maybe someone can tell me when that would happen - it doesn't seem like reload helps with that and I haven't seen it retry on forms or icons before. But maybe that would happen the next time I re-open the app? I haven't tested thoroughly enough to know but was wondering if anyone can confirm how this is supposed to work.

[2016-03-23 14:18] SCdF opened #2136 "`npm install` has lots of deprecation warning"
Locally I have:
[code]

And `rm -rf node_modules && npm install` produces (currently) the following deprecation warnings:
[code]

[2016-03-23 18:45] garethbowen commented on #2106
The admin user is not shown on the permissions configuration page. The admin user can do everything and no configuration can change that.

[2016-03-23 19:12] garethbowen commented on #2135
@sglangevin Can you define what you mean by "fetch"? Are you seeing a request in the Network tab or something in the console?

Once the app is fully replicated nothing should be fetched from the server (unless you're logged in as admin).

[2016-03-23 19:21] sglangevin commented on #2135
@garethbowen I see requests in the Network tab. I can get you a screen shot, might have to do that tomorrow morning my time though. I thought this might contribute to the other issues I was having during initial replication on slow connections - requesting lots of forms you don't need could be getting in the way of successfully getting the forms you do need. If you plug your Tecno into developer t

[2016-03-23 19:22] garethbowen commented on #2135
Yes the screenshot would be very useful, thanks! The only requests I can see are `(from cache)` which means they don't actually go over the internet. I'll keep testing...

[2016-03-23 19:38] garethbowen commented on #1665
Closing as we've made lots of improvements to replication performance since this was raised, for example, using erlang for the filter, reducing the number of documents, etc.

It looks like the next big improvement will come with couchdb 2.0 with bulk get functionality.

[2016-03-23 19:38] #1665 closed

[2016-03-23 21:10] garethbowen commented on #2135
Also what's an example of an old form?

[2016-03-23 21:11] sglangevin commented on #2135
I see requests for forms with "test" in the title and others with supervisor in the title, none of which are currently listed in the forms view in Couch. We should have 11 forms (I believe) and I see almost double that number of forms being requested.

[2016-03-23 21:34] garethbowen commented on #2134
I don't think that's the right timeout. That changes the timeout for stuff we request from the remote db which isn't very common. The timeout we need to set is buried [deep inside pouch replication](https://github.com/pouchdb/pouchdb/blob/master/src/deps/bulkGetShim.js#L85). I don't think there's any way currently to change this without patching pouch.

[2016-03-23 21:52] garethbowen commented on #2135
Right. After a prolonged investigation and deep dive into the code I think this is by design. On one hand I think couchdb could be smarter about not bothering to replicate deleted docs but on the other hand I think it's trying to allow for incremental replications. Either way I don't think it's something we have control over.

The next version of couchdb has a feature to make this initial replicat

[2016-03-23 21:52] #2135 closed

[2016-03-23 21:57] sglangevin commented on #2135
Thanks for looking into this @garethbowen!

[2016-03-23 21:58] garethbowen commented on #2135
Sorry I couldn't do more  :(

We really need couchdb 2.0

[2016-03-23 23:55] btbonval opened #2137 "preparing LG instance"
tracked in https://github.com/medic/medic-projects/issues/119

assigning to myself because I think I'm the one who will close that one out.

[2016-03-23 23:56] btbonval opened #2138 "migrate couch2pg adapter to node 5.x"
tracked in https://github.com/medic/medic-analytics/issues/27

Backlog as it isn't urgent, but it should be fairly trivial to do.

[2016-03-24 02:17] garethbowen opened #2139 "Cannot send message"
Clicking "send message" in the Messages tab LHS action bar doesn't pop up the modal dialog any more.

Verified as admin user, on lg.dev.

[code]

[2016-03-24 02:41] garethbowen commented on #2139
Caused by a bug in the minifier. Reproduced by running minification locally.

[2016-03-24 07:05] SCdF commented on #2134
Yep that was the one I was intent on changing, based on this comment:

So I figure (@sglangevin correct me if I'm wrong) that she meant that she's watching the network tab and Pouch does a GET for a form and then it times out. FWIW I've also seen this before.

[2016-03-24 07:06] SCdF commented on #2134
*And then 10 seconds later after reading the code you linked…*

Oh right. Darn.

[2016-03-24 07:47] SCdF commented on #2134
So yeah, I've also looked through the code and you're totally right, it's not clear you can actually change this value at all. What is confusing to me is that it's not clear why the replication timeout (what you specify when kicking off a replication) isn't also used in this situation: that would make sense to me.

[2016-03-24 07:53] sglangevin commented on #2134
Too bad. There are 2 timeouts that are affecting initial replication. One is the timeout for initial replication, which seems to be 30 seconds. Initial replication completes but has status failed, then continuous replication begins and when the series of GET requests go out for forms and icons, if there is no response within 10 seconds, they cancel and forms are never downloaded. The only solution

[2016-03-24 09:01] SCdF commented on #2134
Hrm, reading the code, we actually manage to pass down `timeout: false` when doing continuous replication (to reproduce devs, find the `function ajax(opts, callback) {` function and put a breakpoint on it, and then change a known contact via admin), which makes it look like pouch is not setting a timeout. This may function differently when doing the first replication, I might clear my cache and ta

[2016-03-29 03:05] garethbowen commented on #2099
medic-data is broken but I think it was broken before my commit. I only committed to develop but the beta build is also broken. Everything else should work.

[2016-03-29 03:13] garethbowen commented on #1810
I think this means we shouldn't replicate the view code to the client. However, it's necessary because we query the views in pouch so it's needed on the client side. We _could_ separate the server side views from the client side views by having another ddoc. This would allow us to greatly reduce the size of the ddoc sent to the client as we could strip out lots of other server side only bits too.

[2016-03-29 03:22] garethbowen commented on #2063
I think this is fixed at the same time as #1757 - essentially it'll now say "yesterday" instead of "today" in the example Stefan cited.

[2016-03-29 03:22] #2063 closed

[2016-03-29 03:26] garethbowen commented on #2051
A document update conflict means someone else changed the report at the same time so the delete request was rejected because couchdb wants you to verify that you still want to delete it. @henokgetachew Does this happen every time you try to delete on Edge or just this once?

[2016-03-29 03:31] garethbowen commented on #1976
I don't think this makes sense. The LHS is controlled by the Contacts controller and the RHS is controlled by the ContactsDetail controller. I think having the RHS controlled by both would get really complicated.

[2016-03-29 03:33] garethbowen commented on #1869
Closing for insufficient information. If this happens again capture the console log, and record which user and which server this happened on.

[2016-03-29 03:33] #1869 closed

[2016-03-29 03:37] garethbowen commented on #1830
There is a balance between multiple small files and a few large files. Smaller files lead to a larger overall download size, and longer download times due to limits on parallel downloading. Few files lead to overzealous cache invalidation and large individual downloads. For our use case I don't think updates will happen very often so cache invalidation isn't common, so we should err towards large

[2016-03-29 03:39] garethbowen commented on #1811
We decided at the meetup not to use ES6 with transpilation but wait till it's natively supported.

[2016-03-29 03:39] #1811 closed

[2016-03-29 03:42] #1776 closed

[2016-03-29 06:54] sglangevin opened #2141 "Errors during initial replication"
A few screenshots of the errors I saw. Some were similar to what I saw in Uganda last week.

![image](https://cloud.githubusercontent.com/assets/1286381/14074768/29e34482-f4dc-11e5-9f54-5b493045e4d8.png)
![image](https://cloud.githubusercontent.com/assets/1286381/14074774/322697b6-f4dc-11e5-9326-b22d9413cc7b.png)
![image](https://cloud.githubusercontent.com/assets/1286381/14074814/7b6ab308-f4dc-11

[2016-03-29 07:26] estellecomment commented on #1810
This is copied over from @browndav 's notes from the Jan meetup, I don't remember. Dave, any thoughts?

[2016-03-29 07:36] estellecomment commented on #1976
In the `contacts` state, there's no child controller, so `ContactsDetails` can't handle it. That's where the original problem comes from.

[2016-03-29 07:38] estellecomment commented on #1777
Closing since the measuring part is done.

[2016-03-29 07:38] #1777 closed

[2016-03-29 08:36] estellecomment commented on #2081
LGTM, thanks!

[2016-03-29 08:58] henokgetachew commented on #2051
@garethbowen that was also my initial conclusion. However, this was happening every time you tried to delete a report with Edge. The PM responsible had to switch over to Chrome to get through the cleanup.

[2016-03-29 09:05] #1830 closed

[2016-03-29 09:06] garethbowen commented on #2141
That looks like expected behaviour to me. Initial replication didn't complete within 30 seconds, so the request timed out and the app attempted to start up which resulted in the other errors.

[2016-03-29 09:11] garethbowen commented on #1976
Right, which is why we use the `contacts.detail` state.

[2016-03-29 09:21] alxndrsn commented on #1823
Is there any information that can be added to this ticket?  Otherwise I will close it.

[2016-03-29 09:23] alxndrsn commented on #2109
@estellecomment do you know when this was fixed in smssync?  e.g. a link to a commit or issue referencing the problem, or have we tested it?

[2016-03-29 09:32] alxndrsn commented on #2119
Building on `medic-os` seems like the logical solution.  If it actually works, then I think the issue title is misleading.

[2016-03-29 09:34] alxndrsn commented on #2114
Is this issue a direct consequence of https://github.com/medic/medic-webapp/issues/2115?

[2016-03-29 09:34] estellecomment commented on #2119
We also talked about building on an AWS machine somewhere. That way we could set up the environment once and for all, and share it for everyone.

[2016-03-29 09:36] alxndrsn commented on #2112
Seems foolish to suggest, but a couple of potential solutions:

Can this be achieved with `ctrl-f`/`command-f`?

Does the `end` key help here?

[2016-03-29 09:38] alxndrsn commented on #2119
...as long as internet is available :-)

[2016-03-29 09:41] estellecomment commented on #2112
Yes, in practice that's what people do. I would `ctrl-f` the `Save` button for instance.
The one's I'd prioritize are making the hierarchy clearer and repeated fields buttons.

[2016-03-29 09:44] estellecomment commented on #2119
Most of the time it is. All Tech Leads have internet, and with phone tethering and dongles you can get crappy internet in most places.
Whereas all Tech Leads don't have a functioning environment for building SIM apps : @bishwas-medic mentioned having to ask @henokgetachew for files every time the partner changed their forms, which added delays (+ time zone issues) and was a pain for both of them.

[2016-03-29 10:06] estellecomment commented on #1976
You can still navigate to `contacts` state though, with the URL. Programmatically, too, the original issue came from being redirected there accidentally. And you can't be sure no future programmer (including future Gareth!) won't ever add a link to `contacts` state, so the issue will come up again.

It's also not conceptually obvious why a state with no details would be handled by the controller t

[2016-03-29 10:07] estellecomment commented on #2114
Not really, 2115 is about creating forms the first time, this is about editing them.

[2016-03-29 10:09] estellecomment commented on #2109
No, not precisely. What was fixed is to retry only the failed messages, instead of retrying the whole batch, which avoids resending the successful ones.

[2016-03-29 10:11] sglangevin commented on #1823
@alxndrsn this is an issue that was created for investigating the root causes for duplicate messages and slow responses that have been seen across support projects and DIY projects. We are seeing the effects of these issues in our use of SMSSync as well. Some of the problems we've had with gateways are due to SMSSync but others are due to the messaging layer in our software stack. I don't have mor

[2016-03-29 10:14] alxndrsn commented on #2114
Ah, I had read #2115 as being about the difficulty of getting a spreadsheet form into an application instance, which would presumably make both initial creation and later edits to a form cumbersome.

[2016-03-29 10:19] alxndrsn commented on #2109
It's unlikely that upgrading to the latest SMSSync (3.0.x) will be useful: https://github.com/ushahidi/SMSSync/issues/371
However, patching to [2.8.3](https://github.com/ushahidi/SMSSync/tree/v2.8.3) (released June 2015) may be worthwhile.

[2016-03-29 10:23] estellecomment commented on #2114
Oh I see. Yes, it's related in that way.
Additionally, this issue is about tracking changes, and small edits which are harder than necessary.

[2016-03-29 10:34] alxndrsn opened #2142 "Forms api returns XForm media files"
# Observed
[code]
[code]

# Expected
XForm media files should not be supplied by the forms API: https://github.com/medic/medic-api/blob/develop/API_v1.md#get-apiv1forms

[2016-03-29 12:18] abbyad commented on #1270
I have seen this working, but will defer to @sglangevin in terms of acceptance testing since she has had more experience with it during the training of trainers last week.

[2016-03-29 13:52] estellecomment commented on #1900
Code looks good but it doesn't solve the issue on desktop, I still see a blank right pane after contact deletion.

[2016-03-29 13:55] estellecomment commented on #2081
Actually, this fixes mobile but not desktop. Still see a blank right pane. Reopening.

[2016-03-29 14:06] sglangevin commented on #2141
@garethbowen is there a way to increase the time allotted for initial replication? Or is that what we were looking at on that other ticket? I'm guessing the answer is no.

[2016-03-29 14:14] sglangevin commented on #1270
If the goal of this ticket was to display the status of initial replication, then I can confirm that I have seen this working - the status displays and is accurate.

For phone set-up in Uganda (and in Kenya), initial replication fails almost every time because the request times out. I saw 1-2 instances in Uganda where initial replication was successful. Knowing the status of initial replication he

[2016-03-29 14:15] estellecomment commented on #2091
Or have the reports ctrller clean it up before leaving.

[2016-03-29 14:28] alxndrsn commented on #1270
@sglangevin Right now if you leave the phone alone for a while, the forms should sync (eventually).  If you then restart, you should see the initial replication succeed as there will now be nothing to sync.

One future option is _on first login_ to block the UI until a one-way non-continuous replication success.

[2016-03-29 14:44] sglangevin commented on #1270
@alxndrsn when you say "leave the phone alone for a while" does this mean that the phone will make multiple tries to download the form definitions? Perhaps I didn't wait long enough, but I saw lots of cases where initial replication failed, then I waited and it tried to download forms during continuous replication, but if they failed, I didn't see it try again. It's possible I needed to wait longe

[2016-03-29 16:19] btbonval commented on #2125
This might not be a hard requirement. Until it is, I'm going to backlog this.

[2016-03-29 16:29] btbonval commented on #1800
Env vars are a problem. The only env var exposed by the Kanso / Gardener / webapp process is COUCH_URL, and from that I'm meant to fetch all other configs.

I don't know anything about the process of putting configs into Couch directly. Considering these configs will be Henok, Milan, or tech lead work, I want to make sure I understand how those folks would normally manage these configs inside of C

[2016-03-29 16:44] btbonval commented on #1800
@browndav suggests moving most of the configs into postgresql itself, rather than couch. That is very easy for me.

The remaining pain point is the actual postgresql `postgres://user:password@site:port/dbname`, site:port are easy. dbname can be some default. user/pass might be read off a file on disk somewhere, still figuring that piece out.

For reference, the current configs:
https://github.com/

[2016-03-29 16:47] btbonval commented on #1800
nevermind the above, comment prior still stands unchanged.

[2016-03-29 19:13] garethbowen commented on #2141
We can control the initial replication timeout, but doing so potentially delays the standard background sync.

I'm thinking about changing the way we do initial replication so for first load none of the app loads until replication completes, and it'll have no timeout and retries if necessary. Then the second load of the app will skip initial replication altogether.

[2016-03-29 19:55] #1533 closed

[2016-03-29 21:02] btbonval commented on #1800
I need to write up the configs into the settings_schema of this file:
https://github.com/medic/medic-webapp/blob/develop/kanso.json#L83

As a note, we're not going to put PostgreSQL credentials into Couch. We're going to rely on a file on disk using unix security to protect it. Might as well link to the file location as a config in Couch because security through obscurity isn't reliable, we're rel

[2016-03-30 06:46] sglangevin commented on #2065
I'm still seeing a mismatch between submitted forms and what's displaying on the Targets tab. Reopening.
![image](https://cloud.githubusercontent.com/assets/1286381/14133931/ebf75132-f65b-11e5-908e-3b79ff677fd3.png)
![image](https://cloud.githubusercontent.com/assets/1286381/14133966/2005c4fe-f65c-11e5-8755-eb5475a9dbc6.png)
![image](https://cloud.githubusercontent.com/assets/1286381/14133973/2c81

[2016-03-30 06:47] sglangevin commented on #2065
Here's what I then saw after a reload:
![image](https://cloud.githubusercontent.com/assets/1286381/14134011/7385315a-f65c-11e5-9ae9-1c611d720e72.png)

[2016-03-30 06:48] sglangevin commented on #2065
Note that I have also seen targets calculate correctly, but this is not consistent and usually occurs after leaving the app sitting for a while.

[2016-03-30 07:04] sglangevin commented on #2065
Final screenshot - here's what I saw after waiting a while:
![image](https://cloud.githubusercontent.com/assets/1286381/14134284/bda149de-f65e-11e5-8a62-069eecc60426.png)

[2016-03-30 07:19] alxndrsn commented on #2142
:+1:

[2016-03-30 07:19] #2142 closed

[2016-03-30 07:55] alxndrsn commented on #2069
@browndav logging the full requests & responses server-side would be very helpful.  I can't recreate by sending a junk `Authorization` header to `/setup/poll`.  If the two servers you are using both have the same URL, then perhaps a cookie is getting set by the first request.

[2016-03-30 08:07] alxndrsn commented on #1270
This is very surprising.  After the initial replication, continuous replication starts, which I would expect to retry the downloads periodically until they succeed.

[2016-03-30 08:10] sglangevin commented on #1270
When you say periodically, does that mean that if they fail, it should try again 5 mins later? Or would it be more like 20 mins later? Perhaps I just didn't wait long enough.

[2016-03-30 08:15] alxndrsn commented on #1935
I _can_ recreate this on current `alpha.dev`.  It doesn't happen every time, as sometimes the first task has already appeared by the time the loader is removed.

[2016-03-30 08:25] alxndrsn commented on #1270
Not sure.  From the pouch docs:

And from the code:

Which to me suggests there's no upper limit on the time between retries...so it could take quite a while!!

[2016-03-30 09:00] garethbowen commented on #1270
Because of this we override the default backoff function with [our own implementation](https://github.com/medic/medic-webapp/blob/develop/static/js/services/db-sync.js#L10) which maxes out at 1 minute between retries.

[2016-03-30 09:17] estellecomment commented on #1500
Cool!

[2016-03-30 09:17] #1500 closed

[2016-03-30 09:31] estellecomment commented on #1900
Works for contacts, mobile and desktop.

For reports, on mobile and desktop, when you delete a report it stays displayed. The url does go to `reports/`. It does disappear from the reports list (on desktop), and apparently does get deleted (when you interact with it things go all wrong)

[2016-03-30 09:41] estellecomment commented on #1900
Actually, that's probably caused by #1963, `clearSelected()` is not called any more when `id` is empty.

https://github.com/medic/medic-webapp/commit/74d55eca393d2869de5266bfb47cd07032f0de23#diff-ae2ab03c7390b4a1da61f490703e73daR130

[2016-03-30 09:46] estellecomment commented on #1963
When `id` is empty, we're not calling `clearSelected` any more.
It could help to have a `unselectCurrentReport()` instead of `selectReport()` with empty args.

[2016-03-30 09:50] estellecomment commented on #2109
SMSSync sends duplicates when it has connection problems : https://github.com/medic/medic-projects/issues/125#issuecomment-203338856

[2016-03-30 09:50] alxndrsn commented on #1270
So theoretically the download should retry every minute until it's completed.

[2016-03-30 09:52] alxndrsn commented on #2109
@estellecomment does SMSSync send duplicate _SMS_ messages, or does it send duplicate messages terminating at `medic-webapp`?

[2016-03-30 10:29] henokgetachew commented on #2109
@alxndrsn we have experienced both.

[2016-03-30 11:06] alxndrsn commented on #2105
Checking number `+256736123123` with latest version of libphonenumber:
[code]
Maybe I chose a bad example, or maybe libphonenumber is not familiar with the issuing of every new area code in every region.

Also, while libphonenumber last had a release 9 days ago, we have not updated in over 13 months.

To reduce issues like this, I'd recommend using `isPossibleNumber()` rather than `isValidPhoneNum

[2016-03-30 11:16] alxndrsn commented on #1000
What's the deal with this issue?  Is it still waiting for design work, or can it be picked by a developer?

[2016-03-30 11:22] alxndrsn commented on #1913
Perhaps a bit drastic, but we could just suppress favicon requests in the android wrapper - they serve zero purpose when running inside `medic-android`.

[2016-03-30 12:18] SCdF commented on #1913
I'm actually surprised embedded chrome doesn't do that anyway.

[2016-03-30 12:42] estellecomment commented on #2109
@ngamita is also interested in this

[2016-03-30 12:53] estellecomment opened #2143 "Monitoring + alerting : we need to know if our instances are healthy"
This is related to Sentinel going down (#2111), but wider in scope and more long-term. @ngamita raised this, and @henokgetachew may be helping out too.

We don't have an easy way to know the health of our own instances, so it's hard to guarantee quality. Partners are often the ones who report breakages (like Sentinel).

Dashboards of statuses and stats would be nice, across instances, and email/SM

[2016-03-30 13:04] alxndrsn commented on #2134
@sglangevin next time you have an instance which doesn't work, could you run the following in the javascript console?
[code]

I'm interested to know if the form `doc`s are downloading _without attachments_, or if the whole `doc` is missing.

[2016-03-30 13:06] henokgetachew commented on #2143
One other thing to monitor is the backup process.  I have started a bit on this.  Having notifications on email + slack as well when things fail.  I have used newrelic before.  It's pretty cool but I think what we're looking for is much more custom.  I think we should probably have a medic-monitoring repository which does a lot of the monitoring.  I can start that off.

[2016-03-30 13:13] alxndrsn commented on #1913
Is it possibly related to this header which is served with the favicon?
```cache-control: must-revalidate```

[2016-03-30 13:19] estellecomment commented on #2117
@ngamita also confirms automated testing of configs would be helpful.

[2016-03-30 13:46] alxndrsn commented on #1913
Almost certainly the cause.  @SCdF's log in the OP misses the crucial response code of `304` (`Not modified`):

[code]

[2016-03-30 13:50] alxndrsn commented on #1913
To recreate:
[code]
(May require updating the etag to match your local value.)

[2016-03-30 13:55] alxndrsn commented on #1913
Interestingly the `cache-control` header is not served with the 304:

# 304
[code]
# 200 (with etag)
[code]
# 200 (no etag)
[code]

[2016-03-30 14:05] alxndrsn commented on #1913
I would say that Chrome is spuriously re-requesting the favicon whenever it feels like it.  Specifically in our case when `window.history.pushState()` is called:

<img width="1280" alt="screen shot 2016-03-30 at 15 59 31" src="https://cloud.githubusercontent.com/assets/191496/14144565/7e321fd0-f690-11e5-9d5a-d26c9ccab5dc.png">

This is quite special behaviour by Chrome and filed as a bug: https://

[2016-03-30 14:07] estellecomment commented on #2143
Closing in favor of https://github.com/medic/medic-projects/issues/127

[2016-03-30 14:07] #2143 closed

[2016-03-30 14:12] mandric commented on #2111
My current way to deal with sentinel problems is to mark records with errors when sentinel fails doing somethine.  If that can't be done then there should be decent clues in the logs.  If sentinel is failing (typically transitions) and not leaving an error trail on the records it's failing to process (or it's not visible in the UI) then that is a sentinel or potentially webapp bug.  If sentinel is

[2016-03-30 14:13] alxndrsn commented on #1913
Obvious fixes:
A. suppress favicon requests in the android app
B. set better cache headers for the favicon

[2016-03-30 14:26] estellecomment opened #2144 "Too many angular watchers"
[This blog post](https://www.airpair.com/angularjs/posts/top-10-mistakes-angularjs-developers-make) thinks that more than 2000 watchers will decrease performance.
We have 3200+, according to their code snippet.

Here are the most watched things from Batarang :
![screen shot 2016-03-30 at 16 14 31](https://cloud.githubusercontent.com/assets/911434/14145295/9ce3531a-f693-11e5-8ffb-0f169ad802db.png)

[2016-03-30 14:30] alxndrsn commented on #2144
`'indent' + facility_depth`s are likely caused by various modal dialogs containing a contact-selecter which are permanently in scope due to being defined in `InboxCtrl`, but should not be.

Also watcher count is specific to the page you're on, so it's useful to include this information.

[2016-03-30 14:32] SCdF opened #2145 "Canceling a report created from the history view has to be done twice"
To reproduce:

History view:
![screenshot_2016-03-30-15-27-45](https://cloud.githubusercontent.com/assets/583851/14145636/7be04666-f68c-11e5-94bd-a3d86e0b211a.png)
Open family survey:
![screenshot_2016-03-30-15-28-08](https://cloud.githubusercontent.com/assets/583851/14145637/7c003ba6-f68c-11e5-9903-554207001579.png)
Hit X and then click confirm, gets you to weird future laser eye:
![screenshot_20

[2016-03-30 14:32] alxndrsn commented on #1913
Option C: use the favicon served by API for the login page

[2016-03-30 14:37] estellecomment commented on #2144
Good point. I went through all the tabs and they were all above 3200. This was on a clone of lg.dev from March 29, with `demo` user.

[2016-03-30 14:42] estellecomment commented on #2145
Maybe caused by current work https://github.com/medic/medic-webapp/issues/1963? Maybe.

[2016-03-30 14:50] sglangevin commented on #1270
Hmmm. Interesting. I may not have waited long enough and unfortunately I don't have access to slow internet to try again. Did you encounter issues downloading forms when you updated phones in Mukono?

[2016-03-30 14:56] alxndrsn commented on #1913
Not appropriate, as login favicon is served with:
[code]
i.e. NEVER cached

[2016-03-30 15:00] alxndrsn commented on #1913
Nothing I have read suggests this can be done neatly in any of [`WebView`](https://developer.android.com/reference/android/webkit/WebView.html), [`WebChromeClient`](https://developer.android.com/reference/android/webkit/WebChromeClient.html), [`WebViewClient`](https://developer.android.com/reference/android/webkit/WebViewClient.html).  It might be accomplished in [`WebViewClient.shouldInterceptReq

[2016-03-30 15:18] #2106 closed

[2016-03-30 18:01] abbyad opened #2146 "Inputs are not assigned properly when field name is not unique"
With our XForm notation for inputs, and assigning `content.contact` in a task, we can have a form with `contact.parent.contact.phone` assigned to `/assessment_follow_up/inputs/contact/parent/contact/phone`. From what we've seen, this works as long as there is not also `contact.phone` field. If there is, the `contact.phone` value is assigned to the xform field instead of the parent's.

We need to r

[2016-03-30 18:57] garethbowen commented on #1000
It's waiting for design work.

[2016-03-30 20:38] alxndrsn commented on #1913
Favicon requests are not passed to `shouldInterceptRequest()`, so this approach is not applicable.

[2016-03-30 20:55] alxndrsn commented on #1913
Fixed in https://github.com/medic/medic-api/pull/53 - please review

[2016-03-30 21:06] alxndrsn commented on #2128
@browndav where can i get a dump of this data?

[2016-03-30 21:41] browndav commented on #2128
On it.

[2016-03-30 21:47] browndav commented on #1810
Gareth's explanation matches my recollection. I think separating out the views that are only used by the server could be a win for reasons other than bandwidth too: if a views is removed, the map/reduce functions won't be evaluated on put/post to maintain indexes, and in theory all write operations should get a little faster.

[2016-03-30 21:54] browndav commented on #2119
Flashing parallel SIMs on Medic OS currently works. What doesn't currently work on Medic OS (and what I think Bishwas is probably reporting) is that there's no `avr-gcc` cross-compiler on there, so you can't actually build from source on that VM.

It seems like a reasonable first step would be to come up with a checklist for converting a bog-standard Debian install into something that has the prop

[2016-03-30 23:02] browndav commented on #1823
I'd be in favor of at least marking this as blocked on #2109. An alternate but totally agreeable option would be to close this and reevaluate the need after #2109. I suspect that most of our current critical-path reliability issues are related to SMSSync, but IMO we need to prove/disprove that.

Proposal: mark this blocked and I'll update the summary to something a little more helpful?

[2016-03-31 01:20] btbonval commented on #1437
Possibly related to the discussion of config for the couch2pg adapter, which will be stored in Couch.
https://github.com/medic/medic-webapp/issues/1800#issuecomment-203102537

[2016-03-31 02:22] btbonval commented on #2124
This is going to require some annoying integration testing, since I'm using medic-data.

What I might have to do is pick a few documents by hand, then change their rev to something else and change the contents to something like "OH NO IT FAILED" within postgres. In theory, when fetching and finding different revs in Couch, those docs in postgres should be replaced with the expected ones.

The test

[2016-03-31 02:24] btbonval commented on #2124
Testing deletes might work similarly, adding records into postgres and making sure that they are removed.

I might expand this ticket to also support deleting records. I think it's enough of a related problem that I might get some synergy bonus doing both together.

[2016-03-31 03:24] garethbowen commented on #2081
Closing this as a duplicate of #1900

[2016-03-31 03:24] #2081 closed

[2016-03-31 09:14] sglangevin commented on #2065
One last comment: I've seen that the pregnancy target usually updates itself after a reload, but isn't 100% accurate on first load. The assessments, newborn care visit and on-time follow-up targets are very inconsistent.

[2016-03-31 09:30] SCdF commented on #2145
This looks to be fixed in the latest develop pulled this morning.

[2016-03-31 09:30] #2145 closed

[2016-03-31 09:35] SCdF commented on #2054
Looking at the code and timing it, it looks like the vast majority of the time (~5-6s) it's simply in PouchDB, calling the `doc_by_type` to get all the contacts back. This doesn't get faster over multiple calls or anything, this is just how long it takes (AFAICT) for PouchDB to pull that data out of indexdb and create JSON data structures for it. On the surface it's not clear that we could make th

[2016-03-31 09:49] garethbowen commented on #2054
I think we should change the UI to only start showing results as the user starts typing. Maybe we should only show after 2 or 3 characters. In the real world there are too many results for the full list to be useful anyway.

[2016-03-31 09:52] SCdF commented on #2054
So the three things I can think of right now would be:
 - Load the raw contacts into memory and cache them. Not sure this is a helpful direction to go in as it's unclear how much this flow (adding a report without already having a contact selected) is used.
 - Somehow refactor the contacts tab to also expose the loaded contacts and use that instead of calling Pouch. This would mean that if the con

[2016-03-31 09:53] SCdF commented on #2054
@garethbowen yeah my concern about that is basically two things:
 - Do people actually use this flow? i.e. is it worth making awesome above other things
 - Does Pouch actually get faster with this? If the slow path is running a `doc_by_type` view call how is having a search going to make that faster?

[2016-03-31 09:54] SCdF commented on #2054
@sglangevin do you know if people / CHPs use this flow? I haven't directly seen any users use it. @estellecomment / @alxndrsn did you peeps see any usage in the field?

[2016-03-31 09:55] garethbowen commented on #2054
With your second concern it's fairly easy to test - do a `contacts_by_freetext` query instead with a 2 character query and time it. You can do this on the contacts tab by typing in the freetext search box.

[2016-03-31 09:57] sglangevin commented on #2054
I'm not sure that CHPs use that flow very often, but the slowness of loading that field also affects managers in the web app. E.g. I couldn't load the health_center-edit form in Uganda because it has two fields that load all the people and it was too slow, so the request failed.

[2016-03-31 09:58] SCdF commented on #2054
Oh wow cool that's using Pouch. OK, I presumed contact search was done purely with Angular in memory.

[2016-03-31 11:30] sglangevin commented on #2065
With the newly updated app_settings that @garethbowen uploaded to lg.dev, I am only getting accurate targets when I use the browser refresh button in Chrome. Clicking reload from the about page clears the targets for assessments but updates the pregnancy registration target. I'm wondering if this is an issue with the UI updating because I see browser refresh working in Chrome but the reload button

[2016-03-31 12:04] estellecomment commented on #1900
A couple questions : https://github.com/medic/medic-webapp/commit/1d27e50bb9fef67d23e9866a297f62892373d4cf

Contacts looks like it works fine.
Reports has a problem : when you delete a report, it stays displayed in the LHS list.

[2016-03-31 12:50] estellecomment commented on #1900
Oh fun : navigation for messages deletion is now messed up. When you delete a message from a conversation, you land back on "No message selected" instead of staying on the conversation.

Delete the 2nd message :
![screen shot 2016-03-31 at 14 46 42](https://cloud.githubusercontent.com/assets/911434/14176109/9eaae610-f74f-11e5-98e2-d2dca456a4f4.png)

You get sent back to "No message selected" :
![s

[2016-03-31 13:34] sglangevin commented on #2065
Final comment for today. After some additional testing and help from @estellecomment and @abbyad we have discovered that the only way to get correct targets is to refresh from the Targets tab on web or mobile. Refreshing from other pages doesn't do the trick.

[2016-03-31 14:16] estellecomment commented on #2065
Logging what comes out of the `TargetGenerator` ([here](https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/analytics-targets.js#L26)).

When you refresh on the Targets page, `TargetGenerator` outputs multiple times, gradually bigger counts, until it stops at the full value ([ugly-format logs](https://github.com/medic/medic-webapp/files/197798/localhost-1459433453609.txt)).
Wh

[2016-03-31 15:43] abbyad opened #2147 "Investigate using 2.x for all projects"
We want to make sure that all future projects are using the same webapp version, whether CHWs are using the mobile app or interacting via SMS. Currently CHW app projects are using 2.6, whereas all other projects are using 0.4. Select existing projects will also need to be upgraded/migrated. This issue is intended to cover the first step of getting 2.6 ready for all our new projects, which is to fi

[2016-03-31 16:00] mandric commented on #2047
I'm still not happy with error state on validation failure.  We get a 500 instead of a 40x.  Fixing...

[code]

[2016-03-31 16:00] mandric commented on #2047
FYI two PRs are open here now, one for medic-api and one for medic-webapp.

[2016-03-31 16:34] abbyad commented on #2046
From what I can tell this creates the person and user, but not the person's place. For our current CHW app projects we have the following place hierarchy:
- Branch (type: `district_hospital`)
- CHP Area (type: `health_center`)
- Family (type: `clinic`)

For each CHP user we create a CHP Area. For example, the CHP "Marc Green" would be associated to the place "Marc Green Area". The API additions in

[2016-03-31 18:04] mandric commented on #2047
Ok modified medic-api a bit so it respects the `statusCode` and `reason` properties defined in nano.
HTTP/1.1 403 Forbidden
known is not a boolean.

[2016-03-31 19:15] garethbowen commented on #2065
That's expected. The task generator emits each event as they're emitted from nools and caches the results. If you register your listener _before_ nools has emitted events then you get gradually incrementing numbers, if you register your even _after_ nools has emitted events then you just get the total. The numbers should still be the same, however.

[2016-03-31 19:20] garethbowen commented on #1900
LGTM

[2016-03-31 19:20] #1900 closed

[2016-03-31 21:02] garethbowen opened #2149 "Move common task utility functions from medic-projects to medic-webapp"
Functions and constants in nools are created for each `fact` which may have [performance implications](http://jsperf.com/function-creation-performance). Functions and constants that are useful in other projects should be extracted out to the `utils` module that is passed in to nools to simplify configuration.

@abbyad has identified some to move from the lg-uganda task-rules.js into the utils:

*

[2016-03-31 21:11] alxndrsn commented on #2128
Should this script be creating CHP contacts and CHP area contacts?  If not, it will need to be able to look them up by `chpcode`.

[2016-03-31 21:30] alxndrsn commented on #2128
First bash at script done.

# Limitations:

It does not currently link data to specific `medic-webapp` users.  Although I expect this to be a requirement, it's not clear if this script should also be creating the user docs, the user place docs, and the user user docs.

The script currently assumes that the mysql database is on `localhost` at port `3306`.

No XML is generated for fake `pregnancy` f

[2016-03-31 21:43] garethbowen opened #2150 "Bump the version"
We're about to release the-bundle-formerly-versioned-as-0.6 and need to decide on a new version.

1. Stick with 0.6. This doesn't communicate to people conversant in semver that this is a breaking change.
2. Bump to 1.0. This is semver correct but doesn't line up with the external version number for this release.
3. Bump to 2.6. This is semver correct and lines up with the external version number.

[2016-03-31 21:44] garethbowen commented on #2150
My vote is for option 3 - we have to be semver correct, and should use the external version number where possible.

[2016-03-31 21:45] mandric commented on #2150
Can you explain a little what is the external version business?

[2016-03-31 21:45] mandric commented on #2150
Is it necessary?

[2016-03-31 21:46] garethbowen commented on #2150
@abbyad has decided this will be the versioning:

​> Kujua​: 1.0
​> Medic Mobile​: 2.0
​> In use across current sites​: 2.4
​> In use by DIY testers only​: 2.5

This is what makes sense from a management perspective for communication outside the company. It's not what makes sense from a technical perspective because we can't change the past. But we can align with that in future if we choose.

[2016-03-31 21:54] btbonval opened #2151 "Iterative steps can overlap in time causing redundancies"
I had the sleep interval set for 1 minute and doc size set to 3000.

The design doc didn't get pulled in until the very last set, so during the last iteration, all the XML data was being parsed and it took longer than 1 minute.

Meanwhile, the 1 minute timer went off to start the next iteration, which amazingly happened in parallel instead of waiting. Then that iteration, too, began parsing all th

[2016-03-31 21:54] btbonval commented on #2151
In the meantime, just increase the sleep interval as a workaround.

[2016-03-31 22:45] #2047 closed

[2016-03-31 22:48] mandric commented on #2099
Should i fix medic-data before we close this?

[2016-03-31 22:51] mandric commented on #2099
Nevermind I see the commit is innocuous.

[2016-03-31 22:54] #2099 closed

[2016-03-31 22:56] mandric commented on #2099
Skipping acceptance testing here since I see no way to define testing it other than just get the app in general use.

[2016-03-31 22:57] #1336 closed

[2016-04-01 00:43] abbyad commented on #2150
Those version numbers are the result of many conversations with teammates dating back several months. It wasn't a quick decision, or one taken lightly, as we want it to be logical across our team and stakeholders, as well as avoiding any potential technical consequences.

As an aside, we'll find out with https://github.com/medic/medic-webapp/issues/2147 how much of a breaking change, if any, it is

[2016-04-01 01:06] garethbowen commented on #2065
I found I could reproduce this by adding a delay to the target generator so it returns later. In this case I got 0 for all the targets. So I _think_ what was happening is, when just switching tabs the rendering completes when the target generator has only returned some of the targets, and then the UI doesn't get updated again when the rest are returned. If you reload on the targets page the render

[2016-04-01 01:49] garethbowen commented on #2149
I couldn't do `createTask` or `emitTask` because they both rely on having nools scope, and I didn't want to get into tricky scope manipulation. Also I had to modify most of the functions to take in `c.reports` as the first parameter. Other than that it should be a direct replacement.

[2016-04-01 08:08] estellecomment commented on #1900
omg closed at last

[2016-04-01 08:43] #2057 closed

[2016-04-01 08:48] sglangevin commented on #2134
@alxndrsn I ran into this issue again today due to slow network here in NBO. Here is the output from running that code:
![image](https://cloud.githubusercontent.com/assets/1286381/14202261/ad108cf4-f7ff-11e5-8962-4947cfc2093f.png)

[2016-04-01 08:50] estellecomment opened #2152 "Targets config testing : mock dates"
We have a synthetic_date in app-settings, which is useful for testing your instance config.
Targets are ignoring it, so you have to set your laptop's date backwards to test targets...

Edit : synthetic_date is on the server, while the targets are computed on the client. We need a synthetic_date on the client, to avoid having to fiddle with the machine's date.

[2016-04-01 09:02] alxndrsn commented on #2134
For more detailed output of the forms you have locally, run this:
[code]

[2016-04-01 09:11] estellecomment commented on #2065
Hmmm. I don't get this. You should still see the TargetGenerator outputting things, even though they don't get updated in the UI. I was logging out the result of the TargetGenerator callback, and the numbers were too low.

Or is the callback also waiting on the digest cycle, so it wasn't running? That's timed by the digest cycle? I thought UI updates were done by the digest cycle. Shmrflblblwhaaaa

[2016-04-01 09:26] estellecomment commented on #1963
See comment on the commit, for something a bit clearer : https://github.com/medic/medic-webapp/commit/74d55eca393d2869de5266bfb47cd07032f0de23#commitcomment-16892470

[2016-04-01 09:35] alxndrsn commented on #2134
From @sglangevin, server `alpha.dev` with a fresh browser (desktop):

# Local forms:

[code]

All of these forms seem to have valid XML, except for `stock`, which was not an XML form.

# Forms on server
[code]

# NB

## Deleted forms

Forms appear client-side which were deleted and no longer appear on the server:
[code]

# Missing forms

The following are missing client-side:
[code]

[2016-04-01 09:40] SCdF commented on #2150
Vote is also for 3: I think the re-versioning from an external perspective makes sense, and it's a pita to have to map versions so we should get on the reversion hype train :bullettrain_front:

[2016-04-01 09:45] alxndrsn commented on #2150
:+1: for option 3

[2016-04-01 09:48] alxndrsn commented on #2134
Would be interesting to see a comparison of the XML sizes for the different forms - perhaps the missing ones are really big.

[2016-04-01 09:49] estellecomment commented on #1963
Actually did it myself, can you review?

[2016-04-01 09:51] alxndrsn commented on #2134
Forms size comparison:

form | size (bytes)
---|---
form:assessment | 58581
form:assessment_follow_up | 19055
form:contact:health_center:create | 9020
form:contact:health_center:edit | 2032
form:effective_communication | 4085
form:contact:clinic:create | 16699
form:contact:clinic:edit | 2251
form:family_survey | 5616
form:it_support | 2738
form:observation | 3303
form:ovc_survey | 24664
form:conta

[2016-04-01 09:51] alxndrsn commented on #2134
`form:contact:health_center:edit` is missing, but only 2KB.

[2016-04-01 10:04] estellecomment opened #2153 "Remove some stuff from $scope"
There's a couple functions that I spotted that could be moved out of $scope and kept private instead. Filing this issue to keep track of it.

[2016-04-01 10:49] estellecomment commented on #1963
updated diff for review : https://github.com/medic/medic-webapp/compare/5f82e3a7db0a2feb44b7200a2480c9a8c5059112...a01bf5146b3acb1522aa24c95112afa4b0df4366

[2016-04-01 12:24] abbyad commented on #2152
I would have thought that the synthetic date worked only for server side dates (eg for new reports or scheduled messages) and not for client side calculations (eg as used in Task/Target rules). That is probably what you are experiencing. I am curious if it is sufficient to communicate what is client vs server side.

[2016-04-01 12:43] SCdF commented on #2054
I've modified the code to a sort of "minimal effort" standard: the select is now populated when you first tap on it, meaning forms like editing a clinic (which loads three of these) will not try to do it all at once. I've also increased reliability by allowing the "tap to load" to be retried if pouch / couch fails for some reason (ie going to couch and the network dies).

[2016-04-01 12:57] SCdF commented on #2054
So that's step one to making this nicer. Two more options to look at:
 - Attempt to pull this from existing generated locations instead of pouch/couch, such as the contacts tab. The pros here is that this should / could already exist as JS objects somewhere in memory, so we don't have to pull from Pouch or over the network from Couch. The cons is that it's a bit gross architecturally to make the c

[2016-04-01 14:07] estellecomment commented on #2152
Oh, that's right.
Renaming the issue then : we need an easy way to mock dates client-side for targets config testing.

[2016-04-01 14:15] abbyad commented on #1850
It seems as though we want to store the user's app versions (android container, webapp, ddoc) and last sync time in the user's doc in the db. This way it can be viewed in Analytics (easy to pull in) or eventually in the User profile or User config page (needs further design and dev).

This assumes that a user would have a single device - although that can perhaps be solved by storing these values

[2016-04-01 14:17] diannakane commented on #1850
@alxndrsn is this feasible?

[2016-04-01 14:45] SCdF commented on #2054
So I haven't noticed this before because I primarily use the techno for testing, but these dropdowns _already support searching inside them_, it's just that it doesn't currently work on mobile for some reason.

@estellecomment do you want to review the two commits I've done so far, I might also look into fixing the select on mobile and then probably leaving it at that.

[2016-04-01 15:31] mandric commented on #2152
Why the distinction?

[2016-04-01 15:36] estellecomment commented on #2152
? Not sure what you mean.
To clarify, the synthetic_date is set on the server, while in 0.6 the targets are computed client-side, so the client doesn't see synthetic_date. Basically we need a synthetic_date in the browser.
Does that answer your question?

[2016-04-01 15:37] mandric commented on #2152
App settings are replicated to the browser last I checked?

[2016-04-01 15:41] abbyad commented on #2152
The reason we had "synthetic date" was that it was hard for a PM or Tech Lead to test SMS schedules because they couldn't change the server date. It is easier to do it on a local machine, but not necessarily convenient. Are there cases where changing it locally does not calculate the targets properly?

[2016-04-01 15:43] estellecomment commented on #2054
LGTM

[2016-04-01 15:44] mandric commented on #2152
If we need a synthetic date during testing I would just request a feature than expect people to modify their local machines, that can screw up all kinds of things.

[2016-04-01 15:45] estellecomment commented on #2152
Yes, that's my point! Setting my machine's date back sucks. Editing the original description then.

[2016-04-01 18:08] browndav commented on #2139
LGTM as a workaround.

[2016-04-01 18:08] #2139 closed

[2016-04-01 18:09] browndav commented on #2073
LGTM.

[2016-04-01 18:09] #2073 closed

[2016-04-01 19:50] alxndrsn commented on #1850
Yes, all very simple except for last synch time, which won't have much meaning as we will only get the "last synch time" the next time synching happens!

[2016-04-01 20:38] alxndrsn commented on #2134
@slangevin reports that restarting the app does not re-trigger the form download - local storage must be wiped and process restarted from scratch.

[2016-04-01 21:15] alxndrsn commented on #2134
Seems likely it's this pouch issue: https://github.com/pouchdb/pouchdb/issues/4963.

[2016-04-01 22:54] browndav commented on #2046
Bumping back to active work per Marc's comment. @mandric: Should we spin off a new issue or are you happy handling the CHP Area creation in this one?

[2016-04-01 23:21] browndav commented on #2128
This looks good. Given that it's a one-off, using Groovy probably isn't a big issue IMO. A couple comments:

  - I think we can defer to the new [user creation API](https://github.com/medic/medic-api/blob/develop/API_v1.md#post-apiv1users) for creating CHP contacts and users.

  - Caveat: the new users API doesn't currently create the CHP area (reopened ticket: #2048).

  - Absent a quick fix for

[2016-04-02 12:13] abbyad commented on #2128
The reopened ticket is #2046

[2016-04-02 14:52] browndav commented on #2128
Fixed, thanks.

[2016-04-02 22:30] mandric commented on #2046
I'm fine with creating the person's place too.  But @abbyad is there a specific way you envision using the API, can you maybe mock up an example usage?  Maybe something like this, so if you specify place as an object (instead of a string) then we create the facility and also automatically assign it to the person/contact (set contact.parent to it), you would need to specify one of our internal type

[2016-04-03 00:13] diannakane commented on #1850
I'm not sure that I understand, Alex. Wouldn't the system take note of the
synch date/time when it's happening and that would remain as the last synch
time until a new synch date stamp replaces it?

On Fri, Apr 1, 2016 at 3:51 PM, Alex Anderson <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=

[2016-04-03 01:13] abbyad commented on #2046
I really like that idea @mandric, as it would be flexible enough for foreseeable use.

Would posting with the place as an object always create a new place, or would it first search for a place of the same name first? If it is the latter that would likely make it easiest for scripting.

[2016-04-03 20:31] garethbowen commented on #2153
This looks fine, but it's really hard to test scope changes. Maybe we defer merge until after LG is merged to testing.

[2016-04-03 21:18] mandric commented on #2046
I'm not sure what makes more sense... maybe add the basic place creation support first and then see how it goes?

[2016-04-03 22:11] garethbowen commented on #1963
Look good.

[2016-04-03 22:11] #1963 closed

[2016-04-04 03:54] garethbowen commented on #2134
Yeah, looks like a pouch regression. seq is updated the same whether or not all docs replicated successfully.

[2016-04-04 07:37] estellecomment opened #2155 "Modals : don't preload them"
We create and render modals at app startup, and then hide them.
Instead, instantiate them when you need them.

[2016-04-04 08:18] estellecomment opened #2156 "Form title disappears on page reload"
1. Go to a form, e.g. http://localhost:5988/medic/_design/medic/_rewrite/#/reports/add/family_survey
   ![screen shot 2016-04-04 at 10 17 47](https://cloud.githubusercontent.com/assets/911434/14241894/86788762-fa4e-11e5-99ba-c828cdb14f73.png)
2. Reload page. Form title is gone.
   ![screen shot 2016-04-04 at 10 17 31](https://cloud.githubusercontent.com/assets/911434/14241897/8a5ecb0c-fa4e-11e5-9e

[2016-04-04 08:26] estellecomment commented on #2156
Because after form rendering, a `query` event is fired, which causes a `$scope.selectReport()` (clears selected report), which clears the `$scope.title`.
https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/reports.js#L175

[2016-04-04 09:33] SCdF commented on #2155
Just for clarity, what are the pros and cons of preloading models?

[2016-04-04 09:36] garethbowen commented on #2155
Currently we render the dom and run some initialisation (eg: get all contacts from the db) on first run. I suspect this slows down first render noticeably. Furthermore many of the modals will never be opened (eg: admin only modals) so memory usage would improve. We could also clean up the modals on close to free up more memory if necessary.

[2016-04-04 10:02] alxndrsn commented on #2146
@abbyad please provide example forms showing good and bad behaviour

[2016-04-04 13:01] abbyad commented on #2146
@alxndrsn there is an example with files in https://github.com/medic/medic-projects/issues/129

[2016-04-04 15:40] SCdF commented on #2146
The fundamental problem is that data is allowed to be bound to arbitrarily deep children: it doesn't not have to be at the same "level", meaning you can have data that looks like this:
[code]
And when you bind it to the following elem structure:
[code]
Then these two things will happen in an un-documented order:
 - from the context of `any` we will find `contact`, and in that context `deep`, then

[2016-04-04 15:44] SCdF commented on #2146
Unfortunately we:
 - need this current structure. It's not like the data and the xml are 1:1 right now, so correct binding depends on being able to bound to arbitrarily deep children
 - can't make up rules like "if there is already data in that element ignore this data" because there are examples where the form elem has default values we want to override

We *might* be able to have the rule that i

[2016-04-04 15:46] SCdF commented on #2146
I've also noticed that we use `$(...).find`, which will return more than one element. I haven't worked out if this is also a problem, but it sure seems weird.

[2016-04-04 15:48] SCdF commented on #2146
(not weird that it returns more than one value, more weird that we'd actually intend on that happening)

[2016-04-04 15:59] SCdF commented on #2146
Will have to write tests, but perhaps the absolutely smallest fix would be applying a sort before the [_.pairs](https://github.com/medic/medic-webapp/blob/develop/static/js/services/enketo-translation.js#L331) that puts values first and objects last, so that any objects (ie more specific declarations that have a more specific scope) get applied after and thus over values.

[2016-04-04 16:19] SCdF commented on #2146
I haven't written any tests yet because I'm a bad person, but this proposed commit fixes the one noted issue in https://github.com/medic/medic-projects/issues/129 (though it may cause other issues)

[2016-04-04 18:13] sglangevin commented on #2065
@garethbowen @estellecomment Perhaps I am missing something on my end, but I still only see the correctly updated tasks when I refresh the Targets tab. On first load and on reload, I have a mostly blank Targets tab. If I do an assessment, for example, the Targets page updates as expected - it seems to be working well. The lingering issue is on first load and on reload from the About page where my

[2016-04-04 18:33] estellecomment commented on #2155
Not done, but take a look if you like, @garethbowen

[2016-04-04 18:35] estellecomment commented on #2065
Ha. I was wondering how the fix fixed. I didn't see it any more, but lemme check more precisely.
Still on `demo1` user? Did you try on `admin`?

[2016-04-04 18:35] sglangevin commented on #2065
@estellecomment I'm testing on alpha.dev with the `demo` user

[2016-04-04 18:36] sglangevin commented on #2065
Interestingly, if I log out and log back in on mobile, I see the correct values in Targets. This doesn't work on the web version.

[2016-04-04 19:13] garethbowen commented on #2150
DECISION: 2.6.0

[2016-04-04 19:25] SCdF commented on #2128
We should wait for #2046

[2016-04-04 19:36] garethbowen commented on #2098
Closing. There's a design issue in the pipeline that will resolve this.

[2016-04-04 19:36] #2098 closed

[2016-04-04 19:37] #2082 closed

[2016-04-04 19:41] browndav commented on #2068
Heisenbug is heisenbug. Haven't seen this in a while; closing until we see it again. We'll have a shot at reproducing it as part of #2127.

[2016-04-04 19:46] SCdF commented on #2049
@browndav to review doc that @abbyad made and then close

[2016-04-04 19:46] #2049 closed

[2016-04-04 19:48] browndav commented on #2048
Blocked on #2046.

[2016-04-04 20:06] SCdF commented on #2044
@abbyad can you confirm that your workaround still works

[2016-04-04 20:08] mandric commented on #2048
Minor security issue worth mentioning here because using the API provides us more leverage security-wise.

[2016-04-04 20:09] SCdF commented on #2038
LG says "everything on or before this date" is good enough

[2016-04-04 20:10] SCdF commented on #2038
Next steps: tiny script

[2016-04-04 20:10] estellecomment commented on #2038
Extra info : we will be doing the deletions for LG initially.
Eventually, bulk_delete feature will enable LG (and other partners) to do it themselves.

[2016-04-04 20:13] SCdF commented on #2038
Sounds like we need to go through a thought process on what happens if we delete something and then need to bring it back later. How would that work? Would we solve it with replication? Or are we comfortable just saying that once we delete something it's gone?

[2016-04-04 20:14] SCdF commented on #2038
Also:

- [ ]  test that the deletions make it down to the phones

[2016-04-04 20:20] abbyad commented on #2038
I have an uncommited* "dumb" bulk-delete that deletes all reports in a view if that is useful here.

_*uncommited for fear of it being inadvertently used on a live instance_

[2016-04-04 20:23] abbyad commented on #1572
Yes @sglangevin, I think that falls in here too.

[2016-04-04 20:27] browndav commented on #1473
Finished. We'll open a new issue for additional design work.

[2016-04-04 20:27] #1473 closed

[2016-04-04 20:34] garethbowen commented on #2105
We should probably bump our version of libphonenumber at the same time. Also, this change breaks tests.

[2016-04-04 20:46] abbyad opened #2157 "Delete via bulk docs can incorrectly report OK"
Updates with `"_deleted":true` result in an OK response for the doc with a rev +1 as expected... however a small amount of the docs remain with a rev -x.

On a first pass 13 of 965 remained. On a second pass 1 of 13 remained. The third pass deleted the remaining one. I have a snapshot just prior to running this script, and need to test if it's reproducible.

[2016-04-04 20:49] estellecomment opened #2158 "Can't hold it back anymooore"
Turn around and slam the doooooor
https://www.youtube.com/watch?v=moSFlvxnbgk

[2016-04-04 20:51] alxndrsn opened #2159 "Update to latest libphonenumber"
From https://github.com/medic/medic-webapp/issues/2105#issuecomment-205482163

[2016-04-04 21:40] garethbowen commented on #2159
Instructions on how to update are here: https://github.com/medic/medic-webapp/tree/develop/packages/libphonenumber

[2016-04-05 00:19] #820 closed

[2016-04-05 00:22] browndav opened #2160 "Medic OS: Provide a simple update mechanism"
We need a way to deploy security updates that doesn't require a custom script for each update. Make package updates work – at least well enough to apply simple security updates for shared libraries. This should be a `package-update` script that takes a path to a package as an argument, applies it to the running system, and then optionally restarts the updated services.

[2016-04-05 00:39] #2150 closed

[2016-04-05 03:22] garethbowen commented on #2153
Merged.

[2016-04-05 03:22] #2153 closed

[2016-04-05 03:25] garethbowen commented on #2155
Looks pretty good.

I think it would be better to have one controller per modal and remove the ModalCtrl if possible?

It'd also be a big win if you could render the template on open, rather than include it from the inbox template so it has to render on load.

[2016-04-05 03:25] garethbowen commented on #2105
Looks good.

[2016-04-05 03:25] #2105 closed

[2016-04-05 07:11] SCdF commented on #2158
Recording of bug:
![ewww](https://45.media.tumblr.com/41664ddd71900691fbf8b3bba0b1dd7b/tumblr_mxigr4adtF1rrdfajo1_500.gif)

I think we need a re-render folks, someone call Disney.

[2016-04-05 07:52] estellecomment commented on #2158
I actually love that song. Great song.

[2016-04-05 08:17] SCdF commented on #2054
I'm going to close this (since it has code that has been pushed into 2.6) and open a new ticket, in this sprint, for the next step of optimisations we can make to this piece of functionality.

[2016-04-05 08:17] #2054 closed

[2016-04-05 08:28] SCdF opened #2161 "Improve db-object-widget performance"
The current implementation of the [db-object-widget](https://github.com/medic/medic-webapp/blob/ordered-data-binding/static/js/enketo/widgets/db-object-widget.js) is sub-optimal when the DB is remote (ie users are admin). It currently loads every record returned from the configured view on click. To use LG as an example, that is (currently, with our very small trial) ~500 contacts, at 1.3mb compre

[2016-04-05 09:48] SCdF opened #2162 "Our use of the select2 widget doesn't allow text entry in the mobile app"
How it should work:
- Log on with Chrome (either desktop or latest mobile), go to history, click the +, add any report that is attached to a contact (eg Assess Patient()
- Note that the dropdown widget, once loaded, allows you to enter arbitrary text to filter it.

What is broken:
- Same instructions as above, but in the mobile app.
- Note that the dropdown widget looks like it selects the text en

[2016-04-05 10:15] estellecomment commented on #2065
Maybe a callback registration problem.

First emission from RulesEngine is [just after init](https://github.com/medic/medic-webapp/blob/develop/static/js/services/rules-engine.js#L307), nothing much happened yet. This always fires.

Subsequent ones are emitted [from our custom events](https://github.com/medic/medic-webapp/blob/develop/static/js/services/rules-engine.js#L162), and these only fire i

[2016-04-05 12:36] abbyad commented on #2044
Yes, just tested again on 3027 and it works.

It does result in a weird UI were people and places are mixed together in the same list:
![image](https://cloud.githubusercontent.com/assets/789512/14281590/205c219a-fb08-11e5-9bcd-459ef2592a7a.png)

To make it easier to view that list of "children" could either be split into people and places, or sorted by type and shown with a icon. @garethbowen is t

[2016-04-05 12:49] SCdF commented on #2146
I have written a couple of tests, you can see them and the suggested fix against the linked PR: https://github.com/medic/medic-webapp/pull/2163

There is also a conversation going on an outdated commit, that I think we probably should be having directly on this ticket. You can see the current conversation here: https://github.com/medic/medic-webapp/commit/4138000e43f69423fd32e0b996a461e3bd6e9b30#c

[2016-04-05 13:37] estellecomment commented on #2065
Found it!
The behavior above is fine : when you start a TaskGenerator, it doesn't restart the rules engine : if there's already a rules engine up, it gives you the emissions it has so far, then continues emitting and sends the new emissions in the callback.

HOWEVER, how it gives you the emissions it has so far is wrong. Because how it stores the emissions is wrong. Because it assumes that `id` is

[2016-04-05 13:49] SCdF commented on #2161
Things that need to be done:
 - [ ] Use the `ajax.transport ` hook to actually use PouchDB / CouchDB instead of jQuery's ajax functions
 - [ ] Profile to see how much data gets pushed around for each search, realistically, to see if we need to optimise the actual CouchDB view called
 - [ ] Make sure that initial values get correctly selected on render. This is minor and probably involves a single

[2016-04-05 14:58] estellecomment commented on #2155
I'm going with single controller + service, different templates. So you just specify your template url as an argument to the service, and it's all dealt with for you, as in https://github.com/medic/medic-webapp/commit/447b9d00089f10bfc84e5eba4b18b4a633abdea1#diff-c6f758d977305f269bb1c9d02cd160cdR212

It does! See, it's gone from inbox.html : https://github.com/medic/medic-webapp/commit/996c794331b

[2016-04-05 15:51] abbyad commented on #2065
Thanks for finding that @estellecomment! That matches how we create id for Tasks as well: `_id: contact.contact._id + '-' + schedule.id`.... is it possible to have the webapp combine the type and id to not leave that creation to tech leads and open to potential failures?

[2016-04-05 19:24] mandric commented on #2046
So I will modify the API so that if you specify `place` but not `contact.parent` then the contact parent automatically gets assigned the place that is created.

[2016-04-05 19:55] abbyad commented on #2157
I retested this after recreating the instance from the snapshot and got the exact same result, so this is likely due to the data in some way and not an intermittent issue.

Looking at it further, all of the docs that "reappeared" were previously in conflict. Further tests via Futon on a single doc that had a conflict yielded the same result; after deleting the doc, one with a lower rev remained.

[2016-04-05 20:02] garethbowen commented on #2157
This issue covers exposing conflicts: #1838

It sounds like couchdb is behaving exactly as expected and your delete script is essentially resolving the conflict.

[2016-04-05 20:07] garethbowen commented on #2065
Nice one @estellecomment ! The TargetGenerator stores each emit by target type, but the RulesEngine doesn't. We could have some sort of id generation algorithm in the RulesEngine that knows how to handle Targets but I think requiring each ID to be unique in the config is the right approach.

[2016-04-05 20:15] garethbowen commented on #2162
This could be related to #1395

Maybe our fix for that caused this when we updated to select2 4.0?

[2016-04-05 20:17] garethbowen commented on #2155
I get that, but I'm sure in some modals we'll want to have some scope (eg: filling out a form) and it'd be nice to have that scope bound to a controller specific to that modal.

Ahh awesome! I missed that.

[2016-04-05 22:23] garethbowen commented on #2044
@abbyad Yeah this is fixable, but not top priority IMO. Can you create a new issue for it and prioritise as you see fit?

[2016-04-05 22:24] #2065 closed

[2016-04-05 22:35] garethbowen commented on #2146
I think it's a happy accident. There is definitely some complexity WRT root nodes (eg: when loading a report form vs a contact form), but once the root node is found it should only bind when the path matches exactly.

It shouldn't be a massive change, but given the above complexity it could be risky. I don't recall specifics but I do remember a bunch of bugs cropping up in this area when changes h

[2016-04-05 23:07] abbyad commented on #2065
I simplified the target creation in the config to match @estellecomment's changes so that the person configuring the instance is less prone to making such a mistake again.

@sglangevin this is ready for acceptance testing now on alpha.dev

[2016-04-05 23:39] sglangevin commented on #2065
I'm excited to say this is working well! Moving to ready.

[2016-04-06 02:32] garethbowen commented on #2046
Looks good. I've added a few code readability comments to the PR.

[2016-04-06 02:38] mandric commented on #2046
Thanks, will clean it up a bit tomorrow.

[2016-04-06 02:46] garethbowen commented on #2144
`'indent' + facility_depth` is used for the contact dropdown filter. This probably goes for the other 3 items with 203 watchers too. So if we fix that filter that'll remove 800 or so watchers.

When I've run it as a restricted user in the past I get about 1500 watchers. I assume you ran this as admin?

[2016-04-06 02:49] garethbowen commented on #2141
Closing as this is expected behaviour. Please reopen if these errors cause a problem for the users.

[2016-04-06 02:49] #2141 closed

[2016-04-06 03:14] garethbowen commented on #2123
It looks like Tasks for pregnancies are overwritten by checking if the report is the most recent pregnancy in configuration, eg:

[code]

We should modify the Task configuration to remove these duplicates in a similar way. So something like...

[code]

This will solve the first part of the problem where on first load multiple pregnancies for a single contact will only count as 1 towards your targe

[2016-04-06 03:21] garethbowen commented on #2094
@alxndrsn Any thoughts on this?

[2016-04-06 08:18] SCdF commented on #2146
I've merged the code into both develop and testing, and I'm going to close this ticket so it can be put into Acceptance Testing, and raise another one about making the binding more specific.

[2016-04-06 08:18] #2146 closed

[2016-04-06 08:25] SCdF opened #2164 "Make data binding to forms only bind when the path matches exactly"
See #2146 and the conversation on that ticket.

This ticket is about changing the code so that we correctly find the right base node in the XML to start with, and then from then on only bind to the direct children instead of searching down the tree and picking anything that matches.

This will need to tested with each existing LG form to make sure that none of them are relying on the current behav

[2016-04-06 08:50] fredatthehub opened #2165 "LG Branch - Iganga - Gmail Registration on Play Store"
LG has advised that for the phone setup for the app, each branch will have its own gmail account, stating with the upcoming Branch - Iganga.

Register the email - [REDACTED]@gmail.com - so that the LG team are able to download the app.

[2016-04-06 10:43] SCdF commented on #2031
@alxndrsn and I had a discussion yesterday to recall our earlier discussion in Kampala about this, as well as discuss the realistic need for user statistics.

## Do we even want analytics?

Here is the main point I think we need to discuss: **while statistics are cool, they are not free, in either bandwidth, time or complexity**:
 - *so* We should only add them if we are trying to answer a specifi

[2016-04-06 11:10] alxndrsn opened #2166 "Update pouchDB to latest to incorporate replication fix"
# Update PouchDB dependency

We have submitted two alternative PRs to PouchDB to fix https://github.com/medic/medic-webapp/issues/2134 / https://github.com/pouchdb/pouchdb/issues/4963:

1. https://github.com/pouchdb/pouchdb/pull/5029 - retry entirety of failed batch
2. https://github.com/pouchdb/pouchdb/pull/5033 - retry remainder of failed batch

When either of these has been accepted upstream an

[2016-04-06 11:24] alxndrsn commented on #2134
Fix pushed to `develop` and `testing`.

[2016-04-06 11:38] SCdF commented on #2161
I have realised building this that I need to break backwards compatibility with the existing code, because I need to change the view that it points to, and thus the value that is in forms to configure the widget. I'll get the thing built and working, but I guess we might end up duplicating and having two so we can migrate over cleanly.

[2016-04-06 11:38] garethbowen commented on #2134
Looks good.

[2016-04-06 11:38] #2134 closed

[2016-04-06 12:00] estellecomment commented on #2038
The medic-api doesn't cover deletions, so I'm going to assume calling the DB directly is fine. @abbyad let me know if that's wrong.

[2016-04-06 13:38] abbyad commented on #2165
The app does not require registration to download. Please follow the app download instructions to obtain it.

[2016-04-06 13:39] #2165 closed

[2016-04-06 15:37] abbyad commented on #2157
Sounds good, closing as duplicate.

[2016-04-06 15:37] #2157 closed

[2016-04-06 15:38] alxndrsn commented on #803
Looks fine for webapp, but I don't see how this fixed `medic-transport`.

[2016-04-06 15:39] alxndrsn commented on #803
Who is maintaining the node module?

[2016-04-06 15:43] #2159 closed

[2016-04-06 15:51] abbyad commented on #2157
Just a note that we should keep this in mind when implementing #1000.

[2016-04-06 20:05] garethbowen commented on #803
Some guy: https://github.com/seegno/google-libphonenumber

So far it's kept well up to date.

I ignored medic-transport because as Dave said...

[2016-04-06 20:05] #803 closed

[2016-04-06 20:14] garethbowen opened #2167 "Replication doc request timeout is too low"
When pouchdb replication finds a change it issues a request for the latest revision of the doc. On slow connections this often timesout after 10 seconds.

This is because the replication get request [doesn't pass a timeout parameter](https://github.com/pouchdb/pouchdb/blob/master/src/deps/bulkGetShim.js#L85) which means their [ajax module uses the default 10 second timeout](https://github.com/pouc

[2016-04-06 20:15] garethbowen commented on #2134
Related: #2167

[2016-04-06 20:47] mandric commented on #2112
Possibly related https://github.com/garden20/dashboard/issues/13

But I also agree with Gareth, unless we want to get into the business of maintaining a json-schema editor.

[2016-04-06 20:55] mandric commented on #2130
I think this involves just editing/committing the right project files and then pushing to the server.

[2016-04-06 21:50] garethbowen commented on #2046
LGTM

[2016-04-06 22:20] mandric commented on #2046
Related documenation https://github.com/medic/medic-docs/blob/master/md/dev/users-bulk-load.md

[2016-04-06 22:44] garethbowen commented on #2144
I think I've removed those 800 watchers. Most of the other watchers are on translate expressions with very low bang for buck. We should continue replacing these as we come across them.

Combine this with #1863 and #2155 and we'll have made good progress.

Assigning to @estellecomment to review the progress so far. Can you see any other low hanging fruit?

[2016-04-06 22:50] garethbowen commented on #1820
This is now a duplicate of #2155

[2016-04-06 22:50] #1820 closed

[2016-04-06 22:53] garethbowen opened #2168 "Update angular to 1.5.x"
Angular 1.5 has quite a few performance improvements over the 1.4.3 we use now. It also has some breaking changes but I don't think any apply to us. This is a very risky change but it's a good time to do it. Also update all angular plugins. [release notes](https://github.com/angular/angular.js/blob/master/CHANGELOG.md)

[2016-04-06 22:54] mandric commented on #2046
So I'm assigning the new place that gets created to `contact.parent` but should I also be assigning the new contact to `place.contact`?  Seems like a lot of duplicated data?

[2016-04-06 22:56] diannakane opened #2169 "re-design display of records in history tab"
Complaints that summary / list view of records do not show information relevant to the role viewing them. e.g. the CHW does not need to see their name on every record. Reconsider how these are displayed, potentially showing different information in list view depending on who's logged in.

[2016-04-06 23:07] garethbowen commented on #2046
Yeah you're not wrong. I think the point of it is to support workflows in both directions. Sometimes you need to know what area this contact is is, and sometimes you need to know who is the primary contact for a given area.

We should think about linking contacts vs inlining again...

[2016-04-06 23:29] #2168 closed

[2016-04-06 23:35] mandric commented on #2046
Ok shoot, should we re-open and add this?

[2016-04-06 23:36] mandric commented on #2046
Oh it's still open.

[2016-04-06 23:36] mandric commented on #2046
Ok I'll add this unless I hear otherwise.

[2016-04-07 00:02] diannakane opened #2170 "Page Title vs. Back Title"
Currently, the app shows the title of the page in the salmon bar, making it appear to be related to the "back" button next to it rather than the present page.
![screen shot 2016-04-06 at 16 56 40](https://cloud.githubusercontent.com/assets/1675870/14336418/a94250e0-fc18-11e5-836e-cdf3685ad773.png)

Suggestion to resolve that to using the salmon bar to state the page that will be reverted to by cli

[2016-04-07 00:40] abbyad commented on #2170
This was discussed in https://github.com/medic/medic-webapp/issues/1513 and https://github.com/medic/medic-webapp/issues/1564. We had discussed several options and the decision was:

based on:

That said, I am glad that we are revisiting this now that we have more users looking at and understanding the app.

As a side note, we are using the top bar as a title bar in some places (eg new form) so we

[2016-04-07 00:47] abbyad commented on #1409
This is only showing the forms that can be submitted via the Reports tab given their context:

![pasted image at 2016_04_06 06_45 pm](https://cloud.githubusercontent.com/assets/789512/14337069/7ea75b62-fc38-11e5-8417-c3563bc1cf86.png)

It should however include all non-contact XForms - meaning all forms except for the contact forms.

[2016-04-07 02:05] garethbowen commented on #1409
@abbyad Why can't all non-contact forms be submitted via the reports tab?

[2016-04-07 02:34] garethbowen opened #2171 "Release 2.6.0"
* [x] Create a new market for the final release so we can release 0.4.x in parallel. Naming suggestion: "markets-release-2.x".
* [x] Create a git branch from `testing`. Naming suggestion: "v2.6".
* [x] Update `scripts/ci/after_success.sh` script to publish builds from the branch above to the market above. This change must be committed to `develop`, `testing`, and the new release branch.
* [x] Tag

[2016-04-07 02:59] abbyad commented on #1409
Some forms require info from a previous form so if you were to open those forms from the history tab you wouldn't get the necessary info to complete that form. For instance, the ANC visit form relies on the LMP from the registration form, and without it the form could not be adequately completed. Similarly, from the patient profile we are only showing forms that can be completed independently.

If

[2016-04-07 03:00] abbyad commented on #2149
Works well and tested, moving straight to Ready.

[2016-04-07 03:00] #2149 closed

[2016-04-07 03:06] abbyad commented on #2044
Thanks @garethbowen. I think this will be covered as part of the profile page design updates, but will open an issue to make sure it is kept in consideration.

[2016-04-07 03:07] abbyad opened #2172 "Persons and Places are shown in same list"
As discussed in https://github.com/medic/medic-webapp/issues/2044#issuecomment-205780908, on a Place's profile we need to figure out how to display Children of type Person and Place.

Otherwise we have both persons and places in a single confusing list:
![image](https://cloud.githubusercontent.com/assets/789512/14339334/d7fbbb50-fc4b-11e5-9539-015ad426426e.png).

[2016-04-07 03:40] diannakane commented on #2170
Happy to hear that re: the chevron vs. x. I thought you were advocating for it to be the other way which is why I added it as an alternative, but I am happy wth it the way that it is.

The open question then is what should go in the top salmon-colored bar -- the title of the present page or the name of the parent page that the chevron takes you back to. I'm in favor of the latter, as indicated in

[2016-04-07 04:37] garethbowen commented on #2170
I prefer the salmon bar to have the title of the current page. The text in the salmon bar jumps out and looks like the most important title on the page and to me it's more important to know where you are than where you've been. In the second mockup it looks like "Mary Jones Family" is a subheading.

However, it also looks a bit strange to have the name of the current page beside the chevron as in

[2016-04-07 07:21] estellecomment commented on #2031
+1 for not collecting data we aren't using, for user privacy reasons. (and, as you mentioned, it's not free in our case.)

[2016-04-07 07:28] estellecomment commented on #2169
Similar issue for contacts : https://github.com/medic/medic-webapp/issues/2010

[2016-04-07 07:29] SCdF commented on #2168
Is this also a good time to go through all of our libraries and push them to the latest version (since we are directly after a release)?

[2016-04-07 07:51] SCdF commented on #2170
It might be useful to generate the mockups with the same resolution as the tecno phones. I bring it up because I'd be worried that the current mockup would be too cramped on that resolution? Would be interesting to see anyway

[2016-04-07 07:55] SCdF commented on #2031
On #2170 Gareth just asked an interesting question:

This is a good "live" example of something that could benefit from being able to deploy analytics to prod for a couple of weeks, as it would probably help answer this question quite nicely.

[2016-04-07 08:35] estellecomment commented on #2038
Assumptions :
 - Training data is restricted to a given branch (‘district_hospital’ type), and to a time span (start and end timestamp)
 - Branch contains CHP areas (‘health_center’ types). CHP areas were created ahead of time, and won’t be deleted by this process.

Deletion plan :
 - CHPs can create families (‘clinic’ type). All families created within the training period, in the branch in traini

[2016-04-07 08:41] estellecomment commented on #2038
More assumptions : pre-existing (“real”) families and family members will not be edited. (if they are, this process will ignore it)

[2016-04-07 08:57] estellecomment commented on #2038
Oh wait, no "Messages" tab in CHP view, right? So no deletion of messages. Let me know if that's not right.

[2016-04-07 08:59] alxndrsn commented on #2031
We could.  From my limited experience, the FBB doesn't really get used.  Perhaps this is in part because historically it was very hard to touch successfully?  Or perhaps because it mostly does exactly the same as the HBB.  But:
* what we have currently is fairly close to the [recommended Android navigation](https://developer.android.com/design/patterns/navigation.html), except that our HBB behavio

[2016-04-07 09:10] estellecomment commented on #2170
About removing the chevron : while we've seen the HBB being used most, I wouldn't remove the chevron back button without more data about its usage. I've seen very few users, and they knew each other and were trained together, so would likely be sharing navigation strategies.
A screen with no visible way of navigating is harder to use IMO. We should plan for beginner phone users.

Dianna probably s

[2016-04-07 09:11] SCdF opened #2173 "Exceptions when indexing (presumably) views"
If you change any view Couch seems to re-index all views (probably because the hash of the entire views file changes). Doing that, you get the following styles of errors:
[code]

This could mean that docs that should be in a view are not making it, or that these are "intentionally" failing out. We should work out which and fix our views so that we don't throw exceptions.

[2016-04-07 09:19] garethbowen commented on #2168
@SCdF Yeah go for it!

[2016-04-07 09:28] alxndrsn commented on #2094
My preference would be to close this ticket and open the optimisations as a new ticket.

[2016-04-07 09:37] #1409 closed

[2016-04-07 10:12] garethbowen commented on #2094
@alxndrsn Too lazy to raise an issue. Instead can you review that commit please?

[2016-04-07 10:37] SCdF commented on #2161
Actually I've managed to not need to break current forms, so disregard that last comment!

[2016-04-07 10:39] SCdF commented on #2031
^^ you probably want this comment on the other ticket. I didn't mean to bring the discussion over here, just saw an example I thought was interesting :-)

[2016-04-07 11:34] alxndrsn commented on #2094
I'm seeing this exception locally:

<img width="449" alt="screen shot 2016-04-07 at 13 33 26" src="https://cloud.githubusercontent.com/assets/191496/14349738/66f9d55c-fcc5-11e5-9e6f-3d8c06b3d49c.png">

Possibly caused by this change?

[2016-04-07 11:34] #2158 closed

[2016-04-07 12:17] alxndrsn commented on #2167
The above commit will fix the problem for us.  If a patch is required for PouchDB, we should use this monkeypatch in the interim.  However, I am working to find a better fix.

[2016-04-07 12:19] alxndrsn commented on #2167
It seems like we may be setting up our replication incorrectly:

[2016-04-07 13:31] SCdF commented on #2161
Things still to do:
 - [ ] Make it clear that you might be missing results since there are more than 20
 - [ ] Make it work on mobile
 - [ ] Make the selection on desktop not wonky

[2016-04-07 14:00] estellecomment commented on #2144
Nice! 8 characters for 800 watchers, good ratio.

Another big one is `templates/partials/filters_facility_items.html`, because of the ng-include I guess, 600 watchers.
It's in the dropdown for the facilities filter. Maybe we could do lazy loading for it, watching all the time when you rarely use it is not great.

[2016-04-07 14:27] estellecomment commented on #2144
Was easier than I thought :)
Then the translations would add up to a hundred per page at least.

[2016-04-07 16:17] SCdF commented on #2038
@estellecomment made some comments on the commit.

If you think the script will live for a reasonable amount of time you might wish to consider cleaning it up but if it's just a once-off script it probably doesn't matter.

[2016-04-07 17:54] alxndrsn commented on #2167
Filed upstream at https://github.com/pouchdb/pouchdb/pull/5042; PR at https://github.com/pouchdb/pouchdb/pull/5043

[2016-04-07 17:57] abbyad opened #2174 "Cannot enter recipient for outgoing messages"
If you open go to send a message from the RHS and "add recipient" the person select box is shown incorrectly and cannot be type into:
![image](https://cloud.githubusercontent.com/assets/789512/14361104/57db8b36-fcc7-11e5-9da1-10f38d346666.png)

If you open it from the LHS it shows up normally. If you open it from the LHS, close it, then open it as done originally above, then it will also show up n

[2016-04-07 18:52] mandric commented on #2130
We could also make the defaults in sentinel to be all disabled and then we'd have to add configuration to enable transitions.  We'd just need to be careful about not breaking support projects.

[2016-04-07 19:21] garethbowen commented on #2094
It looks like your replication isn't complete. The "bad doc in batch" error gave it away. Can you wait for it to complete and check again?

[2016-04-07 19:24] garethbowen commented on #2174
@abbyad Did you check for JS errors?

[2016-04-07 19:32] alxndrsn commented on #2094
Is the error expected when replication is slow?

[2016-04-07 19:33] abbyad commented on #2174
I hadn't noticed any errors originally, but see one now on initial load:

[code]
![image](https://cloud.githubusercontent.com/assets/789512/14364243/fb118c52-fcd5-11e5-8cb5-d6ee5de92c93.png)

and a 404 on https://diy.dev.medicmobile.org/medic/eeb17d6d-5dde-c2c0-62c4a1a0ca17fd16?

[2016-04-07 19:34] garethbowen commented on #2174
I think that "error watching" one is when you refresh because the db forcibly closes the connection (we should be cleaning up our watches on unload, but meh).

[2016-04-07 20:33] mandric commented on #2130
Do we want to make this the ticket for disabling transitions by default?  If so I'm happy to take it.

[2016-04-07 21:02] garethbowen commented on #2161
It'd also be good to switch all the other contact search select2s (eg: Send Message modal) over to using the same mechanism you use here. It may also be possible to pull out the entire select2 configuration into a module/service so we can keep all these select2s in sync.

[2016-04-08 00:50] sglangevin commented on #2038
@estellecomment I've reviewed and agree with your Assumptions. On the Deletion Plan, CHPs can't create messages (as you noted), so you don't need to worry about those. Deleting families (type 'clinic'), people (type 'person') and reports will suffice.

I believe for all branches we will delete data for everyone from the branch at the same time. The only time I know of where we will need to exclude

[2016-04-08 07:56] estellecomment commented on #2144
Next : time the difference these couple commits made, on tecno, to know if it's worth trying any more.
`/messages` has the most watchers right now, but it's an admin-only page.

[2016-04-08 07:59] estellecomment commented on #2091
Code looks good! Passing to acceptance testing, that's a bunch of changes.
(We need to write more tests to rely less on acceptance testing...)

[2016-04-08 07:59] #2091 closed

[2016-04-08 08:11] SCdF commented on #2161
I thought they all would be! Do you mean we use select2 outside of enketo? The current code I'm modifying has weird hacks for enketo in it (which I in no way understand) and will probably require more to fix it working completely on desktop and at all on mobile. Could definitely pull out the search component, but if I end up moving it to the search service there presumably wouldn't be much to pull

[2016-04-08 09:01] SCdF commented on #2174
Code looks fine, but I mean, I have no idea what it does :P The comment doesn't go into rich detail…

[2016-04-08 09:17] SCdF commented on #2161
OIC, there is also the [place widget](https://github.com/medic/medic-webapp/blob/develop/static/js/enketo/widgets/medic-place-widget.js#L107-L129) that uses a similar setup, as well as [send message](https://github.com/medic/medic-webapp/blob/develop/static/js/modules/send-message.js#L172-L181).

[2016-04-08 09:47] estellecomment commented on #2038
Outputs pretty log. Gonna think about how to keep track of deletions to revert them later if needed.

[code]

[2016-04-08 10:23] estellecomment commented on #2038
Next :
 - check it replicated to mobile devices.
 - make a copy of lg.dev, run script on it, click around to make sure it looks right

[2016-04-08 11:52] SCdF commented on #2038
Seems fine again, bar one potential issue in comments

[2016-04-08 19:30] sglangevin commented on #2038
@estellecomment not sure where this comment should go, but we should either stop the server from receiving any data or back up the data (or both) prior to running the deletion since we know we can't get the data back once we do this.

[2016-04-10 20:10] garethbowen commented on #2144
Unfortunately my change was effectively admin only too, so potentially neither of these changes will make any difference on a tecno with a restricted user.

[2016-04-10 20:21] garethbowen commented on #2174
The change was quite small, but because it changed indenting it's hard to tell...

There's an event registered on everything with a "send-message" class so when you click it it opens the modal dialog. It also used to initialise the select2. However sometimes we want to open the modal from a angular call instead of from a jquery event on an element, and for this we use the `exports.showModal` funct

[2016-04-10 21:34] garethbowen opened #2175 "Use built in reduce functions where possible"
Couch provides 3 [built in reduce functions](https://wiki.apache.org/couchdb/Built-In_Reduce_Functions) which are much quicker than the equivalent javascript functions. Use these where possible.

[2016-04-10 21:53] garethbowen commented on #2175
A little dyslexia on the issue number meant a couple of commits ended up on the wrong issue.

* https://github.com/medic/medic-webapp/commit/ffd992ac930dd72210c385f733de9d78928e8082
* https://github.com/medic/medic-webapp/commit/e760815d7f76e9d9364a526551eafc564a6b6312

[2016-04-11 08:15] SCdF commented on #2174
Well, or move it down (from bodyClick->Init->call showModal to bodyClick->call showModal->init) but yeah, I guess you can visualise that in either direction.

But yep, makes sense :+1:

[2016-04-11 08:15] #2174 closed

[2016-04-11 12:10] estellecomment opened #2176 "When contact or report is deleted by replication, it stays in the LiveList"
If you delete a contact or report on another client, it stays displayed in the livelist on your client.
Tapping/clicking it will get a 404 in console (i.e. it's really deleted).
A refresh will clean up the livelist.

[2016-04-11 12:12] estellecomment opened #2177 "Display "not_found" error to user"
If a 404 happens, the error is logged but nothing is displayed. It looks like nothing happened.
Display "Document was not found" to user.

[2016-04-11 12:22] estellecomment commented on #2038
Deletions get replicated to the phones just fine. Yay!

However, watch out for **conflicts** : if the phone is offline, then edits a training doc, and then only gets back online and receives the deletion, that will create a conflict for the doc. The edited-deleted-conflicted doc will not be deleted on the phone, and it will eventually reappear on server, too.

This can happen especially easily wit

[2016-04-11 12:25] estellecomment opened #2178 "When documents are edited/deleted by replication, they are silently updated"
Example 1 : you are on a contact page. The contact you are viewing gets remotely deleted. You will get kicked back to contacts list, without any error displayed (404 is logged though).

Example 2 : you are viewing a report. The report is edited remotely. You see the fields change without warning.

[2016-04-11 13:23] estellecomment opened #2179 "Tasks and Targets for deleted persons still show up"
For Tasks

1. Create a new family, with pregnancy, but don't report the pregnancy yet. A task gets created to register the pregnancy for the person.
2. Delete the person from admin.
3. The person deletion is replicated to client, but the task stays up. (you can still fulfill the task, too) (and then if you undelete the person, you have two pregnancies for the same person, fun)

For Targets

1. Dec

[2016-04-11 15:27] SCdF commented on #2161
@garethbowen so I think the place widget isn't used, but honestly widget attachment seems like black magic to me. Let me drop this logic bomb on you (no not [that type](https://en.wikipedia.org/wiki/Logic_bomb)):
 - db-object-widget.js exports a selector property as `.or-appearance-db-object`, and nothing else particularly self-identifying
 - When people use the db-object-widget they add `appearan

[2016-04-11 20:00] mandric opened #2180 "add a "created_date" property to records. (aka "replication_date")"
Thought this might be generally useful, so in addition to the `reported_date` property we also have a date for when the record was actually created in the database?

[2016-04-11 20:04] sglangevin commented on #2180
There is an ongoing conversation about this with Living Goods. They are very keen to have a created date field. If this is easy to implement, I would consider prioritizing this highly. Would also be good to know if this change would be a breaking change that would require a data migration for CHPs.

[2016-04-11 20:05] garethbowen commented on #2180
How does this differ from how we're using `reported_date`?

[2016-04-11 20:18] sglangevin commented on #2180
My understanding of reported date is that it is the date that the report was created on a CHP's phone. The partner request is to have two dates: the date the report was created on the phone and the date that report was replicated to the server. There are a number of reasons for this.

[2016-04-11 20:21] garethbowen commented on #2180
Ah, so it's more of a `replication_date`. One issue with storing this date is when the doc is replicated it'll be updated on the server and then replicated back to the phone which will use more bandwidth and slow the phone down some more. It'd be good to investigate what those "number of reasons are" before implementing this - I suspect there's a better way to achieve the desired solution.

[2016-04-11 20:26] garethbowen opened #2181 "Publish the openrosa-xpath-evaluator"
We depend on [openrosa-xpath-evaluator](https://github.com/alxndrsn/openrosa-xpath-evaluator) in production so it needs to be rigorously versioned, tested, and published.

- [x] Fork to [medic](https://github.com/medic) so event integrations work as expected (slack, travis, etc), permissions are consistent, etc and everyone has permission to update it
- [x] Publish to npm so versioning and caching

[2016-04-11 20:32] estellecomment opened #2182 "Document 2.6 DB data structures ("schema")"
It would be nice to have a gold standard of what our data types are: what fields they should have, and how they're linked together (by id, or by full copy).

Right now we look at existing data, but there's malformed data in there too, and it's hard to know what should be ignored as spurious vs. what's on purpose.
@btbonval will find this helpful for his work
And we eventually want to have a standa

[2016-04-11 20:33] mandric commented on #2180
Yes, `reported_date` is based on data in the sms network or on the gateway and has nothing to do with then the record was created/landed in the database.  Working on a strongminds support request I just found it weird that I could not answer the question of when the record was actually created in the database.

[2016-04-11 21:23] #2175 closed

[2016-04-11 21:46] btbonval commented on #1872
Specifically something portable that can be installed on TravisCI, much like the medic-data releases.

[2016-04-11 22:15] garethbowen opened #2183 "Set ajax timeouts for remote pouch dbs"
Make sure `ajax.timeout` is being set when initialising remote PouchDB databases. Also ensure remote db instances are cached by removing the `DB.getRemoteUrl` function.

[2016-04-11 22:16] garethbowen commented on #2183
Initially this didn't warrant an issue but it turns out there are some bugs in the DB service. Add unit testing and fix bugs.

[2016-04-12 00:53] garethbowen opened #2184 "Extract etag regex into reusable module"
We have at least two places which use a magic `etagRegex` to extract a rev from a resource's etag header. It's poorly documented (it's only needed for gzipped resources), untested, and copy-and-pasted. Pull it out as a service, add unit tests, and use it everywhere.

[2016-04-12 05:47] bishwas-medic opened #2185 "In date filter for Reports tab, the selected dates are being offset by 1 day"
The start date is decreased and end date is increased by by 1 day.

Issue was originally filed in **medic_projects**. More details and discussions there:
https://github.com/medic/medic-projects/issues/78

[2016-04-12 05:51] bishwas-medic commented on #2119
Yeah, we'd be glad if you took a stab at option (a). That would make the current workflow for SIM apps much more efficient.

[2016-04-12 06:39] alxndrsn commented on #2183
:+1:

[2016-04-12 06:39] #2183 closed

[2016-04-12 09:27] estellecomment commented on #2155
I could pass the scope in through the Modal service, I'm pretty sure. But I'm going to try NOT to as much as I can, and pass the relevant data only. I'm going through modals to find a tricky one like that and figure it out, which one(s) did you have in mind?

[2016-04-12 10:56] garethbowen opened #2187 "Contacts export response garbled"
Exporting data from the Contacts tab gives garbled output, eg:

`[object Object],[object Object]`

[2016-04-12 11:11] garethbowen commented on #2076
This has happened twice more since then so we need to have a look at it.

[2016-04-12 11:19] SCdF commented on #2187
:shipit:

[2016-04-12 11:19] #2187 closed

[2016-04-12 11:23] mandric commented on #2076
I would try using the default timeout values in nginx.conf. I don't know why we have those set so high, and don't think it's necessary anymore.

[2016-04-12 11:43] mandric commented on #2076
Would also be nice if we got some debug output next time we see this too, like `netstat -tan`. Or if nginx has some fancy way to introspect internals.

[2016-04-12 15:51] estellecomment opened #2188 "Use angular templating over jquery"
Angular has its own way of doing UIs : set vars in a controller, that change the corresponding view.
Using Jquery tends to ad messiness.

[2016-04-12 16:09] alxndrsn commented on #2188
Is this issue relating to any particular bit of code, or is it just general guidance?

[2016-04-12 16:31] estellecomment commented on #2188
General guidance.
Overall, our app is angular, so does much of the styling and animations with templates, ng-if, ng-class, angular directives, all that.
If you’re using jquery, either you're using it in the controller that corresponds to the template, in which case it would be clearer to use the template (otherwise you have half your animations/styling in the template, and half in the controller)

[2016-04-12 19:00] sglangevin commented on #2180
Is it possible to only store the date that the report hit the DB on the server and not replicate it? Or perhaps have a date that the record was created in Postgres?

[2016-04-12 20:04] abbyad commented on #2180
@garethbowen the reason I have heard is that the partner doesn't want a device that syncs with old data to alter their analysis after the fact. Essentially, they want to be able to exclude data that comes in after the date they run their analysis. Having a replication_date could solve this, albeit with a performance hit if stored in the same doc.

[2016-04-12 20:12] garethbowen commented on #2180
Yes but it would need to be stored outside of the doc itself so it could get messy.

Yes this would be fine if all we're interested in is analytics.

Ok, I think there are better ways to achieve that. For example, we could make sure the postgres adapter only processes new records, ie: it would check the postgres db and if the doc id was found it would skip over the record.

This seems a little hea

[2016-04-12 22:48] garethbowen opened #2189 "Monitor hosted instances"
Implement some way for the dev team to be notified when a hosted instance is unavailable. For example, #2076 results in a 500 response which is really easy to detect and clearly a fatal error so we shouldn't have to wait for our customers to let us know it's down.

For now this could be a simple ping to an API endpoint and email devs (eg: pingdom, aws?).

Sometime in the future we could have a muc

[2016-04-12 23:39] garethbowen commented on #2155
Looks good. I've added comments inline. IMO the biggest issue is having one controller for all modals, but I notice that the modals you've converted so far have been quite simple so don't really need a controller. How about taking the name of the controller as a parameter and both of these simple examples can use ModalCtrl? That'll make it more obvious how to use the service for non-trivial modals

[2016-04-12 23:43] garethbowen commented on #1866
PR ready for review: https://github.com/medic/medic-webapp/pull/2190

[2016-04-13 00:01] diannakane opened #2191 "Ages of children showing up strangely"
In a new test family, "Dianna Kane Family," two children were added with ages input at 3 and 2 years. Upon returning to the family, the children are listed at (Sammy) 2 years and (Rose) 23 months. Both of their birthdates are set for tomorrow, when I figure they will become the ages I meant them to be.

Is this the behavior we want / expect? I imagine that if you input the age of child, you can as

[2016-04-13 00:03] diannakane opened #2192 "Need cancel button when adding or editing places and people"
Two examples of edit screens below, neither of which has the option to cancel the changes you are making. The first is in a new place creation; the second in editing a person.
![create place](https://cloud.githubusercontent.com/assets/1675870/14479134/7f0014c2-00d0-11e6-8fc2-14510920fc45.png)
![person edit](https://cloud.githubusercontent.com/assets/1675870/14479135/812392f6-00d0-11e6-8e39-c987195

[2016-04-13 00:09] diannakane opened #2193 "New family automatically added to branch, no option to select CHP area"
add place > family from contacts tab (Dianna Kane Family) automatically added to Busia Branch. No option to select a CHP area to add to, nor any place to change this, that I can tell.

I will include this in the Contacts design issues, but wanted to call it out in case it affects our current deployments.

[2016-04-13 00:22] garethbowen commented on #2193
I think this is by design. The LG forms were designed to be used by CHPs who only have access to one branch.

[2016-04-13 00:24] garethbowen commented on #2192
Closing as a duplicate of #1984

[2016-04-13 00:24] #2192 closed

[2016-04-13 00:35] diannakane commented on #2193
Families are generally added to CHP areas though, not branches, but maybe
it is configured to automatically enroll to your CHP area and I'm messing
it up by using the Admin log-in.

Good to know this is configurable though. We want to be able to add and
assign a family to any CHP area we choose with an admin or facility log-in
and will include it as an option in the UX (to be hidden if desired). T

[2016-04-13 00:41] garethbowen commented on #2193
Ahh right. The family is added to whatever place is configured for the user you've logged in as. It would be good to reconfigure the contact forms to have an extra page for which CHP area want the family to be assigned to, which can be skipped over when you only have one option.

[2016-04-13 02:15] garethbowen commented on #2003
PR for code review: https://github.com/medic/medic-api/pull/56

[2016-04-13 07:27] SCdF commented on #2003
Looks good @garethbowen. Can you squash or otherwise rebase the branch to get rid of my WIP commit? Rebasing doesn't look to work (presumably because you merged develop in) so maybe just `merge --squash` it? I didn't want to do it as it would make it look like it was done by me (though I guess that's half true).

[2016-04-13 07:38] SCdF commented on #1866
Gosh, this PR is rather large isn't it? It's also perhaps--from a cursory reading--both refactoring filters to be a level lower and also _other stuff_, that you found as you were cleaning (pennies behind the couch, as it were). Or maybe not. It's hard to tell. Which is I suppose the point I'm making.

I am going to give it a read and try to get the gist of it (ie things removed from inbox, things

[2016-04-13 07:42] estellecomment commented on #2189
Monitoring ticket in medic-projects : https://github.com/medic/medic-projects/issues/127

[2016-04-13 07:59] estellecomment commented on #2184
LGTM! Optional comment.

[2016-04-13 08:00] SCdF commented on #1866
(right, so it looks like you've moved downloads down the stack as well?)

[2016-04-13 08:10] estellecomment opened #2194 "Promisify services"
A couple services would be nice with promises instead of callbacks.
Non-exhaustive list, will add to it as I run into them :
- [x] `DeleteDoc`
- [x] some of the services in `services/user.js` (some have been done already)
- [x] `UpdateContact`
- [x] `UpdateFacility`
- [x] `UpdateSettings`
- [x] `Verified`

[2016-04-13 09:18] estellecomment commented on #2155
I've started on a more complicated one, and the single-controller thing is indeed breaking down.
So I'm going to keep this single controller for all ConfirmModals (yes/no modals) and start new controllers for other types.

I'd seen somewhere that it was a good idea to make modules around features, and I can see it happening here. E.g. could do a `modals` module, containing modal controllers + serv

[2016-04-13 09:30] estellecomment commented on #2155
Merged the branch.
Work still ongoing for the other more complicated modals.

[2016-04-13 09:56] garethbowen commented on #1866
Downloads are context sensitive - ie: they are filtered in the same way that the view is. So changing the filters meant I also had to change Downloads...

[2016-04-13 10:03] #2184 closed

[2016-04-13 10:16] SCdF commented on #2003
I squashed this into one commit: https://github.com/medic/medic-api/commit/38229f9fa96e26aad0835a795920e558b391463b

[2016-04-13 10:16] #2003 closed

[2016-04-13 10:27] SCdF commented on #1866
So from what I've read it looks good. If you want we can walk through it on a call or something, otherwise we should get merged to reduce that stale taste

[2016-04-13 14:11] SCdF opened #2195 "Decision about dependency versioning"
Our current [`package.json`](https://github.com/medic/medic-webapp/blob/develop/package.json) has a mix of `~` and `^` semvers in it. It is unclear how intentional or not this is.

We should:
 - Pick a dependency strategy that will be obvious when you look at `package.json`, so that everyone easily keeps to the strategy
 - Make is clear when we are deviating from the strategy and why, so that peop

[2016-04-13 14:12] SCdF commented on #2195
I like Option A!

[2016-04-13 14:12] SCdF commented on #2195
I like Option B!

[2016-04-13 14:12] SCdF commented on #2195
I like Option C!

[2016-04-13 14:13] SCdF commented on #2195
@estellecomment @alxndrsn @garethbowen @mandric @browndav @abbyad cast your votes at your earliest convenience… (or we can just talk about it on Slack or a call or something…)

[2016-04-13 14:17] alxndrsn commented on #2195
I like Option C!

[2016-04-13 20:14] garethbowen commented on #2195
Option C isn't good, because if package x depends on package z@5.5.1 and package y depends on package z@5.5.2 we'll end up with two versions of the package included in inbox.js. We should at least be flexible about the service pack version (`~`, option B), and I think even the minor version (`^`, option A), and trust that our dependencies are following semver.

For example, enketo depends on jquer

[2016-04-13 20:21] mandric commented on #2171
[Semver](http://semver.org/) summary:

Given a version number MAJOR.MINOR.PATCH, increment the:

MAJOR version when you make incompatible API changes,
MINOR version when you add functionality in a backwards-compatible manner, and
PATCH version when you make backwards-compatible bug fixes.

So I'm thinking for naming on new release market to use:

https://staging.dev.medicmobile.org/markets-release

[2016-04-13 20:52] mandric commented on #2171
Also the following branches will be pushed to the following markets:

v2 -> /markets-release-v2/
testing -> /markets-beta/ (no change)
develop -> /markets-alpha/  (no change)

Should I also take this opportunity to remove markets-diy? I don't think we need it anymore?

[2016-04-13 20:53] garethbowen commented on #2171
Yeah sounds good. We may need it back one day, but hopefully DIY will just be 2.7 or 3.0 or whatever.

[2016-04-13 21:31] #1866 closed

[2016-04-13 21:31] garethbowen commented on #1863
Reviewed and acceptance tested as part of #1866

[2016-04-13 21:31] #1863 closed

[2016-04-13 22:13] garethbowen commented on #2161
Slight naming suggestion, but looks good. Feel free to close.

[2016-04-13 22:47] mandric commented on #2171
Ok `lg.dev` and `lg.app` are pointing to the new market just have not run the update yet.  Will leave that for someone else.

[2016-04-14 04:39] btbonval commented on #2182
Standard test dataset would be amazing. I need that much more than the documentation itself, but all is useful!

[2016-04-14 07:36] estellecomment commented on #2038
Human-readable instructions : https://github.com/medic/medic-webapp/blob/develop/scripts/delete_training_data_HOWTO

Questions :
 - Where to put the db backup copy? I suggest same server, call it `medic-backup-20160413`.
 - Where to put the backup files output by the script? They contain patient data (though it should all be fake training data, but who knows, maybe they trained with real names/pat

[2016-04-14 08:33] estellecomment opened #2196 "Phone number validation is too permissive"
Raised by Fred as priority for LG : https://github.com/medic/medic-projects/issues/146

The change to `isPossibleNumber` in https://github.com/medic/medic-webapp/commit/f8dd9f28517cce471d14b6de70feeacca286a2d5 is too permissive, it allows `+25601234`.

But reverting to `isValidNumber` gets back to the original problem in https://github.com/medic/medic-webapp/issues/2105, it doesn't allow `+2567361

[2016-04-14 08:38] alxndrsn commented on #2196
Likely caused by f8dd9f28517cce471d14b6de70feeacca286a2d5, which was a fix for #2105

[2016-04-14 09:17] garethbowen commented on #2196
As Alex notes in #2105 "Maybe I chose a bad example".

@estellecomment It would be good to check `isValidNumber()` against known numbers now that we've updated our libphonenumber. If the update fixed it we should switch back to using `isValidNumber()` instead of `isPossibleNumber()`.

[2016-04-14 10:03] #2161 closed

[2016-04-14 10:06] SCdF commented on #2195
Option A for me.

_(I was on the fence between A and C: A because it's the default for npm (based on what `--save` does) and C because it's what I've always done in the past on other systems, and having versions change under you is a scary concept. Having said that, the JS community moves quickly and having to deal with massive version differences because you waited too long is scarier)_

[2016-04-14 10:26] SCdF opened #2197 "Editing forms no longer skips the select patient dropdown"
If you add a new form raw, without context of a patient, you're given a dropdown to select the patient. I have recently been monkeying with in #2161

Previously, when you edited an existing form it would skip this page of the form and present you with the next page (ie filling in real data about that patient)

Now, it goes to the select patient page and has an empty select patient dropdown.

---

[2016-04-14 10:31] SCdF commented on #2155
@estellecomment I'm reasonably confident this has caused (at least on my machine) tasks to no longer load.

Clicking on any task gets 'No task selected'.

[2016-04-14 10:41] estellecomment commented on #2196
I just pulled the most recent `develop` and switched back to `isValidNumber()`, and +256736123123 is still invalid.

[2016-04-14 11:16] SCdF commented on #2197
This seems to be broken from before my code changes, which is weird and concerning. It might be that it works for certain contacts and not for others?

[2016-04-14 11:33] SCdF commented on #2197
OK so maybe this is not a bug. @abbyad / @garethbowen / whoever else would know the answer to this, does this functionality sound intentional to you?:
 - If a form is created via a task (ie a CHP clicks a task and completes the loaded form) editing the form skips the select patient dropdown
 - If a form is created manually (from the + button on the history page) the select patient form is shown ag

[2016-04-14 11:57] estellecomment opened #2198 "/tasks/ -> /tasks/:id and /messages/ -> /messages/:id are broken"
Go to http://localhost:5988/medic/_design/medic/_rewrite/#/tasks/
Click on a task : url is right, but "No task selected" is displayed.
Refresh : the task displays properly.

Same with messages.

[2016-04-14 12:08] alxndrsn commented on #2196
We should probably be fixing for Uganda upstream, but it'll be a pain if this happens regularly.

[2016-04-14 12:17] alxndrsn commented on #2128
Is this blocked by #2046?

[2016-04-14 12:46] estellecomment commented on #2198
Got it! Comes from the previous controller instance cleaning up after itself by calling `$scope.clearSelected()`, but there's a race condition and it unselects the selection of the next instance, not its own.
https://github.com/medic/medic-webapp/commit/ba4162c7ed8d4abd2b70408e767c1cc9b7f8af3f

[2016-04-14 13:06] SCdF commented on #2164
From looking around it looks conceivable that we can just bind the data to `xml/inputs` and that should map perfectly. It certainly seems like the intention as well (it's called "inputs" after all).

[2016-04-14 13:52] estellecomment commented on #2196
@SCdF is right, let's just count digits. If we outsource phone validation to Google, but Google doesn't do it right, then let's do a simple "prefix + X digits" homemade thing, and that'll work. It won't be as precise but that's ok.

[2016-04-14 13:56] alxndrsn commented on #2196
How will you implement that?  Needs to work in all countries we currently have projects, and kept up-to-date when we roll out in new countries.  And potentially support any country when DIY is released.  Strongly recommend fixing new Ugandan number formats upstream (and, short-term, with a monkey patch).

[2016-04-14 14:42] estellecomment commented on #2196
We can add phone format in project config, and we stick to that one format in the project.

[2016-04-14 14:43] mandric commented on #2171
Also updated `lg-testing.app` to point to v2 market.

[2016-04-14 20:51] abbyad commented on #1336
Tested on 3084 and works well, moving to Ready.

[2016-04-14 23:34] garethbowen commented on #2198
So what's happening is the `destroy` is called _after_ the new controller is initialised. I think this is by design so you can animate from from one view to another and only when the animation is finished is the destroy called. So the solution here is to only destroy if you're not longer in the same state. For example, if you nav from `messages.content` to another `messages.content` then the new c

[2016-04-14 23:36] garethbowen commented on #2197
This sounds like a form configuration issue to me. The context must be ending up different between those two examples. Assigning to @abbyad as this will probably be obvious for a man of his abilities...

[2016-04-15 00:32] garethbowen commented on #1169
This is now working for development but is stripped out for deployment to production. This is unfortunate but the source map file would add MBs to the ddoc which would get sent to each client whether or not they want source maps. We could store the source map on a different ddoc and then download it on demand but this is quite complicated so I'll leave it for another day.

[2016-04-15 00:41] garethbowen commented on #2171
Very nice. Assigning to @abbyad to hit the "update" button when LG are ready for the final version.

[2016-04-15 00:41] #2171 closed

[2016-04-15 04:01] fredatthehub commented on #2196
I may not understand the full implementation background for this but my 2-cents is that "prefix + X digits" should work. Most partners work with about 4 operators in a country, the key difference for each country would be the country code, but most prefixes may be repetitive. Since each partner will have there own instance setup, I believe this can be made part of the configuration.

[2016-04-15 08:51] henokgetachew commented on #2076
This has happened again today with lg.app:
[code]

[2016-04-15 09:05] estellecomment commented on #2198
Non-culturally-ambiguous-cross-platform-happyface-emoji! Cool fix.

[2016-04-15 09:05] #2198 closed

[2016-04-15 09:15] alxndrsn commented on #1169
Nice work.  Some queries:

Is there a way to disable this in development?  When testing low-bandwidth stuff (as I am now with pouch), megabytes means many minutes extra per development cycle.

1. have you got any suggestions on how to make these patches easily?
2. this looks quite brittle - from what I can see of the `patch` format, it relies on line-numbers.  However, as discussed elsewhere our m

[2016-04-15 10:28] estellecomment commented on #1169
I'm seeing two copies of `static/dist/inbox.js` in dev env. Not sure since when. Is it related to this? Is it on purpose?
![screen shot 2016-04-15 at 12 25 56](https://cloud.githubusercontent.com/assets/911434/14558904/84695e8c-0305-11e6-958c-393b6f2ca5ab.png)

[2016-04-15 10:31] alxndrsn commented on #1169
@estellecomment surely one is the sourcemap - not sure a browser would store two different files for the same URL otherwise

[2016-04-15 11:07] estellecomment opened #2199 "Can't edit some user-settings in lg.app"
(accidentally created by https://github.com/medic/medic-webapp/issues/2047)
We requires a `roles` array when updating user-settings. But some user-settings don't have a `roles` field, and so fail validation, so you can't save edits.

It's a problem for all the `2mukXXX` users, `admin`, `demo` and `trainingXX` users.

Screenshot from lg.app :
![screen shot 2016-04-15 at 13 03 50](https://cloud.gith

[2016-04-15 11:26] SCdF commented on #1169
@estellecomment this happens all the time for me, I just reload and I get one of them. I presume it's a Chrome bug

[2016-04-15 11:51] estellecomment opened #2200 "User's fullname is not showing up in /configuration/users"
Demo user has a `fullname set` :
https://lg.dev.medicmobile.org/_utils/document.html?medic/org.couchdb.user%3Ademo
[code]
Going to edit user page, the field is not populated :
https://lg.dev.medicmobile.org/medic/_design/medic/_rewrite/#/configuration/users
![screen shot 2016-04-15 at 13 50 42](https://cloud.githubusercontent.com/assets/911434/14560598/14845a3e-0311-11e6-8958-6d709128a0ed.png)

If

[2016-04-15 15:12] estellecomment commented on #2038
Assigning to @mandric, who maybe knows these things?

[2016-04-15 17:48] mandric opened #2201 "handle migration failure better in medic-api"
See https://github.com/medic/medic-api/issues/52

[2016-04-15 19:16] mandric opened #2202 "extract-user-settings migration should preserve roles field"
With the latest `validate_doc_update` changes user-settings docs cannot be created without a `roles` field.

[2016-04-15 21:37] mandric opened #2203 "validate a given object against a form in validate_doc_update"
Useful for example for validating a contact object/data since the form is user defined.  Would be good to validate the data at the db level before it gets saved.  Would also be useful for any data using custom forms.

[2016-04-17 20:43] garethbowen commented on #2202
The code looks fine, but why do we need roles in UserSettings? I think up until now we've only used the one in the cookie. I'd like to store it in as few places as possible. It might be that it's best in the UserSettings so it's updated even if the session is maintained. So maybe look at removing it from the cookie and modifying the webapp to check the UserSettings doc?

[2016-04-17 20:55] garethbowen commented on #2166
PRs for #2134 and #2167 have now been merged into pouchdb, so as soon as they release we're good to go.

[2016-04-17 20:56] garethbowen commented on #2167
PR has been merged so this can probably be closed now.

[2016-04-17 21:09] garethbowen opened #2204 "Don't generate tasks and targets a user will never see"
The RulesEngine is invoked on startup for all users, but not all users can even see tasks or targets. Make a TaskGenerator service which is invoked on startup and wraps the RulesEngine service. Then modify the TaskGenerator and TargetGenerator services to first check permissions before initing the RulesEngine.

[2016-04-17 21:21] garethbowen commented on #1169
@estellecomment No idea why there are two showing up.

[2016-04-17 21:24] garethbowen commented on #1169
@alxndrsn :

There's no way currently, but you can manually change your Gruntfile to pass `debug:false` to browserify while testing low bandwidth stuff. If it happens a lot we could add a flag or something...

Yeah I was worried about that too. My rationalisation was that the regex solution was fragile too. I'll have a look at other patch formats.

The way I did it was to copy the file I wanted to

[2016-04-17 21:45] garethbowen commented on #1169
I've switched to using context patches and added documentation.

[2016-04-17 21:46] garethbowen commented on #1169
Assigning to @alxndrsn for review because @estellecomment is on vacation.

[2016-04-17 21:53] garethbowen commented on #2202
Note that the validation change has also caused this bug: #2199

Does this mean we need another migration just for roles?

[2016-04-17 23:18] garethbowen commented on #2076
I think it's safe to massively increase this number. As far as I can tell it's set to stop nginx running away (eg: infinite proxy loop) and hogging up all the resources. Because of the manner this is occurring I don't think we've got a runaway process, I think we are simply using up all of our available connections. This isn't surprising as we now use infinitely longrunning requests for things lik

[2016-04-17 23:35] garethbowen commented on #2076
I was about to bump the number of connections on lg.app but it looks like someone beat me to it...

[code]
The nginx.conf file was last modified on April 15th.

I've changed the default in the medic-os configuration, and I guess we wait to see if it happens again for LG.

[2016-04-18 00:06] garethbowen commented on #2194
@estellecomment I think it would be better to raise one issue per service, otherwise this issue will live on for a very long time, and never actually progress to Code Review.

[2016-04-18 00:38] garethbowen opened #2205 "List spinner lingers"
The loading spinners are shown for a few seconds after the list is rendered and then mysteriously disappear.

![lingering](https://cloud.githubusercontent.com/assets/2064938/14591267/5234af20-0562-11e6-8cc8-f4241dc06c4d.png)

This happens on each tab, and even on unrelated pages like Configuration > Users

This affects version 2.6.0-alpha.3152 but not 0.6.0-alpha.3054

[2016-04-18 01:04] garethbowen opened #2206 "Create a client side ddoc"
Currently we have one ddoc for everything which is great because we can deploy a new version by updating that one ddoc and everything just works (woo couchapps!). However it's massive which has caused a bunch of performance issues:

1. Slow parsing of the ddoc for view compilation in pouch
2. Because we don't replicate the ddoc a separate connection must be kept alive for watching for remote ddoc

[2016-04-18 01:22] garethbowen commented on #2205
This was caused by adding the ngAnimate module in https://github.com/medic/medic-webapp/commit/b2e68a69307cd3caebc8ce71b55ba8b672f36138

[2016-04-18 01:37] garethbowen commented on #2205
I think it was added so the bootstrap modals would animate in and out, but they animate even after removing this. I think that's because we're including the bootstrap javascript too. So ngAnimate is unnecessary and causing issues.

[2016-04-18 02:32] garethbowen commented on #2166
Update from pouch...

[2016-04-18 03:05] garethbowen commented on #2199
Assigning @mandric as it looks related to #2202

[2016-04-18 03:16] garethbowen commented on #2196
My understanding is that libphonenumber is what Google uses on Android. It's updated frequently so as long as we keep up to date it should provide very accurate and strict validation without the need for configuration. To progress this issue I need a list of half a dozen valid phone numbers to test.

@fredatthehub Can you please PM me on Slack some phone numbers that should be valid and I'll get r

[2016-04-18 03:20] garethbowen opened #2207 "Change sentinel to have all transitions disabled by default"
As discussed in #2130 we should change the default sentinel configuration to do nothing and have projects configured to opt in to transitions they need.

[2016-04-18 03:21] garethbowen commented on #2130
Issue created to cover defaulting to no transitions.

[2016-04-18 03:21] #2130 closed

[2016-04-18 03:40] garethbowen commented on #1999
The error was due to the callback in async.forEachSeries being called multiple times when a failure occurred. This patch fixes the log spam. I think the error itself is the script behaving as expected and now that it's handled sentinel should startup gracefully.

[2016-04-18 07:19] alxndrsn commented on #2166
When we upgrade pouch we need to:
* remove relevant monkeypatches (I think details have changed from the original ticket)
* make sure we're setting `options.ajax.timeout` to `30000` on `PouchDB` instances passed to `replicate()` calls
* consider merging these changes to `testing` and deploying for LG

[2016-04-18 07:21] alxndrsn commented on #1169
Perfect, thanks.

[2016-04-18 07:23] alxndrsn commented on #1169
:+1: Overall this looks both safer and easier to configure than the old style.

[2016-04-18 07:23] #1169 closed

[2016-04-18 08:43] SCdF commented on #2076
Sorry @garethbowen I commented in slack but not on the ticket: I increased that on Friday

[2016-04-18 09:14] SCdF commented on #2200
Types!

But seriously, there looks to be only one thing using this service, so as long as you tested it for them it looks good to me.

[2016-04-18 09:14] #2200 closed

[2016-04-18 09:23] henokgetachew commented on #2076
The same error message was being thrown yesterday (on the 17th of April).  Captured here: medic/medic-projects/issues/166.  Here's a snapshot:
[code]
It's weird that it was still complaining about 1024 worker connections when it had already been increased.

[2016-04-18 09:25] SCdF commented on #2076
There is a reasonable chance I got the wrong file, I'm not familiar with MedicOS.

Would be good if @browndav could take a look when he's awake :-)

[2016-04-18 09:29] #2167 closed

[2016-04-18 09:53] henokgetachew commented on #2076
The `nginx.conf` file that still had 1024 seems to be this one: `/srv/system/settings/packages/medic-core/nginx/nginx.conf`.  I have changed the value to 10240.  There is another `nginx.conf` file located here: `/srv/settings/medic-core/nginx/nginx.conf` - possibly for purposes of backup?.

[2016-04-18 11:45] SCdF commented on #2164
So the current structure is a bit more complicated when you start editing entities (ie contacts). We now have two situations:
 - `data.contact` JSON maps to `bindRoot.inputs.contact`
 - `data.clinic` (and friends presumably) JSON maps to `bindRoot.clinic` (and friends presumably).

Looking into a few options:
 - Allow the first layer of binding to search arbitrarily deep. Might work, but is not as

[2016-04-18 13:58] abbyad commented on #2196
It seems as though the validation was never wrong (https://github.com/medic/medic-projects/issues/146#issuecomment-211373832), but that they wanted to future proof the app by accepting numbers that have yet to be assigned to a MNO.

I think we should return to using `isValidNumber` if it is acceptable to push an updated app whenever there are relevant libphonenumber updates.

[2016-04-18 15:51] SCdF commented on #2164
Hey @garethbowen can you review this: https://github.com/medic/medic-webapp/issues/2208 ?

Ended up going with allowing callers to optionally pass a selector fn that only applies to the first layer, allowing a bit more flexibility in finding the initial data structures to bind to.

NB: I changed some of the tests in a way that I _presume_ is OK, because I couldn't find evidence that it wasn't, but

[2016-04-18 16:16] mandric commented on #2128
Blocking is probably a strong word here because the import script could easily do the things that medic-api isn't doing yet, namely also assigning a contact to the place/facility.  If this needs to happen today we can start work on it now because I am still finishing up #2046.

[2016-04-18 16:18] browndav commented on #2128
I'd prefer that we use the API for this rather than create another one-off scripted implementation.

[2016-04-18 16:40] mandric commented on #2128
You can still use the API. Just make an additional tweak. The script  ishandling several extra things anyway. I am saying if there is a time crunch it is easy to tweak the script to do whatever is needed.

[2016-04-18 16:47] SCdF opened #2209 "Improve rendering performance for administrators on large data sets"
There are a few things that struggle to render quickly on my (beefy) laptop if you log in as an admin on a dataset the size of LG's (which is just forming, and presumably soon will be *much* larger).

Currently we've disabled nools for administrators (ie they can't see CHP's tasks), as the massive amount of processing required for such a large dataset was causing huge browser freezes.

There are o

[2016-04-18 17:25] SCdF opened #2210 "We request facilities from the server over and over again"
I then left the window open on prod, as an admin, on the contacts page, for ~20 min or so, and this happened:

![image](https://cloud.githubusercontent.com/assets/583851/14613127/d2c4e648-0592-11e6-8daa-011b0c205849.png)

For some reason we re-request all facilities over and over again. This is probably pretty bad.

[2016-04-18 17:34] mandric commented on #2199
I think whatever is editing the user docs should add a roles property to the user-settings doc.  This would be fixed when the User editing code is updated to use medic-api in #2048.

[2016-04-18 17:36] SCdF opened #2211 "Understand admin bandwidth concerns and optimise accordingly"
We have generally been of the impression that admins had great internet, and fast computers. This has led to a design where admins don't have a local DB, and everything is pulled over the network. This is potentially looking like it may not really pan out.

For example, in LG PROD (which is a small dataset in the grand scheme of things, they're just getting going) here is what my machine downloads

[2016-04-18 17:36] mandric commented on #2202
We decided having the roles in the user-settings doc, rather than cookies, is more useful in the long run.  But you're right we aren't actually using it yet.  Should we open another feature request for actually using the new roles property instead of cookies?   Then on that ticket we would also add a new migration to add the roles property.

[2016-04-18 17:39] SCdF commented on #1836
Best way to achieve this IMO is for devs to write tests for LG's current tests in such a way that the tests are stored alongside the rules, which will force us to write something (hopefully) that tech leads can easily pick up

[2016-04-18 18:11] abbyad opened #2212 "Update Tour"
The tour needs to be updated to reflect 2.6 features. We have [revised content](https://docs.google.com/document/d/12TMl5ucfcl_3GZws1w7NLkYWb_Tw6b7xg4SuS-2_Et8/edit) for the for the "CHW app" version of the tour. As far as I know all users logging in right now would see the same tour so we first need to make sure it is generic yet useful enough for all user and project types. We can look at option

[2016-04-18 18:29] abbyad opened #2213 "Schedule not assigned to registration form"
The associated scheduled was not attached to a registration form that was valid and properly parsed.

_Note, this is running .4 config on a 2.6 instance._

[2016-04-18 18:31] abbyad opened #2214 "Forms not showing in filter"
Our JSON forms are not showing in the Reports tab filter.

Note, this is running .4 config on a 2.6 instance.

[2016-04-18 19:43] abbyad opened #2215 "Form recognized, but label in list not updated"
Form was recognized and fields processed, but form id is shown instead of the label.

![image](https://cloud.githubusercontent.com/assets/789512/14617132/198739e0-057b-11e6-98cf-1283e5c8b2f0.png)

In medic-reporter the form label shows up properly:

![image](https://cloud.githubusercontent.com/assets/789512/14617197/5a2dfb78-057b-11e6-81c0-7d646f959193.png)

[2016-04-18 20:00] #2127 closed

[2016-04-18 21:42] garethbowen commented on #2195
Decision from iteration call: Go with `^` (option A).

Also investigate using shrinkwrap to make reproducible builds. This could either be done in a dev environment when dependencies are changed and committed to git, or in CI. The former probably makes more sense as then we can see for any commit which versions were used.

[2016-04-18 21:45] garethbowen commented on #1329
This is also important for the postgres adapter to be able to access historical versions of forms.

[2016-04-18 21:53] btbonval commented on #1329
+1 above. Really it's great for any kind of post-hoc data quality analysis, but in particular the postgres adapter could make good use.

[2016-04-18 22:53] browndav opened #2216 "Provide basic documentation for Medic OS directory structure and service control commands"
This is long overdue; provide some basic Markdown documentation for the `svc-*` commands and the general directory structure. Link to it from `README.md`.

[2016-04-18 22:55] browndav commented on #2076
The configuration files beneath `/srv/system` are shadow copies for a config file templating system that isn't yet in use; these should be ignored. The file at `/srv/settings/medic-core/nginx/nginx.conf` is the right one; `svc-restart medic-core nginx` should make the changes take effect. I'll take a look at the lg.* servers now.

I've filed #2216 to fix the obviously-lacking documentation.

[2016-04-18 22:59] garethbowen commented on #2164
Looks good. I'm never 100% sure in this area either, mostly because there are lots of form configurations and lots of different inputs depending on whether the user loads the form from Contacts, History, or Tasks.

I've added a few readability comments but otherwise go for it.

[2016-04-18 23:02] garethbowen commented on #2076
Ok so it looks like @SCdF and I modified the _right_ file, and the one @henokgetachew found should be ignored.

That implies that the restart @SCdF performed (`svc-restart medic-core` without the `nginx`) didn't work. @browndav What would you expect to happen with that command?

[2016-04-18 23:32] garethbowen commented on #2196
Fixed and merged into testing to be released in 2.6.1

[2016-04-19 00:48] browndav commented on #2076
That really should have worked. The only thing that immediately comes to mind: I think we have `ulimit` for file descriptors set to `32768`, so it's possible the change isn't sticking for some other reason. Let me look at one of our testing instances really quickly and see if I can makes sense of it.

[2016-04-19 02:00] btbonval commented on #2038
We do have a case where a Training User was assigned to a real branch. That user's data is not valid, but there is potentially real data during the same time frame.
https://github.com/medic/medic-projects/issues/172#issuecomment-211677567

Unsure if this warrents a new script, a modification of this script, or a larger discussion on SOPs.

[2016-04-19 02:21] garethbowen commented on #2210
I only get one request for the facilities view (lg.app, admin, contacts page). It's possible changes were being made to the contacts while you were viewing it which invalidate the cache so it has to be fetched again.

Regardless, the request size is still too large. It also doesn't seem useful to list quite so many contacts in the dropdown.

![too-many-contacts](https://cloud.githubusercontent.com

[2016-04-19 05:28] sglangevin commented on #2196
@garethbowen I PM-ed you some phone numbers for testing that were shared by LG. (cc @alxndrsn)

[2016-04-19 06:39] #2196 closed

[2016-04-19 06:48] alxndrsn commented on #2195
One confusing file change in there (comment on commit).

Any guidance on how package/shrinkwrap updates should be done?  Is it simply:

[code]
?

[2016-04-19 09:23] garethbowen commented on #2195
That's one way. The `npm install` automatically updates both the npm-shrinkwrap.json and the package.json so it's easier to just install the package and version you want with the `save` flag, eg: `npm install grunt@1.0.1 --save-dev`

[2016-04-19 09:24] #2195 closed

[2016-04-19 09:41] garethbowen commented on #2196
@sglangevin All the numbers you PMed me pass so we should be good to go!

[2016-04-19 10:01] garethbowen opened #2217 "Default country code isn't selected from dropdown on load on Configuration > Settings > Basic"
![blank](https://cloud.githubusercontent.com/assets/2064938/14635355/21097390-067a-11e6-8142-23a42e005be8.png)

Uganda should be selected.

[2016-04-19 10:22] SCdF commented on #2217
Noice

[2016-04-19 10:22] #2217 closed

[2016-04-19 11:05] fredatthehub commented on #2180
@abbyad , another related reason is for incentives payout to CHPs. The old data would reflect in the previous month(s) and the CHPs would miss out on the incentives payable in that reporting period.

@gareth, I think the main focus is analytics. How easy would it be to have this?

[2016-04-19 12:09] SCdF commented on #2164
Merged.

[2016-04-19 12:09] #2164 closed

[2016-04-19 12:18] SCdF commented on #2209
This issue is somewhat blocked on design: there are currently conversations happening about how we want to more usefully present the admin view. Both this and #2211 may be improved by optimising #2210 .

[2016-04-19 12:18] SCdF commented on #2211
This issue is somewhat blocked on design: there are currently conversations happening about how we want to more usefully present the admin view. Both this and #2209 may be improved by optimising #2210 .

[2016-04-19 14:21] SCdF commented on #1672
This could be legacy data? One example is a child from production whose DOB is the string "Oct 24, 2015". They were created Nov 24, 2015. I haven't been able to reproduce this date style with the current code base.

[2016-04-19 14:50] SCdF commented on #1672
Quick hack, this temp view:
[code]

Finds us ~530 documents with the bad date format in PROD, mostly created between 3rd Nov 2015 and the 29th Feb 2016. There is one lone doc from the 9th April 2016, but apart from that it looks like they were contained in that 3 month period.

[2016-04-19 14:53] SCdF commented on #1672
(date_of_birth are normally stored as `YYYY-MM-DD`)

[2016-04-19 14:54] alxndrsn commented on #1672
I think an incorrectly-defined form could be causing these bad dates.

[2016-04-19 14:55] SCdF commented on #1672
Yeah, so this seems to be an old version of the form? Here is the important structure of a failing document:
[code]

Here is one I just created now:

[code]

[2016-04-19 15:16] SCdF commented on #1672
And by old version, looking at our LG forms, it's actually the current version? confusing.

[2016-04-19 16:30] SCdF commented on #1672
OK I have the correct versions, we just have some mismatches between some of our forms which I'll raise against those forms.

In any case, the question now becomes:
 - Are there still ways of creating these bad dates or have all the forms been fixed?
 - Should we write a migration script to fix the bad values,
 - _Or_ should we change our code to use moment properly but also deal with these bad va

[2016-04-19 16:43] mandric commented on #2038
Delete script feedback below, I'm happy to do it or someone else can pick it up.

( ) Use COUCH_URL so we don't need to put admin/pass on the command line
( ) don't print the password/url
( ) Do date conversion in node? I pass in 2015-11-23 and you do new Date(arg).valueOf()
( ) Why use pouchdb, use straight couchdb api? (remove external dependencies so you don't have to do npm install foo)  If us

[2016-04-19 18:52] sglangevin commented on #2210
@garethbowen FWIW, I agree that having all of the families in the drop-down is not very useful. If families aren't in the drop-down, would that mean they don't appear when you select a particular CHP area?

[2016-04-19 19:11] abbyad commented on #2180
Based on our most recent call it would serve the `replication_date` would be saved in postgres as the time the record was created in postgres. Doing this is blocked pending https://github.com/medic/medic-webapp/issues/2124

[2016-04-19 19:15] SCdF commented on #2210
@sglangevin we'd only be removing them as checkable items from the drop down, the left hand size collection of contacts would still show them (if they should show them based on your filtering etc)

[2016-04-19 19:19] sglangevin commented on #2210
Cool, then I would remove them. I find it quite cumbersome to have to scroll through the whole list when I'm trying to filter by Branch.

[2016-04-19 19:22] SCdF commented on #2210
So this ticket was raised over the refreshing of the cache. In terms of increasing performance by removing families from the dropdown, I'm going to do that against #2209 (or perhaps another ticket if I create it, but regardless it will be linked from #2209)

Once I've done that we can revisit whether or not the current cache invalidation strategy (which is causing re-requests) is the correct one,

[2016-04-19 19:56] btbonval commented on #2180
PostgreSQL as a datastore for the adapter's output is just a read-only reflection of Couch data. When any problems occur, and due to ongoing changes and features missing from the present adapter, the postgresql database gets wiped and we start the data import process from couch from scratch.

We did this no less than 20 times yesterday for a particular project while removing old data that broke th

[2016-04-19 20:06] garethbowen commented on #2180
I think the aim would be to make the adapter robust enough that data never needs to be deleted. At the very least we should run the adapter against a "test" database before running it against "production" so production never fails.

[2016-04-19 20:08] sglangevin commented on #2180
Ok, but given that the adapter is meant to be a read-only reflection of Couch data, doesn't it make more sense to have this date stored in the webapp? It would also help with the issue that @mandric cited for another project which was the original reason for this ticket.

[2016-04-19 20:15] garethbowen commented on #2180
We could totally store it in the webapp, but as discussed above that's either expensive or difficult.

I think the two features are different and can be solved in different ways. For example, it's easy (I think) to store when the SMS was received in the doc as we're writing it. In this case there is no additional replication needed because the record is just being created. In the analytics case we

[2016-04-19 20:21] garethbowen commented on #1672
1. Good idea.
2. Probably.
3. I'm not sure how easy it would be to detect them. We could just `moment(new Date(...))` but I think it's better to require standardised data rather than trying to handle whatever.
4. We're definitely going to update moment.

We could also add a validation function or similar so document writes fail when invalid date formats are used, but this is difficult with the con

[2016-04-19 21:37] abbyad commented on #2180
Storing it in the doc has the negative consequence of requiring the doc to be replicated back to the device, as mentioned by @garethbowen:

Although this has performance/bandwidth issues, it does have the added benefit of being able to track which reports have been replicated (eg https://github.com/medic/medic-webapp/issues/1849).

Does that make it worth the performance hit?

[2016-04-19 22:09] garethbowen commented on #2180
We have recently discovered other ways to track which documents have been replicated without taking this performance hit. Yes the replication date could be used instead but it's not necessary to achieve #1849

[2016-04-19 22:10] abbyad commented on #2180
Ah, good to know!

[2016-04-19 22:17] diannakane commented on #1000
@marc and I are in agreement that we move forward with bulk delete using option B for filter behavior when selecting items. Full set of options are in #design channel; here is how option B works.

This is the option that is currently mocked up in Invision, which removes your selection when you change filters.  It’s a compromise between the simplest option (D, of having to go back to change filters

[2016-04-20 10:12] SCdF commented on #1672
So this used to be how the form worked, but it was fixed on the 2nd March. It's concerning that someone is still out there with the old form, I'm not really sure how to track down who it is though. Not relevant here though, I'll raise a projects ticket about it.

I'll write a migration script to fix the existing data. Which leaves 3 and 4 non-issues. Depending on what you guys think I could do thr

[2016-04-20 10:31] SCdF opened #2218 "Remove "clinic" (aka families) from Contact filter dropdown, ideally remove need for `include_docs=true`"
See #2209, #2210 and #2211.

Removing the families from the contact dropdown should improve both rendering time and bandwidth sent over the wire.

You could also look into working out why we need `include_docs=true` in the request and see if instead we can change the view to output what we need to render (which should be smaller than the whole doc). I'm pretty sure this view is only used for searc

[2016-04-20 10:31] SCdF commented on #2211
Now blocked specifically on #2218

[2016-04-20 13:26] mandric commented on #1999
👍

[2016-04-20 13:26] #1999 closed

[2016-04-20 13:31] mandric commented on #2202
I'm thinking we leave validate_doc_update as-is (requires roles on user-settings docs) and fix any bugs related to that, like anything editing users that is leaving it out.

[2016-04-20 14:08] alxndrsn commented on #2128
Continuing without #2046.

[2016-04-20 14:26] SCdF commented on #1672
Hey @alxndrsn you wanna check out the linked commit? My only real issue with it is that the way we're finding incorrect dobs is by looking for a space (since `2010-01-05` has no space but `Jan 5th, 2010` does). I could change it to regex and try to be smarter about it, but if another dob issue comes up we'd need another migration script anyway, since this one would already be run (and it only cove

[2016-04-20 14:33] SCdF commented on #1672
Ugh let me fix these jshint errors… for some reason my linter doesn't work for medic-api :-/

[2016-04-20 16:05] abbyad commented on #2218
That makes sense since it is the lowest level of the hierarchy and represented in the list. It will also make the contact filter considerably more usable.

[2016-04-20 16:24] abbyad opened #2219 "Show project dashboard within webapp"
_As a manager I want to access the external project dashboard from the webapp so that I can easily go between the drilled down view of my data and my high level dashboard._

We've had this and [similar requests from many partners](https://github.com/medic/medic-projects/issues/138), basically to access the project dashboard directly from our webapp. The simplest version of this would be a button/l

[2016-04-20 20:02] garethbowen opened #2220 "Release 2.6.1"
* [x] Update Changes.md
* [x] Update app version
* [x] Tag the release in git as per [our release documentaiton](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#releasing).
* [x] Merge `testing` to `v2`
* [x] Update the app on lg-testing.app to the released version; perform sanity checks (verify app starts properly, syncs data, each tab appears functional)
* [x] Update the app o

[2016-04-20 20:29] browndav commented on #2220
Can I suggest inserting this between the final and next-to-final item?

- [ ] Update the app on `lg-testing.app` to the released version; perform sanity checks (verify app starts properly, syncs data, each tab appears functional)

[2016-04-20 20:35] garethbowen commented on #2220
@browndav Done.

[2016-04-20 21:01] garethbowen commented on #1672
This is really concerning because due to #2134 they might never get the updated version of the form.

We should be able to track it down based on who the form was submitted by. Once 2.6.1 is released we could bump all the forms to force them to download to all devices again...

[2016-04-20 21:15] garethbowen opened #2221 "Paginate tasks rendering"
We recently turned off task generation for db admins because they had too many tasks and generating/rendering those tasks made the browser hang for minutes. This indicates a scaling issue with tasks which may come up again once CHPs have more data.

Because of the way we use nools we can't paginate the task generation, because we don't know the due date of the task until it's been generated. Howev

[2016-04-20 22:07] garethbowen opened #2222 "Run couch validations client side"
We have document update validation in couchdb which works well, except now that documents are created on the client side this only runs on replication which doesn't give good feedback to the user. There is however a pouch plugin for [executing the couch validations on the client](https://github.com/pouchdb/pouchdb-validation).

Use the plugin to run our existing document validations on the client

[2016-04-20 22:15] sglangevin commented on #2123
This was fixed a few weeks ago. Moving to acceptance testing.

[2016-04-20 22:25] sglangevin opened #2223 "When editing a CHP Area, previously set values for CHP, Branch and Supervisor do not show up"
![image](https://cloud.githubusercontent.com/assets/1286381/14692265/d9801dbc-070a-11e6-8f63-a6bcd1bd2af0.png)

Values have been set and will appear once you click on a dropdown, but when you load the form for editing, it appears as though nothing has been set other than the CHP Area name.

[2016-04-21 08:15] SCdF commented on #2221
It's worth doing this regardless, but FWIW feeding nools and having it spit out tasks and targets looked to take the vast majority of the time when I investigated it.

[2016-04-21 09:34] garethbowen opened #2224 "Run nools in a web worker"
We recently fixed a problem where the browser would lock up for minutes when first logging in as an admin due to the massive amounts of data being crunched to generate tasks and targets. While this is now fixed by disabling tasks for admins, it's likely restricted users will being to notice a delay as they accrue more data.

Run the rules engine in a web worker so it runs in a separate thread from

[2016-04-21 09:40] alxndrsn commented on #1672
Looking good; some comments inline.

[2016-04-21 14:27] mandric commented on #2128
WIP #2046 is in beta now, you can fulfill 90% of user creation needs by using it.

[2016-04-21 14:43] abbyad commented on #2211
Using build 3084 logged in as Admin, on a fresh load of the Contacts tab on I see the icons being downloaded about 1100 times:
![image](https://cloud.githubusercontent.com/assets/789512/14712883/ec75e954-07ac-11e6-8db3-ac1fc9458d72.png)

I was able to reproduce this on another 3084 build, but not on 3169. I am guessing this has already been resolved, but thought it would be useful noting here.

[2016-04-21 15:02] abbyad opened #2225 "Intermittent failure during Export of contacts"
On several instances clicking export on the Contact tab yielded a file with the following:
[code]

**alpha.dev (3152):** could not reproduce
**lg.app (3084)**: could reproduce, the downloaded file had "object" yet the result seen in Network tab was as expected.
**lg-testing.app (3084)**: same behaviour as lg.app
**lg.dev (3169):** after first seeing this issue, the file would not be downloaded (pe

[2016-04-21 15:07] mandric commented on #2211
Any reason you're not testing on 2.6.1-beta.3181?

[2016-04-21 15:26] abbyad commented on #2211
Tested on 3084 since it is on a production instance.

[2016-04-21 15:30] abbyad commented on #2225
Tested on the very latest (3181) and get a file full of "[object Object]", yet the Response in the network tab is the valid JSON.

[2016-04-21 19:09] garethbowen commented on #2225
Duplicate of #2187. @abbyad Is this required for 2.6.1?

[2016-04-21 19:15] abbyad commented on #2225
No, not required, but obviously nice-to-have. Does the fact that it is still happening in 3181 mean that #2187 doesn't pass acceptance testing, or that it is not included in that build?

[2016-04-21 19:20] garethbowen commented on #2225
It's only included in alpha which is presumably why you can't reproduce on alpha.dev. Want me to merge it into beta for 2.6.1?

[2016-04-21 19:22] abbyad commented on #2187
Works well in 3180, moving to Ready.

[2016-04-21 19:23] abbyad commented on #2225
Sure, it looks pretty low risk and seems to work well.

[2016-04-21 19:23] #2225 closed

[2016-04-21 19:45] garethbowen commented on #2166
Pouch released: https://github.com/pouchdb/pouchdb/releases/tag/5.3.2

[2016-04-21 20:19] diannakane commented on #649
Related to #1849

[2016-04-21 20:29] mandric commented on #1805
This will likely never happen because it causes the tree and visual git log/history/visual tools to make our commit tree look very ugly, master and develop have diverged too much.  Also resolving the conflicts is unrewarding and probably not valuable work since it causes git log ugliness.  We're much more likely to merge master to `v0.4` branch and do security and bug fixes on that branch and cher

[2016-04-21 21:08] abbyad opened #2226 "End up in with Task list after task completed from contact profile"
When selecting a task from the Contact profile we end up in the Task tab. Given what happens in desktop mode I understand why this occurs, but in mobile mode it seems odd to end up Tasks list. I would have expected to remain in the Contacts profile. Along with #1975 and #1565, we should look at where we end up after completing forms based on where we came from.

[2016-04-21 21:08] abbyad commented on #2226
This is a symptom of https://github.com/medic/medic-webapp/issues/1368

[2016-04-21 21:11] abbyad commented on #1554
Yes, that would work.

[2016-04-21 22:11] #2123 closed

[2016-04-21 23:30] diannakane commented on #1688
and/or improve UI of drop-down options in any of our select person/place fields in contacts to improve clarity of hierarchy

[2016-04-22 00:01] sglangevin opened #2227 "Dropdowns in CHP Area create and edit forms have no blank option"
This means that once you click to load the dropdown for Branch or Supervisor (or CHP, if you are editing), you have to click on a person or place. If you click and load a dropdown accidentally, you have to leave the form without saving and re-open it to clear the selection.

Related: #1984

[2016-04-22 01:37] garethbowen commented on #1825
Pull request: https://github.com/medic/medic-webapp/pull/2228

The biggest change is the e2e tests now run against an api spawned on a different port, and against a new db so we have full control over the config and data.

[2016-04-22 01:38] #2202 closed

[2016-04-22 02:00] garethbowen commented on #2166
This was released too late to make it into 2.6.1 for LG. We're planning a 2.6.2 for them in the next couple of weeks so we can get it in then once we've had a chance to test it out.

[2016-04-22 03:54] btbonval opened #2229 "CouchDB is not authorized to return `_all_docs` listed from POST but can return docs listed from GET"
The couch-to-postgres adapter uses `_all_docs` first to fetch all UUIDs in the system using `include_docs=false`.

Once all UUIDs are fetched, only the necessary UUIDs are requested from `_all_docs` by sending a POST with a list of UUIDs and using `include_docs=true`.

With the analytics user, I am able to GET `_all_docs` even with `include_docs=true`, but I cannot get a subset using POST `_all_do

[2016-04-22 03:56] btbonval commented on #2229
If the only solution is to change how the adapter works with a major overhaul to use something like a changes feed, we should make a ticket to do that and close this.

[2016-04-22 04:03] btbonval commented on #2125
It looks like this is more important than previously thought. However, as a workaround, instead of running `/index.js`, run `/libs/couch2pg/mainloop.js`.

`/index.js` is a copy/paste of `/libs/couch2pg/mainloop.js` which also calls `/libs/xmlforms/index.js` to handle Contacts and XML Forms. For a .4 project, `/index.js` probably won't work, but `/libs/couch2pg/mainloop.js` will do all the same stu

[2016-04-22 09:03] alxndrsn commented on #2166
Shame, but I agree it's sensible to play it safe.

[2016-04-22 09:03] alxndrsn commented on #2166
(Despite semver ;¬) )

[2016-04-22 09:07] alxndrsn commented on #2166
If https://github.com/medic/medic-webapp/blob/625ef6ef071b9242e3d62f5380539e3c66a67216/static/js/services/db.js#L30 means that `options.ajax.timeout` is set for connections to the server when replicating, then this looks good.

[2016-04-22 13:33] abbyad opened #2230 "Incoming message not attributed to contact"
Messages received via medic-reporter are not attributed to a contact, even though one exists with the same phone number.

[2016-04-22 13:48] mandric commented on #2207
I would like to see this in the next release (sooner than later) because sentinel can muck up records at the moment since 90% of transitions are not used in 2.6.  We should have a config to have an enable flag per transition, the opposite of what we have now.  Should be easy and save us headache later.

[2016-04-22 13:54] abbyad commented on #2230
The incoming message has `sys.facility_not_found`

[2016-04-22 14:13] mandric opened #2231 "missing_named_view errors in sentinel"
I think when we made the audit log changes we forgot one caller.  If you send in a new message to the webapp you'll see this in the sentinel log.  This likely breaks sentinel, I'm not sure yet.

[code]

[2016-04-22 14:48] mandric commented on #2231
Quick attempt at a patch if you have instances suffering from this.
Apply like: `cd medic-sentinel && patch -p1 < /path/to/2231-patch.txt`
[2231-patch.txt](https://github.com/medic/medic-webapp/files/232016/2231-patch.txt)

[2016-04-22 17:03] mandric commented on #2230
Marc, did you need this resolved today? I have a feeling it's likely because the contact is not of type `clinic`?

[2016-04-22 17:04] mandric commented on #2230
The fix might be to update the `update_clinics` transition to include type `person` contacts.

[2016-04-22 17:09] abbyad commented on #2230
Ah, that makes sense. I found a workaround for what I needed to do today (populate messages for a screenshot), and we can fix this is due time.

[2016-04-22 17:10] mandric commented on #2231
Would be good to release these fixes together: https://github.com/medic/medic-webapp/issues/2207

[2016-04-22 17:36] btbonval commented on #2138
Closed in tracking ticket.

[2016-04-22 17:36] #2138 closed

[2016-04-22 17:57] btbonval commented on #1740
Moving to medic-projects.

[2016-04-22 17:57] #1740 closed

[2016-04-22 18:00] btbonval opened #2232 "Index xmlforms_uuid on dynamically generated tables"
Dynamically generated tables are currently created using `CREATE IF NOT EXISTS`. Unfortunately, indexes cannot be crated with `IF NOT EXISTS`.

The logic for IF NOT EXISTS needs to be moved into the adapter, and then for each table created, an index should be added to xmlforms_uuid (which is the only non-dynamic field of any xml forms table).

[2016-04-22 18:04] btbonval opened #2233 "Establish a template for creating new databases"
Right now we have two schemas. three roles, and a set of default permissions for two of the users.

These can be created inside a template and then `CREATE DATABASE x WITH OWNER y TEMPLATE z` where z is the template containing all that nifty stuff.

This is all stuff that needs to be done by the postgresql superuser. So it can't be done by the adapter, it really needs to go at a level closer to #1

[2016-04-22 18:06] btbonval opened #2234 "Needs to be role aware"
If the `full_access` role exists, then all `CREATE` statements need to be prefixed with `SET ROLE full_access`.

Otherwise the tables will be owned by whatever user the adapter is logging in as. `full_access` is not a role which will have login access (and thus acts more like a group than a user), but using `SET ROLE full_access` allows the tables to be modified by anyone in the `full_access` grou

[2016-04-22 18:22] abbyad opened #2235 "Error creating new User using UI"
Cannot create a User using `beta.3181`:

`Forbidden by design doc validate_doc_update function`

![image](https://cloud.githubusercontent.com/assets/789512/14750919/3f51d6ae-0895-11e6-9587-efc4e24d9c06.png)

[2016-04-22 18:27] abbyad opened #2236 "Adding a new User shows `Edit User Profile` in title"
Clicking Add User shows a modal with "Edit" instead of Create, which isn't terrible but could be confusing.

![image](https://cloud.githubusercontent.com/assets/789512/14751050/121f2e24-0896-11e6-8716-8e15c57cc521.png)

[2016-04-22 19:13] abbyad commented on #2235
It looks like the User was partially created since I see a user with the right user name, but missing the Full name field. Replication fails when logging in with that user (404 on `medic/org.couchdb.user:manager`), and manually adding that doc seems to fix things.

[2016-04-23 22:04] btbonval commented on #2125
Generating tables and so forth is not done by the adapter for the .4 systems. We would need to automate the by-hand process documented in this README:
https://github.com/medic/middleware/tree/master/postgres

[2016-04-23 22:07] btbonval commented on #2125
Additionally, the old .4 systems still have masses of audit_records hanging around which slow the process down considerably. It might be worth adding this diff into the mainline to permanently skip audit docs.
[code]

[2016-04-25 07:45] estellecomment commented on #2205
LGTM

[2016-04-25 07:45] #2205 closed

[2016-04-25 08:31] #1672 closed

[2016-04-25 08:44] SCdF commented on #2211
So @abbyad unless PROD has the build which disables nools I'd expect to see this. Note that you're not actually downloading anything, it's from the cache. For some reason I don't understand (because I haven't looked into it) we convert images into base64 inline images and use them on each task. So what you're seeing is your massive task list loading in the background. Unless PROD has the new build

[2016-04-25 09:48] alxndrsn commented on #2094
This seems generally fine, but there is perhaps room for simple performance improvements if needed - one is commented on in the code; the other is that it looks like the same elements will have their icons updated every time the LiveList is refreshed.

[2016-04-25 09:48] #2094 closed

[2016-04-25 11:47] SCdF commented on #2218
Hey @garethbowen when you're around would be good to chat about this code: https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/inbox.js#L283-L376

Here is how I read it:
 - Whenever the page loads or a contact is CUD'd (it's like CRUD but without the Read you see…)
 - Load all [`PLACE_TYPES`](https://github.com/medic/medic-webapp/blob/develop/static/js/app.js#L104) (including

[2016-04-25 12:46] estellecomment commented on #2038
To use couchdb api you need to escape all the args in the URL, I couldn't get it to work, it drove me crazy. PouchDB api is more convenient. I added a `package.json` file for easy deps install.

It picks all the keys starting by `[branchId]`. The `\ufff0` tells it where to stop (the "last" character). From https://wiki.apache.org/couchdb/View_collation#String_Ranges

[2016-04-25 13:00] estellecomment commented on #2038
Hmmm. In case of conflict, all_or_nothing will insert a conflicting revision. These conflicted docs may or may not get replicated to clients. I think I'd rather have the deleting fail for a doc than have it in conflicted state. So I'd say no, but happy to get more opinions.

[2016-04-25 13:32] SCdF commented on #2218
Additionally, I'm pretty sure [this code](https://github.com/medic/medic-webapp/blob/develop/static/js/services/facility.js#L34-L38) implies that we also download everything and then filter it client side.

Let's talk after the call tonight @garethbowen, I'm still new enough to this code base to not be convinced I know what I'm talking about, or to be sure it's not some way for a good reason (and

[2016-04-25 13:50] alxndrsn commented on #2046
Hey @mandric any idea what i'm doing wrong here?
[code]

[2016-04-25 13:52] mandric commented on #2046
Is that on develop?

[2016-04-25 13:53] mandric commented on #2046
Reproduced here on develop. Looking...

[2016-04-25 13:55] alxndrsn commented on #2046
thanks

[2016-04-25 13:55] SCdF commented on #2223
FWIW this was probably me breaking the db-object-widget

[2016-04-25 14:01] mandric commented on #2046
Actually @alxndrsn it seems to work correctly on `develop` but on the feature branch it's broken.

[2016-04-25 14:07] alxndrsn commented on #2046
The output above was from 5b8544d4e5aa24939905db3d7416e19d61eafb3f; am I behind?

[2016-04-25 14:08] alxndrsn commented on #2046
(apparently not)https://github.com/medic/medic-api/commits/develop

[2016-04-25 14:11] mandric commented on #2046
-H “content-type:application/json"

[2016-04-25 14:11] mandric commented on #2046
Actually on the feature branch this is fixed, you get a better warning when we see an empty json object.

[2016-04-25 14:22] alxndrsn commented on #2046
Thanks, adding the header makes sense :-)

[2016-04-25 14:24] mandric commented on #2046
In you future you would see "Request body is empty, check your content-type header."

[2016-04-25 15:34] SCdF opened #2237 "Search refactor broke select2 dropdowns"
As they weren't refactored along with it. This causes them to fail to load any data and generally be useless.

[2016-04-25 15:36] alxndrsn commented on #2046
This error seems a little misleading, as the request body definitely isn't empty.  What are non-JSON posts expected to contain?

[2016-04-25 15:43] alxndrsn commented on #2237
Not really sure what the code change does, but if it works then that's good(?)

[2016-04-25 15:43] #2237 closed

[2016-04-25 15:47] abbyad opened #2238 "Import full data set"
We need to be able to fully set up an instance with realistic data for testing (eg #2121, #1872, #1836, #2152) as well as demos. Right now this could be done manually, but is very time consuming and not practical.

Here are the known components, some of which are already automated and documented, others not:
- **Settings:** can already be loaded via [this script](https://github.com/medic/medic-pro

[2016-04-25 15:49] SCdF commented on #2237
Basically:
 - The Search service was refactored so you pass different things in.
 - Probably due to timing of when changes to the widget were made, it wasn't changed as well
 - I found out when I tried to fix something else.

[2016-04-25 15:58] abbyad opened #2239 "Create Contacts (People or Places) via API"
As part of creating Users (#2046), the corresponding Person is created, but the Places need to be [created manually](https://github.com/medic/medic-projects/issues/190#issuecomment-214368830) for now. Although the Users API endpoint will eventually create all the necessary Contacts we also need to be able to create Contacts independently of Users. This could be for testing the postgres adapter (#1

[2016-04-25 16:22] estellecomment commented on #2038
Deletion done!
Logs are at `~/data_deletion_20160425`.

There were issues with DB timeouts, which are probably caused by couch reindexing after deletions and so being slower to serve requests, and so the client times out. But the requests are still being run successfully, so it leads to situations where you don't know if your data is deleted or not.
I extended the `os_process_timeout` to 100k mill

[2016-04-25 19:15] alxndrsn commented on #2128
@alxndrsn N.B.:
* branches etc. should not be duplicated if they already exist in the DB
* make sure that test runs have been made on non-prod servers THIS WEEK

[2016-04-25 20:42] garethbowen commented on #2207
Agreed. Adding to this iteration.

[2016-04-25 21:04] mandric commented on #2046
A non-JSON request (does not specify application/json content-type header) body is converted to an empty object `{}` regardless of what is in the body.   That's how we have the jsonParser middleware configured, or just how it works.  I'm open to suggestions.

[2016-04-25 21:06] mandric commented on #2046
Example: https://github.com/medic/medic-api/blob/2046-places-and-contacts-linkage/server.js#L463

[2016-04-25 21:24] #2220 closed

[2016-04-25 21:29] garethbowen opened #2240 "Release 2.6.2"
### Release steps

* [x] Update Changes.md
* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to `testing`
* [x] Update lg.dev to 2.6.2.beta and run acceptance testing
* [x] Merge `testing` to `v2`
* [x] Tag the release in github
* [x] Update the app on lg-testing.app to the released version; perform sanity checks (verify app starts properly, syncs data, each tab

[2016-04-25 21:52] garethbowen commented on #2235
Looks like a duplicate of #2199

[2016-04-25 23:08] garethbowen commented on #2166
I've verified (by debugging the JS) that the timeout is 30000.

[2016-04-25 23:08] #2166 closed

[2016-04-26 10:29] SCdF commented on #2223
Fixed it by loading the existing value from the DB before init-ing the dropdown.

FWIW I tried to do it async (start with just showing the ID and then loading in the formatted result later) but I couldn't get that to work, so instead we delay the display of the select box entirely. If we fail to load it once we just display the ID and move on with our lives.

[2016-04-26 10:30] SCdF commented on #2223
_(specifically: I couldn't get select2 to recognise that I'd changed the `text` of the selected option and get it to re-render)_

[2016-04-26 10:41] garethbowen commented on #2199
It looks like adding the `roles` to the user settings was added to an old migration, which won't work on installations where it has already been executed. I've added a new migration to set the `roles` for all installations.

Also the user editing in the webapp had to be updated to set/update the roles.

[2016-04-26 10:42] #2235 closed

[2016-04-26 10:51] garethbowen commented on #2223
Minor naming suggestion, but otherwise makes sense!

[2016-04-26 10:54] garethbowen opened #2241 "Refactor api auth module to use high level request module"
Post hoc issue to cover the code review of a refactor that's a little risky: https://github.com/medic/medic-api/commit/4528cb2ff3b6ec33a728e8f7d9ff2e52e13256cf

Instead of using the low level `http` module we should use the `request` module which is easier on the eye.

[2016-04-26 11:09] alxndrsn commented on #2046
@mandric how about

instead of

?

[2016-04-26 11:14] alxndrsn commented on #2046
@mandric any thoughts on this one?

[code]

[2016-04-26 12:06] estellecomment commented on #1345
We may do this partially in #1784

[2016-04-26 12:14] SCdF commented on #2241
@garethbowen It looks good from my look at it, but I'm not particularly well acquainted with either API. What makes these changes risky? Simply because it's auth and that's always risky, or is there more going on we can look into in more detail?

[2016-04-26 12:31] SCdF opened #2242 "X to close form on mobile no longer works"
Hitting the hardware back button still works, but tapping the X just selects it and doesn't open the model confirm close dialog.

[2016-04-26 12:33] SCdF commented on #2223
NB: this is only in develop. It's not clear if the priority label means it should be merged individually into testing as well, or it's just indicative of ordering.

[2016-04-26 13:22] estellecomment commented on #1825
Comments in PR.

Won't run on my machine :( I think it's not able to spawn the api, doesn't find `server.js`?
`grunt e2e` says :
[code]

Meanwhile webdriver says nothing special :
[code]

Printing out `process.cwd()` looks right (medic-webapp's root), and the contents of the `api` subdirectory does contain `server.js`.
I did run webdriver, npm install in both projects, any other dependencies I'm f

[2016-04-26 13:44] SCdF commented on #2218
[facility.js](https://github.com/medic/medic-webapp/blob/develop/static/js/services/facility.js) is in general a bit troubled I think. For posterity:

![2016-04-26 14 29 56](https://cloud.githubusercontent.com/assets/583851/14819850/ec9d75a6-0bbb-11e6-80cf-052c37683862.jpg)

Facility loads all contacts into memory regardless of what you ask for, including the actual docs. Worth checking to see if

[2016-04-26 13:48] SCdF commented on #2218
FWIW I think it's also kind of weird that the [facilities](https://github.com/medic/medic-webapp/blob/develop/lib/views.js#L1-L22) view has people in it at all? I'm going to see if I can also change that as well, which will make the index smaller and faster.

[2016-04-26 16:09] SCdF commented on #2218
Removing `type='person'` from facilities takes the 42mb download every time down to 12mb (uncompressed, no idea what gzip will do to it). This is obviously much better, but we can still do better by working out if they need to include docs.

[2016-04-26 16:19] SCdF commented on #2218
Looks like the `Contact` service is still being used, it's just sneaky in how it's linked. It's used in the send-message module.

[2016-04-26 17:43] mandric commented on #2046
@alxndrsn `type` should be one of 'district-manager', 'national-manager', etc.  It should be pretty clear if you read the docs. ;-)

You are trying to set permissions/roles to 'user-settings' which is not allowed and I should fix the error message for that too.

[2016-04-26 17:53] alxndrsn commented on #2046
@mandric Can you give me an example of a valid request, based on this?
[code]

[2016-04-26 18:06] mandric commented on #2046
Sure:
[code]

[2016-04-26 18:11] mandric commented on #2046
Much better, will update. Thanks!

[2016-04-26 18:41] diannakane commented on #1000
In History tab:
-- Add a "select" button to the far left on the FAB.
-- When Select is clicked, you enter "select mode." An unchecked checkbox appears next to every record. The FAB changes to show: Select All / Delete / Close (mobile) and Select All / Close (web). The right FAB (web) changes to "verify all / edit all / delete all" with "verify all" and "edit all" currently disabled.
-- Filter choi

[2016-04-26 18:56] abbyad commented on #1000
Thanks @diannakane, there is plenty there to start with. Assigning to @garethbowen to implement or assign as needed. Also, given the length of this issue, feel free to open a dev issue if you prefer.

[2016-04-26 19:07] alxndrsn commented on #1000
@diannakane don't forget to cancel your amazon prime subscription at the end of the month!

[2016-04-26 20:22] garethbowen commented on #2241
Simply because it's auth. I'll progress it to acceptance testing.

[2016-04-26 20:22] #2241 closed

[2016-04-26 22:05] garethbowen commented on #1825
I can't think of anything obvious. It could be an OS specific issue? What version of node are you running? Make sure you have the correct submodule commit (eg: `git submodule update` in `medic-webapp`).

Would you mind taking the lead on this one? It's hard to debug without being able to reproduce it. Happy to peer on it if we're online at the same time.

[2016-04-26 22:05] garethbowen commented on #1825
Oh, and I've made a bunch of changes given your review comments. Thanks!

[2016-04-26 23:26] garethbowen commented on #2242
This doesn't affect 2.6.1 so it's not a priority and doesn't need to be included in 2.6.2. This is probably a regression due to the refactoring of modals. @estellecomment Can you have a look at this as part of your work on the modals?

[2016-04-26 23:27] #2223 closed

[2016-04-26 23:29] #2076 closed

[2016-04-27 07:43] estellecomment commented on #1000
Cool, good job!

A couple thoughts (apologies if I should have come up with these details earlier and now's not a good time, in which case ignore it)

1. Can we have different icons for Verify all, Edit all, Delete all? To make it more obvious the action is different. And maybe change the color of the FAB bar in Select Mode? (maybe the same blue as the checkboxes, to follow the color scheme)

2. C

[2016-04-27 07:57] estellecomment commented on #1000
Here goes mockups, couldn't resist, excuse the extreme hideousness.

Select mode off :
![selectmode2](https://cloud.githubusercontent.com/assets/911434/14845380/17607f48-0c5e-11e6-8add-fe0bd7cfcb1c.png)

Select mode on :
![selectmode2_on](https://cloud.githubusercontent.com/assets/911434/14845384/1b8eeff0-0c5e-11e6-870c-aebb074111c9.png)

(I left Export in select mode, in case we want to export se

[2016-04-27 09:08] SCdF commented on #2227
@garethbowen made a comment on the commit. We should use just one of these techniques, so whichever works best on both desktop and tecno should be kept and the other one removed.

[2016-04-27 09:14] SCdF commented on #1000
Gotta watch dat Black Sails tho…

[2016-04-27 09:52] #2227 closed

[2016-04-27 10:00] estellecomment opened #2243 "Make filtered views shareable by URL : add URL params for filter values"
e.g. `http://localhost:5988/medic/_design/medic/_rewrite/#/reports/62DD2C79-5104-07B4-ADB7-7F333CCBA02C?datefrom=123456&dateto=654321&facilities=[aaaaaaa,bbbbbbb]`

So that the URL reflects the filter state.

[2016-04-27 11:47] estellecomment opened #2244 "Data filter is wrong : allows dates outside of date range"
On lg.dev and lg.app and locally.
![screen shot 2016-04-27 at 13 42 37](https://cloud.githubusercontent.com/assets/911434/14851182/7dfc92ee-0c7e-11e6-96f4-8de2885c4418.png)

[2016-04-27 12:13] alxndrsn commented on #2046
Looks like there is a little bug if creating a contact with non-lowercase username:

[code]

I.e. the first create returned an error, but actually created something somewhere in couch.

[2016-04-27 14:33] estellecomment commented on #2242
Hmm, probably a leftover from filters refactoring.

[2016-04-27 19:26] abbyad opened #2245 "Cannot create a Person not associated to a Place (aka Cannot immediately create a District on a new instance)"
You can only create a person that is associated to a place, and you must select a person as a contact when creating Districts. This means that it is rather difficult to build a contact list from scratch. For instance, starting from an empty contact list and creating a District with a primary contact that belongs to that facility you have to create a family with that new person, create the district

[2016-04-27 19:42] sglangevin commented on #2245
@abbyad I would advocate strongly for option 3. Similar to the CHW area and family forms, we should be able to create the primary contact for a District while we create the district.

I would also add a 5th option, which would be to be able to configure whether or not primary contacts are required. This could be an all or nothing (all primary contacts are required or none are required) or it could

[2016-04-27 19:51] abbyad commented on #2245
Optionally creating the person via the District form seems like a lightweight solution until we have the redesigned Contacts and profiles.

[2016-04-27 20:04] garethbowen commented on #2244
I think it's off by one day only. Somewhere we add a day to the filter because some expected records weren't showing up. It's probably a lazy solution to a timezone issue, or maybe something has changed in the system so we no longer need to add the day.

[2016-04-27 20:10] abbyad commented on #2244
This is a duplicate of https://github.com/medic/medic-webapp/issues/2185

[2016-04-27 20:15] garethbowen commented on #2244
Good point. Closing.

[2016-04-27 20:15] #2244 closed

[2016-04-27 20:34] diannakane commented on #2245
In principle, Places can exist without People, even a Primary Contact, but People cannot exist without Places. The redesigned contacts would work as Sharon describes, that you will have the option to create a Person while you are creating a Place to simplify the process or if this is required by the project.

These principles should work the same for every level of the hierarchy, with the option t

[2016-04-27 20:58] garethbowen commented on #2245
We should definitely do 3 to make it consistent with the other forms. This will alleviate the issue in the short term.

@sglangevin I'm not sure about your 5th option. I'd want to have a look through the code and remember why we need primary contacts. But the gist is you want to know who to contact if there's an issue at a specific clinic/CHP area.

It's been discussed before and I haven't been ke

[2016-04-27 21:05] garethbowen commented on #2242
Looks like it was introduced here: https://github.com/medic/medic-webapp/commit/b2e68a69307cd3caebc8ce71b55ba8b672f36138#diff-c6f758d977305f269bb1c9d02cd160cdL210

LGTM.

[2016-04-27 21:05] #2242 closed

[2016-04-27 21:15] diannakane commented on #2245
@garethbowen "type of contact" will be a new field that will allow us to filter or search for a patient vs. CHW, etc. The other visual distinction is that the people belonging to an Area will be separated from the people belonging to a Household so you won't have a mixed list of family members and CHWs.

[2016-04-27 21:16] garethbowen commented on #2245
Sounds great!

[2016-04-27 22:50] #2199 closed

[2016-04-28 04:13] garethbowen opened #2246 "Sentinel date formatting returns "Invalid date""
Original issue: medic/medic-projects#179

Configuration: `Received {{#date}}{{reported_date}}{{/date}}`
Doc: `{ ... reported_date: 1457235941000 ... }`
Output: "Received Invalid date"
Expected: "Received 06-Mar-2016"

[2016-04-28 04:15] garethbowen commented on #2246
Badly labelled commit: https://github.com/medic/medic-sentinel/commit/f6740ee5548f400b593ea0579f710d13d95aa546

[2016-04-28 04:18] garethbowen commented on #2246
It turns out the date is being passed as a string instead of an int which fails to parse. The patch attempts to cast the value to an int before trying to format it.

[2016-04-28 07:34] estellecomment commented on #2242
ok ok I get the blame fine :P
Thanks!

[2016-04-28 08:50] garethbowen commented on #2242
I'll take the next one

[2016-04-28 09:47] estellecomment commented on #1825
Success! Now it works for me.

[2016-04-28 10:09] #1825 closed

[2016-04-28 13:13] SCdF commented on #2240
@garethbowen: I didn't merge yet cause I wanted to make sure you're happy with what I merged, but here is my solution: https://github.com/medic/medic-webapp/issues/2247

[2016-04-28 13:44] estellecomment opened #2248 "Unit test the EditUser controller"

[2016-04-28 15:17] estellecomment commented on #2155
New PR, please review!

[2016-04-28 16:00] abbyad commented on #2172
Review of some of the options:
1. Split the list into Places and People
2. Sort the list by type and show the icon on the left
3. Similar to 2, but only show the icon for people

[2016-04-28 16:42] diannakane commented on #2172
@abbyad options for this are being explored in the Contacts moqups. Do you
need a decision on this specific issue sooner?

On Thu, Apr 28, 2016 at 9:00 AM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior

[2016-04-28 18:03] abbyad commented on #2199
Worked well in `2.6.2-alpha.3226`, moving to Ready.

[2016-04-28 18:04] abbyad commented on #2199
@estellecomment, I did acceptance testing based on a duplicate issue that I had opened, but please feel free to also do more acceptance testing and reopen if needed.

[2016-04-28 18:59] abbyad commented on #2147
Planning doc [here](https://docs.google.com/spreadsheets/d/1hAbKklTZ4HPPAuUyWoflGlJMgCgIkIl3jn4Kh2SH874/edit#gid=0).

[2016-04-28 19:02] abbyad commented on #2126
Perhaps @SCdF or @estellecomment have more information on this. Would be good to know if this is still an issue in 2.6.1.

[2016-04-28 19:24] abbyad commented on #1768
Assigned to @sglangevin to check for consistency in currently deployed app_settings.

[2016-04-28 19:59] btbonval commented on #1872
might be related https://github.com/medic/medic-webapp/issues/2238

[2016-04-28 20:32] abbyad opened #2250 "Contact tab updates to prepare 2.x for release"
Placeholder for design team

[2016-04-28 21:54] sglangevin opened #2251 "allow-new appearance in Enketo doesn't make the "New" option appear"
Tested on 0.6.0-beta.3027 as @SCdF said that this was implemented a while ago, also tested on 2.6.2-alpha-3226 which has recent db-object-widget updates and I'm not seeing "New" as an option in the dropdown when I use the allow-new appearance.

[2016-04-28 22:07] garethbowen commented on #2155
Nice one. Comments in the PR.

[2016-04-28 22:25] garethbowen opened #2252 "Cannot select contact after bad search"
1. Go to Contacts on desktop
2. Select the first contact
3. Use the freetext search to search for something that doesn't exist eg: "lsadkfjlskdfjklsdjfsdklfjsldfkjfdkjs"
4. Hit the reset button to show everyone again
5. Select the first contact again

Expected: the contact detail should be shown on the RHS
Actual: the RHS says "no contact selected"

Tested on: 2.6.2-beta.3235 on lg.dev on Chrome i

[2016-04-28 22:40] garethbowen commented on #2251
If this affects the beta we should make sure it's fixed in the release.

[2016-04-28 22:56] garethbowen commented on #2248
Edited this issue to be more specific.

[2016-04-29 05:45] diannakane commented on #1000
Thanks @estellecomment for the thoughtful suggestions. We need to close the design phase for this issue, and I'm happy to explain why we settled on the designs we did for points (1) and (2) above. Gareth and Marc were our dev resources and were heavily involved in those.  To clarify, the icon for "select mode" isn't actually blue -- just a bad mockup! I expect the styling to match the hi-fi mockup

[2016-04-29 07:03] garethbowen commented on #1000
Scrolling between is one option. I was looking at changing the icon to a "minus" or similar. As always, I'll play around with the design during development and see what I end up with.

[2016-04-29 09:50] estellecomment opened #2253 "Make single Modal service"
Instead of one per modal type. Something that you'd use like :
[code]

Right now there's one service per modal (`ConfirmModalService`, `UserLanguageModalService`), that only launches the modal's controller. Not worth having a separate service for each.

[2016-04-29 09:54] estellecomment opened #2254 "First-run setup modals would be better as pages"
On first app run, we display several modals in a row : welcome, guided setup, setup user language. Meanwhile the app is visible underneath the modals. The user is being interrupted before even starting.

It would be better in actual pages, which cover the whole screen, and only get to the usual app after than.

(labeling tech debt because this was done mostly because it was faster and easier at th

[2016-04-29 10:54] SCdF commented on #2251
I'm going to merge some work today which I'd like to merge before we fix this, since it's refactoring that area of the code and it will be a pain to merge in the future. Once I've done that I'll unassign it from myself and it can be picked up.

[2016-04-29 11:20] SCdF commented on #2126
We mitigated it with the attached closed PR, by reducing the ways CHPs can close the app (now only via phone restart or app update), which in turn reduces the number of times a search for a contact is the "first" search.

Apart from that I don't think we've done anything. I would imagine though, that might be enough. CHPs tended to quit the app by hammering back a lot when I was talking with them,

[2016-04-29 11:22] alxndrsn commented on #2126
N.B. that the OS can kill the app whenever it chooses to, so these aren't the only things that could force a restart.

[2016-04-29 11:26] SCdF commented on #2253
IMO It would be helpful to put the pros / cons / reasons on the ticket.

[2016-04-29 11:29] estellecomment commented on #2253
Sorry, kinda making a note to myself. Edited.

[2016-04-29 12:13] SCdF commented on #2251
I've merged https://github.com/medic/medic-webapp/commit/da0d81f320b9c0e2c80aac62a81ee2c381017aa2 into develop, which was what I was concerned about being hard to merge later. This ticket can be worked on.

[2016-04-29 12:16] estellecomment opened #2255 "Filters appear in UI with delay"
Seen in contacts tab, on page reload : the search box is the only one in the bar, and ~20 seconds later, the two filter boxes appear.
On local env (macbook air), desktop, admin user, db is a clone of lg.app from Apr 27.

Maybe the initialization is taking place? And/or the tasks generation is slowing it down? @SCdF could this be related to your work on select boxes?

![screen shot 2016-04-29 at 14

[2016-04-29 12:19] SCdF commented on #2255
Yeah this will hopefully be fixed / ameliorated by the refactoring I'm doing. Basically, right now it's pulling down every single Contact from couch into JS.

**Importantly** this is possibly *worse* locally, since locally you are not running gzip, and what is ~42mb locally is ~3mb with gzip