[2017-07-16 20:55] garethbowen commented on #3404
Back to you @alxndrsn

[2017-07-16 21:22] garethbowen commented on #3644
There are outstanding issues with the 6.3.4 release so test thoroughly and consider delaying this update to 2.14.0.

[2017-07-17 02:49] ngaruko commented on #2160
Hi @henokgetachew  , this looks like a relatively old issue. Can safely assume that it now working as expected and remove the AT label? Thanks

[2017-07-17 03:28] ngaruko commented on #3496
@estellecomment If I understand correctly form this [discussion](https://github.com/medic/medic-webapp/issues/3596), the feature/language is not merged yet in Moment and we are using the local copy. Shall we AT this atm or wait for the issue to be merged? Or did I get it correct in the first place?

[2017-07-17 03:49] sglangevin commented on #3613
Ok, in that case, can we also make sure the sync status time is updating? That one is similar to this use case where nothing in the database changes but the time since last sync should update as time goes forward.

[2017-07-17 04:09] garethbowen commented on #3284
There are multiple issues here...

1. Remote control sounds really exploitable and hard to pull off.
2. Logs should be persistent, and rotated if necessary. Can we fix this?
3. An easy way to get access to the logs sounds like a good idea, but a button would still require you to be on site. Could we set the app up to push logs to a server somewhere that can then be accessed remotely (eg: the medic

[2017-07-17 04:10] garethbowen commented on #3256
Agreed.

[2017-07-17 04:17] garethbowen commented on #3144
It's fairly easy to disable the Task tour for admins and it makes sense to me. Let's do it.

[2017-07-17 04:18] garethbowen commented on #2778
Dave's not here man. Assigning to @henokgetachew for triage.

[2017-07-17 04:23] garethbowen commented on #3250
@alxndrsn I've switched the build to run on Chrome only - Firefox was too fragile. I'm going to close this unless you know of a reason to try again?

[2017-07-17 04:23] #3250 closed

[2017-07-17 04:53] #3144 closed

[2017-07-17 05:00] garethbowen commented on #3644
Moving to 2.14.0 to give PouchDB 6.3 time to stabalise...

[2017-07-17 05:16] ngaruko commented on #3044
@alxndrsn It is not a really popular use case I would think. So if it takes a lot of effort to fix, it is definitely not worth the time IMO.

[2017-07-17 07:05] ngamita commented on #3594
I've linked to a ticket where the partner Strongminds Uganda wants export feature to work as before i.e. download to Excel file. They were of the thought it still works that way from the config tab only. cc @Maigua  on this. I also do recommend that we move the download from xml to xls as we shall be seeing more of these requests.

[2017-07-17 07:07] sglangevin commented on #3594
My thinking was that .csv is more compatible with other applications if our users are importing into another system. It sounds like that isn't the primary use case, so I'm fine with .xls. I'm updating the issue title to reflect that decision.

This is already scheduled for v2.14 so it's in the pipeline.

[2017-07-17 07:13] ngamita commented on #3594
@sglangevin sorry for the confusion. I do agree with either csv or xls. Actually csv would be used further by M & E departments like what Strongminds is doing and easily readable by XLS spreadsheet tools too.

[2017-07-17 08:24] henokgetachew opened #3669 "Monitoring medic-bot (aka: Quis custodiet ipsos custodes)"
Add monitoring for medic-bot so that we know when it's down and our monitoring is not active anymore. Two ways of doing this:
1. Using 3rd party monitoring tool like Status Cake.
2. Using shell scripts with upstart configuration that send messages to slack.
Doing both seems like a win.  The 2nd one can also be used along with upstart to get it launched again after a failure.

[2017-07-17 08:27] henokgetachew opened #3670 "Use Upstart for Medic-Bot"
It's long overdue for getting medic-bot working as a service.

- [ ] Get medic-bot working with upstart
- [ ] Configure notification to slack when the service goes down along with auto-restart

[2017-07-17 08:31] henokgetachew opened #3671 "On demand testing for medic-bot"
Two parts to this:
1.  Getting the medic-bot plugins to be fired from the command line, on-demand, without depending on the schedule.
2.  Getting that integrated with an outbound slack integration.

[2017-07-17 09:57] garethbowen commented on #3594
@sglangevin @ngamita CSV is my preferred approach too. Are you ok with losing the tabs ("sheets" in Excel terminology) from the report?

[2017-07-17 10:00] garethbowen commented on #3044
I'm going to call this a duplicate of #969

[2017-07-17 10:00] #3044 closed

[2017-07-17 12:29] SCdF opened #3672 "/api/sms shouldn't throw errors just log problems"
The `/api/sms` endpoint should not throw errors if it encounters problems with the data gateway is passing it.

For example, if gateway attempts to update a message who's documented has been deleted we should just note this and not return an error to gateway.

The guiding philosophy here is that gateways are deployed in remote situations and are a pain to debug, whereas api is online and easy to a

[2017-07-17 12:33] SCdF commented on #3672
@alxndrsn check out the PR linked above, and let me know if that's what you're thinking.

[2017-07-17 14:01] SCdF commented on #3646
Problem was with linked contacts: https://github.com/medic/medic-webapp/commit/a8afb859554ab11b90148a25e0cf5cab62bb686d#diff-ae2ab03c7390b4a1da61f490703e73daL445

I'll revert this to correctly scope this back into summaries.

[2017-07-17 15:08] alxndrsn commented on #3672
LGTM

[2017-07-17 17:09] alxndrsn opened #3674 "Couch responds with 200 when bad app_settings is uploaded."
[code]

# N.B: **`< HTTP/1.1 200 OK`**

[2017-07-17 17:09] alxndrsn commented on #3674
Not OK

[2017-07-17 18:55] ngaruko commented on #3044
Fair call

[2017-07-17 21:02] ngaruko commented on #2549
Is a 'gateway user' able to login standard.app @sglangevin @SCdF ? ie from the UI: https://standard.app.medicmobile.org/medic/login?,  like any any other user? I am trying this and getting errors:
![image](https://user-images.githubusercontent.com/6979995/28289697-b6af1520-6b97-11e7-9b45-82be868c6d71.png)

[2017-07-17 21:09] garethbowen commented on #2549
@ngaruko No, the gateway user is just for API access, not for UI access.

[2017-07-17 21:15] ngaruko commented on #2549
Thanks @garethbowen

[2017-07-17 21:29] mandric commented on #3674
We should be returning an error here when JSON parsing fails:
https://github.com/garden20/app_settings/blob/master/app-settings/updates.js#L11

[2017-07-17 21:32] amandacilek commented on #3237
Has anything new been done with this? Are we going to implement as-is for now or would it help for me to spend some time and make design mockups? If my help is desired, @alxndrsn , could you share what's been done so far?

[2017-07-17 21:42] ngaruko commented on #2716
Can you please elaborate on how to AT this @browndav ? Thanks.

[2017-07-17 21:45] ngaruko commented on #2761
Are you able to test this @bishwas-medic ? or shall we sick more insight from @alxndrsn on how to acceptance-test it?

[2017-07-17 21:49] garethbowen commented on #2716
@ngaruko Did you see my AT instructions above?

[2017-07-17 21:50] ngaruko commented on #2838
Is this still outstanding @sglangevin @abbyad ?

[2017-07-17 22:51] ngaruko commented on #3392
LGTM.

[2017-07-18 00:57] garethbowen opened #3675 "Blacklist outgoing messages to carriers"
We have a outgoing-deny-list which is configured on site to blacklist certain numbers. This is really useful particularly for blocking replying to a carrier which can sometimes end in an infinite loop of robots replying to each other. Unfortunately sometimes we forget to configure it, or we don't know the number the messages will come from until it's too late.

Work out some way of blocking by def

[2017-07-18 01:24] abbyad commented on #2912
The following XLSForm generates the proper XForm as described above:
![image](https://user-images.githubusercontent.com/789512/28296399-0d54d48a-6b36-11e7-8cad-07fa621604b1.png)

Resulting XForm snippet:
[code]

[2017-07-18 04:18] bishwas-medic commented on #2761
Yeah, this feature is already been tested and released. Huge improvement in app load time.

[2017-07-18 05:03] sglangevin commented on #2838
This was fixed a while ago and we're also moving to medic-configurer anyway, which means that we won't be using this script anymore. We can mark this ready.

[2017-07-18 05:04] sglangevin commented on #2912
@abbyad does that mean that this can be set back to AT?

[2017-07-18 06:12] sglangevin commented on #3237
We are planning to have the design team work on this before implementing something. As far as I know there are no mockups, just a prototype Android app that @alxndrsn had shared. He can send you the apk if you'd like to see it.

[2017-07-18 06:34] sglangevin opened #3676 "Update RHS floating action bar"
Design spec section: https://docs.google.com/document/d/1c-silPsrR92opiQaGU05te8MzsFnUjYCPUpsi2Vo9Vc/edit#bookmark=id.oqwnny4f639w

Just a few updates needed here to improve usability.

- [ ] Change color of bar to dark blue (#013C57) - this applies to all floating action bars on the RHS, so any bar on a person or place profile page
- [ ] Add text labels beneath all icons. H5 size (14px) bold, col

[2017-07-18 06:50] diannakane commented on #3237
I can't find the prototype that I provided feedback on. @alxndrsn please re-share.

[2017-07-18 09:33] garethbowen opened #3677 "Rename the multi_form_alerts transition"
It's more accurate to call it the `multi_report_alerts` transition. This will need to be changed in the transition itself, the configuration, examples, and all documentation.

[2017-07-18 09:33] garethbowen commented on #3677
Scheduling for 2.13.0 so it can be sorted before anyone starts configuring it.

[2017-07-18 09:37] garethbowen opened #3678 "Improve batching performance of the multi_form_alerts transition"
As of #3631 the transition counts documents in batches so we don't have to load all documents from the database at the same time. Unfortunately the `recipients` field can be configured to be a script which takes the full list of matching reports to generate a list of message recipients. This means we still need to keep all matching reports in memory to send to the script.

Check with stakeholders

[2017-07-18 09:38] garethbowen commented on #3678
Scheduling in 2.13.0 so the configuration schema can be modified before anyone starts using it.

[2017-07-18 11:09] estellecomment commented on #3496
We are using a local copy, yes. Here's the issue for using the moment.js copy when it's released : https://github.com/medic/medic-webapp/issues/3588

Please AT it now though, so we can release the feature safely without waiting for moment.js. The feature will work exactly the same once we use the moment.js copy, it's the same code, so it's fine.

[2017-07-18 11:27] alxndrsn commented on #3237
Should be available in the latest unbranded release at https://github.com/medic/medic-android/releases

[2017-07-18 11:45] estellecomment commented on #3284
Details from conversation with @bishwas-medic
 - phones are often at the partner's office, so we currently train someone to run adb on a laptop and pull logs for us. Partners are not complaining about the situation, but for tech leads it can get really painful. So it's a low priority externally, but pretty important internally.
 - logs currently contain PHI.
 - remote-rebooting of the phone is als

[2017-07-18 12:11] estellecomment commented on #3635
SG!

We can store an array of the counted reports' uuids in a field, yeah.

We can add an alert `name` field in the app_settings, that will get added as a `name` (or `alert_name`) field.

Three new fields, off we go!

[2017-07-18 12:18] estellecomment commented on #3677
(Can't think of how to name this, `✨fancy_alerts🌈`)

[2017-07-18 13:22] SCdF commented on #3605
This looks to be a problem in nano, or a library nano uses: https://github.com/apache/couchdb-nano/issues/54

[2017-07-18 14:14] #3404 closed

[2017-07-18 14:19] alxndrsn commented on #3513
Due to #3404, bikram sambat date input in enketo forms should now work on android with numerical input fields using devanagari script.  Is this good enough?

[2017-07-18 14:45] sglangevin commented on #3513
@ranjuts will have to give the final sign-off but that sounds good to me!

[2017-07-18 15:09] SCdF commented on #3605
I've changed how auditing works so it batch-audits large audit requests.

This has solved the backend issue for now.

However, deleting 250 documents at once still *destroys* our UI. It freezes my tab for minutes (on a beefy laptop). I can't imagine what it would do with a normal laptop.

@garethbowen do you have any off the cuff thoughts about what this could be caused by? I presume a very large

[2017-07-18 15:13] ranjuts commented on #3513
Sounds good to me too!

[2017-07-18 15:19] SCdF commented on #3605
Actually maybe it's OK. I did it without debug stuff opened and it actually performed much more reasonably. Deleting 500 documents takes 10 seconds or so before we say that the delete has finished, and then the UI chuggs along being unusable for a minute or so while angular / pouch's change feed catches up.

I think for a reasonably gross hack for something that will be rarely used like this maybe

[2017-07-18 15:21] SCdF commented on #3605
@garethbowen PR for couchdb-audit: https://github.com/medic/couchdb-audit/pull/4

[2017-07-18 15:30] alxndrsn commented on #3645
When this guideline is ignored, the user receives error that the field contains illegal characters.

[2017-07-18 15:30] alxndrsn commented on #3645
Tech leads may be able to advise.

[2017-07-18 19:26] samkanga commented on #3635
@estellecomment, it would be helpful to dis-aggregate the suspected diseases by 1) gender, and 2) by age i.e.  Birth to 2 months, above 2months but below 5 years (iCCM), and above 5 years. Separately, since the list of the suspected diseases grows over time, would it be possible to drill down on disease specific counts to get a line list of the individuals suspected to have a given condition. For

[2017-07-18 20:10] michaelkohn commented on #3635
@samkanga great to have some context, thanks!

I think we will be able to do this as long as we have the array of counted reports' as Estelle mentioned above.  We would need to use that array to find all the data_records that were used to trigger the alert, then get the patient information for each of those data_records, which would then give us access to all the biographical information about the

[2017-07-18 20:13] michaelkohn commented on #3635
Another thing I just thought of is how we will deal with subsequent alerts.  For example... say our threshold for a particular alert is 5+ occurrences.  If a 6th occurrence happens within the given timeframe, I imagine we send another alert and our array of data records has the original 5 plus the new 6th.

@estellecomment, are my assumptions correct? And if so, is there a way to know if we are 'a

[2017-07-18 21:27] garethbowen commented on #3605
Back to you @SCdF

The fix for the UI is probably pagination. The design said not to paginate because users are expected to review each item before deleting, but this clearly doesn't hold for use cases where they want to delete thousands of records.

I guess the correct pagination approach is to show the first x (200 or so?) records, user can review, click delete, then we show the next x records.

[2017-07-18 22:02] garethbowen opened #3681 "alpha fails to deploy"
Somehow when installing the alpha the code ends up in the wrong place in gardeners working_dir so it fails to start. 2.12.x deploys correctly so something must've changed since then.

[2017-07-18 22:02] garethbowen commented on #3681
This is blocking release so it's a priority for us.

[2017-07-19 03:42] garethbowen commented on #3681
My best guess is that our version of npm (3.10.10) can't handle org dependencies (@medic/xxx). My next step is updating npm to the latest and testing again.

[2017-07-19 06:32] estellecomment commented on #3635
That's exactly right @michaelkohn .

You can check the list of counted reports, and see if they contain the same alert with a subset of the same counted reports. The list of counted reports will be in chronological order, so the first one in the list will be the report just preceding the one you're looking at.
As the time window slides forward in time though, you may have an alert triggered that h

[2017-07-19 11:53] SCdF commented on #3605
Made some changes that are large enough to require another review I think @garethbowen.

This is sort of an aside from this ticket, but I think it would be really helpful if @sglangevin could work with @diannakane (or design in general) around our new expectations for bulk delete, based on usage in deployed environments. From what I'm hearing It sounds like it needs another run around with design.

[2017-07-19 12:09] estellecomment commented on #3635
@garethbowen can you review https://github.com/medic/medic-sentinel/pull/144 please?

[2017-07-19 13:17] estellecomment commented on #3635
Here's an example @michaelkohn .
In this example, `threshold` is 2, and 3 reports were counted. The latest report (#3) is  `7931e34f-9731-4be1-8503-f60b728488e1`.
There were 2 phone numbers specified, so two messages added to report.
Here is the `tasks` field on the latest report:
[code]
Note that `countedReports[0]` is the current report itself, since it was also counted towards the threshold.

I

[2017-07-19 13:25] nice-snek commented on #1714
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #1807
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2027
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2040
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2058
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2085
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2115
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2162
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2238
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2283
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2370
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2464
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2481
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2528
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2587
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2618
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2656
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2995
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3035
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3112
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3285
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3299
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3330
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3336
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3348
hi frand @mandric, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3368
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #3376
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:25] nice-snek commented on #2684
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-07-19 13:44] alxndrsn commented on #3035
Reads `cat nohup.out || true`.  I don't think this is likely to fail.

[2017-07-19 13:44] #3035 closed

[2017-07-19 13:45] alxndrsn commented on #1807
Will be fixed by horticulturalist.

[2017-07-19 13:45] #1807 closed

[2017-07-19 22:03] garethbowen commented on #3605
@SCdF Back to you. The code looks good but the build is failing. When you get a clean build, merge away!

[2017-07-19 22:15] garethbowen commented on #3635
Back to you @estellecomment

[2017-07-19 23:12] garethbowen commented on #3681
Theory confirmed and alpha.dev is back up. I've worked around this by moving away from using org packages in api. This is fine for now. The proper fix is to either use a different deployment system that doesn't rely on npm in production (horticulturalist), or update medic-os to npm v5 once we're comfortable that it's stable.

@mandric Assigning to you for acceptance testing - is this acceptable fo

[2017-07-19 23:12] #3681 closed

[2017-07-19 23:15] garethbowen commented on #2995
Closing as this is quite old. If it happens again and you have time it'd be great to inspect the element and see if the radio button is missing from the DOM or just hidden. That would give us a clue for what the issue may be...

[2017-07-19 23:15] #2995 closed

[2017-07-19 23:16] garethbowen commented on #2370
This is good but it's ancient so I'm closing it until server side search performance becomes a priority.

[2017-07-19 23:16] #2370 closed

[2017-07-19 23:19] garethbowen commented on #2656
I think we need to consider this as part of a wider `type` refactor. This has been added to our [technical goals doc](https://docs.google.com/document/d/1ObwEkVj3Yx_ImQ2YzMPxQeA7PDhYX8aG_coFuHm7-0Q/edit). The only thing holding us back is the enormous migration required to fix all the old data. Closing for now.

[2017-07-19 23:19] #2656 closed

[2017-07-19 23:26] garethbowen commented on #3336
I keep coming back to this and getting confused by it. I think these are four separate issues and need to be raised individually. You've commented on some that you're not sure if they should be done, and some of these may have since been fixed.

@abbyad Can you please create an issue for each item that should be fixed and close this one out?

[2017-07-19 23:58] garethbowen opened #3684 "Remove modules.js attachment"
I'm almost completely sure we don't use `modules.js` for anything post deployment, and it turns out there's a flag we can include in the kanso.json to stop it from being bundled:

[code]

Check that this doesn't break anything then include it to reduce the size of the ddoc by about 1MB.

[2017-07-20 00:03] garethbowen commented on #3684
Review please @mandric

[2017-07-20 01:21] garethbowen commented on #3182
Tested on alpha.dev works as expected. Leaving in AT so another pair of eyes can check it.

For AT:

1. Log out and log in again
2. Check your cookies in the dev console. In Chrome it's in the Application tab, in Firefox it's in the Storage tab.
3. Find the AuthSession cookie, and ensure it's "httpOnly" and "secure", eg:

![cookie](https://user-images.githubusercontent.com/2064938/28396249-5679ae3

[2017-07-20 01:21] #3182 closed

[2017-07-20 01:24] garethbowen commented on #3284
Ok sounds good. Store the logs somewhere in the cloud, secure and backed up, and accessible to tech leads.

[2017-07-20 01:56] garethbowen commented on #2912
@alxndrsn It looks like all code has been reviewed. Closing for AT.

[2017-07-20 01:56] #2912 closed

[2017-07-20 02:47] garethbowen commented on #3674
Code review please @alxndrsn

[2017-07-20 03:52] garethbowen commented on #3625
Code review please @alxndrsn

[2017-07-20 04:31] garethbowen opened #3689 "Flakey tests"
https://travis-ci.org/medic/medic-webapp/jobs/255518226 failed with:

[code]

[2017-07-20 07:10] SCdF commented on #3035
@alxndrsn this actually still fails all the time, even with that `|| true`. It's really weird. I don't think we need a ticket for it lying around though, it clearly doesn't happen frequently enough for it to be a concern.

[2017-07-20 08:28] estellecomment commented on #3635
@garethbowen Added webapp PR : https://github.com/medic/medic-webapp/pull/3690 and made changes to sentinel PR : https://github.com/medic/medic-sentinel/pull/144
Assigning back to you since you requested changes.

[2017-07-20 09:42] garethbowen commented on #3635
Both good. Merge away!

[2017-07-20 10:09] estellecomment commented on #2040
Can't reproduce. Closing.

[2017-07-20 10:09] #2040 closed

[2017-07-20 10:11] estellecomment commented on #3285
Can't really do anything without logs. Closing.

[2017-07-20 10:11] #3285 closed

[2017-07-20 10:23] #3256 closed

[2017-07-20 10:23] garethbowen commented on #3256
@abbyad I've linked to the existing documentation. Please check that it's sufficient!

[2017-07-20 10:25] SCdF commented on #3605
Oh, right. Tests. You've twisted my arm, I'll write some.

[2017-07-20 10:32] garethbowen commented on #3530
Moving this out of the milestone as it's not a high priority compared to other bugs.

[2017-07-20 10:46] garethbowen opened #3691 "Flakey test: Submit Enketo form submits on reports tab"
I've had a couple of builds failing with this...

It turns out there are three elements which match the css selector, so maybe we need to include a specific id or class for the add report button.

[code]

[2017-07-20 19:16] sglangevin commented on #3605
I'm not sure I fully understand what the decision was here, but paginating so that users can only delete a few hundred records at a time should be fine for this use case. This feature is used by every project, usually immediately before the initial deployment, but it may also be used if additional health workers are trained when a project expands. So it's used by everyone, though not on a daily ba

[2017-07-20 20:28] #3674 closed

[2017-07-20 20:43] mandric commented on #3348
This looks like it should be done at some point, just a low priority.  We mostly do smoke tests using humans and the beta or alpha store?

[2017-07-20 20:47] mandric commented on #2115
Important enough to leave in the backlog but not a priority right now?

[2017-07-20 20:54] sglangevin commented on #2115
This may not be relevant once medic-configurer is complete. Not sure what capabilities it will have with regard to JSON forms, though.

[2017-07-20 21:11] sglangevin commented on #3376
This should be prioritized along with the rest of the security issues. Leaving in the backlog for now.

[2017-07-20 21:13] sglangevin commented on #3299
This one keeps coming up for triage but doesn't seem to be a high priority.

[2017-07-20 21:14] sglangevin commented on #2058
This can wait until we do a refactor of roles and permissions. Currently planning to do that next quarter.

[2017-07-20 21:20] sglangevin commented on #2238
@abbyad are pieces of this being accomplished by the move to medic-configurer? And/or can we add these components to medic-configurer? Sounds like there is API work here as well that might be part of our integrations work. It would help if we could prioritize the items in this list to see where we might want to start. Putting this in the backlog for now.

[2017-07-20 22:36] sglangevin commented on #3594
@garethbowen yeah I think that's fine. Is it a lot of extra work to support both, as we did in 0.4?

[2017-07-20 23:20] garethbowen commented on #3655
Code review please @SCdF

[2017-07-20 23:22] garethbowen commented on #3594
@sglangevin I don't think we ever supported "xls" but we could go back to supporting "csv" and "xml" without too much trouble. It's extra code and an extra option in the UI which sounds like nobody wants. Have you got a solid use case for the "xml" option?

[2017-07-20 23:27] sglangevin commented on #3594
Ah - I saw Excel and assumed xls but it was actually xml. We don't have a good use case for xml, so let's go with csv and lose the tabs.

[2017-07-21 00:59] garethbowen commented on #3668
Slack conversation where the use case is discussed:

[code]

[2017-07-21 00:59] garethbowen commented on #3668
Code review please @SCdF

[2017-07-21 06:40] SCdF commented on #3605
This is available in 2.12.2-beta.2. Note that this will currently *not* work in master due to https://github.com/medic/medic-webapp/issues/3646

[2017-07-21 06:40] #3605 closed

[2017-07-21 07:48] estellecomment opened #3692 "Webdriver logs are mostly spam"
Pages and pages of this, for instance :
[code]
It's `browser.wait` trying to find an element for X seconds.

Change to higher log-level could help :
https://github.com/SeleniumHQ/selenium/wiki/Logging#log-levels

[2017-07-21 07:48] SCdF commented on #3655
AT: A badly configured registration transition fails when sentinel boots or when the config changes, not when the transition runs.

[2017-07-21 08:33] SCdF commented on #3668
Back to you sir! @garethbowen

[2017-07-21 10:20] ngamita commented on #3594
+1 on csv.

[2017-07-21 11:37] estellecomment commented on #3691
+1

[2017-07-21 11:49] estellecomment commented on #3691
+2

[2017-07-21 11:56] SCdF commented on #3646
OK here is where I am with this:
 - There was some confusion when the lineage stuff was done, where summaries (ie search results) were mapped directly, as opposed to against a `summary` property. This broke some code. Instead, selections should have `selection.doc` or `selection.summary` depending on whether it's the summary or the expanded results
 - The above broke select all (and made the code

[2017-07-21 13:20] estellecomment commented on #3689
Reviewed most expertly by @SCdF.
https://www.youtube.com/watch?v=kfVsfOSbJY0

Over-optimistically closing issue.

[2017-07-21 13:32] estellecomment commented on #3112
Working on 5 randomish prod servers. Didn't try the others. Closing.

[2017-07-21 13:32] #3112 closed

[2017-07-21 13:36] estellecomment commented on #1669
Closing since Actions menu is going to change in upcoming nav redesign so it won't matter.

[2017-07-21 13:36] #1669 closed

[2017-07-21 13:37] estellecomment commented on #3165
I don't care enough to fix this. I don't think anyone does. Closing.

[2017-07-21 13:37] #3165 closed

[2017-07-21 13:40] estellecomment commented on #3691
+1

[2017-07-21 17:24] abbyad commented on #2481
We had built a SMS schedule editor for v0.5, but it was removed for v2. This decision was made for tech reasons, not because it wasn't useful. The SMS schedule configuration page was intended for partners, not tech leads, and it could be useful for Standard projects moving forward. That said, we could shelf this issue for now, and reopen/revisit once we have more feedback from Standard partners in

[2017-07-21 17:38] abbyad commented on #3336
Ya, in listing these I was stating the current state of affairs without specifying importance. I think our tech leads closest to projects most affected by this should weigh in.

cc @bishwas-medic, @sglangevin

[2017-07-21 17:41] abbyad commented on #2283
@estellecomment, sending this back your way for reevaluation.

[2017-07-23 21:52] garethbowen commented on #2618
Yes! Done!

[2017-07-23 21:52] #2618 closed

[2017-07-23 22:03] garethbowen commented on #3692
We could exclude all webdriver logs but they're being included because occasionally having the browser interaction helps you understand why the test failed. Ideally webdriver/protractor would collect these repetitive log entries into one line, eg: "Executed (152 times): ...", but AFAIK we have little control over this.

[2017-07-24 00:20] #3646 closed

[2017-07-24 04:09] garethbowen opened #3695 "Can we run e2e tests headless?"
They might be a bit quicker, and maybe a bit more reliable.

[2017-07-24 04:11] garethbowen opened #3696 "Can we run e2e tests with a changes feed running?"
Now that we've told protractor to ignore synchronization we should be able to remove the e2eTesting flag which disables changes feeds. If we have changes feeds then we won't have to refresh when data changes. The Settings Changes modal will pop up after settings change so we'll need to refresh after that, but it should still be a decent improvement in speed and reliability.

[2017-07-24 07:28] estellecomment commented on #3692
I'll admit this was a bit of a rage-bug.

The stack traces are really useless as well. You have to peel your eyes finding the one or two relevant lines out of a page of them...

[2017-07-24 09:33] #2678 closed

[2017-07-24 12:54] alxndrsn opened #3697 "Add 'use strict' directive where missing"
As per https://github.com/medic/medic-webapp/pull/3539#discussion_r121818117, `'use strict'` is required.  However, it's missing from a lot of our code, e.g. services:
[code]

[2017-07-24 13:23] estellecomment opened #3698 "Avoid "more than one element found for locator" in webdriver tests"
e.g. `[13:28:41] W/element - more than one element found for locator By(css selector, #delete-confirm .submit) - the first result will be used`

I don't see a use for this voluntarily (you can use `first-child` or something if you really want the first occurrence), so they're likely to be accidental. So we should weed these out completely.

I see them happening when there's hidden elements, so whe

[2017-07-24 14:58] estellecomment commented on #3691
@garethbowen please review https://github.com/medic/medic-webapp/pull/3700

[2017-07-24 14:59] estellecomment commented on #3698
@garethbowen please review https://github.com/medic/medic-webapp/pull/3701

[2017-07-24 15:01] estellecomment commented on #3635
AT for @michaelkohn, I'm guessing, so assigning

[2017-07-24 15:07] abbyad commented on #2162
Closing as the select2 works properly in my tests with our current versions (medic-android 0.1.149, webapp 2.12.0).

[2017-07-24 15:07] #2162 closed

[2017-07-24 15:14] abbyad commented on #2027
I have not been able to reproduce this with similar forms used in the field. @sglangevin do you know if this has been an issue with any users?

[2017-07-24 15:20] estellecomment commented on #3689
It's back!

Clicking the contacts-tab is hitting a modal. Don't see why a modal should be there. Adding a refresh of the page to clean up old modals.

[2017-07-24 15:31] estellecomment commented on #3509
it's back!
https://api.travis-ci.org/jobs/256928563/log.txt?deansi=true

[2017-07-24 16:00] estellecomment commented on #3689
@garethbowen please review https://github.com/medic/medic-webapp/pull/3702

[2017-07-24 16:57] michaelkohn commented on #3635
@estellecomment can you let me know where to test this and where I can see the current config  (so I can know which forms to submit that would generate the alerts and see the new fields)? I tried to follow the github issue tree to find some documentation on how to configure the alerts and came across this https://github.com/medic/medic-webapp/blob/master/kanso.json#L398 but I wasn't sure if there

[2017-07-24 17:34] sglangevin commented on #3635
You can use alpha.dev for testing as we don't have a beta out for this release yet. We may need to update alpha.dev first.

[2017-07-24 18:14] estellecomment commented on #3677
oooh, genius idea : `alerts` ?

[2017-07-24 18:44] michaelkohn commented on #3635
OK.  Please let me know when I should go in and test it (ie, do you need to update alpha.dev).  I logged in (to alpha.dev) and was surprised to see no data in it, not sure if that is expected.  Am I also expected to configure the alerts myself?  Happy to give it a crack, but need some info on how to do it.

[2017-07-24 18:48] sglangevin commented on #3635
Let's look at this together this afternoon. We can also loop in the tech lead for the CBDS project for help in config and testing.

[2017-07-24 18:59] estellecomment commented on #3635
It should appear in the Dashboard app_settings page, under "Multi-form Alerts". The kanso.json file that you linked is what feeds into that page.

Note that we're going to change the config slightly, in https://github.com/medic/medic-webapp/issues/3678, you maybe wait for that to be done, I'm doing it next...

[2017-07-24 19:18] estellecomment commented on #2283
not relevant any more.

[2017-07-24 19:18] #2283 closed

[2017-07-24 20:53] ngaruko commented on #3559
I assume this if the page `#/configuration/forms/json` (and the xml page).  The `Go to Medic Reporter` button/link has got a different styling/class (`btn-link`) from the other 2 buttons (`btn-primary`) on the page. Is this intentional/conventional or?
![image](https://user-images.githubusercontent.com/6979995/28544014-e43380b6-7115-11e7-96b0-6618dc38fac8.png)

[2017-07-24 20:59] garethbowen commented on #3559
@bede It's intentional. It's a link to another app, the other two are buttons that do something.

[2017-07-24 21:13] #3697 closed

[2017-07-24 21:25] garethbowen commented on #3698
Awesome.

[2017-07-24 21:25] #3698 closed

[2017-07-24 21:29] garethbowen commented on #3691
@estellecomment Nice improvement. The test still failed so I think there's still work to do but it's a good start.

[2017-07-24 21:31] #3689 closed

[2017-07-24 21:36] garethbowen commented on #3096
@alxndrsn Back to you. Once those tests are green, merge away!

[2017-07-24 21:42] garethbowen commented on #3677
I'm really struggling with this. I'm thinking about what makes this transition different to `conditional_alerts` and it's the fact that it's context aware. I'm going through a thesaurus... what about one of: `context_alerts`, `trend_alerts`, `overview_alerts`, `environment_alerts`, `landscape_alerts`?

[2017-07-24 21:48] garethbowen commented on #3691
This seems to be the flakiest test we have at the moment so I'm going to have a look while @estellecomment sleeps...

[2017-07-24 22:10] sglangevin commented on #2027
I don't know of anyone reporting an issue with this. Let's close it and we can open a new issue if we hear this feedback again.

[2017-07-24 22:10] #2027 closed

[2017-07-24 22:23] sglangevin commented on #3465
This seems to have been fixed with the recent bulk delete performance improvements. @garethbowen @SCdF can we close this?

[2017-07-24 22:50] garethbowen commented on #3465
@sglangevin Have you tested on 2.13.0 alpha or 2.12.1? The code is subtly different.

[2017-07-24 22:52] sglangevin commented on #3465
2.12.1-beta.2. I can test on alpha as well, though.

[2017-07-24 22:56] garethbowen commented on #3465
That'd be conclusive!

[2017-07-25 00:00] sglangevin opened #3703 "Sync status cut off in mobile view"
There used to be space below the sync status but now it's running into the bottom edge of the hamburger menu. Could be due to the fact that Configuration Wizard wraps to a second line. Seen on v2.12.0. I can't currently test this on latest alpha because alpha.dev has no data in it.

![image](https://user-images.githubusercontent.com/1286381/28549726-0a2a3c9a-7091-11e7-8a54-ac4d036a5907.png)

[2017-07-25 00:15] ngaruko opened #3704 "Password Strength Validation Errors"
Related to https://github.com/medic/medic-webapp/pull/3608. When the user enters less than 8 characters (‘passwor’), they get the ‘8 characters long’ error
![image](https://user-images.githubusercontent.com/6979995/28550066-9f60cbca-7132-11e7-96df-55ac0dc6f903.png)
. Then add one more (‘passwor2’), there is another '  password is too easy to guess’ error, with no indication of what is an acceptabl

[2017-07-25 00:29] ngaruko opened #3705 "Disable 'Select' and 'Export' buttons when there are no reports"
When there are no reports, the two buttons are still enabled.
![image](https://user-images.githubusercontent.com/6979995/28550376-68d27282-7134-11e7-9784-255f12416d1b.png)

[2017-07-25 01:09] garethbowen commented on #3691
@estellecomment I've added a sleep which reliably fixes it at the expense of 1 second of wait time. I'll leave this for you to review but I've merged it to get master up and running again. If you can come up with anything better, please do...

[2017-07-25 01:44] garethbowen commented on #3703
It's a bit of an unusual one because to get the sync status you need to be an offline user and to get the configuration wizard you need to be someone with the `can_configure` permission which is usually an admin. But I've made it a little wider just in case...

[2017-07-25 01:48] garethbowen commented on #3635
Closing for AT.

[2017-07-25 01:48] #3635 closed

[2017-07-25 01:48] garethbowen commented on #3587
No change in 22 days. Closing for AT.

[2017-07-25 03:32] ngaruko commented on #2549
Is this A/Testable from my end @sglangevin ?

[2017-07-25 03:38] ngaruko commented on #3251
Is this issue related to a new instance @bishwas-medic @sglangevin .Did someone tested it after the fix?

[2017-07-25 05:37] bishwas-medic commented on #3251
@ngaruko It's been happening in general with v2 instances, not a specific one. I haven't done any testing for this recently.

[2017-07-25 07:25] estellecomment commented on #3691
Whatever works! Thanks!

[2017-07-25 07:25] #3691 closed

[2017-07-25 09:35] estellecomment opened #3707 "GET /api/v1/forms is broken if trailing slash"
`curl https://<user>:<pass>@<instance>/api/v1/forms` works.
`curl https://<user>:<pass>@<instance>/api/v1/forms/` gets `{"error":"not_found","reason":"no_db_file"}`

[2017-07-25 12:08] derickl opened #3708 "Resolve LG UG couchdb conflicts"
Place holder ticket for the initial work of resolving LG UG couchdb conflicts

[2017-07-25 12:09] estellecomment commented on #3678
Defining the recipient per-report should not be an issue, since you can achieve the same recipients with a different config.

There's another problem though : the message text displays info from all counted reports (potentially), so we'd need all reports fed into the template.
In practice it'll make for varied and possibly huge message length, which is bad, so we need to define better specs. Discu

[2017-07-25 14:23] alxndrsn opened #3709 "e2e tests fail unclearly if required env vars are missing"
[code]

This seems to be caused by missing `COUCH_NODE_NAME` env var.

[2017-07-25 15:33] abbyad commented on #3342
Highlighting that we need to fix and test contact forms with respect to this issue.

Currently we get:
`WARN DEPRECATED Form: clinic-create.xml Bad ID set in XML.  Expected: contact:clinic:create but saw: clinic_create  Support for setting these values differently will be dropped.  Please see https://github.com/medic/medic-webapp/issues/3342.`

Need to verify that changing the ID to resolve the wa

[2017-07-25 15:51] sglangevin commented on #3342
I've already tested this with contact forms and they were fine. I changed the ID to match the internal ID and had no issues.

[2017-07-25 15:55] abbyad commented on #3342
Great, I'll update the Standard config forms accordingly.

[2017-07-25 16:53] henokgetachew opened #3711 "Change the bundled Webapp version that ships with Medic OS to the latest one"
Medic OS ships with  a version of the webapp.  This version needs to be upgraded and it needs to use the most latest one.

This is not risky right now because we use an AMI upgrade mechanism when upgrading instances to the latest OS.  It is however applicable when running the iso on a virtual machine.

Note that this issue may need to be modified once horticulturalist is deployed.

[2017-07-25 20:52] ngaruko commented on #3681
@mandric ... is this deployment acceptable for now?

[2017-07-25 20:56] #3684 closed

[2017-07-25 21:21] ngaruko commented on #3605
I will probably ask @sglangevin to test/confirm this on an instance with 'more than a few hundred records'?

[2017-07-25 21:22] #3709 closed

[2017-07-25 21:42] ngaruko commented on #3600
Does this need AT @estellecomment ?

[2017-07-25 21:52] ngaruko commented on #3497
Can I get some context here @alxndrsn . Do we need to AT this?

[2017-07-25 22:19] ngaruko commented on #2124
Is there a way to AT this @btbonval @SCdF ?

[2017-07-25 22:34] sglangevin commented on #2124
This was done long ago. We can move it to ready.

[2017-07-25 22:37] sglangevin commented on #3677
In case it's helpful to have more votes, I liked `multi_report_alerts`. Isn't this also different from `conditional_alerts` because it looks at more than one report?

[2017-07-25 22:37] sglangevin commented on #3605
I'm assuming @SCdF meant 2.12.1-beta.2. I've already tested this and 2.12.1. was released.

[2017-07-25 22:38] garethbowen commented on #3677
That's what I meant by "context aware" - it can look at more than just the latest report and make a decision based on that additional information.

[2017-07-25 22:48] sglangevin commented on #3251
@ngaruko judging from the discussion here, we should reopen this issue or create a new issue based on @SCdF's suggestion:

[2017-07-25 23:03] ngaruko commented on #3704
re: #1472

[2017-07-25 23:04] ngaruko commented on #1472
LGTM. Just find the error messaging a bit less comprehensive(re: #3704)

[2017-07-25 23:11] sglangevin commented on #1472
@ngaruko changing the error message should be easy. I'd prefer we return this and update the error message to be more comprehensive before we move this to ready.

@garethbowen is the error message something that we can just change in the default translation? What are the actual requirements for the password?

[2017-07-25 23:12] ngaruko commented on #2895
Does this need AT'ing @SCdF ?

[2017-07-25 23:13] sglangevin commented on #2549
If I had to guess, I would create a `gateway` user then check the Permissions page to ensure that user has the `can_access_gateway_api` permission.

@SCdF created this issue so he'd be the one to advise further.

[2017-07-25 23:18] ngaruko commented on #2912
A bit of a long convo here..Can you please synthesize how to 'reproduce' this @sglangevin ?

[2017-07-25 23:19] garethbowen commented on #1472
@sglangevin Yes. There are two relevant translations to change:

The actual requirements are complex. The code generates a score based on the number of different types of characters, the number of unique characters, and the number of characters with weightings in that order. I decided that was too complicated to put in a user facing message so just went with a quick suggestion for how to improve t

[2017-07-25 23:26] sglangevin commented on #2912
This is not a bug so there are no steps to reproduce. I believe @abbyad and @alxndrsn have already AT-ed this, but you can follow the instructions in Marc's most recent comment or I can just AT this one.

[2017-07-26 03:49] ngaruko commented on #3120
Are you able to confirm that this works as expected @henokgetachew ? Thanks.

[2017-07-26 03:52] ngaruko commented on #3256
Are you able to confirm that the documentation is sufficient @abbyad  and move this to 'Ready'? Thanks

[2017-07-26 03:56] ngaruko commented on #3430
Are you able to give it another go now that alpha.dev is 'up' again @derickl ?

[2017-07-26 04:28] ngaruko commented on #3481
Do we need to AT this @henokgetachew ?

[2017-07-26 07:45] estellecomment commented on #3600
I guess not, you're right. Moving to ready.

[2017-07-26 09:14] henokgetachew opened #3712 "Monitor if instance access is admin only"
We have found that some instances are set to Admin Only access which disallows all other users from logging in.  Monitor this using medic bot and announce it if the test fails.

[2017-07-26 09:43] garethbowen commented on #3695
Code review please @ngaruko

[2017-07-26 09:44] garethbowen commented on #3696
Code review please @ngaruko

[2017-07-26 12:32] henokgetachew commented on #3481
I'm not sure what caused the error in the first place @ngaruko so, I don't know how we can do AT as well.

[2017-07-26 13:19] alxndrsn commented on #3497
Check that medic-project build reports from travis are appearing in a suitable channel in slack where people responsible for those builds will look.

[2017-07-26 13:56] henokgetachew commented on #3672
API is still throwing exceptions when this happens.  Reopening.

[2017-07-26 14:35] estellecomment commented on #3642
This is going to break existing Collect instances, make sure to notify tech leads properly...

[2017-07-26 15:17] estellecomment opened #3715 "multi_form_alert messages need alert name, threshold and timewindow"
e.g. '{{alertName}} alert : more than {{numReportsThreshold}} reports in the last {{timeWindowInDays}} days'

Add alertName, numReportsThreshold, timeWindowInDays to template context.

[2017-07-26 15:32] estellecomment commented on #3715
@garethbowen can you review please?

NB For merging : merge sentinel PR, then bump sentinel in medic-webapp and commit the change to webapp PR, then commit webapp PR.

[2017-07-26 16:05] estellecomment commented on #3509
re-back
https://s3.amazonaws.com/archive.travis-ci.org/jobs/257774955/log.txt?X-Amz-Expires=30&X-Amz-Date=20170726T160418Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170726/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=facaeee0479145d19537ed2e1977bc69ff52a20a561625f8a6c352966ceab2f1

[2017-07-26 16:45] mandric commented on #3681
@garethbowen just wondering if there is a way to test this in travis, for example always having a travis test config that matches the nodejs and npm versions that are installed on the medic-os that we use for deployment.  So we might catch these things in CI as well.

[2017-07-26 16:57] estellecomment commented on #3509
moar :(

[2017-07-26 19:19] sglangevin opened #3718 "Every time I click on the People tab, I get a "Not found" snackbar notification on the RHS"
Steps to reproduce (on v2.12.1):
1. Log in as admin on demo.dev.
2. Click on the People tab.
3. See the "Not found" snackbar on the RHS and the following errors in the console (inbox.js:11 should be inbox.js:12740)

![image](https://user-images.githubusercontent.com/1286381/28639271-7a8175e6-71fc-11e7-9d04-514524e9b46e.png)

[2017-07-26 20:35] henokgetachew commented on #3672
@mandric the PR is linked above that fixes the remaining change that needs to be made.

[2017-07-26 21:48] garethbowen commented on #3509
Neither of those links work any more. I think you need to attach the log or inline a snippet. I'll have a look if it crops up again...

[2017-07-26 21:48] garethbowen commented on #3715
Merged. Nice one!

[2017-07-26 21:50] garethbowen commented on #3465
As @sglangevin think this is resolved I'm going to close it and set it to AT to make sure.

[2017-07-26 21:50] #3465 closed

[2017-07-26 21:53] garethbowen commented on #3677
@estellecomment Let's go with "multi_report_alerts" unless you have any objections? I'll leave it for you so as not to conflict with your work in #3678

[2017-07-26 21:56] garethbowen commented on #3405
@alxndrsn Have you made any progress on this? It's marked as required for 2.13.0 but I assume all changes will be in medic-collect so it's not really tied to any medic-webapp release?

[2017-07-26 22:08] garethbowen commented on #3681
@mandric The problem is we need npm 5 to build our app, but npm 3 to deploy our app. Once we have horti we won't need npm to deploy at all so the issue will go away. My ultimate goal is to have CI actually download the latest medic-os docker image and install the webapp into it and then run the e2e tests on that. That way we're testing the entire deployment stack (gardener/horti) as well as the co

[2017-07-26 22:16] sglangevin opened #3719 "Person & place profile page UI changes"
Relevant section of design spec: https://docs.google.com/document/d/1c-silPsrR92opiQaGU05te8MzsFnUjYCPUpsi2Vo9Vc/edit#bookmark=id.8fsndpp9evtf

Summary of changes:
All devices (condition cards, tasks card, history card, profile info card):
- [x] Each card should contain the title so that the title appears against a white background instead of above the card
- [x] Height of header area is 45px. Bot

[2017-07-26 22:21] sglangevin opened #3720 "Improve display of icons in configurable profile cards"
The current way we are adding icons to condition cards is by putting them in their own field. This looks ok on desktop but pretty bad on mobile:

**Desktop:**
![image](https://user-images.githubusercontent.com/1286381/28646226-8bd8ddde-7215-11e7-9cb3-a825c3dd781f.png)

**Mobile:**
![image](https://user-images.githubusercontent.com/1286381/28646236-92d95514-7215-11e7-83d6-627be5edcd92.png)

Make it

[2017-07-26 22:27] sglangevin opened #3721 "Add a new date filter that allows for display of dates in DD Month format"
In order to make dates like EDD or next appointment date clearer to our users, we'd like to add a new date filter to be used in configurable profile cards that allows us to display dates in DD Month format (e.g. 11 December). Since we already have one called `simpleDate`, perhaps we could call this one `dayMonth`? I'm open to other naming suggestions of course, this is the best I could do off the

[2017-07-26 22:33] sglangevin opened #3722 "Change our default font size to 16px"
Design spec: https://docs.google.com/document/d/13emD5Zhh59qElEfq5VG7oMJWhSWCvmtKUMg8rttgZxI/edit#bookmark=id.2rqo6i4tujng

16px is the current standard and will help make our app easier to read across the board. 16px should be 1 rem and we can base our other sizes off of this.

[2017-07-26 23:04] #3696 closed

[2017-07-26 23:04] #3695 closed

[2017-07-26 23:04] garethbowen commented on #3722
@sglangevin I think this is a duplicate of #3597

[2017-07-26 23:16] garethbowen commented on #3509
Got a live one! It's a different error message but same test:

[code]

[2017-07-26 23:38] ngaruko commented on #3413
Is this testable on any instance @sglangevin ?

[2017-07-26 23:52] sglangevin commented on #3722
Didn't realize that one included the change in font size. I'd like for that to be part of 2.14.0 if possible. I'll close this one as a duplicate.

[2017-07-26 23:52] #3722 closed

[2017-07-27 00:37] ngaruko commented on #3251
Reopening the issue ATM for a more permanent and stable fix.

[2017-07-27 01:11] ngaruko commented on #3047
Any clue how to AT this @alxndrsn ?

[2017-07-27 01:15] ngaruko commented on #3274
Any tips how to AT this @alxndrsn ?

[2017-07-27 01:27] ngaruko opened #3723 "Primary contact is showing the UUID"
Steps to reproduce:

1. login alpha dev as admin
2. create a 'restricted' user
3. login as that user
4. primary contact shows a UUID instead of a name

![image](https://user-images.githubusercontent.com/6979995/28650222-482e14c8-72ce-11e7-980b-79d0d3bbefbd.png)

[2017-07-27 02:37] ngaruko commented on #651
Is this testable on any instance/config @abbyad ?

[2017-07-27 03:32] ngaruko commented on #2935
do we need to AT this @SCdF ?

[2017-07-27 04:20] garethbowen commented on #3437
@sglangevin Because of this and some other confusing edge cases I'm thinking about making a change to how replication works. The change would be to replicate reports about people you can see, or _by_ people you can see. This is what you'd expect most of the time, but when depth is involved you'll start seeing more than you expect.

For example, if you can see 1 level below your facility, and the C

[2017-07-27 04:28] ngaruko commented on #3681
Will move this to ready....pending the new deployment mechanism

[2017-07-27 04:31] sglangevin commented on #3437
If we do that I am guessing we will have a lot of problems with LG supervisors, who are the ones we created replication depth for in the first place. They will all of a sudden be able to see 10s of thousands of reports that they weren't replicating before. Unless we can prove they will still be able to log in, I'd advocate strongly against this until we are able to make our hierarchy flexible and

[2017-07-27 04:37] garethbowen commented on #3437
So LG supervisors want to see the people they supervise but not the reports they're submitting? What sorts of workflows are they doing?

[2017-07-27 04:39] sglangevin commented on #3437
It's not that they don't want to see the reports, it's that they will run out of memory on their devices if we force them to download everything. And for now, their workflows don't require seeing the reports because they are using the app to fill in supervisory reports.

[2017-07-27 08:11] estellecomment commented on #3677
yeah, no strong feelings, wfm. Will do after 3678.

[2017-07-27 08:32] estellecomment opened #3724 "multi_form_alerts will most likely go over 180 chars"
check if we support multiple sms per message.

[2017-07-27 09:04] garethbowen commented on #3724
This is handled the same way all of our alerts are [in utils](https://github.com/medic/medic-sentinel/blob/master/lib/utils.js#L128). We have a configurable SMS part limit so the message is truncated if it's too long, and then we rely on the gateway splitting as required.

[2017-07-27 09:04] #3724 closed

[2017-07-27 10:15] estellecomment commented on #3678
@garethbowen can you review https://github.com/medic/medic-sentinel/pull/148 please?

[2017-07-27 10:32] garethbowen commented on #3437
@abbyad What if I marked these messages as unassigned so if the supervisor has the "can_view_unallocated_data_records" permission then it'll replicate to them? I assume this won't affect LG because they should have that option turned off. It does mean that incidents like the one you had the other day with the carrier sending thousands of messages will get replicated though...

[2017-07-27 10:51] alxndrsn commented on #3405
Yes, progress is in progress, and no, it should not affect webapp releases.

[2017-07-27 10:53] alxndrsn commented on #3274
1. check how many `gardener` instances are running
2. call `svc-restart gardener`
3. check how many gardener instances are runnning

You might want to do it first on an un-patched instance to make sure you're checking correctly.

[2017-07-27 12:57] estellecomment opened #3725 "multi_report_alerts : add limit of 100 for num_reports_threshold"

[2017-07-27 13:07] abbyad commented on #3437
Right, replicating all the reports to supervisors will be problematic. @garethbowen, I was under the impression that `unassigned` meant that the sender is unknown... is that what your new proposal would do?

[2017-07-27 13:10] estellecomment commented on #3677
PRs :
sentinel : https://github.com/medic/medic-sentinel/pull/149
webapp : https://github.com/medic/medic-webapp/pull/3726 (needs bumping sentinel)

[2017-07-27 17:18] sglangevin commented on #3405
Thanks for the update, @alxndrsn. @ranjuts was expecting to test this by end of July since the district that needs this plans to deploy in mid-August. Are we on track to hit that timeline?

[2017-07-27 18:05] alxndrsn commented on #3405
Yes, I think that's realistic.

[2017-07-27 18:33] sglangevin commented on #3723
Adding to the current milestone - needs to be fixed for 2.13.0.

[2017-07-27 18:43] sglangevin opened #3727 "When creating users, dropdowns for place and associated contact no longer display hierarchy information"
When creating users in the UI (especially on an instance with a lot of data), it's essential to be able to see where a place or associated contact exists in the hierarchy to make sure you are selecting the correct one. I'm guessing this has to do with the linked contacts change.

Here's how it looked previously (from standard.app, v2.12.1):
![image](https://user-images.githubusercontent.com/128638

[2017-07-27 18:48] mandric commented on #3672
Looks to be superseded by https://github.com/medic/medic-api/pull/185

[2017-07-27 21:01] garethbowen commented on #3437
@abbyad You're right, it'd conflate the two concepts. I'll think about it some more...

[2017-07-27 21:05] garethbowen opened #3728 "Update googlelibphonenumber to 3.0 and make sure it still works"
A new major means potentially breaking backwards compatibility so check what's changed and make sure everything still works. As this is a critical part of our stack, ensure test coverage is sufficient.

[2017-07-27 21:29] garethbowen commented on #3723
This is a configuration issue. The "person" isn't part of the district hierarchy so the restricted user is replicating the district but not the primary contact. To fix this, make the person be a child of the district.

[2017-07-27 21:33] sglangevin commented on #3723
@garethbowen I've just reconfirmed and the person is part of the district hierarchy so it's not a configuration issue. Check out user mission_health on alpha.dev. The associated place is Mission Health Center and the associated person is Sarah Jones (primary contact of Mission Health). I can PM you the password.

[2017-07-27 21:43] garethbowen commented on #3677
One small change then merge away!

[2017-07-27 22:37] ngaruko commented on #3723
Does it have anything to to with #3598 @garethbowen ?

[2017-07-27 23:12] garethbowen commented on #3723
Code review please @mandric

[2017-07-27 23:47] garethbowen commented on #3727
This also affects other areas of the UI such as creating a new place and sending a message.

[2017-07-27 23:48] garethbowen commented on #3727
Code review please @mandric

[2017-07-28 00:12] sglangevin opened #3731 "Update content row UI for consistency & improved readability"
Design spec: https://docs.google.com/document/d/13emD5Zhh59qElEfq5VG7oMJWhSWCvmtKUMg8rttgZxI/edit#bookmark=id.v7zvlp14ke9k

By "content row" we mean the items in the lists of messages, reports, tasks and contact across all tabs (including the tasks and reports displayed on a person or place profile), as well as the list of people on a place page and the configurable profile fields (outside of the

[2017-07-28 00:26] sglangevin opened #3732 "Message content row improvements"
Builds on the changes listed in #3731. [Full design spec](https://docs.google.com/document/d/13emD5Zhh59qElEfq5VG7oMJWhSWCvmtKUMg8rttgZxI/edit?ts=5980ade8#heading=h.bgeqr7hcjuto).

In this issue, we're simply changing the order of the content for the messages. Each message in the list should have either two or three lines (depending on whether the sender is a contact in the Medic app):
- First lin

[2017-07-28 00:28] garethbowen opened #3733 "Document update conflict running e2e tests"
Getting a DUC when running e2e tests:

[code]

[2017-07-28 00:35] #3727 closed

[2017-07-28 00:35] sglangevin opened #3734 "Tasks content row improvements"
Builds on the changes listed in #3731.

Each task in the list (includes the list on the tasks tab and the list that appears on place and person profiles) should have two lines:
- First line: name of person or place that the task is about
- Second line: title of the task

If the task is overdue, red dot in lower right (and “past due” text) is present - see mockup. This text is 14px.

Mockup:
![imag

[2017-07-28 00:36] #3723 closed

[2017-07-28 00:50] sglangevin opened #3735 "Reports content row improvements"
Builds on the changes listed in #3731. [Full design spec](https://docs.google.com/document/d/13emD5Zhh59qElEfq5VG7oMJWhSWCvmtKUMg8rttgZxI/edit?ts=5980ade8#bookmark=id.v7zvlp14ke9k).

Each report content row should have 1-3 lines:
- First line: name of person or place that the report is about (Exception: if you are looking at the list of reports on a person's profile page, do not include the name o

[2017-07-28 01:03] sglangevin opened #3736 "Configurable profile field UI changes"
Builds on the changes listed in #3719.

Configurable profile fields (other than the ones in the contact profile section) are the only ones that do not follow the default laid out in the issue linked above:
- First line: field label, 16px (not bold)
- Second line: field value, 16px, bold

Mockup:
![image](https://user-images.githubusercontent.com/1286381/28697969-bfc79948-72f4-11e7-9c87-427e37d73c5

[2017-07-28 09:02] #3677 closed

[2017-07-28 09:03] estellecomment commented on #3725
@alxndrsn can you review?
PRs :
 - sentinel https://github.com/medic/medic-sentinel/pull/150
 - documentation and bump in webapp : https://github.com/medic/medic-webapp/pull/3737

[2017-07-28 09:04] henokgetachew commented on #3672
Yup and the fix has been confirmed to work in the field because it has been applied as a hot patch - the team needed it urgently.

[2017-07-28 09:10] estellecomment commented on #3509
Another one
[travis_258470692.txt](https://github.com/medic/medic-webapp/files/1182551/travis_258470692.txt)

[2017-07-28 10:43] alxndrsn opened #3738 "Write e2e tests against medic-api for medic-gateway endpoint"
In light of https://github.com/medic/medic-api/pull/185, we need a more clearly-defined contract between gateway and api.

[2017-07-28 14:36] estellecomment commented on #3725
Thanks!

[2017-07-28 14:39] alxndrsn commented on #3725
:+1: although it's still not clear to me what the config tests are doing at https://github.com/medic/medic-sentinel/blob/36cc1c8f6fb67d322185e846d07aa91f9946da15/test/unit/transitions/multi_report_alerts.js#L92-L123

[2017-07-28 14:43] estellecomment opened #3739 "Test flake : "sms-gateway api - api returns list of pending WO messages" - "stale element reference:""
Full log : [travis_258576063.txt](https://github.com/medic/medic-webapp/files/1183320/travis_258576063.txt)
[code]

[2017-07-28 14:45] estellecomment commented on #3725
Testing that running the transition with invalid config will throw. Is there something specific I can make clearer?

[2017-07-28 20:08] mandric commented on #3274
FYI the possibly non-obvious workaround here is to use `/boot/svc-disable && /boot/svc-enable` or `/boot/svc-down && /boot/svc-up`.  I didn't even know there was a `/boot/svc-restart` in medic-os.  Might also be worth verifying the workaround is not broken also if you're doing AT on this.

[2017-07-28 20:36] abbyad opened #3740 "No SMS replies when reporting on people created in app, unless registration form previously submitted"
As reported in https://github.com/medic/medic-projects/issues/2397, responses are not sent for patient reports if the person is created in app, unless a registration report has already been submitted for them.

This appears to be a missed edge case for acceptance testing of https://github.com/medic/medic-webapp/issues/3401

## Observed
- Validation messages are created, no problem here.
- Response

[2017-07-29 02:21] abbyad commented on #1975
I have come across this as well using the desktop version and it is quite frustrating. Whether deleting a person or place, showing the parent place in the RHS would be nice, if easily done.

[2017-07-30 20:16] #3733 closed

[2017-07-30 23:09] garethbowen commented on #3740
Code review please @SCdF

[2017-07-30 23:10] garethbowen commented on #3740
This will need to be backported to 2.12.x and 2.13.x

[2017-07-31 03:39] ngaruko commented on #3497
Navigating through Slack unsuccessfully, are these reports appearing in `tech-leads` channel or elsewhere? Any clue @alxndrsn @henokgetachew ?

[2017-07-31 04:16] garethbowen commented on #3437
Code review please @estellecomment

I'm sorry - this one's a total mess. Because of the ridiculous way we structure our repo I forgot to branch for webapp which means I couldn't PR so here are the individual commits...

### Sentinel

- https://github.com/medic/medic-sentinel/commit/3652b69b497c2b5640e166066a0ea9777b1b612f

### API

- https://github.com/medic/medic-api/commit/8ad0d07aea0a0c53c27581

[2017-07-31 07:42] estellecomment commented on #3437
😄
Commits are clean so it's totally followable.

Code LGTM.
Did you bump sentinel in webapp? Can't see it in the listed commits.
Api bump looks right.

Nice!

[2017-07-31 09:01] #3437 closed

[2017-07-31 09:24] garethbowen commented on #2780
Closing this for acceptance testing.

[2017-07-31 09:24] #2780 closed

[2017-07-31 17:37] alxndrsn commented on #3405
# TODO
- [ ] make sure that it's easy to enable BS dates for Nepali builds
- [ ] fix date off-by-one bug (maybe just a display problem?  Perhaps should not convert dates to GMT for display)
- [ ] make sure that appropriate parts of the android functionality are being loaded from the lib rather than added to collect core

[2017-07-31 19:03] garethbowen commented on #3618
@SCdF We discussed this a little in the weekly iteration call, and @abbyad recently said ["never save app_settings using Dashboard"](https://github.com/medic/medic-projects/issues/2559#issuecomment-318228949).

In part this is because there are bugs in Dashboard or our kanso.json configuration which mean it doesn't always update the configuration correctly. However it's also a workflow issue - if

[2017-07-31 19:25] sglangevin commented on #1975
This could be included with the navigation redesign. We've been holding all of the navigation updates until then. Once we have a better idea of level of effort, we can determine how to break up that work and whether items such as this one should be part of that or broken off into a separate project.

[2017-07-31 19:33] sglangevin commented on #3497
I've seen these in slack but don't remember which channel they were in.

[2017-07-31 20:56] garethbowen opened #3741 "Monitor bundle size"
Our compiled JS is massive and it's really easy to inadvertently make it more massive by including a bundle that depends on lots of other bundles which are all browserified in. Bloat in our app makes life difficult for users trying to update over poor internet connections.

Find a way to make it more obvious when a change results in a larger bundle size. This shouldn't be a blocker because some ch

[2017-08-01 01:21] garethbowen opened #3742 "accept_patient_reports transition is clearing messages for unrelated registrations"
As described in https://github.com/medic/medic-projects/issues/2584 when accept_patient_reports queries for registrations it uses the `doc.fields.patient_id`. Usually the validations are configured to stop empty patient_ids before they get this far, but if for whatever reason the validation isn't configured then the query returns _all_ registrations in the system. The transition then goes on and c

[2017-08-01 02:02] garethbowen commented on #3742
Code review please @SCdF

This needs to be backported to 2.13.x and 2.12.x

[2017-08-01 08:53] SCdF commented on #2895
@ngaruko I'm guessing you decided it didn't based on your tag change. Let me know if I misunderstood.

[2017-08-01 09:48] SCdF commented on #2935
@ngaruko yeah I think so. Specifically, a deployment of our app using CouchDB 2.0 should work properly with how we use Lucene (we use it to generate certain export stats and the like). However, this is a thing we can do in general when we're ready to support CouchDB 2.0 in production.

http://admin:pass@localhost:5988/api/active-pregnancies

Is an example of one of our endpoints that requires Luce

[2017-08-01 11:48] estellecomment opened #3744 "Test flake : "sms-gateway api - gateway submits new WT sms messages" : "No element found using locator""
[code]
[travis_.txt](https://github.com/medic/medic-webapp/files/1190473/travis_.txt)

[2017-08-01 12:58] SCdF commented on #3740
NB: for 2.12.x I had to manually merge due to ES6 refactoring. Commit here: medic/medic-sentinel@512d460

[2017-08-01 14:52] #3740 closed

[2017-08-01 15:52] #3742 closed

[2017-08-01 15:52] SCdF commented on #3742
Merged and backported to 2.12.x and 2.13.x

[2017-08-01 15:52] SCdF commented on #3740
Merged and backported to 2.12.x and 2.13.x

[2017-08-01 16:08] SCdF opened #3745 "Release 2.13.0-beta.1 once Sharon has deployed 2.12.2-beta.1"
Need to wait until @sglangevin has deployed because we can only have one beta.

_(Can't wait for Horticulturalist to solve this!)_

[2017-08-01 16:15] SCdF commented on #1714
As a security issue even though no one cares enough to fix it we should still keep it around.

[2017-08-01 16:27] SCdF commented on #2085
So listing the forms on the about page is probably a quick 30 minute thing we could just do and get out of the way.

Requiring people add a version to a form seems unrealistic, though in lots of XML forms that I'm aware of you can find a version at `/h:html/h:head/model/instance/*[@version]` so we could just presume it's there.

It doesn't seem too feasible or useful to know if it's up-to-date or

[2017-08-01 16:29] SCdF commented on #2587
Closing this. If it annoys people enough we can take a deeper look at it another time.

[2017-08-01 16:31] SCdF commented on #2684
This is going to be solved by Horti, as it supports deploying branches.

That won't spin up new boxes on AWS or anything like that, but it will allow any branch to be deployed to any server. We can start with some testing instances, and if we need more / need it to be more flexible we can look at that later.

[2017-08-01 16:31] #2684 closed

[2017-08-01 17:39] sglangevin commented on #1714
Yeah, we will get to this one. At the very least, we will include it with our roles & permissions update.

[2017-08-01 20:01] sglangevin commented on #3740
Tested this on 2.12.2-beta.1 and it's working well. Thanks for the quick turnaround on this!

[2017-08-01 20:20] sglangevin commented on #3742
Tested using the same validation that was clearing messages for the affected projects and this is working well. Moving to Ready.

[2017-08-01 20:55] garethbowen commented on #2085
@SCdF I'm not a fan. As I understand it, what the tech lead wants to know is, "is the replication complete?". Forms are one of the most obvious things that could be missing but the ddoc (settings and views), resources, translations, and so on are all critical to replicate too. At best this is a little bit of useless code, at worst this is a false positive that the app is ready to go offline.

This

[2017-08-02 01:06] sglangevin commented on #2085
In practice, we are not using the "version" for xforms. We had been using it earlier on, but we haven't kept up the practice. It's entered manually into the form (for now), and that's why it's been hard to use consistently. It could be useful if medic-configurer set the version to the current date automatically, though that wouldn't capture multiple iterations happening in the same day.

I think a

[2017-08-02 01:24] ngaruko commented on #3481
closing this. Will reopen if it happens again

[2017-08-02 02:24] sglangevin commented on #3745
2.12.2 was released today so we can get back to building a new 2.13.0-beta. Handing it back to you, @SCdF.

[2017-08-02 07:03] henokgetachew commented on #3618
IMO number 4 is the most ideal.  We have had instances in production that have been out of sync with medic-projects.  Unless we do some sort of monitoring, there is no way to be sure about them right now.  If we're not able to do that, I think we should probably make the tool only perform display/import/export but not in-place-editing-and-saving for the configuration values - I realize that makes

[2017-08-02 07:45] SCdF commented on #3618
Number 4 is also (unsurprisingly) the most complicated, time consuming and challenging. To do this securely (IMO) we would have to stop using medic-projects and instead have individual repos (doesn't have to be git or github, just a storage location) for each partner. Otherwise, if one server got compromised they would have access to configuration for every single partner. After getting security r

[2017-08-02 09:57] SCdF commented on #3745
Done.

[2017-08-02 09:57] #3745 closed

[2017-08-02 11:58] alxndrsn commented on #2587
This annoys me every time I run tests locally.  I'll look into it sometime.

[2017-08-02 12:40] derickl commented on #3430
@sglangevin @sglangevin Looks good to me in terms of saving and reloading the form.

@garethbowen: I tried looping through the items selected in the repeat group but it just does not work: using indexed-repeat or concating the nodeset. Curious if this has been attempted before.

[2017-08-02 12:41] derickl commented on #3430
I can raise a separate issue if deemed necessary.

[2017-08-02 14:43] SCdF commented on #3618
Talking to Richard, there are times where they make small changes quickly to test something, like changing the gateway phone number. However, he acknowledges that these changes never make it back into git, and will be lost.

Our current app settings are unfortunate in this regard, as we have all settings smushed in with all others in one large blob, which requires an app re-deployment on every cha

[2017-08-02 15:27] SCdF opened #3747 "Horticulturalist local mode"
We want to be able to use Horticulturalist on local machines.

It should be very little effort to use. Perhaps an npm package. Perhaps checking out a repo and running a script. Someone who isn't too familiar with coding should be able to run it though.

[2017-08-02 17:02] SCdF opened #3749 "Pull out and merge horticulturalist upgrade UI"
Get the upgrade UI code production ready.

Wrap it in some code so we can get it into master, but have it disabled until we're ready to use it.

[2017-08-02 17:45] alxndrsn commented on #3747
[code]

Modify/remove env vars as required.

[2017-08-02 18:27] sglangevin commented on #3430
@derickl can you explain in more detail what it is that you are trying to do? It's unclear whether it's the same issue or a new one.

[2017-08-02 19:26] sglangevin opened #3752 "Breadcrumbs in Reports tab display UUID for top-level place in the hierarchy"
Possibly related to #3723. Needs to be fixed before we release 2.13.0.

To reproduce, log in as a restricted user and go to the Reports/History tab. You'll see something similar to the below (screenshot is from standard.app, v2.13.0-beta.2):
![image](https://user-images.githubusercontent.com/1286381/28890892-7bfcc764-777d-11e7-951d-3027df4ebafc.png)

[2017-08-02 19:44] sglangevin commented on #3723
Fixed in 2.13.0-beta.2. Moving to ready.

[2017-08-02 19:45] sglangevin commented on #3727
Fixed in select2 in 2.13.0-beta.2. Moving to ready.

[2017-08-02 19:52] sglangevin commented on #2912
@ngaruko can you confirm whether or not you did AT? In the meantime, I'm going to set this back to to acceptance testing as I'd like to make sure it's working as intended before we release the feature.

[2017-08-02 19:53] sglangevin commented on #3593
Working well in v2.13.0-beta.2. Moving to ready.

[2017-08-02 19:55] sglangevin commented on #3615
Working well in v2.13.0-beta.2. Moving to ready.

[2017-08-02 19:57] sglangevin commented on #3413
It's testable on any instance, you just have to create the right type of form to do the testing. I can take this one for AT.

[2017-08-02 20:16] sglangevin commented on #3419
This is working for the auto-reply but not for the scheduled reminder messages. Screenshot from standard.app:
![image](https://user-images.githubusercontent.com/1286381/28892955-963c2e92-7784-11e7-8012-ad993ffc2336.png)

I've changed the translations so that the reminder schedule uses `person.name` instead of `patient_name` but that didn't seem to help. Am I missing something on the config side? A

[2017-08-02 21:30] garethbowen commented on #3618
Most little things can be done via the Configuration tab (eg: "gateway phone number" is in Configuration > Settings > Basic). Anything that needs to be changed frequently should be added to the Configuration tab somewhere. This solves the dashboard corrupting the settings issue, but doesn't address the settings not being committed issue.

Closing this issue would suit the dev team, but I want to m

[2017-08-02 21:39] sglangevin commented on #3465
Much improved in v2.13.0-beta.2. Moving to ready.

[2017-08-02 21:41] sglangevin commented on #3646
Working well in v2.13.0-beta.2. Moving to Ready.

[2017-08-02 22:12] sglangevin opened #3753 "Error when viewing person profiles in Nepali or Bambara that prevents configurable profile cards from appearing"
For some reason, this only applies to Nepali and Bambara. Other languages (French, Spanish, Hindi, Swahili) are working normally.

To reproduce:
1. Log in as a full access user
1. Change your language to Nepali
1. Navigate to any person's profile page
1. See that the profile cards do not appear

Missing profile cards:
![image](https://user-images.githubusercontent.com/1286381/28897262-c23af6b2-779

[2017-08-02 22:15] sglangevin commented on #3469
These look much better in 2.13.0-beta.2!

[2017-08-02 22:18] sglangevin commented on #3753
Not sure if this is related, but I also cannot access any actions on the profiles when I'm logged in as a user with locale set to Nepali. The action button is grayed out.

[2017-08-02 22:23] sglangevin commented on #3404
Tested this on 2.13.0-beta.2. The date-picker itself seems to be working well. However, we now have an issue with the form because we are validating for dates that are within the last 42 weeks when we're entering LMP. Is there a way of converting from Bikram Sambat date back to Gregorian date in the form? Without that, I'm not sure how to proceed. I don't know if it's possible to change or remove

[2017-08-02 22:51] sglangevin opened #3754 "No contact found, no reports when upgrading from v2.12 to v2.13"
After updating from 2.12 to 2.13 on mobile (restricted user), I got errors in the console, "No contacts found" on the people tab and "No reports" on the Reports tab. Refreshing and logging out and back in didn't resolve the errors. This seems to only apply to users who are updating. Logging in to an instance already on 2.13 gave some similar errors, but they appeared to be resolved as the app load

[2017-08-02 23:59] sglangevin commented on #3413
Trying to AT this and am struggling to find a way to create my XLS Form such that it creates the correct XML. The only way I know of to generate a secondary instance from an xlsform is to do something similar to cascading selects. However, that seems to create a secondary instance for every choices list that I have.

@garethbowen do you have any pointers on how I can achieve the correct XML when I

[2017-08-03 00:13] garethbowen commented on #3413
No idea sorry. @alxndrsn Thoughts?

[2017-08-03 00:44] sglangevin commented on #2912
I've tried testing this using identical XML and the field that should contain the id of the child doc (new doc being generated by the form submission that is not the data_record) is not being populated. Are there any other tricks I'm missing? Also, xlsforms can't be converted if the calculate column is left blank as it @abbyad's example above. I tried adding various things there as well as manuall

[2017-08-03 01:20] sglangevin commented on #3513
Testing on Android, I'm still getting the normal Android date-picker (Gregorian calendar). Was I supposed to change the phone language to Nepali? Please advise on how to test this @alxndrsn.

[2017-08-03 05:56] henokgetachew opened #3755 "Monitor if any of our DNS entries points to an IP that's not owned by us"
Elastic IPs get taken by others after we release them.  If we still have DNS entries that point to those old elastic IPs, it means our dns entry will go to another site owned by someone else.  We need to routinely monitor our dns entries and whether the IPs they point to are owned by us.

[2017-08-03 06:20] ngamita commented on #3618
@garethbowen i agree that we can make the dashboard app settings READONLY but we should keep the export feature as we at most cases don't have the latest versions on github to work with. For the import we now all understand that the dashboard corrupts the file and are now doing this through the script. So for the near future we can work with this only problem is the versioning will still be depend

[2017-08-03 06:20] derickl commented on #3430
@sglangevin I wanted to loop through the items created in the repeat and list them on the summary page

[2017-08-03 06:46] derickl commented on #3413
I tried this yesterday afternoon and hit a brick wall (thought I was going crazy :))

[2017-08-03 11:03] alxndrsn commented on #3513
I'll look into this further!

[2017-08-03 11:04] alxndrsn commented on #3413
@abbyad may know.

[2017-08-03 11:07] alxndrsn commented on #2912
@sglangevin what version of `pyxform` are you using?  Can you share your XLS file and we can try again from this end?

[2017-08-03 11:09] alxndrsn commented on #3404
@sglangevin bikram datepicker is display-level only, so the underlying data format should still be the same as normal.  If validation appears to be affected, please send me the affected form and I will work out what's going on.

[2017-08-03 16:05] alxndrsn commented on #3405
BS calendar is enabled **_PER BUILD_**.  This is currently adequate according to Nepal team.

There are no build flavours configured for Nepal collect builds that I can find, but to enable the date format when building, set the env var `BIKRAM_SAMBAT=true`.

[2017-08-03 16:15] sglangevin commented on #2912
@alxndrsn I'm using whatever is the latest version from Medic's fork, I believe it's 0.9.22. I'll send you the XLS file on Slack.

[2017-08-03 16:21] sglangevin commented on #3413
@abbyad is out until next Friday, so if there is any way to move forward on this before he is back, that would be better.

@alxndrsn I did a bunch of googling and couldn't find any useful sections of the enketo/odk docs yesterday, but I'll give it another shot today to see if I can figure it out. I can also test a form with XML that I create manually, just to be sure that the feature is working as

[2017-08-03 16:28] SCdF commented on #3749
@garethbowen / @alxndrsn please take a look at the two linked PRs

[2017-08-03 16:56] alxndrsn opened #3756 "Update medic's pyxform fork inline with upstream and push relevant new features back"
1. determine what the upstream repo should be (likely https://github.com/xlsform/pyxform; possibly https://github.com/uw-ictd/pyxform)
2. understand medic's added features
3. write tests for medic-specific features into `medic-configurer`
4. rebase medic's `pyxform` onto upstream
5. share any general new features we implemented upstream (refactor as required)

[2017-08-03 17:17] alxndrsn commented on #3408
I didn't have time to refamiliarise myself with the original ticket, and the information about motivation here seems sparse.  I would like to fully consider whether this is useful, in line with discussions about the protocol and recent work on the server-side by @SCdF.  But if we _do_ want to achieve this, PR at https://github.com/medic/medic-gateway/pull/113

[2017-08-03 18:59] sglangevin commented on #3404
Turns out the Standard forms had a small bug which has now been fixed. Moving this to ready.

[2017-08-03 19:06] sglangevin commented on #2912
@alxndrsn was able to help me get this up and running this morning (thanks!) and I'll work today to get things working a little better. The doc was created but I need to work out how to make sure I'm generating the right fields and getting the person into the right place in the hierarchy. I'll report back.

I'm also going to file a bug because the child doc should be getting a reported_date added

[2017-08-03 19:17] sglangevin commented on #3430
@derickl you probably can't loop through but you can access values from each repeat group if you use the correct xpath. What is the maximum number of people that a manager can input? If you know that, you can use xpath to access the value for each repeat group (1, 2, 3, etc.). There may also be a way to do that if you know how many people a manager is going to select - you can decide how many time

[2017-08-03 23:15] garethbowen commented on #3237
This needs design input before we can proceed any further so I'm removing this from the milestone.

[2017-08-07 00:03] ngaruko commented on #3703
Rare scenario as Gareth mentioned. But @sglangevin  are you able to AT this now that we have a couple of bites of data on alpha.dev?

[2017-08-07 00:14] ngaruko commented on #3625
LGTM. Please @abbyad have a second look and let us know if that is want the UI should look like.

[2017-08-07 05:01] abbyad commented on #3625
Testing on 2.13.0-beta.2, I got a prompt to reload the app which was expected on first load since it was updated. The proper number of forms are shown here (_the Collect is submitted same as Textforms, so it is expected that form 3 from the OP is also missing_):

![image](https://user-images.githubusercontent.com/789512/29012502-0d225440-7b0a-11e7-9d66-15c2bb414c3b.png)

I then got another prompt

[2017-08-07 08:19] garethbowen commented on #3625
@abbyad To get the form to be hidden you have to update the form's context so `{ context: { collect: true } }`. Neither of those delivery forms had collect set on their context and when I set it as above the form disappeared as expected. Does this match your expectation?

[2017-08-07 11:57] SCdF commented on #3419
Looking into this now. It looks like there are multiple entry points for templating a message and I didn't catch them all. I'll look at cleaning that up

[2017-08-07 12:27] SCdF opened #3757 "Sentinel doesn't survive startup"
[code]

[2017-08-07 13:45] SCdF commented on #3757
@garethbowen https://github.com/medic/medic-sentinel/pull/154

Does this make sense to you? I'm not really sure if this is the right way of fixing this, if we're even happy with this situation etc.

[2017-08-07 21:02] garethbowen commented on #3757
Looks good. Needs a unit test. It should also be backported to `2.13.x` so I've added this issue to the project.

[2017-08-07 21:38] garethbowen commented on #3719
NB: All the heights above are to be `min-height` allowing for the content to overflow if required.

[2017-08-07 21:40] garethbowen commented on #3720
It should be fairly straightforward to add an `icon` property to the `field` emitted from the configuration. This `icon` can reference one of the configured icons in resources.

[2017-08-07 21:47] garethbowen commented on #3732
@sglangevin @amandacilek Should unread reports have a yellow border in the top right too? Currently unread reports and messages are styled consistently and it'd be nice to keep the style consistent.

[2017-08-07 21:51] amandacilek commented on #3732
I was thinking unread reports would be treated identically to unread
messages (meaning the line in upper right would be blue).

Amanda Cilek | Interaction Designer
Medic Mobile <http://www.medicmobile.org/>  +1 319 530 6830
@*M*edic <http://www.twitter.com/medic>  Facebook
<https://www.facebook.com/MedicMobile>

On Mon, Aug 7, 2017 at 2:47 PM, Gareth Bowen <notifications@github.com>
wrote:

[2017-08-07 21:53] garethbowen commented on #3732
Thanks @amandacilek . I realised it's covered in another issue, so I deleted my comment.

[2017-08-07 22:09] sglangevin opened #3758 "Title of form is misaligned in list of reports and reports detail pane"
Seen on v2.13.0-beta.2. The form title is aligned with the icon but should actually be aligned with the other rows of text. Happening on both the LHS and RHS:

LHS:
![image](https://user-images.githubusercontent.com/1286381/29047773-2f70a0d8-7b82-11e7-8970-96879622089c.png)

RHS:
![image](https://user-images.githubusercontent.com/1286381/29047780-384c5468-7b82-11e7-844c-360d3b5f7fc4.png)

[2017-08-07 22:57] sglangevin commented on #2912
Got this working on v2.13.0-beta.2, at least for registering a newborn from a PNC form, which was the original use case for this issue. It's awesome that we're able to link to the report that created the person, too - @michaelkohn will be happy. Moving to ready!

[2017-08-07 23:02] sglangevin opened #3760 "When a report creates an additional doc, that doc should have a `reported_date` added automatically"
With #2912 implemented, we now have the ability to create additional documents when a form is submitted. However, these additional documents do not have a `reported_date` and a `reported_date` is required in order for them to be replicated to the server. This can be worked around by putting in a field called `reported_date` but then it has a date that is not in the correct format.

We should corre

[2017-08-08 01:14] sglangevin commented on #3413
Update: I've tested and this is working with the syntax that Gareth provided. I've also managed to get close to the right syntax in XLSform to make this work. However, I am creating the second instance the same way it would be done for cascading selects and I am pretty sure I'm running into the same bug as #3624. I've done a bunch of research and I can't find any other documentation on how to crea

[2017-08-08 07:12] garethbowen commented on #3511
Code review please @alxndrsn (four PRs, one in each of webapp, api, sentinel, and android).

I haven't tested the android app as I don't have a simprints device - if you've got one running a quick test on this branch would be really useful.

The main change IMO was using APIs for communication between the webapp and the android container rather than injecting straight into the DOM. The rest is jus

[2017-08-08 08:51] SCdF opened #3762 "Re-write permissions data structure to be object properties instead of an array to avoid duplicates"
Currently our permissions are stored something like this:
[code]

This causes us problems periodically because it allows for the same permission to appear more than once. A better data structure would be one that enforces this rule:

[code]

[2017-08-08 08:52] SCdF commented on #3251
I'm closing this in favour of a just raised ticket for changing the data structure: https://github.com/medic/medic-webapp/issues/3762

[2017-08-08 08:52] #3251 closed

[2017-08-08 10:43] SCdF commented on #3757
Added a test, merged to master, merged to 2.13.x here: medic/medic-sentinel@f7dd2d0

[2017-08-08 11:32] SCdF commented on #3419
Fixed for scheduled messages, see: https://github.com/medic/medic-sentinel/pull/156

[2017-08-08 15:30] estellecomment commented on #3419
Couple nits, but LGTM!

[2017-08-08 22:41] garethbowen commented on #3758
@sglangevin I think this is how it was in previous versions too. The problem is we don't know the size of the icon so we can pad out the content correctly. Can this be put off until #3735 (and the related issues) are fixed in 2.14 and can do it properly?

[2017-08-08 22:47] garethbowen commented on #3754
The only way I can see this happening is...

1. app cache is updated and user is prompted to refresh which they dutifully do immediately and before the ddoc replication has finished.
2. The app loads and immediately tries to execute code that relies on the latest version of the ddoc which throws the exception you're seeing.
3. The exception causes the replication to not start which means the ddoc

[2017-08-08 22:48] sglangevin commented on #3758
Here are some screenshots from 2.11.3:
![image](https://user-images.githubusercontent.com/1286381/29097843-e947a992-7c50-11e7-8389-c648cd24f578.png)

![image](https://user-images.githubusercontent.com/1286381/29097848-ef8394d8-7c50-11e7-8c0c-6deef4ad98f5.png)

Did something in the code change? The icons look to be the same size to me. I'm not opposed to waiting, just wondering why this looks diffe

[2017-08-08 23:28] garethbowen commented on #3760
Code review please @SCdF

[2017-08-08 23:28] garethbowen commented on #3760
Requires a backport...

[2017-08-08 23:38] garethbowen commented on #3753
For some reason when the "contact.profile" translation is missing it's thrown an error rather than just logging a warning like usual. The workaround is to provide this translation, but I'll work out how to get it to go back to just warning.

This may be related to #3473

[2017-08-08 23:40] garethbowen commented on #3753
I think there's a difference between `null` and empty string which might be why I had a hard time reproducing #3473 - empty string works perfectly, but `null` blows up.

[2017-08-09 01:33] garethbowen commented on #3753
Code review please @SCdF

[2017-08-09 01:57] garethbowen commented on #3752
This also affects messages (and probably other places too).

The issue is the top of the hierarchy is above your replication level so the place isn't in your db so you can't work out what the name is. The solutions I can think of are...

1. Don't show any places you can't see in the list. In your example you'd only have "Toronto Health Center" in the list. This is what we do currently on the repor

[2017-08-09 06:31] henokgetachew opened #3767 "Look for couch2pg errors in the logs and report them to slack"
These could be errors related to authentication, or errors when refreshing materialized views etc.  In general those errors that don't cause the adapter to crash but disrupt functionality nonetheless.  As reported by @michaelkohn.

[2017-08-09 07:34] SCdF commented on #3760
LGTM @garethbowen, back to you for merging / back porting

[2017-08-09 07:42] SCdF commented on #3753
PR LGTM, merged.

[2017-08-09 08:13] SCdF opened #3768 "Check for npm audit vulnerabilities in automated builds and fix existing vulnerabilities"
Integrate NSP with grunt and fix existing security issues.

[2017-08-09 08:21] SCdF commented on #3768
Integration is done. Need to work through existing issues.

Note that we can whitelist issues if we're OK with them by using an `.nsprc` file to add exceptions.

[2017-08-09 08:35] SCdF commented on #3419
Merged into master and 2.13.x.

[2017-08-09 08:35] #3419 closed

[2017-08-09 10:41] garethbowen commented on #3760
Merged, backported, ready for AT.

[2017-08-09 10:41] #3760 closed

[2017-08-09 10:41] garethbowen commented on #3753
Backported to 2.13.x

[2017-08-09 13:26] SCdF commented on #3768
So running NSP on our three major codebases reveals the following:

 - in Api and Sentinel, `follow` `0.12.1` (the latest) uses a couple of libraries (`request` and `hawk`) which have 5.3 / "Medium" CVSS scores. Follow is referenced both directly and through nano (latest).
 - In webapp, nools uses an old version of uglify-js which has a 5.3 / "Medium" CVSS score

In the case of `follow`, the proje

[2017-08-09 18:06] abbyad commented on #2994
Just noting that we are running into this now while getting a 500 setting up Collect for Standard.

It would be useful to get more info from the 500, since falling back on accessing logs means longer turnaround for fixes because it depends on tech lead or dev team to investigate.

[2017-08-09 18:08] abbyad commented on #3330
Duplicate of #2994?

[2017-08-09 20:45] ngaruko commented on #651
Any clues @abbyad on how to AT this?

[2017-08-09 20:47] ngaruko commented on #2047
Do we need to AT this @mandric ?

[2017-08-09 20:52] ngaruko commented on #2670
I guess this has to do with phone settings. Is anyone able to confirm with LG phones if that's the case so we can close this @Enock1990 ? @sglangevin

[2017-08-09 20:56] ngaruko commented on #2780
Has this been tested @michaelkohn and @derickl ?

[2017-08-09 21:01] garethbowen commented on #3768
I think the pragmatic approach is to mute all the advisories we can't easily fix and then use nsp on build. This will at least warn us of any _new_ vulnerabilities. Then raise issue(s) to fix the known issues.

[2017-08-09 21:11] garethbowen commented on #3330
Looks like it, good catch. Closing.

[2017-08-09 21:11] #3330 closed

[2017-08-09 21:11] garethbowen commented on #2994
Scheduling - this is a PITA.

[2017-08-09 21:12] ngaruko commented on #3166
Any clue on how to AT this @abbyad ?

[2017-08-09 21:30] sglangevin commented on #2994
@garethbowen do you also have some time to look into the issue from medic-projects that is referenced? The partner is planning to do training this weekend and is blocked by that bug (https://github.com/medic/medic-projects/issues/2626)

[2017-08-09 23:12] abbyad commented on #3166
Has this already been released?

[2017-08-09 23:44] garethbowen commented on #3752
The linked contacts change means the only lineage information that's stored on the doc is the UUID. That means to display the name you have to also replicate the doc that's referenced by that UUID. The replication model only ever looks down the tree, not back up. But I _think_ it makes sense to replicate below, but also directly above your facility, so you can see you're part of District A.

If yo

[2017-08-09 23:44] ngaruko commented on #3405
Is this easily testable on test instances @sglangevin ?

[2017-08-09 23:46] sglangevin commented on #3752
Ok, got it. What happens if CHWs replicate the places above them in the hierarchy? Do they see those places in their list of contacts?

[2017-08-09 23:53] garethbowen commented on #3752
Yeah they will. I think the default view will still be your home place and its direct children, but if you search for the district you will see it. You'd probably also be able to edit it, maybe submit forms, create new health centres, etc... maybe it's not such a good idea.

[2017-08-09 23:54] sglangevin commented on #3752
Yeah, that's exactly what I was thinking. I think it's more complicated than it sounds. Let's start with option 1 and we can then take some time to figure out an approach for option 3 when it is needed.

[2017-08-09 23:55] garethbowen commented on #3752
Deal.

[2017-08-10 00:46] sglangevin opened #3769 "If primary contact of a place was deleted, the UUID is listed in the list of places"
![image](https://user-images.githubusercontent.com/1286381/29149669-904caf2e-7d2a-11e7-9aa3-05a3b6e92eeb.png)

If the primary contact was deleted, or is deleted, this should say "Primary contact: none" instead of listing the UUID.

[2017-08-10 00:55] sglangevin commented on #3419
Working well in 2.13.0-beta.3. Moving to ready!

[2017-08-10 01:04] ngaruko commented on #3430
Will move this to ready and if the 'looping through' that @derickl mentioned is an issue, we might need to raise a new one.

[2017-08-10 01:06] sglangevin commented on #3625
This is working well in v2.13.0-beta.3 (I didn't test beta.2). Moving to Ready.

[2017-08-10 01:08] #3625 closed

[2017-08-10 02:00] garethbowen opened #3770 "data.hasOwnProperty is not a function"
The `/api/v1/records` API is broken and always returns a 500 error with the following stack:

[code]

This is caused by the fact that the given data is parsed from the request body and [isn't a real object](https://github.com/expressjs/express/issues/3264) so it doesn't have the `hasOwnProperty` function.

This was reported here: https://github.com/medic/medic-projects/issues/2626

This will need

[2017-08-10 02:38] ngaruko commented on #3635
Were you able to AT this @michaelkohn ?

[2017-08-10 04:03] garethbowen commented on #3770
Introduced by https://github.com/medic/medic-projects/issues/2480

[2017-08-10 04:10] garethbowen commented on #3770
Code review please @SCdF

[2017-08-10 04:24] garethbowen commented on #3758
Introduced with the list item text wrapping change in #3525

[2017-08-10 04:31] garethbowen commented on #3758
Code review please @SCdF

[2017-08-10 04:31] garethbowen commented on #3758
This is to be backported to 2.13.x

[2017-08-10 06:24] Enock1990 commented on #2670
@ngaruko what LG does is set up phones from the HQ. They also lock the settings with a password so that the CHPs don't temper with the settings.

[2017-08-10 08:36] SCdF commented on #3770
Merged into master, 2.12.x and 2.13.x, and created a 2.12.4-beta.1 release: https://travis-ci.org/medic/medic-webapp/builds/262993429

[2017-08-10 08:55] SCdF commented on #3749
OK so after reading @garethbowen 's feedback and thinking for a bit, here is what I think I'd need to do to satisfy this:
 - _(implicit in all this is the various bug avoidances and style changes, I just want to go over the main logic beats)_
 - Define a namespace convention for ddocs, where `medic/_design/medic` can be converted to a ddoc name, with version, perhaps `medic:medic:branchOrTagName`

[2017-08-10 08:59] SCdF commented on #3770
Beta has been release.

[2017-08-10 08:59] #3770 closed

[2017-08-10 09:27] garethbowen commented on #3749
It pretty much has to be when api copies it if you want to capture the user, right?

As late as possible, ie: when horti copies the ddoc from staging.

Hardcoding is fine wherever it doesn't back us into a corner later. I have no clue how to make restarting generic...

The problem with leaving the builds db the way it is now is you will likely end up with a chicken and egg problem - the webapp won

[2017-08-10 10:52] garethbowen commented on #3754
I can reproduce these symptoms if I manually disable replication so the appcache (app code) gets updated but the database (views) does not. But as soon as I turn replication back on and refresh the app it works as expected.

@sglangevin Have you tested more than one device, and if so, does this happen every time? Was this tested in the app or a browser? Is it possible you ran out of space on the p

[2017-08-10 11:09] SCdF commented on #3749
I disagree, but I can commit!

Perhaps a minimum set then, is to just change the naming scheme and views
and leave the rest of it. Then the "API" of the staging db is future proof,
and it's unlikely they location of updates will change.

On 10 Aug 2017 10:27 am, "Gareth Bowen" <notifications@github.com> wrote:

[2017-08-10 14:13] SCdF commented on #3768
Interestingly enough I email NPM about it, and someone from their cli team actually took a crack at building something for us that may do the job:  https://github.com/iarna/replace-deep-dep

Haven't had a play yet, but I think it's worth checking out.

[2017-08-10 20:56] garethbowen commented on #3749
That sounds like a great compromise. We can update the webapp side whenever.

[2017-08-10 23:09] garethbowen commented on #3754
From Sharon:

[2017-08-10 23:26] ngaruko commented on #3246
Do we need to AT this @alxndrsn @sglangevin @mandric ? Any clue how?

[2017-08-10 23:33] ngaruko commented on #2670
Thanks @Enock1990 I guess originally this issue was about 'Store GPS failure'. If there are some other GPS detection/reporting issues, I think we will need another ticket to avoid confusion. I will move this to 'ready' unless there is a different opinion @sglangevin @Enock1990

[2017-08-10 23:37] ngaruko commented on #3096
Any clue on how to AT this @sglangevin ?

[2017-08-10 23:56] garethbowen commented on #3752
Code review please @SCdF . The PR also resolves #3769 .

This needs to be backported to 2.13.x

[2017-08-11 05:02] mandric commented on #3246
I'm not sure, I think this has been released already so it doesn't require AT?

[2017-08-11 05:04] mandric commented on #2047
I don't think so because it's over a year old?

[2017-08-11 08:36] alxndrsn commented on #3511
@garethbowen without simprint hardware device, you can test with this android app: https://github.com/alxndrsn/mocksimprints

[2017-08-11 09:18] SCdF commented on #3752
Merged, backported to 2.13.x

[2017-08-11 09:18] #3752 closed

[2017-08-11 09:19] SCdF commented on #3769
Merged and backported to 2.13.x

[2017-08-11 09:19] #3769 closed

[2017-08-11 09:38] SCdF commented on #3758
Merged, backported to 2.13.x

[2017-08-11 09:38] #3758 closed

[2017-08-11 11:55] alxndrsn commented on #3511
If the webapp PR is at https://github.com/medic/medic-webapp/pull/3510, please rebase onto master for review.

[2017-08-11 12:23] alxndrsn commented on #3096
@ngaruko there's a demo Xform in the `demo-forms` directory in `medic-webapp` which should help.

[2017-08-13 22:34] ngaruko commented on #3416
Any clues on how to AT this @sglangevin @estellecomment  ?

[2017-08-13 22:39] ngaruko commented on #3413
So, we can safely mark this as 'ready' and leave the XLSForm issue to be dealt with by #3624. Right @sglangevin ?

[2017-08-13 23:43] garethbowen commented on #3511
Thanks @alxndrsn - I've made some of the changes from your code review and queried some of the others. Can you please review these again?

https://github.com/medic/medic-webapp/pull/3774
https://github.com/medic/medic-android/pull/37

[2017-08-14 00:12] sglangevin commented on #3413
No - this is not yet working so we can't move it to Ready.

[2017-08-14 04:00] garethbowen commented on #3754
While I couldn't reproduce the issue, the uncaught error is a problem. We are actually catching it properly so it's another case of this issue: https://github.com/pouchdb-community/worker-pouch/issues/15

The PR patches the uncaught exception error which might have been causing this problem. This will need extensive testing to determine if it fixes the issue.

@sglangevin If it happens again while

[2017-08-14 04:17] garethbowen commented on #3672
@mandric @henokgetachew So this can be closed now, right?

[2017-08-14 04:55] ngaruko commented on #3371
Any clue on how to AT this @estellecomment ?

[2017-08-14 08:15] SCdF commented on #3754
Merged!

[2017-08-14 08:16] SCdF commented on #3754
Acccccctually should I be closing this ticket? I just noticed it's not labeled code review. Is this PR only part of the solution?

[2017-08-14 08:51] garethbowen commented on #3754
Backported to 2.13.x. Closing for further testing and reproducing...

[2017-08-14 08:51] #3754 closed

[2017-08-14 10:22] garethbowen opened #3776 "Update npm dependencies"
The `2.13.x` branch has been taken so now is the perfect time to bump all our dependencies again.

- [x] api
- [x] sentinel
- [x] webapp

[2017-08-14 11:58] alxndrsn commented on #3459
Support added in [enketo 4.35.0](https://github.com/enketo/enketo-core/blob/250bb5b91949a98949f7ac14c0c8cc1077203591/CHANGELOG.md#4350---2017-05-26), so we should now be able to support this to.

[2017-08-14 13:31] SCdF commented on #3749
Builds repo PR: https://github.com/medic/medic-builds-repo/pull/1

[2017-08-14 14:07] derickl commented on #2635
@garethbowen does this change affect how will be accessing nested elements from within an xform? If yes, what is the suggested way?

[2017-08-14 18:40] michaelkohn commented on #3635
@ngaruko nope, but I'll try to schedule some time with @sglangevin this week to go through it, especially now that #3678 is done as well.

[2017-08-14 21:50] sglangevin commented on #3752
Looks good in 2.13.0-beta.4. Moving to Ready.

[2017-08-14 21:51] sglangevin commented on #3758
Looking good in 2.13.0-beta.4. Moving to Ready.

[2017-08-14 21:51] sglangevin commented on #3769
Working well in 2.13.0-beta.4. Moving to Ready.

[2017-08-14 22:00] sglangevin commented on #3753
@garethbowen everything is working except for person profiles in Nepali. I'm not sure what the issue is.

Missing profile info:
![image](https://user-images.githubusercontent.com/1286381/29293724-ef4c46d6-8100-11e7-8375-fde0f30fd36f.png)

![image](https://user-images.githubusercontent.com/1286381/29293749-0ba0d018-8101-11e7-9409-fa1b3d4e1c1f.png)
![image](https://user-images.githubusercontent.com/

[2017-08-14 22:19] sglangevin commented on #3760
Working well in 2.13.0-beta.4. Moving to ready.

[2017-08-14 22:47] ngaruko commented on #3166
Looks like it has been release @abbyad....

[2017-08-14 23:03] ngaruko commented on #3437
Judging from the discussion above, I would like to check with @abbyad and @sglangevin if a)the replication now works as expected b) there aren't any other 'side-effects' (like too much data being send to supervisors).

[2017-08-14 23:53] garethbowen opened #3778 "User meta database creation fails if user has invalid characters"
In #2418 we decided to store read status docs in a user specific database so we wrote a migration to create the databases and all the docs. Unfortunately some existing usernames have characters that are invalid for database names which causes the migration to fail, for example, 9 users on lg-kenya have a trailing "." which causes the following exception:

[code]

Migrating users off their username

[2017-08-14 23:57] sglangevin commented on #2635
Yes, this will affect that. You'll be able to access any fields about the selected contact the normal way. For any fields you're using from the `parent`, you'll need to pull those field via the contact-summary and make them available to the form, the same way you'd be making any other data available to the form via contact-summary. I'm planning to write up some info about this for projects that ar

[2017-08-15 00:22] garethbowen commented on #3753
Code review again please @SCdF

This needs to be backported to 2.13.x and the webapp submodule updated.

[2017-08-15 00:28] ngaruko commented on #3674
LGTM. Returns `{"success":false,"code":400,"error":"Request body must be valid JSON"}`

[2017-08-15 00:31] garethbowen commented on #3513
Back to you @alxndrsn

[2017-08-15 00:32] ngaruko commented on #3642
Are we able to AT this @alxndrsn @abbyad  and to check that as @estellecomment suggested we are not 'breaking existing Collect instances'? and tech leads are notified @henokgetachew @Enock1990

[2017-08-15 00:35] sglangevin commented on #3642
It may not be a big issue because most projects aren't downloading forms from the instance. That is changing currently, though, so we'll need to write up some information for tech leads.

@ngaruko this can be tested using the Standard version of Collect that was just released. I'm responsible for writing up documentation for tech leads.

[2017-08-15 01:57] garethbowen opened #3779 "Replace default configuration with standard"
The [standard configuration](https://github.com/medic/medic-projects/tree/master/standard) has been developed to be used by most project as a starting point so it makes sense to have it run out of the box. This would also mean developers and testers are working in a production-like environment. This includes the app settings, report forms, contact forms, icons, translations, etc.

- [ ] Remove the

[2017-08-15 02:07] abbyad commented on #3779
This is a great idea, and would also be very helpful for managing versions of the the Standard config.

[2017-08-15 02:37] ngaruko commented on #3725
Does this need AT @estellecomment ?

[2017-08-15 07:27] SCdF commented on #3166
Yes this has been released, looks like 2.11.1. However, it hasn't been AT'd ;-)

[2017-08-15 07:50] SCdF commented on #3753
Merged and backported.

[2017-08-15 07:50] #3753 closed

[2017-08-15 14:48] #3513 closed

[2017-08-15 20:41] abbyad commented on #2635
The lineage in the contact-summary for places and people does not work on an instance upgraded to `2.13.0-beta.4`. Normally the parent places are listed as links in the **Belongs to** field.

![image](https://user-images.githubusercontent.com/789512/29335300-2d97da54-81d8-11e7-90d7-3f20e6e27a36.png)

[2017-08-15 21:05] sglangevin commented on #2635
@abbyad I tested that and it was working in beta.3, perhaps this regressed?

[2017-08-15 21:05] sglangevin commented on #2635
You have to change the configuration of your contact-summary for it to work.

[2017-08-15 21:11] abbyad commented on #2635
Is the only change to have `return result;` instead of just `result;` at the end?

[2017-08-15 21:13] sglangevin commented on #2635
No. You also have to update the "Belongs to" field.

`label: 'contact.parent', value: lineage, filter: 'lineage'`

[2017-08-15 21:15] sglangevin commented on #3754
I've tried testing this again but am blocked by #3778 for now. I know that's being worked on currently. Once there is a fix in place, I'll proceed.

[2017-08-15 21:33] abbyad commented on #2635
Aha, the value of `value` changes from `contact.parent` to `lineage` . Works now.

Is everything else sufficient acceptance tested to move back to Ready?

[2017-08-15 21:34] sglangevin commented on #2635
Yeah, I think so. I've done a fair amount of testing already and filed several bugs which have been fixed that are related to this change.

[2017-08-15 21:35] abbyad commented on #2635
Ok, closing and returning to Ready.

[2017-08-15 21:35] #2635 closed

[2017-08-15 22:36] abbyad commented on #3715
I can get the transition to run, but with some minor issues.

The config from the [documentation](https://github.com/medic/medic-docs/blob/d49a12adf6ae6219325a979b819245dc4bb789b9/configuration/transitions.md#multi_report_alerts) fails:

[code]

Trying to resolve it I encounter the following:
1. The fields are in camel case, but the transition expects those fields in snake_case.
1. The settings ar

[2017-08-15 23:27] sglangevin commented on #3703
@garethbowen now the menu has a scrollbar in it, but only on desktop. On mobile it stretches to fit everything and looks good. Can the hamburger menu be taller on desktop to avoid the scrollbar?

![image](https://user-images.githubusercontent.com/1286381/29340930-754ca55c-81d6-11e7-8e68-1237baec6097.png)

[2017-08-15 23:45] garethbowen commented on #3703
The menu has a max height of 350px. I can change this to a max-height of 80% of the screen. If we remove the max-height altogether then there's no way to see the sync status if it's pushed below the fold.

Does that work for you @sglangevin ?

[2017-08-15 23:47] sglangevin commented on #3703
Yeah, that should work. Let's try it.

[2017-08-16 00:28] #3703 closed

[2017-08-16 00:28] mandric commented on #651
@ngaruko you would need to setup the right form and confguration and then send in some test messages.  Check out this comment, there is a snippet of validation configuration here that you could use as an example if you wanted to AT this. https://github.com/medic/medic-webapp/issues/651#issuecomment-66848358  If there isn't tests covering this there probably should be.

[2017-08-16 02:01] garethbowen commented on #3778
Relevant [couchdb documentation](https://wiki.apache.org/couchdb/HTTP_database_API#Naming_and_Addressing).

[2017-08-16 08:46] estellecomment commented on #3715
Great feedback, thanks @abbyad ! On it.

[2017-08-16 08:51] estellecomment commented on #3371
Migration should run, including on large data sets (but with all the migrating we've been doing recently, that's probably fine)
For the error reporting, you'd have to make bulk-edit fail on the db... We're probably fine with the unit test.
Moving to Ready.

[2017-08-16 08:53] estellecomment commented on #3725
Try to run with `num_reports_threshold` >= 100, check it doesn't work

[2017-08-16 09:44] estellecomment commented on #3631
Doesn't really need AT.

[2017-08-16 09:51] ngaruko commented on #3725
Awaiting #3715 .... Are you able to test this at the same time when #3715 gets done @abbyad

[2017-08-16 11:10] garethbowen commented on #3778
Code review please @alxndrsn (api and webapp).

The api submodule needs to be bumped and both PRs backported to `2.13.x`.

[2017-08-16 12:25] alxndrsn commented on #3461
Actually because `XWalkView` does not delegate `onBackPressed()` to the parent activity in the same way that `WebView` does.  Possibly a bug in Crosswalk.

[2017-08-16 12:25] #3461 closed

[2017-08-16 13:05] alxndrsn opened #3781 "Only trigger location request on startup and when starting to fill a report"
Currently we are requesting user location udpates every 5 minutes.  This is likely to be a drain on battery.

Instead we should request updates closer to the time we need them.

# When do we need to know location?

Currently we add location to a report's metadata when it is first created.  We should trigger a request for location when the user starts to fill a form.  When the location update is re

[2017-08-16 14:04] estellecomment commented on #3715
Sorry, the doc in kanso.json is updated, but the one in medic-docs isn't. I'm updating it.

updated doc

updated doc

updated doc

updated doc, you should use new_reports.

Updated the documentation with a little timeline to explain the different types of reports. I'm hoping it helps, do let me know.

You can use whatever is in the report (i.e. the `data_record` doc in the db). Maybe depending on

[2017-08-16 18:07] SCdF opened #3783 "Admin (online-only) users don't get changes that occur while api is offline once it comes back online"
To reproduce:
 - Log in as an admin. Open something you can edit easily (ie a person)
 - Make a change to that person in futon. Note that it automagically updates in the webapp
 - Kill API. Make another change to that person. Boot API back up

What should happen:
Once webapp reconnects to api it should update the UI with the changes

What actually happens:
Nothing! Changes aren't seen until restar

[2017-08-16 19:36] sglangevin commented on #3459
@alxndrsn if you're intending to work on this, could you please add it to one of the Github projects we're using to track releases? It's helpful to see all of the different work items in one place for transparency purposes. This one can go in 2.14.0.

[2017-08-16 19:57] abbyad commented on #3715
Thanks Estelle, the timeline did in fact help, although it still took me a bit of time to wrap my head around it!

Item `7` still seems to be an issue, as you can see from the following templated message from a [submitted form](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0f0ae88d16b963c067b79f950d1d7154):
[code]

I used `1` to make sure it is not a transition orderi

[2017-08-17 00:11] garethbowen commented on #3778
@alxndrsn Can you have another look? I've made some changes made and some comments in the PRs.

[2017-08-17 00:27] garethbowen commented on #3783
Back to you!

[2017-08-17 01:29] abbyad opened #3785 "Place docs have an object with fields for `doc.contact`"
In 2.13 places created in the webapp should only have a UUID as the `doc.contact` field, but instead have the full contact's object embedded.

Even though stale contact fields are being embedded, they should be ignored due to #2635. **This should be confirmed**

[2017-08-17 03:58] garethbowen commented on #3785
I've confirmed that the fields are ignored and the actual contact is looked up from the database, so this is a performance improvement not a bug.

[2017-08-17 04:36] garethbowen commented on #3785
Code review please @SCdF

[2017-08-17 08:26] estellecomment commented on #3715
Man, awesome bug report @abbyad, thank you :)
On it!

[2017-08-17 09:19] henokgetachew commented on #3672
Yup closing this.

[2017-08-17 13:43] henokgetachew opened #3788 "Issue with user deletion: Deletion fails if the user is found in the medic db but not the _users db"
If a user is not found in the `_users` database but if it's found in the `medic` database, it is still listed in the users configuration page.  However, deletion of the user fails with `the object is not found in the _users database`.  I think the right behavior when the user clicks on the delete button should be that we should just delete it from the `medic` database if the user is not found in t

[2017-08-17 13:47] alxndrsn commented on #3778
LGTM

[2017-08-17 13:55] estellecomment opened #3789 "`lineage.hydrateDocs` is not hydrating parents for data_records"
(discovered in AT in #3715)

`lineage.hydrateDocs` assumes that `data_records` have a `contact` and a `parent` field. They only have a `contact` field, parent places are accessed through `contact.parent`. So it's trying to hydrate following that wrong structure, which doesn't work.

[2017-08-17 14:26] SCdF opened #3790 "Sentinel id generation fails to update id length document"
Because that piece of code had no tests (!) and JS doesn't compile anything (!!) and I used the PouchDB api function name instead of Nano's (!!!)

[2017-08-17 14:26] SCdF commented on #3790
Noted in https://github.com/medic/medic-projects/issues/2648

[2017-08-17 14:47] alxndrsn commented on #3487
We forked from: `commit 8785499e69d6b555c661cc65371567095aa42b64 (tag: 4.27.2)`

Need to resolve three patches that we did:
* af67ca7cf8aa1b975bccfc1244ada7fb033fef1e - Trigger calcUpdate() calls for changes to option labels
* 9715efc981e4ed77e8943f01fcf9c57a0694d0b6 - Reference the translator module consistently from widgets and Form.js
* c1fceb6aa64d790b2751e105e25f56f45a5a78bf - Add support for

[2017-08-17 15:45] SCdF commented on #3790
See this comment for my testing: https://github.com/medic/medic-sentinel/pull/159#issuecomment-323112546

[2017-08-17 15:46] SCdF commented on #3783
Enough changes for a re-review IMO, @garethbowen !

[2017-08-17 15:48] alxndrsn commented on #3781
Query: can you get a timestamp and accuracy reading for the GPS values?

[2017-08-17 17:51] alxndrsn commented on #3756
1. upstream repo: https://github.com/xlsform/pyxform
2. Medic changes:
[code]
3. existing `medic-configurer` form conversion tests should be sufficient

[2017-08-17 18:30] estellecomment commented on #3789
@garethbowen can you review https://github.com/medic/medic-sentinel/pull/160?

[2017-08-17 21:38] garethbowen commented on #3783
Back to you @SCdF

[2017-08-17 21:58] sglangevin commented on #3405
You'll need a build of Medic Collect with the BS calendar enabled to test this. @alxndrsn did you create a test build? Or someone else needs to do that?

[2017-08-17 22:21] garethbowen commented on #3789
Back to you @estellecomment

[2017-08-17 22:30] #3778 closed

[2017-08-18 09:35] estellecomment opened #3791 "Write a functional test for sentinel id generation"
From https://github.com/medic/medic-webapp/issues/3790 : there aren't any functional tests for sentinel right now (by functional I mean `require('my piece of code')` + real db), and this type of bad db mocking happens regularly.

But once you've solved the issue, it's not that useful to write a test any more!

So write a functional test now, so that we can write new ones easily from then on, and g

[2017-08-18 09:36] estellecomment commented on #3791
See this comment for the outline of the test : https://github.com/medic/medic-sentinel/pull/159#issuecomment-323112546

[2017-08-18 09:39] estellecomment commented on #3790
Sentinel PR merged, leaving open for webapp sentinel bump

[2017-08-18 09:58] estellecomment opened #3793 "multi_report_alerts : latest_report is not going through is_report_counted function"
All reports should be tested by is_report_counted function, including the latest one that triggered the transition.

[2017-08-18 10:15] #3789 closed

[2017-08-18 10:47] estellecomment commented on #3715
Fixed a hydration bug, and it's now working for me locally :
[code]
It should fix the problem with `new_reports.1` on standard [that you reported](https://github.com/medic/medic-webapp/issues/3715#issuecomment-322881354).

The problem with `new_reports.0` is different (looks similar but it's actually using different hydration code), and I'm not reproducing it locally, so I'm not sure. Still poking

[2017-08-18 12:54] estellecomment commented on #3715
Aha, it's SMS vs. xform.
No problem with xform : https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/de748598-a13a-4a14-ab4d-5b681cdd1d6b
Problem with SMS :
https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0f0ae88d16b963c067b79f950d1e296f

[2017-08-18 14:38] abbyad commented on #3715
Standard is still on beta 4 which doesn't include your latest fix for #3789. I'll upgrade to latest 2.13 beta (5) and retest.

[2017-08-18 15:09] abbyad commented on #3715
On 2.13.0-beta.5 it appears to hydrate well, but only for `new_reports.0`, and not `1`

From this [test report](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0f0ae88d16b963c067b79f950d20fd44):
[code]

(The encoding of special character will be opened in a separate issue)

[2017-08-18 15:15] abbyad opened #3794 "Saving app_settings via Dashboard breaks the settings"
The Dashboard page for app_settings is useful for quickly looking at settings, but saving from that page introduces new JSON that breaks the configuration in weird and not immediately noticeable ways.

For instance, new reports for a patient are both accepted and rejected simultaneously.

Currently the easiest (and awesome) way to update app_settings is using medic-conf. **To prevent saves in Dash

[2017-08-18 15:19] abbyad opened #3795 "Special characters represented as character entity references in multi-report-alerts"
As seen in https://github.com/medic/medic-webapp/issues/3715#issuecomment-323379857 special characters in the message created by the multi-report-alert transition are not encoded properly.

For instance, it the place name gets inserted as `Anthony&#39;s District`

[2017-08-18 16:09] estellecomment commented on #3715
All merged to master, back to AT!

[2017-08-18 16:37] SCdF commented on #3749
OK, we're in the final draft stage.

@garethbowen can you primarily take a look at:
 - https://github.com/medic/medic-api/pull/187
 - https://github.com/medic/medic-webapp/pull/3750

@alxndrsn can you primarily take a look at:
 - https://github.com/medic/horticulturalist/pull/1

As a note, I'll also be merging the builds repo changes: https://github.com/medic/medic-builds-repo/pull/1

[2017-08-18 17:26] abbyad commented on #3715
In [medic-docs](https://github.com/medic/medic-docs/blob/12d90bf40d016591faf90855ef87de43c1347924/configuration/transitions.md) it has the following as a recipient: `"new_report.contact.phone", // sender of each report in new_reports`

Using that for a [test report](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/0f0ae88d16b963c067b79f950d2175fc) I get:
`multi_report_al

[2017-08-18 17:32] abbyad commented on #3715
This probably needs to wait for #3789.

[2017-08-18 17:55] abbyad opened #3796 "Translation missing for `selection.doc.content.raw`"
In 2.12.4 and 2.13.0-beta.5 we are seeing `selection.doc.content.raw` in the RHS of the report tab instead of the label.

The key `report.content.raw` already exists with the proper label, so this needs to be fixed in POEditor

[2017-08-18 17:57] abbyad commented on #3796
I have updated the "term" in POEditor to be `selection.doc.content.raw`

[2017-08-18 17:57] #3796 closed

[2017-08-18 18:06] SCdF commented on #3749
Oh, @alxndrsn / @garethbowen please don't merge any of these. I'll do it in one horrific go when they're all approved.

[2017-08-18 18:25] sglangevin commented on #3778
I tested the upgrade again yesterday on the server that had this issue and initially it was 502ing for a while, but it's back up as of today, so that's good news. I then tested the upgrade from v2.12.x to v2.13.0-beta.5 and could not reproduce this error on any of the devices (including the Y4, where I originally got the error). Moving to ready!

[2017-08-18 18:27] sglangevin commented on #3754
I tested the upgrade from v2.12.x to v2.13.0-beta.5 again and could not reproduce this error on any of the 4 devices I tested on (including the Y4, where I originally got the error). Moving to ready!

[2017-08-18 18:42] sglangevin commented on #3703
Working well in v2.13.0-beta.7. Moving to ready.

[2017-08-18 21:36] sglangevin commented on #3753
This is still broken for me in Chrome on desktop. Do I need to re-upload translations during AT?

[2017-08-18 22:27] sglangevin commented on #3753
On further inspection, this seems to be broken on standard.app but working on other instances (all on 2.13.0-beta.7). This points to an issue with Standard translations or config. I'm going to move this to Ready. cc @abbyad

[2017-08-18 22:36] sglangevin opened #3797 "When opening a form from a person or place profile, I get the `<` at the top left instead of the `x`"
This is a blocker for releasing 2.13.0. To reproduce, log in as any user, go to a person or place profile, and open a form from there.

When opening any form, the `x` appears initially, but then is replaced by `<`.
![image](https://user-images.githubusercontent.com/1286381/29480022-5a18a866-842a-11e7-9f3a-5aff21e32d1d.png)

Clicking on the `<` brings me to an error page:
![image](https://user-imag

[2017-08-18 23:00] sglangevin commented on #3753
The issue on standard.app was resolved by adding a translation for the `contact.profile` key. Not sure why that wasn't on Standard or why that was still causing issues after these fixes, but it's now working for me.

[2017-08-18 23:17] sglangevin commented on #3513
@alxndrsn I've tested again and it's working fine in Chrome on desktop but not in the Android app (logged in as the same user on both). I'm using v0.2.3 of the Android container, maybe that's the issue? I've pushed v0.3.3 to the Play Store so that I can test there as well, but let me know if there is anything else to know when testing.

[2017-08-20 17:49] abbyad commented on #3715
Testing on beta 7 and seems to be working well. Needs more acceptance testing to confirm that it is Ready, but no known issues yet.

[2017-08-20 17:51] abbyad commented on #3789
Tested on beta 7 and seems to be working well. No known issues so moving to Ready.

[2017-08-20 20:35] garethbowen commented on #3794
Disabling the save button would require a new version of Dashboard and an upgrade on all instances. This may affect other users of Dashboard (if there are any?) so I'm not 100% sure this is the right approach.

Alternatively we could do a hack via migrations to get the dashboard ddoc and modify it as required, but this doesn't feel very safe either.

I suspect this is a bug in our settings schema

[2017-08-20 21:38] ngaruko opened #3798 "Error message on opening forms"
Steps to reproduce :

1. open the web app (with reports loaded)
2. Start a new form (like Reports > Submit report > Delivery report
![image](https://user-images.githubusercontent.com/6979995/29498598-e734964e-8653-11e7-8fe3-0e9b0f6429b1.png)
  OR...
People >>New District (tested on alpha.dev):
![image](https://user-images.githubusercontent.com/6979995/29498604-0829fd30-8654-11e7-8be1-4a8fb71a85ea.

[2017-08-21 00:31] garethbowen commented on #3797
Review please @estellecomment

Needs to be backported to `2.13.x` before closing.

[2017-08-21 03:58] garethbowen commented on #3788
Code review please @alxndrsn

[2017-08-21 03:59] #3776 closed

[2017-08-21 04:00] #3728 closed

[2017-08-21 04:01] garethbowen commented on #3728
Seems to work. For AT check the phone number validation in contact creation and send message and anywhere else you can think of.

[2017-08-21 04:10] garethbowen commented on #3408
@estellecomment Should we finish this or close it? It's been hanging around for ages...

[2017-08-21 04:13] garethbowen commented on #3556
Closing as ancient - no activity for 2 months.

[2017-08-21 04:13] #3556 closed

[2017-08-21 07:49] alxndrsn commented on #3405
I still don't know what projects this is required for, as none of the Nepal projects seem to have their configurations stored in git.  I can supply a test APK for anyone that requires it.

[2017-08-21 07:56] alxndrsn commented on #3513
Version of container shouldn't affect this feature.  Let me know which instance and which user you're testing with and I'll confirm the problem.

[2017-08-21 10:12] alxndrsn commented on #3644
`6.3.4` is still the latest release of pouch.  Are there particular problems you were concerned about?

[2017-08-21 10:13] garethbowen commented on #3644
Nope... looking at it now.

[2017-08-21 10:59] garethbowen commented on #3644
I tested by loading a contact and then saving a change to that person and watching the network tab.

Before:

![checkpoints-before](https://user-images.githubusercontent.com/2064938/29516365-362e6aa2-86c4-11e7-918d-f1393ad6d2f8.png)

After:

![checkpoint-after](https://user-images.githubusercontent.com/2064938/29516371-3961ec80-86c4-11e7-8c7e-da9252404e3f.png)

This reduces the number of requests

[2017-08-21 11:00] garethbowen commented on #3644
Code review please @alxndrsn

[2017-08-21 12:25] SCdF commented on #3793
Back to you @estellecomment

[2017-08-21 13:23] alxndrsn opened #3804 "Find alternative for jr:choice-name or re-implement support for it"
As per https://github.com/enketo/enketo-core/issues/412, we should either find an alternative way to implement our `jr:choice-name()` calls, or write an adapter to support it properly in enketo-core.

@abbyad it would help if you can explain the current use of `jr:choice-name()` in our forms.  We have it in 83 different forms currently :slightly_smiling_face:

[2017-08-21 13:44] SCdF opened #3805 "Add Horticulturalist integration tests"
We have (some) unit test coverage of horti, but we should really do integration tests as well.

There are lots of variables and different ways horti can boot:
 - Are we bootstrapping to some particular version?
 - Are we running in daemon mode or just bootstrapping
 - Do we have an existing deployment / staging deployment on startup
 - Do we already have an existing installation (extracted npm mod

[2017-08-21 14:19] SCdF opened #3806 "Horti fails to upgrade through the ui if there is already a staged ddoc"
See: https://github.com/medic/medic-api/blob/master/controllers/upgrade.js#L61-L64 (once the branch is merged).

API needs to detect a 409 and then take the current one's rev and use that to overwrite what is already there.

[2017-08-21 15:47] sglangevin commented on #3513
@alxndrsn it was standard.app, u: healthcenter, will DM you the password.

[2017-08-21 16:46] abbyad commented on #3804
There are a couple of ways we are using `jr:choice-name()`.

## Show or save label (not value)
Show the user the choice they made earlier in the form as part of the Summary page. Without the `jr:choice-name()` function the potential workaround is to have a calculate converting the value back to a nice label... but this is difficult to manage and would not work with multiple languages (eg in Standa

[2017-08-21 17:47] alxndrsn commented on #3804
Thanks!  Note to self: specifically we're trying to avoid uses as per https://github.com/enketo/enketo-core/issues/412

[2017-08-21 17:48] alxndrsn commented on #3804
It sounds like this would be worth the effort of fixing with `enketo-core`'s latest release, using external overrides of functionality.  This means that we should not need to release our own version and should not need to "monkey patch" our node modules, making future upgrades much simpler.

[2017-08-21 17:58] abbyad commented on #3794
Definitely open to other approaches! [Here](https://gist.github.com/abbyad/6e07f17f6e8871f6d10c3ee1cc1833b6/revisions) is a the app_settings, where the initial commit is the original app_settings, and the revised one how it is after saving in Dashboard, with no other known edits.

One clear problem is that in "patient_reports[].messages" the "event_type" is removed, meaning all messages go out for

[2017-08-21 18:07] alxndrsn commented on #3459
Blocked by https://github.com/medic/medic-webapp/issues/3487

[2017-08-21 18:46] alxndrsn commented on #3513
Confirmed.

[2017-08-21 18:56] alxndrsn commented on #3513
This instance is not running the code from https://github.com/medic/medic-webapp/commit/27f5aba6de2cea06868b405d93404937736360c4

[2017-08-21 19:02] abbyad commented on #3416
I have already been acceptance testing this as part of #3715. Will share a config to help you get started with this feature.

[2017-08-21 22:36] garethbowen commented on #3794
I have no idea why this is happening...

[2017-08-21 23:25] sglangevin opened #3807 "Primary contact name doesn't appear in list of places unless the name is included in the contact field of the place's doc"
Blocker for v2.13.0 (hopefully the last!)

To reproduce: create a new clinic, health_center, or district_hospital. In the contact field, put a UUID only (you can include `parent` as well, but that's not required). Look at the list of places in the web app and you'll see that it says "Primary Contact: none" for that place. If you click on the place, you'll see the primary contact is indicated with

[2017-08-21 23:28] sglangevin commented on #3513
Does that code need to be backported to the 2.13.x branch? I was expecting it to be in beta.7 (or an earlier beta).

[2017-08-22 04:36] ngaruko commented on #3511
Hi @abbyad . Did you want me to AT this using the android app that Alex suggested above or did you wanna AT this with the real hardware?

[2017-08-22 06:17] SCdF commented on #3794
Perhaps we should just remove dashboard (the actual couchdb database and associated couch app) from production instances? We're going to do it with 3.0 anyway, might as well do it now.

[2017-08-22 06:17] SCdF commented on #3794
Oh wait ignore me, I forgot the deployment stuff is part of the same couch app. Ignore me.

[2017-08-22 16:24] abbyad commented on #3324
@alxndrsn is this resolved by your latest work in pyxform?

[2017-08-22 22:23] garethbowen commented on #3715
@abbyad @estellecomment I have no idea what state this issue is in. Is it ready for 2.13.0 (and therefore should be closed and marked for AT), or is it open and blocking and should therefore be in "required" in the [project](https://github.com/medic/medic-webapp/projects/11)? Please update...

[2017-08-22 22:50] ngaruko opened #3808 "`Delete all` disabled in mobile view"
In full screen the delete button shows only on the RHS.
In mobile view there is no RHS in select mode so it is shown disabled on the LHS
![image](https://user-images.githubusercontent.com/6979995/29591026-c95f3d6a-87f0-11e7-9859-7114621bf03f.png)

[2017-08-23 00:33] garethbowen commented on #3741
Code review please @alxndrsn

If this is approved I'll set up [integration with GH](https://github.com/siddharthkp/bundlesize#2-build-status) so it'll show status in PRs.

[2017-08-23 01:32] garethbowen opened #3811 "Work out what "sent_forms" is used for and optimise it"
We have a transition which, if enabled, updates the clinic with the date the report was sent. This does not appear to be used anywhere. Work out if it's used by anyone.

If it's not used we can remove it completely.

If it is used see if we could use a view query over the data_records instead, eg: `emit([clinic._id, report.form], report.reported_date);` then reduce to max reported date. That way w

[2017-08-23 03:48] garethbowen commented on #3807
This looks like a problem with how the contacts were created. Following up in: https://github.com/medic/medic-projects/issues/2674

[2017-08-23 04:35] abbyad opened #3812 "Cannot obtain all of a contact's parent info in contact-summary"
In 2.13 we need to use the contact-summary to pass info to a form, such as the phone number of a CHW's supervisor. From the contact-summary we can access the `contact` and `lineage`, but cannot yet access the `parent.contact.*` field (eg `parent.parent.contact.phone`).

Related to #3413

[2017-08-23 04:41] ngaruko commented on #3770
LGTM.
![image](https://user-images.githubusercontent.com/6979995/29599146-e4800940-8821-11e7-967b-d2ec0f7e6fe8.png)

[2017-08-23 04:56] abbyad opened #3813 "Cannot exit a form using Cancel button"
In `2.13.0-beta.7` using the desktop mode* you cannot exit an action form by pressing the Cancel button.

_*The cancel button is not shown in mobile mode_

[2017-08-23 04:58] abbyad opened #3814 "Cannot go back for forms in mobile mode"
In `2.13.0-beta.7` mobile mode pressing the `<` button gives an error `Error loading form. Please try again or check with an administrator.` and the following in console: `inbox.js: Error loading form TypeError: Cannot read property 'type' of undefined`

Possibly related to #3813.

[2017-08-23 05:15] sglangevin commented on #3814
This is a duplicate of #3797. Closing.

[2017-08-23 05:15] #3814 closed

[2017-08-23 05:15] sglangevin commented on #3813
Please re-test this once #3797 is available in the new beta. Hopefully that will close this one as well.

[2017-08-23 05:20] abbyad commented on #3413
For this to be used in 2.13 we need to find a reasonable way to use this in our workflow, using XLSForm and medic-conf.

Some options:
1) Manually remove the offending XML
1) Modify the convert script to remove the offending XML
1) Create an external instance with the fields declared
1) Automatically pull in the `context` values from contact-summary into forms

Option 4 would be ideal, and it turn

[2017-08-23 05:38] abbyad commented on #3416
I see this working with the following config:

[code]

[2017-08-23 07:13] alxndrsn commented on #3324
Should be!

[2017-08-23 07:28] alxndrsn commented on #3324
Fixed in medic-conf 1.5.0

[2017-08-23 07:44] alxndrsn commented on #3741
👍

[2017-08-23 08:19] estellecomment commented on #3797
code lgtm.
Unit test wouldn't have helped on that one, since we would have mocked out `$scope.setSelected` that was causing the break. :/

[2017-08-23 08:22] estellecomment commented on #3715
It's back in dev since Marc found a bug. I moved it back to the "Required" column in the project. Thanks for checking in!

[2017-08-23 08:45] estellecomment commented on #3793
pong @SCdF

[2017-08-23 08:46] alxndrsn commented on #3756
I've published this to a new branch, `medic-conf-1.5`, and made this the default in github.

It didn't make sense to publish this to `master`, as it changes the whole tree.

[2017-08-23 08:46] alxndrsn commented on #3756
cc @abbyad

[2017-08-23 08:54] estellecomment commented on #3715
Aaaaactually that bug is not from beta7, because the comment date is from before the build date for beta7. I'm pretty sure it's gone from beta7.
So putting this back to AT.

[2017-08-23 08:54] #3715 closed

[2017-08-23 09:14] alxndrsn commented on #3781
1. add `getLocation()`, `watchLocation()` and `clearWatch()` in atp

[2017-08-23 09:58] garethbowen commented on #3741
Merged and configured... let's see how it goes!

[2017-08-23 09:58] #3741 closed

[2017-08-23 11:27] garethbowen commented on #3807
Code review please @estellecomment

This needs to be backported to `2.13.x`

[2017-08-23 11:32] garethbowen commented on #3813
Yes this is fixed by the fix for #3797 - closing for AT.

[2017-08-23 11:32] #3813 closed

[2017-08-23 11:34] garethbowen commented on #3797
Merged and backported.

[2017-08-23 11:34] #3797 closed

[2017-08-23 11:40] alxndrsn commented on #3781
@sglangevin @abbyad we can either continue to embed the location data inside the form model XML, or we can add it as a property to couch docs.  The latter would seem more natural to me, but might require some updates to any systems which use these data.

[2017-08-23 12:01] alxndrsn opened #3816 "Add new person protractor test fails a lot"
Like this:

[code]

from

[code]

A long list of examples can be seen at https://github.com/medic/medic-webapp/pull/3803

[2017-08-23 13:10] estellecomment commented on #3807
Hmmm, doubtful about this : https://github.com/medic/medic-webapp/pull/3815#discussion_r134744436

[2017-08-23 14:51] estellecomment opened #3818 "If two groups of scheduled_messages fall within the silence window, only the first one is silenced"
Not sure if you _want_ to have several groups falling within your silence window, but it seems that if you do, then they should both be silenced.

[2017-08-23 14:59] sglangevin commented on #3818
I actually think this is the desired behavior. Sometimes the schedule has groups that are very close together, you wouldn't want to clear two groups because you would miss messages that you are expecting to get. I think some projects may be using this as a feature.

[2017-08-23 15:25] abbyad commented on #3818
This is not the intended behavior, and so I would still consider this a bug.

[2017-08-23 15:39] estellecomment commented on #3818
Well, if it's a bug that we're counting on in production, isn't it a feature? :)

[2017-08-23 16:28] SCdF commented on #3793
Approved, back to you to merge / cp into 2.13

[2017-08-23 17:17] sglangevin commented on #3781
@michaelkohn can you weigh in here? @alxndrsn is suggesting that we put the geolocation data at the top level of the `data_record`, similar to where `reported_date` is found. I am guess that might affect analytics but not too heavily. What do you think about this idea?

[2017-08-23 17:34] michaelkohn commented on #3781
Yep that works.  As long as it is accessible from the `data_record` and in a predictable location, I'm not too concerned with specifically _where_ it is on the doc.

[2017-08-23 17:36] sglangevin commented on #3781
Cool - feel free to proceed with adding it as a property to couch docs @alxndrsn. Can you also make sure that any additional docs created by a form submission will also have this property added?

[2017-08-23 17:37] sglangevin commented on #3416
Thanks @abbyad, this is great!

@estellecomment: For the real project that is using this feature, it's not just the form submission that matters. It's forms that meet certain conditions, so for example, an assessment form has a field `blood_in_diarrhea = 'true'`. Where/how are we able to specify such conditions? Can we do that in the `forms` array?

[2017-08-23 17:46] sglangevin commented on #3413
Adding the secondary instance to every form has been introduced in medic-configurer 1.5.1. Make sure you are using the latest version of medic-configurer if you are expecting this feature to work!

Still waiting on #3812 as we need to be able to access `parent.contact` for each place in `lineage` for forms that use any `parent.contact.*` fields.

[2017-08-23 21:50] garethbowen commented on #3804
@alxndrsn Some thoughts, back to you!

[2017-08-23 21:51] garethbowen commented on #3487
@alxndrsn Back to you.

[2017-08-23 22:24] garethbowen commented on #3807
Merged and backported.

[2017-08-23 22:28] garethbowen commented on #3793
Merged and backported on your behalf...

[2017-08-24 03:03] garethbowen commented on #3812
Code review please @estellecomment

This needs to be backported to 2.13.x

[2017-08-24 04:31] garethbowen commented on #3816
I've removed the offending assertion. The first run passed, we'll have to monitor it over time.

[2017-08-24 04:31] #3816 closed

[2017-08-24 07:29] alxndrsn opened #3821 "Export kills api"
# Observed

## Client

Calls to the `/export` endpoint with a `query` can crash api.

<img width="942" alt="screen shot 2017-08-24 at 09 26 47" src="https://user-images.githubusercontent.com/191496/29654673-61da812c-88ae-11e7-9bcc-0a0f8b917d26.png">

## Server
[code]

# Expected

api shouldn't crash

# Steps to recreate

**Either:**

## 1 click on the Export button

<img width="258" alt="screen sh

[2017-08-24 09:18] alxndrsn opened #3822 "regular e2e test failure: Expected 'R' to be 'Registration'."
This test fails often:

[code]

[2017-08-24 09:33] henokgetachew opened #3823 "Gardener/API bug with latest alpha"
This is the last error that's shown on medic API:
[code]

Gardener is not trying to restart API because it is itself failing to start up with the following error message.

[code]
Possible explanation could be that the gardener failure is causing required modules by medic API not become installed and therefore the whole thing is failing.

[2017-08-24 09:37] estellecomment opened #3824 "Clearing group in one schedule will mess with other schedules"
TLDR : [this test](https://github.com/medic/medic-sentinel/pull/163/commits/bca9411c64e3c87a3284b5f314079a11b8c3dae6#diff-6d5b1490870b81f005205db1cc381801R418) fails on lines 487, 489 and 490

When specifying the config for `accept_patient_reports` with multiple types (e.g. `type: 'foo, bar'`), the multiple types are messing with each other when clearing schedules.

Once you've started clearing th

[2017-08-24 12:32] SCdF opened #3825 "Horti shouldn't default to starting in MedicOS mode"
If you just type `horti` it attempts to start api and sentinel with the expectation that you're on MedicOS.

Since Horti is also useful for real users, this should instead output commands, ah la most other tool.

This also means we have to change horti so that medicos is a mode you specify, instead of the default.

[2017-08-24 13:40] henokgetachew commented on #3823
Gardener didn't create medic-api in the working_dir even after it was renamed.
The error that says `Path must be a string` seems like it was caused because of the renaming of the medic-api working_dir folder.  Gardener looks for an exact path for medic-api that it expects to find and if that path doesn't resolve, it throws that error.  That looks like a bug on the side of gardener because it's sup

[2017-08-24 14:52] estellecomment opened #3826 "Too many hydration / lineage functions"
Api, sentinel and webapp each have their separate hydration functions. That's dangerous duplication (it's kinda tricky code, it's already had bugs).

Merge it all together, either in an npm module or if we merge repos, in a node module accessible by path.

[2017-08-24 14:57] estellecomment commented on #3812
One weird test, and travis is failing (surpriiiiise), but looks good!

[2017-08-24 15:58] abbyad commented on #3818
I still think the intended behaviour is to clear all groups that have a message within the silence window. If groups are close together and clearing one near a boundary should not affect the other than I'd expect the silence window to be set accordingly (eg 1 day vs 1 week).

[2017-08-24 16:07] sglangevin commented on #3797
Working well in v2.13.0-beta.8. Moving to ready.

[2017-08-24 16:27] sglangevin commented on #3807
Working well in 2.13.0-beta.8. Moving to ready.

[2017-08-24 17:23] abbyad commented on #3715
The AT for #3416 was accidentally being done here... this issue in particular has sufficiently been tested to move to Ready.

Test config:
[code]

[2017-08-24 17:30] abbyad commented on #3416
That would be done in the `is_report_counted` function.

For example:
[code]

[2017-08-24 19:42] sglangevin commented on #3416
Ok cool. Thanks! I think we can move this to Ready, unless we wanted to create some config for the project that requested this feature? I'd also be happy to assign that to the tech lead who can go from the config posted here.

[2017-08-24 19:48] sglangevin commented on #3795
@abbyad did you intend to add this to the list of bug fixes required for 2.13? Seems like we should probably fix this before the release, unless most messages won't be using the place name. We could use the name of the CHP instead, right?

[2017-08-24 21:10] garethbowen commented on #3812
Merged and backported.

[2017-08-24 21:10] #3812 closed

[2017-08-24 21:21] abbyad commented on #3635
Here is an example of a [doc with an alert message](https://standard.app.medicmobile.org/_couch/_utils/document.html?medic/0f0ae88d16b963c067b79f950d2cdcdb):

![image](https://user-images.githubusercontent.com/789512/29689226-7846c244-88f0-11e7-9875-e3eb91c0ed60.png)

Seems to be differentiable to me. What do you think @michaelkohn?

[2017-08-24 21:32] sglangevin commented on #3513
Working well on v2.13.0-beta.9. Moving to ready!

[2017-08-25 03:31] abbyad commented on #3795
If it came up earlier it would have been nice to be in 2.13. If there is an opportunity to include it in the next patch that would be great.

[2017-08-25 03:53] garethbowen commented on #3822
Merged and passing - will have to wait to see if it starts failing again...

[2017-08-25 03:53] #3822 closed

[2017-08-25 04:22] garethbowen commented on #3821
Review please @alxndrsn

My best guess is you didn't have lucene running which caused an error to be thrown. This error has the error code 503 (Service Unavailable) which our code wasn't detecting as a server error which meant we were trying to respond to the user but never converted the JSON into a string (or buffer) for sending to the client.

We had a few other unit tests which indicated that o

[2017-08-25 04:24] garethbowen commented on #3662
Implementation detail: we already have a home controller whose job is to decide which page to redirect to. Repurpose it for this instead!

[2017-08-25 08:30] alxndrsn commented on #3821
PR looks good.  In general I'd say it's a bug to handle `500` as a server error but other `5xx` as 'unknown'.

I don't have lucene set up locally, but perhaps @ngaruko is in a position to check this functionality?

[2017-08-25 08:31] alxndrsn commented on #3825
PR at https://github.com/medic/horticulturalist/pull/2

[2017-08-25 08:35] alxndrsn commented on #3487
No, to you!

[2017-08-25 10:10] henokgetachew commented on #3823
Couldn't reproduce this.  Wiping it and installing a new for a fix.

[2017-08-25 10:10] #3823 closed

[2017-08-25 12:20] alxndrsn commented on #3449
@garethbowen I wrote this up with text that you have me.  I don't really know what it's about, and the issue's been dragged through milestones for 4 months now.  Is it really a priority?

[2017-08-25 12:25] alxndrsn commented on #2994
Personally I think the current behaviour is correct, as exposing random error messages to clients is a good way to leak things unexpectedly.

However, have a PR.

[2017-08-25 12:39] alxndrsn commented on #3718
The code throwing this error is no longer in master: https://github.com/medic/medic-webapp/commit/a8afb859554ab11b90148a25e0cf5cab62bb686d#diff-58b23f7742c19c23a220c743f654f5baL385

It may still require fixing on `2.12.x` branch.

[2017-08-25 12:44] alxndrsn opened #3829 "Cannot run grunt dev on 2.12.x branch"
[code]

[2017-08-25 12:44] alxndrsn commented on #3718
Blocked by https://github.com/medic/medic-webapp/issues/3829

[2017-08-25 12:57] alxndrsn commented on #3613
@garethbowen is there a recommended path forward for this from your 4 options?

@sglangevin should this be a separate issue:

[2017-08-25 13:10] abbyad commented on #3818
Just thought that I'd add that many project configs have been written over the last five years with this rule in mind. I'd be curious to see one that expects only one of the overlapping/proximity groups in the same time window to be cleared.

[2017-08-25 13:32] alxndrsn commented on #3594
Changing export's `format` to `csv` in https://github.com/medic/medic-webapp/blob/master/static/js/services/download-url.js#L8 produces a CSV with the following columns:
[code]

What column names would be expected if the actual data from each form is to be included?

[2017-08-25 16:29] abbyad commented on #3812
This works in `2.13.0-beta.9`. Moving to Ready.

We should note in [contact summary documentation](https://github.com/medic/medic-docs/blob/master/configuration/contact-summary.md) that the only way to get the fields for `parent` is by accessing the top level of `lineage[]` (eg `lineage[0]` for parent, `lineage[1]` for grandparent).  To obtain the contact for any parent place you must therefore lo

[2017-08-25 16:31] abbyad opened #3830 "Document what is hydrated for use in contact summary"
From https://github.com/medic/medic-webapp/issues/3812#issuecomment-324970951

[2017-08-25 16:34] abbyad commented on #3416
Ya, from what I saw in the request this feature is ready enough to meet the needs of the project. We can open new issue if we learn of anything more needed while configuring the project.

[2017-08-25 17:07] estellecomment commented on #3824
@mandric can you code review? PR : https://github.com/medic/medic-sentinel/pull/163

[2017-08-25 17:48] michaelkohn commented on #3635
Yep... works for me @abbyad @ngaruko .  I was able to identify `data_records` that have an alert task and interrogate the list of counted reports.

Here is a starter query for those interested.
[code]

[2017-08-25 18:27] sglangevin commented on #3416
Great! Moving to ready.

[2017-08-25 18:28] sglangevin commented on #3635
Thanks @michaelkohn et. al. Moving to ready.

[2017-08-25 18:29] sglangevin commented on #3793
@abbyad was this AT-ed as part of #3416 / #3715? If so, let's move this one to ready.

[2017-08-25 18:30] sglangevin commented on #3678
@garethbowen @estellecomment any tips on how to AT this one?

[2017-08-25 18:31] sglangevin commented on #3790
This is working in production (v2.12.5). Moving to ready.

[2017-08-25 18:31] sglangevin commented on #3757
@SCdF @garethbowen does this need to be AT-ed?

[2017-08-25 18:33] abbyad commented on #3793
Not specifically, but can retest

[2017-08-25 19:44] sglangevin commented on #3594
@alxndrsn that's a great question. I hadn't given much thought to that yet. I know that partners will need to be able to export all forms - my guess is that this is why we had the tabs in the XML before. All types of forms might be exported for monthly reporting. I also think it's really useful to be able to download a csv that includes all of the form fields from our app. We can't currently do th

[2017-08-25 20:19] abbyad opened #3831 "Contacts from a select2 are not hydrated"
The contact that is returned from a `db:person` field in a form is not hydrated in 2.13.0-beta.9. Following #2635 we are using the contact-summary to populate these fields from the People tab (as per #3413), but this method cannot be used from the History tab. This means that any user trying to access a person form from the Reports/History tab will find silently broken forms.

For example, in Stan

[2017-08-25 20:23] abbyad commented on #3413
This works well now, and easy to configure with the latest medic-configurer. Moving to Ready.

[2017-08-25 20:24] sglangevin commented on #3831
Unfortunately this is a blocker for the 2.13.0 release as we have projects that rely on being able to fill forms from the History/Reports tab.

[2017-08-25 21:20] sglangevin commented on #3662
Talked with @amandacilek about this today and the design for this page is going to change. We don't have the new mockup nailed down just yet, so I'm removing this from 2.14. We'll come back to this in the future.

[2017-08-25 21:28] sglangevin commented on #3613
I'd like us to pursue option 3, if it's not too much work. If we pursue that option, I think it should update relative dates/times throughout the app, which seems like it should include last sync time. We can split that into a separate issue if you think that makes more sense, though.

If option 3 is too involved, I'm fine with 1 or 2 (with a preference for 2).

Another thought: We could also choo

[2017-08-26 00:03] sglangevin commented on #3795
Since we are holding up 2.13 for #3831 anyway, I'm going to add this bug as well. Seems like we should just fix this if it's not too much effort, especially since we have an acceptance testing environment already set up.

[2017-08-26 00:05] sglangevin commented on #3405
@ranjuts are there any Nepal projects for which we can test this? Perhaps we can do a build using some existing Medic Collect config but with the BS calendar enabled on the build so that we can test this.

[2017-08-26 17:24] alxndrsn commented on #3405
I've added an appearance of `bikram-sambat` - when you use this, you will get the BS datepicker regardless of the phone's locale.

[2017-08-26 17:51] alxndrsn commented on #3594
This could certainly work.  Would users request a specific CSV to download, or would our app bundle multiple CSVs into a single zip for downloading in one go?

I'd be surprised if this actually counts as "CSV", as far as it's a standard, and so probably wouldn't open in excel.

-----

If we're happy with the content of the current exports, it would be much simpler to just generate proper `.xlsx` f

[2017-08-26 18:28] alxndrsn commented on #3487
To me!

[2017-08-26 18:28] alxndrsn commented on #3487
Repeat `+` button appears to be missing.

[2017-08-26 18:33] alxndrsn commented on #3487
## Old

<img width="444" alt="screen shot 2017-08-26 at 20 33 03" src="https://user-images.githubusercontent.com/191496/29744093-d3968342-8a9d-11e7-825a-5dbeb7702060.png">

## New

<img width="412" alt="screen shot 2017-08-26 at 20 33 09" src="https://user-images.githubusercontent.com/191496/29744094-d399c2e6-8a9d-11e7-83fb-c27ff192315d.png">

[2017-08-26 18:38] alxndrsn commented on #3487
We need to add support for `or-repeat-info` to our XSLT sheets.

[2017-08-26 18:49] alxndrsn commented on #3487
Fixed.

[2017-08-26 18:53] alxndrsn commented on #2393
This doesn't seem to be a restriction of enketo, but of our app's handling of contact forms.

[2017-08-27 20:24] garethbowen commented on #3821
I've tested it on my lucene. It's not too hard to [set up](https://github.com/medic/medic-webapp/#configure-lucene) if you find yourself needing the functionality.

[2017-08-27 20:26] garethbowen commented on #3821
For AT:

1. Make sure the export button works.
2. Force stop lucene and then make sure the export button fails, and API logs a useful error and stays running.

[2017-08-27 22:02] garethbowen commented on #2994
I now see your comment and agree fully. I think there is probably a safe solution if we use an additional error property for `responseMessage` or something, so we can include whatever we want for the log, and some safe and user friendly message for the response body. What do you think?

[2017-08-27 22:09] garethbowen commented on #3678
It's not easy. If you have an instance with lots of reports it'd be great to try this out with a wide date range so lots of reports are found and make sure it doesn't crash.

[2017-08-27 22:11] garethbowen commented on #3757
For AT:

1. Find a report
2. Delete one of the contacts in that report's lineage
3. Modify the report so the sentinel transitions pick up the doc and attempt to hydrate it
4. Make sure the report is processed correctly (no crash, no error, sentinel meta data updated).

[2017-08-27 22:32] garethbowen commented on #3613
@alxndrsn @sglangevin I like your idea Sharon (let's call that option 5) - let's do it. We'll have to be careful making this change because we output relative dates throughout the UI.

We currently have two filters:

1. `relativeDate` for time and date (eg: 1 minute ago, yesterday, 3 weeks ago)
2. `relativeDay` for day only (eg: today, yesterday, 3 weeks ago)

To make the recommended change we sho

[2017-08-27 22:45] garethbowen commented on #3594
@alxndrsn I tried renaming and changing the mime type but neither worked as required. I think it's because our xml files aren't xlsx at all.

`node-xlsx` (and all other libraries I could find) have a couple of issues - they don't do multiple sheets so we're stuck with the csv problem again, and the don't do streaming which means we have to limit the number of rows in the output or risk crashing.

[2017-08-27 23:41] garethbowen commented on #3487
One more time!

[2017-08-28 01:41] garethbowen commented on #3831
Code review please @estellecomment

This needs to be backported to `2.13.x`

Another hydration issue  :(

[2017-08-28 02:41] garethbowen commented on #3795
Code review please @alxndrsn

This needs to be backported to `2.13.x` (apparently...)

@abbyad I think this has been occurring in all messages for a long time because it's the default mustache behaviour. I guess HTML characters in message parameters just aren't that common...

[2017-08-28 02:46] garethbowen commented on #3830
Review please @abbyad

[2017-08-28 09:57] estellecomment commented on #3416
:)

Applying the `4.63 - Ready Enough` tag

Thanks for the review and troubleshooting help!

[2017-08-28 10:35] estellecomment commented on #3831
back to you

[2017-08-28 13:57] abbyad commented on #3795
Good to know that it was occurring in all messages previously! It is much more noticeable for Standard config since it is pretty much the first time we are constructing SMS on instances where the place names are generated (eg `{{name}}'s place`).

Will acceptance test once it lands into beta.

[2017-08-28 17:58] sglangevin commented on #3594
@garethbowen I generally like option 4 as well, but I also think that might be confusing for users, who might wonder why they aren't getting all of the columns. I'm wondering if just the common columns would be enough for partners who are doing monthly analysis of all forms received. It might be but I don't know for sure. We have definitely had partners who expected that all of the fields would do

[2017-08-28 19:53] abbyad commented on #3779
@garethbowen, where should the Standard config files live? In its own private repo (eg `medic-standard`), within `medic-webapp`, or where they are now in `medic-projects`? I want to avoid version issues so will match the webapp releases accordingly (eg `2.12.x`, `2.13.x`,  `2.14.x`) and want to figure out where to do that.

[2017-08-28 20:58] garethbowen commented on #3779
I'm not sure until we sit down and start on this issue. If it would help you to start organising the config now, then I think the most likely place is as a separate repo so it can be made public. Then we can tag and branch just like we do for api and sentinel. Just note that once we think about this in depth we might decide it makes more sense for it to be somewhere else...

[2017-08-29 01:47] garethbowen commented on #3824
@estellecomment Should this be closed or are you still working on it?

[2017-08-29 08:01] alxndrsn commented on #3795
@garethbowen would it make sense to submit a PR upstream to disable HTML escaping, or will moustachios just say you should be using triple-brackets (`{{{iWillNotBeEscaped}}}`)?

[2017-08-29 08:04] garethbowen commented on #3795
Believe it or not, overriding the `escape` function is the proper way of disabling escaping: https://github.com/janl/mustache.js/blob/a6420e433e5add22e350fd80a3edd5e9eff908ec/mustache.js#L97

[2017-08-29 08:05] alxndrsn commented on #3795
Surprising!  👍

[2017-08-29 08:09] garethbowen commented on #3795
Particularly frustrating because the only documentation about it is the code comment...

[2017-08-29 08:13] garethbowen commented on #3795
Merged and backported.

[2017-08-29 08:13] #3795 closed

[2017-08-29 09:30] alxndrsn commented on #2994
So e.g. in the example the issue was created for,
[code]
would become
[code]
Or some kind of constructor such that the following contains a publishable message:
[code]
?

[2017-08-29 09:40] garethbowen commented on #3597
TODO:

- [ ] check on tecno
- [ ] make sure headers are bolded correctly

[2017-08-29 09:44] garethbowen commented on #3831
Merged and backported.

[2017-08-29 09:44] #3831 closed

[2017-08-29 10:06] garethbowen commented on #2994
Yeah either of those would work. It would be nice to start creating custom Error types!

[2017-08-29 10:15] alxndrsn commented on #2994
Trying to think of a nice name that's not really long.  `PublicError`?  `ExposableError`?  Any ideas?

[2017-08-29 10:17] garethbowen commented on #2994
`UserFacingError`? IDK. It's not easy...

[2017-08-29 11:29] #3825 closed

[2017-08-29 12:28] SCdF opened #3835 "Relative date in horticulturalist branches does not show absolute date on hover"
If you hover over other usages of the `relativeDate` you see the absolute date in hover text. For example, a message date:

![image](https://user-images.githubusercontent.com/583851/29820477-7a31c0de-8cbc-11e7-83aa-97338ad5ba4f.png)

However, this doesn't work on the branches section of the horticulturalist upgrade instance page.

This could be because there needs to be some extra library or class

[2017-08-29 13:59] sglangevin commented on #3594
Wanted to add that we need to support xform exports as well, so whatever solution we come up with should allow us to export fields from both JSON forms and xforms. I've added this to the top comment in this thread as well.

[2017-08-29 14:42] abbyad commented on #3831
This works well now. Moving to Ready.

[2017-08-29 14:49] abbyad commented on #3795
Works well in 2.13.0-beta.10, moving to Ready

[2017-08-29 16:27] abbyad opened #3837 "Investigate performance of action forms in 2.13"
With 2.13.0-beta.10 it is taking ~5-12 seconds to load Action forms on standard.app (eg the Delivery form). It seems to take longer from the contact profile vs from the history tab. This could perhaps be related to `inputs` being populated, which contains a `db-object`.

We need to investigate this further to characterize the performance and determine if 2.13 can be released as such.

[2017-08-29 16:32] abbyad opened #3838 "`{{patient_name}}` and `{{person.name}}` not always available"
In standard.app we are not able to get the patient's name into _some_ outgoing messages.

See this [F report](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/7f203734713286725fd1cfcc1a5c3227), vs [P report](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/7f203734713286725fd1cfcc1a5b9222). The name is shown in the P report's auto reply and sch

[2017-08-29 16:36] abbyad opened #3839 "Cannot access contact field for one of the `new_reports`"
In 2.13.0-beta.10, `new_reports.contact.parent.name` and `new_report.contact.parent.parent.contact` are undefined for one of the elements in the array. This is possibly because the most recent report does not have the contact assigned before the multi-report-alert transition runs.

This was working in ~beta 7: `{{#new_reports}}{{contact.parent.name}}, {{/new_reports}}`, as well as having `new_repo

[2017-08-29 19:34] SCdF commented on #3838
Isn't the real bug that in the F report there is an error that should stop scheduled messages from being created at all?

Sounds like the error is causing the patient to not get attached and so the scheduled messages fail. I haven't looked at the code yet though.

So, depending on your reply @abbyad:
 - We should make sure the patient is always attached regardless of errors
 - Scheduled messages s

[2017-08-29 19:47] abbyad commented on #3838
Could be... but I just [retested](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/7f203734713286725fd1cfcc1a5cdcfb) by removing the part that caused the error and still don't get the patient's fields.

Also, I think we already avoid sending schedule messages if there is a validation error. In this case it is the multi-report-alert that is creating those messages, and al

[2017-08-29 19:56] abbyad commented on #3838
The `transition` field has the following:
[code]

Does that mean that the `accept_patient_reports` transition ran after the others?

[2017-08-29 20:01] abbyad commented on #3839
Updated original post to include info about the recipient `new_report.contact.parent.parent.contact.phone` failing, as it is the source of the error in the test message.

[2017-08-29 20:01] sglangevin opened #3840 "Family creation form broken: cannot create children from repeat group"
Seen in 2.13.0-beta.10. To reproduce:
1. Log in as a restricted user
1. Click Add Family, then fill in the form (make sure you choose to register other family members now and enter information for at least 1 person to be sure you are using the repeat group).
1. Click Submit.
1. Notice that the family and its primary contact were created correctly but that the children/other family members were cre

[2017-08-29 21:07] amandacilek commented on #3720
This could be a variation of the form field row type (one version with icon, one without). The icon should be contained within a 30 x 30 bounding box, should be centered vertically within the row, and should be "pinned" to the far right of the row, so that as the row resizes, the icon always stays the same distance from the right edge.

[2017-08-29 22:20] garethbowen commented on #3838
Yes that's exactly what that means. I suspect it failed its [filter function](https://github.com/medic/medic-sentinel/blob/master/transitions/accept_patient_reports.js#L146) the first time through, then the doc was saved increasing the rev from 2 to 3, and then the filter function passed the second time through.

[2017-08-30 02:13] garethbowen commented on #3837
I've managed to eek out some small gains in the contact summary service but putting breakpoints in the code it looks like the bottleneck is Enketo rendering.

@abbyad Is there a 2.12 instance with the same forms we can use for comparison?

@alxndrsn Any ideas? Do you think it could be related to binding the contact summary into the form?

[2017-08-30 04:23] garethbowen opened #3842 "Flakey test: registration transition submits new sms messages shows content"
This one keeps cropping up so it's worth looking in to...

[code]

[2017-08-30 08:59] alxndrsn commented on #3837
<img width="461" alt="screen shot 2017-08-30 at 10 58 45" src="https://user-images.githubusercontent.com/191496/29864192-3cea2340-8d72-11e7-9070-2dd5ea4d30f1.png">

[2017-08-30 09:03] garethbowen commented on #3837
I've merged my caching improvements to master and we can backport if it'd help but I think there's something else going on that I haven't been able to detect yet...

[2017-08-30 09:24] henokgetachew opened #3843 "Sentinel transitions bug: Registrations"
Sentinel crashes when there is an issue with the configuration of the registration.  I think the correct behavior should be to mark the error in the logs or on the doc itself as an error.  Even better would have been to validate this before saving the registration config.
[code]

[2017-08-30 12:57] abbyad commented on #3839
This could be a different symptom of https://github.com/medic/medic-webapp/issues/3838

[2017-08-30 14:11] SCdF commented on #3419
NB: After some more code investigation on another ticket (#3838) I've decided to drop support for `{{person.name}}`. We're only going to support `{{patient_name}}` instead, as we always did.

[2017-08-30 15:02] sglangevin commented on #3843
I'm fairly certain this was done intentionally. cc @garethbowen

[2017-08-30 15:22] sglangevin commented on #3843
There is some discussion on #3585 and #3668

[2017-08-30 15:31] SCdF commented on #3838
@estellecomment please review the two PRs, https://github.com/medic/medic-webapp/pull/3844 and https://github.com/medic/medic-sentinel/pull/167

Don't merge yet cause I haven't been able to test myself locally yet, but you might as well do the review.

[2017-08-30 16:25] alxndrsn commented on #3459
Re-opened for acceptance testing.

[2017-08-30 17:37] abbyad commented on #3837
I will create and post links to forms today with minor variants that seem to have some effect on performance so that they can be profiled.

[2017-08-30 17:42] abbyad opened #3846 "Use latest translations from POEditor in 2.13 release"
Follow up to #3838, make sure that all translations used in next release use `patient_name`, and not `person.name`.

- [x] Update all translations accordingly
- [x] Pull in latest translations from POEditor into 2.13 branch before release

[2017-08-30 18:58] abbyad commented on #3846
I've also updated the Standard config labels so that they can be included by default in 2.13.

[2017-08-30 20:29] henokgetachew commented on #3843
Yeah I see that there's ongoing work on this. Marking this as a duplicate of the other issues.

[2017-08-30 22:10] abbyad commented on #3837
Here are some [variants of the delivery form](https://github.com/medic/medic-webapp/files/1265197/issue-3837-variants-of-delivery-form.zip), which I then tested on `2.13.0-beta.10` on standard.app.

@alxndrsn offered to do some detailed profiling of the forms, but in the meantime here are some stopwatch results:

Form | Opened from History tab | Opened from Person's profile
--- | :---: | :---:
`is

[2017-08-30 22:11] abbyad commented on #3830
Looks great, thanks!

[2017-08-30 22:11] #3830 closed

[2017-08-30 22:13] garethbowen commented on #3843
Actually this one is a bug in the code - the validation appears to not be checking fully. I'll improve the validation.

[2017-08-31 01:13] sglangevin commented on #3846
I'd like to update the translations for passwords per #1472. I'll work on that tomorrow.

[2017-08-31 02:44] ngaruko commented on #3821
I am not sure if it is my setup or not but I still get the same error when I try to export. Running the latest build/master on GH...and lucene 2.0.0

[2017-08-31 02:56] ngaruko commented on #3783
LGTM

[2017-08-31 02:58] #3783 closed

[2017-08-31 03:48] garethbowen commented on #3821
The fix wasn't applied to master. I've bumped api in master so hopefully it'll work now...

[2017-08-31 04:17] garethbowen commented on #3838
Reviewed on behalf of @estellecomment - good to go @SCdF

[2017-08-31 04:18] garethbowen commented on #3846
@sglangevin Let me know when this is ready to go and I'll merge it in.

[2017-08-31 04:18] garethbowen commented on #3839
@SCdF Can you please have a look at this one once #3838 is merged and see if it's a symptom of the same issue?

[2017-08-31 04:20] garethbowen commented on #3840
@alxndrsn Could you please have a look at this one when you get a chance?

[2017-08-31 10:25] alxndrsn opened #3849 "Something funny's up with URLs"
On my local instance, the following URLs produce different results:
[code]

[2017-08-31 11:43] henokgetachew commented on #3587
This has been AT'ed in the field and has been working.  Closing and moving to ready.

[2017-08-31 11:43] #3587 closed

[2017-08-31 12:08] henokgetachew commented on #3672
This has been AT'ed in the field because it was urgently needed as pointed out above.  Closing and moving this to released.

[2017-08-31 12:08] #3672 closed

[2017-08-31 12:45] alxndrsn opened #3852 "New contact age is off by one (day?)"
Using the standard clinic-create form, create a clinic with Primary Caregiver of age **2 years**.  When this contact is viewed, their age is listed as 23 months.

[2017-08-31 12:57] alxndrsn commented on #3840
This currently creates children whose parent is the `contact` of the clinic.  This appears to be by design, but would be simple to change...

[2017-08-31 12:59] sglangevin commented on #3840
The children's parent should be the `clinic` itself as opposed to the `contact` of the clinic. Can we make that change? Or are you saying that it's something we need to change in the form itself?

[2017-08-31 13:06] alxndrsn commented on #3840
Yes, I've just pushed code to make this change, and I'm waiting to see if it breaks unrelated tests.  It seems like it was written like this quite deliberately, but I can't see an obvious reason for the behaviour in current `master`.

[2017-08-31 13:21] sglangevin commented on #3757
Over to @ngaruko for acceptance testing.

[2017-08-31 13:21] sglangevin commented on #3793
Assigning to @abbyad for AT.

[2017-08-31 13:21] sglangevin commented on #3678
Assigning to @abbyad for AT.

[2017-08-31 13:24] sglangevin commented on #3824
@abbyad: AT please.

[2017-08-31 13:25] sglangevin commented on #3821
@ngaruko assigning to you to complete AT.

[2017-08-31 13:25] sglangevin commented on #3804
Assigning to @abbyad for AT.

[2017-08-31 13:26] sglangevin commented on #3756
@abbyad over to you for AT.

[2017-08-31 13:26] sglangevin commented on #3563
Assigning to myself for AT.

[2017-08-31 13:27] sglangevin commented on #3487
Assigning to myself for AT.

[2017-08-31 13:28] sglangevin commented on #3459
Assigning to myself for AT.

[2017-08-31 13:29] sglangevin commented on #3324
Assigning to @abbyad for AT.

[2017-08-31 13:29] sglangevin commented on #2994
Assigning to @ngaruko for AT.

[2017-08-31 13:30] sglangevin commented on #3788
Assigning to myself for AT.

[2017-08-31 13:30] sglangevin commented on #3785
Assigning to @abbyad for AT.

[2017-08-31 13:31] sglangevin commented on #3747
Assigning to @ngaruko for AT.

[2017-08-31 13:31] sglangevin commented on #3725
Assigning to @abbyad for AT.

[2017-08-31 13:32] sglangevin commented on #3668
@henokgetachew are you able to AT this one? I'm assigning to you but feel free to reassign if need be.

[2017-08-31 13:33] sglangevin commented on #3655
@henokgetachew would you also be able to AT this one? Assigning to you, but feel free to reassign if needed.

[2017-08-31 13:33] sglangevin commented on #3644
Assigning to @ngaruko for AT.

[2017-08-31 13:34] sglangevin commented on #3642
Assigning to myself to test and write documentation for tech leads.

[2017-08-31 13:35] sglangevin commented on #3585
@henokgetachew this one also goes with the other two. Can you please AT this one as well?

[2017-08-31 13:35] sglangevin commented on #3553
Assigning to @ngaruko for AT.

[2017-08-31 13:35] sglangevin commented on #3511
Assigning to @abbyad for AT.

[2017-08-31 13:36] sglangevin commented on #3405
Cool, thanks @alxndrsn. Assigning to myself for AT.

[2017-08-31 13:36] sglangevin commented on #3120
@henokgetachew currently assigned to you for AT.

[2017-08-31 13:37] sglangevin commented on #3096
Assigning to myself for AT.

[2017-08-31 13:38] sglangevin commented on #2935
@ngaruko assigning to you for AT.

[2017-08-31 13:39] sglangevin commented on #651
@abbyad assigning to you for AT.

[2017-08-31 14:25] sglangevin opened #3854 "Cannot open certain families on mobile"
Web app version: 2.13.0-beta.10
Android container version: 0.1.157

This can only be reproduced on mobile - families load correctly in the browser.

When clicking on certain families, I get the following error in the console:
![image](https://user-images.githubusercontent.com/1286381/29928150-34d4d352-8e36-11e7-8faf-0dc967ad065d.png)

[2017-08-31 14:26] sglangevin commented on #3854
You can reproduce by logging in as demo1 on lg.dev. PM me for the password.

[2017-08-31 14:32] sglangevin opened #3855 "Cannot submit forms about patients on mobile"
web app version: 2.13.0-beta.10
android app version: 0.1.157

To reproduce, log in as a restricted user on mobile, go to any patient profile and try to fill in any form about the patient. I get the following error in the console:

![image](https://user-images.githubusercontent.com/1286381/29928756-ac5d2950-8e37-11e7-99f9-bd7c01430a8b.png)

[2017-08-31 14:33] sglangevin commented on #3855
This was seen on a Y4 on lg.dev, logged in as demo1. PM me for the password.

[2017-08-31 14:55] sglangevin commented on #3854
This bug does not exist in the most recent version of the Android app (0.3.6) so we may be able to safely ignore it.

[2017-08-31 14:55] sglangevin commented on #3855
This bug does not exist in the most recent version of the Android app so we may be able to safely ignore it.

[2017-08-31 15:14] sglangevin commented on #3837
Just a note that I did some quick testing on a Tecno Y4, v2.13.0-beta.10, container v0.3.6 and I don't see a noticeable difference between the contacts tab and history tab. I also don't think the performance has degraded significantly, but it is definitely slower to open forms than it was in the past. I also noticed that `contact-summary` seems to run when you open a form from the Tasks tab. Is th

[2017-08-31 15:21] sglangevin opened #3856 "Upgrading the Android container from a pre-Crosswalk version to the latest version (0.3.6) causes user to re-download all data"
During testing of the upgrade path from 0.1.157 to 0.3.6, I was not logged out but I did have to re-download all of my data. The ideal behavior would be for data to be copied over locally from the old database to the new one. Marking this as high priority as we are pushing to get all LG UG users onto a modern version of the Android container.

To test, you can use the unbranded app, which has v0.1

[2017-08-31 15:21] alxndrsn commented on #3837
# On remote server

The first five network requests when loading the [linked contact](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/B941731E-D532-F86E-B095-B788E9E67451) are impressively slow:

<img width="919" alt="screen shot 2017-08-31 at 17 20 25" src="https://user-images.githubusercontent.com/191496/29931156-b740f034-8e70-11e7-988b-504a96a163a3.png">

[2017-08-31 15:29] SCdF opened #3857 "Errant refactor broke sentinel"
[code]

This is caused by: https://github.com/medic/medic-sentinel/pull/163

This only affects master. We need to fix the noted issue and look for any others.

[2017-08-31 15:29] SCdF commented on #3857
(anyone can pick this up, but I'll look at it after I've looked at 2.13.0-beta issues, since they are more important)

[2017-08-31 15:30] alxndrsn commented on #3837
# Loading the actual form

<img width="951" alt="screen shot 2017-08-31 at 17 27 31" src="https://user-images.githubusercontent.com/191496/29931491-b38075ae-8e71-11e7-89ac-26e02c6ccf45.png">

N.B. this is with an all-access/fully-online user

## Queries
* why isn't the favicon cached?
* does the user object really (need to) get loaded twice simultaneously?

[2017-08-31 15:35] SCdF commented on #3838
Update: due to a large refactor in master I have to somewhat start again on another branch

[2017-08-31 15:50] alxndrsn opened #3858 "Favicon is not cached"
# Observed

From restricted user on standard.app:

<img width="759" alt="screen shot 2017-08-31 at 17 48 55" src="https://user-images.githubusercontent.com/191496/29932492-baed6b1e-8e74-11e7-9561-3cd5ae411916.png">

# Expected

Favicons should be cached.

-----

ref #3837

[2017-08-31 15:53] SCdF commented on #3857
This also caused a bug the https://github.com/medic/medic-sentinel/pull/167 Pr will fix, where we're sometimes mapping registrations out of their wrapped docs and sometimes not.

[2017-08-31 16:00] SCdF commented on #3838
@garethbowen can you please review the following PR: https://github.com/medic/medic-sentinel/pull/168

It's similar to the previous PR, except now it's against 2.13.x, which required some changes.

[2017-08-31 16:04] alxndrsn commented on #3837
# Profile of loading the delivery form on standard.app

<img width="261" alt="screen shot 2017-08-31 at 17 57 29" src="https://user-images.githubusercontent.com/191496/29932894-f18665b2-8e75-11e7-8115-267fd6861237.png">

=>

<img width="518" alt="screen shot 2017-08-31 at 17 58 55" src="https://user-images.githubusercontent.com/191496/29932934-13bc4278-8e76-11e7-86e5-ab209dae0989.png">

=>

## `.t

[2017-08-31 16:47] SCdF commented on #3838
Actually @garethbowen in retrospect there is little difference and I don't want to hold up the cycle. I'll merge it.

[2017-08-31 18:32] abbyad commented on #3837
As requested by @alxndrsn, here is a version without the `output` fields in the labels: [issue-3837-4-no-outputs.zip](https://github.com/medic/medic-webapp/files/1268123/issue-3837-4-no-outputs.zip)

This can also be seen in action on standard.app

[2017-08-31 19:23] abbyad commented on #3324
Confirmed using the XLSForm from the original post and medic-conf v1.5.6

[2017-08-31 19:23] #3324 closed

[2017-08-31 19:26] abbyad commented on #3511
This feature will be included as part of 2.14 and will be (re)acceptance tested once there is a 2.14 beta release.

[2017-08-31 19:30] abbyad commented on #3678
Reassigning to @ngaruko for AT since he'll be better equipped to have a fleshed out test environment.

[2017-08-31 19:50] abbyad commented on #3756
Conversions work well as tested via medic-conf 1.5.6, so good to go from an AT perspective.

[2017-08-31 19:50] #3756 closed

[2017-08-31 19:51] abbyad commented on #3804
@alxndrsn what version is this available in? If it is only in 2.14 I will wait for a beta of that to do AT.

[2017-08-31 19:54] abbyad commented on #3824
@estellecomment the broken tests are no longer visible via the link in the OP.

@ngaruko I think this is a good one for you to AT and see how the clearing of schedules works.

[2017-08-31 20:02] alxndrsn commented on #3804
Yeah, AFAIK this is 2.14 onwards.

[2017-08-31 20:07] sglangevin commented on #3804
This should be AT-ed on master. 2.14 has not yet been branched from master, so anything in master is going to be part of 2.14.

[2017-08-31 20:18] abbyad commented on #3804
Perfect, I'll test this on alpha.dev

[2017-08-31 20:21] sglangevin commented on #3846
I've updated it! I did a bit of password testing and created a more specific translation to guide users. I do like the idea of putting in that colored widget that shows password strength in the future, though. Feel free to pull in translations for the release.

[2017-08-31 20:23] sglangevin commented on #1472
I've updated the `password.weak` translation to be more specific. I think that should cover us for now but I like the idea of having a UI widget. Sounds like we already have an issue for that.

[2017-08-31 20:24] sglangevin commented on #2912
I have now tested this for creating docs from a repeat group and that is also working well. This can be used to register multiple births.

[2017-08-31 21:41] garethbowen commented on #3785
Backported to 2.13.0

[2017-08-31 21:45] ngaruko commented on #3821
So basically the issue is about `api` being killed by export. For now it carries on working when errors are raised. However, there are potentially two issues that could be raised separately if applicable:

1. Lucene does crash on my machine (which might have to do with my configuration of lucene and couchDB, so it needs to be tested on alpha.dev once it is up again)

2. When lucene crashes, the on

[2017-08-31 21:46] #3821 closed

[2017-08-31 22:05] garethbowen commented on #3840
PR here: https://github.com/medic/medic-webapp/pull/3853

[2017-08-31 22:07] garethbowen commented on #3846
Yeah I agree about the password strength indicator - that should be included in the design review of the entire users configuration section.

[2017-08-31 22:15] garethbowen commented on #3846
Translations backported to `2.13.x`

[2017-08-31 22:42] ngaruko commented on #2994
Tested this with latest build...Two issues:
a) when one (or all the fields) is empty, the message is sent successfully. Is this expected behaviour?
![image](https://user-images.githubusercontent.com/6979995/29948083-19e77696-8f01-11e7-973c-4b64d0b02529.png)
 and in the app:
![image](https://user-images.githubusercontent.com/6979995/29948094-25249868-8f01-11e7-8496-4c48018930d1.png)

all fields emp

[2017-09-01 01:25] ngaruko commented on #3644
Any clue on how to AT this @garethbowen @alxndrsn ?

[2017-09-01 01:43] ngaruko commented on #3747
Any clue on how to AT this @alxndrsn? Is `npm install horticulturalist` meant to be run in a specific directory (getting error like `saveError ENOENT: no such file or directory, open '/Users/bede/package.json'` and other warnings....and further down: `horti: command not found`...

[2017-09-01 02:00] garethbowen commented on #3644
@ngaruko I said how to test, and gave a couple of screenshots in this comment: https://github.com/medic/medic-webapp/issues/3644#issuecomment-323714481

[2017-09-01 02:05] garethbowen commented on #3597
Code review please @SCdF

[2017-09-01 02:22] sglangevin commented on #3840
Please backport this one to 2.13.x.

[2017-09-01 06:37] SCdF commented on #3747
@ngaruko you want to use `npm install -g horticulturalist` to make it a global command you can use and not something that installs itself into a particular directory.

[2017-09-01 07:03] SCdF commented on #3597
Merged.

[2017-09-01 08:19] alxndrsn commented on #2994
The change was in api, so you'll need to make sure you've got the latest `master` checked out.

[2017-09-01 09:31] alxndrsn commented on #3837
Loading this form calls `jsEvaluate()` 2,500 times.  This implies 2.5k xpath expressions are evaluated...

[2017-09-01 09:45] alxndrsn commented on #3837
From a page refresh:

Form | `jsEvaluate()` count | Time to load on server
---|---
0 - No Change | 2452 | 15s
1 - No Translations | 856 | 8s
2 - No Secondary Instance | 856 | 6s
3 - No db-object | 170 | 7s
4 - No outputs | | 3s

Time to load was measured for Toronto Health Centre in Firefox after loading a few forms for the same user, including the form in question.  A single timing was taken.

##

[2017-09-01 10:15] SCdF commented on #3839
Interesting that this used to work. I was thinking it was because of https://github.com/medic/medic-webapp/commit/233c69bd35dddf0e12b6df524f03636e76e3797b that was done in master but not backported.

@abbyad can you link me to where those message templates are? I can't find them in our defaults or in standard configuration.

[2017-09-01 10:23] alxndrsn commented on #3837
# Conclusion

## Removing the `jr:choice-name()` patch improves things _significantly_:

Form | `jsEvaluate()` count (with patch) | `jsEvaluate()` count (without patch)
---|---|---
0 - No Change | 2452 | 58
1 - No Translations | 856 | 58
2 - No Secondary Instance | 856 | 58
3 - No db-object | 170 | 54
4 - No outputs | 52 | 52

To improve performance I strongly recommend we find a replacement for o

[2017-09-01 10:26] alxndrsn commented on #3837
The final tests above were done on `master`.  I'm going to re-test this on the `2.13.x` branch, as the `jr:choice-name()` patch was slightly different in that release.  I expect similar results.

[2017-09-01 10:29] SCdF commented on #3839
@abbyad OIC it's inline with the `multi_report_alert` transitions.

[2017-09-01 10:52] alxndrsn commented on #3837
I've manually removed the `jr:choice-name()` patch on `standard.app` and see form load times of around 5s for both `0 - No change` and `4 - No outputs`.

[2017-09-01 11:07] SCdF commented on #3839
Code difference between `beta.4` and `beta.10`:

[code]

[2017-09-01 11:37] alxndrsn commented on #2587
Running `grunt dev` locally doesn't actually seem to solve this issue for me.

Instead I end up running e.g. `grunt mmjs karma`, but only after I've wasted some time re-discovering that these targets don't run against the latest code.

I still want to find a fix for this.

[2017-09-01 11:38] alxndrsn commented on #2313
@sglangevin I'd be grareful if you can check if recent changes have fulfilled the requirement in this ticket.

[2017-09-01 11:50] alxndrsn commented on #2090
This now locks up firefox so it has to be killed.

Nothing is shown in the console:

<img width="1274" alt="screen shot 2017-09-01 at 13 49 54" src="https://user-images.githubusercontent.com/191496/29968575-8f7925a6-8f1c-11e7-8a55-5d569adf9fd5.png">

[2017-09-01 12:19] alxndrsn commented on #2090
N.B. Pouch 6.3.4 itself appears to fail more gracefully in Firefox private browsing mode:

<img width="1271" alt="screen shot 2017-09-01 at 14 18 33" src="https://user-images.githubusercontent.com/191496/29969461-82aae69e-8f20-11e7-810e-3ddc79a952f9.png">

I guess we're doing something pathological in the DB service or bootstrap when the couch object fails to create.  Hard to put a breakpoint in f