[2015-05-08 10:27] garethbowen commented on #936
This is due to the JSON body parser in the latest API.

[2015-05-08 10:34] #909 closed

[2015-05-08 10:34] #936 closed

[2015-05-08 10:44] garethbowen commented on #920
Nice catch. The problem is when a Person is updated a Place might still have that Person registered as the contact. We need to update the Place to have a null contact on delete.

[2015-05-08 11:51] #920 closed

[2015-05-08 12:29] #917 closed

[2015-05-08 13:34] alxndrsn commented on #921
Clinic name added to search in #937

[2015-05-08 14:16] abbyad opened #938 "Collision of fields using Javarosa parser"
Fields `p` and `metap` end up with the same value.

example SMS content:
...`#p#This does not get set#metap#both fields end up with this value#`...

[2015-05-08 14:43] #938 closed

[2015-05-08 15:50] abbyad commented on #938
Tested on 1345 and works well

[2015-05-08 15:52] abbyad commented on #838
@browdav, can you post the basic template content of these pages (message, buttons, etc) then assign to @Lesterng for the UI design of these pages?

[2015-05-08 16:23] browndav opened #939 "Medic API: Don't crash when malformed JSON is sent"
We need to catch JSON parser errors, otherwise the client get unfriendly message and full stack traces, and we may very well crash with an unhandled exception (leading to 503s for other clients).

Issue duplicated from medic/medic-api#13, for inclusion in the next iteration.

[code]

[2015-05-08 16:24] browndav commented on #920
Thanks, that was fast. I'll test.

[2015-05-08 19:01] sglangevin opened #940 "When I delete a contact, they still appear as the primary contact for a place"
I set a contact as the primary contact for a catchment area. After deleting that contact, that person still appears as the primary contact for the catchment area, though when I click to edit the place, the primary contact field is blank and that person is not listed in the drop-down for primary contact.

[2015-05-08 19:09] sglangevin opened #941 "When I run the Reports tour from another tab (other than Reports) the reports don't load prior to the tour starting"
With no reports, the tour doesn't make much sense and it also fails to run all the way through - the user gets stuck at the Report Status explanation - pops up about 4 times and if you keep clicking next it eventually disappears.

[2015-05-08 19:15] sglangevin commented on #932
Realized this is the same as #919

[2015-05-08 19:15] #932 closed

[2015-05-08 19:20] abbyad commented on #900
@sglangevin do you have a final set of changes? Can you post them here when you do and I'll remove the `Needs Design Work` label so we can start the dev.

[2015-05-08 19:21] sglangevin commented on #900
The mockup I posted earlier is final - I created it with Amanda and @diannakane added some comments - we talked through it together. It's ready to go!

[2015-05-08 19:47] abbyad commented on #900
Ok, great. @garethbowen if you run into any design questions let us know.

[2015-05-08 20:22] #939 closed

[2015-05-09 00:07] abbyad commented on #857
Closing as the need for this is replaced by #910+ #858, and eventually to be replaced with the refactor of our current hierarchy system.

[2015-05-09 18:22] mandric commented on #886
Where would the xml forms be stored?  Would they get generated based on the JSON definitions?

[2015-05-10 09:35] abbyad commented on #886
At this point we do not need an automated translation between the XML and JSON definition. Someone technical from our team (likely the Tech Leads with my support) would be creating the XML and JSON versions separately.

As for where they would be stored, I'm not quite sure... but we do want to be able to serve all the files associated to a report. In Collect these get stored in the `{{FormName}}-m

[2015-05-10 22:20] garethbowen commented on #900
The "visits completed so far" widget has been removed - is this intentional?

[2015-05-10 22:22] garethbowen commented on #900
Unfortunately we can't make the graphs any wider and still have it work on small devices.

[2015-05-10 22:26] garethbowen commented on #900
With the "weeks pregnant" field I've left it as is. We can't change the title depending on the the configuration because the configuration may allow for LMP and non-LMP forms to be submitted. I couldn't think of a title that worked for both. Currently there's a "~" indicator for non-LMP submissions in an attempt to indicate the number is approximate. Suggestions welcome!

[2015-05-10 22:31] garethbowen commented on #900
With the "CHW" field you wanted to link to their interactions. We can easily link to Reports submitted by this CHW, or Messages submitted by this CHW, or we could link to the CHW in the Contacts tab. Would any of these do?

Anything more than that would require some design work as it's a new screen so probably outside the scope of this issue.

[2015-05-11 02:48] #900 closed

[2015-05-11 10:27] alxndrsn commented on #923
N.B. if the contact is also "primary contact" for Catchment Area, you will get a couple of bonus Errors/Exceptions

[2015-05-11 10:33] garethbowen commented on #941
I think I fixed this with a fix for a similar bug today, and I could get it to happen with the latest alpha. Please try again and reopen if you can get it to happen again.

I think this will also solve the problem with no reports although it won't be pretty or very usable without at least one report. The demo data should solve this for most cases.

[2015-05-11 10:33] #941 closed

[2015-05-11 10:35] garethbowen commented on #940
Although it doesn't look the same I think this is a duplicate of #920 and thus, already fixed. Please try again to prove me wrong  :)

[2015-05-11 17:08] browndav commented on #921
Closing; moving to acceptance testing.

[2015-05-11 17:08] #921 closed

[2015-05-11 17:30] browndav commented on #923
Definitely related to #902; @alxndrsn found that replacing the `HttpWrapper` with `Http` makes the issue go away. We suspect that the request cancellation is a little over-zealous, and we need to either allow exceptions to the cross-route cancellation, or we need to reorder requests in the affected areas so that requests don't get auto-cancelled.

[2015-05-11 17:39] alxndrsn opened #942 "Messages screen does not work in small screens"
In Chromium browser:

1. resize browser width < 768px
2. switch to Contacts tab
3. switch to Messages tab
4. observe that the message menu is now scrunched up in the corner, and "No Message Selected" on gray background takes up most of the screen

Expected behaviour: if no message is selected, small-screen user should just see the list of all messages.  This is the case when the page is reloaded,

[2015-05-11 17:40] browndav commented on #942
FWIW, just loading https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite#/contacts/ in a super-narrow browser window then switching to messages does it too.

[2015-05-11 17:42] browndav commented on #817
Closing as finished; moving to acceptance testing. #818 should serve as most of the acceptance testing.

[2015-05-11 17:42] #817 closed

[2015-05-11 17:51] browndav commented on #772
Closing for acceptance testing. IIRC, the acceptance testing should just cover submission via HTTP.

[2015-05-11 17:51] #772 closed

[2015-05-12 03:55] abbyad commented on #772
Actually I think this is specifically for sending via SMS, which can be configured in app_settings:

![image](https://cloud.githubusercontent.com/assets/789512/7579907/cfaa39ea-f873-11e4-854a-260d723537a5.png)

[2015-05-12 10:59] alxndrsn commented on #919
This bug also occurs when deleting Catchment Areas

[2015-05-12 10:59] alxndrsn commented on #923
This bug also occurs when deleting Catchment Areas, but only the `Error fetching parents Error: null` is seen.  This may be a simpler case to address.

[2015-05-12 19:28] mandric commented on #886
We should open a different issue for supporting media on medic collect form submissions (creating attachments on records).  I don't think it has anything to do with this issue?

[2015-05-13 13:51] alxndrsn opened #945 "Cannot delete a contact whose catchment area has already been deleted"

[2015-05-13 16:45] btbonval opened #947 "Data export: Updates to contact data only apply to new forms, old forms become inconsistent"
So far as I can tell, forms are filled in using static data configured by SMS phone number.

If a CHW has their name changed (perhaps the first entry had a typo, or a middle initial was added/dropped), then forms before the change hold the old name for the CHW, while new forms hold the new name for the CHW.

Similarly, if an organization or any other static field is changed, it doesn't propagate i

[2015-05-13 17:00] btbonval commented on #947
To quote @browndav , "what the export is doing is unintuitive"

Perhaps that would make a good title for this issue.

[2015-05-13 17:05] browndav commented on #947
The problem that @btbonval is running in to (I think), is that the data export tool exports contact data _as it was at the time of report creation_, not as it is at the time-of-export. This is the unintuitive part; people processing the exported data are probably assuming that the contact information for each record is the most up-to-date.

[2015-05-13 17:08] browndav commented on #947
I've renamed this so that it's clear it only applies to the data export; if there are similar issues elsewhere in the app, I'll file them separately.

[2015-05-13 17:50] sglangevin commented on #772
I think in order to acceptance test this, I'll need the required message format and the number for the stats.app instance (once Twilio is set up) so that I can try it out and see how it works. And if I'm going to set up in app settings to submit via SMS, how could I get the app to submit data prior to having been installed for a month?

[2015-05-13 21:27] garethbowen commented on #947
Similar: #928 #842 #557

[2015-05-14 20:57] diannakane commented on #912
I think we're confusing "export" by using it both as a verb and as a noun. I see what you mean, though.  We can guide users to the various types of exports (or ways to export) in the user guides. Issues retracted.

[2015-05-14 20:58] #912 closed

[2015-05-14 22:04] diannakane commented on #858
![img_1827](https://cloud.githubusercontent.com/assets/1675870/7643004/5229a2ac-fa4a-11e4-97e8-3374727095d9.JPG)
Here's a sketch of the facility tab for the wizard. We'd like the facility created here to default to the health center level. Can we hide the district level from DIY?

[2015-05-14 22:47] browndav opened #948 "Modem support broken in latest development builds of Medic OS"
Currently, modems plugged in to recent builds of Medic OS are not recognized. Examining `dmesg` shows that `usb_modeswitch` is crashing.

In kernel version 3.14, the format of `/sys/bus/usb` changed, breaking the "just link /dev/bus to /sys/bus" hack that we were using. In parallel to this, `udev` started requiring that `/dev` be a `devtmpfs` mount (see the changelog around `udev-171`); a quick ex

[2015-05-14 23:35] sglangevin commented on #940
Working now, though I have to refresh the screen to get the contact to disappear from the left pane.

[2015-05-15 00:17] sglangevin opened #949 "Analytics tab shows upcoming appointment for appointment in the past"
![screen shot 2015-05-14 at 5 13 32 pm](https://cloud.githubusercontent.com/assets/1286381/7644646/e8b86066-fa5c-11e4-8e06-563ea2a42425.png)
This patient should show up on recent missed appointments because the appointment was 4 days ago but is on the upcoming appointments chart instead.

[2015-05-15 00:18] sglangevin opened #950 "Patient's weeks pregnant field is blank (Analytics)"
![screen shot 2015-05-14 at 5 13 32 pm](https://cloud.githubusercontent.com/assets/1286381/7644660/2710d140-fa5d-11e4-8325-7f90a9018dac.png)
The patient shown in the upcoming appointments chart doesn't have an estimate for weeks pregnant.

[2015-05-15 00:22] sglangevin commented on #900
Submitted a few issues related to data displaying in Analytics - #949 and #950

As to your last question, @garethbowen I am fine with the CHW field linking to reports submitted by that CHW. Just a search in the reports tab for all reports they have submitted across all patients.

The visits completed so far widget was removed intentionally. And I'm not sure how to acceptance test the "~" indicator

[2015-05-15 00:49] sglangevin opened #951 "When I updated my webapp to the latest version, all of my unstructured messages disappeared"
This includes the sample data messages - my messages tab is now empty. I updated to alpha-1365 from alpha-1352, medic-api also updated, not sure on the versions.

Once a message was sent, the messages reappeared - strange. It also could have reappeared when a message was received, both happened around the same time.

[2015-05-15 00:51] garethbowen commented on #949
This is correct as per the spec:

I agree it looks a bit odd. Maybe it should be called "Due Appointments" or something?

[2015-05-15 00:54] garethbowen opened #952 "In Analytics link the CHW name to reports"
From @sglangevin the CHW name in the ANC Analytics widgets should link to "a search in the reports tab for all reports they have submitted across all patients."

[2015-05-15 00:54] garethbowen commented on #900
I've created #952 for linking to the CHWs reports.

[2015-05-15 00:55] sglangevin commented on #951
They seemed to come back once I sent a new unstructured SMS and then disappear if I went to a different tab and came back. After a few tries of that, though, I'm just getting this message for both reports and for unstructured SMS: SMS message received; it will be reviewed shortly. If you were...

[2015-05-15 00:58] sglangevin commented on #949
Yep, you got me there :)

So does the person go to the recent missed appointments after the 7 days? I think it's fine as long as I put that in the place where we explain the widgets.

[2015-05-15 00:59] garethbowen commented on #950
@sglangevin It would be great if we could get the registration document for this pregnancy, even just a screenshot of the report in the Reports tab would help.

[2015-05-15 01:00] sglangevin commented on #950
![screen shot 2015-05-14 at 6 00 14 pm](https://cloud.githubusercontent.com/assets/1286381/7645001/1c10ce66-fa63-11e4-8893-d93ff580d951.png)

[2015-05-15 01:02] garethbowen commented on #950
@sglangevin What's the received date?

[2015-05-15 01:03] sglangevin commented on #950
![screen shot 2015-05-14 at 6 03 13 pm](https://cloud.githubusercontent.com/assets/1286381/7645027/8655c77c-fa63-11e4-8239-1e87523e2209.png)

[2015-05-15 01:07] sglangevin commented on #951
![screen shot 2015-05-14 at 6 07 07 pm](https://cloud.githubusercontent.com/assets/1286381/7645058/1a84c326-fa64-11e4-9b40-60447dbf744b.png)
It's funny to see that I have unread messages but they won't display!

[2015-05-15 01:09] browndav commented on #951
This is a regression that Alex is working on, IIRC.

[2015-05-15 06:05] alxndrsn commented on #951
Suffering from!  But yes, I will look into this.

[2015-05-15 06:26] alxndrsn commented on #951
This should now be fixed on `develop`.

[2015-05-15 10:02] alxndrsn opened #953 "deleting a Catchment Area's "Contact" is not reflected in the Catchment Area's view until a page refresh is done"
# To recreate:
1. go to Contacts tab
1. select a catchent area
1. select the Contact for that area
1. delete the contact
1. select the catchment area again in the left-hand list
1. observe that the Contact field is still filled
1. refresh the page, and observe that the contact is no longer set

# Expected behaviour:
The final refresh should not be required - contact should be gone already.

[2015-05-15 10:06] alxndrsn opened #954 "deleting a Catchment Area does not update the Contact's "Catchment Area" field"
# Steps to recreate:
1. find a person who is set as contact for a catchment area
1. delete the catchment area
1. browse back to the person
1. refresh the browser
1. observe that the person still has Catchment Area set

# Expected behaviour:
* When a Catchment area is deleted, it should be removed from related contacts

[2015-05-15 10:08] alxndrsn commented on #954
#945 should be fixed by https://github.com/medic/medic-webapp/pull/946

[2015-05-15 10:08] garethbowen commented on #953
Sounds like a check is required in the event handler.

[2015-05-15 10:14] #945 closed

[2015-05-15 11:10] #919 closed

[2015-05-15 11:10] #923 closed

[2015-05-15 11:51] #951 closed

[2015-05-15 11:54] alxndrsn commented on #954
Possibly duplicate of https://github.com/medic/medic-webapp/issues/924

[2015-05-15 13:45] alxndrsn commented on #924
@garethbowen @browndav
What is acceptable behaviour here?
It's quite simple to fix the dialog so that the dropdown is initialised empty if the report is associated with a since-deleted place (modify `formatResult()` in the call to `Facility` in `$scope.updateAvailableFacilities()`).
This is not necessarily the correct fix though - if the place is deleted, we might still have full details of the pe

[2015-05-15 14:56] alxndrsn commented on #925
@garethbowen this one's for you!

[2015-05-15 20:47] browndav commented on #954
Alex and I talked this morning, and agreed that this is a broader issue that affects several area of the application – specifically, multiple areas of the app are using embedded documents (read: a snapshot of the associated object at time-of-creation) when it might be more appropriate to present a reference (read: the most current version of the associated object). Can we all chat about this via S

[2015-05-15 20:52] browndav commented on #929
I tested this on a few Windows XP VMs with a couple different versions of Office, and Excel seemed to associate itself with XML files. I agree that it'd be good to find a working file extension that's (more) Excel-specific.

I take it you're getting a different application than Excel when you double-click the exported file, but it works if you open Excel specifically and use `File -> Open...`?

[2015-05-15 20:56] browndav commented on #954
#947 is conceptually related to this; it's representing the update case, whereas this issue represents the delete case.

[2015-05-15 20:59] browndav commented on #918
@mandric: We just resolved this by updating `http-proxy`, correct? If so, feel free to close and move to acceptance testing.

[2015-05-15 21:02] browndav commented on #482
Any objections to closing this, #873 and #874 in favor of #910?

[2015-05-15 21:03] browndav commented on #863
This might be timing-based; I've seen it happen off and on, but not recently. I'll see if I can catch it during the next QA / acceptance testing run.

[2015-05-15 21:04] browndav commented on #862
@garethbowen: Believe we resolved this; am I remembering correctly?

[2015-05-15 21:07] browndav commented on #803
Going to close this for now, as (i) the features that require libphonenumber in medic-transport aren't going to land in `master` any time soon, and (ii) we almost certainly need to repackage medic-transport to run under gardener so that its libphonenumber is easy to update. I'll create an issue for item (ii).

[2015-05-15 21:08] #770 closed

[2015-05-15 21:09] browndav commented on #786
@mandric: Does this issue still exist in the latest alpha?

[2015-05-15 21:13] browndav commented on #794
This may be relevant in the context of #910 (contact/place refactor) and/or #947 (embed vs. link for contacts/places).

[2015-05-15 21:14] browndav commented on #758
Closing this due to its age. We can re-file if we're able to reproduce the issue on the latest development (alpha) snapshot.

[2015-05-15 21:14] #758 closed

[2015-05-15 22:55] mandric commented on #786
Nope, can't seem to get it to work.

[2015-05-15 23:05] mandric commented on #786
![screen shot 2015-05-15 at 7 41 27 pm](https://cloud.githubusercontent.com/assets/25641/7663236/6776c718-fb3d-11e4-9971-416817f2c1c2.png)

![screen shot 2015-05-15 at 8 04 43 pm](https://cloud.githubusercontent.com/assets/25641/7663245/ac2f5f5a-fb3d-11e4-98b6-d2a76af212d3.png)

Expecting an error message like "only forms allowed."

[2015-05-16 00:10] browndav commented on #948
Some substantial progress in https://github.com/browndav/medic-os/commits/dev, but it's not quite there yet.

So far, I have `devtmpfs` working properly and have managed to stop the `usb_modeswitch` segmentation faults. It looks like we're mode-switching properly from `udevd` now, but there's what looks like a module auto-loading issue, and possibly a secondary issue involving error responses from

[2015-05-16 00:15] #786 closed

[2015-05-16 00:46] browndav commented on #948
Auto-loading seems to be broken for the `hso` module, but `option` (for Huawei modems) works fine. If you `modprobe hso` at any point before device insertion, the Option devices work again. There's also a `BUG()` on device removal in `hso.c` related to sysfs that I need to look in to.

N.B. It also looks like the HSO driver refuses to initialize a device that doesn't have a SIM in it; I'm not sure

[2015-05-16 21:53] mandric commented on #822
seems to be working fine on our 2.4-debug build of smssync, tested on nepal.app.

[2015-05-17 02:24] mandric commented on #822
Thinking a doc is in order here, on 1) how to configure SMSSync (we'll probably want to change gateway user passwords as part of this) and 2) the nginx.conf changes.

[2015-05-17 21:17] garethbowen commented on #924
I'm hitting similar problems with #910 . I think allowing orphaning of contacts who have data_records will be an issue for things like permissions which can be based on the district of the contact who the record is assigned to. However, leaving the contact in a deleted Place is also problematic, and probably unexpected - if I delete a district I would not expect an incoming report to be assigned t

[2015-05-17 22:21] garethbowen commented on #803
This doesn't just affect medic-transport - we also need to keep it up to date for webapp. Whatever solution we come up with for webapp we can easily use for transport if and when it's needed.

[2015-05-18 09:57] garethbowen commented on #942
It's the flexbox... :anguished:

[2015-05-18 11:04] garethbowen commented on #942
I can hack around the issue, but the messages animation behaves strangely too. I'll look into why the messages tab behaves differently to reports and contacts.

[2015-05-18 11:20] alxndrsn commented on #924
Definitely sounds logical.  UI extensions to this could then be e.g. to offer to cascade delete all the children of a place, or to re-assign records to a different contact.

[2015-05-18 12:03] garethbowen commented on #942
Strange. Angular autoscroll attribute must mess with the CSS rendering in Chrome. It appears like it doesn't solve the issue it was supposed to solve anyway, so removing it does the trick.

[2015-05-18 12:03] #942 closed

[2015-05-18 12:06] garethbowen commented on #862
Yes this is a duplicate of #911

[2015-05-18 12:06] #862 closed

[2015-05-18 13:17] garethbowen commented on #952
This can't be tested until #910 is merged.

[2015-05-18 13:22] #952 closed

[2015-05-18 22:02] #908 closed

[2015-05-18 23:03] mandric commented on #803
One idea: centralize the lib in webapp so the phone `from` field can still be parsed on the server side at  record creation time (in couchdb) then add an http interface to medic-api for everything else that wants to use libphonenumber?

[2015-05-19 00:04] garethbowen opened #957 "Namespace report fields"
Parsed report fields are currently stored directly on the doc which means they can conflict with reserved properties. For example. a form with a `contact` field would be overwritten when sentinel assigns a contact. Refactor this so that all form fields are stored in a specific property.

For bonus points we can also store some meta data about the field such as the type and the label then we save s

[2015-05-19 15:47] #910 closed

[2015-05-19 16:06] #892 closed

[2015-05-19 16:12] abbyad commented on #903
Depends on #905

[2015-05-19 23:14] sglangevin commented on #929
Yeah, the default application for opening wasn't Excel for me, but let me test this again on the Windows computers in the office. It might be that I was testing this on my Mac.

[2015-05-20 14:27] mandric commented on #822
Somehow borked this one. SSL is not fully compatible yet because the callback does not define https anywhere, see example.  I think we need to add a protocol property to that callback and then make sure SMSSync respects it.  Having a look to see if SMSSync will need a patch or not.

[code]

[2015-05-20 14:37] browndav commented on #905
Resolved in https://github.com/browndav/medic-os/commit/3f79c2f.

[2015-05-20 14:37] #905 closed

[2015-05-20 14:56] alxndrsn commented on #930
Fixed pending PR review by @garethbowen

[2015-05-20 14:59] mandric commented on #822
It looks like using port 443 in the callback might do the trick...  https://github.com/medic/SMSSync/blob/b7db2c92f4806a64812f266832750efe36a71f04/smssync/src/main/java/org/addhen/smssync/messages/ProcessMessage.java#L546

[2015-05-20 15:08] browndav commented on #924
I think restricting deletions is the way to go for this next release, and we could gradually remove that restriction as we fix the linking vs. embed issues between reports/contacts/places.

[2015-05-20 15:11] alxndrsn commented on #924
What's the desired behaviour in the UI?  Show a red fail message in the "confirm delete" modal?
e.g.

[2015-05-20 15:30] mandric commented on #822
I think we need a SSL related header in the proxy so we know when to use port 443 in the callback.  Here's the request as seen in the couchdb list/handler:

[code]

[2015-05-20 15:33] mandric commented on #822
Maybe a `X-Forwarded-Proto: https` or something, @browndav I'll go with this header for now, let me know if you have suggestions.

[2015-05-20 15:33] browndav commented on #924
I think that's the best thing to do for now.

[2015-05-20 15:55] browndav commented on #858
Is this a must-have for DIY Beta Two? We're trying to stabilize and get started on the mobile application as quickly as possible due to deadline/time constraints.

[2015-05-20 16:13] alxndrsn commented on #916
@browndav how do I trigger re-indexing so I can see this error?

[2015-05-20 16:37] alxndrsn commented on #916
@browndav how do I trigger re-indexing so I can see this error?

[2015-05-20 16:37] #916 closed

[2015-05-20 16:39] alxndrsn opened #963 "Exception being thrown from view – "getName is not defined""
We're getting an exception thrown from one of the views, which is spamming the logs during reindexing and may be causing other issues:
[code]
We should find this and fix the view so it's tolerant of a non-existent `getName` property.

[2015-05-20 16:43] alxndrsn commented on #963
Presumably caused by this call to `getName()`: https://github.com/medic/medic-webapp/blob/develop/packages/kujua-sms/kujua-sms/views.js#L279

[2015-05-20 16:48] alxndrsn commented on #963
@garethbowen is it possible this was introduced with the rename of `getName` to `getPosition` in 25324a399c19ad9027f666716578a9db89448b7b?

[2015-05-20 16:54] abbyad opened #964 "Incorporate latest translations"
Bring in translations from POEditor

[2015-05-20 16:56] browndav commented on #903
I can take this one now. Looks like https://www.npmjs.com/package/zip-stream has minimal dependencies and would be usable.

[2015-05-20 16:59] mandric commented on #822
It looks like our build of SMSSync will need a patch, nginx returns a 400 with this error:

2015/05/20 16:54:50 [info] 28050#0: *17798 client sent plain HTTP request to HTTPS port while reading client request headers, client: 201.6.14.5, server: _, request: "POST /medic/_design/medic/_rewrite/_db/_bulk_docs HTTP/1.1", host: "myproject.app.medicmobile.org:443"

[2015-05-20 17:05] browndav commented on #916
The brute-force way is to stop couchdb, remove the contents of `mrview`, restart couchdb, and then query the view. That'll force it to regenerate the whole thing; you should also be able to add a record and requery the view to see a partial rebuild.

[2015-05-20 17:05] abbyad commented on #772
@garethbowen can you give @sglangevin some guidance on how to acceptance test this?

[2015-05-20 17:29] abbyad commented on #882
Moving to beta 3 and having admins go to http://medic.local/_couch/_utils/database.html?medic/_design/medic/_view/usage_stats_by_year_month to view the stats for now.

[2015-05-20 17:31] alxndrsn commented on #916
I fixed it already :p

[2015-05-20 17:43] abbyad commented on #858
We will reevaluate the urgency of this issue after the acceptance testing of #910 - it may no longer be needed.

[2015-05-20 18:01] #948 closed

[2015-05-20 19:15] browndav commented on #822
Will it follow an HTTP to HTTPS redirect properly?

[2015-05-20 19:31] sglangevin commented on #934
We're putting #882 on hold for now and replacing it by making sure the monthly impact stats report includes all of the stats we wanted to see. Users will access this by viewing in couch (DIY managers will provide the URL or will check during site visits). I've updated the list of stats in the google doc, will paste the final list below too.

[2015-05-20 19:34] sglangevin commented on #934
FULL LIST OF STATS
(note that a few on the top list have changed from % to #)
* Registered pregnancies: number of  women registered in ANC this month
* danger signs flagged: number of danger sign reports submitted this month
* Confirmed deliveries: number women with confirmed deliveries this month
* Estimated deliveries: number of women who are estimated to have delivered based on LMP and time sin

[2015-05-20 19:48] mandric opened #966 "travis build failing"
Related to travis_after_all script and when the leader (last build) can't finish their job and continues to wait until travis max build time (50 min).

Example: https://travis-ci.org/medic/medic-webapp/jobs/63311126
[code]
See also: https://github.com/dmakhno/travis_after_all

[2015-05-20 22:38] garethbowen opened #967 "Remove patients from ANC Analytics when OFF received"
When a CHW submits an OFF report for a registration, that registration should no longer show in the appointments, high risk, active pregnancies, or any other ANC widget.

If an ON report is received the registration should be included in widgets again.

[2015-05-20 22:57] garethbowen opened #968 "Improvements to date filtering for ANC appointments widgets"
Registrations are shown in the Upcoming Appointments widget when an appointment is due in the last 14 days or the next 5 days.
Registrations are shown in the Missed Appointments widget when an appointment is due between 14 and 23 days ago.

This was done so that for the standard configuration the appointment disappears from the missed appointments widget when the next appointment is upcoming. This

[2015-05-21 10:01] #925 closed

[2015-05-21 10:28] alxndrsn commented on #930
Thanks for the fix, @garethbowen

[2015-05-21 10:28] #930 closed

[2015-05-21 13:26] alxndrsn opened #969 "Deleting places does not always remove references to that place"
# Contact

When a contact is deleted, it remains associated with a Catchment Area if it was the primary contact.

# Catchment Area

# Health Center

# District

# Report

[2015-05-21 13:41] alxndrsn commented on #924
This bug actually no longer occurs.  I've done a review of the association updates which don't happen on deleting a contact in https://github.com/medic/medic-webapp/issues/969, but I doubt it's as high priority as this bug was.

[2015-05-21 13:41] #924 closed

[2015-05-21 13:42] #963 closed

[2015-05-21 22:26] garethbowen opened #970 "The Primary Contact For section has empty rows"
![empty-primary-contact-for](https://cloud.githubusercontent.com/assets/2064938/7760185/ef3e1096-006c-11e5-9365-c8cd9ea14758.png)

[2015-05-21 22:33] #970 closed

[2015-05-22 09:51] garethbowen commented on #772
Sorry about taking a while to get to this @sglangevin !

Firstly, set up your own stats instance. You'll need an attached phone number and to install the states form: https://raw.githubusercontent.com/medic/medic-data/master/data/anonymous-stats/forms.json

Secondly configure your primary instance to submit stats. This can only be configured under the app_settings screen in dashboard. Enter 'sms'

[2015-05-22 17:04] mandric opened #971 "Update demo data to include facility structure changes"
Migrate `related_entities` to `contact`.  See https://github.com/medic/medic-webapp/issues/910

[2015-05-22 17:07] mandric opened #972 "Find alternative XML parser for openrosa-formlist"
The current one requires python and node-gyp to build.

[2015-05-22 17:32] mandric opened #973 "Schedule configurator uses wrong field start_from date property"
Production bug, see: https://github.com/medic/projects/issues/2

[2015-05-23 14:24] #972 closed

[2015-05-25 02:01] garethbowen commented on #934
I've added the new fields. You can see the output here: http://stats.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/cbba00dc4535ca1e4f9c07db292da4e5

[2015-05-25 02:01] #934 closed

[2015-05-25 09:23] #949 closed

[2015-05-25 09:26] garethbowen commented on #914
I'm pretty sure this is a dupe. Closing for now.

[2015-05-25 09:26] #914 closed

[2015-05-25 12:04] abbyad commented on #934
Thanks @garethbowen, I'm assigning to @sglangevin for acceptance testing. Sharon, let us know if this is suitable.

[2015-05-25 12:10] abbyad commented on #819
@mandric, this will allow us to use the stock SMSsync, correct?

We had this as part of Beta 2, but can reevaluate if we are far off from having this done..

[2015-05-25 12:13] abbyad commented on #880
I think the last bit of this is in concierge, assigning @browndav to it. Once you are done Dave you can close and move it to Acceptance Testing.

[2015-05-25 12:16] mandric commented on #822
Current hack for time being until we patch SMSSync is to use this nginx config which leaves a hole for the SMSSync callback: https://github.com/mandric/vm-toaster/blob/ssl-only/platform/packages/medic-core/settings/medic-core/nginx/nginx.conf

[2015-05-25 12:17] mandric commented on #819
Yes we would not need to maintain a fork anymore.

[2015-05-25 13:18] alxndrsn commented on #969
Simplest place to enforce this is surely `validate_doc_update` in the design doc.

[2015-05-25 13:22] alxndrsn commented on #969
Or perhaps not: https://stackoverflow.com/questions/6069324/can-i-query-views-from-a-couchdb-update-or-validate-doc-update-function

[2015-05-25 23:45] garethbowen commented on #950
This bug affects recent registrations without LMP. The problem was we were using the reported date as the date of conception, so any patient registration received 6 days ago was calculated to be 0 weeks pregnant, which doesn't get shown in the UI.

The calculation for Weeks Pregnant is based on the ANC Visualisations PDF which says...

We're showing approximate "weeks pregnant" rather than "weeks

[2015-05-26 01:27] garethbowen opened #974 "Handle special characters in form submissions"
If I submit a comment with an exclamation mark using TextForms or Muvuku format the message doesn't get recognised as a form.

If I submit a comment with quotes using TextForms Compact format the quotes are stripped out.

[2015-05-26 02:37] #974 closed

[2015-05-26 12:50] mandric commented on #950
Nice work here, this is a touchy subject but makes sense to me too @garethbowen.  I'm sure @diannakane and others have opinions here as well.

[2015-05-26 19:24] mandric opened #975 "dashboard update UI hangs when medic-api is restarted/updated."
the install hangs during the installation of medic-sentinel module.

[2015-05-26 19:25] sglangevin commented on #975
![screen shot 2015-05-26 at 12 25 06 pm](https://cloud.githubusercontent.com/assets/1286381/7821251/4ed91da6-03a2-11e5-8cf1-774765a7d0f4.png)

[2015-05-26 23:03] garethbowen commented on #973
If this is accepted we should either backport to testing, or push develop to testing soon.

[2015-05-26 23:03] #973 closed

[2015-05-26 23:14] browndav commented on #973
Suspect we need to backport all of the way to `master` (release) as `0.4.5`. @mandric: Does that match what you're thinking this morning?

[2015-05-26 23:34] mandric commented on #973
Pretty much was thinking port to testing and merge to master.

[2015-05-27 01:21] #482 closed

[2015-05-27 01:45] garethbowen commented on #874
This is now fixed - if the phone number resolves to any person then that person is associated even if they have no location, district, etc.

[2015-05-27 01:45] garethbowen commented on #873
This is now fixed - if the phone number resolves to any person then that person is associated even if they have no location, district, etc.

[2015-05-27 01:45] #873 closed

[2015-05-27 01:48] garethbowen commented on #874
Accidentally closed the wrong issue...

[2015-05-27 02:03] garethbowen commented on #874
I've just verified that this is also fixed. Yeeha!

[2015-05-27 02:03] #874 closed

[2015-05-27 02:39] garethbowen commented on #772
@sglangevin I've added a way to run schedules immediately so you don't have to wait for 3am. You'll have to update to the latest alpha, then go to:

* `/api/v1/schedule/usageStats` to generate the stats. There must be documents from the last calendar month, and no existing usageStats document for the last calendar month.
* `/api/v1/schedule/statsSubmission` to submit the stats. There must be unsub

[2015-05-27 11:57] mandric commented on #772
Is `/schedule` a bit overloaded here?  Does it have anything to do with message schedules?

[2015-05-27 21:23] garethbowen commented on #772
@mandric Fair enough - it has nothing to do with message schedules. What about `/scheduler/`? Any other ideas?

[2015-05-28 11:52] mandric commented on #772
/stats?

[2015-05-28 14:24] alxndrsn commented on #817
@mandric @browndav Did the bonus 2nd phase get completed?

[2015-05-28 15:21] btbonval commented on #950
@alxndrsn working from the impact side doing many of these same calcs, I might be able to address some of this.

I think `weeks since LMP - 2` should be `weeks since LMP + 2`.

As @abbyad brought up in slack, there is EDD and then there is max expected delivery date. EDD is typically 40 weeks since LMP. But patients can deliver a few weeks earlier or later. So EDD + 2 weeks is actually MDD. Due to

[2015-05-28 15:23] btbonval commented on #950
Also as a PS, we've been using EDD + 4 weeks in impact but it is configurable per deployment.

[2015-05-28 20:02] garethbowen commented on #772
I thought `/cron` was too technical, and hopefully one day we'll use the scheduler for more than just stats. I'll go with `/scheduler` for now.

[2015-05-28 20:08] mandric commented on #772
Ok, my main concern was having a /schedule and a /schedules and the two doing very different things (the latter allowing us to manage messages schedules).  Probably thinking too far ahead.

[2015-05-28 22:45] garethbowen commented on #975
Just updated no problem. Either it's resolved, or more likely, occurs randomly. If this happens again we should grab the logs to see if there's a problem with the module. It could also be a bug in dashboard so we should check the browser console in case there's something obvious.

[2015-05-29 01:30] mandric commented on #975
I think it might only happen when medic-api has an update and is restarted during the install.  Sharon  uploaded gardener logs in slack but I haven't diagnosis it yet, would be good to have browser console logs also. https://medic.slack.com/archives/support/p1432669247000084

[2015-05-29 09:33] garethbowen commented on #975
Going through the logs, there are a couple of errors in startup.log...

[code]

The logging isn't timestamped so I can't tell if it's related but I suspect it's not. It's also fixed (by ignoring nameless modules) by this commit: https://github.com/garden20/gardener/commit/4061ad56507567ae47dd3fb7649644d090a27e77 . So I recommend we update gardener in medic-os and ignore.

The actual problem looks

[2015-05-29 09:56] garethbowen commented on #975
I've made a [commit](https://github.com/garden20/gardener/commit/f581a89a4e53af9e2e04b1c125969f8a07b6027a) which fixes installation in dashboard installation which will fix the first error above, which should mean installation completes successfully avoiding the infinite polling.

Essentially the status bar is never updating because the installation process dies unexpectedly. The commit @mandric m

[2015-05-29 14:27] browndav commented on #975
Looks good to me; this also retains/caches all of those properties on `module`, which seems to make sense.

I'll file an issue for timestamping the logs – I was going to just put together a little `awk` timestamper script to minimize dependencies and cover all of the `stdout` / `stderr` style logs... and then we'll have to do something different for gardener (since it's using winston and we can't

[2015-05-29 14:40] mandric commented on #975
There isn't an infinite loop of installation, it just say it will install but the installer aborts when md5s match.  I think we're missing a log entry when aborting the install call, I'll check that too...

[2015-05-29 15:01] browndav commented on #818
We found some bugs in the current implementation of `_handle_transmit_timer` in `lib/adaptor/medic-mobile.js`. See https://github.com/medic/medic-transport/blob/master/lib/adaptor/medic-mobile.js#L350. These bugs will likely cease to be an issue once we're using the status-change API from #817 instead of the HTTP callbacks, but should be fixed anyway to benefit currently-deployed projects:

1. We

[2015-05-29 22:38] sglangevin opened #976 "Select a language prompt should only set the web app language, not the language for outgoing messages"
![select language](https://cloud.githubusercontent.com/assets/1286381/7893561/fc58a8ac-0613-11e5-83d4-d791f11d7c57.JPG)
After completing setup during DIY installation, the user is prompted to select a language. This should only set the web app language, not the language for outgoing messages. If it sets both languages, then the language preference step is checked off in the configuration wizard, e

[2015-05-29 23:04] sglangevin opened #977 "Delayed unread notification for new reports and messages"
When new messages and reports come in it takes the UI a while to update with the number of unread items. Prior to this happening, if I click on a message or report, it doesn't get marked as read unless I refresh the screen (changing tabs didn't make the messages read).

[2015-05-29 23:56] sglangevin opened #978 "Outgoing sample messages aren't resolved to contact names"
When the sample messages load, the incoming messages are resolved to contact names but the outgoing messages aren't. This results in two message threads instead of one (one for incoming, one for outgoing). This doesn't seem to affect message threads for contacts that I added on my own, only sample data. The reason why this is an issue is because when you start up the app and run the Messages tour,

[2015-06-01 18:55] abbyad opened #979 "Serve a form's media files with the form"
Following #886,  we need to be able to serve the media files necessary to render the blank form. On the phone these are kept in a folder named `{{form_name}}-media`. For example, form `registration` would have all associated media in the `registration-media` folder.

The most common of these files are the image shown on the first page of the form (`form_logo.png`) and the data to populate fields o

[2015-06-01 19:14] mandric commented on #979
Can you provide a working example of a form with a manifest file?

[2015-06-01 19:20] abbyad commented on #979
The manifest file is only used when serving forms, not in manually putting the files on the device. The manifest file can be generated by [openrosa-manifest](https://github.com/digidem/openrosa-manifest), and you can see an example [here](https://github.com/digidem/openrosa-manifest/blob/master/index.js)

[2015-06-01 19:27] mandric commented on #979
That example refers to the wrong library oddly enough.  If you have any specific examples in mind you want to see working that I can use to prove my implementation please include them, thanks!

[2015-06-01 19:35] abbyad commented on #979
No specific examples... you can just use a `form_logo.png` file, which by default will be shown when you open the form on the device so will be easy to know that it worked.

[2015-06-01 20:28] garethbowen commented on #975
Oh right. I expected it wouldn't even get on the queue if the md5s matched. Maybe we can output something like "install not required due to md5 match" in this case?

[2015-06-01 21:19] garethbowen commented on #976
The first prompt shouldn't even set the global web app language, it should only set the user's web app language.

[2015-06-01 21:29] sglangevin opened #980 "Occasionally I need to turn MM off and then back on because I stop receiving and/or being able to send messages"
I'm not sure if this is a modem issue or a MM issue, but I've noticed it a few times, both on my windows computer and when I run MM using vmware fusion on my Mac. I can try to recreate this and share logs if that would help.

[2015-06-01 21:32] sglangevin opened #981 "When I select a primary location for a person, the blank option disappears."
Similar to the issue I saw with primary contact - see #930

[2015-06-01 21:52] sglangevin opened #982 "Page refresh is required after creating a new location or that location doesn't appear in primary location drop-down"
If I create a new location, I can't select it as the primary location for a contact without refreshing the page first so that it appears as an option for primary location.

[2015-06-01 21:57] garethbowen commented on #976
The "Select a Language" dialogue was a red herring - it only sets the users language, not the system defaults for web app *or* outgoing messages. I've modified the Configuration Wizard to not set defaults on the first run through. If the user chooses not to go through the wizard then the defaults (English, English) will be used, however users that do go through the wizard won't see a green tick be

[2015-06-01 21:57] #976 closed

[2015-06-01 22:49] browndav commented on #903
Merged in https://github.com/medic/medic-api/commit/b8cfc66. Thanks for helping out @garethbowen – I just wanted to add a couple unit tests, which probably involves making the current code more stub-friendly in at least one spot.

[2015-06-02 01:24] browndav commented on #880
@sglangevin: The mockup below has a phone number field and an e-mail address field. Do you know what the intended side-effect of setting either of these is? For example, are you envisioning they're used to create a new contact?
![mockup](https://cloud.githubusercontent.com/assets/763977/7926699/f0e889b4-088a-11e5-8bce-cdd66b113044.png)

[2015-06-02 01:57] #903 closed

[2015-06-02 02:18] garethbowen commented on #982
When I test this out I get a JavaScript error which I think is the cause:

[code]

[2015-06-02 02:20] browndav commented on #903
Thanks, sorry about the style-matching fails.

[2015-06-02 02:29] #981 closed

[2015-06-02 02:30] #982 closed

[2015-06-02 02:33] garethbowen commented on #971
Also migrate form fields into the `fields` property.

[2015-06-02 10:01] garethbowen commented on #978
The same thing happened on my install. I reran the migration and everything worked as expected. I suspect the version of api you were running when the migration occurred had a bug which has since been fixed. We should test this again when an update iso is released.

[2015-06-02 10:01] #978 closed

[2015-06-02 16:16] sglangevin commented on #880
@browndav: We wanted those to be in there for future password resetting. That way a user could have their password reset information either emailed or texted to them.

[2015-06-02 16:22] browndav commented on #880
Okay, thanks. I don't suspect either of those password-reset options will land by DIY beta two.

Can we take care of the other show/hide password bits (adding an option to show the password while it's being entered, and one to show a password reminder on the "finished" screen) and save these two new fields for when password resetting is fully supported? I worry that collecting the data to no obvio

[2015-06-02 16:27] sglangevin commented on #880
Nope, not beta two, those are in beta three. I don't think it will confuse users to have those fields (I would make email optional anyway since not everyone will have one). What happens for users who upgrade from beta 2 to beta 3? I know it will be done manually, but if beta 3 has password reset, wouldn't we want everyone who might upgrade to have entered their phone number and email from the get-

[2015-06-02 16:46] yembrick commented on #950
Hey. @garethbowen , you are right, weeks pregnant = weeks since LMP for LMP cases, that was a mistype originally. @btbonval, why do you think LMP + 2, maybe Im missing something.

Bryan and I are starting an analysis that shows how many weeks are between receiving a reg form and a delivery form (with and without LMP). This should allow us to approximate weeks pregnant at registration time for non-

[2015-06-02 17:01] sglangevin commented on #950
@garethbowen Let's calculate weeks pregnant as:
* Weeks since LMP for LMP registrations
* Weeks since registration + 4 for no LMP registrations

I agree that this is conservative, but @yembrick suggested that perhaps we make the weeks pregnant calculation configurable for no LMP registrations in the future.

[2015-06-02 21:39] garethbowen commented on #971
I think this should be working now but medic-data is having a hard time getting builds to pass. Handing off to @mandric to investigate.

[2015-06-02 22:23] #950 closed

[2015-06-03 20:42] abbyad commented on #858
According to @sglangevin we are fine without this, as it was `decided that we would create a how-to guide for users so that they understand how to use the Contacts tab (creating places, setting primary locations and setting points of contact)`

Closing for now. If something like this becomes a requirement later on a new issue can be opened.

[2015-06-03 20:56] mandric opened #983 "/api/v1/records api should be compatible with odk collect"
pretty sure i'm parsing headers wrong in medic-api.  assert these headers work:
[code]

[2015-06-03 21:14] garethbowen commented on #983
Also there are two handlers for POST to "/api/v1/records". I'm guess it was a bad merge or something...

[2015-06-03 21:24] garethbowen commented on #983
ords?deviceID=imei%3A351746052385302 HTTP/1.0" - - "-" "-"

but it works on /add ok...

[2015-06-04 16:29] mandric commented on #918
Yep fixed couple weeks ago. d061e2028d4c0e54e82db3dfee3012b185d2a7e5

[2015-06-04 16:29] #918 closed

[2015-06-05 13:43] alxndrsn commented on #818
Ref:

This is a bit disruptive, for a couple of reasons:
1. currently if an error is returned, then all other processing stops.  Should that behaviour continue?
2. should we report the error at all if we had some successful sends?

[2015-06-05 13:52] alxndrsn commented on #818
Have pushed fixed for points 1-4.
I think there is a slight mismatch of how the errors vs failures are used in the transmit handler.  If there is a format problem with a message, then retrying the message is not going to help.  So if medic-webapp is responding, but saying that the message has unacceptable content, then this should be handled as a more absolute failure than e.g. medic-webapp is not

[2015-06-05 18:14] mandric commented on #971
Fixed yesterday. https://travis-ci.org/medic/medic-data

[2015-06-05 18:14] #971 closed

[2015-06-08 21:44] sglangevin opened #984 "-1 Active Pregnancies displayed in the Analytics tab"
I sent in 2 delivery reports for the same patient and now I have -1 active pregnancies.
![screen shot 2015-06-08 at 2 43 28 pm](https://cloud.githubusercontent.com/assets/1286381/8046075/dda0fcd0-0dec-11e5-8bca-4eefdf6d77bf.png)
![screen shot 2015-06-08 at 2 43 50 pm](https://cloud.githubusercontent.com/assets/1286381/8046076/dffac0c4-0dec-11e5-9818-3102fd437618.png)

[2015-06-08 21:48] sglangevin opened #985 "Analytics tab doesn't update when a delivery report is received"
Once a delivery report is received by MM, the Analytics tab should reduce the number of active pregnancies by 1, remove the patient from the upcoming EDDs chart, add 1 to the total births, update the graph that shows how many ANC visits that pregnancy had and update the pie chart showing percentage based on delivery location. It should also remove the patient from the upcoming appointments chart.

[2015-06-08 21:52] sglangevin opened #986 "EDD listed in the web app and EDD sent to CHW are off by 1 day"
The date listed in the web app for EDD (based on LMP) is one day before the date that MM sends to the CHW - June 13th vs. June 14th

![screen shot 2015-06-08 at 2 49 38 pm](https://cloud.githubusercontent.com/assets/1286381/8046168/9ffdffd0-0ded-11e5-9728-7f21f0c6b268.png)

[2015-06-08 21:54] garethbowen commented on #986
I think this is a timezone issue. The date listed is shown in the users timezone but the reply is generated with a different timezone because we don't know which timezone the recipient is in.

[2015-06-08 21:54] garethbowen commented on #986
It could actually be correct if the recipient is in a different timezone to the user.

[2015-06-08 21:56] sglangevin commented on #986
For DIY at least, I can't imagine a time when the recipient would be in a different timezone to the user. I can't really think of a scenario in general where that would apply, but there may be one. If the web app and analytics tab are being used to track that patient's EDD, doesn't that make it important for everyone to be referring to the same date?

[2015-06-08 22:00] garethbowen commented on #986
They are referring to the same date, that's the magic of timezones. We could do #488 and use that to generate the response message, which would then be consistent in the likely case that the user and recipient are in the same timezone. It would also still be correct when they're not.

[2015-06-08 22:03] sglangevin commented on #986
Yeah, that would work. I think assuming that the user and recipient are in the same timezone is a pretty good assumption, but #488 would be the best solution.

[2015-06-08 23:52] #985 closed

[2015-06-08 23:53] #984 closed

[2015-06-09 00:41] mandric commented on #966
I believe this was a travis hiccup.

[2015-06-09 00:41] #966 closed

[2015-06-09 09:20] katanu opened #987 "AMREF-Escalated messages to the HEW Supervisors are missing"
There should be a message send to the HEW supervisor when the visit confirmation message is not send by the HEW 10 days from the appointment date for ANC and for the 10 days since birth for Birth polio and 2 weeks since appointment for the rest of the appointments

[2015-06-09 09:46] garethbowen opened #988 "Remove lucene"
To support offline searching we need to remove our dependency on lucene. I've jotted down [some ideas](https://gist.github.com/garethbowen/c65413a7907328433f6c/).

[2015-06-09 13:46] abbyad commented on #886
Works well when there are forms to download, but I get an error if there are no forms. I would expect it to report that there are no forms to download.

![screenshot_2015-06-08-21-13-26](https://cloud.githubusercontent.com/assets/789512/8059112/2c8073a4-0e8c-11e5-9a09-4284fadc62a4.png)

[2015-06-09 15:03] abbyad opened #989 "JavaRosa parser fails to parse messages with `!` in the field value"
The JavaRosa parser works for this message:
`J1!D!c#S#id#76000#n#this is a note#`

but not for these:
`J1!D!c#S#id#76000#n#this is a note!#`
`J1!D!c#S#id#76000#n#this is a note\!#`

We already escape the delimiter in Medic Collect... and I am not sure that escaping the exclamation is the right behaviour - although that fails too. I would think that we'd be better off ignoring any exclamation marks

[2015-06-09 15:49] mandric opened #990 "attempting to add empty messages causes 500 error"
If header Content-Type is "application/x-www-form-urlencoded" and message is empty we attempt to parse JSON.  We should just pass the empty message to the parser rather than fail with 500.  This could cause the gateway sync process to be interrupted because of an empty message, since it would continuously fail POSTing that message.

[2015-06-09 19:46] mandric opened #991 "fields with uppercase key in forms defs are ignored in textforms"
compact textforms test here fails:
[code]

[2015-06-10 13:37] abbyad opened #992 "Allow actual date of birth to be used for immunization reports"
Moving https://github.com/medic/medic-sentinel/issues/68 to here:

[2015-06-10 20:06] browndav opened #993 "Proof-of-concept: Use PouchDB for data storage"
"Use PouchDB for all requests (other than the design document). This benefits all users with improved performance and offline querying and document creation at the expense of local storage. Pouch can be initialized to either query a remote Couch server or local storage – so if we want a view that has too much data for local storage, we could configure it to work directly."

[2015-06-10 20:10] browndav opened #994 "Proof-of-concept: Implement the "tasks" backend using a rules engine"
Look at Nools in detail, and then – assuming everything checks out – use it to calculate all of the known task/target rules (see Google Docs for detailed rule specifications).

[2015-06-10 20:12] browndav opened #995 "Proof-of-concept: Embed our web app in a native Android container"
We need to find a workable way to build/distribute a native Android container for our web app. We should also ensure that we're able to inject variables/functions in to the (hosted) Javascript interpreter.

"Could use cordova. Supports 2.3.x and 4+. Moderate download size. Could use crosswalk to bundle Chrome with the app. Supports 4+. Large download size. Known browser. Modern browser. No browser

[2015-06-10 20:14] browndav opened #996 "Proof-of-concept: Accept data synchronization operations using the CouchDB replication API"
We need to make sure that a PouchDB database can be successfully replicated to/from our web app, ensure that the modifications caused by a replication effect change in all the right places in the UI, and ensure that the database stays consistent across replication operations.

[2015-06-11 17:13] diannakane commented on #992
adding in Amanda's additional detail on where this has been used to some extent, which we might be able to build from:

"What Dave built for CIC is the ability for the SIM app to turn date of birth (3 fields) into days/months old (could similarly be weeks id imagine). We don't have schedules being set from it, but that could be used on the sim app side to take entered date of birth and send the sy

[2015-06-11 20:53] mandric commented on #991
minor review needed here.

[2015-06-11 21:27] mandric commented on #990
minor review here please.

[2015-06-11 21:28] garethbowen commented on #990
Looks good.

[2015-06-11 21:36] #990 closed

[2015-06-11 21:42] #991 closed

[2015-06-11 22:22] alxndrsn opened #997 "[spike] bundle chrome/chromium in an android APK"
consider:
* https://crosswalk-project.org/
* cordova
* how do we send SMS in-app?
* java-javascript communication

[2015-06-12 00:15] mandric commented on #957
For beta 2 I'm thinking I should take a look at this one, mainly in sentinel.

[2015-06-12 08:37] alxndrsn commented on #997
java-javascript communication done at https://github.com/alxndrsn/toastmaster

Key points:
1. expose javascript via [WebView.addJavascriptInterface()](https://developer.android.com/reference/android/webkit/WebView.html#addJavascriptInterface%28java.lang.Object,%20java.lang.String%29): https://github.com/alxndrsn/toastmaster/blob/master/android/src/main/java/toastmaster/android/EmbeddedBrowserActiv

[2015-06-12 09:39] alxndrsn commented on #997
# Normal Android Java vs Crosswalk:

## APK size:
7.5kb vs 65Mb

## Time to package & deploy to emulator:
3s vs 1m

[2015-06-12 13:32] abbyad opened #998 "Incorrect report export"
As shown in https://github.com/medic/medic-projects/issues/24, the export only works from the Configuration > Export menu, not from the top level Export.

Instead of getting ~50 records, it gets the following (header row only):

[code]

This instance is running v0.4.6.

[2015-06-12 14:08] mandric opened #999 "Proof-of-concept: Render a form with Enketo, determine next steps for evaluation/testing"
support two types of forms within the webapp records renderer.  render xform records with enketo.

[2015-06-12 14:28] abbyad opened #1000 "Bulk delete reports"
During testing and training, numerous messages and reports are submitted that need to be deleted once the instance goes to production, especially since it affects usability and analytics.

Currently the only way for a project manager to delete messages/reports is to go through them individually, which is extremely time consuming. We should look at options for bulk delete first, and perhaps conside

[2015-06-12 14:56] mandric commented on #1000
We might also consider bulk updates, in the past you could delete/validate/invalidate/modify facility for a selected group of records.

[2015-06-12 17:12] alxndrsn commented on #997
Crosswalk doesn't work for me with android SDK v 24.3.2 on either OSX or Linux (running the `make_apk.py` script).  Gets further on android SDK v 24.2.

[2015-06-12 17:39] alxndrsn commented on #997
Crosswalk app is imploding on start.  Have tried with latest stable v13 and v12 with 1024MB RAM and 512MB heap.  Log:

[code]

[2015-06-12 21:34] btbonval opened #1001 "document exports"
The message exports and records exports could use some documentation.

in the words of @mandric

My particular confusion is figuring out the difference between "Reported Date" and "Sent Timestamp" in message exports using the following filter:
[code]
based on code @abbyad wrote.

[2015-06-14 20:29] garethbowen commented on #997
Are you bundling the entire app into the apk? I think we should only ship a very small app with Crosswalk (or something). All this small app does is take the username, password, and couchdb url from the user, then invoke Crosswalk to load the webapp from the URL in the webview.

[2015-06-15 07:59] alxndrsn commented on #997
Have a look at the source - this is the entire application: https://github.com/alxndrsn/toastmaster/blob/master/webview/src/main/java/toastmaster/android/EmbeddedBrowserActivity.java

[2015-06-15 09:49] garethbowen commented on #997
This is probably not an issue. Ignore for now.

[2015-06-15 11:25] garethbowen opened #1002 "Remove the rest of lucene"
Remove lucene completely.

- [x] Remove the fti api endpoint - as far as I know it's not used.
- [x] Remove ANC analytics from the UI and a whole lot of controllers from medic-api - apparently it's not used, but if it turns out someone wants it in the future we should rewrite it so it doesn't use lucene.
- [x] Remove the fulltext.js index file
- [x] Modify data exporting in medic-api to use views

[2015-06-15 11:35] garethbowen commented on #995
Is this a duplicate of #997 ?

[2015-06-15 11:44] garethbowen opened #1003 "Replicate settings to PouchDB"
Currently settings are stored on the ddoc but ddocs aren't replicated to pouchdb so this is no good for offline access. Find a way to replicate settings.

One idea is to pull settings out into a separate document (with an id of '_settings' or something) which would then be replicated as expected. Implement a ddoc listener to update the settings doc when the ddoc.app_settings is modified. Then to a

[2015-06-15 19:22] browndav commented on #995
Looks like there's some overlap. How about we make this issue the "get *our* app working in a native container" issue, and let #997 just cover the chrome/chromium/crosswalk bundling trial?

[2015-06-16 08:10] alxndrsn commented on #997
Cordova build is not currently using gradle daemon, so build time could potentially be cut a bit.

[2015-06-16 11:09] garethbowen commented on #1003
It turns out the ddoc is replicated just fine, so we can just access the app_settings on the local ddoc, so this issue doesn't need to be resolved.

[2015-06-16 11:09] #1003 closed

[2015-06-16 13:51] mandric commented on #886
Fixed in beta.

[2015-06-16 13:51] #886 closed

[2015-06-16 14:43] alxndrsn commented on #997
Embedded crosswalk seems to be the best option.  Perhaps we can embed cordova too ;-)

[2015-06-16 16:21] alxndrsn commented on #997
https://github.com/alxndrsn/medic-webapp-mobile-demo

[2015-06-16 16:21] #997 closed

[2015-06-16 16:30] alxndrsn commented on #995
@browndav have we selected the container now?

[2015-06-16 16:47] mandric commented on #998
It looks like an issue with constructing the query URL, the form code needs to be forced to uppercase in the query if the form code is lowercase in the form definition.  Example:

works:

fails

mandric in ~/dev/medic-webapp
$ curl -u admin:123qwe 'http://127.0.0.1:5988/medic/_design/medic/_rewrite/export/forms/P?startkey=%5B%22R%22%2C9999999999999%5D&endkey=%5B%22R%22%2C0%5D&tz=180&format=csv&red

[2015-06-16 17:48] alxndrsn commented on #995
Done in https://github.com/alxndrsn/medic-webapp-mobile-demo/commit/11d75511a65acb7974a3e81bfe0dc64a2ffd2887

[2015-06-16 17:48] #995 closed

[2015-06-16 17:49] alxndrsn commented on #997
Nb. this has changed a bit since last comment - done on https://github.com/alxndrsn/medic-webapp-mobile-demo/tree/1f21f430d939e8d35b4ec2f7669d122be7b4ffd3

[2015-06-16 20:07] mandric commented on #998
@garethbowen any thoughts about this patch?

[2015-06-16 21:36] garethbowen commented on #996
Stolen from Alex because I'm working on the PouchDB stuff in general and have already done most of the replication work.

[2015-06-16 22:19] mandric commented on #998
Pushed to beta.

[2015-06-16 22:19] #998 closed

[2015-06-16 23:40] garethbowen opened #1005 "Enforce filtered replication when user's permissions change"
If a user's permissions change (either changes district or role) we need to update the documents available in their local PouchDB. Replication alone doesn't solve this issue as the filter will only be checked for future changes, not already replicated documents.

One solution is to detect when the permissions for the current user have changed and prompt the user to delete their PouchDB and replica

[2015-06-16 23:48] garethbowen opened #1006 "Replicate document permissions changes"
With filtered replication, when a document is moved to another facility it will no longer be replicated to users who can no longer access it. These users will be left with a stale document in their PouchDB and no indication that it's out of date.

To update the local DB we need to make an update (A) that doesn't affect the filtered replication and then make the actual change (B). Users who have pe

[2015-06-17 16:56] mandric opened #1007 "Make it clear that including gateway number in configuration will avoid infinite messages loops originating from gateway"
Automated response should not get setup on messages originating from the gateway. But that depends on the gateway number matching in the configuration.  We should try to make it required to define the gateway number and maybe even test that number.

That could be as simple as just making it clear in the description on the configuration.  Or automate it somehow like "Send message code 123555 from g

[2015-06-17 17:00] mandric commented on #1007
We might also define multiple numbers here or have a separate blacklist feature for auto-responses?

[2015-06-17 18:04] abbyad commented on #1007
Open issue with blacklist: https://github.com/medic/medic-webapp/issues/750

[2015-06-17 18:24] mandric commented on #750
We should also support blacklisting number like "Orange" since the telecom provider can create messages originating from that string.  Also does this feature only apply to auto-responses?  What if a valid form is sent via a blacklisted from string?  I assume we need to ignore responses setup by registration configurations or any other feature.

[2015-06-17 23:14] garethbowen opened #1008 "Editing a user's language changes your own"
1. Go to the Configuration > Users screen
2. Edit a user other than yourself
3. Change their language to Spanish
4. Save the user

Your language shouldn't change, but the whole screen gets translated to Spanish.

I suspect it's an overzealous user modified listener.

[2015-06-18 11:29] garethbowen opened #1009 "Chrome fails on appcache > 100 items"
We currently appcache 121 items. @alxndrsn has reported that Chrome fails on the 100th item. I've just had it happen but only in incognito mode.

121 is too many requests anyway and will have a significant performance impact. Look at reducing the number of static files. Templates are by far the most numerous. We should be able to use grunt-angular-template to precompile, minify, and concat the tem

[2015-06-19 00:02] mandric commented on #1007
Closing this in favor of a blacklist feature #750.  We still need a way to know what the gateway number is and maybe automatically blacklist it.

[2015-06-19 00:02] #1007 closed

[2015-06-19 13:19] abbyad opened #1010 "Multiple scheduled reports for the same period are not merged as one"
Previously if a contact resent a scheduled report for the same month/week only the newest one was kept. This allowed a user to update a previously submitted report, as well as avoid duplicates in analysis.

We have not been able to get this to work for a recently updated instance, so either the feature is no longer working, or we are missing something and we need to document the feature.

I have c

[2015-06-21 21:07] mandric commented on #1010
Upon local testing this seems to work ok.  If I send in a report like `1!ISPF!3#5#2#0#0#3#0#0#30` then followup with one like `1!ISPF!3#5#23#0#0#3#0#0#304` the former is replaced/updated.  Can you provide more details about how you are experiencing the bug?

[2015-06-22 18:24] sglangevin opened #1011 "Reports cannot be exported from the reports tab"
Cannot export reports - I get an error message: “Server error: Cannot read property 'fields' of undefined”

[2015-06-22 19:37] sglangevin opened #1012 "No blank option in the phone number conversion country code dropdown in Advanced Settings in Configuration"
Can't remove a country code replacement rule completely in Configuration > Settings > Advanced because there is no blank option in the replace country code for: dropdown. This is under the phone number conversion heading, replace country code for _________ with ________.

[2015-06-22 19:39] sglangevin opened #1013 "Starting services fails when installing DIY Beta 2"
Saw this occur on 3 different computers. Starting services failed and when I clicked on try again, it succeeded. Could be due to the considerably large amount of sample data in this particular version.

[2015-06-22 19:43] sglangevin opened #1014 "Update help window text for when MM is OFF - current text doesn't make sense"
When MM is OFF, the help window says: “SMS cannot be received while OFF. Click the 'ON' to turn get started”. Should say something like “SMS cannot be received while Medic Mobile is OFF. Click 'Turn ON' to continue receiving messages.”

[2015-06-22 19:46] sglangevin opened #1015 "Cannot delete a language"
Once I have created a new language in Config, it cannot be deleted. I clicked on Delete and then confirmed it, but it just said Deleting... and never deleted. I let it sit for at least 10 mins and it never deleted.

[2015-06-22 19:53] abbyad commented on #964
https://github.com/medic/medic-api/commit/d1653d05f2d86e49069cce0d17ca055fe70232bf

https://github.com/medic/medic-api/commit/44037ec0d3ea37d4b5b934a0f3fec9e4f2819ebc

https://github.com/medic/medic-api/commit/a889456477e82f33e77fbef5f65f7cadad45bb4b

https://github.com/medic/medic-api/commit/97750532c52e2728e9057295c45e8b22aedd2208

https://github.com/medic/medic-api/commit/65d2b957883acaab045e87

[2015-06-22 20:00] sglangevin opened #1016 "Text updates to Concierge for DIY"
Update the text in concierge to make account creation (username and password) clearer. There are updates to both steps 1 and 2. Store the email and phone number that the user enters for the future - no specific purpose currently, but they will eventually be useful for password reset. This issue does not include password reset.

See pages 5 and 6 of this mockup: https://beta.moqups.com/joshnesbit/5

[2015-06-22 20:07] sglangevin opened #1017 "Update app-settings to include Hindi"
Add Hindi to app-settings so that it appears as a language option upon install for DIY users.

https://github.com/medic/medic-data/blob/master/data/generic-anc/diy/app-settings.json

[2015-06-22 20:10] garethbowen commented on #1017
Will we have full Hindi translations available?

[2015-06-22 20:11] abbyad commented on #1015
I think we should try to fix this for DIY Beta 2, but is lower priority since our first set of users are unlikely to be creating/deleting languages.

[2015-06-22 20:12] sglangevin commented on #1017
Yep, it's already done - just needs a home :)

[2015-06-22 20:13] garethbowen commented on #1017
Nice!

[2015-06-22 20:28] garethbowen commented on #988
Update the docs to remove the lucene search tips.

[2015-06-22 20:53] sglangevin opened #1018 "Changing the default language for the web app in configuration doesn't change the language that is displayed"
Changing the default language for the web app in the configuration wizard or in Configuration > Languages doesn't change the language that I see when using the web app. Even a refresh didn't result in the language changing from English to what I had selected as the default. Making the change in the configuration wizard does update the default selection in Config but the displayed language doesn't

[2015-06-22 20:55] sglangevin opened #1019 "Minor text update to send message using the + sign menu"
Instead of the error reading "Phone is a required field", probably should change to something like: "To is a required field" or "Add at least 1 recipient" since the name of the field is To, not Phone.

[2015-06-22 22:46] #996 closed

[2015-06-22 22:46] #993 closed

[2015-06-22 22:49] browndav opened #1020 "PouchDB: Performance Testing"
Load as many documents as possible in to PouchDB to attempt to ascertain storage limits. Try lots of small documents, as well as a handful of large documents. Produce some kind of guidance (ideally a number) re: storage limits.

[2015-06-22 22:51] browndav opened #1021 "Nools: Performance Testing"
Inject a ton of documents into a Nools flow, and observe both browser memory usage and rule-matching CPU utilization. Try to come up with some reasonable (read: numeric) guidance on how much data the rules engine can practically handle.

[2015-06-22 22:52] browndav opened #1022 "Proof-of-concept: PouchDB/CouchDB replication conflicts"
Intentionally create replication conflicts and determine how the existing application behaves. File issues for replication conflict scenarios that aren't well-handled in the current codebase.

[2015-06-22 22:53] browndav opened #1023 "Proof-of-concept: Auditing for replication API requests"
We currently audit all of the usual CRUD operations, but don't audit modifications made via the `_replicate` API. Figure out what it'd take to audit replication operations.

[2015-06-22 22:54] browndav opened #1024 "Proof-of-concept: Update permission checking for replication operations"
Figure out if replicating data bypasses permission checks. If it doesn't, awesome. If it does, figure out why and if there's a way for us to enforce permissions manually.

[2015-06-22 22:58] browndav opened #1025 "Android container: Build initial first-run/login process in to container application"
1. Allow a mobile user to provide a username, password, and application URL on first run.
1. Allow an application URL to be optionally preloaded in some way (e.g. a list of "available applications" in a drop-down box, with some way to enter a URL if the app isn't in the list).
1. Cache the credentials and URL securely on the device
1. automatically provide these credentials over HTTPS on subsequen

[2015-06-22 23:01] browndav opened #1026 "Design: UI/UX for the Android container's first-run/login process"
Issue #1025 is producing an initial version of the Android container's "first-run" login screen. In today's iteration kick-off meeting, we decided this would likely need some design work after the first version is done. Build out some quick mockups for the process, focused on interactions and UX.

[2015-06-23 00:55] garethbowen commented on #1018
This is by design. When a user first logs in we display a dialogue which asks them to pick a locale, which is then saved against the user account. If I select English which happens to be the default, I don't want it changing just because an admin changed the default language.

[2015-06-23 01:33] #1019 closed

[2015-06-23 01:33] #1015 closed

[2015-06-23 01:34] garethbowen commented on #1012
I can't add a blank option with the Select2 widget, but I have added a little `x` delete icon which clears the selection.

[2015-06-23 01:34] #1012 closed

[2015-06-23 01:38] garethbowen commented on #1011
@sglangevin Which screen are you exporting reports from? Can you provide any more details? For example, I think the full error will be logged in the API logs which would be ideal if you can find it.

[2015-06-23 01:46] btbonval commented on #1020
Lots of small documents and a handful of large documents; you might want to
pick your counts using 80-20 rule as Power Law will likely give you a good
real world approximation of lots of small and few large.

So like, add 2 large files for every 8 smaller files for each iteration.
Keep doing that until you hit cap.

Within the smaller 8 files, you could break that into 2 medium files and 6
small f

[2015-06-23 02:13] #1008 closed

[2015-06-23 02:43] sglangevin commented on #1018
Ok, so what purpose does the default serve? It sounds like each user is selecting his or her own language.

[2015-06-23 02:58] garethbowen commented on #1018
The default is selected by default, and the "Select a language" window itself is translated into the default which is the most likely to be understood by the user.

[2015-06-23 03:45] garethbowen opened #1027 "Error when exporting server logs"
Marc and Sharon report exporting Server Logs fails with this in the api log:

[code]

In the browser console: `502 Bad Gateway`

It takes a couple of minutes to die so I suspect it's a timeout in API somewhere. Either speed up the export or increase the timeout.

[2015-06-23 03:45] garethbowen commented on #1011
API log:

[code]

[2015-06-23 04:16] garethbowen commented on #1011
It looks like you have at least one form in your export data that doesn't have a configuration. This could happen if...

1. You configure form code `X`
2. You submit a form with code `X`
3. You remove the configuration for form code `X`

I've modified the code so in this case you will get a tab for `X` without the columns specific to `X` because we can't guess them.

[2015-06-23 04:16] #1011 closed

[2015-06-23 04:44] garethbowen commented on #1009
Got it down to around 40 items which should be ok for now.

[2015-06-23 09:54] garethbowen commented on #1017
English name: Hindi
Code: `hi`
Localised name: हिन्दी

[2015-06-23 14:10] abbyad opened #1028 "Prevent duplicates for Daily reports"
Currently only the newest monthly or weekly report for a given period is kept. That means that updated or duplicate reports are hidden. We now have projects that have daily reports that would also like to use this feature.

For monthly reports the required fields are `year` and `month`/`month_num`. For weekly reports `year` and `week`/`week_number` are required. For daily reports we could use `yea

[2015-06-23 14:22] abbyad opened #1029 "Reporting Rates for Daily Reports"
The reporting rates analytics are for Monthly or Weekly forms. As we now have projects with daily reports we are often being asked to have Reporting Rates for these daily reports.

This is somewhat related to #1028 since the daily reports would use the same fields.

[2015-06-23 17:18] browndav commented on #1027
Interesting; almost like it's just blocking instead of doing useful log-collection work. I'll take a look today.

[2015-06-23 18:09] alxndrsn commented on #1025
# Progress

1. *DONE*
2.
3. *DONE*
4. *DONE*
5.

[2015-06-23 19:42] abbyad commented on #1010
I was not able to reproduce on our demo instance, running 0.4.7.

Testing on the production instance that was initially reporting the issue, I can no longer reproduce. Closing until we can reproduce again.

@mandric theory was that sentinel fell behind, crashed and restarted but didn't process the old messages. We can start by looking there if this issue resurfaces.

[2015-06-23 19:42] #1010 closed

[2015-06-23 19:49] juliomalikane commented on #1010
Thank you @abbyad  and @mandric  for your support

[2015-06-23 19:49] mandric commented on #1010
we should consider opening an issue to look at the data on the instance to see if there are existing duplicates  and file an issue to fix backlog processing so it merges/updates these types of failures.

[2015-06-23 21:34] browndav opened #1030 "Fix broken "Reporting Rates" interface in release"
From medic/medic-projects#30: the pie-chart "Reporting Rates" interface is obviously broken – we're seeing Javascript errors related to `.scrollHeight` and `.forEach` on an `undefined` object. We should fix this.

[2015-06-23 22:36] garethbowen commented on #1017
Added to default web app configuration and @sglangevin added to the default DIY configuration.

[2015-06-23 22:36] #1017 closed

[2015-06-23 23:40] garethbowen commented on #1030
The UI screenshotted in that issue was [fixed in January 2015](https://github.com/medic/medic-webapp/commit/44aed97f159588f813595008e43267ac0b074758). I've just fixed a couple of bugs introduced since then and it's mostly working. The major flaw I found is the UI only displays data on the first scheduled form, and provides no way to switch between forms.

[2015-06-24 00:50] browndav commented on #1016
Text is easy; I'll take care of that ASAP.

Is this the e-mail/phone collection a must-have for beta two, or could it wait until beta three? We have more work in the queue currently than we can reasonably accomplish, so I'm trying to trim down the next couple iterations – seems like collecting this information could wait until it has clear side-effects (read: until we're doing something meaningful

[2015-06-24 00:51] browndav commented on #1013
Producing new builds now for acceptance testing.

[2015-06-24 02:21] browndav commented on #1027
I'm getting a total run time of about 3 seconds after a default install and first-run of the latest image. If you're able, could you switch to virtual terminal six in the VMware window (Ctrl-Alt-Fn-F6 IIRC), run `sudo /boot/print-logs | wc -c` and let me know what it prints?

[2015-06-24 02:31] browndav commented on #1027
Okay, that's about a two order of magnitude improvement. Suspect that'll fix what you're seeing, but the `wc` output would still be helpful. New images on the way; I'll post the link here when they're up.

[2015-06-24 09:08] garethbowen commented on #1030
It's working in `develop`, but needs a fair bit of migration to get working in a release.

[2015-06-24 10:21] garethbowen commented on #1024
The validation functions run, so :+1:.

Potential issues:

- The validation function only has access to the userCtx and the doc, so we can't determine if the user has the correct district. This is probably ok. We may be able to do some additional permissions checking as part of the auditing work.
- The change remains in the local PouchDB, so if you delete a doc you shouldn't be able to then the re

[2015-06-24 10:21] #1024 closed

[2015-06-24 13:08] mandric commented on #1030
I'll use this issue until it's working in a release.

[2015-06-24 18:58] browndav commented on #1027
Try http://dev.medicmobile.org/downloads/medic-os/20150623/.

[2015-06-24 18:58] #1027 closed

[2015-06-24 19:20] abbyad opened #1031 "Exporting reports for single district yields reports for all districts"
As reported in https://github.com/medic/medic-projects/issues/25, exporting reports for a district yields the reports for all districts.

Instance in question is running v0.4.7. Example export for Bhaktapur has 11 records:
![image](https://cloud.githubusercontent.com/assets/789512/8339268/321254aa-1a84-11e5-96e8-eb6007e1706e.png)

[2015-06-24 23:46] garethbowen opened #1032 "Thoroughly test Reporting Rates / Stock Monitoring Analytics"
The Reporting Rates Analytics tab has changed a lot and hasn't been thoroughly tested for a while. We need to test to ensure we haven't broken or removed features used in older versions of the app.

[2015-06-25 10:16] garethbowen opened #1033 "Auditing not happening"
1. Submit a report and wait for sentinel to process it
2. Check the audit record by going to /_utils/database.html?medic/_design/medic/_view/audit_records_by_doc . One of the result rows should be recording changes to your document. This looks like it's working but it's actually sentinel logging the changes and not api, which means certain information is missing. To prove this select your document

[2015-06-25 16:02] #1025 closed

[2015-06-25 16:04] alxndrsn commented on #1026
#1025 is in acceptance testing, so this can probably be started

[2015-06-25 16:17] alxndrsn commented on #1020
N.B. pouchdb can have "unlimited" storage if a javascript-java bridge is available to store directly in the android app's sqlite

[2015-06-25 18:33] sglangevin commented on #1018
So when would a user see the select a language window in the default language if the admin is the one determining the default and the one creating each login? Is it something that they see when logging in for the first time?

[2015-06-25 20:11] garethbowen commented on #1018
All users see a dialogue when they first log in which asks them their language.

[2015-06-25 22:21] garethbowen commented on #1020
Using local storage would be awesome! Remember that we still need to support browser usage so storage limits need to be tested at least on Chrome and Firefox.

[2015-06-25 23:21] sglangevin commented on #1027
@browndav - sorry - missed your earlier request. I tried doing that and kinda of messed up my VM and then that command wasn't recognized, I probably missed a step. Anyway, I've downloaded the new iso to test and tried updating my DIY version on the Windows computer in the office using dashboard settings. The logs downloaded just fine on my Mac but don't seem to be working on my updated DIY (not su

[2015-06-25 23:53] garethbowen commented on #1023
Replication uses the standard PUT and bulk_docs requests. With a slight patch to API these are now being audited correctly.

[2015-06-25 23:53] #1023 closed

[2015-06-26 09:30] alxndrsn commented on #1020
https://github.com/didimoo/AndroidLocalStorage project looks very interesting, although perhaps not 100% current.

[2015-06-26 09:32] alxndrsn commented on #1020
More reading: https://stackoverflow.com/questions/5899087/android-webview-localstorage

[2015-06-26 11:54] garethbowen commented on #1022
The conflict is handled by couch deterministically selecting one of the conflict documents as the winner. Therefore the app is completely unaffected by the conflict.

I've added a conflict resolution service which listens for changes and checks for conflicts which will allow us to detect a conflict on replication and prompt the user to reconcile the conflict. In the simplest form this is just pick

[2015-06-26 11:54] #1022 closed

[2015-06-26 12:23] alxndrsn commented on #1020
http://pouchdb.com/faq.html#data_limits makes clear what the limitations of Pouch's capacity are.  @browndav is this good enough?

[2015-06-26 16:00] alxndrsn commented on #1020
Some meaningless stats from the current version:

Methodology:

1. click [fetch all]
2. click [start]
3. wait for iterations to finish
4. click [fetch all] ten times, waiting for result before the next click
5. click [add doc]

Chromium 44.0.2395.0 (64-bit)

metric | value
---|---
chars_added_this_session |	1023128
doc_count	|10000
fetch_count	|11
mean_fetch|	2846.4545454545455
last_fetch_time	|31

[2015-06-26 16:45] browndav commented on #1020
There are examples floating around that seem to allow instansiators of WebView to programmatically handle storage limit violations / raise the storage limits just-in-time. Might be worth taking a look:

[code]

[2015-06-26 17:12] sglangevin opened #1034 "Update Nepali default translations"
Add Nepali to app-settings so that it appears as a language option upon install for DIY users.

https://github.com/medic/medic-data/blob/master/data/generic-anc/diy/app-settings.json

I will add Nepali to the default DIY configuration and submit a pull request when ready.

[2015-06-26 18:05] sglangevin commented on #1013
Tested new build - alpha-r50 and got Platform failed to start again. I didn't see any issue when using vmware fusion on my Mac with the new iso but when I installed the new .exe on a Windows laptop, services failed to start.

With alpha-r49 I could click try again and it started right up. That doesn't seem to have worked this time around. Let me know if there are some sort of logs I can provide he

[2015-06-26 18:12] abbyad commented on #1013
The version that Sharon is refering to (v0.2-alpha-r50) uses `medic-os-v1.1.0-20150623-x86-virtual.iso`

[2015-06-26 18:21] abbyad commented on #964
Further translation changes to come for Beta 2. Waiting for final changes before doing another commit and moving to ready.

[2015-06-26 18:24] abbyad commented on #901
I haven't seen this error again. Moving to Ready.

[2015-06-26 18:25] abbyad commented on #893
This is working well and being deployed, moving to Ready.

[2015-06-26 18:29] abbyad commented on #715
Just clarifying that we are able to receive data from medic-collect (#893), which serves the original need of this Feature Request. The requirement to accept generic ODK XForms has been moved to #885.

Moving to Ready.

[2015-06-26 19:23] #989 closed

[2015-06-26 19:25] browndav commented on #922
Tested out okay, closing.

[2015-06-26 19:32] abbyad commented on #927
Looks good. Moving straight to Released as it was pushed out in 0.4.7.

[2015-06-26 19:56] abbyad commented on #892
In Release since v0.4.4

[2015-06-26 19:57] browndav commented on #543
Superseded by #1032.

[2015-06-26 20:09] browndav commented on #1008
Hey Alex, would you mind taking a stab at acceptance testing this? Just looking for confirmation that it's fixed in the latest development build. Thanks!

[2015-06-26 20:09] browndav commented on #1009
Hey Alex, would you mind taking a stab at acceptance testing this? Just looking for confirmation that it's fixed in the latest development build. Thanks!

[2015-06-26 20:10] browndav commented on #1025
Hey Milan, would you mind firing this up on an Android device to test it? Just looking for confirmation that it works and comments/suggestions if you have them.

[2015-06-26 20:10] browndav commented on #1033
Hey Alex, would you mind taking a stab at acceptance testing this? Just looking for confirmation that it's fixed in the latest development build. Thanks!

[2015-06-26 20:13] browndav commented on #973
Hey Gareth, would you mind taking a stab at acceptance testing this? Just looking for confirmation that it's fixed in the latest development build, as well as confirmation that it indeed did make it in to testing/master. Thanks!

[2015-06-26 20:15] browndav commented on #952
Assigned back to @sglangevin for acceptance testing.

[2015-06-26 20:22] browndav commented on #785
Hey Milan, would you mind taking a stab at acceptance testing this? Just looking for confirmation that it's fixed in the latest development build. Thanks!

[2015-06-26 20:53] browndav commented on #817
@alxndrsn: Sorry, late on this, but... no. There's not currently any retry functionality in medic-webapp or at the top-level of medic-transport, but retries are supported in node-gammu-json (though they remain unused).

[2015-06-26 21:00] browndav commented on #1013
Okay, thanks, I'll give it a try on the Windows laptop here and see if I can reproduce. Do you know roughly how long it waited before failing during this most recent test?

[2015-06-26 21:03] sglangevin commented on #1013
I'd say 1-2 minutes but that's an estimate, it might have been slightly longer.

[2015-06-26 21:05] #646 closed

[2015-06-26 21:05] #648 closed

[2015-06-26 22:12] browndav commented on #948
Confirmed working in latest build. It's worth looking in to why the automatic loading no longer works (missing udev rules, perhaps), but the workaround is effective for now.

[2015-06-26 22:26] browndav commented on #591
Github janitorial services reporting in. Is this still a problem in the production build of SMSSync, and/or were we ever able to reliably reproduce this?

[2015-06-26 22:44] mandric commented on #591
Haven't reliably reproduced it.

[2015-06-27 01:13] mandric opened #1035 "javarosa parser should handle trailing hash"
[code]

[2015-06-27 17:14] mandric commented on #267
`public_form` still exists on the form definition and pretty sure that's the right place for it.  It works as expected, when true the facility not found error is not assigned to new records.

We should consider creating a new issue for documentation for this, or add a new item to the issue for forms format documentation since we have none afaik.

[2015-06-27 17:15] mandric commented on #267
tested on:
medic-os-v1.1.0-x64-alpha-20150107
webapp 0.5.0-alpha.1533

[2015-06-27 18:56] mandric opened #1036 "fields fail to render with form configuration change"
1) Configure an instance with forms and settings
2) Send in some test messages/reports
3) Upload new forms with different form codes
4) Refresh reports screen

Fields on the records are not rendered.  I would expect existing records to be mostly unaffected by a configuration change.  This means if I have an instance configured for form XYZ then I remove that form configuration change to ABC the pr

[2015-06-27 19:34] abbyad commented on #1036
This behaviour is different then it was, but it could be perceived to be a feature.

*Pros*
- Minor form updates could be handled gracefully (similar to concept of "version" in ODK)
- Can remove old forms from being shown in filters and exports

*Cons*
- Submissions of forms that have been removed do not have fields rendered in Reports tab
- Submissions for removed forms cannot be exported

I thin

[2015-06-27 19:59] mandric commented on #1036
I find it strange to have a record change like that within the interface or suddenly have the data inaccessible or unavailable.

Form management is still a manual process at this point so the burden could be pushed to that process and through a technical project lead/person.  As more time passes though, especially if we ever want an actual DIY offering we'll need to solve the form management probl

[2015-06-27 21:32] mandric commented on #416
While testing got a stacktrace in sentinel after adding an `exists` validation.

[code]

[2015-06-28 01:00] mandric commented on #416
Still not working, moving back to Active Work.

[2015-06-28 01:05] mandric commented on #714
Need more detail on what kind of testing we need to do here.

[2015-06-28 01:16] mandric commented on #785
In the modal editing window for a scheduled group:

1) The to field is not present/editable.
2) The messages in the edit modal are not ordered in the same way as the read view (by date).

[2015-06-28 20:19] garethbowen commented on #1020
It'd be useful to also test the performance of a single doc fetch and a view query.

[2015-06-28 20:21] garethbowen commented on #1034
@sglangevin It already is added, look at this line: https://github.com/medic/medic-data/blob/master/data/generic-anc/diy/app-settings.json#L17

[2015-06-28 20:27] sglangevin commented on #1034
@garethbowen I need to add the Nepali messages though.

[2015-06-28 20:30] garethbowen commented on #1034
Ahh ok, sorry!

[2015-06-29 02:53] garethbowen commented on #973
Tested and passing with
- `0.4.8-beta.1520` on `medic-os-v1.1.0-20150623-x64-virtual.iso`.
- `develop/alpha` in my dev environment.

[2015-06-29 10:37] #953 closed

[2015-06-29 13:24] alxndrsn commented on #1008
LGTM

[2015-06-29 13:27] alxndrsn commented on #1009
Looks like we're down to 38 items in the cache, but I now get the following error:

log output|code ref
---|---
...|
`Application Cache Progress event (30 of 38) http://localhost:5988/medic/_design/medic/_rewrite/static/dist/inbox.js`|`(index):1`
`2015-06-29 15:25:40.128 (index):1 Application Cache Error event: Resource fetch failed (2) http://localhost:5988/medic/_design/medic/_rewrite/static/dis

[2015-06-29 13:38] alxndrsn commented on #1009
`inbox.js` is served fine if accessed directly, and the page seems to work fine.  I suspect it's failing to save in the cache because of its size (4.3MB).  Looking at `inbox.js`, it doesn't seem to be minified.  Running it through `uglify` gets the size down to 2.4MB.

I've found limited info online about the size limit (e.g. [this SO question](https://stackoverflow.com/questions/6757945/cache-man

[2015-06-29 13:56] alxndrsn commented on #1009
There's also a lot of whitespace in the templates which could probably be stripped.

[2015-06-29 14:59] alxndrsn commented on #1033
@browndav @garethbowen Not sure how to test this:

1. as I'm not familiar with this functionality, it's not clear if the steps above are the observed (buggy) behaviour or expected (good) behaviour
1. clicking Verify has no visible effect in the webapp or in the couch `audit_record` doc

My couch seems to be processing views, so I will give this another go later if I've got no response by then.

[2015-06-29 15:47] alxndrsn commented on #1033
Have tested this again:

1. add a report
2. observe that it's first history item has `user: null`
3. clicking Verify has no visible effect in the webapp, but *does* add a new item to `doc.history`, e.g.:

[code]

[2015-06-29 15:59] mandric commented on #786
Failed.

Accept plain-text messages

"Check this box if you want to accept regular SMS messages in addition to reports. If unchecked, an error message will be sent to anyone who submits anything other than a report."

This option toggles `forms_only_mode` boolean value on app_settings object.

## Test 1

Check Accept plain-text messages option and submit message "arrar a ra".

### Expected behavio

[2015-06-29 16:26] mandric commented on #816
On current versions of medic-data builds this is fixed.

[2015-06-29 17:12] browndav commented on #1022
Agree, definitely enough for a proof of concept.

[2015-06-29 18:44] mandric commented on #879
Language choices are all still in english.

Fails on fresh install of medic-os-v1.1.0-20150623-x64-virtual.iso which comes with 0.5.0-alpha.1530 and upgrade to 0.5.0-alpha.1542 still fails after reloading cache and forced refresh (shift+reload).

[2015-06-29 20:23] garethbowen opened #1037 "Create integration testing framework"

[2015-06-29 20:39] garethbowen commented on #1005
This should also cover what we do when multiple users use the same phone. If user a logs out and user b logs in they shouldn't use the same db.

One idea is to modify the local db name to include the username so different users data will be stored separately. If we also included the permissions then they couldn't access the db if their permissions change.

[2015-06-29 20:41] abbyad opened #1038 "Replace Basic Auth"
Requirements:
- Use alternative to basic auth for user login (this will allow for #856, #461)
- Use basic auth for api access to export data

[2015-06-29 20:47] browndav commented on #1020
Stuff left: (a) test retrieval times for views; (b) test retrieval times for single documents; (c) make sure the quota-disable thing works.

[2015-06-29 21:05] browndav commented on #1031
Clarification: this has regressed in 0.4.7, and we should release a 0.4.8 to fix it. We don't believe it's a problem in the development branch.

[2015-06-29 21:47] garethbowen commented on #1009
FWIW it's minified in production, but not in development.

[2015-06-29 22:38] garethbowen commented on #1009
It looks like it only affects Chrome on Win/Mac which is why I wasn't able to reproduce the problem.

@alxndrsn Would you be able to look at this issue? We could look at minimising what we store, eg:

- trim whitespace from templates - the grunt plugin has an option for this but it won't save us much (10s of KBs) and when I tried it it ran for 2 minutes before I killed it.
- minify js in developme

[2015-06-29 22:52] garethbowen commented on #1033
@alxndrsn What was happening before was no audit doc was being created at all. If there is a new history item then it's an improvement!

The way auditing works is...

1. Every request goes through api
2. Certain requests (in particular PUT, POST, DELETE) get proxied through an auditing service and the rest get sent straight to couchdb
3. The auditing service looks up the audit doc related to the d

[2015-06-30 00:42] garethbowen commented on #1031
Also, the date filter is hilariously broken.

[2015-06-30 01:39] browndav commented on #880
The remaining portions of this issue appear to be superseded by #1016; moving this to acceptance testing.

[2015-06-30 01:39] #880 closed

[2015-06-30 03:14] garethbowen commented on #1031
Fixed in testing.

[2015-06-30 03:14] #1031 closed

[2015-06-30 11:54] alxndrsn commented on #1009
On my machine, in Incognito Chromium, it looks like there's a size limit of `1310720 bytes` **for any one file**.  This seems quite arbitrary, so I'd be interested if it's the same for others.

[2015-06-30 14:19] alxndrsn commented on #1009
I think this is fixed in https://github.com/medic/medic-webapp/pull/1039. However, I think there is probably a better name for the JS file `stuff.js`.

[2015-06-30 16:30] alxndrsn commented on #1033
# Creating a report

## Steps taken:

1. add a report from the "Submit Report" non-modal dialog
2. click on the new report to find out its ID

## Behaviour observed:

1. `action:"create", user:null`
2. `action:"update", user:"admin", transitions:...`
3. `action:"update", user:"admin", transitions:..., read:["admin"]`

Is that expected?

[2015-06-30 16:35] alxndrsn commented on #1033
# Viewing a report

# Behaviour Observed

After the previous test, I selected a different report, and then reselected the newly-created report.  I did this repeatedly, and then hard-refreshed the page with the new report selected.

No new `read` entries are added to the audit for this report.

## Queries

Do we expect to see new audit records for every read?  If not, what is the expected behaviour

[2015-06-30 16:38] abbyad opened #1040 "Proof-of-concept: Programmatically create branded launch icon/name"
Following conversion [here](https://gist.github.com/garethbowen/fe60d02b608853adf088), we want to explore using a single app that can be branded for different projects. In order to do this we we need to make sure that we can update an Android app's launch icon and name programmatically.

We should test this on any v4.4+ device we can get our hands on using an app that can change/toggle the applica

[2015-06-30 16:39] alxndrsn commented on #1033
# Editing a report

## Steps taken

1. select report
2. click *Edit*
3. select *Emmitt Engman*
4. click *Submit*

## Behaviour observed

Two new audit records are created:

1. `action:"update", doc.errors:[], doc.tasks:[], doc.contact:emmitt`
2. `action:"update", doc.errors:undefined, doc.tasks:undefined, doc.contact:emmitt`

## Queries

1. Why are two audit records created for one update?
2. what

[2015-06-30 16:58] abbyad commented on #1040
Edited title to reflect another option: Creating a branded shortcut for the application.

*Pro:* Should be supported on all devices.
*Con:* The app would still be Medic Mobile in the application tray.

Given that this shortcut method doesn't change the actual app name/icon, this should be considered a fallback if launch icon/name cannot reliably be changed.

[2015-06-30 21:00] garethbowen commented on #1033
Viewing a report: we don't current auditing viewing, so this is as expected.

The other two are behaving as expected I think. Extra records are created when sentinel updates the file so I suspect that's what happening here.

[2015-06-30 21:00] #1033 closed

[2015-06-30 21:01] alxndrsn commented on #1033
If we don't audit viewing, then what's the `action:"update", user:"admin", transitions:..., read:["admin"]` update for when creating?

[2015-06-30 21:02] garethbowen commented on #1040
My thoughts: https://gist.github.com/garethbowen/fe60d02b608853adf088

Also useful: http://stackoverflow.com/questions/1103027/how-to-change-an-application-icon-programmatically-in-android/15249542#15249542

[2015-06-30 21:04] garethbowen commented on #1033
The `read` part is actually on the doc, not the audit record. That's how we show a bold item in the UI when the current user hasn't read the report yet. It's not protected so can't be relied on for auditing.

[2015-06-30 21:08] alxndrsn commented on #1033
Makes sense - thanks for clearing that up.  Seems reasonable to close this.

[2015-07-02 09:29] alxndrsn commented on #1031
I can't get the `testing` branch to build - `grunt dev` gives:

```Fatal error: Can’t detect main file for "select2-bootstrap-css" component. You should explicitly define it via bower_concat’s mainFiles option. See Readme for details.```

[2015-07-02 09:30] garethbowen commented on #1031
You need to `rm -rf bower_components` to get rid of all the dependencies from `develop`.

[2015-07-02 09:40] sglangevin commented on #1013
@browndav did you get a chance to try on a Windows laptop? Both Anand and Enock have struggled to install on their Windows laptops. Enock finally was successful with alpha-r48 after clicking try again about 10 times but Anand has yet to be able to get services to start on his laptop.

[2015-07-02 14:05] alxndrsn commented on #1040
Here's a demo of it working with "application shortcuts": https://github.com/alxndrsn/medic-webapp-mobile-demo/tree/changing-icons

This is a shortcut with custom label and icon, which is placed on the "home"/"launcher" menu - it does not appear in the full list of applications, and does not replace the original _Medic Mobile_-branded app icon.

[2015-07-02 14:35] mandric commented on #1031
Or little quicker is `rm -rf bower_components/select2-bootstrap-css` when going from a checkout of develop to testing.

Also adding couple things here for the future... we probably want to do acceptance testing on a VM using the latest stable ISO.  It might also be good if we had ISO builds for master/testing/develop (release/beta/alpha).

[2015-07-02 15:38] alxndrsn opened #1042 "Missing git tags for webapp 0.4.6+"
Seem to be missing tags on github for release 0.4.6, 0.4.7 and (if it's released) 0.4.8

[2015-07-02 15:39] alxndrsn opened #1043 "Rename git branches in line with common names"
We seem to have two naming schemes for our development streams:

testing/develop/master

vs

alpha/beta/gamma

It would be great if we could use a single consistent scheme.

[2015-07-02 15:41] mandric commented on #1043
We’ll need to update a few of the travis scripts that check some branch names before pushing to market.

[2015-07-02 16:17] abbyad commented on #1025
Self assigning since I want to get an APK out for internal testing anyhow.

[2015-07-02 17:18] abbyad commented on #1025
Works great, nice job @alxndrsn!

Confirming 1-4. Did not verify 5 from medic-webapp side, and did not test the security of 3 (credentials on the device).

[2015-07-02 17:25] alxndrsn commented on #1025
nice, thanks for the feedback.  *3* relies on the security of android's [SharedPreferences](https://developer.android.com/reference/android/content/SharedPreferences.html).

Some discussion of that [on stackoverflow](https://stackoverflow.com/questions/9244318/android-sharedpreference-security):

[2015-07-02 17:54] #1042 closed

[2015-07-02 18:18] browndav commented on #1025
I think SharedPreferences is okay. For an MVP — especially if we're setting up the devices — we can add PINs and turn on the full-disk encryption on the Android devices themselves, I think.

@abbyad: Do you think that'd be a usability issue, or do we think our target CHWs are pretty used to the PIN/lock features on Android?

[2015-07-02 18:29] abbyad commented on #1025
Given how difficult it is to extract the password from SharedPreferences I think that is sufficiently secure. If a phone is lost/borrowed it is very unlikely that someone would even attempt to extract the password. Even if they did, the policy should be that lost phones get reported and password changed for that user.

The bigger issue is someone borrowing the phone and accessing/altering the pati

[2015-07-02 18:44] browndav commented on #1025
IIRC there are GUI apps that can extract preference data from unlocked Android devices pretty trivially. PINs + FDE should prevent both problems, I think. With you on the reporting/deactivation, though, that's probably our best first line of defense.

[2015-07-02 18:50] abbyad commented on #1040
I am reopening since we first want to try to change the launcher logo/name using the methods @garethbowen linked to first before falling back to the shortcut method.

FWIW, I was not able to see the shortcuts on my Galaxy Nexus running Android 4.4.4. After reinstalling I saved a new config but shortcuts did not appear. I tried this with each of the 3 sample settings.

[2015-07-02 19:02] #1014 closed

[2015-07-02 19:06] abbyad commented on #654
I suspect it was an incompletely downloaded installer file. Closing since we have not seen this again.

[2015-07-02 19:06] #654 closed

[2015-07-02 19:06] browndav opened #1044 "Medic OS: Create an easy way to switch distribution channels at runtime"
Currently, there are 24 build permutations for Medic OS – two sets of preloaded data, two architectures, three distribution channels, and two deployment scenarios (DIY ISO, hosted AMI). Ideally we don't build different images for every one of these.

To make developer testing easier, @alxndrsn suggested developing a simple CLI tool to dump all of the stored data, reset services to default, and red

[2015-07-02 19:08] abbyad commented on #532
Closing as this has been replaced by #964

[2015-07-02 19:08] #532 closed

[2015-07-02 19:09] abbyad commented on #531
Closing - replaced by #964.

[2015-07-02 19:09] #531 closed

[2015-07-02 19:09] browndav opened #1045 "Mobile App: Make our Android container build on Travis CI"
It'd be great if we could do automated builds of the Android container, as well as add unit tests for CI once we get in to stuff like native Javascript bindings (e.g. for SMS or notifications). We should add a `.travis.yml` file and see if we can get CI to churn out APKs.

Speculatively assigning to @alxndrsn.

[2015-07-02 19:25] abbyad commented on #1026
The UX from #1025 is sufficient for now. We can open a new issue at a later date for styling, or for enhanced UX as we add projects post MVP (eg get settings from QR code).

[2015-07-02 19:25] #1026 closed

[2015-07-02 21:01] abbyad commented on #989
Works well, moving to Ready.

[2015-07-02 21:04] abbyad commented on #908
Looks good! Moving to Ready.

[2015-07-02 21:17] abbyad commented on #983
Still get a 500 using `/api/v1/records` on 0.5.0-alpha.1544.

![screenshot_2015-07-02-17-15-42](https://cloud.githubusercontent.com/assets/789512/8488050/259757ba-20de-11e5-815c-9677cfed14a0.png)

[2015-07-02 22:27] mandric commented on #983
@abbyad  any chance you can grab the log entry in couch.log?

[2015-07-02 22:27] mandric commented on #983
Or try against alpha.dev.medicmobile.org?

[2015-07-02 23:33] mandric commented on #983
Oh nevermind @abbyad I didn't see the demo.app... above.

[2015-07-02 23:36] mandric commented on #983
[code]

[2015-07-02 23:51] mandric commented on #983
@abbyad demo.app is running release and this fix is in develop/alpha.  We need to apply this fix to testing/beta to get it in the next release.  Re-assigning to myself...

[2015-07-02 23:59] abbyad commented on #983
Thanks @mandric for spotting that... I was sitting looking at alpha.dev when I did those tests earlier today, so I would have been especially confused if it worked but the reports didnt come in!

Confirming that it works ...when set to the proper URL.

Moving to Ready. Is it possible to include this the next release (0.4.8) so that we can use this endpoint?

[2015-07-02 23:59] #983 closed

[2015-07-03 00:03] mandric commented on #983
@abbyad I would keep the issue in Acceptance Testing or Active Work until it's ready on testing/beta.

[2015-07-03 08:34] alxndrsn commented on #1040
Thanks for testing - I will look into different implementations of the `IconChanger`.

[2015-07-03 09:55] alxndrsn commented on #1040
@abbyad please be aware of the following comments on the SO accepted answer:

Are we just looking for something supported on our chosen devices?

[2015-07-03 10:03] garethbowen commented on #1040
That's a deal breaker. Can you find no way to update the icon and name at runtime?

[2015-07-03 10:07] alxndrsn commented on #1040
@garethbowen good to know - I'll try to work out how to do it programmatically

[2015-07-03 11:17] alxndrsn commented on #1040
I have now added implementation demonstrating switching via `<activity-alias>` on `master`.

The old method is still available if the env var `ICON_CHANGER=shortcut` is provided at build time.

[2015-07-03 11:17] #1040 closed

[2015-07-03 13:03] alxndrsn commented on #1045
Working: https://travis-ci.org/medic/medic-android

Where do you want the APKs to go?

[2015-07-03 13:03] #1045 closed

[2015-07-03 13:21] abbyad commented on #1045
APKs could go on dev.medicmobile.org/downloads/medic-android/

[2015-07-03 21:54] browndav opened #1046 "Concierge: Rename the `vm` system account to match the configured username"
Currently, the SSH and system user name is always `vm`, regardless of what was entered in to concierge. This is unintuitive. Changing the username to match the named CouchDB account would reduce attack surface and better match user expectations.

[2015-07-03 21:57] browndav opened #1047 "Figure out a good universal way to auto-discover Medic OS's IP address during integration testing"
We have a script in `medic-data` that automates a Medic OS instance launch, the Concierge configuration process, and the Concierge wait-for-startup process, using Packer. This script currently has a hard-coded IP address with a `FIXME`.

We need a good way to auto-discover the IP address programmatically on AWS and VMware. Ideally this is the same method for both. We already expose this informatio

[2015-07-03 22:24] browndav opened #1048 "Concierge: Add a REST option to /setup/password that returns results as JSON"
For automation, it'd be a little friendlier if `/setup/password` had a REST personality that spoke JSON, in addition to the current `application/x-www-urlencoded` browser-targeted `POST` interface.

[2015-07-06 14:10] abbyad opened #1049 "Automate building of DIY installer"
The DIY installer is currently built on a Windows machine with a mix of manual and scripted steps. We should automate this build process and publish an exe whenever any component or subproject gets updated.

The main repo is [medic/medic-msi](https://github.com/medic/medic-msi), subprojects are:
- [medic/medic-launchpad](https://github.com/medic/medic-launchpad)
- [abbyad/vmware-helper](https://gi

[2015-07-06 14:37] alxndrsn commented on #1020
In response to (a) and (b), I've updated https://github.com/alxndrsn/pouch-db-capacity-testing to run some tests where the DB is filled, a view is generated to order the docs by content, and then some fetch timing tests are run.  Unfortunately, on my emulator, more than around 200 docs causes pouch to hang when building the db views (with idb).  Not impressive!  I suspect this is due to lack of sp

[2015-07-06 15:44] alxndrsn commented on #1020
On storage size limits:

Aha, but in Android < 4.4, this is actually a hard limit! So if you ask for 5000000, you'll only ever get 5 MB.

http://pouchdb.com/2014/10/26/10-things-i-learned-from-reading-and-writing-the-pouchdb-source.html

[2015-07-06 19:06] abbyad opened #1050 "Support a new `date` type"
We are getting several feature requests that relate to dates: [duplicates](https://github.com/medic/medic-webapp/issues/992), [reporting rate analytics](https://github.com/medic/medic-webapp/issues/1028), [dob calculations](https://github.com/medic/medic-webapp/issues/1029). These are being requested for a variety of use cases, including registrations for immunizations, as well as service/stock re

[2015-07-06 19:16] browndav commented on #1050
In the `cic-guatemala` branch of `medic-simapp`, there is now working support for `date` and `numeric` types, plus library code that's capable of validating and subtracting dates. The `date` type is implemented as a three-field sequence that's joined in to a single field via a special `SCHEMA_ITEM_DELIMITER` directive.

Two remaining issues: (i) the form compiler's validation/conditions code curre

[2015-07-06 21:45] browndav commented on #999
Here's a bit of additional information to fill out this issue.

Enketo (https://enketo.org) is a web-based renderer for XML-based Javarosa (https://bitbucket.org/javarosa/) data collection forms. These forms are used with ODK Collect, and with Medic Collect (our fork of ODK Collect).

We have sample forms from real-world projects that can be used for testing. It may be helpful to compare Enketo's

[2015-07-06 21:47] #1021 closed

[2015-07-06 21:47] #994 closed

[2015-07-06 21:48] #1020 closed

[2015-07-06 22:14] browndav commented on #999
Per today's call: this issue is likely to fan out in to a few different ones pretty quickly – anyone who's able is welcome to pair up on part of this and/or take on any of the fan-out issues.

[2015-07-06 22:26] browndav opened #1051 "Android container: find a way to manage project-specific branding without branching, apply branding as a near-final build step"
In addition to the generic Medic Mobile Android container, we'll need to produce/deploy branded versions for some larger deployments. These versions may have customized names, application icons, Google Play store listings, and configuration/URLs.

We'd like to manage the application of branding as a build step, rather than per-project branches. Do a test run with some fictitious branding, and ensu

[2015-07-06 22:39] browndav opened #1052 "Proof-of-concept: Build Nools option in to Alex's PouchDB performance testing harness"
Now that we've done enough looking at Nools to confirm viability, I'd like to build a small module to encapsulate task processing/generation, and integrate that in to the existing PouchDB create/retrieve tests. This, hopefully, will allow us to determine the likely performance limits of our CHW mobile application across devices.

[2015-07-07 10:47] alxndrsn commented on #1051
Implemented on `master` branch of [`medic-android`](https://github.com/medic/medic-android) project.  Commit: https://github.com/medic/medic-android/commit/2c5bd4108a69afdda31b6fbf3606b122f1445adf

[2015-07-07 11:02] alxndrsn commented on #999
Possibly significant:

from https://github.com/enketo/enketo-express

[2015-07-07 11:46] sglangevin commented on #1016
I want to collect the information so that we have it and can see how users respond. That way we can make updates to Beta 3 based on feedback.

[2015-07-07 13:55] alxndrsn commented on #999
Have this working with a single form, pulled live from https://github.com/medic/medic-projects/blob/master/edcd-nepal/forms/Daily%20Hospital%20Surveillance.xml.  I'm running a separate `enketo-core` nodejs process with webserver locally, and displaying the form in an iframe.  This seems to be the same approach that `medic-reporter` uses.
If this is an acceptable approach, and we have the forms ava

[2015-07-07 14:16] #1051 closed

[2015-07-07 14:16] #999 closed

[2015-07-07 16:58] mandric commented on #1032
Modified settings to include this but I get no links in the interface to the reporting rates.

[code]

[2015-07-07 17:58] browndav commented on #999
This is great, thanks!

Next step: we should see if it's possible to get equivalent functionality out of Enketo without relying on Node.js – entirely in the browser. We'll need this in order to use Enketo to render forms while the mobile device is offline. I'll file a followup issue and reference this one.

[2015-07-07 18:00] browndav opened #1053 "Proof-of-concept: Render an Enketo form without relying on a Node.js server process"
Since we've decided on an offline-first replication strategy for the CHW mobile application, we'll need to be able to render Javarosa forms without any access to Medic OS or a hosted instance of the Medic Mobile web application. Try to recreate #999 without relying on Node.

[2015-07-07 19:36] MartijnR commented on #999
:+1:

(enketo-core will switch to commonJS modules if all goes well)

[2015-07-07 20:29] garethbowen commented on #1032
Those forms (`ISSN`, etc) must also exist in the forms config. Then make sure you refresh the page so Angular fetches the settings from the server. Then it should work...

[2015-07-07 20:37] browndav commented on #999
Hey @MartijnR, thanks! If you have a couple spare seconds – do you know if anyone is using Enketo (or `enketo-core` specifically) for form rendering without the Node.js HTTP server? We're looking at Enketo for a couple of use cases that require offline support. We're planning to poke around tomorrow, but was just curious if you had any quick tips/pointers. Thanks again.

[2015-07-07 20:51] MartijnR commented on #999
Hi @browndav,

Yes, there is Dristhi by [OpenSRP](http://smartregister.org/) and I'm aware of a new project by a group at Thoughtworks Bangalore (but am not sure if launched and open-source). I know [mUzima](http://www.muzima.org/) was also using Enketo-core at some stage.

The node (or PHP) server is really just for the XForm -> HTML transformation. This could be a tiny webservice (like github.co

[2015-07-07 20:51] browndav opened #1054 "Production Hosting: Patch Medic OS against latest OpenSSL vulnerability"
Details and a patch for a new "high severity" OpenSSL vulnerability will be released on July 9th:
  https://mta.openssl.org/pipermail/openssl-announce/2015-July/000037.html

Build, test, and deploy the patch to all affected Medic OS instances.

[2015-07-07 20:52] browndav commented on #999
Thanks, this is all really helpful.

[2015-07-07 20:56] browndav commented on #1054
Futurebug™

[2015-07-07 21:15] mandric commented on #1032
Did that then got our friendly 502 message for about 5 minutes.  Pulled the logs out... http://cl.ly/0F211F053e31/download/logs.tar.gz

The Stock Monitoring analytics comes up, but needs CSS work:

![screen shot 2015-07-07 at 4 11 51 pm](https://cloud.githubusercontent.com/assets/25641/8557474/3cf7d1d0-24c3-11e5-8b80-df4483364f34.png)
![screen shot 2015-07-07 at 4 13 03 pm](https://cloud.githubuse

[2015-07-07 21:39] garethbowen opened #1055 "Run e2e testing in continuous integration"
We should run the e2e testing during the CI build so we catch breakages early. This is dependant on having an [alternative to basic auth](https://github.com/medic/medic-webapp/issues/1038).

[2015-07-07 21:44] garethbowen commented on #1055
Code snippets required to get this to work:

### Gruntfile.js

[code]

### .travis.yml

[code]

[2015-07-07 21:59] mandric commented on #1032
Looks like this lacks a design iteration or two.  Pretty sure that layout design came out of a design consultancy firm Free Association, we could probably re-engage for a mobile compatible layout/redesign.

[2015-07-07 22:04] mandric opened #1056 "Redesign reporting rates UI"
Reporting Rates UI needs a mobile compatible layout.  See also https://github.com/medic/medic-webapp/issues/1032

[2015-07-07 23:47] garethbowen commented on #1009
The branch is not passing so this can't be considered fixed. Working on it now.

[2015-07-08 01:20] garethbowen commented on #1009
I've fixed the issues with the branch and merged.

[2015-07-08 01:20] #1009 closed

[2015-07-08 01:21] garethbowen commented on #1037
Works locally. I've created #1055 to cover getting it to run in CI.

[2015-07-08 01:21] #1037 closed

[2015-07-08 15:23] abbyad commented on #1051
Thanks @alxndrsn. This builds well and seems to be a good solution. I am moving to Ready but pinging @browndav to take a look as well.

A couple of comments/suggestions:
- Is there a reason to use icn_launcher instead of ic_launcher?
- Can we add a quick note on how to add additional branded builds, or where to edit existing ones - I can help with this if you don't already have something.
- Minor

[2015-07-08 16:53] abbyad commented on #1040
Given the findings from this Proof of Concept, we have opted for branded builds instead of branding programmatically. Next step is in #1051, removing from Acceptance Testing.

[2015-07-08 16:55] abbyad commented on #1014
Given the simplicity of the change, moving to Ready. Reopen new issue if more text changes are needed.

[2015-07-08 17:04] abbyad commented on #910
Works great, nice job @garethbowen. Moving to Ready.

[2015-07-08 17:11] alxndrsn commented on #1053
I've got this working on https://github.com/medic/enketo-offline.  Current limitations:

* **FIREFOX ONLY**
* some unresolved licensing issues

[2015-07-08 17:12] abbyad commented on #482
Works well, tested sending both messages and reports from all levels. Nice to have this restriction removed!

Moving to Ready.

[2015-07-08 23:23] garethbowen commented on #1051
This works well for me (after a couple of tweaks). LG G3 running Android 5.0.

[2015-07-09 10:09] alxndrsn commented on #1053
Browser support update:

Browser | Supported
---|---
Android Browser | yes
Android WebView | yes
Chromium | yes
Firefox | yes
Opera | yes
Safari | no

I would guess this is good enough in the short term.

[2015-07-09 13:42] alxndrsn commented on #1053
This is now demoable without `enketo-xpathjs` - check https://github.com/medic/enketo-offline/tree/ditching-xpathjs.  Not a finished product, by any means.

[2015-07-09 18:53] abbyad commented on #1053
Looks like a great start. As a Proof-of-concept you probably aren't yet concerned about this, but noticed that fieldsets and constraint messages don't show up.

[2015-07-10 05:34] mandric opened #1058 "facility reference code fails to match when using integers and textforms"
If the refid field on a record is created as an integer then when the update_clinics sentinel transition tries to query for facilities it gets no results.  There is no match because the reference code is saved as a string on the facility doc.

See https://github.com/medic/medic-sentinel/blob/develop/transitions/update_clinics.js#L63

[2015-07-10 07:53] alxndrsn commented on #1053
@abbyad Actually that's quite concerning!  Which form was that in?  Any chance of a screenshot?

[2015-07-10 08:23] alxndrsn commented on #1053
I've updated the README and the UI on the `ditching-xpathjs` branch so hopefully it's clearer what's going on.

[2015-07-10 09:13] alxndrsn commented on #1049
Steps to automation:
[code]

[2015-07-13 12:11] alxndrsn commented on #1053
Some numbers:

Item (minified) | size / KB
---|---
enketo-core & dependencies | 373
translation code | 1 (so far!)
XML (unconverted) | 19
HTML + XML (converted) | 33

[2015-07-13 12:38] abbyad commented on #1053
# Firefox 39.0 on Windows
Fieldset displays properly, but constraint message not showing:
![image](https://cloud.githubusercontent.com/assets/789512/8649590/c2fc9a7a-2939-11e5-8a32-03c8bf1044c7.png)

# Chrome 43.0.2357.132 m on Windows
Fielset not displaying properly, but constraint message does:
![image](https://cloud.githubusercontent.com/assets/789512/8649630/1ef9d612-293a-11e5-93a0-fcff047812a

[2015-07-13 12:40] alxndrsn commented on #1053
Can confirm this happens also on Firefox 38.  Is fixing this required for this ticket?

[2015-07-13 12:44] abbyad commented on #1053
Both constraints and fieldsets are used in our forms already, so we would need this before we go to release.

Do we know why this doesn't display properly in either browser, and what is needed to make it work?

[2015-07-13 12:45] alxndrsn commented on #1053
What's wrong with the 'fieldset' in the Chrome screenshot?

[2015-07-13 12:45] alxndrsn commented on #1053
Understood, but you'll find lots of other problems if you're looking for release-standard!

[2015-07-13 12:46] abbyad commented on #1053
It is not a field set :)

It is showing one question per page, whereas fieldset groups display on a single page.

[2015-07-13 12:48] alxndrsn commented on #1053
Ah!  No idea about that.  Is the other field missing, or just displayed on a separate page?

[2015-07-13 12:49] abbyad commented on #1053
As a proof-of-concept we don't need release quality, but do want to have a better understanding of the level of effort needed to get there.

As for the fieldset issue, no question is missing, just displayed on a separate page.

[2015-07-13 14:39] abbyad opened #1059 "Exporting yields same result with or without Date Filter"
As reported by @pkaini [here](https://github.com/medic/medic-projects/issues/27), the data filter is not respected when exporting from `/medic/_design/medic/_rewrite/forms`.

I tested on v4.7 and got the same result.

[2015-07-13 20:11] garethbowen commented on #1059
I think this is fixed by the same fix as #1031 . We should double check to make sure.

[2015-07-13 20:16] #1054 closed

[2015-07-13 20:44] abbyad commented on #1016
For Beta 2 what we will do is add the fields, but will avoid validating the phone number. That will allow us to see how it is used, and by the time we have Beta 3 we will want to create a person in the Contacts tab based on this info too.

[2015-07-13 20:47] garethbowen commented on #1059
I'll test this against alpha and make sure.

[2015-07-13 21:08] sglangevin commented on #1016
Cool, that sounds great!

[2015-07-13 21:25] garethbowen commented on #1059
This is fixed in beta.

[2015-07-13 21:25] #1059 closed

[2015-07-13 21:28] mandric commented on #1059
@abbyad maybe you should acceptance test this since you opened it?

[2015-07-13 21:30] abbyad opened #1060 "[enketo] Hide and Prepopulate fields"
Now that we are rendering Enketo forms (https://github.com/medic/medic-webapp/issues/1053) we want to find a way to hide fields as well as prepopulate fields.

These are needed when completing a form about a person, because we would want to submit their ID but not show this ID to the user.

Hidden fields can already be done by manually editing the XML to remove the input from the `<h:body>`, but l

[2015-07-13 21:34] mandric commented on #1058
The code fix here is pretty easy, I just need to add a test... then will move it to acceptance testing.

[2015-07-14 02:12] garethbowen opened #1061 "Design for login page"
As part of #1038 I've created a simple login screen (below). This could benefit from a design pass before being forced upon our users.

![login-screen](https://cloud.githubusercontent.com/assets/2064938/8664944/4ffc9df0-2a32-11e5-99f5-b4ed68613dcf.png)

[2015-07-14 04:48] garethbowen opened #1062 "Standardise on loading spinner"
We use three different spinners in three different areas of the app.

#### fontawesome spinner in the webapp

![fontawesome](https://cloud.githubusercontent.com/assets/2064938/8666565/8487e452-2a47-11e5-8a19-e97eb63a7f51.png)

This is choppy in some sizes and requires downloading the font so it doesn't render right away and is hard to use, which is why it wasn't used in the login page and concierg

[2015-07-14 11:24] alxndrsn commented on #1053
# "Fieldset" bug
This appears to be a difference in how the `role="page"` attribute is applied in Chrome vs Firefox.  The Firefox behaviour is correct.

## Sample HTML

### Firefox

    <section role="page">
        <h4>...</h4>
        <label>...first question here...</label>
        <label>...second question here...</label>
    </section>

### Chrome

    <section>
        <h4>...</h4>
        <

[2015-07-14 11:28] alxndrsn commented on #1053
# Missing Validations bug

Validation text was not being populated in Firefox.  This appears to be a bug in `enketo-core`, and should be reported upstream.

# Non-working validations bug

Consistently in both Chrome and Firefox, some validations are not displaying text, when they should be.  This should be checked to see if it is an upstream bug.

[2015-07-14 11:31] alxndrsn commented on #1053
# Skip Logic bug

In the _Daily Hospital Surveillance_ form, there appears to be some skip-logic associated with *Do you wish to select a health facility code?*  This works differently between `master` and `ditching-xpathjs` branches.  This is likely due to the stubbed implementation of openrosa's xpath bindings.

[2015-07-14 14:00] abbyad commented on #1053
Thanks @alxndrsn, it seems like we have a better handle of how to deal with the remaining issues to get Smart Paper to work offline.

Just a note that I was using `fieldset`, when in fact I meant `field-list` as the appearance value to show an entire group in one "page". By default, Collect is already in _pages_ mode, whereas Enketo's default is as a single page webform. For Enketo to render in _p

[2015-07-14 16:00] abbyad commented on #1062
I agree that consistency would be nice... we should also add the spinner to the theme page.

Personally I prefer single color, and am ok with either horizontal or circle, with a slight preference for the horizontal. Or if this if going with circle:
![image](https://cloud.githubusercontent.com/assets/789512/8677915/c48a9694-2a1f-11e5-8f29-731bcde30c3d.png)

@Lesterng, please weigh in on this conver

[2015-07-14 18:35] mandric commented on #1056
If you want to see the current implementation we can configure alpha.dev to show it. https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/analytics/

[2015-07-14 21:43] sglangevin commented on #1034
@garethbowen I submitted a pull request a while ago for this issue so I bet it can be closed.

[2015-07-14 21:46] #1034 closed

[2015-07-14 21:46] browndav commented on #1034
Bumped over to @abbyad for a quick confirmation.

[2015-07-14 22:11] alxndrsn commented on #1049
This is done.  Builds available in `builds/medic-msi` in the S3 bucket.  Suggested next steps:

* make sure that all built commits are tagged in github
* add a job to monitor the jenkins config and warn when it's not synced to git

[2015-07-14 22:13] browndav commented on #1049
Bumping over to @abbyad for acceptance testing, as he's (much) more familiar with the build process and installer implementation details.

[2015-07-15 01:18] #1038 closed

[2015-07-15 01:19] garethbowen commented on #461
Basic auth has been replaced ( #1038 ) in the webapp so this no longer happens.

[2015-07-15 01:19] #461 closed

[2015-07-15 11:10] garethbowen commented on #1052
I tested creating events based on registrations.

### The rules

[code]

### The test

[code]

### Results

|| || Firefox || Chrome ||
|| Compile (avg, ms) || 70 | 16 |
|| Event generation (avg, ms) || 0.2 | 0.04 |

The compile time is a little slow but if we compile in the main controller then we don't need to recompile until the page is reloaded. The generation time is impressive especially in C

[2015-07-15 15:53] alxndrsn opened #1064 "Push `medic-collect` builds from travis to S3"
After building

1. tag build number in git
2. push tag to github
3. push binaries to S3

[2015-07-15 15:53] alxndrsn opened #1065 "Push `medic-android` builds from travis to S3"
After building

1. tag build number in git
2. push tag to github
3. push binaries to S3

[2015-07-15 17:55] #1064 closed

[2015-07-15 17:55] #1065 closed

[2015-07-15 21:53] garethbowen commented on #1052
To remove the compile time we can listen for configuration changes in API and execute `nools.transpile` to generate the flow source and serve that directly.

[2015-07-15 22:16] garethbowen commented on #1052
Memory usage in Chrome for the above test is around 25MB, and doesn't change much from 10-10000 registrations, so it scales well.

[2015-07-16 03:17] #1052 closed

[2015-07-16 03:24] garethbowen opened #1066 "Generate ANC visit reminders using nools"
Create a module for generating ANC visit reminders based on configurable nools rules following [the spec](https://docs.google.com/document/d/1QLDqzXgeQXLQ9MVW_GLpQ_RAl-wrdx-u9CzKHGZe5rY/edit#heading=h.31lfmc4zt2nz).

The basis for this was done in #1052 which can be used as a guide.

Ensure the rules are precompiled as compilation on demand is too slow.

[2015-07-16 03:25] garethbowen commented on #1066
How configurable should these rules be? ie: will the configurer provide the entire rule, or just when visit reminders should be sent?

[2015-07-16 08:56] #1053 closed

[2015-07-16 11:37] alxndrsn commented on #1060
@abbyad What are the `,` and the `.` in the OP?

[2015-07-16 11:39] alxndrsn commented on #1060
Looks like hidden fields should be fairly simple - this is done already to attach a `uuid()` to each form.  We might need to add our own way to bind data to these.

[2015-07-16 12:28] abbyad commented on #1060
Ha, those were xml tags that weren't rendered. Post aboved edit.

[2015-07-16 13:41] abbyad commented on #1064
This looks good. I will open a separate issue for using the travis build number as the Android version code.

[2015-07-16 13:53] abbyad opened #1069 "Use Travis build number as Android build number"
As followup to #1064, the auto-incremented Travis build number should be used as the Android build number (aka `versionCode`).

The versionCode for medic-collect is already at 1069 so we would need to bump Travis build number accordingly, otherwise existing installations requires an uninstall.

Also, we should ensure that we can still build locally since the build number wont be provided by Travis

[2015-07-16 14:10] alxndrsn commented on #1069
Probably worth doing this for medic-android too once we've worked out the config.

[2015-07-16 14:23] abbyad commented on #957
Confirming that the form fields are in `fields` property. Moving to Ready.

[2015-07-16 14:25] abbyad commented on #964
Opening until we are ready to bring in translations again for RC.

[2015-07-16 14:35] abbyad commented on #1034
Merged the changes, @sglangevin if you notice any issues with this in the next release please open a new issue.

[2015-07-16 14:40] abbyad commented on #857
Reopening this as a placeholder for this feature request in DIY Beta 3.

[2015-07-16 14:45] abbyad commented on #1049
@alxndrsn in which repo is this doc - do you have a link?

[2015-07-16 14:49] abbyad commented on #1053
I'm removing Acceptance Testing as we have a suitable proof-of-concept and characterized the remaining issues. We can open a new issue for moving this beyond the Proof-of-Concept stage.

[2015-07-16 15:08] abbyad opened #1070 "Proof-of-concept: Initiate Call or SMS to a contact in medic-android"
_As a mobile user I would want to initiate a call or sms to a contact from within the Android app so that I don't have to type in the phone number._

The app does not need to send the SMS itself, but rather an Intent that will be handled by the default Android dialer or SMS app. This functionality is limited to the Android version of the app.

[2015-07-16 16:59] browndav commented on #1013
Problem remains on a couple Windows laptops despite a four-minute timeout and a lack of apparent errors in the logs. Working on putting a timeline together to figure out if there's a specific bottleneck, or if the problem is systemic and/or outside of the VMware guest.

[2015-07-16 17:17] abbyad commented on #1070
Method 1 [here](http://stackoverflow.com/a/9798870) is a good example of how we would want to do deal with SMS.

[2015-07-16 18:01] abbyad commented on #1061
I think that looks good already, and is ok to leave as is for the time being.

Will leave open as part of DIY Beta 3, for which we want to include:
- Forgot username/password
- Show password (see what was typed instead of ******)

[2015-07-16 19:13] abbyad commented on #1056
Sure thing @mandric, can you configure that one (or another) to show it? I just tried but encountered some loading errors.

[2015-07-17 04:22] mandric opened #1071 "sending message with + on demo.app with some contacts gives error"
https://demo.app.medicmobile.org/

![screen shot 2015-07-16 at 11 18 56 pm](https://cloud.githubusercontent.com/assets/25641/8740560/12c2b68c-2c11-11e5-9c85-3dacf3156666.png)

I'm assuming this because our mock phone numbers fail to validate with libphonenumber?  Should we create an issue to only use phone numbers that validate for contacts in our demo data?

[2015-07-17 07:49] alxndrsn commented on #1069
Crazy coincidence that this is issue #1069 and the `versionCode` is `1069`!

[2015-07-17 08:17] #1069 closed

[2015-07-17 08:19] alxndrsn opened #1072 "Auto-increment medic-android version on travis build"
Basically to #1069 for https://github.com/medic/medic-android.  Should be simpler, as we don't have to deal with legacy version numbers.

[2015-07-17 08:22] alxndrsn opened #1073 "Write xpath expression evaluator to deal with openrosa bindings"
Replace https://github.com/enketo/enketo-xpathjs.

[2015-07-17 08:24] alxndrsn commented on #1073
This is done on a combination of:
* https://github.com/alxndrsn/openrosa-xpath-evaluator, and
* https://github.com/medic/enketo-offline/tree/new-xpath-implementation
Probably worth talking through it before testing.

[2015-07-17 08:24] #1073 closed

[2015-07-17 11:27] #1072 closed

[2015-07-17 14:18] alxndrsn commented on #1070
How much proof do you want?  Simplest way to do this from a WebView is to wrap links in the webapp like so:

    <a href="tel://+123456789">initiate call</a>
    <a href="sms:+123465789">compose SMS</a>

You then need to add protocol handling to the Android WebView like so:

    webview.setWebViewClient(new WebViewClient() {
        ...
        public boolean shouldOverrideUrlLoading(WebView view,

[2015-07-17 14:18] #1070 closed

[2015-07-17 14:30] alxndrsn commented on #1070
What is the desired behaviour in-app?  E.g. it would be trivial to add SMS and Phone links to the contact page, but:
* do we want this in every place we display phone numbers?
* should phone/sms links be available on computer?  Both Skype and FaceTime can be used to some extent to call phone numbers on a desktop computer; not sure about SMS

[2015-07-17 14:33] alxndrsn commented on #1071
Yeah, that definitely seems to be the cause.  A good first step would be to update the demo data with valid phone numbers, but I can definitely see arguments against this!  Perhaps we should invent our own country (`+10...`, `+71...`)?

[2015-07-17 15:51] mandric opened #1074 "confirm smssync will accept basic auth password like 5942#7635xt"
We received report that # (hash symbol) fails to work as a sync url password in our custom build of smssync.  When we migrate to using the Ushahidi builds we should test to confirm this was fixed or file an upstream bug/fix.

[2015-07-17 18:55] abbyad commented on #1071
I think this was done on purpose. We do not want to automatically send messages to real numbers. If you want to test sending to a real number you can edit a contact's phone number.

[2015-07-17 19:02] abbyad commented on #1066
I suspect we want this as configurable as possible since we have to be able to handle multiple use cases. If it is considerably more effort though, we could pick out an MVP set of rules to focus on.

[2015-07-17 19:04] mandric commented on #1071
The demo shouldn't send any messages to any numbers, we can avoid that by marking every message as sent before its sent (maybe think of it as a fake gateway process).  We can accomplish that by enabling the resolve_pending transition, but that's currently only in beta/alpha... we should probably add it to release otherwise the demo appears a little broken?  Why would we put bad phone numbers in a

[2015-07-17 19:48] abbyad commented on #1071
Because we don't want to be spamming anyone. The demo data can be used by anyone internal or general public in our live demo.

Perhaps the best way to avoid spamming, yet also allow better testing/demoing, is to use +1-NNN-555-0100 through 0199 as the mock numbers. Those are reserved for fictional use, so we shouldn't be spamming anyone, and pass as valid phone numbers.

[2015-07-18 00:30] abbyad commented on #1070
That's perfectly suitable, thanks @alxndrsn.

For now we'll leave things as they are but be more conscientious of the SMS/call option as we redesign the content. For instance, on a profile page we would have to have separate buttons for sending a SMS of Calling, whereas until now any number was linked to the compose SMS modal.

[2015-07-18 20:44] mandric commented on #1056
I set something up for the time being on iriscouch since 1) I don't want to mess up alpha and 2) we're looking at beta and v3.  It's not entirely bug free but should hopefully provide enough info for this issue.

v3: http://mandric.iriscouch.com/medic/_design/kujua-lite/_rewrite/reporting
beta: http://mandric.iriscouch.com/medic/_design/medic/_rewrite/#/analytics/
u/p: demo/medic

[2015-07-19 23:16] garethbowen opened #1075 "Login form shows a basic auth prompt"
Using the new login page I get a basic authentication login even when the correct user/pass is used. Firstly we shouldn't see the basic auth prompt any more. Secondly we shouldn't have to type in the user/pass twice (obviously).

[2015-07-19 23:18] garethbowen commented on #1075
This only occurs when `require_valid_user` is true. This must be true for security reasons.

[2015-07-19 23:19] garethbowen commented on #1075
This looks like the issue: https://issues.apache.org/jira/browse/COUCHDB-1452

[2015-07-19 23:45] #1075 closed

[2015-07-20 00:54] garethbowen opened #1076 "Session expiry yields basic auth prompt"
If you let your session expire and then request the page you get a series of basic auth prompts when you should be redirected to the login page.

Protip: to test this, reduce the `couch_httpd_auth.timeout` property in your couchdb configuration to something like 60 (seconds).

[2015-07-20 03:11] #1076 closed

[2015-07-20 10:29] alxndrsn opened #1077 "[android] Login handling for bad URLs is confusing"
If you specify the URL of your couch instance correctly, but get the db name wrong (or omit it completely):

1. login form is shown, but field labels are not translated (e.g. `{{ translations.username }}` instead of `User name`
2. on submitting the login form, app redirects to a couchdb error:

        {"error":"not_found", "reason":"no_db_file"}

As there is obviously some way of detecting a vali

[2015-07-20 10:38] alxndrsn commented on #1077
[code]

It may be sufficient for the settings validation in android to GET the supplied URL, and check that:
1. it's provides valid JSON, and
2. it has a `db_name` field

As an extension, a more helpful error message can be provided or autocorrect can be performed, if the resulting JSON has the `couchdb` field.

[2015-07-20 10:41] alxndrsn opened #1078 "[api] should give 404 when `/login` requested"
# Observed
requesting `/login` from API will give the login page, without text i18n.

# Expected
should respond with 404

# Notes
The actual login URL is `/<dbName>/login`, usually `/medic/login`

[2015-07-20 10:44] alxndrsn commented on #1078
Appears to be because `.../login` URL is matched:

[code]

and pathPrefix is defined:

[code]

and db.settings are defined:

[code]

[2015-07-20 10:48] alxndrsn commented on #1078
Looks like a lot of stuff depends on `pathPrefix`, and therefore may not work if `db.settings.db === ''`

[2015-07-20 12:36] #1077 closed

[2015-07-20 12:37] alxndrsn opened #1079 "sign medic-collect builds"
https://github.com/medic/medic-collect/issues/24

Tasks:
* change travis build to upload debug builds to S3
* generate signing cert on jenkins box
* add jenkins job for building for release

[2015-07-20 12:37] alxndrsn opened #1080 "sign medic-android builds"
Tasks:
* change travis build to upload debug builds to S3
* generate signing cert on jenkins box
* add jenkins job for building for release

[2015-07-20 12:38] alxndrsn opened #1081 "create job to push medic-android builds to appstore"
Most suitable place to do this is one of
* dev machine
* jenkins

[2015-07-20 12:38] alxndrsn opened #1082 "create job to push medic-collect builds to appstore"
Most suitable place to do this is one of
* dev machine
* jenkins

[2015-07-20 12:39] alxndrsn commented on #1082
Most suitable place to do this is one of
* dev machine
* jenkins

[2015-07-20 12:45] alxndrsn commented on #1078
It's not clear to me what the best course of action would be here, e.g.:

1. throw an `Error` in `db.js` if the path suggests that no database name has been provided
2. in `server.js`, don't map `pathPrefix`ed URLs if `pathPrefix` is empty

etc.

[2015-07-20 12:57] alxndrsn commented on #1078
Or is this just because the `login` folder is being served in `server.js` via

         80 app.use(express.static('./public'));

?

[2015-07-20 13:07] #1078 closed

[2015-07-20 13:10] alxndrsn commented on #1079
Tasks:
* change travis build to upload debug builds to S3
* generate signing cert on jenkins box
* add jenkins job for building for release

[2015-07-20 18:21] #1080 closed

[2015-07-20 20:01] garethbowen opened #1083 "First run of the webapp throws many errors"
This is because the app tries to get forms, settings, translation language, etc but required docs haven't replicated yet.

[2015-07-20 20:03] garethbowen opened #1084 "Finish conversion to PouchDB"
Ensure all database calls that should be available offline go through PouchDB. This includes anything a CHW might see.

Go through all TODOs in the DB module and fix or create issues for them.

[2015-07-20 20:27] alxndrsn opened #1085 "Make Jenkins publicly accessible in a secure way"

[2015-07-20 20:30] garethbowen commented on #957
Reopened so @mandric can have a look.

[2015-07-20 22:07] browndav commented on #1081
From the iteration planning call: we should look in to the Google Play beta track.

[2015-07-20 22:09] garethbowen commented on #1081
Reference: https://support.google.com/googleplay/android-developer/answer/3131213?hl=en

[2015-07-21 02:40] abbyad commented on #1056
Thanks for setting that up @mandric. I'm working with @Lesterng and @yembrick on the new designs, and will post them here when ready to share.

[2015-07-21 12:42] #1079 closed

[2015-07-21 12:51] alxndrsn opened #1086 "Embed enketo-core in medic-webapp"
Include via `browserify`?

[2015-07-21 13:28] alxndrsn opened #1087 "Implement browser vs enketo XSL transform tests"
1. Wait for resolution of https://github.com/enketo/enketo-transformer/issues/4
2. Complete transform tests for `enketo-transformer` vs [`enketo-client-side-transformer`](https://github.com/alxndrsn/enketo-client-side-transformer).
3. Add more example forms from our archives

[2015-07-21 13:51] alxndrsn commented on #1081
@abbyad I think we'll need to upload a release APK manually before we can do it via API.  Any chance you can look at this?  There should be some available on S3, I can point you in the right direction.

[2015-07-21 19:29] abbyad commented on #1081
Just posted the release APK to "Alpha Testing"

[2015-07-22 01:43] garethbowen commented on #1083
To test this you have to completely delete your browsers IndexedDb. Do some Google to work out how to do this in your browser of choice.

[2015-07-22 01:43] #1083 closed

[2015-07-22 02:02] browndav commented on #1013
We've confirmed this to be an issue with thermal/power management on the Windows 8.1 host side. The CPU frequency scaling is inexplicably locked to 40% despite the power management settings being configured for high performance. There's some evidence that this is a Lenovo-specific driver or firmware issue.

We'll likely open additional issues to cover deployment logistics, antivirus exclusion, and

[2015-07-22 02:02] #1013 closed

[2015-07-22 02:37] abbyad commented on #1080
Works well, removing Acceptance Testing label

[2015-07-22 02:37] abbyad commented on #1079
Works well, removing Acceptance Testing label

[2015-07-22 02:39] abbyad commented on #1069
Weird coincidence!

Looks good, removing `Acceptance Testing` label

[2015-07-22 02:49] garethbowen commented on #1055
Reverted this change out again. I have no idea why the login page is doing this:

`::ffff:127.0.0.1 - ci_test [22/Jul/2015:02:39:41 +0000] "POST /medic HTTP/1.1" - - "-" "-"`

Enough time has been spent on this. Walking away.

[2015-07-22 03:01] browndav commented on #1055
Fair enough; we can probably revisit this issue once we've cleared out some of the big-feature issues/milestones.

[2015-07-22 03:29] garethbowen commented on #1055
At least it now works locally again.

[2015-07-22 05:36] #1081 closed

[2015-07-22 09:49] alxndrsn commented on #1082
Done.

Also made a slight change to `medic-collect` - now different app flavours have different `applicationId` values.  This means that the app store will treat them as different apps and so allow different brands to exist at the same time.  More info at https://sites.google.com/a/android.com/tools/tech-docs/new-build-system/applicationid-vs-packagename

[2015-07-22 10:15] alxndrsn opened #1088 "medic-collect and medic-android apps have the same name"
Both of these apps are calling themselves `Medic Mobile`.  For `medic-android` this is happening in the default flavour only; for `medic-collect` this happens in:
* intrahealthsenegal

[2015-07-22 10:24] alxndrsn opened #1089 "medic-collect applicationId"
Having different `applicationId` values for `medic-collect` flavours has problems detailed in https://github.com/medic/medic-collect/commit/2425a219c31dda6109debb245fbf2716282305b7:

need to be
updated. Otherwise activity calls like
`android:targetClass="org.odk.collect.android.preferences.PreferencesActivity"`
in admin_preference.xml cause a crash: `Unable to find explicit activity
class`

Having

[2015-07-22 10:38] alxndrsn commented on #1089
@abbyad I can't recreate the problem when a different `applicationId` is set

[2015-07-22 10:44] alxndrsn commented on #1088
Hi @abbyad, any suggestions for differentiating these?

[2015-07-22 16:12] abbyad commented on #1089
To recreate original `applicationId` issue:
- Set different `applicationId` for each flavor.
- Install and open app with new id
- Go to Settings > `Admin Settings`, then select the top option for `General Settings`.
- App will crash.

I will look into a workaround to avoid the crash.

[2015-07-22 16:27] alxndrsn commented on #1089
Stacktrace:
[code]

[2015-07-22 16:54] alxndrsn commented on #1089
Looks like an example of the bug at https://github.com/sigmabeta/dolphin/commit/0c993ad4a9f153531e544e4fab2fc9e0ea4311da#commitcomment-12302549

[2015-07-22 17:23] browndav opened #1090 "Support role-specific tab configurations; add empty/stub "resources" tab"
Part of the CHW Mobile Application design includes a "resources" tab, which would likely contain reference and/or training materials. These materials, at least initially, will be Javarosa forms rendered through Enketo.

In order to make space for this tab, we need to allow tab configurations to be adjusted via some kind of stored configuration. Specifically, we want to hide the messages, analytics

[2015-07-22 17:23] abbyad commented on #1089
Resolved with https://github.com/medic/medic-collect/commit/fd04f30

[2015-07-22 17:23] #1089 closed

[2015-07-22 17:26] browndav commented on #1086
Quick update: initially, I think we'd like to put Enketo in the right pane of the reports tab, where we currently display an uneditable version of the form submission data. We might consider making this stateful, i.e. being locked for editing by default, and requiring an explicit click of an edit button to start making changes. From there, we can make more wide-reaching decisions about modals and/

[2015-07-22 17:28] abbyad commented on #1089
I ended up using the (lesser voted on) approach [here](http://stackoverflow.com/a/20684784) for its simplicity.

[2015-07-22 17:31] browndav opened #1091 "Allow Javarosa forms to be used without an equivalent JSON form"
Currently, we have two parallel form engines that operate through two different APIs. This is not optimal. We'd like to refactor our forms API to be modular with respect to forms engines. In the ideal outcome, a developer would be able to add support for a third forms engine, by defining methods along the lines of `render(form, data, target)`, `validate_form(form)`, `validate_submission(form, data

[2015-07-22 17:32] browndav commented on #1084
Notes from the milestone review call: we agreed that the analytics and configuration tabs weren't important to convert at the moment.

[2015-07-22 17:34] ghost opened #1092 "Extend demonstration dataset: provide demo data for the rule-based Tasks system"
To give an effective demo of the rule-based tasks tab, we'll need a pile of sample data that triggers an approximately-realistic set of tasks. Extend the demo dataset so that a reasonable set of tasks appear on first run. We can hash out the definition of "reasonable" on Slack or in the comments below.

[2015-07-22 17:37] browndav opened #1093 "Extend demonstration dataset: provide demo data for Reporting Rates"
To give an effective demo of the reporting rates feature, we'll need a pile of sample data that produces a fully-populated dashboard. Extend the demo dataset so that the reporting rates tab is populated reasonably on first run. We can hash out the definition of "reasonably" on Slack or in the comments below.

Important: This is the non-critical one, as we likely won't be demoing/using it for the f

[2015-07-22 18:14] alxndrsn commented on #1089
Looks nice - maybe you should give them an upvote ;-)

[2015-07-22 20:28] sglangevin commented on #952
Looks good - moving to ready.

[2015-07-22 20:35] sglangevin commented on #1017
We've updated app-settings but Hindi doesn't show up as a language option in language preference or under config in the latest DIY build. Is there something else we need to do for that to happen?

[2015-07-22 20:38] sglangevin commented on #1015
Working well, moving to ready.

[2015-07-22 20:49] sglangevin commented on #934
Output looks good to me, moving to ready.

[2015-07-22 20:57] sglangevin commented on #900
Looking good!

[2015-07-22 21:15] sglangevin commented on #940
So now the contact deleted successfully from the left pane but the deleted person is still listed as the contact for the place. When I click edit place, the primary contact field is blank and if I select the blank option and submit, the deleted person still shows up under the place's contact field in the UI. I tried refreshing the screen and no luck.

Editing the contact, selecting another person

[2015-07-22 21:16] abbyad commented on #1056
Just spoke to @Lesterng and @yembrick, and Lester is looking to have a lightweight UI pass done within about two weeks.

In the meantime, we discussed moving the Form Name and Time Period to the top bar like the filters on the other tabs. This should help simplify the interface, but means that the filters would need to update based on the contents of the previous filter. For instance Form A may be

[2015-07-22 21:19] sglangevin commented on #941
Seems to be working now - I saw a very slight delay as reports were loading and the first step of the tour had already popped up, but I think by the time you read the first few steps, reports will have loaded and no one will get stuck.

[2015-07-22 21:49] sglangevin commented on #1092
Can we include some R forms in the extended demo dataset? They would be really helpful for Analytics testing purposes as I need some pregnancies registered with no LMP to appear in either missed or upcoming appointments to see if the weeks pregnant is accurate and to ensure we are indicating that weeks pregnant is approximate.

[2015-07-22 22:43] sglangevin commented on #950
I can't easily test this for no LMP because we don't have any of those in our sample data set. Looks good for LMP. I've added a comment to #1092 to request that R forms be included in the sample dataset.

[2015-07-22 22:57] sglangevin commented on #950
Strike that - @garethbowen gave me a good testing pointer. Either way it will help to have some R forms in sample data for the future.

[2015-07-22 23:15] garethbowen opened #1094 "Reconcile generic-anc default app settings"
In the [default generic anc configuration](https://github.com/medic/medic-data/tree/master/data/generic-anc) we have directories for `demos` and `diy`. Currently demo is a DIY install with a bunch of demo data included (`facilities.json` and `messages.json`) so we can show off the app features. We also have configuration in each (`forms.json` and `app-settings.json`) which should be the same for e

[2015-07-23 07:48] alxndrsn opened #1095 "Add lg-ug forms to enketor-offline-transformer tests"
Add the forms from lg-ug.  N.B. make sure forms are sanitised before putting them in public repo.

[2015-07-23 08:24] alxndrsn opened #1096 "[api] Trailing slash on `COUCH_URL` causes missing login screen"
# Recreate

1. Specify COUCH_URL env var for `api` with a trailing slash, e.g.:

        COUCH_URL=http://admin:pass@localhost:5984/medic/

2. browse to `http://localhost:5988/medic/login`
3. observe the error:

        {"error":"not_found","reason":"missing"}

# Expected behaviour

Adding an extra slash to the `COUCH_URL` is an easy mistake to make.  It would be great if `api` could cope with thi

[2015-07-23 08:29] #1096 closed

[2015-07-23 09:42] alxndrsn opened #1097 "[collect] project-forms should be imported at build time for releases"
TASKS
* check out project forms as part of release build process
* include reference to the version of project-forms that are being used somehow in the APK

[2015-07-23 11:06] abbyad commented on #1097
I don't think the apk needs the version of the forms, instead we could put a tag in medic-projects. Something like `medic-collect-build1095`.

[2015-07-23 11:16] alxndrsn opened #1098 "make login redirect URL relative to current host"
# Observed
Login page can be made to redirect to random URLs:

* <a href="http://localhost:5988/medic/login?redirect=http%3A%2F%2Fexample.com%2Fevil">an example of a redirect to an unexpected place</a>

And also allows javascript injection:

* <a href="http://localhost:5988/medic/login/?redirect=%22%3E%3Cscript%3Ealert%28%27hello%27%29%3C/script%3E">an example of JS injection</a>

# Suggested fix

[2015-07-23 11:17] abbyad commented on #1082
Thanks @alxndrsn, it worked well when I tested the manual push via Jenkins. It's probably worth putting a small note in medic-docs on how do to do this.

The last bit is building with the project files for project flavors (#1097). Will remove Acceptance Testing once that closes.

[2015-07-23 12:04] alxndrsn commented on #1086
Available at: https://github.com/alxndrsn/medic-webapp/tree/1086_embed-enketo-core-with-browserify

# Issues:
* currently embedded in non-modal dialog as per Muvuku
* using [`almondjs`](https://github.com/jrburke/almond) so requirejs structure can be maintained
* code is copy/pasted into `static/enketo`, rather than included through e.g. `bower`
* still including an extra jQuery
* need to hash XSL

[2015-07-23 12:04] #1086 closed

[2015-07-23 13:22] alxndrsn commented on #1097
Should be updated now.

[2015-07-23 13:22] #1097 closed

[2015-07-23 13:25] alxndrsn opened #1099 "`medic-collect` build should tag related `medic-projects`"
* allow specifying `MEDIC_PROJECTS_BRANCH` to build from; default to `master`
* tag `medic-projects` with `collect`'s version number
* push tag to remote _before pushing to s3_

Follow-up to #1097

[2015-07-23 15:08] alxndrsn commented on #1098
More fun stuff:
```http://localhost:5988/medic/login/?redirect=%22%3E%3Cscript%3Ealert%28%27hello%27%29%3C/script%3E```

[2015-07-23 15:52] alxndrsn commented on #1098
Step 1 is probably to use `escape` instead of `interpolate` in the underscore templates.  Although then, to unescape it would be simplest to have access to `_.unescape()`.

[2015-07-23 16:02] mandric opened #1100 "no recipient information in alerts/replies"
For example you can setup alerts to go to more than one recipient, this information is not available in the UI.

![screen shot 2015-07-23 at 10 56 53 am](https://cloud.githubusercontent.com/assets/25641/8855317/2f29a75e-312a-11e5-843c-1f219dff434e.png)

[2015-07-23 16:26] browndav commented on #1098
I'd probably prefer using avoiding the URL altogether and just using keywords that we map to URLs internally. More here: https://www.owasp.org/index.php/Unvalidated_Redirects_and_Forwards_Cheat_Sheet

[2015-07-23 16:36] browndav commented on #1098
I guess if we have an open-ended number of return destinations the whole "just use a URL whitelist" comment above doesn't really work. But we should definitely enforce relative-URLs-only at a minimum.

[2015-07-23 16:37] alxndrsn commented on #1098
http://localhost:5988/medic/login/?redirect=%22%3E%3Cscript%3EsetTimeout%28function%28%29{var%20login%20=%20document.getElementById%28%27login%27%29;%20login.removeEventListener%28%27click%27,submit%29;%20var%20newSubmit%20=%20function%28%29{if%28document.getElementById%28%27form%27%29.className%20===%20%27loading%27%29{return;}setState%28%27loading%27%29;%20var%20user%20=%20document.getElementByI

[2015-07-23 16:37] alxndrsn commented on #1098
:)

[2015-07-23 17:17] alxndrsn commented on #1098
PRs submitted:
https://github.com/medic/medic-api/pull/24
https://github.com/medic/medic-api/pull/25

[2015-07-23 17:45] browndav commented on #957
@mandric: Could you do a quick okay/not-okay check here with sentinel? If everything's okay, we can move this to `Ready`; if not, we can either mark this as `Returned` and add problem details or file separate more-specific issues.

[2015-07-23 18:10] mandric commented on #957
not-okay.  just did a quick look at the transitions and tests in the develop branch and can see fields being used that are not in the fields property.  e.g. `transitions/update_scheduled_reports.js:_getDuplicates`.

[2015-07-23 18:44] mandric commented on #957
Also worth noting, fixes for his should be merged into beta (testing) and alpha (develop).

[2015-07-23 22:16] garethbowen commented on #1098
PRs reviewed - reassigning back to @alxndrsn

[2015-07-23 22:17] browndav commented on #1098
Thanks, good catch on the other absolute paths.

[2015-07-23 22:26] browndav commented on #1098
Remaining to-dos are over here: https://github.com/medic/medic-api/pull/25#issuecomment-124252817

[2015-07-24 07:17] ngamita commented on #1097
Thx can now view the forms. I'll share separate issue with crashes when i
click on send finalized form.

On Thu, Jul 23, 2015 at 4:22 PM, Alex Anderson <notifications@github.com>
wrote:

[2015-07-24 08:45] alxndrsn commented on #1089
LGTM

[2015-07-24 09:40] alxndrsn commented on #1098
Updated.

[2015-07-24 09:41] alxndrsn commented on #1087
Unblocked by https://github.com/alxndrsn/enketo-client-side-transformer/issues/5

[2015-07-24 12:40] alxndrsn commented on #1095
Done @ https://github.com/alxndrsn/enketo-client-side-transformer/commit/7cd8ebd91caa0255169d7d21097a9baa0d5796d7

[2015-07-24 12:41] #1095 closed

[2015-07-24 21:27] abbyad commented on #1088
According to our branding scheme that is OK... but since both will live in Google Play Store simultaneously we discussed last week about differentiating them as "Collect" for medic-collect and "Medic Mobile" for medic-android - at least for now while they are in pre-release.

Also, for medic-collect they currently are all "Medic Mobile" *except* for intrahealthsenegal, which is "SEDA". @alxndrsn a

[2015-07-24 21:30] abbyad commented on #1097
@ngamita I was not able to reproduce the crash that you mentioned. Feel free to create a new issue in [medic-collect](https://github.com/medic/medic-collect/issues) and please post more details.

[2015-07-24 22:49] browndav commented on #1087
I fixed the OS X compilation issue and upstreamed the patch: https://github.com/gagern/libxmljs/pull/1. If that works for you on 10.10, can we close this as no-longer-necessary?

[2015-07-25 05:16] alxndrsn commented on #1088
@abbyad wasn't seeing _SEDA_ until I added the extra branding folder

[2015-07-25 05:19] alxndrsn commented on #1087
Nice one.

[2015-07-25 15:38] alxndrsn commented on #1087
Done at https://travis-ci.org/alxndrsn/enketo-client-side-transformer

[2015-07-25 15:38] #1087 closed

[2015-07-27 12:04] #1099 closed

[2015-07-27 12:52] alxndrsn commented on #1083
LGTM

[2015-07-27 13:17] alxndrsn commented on #1088
Done in https://github.com/medic/medic-collect/commit/f7502e03065460be2613814cd878f87f766c2871 and https://github.com/medic/medic-projects/commit/97d1d3f67249ef6919263760e14f9e6f3dc97f90

Available to download (debug) from version `1.4.5.1101`

[2015-07-27 13:17] #1088 closed

[2015-07-27 20:59] browndav commented on #1091
Hey @alxndrsn, wondering if you'd be up for taking a look at this one. @mandric put together the current ODK-specific APIs, and can probably help out with questions if we have any.

[2015-07-28 13:44] alxndrsn opened #1101 "Not found page gives 200 response code"
# Observed

## When:

```$ curl -vvv http://localhost:5988/medic/_design/medic/_rewrite/edd```

## Response

[code]

# Expected

Response code should be `404`

[2015-07-28 15:46] alxndrsn opened #1102 "Can kill API process with a badly-formed request"
# Observed

## CLI

[code]
17:44:15 api.1    | ::1 - admin [28/Jul/2015:15:44:15 +0000] "POST /api/v1/records HTTP/1.1" - - "-" "curl/7.37.1"
17:44:15 couch.1  | [info] [<0.284.0>] 127.0.0.1 - - GET /_session 200
17:44:15 api.1    | Server error:
17:44:15 api.1    | undefined
17:44:15 api.1    |   detail: "Content type not supported."
17:44:15 api.1    | UNCAUGHT EXCEPTION!
17:44:15 api.1    | { [

[2015-07-28 15:51] alxndrsn commented on #1102
Likely related: when sending a POST with content-type `application/json` and valid JSON content:

[code]

[2015-07-28 17:31] browndav commented on #1091
From this morning's call: currently, deploying an ODK/Javarosa form requires that (i) a workalike JSON form be created that exactly matches the structure of the ODK/Javarosa form; and (ii) that the ODK form be uploaded manually using `curl` or similar.

First and foremost, we'd like to break assumption (i) as part of this issue: we should be able to upload an ODK form (through some method, possibl

[2015-07-28 18:01] browndav commented on #1030
Update: on Monday, we agreed it'd be a good idea to add facility selection back in, possibly borrowing/reusing the facility selection dropdown from the `Reports` tab. Mixed in with this issue is some general learning/getting-up-to-speed with Angular.

@mandric: Just for planning purposes, can you give a quick update / remaining effort estimate?

[2015-07-28 20:53] garethbowen commented on #1084
I propose we split the user document into two with a new one stored in the medic database which contains all the information that's safe for replication. This would allow offline access and modification to the users language, the first run flag, contact information, etc.

To accomplish this...
- add an api migration task to split users
- modify the users admin controller to modify both objects in

[2015-07-28 20:59] browndav commented on #1084
I think this sounds sensible. Just to be clear, we're still planning to only replicate the currently-logged-in user's settings document (as opposed to all of them for all users), right?

[2015-07-28 21:00] garethbowen commented on #1084
Yeah it'd be part of the replication filtering that you only replicate your own settings.

[2015-07-28 21:01] browndav commented on #1084
+1 here, I'll spin off an issue for concierge / medic-os.

[2015-07-28 21:03] browndav opened #1103 "Concierge: Store user settings in new per-user settings document"
Following on the refactor in https://github.com/medic/medic-webapp/issues/1084, we'll need to update concierge to produce a user settings document in addition to the normal user document; fields such as e-mail address, language, and contact phone number will be moved there.

[2015-07-28 21:16] garethbowen commented on #1102
Results after patch:

### First bug

`curl -X POST http://gareth:pass@localhost:5988/api/v1/records`
[code]

### Second bug

`curl -X POST -H "Content-Type:application/json" --data '{"_meta":{"form":"V","reported_date":1438098551510},"fields":{"pregnancy_id":"11111"},"pregnancy_id":"11111"}' http://gareth:pass@localhost:5988/api/v1/records`
[code]

[2015-07-28 21:17] #1102 closed

[2015-07-29 00:41] abbyad commented on #1030
We already have tentative design discussed already in #1056, just calling out that we should have this feed back into the design process that will yield some mockups for the update.

@mandric, can you check in with @Lesterng about this?

[2015-07-29 05:38] mandric opened #1104 "exporting data by date should be inclusive"
Reported via @pkaini  https://github.com/medic/medic-projects/issues/27
Eg: for dates selected July 11 to July 23, only exports data from July 12-July 22.

[2015-07-29 19:39] browndav commented on #1091
Update from this morning: this issue is intended to clear the way for in-app creation/modification of reports using Enketo. We need to be able to store reports ("records") as XML for Enketo to understand them, which in turn means that programmatic accesses to these reports (e.g. examining the patient_id field) can no longer directly access properties, and need to be refactored to use a form-type-a

[2015-07-31 08:23] alxndrsn commented on #1091
Form submission and display in the `Records` tab is working on https://github.com/alxndrsn/medic-webapp/tree/1091-rewrite-forms-storage.  This is branched from https://github.com/alxndrsn/medic-webapp/tree/1086_embed-enketo-core-with-browserify, and is not a huge change.

I will look further into:
* editing forms with enketo
* the `Analytics` tab, and how it's relevant to this work

For now though

[2015-07-31 08:23] #1091 closed

[2015-07-31 08:28] alxndrsn opened #1107 "Edit records with Enketo"
Form responses previously submitted as xforms XML should be editable in the `Reports` tab with enketo.
[code]

[2015-07-31 19:01] browndav opened #1108 "Chrome/Chromium: Infinite redirect after login"
On Chrome and Chromium (but not Firefox), I'm finally able to reproduce the infinite-redirect-after-login that Alex reported a few weeks ago.

Steps to reproduce: check out the `develop` branch of medic-webapp, push the app to an empty database using `grunt dev`, start `medic-api`, and visit `http://localhost:5988/medic/_design/medic/_rewrite` to log in. After a successful login, you'll see repeat

[2015-07-31 19:02] browndav opened #1109 "Empty contacts shown when a filter is active"
![empty-contacts-20150731_1024](https://cloud.githubusercontent.com/assets/763977/9015162/e40ef8fc-377b-11e5-9c20-51bcd1551245.png)

I get the above after a push with `grunt dev` to an empty database. @mandric confirmed that the issue also occurs when contact records are present.

[2015-07-31 19:04] browndav opened #1110 "Empty labels shown in 'Places' drop-down box, on Contacts tab"
![screen_shot_2015-07-31_at_12 53 17_pm](https://cloud.githubusercontent.com/assets/763977/9015201/2e83f0cc-377c-11e5-98cf-e7a23293c147.png)

Reported by @mandric. Labels in the 'Places' dropdown appear to be empty following a successful replication operation.

[2015-07-31 19:18] browndav opened #1111 "Firefox, Webkit: Verify/Unverify button not working properly"
On a recent Webkit nightly, the 'Verify' and 'Unverify' operations throw an error and fail to update the record. On the latest version of Firefox, an error is thrown and the operation appears to be unsuccessful, but a full page reload reveals the requested modification.

Webkit:
![1](https://cloud.githubusercontent.com/assets/763977/9015457/f85cb130-377d-11e5-98fc-139c5cb54841.jpg)

Firefox:
![2](

[2015-07-31 19:19] browndav opened #1112 "Chrome: Reports tab fails to load"
![x](https://cloud.githubusercontent.com/assets/763977/9015514/4b86ca8a-377e-11e5-99af-9825669c6987.jpg)

This might be related to #1108 and/or #1111, in that the currently-logged-in user name appears to have been lost. I can't (yet) reproduce this on Firefox or Webkit.

[2015-07-31 19:20] browndav commented on #1112
For the record, this is after (a) verifying that the login page appears; (b) verifying that an invalid password is correctly rejected; and (c) completing a successful login.

[2015-08-02 11:29] abbyad commented on #1049
The build process works well overall but a couple of outstanding issues:
- The build does not create the complete EXE, but rather the MSI of the Medic components only.
- The URL for the ISO is hard linked to a versioned file name. We should have a symlink to the latest ISO.

[2015-08-03 08:01] alxndrsn commented on #1049
Have updated so:
* NSIS installer `.exe` is uploaded instead of `.msi`
* `medic-os` version is chosen at build time

[2015-08-03 11:33] abbyad commented on #1049
Makes sense to choose the medic-os version at run time.

As for the exe, as mentioned in the [repo's issue](https://github.com/medic/medic-msi/issues/3), the NSIS method is the old way that the installer was built. The EXE should be created with the light.exe from within [makeMSI.bat](https://github.com/medic/medic-msi/blob/12148c7202b3fe9999cd5a5931e3d376ecc87d6d/makeMSI.bat#L34)

Reopening as we

[2015-08-03 11:54] #1049 closed

[2015-08-03 12:00] garethbowen commented on #1084
PRs ready for review:
- https://github.com/medic/medic-webapp/pull/1113
- https://github.com/medic/medic-api/pull/26

[2015-08-03 13:34] abbyad commented on #1049
Works better now with the (proper) EXE being pushed to S3. The final issue that I see is that the build number isn't being auto incremented, which would happen if this was built locally. I think we could safely use the build revision for this - ideally bumping the rev past the last publicly used rev (52)

We could also parameterize the build version (eg `0.2`) and type (eg `alpha`), but we can als

[2015-08-03 17:37] alxndrsn opened #1114 "Remove formhub CSS from enketo-in-medic"
Currently formhub CSS is turning all the buttons orange.  The useful bits of enketo CSS should be kept, the rest discarded.

[2015-08-03 17:38] alxndrsn commented on #1107
Separated https://github.com/medic/medic-webapp/issues/1114 as a different task.

[2015-08-03 17:38] alxndrsn commented on #1107
See it now at https://github.com/alxndrsn/medic-webapp/tree/1107_edit-records-with-enketo--rebased!

[2015-08-03 17:38] #1107 closed

[2015-08-03 18:41] browndav opened #1115 "Medic OS: Broken nginx redirect if using non-TLS HTTP/1.0"
If the `Host:` header is missing, we're issuing a bogus redirect.

[code]

[2015-08-03 18:47] mandric commented on #1115
Right now it's expecting a Host header.  This can be fixed pretty easily in nginx.conf by defining the host name in the web server config if we want to support http 1.0.

[2015-08-03 21:07] alxndrsn opened #1116 "Eliminate timeouts in xform code"
Tasks
[code]

[2015-08-03 21:15] alxndrsn commented on #1116
Cleanup for #1107

[2015-08-03 21:17] alxndrsn opened #1117 "Remove duplciated bootstrap CSS from enketo"
Similar to #1114

[2015-08-03 21:19] alxndrsn opened #1118 "Refactor enketo JS"
Currently there is duplicated javascript between the enketo editor and data input page.  This javascript should be collected in one place, and cleaned up.
[code]

[2015-08-03 21:20] alxndrsn commented on #1118
More cleanup for #1107

[2015-08-03 22:10] garethbowen opened #1119 "Bump dependencies"
Check npm, kanso, and bower dependencies in webapp, api, and sentinel and make sure they're still required and on the most recent release.

[2015-08-03 22:13] abbyad commented on #1060
Ideally we could use `appearance="hidden"` to hide a field, which does not (yet) seem to be supported by any renderer.

eg `<input appearance="hidden" ref="/data/patient_id">`

[2015-08-03 22:58] browndav opened #1120 "Enketo meta-issue: CSS and presentation fixes"
From today's call: the Enketo/Formhub CSS is overly-broad, which is turning buttons orange and having other undesired effects on portions of the UI.

This metaissue overlaps with https://github.com/medic/medic-webapp/issues/1117 and https://github.com/medic/medic-webapp/issues/1114, but may include other fixes.

For acceptance testing, we'd be looking to verify that the application outside of the

[2015-08-03 23:01] #1101 closed

[2015-08-03 23:06] browndav opened #1121 "Enketo: Code cleanup, cached conversion to JSON"
As a first step toward an internal forms API, we need to create a (form-type-specific, cached) JSON version of Enketo's XML-formatted report (read: "form submission"). We need this because: (1) we agreed that removing all bare references to `doc.fields` and replacing them with accessors was too big of a task to take on all at once; (2) in the final API, a field accessor shouldn't have to parse the

[2015-08-03 23:08] browndav commented on #1030
From today's call: we agreed that we'd take the non-routed easy approach to form selection to try to get this shippable by end of day Tuesday (7/3).

[2015-08-03 23:10] browndav opened #1122 "Concierge: Split user documents"
Following from #1113, `concierge` needs to be updated to create split user documents instead of monolithic user documents. This isn't necessarily a blocker for hosted mobile application testing, but will cause DIY to break if #1113 is merged before this issue is fixed.

[2015-08-03 23:18] browndav commented on #1103
Duplicate; closing.

[2015-08-03 23:18] #1103 closed

[2015-08-03 23:25] browndav opened #1123 "API: Path to login assets is sensitive to current working directory"
The login page is breaking in production due to `medic-api` being sensitive to the value of `process.cwd()`. If the current working directory is not equal to the enclosing directory for `server.js`, things break:

[code]

We're seeing this on Medic OS too, because `gardener` sets the current working directory to `working_dir/$UUID`, which is two levels above `server.js`.

I was able to hack it int

[2015-08-03 23:26] #1110 closed

[2015-08-03 23:28] garethbowen commented on #1109
This also affects reports in a similar way. As soon as a filter is applied the list is rendered incorrectly.

[2015-08-04 00:00] #1109 closed

[2015-08-04 13:22] alxndrsn commented on #1116
Didn't seem to be an issue in the form creator.  Removing it from the editor seemed to work fine.

[2015-08-04 13:22] #1116 closed

[2015-08-04 13:23] alxndrsn opened #1124 "Enketo `new` form cleanup"
Tasks:
[code]

This is probably a subtask of #1120

[2015-08-04 13:49] alxndrsn opened #1125 "Add missing openrosa-xpath support"
This is required by the **New Pregnancy** form.

-----
# Tasks
[code]

[2015-08-04 14:32] alxndrsn commented on #1114
Done on https://github.com/alxndrsn/medic-webapp/tree/1107-rebased

[2015-08-04 14:32] alxndrsn commented on #1116
Done on https://github.com/alxndrsn/medic-webapp/tree/1107-rebased

[2015-08-04 15:13] alxndrsn commented on #1114
Formhub CSS actually provides a lot of useful stuff.  It's 14kb (unminified) on top of the other enketo.css stuff (100kb).  I have kept it, but changed the colour from orange to blue, as per our other styles.

[2015-08-04 15:13] #1114 closed

[2015-08-04 15:14] alxndrsn commented on #1117
Bootstrap CSS does not appear to be bundled with Enketo CSS.

[2015-08-04 15:14] #1117 closed

[2015-08-04 20:40] abbyad commented on #1097
@ngamita the crash you described is described and fixed [here](https://github.com/medic/medic-collect/issues/1)

[2015-08-04 20:52] abbyad commented on #1097
Looks good, thanks @alxndrsn.

[2015-08-04 20:57] abbyad commented on #1082
Retested and the push to the app store did not work automatically. There are no errors in the Jenkins build and the output shows that the APKs were pushed to S3, but no mention of app store.

@alxndrsn was something related to this changed since I tested this two weeks ago?

[2015-08-04 21:00] abbyad commented on #1082
Nevermind.... there is a separate Jenkins project (`medic-collect-publish`) for pushing the apk to the app store.

[2015-08-04 21:00] #1082 closed

[2015-08-04 21:29] abbyad commented on #1082
Publishing the updated apps works well. The process is documented [here](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md)

Removing from acceptance testing.

[2015-08-04 21:50] mandric commented on #1030
[code]

[2015-08-05 01:19] garethbowen commented on #1112
I think the `null` userCtx is the key here. Because the userCtx is stored in the HTML it is cached in the appcache. If this happens, you will have a `null` userCtx until you refresh the appcache, ie: when the app itself is updated.

To stop this happening I've removed the userCtx from the HTML and added a cookie instead which is set by API and then checked in the webapp.

I wasn't able to replicat

[2015-08-05 01:19] #1112 closed

[2015-08-05 01:20] garethbowen commented on #1111
I agree this is probably caused by the null userCtx as in #1112. Closing this as #1112 is closed.

[2015-08-05 01:20] #1111 closed

[2015-08-05 01:23] garethbowen commented on #1108
The session management has been reworked to solve #1112 which I think also solves this, however I've never managed to replicate this issue. So I'll close this but reopen it if you come across it again.

[2015-08-05 04:24] garethbowen commented on #1119
https://github.com/dangrossman/bootstrap-daterangepicker has bumped a major version - investigate if we still need the monkey patching!

[2015-08-05 13:00] abbyad opened #1126 "Contact info for sample reports/messages not immediately rendered"
The sample messages and reports in DIY initially show up as from `[object Object]`:

![screen shot 2015-08-05 at 08 47 48](https://cloud.githubusercontent.com/assets/789512/9086109/3f12c24c-3b50-11e5-8ba3-a632310b2b5c.png)

After several minutes, and after reloading, the contact is properly rendered:

![screen shot 2015-08-05 at 08 56 20](https://cloud.githubusercontent.com/assets/789512/9086119/5

[2015-08-05 13:46] abbyad commented on #1099
Works really well to see all the branding files for our collect releases.

Removing `Acceptance Testing`.

[2015-08-05 14:17] abbyad commented on #1081
Works well, process documented [here](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md)

[2015-08-05 17:21] abbyad commented on #1088
Thanks for the edits @alxndrsn. I cleared up the branding with https://github.com/medic/medic-collect/commit/49465710c16f305f0c81676b2155255074246e04

Removing `Acceptance Testing`

[2015-08-05 17:32] abbyad commented on #1049
Removing `Acceptance Testing` as this works well. Possible improvements will be posted in a separate issue since it can be tackle later.

[2015-08-05 17:32] abbyad opened #1127 "Improve DIY installer build process"
With the DIY installer build now automated (#1049), here is a small laundry list of improvements:
- ~~Auto increment the build number, starting at 52, the last known version.~~ -> #1142
- ~~Parameterize the desired build version (eg 0.2) and type (eg alpha) in the Jenkins build. Right now this is done using files in github, meaning that updating the build details requires updating and committing t

[2015-08-05 21:19] garethbowen opened #1128 "On branded versions of the android app load the login page immediately"
Now that the username and password aren't needed in the android app the branded apps which have a hardcoded URL show an empty form with a Save button on first load. In this case we should bypass the form and immediately load the hardcoded URL.

[2015-08-05 22:11] garethbowen commented on #1119
bootstrap-daterangepicker v2 needs more polish before we should consider switching.

[2015-08-06 02:47] #1119 closed

[2015-08-06 17:16] alxndrsn commented on #1120
Need to make checkboxes and radios nice again like formhub gave us.

[2015-08-06 18:20] alxndrsn opened #1129 "[android] Settings screen should not be accessible in branded apps"
There are currently no settings for the branded app.

Do not allow access to the menu containing settings if the app is branded.

[2015-08-06 18:29] #1128 closed

[2015-08-06 18:29] #1129 closed

[2015-08-06 20:52] #1124 closed

[2015-08-06 20:52] #1125 closed

[2015-08-06 21:29] abbyad opened #1130 "Use Release build of vmware-helper in medic-msi"
In order to avoid missing VC files with the [Debug vmware-helper](https://github.com/medic/medic-msi/issues/4), build `vmware-helper` with `Release` configuration on Jenkins, and include this in the `medic-msi` bundle.

[2015-08-07 10:39] alxndrsn commented on #1130
Done on https://github.com/medic/windows-ci/commit/87e82f69ec81f79c3f1e96b8269d279efbda4462

[2015-08-07 10:40] #1130 closed

[2015-08-07 11:25] abbyad commented on #1130
Looks good, thanks @alxndrsn.

[2015-08-07 13:56] abbyad opened #1131 "Unclear documentation for "Confirm Muting Notification""
Based on the title and help text is unclear what this check box does:

![image](https://cloud.githubusercontent.com/assets/789512/9137094/6c59ddb8-3ce9-11e5-9046-8d6cf57a9fa6.png)

Would it be clearer if the help text said `If checked, only an admin can disable notifications. Leave unchecked to allow users to send a SMS report to disable notifications.` - @mandric, does that represent this toggle'

[2015-08-09 20:39] garethbowen commented on #1123
I should have (and now do) use the `__dirname` variable to make the public files path relative to the `server.js` rather than the `cwd`.

[2015-08-09 20:39] #1123 closed

[2015-08-09 23:42] garethbowen commented on #1090
The configurable permissions should be used throughout the webapp and api, and the default settings should be updated in medic-data.

[2015-08-10 01:02] #1120 closed

[2015-08-10 10:22] garethbowen opened #1134 "enketo.css leaking all over the app"
The css isn't namespaced at all so styles like `.note {...` apply to our DOM as well.

Solutions...

1. Namespace the css so it only applies to specific wrappers. Then we need to overwrite certain styles (like font) so it matches our stylesheet.
2. Don't include the css and write our own which performs the functional parts (eg: show/hide)
3. Patch enketo to separate the form from the function so w

[2015-08-10 10:33] alxndrsn opened #1135 "Include Enketo CSS via inbox.less"

[2015-08-10 10:49] alxndrsn opened #1136 "Remove `requirejs` dependency from enketo"
See also https://github.com/enketo/enketo-core/issues/286

-----
## TODO
[code]

[2015-08-10 10:50] alxndrsn commented on #1118
Removed:

Filed separately at https://github.com/medic/medic-webapp/issues/1136

[2015-08-10 11:11] alxndrsn commented on #1135
Duplicate of #1134

[2015-08-10 11:11] #1135 closed

[2015-08-10 11:12] alxndrsn commented on #1134
This should work in the less:
[code]

[2015-08-10 15:27] alxndrsn commented on #1134
Took option 1 - namespaced all enketo CSS under class `.enketo`

[2015-08-10 17:31] abbyad commented on #998
@mandric was this included in 4.8?

[2015-08-10 23:00] mandric commented on #998
Yep should be.  It's in the changes log and commits are tagged.

[2015-08-11 00:53] #1084 closed

[2015-08-11 01:37] garethbowen commented on #1134
The fix hasn't worked - the generated css looks like...

[code]

The first line of `core.css` is being included _after_ the `.enketo` wrapper, so styles are still leaking into the app.

[2015-08-11 11:20] #1090 closed

[2015-08-11 12:36] abbyad commented on #1030
@mandric, can you please point me to an instance with data for acceptance testing.

[2015-08-11 16:56] mandric commented on #1030
http://52.25.132.140/medic/_design/medic/_rewrite/#/analytics/

[2015-08-11 17:06] alxndrsn opened #1137 "Review enketo-offline and see if it can be contributed to enketo-core"
consider submitting enketo changes upstream to choose xpath evaluator - it may be suitable to make xpath evaluator setup configurable e.g. via enketo plugin

[2015-08-11 17:06] alxndrsn commented on #1118
https://github.com/medic/medic-webapp/issues/1137 has been spun off

[2015-08-11 17:07] alxndrsn opened #1138 "update `enketo-offline` to latest `enketo-core`"
Enketo offline is a couple of minor revisions behind enketo-core.  It would be nice if it was up-to-date.  This may also relate to work in #1137.

[2015-08-11 17:07] alxndrsn commented on #1118
https://github.com/medic/medic-webapp/issues/1138 has been spun off

[2015-08-11 17:27] alxndrsn opened #1139 "enketo date-picker is missing its styles"
* date picker needs class `enketo` applied to inherit the styles correctly
* when this fix has been made, date-picker `z-index` can be a substyle of `.enketo`

[2015-08-11 17:30] #1118 closed

[2015-08-11 20:11] abbyad commented on #1030
Thanks @mandric, this looks great!

I am digging through for acceptance testing and will post issues here as I go.

On first pass, I see the text in French, regardless of my locale and see this in the console:
![image](https://cloud.githubusercontent.com/assets/789512/9209213/53a27250-4043-11e5-8a2f-f003ed4a903f.png)

Also, clicking on a form expands to a "Loading..." but get this error in the con

[2015-08-11 20:39] mandric commented on #1030
Marc, that locale issue might be be because of the IH Senegal settings I'm using to demo/test are a little weird.

You should never see a "Loading..." maybe you're not looking at a fresh copy?  I also just pushed a related fix, please try again.

[2015-08-11 20:55] abbyad commented on #1030
As far as the mobile view goes, nice job on making it usable in its current form. There are some UI tweaks for the mobile view but they can likely wait.

Here are some other things I noticed:

**(1) The Form filter** box should show the form name, not just the form code. For many projects the form codes are not known or don't have special significance, especially by the higher level managers that

[2015-08-11 22:01] abbyad commented on #1030
Looping @yembrick in here to provide some feedback for acceptance testing as the Analytics Lead.

[2015-08-11 22:31] garethbowen commented on #740
This has become important again now that we have the Events tab. Furthermore whether tabs are shown or hidden has become configurable so we can no longer restrict the installation to a subset of tabs.

[2015-08-11 22:42] browndav commented on #1030
Just to be clear, we may not want/need to fix all of the UI/UX issues immediately. Worth a chat during our iteration call (or earlier if needed).

[2015-08-12 01:05] abbyad commented on #740
We plan to do a more significant UI overhaul for the mobile app, but you are right, it seems as though we need to solve this before then.  Our current mockups don't have have a logo in the top left corner, but if all the tabs are shown that doesn't help enough.

Here are some options with my thoughts:
**1) Scrollable tabs:** simple interface, yet not likely familiar for users.
**2) Dropdown:** as

[2015-08-12 02:27] mandric commented on #1030
@abbyad thanks for the feedback.

2) I did the health center dropdown to mimic the siblings dropdown that we used to have so you can quickly jump between sibling health centers without going back and forth. It seemed useful to me to have a list of health centers anyway, maybe not.

4) This should be fixed, maybe you were getting cache.  Let me know if you can reproduce it after a hard refresh.

[2015-08-12 07:18] alxndrsn commented on #1139
This fix is not ideal, as it required modifying bootstrap-datepicker within enketo.  A simple alternative would be to add the CSS class `enketo` to the `<body>` element when viewing an enketo form.

[2015-08-12 07:18] #1139 closed

[2015-08-12 07:50] alxndrsn commented on #1121
This works, but still requires a matching JSON form for the fields to be displayed nicely when viewing a report.

[2015-08-12 07:50] #1121 closed

[2015-08-12 19:33] browndav opened #1140 "Use HTTP Strict Transport Security (HSTS)"
In hosted configurations, we should be HTTPS-only. Enable HTTP Strict Transport Security to prevent browsers from ever making an unencrypted connection to a hosted instance. This mitigates simplistic MITM attacks and may improve security of CHW-submitted data, depending upon which mobile applications are being used.

This issue likely depends upon additional SMSSync testing, at a minimum.

[2015-08-13 06:48] #1134 closed

[2015-08-13 08:32] alxndrsn opened #1141 "Login page usability improvements"
## 1. username field should be active on page load
[ DONE in https://github.com/medic/medic-api/pull/27 ]
## 2. login button should accept keyboard navigation
pressing `tab` from the password field should hilight the button
[ DONE in https://github.com/medic/medic-api/pull/28 ]

[2015-08-13 08:38] alxndrsn opened #1142 "auto-increment medic-msi version number"
Auto increment the build number, starting at 52, the last known version.

Split from #1127

[2015-08-13 08:40] alxndrsn opened #1143 "Parameterise `medic-msi` builds"
Parameterize the desired build version (eg 0.2) and type (eg alpha) in the Jenkins build. Right now this is done using files in github, meaning that updating the build details requires updating and committing the files in the repo.

May be good to append these version numbers to the build name.

Split from #1127

[2015-08-13 09:58] #1141 closed

[2015-08-13 12:40] mandric commented on #1090
Nice work!

[2015-08-13 16:50] mandric opened #1144 "improve error handling when notifications (start/stop) configs are misconfigured"
Currently the notifications configuration interface (think start/stop or on/off forms that mute/unmute) is lacking quite a bit.  For example when you choose "Confirm Deactivations" but don't have a "confirm_deactivations" event type defined sentinel will crash. Sentinel will also crash if you define an event type without a message. We should handle misconfiguration better and include an error on t

[2015-08-13 17:17] mandric commented on #1144
![screen shot 2015-08-13 at 2 16 48 pm](https://cloud.githubusercontent.com/assets/25641/9256484/ff86fbbc-41c5-11e5-822c-550ba0e162bc.png)

[2015-08-13 17:26] mandric commented on #1144
When confirm deactivation is setup the record is still flagged as invalid but also with a response.
![screen shot 2015-08-13 at 2 23 50 pm](https://cloud.githubusercontent.com/assets/25641/9256661/27209218-41c7-11e5-845b-5698d5c7a478.png)

[2015-08-13 17:56] mandric commented on #1144
This seems half-baked to me because:

1) Not sure how to really flag a record as "needs admin action".
2) Using the same message for the error as for the response notification.
3) There is no specific instructions how an admin can complete this task or a way to differentiate between a message to a user and a message to the admin.
4) Completing the mute/unmute task is still a manual process.

[2015-08-13 18:02] browndav commented on #1144
It looks like the patient name is missing from the "Errors" section above but not the automated reply.

[2015-08-13 21:12] Lesterng commented on #1062
I also prefer one simple spinner for everything. Prefer the circle with a simple spin.
![screen shot 2015-08-13 at 2 10 59 pm](https://cloud.githubusercontent.com/assets/5149601/9261819/5eb26ce4-41c5-11e5-9f35-a15f329154cd.png)

[2015-08-13 22:25] garethbowen commented on #1066
This currently only works with Registration forms (both with and without LMP). We can expand the configuration later to include other forms or make it completely configurable.

To test, set these properties in app_settings:

[code]