[2016-04-29 13:15] SCdF opened #2256 "select2-ajax doesn't integrate correctly with the search service refactor"
.

[2016-04-29 13:17] SCdF commented on #2256
@garethbowen re: our conversation looks like I had the integration wrong. Can you take a look at the commit plz? A conversation we need to have should stand out to you :P

[2016-04-29 14:11] estellecomment commented on #2179
WIP update :
RulesEngine.js is getting the change from the Changes service, all good there.
BUT then, it sets the `fact`'s `contact` field to null (https://github.com/medic/medic-webapp/blob/develop/static/js/services/rules-engine.js#L210) which is not so helpful: the rules are (probably) rerun, but ignore the facts with no contacts (facts with no contacts can actually happen normally : https://gi

[2016-04-29 14:21] SCdF opened #2257 "Make the Search service return more relevant results"
Right now the free-text portion of the search service works querying a view that has an `emit` for every "token" of every document (that we care about, i.e. all Contacts). If a token is deemed to be a string it's broken up on space and emitted N times for each of _those_ tokens.

It is done this way because we do not impose a particular schema, so there is no "white list" of fields that we should

[2016-04-29 14:21] SCdF commented on #2257
cc. @garethbowen

[2016-04-29 14:36] estellecomment commented on #2257
How important is it to get super-search? Maybe just indexing contact names would meet user expectations. Search for "Victor", get people and places named “XXXvictorYYY”, done.

What are user stories for search queries that are not contact names?
Search in the notes, to find a person by place, because you described where they lived in the notes?
Search by phone number?
Searching by parent place is

[2016-04-29 14:36] abbyad commented on #2257
From what I remember, the current behaviour is by design because we wanted all related people to show up. This is also the case for the search box in the Contact tab filter bar. It would be a good time for the design team to reevaluate this.

cc @diannakane

[2016-04-29 14:38] estellecomment commented on #2257
We could also search for all names within your parent places and contact persons, but only `name` field.

[2016-04-29 14:39] SCdF commented on #2257
We're talking about the search _service_ here, not any particular search page. Searches can be a whole page affair like the Contacts page or the Reports page, or they can be inside select boxes, or <insert thing we haven't used it for yet>.

[2016-04-29 14:41] estellecomment commented on #2257
Well, make two different search services then, or different indexes for same service, or different args for same service (don't know that much about how it works sorry)

[2016-04-29 14:44] estellecomment commented on #2179
LivList reacts nicely to contact updates, here : https://github.com/medic/medic-webapp/blob/develop/static/js/services/live-list.js#L160
We could modify to `if (task.resolved || task.deleted) { LiveList.tasks.remove(task); }`
Then figure out how/where to output a task with a deleted field.

[2016-04-29 15:52] sglangevin opened #2258 "Webapp freezes often while editing contacts"
Seen on lg.app and lg.dev. When I'm editing contacts, the app crashes after I edit a few contacts. Seems  to be getting worse as more data is added to lg.app. The only way I know to reliably reproduce is to use the UI to edit several contacts. After 2-3 it usually crashes.

![image](https://cloud.githubusercontent.com/assets/1286381/14921487/267b539a-0df8-11e6-8970-9053077bcec1.png)
![image](https

[2016-04-29 16:03] SCdF commented on #2258
This _may_ be mitigated by the refactoring work I'm doing, because that particular request should get much smaller and be trigger much less, at least in some situations.

FWIW I've seen this when a Couch view is re-indexing, but as I push databases around a lot I haven't noticed whether or not it's doing it an abnormal amount lately.

[2016-04-29 16:08] sglangevin commented on #2258
I can try testing on the updated lg.dev and see what happens, but that server has a lot less data on it than lg.app, so might be worth re-cloning lg.app to lg-testing.app prior to updating there and then doing some additional testing since then it would have a more realistic amount of data.

[2016-04-29 16:41] btbonval opened #2259 "[couch2pg adapter] change field names and include a new training field for contacts"
`form_metadata` currently has fields called `chw` and `chw_area` which are UUIDs pointing to a specific CHW and CHW Area respectively.

Whereas most UUIDs pointing to other objects are postfixed with `_uuid`, these two are not.

We should rename these to `chw_uuid` and `chw_area_uuid` respectively. Unfortunately these two fields are incredibly critical to a number of existing analytics queries. In

[2016-04-29 17:54] SCdF commented on #2255
Hey @estellecomment check out the latest develop and close if you're happy, should be instant now. Download has dropped from ~50mb locally to a few hundred kb. It's also invalidated much less frequently.

[2016-04-29 17:58] SCdF commented on #2258
There is a fairly good chance I've solved this issue[1] with the crop of refactoring I've pushed in https://github.com/medic/medic-webapp/compare/0b677ef4cd4376a44921f6b50e3a024f96520669...08339a5fa192a6bacde5c8fbbd9f8bd9f6a812b5

The only way to tell would be to put the code in develop onto a server that was having this issue though.

[1] Not the issue specifically, which is that we're timing out

[2016-04-29 18:00] SCdF commented on #2255
(FYI changes are here: https://github.com/medic/medic-webapp/compare/0b677ef4cd4376a44921f6b50e3a024f96520669...08339a5fa192a6bacde5c8fbbd9f8bd9f6a812b5 )

[2016-04-29 18:11] SCdF commented on #2218
Well if I knew that `push -f`ing to keep a branch rebased cleanly was going to spam tickets it referenced I would never have done it…

@garethbowen I think I've fixed this, and probably #2255, as well as taken a fairly good stab at addressing #2209, #2210, #2211 and #2258.

The relevant code changes are encompassed in this range: https://github.com/medic/medic-webapp/compare/0b677ef4cd4376a44921f6

[2016-04-29 18:13] SCdF commented on #2210
Once #2218 closes we should close this with it: both the download size and frequency has been massively reduced.

[2016-04-29 18:17] sglangevin opened #2260 "Update History tab form type filter to include all forms"
On the History tab, the form type filter currently includes only forms that are accessible from the History tab. This means that some forms are missing, things that are only accessible from contact profiles. Update the form type filter so that all forms appear.

[2016-04-29 18:18] SCdF commented on #2209
With the exception of send-message (sending SMS) I think this has been mostly solved. I'm going to open a general ticket about redesigning send-message, or comment on one if it already exists.

[2016-04-29 18:18] #2209 closed

[2016-04-29 18:18] SCdF commented on #2211
I'm happy closing this for now, I think there are specific tickets now that we can raise as we see them (ie if we ever want to enable admins seeing all tasks again)

[2016-04-29 18:18] #2211 closed

[2016-04-29 18:23] SCdF opened #2261 "District service is just the Facility service"
It's functionally identical. Remove it and just use the Facility service.

[2016-04-29 18:49] SCdF opened #2262 "Change users.js to be scoped correctly with the Facility service"
It currently requests everything. I'm pretty sure it only needs PLACE_TYPES (ie not `person`).

To avoid having that invalidate tonnes of stuff it doesn't need to, we should scope it properly.

Rough patch here:

[code]

Need to fix tests etc.

It's also worth looking into refactoring this entirely to not use the Facility service (ie work out all the ids you need to 'hydrate') and download those.

[2016-04-29 18:59] SCdF opened #2263 "Redesign Send Message (sending SMS)"
With 2.6 it has a few problems:
 - With large datasets (ie LG) it downloads *insane* amounts of data just to fill a dropdown.
 - It's got a lot of dead code. Here is a [patch](https://gist.github.com/SCdF/b4ef336bc1535a756e0195346d8938cd) with a bunch of code deleted that it doesn't use (ie it's all noop for various reasons) (the `//!` comments is me working out how it can fit with [select2-ajax](

[2016-04-30 05:16] btbonval commented on #2259
Sounds like the training boolean might make it onto the forms themselves (as XML), in which case no placeholder is needed on form_metadata. The other parts of this ticket still apply regardless of where the training marker ends up.

[2016-04-30 05:20] btbonval opened #2264 "Non-XML form view support"
For 2.6 systems with XML forms, each form gets a table called `formview_{FORMNAME}_{FORMVERSION}`. Although they are tables, the `formview` predates working on 2.6.

For 0.4, each `formview_{FORMNAME}` is actually a view of the table containing all the JSON. As I work on an old 0.4 system, I realized this process of generating formviews automatically from JSON is not build into the adapter, but ra

[2016-04-30 05:21] btbonval commented on #2264
This might be a child ticket of https://github.com/medic/medic-webapp/issues/2125 depending on a number of considerations above.

[2016-05-01 20:24] garethbowen commented on #2261
Nice.

[2016-05-01 20:24] #2261 closed

[2016-05-01 20:43] garethbowen commented on #2257
@SCdF and I have been talking about ways to make this awesomer. I quite like the deep indexing and advanced search feature and it's something we supported in 0.4 via lucene. I think it's great that right now you can configure contacts to have some arbitrary field that's specific to your deployment and search against it. There are two problems with this currently: performance (which is being covere

[2016-05-01 20:54] garethbowen commented on #2256
Comments on the commit.

[2016-05-01 21:01] garethbowen commented on #2258
@SCdF It looks like some of these changes will make it in to 2.6.2 is that right? If so, we can test this again on lg.app once that is released.

[2016-05-01 21:11] garethbowen commented on #2260
This should have been fixed by #1409.

[2016-05-01 21:19] garethbowen commented on #2218
Yeah that looks great. Good thinking on caching per type. The only downside is multiple requests for the initial load, but fixing this would be quite complex I think, so happy with the solution unless we find it's a performance hit in production.

[2016-05-01 21:19] #2218 closed

[2016-05-01 21:25] garethbowen commented on #2046
Looks awesome!

Merge away.

[2016-05-01 23:36] garethbowen commented on #2260
@sglangevin On #1409 @abbyad wrote

I'll assign this to him to respond...

[2016-05-02 00:49] garethbowen commented on #2251
It works for me on develop, but only after typing in 3 characters to execute a search. I think it should show immediately.

[2016-05-02 01:42] garethbowen commented on #2251
The only way I can see to get the New option to show up right away is to remove the 3 character minimum, which may cause performance issues.

@sglangevin Can you please test and and confirm that it shows up when you type enough to fire off a search?

@SCdF I _think_ removing the 3 character limit would be ok given that we have pagination now. What do you think?

[2016-05-02 05:25] mandric commented on #2128
I made some decent progress on this. Should have it done today (monday).

[2016-05-02 08:05] estellecomment commented on #2255
indeed! Thanks, closing.

[2016-05-02 08:05] #2255 closed

[2016-05-02 12:37] estellecomment opened #2265 "Submitting a family survey doesn't clear the task"
Submitted family survey, it was recorded properly (shows up in the contact's history), but the task stays up.
On lg.dev.

[2016-05-02 12:43] estellecomment commented on #2179
Fix in both the rules config and the rules-engine.js code.
Applying only one or the other will have no visible effects (tasks will be emitted twice for nothing, but livelist will update the existing task invisibly). When both are applied, then it happens!

Diffs for review : https://github.com/medic/medic-webapp/compare/e2fb50a08b2a03ae6e3f0ecbe2200ef25245eb23...develop
and https://github.com/medi

[2016-05-02 12:47] estellecomment opened #2266 "Register-pregnancy task doesn't reappear when pregnancy report is deleted"
When you create a family, if the primary caregiver is pregnant, you get a task to register the pregnancy.
If you register it, the task disappears (good!)
If you delete the registering report, the task doesn't reappear (bad!)

I'm guessing it's because the `pregnant_at_registration` flag is not reset, maybe?
https://github.com/medic/medic-projects/blob/master/lg-uganda/tasks/task-rules.js#L216

[2016-05-02 14:48] sglangevin commented on #2251
@garethbowen I can confirm that I see the New option on alpha.dev when I type enough to fire off a search. I agree with you that the New option should appear immediately.

[2016-05-02 14:51] sglangevin commented on #2260
The only forms currently visible are the forms that are set to show up on the History tab as actions (available when you hit the + sign). There are many other forms, like follow up forms in particular, that are not available in the filter. Specific examples include assessment follow up, pregnancy visit, pregnancy referral follow up. These are forms that can only be accessed from tasks. They should

[2016-05-02 14:55] sglangevin commented on #2258
It would be great of those changes made it into 2.6.2 as I'd like to start handing over some of the editing to LG. With their slower connection, it would probably be incredibly frustrating to try to edit lots of contacts without improved performance.

[2016-05-02 15:10] abbyad commented on #2179
Thanks for the heads up. The config changes look reasonable and still allow for tasks that are not based on a report so we should start using this once fully tested.

cc @sglangevin

[2016-05-02 15:34] sglangevin commented on #2179
Looks good to me - let me know when I can help test. I'm guessing this will be pushed to develop only, so I'd test on alpha.dev?

[2016-05-02 15:48] sglangevin commented on #2266
What use cases do we have for the pregnancy registration being deleted? Are you thinking that a CHP might delete the report and not re-register the pregnancy? Or that a manager might accidentally delete the report from the webapp? Or would this handle the case where we were only deleting reports and not family registrations during a routine data deletion?

For LG, CHPs cannot delete anything, but

[2016-05-02 16:29] abbyad commented on #2239
This seems to be fully covered by https://github.com/medic/medic-api/pull/59. This issue should be moved to Acceptance Testing once merged.

[2016-05-02 18:15] garethbowen commented on #2179
One comment about some logging, but otherwise looks good.

[2016-05-02 18:57] diannakane commented on #2257
We could even look at delivering the search results within labeled
sections, "names with.." "parents name with." What other types of tokens
could be returned?

We definitely need to understand more when search is used and what users
are looking for when they use it. Not immediately low-hanging fruit, in my
opinion, and should be looked at in conjunction with work on filters, which
is our other mea

[2016-05-02 19:45] #2246 closed

[2016-05-02 19:48] #2155 closed

[2016-05-02 20:56] garethbowen commented on #2189
Implemented with statuscake:

​> All Your Tests are Currently Up!

Let's call this done!

[2016-05-02 20:56] #2189 closed

[2016-05-02 20:57] garethbowen commented on #2144
@estellecomment You've made some great improvements here. I propose we close this off so it's not a perma-issue and raise specific issues for any problem areas in future?

[2016-05-03 03:04] garethbowen commented on #2206
It looks like my pouchdb caching patch is going to get reverted as it causes a performance reduction with small ddocs. This makes fixing this issue more pressing.

[2016-05-03 08:22] estellecomment opened #2267 "Separate training data from real data"
Analytics needs to filter out training data from dashboards, and webapp needs an easy way to delete training data.

We could tag training data when it's created with a `training`/`practice`/`dummy` field, which analytics could filter on, and the webapp could make a couch view with it for easy deletion.

In terms of UX, we could have a `training mode` toggle in the settings, which sets the whole ap

[2016-05-03 08:28] estellecomment commented on #2266
Good questions. I was thinking of users deleting reports (any type of user), since it's possible, but I don't know the use case for it. Why do managers delete reports? What kind of reports?

For data deletions, I expect a training report would be made on a training contact/family ideally, but in practice nothing stops you, for instance, from registering a training pregnancy on a real person.

[2016-05-03 08:30] estellecomment commented on #2144
ok!

[2016-05-03 08:30] #2144 closed

[2016-05-03 08:47] estellecomment commented on #2179
@sglangevin the code part is already in develop, so should be in alpha.dev. The config may get there by magic, but I'm not sure :)
Assigning to @abbyad to push the config changes if necessary (and inform me on how it's done for next time)

[2016-05-03 08:54] estellecomment commented on #2038
Update : I still want to add a prompt break in this, like "This is what's going to be deleted. Are you sure"? Because right now, if you mess up the order of the script args, or get the values wrong, or skip an arg, you might not be in dryrun mode when you think you are, or not be deleting what you think you are, and it's very bad.

And then I'll close this!

[2016-05-03 09:34] #2038 closed

[2016-05-03 13:20] estellecomment opened #2268 "Renaming : `app_settings.tasks.schedules[0].events` should be `app_settings.tasks.schedules[0].tasks`"
Here's `app_settings.tasks.schedules` : the term `task` is used everywhere but in that field which is called `event`.

![screen shot 2016-05-03 at 15 15 17](https://cloud.githubusercontent.com/assets/911434/14984219/e4da35d0-1141-11e6-9431-4ac8cb39f1cd.png)

Because of the design work on #1784, we'd also like to free up the term `event` to call the thing that happens that triggers a schedule. E.g

[2016-05-03 18:37] btbonval commented on #2267
I'm fine if each form has a training field which is true/false. That's easy to operate on. We'd need to create a new version of every form with the new field, of course.

There were some alternatives brought up of labeling the CHP Area itself as training, which gets associated with each form's json metadata. I could also operate on that in analytics, but I don't know if that is useful for mobile t

[2016-05-03 22:02] garethbowen commented on #1000
Some design changes summarised from a Slack conversation...

1. This won't be restricted to admins. If a user has permission to delete a record they will also be able to bulk delete that record. In practice though, LG CHPs can't do either.
2. Select All should select all records that match the filter whether or not they are rendered in the list (ie: outside of the current page). All of these shoul

[2016-05-03 22:07] sglangevin commented on #2266
A manager might delete a report in the case where a CHW created a report and wants to delete it, but doesn't have access to delete themselves. There are probably other use cases, but that's the one that comes to mind.

Yeah, I'm thinking about the case where CHPs are migrating from the old LG app to our app. What happens if they create a training report on a real family?

[2016-05-03 22:17] diannakane commented on #1000
Thanks, Gareth. One quick point of clarification:

   1. This won't be restricted to admins. If a user has permission to
   delete a record they will also be able to bulk delete that record. In
   practice though, LG CHPs can't do either.

We will be able to attribute bulk delete as a unique feature to admins
while still giving users the ability to single delete. In the case of our
current project

[2016-05-04 01:05] garethbowen opened #2269 "Use ng-annotate to reduce boilerplate"
We use [explicit dependency injection annotation](https://code.angularjs.org/1.5.5/docs/guide/di) for angular because it doesn't break during minification but this means we have to declare dependencies twice and in the same order. This is ugly and fragile. Use [grunt-ng-annotate](https://www.npmjs.com/package/grunt-ng-annotate) between browserify and uglify to automatically extract the explicit an

[2016-05-04 01:08] garethbowen opened #2270 "Disable debug data"
According to the [angular production guide](https://code.angularjs.org/1.5.5/docs/guide/production)

This data is needed for development and end-to-end testing so only disable it in production.

[2016-05-04 02:14] #2179 closed

[2016-05-04 02:17] garethbowen commented on #2270
It's a fairly crude method to detect if running in production - I'm open to suggestions.

[2016-05-04 04:14] #2210 closed

[2016-05-04 06:15] btbonval commented on #2234
The "if" above is a lot of extra logic and test code for no good reason. I'm quite content to require that a `full_access` role be present, and I will add documentation asserting as much.

[2016-05-04 07:04] alxndrsn commented on #2270
Tis indeed fairly crude, but seems alright really.

An alternative would be to pre-process it into the code at build time.  In some languages this would allow all the debug stuff to get stripped out of the angular files.  Seems unlikely if this would be possible in JS, but perhaps worth a look.

[2016-05-04 07:24] btbonval commented on #2234
Commit came back green. This issue should be covered now.

I updated package.json to 0.0.3 since this might break previous installations that don't use `full_access` role properly. A 0.0.2 tag was added beforehand so those systems have an easy checkout option.

[2016-05-04 08:07] estellecomment commented on #2267
@btbonval points out that "deletion happens haphazardly and there are problems with CHWs syncing in staggered way after training", and so that "it'd be cleaner to filter data at all levels" (i.e. hide the training docs from the UI when you're not in training mode) "and delete whenever is convenient" later.

[2016-05-04 08:08] estellecomment commented on #2267
Other thought : the phones need to be notified when we get in/out of training mode.
Put `training_mode` as a field in `app_settings`, and it'll trigger a ddoc change, so phones will know.

[2016-05-04 08:11] estellecomment commented on #2267
"Starting next week, LG will be training users in batches, meaning we could have 2-3 different groups within a branch with different training dates and different cut-off dates for data deletion." (@sglangevin)

So we need more granularity : whole app in training mode is not enough, branch in training mode is not enough...

[2016-05-04 08:22] estellecomment commented on #2266
The training report gets deleted by the `delete_training_data` script, and the woman is un-pregnant again. But the "register pregnancy" task doesn't reappear, until you refresh the page/app.

I don't understand how it's more likely to happen when they're migrating from old LG app? We migrate first, then do training after, so they could be sending training reports on the real migrated data? If yes,

[2016-05-04 08:49] estellecomment commented on #1000
About 2. : if select-all selects records that are too far down the list in the LHS, then they are also too far down the list in the RHS, since we can't display it all in RHS either. So the issue is syncing the scrolls.

I think the problems are coming from having two panels. The information we show is redundant, it's shown twice.
Can we merge the two panels, or get rid of one? Can't we do everythi

[2016-05-04 09:11] estellecomment commented on #1000
Sorry just seeing now that it's been discussed in the slack channel. It was dropped too fast though!! I think single pane would be great.

[2016-05-04 11:35] estellecomment commented on #2111
Sentinel is restarted by gardener when it crashes, so wrote a script that looks for the restart message, and emails alerts if there are too many restarts lately.

Next : cron job to run it periodically.
Also next : how to monitor the sentinel monitor!!

[2016-05-04 16:31] btbonval commented on #2234
@garethbowen sorry I got used to my way of doing things where nobody knows what I'm doing with the adapter. I might have jumped the gun on closing the issue. I just realized this would be a good opportunity for code review, as I just added a new feature which includes unit and integration tests.

I'm assigning to you for code review but feel free to pass the buck to whomever will be doing adapter

[2016-05-04 16:35] mandric opened #2271 "support offline builds"
Example of cutting network during the npm install step of `grunt dev` on develop... npm just sits here waiting for a very long timeout, I didn't wait it was over 5 mins:

fetchMetadata → network   ▄ ╢█████████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟

[2016-05-04 16:51] btbonval commented on #2234
Reopening for code review

[2016-05-04 17:57] abbyad commented on #2240
Can we add #1409 to the list? I am not the fix on 2.6.2-beta.3219, so I imagine it needs to be brought in explicitly.

[2016-05-04 18:03] diannakane commented on #1000
One vs. Two panels is a design topic much larger than this issue, but it's
good to gather insights into where we run into challenges with our current
container.

On Wed, May 4, 2016 at 2:11 AM, Estelle Comment <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129f

[2016-05-04 18:03] abbyad commented on #2260
This appears to be a duplicate of https://github.com/medic/medic-webapp/issues/1409#issuecomment-206637390. It seems to have been resolved but not brought into the current builds. I have marked it to be included as part of 2.6.2 in #2240.

[2016-05-04 18:12] abbyad commented on #2214
Perhaps related to work done in #1409.

[2016-05-04 18:14] abbyad commented on #2212
Added the `v0.4 Compatibility` label since this could help with transition for users, although it is not strictly required.

[2016-05-04 18:17] sglangevin opened #2272 "Make webapp date widget easier to use"
When creating people in v2.6.x, the widget being used to select the birthdate is difficult to use in the webapp. It's not immediately clear how to scroll back through the years, particularly when creating a CHP or an area's primary contact. Let's update the date widget to something more user-friendly, perhaps by allowing the user to type something into the date box instead of selecting from the ca

[2016-05-04 18:26] abbyad commented on #1610
Have we reproduced this since only doing updates with a reliable connection? If not, is there anything that we need to do to protect app_settings during a failed update?

[2016-05-04 18:28] abbyad commented on #1576
Do we want to change our search design?

@SCdF this may also relate to https://github.com/medic/medic-webapp/issues/2257

[2016-05-04 18:30] abbyad commented on #1556
Assigning to @sglangevin to review for this project.

[2016-05-04 18:32] abbyad commented on #1544
@sglangevin is this still an issue?

[2016-05-04 18:33] abbyad commented on #1539
I think this has been resolved. @sglangevin can you please confirm?

[2016-05-04 18:37] abbyad commented on #1494
This is specific our custom work using Enketo, but labeling as Enketo and Documentation for future reference/searches.

[2016-05-04 18:46] abbyad commented on #1478
In theory this has been fixed... @sglangevin, please confirm that this has been resolved.

[2016-05-04 18:47] abbyad commented on #1419
@alxndrsn is this still needed?

[2016-05-04 20:31] mandric opened #2273 "medic-api weird behavior?"
While doing a data import to medic-api I noticed some strange behavior.   The import process makes lots of requests and after I do some thousands of request and the import process is complete, I think medic-api is still holding on to some connections, probably a timeout value somewhere.  So if I shutdown couchdb (the target server for the proxy) after all the requests have completed I get tons of

[2016-05-04 21:01] SCdF commented on #2251
Yeah that’s OK I think. We also have a (500ms?) delay before the search fires, so unless you’re a really slow typer it should probably only fire when you want it to anyway.

[2016-05-04 21:12] garethbowen commented on #1610
I think this was improved (maybe even fixed) by removing the kanso settings migrations.

[2016-05-04 21:15] garethbowen commented on #2271
Good thinking. Also have a look at [local-npm](https://www.npmjs.com/package/local-npm) which is a local node proxy which will respond immediately.

[2016-05-04 21:20] garethbowen commented on #2273
I'd expect more logging than this. The "can't set headers" thing is usually a symptom not a cause. Is there anything more logged?

[2016-05-04 21:20] SCdF commented on #2256
@garethbowen made some changes based on your comments, get that in ya'

[2016-05-04 21:21] SCdF commented on #2240
#2256 should also be added, it should increase performance for a bunch of admin tasks

[2016-05-04 21:33] #2260 closed

[2016-05-05 00:50] mandric commented on #2273
This is repeated logged many times.

[2016-05-05 00:54] mandric commented on #2273
I have a feeling I could reproduce fairly easily with a simple script that POSTs new objects to the API and then delete the medic database after all the POSTs complete.

[2016-05-05 01:27] garethbowen commented on #2270
Fixed. Thanks.

[2016-05-05 01:27] #2270 closed

[2016-05-05 01:32] garethbowen commented on #2234
Thanks @btbonval . It looks good to me. I'll know better when I do a deep dive into the code.

[2016-05-05 01:32] #2234 closed

[2016-05-05 01:40] #2256 closed

[2016-05-05 02:14] #2251 closed

[2016-05-05 16:09] alxndrsn commented on #2109
Integration work for API has been done at https://github.com/medic/medic-api/tree/medic-gateway-support

Blocked/requesting assistance as I don't understand the database formats for messages.

[2016-05-05 21:55] sglangevin commented on #2223
Looks great!

[2016-05-05 21:57] SCdF opened #2274 "Make jshint scoped to test"
This means we can be more correct with our js hinting (ie some things have to global in unit tests but aren't global in real code).

[2016-05-05 22:00] SCdF commented on #2253
Assigned back to @estellecomment with some comments. I also assigned #2274 to you, which currently fails because of the `Promise` usage noted in my comments. Once you've fixed this ticket that one should pass! :-)

[2016-05-05 22:03] garethbowen opened #2276 "Remove kanso uber issue"
This is a long term issue tracking all components that need to be changed to remove our kanso dependency.
## What?
- [ ] Deployment. Without Dashboard and markets we have to work out how to update the software ourselves. Use a repo (npm?) to publish the built app and install from there.
- [ ] Gardner. Work out how to run api and sentinel (and couch2pg?) and monitor them.
- [ ] App Settings. Some a

[2016-05-05 22:03] garethbowen commented on #1804
Duplicate of #2276

[2016-05-05 22:03] #1804 closed

[2016-05-05 22:08] sglangevin commented on #2227
Works well on web and on mobile. The "x" is very small on mobile and hard to press. It can be done, but could use improvement. We can deal with that UI change at a later time.

[2016-05-05 22:09] sglangevin commented on #1409
Looks good!

[2016-05-05 22:21] sglangevin commented on #2251
Working well.

[2016-05-05 22:49] sglangevin commented on #2166
I throttled my connection to the max and it took a while, but eventually all the forms and docs downloaded, so I'd say that's a success! Multiple tries to download form definitions and other items that initially failed.

[2016-05-05 23:36] sglangevin opened #2277 "Tasks and Targets disappear in Android 4.4.2 after upgrading to 2.6.2 and clicking Reload"
This is a blocker for the 2.6.2 release #2240

Note that this cannot be reproduced in the web browser, only in the Android app on Tecno Y4. After updating and submitting a form from a task, the task cleared properly. Then I submitted another form and the task didn't clear as expected. I then viewed that recently submitted form on the web app, logged in as admin. After that I reloaded the app on my

[2016-05-05 23:41] sglangevin opened #2278 "Tasks do not clear in 2.6.2-beta-3278"
Another blocker for release #2240 - tasks are not clearing after being completed. Seen when logged in as a restricted user in a web browser. Might be related to #2277

[2016-05-06 00:26] SCdF commented on #2277
That is really weird! So you're on your phone, as a user that is _not_ an admin, and you can't see either tasks or targets?

It sounds like it worked but then you reloaded and it didn't work. What happens if you reload again?

[2016-05-06 00:27] SCdF commented on #2277
(FWIW we block these things [for admins](https://github.com/medic/medic-webapp/blob/develop/static/js/services/rules-engine.js#L17-L23) but unless you're an admin it should be fine)

[2016-05-06 00:28] sglangevin commented on #2277
@SCdF I reloaded several times and no dice. I know they are blocked for admins (thanks for implementing that, v. helpful!) but for some reason that is being carried over to my phone.

[2016-05-06 03:56] #2108 closed

[2016-05-06 04:14] garethbowen opened #2279 "Initial replication feedback"
In #1270 we added an [initial replication](https://github.com/medic/medic-webapp/blob/develop/static/js/services/db-sync.js#L146-L151) which updates information on the About page so we know when the phone is synced up to date. This has a few issues.

1. It executes every time the page loads, rather than just on the first run. This is unnecessary because we only care about the phone being way out o

[2016-05-06 04:17] garethbowen commented on #2258
Setting to acceptance testing so Sharon can test if it's resolved by the performance improvements @SCdF added to 2.6.2

[2016-05-06 04:17] #2258 closed

[2016-05-06 09:03] estellecomment commented on #2274
pass! Closing.

[2016-05-06 09:03] #2274 closed

[2016-05-06 09:04] #2253 closed

[2016-05-06 12:51] abbyad opened #2280 "First login with user has errors"
Not sure if these are related, but replication fails on first login, and we get the following errors:
`inbox.js:6 Uncaught (in promise) Object {error: "not_found", name: "not_found", reason: "missing", message: "missing", status: 404}`

![image](https://cloud.githubusercontent.com/assets/789512/15073387/310df0a0-1367-11e6-93a2-72308cd80462.png)

[2016-05-06 14:20] abbyad commented on #2046
Works well during initial testing.

[2016-05-06 15:18] abbyad commented on #2197
That seems to be working as designed, but I understand how it could seem odd.

Here are the two situations:
- From the Task or Contact the person is preset, and you cannot later edit to change the person the form is about.
- From the Reports tab you need to specify who the form is about, and you can edit the person later if needed

@SCdF do you still think something needs to be done differently?

[2016-05-06 15:19] abbyad commented on #2171
Update done (a couple weeks ago)!

[2016-05-06 15:21] abbyad commented on #2179
@sglangevin is now doing the config updates, so will let her push them as needed.

[2016-05-06 17:56] btbonval commented on #2124
@abbyad Just pointed out this was still assigned to me and listed as Active, but I had to switch to other work and haven't looked at GitHub in some time.

[2016-05-07 13:58] fredatthehub commented on #2128
@here, LG are unable to load all the forms for the newly created Mukono users. My chrome inspect is not working when I the phone is downloading the forms, its only working if am running the Chrome browser, so not sure which forms are failing or at what point the process is failing.

[2016-05-08 22:24] SCdF commented on #2280
I'm seeing this in prod too, so it's in 2.6.1

[2016-05-08 22:32] SCdF commented on #2197
Yeah nah this is fine I think. It was just my misunderstanding.

[2016-05-08 22:32] #2197 closed

[2016-05-08 22:39] garethbowen opened #2281 "Data migration script performance"
After doing a data migration for LG the production server became slow and the CPU usage of beam.smp jumped to 100% for a long time (ie: days). [medic-projects issue](https://github.com/medic/medic-projects/issues/317).

Investigate and fix.

[2016-05-08 22:51] fredatthehub commented on #2281
Added priority label, as our partner starts training in couple of hours, some forms have not completed downloading yet.

[2016-05-08 23:02] fredatthehub commented on #2128
Some comments from LG, kindly assist.

=======================================================================
Hello ,

I have been trying to check the status of data migration, unfortunately , the data appears on the phones( there are contacts and pregnancies) but the same are missing in the postgres database.
Quick questions then are:
1.       Am I reading the correct database? Am currently read

[2016-05-08 23:15] garethbowen commented on #2281
One theory is that when replicating the local pouchdb doesn't update the seq unless something has changed. If none of these new docs pass the filter for the user then none will be replicated. This would cause the phones to request a replication from the same point, and the replication filter to run over the migrated docs multiple times. We attempted to work around this by bumping the revision of a

[2016-05-09 04:32] SCdF commented on #2124
The most robust way of solving this problem is by using the `_changes` feed instead of `_all_docs`. An example of this API:

[code]
[code]

This API lets you get document changes in `limit` chunks starting from a `since`

[2016-05-09 04:36] btbonval commented on #2124
If you do that, you might want to add two separate stages for bootstrapping using `_all_docs` to fetch the current state, and then `_changes` as an iterative step.

While you might be able to get `_changes` from the dawn of time, anything deleted or modified is probably a waste to fetch in multiple where `_all_docs` would do fine initially.

I think it's a good idea though.

[2016-05-09 04:38] btbonval commented on #2124
Based on actual use that myself and @michaelkohn have experienced, bootstrapping a database and running the adapter to keep up with changes tends to be different. That might be worth a different issue, but it's worth discussing here to consider replacing `_all_docs` vs augmenting `_all_docs`

[2016-05-09 04:43] SCdF commented on #2124
Yeah, so I believe changes compresses changes down so if a doc gets changed 20 times and then deleted, you only get one row back saying it's deleted. I'm not sure if that applies if the changes occur outside of the `since+limit` that you set. Having said that, you don't actually need to set a limit, we can just have the thing run from the last successful `last_seq` all the way to the end. On my la

[2016-05-09 04:44] btbonval commented on #2124
That sounds on par with what @garethbowen told me out of this channel. So yeah, that sounds like a good solution.

[2016-05-09 05:32] btbonval opened #2282 "Bootstrapping postgres tends to have different behavior than keeping postgres updated"
In practice, I found out that bootstrapping postgres from couch tend to operate differently than running the adapter on a populated database. So far, these differences have been acted on by the way in which the adapter is called: the adapter does not make any such distinction.

Technically, there doesn't have to be a difference, but practically there probably should be.

Let's use an example of a

[2016-05-09 05:35] btbonval commented on #2282
This might be a non-issue if/when postgres deploys concurrently with couchdb so that there is no data backlog to bootstrap in.

[2016-05-09 14:49] fredatthehub commented on #2281
We discovered that LG had the 30+ phones connected and this could have contributed to the replication issue. We advised that they have only 4 phones connected at a go and it did help.
I think this is a good recommendation moving forward for all other downloads.

[2016-05-09 14:59] estellecomment opened #2283 "Architecture without filtered replication?"
What if filtered replication just isn't a high-performance feature, and we should do without?

Not clear that we should, but I started jotting down thoughts, so I'll share. Draft here : https://docs.google.com/document/d/18t3_7yx3_kxM_zNfuhOBsfsf4QJuS9it_dKfYcbUBQw/edit

[2016-05-09 15:34] estellecomment opened #2284 "Don't use replication for first app load"
Using filtered replication for the first app load makes the server work like crazy (this happens : https://github.com/medic/medic-projects/issues/317)
We can safely load only 4-6 phones at a time, so branches need to do it right, and to coordinate with each other.
It also means first load is complicated enough that we do it only once, for the prod instance. If it was easy, we could have users test

[2016-05-09 21:03] garethbowen opened #2285 "Advanced instance monitoring"
In #2189 we set up status cake monitoring, but we quickly exhausted the free alerts. Investigate other monitoring solutions. AWS has a way to monitor specific URLs so have a look there.

[2016-05-09 21:09] garethbowen opened #2286 "Replication performance"
Replication is slower and consumes more CPU than we'd expect. Investigate why this is.

[2016-05-09 21:11] garethbowen opened #2287 "Investigate the high number of connections in production"
Milan noticed a surprisingly high number of connections (~7000) in production. This may or may not be a performance issue but it deserves some investigation.

[2016-05-09 21:38] SCdF commented on #2282
So here's what I'm thinking about this, long term:
 - Every time PROCESS runs, it asks for the `_changes` feed *without* including the docs, from `lastSeq` to now. This will *hopefully* be small enough for node to handle: if not I'd suggest we either tweak node or look at some other optimisations. For example, current LG prod is an 8.5Mb response with ~73 lines, which I'd hope node would be able t

[2016-05-09 21:57] garethbowen opened #2288 "Pouch doesn't update seq unless something has changed"
If we get a changes response with no results the local seq isn't updated which means subsequent changes start from the previous seq. This is a problem because filtering the changes feed is expensive so we only want to do it once per user per doc.

This happens frequently for us because the filter excludes irrelevant docs from CHPs which happens to be most docs.

A workaround is to make a minimal c

[2016-05-09 21:59] garethbowen commented on #2281
We have a few avenues of investigation: #2286 #2287 #2288

The workarounds in the meantime are:
- restrict the number of phones doing the initial replication.
- after a bulk migration or deletion make a minimal change to a form so all phones get an updated checkpoint.

[2016-05-09 22:17] SCdF commented on #2284
How would this work, practically? We filter because we only want certain docs to be downloaded? I feel like if we can do this ticket, we can thus remove filtered replication completely, right? Not sure how first app load is different from other situations.

[2016-05-10 00:03] sglangevin commented on #2277
I've been able to reproduce this on two devices running Android 4.4.2 but NOT on Android 4.4.4 or higher - those devices worked fine. If you have a Tecno on version 2.6.1, update to 2.6.2 and notice that Tasks and Targets are still there. Then go to About and click Reload. Notice that tasks and targets no longer load. In your console, you'll see `Error getting tasks Object {error: "ReferenceError"

[2016-05-10 00:07] sglangevin commented on #2277
Reloading from Tasks I get an error loading Tasks, reloading from Contacts I get error loading Contacts but Tasks and Targets load successfully.

[2016-05-10 00:17] garethbowen commented on #2277
So it looks like an issue with old versions of the webview, combined with some code change between 2.6.1 and 2.6.2.

The line that's throwing the error is from the angular log provider. It has the feel of a race condition that somehow the service is executing before the LogProvider or console is ready.

[2016-05-10 00:25] garethbowen commented on #2277
It would be interesting to test on the Android browser on the Tecno which should use the same engine as the webview and see if you can replicate it there.

[2016-05-10 02:17] garethbowen commented on #2288
Pouch issue: https://github.com/pouchdb/pouchdb/issues/5145

[2016-05-10 04:59] SCdF commented on #2286
_(my notes for now)_

## Perf

How long does it take for one curl statement that we know will roll over 10,000 documents? Single user, local machine, attached to mains.

### `return false`
~4.7 for the last 10k (seq 28488 -> 38488)

### `return true`
~5.4-5.8 seconds. We can presume this extra second is the time required to generate and move the JSON

### Production Erlang
~28 seconds.

### Produc

[2016-05-10 07:32] estellecomment commented on #2284
Well, for the first load you want all the data, but after that you only want the changes, so you can't reuse the same query. You'll need the changes feed, and to filter it. So filtered replication.

In practice, something like :
  - query for current seq number on server, save it
 - one giant view query, or maybe several smaller ones, to get your data
 - start continuous replication from saved seq

[2016-05-10 07:55] estellecomment commented on #2286
From monitoring a **non-filtered** replication, CPU load on lg.app server goes from 0-10% to 15-30%, and up to 70% at times.

From eying it, it could be the CPU load peaks when the docs are being requested : replication doesn't use bulk queries, it issues a zillion individual GETs. We could benchmark the difference between bulk GET vs. <size of replication batch> individual GETs.

[2016-05-10 08:03] estellecomment commented on #2286
Another fix if that's it is to throttle the frequency of GETs a client can issue, to avoid having couch serving itself to death

[2016-05-10 08:15] SCdF commented on #2284
I think if we can do this then this is potentially a winner. At least, a temporary winner (like the Erlang was). I'm unsure how you "trick" Pouch into the replication having had occurred when it technically hasn't: perhaps this is part of it's API and you already know how, perhaps it's a dirty hack?

This also works well with the idea of taking our filter and 'compiling' it into a view. The basic

[2016-05-10 08:43] garethbowen commented on #2286
I expect we'll see massive performance improvement when (and if) couchdb 2 gets released with the bulk get docs.

[2016-05-10 11:47] estellecomment commented on #2286
? No bulk get? There's `all_docs` with `keys=[aaa, bbb, ccc]`, same thing.

[2016-05-10 13:03] estellecomment commented on #2277
Not seeing it happen on Tecno on local env, with latest `testing`.
Tasks are fine, contacts are fine, targets are fine. Reloading from contacts and from tasks doesn't do anything bad.
Gonna try on lg-testing and lg.

I see @sglangevin 's testing was on lg-testing. Has lg-testing gotten the same config changes as lg? We made changes to the tasks rules after #2179, right @abbyad ?

[2016-05-10 13:06] mandric commented on #2277
You can check and compare settings if you want:
[code]
There is also a `json-diff` npm module that comes in handy if you want to compare two bits of JSON.

[2016-05-10 13:10] estellecomment commented on #2277
My Tecno is android 4.4.2, not sure about webview :
`"Mozilla/5.0 (Linux; Android 4.4.2; TECNO-Y4 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/30.0.0.0 Mobile Safari/537.36"`

[2016-05-10 13:14] estellecomment commented on #2277
thanks @mandric !
lg-testing and lg have identical settings. So that's not it.

[2016-05-10 13:52] estellecomment commented on #2277
Not seeing it on lg-testing. Tasks are there, reloading doesn't change anything, fulfilling a task clears it.

Next, trying to see if it's specific to upgrades 2.6.1 -> 2.6.2.

[2016-05-10 14:03] estellecomment commented on #2277
Commit for 2.6.1 : d6bd90224041048ba86f1f28cf561bf3cdde4aee
Commit for 2.6.2 (latest) : 4a0f6a90144916c2042d368bfa6c1628ccd324c0

[2016-05-10 14:11] estellecomment commented on #2277
Note : I'm doing all this with the `demo` user. Maybe it doesn't have enough data or something.

[2016-05-10 20:20] garethbowen commented on #2286
Replication doesn't use it.

[2016-05-10 20:23] sglangevin commented on #2277
Just did some additional testing on the Y4's browser. During initial loading I saw a similar error but it was in reference to "read status". Same error message though - `console not defined`

[2016-05-10 20:33] garethbowen commented on #2286
To expand on that comment a little... have you ever noticed when hitting the app as a restricted user in a new browser you get a 400 for the URL: `/medic/_bulk_get?revs=true&attachments=true` accompanied by the comment "The above 400 is totally normal. PouchDB is just detecting if the remote supports the _bulk_get API.". This is pouchdb doing feature detection for an API available in couchbase and

[2016-05-10 20:37] garethbowen opened #2289 "Document permissions"
We have dozens of permissions and it's not always clear what they do. Add documentation for each permission to the Configuration > Permissions page.

[2016-05-10 23:19] garethbowen commented on #2277
To get the diff between 2.6.1 and 2.6.2 use: https://github.com/medic/medic-webapp/compare/2.6.1...2.6.2

[2016-05-11 00:38] garethbowen commented on #2277
I can reproduce this on my Tecno against lg.dev. Tracing it back caused a migraine, but also it looks like the root cause is angular attempting to complete outstanding requests as part of the $defer service. I'm still looking but my guess currently is we're doing something in InboxCtrl which angular tries to clear because we immediately navigate on load. There is code that changed between 2.6.1 an

[2016-05-11 00:47] diannakane opened #2290 "Allow users to edit a family's primary contact"
accomplished through updated place edit interface

[2016-05-11 00:52] garethbowen commented on #2277
There was a $timeout added in InboxCtrl for initialising select2 elements which is my prime suspect.

[2016-05-11 06:58] estellecomment commented on #2277
wow and whaaaaat

[2016-05-11 08:40] garethbowen opened #2291 "Release 2.6.3"
### Release steps

* [x] Update Changes.md
* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to `testing`
* [x] Update lg.dev and run acceptance testing
* [x] Merge `testing` to `v2`
* [x] Tag the release in github
* [x] Update the app in testing to the released version; perform sanity checks (verify app starts properly, syncs data, each tab appears functional)
*

[2016-05-11 08:57] garethbowen commented on #2277
I'm still finding this really hard to reproduce but I've made a patch which eliminates my prime suspect and released it as 2.6.3.beta. Assigning to @sglangevin to install the patch and test to confirm.

[2016-05-11 08:57] garethbowen commented on #2278
This may be fixed by #2277. Assigning to @sglangevin to test.

[2016-05-11 18:04] sglangevin commented on #2277
@garethbowen I synced a phone to lg.dev, then updated and now I'm seeing the `console not defined error` more consistently. It shows up in my console every time I click Reload. I also tried syncing a different phone, also running Android 4.4.2 to lg.dev after I ran the update and it loaded properly and has no issues when I try Reloading it. Dev tools isn't working with that phone, so I wasn't able

[2016-05-11 20:47] garethbowen commented on #2277
`RangeError` means it was trying to parse an invalid date. Not sure why that would be but probably an invalid date somewhere on lg.dev.

@sglangevin So after the first reload on 2.6.3.beta you couldn't get any more console not defined errors?

I've noticed the slow down too but only on the dev app. I've been switching it between different hosts so it's possible it's caused by that. We can do more

[2016-05-11 21:48] sglangevin commented on #2277
@garethbowen I had to clear the app data and start again to get rid of the console not defined errors. I'd like to test the upgrade from 2.6.1 to 2.6.3-beta to see what happens. If that looks good, we could release and I'd be ready to update lg.app.

[2016-05-11 23:47] garethbowen commented on #2288
Skipping over code review, as it's being reviewed in pouch.

[2016-05-11 23:47] #2288 closed

[2016-05-11 23:54] garethbowen commented on #2284
This will definitely improve performance, but I have some concerns. Firstly it's basically duplicating the code from the filter to the view so it'd be easy for the two to get out of sync (a change made to one but not the other). Secondly there might be race conditions because the seq you get won't accurately reflect the state of your data. For example. this could lead to replication pulling down t

[2016-05-12 00:30] garethbowen commented on #2281
The three issues listed above should cover this issue, so there's no need for this one any more.

[2016-05-12 00:30] #2281 closed

[2016-05-12 03:03] garethbowen commented on #2280
This looks like a race condition buried deep inside worker pouch: https://github.com/nolanlawson/worker-pouch/issues/15

[2016-05-12 08:09] estellecomment commented on #2269
I breathe a sigh of relief. And of pleasure from seeing alphabetical ordering. Glad to be rid of that, thanks!

I suppose we'll go through all the controllers and services, as we modify files for other reasons.

[2016-05-12 08:09] #2269 closed

[2016-05-12 12:59] estellecomment commented on #2284
True. That's a concern.
I wonder if we can reuse the same code, and kanso it all up in the right places, or maybe add a `grunt copy-my-files-around` step.

Yes, that's what I meant in my "hopefully" statement. If it's not smart enough, well. Stop and reconsider.

[2016-05-12 14:08] estellecomment opened #2292 "Display "disabled for admins" message in tasks and targets page"
Otherwise it looks like a weird empty page, or a bug.
Or just hide the tab altogether.

[2016-05-12 14:15] estellecomment commented on #2111
All right! All done, nice logging, nice start and kill script, much beautifulness.

Assigning to @mandric for review, and @bishwas-medic I'd love to have your input as well, since you've gone through sentinel-trouble.
 - is it understandable?
 - does it work?
 - does it need anything else?
 - what values would make sense for the number of events that trigger an email?
 - what recipient email?
 - A

[2016-05-12 14:45] alxndrsn commented on #2288
:+1

[2016-05-12 19:55] garethbowen commented on #2284
One's in erlang and the other's javascript so it'd be difficult.

[2016-05-13 00:16] abbyad commented on #2046
Noticed that the user is partially created if I get the error response: `_id must be lower case. e.g. "org.couchdb.user:sally"`

The user can be seen in the Users config page, but it has a warning `A call to facility with the expectation of having person data` and deleting the user shows a `Error deleting document` 404, but actually deletes the (partial) user.

[2016-05-13 00:23] abbyad commented on #2046
I was able to create a username with a space, but that user could not log in.

[2016-05-13 00:28] sglangevin commented on #2277
I've done more testing, loading a phone on 2.6.3-beta. I still see one `console not defined` error (`error fetching read status`), but tasks and targets load normally and persist after a reload. Here's what I get on initial load:

![image](https://cloud.githubusercontent.com/assets/1286381/15234164/9ecd1642-1863-11e6-914d-fd1e980a7b35.png)

After a reload, no errors:
![image](https://cloud.githubu

[2016-05-13 00:31] sglangevin commented on #2278
Tasks are clearing properly in 2.6.3-beta.3291. Moving to ready.

[2016-05-13 02:20] SCdF commented on #2284
You can write views in Erlang too, but regardless the concept of the two functions are not really the same:
 - One is a filter that takes a username against a request and returns true or false for a document
 - One is a view that for every document emits the name (or names) of the users who should get this document

So they are almost the opposite of each other in some ways. I guess you could do s

[2016-05-13 03:58] SCdF commented on #2284
Here is a quick attempt I pushed before the cafe kicked me out: https://github.com/medic/medic-webapp/pull/2293

It actually seems to work, but I'm not confident enough in anything to merge it. No perf tests etc. You get the idea though.

[2016-05-13 08:25] estellecomment commented on #2284
Interesting!
Agree that complexifying and slowing down the erlang is a bummer.

Or how about this : you leave the doc_by_place filter as-is, and each client makes a query with an ad-hoc  map function, specific to the querying user.
[code]
(the ad-hoc view vs. stored view is to avoid having to store one view per user for ever, because each edit would trigger reindexing, for nothing)

Downside : ad-

[2016-05-13 15:17] estellecomment opened #2294 "Navigating straight to `medic/_design/medic/_rewrite/#/configuration/user` breaks editing"
Apparently for admin only...

1. Navigate to http://localhost:5988/medic/_design/medic/_rewrite/#/configuration/user, click 'Edit User Profile'
2. See non-populated form :
![screen shot 2016-05-13 at 17 09 43](https://cloud.githubusercontent.com/assets/911434/15252368/c9a60796-192d-11e6-89d5-151d1616db3b.png)
3. Whether or not you enter stuff, when you try saving, you get as error (doc update conf

[2016-05-13 17:24] abbyad opened #2295 "Prevent use of app until first load is complete"
We should make sure that it is clearer to users that the app is ready to use. This is also related to #2024, #2284.

We have had several reports in the last couple of weeks of the app not doing the initial load fully, and it not being clear when the app was ready to use. We have previously said that the app is ready to use when x forms could be seen in the Action menu in the Reports tab. This does

[2016-05-13 17:28] abbyad opened #2296 "Ability to set a user to access app in "online-only" mode"
_"As a potential partner testing out our app I want to start using the app immediately when I log in so that I don't become distracted/disinterested/discouraged waiting to figure out when the app is ready to use"_

Having an online-only mode seems contrary to what we have been doing, but this is so that a user testing out the app for the first (and perhaps only) time does not have to wait 5-10 min

[2016-05-13 18:28] abbyad commented on #2295
Closing as this seems to be a duplicate of step 3 in #2279.

[2016-05-13 18:28] #2295 closed

[2016-05-13 20:00] abbyad commented on #2239
Some notes from testing:
- Creating a Place with a Contact that belongs to that place requires three API calls: 1) create place 2) create person with place as parent 3) update contact of place to be the newly created contact.
- Multiple places/places can have the exact same name and parents. Eg you can several "Demo Branch", or several children with same name in a single family. It would be more i

[2016-05-13 20:00] abbyad commented on #2046
Notes from testing:
- When creating a user the place is automatically created, but the response does not give you the ID of the place created for the user's contact.
- The parent is automatically created even if a top level place of the same name exists. For instance, if you have `place.parent.name` set to "Demo Branch" you will have one "Demo Branch" created for each user you create. The alternat

[2016-05-13 22:43] sglangevin opened #2297 "Show places in hierarchical order when selecting a user's place"
When creating a user, restricted users can only be associated to a family (`type: clinic`) or CHP Area (`type: health_center`). In order for branch managers to use the app effectively, they should be able to be associated with a particular branch (`type: district`) so that they see a list of CHP Areas when they log in but aren't able to see places outside of their branch.

[2016-05-13 22:48] sglangevin opened #2298 "Make it possible for a user to see a subset of contacts within their place"
_"As a CHP/CHW supervisor I want to see only the CHP Areas/CHW Areas or CHPs/CHWs that I manage when I log into the app"_

This one probably has lots of overlap with design work currently being done on the contacts tab (cc @diannakane) but having a way to configure which CHPs or CHP Areas are displayed when a given user logs in based on a characteristic of those areas would be helpful. For example

[2016-05-13 23:01] diannakane commented on #2298
We are designing with this expectation, so if this isn't currently
feasible, I'd add it to our top priority list.

On Fri, May 13, 2016 at 3:48 PM, Sharon Langevin <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Des

[2016-05-13 23:42] abbyad commented on #2298
This increasingly sounds like we need a group concept, as opposed to a strict tree hierarchy.

[2016-05-13 23:53] diannakane commented on #2298
@abbyad, I agree but I'm curious as to what you read in this issue that
reinforced that?

On Fri, May 13, 2016 at 4:42 PM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://ww

[2016-05-14 00:02] abbyad commented on #2298
If we had unlimited levels in the hierarchy we could handle this by having a level for supervisors. Otherwise having users see a subset of users implies forming a group of some kind.

[2016-05-15 23:33] garethbowen opened #2299 "Use $translate instead of translateFilter"
We should call the translate server instead of the filter everywhere except from actual filter code.

[2016-05-16 01:06] garethbowen commented on #2240
2.6.2 got released but we found a blocker before rolling out to production. This will be fixed in 2.6.3.

[2016-05-16 01:06] #2240 closed

[2016-05-16 01:53] garethbowen commented on #2277
@sglangevin I've pushed a new 2.6.3-beta.3308 which has a patch for the "error fetching read status" bug and also replication performance improvements. Could you please update and try again when you have some time?

[2016-05-16 03:41] garethbowen opened #2300 "Don't fetch form titles for each Contact report"
In the ContactsContent controller, for each of the selected contact's reports, we [fetch the form definition](https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/contacts-content.js#L21). This could be dozens of requests.

Only make one request for all titles.

[2016-05-16 08:38] estellecomment commented on #2299
LGTM

[2016-05-16 08:38] #2299 closed

[2016-05-16 08:43] estellecomment opened #2301 "Reload when changing a user's password is unnecessary"
You should get a page reload when changing your own password, but not someone else's.

https://github.com/medic/medic-webapp/blob/develop/static/js/controllers/edit-user.js#L156

[2016-05-16 09:41] garethbowen opened #2302 "Improve search performance"
Currently the Search service fetches the entire doc and then in all instances the result is summarised to be displayed. We can improve performance by modifying the views to return a summary object as the value.

The summary would contain something like: `name`, `location` (array of parent names recursively), and `reported_date`.

This is a requirement to make Select All in bulk delete #1000 work s

[2016-05-16 09:43] #2278 closed

[2016-05-16 10:04] garethbowen commented on #2248
One comment, otherwise looks great.

[2016-05-16 15:31] estellecomment commented on #2267
How's that even better :
 - Two servers, lg.app vs lg-training.app
 - Add a hidden toggle in android app to switch from one to the other
   - only known to the tech people, not the CHPs
   - Actual URLs/passwords are not visible or editable, just display “training” vs “real”
 - App now has two pouchdbs, so you’ll have to first-load both on each phone. But the training data should be small enough,

[2016-05-16 15:48] #2248 closed

[2016-05-16 16:40] sglangevin commented on #2267
@estellecomment would that ensure that any form submitted in training mode but not synced prior to the switchover to non-training mode would be tagged correctly? That's been the challenge we keep running into as we discuss the options. Ideally, when you log into lg.app, the app would also log you into lg-training.app and load the forms there.

How would the switchover work? Would it need to replic

[2016-05-16 18:02] sglangevin commented on #2277
@garethbowen I'm getting `error loading tasks` again when I update. This seems to be step back from the previous beta, where I got the `error fetching read status` but had no problem loading tasks and targets. Reopening.

![image](https://cloud.githubusercontent.com/assets/1286381/15298692/65f59a7a-1b55-11e6-8b3c-f1915431fc40.png)

[2016-05-16 18:35] abbyad commented on #2297
What is preventing the selection of a branch as the "Place"? Can you give some more details on what didn't work?

[2016-05-16 18:39] sglangevin commented on #2297
The `place` drop-down in the UI only lists families and CHP areas, not branches.

[2016-05-16 18:45] abbyad commented on #2297
They are out of order... look for branches in the middle

[2016-05-16 18:45] sglangevin commented on #2297
Cool, found it. Why is this drop-down different from all of the others?

[2016-05-16 18:48] abbyad commented on #2297
No clue why that one is different... but they happen to be sorted alphabetically based on type (`clinic`, `district_hospital`, `health_center`). That may be a coincidence though.

We should rename this issue to show Places in hierarchical order:
 `district_hospital` > `health_center` > `clinic`
aka Branches > CHP Areas > Families

[2016-05-16 18:52] sglangevin commented on #2297
Updated issue name - the dropdown for selecting a user's place is different from all other dropdowns. Seems like we should use select2 for that one as well.

[2016-05-16 19:00] estellecomment commented on #2267
So, it would be two completely separate apps, side by side on the phone. There wouldn't be any tagging, it would be like using lg vs lg-testing, they're separate.

So you'll need to replicate the two, yes. Which is twice as much pain, yes. When the tech people first load the phones, they log into both, and load both.

Switching over can be done by pressing a button somewhere, ideally by the tech p

[2016-05-16 19:33] garethbowen commented on #2267
We decided on the iteration call today that we will have another instance just for training, then users will download the dev android app _and_ the LG app. When training is finished the dev app will be uninstalled.

[2016-05-16 19:38] estellecomment commented on #2267
In the dev app, you have to enter the URL for the server, right? That means giving the admin credentials to the LG techs. Do they already have them anyway?

[2016-05-16 19:39] sglangevin commented on #2267
No, you just enter the URL then log in as the user. We'll just need to create users in 2 places, but that should be a small amount of effort.

[2016-05-16 19:39] garethbowen commented on #2267
You don't need the admin credentials, just the URL (without basic auth). Then you can enter the users credentials into the login screen.

[2016-05-16 20:08] estellecomment commented on #2277
From a technical standpoint, I think it's fair to say, if you will, AAAAARRRRRRRRRRGGGGGGGHHH

[2016-05-16 20:24] garethbowen opened #2303 "Create lg training instance"
Create a training instance ("lg-training.app.medicmobile.org" ?) and set it up with the same configuration as the production instance.

[2016-05-16 20:27] garethbowen commented on #2000
This hasn't happened since. Closing until it happens again.

[2016-05-16 20:27] #2000 closed

[2016-05-16 21:02] mandric commented on #2298
Also been thinking it might not be that hard to modify our hierarchy structure to be more configurable so you can define as many levels as you want.  There would be more configuration, likely a schema to define a hierarchy so on the db-level we can validate hierarchies and contacts.  Instead of type=clinic etc we might change to `type="place:levelN"` where N is a number 0-N, zero being the top of

[2016-05-16 21:30] garethbowen commented on #2277
I've been looking at another "that can't possibly happen" issue this week also related to race conditions at startup. I'm wondering if there's a bug in Chrome's web worker implementation. I'm tempted to remove the pouch worker plugin and see if that fixes it.

[2016-05-17 03:11] garethbowen commented on #2120
Closing as the fix is to replace the Google infrastructure with the couch2pg adapter as @btbonval mentioned.

[2016-05-17 03:11] #2120 closed

[2016-05-17 03:15] garethbowen opened #2304 "Stop listening for db changes gracefully on refresh"
When refreshing a page (or navigating away) we get errors in the console about the two changes listeners being forcefully killed. Stop listening on controller destroy event (or similar) so these are cleaned up nicely.

[code]

[2016-05-17 07:47] estellecomment opened #2305 "`known` shouldn't be in _users"
The `known` field is stored both in the `_users` db and in `user-settings`. It's not used in security, and needs to be accessed offline, so it should be in `user-settings` only.

[2016-05-17 09:44] mandric commented on #2305
Pretty sure when I tested it the tour was affected by the change in _users also. So if we update this we need to test that.

[2016-05-17 09:48] estellecomment commented on #2284
Good news, PouchDB replication will ignore the docs that you fetched with the view query!
Provided they have the same rev in both dbs, which you can achieve by saving them with `{new_edits: false}`.
http://wiki.apache.org/couchdb/HTTP_Bulk_Document_API#Posting_Existing_Revisions

Example script: https://github.com/medic/medic-webapp/blob/develop/scripts/first_load_with_view.js
Example log : [first

[2016-05-17 09:48] estellecomment commented on #2305
Ah, good to know. Ok.

[2016-05-17 10:20] estellecomment commented on #2284
Now with pre-fetched seq number! You avoid fetching all the deleted docs, since you don't get early changes.
Note that once a replication is done, the next one will start from where the first left off (last_seq is saved in a _local doc). So you only need to specify the seq for the first time you run replication.
That means when you reload the page, the seq number is stored, we don't need to persis

[2016-05-17 22:04] garethbowen opened #2306 "Snackbar showing all the time"
@sglangevin has found on 2.6.3.beta on the Tecno the snackbar is showing all the time.

![screenshot_2016-05-17-13-22-03_720](https://cloud.githubusercontent.com/assets/2064938/15340865/d1205aac-1cdf-11e6-8eca-625a285824ad.png)

[2016-05-17 22:06] garethbowen commented on #2306
When I inspect the styles for the element I only see the modern styles which the webview on the Tecno doesn't understand. The autoprefixer should be adding extra styles for backwards compatibility.

[2016-05-17 22:15] mandric opened #2307 "add `reported_date` to required fields in validate_doc_update for type:person records"
Maybe for contacts in general?

[2016-05-17 23:02] garethbowen commented on #2277
That did indeed seem to fix it, but caused a small performance regression. I'll spend a little more time debugging this to see if we can have both worker-pouch _and_ fix these errors.

[2016-05-17 23:26] garethbowen commented on #2306
Autoprefixer was using 'last 2 browsers' which is great for evergreen browsers but not so good for browsers stuck on android 4.4 webview (like ours). I presume because a new major version of android is being released 4.4 suddenly became < 'last 2 browsers' and got dropped. I've added 4.4 explicitly so it won't be dropped again.

[2016-05-17 23:30] garethbowen commented on #2277
Some thoughts... old web worker implementations didn't have access to the `console` so it's possible it's code inside the web worker (inside pouch?) that's causing this. For example having debug mode on spits out lots of console log lines.

[2016-05-17 23:37] garethbowen opened #2308 "grunt load tasks takes took long"
It takes 1.1s on each grunt build just to save us from having to explicitly declare each grunt dependency. Remove it.

[2016-05-17 23:46] garethbowen commented on #2308
I was wrong - even hardcoding them it takes this long. It's presumably the initialisation time of the task, not finding the tasks that takes 1.1s. No quick fix. Closing.

[2016-05-17 23:46] #2308 closed

[2016-05-18 07:04] estellecomment commented on #2277
👀  :popcorn:

[2016-05-18 11:39] garethbowen commented on #2277
Root cause: https://github.com/nolanlawson/worker-pouch/issues/16

I'll hold off releasing 2.6.3 and hopefully get a solution soon.

[2016-05-18 15:40] abbyad opened #2309 "Confirm with Enter, Cancel with Escape"
For desktop users doing repetitive tasks like deleting many users it would be useful to confirm a modal dialogue with Enter, and cancel it with Escape.

![image](https://cloud.githubusercontent.com/assets/789512/15365044/c14f3302-1cec-11e6-9f82-ee2daa6970f4.png)

This is not high priority, but could help improve the desktop experience for power users as well as less technical users expecting it to

[2016-05-18 15:40] sglangevin commented on #2277
Nice @garethbowen - so glad to hear you found the root cause! Thanks for helping see this through.

[2016-05-18 16:59] mandric commented on #2111
Sorry for the delay here.  PR  +  squash in the future please!  Also:

Every good commit should be able to complete the following sentence:
When applied, this commit will: {{YOUR COMMIT MESSAGE}}

See for more tips: http://www.alexkras.com/19-git-tips-for-everyday-use/#good-commit-message

[2016-05-18 17:04] mandric commented on #2111
I would probably create this as a separate project like medic-sentinel-monitor or even medic-monitors if we are going to need to monitor more than sentinel.

[2016-05-18 17:04] mandric commented on #2111
This really has little to do with webapp and probably should have its own home.

[2016-05-18 17:06] mandric commented on #2111
Would you move it for me and then I will review again?

[2016-05-18 21:31] mandric opened #2310 "support `external_id` property on user-settings docs"
When users are imported from another system, let there be a way to save the id from that system on the user.  So when the data is exported this is also included and makes it easier to integrate with another database.

[2016-05-18 22:22] joshnesbit opened #2311 "Not able to register a new family"
On lg.dev on 2.6.3-beta.3320 in Chrome on my desktop, I'm not able to register a new family. Screenshot below shows console details and the error message presented to me when I click "Submit" at the end of the New Family form.

![screen shot 2016-05-18 at 3 14 13 pm](https://cloud.githubusercontent.com/assets/377216/15376785/150bcc02-1d0c-11e6-9335-73ec21157405.png)

[2016-05-18 22:34] joshnesbit commented on #2311
More info:

![screen shot 2016-05-18 at 3 26 08 pm](https://cloud.githubusercontent.com/assets/377216/15377092/0bed08dc-1d0e-11e6-95f0-f94df78ecc36.png)

[2016-05-18 23:10] sglangevin commented on #2311
This was a config issue and has been resolved - closing.

[2016-05-18 23:10] #2311 closed

[2016-05-19 00:36] mandric commented on #2310
Probably should also update webapp (the UI) before closing this.

[2016-05-19 01:48] mandric commented on #2306
Magic!

[2016-05-19 01:48] #2306 closed

[2016-05-19 08:32] SCdF commented on #2286
OK, so I've looked into replication using a view, and the gist is that it doesn't usefully exist.

It works by using a filter called `_view` which reads the `view` parameter from your request, runs the current doc through that view and if there are any emits the document returns. So it's just as slow as running a filter.

When you think about how replication works I suppose this makes sense, since

[2016-05-19 09:16] estellecomment commented on #2286
Yeah, Pouch doesn't use `_all_docs` because that will only fetch the latest rev, while for replication you want specific revs.

[2016-05-19 10:23] SCdF commented on #2286
I'm an idiot, a view for every user doesn't work, I _just_ said that. So DBs it is.

[2016-05-19 11:10] estellecomment commented on #2286
Or replace replication by view queries. Basically reimplementing replication. Which is probably not a good idea because of infinite finicky little edge cases.

[2016-05-19 12:15] estellecomment commented on #2284
Stumbled onto this timing experiment from a while ago: https://github.com/medic/medic-experiments/tree/master/replication-performance-v0.6

Timing replication vs view query, for the first load. Obviously the view query was much faster. The more docs in the db, the faster it is comparatively.

[2016-05-19 12:22] estellecomment commented on #2111
Here goes!
https://github.com/medic/medic-monitoring/tree/master/sentinel_monitor

[2016-05-19 13:14] estellecomment commented on #1000
@garethbowen can you give me a summary of the code change? How stuff works, which file to start reading at, stuff like that?

[2016-05-19 13:47] estellecomment commented on #1000
also, for the next time, I'm happy reviewing in pieces. Like if you do the backend first, review that, then the front-end piece, then the bells and whistles (or whatever division makes sense)

[2016-05-19 14:35] SCdF commented on #2286
So here is the plan: I'm going to look at the feasibility of baking in the list of who can access the document into the document on document save, on the client, and specifically what kind of performance benefit that brings:

- [ ] locally edit a bunch of documents (~10k) so that they have this information compiled into them. This could be the basis for an eventual / potential upgrade script
- [ ]

[2016-05-19 14:56] SCdF commented on #2302
This seems legitimate. The views used in searches are (IIRC) exclusively used for searching, which is a good start. They currently blurp out some stuff in their values, and at some point I tried removing it to increase performance, but I horribly broke things. That either means someone already relies on them, or I just broke something (could be either).

Thoughts to chew on:
 - We'd have to think

[2016-05-19 16:09] mandric commented on #2111
Awesome!  Ok now how do you feel about removing the nodejs based cron (sentinel_monitor_launcher.js) and using a simple unix cron entry instead?  Just include some instructions on setting up an example cronjob in the readme?  Following the "less code is better" principle here...

[2016-05-19 20:52] garethbowen commented on #1000
I guess I'd start in the Reports controller. The crux of the change is that selected is now an array instead of just the selected object. This applies to both select mode and view mode to keep the same code being used in both. If you can follow this and the associated template changes then hopefully everything else will flow from there.

One change I thought you might be interested in is I'm now p

[2016-05-19 22:07] sglangevin opened #2313 "Support creation of other family members in Enketo"
We currently support the child-repeat section in our Enketo implementation, which, when registering a family, allows a CHP to register multiple children (or other family members) when creating a family. Ideally, we would have more flexibility in creating people during family registration so that we can handle other use cases where CHPs are registering families with different structures.

For examp

[2016-05-20 00:04] sglangevin commented on #2306
Looks good in beta-3331, moving to ready.

[2016-05-20 00:43] garethbowen opened #2314 "Update worker-pouch"
#2277 was found to be caused by https://github.com/nolanlawson/worker-pouch/issues/16 . If the PR is accepted and worker-pouch released bump the version we're using in develop and testing and remove our monkeypatching in testing. If it doesn't get released, then convert the monkeypatch to the new format and commit to develop.

[2016-05-20 00:43] garethbowen commented on #2277
Assigning to @sglangevin for testing.

[2016-05-20 00:43] #2277 closed

[2016-05-20 02:29] garethbowen commented on #2304
This only appears to affect Firefox and may in fact be a Firefox or PouchDB bug. I tried to hook in to Angular's scope destroy event to clean up the listeners nicely, but they seem to fire too late. Ignoring this for now.

[2016-05-20 02:29] #2304 closed

[2016-05-20 08:01] estellecomment commented on #2286
So, not moving off filtered replication?

Plan sgtm! Last checkbox is covered by https://github.com/medic/medic-webapp/issues/2284, both are interesting IMO.

[2016-05-20 09:31] SCdF commented on #2286
Yeah, the last checkbox is just to show a sort of direction of thought, not something I'd do in this ticket. I'll link it.

In terms of not moving off filtered replication, I've had some conversations with @garethbowen about this and basically it's not really possible. There are no good solutions to remove filtered replication that don't add huge amounts of mental madness. One thing we've talked a

[2016-05-20 17:56] abbyad commented on #2239
I haven't found anything major in testing, but noticed that the `reported_date` is not set automatically. It is set when a person or place is created using the UI, and is used in our task rules as well as in our delete script, so it would be good for the API to set them by default.

In the meantime, for users the `reported_date` can be specified as:
`place.reported_date` for the place
`contact.rep

[2016-05-20 17:59] abbyad commented on #2046
The `reported_date` is not set automatically. It is set when a person or place is created using the UI, and is used in our task rules as well as in our delete script, so it would be good for the Users API to set them by default for the people and places it creates.

In the meantime, the reported_date can be specified as:
`place.reported_date` for the place
`contact.reported_date` for the person

[2016-05-20 18:10] sglangevin commented on #2046
@abbyad I believe that @mandric added support for `reported_date` for the `clinic` and `person` - not sure if that's in the LG import script or will be added to the Users API.

[2016-05-20 18:17] abbyad commented on #2046
From my tests the `reported_date` field is not created in the person or place unless you specify it in the json that is passed. I think it should be done automatically in API because someone writing a task rule could expect it to be there for all contacts.

If for some reason we'd want to overwrite it we should be able to set it in the JSON passed in the API call.

[2016-05-20 19:04] sglangevin commented on #2046
Yeah, you're right. That's a good idea - we should do it automatically.

[2016-05-21 21:53] mandric commented on #2046
Yeah good idea. Feel free to create an issue or I'll just add it next time I'm under the hood. ;-)

[2016-05-23 11:44] garethbowen opened #2315 "Searching in send message dialog is broken"
If you open the dialog you see contacts, but then when you start typing it never returns any results. There are no errors in the console.

![send-message](https://cloud.githubusercontent.com/assets/2064938/15469722/41170694-2140-11e6-97a1-03f676da4071.png)

[2016-05-23 12:10] garethbowen commented on #2315
This is a bit of an ugly solution but it works. It'll be awesomer when converted to use the Search service.

[2016-05-23 13:17] SCdF commented on #2286
OK so performance results are **weird**. They lead me to the conclusion that the prime factors that affect filter performance are:
 - Moving from JS to Erlang so that the data can stay native (no parsing into and out of JSON over the wire)
 - The literal byte-length of the Erlang filter. My guess is that it is eval'd every time the filter runs (smaller = quicker to parse).

### Details

_(the sect

[2016-05-23 14:01] mandric commented on #2307
Related #2239

[2016-05-23 14:50] SCdF commented on #2315
Uhm… that is so weird? Did we update select4 and broke it or something? That (the pre-change code) doesn't look modified from when I was mucking around there and it was working fine (you know, for a definition of fine) for me…

[2016-05-23 14:50] SCdF commented on #2315
(code looks fine btw)

[2016-05-23 14:50] #2315 closed

[2016-05-23 15:51] mandric commented on #2307
Thinking every doc should have a `reported_date` or a `created_date`, maybe reserving `reported_date` for form submissions.  Or docs that have forms.

[2016-05-23 17:54] abbyad commented on #2303
Instance created with lg.app clone from 2016-05-09: lg-training.app.medicmobile.org

@sglangevin please configure and manage users as needed

[2016-05-23 17:54] #2303 closed

[2016-05-23 18:02] SCdF opened #2316 "Changing compiled ddocs doesn't fire grunt dev correctly"
Changing a compiled ddoc (ie stuff in `ddocs/`) should cause `grunt dev` to fire, compile the change and push it to couch.

[2016-05-23 18:21] SCdF commented on #2286
^-- I uploaded my experimental filters and their results if anyone is interested / think I'm crazy.

[2016-05-23 20:01] garethbowen commented on #2316
Nice.

[2016-05-23 20:01] #2316 closed

[2016-05-23 20:26] garethbowen commented on #2315
Yeah I have no idea when it broke. It might need an e2e test...

[2016-05-23 21:07] browndav commented on #2216
See https://github.com/medic/medic-os/blob/dev/INTERNALS.md for updated documentation.

[2016-05-24 10:24] garethbowen commented on #2302
This change conflicts with the bulk delete branch but I'll update that branch before merging it into develop.

[2016-05-24 12:14] SCdF opened #2317 "See if COUCH-1874 affects us negatively"
See: https://issues.apache.org/jira/browse/COUCHDB-1874

Original mailing list issue is here: https://mail-archives.apache.org/mod_mbox/couchdb-user/201308.mbox/%3C22EF1AC0-CEDA-483B-A7A3-048C15E6D489%40baaz.fr%3E

[2016-05-24 14:30] SCdF commented on #2302
Looks good! Out of interest, do you have any fun stats re: bandwidth / perf differences?

[2016-05-24 14:30] #2302 closed

[2016-05-24 14:37] estellecomment commented on #1000
The checkboxes don't stay checked, they uncheck in a seemingly random way. The selection seems to be remembered right though.
![screen shot 2016-05-24 at 16 35 47](https://cloud.githubusercontent.com/assets/911434/15507927/c956c58e-21cd-11e6-8ed3-c53126caa45d.png)

[2016-05-24 14:42] estellecomment commented on #1000
Select all is either slow or doesn't work, I get a spinner.

[2016-05-24 14:43] estellecomment commented on #1000
Select all, then unselect all, then select all gives me these console errors :
[code]

[2016-05-24 14:46] estellecomment commented on #1000
- [ ] When I get into select mode, the green dots shift to the left and the text shifts to the right, it looks weird (which you probably saw but tried to ignore because CSS is annoying)(yay code review!)

[2016-05-24 14:49] estellecomment commented on #1000
- [ ] To get out of select mode, the button says 'Close', but you're not really closing anything, you're changing modes. I vote for 'Done' instead

[2016-05-24 14:57] estellecomment commented on #1000
- [ ] If you select 2 records, then unselect 1 from the 'X' in the RHS, then 'Delete All', it says 'Are you sure you want to delete 2 records'

[2016-05-24 15:01] estellecomment commented on #1000
- [ ] Select something in filter, then get in select mode. Filters stay enabled.

[2016-05-24 16:26] SCdF commented on #2286
Raised https://issues.apache.org/jira/browse/COUCHDB-3021

[2016-05-24 16:51] btbonval opened #2318 "Standardize table and column for the adapter"
When the adapter was first written, there were very few absolutes. It was meant to be very flexible.

The table and column are extra variables which allow someone to _potentially_ add a new column to an existing table.

So we have two variables which need special handling and a bunch of testing for various cases (is there a table? if there is a table, is there a column?).

The analytics stuff, in

[2016-05-24 16:56] #2300 closed

[2016-05-24 17:30] SCdF commented on #2286
I have also pinged the mailing list (I'll link once it appears on their web cache). This is really all we can do for now, once there is some movement on either / both of those I'll update.

In side-news, there appears to be a fork of couchdb that supports view replication: https://github.com/barrel-db/barrel . Not sure we are desperate enough to move to a fork for one feature, but there it is rega

[2016-05-24 17:37] SCdF commented on #2286
OK but in other news I just saw this in the code: https://github.com/apache/couchdb-couch/blob/master/src/couch_changes.erl#L297-L319

I have no idea how to read Erlang, but it _looks_ like there is an implication that (at least in master) there is a way to use views for replication and have it actually be fast.

[2016-05-24 18:12] SCdF commented on #2286
OK so more digging:

Testing underway…

[2016-05-24 19:01] SCdF commented on #2286
Yeah I'm not sure about this. I can add the option and nothing breaks, but I can't get the key option to also work. Looking through the code is… challenging.

[2016-05-24 19:14] SCdF commented on #2286
I edited my view code so it logs whenever it's called, and adding those options doesn't stop the function from being called each time, which means we are no closer to running "fast" view code.

[2016-05-24 20:33] garethbowen commented on #2302
No I was too lazy. I'd guess it's about 10% the size before gzipping.

[2016-05-24 21:31] garethbowen opened #2319 "Simplify rules engine data gathering"
In #2302 the Search service was modified to get document summaries by default. An option was added to get the full details which does the search with the filters then calls the all docs view instead of the summary view. This is only used in the RulesEngine service.

Remove the `include_docs` option in the Search service and rewrite the RulesEngine to use the docs_by_type view instead. We can take

[2016-05-24 23:52] garethbowen commented on #1000
If Changes fired while in select mode it got out of sync. Changes will fire if you're selecting a doc you haven't read before (for example). This is now fixed.

Fixed.

This is by design. You just can't change filters once you've selected something in select mode.

This is as in the mockup. Let's leave it for UAT. It's translated so it can be changed in the field anyway.

Yeah... the problem here

[2016-05-25 03:43] garethbowen commented on #1000
Search service has been refactored and I can't reproduce this now.

I've merged in the latest from develop including the Search performance improvements so Select All should perform much better now.

@estellecomment This is now ready for review again. :)

[2016-05-25 08:37] estellecomment opened #2320 "Make actionbar a reusable component"
Right now actionBar is owned by inbox, and each controller has to call inbox's `setActionBar` to place the stuff it wants in it.
It would be better to make an actionBar angular directive, that each controller could set in its template and fill in with whatever icons and actions.

[2016-05-25 09:14] garethbowen commented on #2320
Because of the way it's fixed to the bottom it needs to be outside of the individual controllers scope so AFAICT this is not currently possible. Yes, a CSS limitation is causing this... ugh.

By changing the design I think we could make this much better. For example if the action bars weren't floating but actually inline at the bottom then it would be easy. Alternatively we could use the material

[2016-05-25 10:12] SCdF commented on #2286
Mailing list thread: https://mail-archives.apache.org/mod_mbox/couchdb-user/201605.mbox/browser

[2016-05-25 13:16] estellecomment commented on #1000
I do think it should be fixed forreal. If UAT doesn't complain, I will re-complain :) Lemme know if you need help. I'm seeing it on Chrome 50.0.2661.102, are you using Firefox?

Oh I see. I expected it would be the switching to select mode that would block the filters, rather than the first selection.
It would be functionally equivalent (no changing filters in selection process), have we discussed

[2016-05-25 13:55] estellecomment commented on #2317
If the issue is the 'continuous' flag, we can run one-time replications instead, one after the other.
(It would also allow to know better when your sync is done, and optionally to sync less often, to sync on demand...)

[2016-05-25 17:35] diannakane commented on #1000
@estellecomment Yeah, they're functionally equivalent, but this way
provides you with the ability to start with a pre-filtered list and adjust
your filters without the "back" and "re-enter select mode" steps. Here's a
summary of our conclusions. Full conversation in the #design channel,
around April 19th.

Update on filter behavior discussion: After careful consideration and
reflection with variou

[2016-05-25 20:50] #2100 closed

[2016-05-25 22:16] garethbowen commented on #1000
Fixed.

[2016-05-26 02:34] garethbowen commented on #2314
The recommendation is to update to 1.1.0 and use the custom code to provide our own worker wrapper.

[2016-05-26 03:30] #2291 closed

[2016-05-26 05:00] garethbowen commented on #2314
Sorry for the multiple commits but I needed to deploy it to a remote server to test for the "console not defined" error ( #2277 ).

[2016-05-26 10:27] SCdF commented on #2124
So I've looked at what we convert from XML into JSON:

Code entry points are pretty much [here to convert a report](https://github.com/medic/medic-webapp/blob/develop/static/js/services/enketo-translation.js#L303) and [here to convert a contact](https://github.com/medic/medic-webapp/blob/develop/static/js/services/enketo-translation.js#L308). These both follow a very similar formula which looks li

[2016-05-26 10:37] garethbowen commented on #2319
It turns out it's not so simple - we only want "valid" reports so some filtering has to happen. Search is fine for now.

[2016-05-26 10:37] #2319 closed

[2016-05-26 15:02] SCdF opened #2321 "See if we can cancel an existing search if search terms change"
Check this [select2-ajax.js](https://github.com/medic/medic-webapp/blob/develop/static/js/modules/select2-ajax.js) code out:

[code]

We store the 'current' query so that when we get a search result back we know if we can discard it (because it's not the latest).

What would be better–for this and maybe even for all interactions with the Search service–is if we stored the promise and then invalida

[2016-05-26 15:15] btbonval commented on #2124
@sglangevin @abbyad @browndav Can you guys take a look at the above?

We're talking about letting the webapp do the XML parsing instead of having that performed in the adapter to reduce duplicated effort. There was some debate awhile ago that the adapter should parse its own XML, but I don't remember those arguments.

The strongest argument for adapter XML parsing that I recall is "if there's a ch

[2016-05-26 15:19] btbonval commented on #2124
@michaelkohn I'm going to ping you to speak from an analytics side. Please take a look at the above and let us know what we might need to consider with respect to analytics and existing projects like LG. You and I might need to create some kind of experimental side project to ensure that we can find all of the expected data without parsing any XML, which could be done independently of any other ef

[2016-05-26 16:28] SCdF commented on #2318
I'm going to remove the config options of this as part of the refactor to support deletes and updates correctly

[2016-05-26 18:54] SCdF commented on #2314
I think it's OK? I made some comments. Exactly what this is doing is reasonably out of my wheelhouse…

[2016-05-26 20:24] garethbowen commented on #2314
This is a more stable fix for the "console not defined" bug in #2277, so to test this it needs to be installed on a remote server and then accessed with a Tecno. Then refresh a few times. If you see "console not defined" at any point then this patch has failed...

[2016-05-26 20:24] #2314 closed

[2016-05-27 00:02] diannakane opened #2322 "Branch manager level permissions level needed"
A branch manager is bound to the same permissions as a CHP because they are a user restricted to seeing only their place, yet we may want to configure their permissions differently than a CHP.

[2016-05-27 02:26] abbyad commented on #2322
Good point. We should do a larger review of our user types (aka roles) given the new functionality in the app.

[2016-05-27 10:03] SCdF opened #2323 "Use DB migration tools in medic-analytics"
To support #2124 we'll be changing the schema in a few ways:
 - Adding a meta table, that will contain the seq we are up to (so we can follow the changes feed)
 - Adding a new column (or JSON index) to the json table that contain the rev of the document so that we can find it again

Currently the code attempts to query tables and if that fails it tries to create them. This doesn't really scale pas

[2016-05-27 10:05] SCdF commented on #2323
Also, with #2318 we're getting rid of the option to pick your own table and column names, which makes this more possible.

[2016-05-27 10:08] SCdF commented on #2318
Note that existing installations use `couchdb` and `doc` for the table and column name respectively.

[2016-05-27 10:12] SCdF commented on #2323
To deal with existing installations along side new ones we're probably going to write migrations something like this:
 - simple sql to create tables with new names
 - js migration to attempt to move existing data over (if it / the table exists) to accommodate existing installations
 - simple sql to delete existing tables and rename new tables to the old names

[2016-05-27 10:22] SCdF opened #2324 "Create repo for COUCHDB-3021 so it will hopefully get picked up"
https://issues.apache.org/jira/browse/COUCHDB-3021 has not been picked up by the couch guys, so maybe we should make it easier to understand by writing a minimal case repo they can use to reproduce the problem:
- project that pushes a ddoc into couch
- and generates ~10,000 documents with some data you could filter on
- that ddoc would have two erlang filters
  - one that simply checks for the dat

[2016-05-27 11:58] estellecomment commented on #2111
Done @mandric !

[2016-05-27 12:06] estellecomment commented on #2111
Figuring out with @browndav where the best place to put it is. Right now it's in vm user's home, which is probably not the best.

[2016-05-27 14:29] michaelkohn commented on #2124
@btbonval Just so I'm clear, does this mean form_metadata and formview_XXXXX_9999-99-99 go away and we just have the high level views getting data directly from couchdb.doc?

[2016-05-27 15:55] btbonval commented on #2323
for rev, you just need a new index.

That'd get added to this line:
https://github.com/medic/medic-analytics/blob/master/libs/couch2pg/pgsql.js#L12

`CREATE INDEX %I ON %I ( (%I->>\'_id\'),  (%I->>\'_rev\');` and add a bunch more attribs at the end, one being `[c.jsonTable, c.jsonCol, 'uuidrev'].join('_') for the index name, the others being the table and column multiple times.

[2016-05-27 17:23] btbonval commented on #2323
We also need a new table for migration management, but that is handled by the migration software.

[2016-05-27 22:45] sglangevin opened #2325 "All requests to CouchDB seem to time out after 10 seconds"
When loading lg.app contacts, history, or messages, requests seem to time out after 10 seconds. This also happens when trying to edit contacts, but is not reproduced reliably. Seems to be dependent on server load and the amount of work CouchDB is currently doing in terms of updates. Needs more investigation as we should consider increasing the timeout - would be helpful to find where this timeout

[2016-05-27 22:49] sglangevin opened #2326 "Long delay between completing request for documents of type person and the dropdown actually displaying anything"
The request for this URL (https://lg.app.medicmobile.org/medic/_design/medic/_view/contacts_by_type?keys=%5B%5B%22person%22%5D%5D) completes in less than 5 seconds but it takes at least 30 seconds for those results to be displayed in the dropdown. @SCdF said that the search improvements that @garethbowen did recently should help with this. Can we consider testing and merging those changes into LG'

[2016-05-27 22:55] sglangevin opened #2327 "When creating a new person as a district's primary contact, that person is not created within the district"
![image](https://cloud.githubusercontent.com/assets/1286381/15622946/3035b3da-2423-11e6-948b-2ae39d7337d8.png)
![image](https://cloud.githubusercontent.com/assets/1286381/15622952/3d2f04ba-2423-11e6-8693-2b24c393ca9c.png)

Looking in Futon, the `parent` field is blank for this contact. It should be set to the district place that is being created at the same time.

[2016-05-27 22:58] sglangevin opened #2328 "Phones with poor internet connections get an error page when trying to update"
@Enock1990 experienced challenges with config updates in the field with BRAC this week. Phones received a config update and got the update notification. However, when they clicked Update, the phone tried to reload and they landed on an error page due to poor connectivity. This issue was also experienced by LG when CHPs clicked Update while the server was down.

We should investigate and perhaps ha

[2016-05-27 23:03] sglangevin commented on #2303
This is up and running and working well.

[2016-05-27 23:04] sglangevin commented on #2277
After a very long saga, this is working well! Thanks to @garethbowen for tracking down this bug.

[2016-05-27 23:15] abbyad commented on #2327
How are you creating the person? A link to the form definition may be helpful.

[2016-05-27 23:16] sglangevin commented on #2327
Using the built-in form for District

[2016-05-27 23:17] abbyad commented on #2327
I think this is because being a primary contact for a place does not guarantee that you are in the place. You can set this differently in custom forms for a project.

[2016-05-27 23:22] sglangevin commented on #2327
So should we be creating custom forms for districts as well then?

[2016-05-29 06:07] btbonval commented on #1823
How is this issue different from #1220?

[2016-05-29 06:14] btbonval commented on #2124
@michaelkohn Not necessarily. It means form_metadata and formview_XXXX_9999-99-99 become `view`s instead of `table`s, which means we only need to update or delete from the `couchdb` table and everything magically falls out from that table without any need for softnukes etc.

[2016-05-29 20:54] garethbowen commented on #2326
I'd quite like to stabilise the develop branch and release 2.7.0 which has lots of little improvements like this. Can you wait a couple of weeks?

[2016-05-29 22:51] garethbowen commented on #1706
Moving translations out of app settings will make it harder to add translations, so we may also need to do https://github.com/medic/medic-webapp/issues/1333

[2016-05-29 22:54] garethbowen commented on #1366
`action.clinic.add` is defined in the default translations. The others are all fields that are specific to LG and should be added to medic-projects. I suspect this is already done. @abbyad Can you confirm?

[2016-05-30 09:47] estellecomment opened #2329 "Expose conflicts in DeleteDocs"
Since #1000 , `DeleteDocs` uses `bulkDocs`, which doesn't throw when a conflict happens (as opposed to `put` for single-doc version). Thus conflict errors are being swallowed silently.

E.g. when trying to doc `bulkDocs([doc, doc])` (which is a conflict because the rev is going to be wrong on the second update), it returns :
[code]

[2016-05-30 09:53] garethbowen commented on #2329
Related: https://github.com/medic/medic-webapp/issues/1838

[2016-05-30 09:58] estellecomment opened #2330 "Support `DeleteReports`, not `DeleteDocs`"
In #1000 , we created a `DeleteDocs` service, which doesn't support deletion of _any_ list of docs. It does support deletion of a list of reports however.
Either
- fix it for all types, or
- keep `DeleteDoc` (singular) for all docs and have `DeleteReports` which refuses non-reports.

Example of fail :

[code]

will send this to `bulkDocs` :

[code]

and return a conflict.

A fix would be to check

[2016-05-30 11:34] estellecomment commented on #2329
@garethbowen please review

[2016-05-30 11:35] estellecomment commented on #2330
Though actually, we don't allow editing persons who are contacts for places from the UI.
So I'm not sure where that contact-checking code is used.

[2016-05-30 21:26] mandric commented on #2307
This should include `user-settings` docs.

[2016-05-30 22:33] garethbowen commented on #2286
I'm investigating a filtering workaround... report back soon. If you don't hear from me, send help!

[2016-05-31 01:41] garethbowen opened #2331 "DeleteDoc service breaks replication"
Trying to be clever I modified the DeleteDoc service to post a minimal doc. However because this removes all the details of the doc it not longer passes the replication filter and so the deletion will never replicate to the client.

Change it back to preserve the details of the deleted doc and merely set `_deleted:true`.

[2016-05-31 09:22] #2329 closed

[2016-05-31 09:36] SCdF commented on #2328
So I thought I understood how our updates work, but clearly I don't. My understanding is (was?) that once you get the update notification that implies we've successfully downloaded the whole update already, and so refreshing doesn't actually require the internet.

What kind of error page are they getting?

[2016-05-31 09:54] alxndrsn commented on #2109
@mandric i think you've reviewed this in https://github.com/medic/medic-api/pull/69

[2016-05-31 10:00] estellecomment commented on #2283
Or with less filtered replication, easier to setup :
https://docs.google.com/document/d/1WL1g19S6IPj8oF9Dp0I7y262w1SzxSxxUoGTsqn2UO4/edit

[2016-05-31 10:07] alxndrsn commented on #2229
@btbonval I don't see why `POST` should be blocked if `GET` is allowed - from https://wiki.apache.org/couchdb/HTTP_Bulk_Document_API it seems like `POST`ing to `_all_docs` doesn't allow changes to be made.

Are you accessing the db directly, or via API?

[2016-05-31 11:28] alxndrsn commented on #2193
It doesn't seem like this requires work at this time.  Please re-open if I got that wrong.

[2016-05-31 11:28] #2193 closed

[2016-05-31 12:10] estellecomment commented on #2286
About Couchdb's replication, a Couchbase Lite for ios developer says:

from https://github.com/couchbase/couchbase-lite-ios/wiki/Replication-Algorithm

[2016-05-31 12:20] mandric commented on #2207
I can take this one.

[2016-05-31 12:44] Enock1990 commented on #2328
Let me see if i can replicate that(this is tough because I will require me to have an update though). what was happening is, after clicking on the update while there is no internet they get a ulr showing an error indicating that the user should look if the link is correct or if there is internet.... Ideally my thinking is if i click on 'update' and I don't have internet i can just be taken straigh

[2016-05-31 13:05] SCdF commented on #2286
@estellecomment is that actually about the couchdb implementation, or about their own? The way I read that it sounded like performance notes for their own implementation, not an analysis or CouchDB's

[2016-05-31 13:10] estellecomment commented on #2286
Sounds like it's about Couchdb's:

[2016-05-31 13:10] estellecomment commented on #2286
Cloudant have documented Couchdb's replication algorith here :
http://www.replication.io/spec

[2016-05-31 14:03] estellecomment commented on #2283
One-db-per-user, according to Nolan Lawson:
https://github.com/nolanlawson/pouchdb-authentication#some-people-can-read-some-docs-some-people-can-write-those-same-docs
Interesting point : "Don't be scared: databases are cheap, and Cloudant says 100k databases per account is not uncommon."

This explains access controls, but not how our use case would work. Access to our docs is not that siloed (see

[2016-05-31 14:56] abbyad commented on #1366
All of those are in the LG config. @garethbowen, how do we differentiate project specific fields vs built in fields? I would have expected `clinic.field.children` and `person.field.date_of_birth` to also be included in all projects moving forward.

[2016-05-31 16:04] btbonval commented on #2229
@alxndrsn Directly using CouchDB's API. I don't know why there is a problem, but I know that there is one. Try it for yourself sometime if you're bored. I think there are analytics and demo users which are not admin.

As @SCdF noted out of band, this might be a non-issue now.

[2016-05-31 16:42] alxndrsn commented on #2185
I can recreate the bug, but only with reports dated one day MORE RECENT than the expected boundary:

<img width="571" alt="screen shot 2016-05-31 at 18 40 15" src="https://cloud.githubusercontent.com/assets/191496/15682718/540a4b92-275f-11e6-938c-64ca530a2729.png">

Reports which are one day LESS RECENT do not appear in the filtered list.

[2016-05-31 19:03] #2262 closed

[2016-05-31 19:18] sglangevin commented on #2328
@SCdF that was also my understanding. However, we've seen multiple cases where the user is getting an error page that they need to check their internet connection after hitting the "Update" button. Not sure if that's a 4xx or 5xx type of error. I've also heard of this happening when the server is down, so could be a 5xx error of some sort. When lg.app had some issues during a training, the CHPs wh

[2016-05-31 19:29] SCdF commented on #2328
So @Enock1990 this looks like a Chrome style error then?

[2016-05-31 19:43] sglangevin commented on #2328
I've seen this on my Tecno as well and it looks similar to an error you'd get in a browser.

[2016-05-31 19:45] SCdF commented on #2328
Thoughts on this @garethbowen? Is this completely out of our control? Is it some kind of fundamental issue with the tech we're using for offline apps? It doesn't really seem possible for this to be our code being buggy…?

[2016-05-31 20:02] garethbowen commented on #1366
IMO anything that's defined in medic-projects should be translated in medic-projects to keep them in sync. eg: `person.field.date_of_birth` is defined in the enketo form definition for person (I assume) so the translation should be stored in the config right beside the form definition. Otherwise we could end up with many unused translations just taking up space and bandwidth.

[2016-05-31 20:02] #1366 closed

[2016-05-31 20:05] garethbowen commented on #2286
That's not where our bottleneck is right now. This is definitely a concern - fetching 1000s of docs one by one is not good. But the far bigger bottleneck for us currently is the filter.

[2016-05-31 20:08] garethbowen commented on #2328
I agree that this shouldn't happen. It's probably a bug in our code. For example this could happen if they were redirected to the login page for some reason, because the login page isn't offline capable. It'd be great if this could be reproduced and the Network and Console tabs of the dev tools were screenshotted so we know which URL was being requested. This should be reproducible by dev. Schedul

[2016-05-31 20:23] mandric commented on #2262
Just FYI before you get too deep here, this might also be on the chopping block for refactor. https://github.com/medic/medic-webapp/issues/2048

[2016-05-31 20:24] garethbowen commented on #2185
At some point in the filtering we add a day to the boundary. I think we might do this for timezone reasons.

[2016-06-01 04:45] garethbowen commented on #2286
The current proof of concept is in these two branches:
- https://github.com/medic/medic-webapp/compare/2286-replication-filter-workaround
- https://github.com/medic/medic-api/compare/2286-replication-filter-workaround

Needs more testing and profiling with a full db but it seems to work. I have to put back the initial replication feature as well as migration _to_ the remote db. I'll work on this t

[2016-06-01 07:45] SCdF commented on #2262
@mandric the ticket is closed, there is no intention to go any deeper :-)

[2016-06-01 08:10] estellecomment commented on #1784
Keeping track of some thoughts in this doc :
https://docs.google.com/document/d/1n7bvLPTfN5k8oSQMgW2NMkYxUtHNO4uN-d-XLef-mYg/edit

[2016-06-01 08:16] alxndrsn commented on #2185
@garethbowen so do we actually want to "fix" this?  In many cases it would be safe to assume that reports are being submitted from the same timezone that webapp is running in, but I can think of scenarios where this might not be the case.

[2016-06-01 08:26] SCdF commented on #2286
Huh @garethbowen interesting twist! So instead of restricting the changes feed by id you pull the entire thing and then filter in node. That's a nice way of making sure you get to see all deletions without having to do two queries!

(Looks good so far :-) )

[2016-06-01 08:32] alxndrsn opened #2332 "select language dialog has lost the plot"
I'm seeing some strange boxes:

<img width="1022" alt="screen shot 2016-06-01 at 10 31 43" src="https://cloud.githubusercontent.com/assets/191496/15703138/1b4bd99e-27e4-11e6-81e1-049e2aa82590.png">

Zoom out to see what they say:

<img width="512" alt="screen shot 2016-06-01 at 10 31 32" src="https://cloud.githubusercontent.com/assets/191496/15703154/29312b86-27e4-11e6-9481-86db6ebe3fbc.png">

[2016-06-01 08:38] garethbowen commented on #2286
Yeah. It's not the way I intended to go, but we have to iterate through the changes feed for the deleted items anyway, so I think it makes sense to do both at the same time.

[2016-06-01 08:41] garethbowen commented on #2185
@alxndrsn Yeah I think we should fix this. I think the correct approach is the `reported_date` should be UTC not the local time and then the query converted into UTC before being executed. We keep getting stung by timezone bugs in different forms so it'd be worth exploration to make sure we're consistent. It's just so hard to test when it works in your tz...

[2016-06-01 08:42] alxndrsn commented on #2328
I may not be doing this right, but:

1. log in as admin
2. update `medic-webapp`
3. wait for the update dialog to appear in the browser
4. kill `medic-api`
5. click the _Update_ button
6. observe:

<img width="1274" alt="screen shot 2016-06-01 at 10 40 21" src="https://cloud.githubusercontent.com/assets/191496/15703432/7983e3ac-27e5-11e6-85d2-88e398160db0.png">

[2016-06-01 08:44] garethbowen commented on #2328
@alxndrsn You're missing a trailing slash I think which probably means the appcache manifest URLs aren't matching any more. IIRC if you go through nginx (ie: in prod) you get redirected to have the trailing slash added.

[2016-06-01 08:46] alxndrsn commented on #2328
Thanks, I'll try to recreate on a proper server with a non-admin account.

[2016-06-01 08:53] ranjuts commented on #1784
Hey @abbyad, wanted to confirm this with you --- there have been confusions around whether this issue is focused solely on android app enabled configurations (cc @estellecomment ) or would also take into consideration SMS based config/projects or the other way round (as gareth's comment above). I was under the impression that we would be thinking about both cases. We would be configuring in terms

[2016-06-01 08:54] garethbowen commented on #1450
medic-place-widget.js has been deleted so this is no longer relevant.

[2016-06-01 08:54] #1450 closed

[2016-06-01 08:55] alxndrsn commented on #2328
Steps to **not** recreate:

1. log in as `demo`
2. in a separate browser, update translations
3. disable internet
4. click the _Update_ button
5. observe that things seem to work:

<img width="1272" alt="screen shot 2016-06-01 at 10 52 15" src="https://cloud.githubusercontent.com/assets/191496/15703733/30714b58-27e7-11e6-9470-90f3e029b338.png">

[2016-06-01 09:01] alxndrsn commented on #2328
@garethbowen which URL was missing a trailing slash in https://github.com/medic/medic-webapp/issues/2328#issuecomment-222930335?

[2016-06-01 09:02] garethbowen commented on #2328
You have a URL of form:

`http://localhost:5988/medic/_design/medic/_rewrite#/messages` instead of
`http://localhost:5988/medic/_design/medic/_rewrite/#/messages`

ie: the one before the `#`

[2016-06-01 09:11] alxndrsn commented on #2328
If I add the missing slash locally, I see the correct behaviour:

1. log in as `demo`
2. update `medic-webapp`
3. wait for the update dialog to appear in the browser
4. kill `medic-api`
5. click the _Update_ button
6. observe:

<img width="1270" alt="screen shot 2016-06-01 at 11 09 50" src="https://cloud.githubusercontent.com/assets/191496/15704148/90b980d2-27e9-11e6-81db-a2abb8521416.png">

[2016-06-01 09:13] alxndrsn commented on #2328
@Enock1990 @sglangevin I can't recreate this locally, but as @garethbowen said in https://github.com/medic/medic-webapp/issues/2328#issuecomment-222804687:

[2016-06-01 09:38] alxndrsn commented on #2328
Cannot recreate on tecno:

1. log in on alpha.dev as `demo`
2. make sure phone has latest updates
3. update translations on alpha.dev
2. wait for update dialog to appear on handset
3. kill `medic-core` service on alpha.dev
4. click _Update_ button on handset
9999. watch the loading spinner for a minute or so
1. observe that app has loaded ok
1. here's the network tab for the handset:

<img width="

[2016-06-01 11:20] #1754 closed

[2016-06-01 12:59] estellecomment commented on #2292
One comment about the dependency injection, otherwise LGTM.

[2016-06-01 15:04] #2292 closed

[2016-06-01 17:59] sglangevin commented on #2328
@alxndrsn I think the challenge is that we have had this happen to partners during training, so CHPs are using an app where they cannot easily refresh the page. I'm not really sure how to reproduce this in a way that we could provide the dev tools console output, unfortunately. I know that doesn't really help us, though. @Enock1990 can you provide additional context about when this happened? What

[2016-06-01 20:14] garethbowen commented on #2286
This could be useful: https://github.com/pouchdb/pouchdb/issues/5263

[2016-06-01 21:17] garethbowen commented on #1000
@estellecomment Is this ready for acceptance testing?

[2016-06-01 21:45] diannakane opened #2333 "Create default Edit Place forms that allow users to edit a family's primary contact"
This is not currently editable after the household is created. All fields in household creation form should be editable from the Place profile. If possible, only that family’s members should appear on the list, with the ability to search for other people in the system if desired, such as the family’s CHP.

[2016-06-01 21:46] diannakane opened #2334 "Improve labels in Contacts tab"
— Rename “Contacts” tab to “People.”
— Rename “New Contact” to “New Person,” though the form that appears will be contextualized based on where you are (“New person” in a household will open a family member form, whereas “new person” in an area will open a CHW/staff member form). Projects may configure the naming conventions of any people or place buttons to their choosing.

[2016-06-01 21:47] diannakane opened #2335 "New person and new place buttons should add person/place to the part of the hierarchy in which they are clicked"
New person and place buttons are contextualized throughout the app. Creating a new person or place autofills the new place form with the place in the hierarchy where you selected to add it from. The “reports to” field in the place and person creation form will be automatically filled out with this information, and can be changed during creation or in edit mode.

[2016-06-01 21:58] diannakane commented on #2335
Related issues:
Ability to select where places and people are being added #2193
Create person in any place #2044
Creating a Catchment Area without a Health Center is impossible (confusing UX) #1767

[2016-06-01 21:59] diannakane opened #2336 "Remove all filters in Contacts"
Remove all filters in contacts for restricted release; only have a search bar.

Search bar should say “search everything” to make it clear that it will return all matching results, not just those from the default list you’re presented with. We reserve the option to introduce advanced filters for power users in future versions. for now, we are wiping the slate clean and keeping it simple, so when w

[2016-06-01 22:00] diannakane opened #2337 "Lock “Your Place” at top of left pane"
“Your place” is locked to the top of the left pane list. No levels in the hierarchy above it appear in this list.

@Lesterng to attach mockups

[2016-06-01 22:01] sglangevin commented on #2333
@diannakane a piece of this is a form configuration issue. It's possible to make the primary contact editable, we are just hiding that option currently for LG. However, limiting the people who appear in a particular drop-down is not currently possible and would be a very useful feature.

[2016-06-01 22:01] diannakane opened #2338 "Remove export and import buttons from left FAB in Contacts"
Part 1 - Remove export/import from Contacts left FAB. This will be done from Configuration.
Part 2 - Add import/export places from Configuration

[2016-06-01 22:04] diannakane opened #2339 "Only show places you directly manage in LHS, unless searching"
Part 1: The left pane defaults to only show you the hierarchy of places that you directly manage. e.g. District manager sees only branches, Branch Manager sees only Area, CHWs see only households.
Part 2: This list only changes with search results; when search results are cleared, it reverts back to this default list of “places I manage.”
Note: In the future, we may introduce a filter to control y

[2016-06-01 22:04] garethbowen commented on #2338
The FAB lets you export _just_ the places that match a given filter so this change will reduce the functionality.

[2016-06-01 22:06] diannakane opened #2340 "LHS UI updates as per mockup (no FAB, no CSS)"
e.g. Updated subtitles for places, Updates to people / place icons throughout tab. Icons to be configurable by project.

@Lesterng please add details and mockups

Helps to satisfy: Differentiate Persons + Places #2172

[2016-06-01 22:07] diannakane opened #2341 "Update LHS FAB"
Only button in LHS FAB should be “New Place” of the place type that is shown in the list only (i.e. places you manage). For district managers, this would be “new branch;” for branch managers, this is “new area;” for CHWs, “new household.”

[2016-06-01 22:08] diannakane opened #2342 "Display “your place” card upon login"
Upon startup, “Your place” card appears on the RHS. “Your place” card does not include the places within that place, since those are the places you manage and they are shown on the LHS.

Note: If you login as “admin” you have no place, so the RHS will be blank.

Refer to @Lesterng mockups

[2016-06-01 22:09] diannakane opened #2343 "RHS UI updates as per mockup (no FAB, no CSS)(no Tasks, no History)"
e.g.
— Breadcrumbs improved at top of right pane.
-- Place and person cards UI
-- With the exception of “your place,” place cards include places that belong to them. (for “your place,” these places are already displayed on the LHS).

@Lesterng please provide details

[2016-06-01 22:10] diannakane opened #2344 "Updates to RHS FAB"
Add “New Action” to RHS FAB. The list of actions will be contextualized to the place or person card you are viewing on the RHS.  Note: In household / family member view, this removes “actions” from its place in the right pane and puts it into the FAB on the same page.

[2016-06-01 22:11] diannakane commented on #1572
-- formatting as shown in mockups.
-- Updates to tasks, e.g. show “1 week / 2 week / View all”
-- Place and people cards
-- Add task notification bubbles to family members in list view

@Lesterng add mockups

[2016-06-01 22:15] diannakane opened #2345 "Complete an action, view tasks, and view history within RHS"
complete an action, view tasks, and view history within page without being directed to those tabs.

@Lesterng add updated mockups

related issue: https://github.com/medic/medic-webapp/issues/1368

[2016-06-01 22:15] diannakane opened #2346 "People tab : Tasks and History in RHS"
complete an action, view tasks, and view history within page without being directed to those tabs.

@Lesterng add updated mockups

related issues: https://github.com/medic/medic-webapp/issues/1368
https://github.com/medic/medic-webapp/issues/1848

[2016-06-01 22:23] #2345 closed

[2016-06-01 22:23] diannakane commented on #2345
Accidental duplicate issue, leaving #2546 open

[2016-06-01 22:35] garethbowen commented on #2286
@SCdF Two PRs created for this: https://github.com/medic/medic-webapp/pull/2347 and https://github.com/medic/medic-api/pull/75

Performance seems good locally. I want to merge to develop so I can update a production clone and test with real data, real hardware, real OS, and a remote server. Further changes or a complete revert may be necessary...

[2016-06-01 23:13] garethbowen commented on #2331
@estellecomment I've made a few readability and functionality changes to the DeleteDoc service as well as fixing this specific issue and commented them in the compare view. These are things I should have picked up in the code review. Sorry!

[2016-06-01 23:25] diannakane commented on #2338
that is correct. we don't know of anyone using it as such right now. we
will reintroduce it when we bring the filters back.

On Wed, Jun 1, 2016 at 3:04 PM, Gareth Bowen <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Seni

[2016-06-02 00:15] sglangevin commented on #2326
@garethbowen sooner is better because this is preventing me from using the UI to edit contacts, which I need to do to add supervisors. Currently I'm doing that in CouchDB directly to save time. That's fine for me but it means that I won't be giving LG access to the web app for another few weeks - I'd like to hand over the supervisor work to them.

To make a long story short, I am willing to wait a

[2016-06-02 00:20] garethbowen commented on #2326
I'll have a look and make sure it's fixed in alpha first. Then we can make a call about another service pack release or waiting for 2.7.0.

[2016-06-02 00:31] garethbowen opened #2348 "Add isAdmin function to Session service"
We do this too much: `utils.isUserAdmin(Session.userCtx())`

[2016-06-02 07:51] estellecomment commented on #2331
thanks for the review!
One comment about an extra test, should be quick.

[2016-06-02 07:57] estellecomment commented on #2332
hmmm maybe introduced by 919183252e8090808793bb79df765c7a75526150?
I'll take a look.

[2016-06-02 09:11] Enock1990 commented on #2328
@SCdF yeah! it looked like a Chrome kind of an error. Were the training was there was bad internet: on a scale of 10, it was at 1. This happened to several phones but after trying a few more times it worked.

[2016-06-02 09:28] estellecomment commented on #1000
Sorry for the delay. Looking through the comments they're not all sorted out. You can file them separately if you want to move this along.
 - [ ] rename to `DeleteDocs` (plural)
 - [ ] pass only `docs.length` to the delete confirm modal
 - [ ] in livelist, pass only a `isChecked` boolean to the insert/update/etc functions
The livelist refactoring I'll look into.
So almost done!

[2016-06-02 09:47] garethbowen commented on #1000
I'll do this soon.

As per the comments I disagree with these.

[2016-06-02 09:47] #1000 closed

[2016-06-02 09:49] estellecomment commented on #2332
It looks like maybe you have an old version of inbox.js and the latest version of the modal, so it's being used wrong.
Have you pulled lately? How did you get this?

[2016-06-02 09:53] alxndrsn commented on #2332
More likely the other way round - latest `develop` for `webapp` and `api`, and a cloned 0.4 database.

[2016-06-02 10:34] #2331 closed

[2016-06-02 11:27] SCdF commented on #2286
@garethbowen looks good dude, give it a crack!

[2016-06-02 11:53] garethbowen commented on #2286
Merged. Next step is to test it in a production like environment. Then clean up filters and other code if it works well.

[2016-06-02 12:09] SCdF commented on #2286
Depending on how this test affects system load (ie if everything goes to plan it should massive reduce it) we may also want to look at increasing our costs slightly to two servers:
 - One that deals with serving CHWs (effectively a replication server)
 - One that deals with live requests (effectively an admin server)

With master->master replication between each of them. Currently (in PROD) that a

[2016-06-02 12:19] SCdF commented on #2348
:shipit:

[2016-06-02 12:19] #2348 closed

[2016-06-02 13:22] estellecomment commented on #2332
Hmm. I'm not seeing it. I cleaned out the browser cache and all.
That piece of html I'm seeing in your screenshot, with the `ng-include` for the user_language modal, hasn't been there for a while.
So maybe it's 0.4-related...

[2016-06-02 18:01] sglangevin opened #2349 "When creating a person on lg.app, I intermittently get Error updating contact"
![image](https://cloud.githubusercontent.com/assets/1286381/15755312/fb15eb2e-28b0-11e6-9d68-8b866f176b19.png)

As admin, trying to add people has become progressively more difficult. The 10 second timeout makes it impossible to know that you have successfully created a person in the UI. Despite the error message, the person is getting created and can be found if you search for the UUID in Couch.

[2016-06-02 23:42] sglangevin commented on #2327
Confirmed that this is possible using custom forms. However, if I try to use the `allow-new` appearance in a custom form, when I select `New Person` in the drop-down, I don't see the Submit button change to Next. @abbyad maybe there is something obvious I am doing wrong?

[2016-06-03 13:53] estellecomment opened #2350 "Uploading a 0.4 config into 0.6 deleted the JSON forms"
- Download the app_settings from demo.app, which is 0.4 (from garden app settings page)
 - upload them into my local instance which has latest webapp and api
 - download app_settings from local instance
 - diff them : JSON forms are gone!

[uploading_eats_fields_diff.txt](https://github.com/medic/medic-webapp/files/297675/uploading_eats_fields_diff.txt)

We also get a free `events` object, not sur

[2016-06-06 07:55] estellecomment opened #2351 "Admin can't submit report (permissions)"
Submit report is grayed out, admin doesn't have the permission :
![screen shot 2016-06-06 at 09 53 29](https://cloud.githubusercontent.com/assets/911434/15815334/9cfed716-2bcc-11e6-865c-71f1acd48437.png)

Could also be how my env is setup, if my `_users` db is wrong or something (.4 doesn't have `user-settings` docs).

[2016-06-06 08:42] estellecomment opened #2352 ".4 analytics page crashes `develop` API"
Using demo.app's `medic` and `_users` db, with the latest `develop` medic-api, the api will crash when you go to the ANC analytics page. The latest `master` will work though.
[code]

[2016-06-06 09:45] estellecomment commented on #2351
Nevermind, it's just that my local install was missing medic-reporter. All good.

[2016-06-06 09:45] #2351 closed

[2016-06-06 11:46] alxndrsn commented on #2185
From https://github.com/medic/medic-projects/issues/78:

Reports are stored and filtered consistently irregardless of the timezone of the webapp user.  It's not immediately obvious what timezone this is done in, but I suspect GMT.  A clear decision should be taken whether server, project or user timezones should be used for each of the following:
* storing "date reported"
* displaying report date

[2016-06-06 12:39] estellecomment commented on #2213
I'm doing the opposite, running a .4 db with .6 webapp code, and it works fine.

[2016-06-06 12:41] estellecomment commented on #2350
Turns out the "Restore" button doesn't replace existing settings, it merges old and new.
https://github.com/medic/medic-webapp/tree/develop/packages/app-settings#update-settings

Not quite sure what I did, can't reproduce. Probably a Friday-brain phenomenon. Closing.

[2016-06-06 12:41] #2350 closed

[2016-06-06 12:49] estellecomment opened #2353 "No `user-settings` docs in .4 db"
.4 doesn't use `type: user-settings` docs. This makes `UserSettings` service fail, so lots of things break down.
Needs a migration.

[2016-06-06 13:11] estellecomment opened #2354 "No `resources` doc in .4 db"
In 2.6 the custom-uploaded icons are fetched as attachments to a `resources` doc.
They are used by `liveList`, so it breaks Tasks.
Edit : contacts and reports are actually fine, they don't use resourceIcon.

[2016-06-06 14:23] abbyad commented on #2213
You seem to be doing the same thing as me but got there in a different way. We should figure out what is the appropriate way to upgrade from 0.4 to 2.x

[2016-06-06 14:42] estellecomment commented on #2353
Oh, there's a migration for that.
https://github.com/medic/medic-api/blob/develop/migrations/extract-user-settings.js

[2016-06-06 14:43] estellecomment commented on #2354
There's a migration for it :
https://github.com/medic/medic-api/blob/develop/migrations/add-resources-doc.js

[2016-06-06 19:16] mandric commented on #2185
Pretty sure we always want to store dates in GMT.

[2016-06-06 20:21] garethbowen opened #2355 "Check national-admin works"
LG want to have administration access with separate logins which equates to having users with national-admin role. We haven't used this in ages so test to ensure it works sensibly.

Some thoughts

* does it try to replicate locally?
* does it try to generate tasks for all?
* can you edit things as expected?

[2016-06-06 21:23] abbyad commented on #2124
@SCdF there are historical reasons why we needed the XML data brought into postgres (eg previously only a subset of info was kept in the JSON), but that's changed since https://github.com/medic/medic-webapp/issues/1938 (see *Make all the fields accessible*). That means that the webapp is already doing the parsing, and there is no need to parse the XML further in the adapter.

[2016-06-06 22:57] garethbowen commented on #2326
This isn't fixed in 2.7.0 on lg-testing. Needs more investigation.

[2016-06-06 23:05] #818 closed

[2016-06-06 23:36] btbonval commented on #2124
Oh I remember that, but I thought it was only covering a subset itself. Cool, so that is a positive response.

We have "high level form views" which map every (important) version of some form to what we expect to see in analytics. It might be worth looking over the field mapping that @sglangevin created for LG and making sure we are able to find every field for every form in the existing JSON that

[2016-06-07 00:26] browndav opened #2356 "Increase number of cores for production v2.6.x instances"
As a temporary workaround for inadequate replication performance (read: it's CPU bound), add a large number of CPU cores to our current LG-related production servers. If some instance types are unavailable due to requiring HVM images instead of a paravirtualized kernel, make that change on AWS or in the Medic OS repository. If we need administrative approval to access larger instance types, get it

[2016-06-07 00:29] browndav opened #2357 "Create replica of v2.6.x LG production instance specifically for administrative users"
As a temporary measure to improve performance for LG administrators, create a new and/or cloned instance, and enable continuous replication between that instance and the current instance. This should have the effect of isolating the high-CPU replication filter workload from ordinary interactive use by an `admin`.

[2016-06-07 00:31] browndav opened #2358 "Spike: CouchDB database compaction/recreation to improve replication performance"
Exploratory test: try to recreate the current production database, with the aim of compacting it, removing revisions that are no longer materially useful (e.g. deletions, edits of deleted documents), and otherwise attempting to reduce the size of the history to improve replication performance. Figure out if clients break when you do this (e.g. can't cope with a `seq` reset), then measure any perfo

[2016-06-07 00:33] browndav opened #2359 "Improve AWS EC2 tagging: add administrative and technical contacts to all instances, document tags"
Add partner administrative and technical contacts to each instance. Consider adding a Medic Mobile regional contact to all instances. Document the meaning of these tags in a Markdown document.

These are useful for communicating downtime to partners, coordinating updates, and in some cases troubleshooting unexpected behavior or performance problems.

[2016-06-07 00:34] browndav opened #2360 "Provide basic documentation for Medic OS packages and job scheduling"
Document the Medic OS package format; provide instructions for building a package from scratch using a stock Linux-ish system. Document how to add jobs to cron from a new package.

[2016-06-07 01:12] browndav commented on #2359
Toward #2359: https://gist.github.com/browndav/731346a73a41bc6f8e4f9e929b5eb24d

[2016-06-07 08:14] estellecomment commented on #2359
Maybe it's just me, but I understand `Backup` as 'this is a backup machine, not a real prod machine' (like `backup.dev.MM.org`), which is the opposite of what you mean.

If the important thing is to not discard the data, then maybe `Production` (vs testing and backup)? Or if the important thing is that there's a backup mechanism for it, `hasBackup` or `needsBackup`?

Or just `ifYouDiscardMePartner

[2016-06-07 08:38] SCdF commented on #2359
_(FWIW the use of backup makes sense to me, but to avoid confusion it could be renamed to `requiresBackup` or something like that)_

[2016-06-07 10:04] estellecomment opened #2361 ".4 instances has `_users` with incompatible formats"
.4 instances allow logins with capital letters, while .6 has a `validate_doc_update` which disallows it.
It makes the `extract-user-settings` migration fail (and so blocks other migrations).

They also have `known` fields which are strings instead of booleans (`known: 'true'). Also makes the `validate_doc_update` barf and crashes migration.

Some stats :
Usernames with capital letters :
Kilifikids

[2016-06-07 10:31] alxndrsn commented on #2355
|
---|---
    does it try to replicate locally? | no 👍
    does it try to generate tasks for all? | no 👎
    can you edit things as expected? | no 👍

-----

I set up a user:
<img width="1280" alt="screen shot 2016-06-07 at 12 22 53" src="https://cloud.githubusercontent.com/assets/191496/15854531/b34b43a4-2caa-11e6-920b-464dcbb251c4.png">

Some tabs are missing:
<img width="1280" alt="screen shot 2

[2016-06-07 10:34] alxndrsn commented on #2349
Looks like a direct consequence of https://github.com/medic/medic-webapp/issues/2325 - can probably be treated as a particular case of that ticket.

[2016-06-07 10:52] alxndrsn commented on #2349
@sglangevin how did you get to the _Add Person_ form for _Masajja_?  I could only do this by hacking the URL, after which it looks like it created ok.

[2016-06-07 13:34] alxndrsn commented on #2349
I can create a person without error: https://lg.app.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/65bba0958df604ed40b941389437fa31

The title of this issue implies that creating a person _always_ fails for you, @sglangevin.  Is that the case, or can the ticket title be changed to reflect that the issue is intermittent?

[2016-06-07 14:10] alxndrsn commented on #2325
I have just seen a 10s timeouts on a call to `contacts_by_name` and multiple calls to `data_records_read_by_type?group=true` in Chrome.  When I used Chrome's _Copy as cURL_ feature, the `Cookie` header was missing, and unsurprisingly on executing the `curl` call, the response was immediate and `{"error":"unauthorized","reason":"Authentication required."}`.  I guess this is a bug/feature of chrome

[2016-06-07 14:11] sglangevin commented on #2349
@alxndrsn I've updated the title. I hack the URL for adding people. It always creates the person, but if the server is under heavy load, I get an error message in the UI because of the famous 10 second timeout.

[2016-06-07 14:22] alxndrsn commented on #2325
Definitely looks like pouch or the browser doing the cut-off – requests using curl can take e.g. 16s to complete without being cancelled.

[2016-06-07 15:35] alxndrsn commented on #2325
This is caused by us not overriding the default ajax timeout for pouchdb in 2.6.3.  It _looks_ like it's getting set at https://github.com/medic/medic-webapp/commit/8bf43cb03893d903532c5101301c5d0ce435fcb8#diff-bc29864eda30e12a926c14a5d77573b5L30, but actually the options object is being passed to the wrong function there.

The bug is no longer present in `develop`: https://github.com/medic/medic-

[2016-06-07 15:36] alxndrsn commented on #2349
Should be working on `develop`.

[2016-06-07 15:36] #2349 closed

[2016-06-07 16:44] browndav commented on #2359
Good point; I'll fix it today.

[2016-06-07 20:40] garethbowen commented on #2355
@alxndrsn There are some broken characters in the table that summarises the results - I assume they were all thumbs up?

[2016-06-07 20:41] SCdF commented on #2124
Hey @btbonval so I've finished the couch2pg section of the changes. The PR is here: https://github.com/medic/medic-analytics/pull/30

I'll be working on making sure xmlforms understands edits and deletes shortly, but this change stands on its own, and can be reviewed.

It's reasonably massive, and hard to comprehend from a PR, so when you've got time we can hangout and talk about it :-)

[2016-06-07 21:04] alxndrsn commented on #2355
<img width="270" alt="screen shot 2016-06-07 at 23 04 33" src="https://cloud.githubusercontent.com/assets/191496/15874602/39fa5cba-2d04-11e6-9e07-e7e90d0368ba.png">

[2016-06-07 21:07] garethbowen commented on #2355
@alxndrsn Thanks for that.

I think "no" is the desired outcome for generating tasks. If it tried to generate tasks it would hang their machine.

I think "no" is the incorrect outcome for "edit things as expected", surely? Is that a typo?

[2016-06-07 21:11] alxndrsn commented on #2355
Yeah, definitely some confusing thumbs there...

[2016-06-07 21:12] garethbowen opened #2362 "Release 2.7.0"
### Release steps

* [x] Update Changes.md
* [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
* [x] Merge to `testing`
* [x] Update the testing app and run acceptance testing
* [x] Merge `testing` to `v2`
* [x] Tag the release in github
* [x] Update the app in testing to the released version; perform sanity checks (verify app starts properly, syncs data, each tab appears func

[2016-06-07 22:28] garethbowen opened #2363 "Fix changes proxy to support heartbeat"
When requesting changes through pouch we use two related parameters to manage keeping the connection alive.

`heartbeat`: Couch sends a `\n` character at this frequency which keeps the connection alive.
`timeout`: Couch ignores this if `heartbeat` is provided so the request will be kept alive. However Pouch will forcibly cancel the request if `timeout` is provided and it doesn't hear a heartbeat.

[2016-06-07 23:12] #2239 closed

[2016-06-07 23:12] garethbowen commented on #2239
Closing as the bug @abbyad raised should be covered by the linked issue.

[2016-06-07 23:23] browndav opened #2364 "Investigate apparent medic-api / medic-webapp version mismatch on the gateway-testing server"
Filing as unassigned since it's in my queue and I'm holding people up.

We need to take a look at the gateway-testing development server and figure out why the Reports tab is throwing errors. The web app appears to be requesting https://gateway-testing.dev.medicmobile.org/api/v1/fti/data_records, which the installed version of `medic-webapp` returns a 404 for.

Current thinking: Compare the instal

[2016-06-07 23:48] garethbowen commented on #2362
It'd be good to include https://github.com/medic/medic-api/issues/76 also.

[2016-06-08 01:00] browndav commented on #2356
Conplete. Instance is now a `c3.8xlarge`. I'm separating the HVM vs. PV issue from this one, as it's not immediately necessary.

[2016-06-08 01:00] #2356 closed

[2016-06-08 02:03] garethbowen opened #2365 "tasks.disabled not being translated"
![i18n-fail](https://cloud.githubusercontent.com/assets/2064938/15880445/afc154d0-2d81-11e6-8c69-1f832aa5ee6b.png)

[2016-06-08 02:06] garethbowen commented on #2365
You had double pipe `{{'tasks.disabled' || translate}}` instead of single `{{'tasks.disabled' | translate}}`.

I converted it to the modern way to do translation while I was in there.

[2016-06-08 02:33] garethbowen commented on #2286
Ok, it seems to work. Assigning to @SCdF for a secondary code review. Sorry about the many little changes but it was the easiest way to get it running in a production like environment. You can try it out on lg-testing if you like.

[2016-06-08 05:01] garethbowen opened #2366 "Don't audit docs that match `_local/*`"
Tracking issue for https://github.com/medic/medic-api/issues/76

[2016-06-08 06:43] #2365 closed

[2016-06-08 08:23] SCdF commented on #2286
OK I've read the code and I'm reasonably sure I get the gist of it.

My only major concern is whether or not this affects the request size from CHWs in a meaningful way, and what that does to their bill. If most IDs are UUIDs (let's say 36 characters, ignoring that some will only be 32, which makes up for the commas and whitespace and whatever else) that would make 1000 ids ~30kb, which isn't an u

[2016-06-08 09:02] garethbowen commented on #2286
Yes that was my biggest concern too. It does batch them together (up to 100) where possible, for example, if you've been offline for a while. But yes in the worst case the list of IDs will be sent for every document synced. This could be tweaked to only sync once an hour or similar which would optimise the batching at the expense of immediacy of data, but I'm comfortable with the way it is for now

[2016-06-08 09:38] #2325 closed

[2016-06-08 10:00] estellecomment commented on #2361
Convert `known` field to boolean : https://github.com/medic/medic-api/commit/d824446cb7ca9f281d549db21af6b4146a71b621
(messed up issue tagging)

[2016-06-08 10:27] garethbowen commented on #2286
I don't really want phones to be potentially 6 hours out of date. And if N is too small then you may actually increase data usage by making lots of requests with an empty result.

I don't think the current patch will increase the data costs noticeably.

[2016-06-08 10:32] alxndrsn commented on #2364
Deployed webapp version:

<img width="499" alt="screen shot 2016-06-08 at 12 10 05" src="https://cloud.githubusercontent.com/assets/191496/15891480/f8e354cc-2d74-11e6-8c2a-3736150999de.png">

Which corresponds to:

https://travis-ci.org/medic/medic-webapp/builds/60898141

Which corresponds to:

https://github.com/medic/medic-webapp/commit/f90590eb27e5b801803e5ad60257ea2c2c0ea7cc

[2016-06-08 10:38] alxndrsn commented on #2364
Errors seen in webapp console:

<img width="541" alt="screen shot 2016-06-08 at 12 36 46" src="https://cloud.githubusercontent.com/assets/191496/15891609/b8ab27f8-2d75-11e6-8ab9-5251dc9ea128.png">

There do not appear to be any `fti` endpoints defined in `medic-api`'s `master` branch: https://github.com/medic/medic-api/blob/master/server.js

[2016-06-08 10:40] alxndrsn commented on #2364
...although there's something that looks very relevant at https://github.com/medic/medic-api/blob/master/controllers/utils.js#L28

[2016-06-08 10:51] alxndrsn commented on #2364
Looks like it would help a lot to use 0.4.x instead of this 0.5.0-alpha version of webapp on the gateway-testing server.

[2016-06-08 11:21] #2364 closed

[2016-06-08 11:25] alxndrsn commented on #2185
From the other channel, it looks like we want to store local reported time, and one of either GMT reported time, or the timezone that the initial report was made in.

Storing local+GMT would probably allow for more flexibility in the future than storing local+localTimezone.

[2016-06-08 12:12] SCdF commented on #2286
Oh yeah, @garethbowen I missed this one: https://github.com/medic/medic-api/blob/develop/handlers/changes.js#L62

Does that actually work?

[2016-06-08 12:51] #2366 closed

[2016-06-08 14:25] estellecomment commented on #2352
That was before the migrations had run though, so it could be a non-issue. Stay tuned.

[2016-06-08 14:39] browndav commented on #2359
Addition: I'd propose that we always back up any instance tagged as `Environment: production`, and use the `Backup` tag (or, rather, what we rename it to) for exceptions, e.g. when we explicitly want to back up a development instance. Minor change, but I think it'll reduce error.

[2016-06-08 17:57] btbonval commented on #2124
@SCdF We did discuss quite a lot of the changes you had planned to make, which should help some of the comprehension. I will give it a once-over right now and we can schedule some time to talk about it soon.

[2016-06-08 19:10] btbonval commented on #2124
You were not kidding about massive. "once over" is going to be a bit more of a commitment than I had originally anticipated with https://github.com/medic/medic-analytics/pull/30/commits/67f85cbffbce8e604137b6c8db985803940e1bce

[2016-06-08 19:36] Lesterng commented on #2346
Hot spots are active on Task card and History card.

https://invis.io/XA7CTCBGU#/163504245_Area-household

[2016-06-08 19:47] Lesterng commented on #2343
@diannakane
Breadcrumbs in upper left of RHS is now just a back button. Breadcrumb trail will be in the persons card under "Reports to:
-- Place card
https://invis.io/XA7CTCBGU#/159906666_District-branch
https://invis.io/XA7CTCBGU#/159906822_Branch
https://invis.io/XA7CTCBGU#/163504202_Area

[2016-06-08 19:51] Lesterng commented on #2342
@diannakane
**"Your place" in the RHS**
https://invis.io/XA7CTCBGU#/159906822_Branch
https://invis.io/XA7CTCBGU#/163504202_Area
**Admin login RHS blank**
https://invis.io/XA7CTCBGU#/159906520_District

[2016-06-08 19:58] Lesterng commented on #2340
All subtitles updated and icons for people and places
Click through mockup below
https://invis.io/XA7CTCBGU#/159906822_Branch

[2016-06-08 19:59] garethbowen commented on #2286
Define "work"? I haven't actually tested it... but that block should only be hit if someone manually crafts an invalid request, eg: they've added IDs they're not allowed to see, for which documents exist that aren't deleted.

I imagine it'll blow up horribly because it's not JSON but blowing up horribly is pretty much the plan.

[2016-06-08 20:00] Lesterng commented on #2337
Your place is LHS is gray and locked
<img width="519" alt="screen shot 2016-06-08 at 12 59 56 pm" src="https://cloud.githubusercontent.com/assets/5149601/15908927/ebd55510-2d78-11e6-9f01-cb88312ff87e.png">

[2016-06-08 20:06] Lesterng commented on #1984
Form in desktop mode is now in a card. Back button will cancel the form.
<img width="761" alt="screen shot 2016-06-08 at 1 03 51 pm" src="https://cloud.githubusercontent.com/assets/5149601/15909140/d2a9b7ba-2d79-11e6-9666-71f7cb6e86fa.png">

[2016-06-08 20:53] garethbowen commented on #2326
I thought I had a clever solution but it turns out I was wrong. Sorting by value isn't possible so you can't paginate on the view. We _could_ paginate in a list so at least it happens server side. I'll raise a separate issue for this.

I think the current performance improvements are probably sufficient.

@sglangevin Which dropdown specifically were you using? Can you try the alpha on lg-testing a

[2016-06-08 20:53] #2326 closed

[2016-06-08 20:53] btbonval commented on #2124
Okay I got through all of it but the tests. I'll come back to those.

[2016-06-08 21:20] garethbowen opened #2367 "Migration "extract-user-settings-roles" failed"
On lg-testing (using the current alpha) the `extract-user-settings-roles` migration is failing with

[code]

[2016-06-08 21:35] Lesterng commented on #2344
All FAB updated. Contextualized in RHS.
https://invis.io/XA7CTCBGU#/159906705_District-area

<img width="724" alt="screen shot 2016-06-08 at 2 33 34 pm" src="https://cloud.githubusercontent.com/assets/5149601/15911772/09a899fa-2d86-11e6-8f1e-651814d81cde.png">

<img width="424" alt="screen shot 2016-06-08 at 2 34 28 pm" src="https://cloud.githubusercontent.com/assets/5149601/15911784/219d2256-2d86

[2016-06-08 21:37] abbyad opened #2368 "Map out user types"
With the confluence of v0.4 and v2.6 we are discussing user types that can mean different things in the previous versions. For instance "district managers" are at different levels of the hierarchy in v0.4 and v2.6 (eg #2339, #2341). To clarify this we should map out all of the roles along with their access to serve as a reference, as well as help us discover if new user types need to be created.

[2016-06-08 21:39] Lesterng commented on #2343
Here are the specs for the updates
[Contacts-specs-dimensions.pdf](https://github.com/medic/medic-webapp/files/305746/Contacts-specs-dimensions.pdf)
[Contacts-specs-type.pdf](https://github.com/medic/medic-webapp/files/305747/Contacts-specs-type.pdf)

[2016-06-08 21:44] Lesterng commented on #1572
Completed
https://invis.io/XA7CTCBGU#/163504603_Area-person
<img width="1268" alt="screen shot 2016-06-08 at 2 43 40 pm" src="https://cloud.githubusercontent.com/assets/5149601/15912123/7f77b624-2d87-11e6-8f2c-f4e125c20082.png">

[2016-06-08 21:47] Lesterng commented on #1852
Needs work sessions and discussions

[2016-06-08 21:51] abbyad commented on #2342
The admin and other top level users are typically associated to a person because if not they cannot submit reports. Is there a place in the UI where those types of people will be shown?

[2016-06-08 21:55] garethbowen commented on #2367
This is also failing on lg.app

[2016-06-08 21:56] abbyad commented on #2337
@diannakane can you select your place to view it in the RHS?
If so, is hover over and selected colour the same as the other items?

[2016-06-08 22:00] abbyad commented on #2250
Closing as this has spawned off into many other sub issues.

[2016-06-08 22:00] #2250 closed

[2016-06-08 22:04] abbyad commented on #2340
It would be helpful to list out the changes required for the LHS. For instance, specifying that the subtitle for each item should be "Primary Contact: " followed by the contact's name. This way I think there is less chance of missing or misinterpreting something.

[2016-06-08 22:25] browndav commented on #2359
Update: talking with the right people today to get accurate data and fill in the admin/technical contact tags.

[2016-06-08 23:04] garethbowen opened #2369 "Lowercase all user ids"
It's confusing to have users whose ids only differ by case, eg: "Sam", "sam", "SAM".

Instead we should normalise user ids to all be lowercase. Make sure everywhere where users can be added or edited (UI, API, etc) user ids are lower cased. This includes user in the _users db _and_ the user-settings docs in the medic db. We already have document update validation which enforces this, but we should

[2016-06-08 23:35] Lesterng commented on #1852
**Household tasks for enire housrhold / family**
https://invis.io/XA7CTCBGU#/163504245_Area-household
<img width="1075" alt="screen shot 2016-06-08 at 4 30 28 pm" src="https://cloud.githubusercontent.com/assets/5149601/15914579/f52d3966-2d96-11e6-910d-f2533dd275ac.png">

**Person tasks for individuals**
https://invis.io/XA7CTCBGU#/163504603_Area-person
<img width="1306" alt="screen shot 2016-06-08

[2016-06-08 23:37] browndav commented on #2357
Instance created. Based on a conversation just now in Slack, this may not be needed after all. I'll leave the instance around but stopped until at least the end of this iteration, so it's ready to go if we end up wanting it after all.

[2016-06-08 23:38] Lesterng commented on #2343
Link to Icon folder for right and left FAB. .svg files
https://drive.google.com/a/medicmobile.org/folderview?id=0Bz9vY9IxAz2PbTJkYktIR21zdlU&usp=sharing

[2016-06-08 23:40] garethbowen commented on #2355
@alxndrsn What are they supposed to be? Is it working or not?

[2016-06-08 23:55] garethbowen opened #2370 "Use server side pagination for Search service"
The Search service is used in a variety of ways from populating the LHS of the Contacts and Reports tabs, to populating people dropdown fields. If applying any filters (eg: if you only want people in your contacts result like the dropdowns do), then we use views which we need to sort by value. As couch only allows views to be sorted by key we end up fetching all view results to the client and sort

[2016-06-08 23:56] diannakane commented on #2337
Yes, you can always select your place and view it in the RHS. The RHS
defaults to your place upon entering the People tab.

@lesterng can you specify the selected color when your place is unselected
as well as selected?

On Wed, Jun 8, 2016 at 2:57 PM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manag

[2016-06-08 23:57] garethbowen opened #2371 "Use db view pagination where possible"
I think this must have regressed recently but loading contacts or reports as admin is really slow. This is because we've lost the db view pagination in the Search service. I think it can only be applied for the default views (`contacts_by_name` and `reports_by_date`) but they're used most often so would still be a big win.

[2016-06-08 23:58] diannakane commented on #2340
@lesterng can you specify this list of changes and include the UI
specifications like you did for RHS?

On Wed, Jun 8, 2016 at 3:11 PM, Marc Abbyad <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobi

[2016-06-09 00:27] garethbowen opened #2372 "Clicking reports tab shows "no reports" incorrectly"
Loading the app on the Tasks tab and then clicking on the History/Reports tab shows "no reports". But refreshing loads reports correctly.

[2016-06-09 02:46] garethbowen opened #2373 "Contacts pagination is broken"
As an admin viewing the contacts list doesn't show districts at the top as you'd expect. If you scroll down more and more contacts load in and are shuffled into the right place. Eventually districts will get added to the top.

[2016-06-09 02:46] garethbowen commented on #2373
This is usually caused by the server side sorting of the view not matching the sorting in the UI.

[2016-06-09 03:07] garethbowen commented on #2372
Caused by #2100

[2016-06-09 03:38] garethbowen commented on #2373
Mostly this was resolved by #2371 but I fixed some additional edge cases for when filters were returning view results in a different order than that used in the UI.

[2016-06-09 03:48] garethbowen opened #2374 "Modify Facility service to use Search service"
The Facility service requests all place docs from the DB for various tasks. This means every load on lg-testing downloads around 3.5MB of data. The results are cached so this isn't catastrophic but we can do better.

Investigate if we can use the Search service instead which returns summaries instead of full docs.

[2016-06-09 03:50] garethbowen commented on #2354
@estellecomment The migration should run on api startup and create this doc. Is it not working or can we close this?

[2016-06-09 04:12] garethbowen commented on #1911
Moving to acceptance testing because this has been closed for ages.

[2016-06-09 04:16] garethbowen commented on #2284
This is probably resolved by #2286 which replaces the filter for all replication not just first load.

[2016-06-09 04:16] garethbowen commented on #2283
This is probably resolved by #2286 which replaces the filter for all replication not just first load.

[2016-06-09 04:17] garethbowen commented on #2267
@estellecomment Now that we have a lg-training instance we no longer need this?

[2016-06-09 04:19] #2216 closed

[2016-06-09 04:21] garethbowen commented on #2188
Use angular is our policy. Where possible remove jquery in favour of angular as you find it. Closing this as it has no specific deliverable.

[2016-06-09 04:21] #2188 closed

[2016-06-09 04:49] btbonval commented on #1911
Oh, uhm, this is assigned to me for acceptance testing. Contacts handling definitely works in production for at least one project. So I think that means I'm good to switch to Ready. Maybe I should change it to Released since it is in production, but the adapter doesn't have quite the same workflow as the webapp.

[2016-06-09 07:01] alxndrsn commented on #2355
The text is correct:

*    does it try to replicate locally? NO
*   does it try to generate tasks for all? NO
*  can you edit things as expected? NO

[2016-06-09 07:48] estellecomment commented on #2367
(chiming in because I'm looking at migrations these days)
Don't we want to know if there aren't any user-settings docs? This change skips the record silently.

`extract-user-settings` migration should have created the user-settings (why didn't it?), and that user is going to be seriously messed up without user-settings.
Or is this a different type of user or something?

[2016-06-09 07:56] estellecomment commented on #2369
Doing that! In #2361. That issue is a better description though.

I'm actually editing the `extract-user-settings` migration, instead of creating a separate one. Guess I could do either. Do you have strong thoughts about this?

[2016-06-09 08:01] estellecomment commented on #2370
Would `startkey_docid` help you there?
http://docs.couchdb.org/en/1.6.1/couchapp/views/pagination.html
(I ran into it when paginating my deletion scripts, but couldn't get it to work. Not sure why. So might not be great.)

[2016-06-09 08:13] SCdF commented on #2286
As in, I presume you're trying to generate a 403? Does just writing "forbidden" actually work? Or should you be doing something more like this: https://github.com/medic/medic-api/blob/develop/handlers/changes.js#L78

[2016-06-09 08:58] SCdF commented on #2371
Winner

[2016-06-09 09:13] SCdF commented on #2373
LGTM

[2016-06-09 09:13] #2373 closed

[2016-06-09 09:13] #2371 closed

[2016-06-09 09:17] estellecomment commented on #2369
@garethbowen please review

[2016-06-09 11:48] garethbowen opened #2375 "Use commonjs modules for common couchdb functions and constants"
We can import [commonjs modules](https://wiki.apache.org/couchdb/CommonJS_Modules) into view map functions (and maybe other places) to improve code reuse. Get the working and refactor couchdb code to use the functions. A good candidate for extraction is the place types array in lib/views.js

[2016-06-09 11:50] garethbowen commented on #2355
Can you explain what things you couldn't edit as expected?

[2016-06-09 12:00] garethbowen commented on #2370
No I don't think that helps us here. The problem is in the view definition. All couchdb views are sorted by the key and can only be filtered by the key, but we need the sort order and the filter parameter to be different things.

For example we use the `contacts_by_type` view to return results when the user sets the type filter on the Contacts page. The key for this view is the `doc.type`, eg: "cl

[2016-06-09 12:02] garethbowen commented on #2286
Ahh yes, well, no this code doesn't send a 403 response. This is because of the streaming nature of continuous feeds. By the time this code executes we have probably already sent headers to the client and therefore cannot set any more, like setting a status code.

So you'll just get a 200 with "Forbidden" and it's not very semantic but then nobody legitimate should be seeing it anyway...

[2016-06-09 12:10] garethbowen commented on #2369
Looks pretty good. It's usually not a good idea to add functionality to an existing migration. This is because any server that has already executed the migration will never execute it again and so won't be in a known state. This case is a little special because the previous migration may have already created a document that no longer validates. Given this I think it's ok to modify the migration th

[2016-06-09 12:11] garethbowen commented on #2369
@estellecomment What state is this in?

[2016-06-09 13:18] estellecomment commented on #2369
? What do you mean what state? Are you complaining that it's been open too long, since I'd had a full minute to acknowledge your code review? :D

Closing it.

[2016-06-09 13:18] #2369 closed

[2016-06-09 15:05] estellecomment opened #2376 "`setup_complete` is set too fast, so setup wizard is likely to be skipped"
When you get to the setup wizard, we set the `setup_complete` field in app_settings as you start.
Because you're watching the ddoc, you get an update prompt on top of the wizard.

![screen shot 2016-06-09 at 17 01 59](https://cloud.githubusercontent.com/assets/911434/15934531/393fa2ce-2e64-11e6-8409-6b9e4ad2b04e.png)

That in turn is likely to make you click around to get rid of all these popups a

[2016-06-09 17:46] sglangevin opened #2377 "RangeError: Maximum call stack size exceeded"
Seen in v2.7.0-alpha-3425 on Tecno
![image](https://cloud.githubusercontent.com/assets/1286381/15939981/edc2c770-2e2e-11e6-8c96-964f9aa211d1.png)
![image](https://cloud.githubusercontent.com/assets/1286381/15940010/0508ac6a-2e2f-11e6-8f76-d5caeeaa4976.png)

[2016-06-09 17:49] sglangevin opened #2378 "Contacts tab takes forever to load on mobile"
2.7.0-alpha-3425

I get a spinner for a long time (minutes) when trying to load the contacts tab. I haven't successfully loaded it yet. Doing a manual reload from About page seems to resolve the issue.

[2016-06-09 17:55] sglangevin opened #2379 "Replication error on reload"
2.7.0-alpha-3425 on Tecno. Data seems to load fine, though - I was able to see tasks, contacts and history.
![image](https://cloud.githubusercontent.com/assets/1286381/15940308/58f8a374-2e30-11e6-9524-00e6e8be4df8.png)
![image](https://cloud.githubusercontent.com/assets/1286381/15940313/61267c10-2e30-11e6-9d25-9c404f19b543.png)

[2016-06-09 18:03] sglangevin commented on #2373
This is working as expected - moving to ready.

[2016-06-09 18:20] sglangevin commented on #2267
@garethbowen @estellecomment I think we should either open a new issue or keep this one open. Training on 2 apps is a good short-term solution but in the long-term it would be better to do as Estelle describes in the top comment - have a training mode within the production app that can be switched on and off.

There are a number of considerations here as we'll need to find a way that is easy for I

[2016-06-09 18:35] sglangevin commented on #2326
@garethbowen I tested this on lg-testing.app and found that the drop-down loads in 7-8 seconds, the next page loads in a similar amount of time, and a search completes in a similar amount of time as well. I view this as borderline acceptable - less then 5 seconds would be ideal for people who are editing contacts, particularly since we don't have bulk edit for contacts. This is a vast improvement,

[2016-06-09 20:05] garethbowen commented on #2369
@estellecomment I mean "acceptance testing", "code review", etc. It was sitting in Scheduled.

[2016-06-09 20:08] garethbowen commented on #2267
What if... the app started up in training mode which creates a local db which never syncs to the server. Then when you switch out of training mode the local db is deleted and a fresh local db is created which then replicates all the data? You could then go back in to training mode at any time.

[2016-06-09 20:10] garethbowen commented on #2326
@sglangevin I think this would be further improved by https://github.com/medic/medic-webapp/issues/2370 I don't think there's any particularly low hanging fruit left.

I'll let you decide whether this is good enough for 2.7.0 as is or if this is still a blocker.

[2016-06-09 20:13] garethbowen commented on #2379
I wonder if you got "Forbidden". Viewing the network tab would be really useful here.

Did this just happen once?

[2016-06-09 20:26] garethbowen commented on #2377
@sglangevin Thanks for including the screenshot to the source, but it's not highlighting the correct line (it's just showing line 1). I think after you turn on pretty print the line numbers in the error should update and then if you click the error again it'll take you to the correct line.

[2016-06-09 20:31] garethbowen commented on #2379
I'm getting it too. Repeatedly. Looking into it.

[2016-06-09 20:33] garethbowen commented on #2379
Yes the changes feed is returning "Forbidden" which should only happen if you're asking for changes on a doc you're not allowed to see.

[2016-06-09 21:01] Lesterng commented on #2340
@diannakane Here are the list changes for the UI LHS
https://docs.google.com/a/medicmobile.org/document/d/1xoaIPjLFtnOLM5VMIV2sal8f8Q1flZFVywik9OwKCoo/edit?usp=sharing

[2016-06-09 21:41] garethbowen opened #2380 "Dashboard can't handle installing new versions of node modules"
If you change a version in the package.json of a kanso node module then Dashboard doesn't stop the old node module and just attempts to install the new one as well.

![update](https://cloud.githubusercontent.com/assets/2064938/15947379/4f475f36-2eef-11e6-931d-4ffef51380fb.png)

In the case of api this means the new api doesn't start:

[code]

It seems to base uniqueness on the name of the file whi

[2016-06-09 21:42] garethbowen commented on #2380
The workaround for now is to leave version numbers the same - they're largely symbolic at this point...

[2016-06-09 21:50] diannakane commented on #2342
Based on conversation with @abbyad, a root-level place exists above this
hierarchy of places. In config, we should allow an admin user to define
what to call a "ROOT" place and will show up in drop-down list as a place
option during user creation. This will show up on the LHS as "My Place" for
users who are associated with ROOT, with the various people who belong
there on the RHS, following the sa

[2016-06-09 21:57] garethbowen commented on #2379
I made a small change to help me debug the issue and now I can't reproduce it. I don't _think_ I fixed it. More likely it's an issue that comes and goes. I'll leave it running for a while and see if it comes back.

[2016-06-09 22:06] mandric commented on #2380
I wonder if we can just pass gardener a github or npm url instead of bundling code on the ddoc.

[2016-06-09 22:13] Lesterng commented on #2342
Would "My Place" have a name or actual location as the first list item. List items below would be "Districts"
Or would "My Place" be named after the Login's name with the organizations name and title. The RHS would show their card.
Example:
**Sharon Langevin**
Medic Mobile, DIY Product Lead

[2016-06-09 22:28] sglangevin commented on #2377
@garethbowen thanks, forgot that last step - so close! Let me try and reproduce and then I'll post a new screenshot.

[2016-06-09 22:31] garethbowen commented on #2379
Steps to reproduce this...

1. Log in
1. Go to Menu > Report Bug (ironically)
1. Fill in a bug report and submit
1. Wait for the report to be submitted
1. Refresh the page

What's going on is the feedback type doc isn't listed in the filter, but it does exist in the local db, which means we're requesting updates on it, but the server doesn't think we're allowed.

This will probably happen with oth

[2016-06-09 22:31] garethbowen commented on #2377
Thanks!

[2016-06-09 22:31] garethbowen commented on #2378
Are there any errors in the console?

[2016-06-09 22:36] sglangevin commented on #2378
@garethbowen no relevant-seeming errors, though I'm wondering if this is related to #2377 because contacts loaded normally after a reload and I no longer saw those errors in the console. Let me get on reproducing that one now.

[2016-06-09 22:41] diannakane commented on #2342
It would show as "My Place: {{ NAME }}" whereby NAME is what was defined as
the ROOT name in the config. This could be My Place: Living Goods or My
Place: Admin

Myself, as the user / person would appear as a name on the list of people
belonging to this place in the Place card on the RHS.

"Logged in as" is a separate issue we have to resolve.

On Thu, Jun 9, 2016 at 3:13 PM, Lester NG <notificati

[2016-06-09 22:54] diannakane commented on #1852
Description of how tasks on profiles work:

For this iteration, Tasks will only appear on type: clinic place profile for Android projects (i.e. households) and people belonging to that place (i.e. family members).

-- Tasks to be completed for this place (household) and people (family members) belonging to that place appear in a consolidated list on the place's profile.
-- On an individual person'

[2016-06-09 23:08] sglangevin commented on #2267
I think ideally the data would all be replicated at once, and training mode could be switched on and off. That way we avoid having to download lots of data on dodgy connections, which would be the case if we had to replicate during or after training. We should be downloading data centrally, before training, so that phones are loading over a stronger internet connection.

[2016-06-09 23:18] garethbowen commented on #2267
I think that's still doable. We still have two local databases, one which replicates to the server and one which doesn't. Something like...

1. Phone starts in production mode and replicates everything from the server as per usual
2. User selects "training mode"
3. A `medic-training` db is created on the phone
4. All the data in `medic` is replicated to `medic-training` (local, so should be fast)

[2016-06-10 00:18] sglangevin commented on #2377
![image](https://cloud.githubusercontent.com/assets/1286381/15950711/2a1ada96-2e66-11e6-9c3c-fe004072c52c.png)

[2016-06-10 00:21] sglangevin commented on #2326
Let's call this good enough for 2.7.0 and then put #2370 on the list for the next release. Moving to ready.

[2016-06-10 00:34] sglangevin commented on #2379
Adding this here as this happened again for me - just a reference in case it's useful at some point.
![image](https://cloud.githubusercontent.com/assets/1286381/15950941/7bee3ae6-2e68-11e6-82c0-1ca0dbb71b39.png)

[2016-06-10 01:36] garethbowen commented on #2377
This is caused by attempting to JSON parse the "Forbidden" result. This is partly the fault of #2379 and poor handling of the replication retry in pouchdb (https://github.com/pouchdb/pouchdb/issues/5325).

[2016-06-10 01:46] garethbowen commented on #2377
I've worked around this issue by fixing #2379 and returning valid JSON on forbidden. I'll also see if I can patch pouch to handle failures better.

[2016-06-10 07:48] estellecomment commented on #2369
Ah ok. Yes. Thanks :)

[2016-06-10 07:53] estellecomment commented on #2267
SG!
UI needs to be really clear about when you're in training mode otherwise people will be confused as hell.

[2016-06-10 08:02] estellecomment commented on #2361
Fixed and reviewed in https://github.com/medic/medic-api/issues/57 (for converting the `known` field to boolean) and https://github.com/medic/medic-webapp/issues/2369 (for case-insensitive login and migration)

Setting this to acceptance testing for the conversion of `known` field.

[2016-06-10 08:02] #2361 closed

[2016-06-10 08:07] estellecomment commented on #2354
Was waiting to see it happen properly. It does. Closing.

[2016-06-10 08:07] #2354 closed

[2016-06-10 08:07] estellecomment commented on #2353
And said migration works. Closing.

[2016-06-10 08:07] #2353 closed

[2016-06-10 08:09] estellecomment commented on #2352
Yup, non-issue

[2016-06-10 08:09] #2352 closed

[2016-06-10 09:17] estellecomment opened #2381 "When upgraded, .4 projects may need 4 levels of hierarchy"
Edit after conversation with @abbyad : "Clinic" actually comes from Village Clinic, which means CHW. So clinic <-> CHW area. Not a building with doctors in it.

LG and Brac have three levels of hierarchy: Branch (`district_hospital`), CHP Area (`health_center`), Family (`clinic`).
- Contacts (`person`) added at every level, representing district supervisors, CHPs and Family heads and members.

.4

[2016-06-10 12:16] alxndrsn commented on #2372
Looks fine apart from two confusing points in comments.

[2016-06-10 13:13] estellecomment commented on #2369
Missed a piece! Rereview?

[2016-06-10 13:23] estellecomment commented on #2381
ChristianAid2 for instance is not using the `clinic` level : they have set the field to the same value as the `health_center`.
So they're doing
district_hospital -> health_center -> CHP.
But the migration did this :
district_hospital -> health_center -> useless clinic with same name as health center -> CHP.

We might have to do custom migrations!

[2016-06-10 13:31] estellecomment opened #2382 "`extract-person-contacts` migration doesn't reuse `clinic`s"
When several users have the same "Town" value, they should be assigned to the same `clinic`.
Right now the migration creates separate `clinics` with the same name.

In the example below, we get two `clinics` called Nairobi.
![screen shot 2016-06-10 at 15 29 55](https://cloud.githubusercontent.com/assets/911434/15965802/54fdad28-2f20-11e6-962c-c490f079856c.png)

[2016-06-10 13:34] estellecomment opened #2383 "Report-sending from UI is broken in upgraded .4"
.4 projects have medic-reporter to send reports.
.6 projects send forms from the Actions FAB and Actions lists in the Contacts RHS.

Upgraded to .6, the Actions menu is empty, it probably can't find the JSON forms.
So no form-sending at all!

[2016-06-10 14:30] sglangevin commented on #2381
@estellecomment, cc-ing @diannakane here as she has been doing a lot of thinking around hierarchies. I believe she and @SCdF have also had a few conversations that might be relevant.

[2016-06-10 14:40] abbyad commented on #2381
@estellecomment and I have been discussing this and will update the issue accordingly.

[2016-06-10 14:50] estellecomment commented on #2381
Done editing! This makes a lot more sense than the original version. :)

[2016-06-10 14:53] estellecomment commented on #2382
Closing, this is a misconception on my part : "clinic" refers to Village Clinic, aka CHW. So a clinic is really a CHW area.
The "town" field is there in case there's one CHW per village for instance, in which case it makes sense to identify it.
If the "town" fields are the same it could be messed up data (the above is from demo.app, messed up) or because it's not used : ChristianAid2 doesn't have

[2016-06-10 14:53] #2382 closed

[2016-06-10 15:07] estellecomment opened #2384 "Some projects will need a renaming migration for CHW areas"
In .4, the CHW areas (`clinic`) are named by the "town" field in the Facilities table :
![image](https://cloud.githubusercontent.com/assets/789512/15970167/5675963a-2f01-11e6-9843-d8219bf4380e.png)

But some projects like ChristianAid2 don't use that field, i.e. the CHWs don't have a specific town/village that they are assigned to, they are assigned to the bigger health_center. So they chose to re

[2016-06-10 15:08] estellecomment opened #2385 "[.4 compat] Contact `person`s don't show up in their places"
CHPs are `person`s attached to a `clinic`. They should show up in the `clinic`'s CHP list.

Clinics are empty : (ignore the label, "Family Members" instead of "CHPs")
![screen shot 2016-06-10 at 15 36 00](https://cloud.githubusercontent.com/assets/911434/15966051/9a283ad4-2f21-11e6-84d7-56baf252d826.png)

[2016-06-10 15:09] estellecomment commented on #2385
Actually, that's true at every level of hierarchy, the contact person for the place doesn't show.

[2016-06-10 17:00] sglangevin commented on #2385
A contact normally shows up in the place that is their `parent`. So if you choose a primary contact for a place and that contact's `parent` is a different place, they will not show up in the place for which they are the primary contact, the will show up in the place that is their `parent`.

[2016-06-10 17:08] sglangevin commented on #1572
@diannakane @Lesterng what about the History section? Will that just be a list of everything that grows longer and longer? Or is there a plan to show the history by time period, similar to Tasks?

[2016-06-10 17:22] sglangevin commented on #2383
Is this related to #2100?

[2016-06-10 17:42] diannakane commented on #1572
For now, the list will grow, but this is another issue that we will be
addressing as the profiles continue to evolve.

On Fri, Jun 10, 2016 at 10:08 AM, Sharon Langevin <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senio

[2016-06-10 17:48] sglangevin commented on #1572
Ok, I figured that would get updated along with the tasks. We've gotten a couple of feedback points that the list gets very long pretty quickly and it seemed like that update would fit well within the profile UI update.

[2016-06-10 18:37] diannakane commented on #1572
I think we could apply the 1 week / 2 week / view all filters to the
history tab in this update without doing any additional design work on it.
The reason I said it was for a future update is because there are other
issues related to the profile that we need to look at, like highlighting
critical information (danger signs, EDD), showing personal targets, etc.
and I had grouped revisiting the utili

[2016-06-10 19:05] diannakane commented on #2381
@estellecomment

Multiple people can be added to any place level; one person is designated as "primary contact" which could mean they are the supervisor or the head of household, depending on the type of place. Other people belonging to a district or health_center may be staff at those locations, and there may be cases where we want patients to be directly associated to a place that isn't a family

[2016-06-10 19:32] sglangevin commented on #1572
That makes a lot of sense and would be a great interim update as you continue working on the other updates you mentioned. Can that be added to the mock-up easily?

[2016-06-10 19:48] diannakane commented on #1572
I will add it to the list of changes in the issue. The mockups are
supporting documentation. @lesterng, if you are doing other updates to the
mockups, you could add this in, but calling it out in the list should also
work.

On Fri, Jun 10, 2016 at 12:32 PM, Sharon Langevin <notifications@github.com>
wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.l

[2016-06-10 20:45] Lesterng commented on #1572
@diannakane @sglangevin Working on the mobile versions. I will add date filters to the History in mobile views. Should the time frames be months??? Having to adjust things for mobile. I'll back track to the web view once I got the mobile views working.

[2016-06-10 21:42] diannakane commented on #1572
I support the "months" suggestion! How about "last month," "last 3 months,"
and all?

On Fri, Jun 10, 2016 at 1:45 PM, Lester NG <notifications@github.com> wrote:

--
P.S. Join our community. Sign up for Medic Mobile's newsletter
<http://medicmobile.us8.list-manage.com/track/click?u=e5b07d2afb4b273eaff8e3c53&id=a3129fc799&e=c511575255>
.

Dianna Kane | Senior Designer
Medic Mobile <http://www.medi

[2016-06-10 21:43] sglangevin commented on #1572
That sounds great!

[2016-06-12 19:38] #2372 closed

[2016-06-12 19:40] garethbowen commented on #2369
LGTM

[2016-06-13 02:40] garethbowen commented on #2377
It looks like the recursion loop is in the pouchdb clone utility which implies we were passing an argument with an object loop. I haven't managed to reproduce this.

[2016-06-13 07:49] estellecomment commented on #2383
No, this is an issue that happens when you upgrade a .4 project to .6 code. Probably because the JSON forms are stored differently internally than the xform ones.
Nothing surprising, and not urgent for now, since no one upgraded yet.

[2016-06-13 07:55] estellecomment commented on #2381
Thanks for the details @diannakane, I agree that projects should pick what they want in their levels, very good point.

We could also consider adding a level. If ever needed.

[2016-06-13 09:08] estellecomment opened #2386 "national_managers cannot submit reports"
According to : https://docs.google.com/drawings/d/1XyeF5MRsT-kLqFlK8ZySq5xQQXVsY0HbJvUQmsi4rZI/edit

When upgrading .4 -> 2.8, we want a `person` associated to the national manager. That's so that the national manager can have a phone number, and send reports associated to him/her.
(Any other functionality we need @abbyad ?)

We can do that by adding a `contact_id` field to the `user-settings` doc

[2016-06-13 09:16] estellecomment opened #2387 "Contacts don't link to their parents"
In the LG db, `person`s that are contacts for a place have a `parent` field which points to the place.

For .4 -> 2.8 upgrades, the migration `extract-person-contacts` creates `person` docs, but doesn't include the `parent` field in it. (It does add the `contact` field in the parent place though, so the link is made in one directly already).

Add that `parent` field.

[2016-06-13 09:18] estellecomment commented on #2387
(unless that `person.parent` field is not needed? Is the `place.contact` enough?)

[2016-06-13 09:19] estellecomment commented on #2385
Actually, probably caused by https://github.com/medic/medic-webapp/issues/2387

[2016-06-13 09:59] estellecomment commented on #2387
Duplicate of https://github.com/medic/medic-webapp/issues/2385

[2016-06-13 09:59] #2387 closed

[2016-06-13 10:00] estellecomment commented on #2385
@mandric can you review please?

[2016-06-13 14:07] mandric commented on #2046
Is there a specific format we should be validating when accepting date values for `reported_date`?  Because for example `1` is a valid date if you use `moment(1)` or `new Date(1)`, or any number for that matter.  Should we constrain input somehow or just test any value that gets passed in with `moment(val).isValid()` or something?  I'm thinking keep it simple/less strict for now until we find a ne

[2016-06-13 15:04] mandric commented on #2046
To be more strict we would standardize on only accepting ISO 8601 formatted dates and rejecting others by doing  http://momentjs.com/docs/#/parsing/string/  Example, require format that includes a timezone:
[code]

[2016-06-13 17:19] sglangevin commented on #2383
Yeah, I also saw this issue when testing an upgrade - nothing to do with xforms - and I think that issue I mentioned was the issue that was filed, but I could have been wrong about that. Either way, installing JSON forms wasn't working properly with upgrades and I know there was an issue filed somewhere about that a little while back.

[2016-06-13 18:10] mandric commented on #2385
Is there a branch for this or only this one commit for tests?

[2016-06-13 18:18] mandric commented on #2367
Is there any documentation on what this migration is supposed to do, seems like we're supposed to understand the purpose of the migration based on the name of the migration?  It's hard to complete this code review without having this information.  It might be good to have a comment block in each migration that explains what the purpose of it is?

[2016-06-13 18:45] #2109 closed

[2016-06-13 19:04] Lesterng commented on #1572
@diannakane @sglangevin
Mobile mockups for person tabs.
District:
https://invis.io/QD7ML6T7C#/166036779_MContacts-District
Branch:
https://invis.io/QD7ML6T7C#/166037295_MContacts-Branch
Area:
https://invis.io/QD7ML6T7C#/166037415_MContacts-Area

Added history date filters in months

[2016-06-13 19:23] joshnesbit opened #2388 "Targets tab doesn't show correct progress"
As a restricted user on demo.dev in a normal Chrome browser, I'm seeing different displays of numbers and progress bars on the targets tab. Specifically, U1 Sick Child Assessments and U5 Sick Child Assessments are showing differently on first load vs. after refreshing the targets tab.

Here's a screenshot of the target tab on first load – it looks the same after I click reload on the about page an

[2016-06-13 20:34] garethbowen commented on #2367
The migration copies the roles from the _users database into the user-settings doc in the medic database so the app knows what features to show to the user while offline or without access to the _users db.

Yes probably, but I don't want to block all other migrations because of one user that's already broken. Currently migration failures aren't noticed in production, they're just quietly logged ev

[2016-06-13 20:52] garethbowen commented on #2385
@mandric It looks like this is the other commit: https://github.com/medic/medic-api/commit/316eb8f2fc6229bf54cc588fb961095ecc356cc4

[2016-06-13 22:01] #2367 closed

[2016-06-14 07:19] estellecomment commented on #2385
yes it is, sorry @mandric! I closed #2387 and forgot I had a commit in it.

[2016-06-14 07:25] estellecomment commented on #2367
+1 for documentation :)

Issue about migration failures is here : https://github.com/medic/medic-webapp/issues/2201

Logging the problem would be good though, otherwise we'll really never know.

[2016-06-14 07:53] estellecomment commented on #2388
Looks like https://github.com/medic/medic-webapp/issues/2065
demo.dev is on 2.6.3. like lg.app, but looks like its tasks config hasn't been updated, which is the second half of the fix that @abbyad did.

[2016-06-14 11:36] #1933 closed

[2016-06-14 11:47] alxndrsn commented on #1461
Looks good; shame we still need to _call_ `DB`, i.e. `DB().get(someId)` rather than `DB.get(someId)`.

[2016-06-14 11:48] alxndrsn commented on #1461
Also was quite hard to review as 4 separate commits.

[2016-06-14 11:48] #1461 closed

[2016-06-14 11:51] alxndrsn commented on #2355
I could not edit a contact.  I would expect this to work for a `national_admin`.  When trying to save a contact from the edit form, I received validation errors, as shown in this screenshot:
<img src="https://cloud.githubusercontent.com/assets/191496/15854736/c6efb3d0-2cab-11e6-843e-4c9d9f8fe737.png"/>

[2016-06-14 11:53] alxndrsn commented on #1637
Current dependency is on enketo-core `4.5.5`: https://github.com/medic/medic-webapp/blob/develop/package.json#L26

[2016-06-14 11:56] alxndrsn commented on #1637
Change to npm dependency building at https://travis-ci.org/medic/medic-webapp/builds/137488296

[2016-06-14 12:01] alxndrsn commented on #2102
@sglangevin a couple of queries about this one:

1. do you still want this?
2. iirc, tags listed in `or-appearance` will convert to a style rule called e.g. `.or-appearance-em`, which we would then define in https://github.com/medic/medic-webapp/blob/develop/static/css/enketo/medic.less.  Would it be more complicated to use the HTML for `<em>` or `<b>` in the label content in the XLS?

Also I'm no

[2016-06-14 12:06] alxndrsn commented on #2101
@sglangevin is this issue still current?  If so, should it be higher priority?

[2016-06-14 12:12] alxndrsn commented on #1655
From reading the source, this may have unobserved effects:

                switch ( type ) {
                    case 'date':
                    case 'datetime':
                    case 'time':
                    case 'number':
                    case 'search':
                    case 'color':
                    case 'range':
                    case 'url':
                    case 'email':

[2016-06-14 12:14] alxndrsn commented on #2191
Another timezone issue?  ref #2185

[2016-06-14 12:20] alxndrsn commented on #1419
Yes, it would still have benefits.

[2016-06-14 12:22] alxndrsn commented on #1638
This may not be a realistic aim as our XSLT sheets target XPath `1.?` and https://github.com/enketo/enketo-transformer targets XPath `2.0`.  However, there are definitely things that should be cleaned up in this project, starting with making it a fork of https://github.com/enketo/enketo-transformer and making sure that the directory structure matches up with the parent project to reasonable degree

[2016-06-14 12:29] alxndrsn commented on #2181
# publishing to `npm`

This should be done by travis for any tagged build.  More details on setting this up are available at https://docs.travis-ci.com/user/deployment/npm/

[2016-06-14 12:48] estellecomment opened #2389 "Sentinel uses wrong audit db"
Sentinel started logging a lot of this :
`error: Error saving doc "Failed saving audit record. Failed retrieving existing audit logs. [object Object]"`

I think it's looking for audit docs in `medic`, but they're now in a separate db.
Probably here, but maybe also other places, don't know that code well.
https://github.com/medic/medic-sentinel/blob/develop/transitions/index.js#L220

[2016-06-14 14:36] SCdF commented on #2379
Looks good

[2016-06-14 14:36] #2379 closed

[2016-06-14 14:42] estellecomment opened #2390 "New Place form doesn't set person.parent"
If you create a place from the LHS "Add place" menu, the place created has a `contact` field set right, but conversely the contact `person` doesn't have a `parent` field linking to the place.

(I suspect this is not specific to .4 Compat, too)

[2016-06-14 14:45] estellecomment commented on #2390
Probably the same as https://github.com/medic/medic-webapp/issues/2327

[2016-06-14 14:46] estellecomment commented on #2390
And https://github.com/medic/medic-webapp/issues/1710

[2016-06-14 15:04] estellecomment opened #2391 "Add New Place is broken"
![screen shot 2016-06-14 at 16 58 29](https://cloud.githubusercontent.com/assets/911434/16047826/f07194a2-3251-11e6-930c-04ed409f32d6.png)

[2016-06-14 15:10] abbyad commented on #2391
You haven't added the custom forms for people/place, right? Also, what is the error in the console?

[2016-06-14 15:13] estellecomment commented on #2391
It should generate one if I don't have one.
I've actually found the fix I think, it's because admin doesn't have a facility_id so needs to be processed differently. Once fixed, you get the form ok.

It's weird that it wasn't showing up in existing 2.x systems though, because it's before you get to the form, so custom or no it should be the same problem. Hmm. Will do more poking around.

[2016-06-14 15:17] abbyad commented on #2391
There are default forms built in if you dont use the custom one. I was just making sure it wasnt a problem with a custom form.

[2016-06-14 15:18] estellecomment commented on #2391
Oh I see, sorry.
Yes, I'm using the default forms, so it's not a custom form problem.

[2016-06-14 15:45] SCdF commented on #2377
:shipit: !

[2016-06-14 15:45] #2377 closed

[2016-06-14 16:16] mandric commented on #2385
Ok thanks, minor comment on medic/medic-api@316eb8f.

[2016-06-14 16:24] sglangevin commented on #2191
This was a configuration issue due to approximating birthdates and has since been resolved with a workaround.

[2016-06-14 16:32] sglangevin commented on #1655
Here is one issue that is somewhat related: https://github.com/medic/medic-projects/issues/351. I also noticed some strange behavior when creating multiple children using repeat.child as I was trying to test out a new approximation for birthday when the user enters an age. My debug fields always displayed the age from the previous child, not the child I was currently creating. So, if I were using

[2016-06-14 16:32] sglangevin commented on #2101
This is no longer an issue. Closing.

[2016-06-14 16:32] #2101 closed

[2016-06-14 16:35] sglangevin commented on #2102
@alxndrsn I ended up just including these in-line, which I think is fine for now. We can look into adding this later, but I don't think it's necessary.

[2016-06-14 16:36] sglangevin commented on #2391
In existing systems, the admin has a facility_id.

[2016-06-14 16:44] waqar-ah opened #2392 "medic-webapp installation bug"
**Getting this error while installing medic-webapp?**

[code]

[npm-debug.txt](https://github.com/medic/medic-webapp/files/314451/npm-debug.txt)

[2016-06-14 16:48] alxndrsn commented on #1655
Interesting!  Is that date bug filed anywhere?  If not I think it deserves an issue of its own.

[2016-06-14 16:49] alxndrsn commented on #2191
@sglangevin so it's still an issue, but less-high priority, or it should be closed?

[2016-06-14 16:51] sglangevin commented on #1655
I didn't file it because when I actually created the children, they all had the correct ages - it was my debug fields that were having an issue. Could be worth fixing. Another tangentially related issue (since we're talking about `repeat`) is that we only support repeat.child and we can't have other repeated person creation in the same form. @henokgetachew ran into this while building BRAC forms -

[2016-06-14 16:54] alxndrsn commented on #1655
OK.  This one's definitely a bug:

please file!

[2016-06-14 16:56] sglangevin commented on #2191
Actually, that comment jogged my memory. I have a complete fix for this in the `person` form, but it wouldn't work in family creation (`clinic` form), which I think is because of the issue we were discussing in #1655. All of my children ended up with the birthdate of the first child. I never filed that, I just did a different approximation which is working for now. This particular issue would be r

[2016-06-14 17:00] sglangevin opened #2393 "Cannot have more than one repeat group that creates people within the same form"
Per discussion on #1655. Currently we only support person creation in the Add Family form via repeat.child, which is used during family registration. However, there are cases where we'd like to have multiple `repeat` groups that create people. For example, one `repeat` group for creating children and one `repeat` group for creating eligible women (eligible = of childbearing age).

[2016-06-14 17:08] abbyad commented on #2393
Is this different than #2313?

[2016-06-14 17:09] sglangevin commented on #2393
Good memory @abbyad - I didn't think I had filed this before. Closing, duplicate of #2313.

[2016-06-14 17:13] abbyad commented on #2393
It did look a bit familiar :)

[2016-06-14 18:06] sglangevin opened #2394 "Initial replication gets stuck on Tecno"
@garethbowen here is a summary of my findings. Let me know if I can investigate anything more thoroughly.

Everything looks great on Chrome, all data loads within a minute or two. On Tecno, here is where I get stuck:
![image](https://cloud.githubusercontent.com/assets/1286381/16053257/e48c8a46-321c-11e6-8e3d-1ea8da668810.png)

On the phone, initial replication status is in progress and I have a sp

[2016-06-14 18:35] mandric commented on #2046
PR over here https://github.com/medic/medic-api/pull/78

[2016-06-14 19:52] garethbowen commented on #1461
Sorry about the four commits. I managed to break it up as three distinct refactorings: split out the watch ddoc service, combine get and getRemote, then actually fix the problem. I thought it would be easier to do in these stages than all in one.

[2016-06-14 20:33] garethbowen commented on #2181
One small comment. Otherwise, good job!

[2016-06-14 20:36] garethbowen opened #2395 "national-admins should be able to edit contacts"
<img src="https://cloud.githubusercontent.com/assets/191496/15854736/c6efb3d0-2cab-11e6-843e-4c9d9f8fe737.png"/>

It's possible that user doesn't have a contact associated, but that doesn't explain the validation errors.

Getting national-admins to work is important to allow people admin access without giving them DB admin rights.

[2016-06-14 20:36] garethbowen commented on #2355
Raised #2395 to address this.

[2016-06-14 20:36] #2355 closed

[2016-06-14 20:42] garethbowen commented on #2046
Nice one.

[2016-06-14 20:42] #2046 closed