[2016-11-29 00:56] sglangevin commented on #2957
This issue also applies to the add person button - it doesn't open the form on mobile, it just directs you back to the LHS of the People tab.

[2016-11-29 01:02] sglangevin opened #2958 "The heading "Tasks" is cut off on mobile view"
![image](https://cloud.githubusercontent.com/assets/1286381/20692377/5b3d7edc-b58c-11e6-9352-2544b529b7a6.png)

Tasks should be moved over slightly so that the full word is visible.

[2016-11-29 01:09] michaelkohn commented on #2180
@sglangevin @abbyad Technically speaking we could handle that with SQL, but it would be preferable to have a separate field for the UUID of the doc it refers to so we don't have to do string manipulation before doing the JOIN.

So the doc would have the following fields (for example)...

[code]

And our JOIN could be as simple as ```pregnancy.uuid = associated_doc.parent_uuid``` instead of using a

[2016-11-29 01:14] garethbowen commented on #2957
Probably caused by #2939

[2016-11-29 01:26] garethbowen commented on #2957
Actually caused by #2920

[2016-11-29 01:31] sglangevin commented on #2180
@michaelkohn that seems feasible to me (including the `parent_uuid` in the `_info` doc. And we should consider some way to intelligently index these docs now so that we don't run into issues later.

[2016-11-29 01:34] sglangevin commented on #2909
Seems to be working well for reports and for adding families and people.

[2016-11-29 01:35] sglangevin commented on #2956
@garethbowen #2909 looks good to me (tested using v2.8.4-beta.1 on lg-testing.app)

[2016-11-29 01:49] garethbowen commented on #2957
PR for you @SCdF https://github.com/medic/medic-webapp/pull/2959

[2016-11-29 01:51] sglangevin commented on #2655
One place where I've faced this is with the Muso configuration. This happens when you do a patient assessment and the child is diagnosed with malnutrition, then do a malnutrition follow-up.

Here is the task rule for the malnutrition follow-up: https://github.com/medic/medic-projects/blob/master/muso/tasks/task-rules.js#L570

Some additional info on the workflow/config:
Malnutrition tasks are all

[2016-11-29 01:55] #2958 closed

[2016-11-29 03:50] garethbowen commented on #2655
@sglangevin As far as I can see none of the muso forms use a datepicker. It looks like the assessment date comes from the reported_date of the patient_assessment report, is that correct?

The configuration has a bunch of code like this: `date.toISOString().substring(0,10)`. If you're in a US TZ this could easily subtract a day from the due date. For example,

1. if the report date is "2016-11-02T0

[2016-11-29 11:20] SCdF commented on #2957
LGTM, merged.

[2016-11-29 11:20] #2957 closed

[2016-11-29 12:43] SCdF commented on #2934
So here is the migration guide I'm using: https://blog.couchdb.org/2016/08/17/migrating-to-couchdb-2-0/

Their "copy the files" migration is actually still replication: you copy the files to your local node, and then replicate them into the "clustered" setup (with shards and all that jazz), so AFAICT it will present the same. It does work as advertised though, but it's basically the same as runnin

[2016-11-29 13:22] SCdF commented on #2934
OK @garethbowen, so our two options are:
 - Reconfigure 1.6 to run on another port, run them both at the same time and replicate over
 - Shut down 1.6, then copy the .couch files we want into the non-shard dir on 2.0, then replicate them from 5986 -> 5984

Both involve replication, both involve wrecking the seq, and both result in the clients being logged out and then subsequently downloading chan

[2016-11-29 13:41] SCdF opened #2960 "Make sure Concierge and CouchDB2.0 work correctly together"
Concierge is used to bootstrap medic-os (I think?) and sets some things up with CouchDB. We need to make sure that all works with 2.0.

Obvious pain points will be that `_config` no longer exists, and `_node/couchdb@localhost/_couchdb` is the new hotness.

[2016-11-29 14:39] alxndrsn commented on #2857
@browndav could use some help with the above

[2016-11-29 15:21] SCdF commented on #2935
So there is quite a bit of lucene going on in the API, and we should be solving things one step at a time. First we'll take Manhattan, then we'll get rid of lucene.

Looking into getting couchdb-lucene working on 2.0, I got it working (in the sense that it didn't crash, I didn't test it extensively) on 1.6. The main problem with 2.0 is that the `_fti` endpoint is not exposed on `5984`-- the cluste

[2016-11-29 15:29] sglangevin commented on #2655
@garethbowen yes, the assessment date come from the reported_date of the patient_assessment report. I think the accuracy of the reported_date is being reduced by passing it from the task rules to the form and then back to the rules again. Here is the form in question: https://github.com/medic/medic-projects/blob/master/muso/forms/tori/malnutrition_followup.xml

The code you are highlighting actual

[2016-11-29 15:32] SCdF commented on #2935
Raised https://github.com/rnewson/couchdb-lucene/issues/239

[2016-11-29 16:11] abbyad opened #2961 "Reports not assigned to person or place"
We have had several tech leads reporting this in their v2.9 testing.

[2016-11-29 16:14] abbyad commented on #2961
Seems related to transitions not being enabled.

[2016-11-29 16:34] abbyad commented on #2961
Setting the transitions fixes the reported issues.

Removing the _Bug_ label and adding a _Documentation_ label instead so that we are aware of this issue and know how to set them properly.

[2016-11-29 18:51] abbyad opened #2962 "Some API endpoints missing version"
Some API endpoints have the version, such as `api/v1/export`, whereas others do not have `api/sms`. Seems as though we should have version number for all endpoints, and un-versioned endpoints going to the latest.

[2016-11-29 18:56] garethbowen commented on #2655
@sglangevin I have verified that the app stores everything correctly and displays in local time, although this can cause problems when viewing the task from a TZ that differs from the one the report was submitted in. The bug is in the configuration. Remove all those hacks and if you can reproduce the old issue raise a bug for that.

[2016-11-29 18:57] abbyad opened #2963 "Not all API endpoints are documented"
We should document all API calls in `medic-api`'s [readme](https://github.com/medic/medic-api/blob/master/README.md), or at least all potentially public facing ones eg `sms`.

[2016-11-29 19:07] garethbowen commented on #2961
@abbyad This is on a fresh install, right? Do we have any configuration documentation to add this to?

[2016-11-29 19:22] garethbowen commented on #2934
I read that documentation a little differently...

I read that as it works for a single node setup (which is how low we've set the bar thus far).

Having said that, it would be better to have a clustered setup when we're done, and replication sounds like the _correct_ approach, and it should be reasonably quick so long as it's local and bypasses api.

I don't like the idea of having two versions r

[2016-11-29 19:22] garethbowen commented on #2934
@SCdF Any further thoughts?

[2016-11-29 19:27] abbyad commented on #2961
I will check next clean install that I do.

May also be useful to document what each transition is in [medic-sentinel](https://github.com/medic/medic-sentinel) to know which ones can be disabled - @mandric says performance is better requiring the minimal set. We can then mention it in [medic-docs](https://github.com/medic/medic-docs/blob/master/md/config) unless @ngamita has a better place for it.

[2016-11-29 20:45] garethbowen commented on #2655
Assigning to @sglangevin to fix the task configuration and verify that resolves the issue.

[2016-11-29 20:45] #2655 closed

[2016-11-29 20:55] #2956 closed

[2016-11-29 22:14] alxndrsn opened #2964 "Don't start api-integration tests if required env vars are not set"
If one of `COUCH_URL` and `API_URL` is not set, errors such as:
[code]
are seen when running the api integration tests.

These env vars should be checked for before starting the tests, and a clearer error message reported.

[2016-11-29 23:29] #2940 closed

[2016-11-30 05:31] ngamita commented on #2961
It's ok to be in medic-docs and we communicate to techleads.

[2016-11-30 08:45] SCdF commented on #2934
@garethbowen I agree we could run in local mode, though I'd rather not, just because it adds a layer of confusion. I.e, would that be how we ship to new clients, or would new installs be on 5984 and old on 5986, and how would that affect URLs that we use in code etc.

No other thoughts apart from that unfortunately. I guess medic 3.0 will have to have big red flags on it about upgrading and we'll

[2016-11-30 11:51] ngamita commented on #2951
Yes, sure i agree @garethbowen - something like have defaults for v2 even though 0.4 configs are introduced taking care of the permissions that don't exist in the old configuration.

[2016-11-30 14:50] abbyad opened #2965 "Phone numbers and checkmarks for "Place" overlap"
_As reported by @bishwas-medic in https://github.com/medic/medic-projects/issues/1117:_

In the Users page of Configuration, the phone numbers and the checkmark for denoting if the user is assigned to a Place are appearing together.

<img width="231" alt="screen shot 2016-11-30 at 7 39 40 am" src="https://cloud.githubusercontent.com/assets/13689284/20743193/fee1b122-b6fc-11e6-82a9-d2716244e170.png

[2016-11-30 15:11] alxndrsn commented on #2964
Also check that `COUCH_NODE_NAME` is set

[2016-11-30 16:00] SCdF commented on #2935
I've got lucene working on medic-api and presumably medic-sentinel, though it's not actually clear how I'd trigger that code:
 - https://github.com/medic/medic-api/pull/108
 - https://github.com/medic/medic-sentinel/pull/88

The grossness is that to do it we attach to the secret single node port, `5986`.

[2016-11-30 16:01] SCdF commented on #2935
Note as well that people would probably currently need a version of couchdb-lucene that is not yet released. I tested it on the master branch of couchdb-lucene.

[2016-11-30 16:52] #2934 closed

[2016-11-30 16:59] SCdF commented on #2930
@garethbowen https://github.com/medic/medic-webapp/pull/2966 is all I think I need to change. Note that now we've really dug into it I actually imagine the fastest way of getting up and running on CouchDB2 would have been to just point everything at `5986` and be done with it, but oh well, this is better for the long-term I guess.

[2016-11-30 19:04] #2930 closed

[2016-11-30 19:12] garethbowen commented on #2935
I guess it works. I'm as uncomfortable as you are with this. It's probably a blocker to actually going with couchdb2.

[2016-11-30 19:20] garethbowen opened #2967 "Report API startup progress instead of 502"
As we don't start API until all the migrations have completed users are greeted with a 502 error after update which makes it unclear whether they should wait or try and work out what went wrong.

Find some way to server an "API is starting" page instead. Ideally this would have some indication of progress (eg: "currently running xyz migration").

[2016-11-30 20:50] abbyad commented on #2904
Just did an upgrade from `0.4.13` to `2.9.0-alpha.4553` and the translations are now `"translations": null` - so it seems to be working fine now.

As Alex said, we can re-open if problem recurs.

[2016-11-30 21:14] abbyad commented on #2951
The default permissions on an instance upgraded to v2.9 are:
[code]

[2016-11-30 21:28] garethbowen commented on #2951
It looks like this [migration runs](https://github.com/medic/medic-api/blob/master/migrations/add-permissions-configuration.js) which matches what @abbyad is seeing, and then no further permissions are added to the configuration.

[2016-11-30 21:37] abbyad opened #2969 "Enable all transitions by default in migration"
From testing it seems as though transitions were enabled by default in v0.4, and now are disabled by default in v2.9.

Since our default config should be for SMS workflow projects we should enable the transitions if `transitions` is not present in app_settings when upgrading.

Here is what I used for testing, but there are a couple more [here](https://github.com/medic/medic-sentinel/tree/master/tr

[2016-11-30 21:48] abbyad commented on #2969
Transitions were removed for https://github.com/medic/medic-webapp/issues/2207

[2016-11-30 21:55] mandric commented on #2969
We don't want to enable transitions by default, pretty sure we need a way to migrate a 0.4 configuration to a 2.9 configuration.

[2016-11-30 21:56] abbyad commented on #2969
All projects that use SMS workflows need these transitions, whereas projects that _exclusively_ use app workflows do not need transitions. Two of four exclusive app workflow projects have transitions disabled in the config (eg [LG config](https://github.com/medic/medic-projects/blob/master/lg-uganda/app_settings.json#L21743-L21785)) whereas the other two do not specify.

[2016-11-30 21:57] abbyad commented on #2969
Seems as though a enable/disable transitions checkbox in the UI config would help deal with this.

[2016-11-30 22:06] abbyad opened #2970 "On upgrade existing reports are not associated to person/place"
When upgrading from 0.4 to 2.9 existing reports are not associated to places, whereas reports submitted after upgrade ([and setting transitions](https://github.com/medic/medic-webapp/issues/2969)) show the person/place accordingly.

[2016-11-30 22:43] garethbowen commented on #2951
PR please @SCdF
* https://github.com/medic/medic-api/pull/110
* https://github.com/medic/medic-webapp/pull/2971

Defaults are now applied on API startup. In addition to defaulting undefined properties (as before) this also now iterates through the permissions array adding any that aren't found in the current settings.

Once merged I'll bump the `api` submodule and backport to `2.9.x`

[2016-11-30 23:54] sglangevin opened #2972 "FAB icons misaligned in mobile view"
Screenshots taken on lg-testing.app, v2.9.0-alpha.4529, logged in as a CHP.

From People tab Family profile page:
![image](https://cloud.githubusercontent.com/assets/1286381/20776354/d947f30a-b714-11e6-825d-c4fcd972eafd.png)
From People tab CHP Area profile page:
![image](https://cloud.githubusercontent.com/assets/1286381/20776394/166807a2-b715-11e6-9c38-cc0cc08141e6.png)

[2016-11-30 23:57] sglangevin commented on #2801
After doing some testing, it seems that updating to the new container will involve clearing all data and re-syncing. We have thousands of users in some of our deployments - is there anything we can do to allow users to update without having to re-download all of their data? cc @alxndrsn

[2016-12-01 07:58] SCdF commented on #2967
So when I do this locally and I boot too fast I don't get a 502, I get a 404. Maybe my timing is just different though.

[2016-12-01 08:51] garethbowen commented on #2967
It's probably different via nginx?

[2016-12-01 08:53] garethbowen opened #2973 "Bump dependencies for 2.10"
Now's a good time to bump all our npm dependencies in preparation for the new release.

[2016-12-01 09:43] #2972 closed

[2016-12-01 11:42] SCdF commented on #2935
OK so shall we hold off merging this into the couchdb2.0 branch until:
 - We've had time to confirm if the current latest couchdb-lucene build works for us (maybe it does?)
 - couchdb-lucene has released a new version that supports couchdb2.0 properly?

[2016-12-01 13:34] SCdF commented on #2951
LGTM

[2016-12-01 14:08] alxndrsn commented on #2801
I can research this.  I doubt there's an API for getting access to the old WebView's data from the new WebView, but it might be possible to sync the databases by loading the two different WebViews and getting them to communicate through Java.  It would likely be a lot of work though, and from a dev perspective it would seem simpler to manage a staged rollout of the new version to the users, and ta

[2016-12-01 15:33] rnewson commented on #2935
mango can use map/reduce and search indexes (via clouseau/dreyfus), iirc there's an 'explain' endpoint within it that will tell you which indexes it is using for your find queries to it.

for couchdb-lucene, I think the only 2.0 issue is that it's not possible to add the `_fti` endpoint, since couchdb 2.0 does not support that via the .ini files any longer. The replacement mechanism (couch_epi) re

[2016-12-01 17:32] abbyad opened #2974 "Cannot access person/place forms"
The person and place create/edit forms get loading errors on an instance that was upgraded from `0.4` to `2.9.0-alpha.4553`. `Error loading contact form. Error: Syntax error, unrecognized expression: $promise`

Here is the full stack:
![image](https://cloud.githubusercontent.com/assets/789512/20804652/be921a9c-b7c1-11e6-81e5-7419098ae595.png)

I can see the forms in the DB:
![image](https://cloud.

[2016-12-01 17:40] abbyad commented on #2974
The error occurs in `bindJsonToXml`, specifically [this line](https://github.com/medic/medic-webapp/blob/db7ca855f88f958c0bf157eb10d7b07e93611594/static/js/services/enketo-translation.js#L340)

[2016-12-01 17:56] abbyad commented on #2974
Error occurs because the user has a `$promise` key:
![image](https://cloud.githubusercontent.com/assets/789512/20805653/8e49bee0-b7c5-11e6-936c-d70f9c07673f.png)

[2016-12-01 17:58] abbyad commented on #2974
The forms load properly once the `$promise` (and `$resolved`) keys are removed.

[2016-12-01 17:59] SCdF commented on #2974
Those are some super weird keys…

[2016-12-01 18:05] abbyad commented on #2974
Indeed! Some, but not all, user docs have these keys.

Looking at the instance that this was cloned from, the original user doc in the `_users` db has those fields too:
![image](https://cloud.githubusercontent.com/assets/789512/20805905/aa5d4bd2-b7c6-11e6-9150-5ba7834d9df9.png)

I imagine we are importing these directly when creating the medic user doc

[2016-12-01 18:15] abbyad commented on #2104
This seems to be resolved by https://github.com/medic/medic-webapp/issues/2635.

@sglangevin can we close this in favor of the other?

[2016-12-01 18:46] garethbowen commented on #2974
Yeah that looks like a migration bug. Good debugging @abbyad !

[2016-12-01 18:49] abbyad opened #2975 "Queries from ANC Analytics do not work"
As reported in https://github.com/medic/medic-projects/issues/1135 the links to reports from a CHW or about a Patient are not showing any results.

Although we plan to replace the ANC analytics (to be generated by nools), in the meantime is there a quick way to fix these queries so that existing projects can continue to use these dashboards? If not we may want to remove the links in the ANC analyt

[2016-12-01 21:35] garethbowen opened #2976 "Switch to a maintained angular d3 library"
The library we've got hasn't been updated in a long time and is missing a lot of features. Find a better one, eg: https://github.com/krispo/angular-nvd3

[2016-12-01 21:36] sglangevin commented on #2104
Sure @abbyad - closing now.

[2016-12-01 21:36] #2104 closed

[2016-12-01 22:08] garethbowen commented on #2951
Merged and backported to 2.9.x

[2016-12-01 22:08] #2951 closed

[2016-12-01 22:16] garethbowen commented on #2973
Still need to do api and sentinel.

[2016-12-02 00:21] garethbowen commented on #2973
3 PRs:
* https://github.com/medic/medic-webapp/pull/2977
* https://github.com/medic/medic-api/pull/111
* https://github.com/medic/medic-sentinel/pull/89

[2016-12-02 01:58] abbyad commented on #2828
If you create a place without a contact a contact is still created but with a blank name

## Step 1: Skip selecting a contact
![image](https://cloud.githubusercontent.com/assets/789512/20820325/815084f6-b808-11e6-810c-6f0abeb68069.png)

## Step 2: See blank contact
![image](https://cloud.githubusercontent.com/assets/789512/20820357/b5d35f96-b808-11e6-8782-e059f7ac32be.png)

[2016-12-02 02:06] abbyad commented on #2828
Ready for Acceptance Testing again.

[2016-12-02 02:06] #2828 closed

[2016-12-02 11:34] SCdF commented on #2973
@garethbowen looks like moving to Protractor 4.x broke the Node 5.x build because it's uses ES6, specifically the spread operator. Either revert back to 3.x or decide that we're dropping support for Node 5.x

[2016-12-02 13:42] SCdF commented on #2935
@rnewson thanks for the comment!

As I understand it we'd need to compile in clouseau / dreyfus support, correct? I've been using the MacOS binary CouchDB provides, and AFAICT the only kind of indexes I can create are Mango queries themselves.

Ideally we'd like to remove Lucene completely (bye bye JVM) and be able to support full text search offline via Pouch. One thing at a time.

[2016-12-02 14:57] rnewson commented on #2935
That's right, see;

https://cloudant.com/blog/enable-full-text-search-in-apache-couchdb/

and

https://cloudant.com/blog/open-sourcing-cloudant-search/

I hear you on the JVM. As far as I know there's nothing to touch Lucene in this space, though.

B.

[2016-12-02 15:46] abbyad commented on #2635
Given that nested contacts are not updated when the original contact is updated, I think this is more than technical debt because users expect a change to a contact's info to be reflected in all related contacts. We should aim to get to this as early as feasible.

[2016-12-02 17:35] abbyad commented on #2970
I cannot reproduce new reports being associated properly. Now even new reports are not properly associated and give the error `sys.facility_not_found`. Messages sent from the same number are recognized as the appropriate person in the Messages tab.

[2016-12-02 17:55] alxndrsn commented on #2933
Done and merged.

[2016-12-02 18:33] abbyad opened #2978 "Transition order matters"
@bishwas reported in https://github.com/medic/medic-projects/issues/1133 that conditional alerts were not working in v2.9 test - but it turns out that the ordering of the transitions was the culprit. Moving the `update_clinics` to above the `conditional_alerts` transition fixed the problem.

According to the [Sentinel Transitions API](https://github.com/medic/medic-sentinel#transitions-api) the or

[2016-12-02 23:31] mandric commented on #2970
Something is not associating places correctly because there is a `related_entities` deprecated (not used in 2.9) property on the new records, like b9fca774a28c2dc23df631442771ddb2 but I don't know where that is coming from, so the interface does not read that as a contact.  Sentinel also is not using `related_entities` anymore either https://github.com/medic/medic-sentinel/blob/2.9.x/transitions/u

[2016-12-03 01:10] abbyad commented on #2970
Hmm, should those `related_entities` have been changed during an upgrade migration? That one you mention is from before the upgrade though. Looking at a new one (eg [c7f97e339cd41c8c0afcdfd34d6bd22a](https://v2-test-ipd-nepal.app.medicmobile.org/_couch/_utils/document.html?medic/c7f97e339cd41c8c0afcdfd34d6bd22a)) it doesnt have the `related_entities` but still doesn't resolve.

This config uses a

[2016-12-04 19:01] garethbowen commented on #2978
I'm not sure it makes sense to allow the transitions to run in any order. If one transition adds a field (eg: the clinic) and another uses that field (eg: alerting the clinic) then the order absolutely matters. @mandric What do you think?

It may be that each pass through the transitions causes a change which triggers another pass through the transitions so with careful coding of the transitions i

[2016-12-04 20:19] garethbowen commented on #2973
I didn't check the log, then I re-ran the build, then it passed, and now I can't see the log, so IDK? But it's green now so I guess it's all good... Maybe in the last 2 days they've patched protractor or something.

[2016-12-04 20:29] abbyad opened #2979 "Cannot see reports as a district admin"
Using 2.9.0-beta.3, the admin can see [reports](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/02a2c7eba7e4f4a92aa04ff5c201aaae), but restricted users are not able to see them. I have tested with and without replication depth set, but doesn't seem to make a difference. Also checked that the reports permissions were set accordingly. Leaving this issue open as a placehol

[2016-12-04 20:34] garethbowen commented on #2973
Seems to work now. Closing...

[2016-12-04 20:34] #2973 closed

[2016-12-04 21:05] garethbowen commented on #2933
@alxndrsn I've added a comment on the PR. Feel free to close.

[2016-12-04 23:57] #2964 closed

[2016-12-05 00:16] #2965 closed

[2016-12-05 00:57] garethbowen commented on #2975
PR please @alxndrsn : https://github.com/medic/medic-webapp/pull/2980

This should be backported to 2.9.x - I can do that if you like.

There were actually three bugs here:

1. The reports freetext view had accidentally been changed to use a string as a key instead of an array of string. While this is fine, the corresponding code calling the view hadn't been changed to match.
2. The view wasn't lo

[2016-12-05 01:00] garethbowen commented on #2885
I've set it to 10240 which is production tested as sufficient with no known negative side effects.

[2016-12-05 01:00] garethbowen commented on #2885
@browndav Review please.

[2016-12-05 02:15] garethbowen commented on #2974
Ok. As far as I can see this probably occurs when using the angular $resource service, which we haven't used in ages. @abbyad Do you still have a copy of the original instance somewhere so we can see if those properties exist on the old user too?

[2016-12-05 03:00] garethbowen commented on #2979
This looks to be a fairly major bug related to replication of JSON reports.

[2016-12-05 03:17] abbyad commented on #2974
Yes, it is still an active project with a live instance. I had already checked and some (not all) of the users do have those properties.

[2016-12-05 03:18] garethbowen commented on #2974
Ok. I think the bug is fixed, but we might need to think about a migration to fix these users.

[2016-12-05 08:33] garethbowen commented on #2979
PRs please @alxndrsn

- https://github.com/medic/medic-webapp/pull/2981
- https://github.com/medic/medic-api/pull/112

The replication filtering is done in two parts. Firstly `contacts_by_depth` is queried to find people the user is allowed to see. Secondly `docs_by_replication_key` is queried to find docs about those people. The second query was already checking patient_id and place_id fields, bu

[2016-12-05 08:36] garethbowen opened #2982 "The Home page is not found"
When logging in fresh as a restricted user you see this page:

![error](https://cloud.githubusercontent.com/assets/2064938/20878265/d6779dac-bb32-11e6-8709-f5965ea5f87f.png)

Going directly to another URL works.

There is nothing in the console log.

[2016-12-05 09:07] garethbowen commented on #2982
PR please @alxndrsn https://github.com/medic/medic-webapp/pull/2983

I've also tidied the controller up so the diff is a big ugly - try ignoring whitespace. The problem was caused by breaking changes to `async.filter` between v1.x and v2.x.

[2016-12-05 09:53] #2933 closed

[2016-12-05 10:19] garethbowen commented on #2974
PR please @alxndrsn : https://github.com/medic/medic-api/pull/113

I'm satisfied that the code that caused this has been fixed so we just need a migration to fix the data on upgrade.

[2016-12-05 10:36] alxndrsn commented on #2974
LGTM

[2016-12-05 10:40] alxndrsn commented on #2975
Comments in-line.

[2016-12-05 10:44] alxndrsn commented on #2982
Diff at https://github.com/medic/medic-webapp/commit/ee6856657ecddf48eb5ab259aecbd3c17ef09a9f?w=1

[2016-12-05 10:44] alxndrsn commented on #2982
LGTM

[2016-12-05 11:05] diannakane commented on #2954
I thought @abbyad and I were saying the same thing :)

In any event, I agree.

[2016-12-05 12:32] alxndrsn commented on #2914
Has anyone got a clear idea of how this should be configured, or any examples apart from EDD?

[2016-12-05 12:34] alxndrsn commented on #2913
Would it make sense for the extra profile data mentioned in https://github.com/medic/medic-webapp/issues/2914 to be attached directly to the contact doc?  This would seem to make implementing context-aware actions mentioned in this ticket much simpler.  Having some more examples beyond EDD would help to evaluate implementation options.

[2016-12-05 16:54] sglangevin commented on #2914
I have some ideas, happy to chat about it. Other examples would be patient height and weight for growth monitoring (malnutrition) or a list of immunizations received by a child. The main piece is just being able to pull in data from previous reports to display in the contact profile.

The way I've been thinking about it is to be able to configure certain fields from a report xform to store in the

[2016-12-05 16:57] alxndrsn commented on #2979
One small query at https://github.com/medic/medic-webapp/pull/2981/files#r90907139

[2016-12-05 16:57] sglangevin commented on #2913
Another example that is upcoming: we will be doing family surveys to determine the family's wealth quintile and we may want to use that result as context for specific family or person actions. For example, families in lower quintiles might get additional follow-ups for pregnant women or we might ask extra questions during registration for immunizations for children.

The key is being able to pass

[2016-12-05 18:36] #2974 closed

[2016-12-05 18:46] #2975 closed

[2016-12-05 18:48] #2982 closed

[2016-12-05 18:53] #2979 closed

[2016-12-05 20:35] abbyad commented on #2970
@mandric do you have a fix in place for this? To get v2.9 to Final by the end of this week we'd want to fix and test this in the next couple days - should we reassign to @alxndrsn or @garethbowen?

[2016-12-05 20:56] garethbowen opened #2984 "Consider setting nginx worker_processes to auto"
@derickl asks...

[Documentation](http://nginx.org/en/docs/ngx_core_module.html#worker_processes).

Work out how much benefit this would give, and ensure core detection works on our setup.

[2016-12-05 21:42] mandric commented on #2970
No fix, all I did was poke around. I think this is a bug with how records are created via the backend (couchdb update)?  Getting on a plane right now but should be available tmrw.

[2016-12-05 21:56] abbyad commented on #2970
Thanks for the update, and have a good flight! Given the time crunch I'll reassign to Gareth since he has a bonus NZ day on us. He can reassign by the end of his day if doesn't get to it by then.

[2016-12-06 00:49] abbyad commented on #2970
From testing on v2.9.0-beta.7, to properly assign the facility using a reference code the `rc_code` key needs to be `{place}.contact.rc_code`. It does not matter if it is on `{person}.rc_code` and/or `{place}.rc_code`.

A short term fix would be:
1) fix migrations to put the rc_code with all persons (and nested contacts)
2) have `rc_code` on the person form for projects wanting to associate report

[2016-12-06 01:01] abbyad commented on #2979
Works well, thanks! Moving to Ready and if I see any problems through further testing will open new issues.

[2016-12-06 01:39] garethbowen commented on #2970
@abbyad You're absolutely right. `place_id` is where we expect the `rc_code` to be in all other parts of the code, we just don't have any migration to put it there. I'll modify the migration that overwrites it to store the `rc_code` in `place_id` before overwriting. This actually solves a few other bugs that we haven't found yet (replication of reports with a place_id, showing the rc_code on the p

[2016-12-06 02:53] garethbowen commented on #2970
@mandric PRs for you please:

- https://github.com/medic/medic-api/pull/114
- https://github.com/medic/medic-sentinel/pull/90
- https://github.com/medic/medic-webapp/pull/2985

There's two bugs fixed here:

1. The place.contact.rc_code was being overwritten by the new contact. We decided above that this wasn't the right place for it anyway, and lots of webapp code looks for it at place.place_id. S

[2016-12-06 05:06] abbyad opened #2986 "Cannot create Task or Target based on reports using short `patient_id` format"
Due to the work done in #2700 for person-centered SMS workflows it would be desirable for web users to have tasks and targets based on the SMS reports they see. However, when trying to create tasks or targets using a person's reports, only reports using the `patient_id` in UUID form are accessible in `Contact.reports`.

[2016-12-06 05:17] abbyad commented on #2986
We are testing nurse-enabled workflows in v2.9 so it would be good to include in this upcoming v2.9 release.

The relevant code seems to be the [here](https://github.com/medic/medic-webapp/blob/d76371808d9c79f0a973fba1fe8c0c20639a87f2/static/js/services/rules-engine.js#L58), where a crude edit would be changing:
`return fact.contact && fact.contact._id === factId;`
to:
`return fact.contact && ( fa

[2016-12-06 05:22] abbyad commented on #2986
I hesitated to put the `bug` label on this issue because it was never actually relevant before, nor was it requested as part of #2700. I did include in this milestone since it would unblock me on setting up the tasks and targets on `standard.app` (the new DIY config).

[2016-12-06 05:57] abbyad commented on #2906
My most recent upgrade of a config with Nepali characters did not get corrupted. I'll try again later this week with the same config as above.

[2016-12-06 10:06] garethbowen commented on #2986
@alxndrsn PR please: https://github.com/medic/medic-webapp/pull/2987

[2016-12-06 11:33] alxndrsn commented on #2986
Looks fine, but slightly confused by the original post - it says that:

However, the original code checks `contact._id`, and the _new_ code checks `contact.patient_id`.  Was the initial report mistaken?  Is it possible that only one of `_id` and `patient_id` should be checked?

[2016-12-06 14:29] abbyad commented on #2986
I understand the confusion because on the contact the UUID is stored as `_id` whereas the short ID is stored as `patient_id`, yet on the submitted report `patient_id` field is used to refer to the person, regardless of whether it is the short ID or UUID.

All contacts must have `_id` (UUID), and some may have `patient_id` or `place_id` (short ID). We should be able to associate a report with eithe

[2016-12-06 15:50] abbyad commented on #2986
Works well, but putting the Code Review label back on so this can be backported to 2.9. When that is done it can go straight to Ready.

[2016-12-06 17:28] mandric commented on #2970
One minor comment re documentation.  Merge away!

[2016-12-06 19:41] abbyad opened #2988 "Hide ability to submit JSON forms from Reports tab"
Even though a project has SMS workflows, if the forms are to be used in the webapp we would create XForm equivalents where possible. Using an XForm in the webapp is preferable to using the JSON version because it is better integrated, has better validation and more field types (eg search for person). By also having XForm equivalents we'd then have two of each form in this list:
![image](https://cl

[2016-12-06 19:58] #2970 closed

[2016-12-06 19:59] #2986 closed

[2016-12-06 20:58] #2953 closed

[2016-12-06 22:11] #2921 closed

[2016-12-06 22:21] garethbowen commented on #2866
@jaymedic Can you give any more information? Was it "normal" first, and then on subsequent login became "large"? Can you take a screenshot of the UI?

[2016-12-06 22:49] garethbowen opened #2989 "Cannot render xform after updating enketo-core dependency"
After updating enketo-core in `master` form rendering is broken. I think this is due to https://github.com/alxndrsn/enketo-client-side-transformer being out of date with https://github.com/enketo/enketo-transformer . The error is...

[code]

[2016-12-06 23:09] garethbowen commented on #2989
I've got it working again by reverting enketo-core (and jquery).

@alxndrsn Any ideas on this bug?

While we're in there we should consider publishing enketo-client-side-transformer to npm - it looks like it's ready to go and just needs an npm publish? Having everything in npm means we can consider using [yarn](https://code.facebook.com/posts/1840075619545360) and get rid of that damned shrinkwrap

[2016-12-07 00:03] mandric commented on #2978
Eventually all transitions ignore a change or make a change that allows them to be ignored on the next change.

[2016-12-07 00:05] mandric commented on #2978
It's possible `conditional_alerts` or any transition isn't following the rules either.  I'll take a look.

[2016-12-07 00:20] sglangevin commented on #2958
@garethbowen is this being backported to 2.9 or it's waiting until 2.10? I had filed it as part of 2.9 testing, but wanted to confirm as I'm currently doing acceptance testing on this issue.

[2016-12-07 00:30] garethbowen commented on #2978
I like being able to define the order because if we can get all transitions to success on first pass then we only have 1 update to the doc rather than n thus keep our changes sequence as short as possible. But I agree that if someone configures it in any other order it should get the same result eventually, but require more updates to do so. Thanks for looking into it @mandric

[2016-12-07 00:35] garethbowen commented on #2958
@sglangevin Sorry, I don't know how that got missed. I've backported it now. Thanks.

[2016-12-07 00:36] mandric commented on #2978
Yeah it's a trade off for ease of use.  I already see too much complication in configuration as is so I can't see adding ordering here helping much, typically there is just two changes since all transitions run on one change.  Unless one transition depends on another then it's 3 passes.

[2016-12-07 00:38] garethbowen commented on #2978
There's no real trade off here - it'll work either way just like it always has. This just allows for some performance optimisation if desired.

[2016-12-07 00:42] sglangevin commented on #2972
Looks much better! Moving to ready.

[2016-12-07 00:43] mandric commented on #2978
I see a trade off that's not really worth it, you save one look at change feed entry (not even saving a write)?  And you need to be aware of order during configuration or writing of transitions, which is different from right now which says write transitions so order of transition execution does not matter.

[2016-12-07 00:44] mandric commented on #2978
All the transitions run in memory and build on each other there is not a write per transition.

[2016-12-07 00:45] sglangevin commented on #2958
Acceptance testing on hold until new beta is released.

[2016-12-07 00:46] sglangevin commented on #2655
This is now fixed - we confirmed that dates are being stored and handled in UTC and that it was a configuration issue.

[2016-12-07 01:21] garethbowen commented on #2978
If a transition A depends on transition B and A runs first then...

* A will fail
* B will succeed
* DB will update
* A will succeed
* B will skip
* DB will update
* A will skip
* B will skip

If instead they are defined the other way around...

* B will succeed
* A will succeed
* DB will update
* B will skip
* A will skip

That saves you one write per doc. This is the situation that's described i

[2016-12-07 01:28] garethbowen commented on #2957
Backported to 2.9.x

[2016-12-07 01:47] mandric commented on #2978
Ok you're right, that is potentially twice as many writes probably worth defining and I don't think it would need to affect configuration either.

[2016-12-07 01:50] garethbowen commented on #2978
I guess the optimal solution would be to have each transition list the transitions it depends on then we can sort all the configured transitions in code...

[2016-12-07 01:52] mandric commented on #2978
Yeah each transition could optionally define a dependency list and those can always get ordered first so at least that reduces chances of performance hits pretty quickly.

[2016-12-07 02:06] abbyad opened #2990 "Display of count widget with no goal"
As we start using our "Targets" more widely for in-app analytics, it would be good to have the `count` widget to simply display a prominent count value (and icon + title) when there is no goal value. This will help us show plain counts like total births or number of active pregancies as part of an Analytics dashboard.

For example, it could look like this:
![image](https://cloud.githubusercontent.

[2016-12-07 09:12] garethbowen commented on #2990
@alxndrsn PR please: https://github.com/medic/medic-webapp/pull/2991

[2016-12-07 09:22] garethbowen commented on #2889
This seems to be working on 2.10 alpha, tested by creating a [family](https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/4ec99abeef859c206acbd885b155ba7e) by clicking the add family button on the RHS action bar after selecting an area as admin.

Closing so this can be acceptance tested and reopened if I've missed something.

[2016-12-07 09:22] #2889 closed

[2016-12-07 10:27] garethbowen commented on #2638
@mandric PR please: https://github.com/medic/medic-webapp/pull/2992

I went a slightly different way with this. The only way I found to reproduce the problem was if the message given had an odd number of parameters, ie: the number of labels was greater than the number of values. eg: `J1!T!one#two#odd`

I thought the best way to handle this would be to treat the missing value as `undefined` which m

[2016-12-07 14:29] mandric commented on #2638
To reproduce did you try passing in empty strings as labels and values?  Just curious...

@henokgetachew can you have a review here if you get a chance?

[2016-12-07 17:00] abbyad commented on #2982
Works well in `2.9.0-beta.9`, moving to Ready.

[2016-12-07 17:34] abbyad commented on #2975
Works well in `2.9.0-beta.9`, moving to Ready

[2016-12-07 18:28] abbyad opened #2993 "Submit button stays disabled after failed validation"
The Submit button can get stuck disabled

1) Create a user leaving all fields blank
2) Click submit button ...it gets disabled and shows _Submitting_
3) See validation message on password field (may be out of view if not already seeing the field)
4) See that submit button is never re-enabled until you close and restart the user creation modal
5) No console error messages

![image](https://cloud.gi

[2016-12-07 18:42] abbyad commented on #2965
Seems to work well for phone number and place in 2.9.0-beta.9, although we may have just moved the issue over to the username field:
![image](https://cloud.githubusercontent.com/assets/789512/20981158/73204b00-bc81-11e6-9634-32899fd2f1e5.png)

Fields like username, phone number, and email are problematic because they don't have line breaks:
![image](https://cloud.githubusercontent.com/assets/78951

[2016-12-07 18:47] abbyad commented on #2889
I have retested and this is fine with the new SMS workflow forms. The issue as reported was due to the form configuration for that project since places were created relative to the logged in user's place.

@diannakane if you see this problem on a SMS workflow project please open a new issue.

[2016-12-07 19:18] garethbowen commented on #2982
@abbyad This never affected 2.9 - we need to test in 2.10.

[2016-12-07 19:22] garethbowen opened #2994 "API error messages are not getting propagated to client"
Post a message via curl without the proper fields and you get a 500 Server Error but the body of the error does not get passed through, it only is displayed in log file.

[code]

/srv/storage/gardener/logs/medic_medic_medic-api1.log:
[code]

[2016-12-07 19:42] abbyad commented on #2982
Ah, I missed that! I retested and works well in `2.10.0-alpha.4644` (this fix was in build 4628).

Moving to Ready.

[2016-12-07 19:47] abbyad commented on #2951
Moving to ready as I've seen the `can_access_gateway_api` included by default on upgrade from 0.4 to 2.9.0beta.9.

@henokgetachew if there are other settings that need to be added by default please open a new issue.

[2016-12-07 20:05] garethbowen commented on #2638
In the def? Yeah I did. Then I read through the code and realised that specific error could only happen if the length of `labels` was greater than the length of `vals`.

[2016-12-07 20:07] abbyad commented on #2638
@henokgetachew, from my previous testing this is not true. Collect completely omits fields that are not relevant, whereas Enketo includes all fields. We had to include a special javarosa parser because of this.

[2016-12-07 20:43] abbyad opened #2995 "Missing radio buttons"
The radio buttons were not showing:

 ![image](https://cloud.githubusercontent.com/assets/789512/20985644/4ff16792-bc93-11e6-841e-4a3a3d3abae7.png)

![image](https://cloud.githubusercontent.com/assets/789512/20985661/61f579ec-bc93-11e6-9f98-ec52af1281bd.png)

No errors are in the console, and on reload they showed up again. Experienced this on Chrome in Windows.

This only occurs very intermittent

[2016-12-07 20:44] abbyad commented on #2970
Works well now. Tested upgrade of same project from v0.4 to v2.9.0-beta.9 and places are resolved according to the field which refers to the `place_id`.

Moving to Ready.

[2016-12-07 20:46] abbyad commented on #2974
Works well! Repeated the same upgrade procedure as done before but now from v0.4 to v2.9.0-beta.9.

Moving to Ready.

[2016-12-07 21:00] garethbowen opened #2996 "Add details page for user configuration"
Currently the Configuration > Users page shows a list of all users and when you select a user pops up a modal dialog. This means some detail (eg: email) is only shown in the edit user modal dialog.

Change this so when a row is selected the detail of the user is shown in a readonly page. This page has two buttons: Edit and Delete.

The Edit button is to go to an edit page (not modal).

This gives

[2016-12-07 21:22] garethbowen commented on #2993
@alxndrsn PR please: https://github.com/medic/medic-webapp/pull/2997

I also removed an unused map and function.

Consider backporting this to 2.9.x as it's annoying and a simple fix.

[2016-12-07 21:59] abbyad opened #2998 "Messaging option shown even without phone number"
There is the option to send a SMS to any place in the Reporting Rates analytics dashboard, even if that place has no phone number associated to the primary contact. In v0.4 the message icon was only shown for places that had phone numbers. In v2.9 all places have the message icon/button, and the send message modal has an empty recipient box if there is no phone number associated to the place.

##

[2016-12-07 22:01] mandric commented on #2978
So transition order currently does not matter unless a transition is broken.  But considering the discussion above we should probably open another issue for adding that feature to sentinel.  The conditional_alerts transition is broken on 2.9 and there is a PR above.  We should probably apply the PR above, release a new 2.9 beta, update and test again.

[2016-12-07 22:38] garethbowen commented on #2998
@alxndrsn PR please: https://github.com/medic/medic-webapp/pull/2999

[2016-12-08 01:41] abbyad commented on #2969
Since we won't have transitions enabled by default and don't have a control for them in the config pages, we need to add the following to `app_settings` for all SMS projects:

[code]

To improve sentinel performance unnecessary transitions can be marked as `false` or removed from the list.

[2016-12-08 01:41] #2969 closed

[2016-12-08 01:54] abbyad commented on #2848
To test SMS in v2 we tested the following:
- DIY ANC config using TextForms
- Person-centered ANC workflow
- Assessment + service reporting with Collect
- ANC+Immunization workflow using SIM app
- Nurse enabled workflow, aka dual workflow with combination of SMS + app workflows
- Upgrade of v0.4 project to v2.9

Spawned off numerous issues that have been fixed and retested. In this process we've a

[2016-12-08 01:54] #2848 closed

[2016-12-08 10:34] garethbowen commented on #2978
@mandric I wrote a couple of functional tests and made the change we discussed in the channel for comparison. My PR: https://github.com/medic/medic-sentinel/pull/92

Let me know what you think.

[2016-12-08 13:32] alxndrsn commented on #2990
Looks fine.  Intrigued to know what a goal of 'zero' would achieve though.

[2016-12-08 14:17] abbyad opened #3000 "Ability to add unique `patient_id` to contacts created using app"
We should be able to add/edit the person's short ID (`patient_id`) in the default forms to add/edit people.

This is a followup to #2828.

[2016-12-08 17:26] mandric commented on #2978
I'll raise you a PR @garethbowen https://github.com/medic/medic-sentinel/pull/93

[2016-12-08 17:28] abbyad commented on #2990
Works well in 4668, moving to Ready.

Here is what it looks like for real, not just hacked like in the OP:
![image](https://cloud.githubusercontent.com/assets/789512/21020251/babea7e8-bd41-11e6-843a-ecd2588aa3d3.png)

[2016-12-08 17:28] #2990 closed

[2016-12-08 17:59] mandric commented on #2978
Note we still need to open another issue for adding support so each transition could optionally define a dependency list, the PRs don't cover that.

[2016-12-08 19:06] garethbowen commented on #2990
I thought it could be used if you want to set a goal of say "0 missed appointments". Currently this wouldn't work well because "1" would be styled as a success not a failure, but using "-1" makes it future proof.

[2016-12-08 20:37] abbyad opened #3001 "Single delete and bulk delete does not immediately remove items from LHS in Reports/History"
Doing a bulk delete of all items did not immediately remove the items from the LHS, but they are gone after a page refresh.

[2016-12-08 21:15] garethbowen commented on #2998
I've merged to get it in to the 2.9 release. Bypassing the review just this once.

[2016-12-08 21:17] garethbowen commented on #2993
I've merged to get it in to the 2.9 release. Bypassing the review just this second time.

[2016-12-08 21:17] #2993 closed

[2016-12-08 21:49] garethbowen commented on #2978
I've merged and backported to 2.9.0 for release. We can make further changes in a service pack if required.

[2016-12-08 21:49] #2978 closed

[2016-12-08 21:53] garethbowen commented on #2906
Closing for testing - reopen if it happens again.

[2016-12-08 21:53] #2906 closed

[2016-12-08 22:04] garethbowen opened #3002 "sentinel is logging the date twice"
[code]

[2016-12-08 22:52] sglangevin commented on #2957
Working well in v2.9.0-beta.9

[2016-12-08 22:53] sglangevin commented on #2958
Working well in v2.9.0-beta.9

[2016-12-09 01:26] #2955 closed

[2016-12-09 02:07] abbyad opened #3003 "Deleted message persists until refresh"
When deleting the last message from a contact it remains in the RHS until a refresh

![image](https://cloud.githubusercontent.com/assets/789512/21034790/67d66d62-bd88-11e6-820d-f736c9a9b689.png)

You can see here that it is removed if it is not the last item, but remains if it is.
![delete message](https://cloud.githubusercontent.com/assets/789512/21035016/22f07e20-bd8a-11e6-82ef-7681088bf511.gif)

[2016-12-09 02:14] abbyad opened #3004 "Action button should always be left-most button in FAB"
Coming via https://github.com/medic/medic-design/issues/38, which was raised during user training, the Action button in the FAB should always be in the left-most position. Otherwise a user needs to look for this commonly used button because it is in different locations in different pages.

@Lesterng has updated the [mockups](https://zpl.io/Z6oDCH) accordingly

Example:
![branch manager web](https:

[2016-12-09 02:22] abbyad opened #3005 "Action button items get lost in RHS"
Feedback that we got during training was that the Action button's items can be lost in the RHS content, as seen in this image:
![image](https://cloud.githubusercontent.com/assets/789512/21035232/931dd124-bd8b-11e6-912b-23ab8af49278.png)

From the design issue (https://github.com/medic/medic-design/issues/16) update the look of those items to stand out more, using icon, `>`, border, and drop shadow

[2016-12-09 03:57] sglangevin commented on #3005
Icons are already available for forms (see issue #2794). So perhaps this issue should just be for the other UI elements.

[2016-12-09 14:48] alxndrsn commented on #2990
Good thinking.

[2016-12-09 16:42] mandric commented on #2231
We have an instance running 2.8.4 (lg-kenya) where this is still occurring, reopening.

[2016-12-09 19:17] estellecomment commented on #3002
@garethbowen where do you see this happening? I don't see it locally with the latest master, which is also the version of the submodule checked in by medic-webapp. (https://github.com/medic/medic-sentinel/commit/c5c4a9908f7c21d7d3b52c6af00222819432f986)

[2016-12-09 22:54] abbyad opened #3006 "Scheduled tasks staying in `pending` state"
In some v0.4 projects auto reply SMS are sent, but scheduled messages and alerts are not.

More details in https://github.com/medic/medic-projects/issues/1168

[2016-12-10 00:26] estellecomment commented on #3005
Screenshots:

<img width="322" alt="screen shot 2016-12-09 at 4 23 39 pm" src="https://cloud.githubusercontent.com/assets/911434/21069135/ee9e52e4-be2b-11e6-97b5-78340bba54d7.png">
<img width="930" alt="screen shot 2016-12-09 at 4 23 56 pm" src="https://cloud.githubusercontent.com/assets/911434/21069136/eea1c4e2-be2b-11e6-8ca3-70012d15a439.png">

If very long form name or tiny screen or both, you

[2016-12-10 04:19] abbyad commented on #2914
## Mockups
Here are some mockups, showing some  different configurable subgroups:

![image](https://cloud.githubusercontent.com/assets/789512/21070144/02267814-be4f-11e6-9502-98db94ce0f2b.png)

![image](https://cloud.githubusercontent.com/assets/789512/21070147/0b7937bc-be4f-11e6-8b6d-60d386431a42.png)

## Configuration
Since we want these modifications to be done even completely offline, we'll ne

[2016-12-11 20:15] garethbowen commented on #3002
That log was taken from standard.app which is a recent version. If it's working perfectly locally I suspect it's gardener (which we don't use in a dev environment) adding the extra date.

[2016-12-11 20:24] garethbowen commented on #2231
No idea what this is complaining about - definitely need to get to the bottom of it.

[2016-12-11 20:31] #3004 closed

[2016-12-11 20:39] #3005 closed

[2016-12-13 17:15] garethbowen commented on #3003
Possibly related: #3001

Check the other tabs too to ensure we're listening to changes correctly.

[2016-12-15 06:31] SCdF opened #3009 "Extract XML forms into attachments"
Instead of storing the xml form data on the report's json document we should store it as an attachment. This would greatly reduce the amount of data pushed through view generation, which would help with ram usage and presumably view generation speed.

Because the migration for this will be quite disruptive (it will take awhile and clients will need to re-download their reports) we should consider:

[2016-12-16 17:21] garethbowen commented on #3002
Check if API is too.

[2016-12-16 18:36] abbyad opened #3010 "Scheduled messages not being sent"
As reported in https://github.com/medic/medic-projects/issues/1168, scheduled messages are not always being sent. We may want to consider making the SMS API idempotent to tolerate potential gateway issues.

Auto replies to SMS are being sent, as are outgoing messages from the Messages tab.

[2016-12-16 18:39] abbyad opened #3011 "SMS API sets messages to `scheduled` on POST"
When Medic Gateway gets the list of outgoing messages it POSTs the SMS API, which changes the state from `pending` to `scheduled`. This leads to confusion and may contribute to https://github.com/medic/medic-webapp/issues/3010

[2016-12-16 18:40] abbyad opened #3012 "Scheduled messages not showing accurate date"
When a message goes back to the scheduled state (eg in #3011) the date shown in the Reports tab is the "due" state, not the newest scheduled date in the history.

[2016-12-17 00:14] abbyad commented on #3010
This _may_ be related to https://github.com/medic/medic-webapp/issues/2535 :)

[2016-12-17 01:11] garethbowen commented on #3010
This should be solved now. @abbyad ?

[2016-12-17 02:25] abbyad commented on #3010
Indeed, just tested. Thanks!

[2016-12-17 02:25] #3010 closed

[2016-12-19 19:09] abbyad commented on #2913
Yes, as mentioned in https://github.com/medic/medic-webapp/issues/2914#issuecomment-260469273 saving the info to the contact's profile is a good approach to make it part of the context for a contact's actions.

[2016-12-20 06:13] derickl commented on #2774
This issue has resurfaced during an import I did at around 0850 GMT+3.
I installed medic-import using npm. Here's the package.json. I'll share the log privately via slack.

[code]

cc @alxndrsn @garethbowen @estellecomment @SCdF

The 409 Document conflict is interesting since only the contact document was created during the import. No document in `_users` was created.

I fixed the 400s by supplyin

[2016-12-20 14:28] abbyad commented on #3006
This was reopened, and closed, as #3010.

[2016-12-20 14:28] #3006 closed

[2016-12-20 15:58] abbyad opened #3013 "Cannot access person info in validations"
We can access a patient's name in a form's auto-reply, but not in a validation.

# Auto Reply
![image](https://cloud.githubusercontent.com/assets/789512/21357292/a2b05222-c6a2-11e6-871a-96edc5eae108.png)

# Validation
![image](https://cloud.githubusercontent.com/assets/789512/21357330/bc6a2788-c6a2-11e6-9abf-b790a060cb31.png)

[2016-12-20 16:03] abbyad commented on #3013
Relevant excerpt of config:

[code]

For the validation I have tried `{{patient_name}}`, `{{name}}`, `{{contact.name}}`, and `{{patient.name}}` -- all give no output.

[2016-12-20 18:42] estellecomment commented on #2988
Sounds like there's no use case for displaying the JSON forms, so I'd be in favor of just hiding them, rather than add configurability that's not used. Lemme know.

[2016-12-20 18:53] abbyad commented on #2988
The use case is if we haven't bothered setting up the equivalent XForms - but you are right, we can just hide them for now.

[2016-12-20 19:07] abbyad commented on #2988
LGTM, merging and moving to Acceptance Testing

[2016-12-20 19:09] abbyad commented on #2988
I'll stick around to do the Acceptance testing once it builds.

[2016-12-20 21:22] garethbowen opened #3015 "Migration for incorrectly generated scheduled messages"
As reported in https://github.com/medic/medic-projects/issues/1168 scheduled messages aren't being sent. The root cause was fixed in https://github.com/medic/medic-webapp/issues/3010 and released in 0.4.14 however any messages generated prior to upgrading will still be missing the required uuid field.

Write a migration to add a uuid to all scheduled messages which don't already have it. This migr

[2016-12-20 22:21] garethbowen opened #3016 "Drop SMSSync support"
We have SMSSync only code (eg: `/add` endpoint) but from v3.0 onwards we only support medic-gateway. Drop the code, views, documentation, etc and commit to the couch 2 feature branch for inclusion in 3.0.

[2016-12-20 22:24] garethbowen opened #3017 "Replace gardener"
Gardener has some major flaws such as log rotation, log spam, reporting.
Use supervisord directly, or some other well supported 3rd party service
Make our node modules top level in the supervisor

[2016-12-20 22:26] garethbowen opened #3018 "Replace dashboard and markets"
Dashboard has some major flaws: upgrades are executed from the client so it’s badly affected by poor internet, you can only upgrade to the latest version in the given market, and it’s dead.

- Write custom node app for provisioning
  - Has minimal UI for picking which version to install
  - Knows which version is currently installed
  - Extracts api and sentinel and notifies supervisor
- Publish b

[2016-12-20 22:27] garethbowen opened #3019 "Replace kanso"
kanso is dead. We need to move off it.

### Package management

We’ve already moved completely to using npm (via bower…). The remaining packages are only needed for kanso deployment.

### Ddoc building

There are grunt libraries for compiling and deploying couchapps, eg: https://github.com/jo/grunt-couch
We may need to do some custom code to bundle up api and sentinel for pushing to the market, ju

[2016-12-20 22:28] garethbowen commented on #3017
Related: #3018 #3019

[2016-12-20 22:28] garethbowen commented on #3018
Related: #3017 #3019

[2016-12-20 22:28] garethbowen commented on #3019
Related: #3017 #3018

[2016-12-21 01:25] abbyad opened #3020 "Bullet displayed incorrectly"
This is on the same instance, logged in as admin on the left, and restricted user on the right:

![image](https://cloud.githubusercontent.com/assets/789512/21374076/dcb02d18-c6f1-11e6-931d-09d044457eb4.png)

Took me a while before I noticed it, so it is possible that it is not happening consistently

Running 4668

[2016-12-21 14:51] abbyad opened #3021 "Label not always displayed"
A label that can be hidden does not show the value of another field, yet an exact copy of the note field that is always `relevant` does show the value:
![image](https://cloud.githubusercontent.com/assets/789512/21393290/c63b7e8c-c761-11e6-9f16-08f6447bc3b3.png)

The field that does not display the label properly does have a line break instead of the referenced value:
[code]
vs the working version:

[2016-12-21 15:00] abbyad commented on #3021
Here is the relevant xform snippet:

[code]

[2016-12-21 15:18] abbyad commented on #3021
Based on @alxndrsn suggestion, showing it with a editable text field as the source data:

## Sample text set by default, not shown in conditional field:
![image](https://cloud.githubusercontent.com/assets/789512/21394390/713526a4-c766-11e6-851e-f6ad01e5042e.png)

## Changing the default text the value is displayed properly, regardless of if it was shown or hidden when the change was done:
![image]

[2016-12-21 15:56] alxndrsn commented on #3021
Looks like a bug in enketo - if the encompassing `<input>` has _never_ been relevant, embedded `<output>` values are not inserted.  If the `<input>` subsequently becomes relevant, the `<input>` value will be blank.  If the bound value is later changed, the `<output>` will be updated as expected.

However, in the following case, the `<output>` is updated as expected:

1. make the `<input>` relevant

[2016-12-21 16:01] abbyad commented on #1554
This is now also needed for our Standard app, because we'd want a nurse/manager accessing the app on a phone to be able to follow up with a CHW by calling them from a task.

[2016-12-21 16:04] alxndrsn commented on #1554
Worth testing this on the latest vanilla enketo - I suspect it's a bug there, but may have been fixed.

[2016-12-21 16:18] abbyad commented on #2988
Thanks @estellecomment for the quick work on this!

Works well, moving to Ready.

[2016-12-21 16:18] #2988 closed

[2016-12-21 16:31] abbyad commented on #1554
Still an issue in 4695, but not sure if we are using the latest vanilla Enketo in that build.

[2016-12-22 01:15] abbyad opened #3022 "Option to compare against the translation keys"
We should have the option to select the "Translation key" in the drop down list here:

![image](https://cloud.githubusercontent.com/assets/789512/21411822/6ccfe006-c7b9-11e6-863e-c76260b17241.png)

That way we can compare the text to the translation key, which is useful when looking for those without a translation. It is also helpful when comparing an English label to the key, and also if the labe

[2016-12-23 01:59] SCdF commented on #2774
@derickl can you confirm which server this was run on?

[2016-12-23 06:06] derickl commented on #2774
lg-ke.dev

This time round, I think it has to do with the latest version of the script
(after @mandric merged the bulk editing stuff). Using an older copy works
as expected.

On Fri, Dec 23, 2016 at 4:59 AM, Stefan du Fresne <notifications@github.com>
wrote:

--
Derick
Join our community. Sign up for Medic Mobile's newsletter.

Derick Lung'aho | Tech Lead
Medic Mobile
<http://medicmobile.us8.list-

[2016-12-23 06:16] derickl commented on #2774
I deleted all the records and re-imported with the older version of medic-import (pre- bulk utils).
I could also replicate the same issue on a local VM.

[2016-12-23 06:25] mandric commented on #2774
I didn't merge bulk edit stuff, it's still in a branch and open PR.  If you're sure it's the import script would be good to know which version is broken.

[2016-12-23 06:57] derickl commented on #2774
@mandric I used this package.json

[code]

It should be whatever is on npm as of 3 days ago. This version contains the pregnancy import etc. Does this help?

[2016-12-23 15:02] abbyad commented on #3020
Can reproduce now...

1. In console run `angular.reloadWithDebugInfo();`, which is done when trying to [debug the XForm](http://medicmobile.cloud.answerhub.com/questions/209/how-can-i-debug-the-values-of-a-xform-in-progress.html)
2. See weird bullets

Users won't run into this, but will leave open for now so that a developer can assess in case it hints at another issue.

[2016-12-23 18:21] mandric commented on #2774
@derickl I just tested that package.json and it uses 0.3.0 tagged in git and on the master branch.  But that doesn't have any pregnancy import templates in it, the pregnancy import project template is also still in a branch with an open PR.

[2016-12-31 02:57] ngaruko commented on #1
This issue was moved to ngaruko/medic-webapp#1

[2016-12-31 02:57] ngaruko commented on #1987
This issue was moved to ngaruko/medic-webapp#2

[2016-12-31 02:58] ngaruko commented on #3
This issue was moved to ngaruko/medic-webapp#3

[2016-12-31 02:58] ngaruko commented on #4
This issue was moved to ngaruko/medic-webapp#4

[2016-12-31 02:58] ngaruko commented on #6
This issue was moved to ngaruko/medic-webapp#5

[2016-12-31 02:59] ngaruko commented on #8
This issue was moved to ngaruko/medic-webapp#6

[2016-12-31 02:59] ngaruko commented on #45
This issue was moved to ngaruko/medic-webapp#7

[2016-12-31 02:59] ngaruko commented on #32
This issue was moved to ngaruko/medic-webapp#8

[2016-12-31 03:01] ngaruko commented on #38
This issue was moved to ngaruko/medic-webapp#9

[2016-12-31 03:02] ngaruko commented on #356
This issue was moved to ngaruko/medic-webapp#10

[2016-12-31 03:02] ngaruko commented on #347
This issue was moved to ngaruko/medic-webapp#11

[2016-12-31 03:46] ngaruko commented on #1126
This issue was moved to ngaruko/medic-webapp#12

[2017-01-03 15:04] browndav opened #3023 "Medic OS: Create manual page packages, i.e. make `man` work"
Create installed-by-default packages that supply documentation via the `man` command. This will make troubleshooting easier, especially for members of the team who aren't familiar with the limitations of `busybox` or `ash`.

Use a `<packagename>-docs` convention, and supply the `man` command as part of the base system image.

[2017-01-03 15:23] browndav opened #3024 "Ensure various $PATH variables are sane, backport fix if needed"
By default, a Medic OS system should have binaries from installed packages like `medic-core` (e.g. `nginx`) in the `$PATH`, with all appropriate dynamic libraries also available via /etc/ld.so.conf or `$LD_LIBRARY_PATH`.

It's likely this fix has already been made. Check that it works with a new build, and make sure whatever failure mode is at work won't bite us again.

[2017-01-03 15:25] browndav opened #3025 "Medic OS: Provide symbolic links for logs beneath /var/log"
Most Linux administrators are accustomed to finding *something* useful beneath `/var/log`. We currently store our logs on a per-package basis beneath `/srv/storage`. Provide some automatic way to type something useful along the lines of `ls /var/log/medic-core/nginx/*.log`.

[2017-01-03 19:08] garethbowen commented on #3024
Duplicate of https://github.com/medic/medic-webapp/issues/2750 ?

[2017-01-03 19:14] browndav commented on #3024
For sure, good catch. Added the more detailed one to the milestone; closing this.

[2017-01-03 19:14] #3024 closed

[2017-01-03 20:50] garethbowen commented on #3011
Consider documenting the message status transitions as part of this.

[2017-01-03 21:22] SCdF commented on #2920
@ngaruko and I AT'd this.

[2017-01-03 21:24] garethbowen commented on #3012
PR please @alxndrsn : https://github.com/medic/medic-webapp/pull/3026

It turns out this is due to #3011 - we have special handling for the scheduled state because if a message is scheduled we want to show the due date, not the date when the state transition occurred. So once #3011 is fixed it'll go back to showing the right date.

[2017-01-03 21:55] ngaruko opened #3027 "Character not properly rendering in Windows."
![image](https://cloud.githubusercontent.com/assets/6979995/21624501/346d8020-d26c-11e6-90bd-3df4ec94f1b5.png)

[2017-01-03 21:56] SCdF commented on #3027
This is how it looks in MacOS:
![image](https://cloud.githubusercontent.com/assets/583851/21624540/5ff97316-d26c-11e6-8a05-72a7140c20ee.png)

[2017-01-03 21:57] garethbowen commented on #3027
Related to, or duplicate of: #3020

[2017-01-03 22:01] ngaruko commented on #3027
Duplicate.

[2017-01-03 22:01] #3027 closed

[2017-01-03 22:05] ngaruko commented on #3020
It looks intermittent without any debugging. Just refreshed the page and it is properly rendering.

[2017-01-03 22:23] ngaruko opened #3028 "Bubble task count not showing on browser refresh"
1. Steps to reproduce:
Find a family with a member that has a task >> Bubble shows
![image](https://cloud.githubusercontent.com/assets/6979995/21625257/a88ac00a-d26f-11e6-96f5-d2511190b23f.png)

Then refresh the page  >> Bubble does  not show when the browser loads.
![image](https://cloud.githubusercontent.com/assets/6979995/21625312/eeb7b8d0-d26f-11e6-975d-78803309d7b6.png)

Navigate away from th

[2017-01-03 22:30] garethbowen commented on #3009
Consider doing this at the same time: #2882

[2017-01-04 02:45] ngaruko opened #3029 ""Targets" tab blank for admin users"
On the web app from page, the targets tab is blank. This is due to the fact that admin users may not have targets configured. Instead of leaving the page blank, it would be nice to show a message that explains the case.
![image](https://cloud.githubusercontent.com/assets/6979995/21630299/bf131154-d294-11e6-809f-858652e2b2d3.png)

[2017-01-04 02:46] garethbowen commented on #3029
I think this is the case for all users. There are 3 types of targets and IIRC the default configuration is for all of them to be disabled.

[2017-01-04 03:43] SCdF commented on #2882
NB: CouchDB [does compress a lot of stuff including XML by default](http://docs.couchdb.org/en/2.0.0/config/misc.html#attachments/compressible_types), and IndexedDB gets compressed in [Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=81384) and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=715019#c1).

[2017-01-04 05:11] ngaruko opened #3030 "UI shows variable names (as in code) instead of "human-readable" phrases"
Logged in as restricted user. Go to Options menu, select History. Select one of the items on the LHS.
![image](https://cloud.githubusercontent.com/assets/6979995/21632218/1012d94a-d2a9-11e6-96c8-cb1e5c08c27f.png)

[2017-01-04 10:06] garethbowen commented on #2976
PR please @SCdF https://github.com/medic/medic-webapp/pull/3031

[2017-01-04 12:42] derickl commented on #2774
@mandric it seems something changed when running the import script. Here is the dry-run output from v0.3 compared to v0.2

**v0.3**
[code]

**v0.2**

[code]

Looking at the output from v0.3, a CHP place is not created for the CHP as is the case with v0.2. In v0.3, a CHP is created directly under the selected "branch" rather than one level lower than the branch.

I don't know if this is the reason

[2017-01-04 15:12] estellecomment commented on #3002
Ha! It is gardener.
Gardener logs timestamps, sentinel logs timestamps, api doesn't log timestamps.
So we see two timestamps in sentinel + gardener logs.

[2017-01-04 18:49] garethbowen commented on #3002
Let's just remove the timestamps from sentinel and let gardener do it.

[2017-01-04 18:52] ngaruko commented on #2791
Not sure if we should reopen this to reflect #3028 or just make reference to it.

[2017-01-04 18:56] mandric commented on #2774
@derickl would it be too much to work to code review [these PRs](https://github.com/medic/medic-bulk-utils/pulls)?  Then we can merge them and test from there?  Just thinking it will save us time overall to get the latest code merged and tested, rather than hitting this bug again later if it is a bug.

[2017-01-04 19:46] garethbowen opened #3032 "Fix npm shrinkwrap"
The way we're using npm shrinkwrap isn't working, or npm shrinkwrap is just broken.

* It's painful to add new dependencies because that regenerates the shrinkwrap which can break the build in unrelated ways
* It always tries to include the dev dependencies which are irrelevant and makes it difficult to diff
* It gets out of date partially because it's just too difficult to use properly

Things to

[2017-01-04 22:27] ngaruko commented on #2791
Sure. I will mark this as A/Tested and keep #3028 as is.

[2017-01-04 22:47] SCdF commented on #2976
LGTM

[2017-01-04 22:47] #2976 closed

[2017-01-05 01:03] garethbowen commented on #3015
Code review please @alxndrsn https://github.com/medic/medic-api/pull/116

If/when this is accepted we need to backport to 2.9.x and 0.4.x and then bump the submodules in the respective branches of medic-webapp.

[2017-01-05 01:06] garethbowen opened #3033 "Release 0.4.15"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [ ] Update the testing app and run acceptance testing
- [ ] Update Changes.md
- [ ] Tag the final release
- [ ] Announce the release in #general
### Issues
- [x] #3015

[2017-01-05 01:06] garethbowen opened #3034 "Release 2.9.1"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [ ] Update the testing app and run acceptance testing
- [ ] Update Changes.md
- [ ] Tag the final release
- [ ] Announce the release in #general
### Issues
- [x] #3015

[2017-01-05 01:08] sglangevin commented on #3034
@garethbowen I got a request from @Enock1990 to keep v2.8.5 available for another day or two so that we can update the BRAC instance (they are also facing the same debouncing issue). Can I confirm with you once that update is done? cc @derickl

[2017-01-05 01:09] garethbowen commented on #3034
Sounds good. #3015 will need a couple of days to get through acceptance testing anyway.

[2017-01-05 03:56] ngaruko commented on #2702
Actually down to a certain screen size, the configuration icon disappears altogether .( Just in case we decide to work on this in the future)
![image](https://cloud.githubusercontent.com/assets/6979995/21668567/ef7c83ce-d367-11e6-8a3f-e536ac9de333.png)

[2017-01-05 12:31] estellecomment opened #3035 "Travis passes tests, but `"cat nohup.out" exited with 1`"
Travis completes tests, then runs `cat nohup.out`:
![screen shot 2017-01-05 at 13 26 55](https://cloud.githubusercontent.com/assets/911434/21680550/b6dd1064-d34a-11e6-822f-fc7e94bfef5f.png)

End of log :
![screen shot 2017-01-05 at 13 25 56](https://cloud.githubusercontent.com/assets/911434/21680521/8c7a4f30-d34a-11e6-8881-3d07a9a9d4b4.png)

Full log :
[travis_job_4707.2.txt](https://github.com/me

[2017-01-05 14:02] alxndrsn commented on #3012
The code seems to assume that the current state is also stored in the `state_history` list.  If that's the case, then this seems fine.

[2017-01-05 14:59] alxndrsn commented on #3015
If there are multiple messages assigned to a single `scheduled_task`, I think only one will be updated.  I will submit a PR with a test case.

[2017-01-05 15:09] alxndrsn commented on #3015
Extended test seems to fail in two ways:

1. No `uuid` added to the second `messages` item when multiple entries in `messages`
2. No `uuid` added to single `messages` item in the following `scheduled_tasks` entry

[2017-01-05 18:32] ngaruko commented on #2292
The 'tasks' tab displays a message but the 'Targets' page is still blank. Refer to #3029. I am going ahead and A/Testing this one since #3029 is still open.

[2017-01-05 20:00] #3012 closed

[2017-01-05 20:14] garethbowen commented on #3015
You're absolutely right... *facepalm*

Fixed in the original PR.

[2017-01-05 20:19] garethbowen commented on #3002
One small change requested.

[2017-01-06 00:19] SCdF commented on #2882
PR: https://github.com/medic/medic-webapp/pull/3036

[2017-01-06 00:19] SCdF commented on #3009
PR: https://github.com/medic/medic-webapp/pull/3036

[2017-01-06 03:48] SCdF commented on #3035
@estellecomment I got this as well, for the Node 7.x build. Do you remember if that was the same situation for you?

The reason we cat it out is if anything fails we can see the log. We could potentially change it to only cat out if there has been a failure, we'd have to look into if we can detect that.

[2017-01-06 03:57] SCdF commented on #3009
@estellecomment would you like to take a look at the PR linked above?

This change supports reading both the old way and the new way, and writing the new way. It can be merged into master once we're happy with its quality.

I'm also going to write a separate PR for a migration script, which we may or may not want to merge at some time of our choosing, when we're OK with lots of data churn occurrin

[2017-01-07 04:54] garethbowen commented on #3015
@SCdF This has been merged in https://github.com/medic/medic-api/commit/8abf9b39fb484f25499e9b2367b2ac22b3c1770e . The api submodule needs to be bumped and the patch backported for release. I'll leave this up to you. Thanks!

[2017-01-09 08:55] ngaruko commented on #2623
No AT required. Looked at this along with @estellecomment

[2017-01-09 08:57] ngaruko commented on #2460
No longer relevant according @estellecomment .

[2017-01-09 09:10] ngaruko commented on #2386
Need more information on who are national managers and how to create those...Any thought @sglangevin

[2017-01-09 09:26] ngaruko commented on #2385
Created new district and assigned a contact. Still does not show in the RHS.
![image](https://cloud.githubusercontent.com/assets/6979995/21761862/a0e77984-d6ba-11e6-9350-392abadeeed1.png)

expected: https://app.zeplin.io/project.html#pid=57d311edb055084578d006ec&sid=57e422c6536da7187eefa167

[2017-01-09 09:29] ngaruko commented on #2385
Tested on alpha.dev >>Version 2.10.0-alpha.4715

[2017-01-09 09:35] ngaruko opened #3037 "Place ID is blank"
In people's tab, click on district. Place Id is blank....What should be this ID and is anyone using it from UI perspective @diannakane @sglangevin.
![image](https://cloud.githubusercontent.com/assets/6979995/21762134/f15e5ad0-d6bb-11e6-9964-470d7e5ad3bf.png)

[2017-01-09 09:38] estellecomment commented on #2383
No Acceptance Testing needed since this got removed by https://github.com/medic/medic-webapp/issues/2988.

[2017-01-09 09:41] ngaruko commented on #2383
No AT needed

[2017-01-09 09:59] ngaruko commented on #2111
@bishwas-medic  Just checking, is this working on your side? Are you able to Acceptance Test this?

[2017-01-09 10:10] bishwas-medic commented on #2111
@ngaruko I had installed the Estelle's sentinel monitoring script (https://github.com/medic/medic-monitoring) on one of our live project instances and it seemed to have been working without issues so far. I haven't received any email alerts for sentinel going down till now.

There were talks of integrating the monitoring script on our standard webapp package so that it is activated automatically w

[2017-01-09 10:32] browndav commented on #2111
I took this as far as establishing and documenting https://github.com/medic/medic-os-simplest-possible-package; in theory it should be as simple as dropping the script in there, and probably making a minor tweak to the `env` to figure where `node` is (both to be safer than depending on a pre-set $PATH, and due to https://github.com/medic/medic-webapp/issues/2750 being in the current iteration and

[2017-01-09 10:35] browndav commented on #2111
I know there were also a few challenges around sending e-mail from AWS that @mandric had briefly looked in to. I'm wondering if finding a way to use the script in a slightly different way, i.e. to ask the service supervisor what the status is, essentially pull vs. push. Could be easier than a long-running service, and being able to remotely query the status of individual services could be useful i

[2017-01-09 16:34] browndav commented on #2750
Here's a minimal fix for all existing deployed instances:

[code]

A better fix is in `master` of Medic OS already, but from what I can surmise, the use of `$ENV` to pick up `/etc/ashrc` was somehow leading to either (a) `~/.profile` just not being read at all, or (b) `$PATH` being overwritten at some point. Here's some manual page fun:

<img width="906" alt="man-ash" src="https://cloud.githubuser

[2017-01-09 16:36] browndav commented on #2750
The deployment may be worth a separate issue; will defer decision to today's mid-iteration call.

[2017-01-09 17:02] browndav commented on #3023
I've identified a point in the build process where we can grab and package the manual pages. Each package currently has a `prepare-dist` script that does all of the size-optimization/trimming/deleting; I've tested that this is indeed the case, found an easy a way to stop the build prior to the `prepare-dist` execution, checked that `man ` exists and seems to work in Busybox, and thought through ho

[2017-01-09 17:15] browndav commented on #2857
On it. I'm thinking I'll merge this one-liner to `dev` so that medic-os/master will be a CouchDB 1.x branch and `dev` will be the next-gen CouchDB 2.x branch, since there are almost certainly other changes (e.g. concierge). I'll do this now and get a test build running. Will probably update Erlang simultaneously.

[2017-01-09 18:10] browndav commented on #2750
Here's a single-command / single-file self-deploying version of the patch:

[code]

[2017-01-09 18:19] browndav commented on #2750
Confirmed that this works remotely using `ssh lg.dev.medicmobile.org < path-hotfix`.

[2017-01-09 19:47] SCdF commented on #3033
Hey @ngaruko and @mandric , can you A/T this build in AWS and let me know how it goes?

This release contains #3015, examples of this issue apparently at https://github.com/medic/medic-projects/issues/1168

[2017-01-09 20:31] mandric commented on #3033
Test the beta release?  @abbyad  do we have an instance already running the beta that we can use for acceptance testing? I know we have demo.app (beta) and alpha.dev (alpha) but I don't know of a beta.dev or similar.  We should probably have/add a dedicated instance that runs the beta that can be used for acceptance testing.

[2017-01-09 20:53] mandric opened #3038 "backup partition full on backup server"
[code]
We should also add some kind of monitoring for this but probably a separate ticket.

[2017-01-09 22:17] ngaruko opened #3039 "'Access denied error' when signing in as restricted user"
Steps:

Login as admin

Create a user (restricted to a place) >> Configuration >>Users >>Add User
Log out
Login as the created user

![image](https://cloud.githubusercontent.com/assets/6979995/21785067/ea9c7698-d722-11e6-81ad-437d37f440fe.png)

Note: This is in Chrome, normal mode. alpha.dev version 2.10.0-alpha.4715

In firefox (similar to another closed isssue- couldn't get my finger on it):
![i

[2017-01-10 00:49] SCdF commented on #2385
@ngaruko is this related to creating users and contacts incorrectly like we discussed? Do you think if you created the user and contact correctly (ignoring the UI allowed you to create it incorrectly in the first place) it would work?

[2017-01-10 01:00] SCdF commented on #3039
This was because @ngaruko created the user "incorrectly", as in without a linked contact and with a place that didn't make sense.  I believe Bede will be instigating a conversation around the creation of users to see if it can be done in a more intuitive and less flaky way.

[2017-01-10 01:00] #3039 closed

[2017-01-10 02:05] ngaruko commented on #3039
I guess we need to have a conversation around some UI validation and error messages. I understand most of it is done during configuration, but we still need to investigate ways the UI interaction and workflows can be more reliable, more intuitive and less prone to invalid entries.

[2017-01-10 02:12] SCdF commented on #3039
Quite a bit of it yeah. I'm not sure if you can configure the create user stuff, but if not there is at least defaults there that we should be using correctly.

[2017-01-10 04:54] ngaruko commented on #2576
'change time unit ' now available. Thanks @bishwas-medic

[2017-01-10 04:56] ngaruko commented on #2575
'select district' option available. Thanks @bishwas-medic

[2017-01-10 12:47] estellecomment commented on #3009
LGTM!

[2017-01-10 12:49] estellecomment commented on #3009
Leaving it in Active Work because of one comment, but do what you want.

[2017-01-10 18:15] diannakane commented on #3037
I think it's there as a holding place for projects that need to use it. I
don't know of any that use it so it probably should be hidden.

[2017-01-10 18:35] estellecomment commented on #3002
Gareth is out tramping, @alxndrsn can you review https://github.com/medic/medic-sentinel/pull/94 please?

[2017-01-10 19:02] estellecomment commented on #2385
Ok, I know what this is.
1. Create Place A with new primary contact Person A.
2. Create Place B with existing primary contact Person A.
Expected : Person A is displayed as primary contact for Place B.
Result : no primary contact displayed for place B.
(reproduced : https://alpha.dev.medicmobile.org/medic/_design/medic/_rewrite/#/contacts/4ec99abeef859c206acbd885b189d95a)

It's because the `parent`

[2017-01-11 02:30] mandric opened #3040 "import pregnancies project template"
https://github.com/medic/medic-bulk-utils/pull/4  assigning to browndav unless someone else feels compelled.

[2017-01-11 02:51] abbyad commented on #3033
For this particular issue/release we'll want to clone a project instance with the problem and test updating it.

[2017-01-11 03:21] ngaruko commented on #2699
Just wondering. Is it supposed to be fixed in all production instances? @garethbowen @abbyad
This screenshot is from ipd-nepal. or do they have an older version installed?
![image](https://cloud.githubusercontent.com/assets/6979995/21834406/b2169298-d819-11e6-9752-bdd42e3ce702.png)

[2017-01-11 03:30] SCdF commented on #2774
@mandric I've looked through those two PRs and made comments on them. Let me know over Slack if you want to discuss any of it.

[2017-01-11 06:14] abbyad commented on #2699
They have v0.4 installed, so I am guessing it was fixed in v2. If we can re-confirm that it doesn't show as ms in v2 (as per Gareth's screenshot) then that's fine for moving this out of acceptance testing.

[2017-01-11 18:01] diannakane commented on #2385
If I'm understanding the question right, then yes, I think being able to
have the same primary contact for 2 places is useful to support.

[2017-01-11 18:21] sglangevin commented on #2385
I don't know of anywhere this is currently needed as most of the projects that were using v2.x last year don't really use the primary contact for anything, but that is very likely to change as we start deploying projects using SMS workflows on version 2.x.

[2017-01-11 18:33] sglangevin commented on #2386
National manager is the "full_access" user. You can create one of these using the Users Configuration UI in the app. From the way I read this issue, this user will need a person, but not a place. You can leave the place blank.

[2017-01-11 22:21] ngaruko opened #3041 "Invalid user should not be allowed to be created."
At the moment, when creating a user (Configuration >> Users >>Add User), the 'Place' and 'Associated contact' fields are optional. But when those are left out, the created user is 'invalid' for all intents and purposes. I would suggest this to be compulsory. And ideally, once a place has been selected, the 'Associated contact' selection/choices should be limited to those contacts that are associat

[2017-01-11 23:42] estellecomment commented on #2828
These forms are in medic-projects, which means you need to upload them to see them in your instance. Do they get packed into the instance by default @abbyad ?

[2017-01-11 23:43] mandric commented on #3033
I'll create a beta.dev instance and replicate kmet-kenya to it for testing, then reset it.

[2017-01-12 00:04] estellecomment opened #3042 "Disallow creating a place without a Primary Contact?"
I was looking at #2815 with @ngaruko , and was confused why we ever would have places without primary contacts.

From the discussion in the issue, it seems that on the design side, it's a rule to never have contactless places ( @diannakane still true?).

On the technical side, changing primary contacts is likely to lead to mess, so we'd much rather have them set right away too.

Is there any reaso

[2017-01-12 02:01] abbyad commented on #2828
No they don't automatically get uploaded by default. Is it easy to include them with any fresh instance?

[2017-01-12 03:22] SCdF commented on #3034
@sglangevin you mentioned on the call that there are no projects that need to upgrade to the proposed 2.9.1. If that's the case, should we just not build it (and save having to replicate a server to acceptance test it) and just presume by the time projects who need this are on 2.x we have released 2.10.x, which will contain this fix.

[2017-01-12 03:24] SCdF commented on #3015
I've cherry-picked this into the various branches that need it, as well as updated webapp master to contain it.

[2017-01-12 03:24] #3015 closed

[2017-01-12 09:12] henokgetachew opened #3043 "Status Code: 502 returned intermittently by v2 instances"
We've been seeing 502 status code returned intermittently when medic-bot tries to access our v2 instances.  These outages are not permanent and therefore haven't been debugged thoroughly.  This issue is a placeholder where we compile and investigate these intermittent outages that happen every once in a while.

[2017-01-12 19:19] ngaruko opened #3044 "Disable delete button for a place with restricted user associated with it."
Steps to reproduce:
1. Create a restricted user >>Configuration >> Users >> Add User
2. User type -Restricted to their place
3. Select a place (best to create a place to delete first for a shared environment to avoid deleting someone's 'data')
4. select associated contact (??)
5. Password and Submit

...
6. Peole's tab
7. Look for the place selected in 3 and delete
8. Now we have got an 'invalid u

[2017-01-12 21:27] ngaruko commented on #2815
If there is a case for #3042 that @estellecomment raised, then we expect this to be a non-issue:
![image](https://cloud.githubusercontent.com/assets/6979995/21908942/c806185a-d97a-11e6-9ae8-47b74d380e6d.png)

[2017-01-12 21:29] ngaruko commented on #2342
@sglangevin I would like to double check this. Are you able to reproduce this: which environment, steps to reproduce? Thanks

[2017-01-12 22:14] diannakane commented on #2815
Reviewing the comment thread, it appears that we dont need to require
primary contacts and will include "none" where one hasn't been selected.

[2017-01-12 22:44] ngaruko commented on #2796
Wondering if a consensus has been reached here. As it is, there are two tabs that seem to lead nowhere (alpha.dev: tasks and targets). I understand it is because admins do not have neither tasks nor targets. Then, is there a reason why these tabs are displayed at all? Or are there cases maybe where admins can be configured to have (and/or be able to view) tasks and targets? Any thoughts @diannakan

[2017-01-12 23:22] sglangevin commented on #2914
See https://github.com/medic/medic-design/issues/5

[2017-01-12 23:36] ngaruko opened #3045 "Confirmation popup should not show on 'Error loading form'? -Mobile"
Steps to reproduce
1. Alpha.dev >>login as admin >>
2. People's tab >> Select any entry from the LHS with either family members or health centres >>
3. Click New Action >> Select an action
Results: An error is displayed, (see attached screenshot, to be investigated further, separately).

On small screens (mobile), there is a 'close' button and when clicked, there is a confirmation popup. Since the

[2017-01-12 23:53] ngaruko commented on #2626
LGTM. Assuming we are not supporting 'admin' on mobile as @garethbowen mentioned.

[2017-01-13 00:43] diannakane commented on #3042
We thought it was a tech requirement to have a PC with every place. I can't come up with any reason why we should mandate this from the design side. For example, a manager may want to create a list of Areas before recruiting CHWs.

We will also avoid the potential user annoyance of having to select or create a contact in order to add a place, which is a separate type of action that you may not be

[2017-01-13 01:24] SCdF commented on #3045
While this is definitely a bug, I'm not sure it warrants fixing, since it's a UI grossness that only happens if you've got much bigger problems (your configured user is broken).

[2017-01-13 03:49] ngaruko commented on #3045
Agree. The best strategy would be to put some validation to make it impossible to create an invalid entry. But at the same time, if it is not too hard to fix, it would come handy in cases where we couldn't anticipate all invalid scenarii.

[2017-01-13 04:12] browndav commented on #3025
Didn't mean to do that quite yet.

[2017-01-13 09:27] ngaruko commented on #2699
@abbyad Do we have any V2 instance where we have Reporting Rates configured. Where did @garethbowen get the screenshot from?

[2017-01-13 10:00] ngaruko opened #3046 "Updating password logs out user?"
Steps to replicate:

1. logged in as admin on alpha.dev (with a 'Full-Access' created user)
2. Configuration >> User settings >>Update password
3. The browser goes back to the login page with the follow console errors:
![image](https://cloud.githubusercontent.com/assets/6979995/21925760/b6a64db4-d9e3-11e6-9f7e-426c8a54bdf2.png)

Is that expected behavior?

[2017-01-13 11:13] alxndrsn opened #3047 "API's sms-gateway controller is misusing message statuses"
The `sms-gateway` controller is picking up all `pending` messages, and forwarding these to `medic-gateway`.  This is correct.

After this, the controller changes the status of these messages to `scheduled`.  This is **incorrect**.  `scheduled` in fact means that the message will, at some point in the future, be changed to `pending` by `sentinel`.

Identify a different state to mark a message as ha

[2017-01-13 11:16] abbyad commented on #3047
Looks like a good approach to me.

[2017-01-13 19:47] mandric opened #3048 "unstable transition on sentinel"
Disable `update_sent_forms` and `update_sent_by` they can be enabled if needed but seem unstable. Related https://github.com/medic/medic-projects/issues/1178

Does this affect all instances and can it be reproduced in sentinel locally?

[2017-01-13 20:43] mandric opened #3049 "require `type` property on docs"
Add this minimum requirement to validate_doc_update.

[2017-01-15 22:09] SCdF commented on #3046
That's interesting.

Does that happen with restricted users as well? I'm wondering if that is simply a limitation of us using CouchDB as the holder of authentication, and so when we change the password everything invalidates. I presume if you then log in again everything's fine?

We could look at making this a smoother process. However, the advantage of how we currently deal with not being authent

[2017-01-15 23:59] SCdF commented on #3033
@mandric how is this going?

[2017-01-16 00:11] ngaruko opened #3050 "Update prompt should appear only when there is 'real change'"
Not sure how easy this can be (to implement) but I guess it would be a good idea to prompt users to update if and only if there was a 'real change'. Example, if you go to Configuration, Settings >> click Submit button (Basic) without touching the form, you still get prompted to reload and when you do so (click Update button), an error is thrown in the console (not sure if that's related or).

![im

[2017-01-16 00:34] SCdF commented on #3050
The bug here is that the ddoc gets updated even if there are no changes. This may be reasonably hard to fix, and probably while incorrect, is not a massive deal.

[2017-01-16 01:06] SCdF commented on #3009
I've merged the code that deals with loading and storing xml as an attachment. Not closing this ticket until we've had a conversation about whether or not we want to merge the migration.

[2017-01-17 00:59] mandric commented on #3033
No progress yet @SCdF.  I'll make this a priority and keep you posted here.  Hopefully have enough privs in AWS to get things running... @browndav if you happen to see this might be good to pair up.

[2017-01-17 01:20] mandric commented on #3033
(sidebar distraction warning) Any opinions about including this to the 0.4.x release as well? https://github.com/medic/medic-webapp/issues/3048

[2017-01-17 01:49] SCdF commented on #3033
@mandric I'd rather not since it appears to have a clear workaround as I understand the linked projects ticket, and the work hasn't actually been started, so it would have to be completed then code reviewed, which would probably delay this build more.

[2017-01-17 01:53] mandric commented on #3033
Yep makes sense.

[2017-01-17 03:28] SCdF commented on #2935
I've picked this back up again. I'm trying to run the couchdb-lucene in brew (1.1.0), which hasn't had any explicit CouchDB 2.0 support, against our code.

I… think it works?

When I have it set up to point to `5986` (the CouchDB2.0 local port) and try to `curl http://admin:pass@localhost:5988/api/active-pregnancies` (the easiest way I know to hit our lucene code) I get a bunch of stuff in the cou

[2017-01-17 05:15] mandric commented on #3033
Ok we have a `beta.dev` setup now with data from kmet-kenya copied over. We should probably come up with a plan for acceptance testing 0.4.15-beta.2 now.

[2017-01-17 05:33] mandric commented on #3033
It might be useful to get a feature list for kmet-kenya and then do some testing to verify those features succeed and then also reproduce the bug (#3015), then upgrade and make sure the bug is fixed and the features still work... I could probably do this myself gathering info from the project managers and tech leads but we could coordinate a bit together, like come up with a plan and divide and co

[2017-01-17 14:48] abbyad opened #3051 "Reporting Rates dashboard uses reports for invalid weeks in calculations"
Reported by @bishwas-medic in https://github.com/medic/medic-projects/issues/1258, the Reporting Rates dashboard incorrectly uses reports with invalid week numbers (eg week number 54) in its calculations. We should also test the behaviour with invalid month numbers.

[2017-01-17 16:58] sglangevin commented on #3034
Yes, that's correct - no projects are currently on v2.9.0.

[2017-01-17 17:03] mandric commented on #3047
If something is set to forwarded-to-gateway and never sent (gateway dies for example), what happens?

[2017-01-17 18:12] mandric opened #3052 "create 0.4.x beta market"
Henok found it confusing on his instance that dashboard gave him the option to upgrade from 2.x to 0.4.x.  This is because we are pushing betas for 0.4.x and 2.x to the same market, but also looks like a bug in the dashboard because that upgrade path breaks semver rules.  Basically determine if we really need separate beta markets for 0.4.x.  We currently have the following markets alpha -> beta -

[2017-01-17 18:27] abbyad commented on #3052
The 2.x version in question was on beta as part of the v2.9 testing before it was released. It can now be moved to the Release market. At this time I do not think we need a separate beta for 0.4.

As for the semvar issue, although we currently have the v0.4 on the beta channel we cannot update to it since v2.9 is installed - which is the expected behaviour. There is therefore no issue with semvar.

[2017-01-17 18:27] #3052 closed

[2017-01-17 19:37] browndav commented on #3048
To do (from iteration call):

  - [ ] Post backtrace from original medic/medic-projects#1168 (with identifying information removed)
  - [ ] Understand root cause
  - [ ] Decide whether or not other instances are affected
  - [ ] Decide whether to fix transitions, remove transitions entirely and release a v0.4 point release, or fix via script in a configuration-only capacity

[2017-01-17 19:42] mandric commented on #3033
Turns out migration that was cherrypicked doesn't run in 0.4.x sentinel.  So will need to be converted from migration script into standalone script.  Will also need to revert the cherrypicked commit from master that doesn't do anything.

[2017-01-17 20:02] guptasanchay commented on #2914
Two more things it might be worthwhile to consider after chatting about this more with @sglangevin and @abbyad:

1. It seems like most fields for the different "configurable subgroups" are coming from patient forms, not contact forms. What special considerations would need to be made around this feature in order to enable displaying additional information from the Add Person form in a configurable

[2017-01-17 20:33] mandric opened #3053 "add documentation for medic-gateway protocol"
Related:
https://github.com/medic/medic-api/pull/117
https://github.com/medic/medic-projects/issues/1243

This API module has no documentation: https://github.com/medic/medic-api/blob/master/controllers/sms-gateway.js
Maybe just document the protocol in medic-gateway and then link to it from medic-api for time being?  The documentation would not only help us understand how the gateway processes me

[2017-01-17 21:21] mandric opened #3054 "port message uuid migration to standalone script for 0.4.x instances"
Related:
https://github.com/medic/medic-api/pull/116
https://github.com/medic/medic-webapp/issues/3015
https://github.com/medic/medic-webapp/issues/3033

[2017-01-17 21:35] mandric commented on #3038
@browndav any updates here?

[2017-01-17 21:39] mandric commented on #3033
This release is a no-go.  Reverted changes and deleted tags.

[2017-01-17 21:39] #3033 closed

[2017-01-17 21:46] estellecomment opened #3055 "Write documentation for migrations"
We don't have any documentation for migrations!

 - [ ] what's a migration?
 - [ ] what runs the migration, and when?
 - [ ] `meta` doc that stores previously run migrations
 - [ ] how to run a migration "by hand" for testing?
 - anything else?

[2017-01-17 21:46] sglangevin opened #3056 "Support `required_message` and `required_message` translations in Enketo"
Enketo does not support `required_message` or translations of `required_message` by default, according to the xlsform reference table (http://xlsform.org/ref-table/). This is a challenge for projects operating in languages other than English (e.g. Muso). Their CHWs are getting an English message ("This field is required") because we are not able to provide a translation. In fact, we aren't even ab

[2017-01-17 21:55] estellecomment commented on #2607
@ngaruko FYI, how to inspect the android app : http://medicmobile.cloud.answerhub.com/questions/177/how-to-see-console-errors-on-a-phone.html

[2017-01-17 22:16] estellecomment commented on #2400
@abbyad is this the most complete and latest checklist we have, or is there another one? (cc @ngaruko )

[2017-01-17 22:30] estellecomment commented on #2361
To be more clear : the `extract-user-settings` migration creates the `type: user-settings` docs, from the `_users` docs. In doing so, the `known` field is converted from string (`'true'` )to boolean (`true`).
That needs to be tested.

[2017-01-17 22:33] estellecomment commented on #2369
@ngaruko can you create a user with a capital letters? You shouldn't be, from the UI.

[2017-01-17 22:37] abbyad commented on #2400
I haven't seen a newer checklist, but we may want to add steps for user testing to verify that the app + config continues to work as expected. This was covered for select configs, as part of our v2.9 testing. Notes on that process are [here](https://docs.google.com/document/d/1HjUjj6Hth3NZgK_7QPfZJMoxTBYNrhIpV6GtGt76fIg/edit#heading=h.677i0zz2c3tk).

[2017-01-17 22:40] estellecomment commented on #2301
To be clear : I am admin, I edit another user's password. I should not get a page reload.

[2017-01-17 22:44] estellecomment commented on #2255
Doesn't need acc. testing any more, since filters got removed from People tab.

[2017-01-17 22:51] ngaruko commented on #2155
Can we AT this?

[2017-01-17 22:51] estellecomment commented on #2155
nope! :)

[2017-01-17 22:52] ngaruko commented on #2153
Do we need to AT this?

[2017-01-17 23:06] estellecomment opened #3057 "Privacy issue"
Placeholder.
See https://github.com/medic/medic-projects/issues/1263

[2017-01-17 23:11] diannakane commented on #2796
@ngaruko as far as I can tell, these tabs should be hidden. I've been reworking the permission profile settings so that these dependencies could be applied (e.g. if no tasks, no task tab shown).

[2017-01-18 00:05] SCdF commented on #3009
Actually closing, I'll create a new ticket and have it link here.

[2017-01-18 00:05] #3009 closed

[2017-01-18 00:19] SCdF opened #3058 "Work out how much extracting XML in attachments improves performance"
XML forms are now being stored in attachments instead of in the `content` property of the report's json object: #3009

I also wrote a migration script that does this to all existing forms. It is currently in a branch. Here is the commit: https://github.com/medic/medic-api/commit/7ae514f6596985577203880774080ab16a6a0649

This migration script is very disruptive, causing CHWs to re-download all repo

[2017-01-18 00:19] SCdF commented on #3034
Closing this as it's not needed.

[2017-01-18 00:19] #3034 closed

[2017-01-18 00:28] rnewson commented on #2935
couchdb 2.0's local port 5986 is not what you want, database you make there will be unclustered. couchdb-lucene's master branch is now updated to be compatible with couchdb 2.0. I should really cut a point release...

B.

[2017-01-18 00:38] SCdF commented on #3040
@mandric is going to write some more documentation to make the process clearer, and some other misc cleanups, but otherwise it's golden.

[2017-01-18 00:54] SCdF commented on #2935
@rnewson cheers for the reply.

To make sure I understand what you're saying: if I run couchdb-lucene from master I can, with the standard CouchDB2 package (no recompilation), have `couchdb-lucene.ini`'s `[local]` url pointing to the cluster port? e.g.

[code]

Or whatever? I had got the impression somehow that we'd need to recompile CouchDB2 to support that kind of thing, but I may have gotten co

[2017-01-18 01:41] SCdF commented on #211
@SCdF please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #376
@alxndrsn please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #670
@estellecomment please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #842
@alxndrsn please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1006
@SCdF please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1143
@browndav please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1322
@mandric please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1390
@estellecomment please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1601
@mandric please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 01:41] SCdF commented on #1641
@browndav please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-18 08:31] rnewson commented on #2935
Yes that's right. The two programs communicate solely via http so there's no recompile step.

Sent from my iPhone

[2017-01-18 08:34] henokgetachew commented on #3052
@abbyad I'm pretty sure I saw the update option next to the 0.4 version.  I can't compare now as the latest beta is a 2.9 one.  I will keep watching out for this.

[2017-01-18 11:31] alxndrsn commented on #3047
I'll be dealing with that today in https://github.com/medic/medic-projects/issues/1243, which will render this quick fix for the project teams no longer useful.

[2017-01-18 11:36] alxndrsn commented on #3047
Can I move this to Acceptance Testing, now that the PR has been approved?

[2017-01-18 11:38] alxndrsn commented on #3053
Is https://github.com/medic/medic-api/blob/master/controllers/sms-gateway.js#L3 sufficient?

[2017-01-18 13:31] mandric commented on #3047
Sure, but I don't think anyone knows how to do acceptance testing but you Alex?  Or how would we proceed with acceptance testing? Or maybe it's not never necessary?

[2017-01-18 20:08] estellecomment commented on #3035
No, v6. From log, says
[code]

[2017-01-18 20:20] mandric commented on #3035
```if [ -f nohup.out ]; then cat nohup.out; fi```

[2017-01-18 23:45] abbyad opened #3059 "SMS auto replies are truncated to a single SMS"
Some outgoing messages are truncated to fit into a single SMS.

This is a placeholder to characterize the behaviour of SMS sent from different parts of the app/config, and then we can decide how to proceed.

[2017-01-18 23:49] browndav commented on #3048
Reminder: could we add a backtrace to this as soon as possible? We need it for a partner-facing post-mortem writeup this week. Thanks.

[2017-01-18 23:50] SCdF commented on #211
Confirmed with @browndav, this is only relevant to an ancient version of our software, so it's totally closable.

[2017-01-18 23:50] #211 closed

[2017-01-19 00:02] ngaruko opened #3060 "Meaningful error on creating/updating user"
Steps to replicate:
1. Login as admin
2. Configurations
3. Users
4. Add User
5. use invalid 'username' (say Capitals for example, ie :MYUSERNAME)
6. Add password >> Click update
7. Current behavior: Goes 'Submitting', then 'Error updating user'
8. Expected: An error message in the lines of "the username must be all lowercase, so many characters, no space, whatever", preferably without attempting t

[2017-01-19 04:15] SCdF commented on #2912
Currently with families we have a special element in the xform that we look for, and when we find it we take the elements out of it and save them as individual docs. We could just do that here. The downside of this approach though, is that the "inner" form must be copied into the form that contains it. This means if you embed the create person form inside the create family form, if you update the

[2017-01-19 04:21] SCdF commented on #2912
This idea has some cons though, so here is **another** idea to think about.

The con here, is that if you have a family with a child in it, and then you save the family and then get distracted / the app crashes etc, you will not get prompted to create the child (as opposed to what happens now, where the save happens at the same time).

You could solve this by holding saves somewhere or something.

[2017-01-19 17:50] mandric commented on #3048
See related issue https://github.com/medic/medic-projects/issues/1178 and #safesimbaglung slack channel.

[2017-01-19 19:43] mandric opened #3061 "code review open PRs in medic-server"
https://github.com/medic/medic-servers/pulls assigning to browndav, but anyone who needs to maintain servers occasionally can review it.

[2017-01-19 20:54] ngaruko commented on #2828
I guess we need to clarify what is the 'default' configuration vs 'standard' (if there is) and have an instance with such configurations for testing purpose. I understand from @abbyad and @sglangevin  that this work in progress.

[2017-01-19 23:15] SCdF commented on #2914
Statically setting values on the report has a couple of downsides we might wish to consider:
 - It means we're constantly re-writing a doc that we don't necessarily have to re-write
 - There may be use cases where this strategy is too brittle to implement them properly

That last point is really important IMO. We should come up with as many realistic and diverse examples as possible, to make sure

[2017-01-20 00:12] sglangevin commented on #2914
@SCdF I noticed that the examples you are citing are related to aggregate numbers of the work a CHW is doing. This issue was created to help keep track of current data, not data over time. So, for example, having a way to store a woman's EDD and display that on their profile or storing a child's heigh and weight and displaying that on their profile. The data we're talking about is individual patie

[2017-01-20 00:23] SCdF commented on #2914
As you say, ANC visits is an aggregate though right? As are how many immunisations they've had.

Looking at the examples above, I'd also be concerned about how you'd implement the chronic disabilities example. I.e. would that be a string that gets composed out of many different forms that get filled out over time (i.e. people don't always have the disability, they get added over time). Pregnancy r

[2017-01-20 01:42] guptasanchay commented on #2914
@SCdF , here’s a list of use cases I can think of for malnutrition and how I think they’ll be implemented.  I’ll re-paste the mockup from earlier to help illustrate the examples:

![image](https://cloud.githubusercontent.com/assets/15477845/22132299/09ff0440-de6e-11e6-81c5-49b08c1193a0.png)

1. Point to a field from a **patient form** (like an ‘Assessment’) submitted by a **CHW**. This should come

[2017-01-20 02:46] SCdF commented on #2180
OK here is what I'm going to do (probably):
 - In medix-api, when a doc gets saved (this should cover replication) we try to load the `docid_info` doc
 - If it doesn't exist we create something that looks like this:
[code]
 - If it does exist we load it and update the last_updated_date to now.

I don't think we need the rev, since it's just going to be whatever the latest version is, but we can st

[2017-01-20 09:19] ngaruko commented on #2649
Does this have a way to AT @estellecomment

[2017-01-20 09:47] ngaruko commented on #2369
@garethbowen @estellecomment There is an ongoing conversation on Slack on how this user id/username capitalisation may be improved. I will file a different issue on that.

[2017-01-20 11:43] estellecomment commented on #2828
@abbyad Don't know! Opening a separate ticket for this.

[2017-01-20 11:45] estellecomment opened #3062 "Include the default xforms in fresh instances"
We created default (standard?) forms in https://github.com/medic/medic-webapp/issues/2828.
When you create a fresh instance, they still need to be uploaded by hand. So they're not really default.

Would be better to have them included by default.

[2017-01-20 11:52] estellecomment commented on #2649
@ngaruko
Yes, run the migration, check that erlang support is disabled, then run the migration again, and check it doesn't crash.
Step 1 : figure out how to run migrations :)

[2017-01-20 11:52] estellecomment commented on #2649
@ngaruko
Yes, run the migration, check that erlang support is disabled, then run the migration again, and check it doesn't crash.
Step 1 : figure out how to run migrations :)

[2017-01-20 18:21] abbyad commented on #2914
@SCdF I think your assessment is mostly correct:

A CHW or Nurse/Branch Manager could submit a form about a person - but in all cases they are submitting a report about a single person.

Correct, with our planned uses we'll be writing a string (eg new score, or value with units, or adding visit), or clear the value (eg a new pregnancy report clears the number of ANC visits back to 0). The math or

[2017-01-20 18:31] abbyad commented on #2828
Ya, it can be a little confusing! The decision to use the SMS workflow for CHWs as the default config was perhaps decided after the issue was created. Also, it is relatively new that we are referring to our default configuration as our "standard app/deployment".

[2017-01-20 18:55] estellecomment commented on #2385
Can you review @SCdF ? https://github.com/medic/medic-webapp/pull/3064

[2017-01-20 19:08] estellecomment commented on #3035
Again! This time node 6.3, node 5 and node 7 pass.
Full log : [travis_193832825.txt](https://github.com/medic/medic-webapp/files/720265/travis_193832825.txt)

[2017-01-20 19:33] sglangevin commented on #2914
@abbyad I agree with your comments. In terms of adding this functionality for SMS reports, what happens once SMS reports are being sent via task rules?

[2017-01-20 19:55] estellecomment opened #3065 "When changing password, the old password is not requested"
![screen shot 2017-01-20 at 17 54 31](https://cloud.githubusercontent.com/assets/911434/22163333/87e64cbc-df39-11e6-8eef-36ae2d53f46a.png)

Doesn't ask for the old password. So if I get a hold of your session when you left your laptop/phone open and went to pee, I can change your password on you.

[2017-01-20 20:01] estellecomment opened #3066 "User type should be required when creating/editing a user"
![screen shot 2017-01-20 at 17 59 43](https://cloud.githubusercontent.com/assets/911434/22163522/510a5e1c-df3a-11e6-8a4d-b91c8790fc7b.png)

Only required fields are username and password.
I can't think of a reason why we would leave the user type unset. We should make it required. (you get some weird errors on login if you don't set it, anyway)

[2017-01-20 20:03] estellecomment opened #3067 "When creating a "restricted to a place" user, the "place" field should be required"
![screen shot 2017-01-20 at 18 02 39](https://cloud.githubusercontent.com/assets/911434/22163616/aa062ec4-df3a-11e6-97e5-4853453a6f8a.png)
If you create a "restricted to their place user" with an empty "place" field, you get a messed up situation. We shouldn't allow it.

[2017-01-20 20:18] sglangevin commented on #2912
@SCdF I like the idea of linked forms. I'm wondering if we could do that in a similar way to how we are currently saving the add family form (which has children within it). What if instead of hitting "Save" at the end of the first form, you just hit "Next" and started the second form. Then you'd hit "Save" at the end of the second form and it would save everything at the same time.

The other thin

[2017-01-20 20:20] abbyad commented on #3065
That seems like a feature to me! :)

[2017-01-20 20:21] michaelkohn commented on #2180
A few questions/comments....

- *Every* new doc in the `medic` DB would have one of these `_info` docs, right?  Not just certain document types.
- For existing parters, I assume we aren't going to create `_info` docs for docs that existed before this feature was added (it would be my preference to do so and just use the `reported_date`, but we can handle it if not)
- Can we add a `type` field to t

[2017-01-20 20:54] michaelkohn commented on #2180
@ngamita @derickl... would be interested in your feedback/suggestions as well.

[2017-01-20 22:41] sglangevin commented on #3058
One other comment re: the migration. If we run the migration on older docs, we need to make sure that we also extract geo data from the old docs and put that in JSON. We have reports that were sent in as late as early November last year that do not have geo data exposed in JSON. This is necessary for analytics (cc @michaelkohn). We also need to review to see if there are any other fields that need

[2017-01-22 18:55] ngaruko commented on #2156
It looks like some of this fix did not propagate through all forms. A number of forms still behaves the same (ie title disappears on refresh). Do we reopen this or rather file another issue?@gareth

On open form

On Refresh

Steps to reproduce
1. login as demo (alpha.dev)
2. People
3. Abdou Kane Family
4. Click one of the action buttons (New Family, New Person or Edit)
6. Form opens with title (on

[2017-01-22 19:11] garethbowen commented on #2153
@ngamita Nah it's fine - it's just moving code around. Any bugs will be found in exploratory/release testing.

[2017-01-22 19:19] garethbowen commented on #2699
@ngaruko I probably got the screenshot from my dev instance (~2.9).

[2017-01-22 19:40] garethbowen commented on #2180
@SCdF

1. Would the info doc be replicated down to the client? I'm thinking no unless we have some designed use case. There has been some discussion about marking a report/contact as synced (#1849).
2. I assume this will be implemented as a changes listener (rather than trying to intercept the replication request). If so, I think it would fit better in sentinel than api. Sentinel already has a cha

[2017-01-22 21:27] SCdF commented on #3058
Correct me if I'm wrong @michaelkohn but I don't think you're actually doing that anywhere. It was talked about but never implemented.

[2017-01-22 21:34] SCdF commented on #2180
@garethbowen

1. It could do. The trick then is having to duplicate enough permissions information in those documents to let them replicate down (which, I now realise, we'd have to do in mark as read docs as well). Edges me closer to re-looking at giving everyone their own DB.
2. Sure, I can be. Sentinel was my initial thought, but then I balked on it because I didn't think everyone had Sentinel r

[2017-01-22 21:58] ngaruko commented on #1694
I assume the main contact is meant to be always top of the list regardless of their age.? Then LGTM.

[2017-01-22 22:07] SCdF commented on #2180
Sorry @michaelkohn I missed your comment earlier:

Sure, we can do that.

We could write a migration script / manual script to do this, but I would be concerned that it's effectively intentionally wrong. And that might cause us issues in the future when we start making presumptions about data based on these values.

Yes definitely.

I don't really know what you mean there? What is an "object" in t

[2017-01-23 00:15] garethbowen commented on #2156
The original issue was for the Reports tab and the reopen is for the People tab - we might just need to copy the fix over to the other tab.

[2017-01-23 00:37] garethbowen commented on #2156
Yup. Same issue different tab.

[2017-01-23 01:59] SCdF commented on #2385
Made some comments @estellecomment , back to you.

[2017-01-23 02:17] SCdF commented on #2180
After seeing comments from @garethbowen and @michaelkohn , here is what I'm *actually* going to do:
 - Have a transition (or, if that doesn't really fit the framework, a custom thing) that hits every document that gets saved
 - It looks for the `<<UUID>>_info` doc. If it does exist we update the `last_updated_date` with `now()` (in ms, like other "system" dates in our app)
 - If it doesn't exist i

[2017-01-23 02:32] garethbowen commented on #2180
Sounds good.

I agree having "unknown" would be better but I'm not comfortable with a migration unless absolutely necessary. In CouchDB 1 we can test the rev for `1-xxx` to determine if the doc is new or updated. If this holds for CDB2 then we can write the doc with `initial_replication_date: undefined, latest_replication_date: "now()"` (or whatever) when it's updated. This is similar to how audit

[2017-01-23 02:37] SCdF commented on #2180
From the sentinel docs, a transition should "not have side effects outside of the document passed in. ". So there goes using transitions, at least in their current form.

[2017-01-23 02:37] SCdF commented on #2180
Not necessarily right, if a document is created and then updated before it's synced it will have a later rev.

[2017-01-23 03:02] garethbowen commented on #2180
Ugh, yeah, good point. I'm sure there's some way to detect if it's new, like some field that sentinel writes...

[2017-01-23 03:12] garethbowen commented on #2961
Documented here https://github.com/medic/medic-docs/blob/master/md/config/transitions.md

@abbyad please review.

[2017-01-23 14:33] estellecomment commented on #2156
LGTM!
Exciting to see the cycle of acceptance testing at work :)

[2017-01-23 14:33] #2156 closed

[2017-01-23 14:55] abbyad commented on #2914
Curious about @garethbowen's thoughts on this, but I think I recall him saying that the transitions in `app_settings` would live on.

[2017-01-23 15:34] estellecomment commented on #2385
Commit : https://github.com/medic/medic-webapp/pull/3064/commits/359d8c9fc03628e2b7bc87be25b2d6322777a7ca
Rereview please!

[2017-01-23 16:07] estellecomment commented on #3035
Again, node 6 fails, node 5 and 7 pass
[travis_194507754.txt](https://github.com/medic/medic-webapp/files/724225/travis_194507754.txt)

[2017-01-23 17:40] estellecomment commented on #1390
@sglangevin Was this from a local DIY install? Can you give more details on how you got there (if you remember)? Is this still relevant?

[2017-01-23 17:49] estellecomment commented on #670
@abbyad @ngamita @henokgetachew @bishwas-medic Please advise : do you know if anyone has ever complained about problems with multiple-SMS messages not being glued back together into a single message on users' phones?
I couldn't find any issues relating to this in medic-projects.
If no one is complaining about this, I think we can close, and reopen if someone complains.

[2017-01-23 17:51] estellecomment commented on #2153
Wrong guy, that's Richard! :D @ngaruko

[2017-01-23 17:53] estellecomment commented on #3065
Like... really? I can't tell written irony @abbyad :D

[2017-01-23 18:23] mandric opened #3068 "medic-api migration to remove couchmark"
I think we forgot to add a migration to remove couchmark after [it was removed in sentinel](https://github.com/medic/medic-sentinel/commit/ddbad07a4e709f69ded2d0eb8c8194abc8581dc1).  The couchmark database and views are a space hog and we should remove it in 2.x.

In [testing 2.x migration](https://github.com/medic/medic-projects/issues/1249) the space filled up on the drive during medic-api migra

[2017-01-23 18:34] sglangevin commented on #1390
This was related to a local DIY install and isn't relevant anymore.

[2017-01-23 18:40] sglangevin commented on #3045
We could also resolve this by not going to the form if the form can't be loaded and showing a toast or other error message pop-up saying the form can't be opened prior to getting to the page with the form title at the top and the "Error loading form" message in gray.

[2017-01-23 18:45] sglangevin commented on #3042
I thought we specifically decided that a primary contact is not required. I think it makes more sense not to require a primary contact unless there is a technical reason that we have to have one. There are plenty of cases where a place doesn't really have a primary contact or the person creating the place doesn't know who the primary contact is at the time they are creating the place.

[2017-01-23 18:51] sglangevin commented on #3020
I have also seen this intermittently. Reloading the page fixed it though.

[2017-01-23 18:52] sglangevin commented on #3013
@abbyad is this needed for Standard config? Or we have a workaround for that?

[2017-01-23 18:53] sglangevin commented on #3001
This was working when I tested on a previous version.

[2017-01-23 18:58] alxndrsn commented on #670
@estellecomment iirc gateway does not currently support this, but no one has noticed

[2017-01-23 19:00] alxndrsn commented on #670
Point of pedantry: where @browndav says:

he actually means `UCS-2`, which unlike `UTF-16` is fixed-width.

[2017-01-23 19:17] michaelkohn commented on #2180
Nested objects.  So take the `info` object and add it to the original doc.  Sorry, not sure what the nomenclature is.

[code]

[2017-01-23 19:18] garethbowen commented on #3068
Maybe set the date on the migration so it runs before all/most of the other migrations.

[2017-01-23 19:33] alxndrsn commented on #3011
Ref https://github.com/medic/medic-projects/issues/1243

[2017-01-23 19:34] alxndrsn commented on #3011
Fixed on `master` in https://github.com/medic/medic-api/commit/c6c661d02098887a61c2dfbc9ee90caf62c1dbb2

[2017-01-23 20:06] sglangevin commented on #2289
Assigning to myself to start pulling together documentation on this.

[2017-01-23 20:13] estellecomment commented on #2289
yesssss documentation

[2017-01-23 22:19] diannakane commented on #3042
Agreed.

[2017-01-24 00:46] garethbowen commented on #3011
Fixed and documented. Will be tested in #3047

[2017-01-24 00:46] #3011 closed

[2017-01-24 02:41] ngaruko commented on #2111
Hi @browndav . I am marking this as Ready but would suggest you file an issue with the above suggestions for improvement.

[2017-01-24 03:03] abbyad opened #3069 "Cannot access all fields for contact in select2"
We are seeing issues now that the select2 for contacts returns a summary and not the entire contact's doc. For instance, [age cannot be calculated](https://github.com/medic/medic-projects/issues/1259). This is increasingly important as custom fields may be added to contact's docs with #2913.

Excerpts from a conversation with @garethbowen Nov 14, 2016:

You can see the summaries here: /_utils/data

[2017-01-24 04:28] bishwas-medic commented on #670
@estellecomment we have a project where we experienced the issue of multiple SMS messages not getting glued back on user's phone. Few of the users had CDMA phones and only the first part of the multipart SMS were getting delivered. GSM phones were working fine. To address this issue, we had to shorten our outgoing replies.

We haven't seen it happening on other projects with GSM phones, so it mayb

[2017-01-24 05:26] abbyad commented on #670
This is now somewhat related to https://github.com/medic/medic-webapp/issues/3059, where we want to make sure no messages are unduly truncated.

[2017-01-24 07:25] garethbowen commented on #3069
We have to be very careful when increasing the amount of information returned as it can have a massive performance impact. Ideally we'd only fetch the full doc when an item is selected.

[2017-01-24 08:56] estellecomment commented on #1390
Ok. Closing. Thanks!

[2017-01-24 08:56] #1390 closed

[2017-01-24 09:35] estellecomment commented on #1333
@garethbowen What work was done here specifically? cc @ngaruko

[2017-01-24 09:43] estellecomment commented on #1835
This is not in use any more, so no AT needed.

[2017-01-24 14:07] abbyad commented on #3069
I was hoping that would be possible... use the summaries for the Select2 list, then get the full doc only for the selected item.

[2017-01-24 14:10] abbyad commented on #3069
Perhaps a grey area but I would call this a Regression, not a Feature Request, since it was working in v2.8.

[2017-01-24 16:48] abbyad opened #3070 "Form filters and ANC analytics dashboard not working as expected"
We are seeing an [issue](https://github.com/medic/medic-projects/issues/414#issuecomment-274860581) in a project where filters and analytics are not working properly on a v0.4 instance.

We have not yet had other reports of this issue. The project in question is using Nepali characters for form codes - which may be responsible of the issue or a red herring.

[2017-01-24 18:08] mandric commented on #3048
Post-mortem is in the related issue.  If you need something more there please request it.

[2017-01-24 18:08] abbyad commented on #2938
Sorry for the delay, have reassigned to Bede.

[2017-01-24 18:28] abbyad commented on #2961
Looks good, thanks @garethbowen! Added a comment to commit for a small clarification.

[2017-01-24 18:38] garethbowen commented on #2961
Improved based on feedback.

[2017-01-24 18:38] #2961 closed

[2017-01-24 18:43] garethbowen commented on #1333
@estellecomment @ngaruko It is now possible to add new translations through the Configuration > Languages > Application Text page. Clicking the "Add translation" button launches a dialog. This is particularly useful when you've configured something that needs translation, for example, form field labels.

[2017-01-24 18:50] garethbowen commented on #3070
I agree with @bishwas-medic - this module needs a complete rewrite either using postgres (via couch2pg) or using targets (2.x only). I don't think we have time to do this in this iteration.

[2017-01-24 19:13] sglangevin commented on #3070
I think this should be bumped to the next iteration as we are more than halfway through the current iteration. Let's hold off for now and consider options for either fixing this bug or increasing the priority of the re-write.

[2017-01-24 19:25] sglangevin commented on #3070
Thinking about this a bit more, let's see if there is something simple we can do to fix this. If not, we would have to hold off until a later release.

[2017-01-24 20:16] sglangevin commented on #3018
Consider https://github.com/medic/medic-projects/issues/32

[2017-01-24 21:32] michaelkohn commented on #3058
Doing what?

[2017-01-24 21:55] garethbowen commented on #1554
Upgrading to the latest enketo is blocked by https://github.com/medic/medic-webapp/issues/2989

[2017-01-24 22:59] SCdF commented on #2912
Talked to @garethbowen . For now for simplicity we're going to go with duplicating how it works with families + children. We could also look into changing form uploads in the future to support "inlining" sub forms, i.e. you wouldn't have to duplicate the child form and have potential errors.

[2017-01-24 23:10] sglangevin commented on #1554
Should we consider bringing #2989 into the next iteration? Or we can just bump this feature from 2.10 and schedule it into a later release.

[2017-01-24 23:26] ngaruko commented on #2258
LGTM. @sglangevin  did you have another to see if this was resolved, particularly on lg.app?

[2017-01-25 00:01] SCdF commented on #2914
@abbyad I've talked to @garethbowen about approaches. From a technical stand point we'd like to look at extending nools to be used for this. Effectively configurers would write rules that emit values against the thing (emit visit against a patient id for example), and we would provide a service that found those and exposed them to the form in an understood way. This would also be available to the

[2017-01-25 00:15] garethbowen commented on #1554
I think we bump it - this release and milestone are full enough...

[2017-01-25 00:40] sglangevin commented on #2258
This was resolved - we made some performance improvements to lg.app and now have the partner making these edits.

[2017-01-25 00:40] SCdF commented on #2180
@michaelkohn oic, right yeah the "xmlforms" chunk of our codebase could potentially look at doing that, to save you a join later on. Would need to think about it a little more.

[2017-01-25 00:44] sglangevin commented on #2914
@SCdF I'd be interested in chatting with you guys about this as well if you don't mind including me in the call.

[2017-01-25 01:13] SCdF commented on #3069
So the feature request would be: once you click on a entry in the select2 dialogue, asynchronously load the entire document?

[2017-01-25 01:55] ngaruko opened #3071 "Update Password should be disabled for admin users?"
Steps to reproduce;
1. Login as admin
2.Configuration, User settings, Update password
3. Type in some 'password'
4. At the moment, nothing happens.... well it looks like it has been submitted but the password is not actually updated.

Speaking to @garethbowen , ' we dropped support for changing admin password because it's complicated in couchdb 2'. So we need to disable the feature.
Alternatively,

[2017-01-25 02:03] SCdF commented on #2385
@estellecomment looks good to me. I made a comment but it's minor and style / preference. As you left yourself assigned to this I'll leave you to merge / whatever.

[2017-01-25 02:14] garethbowen opened #3072 "Release 0.4.15"
### Release steps
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [x] Update the testing app and run acceptance testing
- [x] Update Changes.md
- [x] Tag the final release
- [x] Announce the release in #general
### Issues
- [x] https://github.com/medic/medic-projects/issues/1243
- [x] https://github.com/medic/med

[2017-01-25 02:24] garethbowen opened #3073 "Add gateway message delivery statuses"
Change the status of messages to `forwarded-to-gateway` in medic-api before returning them to the gateway. Modify the view query to request all messages in either `pending` or `forwarded-to-gateway` state. This means messages may get sent to gateway twice (which gateway handles) but won't get lost if the request fails. This will give us more information for what's going wrong if messages aren't be

[2017-01-25 03:58] ngaruko commented on #2952
Did we do anything on this issue @alxndrsn ? Is there anything to AT?

[2017-01-25 17:34] abbyad opened #3074 "Registrations that clear previous registrations also clear themselves"
SMS registration forms may need to clear previous scheduled messages, but currently setting them as such also clears their own schedule too.

An example of where this would be needed is when a pregnancy registration may be resent by a CHW to update the LMP. That form would be configured in the `registrations`, and also in the `patient_reports` to clear schedules for previous registrations. From te

[2017-01-25 17:57] abbyad commented on #2914
Sounds like an interesting approach that will be more powerful in the long run. Let's chat with Sharon about this as soon as possible.

[2017-01-25 18:01] mandric commented on #3074
I'm pretty sure the configuration for [patient_reports](https://github.com/medic/medic-webapp/blob/master/kanso.json#L578), [notifications](https://github.com/medic/medic-webapp/blob/master/kanso.json#L846) and [registrations](https://github.com/medic/medic-webapp/blob/master/kanso.json#L422) should be merged into one "form events" configuration/system.  This is a bit of technical debt I'd like to

[2017-01-25 20:01] sglangevin commented on #3069
Yes, we need the rest of the document so that when we fill in the form, the other fields in the document are available for form logic. Things like age, sex, etc.

[2017-01-25 20:14] abbyad opened #3075 "Patients reports accepted even if no person has the `patient_id`"
Patient reports in a person-centered SMS workflow are accepted even if there is no person with that `patient_id`. You can see in this screenshot the second auto-reply which is from the `patient_reports` section:

![image](https://cloud.githubusercontent.com/assets/789512/22307118/d46a7462-e30f-11e6-9f57-501adb136f06.png)

_There are two auto-replies because one is coming from from the `registratio

[2017-01-25 20:24] abbyad commented on #3074
@mandric I think you are right that at least the `patient_reports` and `registrations` need to be combined because it is becoming difficult to work with them for person-centered workflows.

For example, in a person-centered SMS workflow we submit a pregnancy registration with the person's 5 digit ID. If that ID is valid everything works more or less as expected, although it is possible to get auto

[2017-01-25 21:33] mandric commented on #3075
Is this on 0.4.x?  Because it would be a production bug if so.

[2017-01-25 21:40] mandric commented on #3074
So #3075 would fix your issue?

[2017-01-25 21:53] abbyad commented on #3074
A workaround for now is to only use the `events` section or `registrations`. All validation and other messages should be done from the `patient_reports`. That means that once #3075 is fixed this issue is back to clearing schedules for previous submissions of the same form - while may be dealt with the tech debt of combining the config sections.

[2017-01-25 21:56] abbyad commented on #3075
Person-centered workflows were introduced in v2.9... and although I don't any projects are currently affected they will be within weeks.

[2017-01-25 23:15] SCdF commented on #2914
Talked with @garethbowen, @abbyad and @sglangevin. We've decided to not bother with Nools for this because we're not really getting anything from it.

Instead we'll do something similar: the code they write will accept a list of documents[1] (as opposed to the similar but different nools structure), and we will run that code ourselves "manually" when the contact page is loaded. This can be extende

[2017-01-25 23:22] garethbowen commented on #2914
Looks pretty good. IMO display should be an array not an object to allow multiple sections with the same name...

1) Yes include the contact as well.
3) I don't think we can do date formatting in translations. We could either expose date formatting to the configurer to call and just give us a string, or try and do something clever to detect dates, numbers, etc.

But yeah, we pretty much agree  :)

[2017-01-25 23:53] abbyad commented on #2914
Looks good, with a minor area to clarify: the code the Tech Leads would write is for all person/place profiles... not _per form_.

[2017-01-26 00:33] ngaruko commented on #2349
Hi @sglangevin . I am not clear if this issue was fixed and it seems to be hard to reproduce since it is intermittent...Are we satisfied with the current performance?

[2017-01-26 01:45] sglangevin commented on #2349
@ngaruko as far as I know, the current performance is acceptable, but I haven't tested this recently so I'm not sure how it is working at the moment. I can test again and give you my opinion, if that would help - let me know.

[2017-01-26 02:02] SCdF commented on #1006
@garethbowen I want to close this. We don't support this can of worms but we are culturally aware of it. I think if it becomes a thing we want to support in the future we can work through these sorts of issues then. Agreed?

[2017-01-26 02:04] garethbowen commented on #1006
@SCdF Sure - it's fair to say we don't support moving in the hierarchy at all as we inline it in so many places.

[2017-01-26 02:05] #1006 closed

[2017-01-26 02:08] garethbowen commented on #3053
I've added some documentation. Handing over to @mandric to finish it off (if necessary).

[2017-01-26 03:08] garethbowen opened #3076 "Convert welcome modal to new style"

[2017-01-26 03:09] garethbowen commented on #3076
PR please @SCdF https://github.com/medic/medic-webapp/pull/3077

[2017-01-26 03:10] garethbowen opened #3078 "Convert guided setup to new style modal"

[2017-01-26 03:27] abbyad commented on #3074
The comment above was on the assumption that the registration could verify that the incoming report was for a valid person, using something like `exists('N','patient_id')` in the validation. This is not yet working, so either it is a config issue that can be resolved, a bug in `exists`, or a fundamental problem with this approach... I'll update once there is more info.

[2017-01-26 05:23] ngaruko commented on #2349
@sglangevin  I think we will move on and raise an issue if that happens again.

[2017-01-26 08:19] garethbowen commented on #3062
There are a range of docs we'd like to create on first run (translations, resources, probably others). If we can find a generic way of attaching docs to the ddoc and then saving them when api starts up that would be useful!

[2017-01-26 08:23] garethbowen commented on #3049
If this is added to validate_doc_update we'll also need to add a migration to ensure all existing docs have a type, otherwise editing the docs will fail.

Why do we need to enforce this? Surely it should be decided on a case by case basis?

NB: ddocs don't have a type...

[2017-01-26 08:26] garethbowen commented on #3042
Agreed. Closing. Reopen if we come up with a reason why this is needed.

[2017-01-26 08:26] #3042 closed

[2017-01-26 08:30] garethbowen commented on #3037
This is the ID used for referring to the place by SMS, usually a 5 digit number. It's the most important piece of info on this page when defined. It's not useful for smartphone deployments.

It's difficult to determine if a deployment is SMS, smartphone, or both so I'd prefer to leave it as is. We could think about making fields here configurable (maybe as part of #2914).

@diannakane Thoughts?

[2017-01-26 08:42] garethbowen commented on #3029
PR please @estellecomment https://github.com/medic/medic-webapp/pull/3079

[2017-01-26 09:06] garethbowen commented on #3028
PR please @SCdF https://github.com/medic/medic-webapp/pull/3080

It turns out ng-init is evil...

https://docs.angularjs.org/api/ng/directive/ngInit

[2017-01-26 16:28] abbyad opened #3081 "Load messages script fails to use https"
The `load_messages.js` script does not work with https.

Trying to use https gives
[code]

Providing a URL with http returns:
[code]

[2017-01-26 16:32] abbyad commented on #3081
Reopening for what should be a simple code review

[2017-01-26 18:22] ngaruko commented on #2801
Just wondering. Looking at the conversations above, did we come to a conclusion around this issue @sglangevin , @alxndrsn, @garethbowen  ?

[2017-01-26 18:30] diannakane commented on #3037
We have a design issue for showing or hiding information on a person/place profile card. My understanding is that these are currently hard-coded and can only hide information that's not being used. Slightly different from #2914  https://github.com/medic/medic-design/issues/6

It sounds like the real confusion here is how to handle mixed SMS/App deployments. It seems like we may want the option of

[2017-01-26 19:10] abbyad commented on #3074
Having tried a couple of different ways, I always end up needing parts of `registrations` and part of `patient_reports`. This is fine when a report is completely valid. When it is invalid it is problematic because the `registration` transition proceeds when patient ID was not found by the `accept_patient_reports` transition. This means that SMS schedules would be sent for non existing patient IDs,

[2017-01-26 19:18] garethbowen commented on #2822
Closing this as we've worked around the space issue by bundling with crosswalk.

[2017-01-26 19:18] #2822 closed

[2017-01-26 19:19] garethbowen commented on #2613
Worked around the space issue by crosswalking.

[2017-01-26 19:20] garethbowen commented on #2801
@alxndrsn has been working on this but I'm not sure if there's a separate issue or not.

[2017-01-26 19:22] garethbowen commented on #3037
Yes the fields are hardcoded but we could make the contact info card just another configurable section in #2914 so fields can be added/removed per project as required.

[2017-01-26 19:54] abbyad opened #3082 "Do not know if patient ID is valid when processing Registrations/Report Actions"
In a person centered SMS workflow a registration report is submitted with the person's patient ID, and the `registrations` transition is used to create new SMS schedules, while the `accept_patient_reports` transition is used to clear any previous ones. This works well when the patient ID is valid. When it is invalid it is problematic because **the `registrations` transition proceeds even though th

[2017-01-26 20:23] abbyad commented on #3059
# Sentinel
## All test messages sent created via a Sentinel transition were truncated to 160 chars:
![image](https://cloud.githubusercontent.com/assets/789512/22348535/02f08eb4-e3da-11e6-8956-07a76e15c13f.png)

# Messages tab
## Sending from the Messages tab has no limit single message limit:
![image](https://cloud.githubusercontent.com/assets/789512/22348590/419b84e8-e3da-11e6-9a33-ed73b4658d8a.p

[2017-01-26 20:31] abbyad commented on #3059
With new projects we are giving the nurse the option to write additional notes for a CHWs, and these are sent to them along with the "autoreply" of that form. It would be useful to have the option to send longer messages, and leave it up to the configurer to try to fit the contents into a single message as needed.

[2017-01-26 20:34] abbyad commented on #3059
Closing and we can create a new issue for the feature request.

[2017-01-26 20:34] #3059 closed

[2017-01-26 20:43] abbyad opened #3083 "Auto replies and Scheduled SMS are truncated to fit in single SMS"
We should avoid truncating any outgoing SMS to avoid potential data loss, and leave it to the configurer to ensure sensible size restrictions with the project manager.

From #3059:

[2017-01-26 21:17] abbyad opened #3084 "SMS reports do not show name in summary"
From what I can tell:

## SMS forms
- The "New Person" form is the only SMS form that shows the person in the summary
- All other SMS forms do not show the person's name in the summary

## App forms
- All app workflow forms show the person's name in the summary

-----------
Reported by @shreyakb while testing Standard config
https://github.com/medic/medic-projects/issues/1283

[2017-01-26 21:40] SCdF commented on #3076
@garethbowen LGTM just one minor code comment

[2017-01-26 21:46] SCdF commented on #3028
Huh, TIL.

LGTM. Merged.

[2017-01-26 21:46] #3028 closed

[2017-01-26 21:55] garethbowen commented on #3076
Fixed, thanks @SCdF

[2017-01-26 21:55] #3076 closed

[2017-01-26 22:41] diannakane commented on #3037
That would be perfect. I think that would satisfy design issue #6 as well.

[2017-01-26 23:48] garethbowen commented on #3078
PR please @estellecomment https://github.com/medic/medic-webapp/pull/3085

This is the last old style modal!

[2017-01-27 02:12] ngaruko opened #3086 "Pressing the HBB on mobile while filling a form should give same warning as when closing form (X)"
Steps to reproduce:

1. medic mobile (alpha.dev)
2. Press tasks icon (Flag)
3. Select one of the items on the list >> Form open
4. Press the HBB
**Expected**: When the user press the close button on the form title bar, there is a warning popup. One would expect the same warning if the user presses the HBB since they are also exiting without finishing to complete the form:
![image](https://cloud.gi

[2017-01-27 02:51] abbyad commented on #2915
@guptasanchay I think you are all set, so moving to Ready.

[2017-01-27 03:11] garethbowen commented on #3034
We decided to release it in the end after all.

[2017-01-27 06:21] #3040 closed

[2017-01-27 09:34] estellecomment commented on #3029
LGTM.
Not closing because it also needs the translation string added.

[2017-01-27 09:35] estellecomment commented on #3029
nvm it's already in. Cool.

[2017-01-27 10:04] estellecomment commented on #3078
comments in PR, back to you

[2017-01-27 10:21] estellecomment commented on #3059
Trying to understand this better @abbyad , a couple questions.

For sentinel messages being truncated, it's not just the UI page displaying `...`, the SMS are actually truncated, right? (sorry, maybe a stupid question, but thought I'd check)

Did you try for all types of SMS messages? From [this list](https://github.com/medic/medic-webapp/issues/2487#issuecomment-242805025) : Registrations, Schedu

[2017-01-27 13:16] abbyad commented on #3059
@estellecomment, it is truncated in the db as well, so it's not just hiding overflow:

![image](https://cloud.githubusercontent.com/assets/789512/22372012/91e93d6c-e468-11e6-9271-8b512350fb52.png)

I'll mention it in #3083 as well, but it looks like it gets truncated [here](https://github.com/medic/medic-sentinel/blob/227f1a870e555b1cfeb85cd625e5c8468c6a84f7/lib/utils.js#L129-L132) in Sentinel.

[2017-01-27 13:21] abbyad commented on #3083
It looks like all outgoing messages, added as `tasks` and `scheduled_tasks` on a doc, get truncated [here](https://github.com/medic/medic-sentinel/blob/227f1a870e555b1cfeb85cd625e5c8468c6a84f7/lib/utils.js#L129-L132) in Sentinel.

![image](https://cloud.githubusercontent.com/assets/789512/22372214/63458c76-e469-11e6-8fe1-c0cba40f2a73.png)

[2017-01-27 14:59] abbyad commented on #3059
Ok, that was a terrible example screenshot because futon does hide part of the string in that view. Here is it in full:
![image](https://cloud.githubusercontent.com/assets/789512/22375093/b877a21c-e476-11e6-8cf3-eecbd797a4ca.png)

In terms of if it is a feature request or a bug, many projects already use variables such as CHW or patient name in the responses, so those with names that are too long

[2017-01-27 15:45] abbyad opened #3087 "Edit function not working for reports sent by unknown number"
As reported by @bishwas-medic in https://github.com/medic/medic-projects/issues/1305

Confirmed from testing that it works when editing reports submitted by a known person, but editing a report from an unknown sender it gives the following errors in console, probably because it is trying to get the sender's info when there isn't a person assigned:
[code]

[2017-01-27 15:53] abbyad opened #3088 "Broken links in app settings"
Due to #1700, the links to help pages in Dashboard's app settings page are broken:
<img width="819" alt="screen shot 2017-01-27 at 7 31 10 am" src="https://cloud.githubusercontent.com/assets/13689284/22357803/bb433c90-e462-11e6-973b-7856dcd0bb1a.png">

Replacing the help pages seems to be part of #1895

[2017-01-27 16:34] abbyad opened #3089 "Export server logs from webapp does not work"
From @smbuthia in https://github.com/medic/medic-projects/issues/1301:

Seems related to #2694

[2017-01-27 22:27] sglangevin commented on #3037
Places don't normally have 5-digit IDs, do they? I thought those IDs were used for cases and now for people? Seems like place pages don't really need that field, but making it configurable would solve this. Only other consideration is what the hard-coded fields should be because it seems like we should have some to avoid extra design and configuration work on projects.

Another related question: c

[2017-01-27 22:34] sglangevin commented on #2801
We don't have a separate issue AFAIK. There are some commits in a branch in medic-android related to the migration of data from one WebView to another. Perhaps we should create a new issue for that piece and close this one.

[2017-01-27 22:37] diannakane commented on #3037
We would need it for submitting place-specific forms for SMS projects, e.g.
community events, household surveys like equity lens and form 513,
potentially form 514 but those are linked to CHWs anyhow so we could use
the phone number to identify that.

[2017-01-27 23:25] sglangevin commented on #2937
Zepelin mocks -- see comments: https://zpl.io/2tsIvg. This is a duplicate of #2894 but I will close that one in favor of this one to preserve the discussion here.

[2017-01-27 23:26] sglangevin commented on #2894
Duplicated in #2937 - closing this one as that one has more discussion.

[2017-01-27 23:26] #2894 closed

[2017-01-27 23:31] sglangevin commented on #3000
@abbyad is this a feature we need for SMS workflows in v2 or a nice-to-have?

[2017-01-27 23:35] sglangevin commented on #2786
@diannakane is this one worth revisiting? Seems like it ended up needing design work.

[2017-01-27 23:39] sglangevin commented on #2272
@diannakane we should probably create an idea card or design issue for this one.

[2017-01-27 23:42] sglangevin commented on #1766
This should be resolved by the updated people tab - only one type of place can be created on the LHS, other places are created on the RHS. Closing - please re-open if needed.

[2017-01-27 23:42] #1766 closed

[2017-01-27 23:42] sglangevin commented on #1735
Closing. Re-open if it can be reproduced.

[2017-01-27 23:42] #1735 closed

[2017-01-27 23:42] diannakane commented on #2272
Is this different than this:
https://github.com/medic/medic-design/projects/1#card-1430963

[2017-01-27 23:48] diannakane commented on #2786
Some of this is covered by other issues, but there's good stuff in this thread so I'll create an overarching issue to holistically re-examine the styles of history and task lists. https://github.com/medic/medic-design/projects/1#card-1520900

[2017-01-27 23:51] sglangevin commented on #2272
Yes - this issue is referring to the web/desktop view widget (e.g. in Chrome on a laptop). That design card is for Android phones.

[2017-01-28 00:17] diannakane commented on #2272
OK I will add it.
https://github.com/medic/medic-design/projects/1#card-1521131

[2017-01-29 01:07] SCdF commented on #488
@mandric please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1071
@browndav please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1155
@garethbowen please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1170
@SCdF please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1240
@estellecomment please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1250
@SCdF please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1355
@estellecomment please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1509
@garethbowen please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1650
@browndav please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 01:07] SCdF commented on #1714
@mandric please close or schedule before the end of this sprint. See [triaging old issues](https://github.com/medic/medic-docs/blob/master/md/dev/workflow.md#triaging-old-issues).

[2017-01-29 18:40] garethbowen commented on #3089
@smbuthia @abbyad Were there any errors in the JS console or API logs?

[2017-01-29 18:46] smbuthia commented on #3089
@garethbowen ,yes. I've attached below.

![export-server-logs](https://cloud.githubusercontent.com/assets/1491710/22406862/336670f6-e66c-11e6-80e2-59026eda682f.png)

[2017-01-29 18:50] garethbowen commented on #3089
That's perfect @smbuthia thanks! The "Internal Server Error" bit implies that it's an issue with API so there's almost certainly more information in the API logs. Can you please check there too?

[2017-01-29 19:07] smbuthia commented on #3089
Not sure if this is what you need @garethbowen but here is what I get from `error-ssl.log`

[code]

[2017-01-29 20:31] garethbowen commented on #3078
Fixes committed. Back to you @estellecomment !

[2017-01-29 20:45] garethbowen commented on #3089
There's an error in the medic-api logs:

[code]

So the log bundling script is exiting with a 0. I'm not sure if we have any more data...

[2017-01-29 20:52] garethbowen commented on #3089
Host: cbhipp.dev.medicmobile.org

Maybe it can't find the `print-logs` script? I can find a copy in `/srv/storage/system-services/home/vm` but it fails to execute directly with:

[code]

@browndav Can you take a look at this?

[2017-01-29 21:26] garethbowen commented on #1895
Also fix the links in the Dashboard schema: #3088

[2017-01-29 21:30] garethbowen commented on #3088
Removed for now. Can be put back when the help documentation is restored.

[2017-01-29 21:30] #3088 closed

[2017-01-29 21:32] garethbowen commented on #1155
@abbyad This is ancient now. Are people still asking for it? Does it need some design work to determine which views we support?

[2017-01-29 21:37] garethbowen commented on #1509
Closing as this was fixed by the people tab refactor: #2341

@guptasanchay Please reopen (or open a new issue) if there's more to do.

[2017-01-29 21:37] #1509 closed

[2017-01-29 22:17] garethbowen commented on #3047
This has been fixed in 0.4 and 2.10

[2017-01-29 22:17] #3047 closed

[2017-01-29 22:18] garethbowen commented on #2376
Fixed as part of https://github.com/medic/medic-webapp/issues/3078

[2017-01-29 22:18] #2376 closed

[2017-01-30 01:33] ngaruko opened #3090 "Form exits on Refresh/Reload in Tasks tab"
Steps to reproduce

1. login as demo (alpha.dev: version 2.10.0-alpha.4744)
2. Tasks tab
3. Open one of the family surveys on LHS.
4. Refresh page
5. >>>The whole form disappear and we are back to the list of tasks...

Note sure if it has anything to do with #2156

Logs:
![image](https://cloud.githubusercontent.com/assets/6979995/22410153/0211a25e-e6f9-11e6-9fdf-5015818ff2d7.png)

[2017-01-30 09:09] estellecomment commented on #3029
Looks like admins do have analytics module `targets`, so the message isn't being displayed. (but no targets are coming out of the rules engine, so nothing to display).
@ngaruko flagged this.
So back to you @garethbowen !

[2017-01-30 09:20] estellecomment commented on #3078
Consider removing that modal completely, if it's not being used...

LGTM!

[2017-01-30 14:13] #2385 closed

[2017-01-30 14:16] estellecomment commented on #2385
AT :
 - [ ] normal case works
 - [ ]  this weird case works : https://github.com/medic/medic-webapp/issues/2385#issuecomment-271665652

[2017-01-30 15:26] abbyad commented on #2752
From [the latest docs](https://github.com/medic/medic-docs/blob/f4f5011eb966d8a4f260e57204ee442359c24048/md/message-states.md#message-states), my understanding is that delivered means that the message has been sent and received, so I would expect `delivered` to be _at least_ as green as `sent`.

[2017-01-30 15:33] abbyad commented on #2751
This came up again in https://github.com/medic/medic-projects/issues/1168#issuecomment-265521317, and in https://github.com/medic/medic-projects/issues/1245, and resolved in https://github.com/medic/medic-webapp/issues/3047

[2017-01-30 15:33] #2751 closed

[2017-01-30 15:44] abbyad commented on #3070
Just want to highlight that there are potentially two issues here, and that they are related only in that they both rely on getting subsets of forms with Nepali form codes:
1) Form filters in the Reports tab are not returning the correct forms
2) Analytics widget showing incorrect values

I think it makes sense to deal with Analytics during a rewrite, but the form filters not working is a more imm

[2017-01-30 15:49] abbyad commented on #3001
@ngaruko can you try to reproduce this testing deleting some and then all messages?

[2017-01-30 15:54] abbyad commented on #2245
This has been resolved with the People tab work, as used by the new Standard configuration.

[2017-01-30 15:54] #2245 closed

[2017-01-30 16:58] browndav commented on #3038
Please go ahead and schedule/perform the drive resize. Suggest a factor of two increase. Coordinate with Henok if necessary; this is something he's done on other instances IIRC and could assist with.

[2017-01-30 16:58] browndav commented on #2885
LGTM, moving to ready.

[2017-01-30 16:58] #2885 closed

[2017-01-30 17:00] browndav commented on #1388
This has been deprioritized for Q1/Q2 2017 at a high level. Closing as ancient.

[2017-01-30 17:00] #1388 closed

[2017-01-30 17:01] browndav commented on #2716
I've added `jq` to the `master` branch of Medic OS and will be testing upgrades to that latest release this week. `$PATH` issues have been fixed independently as well, so this should run properly on our production images post-upgrade.

[2017-01-30 17:03] browndav commented on #1143
Given this targets the DIY installer, and we've deprioritized that at a high level for at least Q1/Q2 2017, I'd recommend closing this issue as unnecessary.

[2017-01-30 17:03] #1143 closed

[2017-01-30 17:09] browndav commented on #1641
I'm somewhat torn on this one. As best as I can understand, this seems to be proposing that we capture 4XX/5XX errors and timeouts on the Webview's main page load only, and respond with a custom message. This seems like it'd have to be done carefully to avoid false positives (e.g. avoid erroring out on XHR requests). It also seems like the non-timeout might be better located in-app, so that all vi

[2017-01-30 17:09] #1641 closed

[2017-01-30 17:11] browndav commented on #838
This has had no discernible progress on the design front; closing the issue as it's not currently actionable. Will prioritize instance upgrades over this, and revisit when that is settled and deployment of new configuration data is simpler.

[2017-01-30 17:11] #838 closed

[2017-01-30 17:12] browndav commented on #1047
This was completed through the use of Avahi mDNS, and is currently available on all instances (from the same subnet) via the mDNS address `medic.local`. Closing as ancient, released.

[2017-01-30 17:12] #1047 closed

[2017-01-30 17:15] browndav commented on #1650
Placing this in the current milestone as technical debt. I think we should do this, at least for any save processes that are non-atomic, to minimize the possibility of bad/incomplete data being created.

[2017-01-30 17:16] browndav commented on #1048
Closing this as currently unnecessary. Priority, if any, should be on CouchDB 2.x compatibility after upgrades are settled. Closing.

[2017-01-30 17:16] #1048 closed

[2017-01-30 17:17] browndav commented on #1046
This isn't necessary at this time. Closing as ancient; will file a new more descriptive/encompassing issue related to Concierge and early setup after CouchDB 2.x compatibility is achieved and upgrades are solid.

[2017-01-30 17:17] #1046 closed

[2017-01-30 17:20] browndav commented on #1044
Ancient and superseded my more recent and relevant issues; closing as unnecessary.

[2017-01-30 17:20] #1044 closed

[2017-01-30 18:21] ngaruko commented on #3029
I saw the message when it first loaded/upgraded. Then I wandered a couple of clicks away and back to the Targets tab, now there was no message.

![image](https://cloud.githubusercontent.com/assets/6979995/22435631/a8c668b4-e785-11e6-9407-9275209f0d64.png)

[2017-01-30 18:43] sglangevin commented on #1155
Filters for the people tab are being explored by the design team. I think we can probably close this issue and open a new issue once design work has been done.

[2017-01-30 18:55] garethbowen commented on #1155
Agreed!

[2017-01-30 18:55] #1155 closed

[2017-01-30 19:58] #3078 closed

[2017-01-30 20:08] estellecomment commented on #1333
@garethbowen What file does that add to? (I guess I could just read the code :P)

[2017-01-30 20:13] garethbowen commented on #1333
There are `type: "translations"` docs in the db.

[2017-01-30 20:14] estellecomment commented on #2937
(refer to design spec for full description : https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.ta51n5b830h)

[2017-01-30 20:33] abbyad commented on #3075
Closing in favour of https://github.com/medic/medic-webapp/issues/3082 which has more info.

[2017-01-30 21:18] garethbowen commented on #3061
@browndav What state are these PRs in?

[2017-01-30 21:19] garethbowen commented on #3023
@browndav When setting to Code Review we assign someone to review it - can you pick a volunteer please?

[2017-01-30 21:20] browndav commented on #3061
I've not had time to code review https://github.com/medic/medic-servers/pull/2. Assignment was unsolicited, so I've removed in hopes that someone else can pick it up.

[2017-01-30 21:27] mandric commented on #3061
Sorry @browndav multiple solicitations here: https://github.com/medic/medic-webapp/issues/821#issuecomment-241423714

[2017-01-30 21:35] mandric commented on #821
Feel free to reassign or schedule a call if the PR is too complex/hard to understand and you'd like a walkthrough.

[2017-01-30 21:43] ngaruko opened #3091 "HBB should ‘cancel’ Report Bug modal."
Steps to reproduce:

1. Log into Medic Mobile
2. Go to ‘People’s’ tab or ‘Targets’
3. Settings >> Report bug
4. Report bug modal pops up
5. Press the HBB

**Expected** : Report bug modal should close and app be back to whatever screen/tab was open
**Current behaviour:** The Report bug modal does not close, until the app goes back to ‘Tasks’ tab

[2017-01-30 21:44] garethbowen commented on #3091
This goes for all modals.

[2017-01-30 22:13] garethbowen commented on #3029
Ok, that's a different case again. Fixed now.

[2017-01-30 22:14] garethbowen commented on #3029
@estellecomment Code review please (no PR, just committed straight to master).

[2017-01-30 23:06] ngaruko commented on #2423
Hi @sglangevin  Is it still happening. Was something done to fix?

[2017-01-30 23:33] sglangevin commented on #2423
I don't think this is still happening, not last I checked anyway. We now create most users (all created with the user creation script) with `known: true` to prevent the tour from popping up at all, and I've not seen this issue with users created via the web app.

[2017-01-30 23:53] garethbowen opened #3092 "Release 2.10.0"
### Release steps
- [x] Bump libphonenumber to latest
- [x] Merge the latest translations from POEditor
- [x] Bump api and sentinel to latest
- [x] Update app version (kanso.json, package.json, npm-shrinkwrap.json)
- [x] Merge to the release branch
- [x] Tag a beta release
- [x] Update the testing app and run acceptance testing
- [x] Update Changes.md
- [x] Tag the final release in GitHub releases

[2017-01-31 00:14] garethbowen commented on #2752
@abbyad Colours...

| State | Current | Proposed |
|------|------|
| scheduled | Blue | Yellow |
| pending | Salmon | Blue |
| forwarded-to-gateway | undefined (grey) | Blue |
| received-by-gateway | undefined (grey) | Blue |
| sent | Green | Green |
| delivered | Yellow | Green |
| failed | Blue | Red |
| denied | undefined (grey) | Grey |
| cleared | Yellow | Grey |
| muted | Grey  | Grey |

The

[2017-01-31 02:24] diannakane commented on #2752
@garethbowen I only have two suggestions to make: scheduled as blue and pending as yellow. The rest look really good!

@Lesterng anything you would change?

[2017-01-31 02:45] garethbowen commented on #2752
@diannakane "pending", "forwarded-to-gateway", and "received-by-gateway" are pretty much the same state - we're processing the message but it's not sent yet. So I think these three states should be the same (or similar) colour. How about I change all of these are yellow?

The colour flow then will be: blue, yellow, green/red
My proposal was: yellow, blue, green/red

[2017-01-31 03:18] garethbowen commented on #1660
This can be done as part of xforms validation. Reopen if there's anything we need to do in the app to allow this.

[2017-01-31 03:18] #1660 closed

[2017-01-31 03:30] Lesterng commented on #2752
@diannakane I would need to look at this in context to make any recommendations. If you need to implement go ahead otherwise create a design issue and we can schedule it.

[2017-01-31 04:03] ngaruko commented on #2543
No need to AT this one? Any objection?

[2017-01-31 04:06] mandric commented on #3054
assigning to @garethbowen for comment, see branch/PR https://github.com/medic/medic-api/pull/119

[2017-01-31 05:34] abbyad opened #3093 "Registering for a SMS schedule can start mid-group"
If the first messages of a group are in the past we should not be sending the latter messages of the group. Instead, the first scheduled messages that should be sent are the first messages of the next group.

Otherwise, when registering a patient that is midway through a scheduled SMS group you can get a "Did the person attend their visit?" message without a "Please tell Maria to go their ANC visi

[2017-01-31 08:52] estellecomment opened #3094 "Document how translations work"
Because I've forgotten myself within 6 months.

[2017-01-31 08:55] garethbowen commented on #3054
Looks good. Might have issues with lots of messages but I suspect our target instances won't be that big (ie: somewhat less than LG...).

I prefer to script in node because it's installed on the servers and we're all experts in it, but that's a personal preference, especially in this case as this is only needed in the short term.

[2017-01-31 08:56] garethbowen commented on #3054
Back to you @mandric

[2017-01-31 09:02] SCdF commented on #3090
@ngaruko just to be clear: can you add to the ticket what the expected path would be here?

[2017-01-31 09:38] SCdF commented on #2543
@ngaruko correct no need, this is internal dev stuff

[2017-01-31 09:39] SCdF commented on #3094
@estellecomment do you mean something that isn't covered by https://github.com/medic/medic-docs/blob/master/md/dev/translations.md ?

[2017-01-31 12:08] estellecomment commented on #3094
yes, translations.md explains how to use them, not how they work inside. (I might add/clean translations.md along the way, if it's relevant, I find it not 100% clear)

[2017-01-31 14:25] estellecomment commented on #3029
LGTM! Passing along the chain to Bede :)

[2017-01-31 14:25] #3029 closed

[2017-01-31 18:55] abbyad commented on #3093
That is possible for new projects, but may be difficult to appropriate change the text for all projects. Even then we'll find situations which are not ideal, especially since facility based tasks are now being created based on these groups. A nurse may be asked to follow up on a visit that the CHW was never notified about - or that did not make sense for the patient to attend to begin with. The la

[2017-01-31 18:56] ngaruko commented on #2348
No AT needed?

[2017-01-31 18:57] abbyad commented on #3093
We should find out if there are any situations where getting the final messages of a group without the initial messages is preferred to not getting them at all.

[2017-01-31 18:58] garethbowen commented on #2348
Agreed.

[2017-01-31 18:58] sglangevin commented on #3093
I'm pretty sure this issue exists in prior versions as well - I remember encountering this in DIY testing.

[2017-01-31 19:06] abbyad commented on #3093
Ya, it has long been like this - but doesn't mean it shouldn't be done differently :)

[Here](https://github.com/medic/medic-sentinel/blob/9d10a71b229c3f4b5f92d4b77ec08be0cb1231e2/lib/schedules.js#L119-L122) it ignores scheduled messages past due, without considering where it fits in the group.

[2017-01-31 19:12] sglangevin commented on #3054
Do we have an issue for applying this script to the instances that need it? Or does this issue cover that piece as well?

[2017-01-31 20:10] sglangevin commented on #1556
This has been resolved for the project in question. If we need to update the design of the summary pages, we can open a new issue for that.

[2017-01-31 20:10] #1556 closed

[2017-01-31 20:22] sglangevin commented on #1984
Mockups available here: https://github.com/medic/medic-design/issues/37

[2017-01-31 20:28] sglangevin commented on #2010
This view was updated in v2.9. Let's create a new issue if more work is needed.

[2017-01-31 20:28] #2010 closed

[2017-01-31 23:09] mandric commented on #3054
Good point. I don't have an issue for applying the fix to instances that have messages without uuids.  Unless someone feels strongly about it I'll incorporate it into this ticket.

[2017-01-31 23:53] ngaruko commented on #2049
No AT needed?

[2017-02-01 00:05] ngaruko commented on #2565
LGTM

[2017-02-01 00:11] garethbowen commented on #2049
Agreed.

[2017-02-01 03:23] garethbowen commented on #2752
I've gone with this for now - we can change it later if necessary:

| State | Updated |
|------|------|
| scheduled | Blue |
| pending | Yellow |
| forwarded-to-gateway | Yellow |
| received-by-gateway | Yellow |
| sent | Green |
| delivered | Green |
| failed | Red |
| denied | Grey |
| cleared | Grey |
| muted | Grey |

@estellecomment review please (commit, no PR sorry).

[2017-02-01 03:58] ngaruko commented on #2557
UI has changed.

[2017-02-01 14:47] mandric commented on #3054
Nevermind, tracking this over here now: https://github.com/medic/medic-projects/issues/1168.  This branch/PR has gone through a refactor though and should get another look.  Reassigning to @garethbowen to review.

[2017-02-01 18:02] abbyad opened #3095 "Configure the max number of SMS in multipart SMS"
Now that we can have multipart SMS with #3083, we should be able to set a configurable limit to the number of messages in multipart SMS. This may be needed to avoid issues with a local MNO.

[2017-02-01 19:02] ngaruko commented on #1122
Nothing to AT

[2017-02-01 19:09] ngaruko commented on #2129
@SCdF @sglangevin @alxndrsn Difficult to tell what the HBB fix was? and if anything was done? Any details , someone?

[2017-02-01 19:11] sglangevin commented on #2129
Pressing the HBB was hard-closing our Android app. This should now be fixed.

[2017-02-01 19:18] ngaruko commented on #2129
Thanks @sglangevin

[2017-02-01 20:08] garethbowen commented on #3009
@SCdF This should not be "active work" any more, right?

[2017-02-01 20:29] garethbowen commented on #3054
Looks ok. Shame about using http vs request but I can see why you did. I wonder if we could have the script run an npm install for dependencies (uuid, request, etc)? It's fine for now.

[2017-02-01 21:08] estellecomment commented on #2752
one's mixed up! https://github.com/medic/medic-webapp/commit/33413f6aa7e4d33af11f5579ef0ee67559e6906d#commitcomment-20703217
Apart from that LGTM.

[2017-02-01 21:12] #2752 closed

[2017-02-01 21:46] ngaruko commented on #2158
Passed Acceptance Testing. Back to Code Review.

[2017-02-01 22:12] ngaruko commented on #3088
@abbyad  @garethbowen Maybe we need another issue (more like a reminder) to restore those links (if they are important)

[2017-02-01 22:13] garethbowen commented on #3088
I added a comment to #1895 to add them back: https://github.com/medic/medic-webapp/issues/1895#issuecomment-275947448

[2017-02-01 22:42] sglangevin commented on #2265
This was due to a configuration issue which has since been resolved.

[2017-02-01 22:42] #2265 closed

[2017-02-01 22:44] sglangevin commented on #2191
This has now been resolved in the `clinic` form as well. It was a configuration issue related to how we calculate approximate birthdates.

[2017-02-01 22:44] #2191 closed

[2017-02-01 22:46] sglangevin commented on #2008
The tour seems to be working now. Re-open if this is still an issue.

[2017-02-01 22:46] #2008 closed

[2017-02-01 22:47] ngaruko commented on #2660
Is there a need to AT this? I had a look at the 'send-message.js' e2e test file, it still has 2 x  'browser.sleep'. Ideally 'sleeps' are not a good idea in automation, but in the real world, sometimes there is nothing to 'wait for' and 'sleep' is the only option. Removing the AT tag.

[2017-02-01 22:52] sglangevin commented on #1796
This seems to be working correctly now.

[2017-02-01 22:52] #1796 closed

[2017-02-01 22:54] sglangevin commented on #1674
Closing as this is old and has not been reproduced.

[2017-02-01 22:54] #1674 closed

[2017-02-01 22:58] sglangevin commented on #1651
Haven't seen this recur unless there is an issue with task configuration. Re-open if it can be reproduced.

[2017-02-01 22:58] #1651 closed

[2017-02-01 22:59] sglangevin commented on #1610
This hasn't recurred in quite some time. Closing.

[2017-02-01 22:59] #1610 closed

[2017-02-01 23:00] sglangevin commented on #1567
Location data is now being collected via our Android app. Closing.

[2017-02-01 23:00] #1567 closed

[2017-02-01 23:01] sglangevin commented on #1544
This is no longer an issue - tasks tab loads immediately. Probably was fixed during some of the work done on initial loading of the app.

[2017-02-01 23:01] #1544 closed

[2017-02-01 23:01] sglangevin commented on #1539
This was resolved a while ago. Closing.

[2017-02-01 23:01] #1539 closed

[2017-02-01 23:03] sglangevin commented on #1370
This is no longer an issue - additional work was done related to this when replication depth was implemented.

[2017-02-01 23:03] #1370 closed

[2017-02-01 23:04] sglangevin commented on #1318
Filters have been removed from the Contacts tab.

[2017-02-01 23:04] #1318 closed

[2017-02-01 23:05] sglangevin commented on #1126
This seems to have been working correctly for a while now. Re-open if this issue pops up again.

[2017-02-01 23:05] #1126 closed

[2017-02-01 23:05] sglangevin commented on #1074
We are migrating from SMSsync to Medic Gateway. Closing.

[2017-02-01 23:05] #1074 closed

[2017-02-01 23:07] sglangevin commented on #980
Closing as we aren't currently supporting modems.

[2017-02-01 23:07] #980 closed

[2017-02-01 23:08] sglangevin commented on #977
Closing as this is no longer an issue.

[2017-02-01 23:08] #977 closed

[2017-02-01 23:11] sglangevin commented on #842
Once https://github.com/medic/medic-webapp/issues/3074 is done then this will be possible for person-centered workflows.

[2017-02-01 23:12] sglangevin commented on #931
This is no longer relevant.

[2017-02-01 23:12] #931 closed

[2017-02-01 23:14] sglangevin commented on #2635
Related: https://github.com/medic/medic-webapp/issues/638

[2017-02-01 23:15] sglangevin commented on #638
This fix will come with #2635.

[2017-02-01 23:16] sglangevin commented on #2635
Related: https://github.com/medic/medic-webapp/issues/947

[2017-02-01 23:22] sglangevin commented on #2439
A debouncing feature was introduced in v2.8.4 to help with multiple form submissions.

[2017-02-01 23:22] #2439 closed

[2017-02-01 23:24] sglangevin commented on #2113
This was resolved a while ago.

[2017-02-01 23:24] #2113 closed

[2017-02-01 23:27] sglangevin commented on #1928
@abbyad is this one still relevant?

[2017-02-01 23:31] sglangevin commented on #3045
Duplicate of #1621 - keeping this one as there is more discussion.

[2017-02-01 23:31] sglangevin commented on #1621
Closing in favor of #3045.

[2017-02-01 23:31] #1621 closed

[2017-02-01 23:36] sglangevin commented on #2638
@henokgetachew @mandric what is the status of this issue?

[2017-02-01 23:37] sglangevin commented on #2231
What is the status of this issue? @mandric @garethbowen

[2017-02-01 23:38] sglangevin commented on #2750
@browndav what is the status of this issue?

[2017-02-01 23:41] sglangevin commented on #2774
@mandric @derickl @SCdF What is the status of this issue?

[2017-02-01 23:59] ngaruko commented on #1169
No AT needed. Debug feature

[2017-02-02 00:01] ngaruko commented on #2067
Was this a 'tecno' specific bug  or was it happening on other phones?

[2017-02-02 00:03] diannakane commented on #2752
Agreed, @garethbowen

[2017-02-02 00:04] ngaruko commented on #2998
Still happening on 2.9.0-beta.9. Unless the fix was merged in later version @garethbowen ?
![image](https://cloud.githubusercontent.com/assets/6979995/22531786/1af79afc-e948-11e6-9797-7f328adc3e85.png)

[2017-02-02 00:51] sglangevin opened #3096 "Allow users to take a photo while filling in an xform in Enketo and upload the photo with the form"
Add support to our implementation of Enketo for taking a photo within a form and uploading the photo with the form. This is important for tracking use of rapid tests for malaria, ensuring that they are actually being used and that the results are being read correctly by CHWs. It's also applicable to projects that track usage of particular commodities, such as a project tracking the use of malaria

[2017-02-02 00:59] garethbowen commented on #2998
@bede: beta 9 went out on the 7th of December, this code was merged on the 9th. It would probably be better to AT on the 2.9 final.

[2017-02-02 01:05] garethbowen commented on #2067
It was happening on all phones and even the desktop.

[2017-02-02 01:31] bede commented on #2998
@garethbowen I think you may have mentioned me by accident : )

[2017-02-02 01:33] sglangevin opened #3097 "Task schedules created using the `reported_date` of a report do not show/hide at the expected time"
Task schedules created using the `reported_date` of a report as the base date for the schedule appear based on the time that the report was created as opposed to the relative day.

Example:
- Submit a patient assessment at 5:30 pm on Tuesday where the outcome is a follow up in 2 days
- Expected: task appears at 12:00:01 am on Thursday
- Actual: task appears at 5:30 pm on Thursday.

Another example

[2017-02-02 10:26] bishwas-medic commented on #2158
Suggesting the following rewrite of the original code:
https://www.youtube.com/watch?v=zSyGRut7T0s

cc @estellecomment

[2017-02-02 10:40] estellecomment commented on #2158
I agree this is a clear improvement on the prior version. Good job @bishwas-medic .

@ngaruko can you reproduce this behavior with your own local resources, and send us a recording?

[2017-02-02 11:15] SCdF commented on #2660
@ngaruko no need to AT this. If it sounds like internal dev stuff you almost certainly never need to bother.  We should really just mark them as ready ourselves.

[2017-02-02 11:28] SCdF commented on #2774
@mandric needs to make a decision, I'm pretty sure he wants to close it. His ticket though.

[2017-02-02 12:03] SCdF commented on #3058
@michaelkohn read @sglangevin's comment: I don't think we're currently using geo data only available in XML, we've just talked about it.

[2017-02-02 13:39] derickl opened #3098 "Sentinel looking for non-existent view"
Here's a log extract on an instance running `2.8.5`

[code]

cc @SCdF

[2017-02-02 13:41] derickl opened #3099 "Uncaught exception triggers 500 response for subsequent requests"
Here is a log excerpt from an instance running `2.8.5`

[code]

cc @SCdF

[2017-02-02 14:53] SCdF commented on #3098
This was fixed in this commit: https://github.com/medic/medic-sentinel/commit/622d55f24dfde27aa53d6ff22686e0dc9d253793, and was released in 2.9.0 of medic-webapp. There is no 2.8.x release that contains this fix currently.

[2017-02-02 14:53] #3098 closed

[2017-02-02 15:09] SCdF commented on #3099
The offending code is [in master](https://github.com/medic/medic-api/blob/master/handlers/changes.js#L142-L148) and [in 2.8.5](https://github.com/medic/medic-api/blob/2a9ffbd/handlers/changes.js#L134:L140):
[code]

It is surprising to me that `results` could ever be empty since both versions don't call `prepareResponse` if there is an error. It may just be that if there are no results for some rea

[2017-02-02 15:40] abbyad commented on #3075
Ok, so 3082 _is_ different...

The basic aspect of the `person_reports` section is to validate that the patient_id exists. However, a report in patient-centered workflow is accepted if it passes the extra validation, even if the ID does not match the ID of an existing person.

[2017-02-02 16:09] mandric commented on #2774
I'd like to get acceptance testing on this on the latest release of medic-bulk-utils if possible and see if the bug is still there, reassigning to @derickl.  Feel free to close if you found a workaround or other fix and you don't have time to reproduce this and we'll raise more issues next time around.

[2017-02-02 16:10] michaelkohn commented on #3058
@scdf we are definitely using geo data and in many cases it is only available in the XML so if you are going to get rid of the XML, I need that GEO data migrated to JSON first.

[2017-02-02 16:13] SCdF commented on #3058
@michaelkohn so to be clear, you're currently parsing XML using SQL and using those values in analytics?

[2017-02-02 16:31] abbyad commented on #3075
In checking whether a patient report has the ID of an existing person it [looks for any registration report with that same ID](https://github.com/medic/medic-webapp/blob/417c8a5be7cf6ba306f7df2535dd90349bd6875d/lib/views.js#L337). Unfortunately in person-centered workflows, the patient id is sent as a field in the report that is at the same time a patient report, and a registration since it is use

[2017-02-02 17:00] derickl commented on #2774
@mandric, is it possible for you to provide some sort of upgrade path? i.e what changed to what.
In v0.2, import of contacts and users was done in one step. In this new one, we have 3 files when importing contacts: CHW_Zones, People and Concessions. I'd like to know what these map back to in an lg-context since I assume the naming was mostly influenced by Muso. With this, I can AT and give feedbac

[2017-02-02 17:06] michaelkohn commented on #3058
@SCdF Not for dashboards, but we are working on a number of other data projects where I'm parsing XML using SQL to get GEO data.  For example... one of the projects we just started working on combines GEO data generated by CHWs with high res settlement imagery from another partner to try to identify households that are not being visited by CHWs (but should).

[2017-02-02 17:35] abbyad commented on #3082
Below is an example of symptom 1 listed above. The report does not pass validation because it does not have the ID of an existing person, but the schedule is still created:

![image](https://cloud.githubusercontent.com/assets/789512/22560803/df1baef0-e943-11e6-981f-dbf71f5a1247.png)

[2017-02-02 17:54] sglangevin commented on #3082
To reproduce:
1. Send a pregnancy registration form via SMS `P [invalid patient_id] [weeks since LMP]`.
2. You will get an error SMS that says the ID is invalid but a schedule will still be created for reminders (see screenshot immediately above this comment).

Note that an invalid ID can be either an ID that doesn't exist in the Medic system or and ID that is not of the correct format.

Test case

[2017-02-02 18:06] sglangevin commented on #3082
`app_settings` are here: https://github.com/medic/medic-projects/blob/master/default-sms-workflow/app_settings.json

[2017-02-02 18:37] ngaruko commented on #2076
I will assume this issue has been sorted (by  bumping the number of connections on lg.ap), unless I heard otherwise from @garethbowen  or @henokgetachew

[2017-02-02 18:43] ngaruko commented on #2078
May I ask what input generated the 'undefined' displayed above. Or in other words, how to reproduce the issue. Thanks @garethbowen

[2017-02-02 19:24] abbyad commented on #3082
Here are some inputs and expected outputs that I have been using as tests while trying to find a way to do this with changes in configuration:

| Test | Input | Expected Output |
| --- | --- | --- |
|**Valid LMP**| `P 66837 2`|1 auto reply confirming reception, create LMP ANC schedule|
|**No LMP**| `P 66837` | 1 auto reply confirming reception, create ANC schedule|
|**Invalid ID format**|`P 668370

[2017-02-02 19:57] garethbowen commented on #2998
Sorry, yes, I meant @ngaruko

[2017-02-02 20:08] mandric commented on #3054
Pretty sure I'm only one that can do A/T here.... so closing this.

[2017-02-02 22:37] garethbowen commented on #2638
This has been sitting in code review for weeks, so I'm just going to merge it and move it to acceptance testing.

[2017-02-02 22:37] #2638 closed

[2017-02-02 23:02] ngaruko commented on #2116
Moving this to ready. User creation issues will be further addressed in #3067 and #3066

[2017-02-02 23:03] ngaruko commented on #2885
I will assume this issue has been sorted (by bumping the number of connections on lg.ap), unless I hear otherwise.

[2017-02-03 02:04] abbyad opened #3100 "Add date of birth to person created by SMS"
When an incoming SMS report creates a new person we should set the person's `date_of_birth` field if the registration also added the `birth_date` field to the report. The `birth_date` field is generated if registration event is set, and the age in weeks or days is provided in the form.

[2017-02-03 02:24] abbyad commented on #3100
Simple change, but apologies for the lack of tests. Ready for code review, and quite possibly tests!

[2017-02-03 02:47] garethbowen commented on #3100
LGTM

[2017-02-03 02:47] #3100 closed

[2017-02-03 03:04] abbyad commented on #3082
@garethbowen helped clarify this issue. Since the transitions are meant to run in order, we can rely on `accept_patient_reports` running before `registrations` if ordered accordingly. If that is the case then we can prevent the schedule creation by checking that there are no errors added by previous transitions (eg using something like `(doc.errors && doc.errors.length === 0)` in the `bool_expr` f

[2017-02-03 05:10] abbyad commented on #3075
Note that removing `fields.patient_id` from `registered_patients` view alone would cause regressions, like no longer being able to clear schedules in person-centered workflows.

[2017-02-03 07:47] SCdF commented on #3058
@michaelkohn wow that's horrifying. OK that definitely blocks us from running the migration, and definitely raises the priority on fixing medic-couch2pg so it does this for you, or at least so that it also downloads attachments and stores them in an `attachments` table or something.

[2017-02-03 18:00] abbyad commented on #2212
Updated tour content was provided [here](https://docs.google.com/document/d/12TMl5ucfcl_3GZws1w7NLkYWb_Tw6b7xg4SuS-2_Et8).

[2017-02-03 23:34] mandric commented on #3082
I think transitions should continue running even when errors occur.  Any transition can do anything, like use some random API.  If that random API is down that doesn't mean simpler transitions should also fail/never run.  If an errors occurs in a transition the doc continues towards a complete state.  The failed transition should mark itself as failed in the doc and the transition handles that sta

[2017-02-04 02:00] abbyad commented on #2212
Didn't get a chance to update the tours json, but here are the translations if someone else picks this up.

[code]

[2017-02-04 03:34] ngaruko commented on #1801
Is there anything to AT here @browndav ?

[2017-02-04 04:16] ngaruko commented on #2054
Can I be assured that the above fixes have resolved the slowness or do I need to wait for a techno to do AT on the 'real' hardware? @SCdF @sglangevin

[2017-02-04 05:14] ngaruko commented on #2261
Code changes. No AT needed I guess?

[2017-02-06 08:09] SCdF commented on #2054
@ngaruko I wouldn't bother ATing this, you're not going to have a frame of reference for how slow it was before anyway, and if we had regressed and got slower there is no reason to think it would be anything to do with this ticket.

[2017-02-06 08:10] SCdF commented on #2261
@ngaruko correct.

[2017-02-06 08:55] SCdF commented on #3055
@estellecomment I wrote up something in the README, let me know if that's what you were looking for: https://github.com/medic/medic-api/pull/120

[2017-02-06 08:59] garethbowen commented on #2716
Randomly choosing @alxndrsn for code review.

[2017-02-06 09:00] garethbowen commented on #3023
Randomly picking @SCdF to code review.

[2017-02-06 09:32] SCdF commented on #3023
@browndav I get the code changes you've made, and I see that this provides the *ability* to make `man` work. I'm not seeing that it actually *does* though.

Come chat to me when you're around.

[2017-02-06 09:52] SCdF commented on #2180
As noted by Sharon removing the priority label above, I'm parking this for now. [This commit](https://github.com/medic/medic-sentinel/commit/81fe85a6f58d9e2e53f2e643b9e2a23df5c78493) details what has and hasn't been done.

[2017-02-06 09:53] SCdF commented on #2854
This doesn't seem to be a priority right now, so I'm taking it off myself and no longer marking it as active.

[2017-02-06 09:54] SCdF commented on #1250
There is a script to do this for local dev work, and AFAIK there is no pressing need for it to be supported programmatically. I imagine if there was we would have done it in the last 2.5 years.

[2017-02-06 09:54] #1250 closed

[2017-02-06 09:55] SCdF commented on #1170
We want to get rid of lucene and replace it with postgres at some point anyway, don't think this holds relevant 2.5 years later.

[2017-02-06 09:55] #1170 closed

[2017-02-06 10:02] SCdF commented on #3099
@derickl can you advice as to the severity of this? Would you want a 2.8.6 released to address this issue, or are you happy waiting until the next main release (likely 2.10)?

[2017-02-06 10:41] SCdF commented on #3099
@derickl can I get some more information on this one please? Can you explain what is happening in more detail:
 - Do you see this exception sometimes, or all the time?
 - Are you doing something to trigger the exception (eg are you hitting a url?)
 - Are there are any other issues on the server?
 - Does this cause notable problems in the app functioning, or is it just a weird exception you get som

[2017-02-06 10:47] derickl commented on #3099
@SCdF 2.8.6 would be appreciated to resolve this. Might be a couple of weeks before LG is trained (and migrated) on 2.9+ .

In terms of details as to the event: I just saw the 500 on #downtime, logged in to the instance, tailed the logs and that particular expert was recurring quite often.

[2017-02-06 10:50] SCdF commented on #3099
@derickl did you try restarting api? There is no reason that I can see that this would be happening based on reading the code, and I'd rather not just blindly put a check in there so it doesn't crash, because it could be hiding a larger problem. Also, which server is this?

[2017-02-06 10:52] derickl commented on #3099
@SCdF restarting medic-core resolved the 500.

`lg.app`

[2017-02-06 13:21] SCdF commented on #3099
@garethbowen would like your opinion on this. I added the commit above to `master`, we could cherrypick that into a 2.8.6 but I mean, I'm not sure what it will show us. If @derickl restarted api and everything started working again I'm wondering it was a weird couchdb state or something?

[2017-02-06 13:27] SCdF commented on #3087
@abbyad can you help me reproduce this locally? Or provide me with a link to an example where it fails online? @bishwas-medic talked about a lightbox opening when he hits edit. This is not something that happens when you edit a report AFAIK, so I'm wondering if I'm looking in the wrong place / doing the wrong thing?

[2017-02-06 14:05] estellecomment commented on #3055
![43863709](https://cloud.githubusercontent.com/assets/911434/22649995/a7141ad2-ec7d-11e6-86a6-ecfd45fe45b8.jpg)

[2017-02-06 14:06] estellecomment commented on #3055
Thank you! Couple comments on commit, for extra detail : https://github.com/medic/medic-api/commit/295fcc8e7c66abed302af85621c0c4ced06688be

[2017-02-06 14:47] SCdF commented on #3069
@garethbowen take a look at https://github.com/medic/medic-webapp/pull/3101

Check out how `db-object-widget` works, it currently does the heavy lifting to automatically convert select2 data into Enketo data. All this code does is hydrate on change and then re-fire the change event (we do a similar thing when we set the initial value in select2 if you're loading existing data).

[2017-02-06 14:57] SCdF commented on #2722
I'm going to close this… I haven't seen anything like this for awhile, I think we fixed it / travis got faster computers / something.

[2017-02-06 14:57] #2722 closed

[2017-02-06 15:00] SCdF commented on #3035
I presume @mandric's suggestion was something to implement and not just idle musings, so I did. We'll see if it helps.