[2017-09-01 12:30] SCdF opened #3860 "Sentinel does not detect if it's been replicated and gets its start location wrong"
The sentinel metadata document refers to a `seq` num. Because of this, it's only relevant for the current database instance, and becomes incorrect if replicated to another instance. This is not generally an issue, but will come up if you try to clone instances via replication. For example, if you're pulling stuff down for testing locally.

We should also look through any other meta documents we ha

[2017-09-01 12:31] alxndrsn opened #3861 "bootstraper does not handle errors if pouch fails to load"
Looks to me like the bootstrapper will throw an unhandled `Error` back to `app.js` if one of `PouchDB()` calls at https://github.com/medic/medic-webapp/blob/master/static/js/bootstrap.js#L85, https://github.com/medic/medic-webapp/blob/master/static/js/bootstrap.js#L96 fail.

The first one is the most likely to fail.

Likely related to https://github.com/medic/medic-webapp/issues/2090#issuecomment-

[2017-09-01 12:33] alxndrsn opened #3862 "bootstrap.js and bootstrap have confusingly similar names"
For clarity we should rename `static/js/bootstrap.js` to `static/js/bootstrapper.js` or think of an even better name for it.  Currently in `static/js/app.js` we have:
[code]

[2017-09-01 12:34] SCdF commented on #3860
This is low priority, but it's pretty annoying. I spent quite a while trying to work out why sentinel wasn't firing on my changes, when it was because the seq was now invalid and my new DB was below it.

[2017-09-01 12:36] alxndrsn commented on #3856
Checkpointing may be broken in pouchdb 6.3.4 - discussion ongoing at https://pouchdb.slack.com/archives/C03FEASK8/p1504268246000065

[2017-09-01 12:38] estellecomment commented on #3824
The test is now committed here : https://github.com/medic/medic-sentinel/commit/26baba0dfd7074582abac66bf1c015b17f344e0c#diff-6d5b1490870b81f005205db1cc381801R410

[2017-09-01 12:54] alxndrsn commented on #2090
<img width="640" alt="screen shot 2017-09-01 at 14 51 32" src="https://user-images.githubusercontent.com/191496/29970565-6e50f2e2-8f25-11e7-94bd-ece183cd21f7.png">

[2017-09-01 13:40] SCdF commented on #3414
It's probably also worth while supporting making the CHP a hyperlink as well.

[2017-09-01 13:45] alxndrsn commented on #2090
May only be a problem in dev mode - 2.13.x deployed instances work OK.

[2017-09-01 13:45] SCdF commented on #3839
This appears to have been fixed in the latest 2.13.x.

Your example:
![image](https://user-images.githubusercontent.com/583851/29972498-2cc046a8-8f24-11e7-80e0-db1e9a347e6b.png)
My example:
![image](https://user-images.githubusercontent.com/583851/29972509-37123fc6-8f24-11e7-81f3-d4e7733c8ffc.png)

[2017-09-01 13:56] alxndrsn commented on #3861
In practice this seems to work OK.

[2017-09-01 13:56] #3861 closed

[2017-09-01 13:56] #2090 closed

[2017-09-01 13:58] SCdF commented on #3749
Missed this one. Merged to master awhile ago (available on 2.14+)

[2017-09-01 14:00] SCdF commented on #2085
There isn't much demand for this, and we don't really usefully version forms right now.

[2017-09-01 14:00] #2085 closed

[2017-09-01 14:05] abbyad commented on #2085
I agree that this isn't a priority for checking if everything is downloaded, but want to clarify that we _do_ usefully version forms. In the Standard config for instance the version is set to the time the XLSForm is converted to a XForm. This is set in the Settings tab of the XLSForm, with `version` set to `=TEXT(NOW(), "yyyy-mm-dd_HH-MM")`

[2017-09-01 14:05] sglangevin commented on #3839
@SCdF the second message in your example is missing the patient name. It should say "{patient_name} (28204) was flagged by Chelsea...". Do you know if the translation was changed to `person.name`?

[2017-09-01 14:08] sglangevin commented on #2085
Note that we are only doing that for projects that use medic-configurer.

[2017-09-01 14:13] sglangevin commented on #2313
Once that other issue is backported to 2.13.x (#3840) then I can also test this one.

[2017-09-01 14:18] abbyad commented on #3839
Yes, that one was changed to `person.name` for previous testing (#3838), now back to `patient_name`.

[2017-09-01 16:49] abbyad commented on #3837
After discussion with @alxndrsn we will attempt to get around the (over)use of `jr:choice-name()`, especially as used for `g_chw_sms` in the forms above. That calc sets the default value for a text field based on prior inputs, and the default value is a template that includes other values such as patient name, ID eg `Good news, ${chw_name}! ${patient_name} (${r_patient_id}) has delivered at the he

[2017-09-03 22:04] garethbowen commented on #3862
@alxndrsn I've merged the first PR but I don't think the second one is quite right so I'll leave that for you.

[2017-09-03 22:09] garethbowen commented on #3837
@alxndrsn This is marked for "Code review" but I think it should be "Won't fix: Not an issue" because there's no code change. Does that make sense?

[2017-09-03 22:21] garethbowen commented on #3855
`array.find` is not available on our minimum supported version of Chrome. Excellent issue thanks @sglangevin !

[2017-09-03 22:22] garethbowen commented on #3854
I expect this will be a duplicate of #3855

[2017-09-03 22:57] ngaruko commented on #2994
Returning because somehow it seems not to be propagating to client.
Server error:
![image](https://user-images.githubusercontent.com/6979995/30007125-e3b81370-915b-11e7-95a5-10aecaef4140.png)

but in the client:
![image](https://user-images.githubusercontent.com/6979995/30007132-fc1c1f9c-915b-11e7-9a8f-d669e0b7358c.png)

Running the latest `master` with the commit (https://github.com/medic/medic-a

[2017-09-03 23:14] garethbowen commented on #3855
Review please @SCdF

[2017-09-03 23:14] garethbowen commented on #3855
This needs to be backported to `2.13.x`

[2017-09-03 23:15] garethbowen commented on #3855
For AT be sure to test the duplicate issue #3854 as well.

[2017-09-03 23:15] #3854 closed

[2017-09-03 23:34] garethbowen commented on #3858
This should have been fixed by #1913

[2017-09-03 23:34] ngaruko commented on #3757
Trying to edit a report after the patient has been deleted brings up a uuid in the dropdown. Not a big issue I guess but a blank would make more sense. Right @sglangevin ?
![image](https://user-images.githubusercontent.com/6979995/30007506-553af870-9164-11e7-8465-2bef1d41044e.png)
Closing this as the `api` 'survives' nonetheless.

[2017-09-03 23:35] garethbowen commented on #3636
I'm not finding the time to get to this. I think it should still be done but I'm dropping it out of the iteration.

[2017-09-03 23:35] #3757 closed

[2017-09-04 00:45] garethbowen commented on #3843
Review please @SCdF

[2017-09-04 02:27] garethbowen commented on #3842
I've had a bit of a look at this and I can't get it to fail but manually inserting timeouts. I think there may be a race condition if the transition config is loaded after the message is received. If this happens again try and grab the entire build log because there is other logging (sentinel, webdriver, etc) that will help debug this issue.

[2017-09-04 02:33] ngaruko commented on #3747
LGTM. Will probably need a bit more documentation before release!

[2017-09-04 02:34] #3747 closed

[2017-09-04 02:42] garethbowen commented on #3449
@alxndrsn @abbyad After reading the code, the issues, and searching on Google and I still have no idea what the `repeat-relevant` node is for. It's mentioned a few times in our medic-projects forms but not in standard. Can either of you explain to me why it's used? If I remove the special handling of `repeat-relevant` will we need to change affected forms to use the `relevant` attribute?

[2017-09-04 09:07] alxndrsn commented on #3644
Interested to know if checkpointing _still works_ after this change.  I'll be following this thread, and investigating further.

[2017-09-04 09:22] alxndrsn commented on #3858
Does appear to work today(??)  Looks like a slight problem with the regex for favicons in general, though.  Will submit a PR.

[2017-09-04 09:22] #3858 closed

[2017-09-04 09:29] alxndrsn commented on #3837
I'd quite like someone to check my working 😄

Also I don't think "not an issue" is a very helpful label when this clearly _is_ an issue.  Just not one whose solution can be tested or released in the standard way.

[2017-09-04 09:32] alxndrsn commented on #3747
It would be really helpful to give clear example of what you had problems understanding about the tool.  From my point of view, "more documentation" in general is unhelpful, but if we can identify the _right_ documentation, or places where the tool can be improved to be more ergonomic, then that's really helpful feedback.

[2017-09-04 09:39] SCdF commented on #3855
LGTM, merged

[2017-09-04 09:42] SCdF commented on #3843
LGTM, merged.

[2017-09-04 10:02] alxndrsn commented on #3862
PR at https://github.com/medic/medic-webapp/pull/3863

[2017-09-04 10:56] garethbowen commented on #3731
@amandacilek In the spec it says

Currently in desktop mode we change the background colour when an item is selected. It's very useful to have some indication of which row is currently selected when in the two column layout. Should we keep the background colour on selection, indicate selection with some other style, or have no indication at all?

[2017-09-04 12:42] SCdF commented on #3860
Whoops, missed a webapp PR!

Code review plz @alxndrsn

[2017-09-04 13:28] alxndrsn commented on #2994
Thanks @ngaruko.  Let's try again 😃

[2017-09-04 13:52] SCdF commented on #3824
I'm not sure the code here is correct.

Specifically, the code in `findToClear` appears to be saying, when accepting a patient report
 - If there is no `silence_for` configured for that report type, clear all scheduled tasks of the configured types for all registrations for this patient
 - If there a `silence_for` duration, for each registration against this patient, **find the first task that is

[2017-09-04 16:10] SCdF commented on #3824
On further reflection, I'm not even sure it does what it's comment says it does:

[code]

Here is a link to the code, on a branch where I've done a minor refactor to make it a bit easier to read (IMO): https://github.com/medic/medic-sentinel/blob/3857_fix_refactor/transitions/accept_patient_reports.js#L17-L57

AFAICT that code won't clear the entire group, it will just clear subsequent tasks in th

[2017-09-04 16:50] SCdF commented on #3824
So based on the comments in the code, I have refactored it to say what I think it's trying to say. This very well could be the wrong interpretation, but I figured while I was there I might as well.

[code]

Main things to note is the interaction with `tasksToClear`, which is what we ultimately return. The rest is mostly untouched.

@abbyad when you're back let's go through this, work out what func

[2017-09-04 17:54] SCdF opened #3867 "Get Horticulturalist deployable in production"
Horti needs to either work on MedicOS, or we need to support another deployment in production.

It's currently challenging to get Horti working on MedicOS/master, because MedicOS cannot be deployed locally, which makes getting the first run experience to work difficult.

Instead, we should either:
 - Wait until MedicOS is deployable locally, and then work on fixing the first run experience, removi

[2017-09-04 17:55] SCdF commented on #3582
Closing in favour of https://github.com/medic/medic-webapp/issues/3867 to describe the MedicOS work needed.

[2017-09-04 17:55] #3582 closed

[2017-09-04 20:58] garethbowen opened #3868 "Configuration UI for settings import and export"
Provide a UI for exporting and importing settings so we can stop using the Dashboard app settings screen. Also publish an API so import/export is easily scriptable. Consider moving the update_settings implementation in the database into the API layer.

[2017-09-04 21:10] garethbowen commented on #2994
Merged and api bumped in master.

[2017-09-04 21:12] garethbowen commented on #2528
Nobody has complained about this and the 0.4-2.x upgrades are basically complete so this shouldn't be an issue any more. Reopen if I'm wrong!

[2017-09-04 21:12] #2528 closed

[2017-09-04 21:15] garethbowen commented on #3855
Backported.

[2017-09-04 23:15] ngaruko commented on #2994
LGTM . Thanks @alxndrsn
![image](https://user-images.githubusercontent.com/6979995/30039906-783f6294-922b-11e7-8f5c-b9234ecc2215.png)

[2017-09-04 23:16] #2994 closed

[2017-09-05 00:25] #3553 closed

[2017-09-05 02:32] ngaruko commented on #3843
Shall we leave this with you to test @henokgetachew ?

[2017-09-05 03:14] amandacilek commented on #3731
The different background color for selected and hovered rows remains as-is (no change to our current system).

[2017-09-05 03:54] ngaruko commented on #3749
I am tempted to reopen this as I am getting errors when using the horticulturalist UI, errors which might be due to my settings but that a) need some investigating to establish the cause and b)maybe need to be communicated back to the UI if they occur. Alternatively, if the issue was just to get the UI (however functional) into production, we could close this and open another issue for the error b

[2017-09-05 04:33] abbyad commented on #3824
Sure thing, let's talk about this in more detail!

In the meantime, and without getting into the code right now, my understanding of this feature is as follows:

**A patient report will clear _all_ messages that belong to a schedule listed in `silence_type` if:**
- **the `silence_for` field or value is absent**

**OR**
- **a message of the same group was scheduled to be sent in the `silence_for` (

[2017-09-05 06:38] SCdF commented on #3749
@ngaruko that particular issue is already covered by #3806 .

In theory you shouldn't get this problem if you're using the tool "right", but we should fix it all the same.

[2017-09-05 07:31] SCdF commented on #3824
Interesting!

This sounds like it may make the code even simpler than my simplification, because at least for the first scenario (with no silence_for) it sounds like you don't care about the task due date at all? Just any task that is scheduled should be cleared.

I'm going to write some tests etc to lock this in, but out of interest, what should happen if you're *inside* a group (at least one of

[2017-09-05 08:16] #3862 closed

[2017-09-05 10:31] SCdF commented on #3860
Merged.

AT: not required I don't think, but will leave as ATers call. After upgrade the `sentinel-meta-data` should be moved to `_local/sentinel-meta-data`. This means if your replicate your install between databases that document is not replicated.

[2017-09-05 16:18] alxndrsn commented on #3856
Could not recreate with unbranded app against lg.app.

[2017-09-05 18:10] alxndrsn commented on #3837
@garethbowen did you check this before changing the status?

[2017-09-05 18:50] alxndrsn opened #3869 "Move d3.js-using stuff into a separate angular module"
To avoid CHWs having to download and load `d3.js` when they never actually need the code, move it into a separate angular module (in a separate JS file?)

[2017-09-05 19:52] abbyad opened #3870 "Workaround needed for stale `jr:choice-name()` values"
The fix for #3281 has been revoked due to the performance issues seen in #3837. This is a blocker for 2.13 since existing projects are relying on this feature. For instance, app and contact forms in Standard config use of this feature to construct a place name or SMS message.

A theoretical workaround described in https://github.com/medic/medic-webapp/issues/3837#issuecomment-326630225 is to use `

[2017-09-05 20:00] sglangevin commented on #3843
Yes, let's assign @henokgetachew since he filed the issue.

[2017-09-05 21:08] garethbowen commented on #3837
The logic looks fine to me. I put it in AT so the performance could be tested.

[2017-09-05 22:08] garethbowen commented on #3648
Assigning to @alxndrsn to continue where @mandric left off.

[2017-09-05 22:12] garethbowen commented on #3019
Scheduling for 3.0.0 as it goes nicely with the Horti changes.

[2017-09-05 22:12] garethbowen commented on #2058
Closing so it can be done as part of the refactor.

[2017-09-05 22:12] #2058 closed

[2017-09-05 22:16] garethbowen commented on #3408
Ok... This isn't getting done. Kicking it out of the milestone.

[2017-09-05 22:26] garethbowen commented on #3618
Settings import/export to be done in #3868

@SCdF I believe this can be closed now - is that right?

[2017-09-05 22:48] garethbowen commented on #3869
The perfect solution to this is to create a lazily loaded component for anc analytics and reporting rates which contains all the code, templates, styles, and dependencies that are only needed by those pages. Unfortunately this is only natively supported in angular 2+. There are ways to do through libraries it but it's probably overkill when we're planning to move off angular 1 in the medium term a

[2017-09-05 23:41] garethbowen commented on #3829
This is due to an incompatibility with node 8 which was fixed in 2.13.x here: https://github.com/medic/medic-webapp/commit/12acb1466c08c5f30d98ecf924d96280a5eac30b

Fixed in `2.12.x`.

[2017-09-05 23:41] #3829 closed

[2017-09-06 00:28] garethbowen commented on #3718
This is because the `admin` user on demo.dev has a `facility_id` that doesn't exist. When the page is loaded we try to select the "home place" and because it doesn't exist we show the snackbar. I believe this is actually the correct behaviour for the given configuration. @sglangevin What do you think?

In `2.13.x` the snackbar is not shown but it's also not obvious when you're trying to view a doc

[2017-09-06 00:49] ngaruko opened #3872 "Configuration Wizard Error"
Steps to reproduce:
1. Deployed the app using horticularist
2. opened app in browser
3. Prompted to do configuration (same as skipping this and opening the wizard later)
4. On step 2 (Identify care coordinators), select one of the option
5. Nothing happens >>>
 Error in console:
[code]

![image](https://user-images.githubusercontent.com/6979995/30089206-7ed64d78-92ff-11e7-9b9b-a4bff67c9975.png)

S

[2017-09-06 02:03] garethbowen opened #3873 "Security issue #2763"
Shadow issue for https://github.com/medic/medic-projects/issues/2763

[2017-09-06 03:06] ngaruko commented on #3749
Thanks @SCdF. Will close this and leave #3806 to fix this.

[2017-09-06 03:06] #3749 closed

[2017-09-06 08:55] henokgetachew commented on #3843
@bishwas-medic do you still have the config that was causing the issue with the registrations in srh-gorkha?

[2017-09-06 09:23] bishwas-medic commented on #3843
@henokgetachew not really. But you can try creating one by opening and saving the settings from the Advanced Configurations. This error was caused by a trigger that was added to one of the Registration reports by the config page automatically.

[2017-09-06 09:45] SCdF commented on #3618
Correct!

[2017-09-06 09:45] #3618 closed

[2017-09-06 10:08] alxndrsn commented on #3837
I haven't made any changes to code.

[2017-09-06 10:16] alxndrsn commented on #3648
I'm assigning this more widely given that I also have another **`Priority 1`** issue in progress: https://github.com/medic/medic-webapp/issues/3856

[2017-09-06 10:33] SCdF commented on #3857
@garethbowen sink your teeth into the delicious PR above!

[2017-09-06 10:59] garethbowen commented on #3873
Code review please @alxndrsn

This needs to be backported to `2.13.x`

[2017-09-06 12:11] SCdF commented on #3857
Merged.

[2017-09-06 12:12] SCdF commented on #3857
For AT: this is similar and related to https://github.com/medic/medic-webapp/issues/3824 and can be dealt with simultaneously.

[2017-09-06 12:12] SCdF commented on #3824
For AT: this is similar and related to https://github.com/medic/medic-webapp/issues/3857 and can be dealt with simultaneously.

[2017-09-06 13:31] sglangevin commented on #3839
@abbyad was this already AT-ed? If so, please mark as ready. If not, can you please AT?

[2017-09-06 13:32] sglangevin commented on #3838
@abbyad assigning to you for AT.

[2017-09-06 13:38] sglangevin commented on #3846
LGTM.

[2017-09-06 13:38] #3846 closed

[2017-09-06 14:30] sglangevin commented on #3718
Interesting. That was not at all obvious based on the error in the snackbar. Is there a way to show the user a more helpful error?

[2017-09-06 14:37] sglangevin commented on #3678
@ngaruko this is needed in order for us to release v2.13.0 which we are trying to do this week. Can you AT in the next day or two please?

[2017-09-06 14:54] sglangevin commented on #3855
I'm still getting an error when testing on v2.13.0-beta.11 and Android container v0.1.157. I can't get dev tools to work right now, but will look for another USB cable tomorrow and report back on what the error is.

[2017-09-06 16:05] abbyad commented on #3839
Just AT-ed in beta 11. `{{#new_reports}}{{contact.parent.name}}, {{/new_reports}}` and `new_report.contact.parent.parent.contact.phone` work as expected again.

Moving to Ready.

[2017-09-06 16:05] #3839 closed

[2017-09-06 17:35] abbyad commented on #3785
Good to hear that the embedded fields are not used - which means this is **no longer a blocker for 2.13**.

Just created a place on `2.13.0-beta.11` and the [doc](https://standard.app.medicmobile.org/_couch/_utils/document.html?medic/3941b453-a990-4376-b23c-609f306e7bc2)'s `contact` fields are still created:
[code]

[2017-09-06 17:48] abbyad commented on #3838
Works on `2.13.0-beta.11`, and will now only use `{{patient_name}}` throughout.

[2017-09-06 19:07] abbyad opened #3875 "Incorrect and missing items in `new_reports`"
According to the [`multi_report_alerts` documentation](https://github.com/medic/medic-docs/blob/4c4bf33c3866988b8e7e7f26361643b922d7921e/configuration/transitions.md#multi_report_alerts), `new_reports` is meant to have all the reports that have yet to be reported about. From testing however, it appears that `new_reports` includes some previously reported about, and is missing others.

For instance

[2017-09-06 20:56] abbyad commented on #3875
I have done additional tests, now on standard.dev, and updated the notes on the original post.

Here is an [example report](https://standard.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/82c1c868215daa278f45209ab702767d) where `_id` values are shown for `new_reports` and the threshold value now set to 4:

[2017-09-06 21:27] garethbowen commented on #3718
Yeah. Currently the same code is executed when you say, navigate to a URL which has an unknown ID, but we can separate the error handling so a different error message is shown. What should it say? I'm tempted to actually not show any error at all, so having a badly configured facility_id is the same as having none at all. What do you think?

[2017-09-06 21:42] abbyad commented on #3875
From looking at docs (not code) I think I have found the problem... `new_reports` includes all reports that are counted but don't have `tasks` aka "Automated reply" with the same `alert_name`. This is generally tied to the threshold because those first messages may not have had alerts.

[2017-09-06 21:46] abbyad commented on #3875
I tested this theory by renaming the `tasks[].alert_name` in a report that was counted when reports were submitted. Previously it was not part of the `new_reports`, but after the change it was... which I think confirms the theory.

[2017-09-06 21:54] abbyad commented on #3793
Testing in 2.13.0-beta.11 I was still seeing an error like this for each report:
`2017-09-06T21:05:31.490Z - error: error: Could not eval "is_report_counted" function for (report=82c1c868215daa278f45209ab7028505, latestReport=82c1c868215daa278f45209ab7028505). Report will not be counted. Error: Cannot read property 'parent' of undefined`

It appears then that the latest report was still not being

[2017-09-06 21:57] abbyad commented on #3837
The performance AT is blocked on https://github.com/medic/medic-webapp/issues/3870

[2017-09-06 23:26] garethbowen commented on #3873
AT instructions in medic/medic-projects#2763

[2017-09-07 00:40] garethbowen commented on #3855
It works for me on lg.dev as demo1. I'll have to wait for your log details to take this any further.

[2017-09-07 00:53] garethbowen commented on #3785
Another code review please @SCdF

I'll probably backport this to `2.13.x` if it hasn't shipped yet...

[2017-09-07 00:56] #3838 closed

[2017-09-07 00:57] #3793 closed

[2017-09-07 01:17] garethbowen commented on #3849
It looks a bit funny but it's expected. The route is: `/contacts/:parent_id/add/:type`. If you didn't specify the parent to start from then `parent_id` is empty and you get the strange looking double slash. Without the double slash it doesn't match any route so it 404s.

[2017-09-07 02:05] garethbowen commented on #3875
@abbyad I think you're on the right track... From the code this is what I think is happening:

Given a threshold of 3

1. Report A comes in. Nothing happens.
2. Report B comes in. Nothing happens.
3. Report C comes in. The transition fires with new_reports A, B, C. The message is generated and added to the `tasks` property of the C report.
4. Report D comes in. The transition fires with new_report

[2017-09-07 04:41] abbyad commented on #3875
Thanks, that makes sense.

Option 2 seems like a good option since option 1 could perform adversely if sentinel falls behind.

I suppose another option is to leave a trace on the pre-threshold reports once they are counted. It could be an array of all the reports that counted it for an alert. An advantage of this you could expose that on the report as well so that app users would know that the rep

[2017-09-07 06:40] garethbowen commented on #3875
I think option 2 is the way to go too. I would like to be able to get this done for 2.13.0 because otherwise it may end up spamming the first `threshold - 1` recipients because `new_reports` is used to calculate who to send the alert to. I'll see how I go...

[2017-09-07 06:48] garethbowen commented on #863
Dashboard is going away so I'm closing this.

[2017-09-07 06:48] #863 closed

[2017-09-07 06:51] garethbowen commented on #1332
Closing - windows is not a supported server OS.

[2017-09-07 06:51] #1332 closed

[2017-09-07 06:55] garethbowen commented on #1308
Code review please @abbyad

[2017-09-07 06:58] garethbowen commented on #1056
Closing this as ancient. A design issue can be raised if this becomes a priority.

[2017-09-07 06:58] #1056 closed

[2017-09-07 06:59] garethbowen commented on #3852
Maybe related: #986

[2017-09-07 07:01] garethbowen commented on #975
Duplicate of #863

[2017-09-07 07:01] #975 closed

[2017-09-07 07:05] garethbowen commented on #1445
Duplicate of #3570

[2017-09-07 07:05] #1445 closed

[2017-09-07 08:25] SCdF commented on #3785
Merged into master, backported into 2.13.x

[2017-09-07 08:40] alxndrsn commented on #3849
Wow.  Your explanation makes sense, but is very surprising, as I'd expect multiple slashes in URLs to get collapsed.

[2017-09-07 08:40] #3849 closed

[2017-09-07 08:47] alxndrsn commented on #3837
This ticket was to investigate the performance; I was requesting a review of my investigation.  Acceptance testing is to e.g. check the conclusions & recommendations I made.

[2017-09-07 09:33] garethbowen commented on #3842
I don't have a lot of confidence that that PR will fix the issue so I'll leave this around for a while...

[2017-09-07 10:07] alxndrsn opened #3878 "Android wrapper 0.3.6 crashes on Android 5+ after settings are filled"
The location dialog is not triggered on first run if the settings dialog is accessed.

[2017-09-07 10:09] alxndrsn commented on #3878
[code]

[2017-09-07 10:25] #3878 closed

[2017-09-07 10:36] alxndrsn commented on #3856
I can't recreate this.  With user `demo1` on `lg.dev`, I see less than 1MB of downloads after upgrading the container.  These downloads are of application data (javascript, CSS, anything else stored in the app cache).  Database contents are _not_ re-downloaded:

<img width="1009" alt="screen shot 2017-09-07 at 11 55 18" src="https://user-images.githubusercontent.com/191496/30157830-9307fd68-93c3-1

[2017-09-07 10:44] garethbowen commented on #3875
Code review please @SCdF

This should be backported to `2.13.x`

[2017-09-07 11:05] ngaruko commented on #2935
I am getting 'Ok' response  and no errors when I run ```  curl -i -H "Accept: application/json" -H "Co application/json" -X GET http://admin:pass@localhost:5988/api/active-pregnancies```.
Will close that for now.

[2017-09-07 11:38] SCdF commented on #3648
Resolved, see projects issue for more detail.

[2017-09-07 11:38] #3648 closed

[2017-09-07 12:36] alxndrsn commented on #3856
N.B. this may be dependent on Android version or a particular device.  @sglangevin please confirm which devices you've seen this behaviour on?  I could not recreate it on a Samsung J1 Mini.

[2017-09-07 13:18] SCdF commented on #2935
Hey @ngaruko, this is roughly the same level of AT I did when I was getting the connection up and running. See my comment here: https://github.com/medic/medic-webapp/issues/2935#issuecomment-273013508

My hope is that this would be AT'd in more depth, to prove that the feature actually works (ie it actually returned active pregnancies, for example), as opposed to just showing that the lucene integ

[2017-09-07 14:04] sglangevin commented on #3855
Ok, here is the error I got:
![image](https://user-images.githubusercontent.com/1286381/30167263-cb50f8f6-93b3-11e7-9436-b1a283657de3.png)

Seems to be a different one from before and also the other related issue (#3854) is working fine now.

[2017-09-07 14:12] sglangevin commented on #3856
@alxndrsn I am using a Tecno Y4, Android version 4.4.2. I believe I also saw this on my Tecno Droipad tablet, Android version 5.1. I will test again today and let you know what I find on both devices.

[2017-09-07 14:36] sglangevin commented on #3785
Assigning back to @abbyad for AT after the next beta is released.

[2017-09-07 14:50] alxndrsn commented on #3449
I _suspect_ we have a boolean value in our forms called `repeat-relevant` to prevent the first repeated item being included when it hasn't had any data filled in.  Which means we probably need to:

1. start passing `{ irrelevant: false }` to calls to `getDataStr()`
2. remote the `repeat-relevant` field from our forms

[2017-09-07 15:56] SCdF commented on #3875
Back to @garethbowen

[2017-09-07 16:24] abbyad commented on #3870
Adding to this issue [another form](https://github.com/medic/medic-webapp/files/1285382/issue-3870.zip). It is a stripped down version of the delivery form that uses `jr:itext()` in a `calculate` attribute... and it works in ODK Collect. It seems therefore that this usage should be supported in Enketo as well. Doing so would allow us to continue using XLSForms to create and use these generated cho

[2017-09-07 18:48] sglangevin commented on #3840
@alxndrsn please backport this to 2.13.x so it can be included for testing in the next beta release. Re-assigning to you.

[2017-09-07 18:57] sglangevin commented on #3852
This is a configuration issue that should have been fixed already. I just looked at the contact forms for Standard and I don't see a place where the age is collected for the primary contact of any place, so I'm not sure which form you used, @alxndrsn.

[2017-09-07 18:59] sglangevin commented on #3718
Yeah, I think that makes sense. Let's not show an error then.

[2017-09-07 19:24] sglangevin commented on #3875
Yeah, according the to feature request, we need to provide the names of the CHW areas that all of the reports came from, so I'd prefer that we support that in 2.13, which it sounds like we will.

[2017-09-07 19:25] sglangevin commented on #3875
I also think that we had this discussion previously about which reports should be counted when and we should probably touch base with @michaelkohn again to make sure this decision will not adversely affect analytics.

[2017-09-07 20:01] sglangevin commented on #3857
Assigning to @ngaruko for AT.

[2017-09-07 21:10] garethbowen commented on #3855
Awesome... different error! _sigh_

[2017-09-07 22:04] garethbowen commented on #3718
Code review please @alxndrsn

This is a slight improvement to the previous already merged change so the snackbar is only shown when the user navigates to a missing contact (discussion in comments above).

[2017-09-07 22:33] garethbowen commented on #3855
This works in latest Chrome, but fails in Chrome 30 on the Android (no app required).

[2017-09-07 22:42] garethbowen commented on #3855
Reproduced locally on `master`.

[2017-09-07 23:13] garethbowen commented on #3855
I'm going to raise a new issue for this - it's a completely separate bug.

[2017-09-07 23:16] garethbowen opened #3880 "Form content is `undefined` on Chrome 30"
Error when submitting a form using Chrome30 on my Tecno...

![](https://user-images.githubusercontent.com/1286381/30167263-cb50f8f6-93b3-11e7-9436-b1a283657de3.png)

To replicate:

1. Log in as demo1 on lg.dev
2. Go to Rachel Jones
3. Click "New action" and choose "Pregnancy visit"
4. Fill in the form and submit

Originally submitted during AT of #3855

[2017-09-07 23:17] garethbowen commented on #3880
I've created a fiddle that tests the functionality: https://jsfiddle.net/8jdtjujk/4/

[2017-09-07 23:19] garethbowen commented on #3880
`outerHTML` was introduced in https://github.com/medic/medic-webapp/commit/6be83607f7701747ce48eb0937f25eee0a1eb190

[2017-09-08 00:00] garethbowen commented on #3880
Code review please @alxndrsn

This needs to be backported to `2.13.x`.

@sglangevin Is it worth backporting this to `2.12.x` and making a new release?

[2017-09-08 00:38] sglangevin commented on #3880
I don't think we need to. No mobile app projects are on 2.12.x currently and none will upgrade to it because they won't be upgrading before we release 2.13.x. Since we can't upgrade to specific versions other than the latest until Horti is released and that won't be released until 3.0, I think it is safe not to backport.

[2017-09-08 09:06] alxndrsn commented on #3880
Looks like MDN's documentation is incorrect - https://developer.mozilla.org/en-US/docs/Web/API/Element/outerHTML claims that `outerHTML` has been available on `Element` (as opposed to `HTMLElement`) since Chrom 0.2.

[2017-09-08 10:30] alxndrsn commented on #3880
I've confirmed that `outerHTML` is not available in Chrome 30, and filed a bug against the MDN docuemntation: https://bugzilla.mozilla.org/show_bug.cgi?id=1398088

[2017-09-08 10:44] alxndrsn commented on #3840
Thanks!

[2017-09-08 10:51] alxndrsn commented on #3852
I'm pretty sure this was with the LG KE Clinic form.

[2017-09-08 11:10] alxndrsn commented on #3870
This has not happened.

[2017-09-08 11:18] abbyad commented on #3870
Ah, ok... I understood that the patch was removed. Either way, we can't count on it due to performance issue, right?

[2017-09-08 11:20] alxndrsn commented on #3870
My understanding is that currently enketo handles `jr:itext()` when the form is first built, which means that it's not supported as a runtime xpath expression.  Ref https://github.com/enketo/enketo-core/issues/32

We could add support for this in _our_ enketo/javarosa xpath support, but I'd like to understand the impact that would have on performance, and if possible get the change in the upstream

[2017-09-08 11:23] alxndrsn commented on #3870
I understood that, and tried to be more explicit on the other ticket: https://github.com/medic/medic-webapp/issues/3837#issuecomment-327438703

Agreed!

[2017-09-08 11:41] abbyad commented on #3870
That makes sense!

Unfortunately, I can't see a good way to create a secondary instance from a XLSForm, nor how to manage the translations like that.

[2017-09-08 12:32] sglangevin commented on #3875
Assigning to @abbyad for AT.

[2017-09-08 13:18] sglangevin commented on #3855
Ok, I'm going to close this one and move it to ready since the original error is now fixed.

[2017-09-08 13:18] #3855 closed

[2017-09-08 13:18] abbyad commented on #3785
Confirming that the place's contact field only has `_id` in `2.13.0-beta.12`. Moving to Ready.

[2017-09-08 13:18] #3785 closed

[2017-09-08 13:21] abbyad commented on #3875
Works well in `2.13.0-beta.12`. Only the new reports are included in `new_reports`:

Moving to Ready.

[2017-09-08 13:21] #3875 closed

[2017-09-08 13:38] SCdF commented on #3768
Update: looking at using `yarn` instead, as it has first-class support for essentially what that script will do. This is preferable. However, NSP does not yet support yarn (it's a work in progress).

Going to wait until NSP supports yarn.lock, then look at this again.

[2017-09-08 14:35] sglangevin commented on #3449
Yes, you're right @alxndrsn. We are using `repeat-relevant` in the `clinic` (Add family) forms for LG to determine whether or not to display the repeat group that allows the user to add children. This model is being copied and used by other projects so we probably need to continue supporting it (or something similar).

[2017-09-10 21:20] garethbowen commented on #3880
Merged and backported to `2.13.x`

[2017-09-10 23:09] garethbowen commented on #3842
It's still happening. I still can't get it to occur locally. There's quite a lot going on before that line (wait for sentinel transitions to run, wait for the changes feed to fire, wait for search to complete) so it's _possible_ it's taking longer than 10 seconds occasionally. Also because it's an async operation it's not too bad if it takes a little longer than 10 seconds to complete. So I've inc

[2017-09-10 23:13] #3873 closed

[2017-09-10 23:22] garethbowen commented on #3842
Still failing with 30s wait. No idea why...

[2017-09-10 23:44] garethbowen commented on #3449
Code review please @alxndrsn

I've tested this with the LG add clinic form and it works with the old code or with the new flag without changing the form.

[2017-09-11 01:37] #3857 closed

[2017-09-11 03:01] ngaruko commented on #3678
Apparently we need an instance with lots of reports to test this. Unfortunately `alpha.dev` has no more data and is failing to update. Will check with @henokgetachew for the update and ways to replicate or import data from `standard.app`.

[2017-09-11 04:09] garethbowen commented on #3835
Code review please @SCdF

[2017-09-11 04:16] garethbowen commented on #3872
Code review please @estellecomment

[2017-09-11 04:22] garethbowen commented on #3808
Code review please @estellecomment

For AT ensure that not only is the button enabled when at least one record is selected but clicking it deletes the selected records - both were broken here.

[2017-09-11 04:28] garethbowen commented on #3704
The second message was recently updated to:

@sglangevin Can we close this as fixed now?

[2017-09-11 09:26] SCdF commented on #3835
Back to you @garethbowen

[2017-09-11 10:03] garethbowen opened #3887 "Show warning before starting upgrade"
Clicking "Upgrade" in the `Configuration > Upgrade Instance` UI immediately starts the upgrade which will at least take the instance offline for a while and at most be destructive and irreversible. Before starting the upgrade show a modal or separate page describing the risks, outlining some mitigating steps (testing, backups, etc), and giving the user a chance to back out of the upgrade.

[2017-09-11 10:21] estellecomment commented on #3872
cool.

[2017-09-11 11:04] garethbowen commented on #1944
The target widget has been redesigned and will be updated in 2.14.0 to be less confusing so I'm going to close this as a duplicate of #2522

[2017-09-11 11:04] #1944 closed

[2017-09-11 11:05] garethbowen commented on #1918
Solved in horticulturalist.

[2017-09-11 11:05] #1918 closed

[2017-09-11 11:06] #1745 closed

[2017-09-11 15:34] amandacilek commented on #3719
Update to this spec based upon latest designs:

Desktop:
Increase the gutter space between the LHS and RHS to 22px (matches reports/history tab).

This is now 30px instead of 22px. So there is a 30px space between LHS and RHS content, and the RHS also has 30px buffer along the top (between RHS and page header). @SCdF

[2017-09-11 16:04] abbyad opened #3889 "Cannot change/remove primary contact of place"
In 2.13.0-beta.13, it is not possible to change or remove the primary contact of a place. Disassociating the primary contact from a place is necessary to delete the place. Changing the primary contact also happens.

To reproduce:
1) Create a person
1) Create a place, with the person from step above as primary contact
1) Edit place, and **remove the primary contact** by clicking the `x` in the sele

[2017-09-11 16:28] abbyad opened #3890 "Parent fields not available in context for Targets"
In `2.13.0-beta.13` the `user.parent` fields don't seem to be available in the `context` for targets, possibly due to #2635.

Here is an example context that we use in Standard:

`"context": "(user.parent.use_cases && user.parent.use_cases.split(' ').indexOf('imm') !== -1) || (user.parent.parent.use_cases && user.parent.parent.use_cases.split(' ').indexOf('imm') !== -1)"`

This simplified version

[2017-09-11 17:05] sglangevin commented on #3704
Yes, let's close this one. I tested to make sure that the advice I included in that message is accurate so it should be a good guide for users for now.

[2017-09-11 17:05] #3704 closed

[2017-09-11 17:12] sglangevin commented on #3719
@amandacilek can we update the comment at the top of this issue so that it is accurate? I get the part about increasing the gutter space but I'm not sure what you mean by the 30px buffer on the RHS. Was the spec also updated?

[2017-09-11 17:18] amandacilek commented on #3719
This is what I mean:
![screen shot 2017-09-11 at 10 17 17 am](https://user-images.githubusercontent.com/26235957/30287589-812b6c96-96da-11e7-8a7e-0b92187d1d7e.png)

[2017-09-11 17:44] sglangevin commented on #3880
@garethbowen this seems to be working in 2.13.0-beta.13. Unfortunately I found some other errors in opening forms. I'll move this one to ready and file those separately.

[2017-09-11 17:44] #3880 closed

[2017-09-11 17:49] sglangevin opened #3891 "Cannot open add family form in 2.13.0-beta.13"
Seen on lg.dev logged in as demo1 (password in 1password).

When trying to load the add family form, I get the following error in the console:
![image](https://user-images.githubusercontent.com/1286381/30288777-c453c898-96de-11e7-8aa1-a10d31f73e18.png)

This form has worked on previous versions.

[2017-09-11 19:58] abbyad opened #3892 "Contact fields not accessible in auto replies"
As discovered by @jillrshah, between `2.13.0-beta.11` and `13` the `{contact.*}` fields in a auto reply are no longer populated.

[2017-09-11 20:06] abbyad commented on #3892
Possibly related to https://github.com/medic/medic-webapp/issues/3838

[2017-09-11 20:32] abbyad opened #3893 "SMS Schedules not being cleared in latest beta"
On `2.13.0-beta.11` (standard.app) and `13` (standard.dev) we cannot clear schedules with incoming reports.

Clearing schedules is normally done via `registrations[].events[].clear_schedule` or `patient_reports[].silence_type`, and it is not possible to clear schedules with either in the latest beta.

[2017-09-11 20:44] sglangevin commented on #3840
I tested this in master and it is working. However, testing on 2.13.x is blocked on #3891.

[2017-09-11 21:10] sglangevin commented on #3852
Looked at what is on Github and I would expect the LG KE Clinic form to work and the LG UG Clinic form to have the bug you have noted here. This is a configuration issue and not a webapp bug.

[2017-09-11 21:54] sglangevin commented on #3597
Pretty much everything is looking really good in the new font at the new size. I like it! A few things from AT:
1. The Reports section header on both person and place profile pages doesn't fit on one line. See screenshot below that I took on my Tecno. @amandacilek any ideas? It fits until the screen is 330px wide but then moves to 2 lines so it looks weird on Tecno Y4.
1. The FontAwesome icons on

[2017-09-11 21:58] amandacilek commented on #3597
Oh interesting, I have it as "History" in all my mockups and forgot that we sometimes call it "Reports". It doesn't seem like a bigger word but it must be slightly. I would recommend decreasing the spaces on either side of the   |   symbol (and making the new smaller spacing consistent across all headers with these date filters). If it still doesn't fit, would we be open to abbreviating months to

[2017-09-11 21:59] amandacilek commented on #3597
![header filters](https://user-images.githubusercontent.com/26235957/30298861-dd0599ca-9701-11e7-8316-817e9feca3fc.png)

[2017-09-11 22:01] sglangevin commented on #3597
Yeah, that is surprising that Reports is longer! I'd be fine with decreasing the spacing for filters listed in the Tasks header and Reports/History header to make it fit. I think the clickable area is fine still if we do that. @garethbowen does that work for you?

[2017-09-11 22:04] amandacilek commented on #3597
Hm, although, that makes it fit at 320 but not necessarily smaller if we are still planning to allow the LHS to shrink down to 260 on small desktops when we have the two pane layout. In that case (tiny 260px width), would we be able to put the filters on a new line below Reports and align them to the left?

[2017-09-11 22:05] sglangevin commented on #3597
I don't think we need to worry about that - this is only on the RHS, so it shouldn't be smaller than 320px, right?

[2017-09-11 22:05] amandacilek commented on #3597
Yeah I just deleted my comment! Ha, yeah it should never be smaller than 320.

[2017-09-11 22:07] sglangevin commented on #3597
One other thing I noticed: I'm now able to scroll a tiny bit from left to right on Tecno. Any idea why that might be @garethbowen?

[2017-09-11 22:10] garethbowen commented on #3597
Remember this is translated so it could be even longer, eg: French is "Rapports", Indonesian is "Laporan", and Nepali is "प्रतिबेदनहरु". I'll look at reducing the spacing around the filters and also make sure it flows nicely with less vertical space if necessary.

Not sure why the horizontal scroll - it may be some measurement is still in `em`. I'll have a look.

[2017-09-11 22:12] sglangevin commented on #3597
A few more things from looking at Desktop view again:
Editing to add a few more:
1. The gray box that appears when you select the Configuration tab isn't wide enough:
![image](https://user-images.githubusercontent.com/1286381/30299159-4deca0d8-9703-11e7-986b-79fa67d1c7ab.png)
1. The green box that appears when you select the Analytics tab is so wide that it almost covers part of the word "Configur

[2017-09-11 22:16] amandacilek commented on #3597
Ahh translations make life so much more difficult. With the French, Rapports is indeed longer, although their word for month is shorter so it seems to even out.

The only perfect way to solve this problem then would be to abbreviate the time filters to something even shorter, or always put them on a second line below the title.
![header filters copy](https://user-images.githubusercontent.com/26235

[2017-09-11 22:30] amandacilek commented on #3597
If it works for now to decrease the spaces around the  |  symbol, great.

If we need a more future-proof solution, I suppose the filters on a second line is better than abbreviated filters, as it keeps the click targets bigger and is more flexible (if we have other filters in future, for instance).
![screen shot 2017-09-11 at 3 28 15 pm](https://user-images.githubusercontent.com/26235957/30299761-

[2017-09-11 22:52] sglangevin opened #3894 "accept_patient_reports transition appears to be broken in master"
Seen on alpha.dev v2.13.0-alpha.7458. I'm seeing the following error a lot in the Sentinel logs. I uploaded the Standard app_settings to alpha.dev. This is happening after submitting a pregnancy registration via the web app or via SMS. Is there a change we need to make to the config due to any recent changes in Sentinel?

[code]

[2017-09-11 22:53] sglangevin commented on #3563
AT blocked on #3894.

[2017-09-11 23:04] garethbowen commented on #3889
@abbyad Works for me. When creating an issue please include the instance, username, and form used to reproduce this issue.

[2017-09-11 23:32] sglangevin commented on #3892
This appears to be working on `master` so may be useful as a comparison point.

[2017-09-11 23:53] abbyad commented on #3889
Any user on standard.dev

[2017-09-11 23:58] abbyad commented on #3889
I'll add more info when I get back to a computer in a couple hours

[2017-09-12 00:06] garethbowen commented on #3890
@estellecomment Code review please. One more lineage issue. I don't think this is quite the right place for this code but it's a slight improvement and can be refactored again when we get around to #3826

[2017-09-12 00:36] #3808 closed

[2017-09-12 00:42] ngaruko commented on #3872
Seems to work now. However `language selection` is not saved and on opening the wizard again, there previous selection does not show. Is this expected @garethbowen @estellecomment
![image](https://user-images.githubusercontent.com/6979995/30302822-d548bac6-97b7-11e7-86dc-438ab3a7dc99.png)

[2017-09-12 01:03] garethbowen commented on #3872
Another code review please @estellecomment . Unrelated issue but came up in the AT of this one.

[2017-09-12 01:45] garethbowen commented on #3891
Reproduced locally. The unminified error is:

[code]

Give the message I think it's coming from the `openrosa-xpath-evaluator` module.

`master` appears unaffected so I suspect it's been fixed in one of the recent commits to the `openrosa-xpath-evaluator`, possibly [this one](https://github.com/medic/medic-webapp/commit/d537408c87c8ece29bcc4dab86a4af6bc2fc6bc2). @alxndrsn Does this ring a bell? Is

[2017-09-12 03:22] abbyad commented on #3893
Updated original post to correct the instances on which we have seen this issue.

[2017-09-12 03:59] #3781 closed

[2017-09-12 10:53] alxndrsn commented on #3891
[code]
This looks like a very complicated way to format a date.

[2017-09-12 10:55] SCdF commented on #3892
@abbyad do you mean that somewhere between beta 11 and beta 13 it stopped working? Or that it worked in 11 but not in 13?

FWIW there is no change to any code related to this between 11 and 13, so presumably you mean the former. Do you have an example of a beta where this worked?

[2017-09-12 11:06] SCdF commented on #3892
It would be helpful if there was some examples, ones that work and ones that don't, things like that. There are lots of different "auto replies", so it's not clear which one you have an issue with. Do you mean registrations?

[2017-09-12 11:23] alxndrsn commented on #3891
Seems to work on `master`.

[2017-09-12 11:29] alxndrsn commented on #3891
Seems to work on `2.13.0-beta.13` too.  I can't recreate this.

@garethbowen on your machine, what's the value of `arg.v` when the `Error` is thrown?

[2017-09-12 11:42] abbyad commented on #3892
Any auto reply with `{contact.*}` works properly in beta 11 on standard.app, and has no value for those fields in beta 13, which is on standard.dev. @jillrshah, can you add specific reports here?

@SCdF, in the meantime you can find which auto replies use `{contact.name}` in messages-en.properties.

[2017-09-12 12:48] SCdF opened #3897 "CSS source maps"
It would be really convenient to also have CSS source maps alongside our JS sourcemaps.

[2017-09-12 12:54] SCdF commented on #3892
So beta.11 has this version of sentinel:
![image](https://user-images.githubusercontent.com/583851/30326795-968e0502-97c1-11e7-9769-87a5dd2edd38.png)
And beta 13 has this version:
![image](https://user-images.githubusercontent.com/583851/30326811-a6230346-97c1-11e7-940e-bb89d81097bb.png)
If we use those two sentinel versions and the power of github, we can see what is different between the two: ht

[2017-09-12 13:25] abbyad commented on #3892
Thanks for checking. I'll test again and post the records here

[2017-09-12 13:27] alxndrsn commented on #3423
I think we should do this soon, as I understand it would:
* reduce traffic in the changes feed, improving:
  - performance for the main couch instance
  - bandwidth usage to all clients
* simplify sentinel logic for deciding which changes are relevant to it

[2017-09-12 13:27] SCdF commented on #3892
Cool. FWIW I tested against 2.13.x in my local and it worked for me:
![image](https://user-images.githubusercontent.com/583851/30328176-7cb1fde6-97c6-11e7-9a1d-4e4694e3371a.png)

[2017-09-12 13:29] abbyad commented on #3892
That one doesn't use `contact.*`
`messages.p.report_accepted = Thank you for registering the pregnancy for {{patient_name}} ({{patient_id}}).{{\#expected_date}} Their EDD is {{\#date}}{{expected_date}}{{/date}}{{/expected_date}}`

Can you try a `V` form?

`messages.v.report_accepted = Thank you {{contact.name}}, visit for {{patient_name}} ({{patient_id}}) has been recorded.`

[2017-09-12 13:38] SCdF commented on #3892
Whoops, sorry!

![image](https://user-images.githubusercontent.com/583851/30328712-10a8a6d4-97c8-11e7-8ae6-dfc23567ae33.png)

Looks to work through :-)

[2017-09-12 13:41] abbyad commented on #3892
Nice, glad to hear! What beta version of 2.13 do you have there?

[2017-09-12 13:41] alxndrsn opened #3898 "Fix or revert single-sided checkpointing in pouch"
Due to https://github.com/pouchdb/pouchdb/issues/6730, our app will likely now run through the full changes feed on every restart.  We either need to get this fixed upstream and update our pouch version, or disable this feature.

[2017-09-12 13:51] SCdF commented on #3892
Sorry if I wasn't clear, that is technically the 2.13.x branch, which is the same as the 2.13.0-beta.13 tag.

[2017-09-12 13:56] estellecomment commented on #3893
Running locally, with the full config from https://github.com/medic/medic-projects/tree/2.13.x/standard, I'm reproducing on `beta.13`, `beta.12`, `beta.11`, and not on `beta.10`.

Checking what we added in `beta.11`...

[2017-09-12 13:56] SCdF commented on #3892
@abbyad I'll hand this over to you. Let me know if you can narrow down the issue further, otherwise we can close as cannot reproduce?

[2017-09-12 13:57] abbyad commented on #3892
Thanks for clarifying. From my tests I see `{contact.name}` work in [this doc](https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/800e6180f58905dafb5562238508ae17) in 2.13.0-beta.11, fails in [this one](https://standard.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/82c1c868215daa278f45209ab7135569) on 2.13.0-beta.13. The config was just updated to be exactly t

[2017-09-12 14:07] estellecomment commented on #3893
Running webapp and api at `beta.10` and sentinel at `beta.11` makes the bug happen.

`beta.11` just added the one commit in sentinel : https://github.com/medic/medic-sentinel/commit/aa0644c1169693a36cd5c1de65a9b0630348e116

[2017-09-12 14:54] SCdF commented on #3893
This was a bad merge unfortunately, that came about due to having to manually generate the merge for 2.13.x (if you follow the commit messages you'll see what occurred).

I'll push a fix and a new beta now.

[2017-09-12 15:09] SCdF commented on #3893
@estellecomment please take a look at the commit above. To speed things up I did it inline into 2.13.x. It looks like a lot, but if you hide the whitespace you'll note it's just the wrapping changes with registrations no longer being wrapped in `.doc`. You can see the genesis of this here: https://github.com/medic/medic-sentinel/blob/2.13.x/lib/utils.js#L427-L444

[2017-09-12 15:11] alxndrsn opened #3899 "Can create people born in the future with standard configuration"
...and if you do, their age appears as a positive number (instead of negative):

<img width="279" alt="screen shot 2017-09-12 at 16 10 31" src="https://user-images.githubusercontent.com/191496/30333475-f09c3f88-97d4-11e7-9cd5-4db714a6b2bd.png">

<img width="406" alt="screen shot 2017-09-12 at 16 10 37" src="https://user-images.githubusercontent.com/191496/30333474-f0762abe-97d4-11e7-83e8-c959b61ba

[2017-09-12 15:12] SCdF commented on #3893
@abbyad When [this beta build](https://travis-ci.org/medic/medic-webapp/builds/274649650) succeeds there will be a beta 14

[2017-09-12 15:13] alxndrsn commented on #3889
Confirmed on `master`.

[2017-09-12 15:17] SCdF commented on #3818
FWIW I actually implemented this as described in medic/medic-sentinel@f9b539a7f9a8ddec245307bb216b19d6e7a31fb7, based on a conversation on #3857

@abbyad / @sglangevin this may put us in a pickle if people are relying on it, and we may have to have more conversations about it.

To me (as a doe-eyed developer, unwise of the ways of the world), what I implemented makes sense: if you want to clear N

[2017-09-12 15:28] alxndrsn commented on #3889
## ANTONIO:

<img width="483" alt="screen shot 2017-09-12 at 16 26 27" src="https://user-images.githubusercontent.com/191496/30334326-2cfb6a7e-97d7-11e7-9cc6-66418b0ca784.png">

## PLACE BEFORE:

<img width="672" alt="screen shot 2017-09-12 at 16 24 59" src="https://user-images.githubusercontent.com/191496/30334324-2cf6b63c-97d7-11e7-889a-7b5d689c0ae3.png">

## FORM DATA:

<img width="810" alt="sc

[2017-09-12 16:18] alxndrsn commented on #3889
It looks like this is because there's no field called `/data/init/_id`.

I'm slightly confused why the `<init>` element is used to store intermediate values - the name implies that it's used for initial values rather than ongoing calculations.

[2017-09-12 16:20] abbyad commented on #3893
This now works again as expected on beta 14. Thanks @estellecomment and @SCdF for debugging resolving this quickly!

[2017-09-12 16:20] #3893 closed

[2017-09-12 16:36] alxndrsn opened #3900 "Write an e2e test around select2 functionality"
select2 is very fiddly and seems to break a lot.  A pair of e2e tests with a form containing only a single select2 (and no translations or other unrelated stuff) would be really helpful.  We should test filling the form in for the first time, and editing an existing report.

[2017-09-12 16:39] estellecomment commented on #3893
lgtm!

[2017-09-12 16:39] SCdF opened #3901 "Our translation change detection seems hyper sensitive"
Booting up sentinel on a local DB and letting it run through, without touching or changing anything:
[code]

Either our translation change detection is wrong, or transitions are changing translations!

[2017-09-12 17:03] SCdF commented on #3892
This appears to be something to do with the data structure used in standard.dev. I'm still investigating

[2017-09-12 17:32] estellecomment commented on #3890
One change requested, and then merge away!

[2017-09-12 18:47] sglangevin opened #3902 "Make it possible to see `clinic` places in the places filter on the Reports tab"
Reported in https://github.com/medic/medic-projects/issues/1318 (check there for helpful screenshots) and https://github.com/medic/medic-projects/issues/2516. Also requested by Standard partners.

`clinic` places were removed from the places filter when we introduced family registration because it caused performance issues on the reports page. Now that we have SMS projects using v2.x, they need to

[2017-09-12 21:16] garethbowen commented on #3900
@alxndrsn PRs welcome.

[2017-09-12 22:37] #3872 closed

[2017-09-12 22:45] garethbowen commented on #3872
Such a quick turnaround! Nice one @ngaruko

[2017-09-12 22:56] garethbowen commented on #3891
Happens for me every time on `2.13.x` - did you npm install to get the right version of the module?

This is the value for `arg` that's causing the issue: `{t: "str", v: 10}`. I think either the `t` should be "num" or the `v` should be a string.

[2017-09-12 23:04] garethbowen commented on #3891
Bumping the dependency to 1.3.2 fixed the issue. Code review please @alxndrsn

I typoed the issue number in the initial commit so if you do a merge fix that before you merge, or leave the merge to me and I'll do it, thanks!

This only needs to go in `2.13.x` not in `master` as `master` already uses a later dependency.

[2017-09-12 23:07] garethbowen commented on #3890
Merged and backported to `2.13.x`

[2017-09-13 01:52] garethbowen commented on #3889
@abbyad The form definition looks overly complicated to me - the dropdown binds to `/data/init/select_person` which is then updates `/data/health_center/contact`. Why doesn't the dropdown just update `/data/health_center/contact` directly?

[2017-09-13 01:55] ngaruko opened #3904 "Make `user type` required (or set a default if user type is selected?)"
Steps:
1. Login as admin (Tested on `apha.dev`, Version `2.13.0-alpha.7458`)
2. Add user: skip the user type field
3. Logout as admin and login as created user
4. The app behaves erratically

a) select language modal with no language list:
![image](https://user-images.githubusercontent.com/6979995/30355965-9d75f810-988a-11e7-8ec0-c55c4304a9e9.png)
 b)Tour modal not translated:
![image](https://use

[2017-09-13 02:10] jillrshah opened #3905 "Start date for LMP constraint failing on New Pregnancy form"
In 2.13.0-beta.14, on the New Pregnancy form, in the "Start Date of Last Cycle" field, the following constraint `.<today() and ((decimal-date-time(.)+294) >= decimal-date-time(today()))` throws a validation error even though the data input satisfies constraint.

It works in 2.12.5 but not in 2.13.0-beta.14.

Screenshot is from standard.dev, user = healthcenter

![image](https://user-images.githubu

[2017-09-13 02:21] abbyad commented on #3905
Good find @jillrshah! Changing the calc to have spaces around the `<` makes it work in 2.13.0-beta.14.

# Works
`<bind constraint=". &lt; today() and ((decimal-date-time(.)+294) &gt;= decimal-date-time(today()))" jr:constraintMsg="jr:itext('/pregnancy/group_lmp/g_lmp_calendar:jr:constraintMsg')" nodeset="/pregnancy/group_lmp/g_lmp_calendar" type="date"/>`

# Doesn't Work
`<bind constraint=".&lt;to

[2017-09-13 02:24] abbyad commented on #3905
This form is used in Standard config, and can be seen on standard.dev (2.13.0-beta.14), and release.dev (2.12.5), although a fixed version may be put on standard.dev for the sake of testing.

[2017-09-13 02:48] abbyad commented on #3889
Adding a `data/init/_id` to the model didn't seem to help. Not to blame this on #2635, but it is possible that it is handled and stored differently now. I tried updating the form to set `/data/clinic/contact/_id` instead of `/data/clinic/contact`, but that didn't work. Any other ideas for form changes @alxndrsn?

Also, the reason it is `init` is likely because this was copied from a form where the

[2017-09-13 03:23] ngaruko opened #3906 "Analytics screen blank on mobile device"
Steps to reproduce:
1. Installed the app on phone (`unbrandedDebug`, latest from GH)
2. Log in as a restricted user (`apha.dev`, `Version
2.13.0-alpha.7458`)
3. Go to `Analytics` screen
4. Expected: The desktop equivalent has some data
![image](https://user-images.githubusercontent.com/6979995/30358193-193b441c-9897-11e7-9322-244ecd1bd712.png)

But on phone - Blank (for the same user)
![image](htt

[2017-09-13 04:37] garethbowen commented on #3889
I can reproduce it with that form too, but not with other similar forms. My current theory is it's something to do with the circular calculations between `/data/init/select_person` and `/data/health_center/contact`. I'll keep digging later on tonight.

[2017-09-13 04:46] abbyad commented on #3889
We use some of the contact's fields, like `name` in the form, so if I recall correctly we brought the select2 out of the place's doc so that `/data/{place}/contact` is just the id, and not all the contact's fields.

[2017-09-13 06:32] SCdF commented on #3906
@ngaruko can you please start reporting which version you are seeing these problems in? We have a lot of plates in the air at the moment, and it's a basic piece of information that is incredibly helpful in working out where to look

[2017-09-13 10:08] alxndrsn commented on #3891
👍

This still looks like a very complicated way to format a date.

[2017-09-13 10:13] alxndrsn commented on #3905
Yeah, this is likely a bug in the xpath parser, although it may have been fixed in the latest beta.  I will investigate.

[2017-09-13 14:57] sglangevin commented on #3891
@alxndrsn if you have a better suggestion for how to format a date in this format (`YYYY-MM-DD`) let me know. I don't think formatting in that way is supported, though I could have misread the date formatting documentation. The main issue, if I remember right, was getting the 2-digit month for months that are less than 10.

[2017-09-13 15:10] alxndrsn commented on #3891
This works for me:
[code]

[2017-09-13 15:14] sglangevin commented on #3891
Right, but I don't have a path to a full date because I just have a number of months and a number of years. So I have to get the day of today's date to even create the date in the first place.

[2017-09-13 15:23] alxndrsn commented on #3891
Ah, sorry!  I'd expect the following to work, but as you've found it doesn't like parsing dates with single-digit values in:
[code]
Hopefully this will be fixed in the future!

[2017-09-13 15:57] alxndrsn commented on #3889
Is it related that the new contact does not belong to a place?  Or at least, he appears to belong to the _wrong_ place:

<img width="378" alt="screen shot 2017-09-13 at 17 55 59" src="https://user-images.githubusercontent.com/191496/30387486-ee8486be-98ac-11e7-9409-776ae9e646fc.png">
<img width="439" alt="screen shot 2017-09-13 at 17 56 05" src="https://user-images.githubusercontent.com/191496/303

[2017-09-13 17:36] alxndrsn commented on #3891
Parsing dates with single-digit month or day values should be fixed in linked PR.

[2017-09-13 18:04] alxndrsn commented on #3891
I couldn't recreate the supposed xpath bug in version 1.3.0 of the evaluator, so it may not actually be fixed by the upgrade.  Let me know if similar is seen again!

[2017-09-13 21:17] abbyad commented on #3905
I have temporarily "fixed" the form in standard.dev for the sake of testing. We should still make sure this is fixed upstream though.

[2017-09-13 22:17] garethbowen commented on #3889
Changing the primary contact works if I remove the `calculate="../../health_center/contact"` from this binding: `<bind calculate="../../health_center/contact" nodeset="/data/init/select_person" type="db:person"/>`. Obviously the field then doesn't default to the current contact so it's not a solution but it's an extra piece of information...

[2017-09-13 23:45] garethbowen commented on #3889
Code review please @alxndrsn

This change means this form no longer needs a circular reference - the name can be bound into the `health_center/contact/name` which is discarded on submission.

This is the diff from the [existing form in standard](https://github.com/medic/medic-projects/blob/master/standard/forms/contact/health_center-edit.xml) to the form I used for development that uses this new f

[2017-09-13 23:55] garethbowen opened #3909 "Check our auditing coverage"
Explore all methods of modifying couchdb data to determine if and where there are gaps in our auditing coverage.

[2017-09-14 01:04] ngaruko opened #3910 "Current password is not required to set a new password"
It is risky to not prompt the user for the current password before they are able to update it. I mean, anyone could jump to my pc or pick up my phone when I am logged in, change the password and I will be  locked out.
![image](https://user-images.githubusercontent.com/6979995/30407579-09edefee-994d-11e7-984f-a34c84b3dc92.png)

Steps to reproduce:

1. login as user
2. User settings
3. Update passwo

[2017-09-14 01:08] abbyad commented on #3910
I can see why it would be good to require the current password to set a new one, but I would perhaps be more concerned by someone getting onto your device and accessing data _without changing passwords_ because then you wouldn't know you were compromised.

[2017-09-14 01:20] ngaruko commented on #3906
@SCdF the issue was tested on `apha.dev, Version 2.13.0-alpha.7458`

[2017-09-14 03:24] jillrshah opened #3911 "Form title not used in mobile view for contact forms"
In Standard.dev (in 2.13.0-beta.14): The desktop view shows the form title as "New Area," and in the mobile view, it's just a generic "New Place."

Screenshots below, healthcenter user.

![image](https://user-images.githubusercontent.com/22451829/30410587-0a1929e8-98da-11e7-98d6-9a111e0a3ebf.png)

![image](https://user-images.githubusercontent.com/22451829/30410613-322f0f7e-98da-11e7-88ec-792f1338

[2017-09-14 03:39] abbyad opened #3912 "Fields not hydrated in objects passed to Context for app forms"
As mentioned in https://github.com/medic/medic-webapp/issues/3890#issuecomment-328918429 the `contact` and `user` objects passed to the app form's context are not hydrated. Tested in `2.13.0-beta.14`.

Technically this info could be [passed via the contact-summary](https://github.com/medic/medic-docs/blob/272b9f658f5502859fa3ac68e7ede64e941f4303/configuration/contact-summary.md#context) instead, b

[2017-09-14 06:41] garethbowen commented on #3909
This is what we have so far: https://github.com/medic/medic-webapp/issues/3391#issuecomment-295315449

[2017-09-14 08:27] alxndrsn commented on #3905
Yeah, this was fixed in openrosa-xpath-evaluator 1.4.1, so should be fixed in webapp master too.

[2017-09-14 08:54] SCdF commented on #3234
@garethbowen I get this every time on standard.app and standard.dev (running various beta of 2.13), Chrome 60, MacOS.

Here is an example of one that doesn't work: https://standard.app.medicmobile.org/medic/_design/medic/_rewrite/#/reports/800e6180f58905dafb5562238508ae17

From watching it happen:
 - The page loads (because I've already been there in the past)
 - It tries to load the reports LHS s

[2017-09-14 10:16] alxndrsn commented on #3856
@sglangevin my understanding is that you retested this on Y4 and found that _sometimes_ no data is redownloaded, and other times it is all redownloaded.  I will do repeated tests at my end to see if I can recreate the behaviour.

[2017-09-14 10:58] garethbowen commented on #3889
Merged and backported to `2.13.x`

[2017-09-14 11:07] garethbowen commented on #3891
The single-digit month and day change was incompatible with `2.13.x` so I've rolled it back. If this is needed before `2.14.x` let me know and I can get it working.

[2017-09-14 11:20] SCdF commented on #3910
@abbyad that is covered by the pin code proposal: https://github.com/medic/medic-webapp/issues/3237

[2017-09-14 11:44] alxndrsn commented on #3856
# Test Results

* `v0.1.157` -> `v0.3.7`
* Tecno Y4

Testing round | Result
---|---
1 | <img width="174" alt="screen shot 2017-09-14 at 13 43 19" src="https://user-images.githubusercontent.com/191496/30428144-d8ee84d4-9952-11e7-8e5a-ba173c41ea8c.png">

[2017-09-14 11:54] SCdF opened #3913 "Sentinel's fetchHydratedDoc function should use only fetch contacts that aren't already present in the lineage list"
See: https://github.com/medic/medic-sentinel/blob/master/lib/lineage.js#L74-L76

A standard structure for us is a report, with the CHW as a contact, whose parent is the CHW area, whose contact is the CHW.

In this situation we will fetch the CHW *again*, because it's a contact (we fetched it the first time as part of the parent lineage view request).

We should change the code so that before fetch

[2017-09-14 12:04] abbyad commented on #3890
Seems to work well in beta 15. Will do a bit more testing then move to Ready.

[2017-09-14 12:06] abbyad commented on #3912
Does not seem to be resolved by 2.13.0-beta.15. We can work around this for Standard, but we will have to see if other projects are counting on this to know if it is a blocker for 2.13. cc @sglangevin

[2017-09-14 12:15] SCdF commented on #3892
OK, this appears to work in standard.app because in those examples, *the area's contact is inlined into the area*. I may be getting my timelines mixed up, but I imagine this is because these areas were created back in an old beta where we weren't extracting contacts correctly in all cases.

The examples in standard.dev are the more correct ones, and they fail. I've created a fix for this, and merg

[2017-09-14 12:24] SCdF commented on #3826
We should take account of this at the same time: https://github.com/medic/medic-webapp/issues/3913

[2017-09-14 12:32] SCdF commented on #3894
This was likely due to a bug in a refactor that was done in master, and is now fixed.

@sglangevin are you able to test this again? At least testing it locally via an SMS pregnancy registration works for me

[2017-09-14 14:03] sglangevin commented on #3911
This is the expected behavior on mobile. Title moves to within the white background and the top bar says New Place. Closing.

[2017-09-14 14:03] #3911 closed

[2017-09-14 14:08] nice-snek commented on #1347
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2079
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2489
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2583
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2658
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2900
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #2960
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3050
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3190
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3239
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3327
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3351
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3400
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3422
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3445
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3516
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3523
hi frand @SCdF, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3528
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #1860
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3065
hi frand @garethbowen, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3343
hi frand @abbyad, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3466
hi frand @alxndrsn, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3524
hi frand @sglangevin, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:08] nice-snek commented on #3537
hi frand @estellecomment, please [triage](https://github.com/medic/medic-docs/blob/master/development/workflow.md#triaging-old-issues) before the end of this sprint.

[2017-09-14 14:31] alxndrsn commented on #3856
@sglangevin if you think it's worthwhile I can continue testing, but it doesn't _look_ like I can recreate this here.  If you're still concerned, please test further and provide screenshots and some more info about your environment where you see the bug.

[2017-09-14 14:39] SCdF commented on #2489
Clearly no one cares about this.

My advice: if you come across a repo that is deprecated, mark it as such. It's very low effort to change the README, you can do it inline in github these days.

[2017-09-14 14:39] #2489 closed

[2017-09-14 14:45] sglangevin commented on #3856
I think it's good for now. I'm going to close this and will open a new issue if I can figure out how to reproduce it reliably. LG has agreed they are ready to update so I think it should be fine.

[2017-09-14 14:45] #3856 closed

[2017-09-14 14:49] SCdF commented on #3322
This is used in places to determine logic. Renaming it is out of the question (think of the children / migration) unfortunately, because I agree that it's not well named.

I think it's reasonable to look at the attachment content type instead. We only use the current property when it's xml anyway, so this would roughly be a change from:

[code]

to

[code]

Which is quite a lot more painful unfort

[2017-09-14 14:52] SCdF commented on #3327
@abbyad I presume this is still a problem?

Is this something that is causing deployments problems? Should this be something that we look at fixing in the next minor release (2.15 / 3.1?)

[2017-09-14 14:53] SCdF commented on #3516
@estellecomment is this e2e specifically because you want to make sure select2 etc is in on the game? Does it work right now, and this is future proofing? Or are we unsure if it works? Do we think that we are going to refactor this code to make it go from working to not working?

[2017-09-14 14:58] SCdF commented on #3523
@estellecomment did you have any inkling of how we would fix this?

I know that making search better is something that we want to work on in the very distant future (after 3.0, and then after the major UI update). I am completely confident that we will cover this issue then, either by making it utterly irrelevant (moving to an actual search technology) or intentionally redesigning how we use views

[2017-09-14 15:07] abbyad commented on #3327
Still a problem. I'll let @sglangevin decide on priority.

[2017-09-14 15:40] alxndrsn commented on #3400
As far as I can tell, no production code uses this endpoint.  @garethbowen @bishwas-medic @ngamita are any of you aware of a use for this endpoint?

[2017-09-14 15:40] alxndrsn commented on #1347
Still a security issue which should be addressed at some point.

[2017-09-14 15:42] alxndrsn commented on #2079
This has already been triaged.

[2017-09-14 15:43] alxndrsn commented on #3445
Weird!

[2017-09-14 15:44] alxndrsn commented on #1330
@garethbowen can this be marked **`Done`**?

[2017-09-14 15:45] alxndrsn commented on #3466
If this is still a bug, then it should still be addressed at some point.

[2017-09-14 15:45] alxndrsn commented on #2900
No current use case.  Please re-open when required.

[2017-09-14 15:45] #2900 closed

[2017-09-14 15:46] sglangevin commented on #3892
Assigning @abbyad for AT.

[2017-09-14 15:46] alxndrsn commented on #3856
Hopefully this investigation gives everyone a bit more confidence!

[2017-09-14 19:35] henokgetachew opened #3914 "API Crash Caused by writing to finished response"
This is related to: https://github.com/medic/medic-webapp/issues/3111.  The error was fixed for the `get_changes` function but the `prepareResponse` function seems to still have the issue.

This error came from a 2.8.6 instance.  (https://github.com/medic/medic-api/blob/2.8.x/handlers/changes.js#L139).

However, I think master could also be affected(?) (https://github.com/medic/medic-api/blob/mast

[2017-09-14 20:56] garethbowen commented on #3239
Yeah... we should fix this. Adding to 2.14.0.

[2017-09-14 20:57] garethbowen commented on #3065
Marking as a duplicate of #3910 .

[2017-09-14 20:57] #3065 closed

[2017-09-14 21:00] garethbowen commented on #3910
Scheduling for 2.15.0

[2017-09-14 21:02] garethbowen commented on #3050
This is low priority - it's merely annoying.

[2017-09-14 21:05] garethbowen commented on #1330
I think so. There are many improvements that can be made but these can be done as separate issues. Flagging for AT.

[2017-09-14 21:13] sglangevin commented on #3891
Working well in 2.13.0-beta.15. Moving to ready.

[2017-09-14 21:13] #3891 closed

[2017-09-14 21:14] sglangevin commented on #3894
Tested again and it's now working. Thanks!

[2017-09-14 21:14] #3894 closed

[2017-09-14 21:17] sglangevin commented on #3563
LGTM. EDD is now scheduled based on the day the pregnancy registration is submitted.

[2017-09-14 21:17] #3563 closed

[2017-09-14 21:20] sglangevin commented on #3840
Working well on 2.13.0-beta.15. Moving to ready.

[2017-09-14 21:27] ngaruko commented on #3041
I guess this 'feature' has been implemented (not sure if it was covered by another issue).
![image](https://user-images.githubusercontent.com/6979995/30456329-437f980c-99f7-11e7-8e34-700fe42124ec.png)
The only thing that was raised by #3561 is marking `Place` and `Associated Contact` (asterisk or otherwise) as required when the user select `Restricted to their place` for `User type`.  I am going t

[2017-09-14 21:28] garethbowen commented on #3914
@henokgetachew That server is not running the right version of the code. In the stacktrace, `handlers/changes.js:168` calls `medic-api/handlers/changes.js:139`. However in the code `handlers/changes.js:168` is a return statement and doesn't call anything. This either means publishing the bundle didn't work correctly, or installation didn't work correctly.

I can't log in to the server right now to

[2017-09-14 21:30] sglangevin commented on #3905
This is working in 2.13.0-beta.15. Closing and moving to ready.

[2017-09-14 21:30] #3905 closed

[2017-09-14 21:31] garethbowen commented on #3041
Sounds good. I'll triage the other one. Should be trivial...

[2017-09-14 21:36] #3041 closed

[2017-09-14 21:37] sglangevin commented on #3788
LGTM.

[2017-09-14 21:37] #3788 closed

[2017-09-14 21:41] sglangevin commented on #3718
LGTM.

[2017-09-14 21:41] #3718 closed

[2017-09-14 21:55] garethbowen commented on #3912
@abbyad I don't think the `user` was every hydrated - can you confirm? `contact` definitely needs to be fixed...

[2017-09-14 21:59] sglangevin commented on #3912
I think it was because we are using fields from the `user` in our place creation forms, e.g. https://github.com/medic/medic-projects/blob/master/lg-uganda/forms/contact/clinic.xml

[2017-09-14 22:00] garethbowen commented on #3912
@sglangevin The only user field I can see there is `facility_id` which is definitely not hydrated - it's just the uuid. Am I missing something?

[2017-09-14 22:04] sglangevin commented on #3912
Standard place creation forms also use the name of the logged in user. https://github.com/medic/medic-projects/blob/master/standard/forms/contact/clinic-create.xml

[2017-09-14 22:05] sglangevin commented on #3642
LGTM. @alxndrsn is it possible to update medic-configurer so that it will automatically add `"collect": "true"` to the properties file of all collect forms? That would make this much easier for tech leads.

[2017-09-14 22:09] garethbowen commented on #3912
Yeah that'll work too. This is what we have (and I assert we always had) available:

[code]

If you need any of the fields on contact or facility then that'll require hydration, but `user` always had linked contacts - this is nothing new.

Do you know of any forms that use `user.contact.xxx` or `user.facility.xxx`?

[2017-09-14 22:17] sglangevin commented on #3912
I don't know of any off the top of my head and I've searched medic-projects but haven't found any. So I think you are right, that what we have is what we always had.

[2017-09-14 22:26] garethbowen commented on #3912
Looking through the code I also now believe that `contact` was never hydrated either. We only ever bound raw IDs. @sglangevin @abbyad Can you point me to a specific field on a specific form that used to work but has regressed?

[2017-09-14 22:28] sglangevin commented on #3912
Assessment follow-up for LG uses parent contact info: https://github.com/medic/medic-projects/blob/master/lg-uganda/forms/app/assessment_follow_up.xml

Also, we get the CHW phone number in all Standard forms, like this one: https://github.com/medic/medic-projects/blob/master/standard/forms/app/delivery.xml

[2017-09-14 22:33] sglangevin commented on #3912
I just realized this issue was actually about form context, so the properties files. In that case, we were using a hydrated version of the user and the contact. That's what I get for trying to step in on an issue that I didn't file 😐

Anyway, here is an example where we are using the user's parent for form context: https://github.com/medic/medic-projects/blob/master/lg-uganda/forms/app/assessment.

[2017-09-14 22:44] sglangevin commented on #3487
Getting the following error when testing the New Pregnancy form on alpha.dev. Logged in as user sharon, ping me for the password.

![image](https://user-images.githubusercontent.com/1286381/30459030-082311ec-9963-11e7-844c-38bc90617ce4.png)

![image](https://user-images.githubusercontent.com/1286381/30459017-f512302e-9962-11e7-9cc7-9133267306cf.png)

[2017-09-14 23:04] sglangevin commented on #3405
I added this appearance to the following collect form and I'm seeing the Gregorian calendar when I access the form in Collect. I tested using Collect v1.4.5.1131-standard.

[code]

[2017-09-14 23:47] sglangevin opened #3915 "Forms appearing in Devanagari script (either Hindi or Nepali) when any language other than English is selected"
Seen on alpha.dev v2.13.0-alpha.7490 when logged in as a restricted user. I changed my language to Spanish and when I opened a new pregnancy form, it was in Devanagari script.

Not sure if this is due to any recent translation or Enketo changes, but I discovered this when attempting to AT #3459. @alxndrsn any ideas?

[2017-09-14 23:57] sglangevin commented on #3642
I'm closing this and marking it ready. I've also filed a feature request in the medic-configurer repo: https://github.com/medic/medic-configurer/issues/20

[2017-09-14 23:57] #3642 closed

[2017-09-15 00:28] sglangevin commented on #2313
This is still not working for me. I tried with the original form and with using some of the new configuration from #2912 and no luck. Seems like #2912 only works for reports and not for contact forms. This is also not a priority right now as we have found a workaround for registering different types of people from within the same group. I'm going to close this and we can come back to it if there i

[2017-09-15 00:28] #2313 closed

[2017-09-15 01:05] garethbowen commented on #3912
I think I see the problem now. If you're filing a report about a patient the patient bound to the form isn't hydrated. We have too many overloaded terms  :(

[2017-09-15 01:45] garethbowen commented on #3912
Code review please @estellecomment

[2017-09-15 03:48] garethbowen commented on #3561
Code review please @estellecomment

[2017-09-15 04:48] garethbowen commented on #3597
I haven't noticed any. Is it on any page in particular? In app or browser?

Done in PR.

![filters](https://user-images.githubusercontent.com/2064938/30466992-a9203444-9a35-11e7-9c80-ddaa676b7bd0.png)

Done in PR.

![tabs](https://user-images.githubusercontent.com/2064938/30466996-ac381fde-9a35-11e7-990f-0e3796648f3f.png)

[2017-09-15 04:49] garethbowen commented on #3597
Code review please @SCdF

[2017-09-15 06:51] SCdF commented on #3597
LGTM, merged. @garethbowen I also wrote some comments on the PR for my own learning / interest.

[2017-09-15 09:43] henokgetachew commented on #3914
Closing this issue. Yes, API hadn't properly been restarted by gardener.  The above error that crashed API has caused it to restart and in effect correcting the problem.  It looks like the issue is now gone.

[2017-09-15 09:43] #3914 closed

[2017-09-15 10:06] garethbowen commented on #3912
Merged and backported to `2.13.x`

[2017-09-15 10:55] SCdF opened #3919 "401s should always redirect to the login page"
There are lots of places now where 401s just result in console errors, and we don't catch them properly until the user does a hard refresh.

This may be a bug in PouchDB, or our use of it, because when there are replication errors `$q` complains about a "Possibly unhandled rejection".

The correct angular thing is to implement this in inbox.js:

[code]

However, it looks like PouchDB doesn't end u

[2017-09-15 10:58] SCdF commented on #3919
Ideally while we're here this is a perfect time to implement a popup re-authentication mechanism. User's shouldn't have to reload the page just to refresh their cookie.

[2017-09-15 11:13] estellecomment commented on #2481
Putting back in backlog, to pop out later in triage.

[2017-09-15 11:24] estellecomment commented on #3528
that sounds pretty important to me! Scheduling.

[2017-09-15 11:27] estellecomment commented on #3537
@abbyad I don't know that feature well, so I don't understand what the issue is. What's the expected vs actual behavior?

[2017-09-15 11:32] SCdF commented on #3528
Weird it wasn't already scheduled… I guess I forgot. It's in the right project though, so I got halfway there

[2017-09-15 13:47] abbyad commented on #3892
Works well `2.13.0-beta.16`, moving to Ready.

[2017-09-15 13:47] #3892 closed

[2017-09-15 13:56] abbyad commented on #3890
Works well in `2.13.0-beta.16`, moving to Ready.

[2017-09-15 13:56] #3890 closed

[2017-09-15 14:14] abbyad commented on #3912
Tested on `2.13.0-beta.16` and appears to work well.

With a form that has `context.expression` of `user.parent.type != 'district_hospital'`, the user that belonged to a `district_hospital` could not access the form via the contact or reports tabs, whereas a user associated to a `health_center` could.

Although it is a little fuzzy whether the `parent` is the user's facility or the associated cont

[2017-09-15 18:36] sglangevin commented on #3912
@abbyad that is the expected behavior to me. I've tested beta.16 on LG's config and the correct forms show up for the correct users as expected. I'm going to move this to Ready. Thanks!

[2017-09-15 18:36] #3912 closed

[2017-09-15 18:42] sglangevin commented on #3597
The scrolling bit was on Tecno in the app. I think it might have been related to the Reports filters being on the next line? Not sure though. It was on a contact profile page.

Anyway, this looks great. Moving to ready!

[2017-09-15 18:43] sglangevin commented on #3597
Just realized work may not be done yet - re-opening. @garethbowen let me know when it's ready for review.

[2017-09-15 19:10] sglangevin commented on #3524
This seems like a good thing to do when we come back to improving search next year. I'm going to mark as triaged and add the search label so we can find this one easily later.

[2017-09-15 19:12] sglangevin commented on #2583
This was already triaged before. I'm not sure if this is still worth doing before we invest more time into our roles and permissions next year. @garethbowen what do you think? Feel free to close if you think this will be achieved by the work we are planning around permissions.

[2017-09-15 19:13] sglangevin commented on #3422
@estellecomment is this still needed? Seems like it probably is. Marking as triaged, feel free to change if need be.

[2017-09-15 22:39] abbyad commented on #3093
Responding to https://github.com/medic/medic-webapp/issues/3093#issuecomment-276456943, you would want a partial group to be sent our for the delivery schedule. For example, if a pregnancy is registered really late (after the 38 week delivery message), you would still want the 40 week delivery notice and follow-up messages to show.

If this issues is "fixed" we could split off each message into a

[2017-09-15 23:35] sglangevin commented on #3840
I was doing some testing for something else and discovered that I may have spoken too soon on this one. Looks like there is still an issue with creating the children from the repeat group. While the immediate parent is set correctly, it's not including the rest of hierarchy. Each child should have `_id`s for the immediate parent (family), next level up (chp area) and the top level (branch) but rig

[2017-09-16 10:25] henokgetachew opened #3921 "Medic Bot: Node version check plugin fires even when the node version is satisfied"
Message that gets sent: `Node version warning. **`

[2017-09-16 10:44] henokgetachew opened #3922 "2.8.x: API Crashes when the changes.results doesn't have value"
Instance is a 2.8.x one.  However, it might be applicable to the latest version as well.
Log:
[code]

[2017-09-16 22:34] abbyad commented on #3889
I have made changes to the place-edit forms for Standard config, and this is working well in `2.13.0-beta.16`. Moving to Ready, but @sglangevin we'll need to modify the contact forms for existing projects when the upgrade to ensure that they work with this change.

[2017-09-16 22:34] #3889 closed

[2017-09-17 20:04] garethbowen commented on #3597
Ok, well if it's gone it's gone. Maybe raise a new issue it it comes up again?

[2017-09-17 20:04] #3597 closed

[2017-09-17 21:49] #3561 closed

[2017-09-18 06:36] ngamita commented on #3400
thought i had seen this in collect but not sure. @henokgetachew have a clue?

[2017-09-18 07:48] henokgetachew commented on #3400
Thought I had seen it somewhere too but can't find it now after doing a search in medic-projects..

[2017-09-18 08:06] bishwas-medic commented on #3400
The `/api/v1/forms` endpoint is used for submitting reports through Medic Collect. Haven't used `/api/v1/messages` on any of my projects.

[2017-09-18 08:33] SCdF commented on #3922
This is fixed in later versions: https://github.com/medic/medic-api/blob/master/handlers/changes.js#L222-L226

FWIW I think is actually a bug in Nano, but from memory it was not one that was going to be fixed.

[2017-09-18 18:10] garethbowen commented on #3837
As discussed in the planning meeting: the investigation is done, and performance improvements can be tested with #3870

[2017-09-18 18:10] #3837 closed

[2017-09-18 20:13] abbyad opened #3923 "Message for the `sys.missing_fields` error is not translated"
When accepting a patient report the `sys.missing_fields` error message is added to the doc if the report is missing a required field. Although the error is added to doc, the `errors[].message` field is not translated.

Here is [an example](https://standard.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/82c1c868215daa278f45209ab73ca2ac):
[code]
and the translation:
[code]

It is correct

[2017-09-18 21:42] garethbowen opened #3924 "Update developer onboarding documentation"
Review the existing developer onboarding documentation and make sure it's correct and up to date. Reorganise it if necessary so everything is in one place (eg: maybe move the dev setup from the README into medic-docs?).

[2017-09-19 00:08] sglangevin commented on #3923
Is this a new bug? If not, then I'm hesitant to hold up the release. It can be fixed in the next release.

[2017-09-19 04:24] abbyad commented on #3923
Just tested on 2.12.5 and was able to reproduce... so it is not a new bug. Makes sense to fix this later.

[2017-09-19 08:44] SCdF commented on #3840
(I have no idea why Github is claiming there is a new commit (381449a), it's from 19 days ago and that particular hash doesn't exist in git AFAICT, at least not locally)

[2017-09-19 11:51] SCdF opened #3925 "Fix "db.type() is deprecated and will be removed in a future version of PouchDB""
The above is getting splatted into the console.

Work out why we're getting it and change our usage of PouchDB to avoid it.

[2017-09-19 11:59] SCdF commented on #3840
@sglangevin I don't think those two beta links are correct. They point to identically size hierarchies:

![image](https://user-images.githubusercontent.com/583851/30591343-47e717ee-9d3a-11e7-8faa-43560dd735c0.png)

![image](https://user-images.githubusercontent.com/583851/30591356-50b07f14-9d3a-11e7-9114-58b3c1810233.png)

[2017-09-19 15:10] sglangevin commented on #3840
I think I may have edited the first one after posting this in an effort to make sure I didn't have weird, orphaned records. Sorry about that! Originally the `parent` field had only the first `_id` in it, no nested `parent` fields.

[2017-09-19 19:27] SCdF commented on #3840
@sglangevin so I think I've fixed it

Family:
[code]
Head of household:
[code]
[Sprog](http://www.dictionary.com/browse/sprog):
[code]

[2017-09-19 19:29] sglangevin commented on #3840
@SCdF that looks correct to me!

[2017-09-19 19:48] SCdF commented on #3840
@garethbowen please take a look at the above PR to make sure my heart is in the right place. I'll add tests tomorrow (I know, I know, TDD. Come at me bro 👊 )

FWIW I really don't like how I'm fixing this. It's not clear to me how I'd make it better.. it doesn't help that the attachment code is "generic", so there are implicit hard-to-document ties between a form configuration being correct and thi

[2017-09-19 20:12] amandacilek commented on #3629
Just noting that the only major design change here happens at the 400px breakpoint - everything else is handled though content flow.

400px is a current breakpoint of ours and so this is all fine for now. However when we get to the nav update early next year the breakpoint may end up changing to 480px (or some other number in a similar range that we all agree on).

[2017-09-19 20:35] sglangevin commented on #3923
Cool, I am going to move this one to 2.14.0.

[2017-09-20 01:40] garethbowen commented on #3731
Code review please @SCdF

[2017-09-20 02:48] abbyad commented on #3870
From tests on master it looks like the approach to do the recalculations on page turns (as is done in Collect) resolves both our problems.

Forms seems to load quickly, in a 1-3s range instead of 7-12+ seconds. We should test this further once released to beta.

Also, there are no _unexpected_ stale values using jr:choice-name.  Calcs can be stale within a single page, but wont be when moving to t

[2017-09-20 04:36] garethbowen commented on #3870
Merged and backported to `2.13.x`. This backport includes upgrading enketo to the latest so it'll need extensive regression testing around forms.

[2017-09-20 10:23] SCdF commented on #3840
Merged into 2.13.x and backported into master. When this:
[![Build Status](https://travis-ci.org/medic/medic-webapp.svg?branch=2.13.0-beta.17)](https://travis-ci.org/medic/medic-webapp)
Is green there will be a new beta to test this in.

[2017-09-20 12:42] SCdF commented on #3922
I have actually backported this for 2.8.x since it's a one-line change, see commit above.

[2017-09-20 12:52] abbyad opened #3928 "Non-relevant group shown in form"
The first group of many of our forms is shown conditionally, but since the Enketo was updated in 2.13.0-beta.17 as part of #3870 that first group is being shown as disabled (greyed out) when not `relevant`. This can be seen on standard.dev and alpha.dev using any Action form accessed from the Contact profile or any Contact creation form. Relevant fields or groups on subsequent pages are handled co

[2017-09-20 13:01] abbyad commented on #3928
Here is a test form that has three groups, shown as three pages. The first two have relevant set to false so should _never_ show, but the first page does show as disabled. Form is also temporarily loaded [here on standard.dev](https://standard.dev.medicmobile.org/medic/_design/medic/_rewrite/#/reports/add/issue:3928).

[code]

[2017-09-20 13:13] SCdF commented on #3922
…Am in the process of backporting it. There is a build issue due to how old the version of node is. I'l have to dedicate some time into working out what to lock down to stop this from being an issue.

[2017-09-20 13:23] SCdF commented on #3928
Interesting it seems to be just the first page. And is definitely a version change between this beta and the previous (it actually looked fine, and then the popup for a new version appeared…).

[2017-09-20 13:58] abbyad commented on #3870
This is now incredibly fast in 2.13.0-beta.17. The Delivery form that was taking 7+ seconds is now loaded in <0.5s as an offline restricted user. Moving to Ready, and we can open up new issues for any Enketo regressions.

**Also, it is worth restating that the workaround for stale `jr:choice-name()` values is to only recalculate values when showing a new page.**

**Forms must be designed according

[2017-09-20 15:16] abbyad commented on #3678
The [load_messages.js](https://github.com/medic/medic-webapp/blob/2.13.x/scripts/load_messages.js) script is really useful to quickly add lots of data on an instance.

[2017-09-20 17:01] SCdF commented on #3928
Well for fun I tried updating enketo to the latest build to see if it would fix it: no dice. It doesn't look like we need the last enketo patch though, which is nice (though not something to screw with 2.13 over).

Side note: there is a weird line in our [GruntFile.js](https://github.com/medic/medic-webapp/blob/master/Gruntfile.js#L59):
[code]

Weird because the linked ticket is closed. Reading th

[2017-09-20 22:02] garethbowen commented on #3239
@SCdF Code review please.

The only part I'm not 100% comfortable with here is checking if unit tests are running in the app.js. Without this all unit tests were being redirected to the login page. Ideally the app.js wouldn't execute at all but I don't know how to easily separate it from the rest of the bundle.

[2017-09-20 23:45] garethbowen commented on #3928
I've debugged the issue and found a workaround described in the linked enketo-core issue.

[2017-09-21 00:01] sglangevin commented on #3840
Looks good in v2.13.0-beta.17. Moving to ready!

[2017-09-21 00:01] #3840 closed

[2017-09-21 00:04] sglangevin commented on #3678
@ngaruko we are still waiting on this one so that we can release 2.13.0. Can you please AT?

[2017-09-21 01:58] garethbowen commented on #3923
This is due to the translation function used in couchdb looking for the translation in the ddoc app_settings which has been deprecated in favour of using translation documents (#1706). It's difficult to fix because couchdb functions don't have unrestricted access to the database so can't just fetch the translation docs like other parts of the code.

One workaround is to modify the ddoc.app_setting

[2017-09-21 02:09] garethbowen commented on #3915
Looking at the [pregnancy form in standard](https://github.com/medic/medic-projects/blob/master/standard/forms/app/pregnancy.xml) there is no Spanish translations in the `itext` element, just "en", "hi", and "id". "hi" is first so my guess is that is picked as the default when the requested language isn't found.

@sglangevin I don't think this is a bug - either provide Spanish translations in the

[2017-09-21 07:57] SCdF commented on #3239
LGTM, merged.

[2017-09-21 13:46] SCdF commented on #3731
Back to you @garethbowen

[2017-09-21 21:17] garethbowen commented on #3731
Merged with almost all of your suggested changes made.

[2017-09-25 02:20] #3860 closed

[2017-09-25 13:30] alxndrsn opened #3930 "Month translation wrong somewhere"
<img width="814" alt="screen shot 2017-09-25 at 15 29 57" src="https://user-images.githubusercontent.com/191496/30810773-704e82aa-a206-11e7-956d-9e8d9d28d49b.png">

[2017-09-25 13:30] alxndrsn commented on #3930
uno = "one" in spanish; language was set to spanish

[2017-09-25 13:48] alxndrsn commented on #3928
This bug should now be fixed, but long-term we should aim to get a fix into enketo as per https://github.com/enketo/enketo-core/issues/459

[2017-09-25 13:56] alxndrsn commented on #3930
Muy bien.

[2017-09-25 13:56] #3930 closed

[2017-09-25 15:26] alxndrsn commented on #3870
🎉 !!!

[2017-09-25 15:30] sglangevin commented on #3678
@ngaruko can you please AT this or assign to someone else? It is holding up the release of 2.13.0.

[2017-09-25 15:34] sglangevin commented on #3928
I can AT this one, unless you guys (@alxndrsn  and @abbyad) are doing that together in person.

[2017-09-25 15:36] abbyad commented on #3928
Ya, we are doing the AT for this one here as soon as the beta completes.

[2017-09-25 19:58] garethbowen commented on #3928
Nice one!

[2017-09-25 20:18] #1308 closed

[2017-09-25 21:55] abbyad commented on #3928
The action forms work well in beta 21, but the contact form still has non-relevant groups showing on the first page. Returning so that contact forms can be processed accordingly to hide the first page if it is not relevant.

[2017-09-25 22:09] garethbowen commented on #3629
@SCdF Two reviews (above) please!

[2017-09-25 23:54] abbyad commented on #3928
Works well for App and Contact forms in beta 22. The non-relevant pages are hidden even on first page, and was able to go through and submit the forms as expected.

Moving to Ready, and we can do more Enketo testing as part of release testing.

[2017-09-25 23:54] #3928 closed

[2017-09-26 02:55] garethbowen commented on #3487
This should be fixed now. Setting for AT.

[2017-09-26 03:09] garethbowen commented on #3736
@sglangevin Should the first line of the description reference #3719 instead of #3731 ?

[2017-09-26 03:22] garethbowen commented on #3720
@amandacilek How does the icon look on desktop? I'm worried if it's right aligned in the first column in a two-column layout it'll look more closely associated with the second column than the first. I can't find any specs or screenshots that document desktop view.

[2017-09-26 07:32] #3678 closed

[2017-09-26 07:38] SCdF commented on #3629
@garethbowen LGTM, I've left you the webapp one to merge (see comment)

[2017-09-26 09:49] amandacilek commented on #3720
Hi Gareth,

Hm, you're completely right. My recommendation was based on the assumption that the data is displayed in one column (I didn't look at the top mockups carefully!). I'm curious to know more about the rules behind when we switch to two columns. The potential for two column is only relevant for condition cards and the top bio section, is that right? It looks like the list of People/Family

[2017-09-26 14:06] sglangevin commented on #3736
Yes, sorry about that. You are right, I should have referred to #3719.

[2017-09-26 14:11] sglangevin commented on #3915
@garethbowen sorry for the delay. That makes sense to me. I had tried more than one language, but always saw Devanagari script. It must be that the languages I tried all didn't exist in the form. Closing for now and will open a new issue if I find something that appears to be a bug.

[2017-09-26 14:11] #3915 closed

[2017-09-26 14:18] abbyad commented on #3923
Ok, good to know. We'll manually add that until it is resolved.

Also, this should be considered as part of https://github.com/medic/medic-webapp/issues/3923, and this is certainly a duplicate of https://github.com/medic/medic-webapp/issues/3368, which I'll be closing since this one has better info.

[2017-09-26 14:18] #3368 closed

[2017-09-26 14:20] sglangevin commented on #3720
Personally, I think that having all condition cards be one column on desktop is a waste of space. While I agree that cards like this immunization card are larger than what I think we had intended to create with condition cards, I do think it makes sense to allow up to 2 columns on desktop layouts. If you have all your data left-aligned and an icon all the way on the right, that seems like it's as

[2017-09-26 19:20] garethbowen commented on #3736
Fixed.

[2017-09-26 19:23] garethbowen commented on #3923
It can't be done as part of #3190 for the same reason - this code can't access the translations without a bunch of workaround effort.

[2017-09-26 19:51] garethbowen commented on #3720
@amandacilek Here is [our documentation](https://github.com/medic/medic-docs/blob/master/configuration/contact-summary.md) about contact summary configuration. This line is particularly relevant:

This means a 4 column layout is possible, or indeed a 12 column layout. This width is overridden on mobile so it always ends up being 1 column.

I agree with Sharon's idea of having the icon beside the v

[2017-09-26 20:47] amandacilek commented on #3720
In regards to the form label and value being on the same line or not, I am fine having NOT having them on the same line (i.e. layout staying how it is currently). This was never a big deal for me and I may have even said that in the original spec at one point.

For the condition cards: Thanks for sharing the additional info, Gareth. I can't think of a situation where we would want to allow 12 colu

[2017-09-26 21:07] garethbowen commented on #3720
We rely on bootstrap for the widths, and I guess they chose 12 because it divides up well, so you can have 1, 2, 3, 4, 6, or 12 column layouts. This format also allows for mixing the widths so you could have a row with 1, 1, 2, 3, 5 if your data (or your configurer) is crazy enough.

I'm guessing that's how icons are added at the moment. From the initial screenshot you have "completed anc visits"

[2017-09-27 09:23] abbyad commented on #3923
I had presumed #3190 wasn't happening before #3019 anyway, so was grouping those two logically as parts of app_settings that have to have the translations directly in app_settings.

[2017-09-27 10:10] alxndrsn opened #3935 "Filter bar is big on Tasks page, but has no content"
On the main _Tasks_ list, the filter bar takes up lots of space, but never has content.

Ideally, it would be shrunken like on the _About_ page.

[2017-09-27 10:10] alxndrsn commented on #3935
@garethbowen Is this a bug, or is it deliberately big because clicking through to a task might have filter bar content?

[2017-09-27 10:16] garethbowen commented on #3935
@alxndrsn When you select a task it gets the title of the task. It could be shrunk until you select a task. Maybe we should just wait till the nav redesign in 3.1 when it'll be changed completely anyway?

[2017-09-27 16:00] alxndrsn commented on #1565
My notes from discussion (draft):

1. enketo forms and their pages should not be written to browser history (`window.history.pushState()`); this may require an angular change)
2. login page should not be written to history stack (is this possible?  perhaps we can overwrite if we check referer header?  perhaps we only care on mobile?)
3. we may need to check in angular history writing that we don't

[2017-09-28 23:58] garethbowen opened #3936 "Make bulk importing easier to use"
Up till now a developer has always been required to run the `medic-bulk-utils` data imports. For each data set this takes days to execute which is a complete waste of time. We need to make it easy and safe enough for a tech lead or project to use.

This will require some investigation of requirements, but here are some I can think of.

* Performance. The current solution is very slow.
* Robustness

[2017-09-29 15:46] sglangevin commented on #3629
This LGTM on desktop and Y4. @amandacilek did you want to do a quick review before we close this one? I can give you credentials for alpha.dev which is a good place to see how it looks.

[2017-10-01 22:44] garethbowen commented on #3923
As discussed, moving to 3.0.0.

[2017-10-02 11:12] alxndrsn commented on #3405
Added to master - please retest with new collect build when it becomes available.

[2017-10-02 17:20] sglangevin commented on #2522
This is looking awesome overall! One minor thing, though. When I set the goal for a percentage target to to 10%, the goal line shows up at the same place as a 0% goal. Similarly, when I set the goal to 90%, the goal line shows up at the same place as a 100% goal. These should not show up at the ends of the bar.

![image](https://user-images.githubusercontent.com/1286381/31090093-4b6bfd6e-a75b-11e7

[2017-10-02 17:21] sglangevin commented on #2522
Back to you, @garethbowen

[2017-10-02 17:33] sglangevin commented on #3735
Mostly there! A few things to fix + a few comments:

- On the person's profile page, the title of the report should be centered vertically. Right now it is at the top of the content row.
- On the Reports tab, the breadcrumbs should wrap to a second line. I realize this is not illustrated in the mock-ups, that was an oversight.
- On small screens (<400 px wide), the text on the right side of the co

[2017-10-02 17:33] sglangevin commented on #3735
Back to you @garethbowen

[2017-10-02 17:43] sglangevin commented on #3735
Realized that #3731 says that the first row of text should share the same baseline with the relative date, which contradicts vertically centering the first row of text, as seen in the screenshots. @amandacilek can you let us know what your intention was? This applies specifically to cases where a content row with a relative date (task, report) has only one row of text on the left. This primarily h

[2017-10-02 17:49] sglangevin commented on #3734
@garethbowen a few things I noticed:

- Tasks on the family profile should look the same as they do on the tasks tab (they should include the person's name)
- I'm not sure how to configure the 3rd line of text. I didn't see any changes to the documentation but it's not displaying the task description (text that used to be in red on the right side bottom of the task content row). Let me know if I'm

[2017-10-02 17:49] sglangevin commented on #3734
Back to you, @garethbowen

[2017-10-02 17:51] sglangevin commented on #3731
LGTM. @amandacilek do you also want to do a review? Let me know!

[2017-10-02 17:54] sglangevin commented on #3732
Looks good! Moving to ready.

[2017-10-02 17:54] #3732 closed

[2017-10-02 17:56] sglangevin commented on #3804
@abbyad has this been sufficiently tested or it needs more?

[2017-10-02 17:57] sglangevin commented on #3624
@alxndrsn this one has been sitting for a while and I've received requests from 2-3 projects for cascading selects in our app. Will you be able to get to this one sometime this week?

[2017-10-02 18:29] sglangevin commented on #3487
The error I was seeing previously is now fixed. Will do some more testing on Chrome 30 this week to make sure everything looks good.

[2017-10-02 18:44] sglangevin commented on #3459
Getting the following error in the console when trying to translate the date. Seen on alpha.dev, v2.14.0-alpha.7610, logged in as a restricted user.
![image](https://user-images.githubusercontent.com/1286381/31093581-fbefd13c-a766-11e7-806b-e315b34ad0ed.png)

[2017-10-02 18:44] sglangevin commented on #3459
Any ideas @alxndrsn?

[2017-10-02 18:59] sglangevin commented on #3720
Sorry, I missed this comment somehow @garethbowen.

This was my initial thought as well, but I'm concerned it will look odd, especially on mobile. What about left-aligning on desktop and right-aligning on mobile?

I could see us putting the icon below on desktop and right-aligning it on mobile.

I know I suggested this, but 15px seems too small for the icon so I think we should scrap this idea.

I

[2017-10-02 18:59] sglangevin commented on #3239
@ngaruko assigned to you for AT.

[2017-10-02 22:41] abbyad commented on #3804
I have not tested yet as part of this issue, but _was_ tested with https://github.com/medic/medic-webapp/issues/3870 as part of 2.13.

@alxndrsn, has anything changed here for 2.14?

[2017-10-02 23:10] sglangevin commented on #3935
I think we should just leave this one for now. We'll be changing all of the navigation really soon anyway, so it doesn't seem worth changing.

[2017-10-03 03:15] garethbowen commented on #3719
Code review please @alxndrsn . The linked PR also fixes #3736

[2017-10-03 08:27] alxndrsn commented on #3624
@sglangevin yes, it's top of the pile 🙂

[2017-10-03 08:28] alxndrsn commented on #3804
Should be the same for 2.14.  Probably worth checking, though!

[2017-10-03 08:30] alxndrsn commented on #3935
🤷‍♀️ If no one minds, I might fix this when I have a spare 10 minutes.

[2017-10-03 09:32] garethbowen commented on #3734
I've fixed the tasks on the family profile page.

@sglangevin When I configure the `priorityLabel` it renders as the 3rd line of text just like it used to. Can you share your config so I can check?

[2017-10-03 09:35] alxndrsn commented on #3624
As far as I can tell, `substring-after()` works fine in latest FF and Chrome, and in Chrome 30:

<img width="866" alt="screen shot 2017-10-03 at 11 34 58" src="https://user-images.githubusercontent.com/191496/31118802-fa30d544-a82e-11e7-96e7-f53cb310391e.png">

[2017-10-03 12:23] henokgetachew opened #3939 "CPU usage monitoring"
Setup warnings when CPU usage is above a certain percentage for a long duration of time.  We could also use the basic cloudwatch monitoring here.

[2017-10-03 13:30] alxndrsn commented on #3624
As far as I can tell, `substring-after()` works fine in latest FF and Chrome, and in Chrome 30:

<img width="866" alt="screen shot 2017-10-03 at 11 34 58" src="https://user-images.githubusercontent.com/191496/31118802-fa30d544-a82e-11e7-96e7-f53cb310391e.png">

I think the problem at that point was actually with `str:replace`, which we _should_ be able to replace with the template `str-replace` (a

[2017-10-03 16:55] sglangevin commented on #3624
I'll take a look at this tomorrow and see if I can produce that XML from an XLS form.

[2017-10-03 19:41] amandacilek commented on #3735
Hey @sglangevin , Gareth and I had a convo about this a while ago on Slack.

My original preference was that the first line of text on the left should share the same baseline with the date _in all cases where we have two or more lines of text_, and be centered in the row when we only have one line of text. I'd hoped we could make two separate distinct designs.

While talking with Gareth it was mad

[2017-10-03 19:50] amandacilek commented on #3735
I would prefer that the icon stay towards the top of the row next to the bold "title" text as seen in my mockups. I think the proximity makes the icons more useful by because it makes the association clearer (the "title" is essentially the label for the icon). Also, the consistent location (always at the top) is more predictable and makes it easier to scan down a long list.

If that is difficult o

[2017-10-03 20:58] amandacilek commented on #3720
Alright jumping back in here...

A suggestion of mine in relation to the row updates was that ALL individual rows are separated from each other by a 1px grey line. If we have that little grey border separating the rows, and if we extend that to include adding a 1px vertical separation line when we have more than one column of rows, that actually helps quite a bit.

See attached mockup: the border

[2017-10-03 21:06] amandacilek commented on #3720
I would like to add the border lines (if we haven't already) no matter what.

The lines are still a subtle element though and it's admittedly possible that confusion might still arise if we go with the above icon placement.

Of the other two options mentioned (either left-aligning the icon on desktop, or dropping the icon down to it's own line) I prefer the former. The left-aligned icon does push

[2017-10-03 21:06] #3835 closed

[2017-10-03 21:38] amandacilek commented on #3731
Thanks, I'd welcome the chance to glance through everything. How do I do that?

[2017-10-03 22:02] sglangevin commented on #3720
I actually like the first mock-up you did with the icon right-aligned and including the gray lines between fields. I think that makes the association clearer and the immunization card looks nicer that way, in my opinion. If you guys don't like that one, I'm also fine with the left-aligned icon.

[2017-10-03 22:05] amandacilek commented on #3720
I agree, I do like that one. @garethbowen does the addition of the grey lines help alleviate your original concern about the icon being mistakenly associated with the wrong text?

[2017-10-03 22:08] garethbowen commented on #3720
Yeah the grey lines are great - I'm just trying to work out how to implement them (it's not as easy as you'd think).

[2017-10-03 23:04] amandacilek commented on #3731
Sharon shared a link to alpha.dev with me and I've taken a first pass through the pages. So excited to see this come to life and overall very happy with how things are looking! The text is so much easier to read.

@sglangevin @garethbowen Here are some notes and suggestions I have:

The LHS has a 1px vertical grey line along the far left edge but not along the far right edge. It should have the 1p

[2017-10-04 00:50] sglangevin commented on #3734
Tested again and I think it's something weird with an old task that I'm seeing. Generated a new task and it's working as expected. I think this one can go to code review or AT if it's already merged.

[2017-10-04 01:47] garethbowen commented on #3720
The grey lines in between aren't possible as shown in the mockups. The main problem is because the width of each item is configurable there's no way for me to tell which item is at the end of each row.

The closest I got is fairly close but breaks the rounded corners at the bottom of the card.

One workaround is to have some padding between the grid and the card so the card still has rounded borde

[2017-10-04 02:16] garethbowen commented on #3731
Done.

We do. If it's not working for you please raise an issue for it with specifics about which instance you were using, which browser, which user, etc.

We could do that, but it seems like a waste of effort when the upcoming nav update is removing the bubbles anyway. If you think it's worth doing please raise a feature request issue with specifics.

Done.

That's translated so it's configurable

[2017-10-04 02:17] garethbowen commented on #3731
Back to you @amandacilek and @sglangevin for AT.

[2017-10-04 02:40] garethbowen commented on #3735
I missed that! Fixed.

Yeah I missed that too. Could you please raise an issue for it as it'll take a little thought. Depending on the use case you might actually want both, eg: "from Sarah, about Jim".

I can't reproduce this - it's possible it's been fixed in subsequent commits. Can you check again and give a bit more detail if it's still happening? This is what it looks like for me...

![bubble

[2017-10-04 02:41] garethbowen commented on #3735
Back to you @sglangevin

[2017-10-04 03:05] #3239 closed

[2017-10-04 03:35] ngaruko opened #3940 "Create a S3 bucket for test results and screenshots"
We sometimes have test failures on Travis but cannot figure out what went wrong since we can’t save screenshots on Travis. So, we thought we could save those (only if the test fails) on our AWS, maybe just have a bucket where we can save those screenshots for reference and debugging.  We don’t expose any AWS credentials in the code (the code needs the access id and secret key but  these encrypted

[2017-10-04 05:24] #3824 closed

[2017-10-04 10:41] alxndrsn commented on #3624
@sglangevin
Here's an alternative that will work, but at the cost of removing translation support from `<itemset>`.  I don't think this feature currently works anyway in webapp on Chrome, so it shouldn't affect existing projects.

[code]

[2017-10-04 10:54] henokgetachew opened #3941 "Merge User Configuration Scripts"
Users such as `Admin`, `vm` and `couch2pg` need to be created at the same time.

[2017-10-04 19:56] sglangevin commented on #3735
@amandacilek can you comment on the breadcrumbs question? The spec says they should wrap to a second line but the mockups show them _not_ wrapping. Which did you want?

Everything else here is looking good to me. I'll raise another issue for changing the name on the Reports tab LHS.

[2017-10-04 19:59] sglangevin commented on #3731
Cool, looks like everything marked "done" is there and looking good. I don't think we need to add a bubble for overdue tasks because those bubbles will be removed in the nav update anyway and it's a feature request. And I agree there is something weird happening with the unread bubble for reports but I'll file a separate bug for that.

As for the bold text, I agree we need a better solution. Thoug

[2017-10-04 20:00] amandacilek commented on #3735
The breadcrumbs should wrap. In my initial mockups they didn't, Estelle provided feedback that they they should, we all agreed, but I never updated this in the mockups because it would be tedious to do, as it involves changing the height and spacing of the rows throughout.

[2017-10-04 20:00] #3629 closed

[2017-10-04 20:04] amandacilek commented on #3731
I don't really remember having a conversation about this. Did we discuss as a team and decide to remove them with the new nav update? If it was decided they would be difficult to do with the new design that makes sense. If they aren't difficult to do with the new design we should keep them as I think they do add value.

[2017-10-04 20:05] garethbowen commented on #3735
Thanks @amandacilek . What about the first two lines of text? Should they wrap or have ellipsis? eg:

![rapper](https://user-images.githubusercontent.com/2064938/31197034-47373b0c-a9ac-11e7-80c6-3b6d27cca3c9.png)

vs

![no-rapper](https://user-images.githubusercontent.com/2064938/31197036-4a741d58-a9ac-11e7-827b-ee63273df5c0.png)

[2017-10-04 20:07] sglangevin commented on #3731
I hadn't seen them in any of the mockups so I assumed they were being removed. Sounds like that may have been a bad assumption though. Does it make sense to have bubbles that represent both unread and overdue things?

[2017-10-04 20:12] amandacilek commented on #3731
They weren't intentionally omitted from the mockups, I just didn't think to add them. If the LOE is not too great let's keep them with the new design.

I like the idea of calling out both unread and overdue items. Overdue tasks are the task page's equivalent of unread. It's a personal opinion and others may have differing opinions. And understood that it's a feature request, so happy to push this

[2017-10-04 20:19] garethbowen commented on #3731
@amandacilek Awesome! I was so disappointed when I thought they were being dropped. And adding overdue tasks is a good feature. I'll raise an issue now.

[2017-10-04 20:21] sglangevin commented on #3719
This looks really cool! Some feedback:

- Looks like we are missing the name of the person or place in mobile view:
![image](https://user-images.githubusercontent.com/1286381/31197043-b075b57e-a904-11e7-8e94-ac1d2f07e407.png)

- In mobile view, there should be no space between the top bar and the profile info card. Actually, this needs to be fixed on the people, tasks and history tabs so that it's

[2017-10-04 20:22] sglangevin commented on #3719
Back to you @garethbowen

[2017-10-04 20:24] garethbowen opened #3943 "Show a count of overdue tasks in the nav bar"
Just like we have unread counters for reports and messages, add an overdue tasks counter in a bubble in the nav bar.

![unread-reports](https://user-images.githubusercontent.com/2064938/31197847-e616a7c4-a9ae-11e7-82af-5e82fde0f428.png)

[2017-10-04 20:25] garethbowen commented on #3731
Created as #3943 and scheduled for 2.15.0 (feel free to reschedule it @sglangevin !)

[2017-10-04 20:25] sglangevin commented on #3736
I realized that this issue was not written as clearly as it could have been. The intention was for this styling change to apply to the configurable condition cards on profiles (things like active pregnancy, past pregnancy, immunizations, etc.) but not to the profile card at the top of the page (the one with Medic ID, Notes, Belongs to, etc.). Can we change the styling of the profile fields back to

[2017-10-04 20:25] sglangevin commented on #3736
Back to you @garethbowen

[2017-10-04 20:26] amandacilek commented on #3735
Hm, this wasn't a part of the discussion with Estelle. I'm inclined to say we still truncate the first two lines. That maintains consistency with styling on rows throughout the app and helps us somewhat limit the space each of these reports rows takes up on mobile.

[2017-10-04 20:31] garethbowen commented on #3735
I'd say that the content in the first two lines is more important than the third, so we shouldn't truncate any of it. In practice I think it's unlikely these lines will get long enough for it to be an issue, but if you have, say, two people with similar names it's fairly useful to see which one the report is about. The worst case scenario is say on the contacts tab if you have two rows for two peo

[2017-10-04 20:32] amandacilek commented on #3731
Yeah, point taken. I've been thinking of the very top profile card as a completely different entity (which I hope it will be one day) but I understand it's all the same code right now.

I propose that we revert back to form fields having bold titles and regular weight responses. This keeps the row styling consistent throughout the app and solves the aesthetics on the Reports page. The fact that we

[2017-10-04 20:32] sglangevin commented on #3735
We're generally recommending that people try to keep the form title (second line) short enough that it can be viewed in the various places where we see it in the app. However, if the first line is going to be the name of the person or family that the report is about, it could get long, especially if it's the name of the family. I'm somewhat inclined to say that we should wrap at least the first an

[2017-10-04 20:33] sglangevin commented on #2522
LGTM. Moving to ready!

[2017-10-04 20:33] #2522 closed

[2017-10-04 20:36] amandacilek commented on #3735
I'm willing to give way on this for reports since it's mostly viewed on desktop anyway. I'm not yet ready to wrap text everywhere in our app - that should be a separate conversation. We have to balance the utility of reading the full text with the utility of being able to see and scan multiple rows at once on a small screen.

[2017-10-04 20:36] sglangevin opened #3944 "Unread reports bubble not working as expected"
Seen on alpha.dev logged in as admin. When you log in, you'll see no bubble for unread reports, but there are 5 unread reports if you look at the Reports tab.
![image](https://user-images.githubusercontent.com/1286381/31198391-fd52f42a-a908-11e7-8529-b12a3758d5cf.png)

[2017-10-04 20:51] garethbowen commented on #3735
Currently the code that generates every content row is the same to enforce consistency between the rows. While I can make specific exceptions for things like word wrapping vs ellipsis truncation I have to be clear about which pages the exception should apply to. Please let me know which of the following lines should be truncated (currently they all are).

- Messages tab LHS line 1 (sender)
- Messa

[2017-10-04 21:03] sglangevin commented on #3459
I'm still getting a similar error on 2.14.0-alpha.7682. This is happening for all languages on a form that used to be working. If you log in to alpha.dev as a restricted user and try to register a pregnancy, when you enter the LMP the form should display the EDD (that's what I've been using to test).
![image](https://user-images.githubusercontent.com/1286381/31198817-687739f4-a90a-11e7-9b94-f27616

[2017-10-04 21:17] garethbowen commented on #3459
@sglangevin The fix wasn't included in `2.14.0-alpha.7682` - you need 7683 or above. 7683 never published because the build failed on a flakey e2e test. I've restarted it and will let you know when it gets published.

[2017-10-04 21:23] garethbowen opened #3945 "Update the icons used for contacts"
The district, health centre, clinic, and person icons need to be updated from font-awesome to custom svgs to be provided by @amandacilek everywhere they are used.

[2017-10-04 21:28] garethbowen commented on #3459
@sglangevin 7683 just published so it's ready for you to AT again! Sorry about that.

[2017-10-04 21:29] garethbowen commented on #3945
Icons: [personicons.zip](https://github.com/medic/medic-webapp/files/1357399/personicons.zip)

[2017-10-04 21:31] amandacilek commented on #3945
![screen shot 2017-10-04 at 2 19 49 pm](https://user-images.githubusercontent.com/26235957/31200677-bea7ca18-a910-11e7-8cde-5b29877ad368.png)

[2017-10-04 21:33] amandacilek commented on #3945
The icons are displayed at 60 x 60 px on profile detail pages (RHS) and on targets widgets (if applicable). In all other cases they are displayed at 30 x 30 px.

[2017-10-04 21:39] amandacilek commented on #3735
I think what we're saying is truncation everywhere except for the Reports page for now.

So wrapping these three only:
Reports tab LHS line 1 (sender/patient)
Reports tab LHS line 2 (form)
Reports tab LHS line 3 (lineage)

We can revisit the broader question of truncation vs. wrapping throughout the app at a later date.

[2017-10-04 21:43] amandacilek commented on #3731
One more little thing on the Messages page: can the grey timestamps below the messages be 14px instead of 16px?

[2017-10-04 21:54] sglangevin commented on #3459
LGTM!

[2017-10-04 21:54] #3459 closed

[2017-10-04 21:58] #3870 closed

[2017-10-04 22:10] garethbowen commented on #3719
Fixed.

Fixed.

Done.

It's possible to implement but hard to control from a design perspective. If you have a very long label or a very long value you end up having heaps of line wrapping, and because the columns line up this goes on to affect all the other rows too. All the designs I've seen actually go the other way around where the two column label/value layout is used for desktop and the one

[2017-10-04 22:10] garethbowen commented on #3719
Back to you @sglangevin

[2017-10-04 22:11] garethbowen commented on #3736
This has been discussed further here: https://github.com/medic/medic-webapp/issues/3731#issuecomment-334280657

[2017-10-04 22:29] garethbowen commented on #3735
Done.

[2017-10-04 22:36] garethbowen commented on #3731
Done.

Done.

[2017-10-04 22:36] garethbowen commented on #3731
Back to you @sglangevin

[2017-10-04 22:37] garethbowen commented on #3736
@sglangevin This has been reverted as part of #3731. Returning to AT.

[2017-10-04 22:38] amandacilek commented on #3735
![screenshot_2017-10-04-15-29-31](https://user-images.githubusercontent.com/26235957/31202927-97cefbec-a919-11e7-836b-429f53f9b3aa.png)

Curious here... it looks like the date stamp on the right is forcing the name on the left to wrap? Is that how it's always been? Seems like the name should take preference. Or we should just even it out so that they each get half of the available width?

Also not

[2017-10-04 22:45] garethbowen commented on #3735
I'm fairly sure the reports RHS header hasn't changed recently but you could compare with an older installation (maybe LG?) to be sure.

Date formats are configurable but I think this is the default.

Maybe put together a design and raise an issue scheduled for 3.1?

[2017-10-04 22:52] sglangevin commented on #3735
Here's a screenshot from beta.dev (it's on 2.13.0-beta.22 which become 2.13.0 final). Looks like the date format is slightly different. I think that, combined with the increase in font size, has caused what Amanda is describing. I agree that the date is too long here but also agree that we need a design to fix it. Perhaps we could consider scheduling it a bit sooner than 3.1 if it's a quick fix?

[2017-10-04 22:54] amandacilek commented on #3735
Thanks, yeah I never really noticed it until now.

Ok, will do.

[2017-10-04 22:55] garethbowen commented on #3720
Summary of Slack decision...

[2017-10-04 23:00] garethbowen commented on #3720
Done and documentation updated.

[2017-10-04 23:05] sglangevin commented on #3719
Cool, LGTM! Moving to ready.

[2017-10-04 23:05] #3719 closed

[2017-10-04 23:06] sglangevin commented on #3736
LGTM.

[2017-10-04 23:06] #3736 closed

[2017-10-04 23:06] sglangevin commented on #3735
LGTM.

[2017-10-04 23:06] #3735 closed

[2017-10-04 23:07] sglangevin commented on #3731
LGTM.

[2017-10-04 23:41] garethbowen commented on #3944
The algorithm works by counting all the reports you can see and then subtracting all the reports you have read. In this case some documents had been deleted from the database but the meta docs weren't deleted at the same time. I've manually deleted the orphaned meta docs so alpha.dev now works as expected, but we should fix this properly. A couple of ideas come to mind...

1. Change the algorithm

[2017-10-05 00:00] sglangevin commented on #3720
Looks good - can you center the icon vertically? Right now it looks like it's at the top (this is a 30x30px icon, the 60x60px version looked more centered but too big - see 2nd screenshot):
![image](https://user-images.githubusercontent.com/1286381/31205282-4c19010a-a925-11e7-8bdc-6a05decaa292.png)

![image](https://user-images.githubusercontent.com/1286381/31205314-85d8acb0-a925-11e7-9ebe-de9c540

[2017-10-05 00:01] sglangevin commented on #3720
Back to you @garethbowen

[2017-10-05 03:08] #1330 closed

[2017-10-05 03:23] garethbowen commented on #3945
This makes the action bar quite colourful but I think it's ok... I'll leave it up to AT to decide.

![rainbow](https://user-images.githubusercontent.com/2064938/31209721-83616570-a9e9-11e7-8ab6-5e08f8beafc3.png)

[2017-10-05 03:25] garethbowen commented on #3945
Two PRs to review please @alxndrsn

This change also makes the icons configurable which is a bonus feature...

[2017-10-05 09:36] garethbowen commented on #3906
@ngaruko Thanks for including the log. Unfortunately logcat gives a very truncated output. You can get a complete log using the [remote debugging](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/webviews) feature in a desktop Chrome and checking the dev tools console.

@sglangevin You've been testing the targets page for the 2.14.0 release - have you come across this issue

[2017-10-05 09:58] garethbowen commented on #3904
Code review please @SCdF

[2017-10-05 13:59] amandacilek commented on #3945
Can you use the lovely features of SVG to color the icons white when they're in the action bar?

[2017-10-05 16:29] sglangevin commented on #3906
@ngaruko what user were you logging in as? What mobile device were you using? What version of the Android app? I haven't reproduced this on my side lately but will test again today.

[2017-10-05 19:12] garethbowen commented on #3945
@amandacilek Yes but I think it'll need changes made to the svg. Is that a requirement for 2.14.0 in your opinion or something we can do in the future?

[2017-10-05 19:20] amandacilek commented on #3945
I never imagined them being colored in the bar. The icons should change color in certain circumstances and in the case of the bottom bars it makes sense for them to be white. It's something we'll have to solve with the nav update anyway, because there I'm proposing white icons inside blue buttons for actions. The point remains that we should be able to change the color in the code.

What do you me

[2017-10-05 19:24] garethbowen commented on #3945
I've done this recently with a site where the svgs change colour on hover. The svg itself then has no colour and the colour is specified in css only. I think we also have to change how we include the svg which may change things. The other alternative is to have a white one and a colourful one, but that would be a shame.

I'll have a look next week.

[2017-10-05 20:38] sglangevin commented on #3720
Looks good on desktop but now it's also left-aligned on mobile and it should be right-aligned on mobile. Back to you @garethbowen.

[2017-10-05 20:44] sglangevin commented on #3945
Tested this on alpha.dev. We had a few issues that were configuration issues - this caused the icons to appear strangely on the RHS. The new area and new person icons especially, but could have been others too. They looked too big (I think they were showing up as 60px). I was able to fix this by adjusting the resources though. It had to do with the fact that I already had an icon called `clinic` a

[2017-10-05 21:18] sglangevin opened #3948 "Error when loading person profiles on Chrome 30"
Seen on alpha.dev, logged in as a restricted user. Tecno Y4, Android version 0.1.157, webapp v2.14.0-alpha.7724.

The profile loads but the configurable profile fields are missing on mobile. Places work normally but person profiles seem a bit broken. The tasks and history sections are working, though.

Tecno:
![screenshot_2017-10-06-03-01-31](https://user-images.githubusercontent.com/1286381/31252

[2017-10-05 21:19] sglangevin commented on #3948
This also means that we can't currently access actions on person profiles on mobile. Probably related to the same issue.

[2017-10-05 21:29] sglangevin commented on #3948
I'm also seeing this same issue on 2.13.0-beta.22 on standard.dev, but not on lg.dev (also on 2.13.0-beta.22) so it's possible this is some sort of config issue (alpha.dev has the Standard config).

[2017-10-05 22:06] sglangevin commented on #3948
Forgot to include the screenshot I took of the console:
![image](https://user-images.githubusercontent.com/1286381/31254727-b5374e44-a9de-11e7-8249-fe826cd13ece.png)

[2017-10-05 22:11] sglangevin commented on #3948
Luckily this turned out to be a config issue - I'll file something in medic-projects.

[2017-10-05 22:11] #3948 closed

[2017-10-05 22:57] sglangevin commented on #3624
I think issue is that none of these can be produced from an xlsform and we need to be able to create something in xlsform that can be converted to the proper xml. When converting, I get the structure I pasted at the top of this thread, even if I'm not including any translations anywhere it still generates that in the xml. Is there something we can do in medic-configurer to help us along so that we

[2017-10-06 06:29] #3644 closed

[2017-10-06 17:17] amandacilek commented on #3731
Re-opening because I noticed a few spacing issues this morning.

Text should always start 20px from the left. There are a few places where the text is too close to the left and needs to shift a few pixels to the right.
- On a health center profile, the rows under Area need to shift right
- On an area profile, the rows under People need to shift right

![screen shot 2017-10-06 at 10 05 03 am](https

[2017-10-06 20:51] sglangevin commented on #3487
Did more testing on Chrome 30 and all looks good to me. Moving to ready and we'll do additional testing during release testing of 2.14.

[2017-10-06 20:51] #3487 closed

[2017-10-07 10:06] alxndrsn opened #3949 "Update enketo dependency and clean up page flipping hack"
Ref
* https://github.com/enketo/enketo-core/issues/459
* https://github.com/medic/medic-webapp/issues/3928

[2017-10-08 19:11] garethbowen opened #3950 "Remove stats collection in API"
We have a small scheduled task that runs periodically to submit anonymised data to a centralised server to help us measure impact. This was added primarily for DIY where we may not know where or how our software is being used. Until DIY is rescheduled we should disable stats collection and remove the associated code. The impact measurement for all our instances is now done via the postgres analyti

[2017-10-09 09:53] garethbowen commented on #3720
Fixed.

[2017-10-09 10:12] garethbowen commented on #3731
I've done all the above suggestions except for the enketo forms change as that was starting down a rabbit hole. We can (and should) revisit this when we do the complete forms design update.

[2017-10-09 13:36] SCdF commented on #3944
@garethbowen what are you referring to when you talk about meta docs here? Do you mean the `-info` documents that are created?

Ideally I'd like to move those out into an entirely separate database as they are only useful on the server side, alongside generally moving "sentinel stuff" out into a separate db. Details on #3423

[2017-10-09 13:44] SCdF commented on #3904
LGTM, merged.

[2017-10-09 17:08] sglangevin commented on #3720
LGTM, moving to ready.

[2017-10-09 17:08] #3720 closed

[2017-10-09 17:21] SCdF commented on #3913
Over to you @garethbowen

[2017-10-09 17:43] amandacilek commented on #3731
Great! Most of the above were fixed, but the header text on Messages still needs to be adjusted (pushed to the right for a 20px gap):

![screen shot 2017-10-09 at 10 28 20 am](https://user-images.githubusercontent.com/26235957/31350617-a9c60f22-acdc-11e7-8ff3-1e1270c6d5b0.png)

Also, it now looks like there is new additional space on rows with icons. Apologies if I was not clear with my previous r

[2017-10-09 19:24] garethbowen commented on #3949
For AT, ensure that #3928 is still fixed.

[2017-10-09 19:29] garethbowen commented on #3944
@SCdF No, I'm talking about the read status docs that are in a separate `medic-user-<username>-meta` db. The `-info` docs you're talking about will also get out of sync if the parent doc is deleted which will cause a slight performance regression over time but won't cause any problems that are visible to the user as far as I can tell.

Depending on the solution it may be good to remove the `-info`

[2017-10-09 19:47] garethbowen commented on #3913
Merged.

[2017-10-09 19:48] garethbowen commented on #3913
For AT check that the lineage available to sentinel is still complete and correct, for example, when generating scheduled messages.

[2017-10-09 19:57] garethbowen commented on #3731
One more time!

[2017-10-09 20:10] garethbowen commented on #2276
This has been broken up into parts and is being worked on separately including #3019 and Horticulturalist. Closing.

[2017-10-09 20:10] #2276 closed

[2017-10-09 21:12] garethbowen commented on #3818
@SCdF I'm unclear whether we have regressed on a feature or fixed a bug. Would you mind doing a little triage with Sharon and Marc to clarify where we're at?

I'd like to get the [associated PR](https://github.com/medic/medic-sentinel/pull/162) either fixed and merged, or closed.

[2017-10-09 21:21] garethbowen commented on #3738
This endpoint is a priority for us. Scheduling for 2.15.0

[2017-10-09 23:00] sglangevin commented on #3731
Looks good! Moving to ready.

[2017-10-09 23:00] #3731 closed

[2017-10-09 23:08] sglangevin commented on #3949
LGTM.

[2017-10-09 23:08] #3949 closed

[2017-10-09 23:55] #3904 closed

[2017-10-10 01:14] #3913 closed

[2017-10-10 01:41] garethbowen commented on #3945
Code review please @SCdF

[2017-10-10 01:47] garethbowen commented on #3945
@amandacilek To get the supplied csvs to be able to be styled I had to make some changes to them.

1. Firstly I minified the csvs which removed whitespace, unused elements, etc which reduced the file size by about half.
2. I removed all the IDs. When the svgs were inlined in the page the IDs collided and we ended up with the same icon for every contact in the list regardless of type. This mean the

[2017-10-10 01:53] garethbowen commented on #3944
Perhaps we should use a sentinel system transition to clean up info and meta docs when their parent doc has been deleted...

[2017-10-10 08:17] SCdF commented on #3945
LGTM, merged

[2017-10-10 10:10] garethbowen commented on #3944
The problem with the sentinel system transition is it would seriously slow down sentinel on large deployments (say 1000s of offline users).

One compromise is to have a sentinel system transition to clean up the data for online users (admins) and a changes listener in the client so when a doc deletion is replicated the data is cleaned up in the users local database. The downside to this approach i

[2017-10-10 11:46] SCdF commented on #3944
Another option I thought of while running is still having two places where the logic is expressed, but both in webapp:
 - Upon a change listener document delete, delete any read documents for the doc you just deleted
 - Upon **boot**, work through a manual consolidation process where we check existing read docs against document ids.

The latter logic has a couple of levels of complexity we could g

[2017-10-10 11:48] SCdF commented on #3944
You could also potentially only run that sometimes (once a week or something). The major downside is that this gets worse and worse over time, especially if we ever add mark all as read.

[2017-10-10 12:23] SCdF commented on #3944
Post-run shower thoughts: no, what we discussed (in webapp in a changes listener, and in sentinel as a meta transition thing) is pretty much the right approach:
 - It's the most efficient of everything we've thought of
 - It is clearly sentinel's job, to clean up and modify data after the fact
 - If we drop sentinel ignoring deleted documents from its core loop (and move it into all the existing t

[2017-10-10 14:50] SCdF commented on #3818
I've closed the PR, it's no longer relevant. There are already tests covering the same thing.

Basically we now need to make a decision about whether, when more than one group falls within a silence window:
 - All groups within the silence window gets silenced (how master works right now)
 - Only the "first" (where first is the one the code gets to first) group gets silenced (how the code used to

[2017-10-10 15:43] abbyad commented on #3818
I'm all for option 1 (clear all groups within silence window) and can't see a reasonable case for 2, but open to chat about it if anyone feels differently.

[2017-10-10 16:21] SCdF commented on #3818
So Option 2 was _apparently_ intentional years ago, but there is little documentation on the reasoning: https://github.com/medic/medic-webapp/blob/master/Changes.md#0311

In any case, if we want to continue down route 1 a documentation PR is here: https://github.com/medic/medic-webapp/pull/3954

[2017-10-10 18:51] sglangevin commented on #3945
Working well on alpha.dev. I'm seeing some weirdness with one of the other configurable icons, but we'll have to come back and re-test this during release testing to make sure everything works as expected on upgrade from 2.13 to 2.14.

[2017-10-10 18:51] #3945 closed

[2017-10-10 21:34] sglangevin commented on #3725
@abbyad looks like we missed AT on this one during 2.13.0 testing. Can you confirm whether you saw this working?

[2017-10-10 22:00] garethbowen commented on #3588
moment.js 2.19.0 has been released with Bambara included - scheduling for 2.15.0.

[2017-10-11 00:29] garethbowen commented on #3818
Documentation looks good to me. I'll schedule this for 2.14.0. Thanks everyone.

[2017-10-11 08:43] SCdF commented on #3922
So back on this, I'm just hot patching the server. The actual change has been commited to the 2.8.x branch, so if we have to solve this and make a new 2.8.x release in the future this change will be kept.

[2017-10-11 08:44] SCdF commented on #3922
@henokgetachew over to you. You can just close it if you like, or if you want to wait for awhile to make sure you don't see 502s and then close it go for it

[2017-10-11 08:56] SCdF commented on #3818
AT: Making sure this actually works like we just documented in the above PR (as seen if you read release notes, or look at kanso configuration for the `silence_for` variable)

[2017-10-11 11:43] SCdF commented on #3950
Two PRs for you @garethbowen

[2017-10-11 11:45] henokgetachew commented on #3922
Closing this now.  I will reopen it if I see the issue surface again.

[2017-10-11 18:19] abbyad commented on #3725
I tested `multi_report_alerts` but not with 100 reports. I can AT this by next week.

[2017-10-11 18:28] abbyad commented on #3537
This should be revisited as part of AT for #3511

[2017-10-11 19:19] abbyad commented on #1860
Although there are some benefits to doing this it is not is not required by projects in the near term. We can re-open and schedule when required or we slot time for this as tech-debt.

cc @garethbowen, @sglangevin

[2017-10-11 19:19] #1860 closed

[2017-10-11 19:21] garethbowen commented on #3950
Both merged, and api bumped. Nice work!

[2017-10-11 19:23] garethbowen commented on #3950
For AT: run API for 24 hours and ensure the log doesn't say anything like "Schedule "..." completed successfully".

[2017-10-11 20:07] abbyad commented on #651
I was not able to get this to work, even with a simple config:

[code]

According to the old help test:

[2017-10-11 21:25] sglangevin commented on #3449
I'm not exactly sure what is expected here. I was able to successfully rename the `repeat-relevant` group to another name and the form works as expected. However, when trying to move everything into the same group so that there is one group containing the question "Do you want to register other family members" and the repeat group for registering in them, the form loaded but didn't create the chil

[2017-10-11 23:50] sglangevin commented on #3096
@alxndrsn I've uploaded the demo form to alpha.dev and tried it on v0.3.9 of the Android app. I see the widget that says "select file" but when I click on it, nothing happens. I'm not seeing any errors in the console either. Any idea what could be going on?

[2017-10-12 01:01] sglangevin opened #3956 "Add support for death reporting workflow"
This issue adds support for a death reporting and confirmation workflow involving CHWs and managers. We need to support reporting death as well as reversing a death.

The basic workflow for reporting a death is as follows:

- CHW reports a death in the community via SMS or an app form
- This death report triggers a task for the manager in the app OR sends her an SMS notification
- This task opens

[2017-10-12 03:39] garethbowen commented on #3944
Two PRs for review please @SCdF

For AT:

1. Log in as an offline user (non-admin) and mark a report read
2. Log in as an admin and mark the same report read
3. Record what the read status bubble says for each user (make sure it's at least 1!)
4. Delete the doc and wait for sentinel to process the change and replication to occur
5. Ensure the read status bubble still has the same number as in (3).

[2017-10-12 05:50] michaelkohn commented on #3423
In reference to https://github.com/medic/medic-webapp/issues/3944#issuecomment-335160042 , just want to make sure we'd still have access to the `-info` content in PostgreSQL (right now we are only replicating the `medic` database to PostgreSQL).

[2017-10-12 07:06] alxndrsn commented on #651
Could this just be implemented in a couch db `sms_received`?
[code]
Then when a message is received, hash it and check in the DB if an identical message has been received within a particular timeframe.

* If it's a recent duplicate, discard it.
* If it's a duplicate, but the previous message was outside the defined timeframe
  1. append the date to `dates_accepted_messages_were_received`
  2. proc

[2017-10-12 08:55] #3818 closed

[2017-10-12 10:02] garethbowen commented on #3898
I've confirmed this is an issue for us. For stability I'm going to turn this option off for this release and we can add it back when the PouchDB issue is resolved.

[2017-10-12 10:10] garethbowen commented on #3898
Code review please @alxndrsn

[2017-10-12 11:37] SCdF commented on #3944
Back to you, buckaroo

[2017-10-12 12:24] alxndrsn commented on #3898
I confirm this is reverted.

[2017-10-12 19:27] sglangevin commented on #3405
Working well in version 1.4.5.1133 of Collect using the demo form for date input. Moving to ready.

[2017-10-12 19:27] #3405 closed

[2017-10-12 21:23] sglangevin opened #3959 "Increase linkages between SMS reports and other docs to streamline analytics queries"
Currently, SMS reports have limited information attached to them as this can't be adjusted using config the way it can be for app forms. This causes challenges on the analytics side of things, resulting in complex queries or the inability to calculate certain metrics. This issue will add some linkages between SMS reports and other reports or docs in the DB to help streamline analytics queries.

NO

[2017-10-12 22:03] garethbowen opened #3960 "Find a better way to determine if a user is online-only"
Currently we check for `_admin` or `national_admin` roles. This has worked ok till now however it's inflexible and leads to hard to read code.

One solution is to have an "offline" permission which defaults to being checked for all roles other than `national_admin`.

Be sure to update all code that relies on this, including the `medic/online_user_settings_by_id` view.

[2017-10-12 22:07] garethbowen commented on #3944
Merged.

@SCdF I think I've made all the changes you requested - if I've missed anything let me know and I'll patch it straight into master.

[2017-10-12 23:45] sglangevin commented on #3449
@garethbowen or @alxndrsn can you help me understand what was expected here? I'm not sure whether or not this passed AT.

[2017-10-12 23:53] garethbowen commented on #3449
I guess make sure you can create forms that do what you needed repeat-relevant to do before.

[2017-10-12 23:59] sglangevin commented on #3449
Right, so the only improvement I saw here was that I don't have to call that group `repeat-relevant`, I can call it whatever I want. But the group still has to exist. So if that was the intention of this issue, it passes.

[2017-10-13 00:18] garethbowen commented on #3449
Sounds good to me!

[2017-10-13 00:19] #3449 closed

[2017-10-13 00:29] sglangevin opened #3961 "Minor updates to Enketo UI"
This issue updates the UI for Enketo forms on mobile and desktop. These are small tweaks for now and we hope to come back and make additional changes in the future. [Design spec](https://docs.google.com/document/d/1bnbQ17I9fq1ZRbu2v9otaRpUXn_7eODe7YTYzsXQoDg/edit).

**Update form header on desktop only**:
- [x] form title is 20px bold, in black
- [x] title is left-aligned, 20px from the left edge

[2017-10-13 04:52] ngaruko commented on #3950
LGTM

[2017-10-13 04:52] #3950 closed

[2017-10-13 17:16] sglangevin commented on #3944
AT is currently blocked because there isn't a successful build of master that includes this change and beta.dev is currently 502ing after an attempt to upgrade to 2.14.0-beta.1. Info on the medic-api error is in #support.

[2017-10-13 18:38] sglangevin commented on #3944
Ok, we got a green build in alpha and I was able to test. I have no bubble at all when logged in as a restricted user, so I can't determine what is happening there. For admin, I had 4 unread reports. I read one of them, bringing me to 3. Then I deleted the one I had just read and I ended up with 2 unread reports, even though I still have the 3 unread reports. Refreshing the page brought me back to

[2017-10-13 19:20] alxndrsn commented on #3624
I managed to eliminate the `dyn:evaluate()` call in the XSL file by assuming that XLSForm will always generate instances like this:
[code]

[2017-10-15 19:12] garethbowen opened #3963 "Production installation of api fails with missing dependency"
When upgrading beta.dev to 2.14.0-beta.1 it started throwing this error.

[code]

Upon investigation it was found that `npm install --production` doesn't install this module which is required by our production code.

beta.dev is running a pre-package-lock version of npm which may be the issue.

Apparently @derickl ran into this running in vmware too.

[2017-10-15 20:22] garethbowen commented on #3624
@SCdF I've done my code review - leaving assigned to you for the other part.

[2017-10-16 00:13] garethbowen commented on #3944
I've added a listener on the meta db which means admins will get their bubbles updated when their read documents are deleted not just on page refresh. There may be a little lag while sentinel processes the change.

I tried and it worked for me. It's probably because you already have deleted read reports in your read database. To test this delete your `medic-user-<username>-meta` database from your

[2017-10-16 00:13] garethbowen commented on #3944
Round two code review please @SCdF

[2017-10-16 01:31] ngaruko commented on #3898
Not sure if we should leave this open. Just as a reminder to turn the option back on when [pouchdb/pouchdb#6730](https://github.com/pouchdb/pouchdb/issues/6730) is fixed

[2017-10-16 01:34] garethbowen commented on #3963
What a complete mess this is...

I switched my local npm to a similar version as in production and couldn't quite replicate this issue but did find a reference to "buffer-shims" buried deep in the minified code of the `ajv` module. The relevant part of the dependency tree is...

[code]

In the package-lock we lock nano down to 6.4.0 which has a completely different dependency graph that doesn't in

[2017-10-16 01:39] garethbowen commented on #3963
Code review please @SCdF

[2017-10-16 01:41] garethbowen commented on #3898
@ngaruko If this has passed AT close it out. I'm watching the pouchdb issue and will create a new one once it's fixed and released.

[2017-10-16 07:37] #3898 closed

[2017-10-16 10:13] SCdF commented on #3944
LGTM, merged

[2017-10-16 10:17] SCdF commented on #3963
Yikes, what a fiasco. Thanks for looking into it.

Merged.

[2017-10-16 10:43] SCdF commented on #3624
LGTM

[2017-10-16 12:51] henokgetachew commented on #3940
I created the S3 folder for you but it looks like I don't have the permissions to create the user that will be accessing it.  That means I can't give you the access key ID and secret access key.
cc: @browndav

[2017-10-16 13:51] alxndrsn commented on #3096
Checking this...

[2017-10-16 13:51] #3941 closed

[2017-10-16 14:08] alxndrsn commented on #3096
@sglangevin works for me on Samsung J1 Mini; which handset are you having problems with?

[2017-10-16 14:21] alxndrsn commented on #3470
Fixed in 0.3.10.

[2017-10-16 14:21] #3470 closed

[2017-10-16 14:24] alxndrsn commented on #1345
If this means "writing tests for task and target configuration", perhaps @abbyad already has something covering this?

[2017-10-16 15:30] SCdF opened #3965 "Horticulturalist eb UI"
**Important**: This is a public repository. Anyone in the world can see what's posted here. If you are posting screenshots or log files, please **carefully examine them for** the presence of any kind of **protected health information** (PHI). Images or logs containing PHI _must_ be posted in fully-redacted form, with no visible PHI.

[2017-10-16 15:32] SCdF opened #3966 "Horticulturalist Web UI is slow to detect if this is a horticulturalist-enabled server"
Currently we have a default message saying that you're not running horticulturalist, and then once we've loaded the DDOC down and have learnt that you are running horti we update the page.

Instead, show a generic loading throbber and replace it with the correct view (text explanation saying you're not running horti, or the actual UI) once it's done.

[2017-10-16 15:37] SCdF opened #3967 "Horticulturalist Web UI drops the upgrading throbber once api has done its part instead of waiting until a new ddoc is ready"
When clicking upgrade we show an upgrade message and a loading throbber, and fire a request off to api to stage the new release for horticulturalist to pick up.

Currently once api returns we drop the throbber and go back to the upgrade page, with no indication of what's going on. However, the upgrade isn't complete until horti picks it up, kills api / sentinel, deploys, and starts api / sentinel

[2017-10-16 16:44] sglangevin commented on #3096
I tried on alpha.dev on Tecno Y4 and on an LG LS660, both Android 4.4.2 and Android app version 0.3.9. In both cases, no console error but clicking "Choose File" does nothing.

[2017-10-16 22:52] garethbowen commented on #3096
@sglangevin Have you looked in the android logs? It might be an issue on the app side.

[2017-10-16 22:53] garethbowen commented on #1345
@abbyad Is this something you could do?

[2017-10-16 23:19] abbyad commented on #1345
I can help write this but think we should wait until we've reviewed the tests to do so. We might refactor and have a bit more of a framework for tests by then.

[2017-10-17 00:34] garethbowen commented on #3721
This didn't make it in to 2.14.0 - moving to 2.15.0

[2017-10-17 00:34] garethbowen commented on #3943
This didn't make it in to 2.14.0 - moving to 2.15.0

[2017-10-17 05:50] alxndrsn commented on #3096
I'll test on 4.4.2 today.

[2017-10-17 16:49] amandacilek commented on #3943
@garethbowen @sglangevin @diannakane

Talked through these bubbles with Dianna last night and we had some thoughts:

In summary, bubbles should be there to direct our attention to things. After thinking on it some more we decided we might actually like to remove the bubble on the Reports page as there’s nothing there that _requires attention_. You can log into your newsfeed to see what’s up on Fac

[2017-10-17 16:54] amandacilek commented on #3943
We may explore a slightly different visual treatment of the bubbles to be implemented after the nav redesign. This might potentially include removing the number counts from the bubbles and just having the red dot to generally indicate items requiring attention on this page. Again, not decided on, but a potential. Given that and LOE with this, would we like to wait to add anything to the Tasks page

[2017-10-17 20:54] garethbowen commented on #3943
@amandacilek It looks like there is some discussion about wider design issues. @sglangevin and I agreed to bump this to 3.1.0 to give more time to complete the design.

[2017-10-17 23:03] sglangevin commented on #3624
Awesome, working well! Not sure if this was merged before 2.14.x was branched. If not, please backport. Moving to ready.

[2017-10-17 23:04] #3624 closed

[2017-10-17 23:08] sglangevin commented on #3944
LGTM. Moving to ready.

[2017-10-17 23:08] #3944 closed

[2017-10-17 23:21] sglangevin commented on #3096
I tested a snapshot apk on my Tecno Y4 and it was working well. This will need additional testing once the code is merged and a new version of medic-android is released.

[2017-10-18 03:31] garethbowen opened #3969 ""no more reports" shown just before reports load"
When loading reports on a slow device you see the spinner, then a "no more reports" message, followed by the reports list. The spinner should be shown until the reports are shown with no message in between.

This may also affect the messages and contacts tabs.

[2017-10-18 03:34] garethbowen commented on #3969
Code review please @SCdF

[2017-10-18 05:32] alxndrsn commented on #3624
Already backported 🙂

[2017-10-18 08:45] alxndrsn opened #3971 "Remove `/api/v1/messages` endpoint"
It is reportedly buggy, and unused: https://github.com/medic/medic-webapp/issues/3400

[2017-10-18 09:44] alxndrsn commented on #3096
* [ ] add maximum size attribute to file inputs in enketo forms (from xforms?  variable?  etc.)
* [ ] downsize big images in java before sending to the browser
* [ ] revert to upstream ImagePicker

[2017-10-18 10:19] garethbowen commented on #3588
Review please @SCdF

[2017-10-18 10:24] SCdF commented on #3969
LGTM, merged

[2017-10-18 11:06] SCdF commented on #3588
LGTM, merged.

[2017-10-18 17:55] garethbowen commented on #3936
We can use the latest round of imports to test this: medic/medic-projects#2935

[2017-10-18 19:26] abbyad opened #3973 "Value for db-doc attribute is case sensitive"
With #2912 we can now create a new doc with a report if a group has the attribute `db-doc="true"`. We can set this in XLSForm by having a `instance::db-doc` column, with the group's value set to `true`. However, **setting a field to `true` in Excel can get automatically converted to `TRUE`, which does not create the doc.**

To get it to stay lower case we should use `'true` in XLSForms.

We should

[2017-10-18 22:14] amandacilek commented on #3961
Note: After talking with Gareth, I've made a few updates to this spec.

Removed: Button styling. Will wait for nav update to change button styles globally.
Added: Small tweak to how we represent required fields (moving the asterisk).

[2017-10-18 22:41] garethbowen opened #3974 "Update enketo-core to latest"
It's got a couple of nice improvements but it also breaks a couple of things (select2, styling, etc).

[2017-10-18 23:01] garethbowen commented on #3974
This turned out to be a bug in select2 not enketo, so the update was no problem.

[2017-10-18 23:01] #3974 closed

[2017-10-19 07:43] alxndrsn commented on #2613
Re-investigate if we can store xwalk webview data on SD card...

[2017-10-19 08:13] alxndrsn opened #3976 "Touching sync status info in Hamburg menu closes the menu"
This is frustrating for already-frustrated users who think that touching this information might trigger synching.

cc @samkanga @smbuthia

[2017-10-19 08:19] alxndrsn opened #3977 "Improve sync status UI"
# Context

* resticted user
* chrome desktop
* connection throttled to 1kBps up and down

# Observed behaviour

* request to `_revs_diff` times out after 30s
* sync information in hotdog menu does not change from:

<img width="252" alt="screen shot 2017-10-19 at 11 15 16" src="https://user-images.githubusercontent.com/191496/31760887-d67d95a0-b4be-11e7-8d93-5e3aa0bb2da9.png">

# Expected behaviour

[2017-10-19 10:46] SCdF opened #3979 "Build conflict scripts to aid tech leads"
Initial stab here: https://github.com/medic/medic-webapp/tree/master/scripts/conflicts

Turns out it's much more complicated. What I want to do is outlined in the README.

[2017-10-19 12:19] SCdF commented on #3613
![image](https://user-images.githubusercontent.com/583851/31770506-1f943f80-b4d0-11e7-89f2-9ed24a387935.png)

[2017-10-19 14:19] henokgetachew commented on #3922
This is from a few minutes ago.  May be `else if (!changes)` doesn't trap every case that's happening?
[code]

[2017-10-19 14:40] SCdF commented on #3613
Location | Type | Change?
----|----|----
configuration_upgrade.html|relativeDate|no|
content_row_list_item.html|both|no|
header.html|relativeDate|I kind of think this should still be relative always
messages_list.html|relativeDate|no|
missed-appointments.html|relativeDate|no|
upcoming-appointments.html|relativeDate|no|
upcoming-due-dates.html|relativeDate|no|

So `relativeDay` is only used in one

[2017-10-19 15:47] cbrwizard commented on #3066
Hey, this seems to be fixed already on `master` branch.
<img width="953" alt="screen shot 2017-10-19 at 18 46 12" src="https://user-images.githubusercontent.com/1615659/31780244-d837fe0a-b4fd-11e7-96c6-652057be1887.png">

[2017-10-19 16:00] cbrwizard commented on #2079
Looks like by default 'Full access' users have some permissions unchecked on an almost clean system on `master`.
<img width="604" alt="screen shot 2017-10-19 at 18 50 15" src="https://user-images.githubusercontent.com/1615659/31780447-6dd0df68-b4fe-11e7-8408-a8d0a31d8d17.png">
Looks quite confusing. Is it intended? If so, should it be possible to check/uncheck them but not uncheck other permission

[2017-10-19 16:37] alxndrsn commented on #2079
Hi @cbrwizard!  As per your findings and the discussion above, these permissions boxes don't actually do anything for `full_access` users.  Fix is either to get rid of them, or set them all to be both `checked` and `disabled`.

[2017-10-19 20:09] garethbowen commented on #3066
Good spotting - this is a duplicate of #3904

[2017-10-19 20:09] #3066 closed

[2017-10-19 20:23] garethbowen commented on #3613
Back to you @SCdF

[2017-10-19 20:44] garethbowen commented on #2079
The user role formerly known as "full access" is for people who can access all docs, but not necessarily have all permissions so being able to remove permissions is actually correct in this case. I completely agree the name is misleading so I've updated it to "National manager - access to all docs". It's not a role we use much any more and the design team are currently going through a role and per

[2017-10-19 23:03] garethbowen opened #3983 "Spike: Deployment containerization"
Investigate and implement a containerization solution which means our stack can run safely on a range of OSes and multiple deployments can run on the same instance. The end result is to better support a project self-hosting the deployment, and to save money on deployment by combining some or all of our AWS instances.

One possible route is to use Docker but there are others out there so we need to

[2017-10-20 00:41] garethbowen commented on #3965
@SCdF I assume you created this by accident?

[2017-10-20 07:59] SCdF commented on #3965
lol, apparently!

[2017-10-20 07:59] #3965 closed

[2017-10-20 09:12] cbrwizard commented on #2079
@garethbowen gotcha.
I confirm that `can_create_people` and `can_create_places` permissions are not checked when creating persons/health centers (I assume they're people and places) for any - even not `full_access` - user. I've created a `Restricted to their place` user and was able to create those records both with those permissions checked and unchecked.

Unless this is urgent, I'd like to contr

[2017-10-20 10:57] SCdF opened #3985 "Null changes feed callbacks causing stack traces"
So sometimes we have null changes feed callbacks:
![image](https://user-images.githubusercontent.com/583851/31815737-8718bd4c-b585-11e7-9ec5-cee28749377b.png)

I'm not really sure why we'd have those, that seems weird to me.

However, there is code that looks like it's supposed to gate against null callbacks, so that implies it's an expected behavour.

However, that code looks like the opposite of

[2017-10-20 12:09] SCdF commented on #3613
Cool beans, I've used moment's locale stuff. If people want it configurable in the future we can add it, but if there is no call for it I'd rather not add more configuration for the sake of it.

Still interested in your thoughts about the two images I took above.

[2017-10-20 12:47] henokgetachew commented on #3922
Code change to fix this: https://github.com/medic/medic-api/commit/e69e629675778e367190c21b26b08269ad6260c0

[2017-10-20 12:47] #3922 closed

[2017-10-20 12:52] cbrwizard commented on #2498
Heya, I'd love to contribute but setting up the forms and tasks is kinda difficult. I'd love to see the tasks as described on this page https://docs.google.com/document/d/1UwSe8H3xykvOUwu65KxJYgBTxv40Y_9b3CPgRbcXOH0/edit#bookmark=id.ta51n5b830h. I've tried using the forms provided in a `demo-forms` folder, but I couldn't fill them in the Reports-Submit report, as there were no inputs displayed.
Wh

[2017-10-20 13:28] SCdF commented on #3924
Duplicate of #2498

[2017-10-20 13:28] #3924 closed

[2017-10-20 13:35] SCdF commented on #2498
@cbrwizard agreed forms and tasks are terrible externally. This is because historically these two items were partner specific (and so not available for public consumption).

The standard config you mention **is** something that we can expose externally, and is something we should definitely do, as noted in #3779

[2017-10-20 14:37] cbrwizard commented on #2753
Hey, here are some of my thoughts on solving this:
1. https://github.com/urish/angular-moment#am-time-ago-directive could've been used here. It auto-updates the time automagically and also accepts the [date format](https://github.com/urish/angular-moment#amdateformat-filter). A possible way to use it here would be to convert the `relativeDate` filter to a directive with a template and use that `am

[2017-10-20 15:24] cbrwizard commented on #2962
Renaming api endpoints would require opening pull requests for multiple projects simultaneously. [Check](https://github.com/search?l=&q=org%3Amedic+%22api%2Finfo%22&ref=advsearch&type=Code&utf8=%E2%9C%93) `api/info` usage for instance.

It will lead to errors if some pull requests are merged and some are left hanging. I'd solve it with this approach:

1. Open a pr for `medic-webapp` with renamed (

[2017-10-23 07:26] alxndrsn opened #3986 "If server is down, app cannot start"
# Observed

1. configure and log in to app on mobile, over local network (`192.168.…`)
2. close app
3. disable wifi on phone
4. enable 3g on phone

I _think_ this will reliably simulate what would happen if a server was down...

<img width="418" alt="screen shot 2017-10-23 at 10 25 00" src="https://user-images.githubusercontent.com/191496/31876744-7b990112-b7dc-11e7-91fb-634cf1db0fd0.png">

# Expe

[2017-10-23 08:46] garethbowen commented on #3985
Back to you @SCdF

[2017-10-23 08:46] garethbowen commented on #3985
This was likely introduced in https://github.com/medic/medic-webapp/commit/b44a03dccf07e29a9c2801bc7bc07203e16bfb30#diff-450479d3ef39b9bb6c6d393ab68cb33e

[2017-10-23 08:50] garethbowen commented on #3613
I'm fine with the images you took. It may look weird but it's more useful in that it won't become incorrect over time (until tomorrow). Approved and merged.

[2017-10-23 08:56] garethbowen commented on #2753
@cbrwizard The first option looks great, so long as we can get it to work with our custom styling (eg: full date shown in a tooltip on hover/touch). Let me know if I can help at all!

[2017-10-23 09:14] garethbowen commented on #2079
Merged.

[2017-10-23 10:09] SCdF commented on #3985
@garethbowen so the issue is here: https://github.com/medic/medic-webapp/commit/b44a03dccf07e29a9c2801bc7bc07203e16bfb30#diff-450479d3ef39b9bb6c6d393ab68cb33eL87

I remember seeing this when code reviewing, and I presumed because you explicitly changed it to this style that was intentional. However, it is causing this bug. Is just changing it back acceptable (see [PR](https://github.com/medic/medi

[2017-10-23 10:42] garethbowen commented on #3985
Yeah I don't know what I was thinking. The change looks good. Maybe add a unit test that exposes it so I don't do it again?

Feel free to merge and backport, thanks!

[2017-10-23 11:23] SCdF commented on #3985
Added a test. Merged, backported to 2.14.x

[2017-10-23 11:24] SCdF commented on #3985
AT: Performing actions that cause data to change (editing a document, sending a message) after navigating around tabs (ie registering and deregistering changes listeners) should not cause errors to be dumped in the logs.

[2017-10-23 17:54] alxndrsn opened #3988 "Account Switcher"
# Questions etc.

- [ ] users shouldn't have access to the login page after accounts have been set up
- [ ] users who don't have multiple accounts shouldn't see the account switcher options
- [ ] the above 2 are a bit of a catch-22
- [ ] if we're happy with the concept, how soon do we want/need this in production?

[2017-10-23 17:57] alxndrsn opened #3989 "Fontawesome appears not to load from cache"
When wifi goes down and I then switch account, app loads OK, but fontawesome does not.

If connection returns, sync restarts, but fontawesome never loads.

Phone: Samsung J1 Mini Prime

`manifest.appcache` contents:
[code]

[2017-10-23 18:01] alxndrsn commented on #3989
Could this be related to query strings?

<img width="761" alt="screen shot 2017-10-23 at 21 00 38" src="https://user-images.githubusercontent.com/191496/31904952-46bcf8f0-b835-11e7-9d4d-ef477fa93567.png">

[2017-10-23 18:04] garethbowen commented on #3989
@alxndrsn Yes that is what it'll be! We have [this patch](https://github.com/medic/medic-webapp/blob/master/patches/font-awesome-remove-version-attribute.patch) which is supposed to fix it.

[2017-10-23 18:04] garethbowen commented on #3989
@alxndrsn What instance is this on? alpha.dev?

[2017-10-23 18:05] alxndrsn commented on #3989
Local machine.  Patches may not have been applied(?)

[2017-10-23 18:11] garethbowen commented on #3989
Yeah that's my guess. Worth testing against a server though!

[2017-10-23 22:05] garethbowen commented on #3989
Yeah this is working on alpha.dev so my best guess is you didn't run the patches on your local deploy. If it happens again, reopen this issue!

[2017-10-23 22:05] #3989 closed

[2017-10-23 22:10] garethbowen commented on #3986
It's hard to tell but it looks like you were being redirected to the login page which should only happen if your session cookie timed out which shouldn't happen in production where we set a large timeout.

I'm wondering if the login screen should be appcached (maybe together or separately from the main app) so it can load even if you're offline. But maybe that's more annoying because you'll type i

[2017-10-24 00:26] garethbowen commented on #3986
Related: #1419

[2017-10-24 00:35] garethbowen commented on #3594
For the performance aspect of this, going to CSV also means we can easily implement a fully streaming solution so the number of rows can be unlimited without crashing API. For example...

1. Fetch the first 1000 rows
2. Respond with the header and the first 1000 rows
3. Fetch and respond with the next 1000 until there are none left
4. End the response

I think it would be ok to remove the other fo

[2017-10-24 07:40] alxndrsn commented on #3988
It sounds like for now it might be appropriate to enable login for these users.

[2017-10-24 11:43] alxndrsn commented on #3988
Proof of concept at:
* https://github.com/medic/medic-api/tree/account-switching
* https://github.com/medic/medic-webapp/tree/account-switching
* https://github.com/medic/medic-android/tree/account-switching

[2017-10-24 11:45] alxndrsn commented on #3988
Short term plan:
1. create new medic-android build for CHW supervisors with multiple accounts, returning an empty string for app_version
2. fix permissions for `can_logout` so that CHW supervisors can log out, but CHWs can't
3. implement account switching
4. allow configurable hierarchies and migrate affected projects

[2017-10-24 11:54] SCdF commented on #3594
Reading through this in detail, I don't think there has been any conclusion as yet. The last word is that @sglangevin likes @garethbowen's idea about exporting only the common columns, but it worried that it may not provide value based on how people use them. @ngamita was tagged in but hasn't responded.

I don't think we can move forward unless we know that the solution will actually work for part

[2017-10-24 11:54] SCdF commented on #3594
Blocked on @ngamita responding

[2017-10-24 12:38] ngamita commented on #3594
I do agree and support going with .csv. In addition, partners on a daily basis view reports in the Reports detail pane and do expect to see that data when doing further analysis. We don't need to download any fields that don't appear in the reports sections. I hope this helps in reducing what needs to be downloaded.

[2017-10-24 13:05] ngamita commented on #3594
The partners who pushed for this feature are OK with downloading each form type individually as it was before with v0.4. Adding PM cc @Maigua It's almost the same thing we do when we share the Postgres dumps with them . It's per individual form and they're ok with it.

[2017-10-24 13:12] SCdF commented on #3902
Over to you for a code review @alxndrsn

[2017-10-24 13:19] ngamita commented on #3594
I don't see any value in downloading multiple form types at the same time, to have them only return metadata, unless i speak to the PMs - i might be missing something. I would want us to give the partners what they asked for in downloading the same form types. cc @Maigua

[2017-10-24 13:27] cbrwizard commented on #2753
Thanks, @garethbowen! I think the only thing I could've used here is help with setting up Tasks to test the rendering locally. Tasks also use the `relativeDate` filter, so it makes sense refactoring their calls to it too.
Some steps required to create the Tasks from the clean db would be great. Or maybe you can give me a copy of a working full dev db?

[2017-10-24 14:17] SCdF commented on #3412
How do we determine if we are in a case-based workflow or a person-centered one? Should we just be doing this via a configurable transition, and so configurers make this call?

[2017-10-24 14:53] abbyad commented on #3412
I think the idea is that if a report has a `patient_id` field, and there is a person with that ID in the DB, then add the contact's UUID to the report doc. We then need some way to hydrate that doc where it is used, such as from SMS replies done with transitions.

[2017-10-24 20:45] garethbowen commented on #2753
@cbrwizard We have some documentation to help with [configuring Tasks](https://github.com/medic/medic-docs/blob/master/configuration/tasks.md). We're working on making a generic configuration that we can share publicly which will really help with this initial setup.

The absolute simplest possible Tasks configuration is something like...

[code]

This will emit one Task for each Contact in your da

[2017-10-25 01:16] garethbowen commented on #3359
This is the process I followed...

[code]

[2017-10-25 12:38] cbrwizard commented on #2753
Hey @garethbowen please help me out with this. Where do I run this code? I've figured that it's nools DSL. An idea which comes to mind is creating a js file with this contents, requiring `nools`, `Task`, then telling `nools` to compile the rules, then executing a file with Node... Looks quite complicated and I'm not sure that it will run. Please note that I don't have experience with CouchDB, so t

[2017-10-25 15:36] abbyad commented on #3412
Ideally we would access this from `patient_reports.messages` or `registrations.messages`, as shown in this example:
[code]

Note that this example uses a `bool_expr` field which does not yet exist for `messages`, but some equivalent would be needed as part of this user story.

[2017-10-25 22:13] garethbowen commented on #2753
@cbrwizard Sorry about that! That's the configuration that needs to be inserted into a specific point in our JSON settings. The easiest way to do this is to use Dashboard.

1. Go to `<host>/dashboard/_design/dashboard/_rewrite/settings#/apps`
2. Beside "medic" click "Settings"
3. Click "app settings"
4. Scroll way down to "Task Generation" and in the "rules" textarea enter the above config.
5. Scr

[2017-10-25 22:35] garethbowen commented on #3359
I merged this last night but immediately noticed I couldn't view the file histories in GH. The log in the CLI was complete so it looks like it's just a bug in the GH UI. FWIW the GH blame UI showed all the changes as expected. Stefan and I then force reverted the merge from master.

I've lodged a support request with GH to see if there's some way to show the history. Failing that I'll check with t

[2017-10-26 02:43] garethbowen commented on #651
@abbyad In your testing I assume the 'patient_id' was in the 'fields' property? eg:

[code]

The code currently only supports fields at the top level, not nested. I'm tempted to change the code so it uses `doc[fieldName] || doc.fields.[fieldName]`. This is a slight hack because it's hardcoding the `fields` bit, but this is by far the most common location for additional fields. Also this matches th

[2017-10-26 07:37] SCdF commented on #3359
FWIW I'm OK with it if there is no other way. It's a pita but like you say, blame still works, and local history still works

[2017-10-26 08:48] garethbowen commented on #3961
@amandacilek Can you show me an example of a nested header? I'm not sure what bit this applies to:

[2017-10-26 09:40] cbrwizard commented on #2753
Thanks, @garethbowen, that got me closer, hehe!

The issue now is with the Dashboard. I've followed this tutorial https://github.com/medic/medic-webapp#push-the-dashboard-optional but I wasn't able to change branch to `develop` as stated there. It seems to me that the tutorial is old as there is no `develop` branch anymore https://github.com/garden20/dashboard/branches/all.

Anyway, I've skipped i

[2017-10-26 10:02] garethbowen commented on #2753
@cbrwizard Ok, I'm not sure what's going on there but as you say we haven't had someone go through these steps in a while.

Instead you can modify the app_settings directly on the medic ddoc.

1. Go to futon (or fauxton if you're using couchdb 2)
2. Find the "medic" ddoc
3. Edit the ddoc and set `app_settings.tasks.rules` to the above block of code
4. Save the ddoc and wait for it to replicate to

[2017-10-26 16:36] amandacilek commented on #3961
@garethbowen Sharon wrote "nested header" but I think what we mean is these sub-headers here. Lots of forms don't have these sub-headers but some do.

![screen shot 2017-10-26 at 9 34 36 am](https://user-images.githubusercontent.com/26235957/32065279-21796328-ba31-11e7-9643-b674339c6676.png)

[2017-10-26 20:45] abbyad commented on #651
Yeah, that makes sense. That means the feature stopped working when we moved form fields from top level to inside `fields` years ago, right?

[2017-10-26 20:50] garethbowen commented on #651
That's right. It would still work for things like the form code but not for the form field, no.

[2017-10-26 22:00] garethbowen commented on #3961
Code review please @SCdF

[2017-10-26 22:03] garethbowen commented on #651
This also applies to the `unique` function...

[2017-10-26 23:33] garethbowen commented on #651
Code review please @SCdF . Let's not merge it until we decide on merging api and sentinel - just leave it assigned to me.

@abbyad It turns out my assessment was wrong and the `uniqueWithin` code was correct. The problem was the lucene request was failing silently. I'm not sure how long this has been broken.

[2017-10-27 08:24] SCdF commented on #3961
Nice one!

[2017-10-27 09:38] SCdF opened #3993 "Have horticulturalist pre-warm views"
We should update Horticulturalist so that it takes care of pre-warming views for us. This can be done transparently to users of the system, reducing deployment downtime.

Steps:
 - Remove DDOC extraction from api, and move it into horticultualist. Once it pulls a ddoc down as `medic:staged` it should also extract the other ddocs and name them similarly (ie `medic-cilent:staged` etc).
 - Go through

[2017-10-27 10:00] SCdF commented on #3993
My proposed solution:
 - One doc to orchestrate the deployment, e.g. `horticulturalist-deployment`. This document will be followable by watching the _changes feed.
 - Two buttons on the deploy page, "Stage" and "Deploy", with hover text (and ideally UI indicators like colour difference) explaining the difference between each.
 - Two API endpoints, `stage`, `deploy`

On the backend:
 - `stage` star

[2017-10-27 10:14] SCdF opened #3994 "You should see if there are view changes or migrations in new builds before deploying"
It would be really helpful if Horticulturalist could know if there are going to be migrations that will run, or views that will need to be rebuilt. This would be helpful for people who are deploying, to give an indication that staging / deploying this release may take some time.

Deployers could see this via display icons / indicators on the horti builds page against each release.

---

Once we dr

[2017-10-27 10:15] SCdF commented on #3994
@alxndrsn / @garethbowen interested in your thoughts on this, should we triage to 3.0? To some "post UI change" release?

[2017-10-27 10:19] SCdF opened #3995 "Allow people to see changes on the horti builds page"
It would be useful to programmatically link to the release notes on the builds page, either inline or as a link.

A really simple solution would be working out the [release URL](https://github.com/medic/medic-webapp/releases/tag/2.13.0) and proving a link to it.

Bonus: it renders it inline somehow.

Bonus: it works out the entire change log between what you have and what you're going to deploy.

[2017-10-27 10:19] SCdF commented on #3995
@alxndrsn / @garethbowen interested in your thoughts on this, should we triage to 3.0? To some "post UI change" release?

[2017-10-27 10:21] SCdF commented on #651
Back to you @garethbowen.

I don't want to derail solving this ticket, but I'm wondering if we want to consider scheduling in dropping lucene, and replacing it either with couchdb views, or with postgres (and an improved couch2pg that runs in realtime). We seem to use lucene in really weird ways that sound non-optimal for the problem it's supposed to solve (though I could be misjudging lucene here

[2017-10-27 11:08] Maigua commented on #3594
@ngamita the request from Strongminds was to have unlimited rows i.e go above the set limit of 1000 per export. Secondly, it is much easier for them to have all forms combined in one download as opposed to having individual forms per download. I also suggest that we only have the fields appearing in the reports as opposed to having information that will be 'useless' in the downloads.

[2017-10-27 11:57] SCdF commented on #3594
@Maigua this is helpful feedback, and we can definitely look at doing what @sglangevin talks about above, with only exporting fields that are viewable in the report detail view.

However, the core question I think we need to get straight before development is: is it acceptable / useful for csv exports that contain multiple reports, to only export data that is shared between those reports.

For exa

[2017-10-27 12:19] Maigua commented on #3594
@SCdF my suggestion would be (with all factors considered from a partner's view) we combine all the data in one as per the last diagram. This I see will be much easier to filter out and analyse the data the partner requires. I am not sure what confusion it will have as you highlighted.

The other close option would be to have the multiple CSVs in a zipped folder but if you asked me, it will be tas

[2017-10-29 09:38] garethbowen commented on #3994
It'd be easy enough to write a script which diffed the views and migrations between two git tags to generate this metadata automatically. You'd need to have the meta data for every release not just the latest release so you could sum the changes between the version they're on and the version they want to be on. For migrations it might be useful to have a list with the names of each one (or a user

[2017-10-29 10:04] garethbowen commented on #651
Yeah possibly. We actually have the `medic-client/reports_by_freetext` view which would probably work here, for example, it has keys like: `patient_id:51943`. I'll look into it...

[2017-10-29 23:22] garethbowen commented on #651
@SCdF I've updated the PR with a non-lucene approach. It's a little more fiddly but does mean we can remove lucene from sentinel altogether so overall is much better IMO. Please review again.

[2017-10-30 03:19] garethbowen commented on #3852
Closing as a configuration issue. Reopen the issue in medic-projects tagging the specific instance if it occurs again.

[2017-10-30 03:19] #3852 closed

[2017-10-30 03:26] garethbowen commented on #3355
Cannot reproduce.

[2017-10-30 03:26] #3355 closed

[2017-10-30 03:33] garethbowen commented on #2176
I've tested this and it's working for me. Reopen if it happens again.

[2017-10-30 03:33] #2176 closed

[2017-10-30 03:37] garethbowen commented on #3627
This probably also solves #1479 and #638

[2017-10-30 10:41] SCdF commented on #651
@garethbowen as discussed let's re-jig it a bit so it is a bit more optimal in getting full docs to avoid possible pathologic performance issues

[2017-10-30 21:46] ngaruko commented on #3509
re: #3996

[2017-10-30 21:46] #3509 closed

[2017-10-30 21:47] ngaruko commented on #3739
Re: #3996

[2017-10-30 21:47] ngaruko commented on #3744
re: #3996

[2017-10-30 21:48] ngaruko commented on #3842
Re: #3996

[2017-10-30 21:59] sglangevin commented on #3961
I'll come back to this during AT, but the "nested headers" come from nested groups in the XLSform. The top-level group corresponds to section title in the mock-up and the nested group corresponds to the section subtitle in the mock-up.

[2017-10-30 22:00] sglangevin commented on #3973
I'll add this to the 2.13 release notes for now.

[2017-10-30 22:11] amandacilek opened #3997 "Adjust the buffer space around RHS header icons"
A few tweaks to make the layout of large 60 x 60 icons and text in the RHS more consistent between pages.

**On People page:**
- [x] Move the top person/place icon to the left, _decreasing_ the gap between the icon bounding box and the card edge from 20px to 10px.
- [ ] The text to the right of the icon (person's name, HoH) should start 75px from the card edge
![screen shot 2017-10-30 at 3 07 16 p

[2017-10-30 22:41] sglangevin commented on #3096
@alxndrsn what's the status on this one? is it far enough along that i can re-test on y4?

[2017-10-30 22:47] sglangevin commented on #3594
I think if we are going to allow users to download multiple form types, we should include all fields from all forms. Perhaps we can have a naming convention for the columns to help differentiate which columns are for which form? Something like [form_name]_[field_name] just to make it very explicit.

I do like the idea of a zipped folder with multiple CSVs but then it would be a pain to put all of

[2017-10-30 22:52] garethbowen commented on #651
@SCdF Re-re-jigged - please re-re-review!

[2017-10-31 11:31] cbrwizard commented on #2753
@garethbowen I did as you told, but on the Tasks page when logged in not as admin the tasks could not be fetched for some reason, so I've decided to skip this. In my case, the tests were enough, imo.
I've opened a pull request, feel free to check it out when you have time! https://github.com/medic/medic-webapp/pull/3998

[2017-10-31 17:14] SCdF commented on #3412
@garethbowen please check out the PR. There is one bit of refactoring I wanted to do, but it was getting complicated enough so let's go for a partial review! Each commit in the PR is probably readable on its own, or you can read them together

[2017-10-31 21:14] sglangevin commented on #3985
@ngaruko what is the status of AT on this issue?

[2017-10-31 21:14] sglangevin commented on #3963
@ngaruko what is the status of AT on this issue?

[2017-10-31 21:14] sglangevin commented on #3804
@abbyad what is the status of AT on this issue?

[2017-10-31 21:16] sglangevin commented on #3511
@abbyad per your comment, this is supposed to be released with 2.14.0. What is the status of AT?

[2017-10-31 21:35] #3588 closed

[2017-10-31 21:52] sglangevin opened #4000 "Update styling for tasks due today"
If a task is due today, the word "Today" on the right-hand side of the task list should be bold and blue (#007DC7) per the mock-ups below.

### Single task
![today](https://user-images.githubusercontent.com/1286381/32250761-fc5bc9f0-be4a-11e7-82b8-c6020d014856.png)

### Task list
![tasks-duetoday](https://user-images.githubusercontent.com/1286381/32250763-fd9e6e30-be4a-11e7-8ee2-03c546ee31af.png)

[2017-10-31 21:53] garethbowen commented on #651
Merged manually.