[2020-05-06 04:03] garethbowen commented on #6291
@michaelkohn @abbyad @benkags Ready for AT in `6291-case-id`. This PR also fixes #6356 and #6149 so test those at the same time!

This was a reasonably large rework so there's some additional configuration required, and the reports created with the previous version of this branch probably won't work 100% - I suggest you start with a fresh case registration.

In addition to the above the latest ver

[2020-05-06 04:59] dianabarsan commented on #4839
@ngaruko yes, admins are allowed to see aggregate targets as well.

[2020-05-06 05:12] ngaruko commented on #4839
LGTM then @dianabarsan .
Please feel free to merge and close.

[2020-05-06 05:13] ngaruko commented on #4840
Tested along with #4839 - LGTM @dianabarsan .
Please feel free to merge and close.

[2020-05-06 07:12] brad1905 opened #6404 "User name autofilled with "medic""
Form to add new user has user name autofilled

1. Log in to App management as user "medic"
2. Click "Users"
3. Click "Add User"
4. User name is autofilled with "medic"

**Expected behavior**
The User name field should be blank when adding a new user.

[2020-05-06 07:31] kitsao commented on #6394
@garethbowen the screenshots look great! Looking forward to testing. cc @antonykhaemba @SMurithi @PhilipNgari

[2020-05-06 08:06] dianabarsan commented on #6125
I would suggest you create a schedule that would add multiple schedule messages in the current week and an SMS form with a registration that generates these messages,  then just spam the  Admin -> SMS -> Test Message with that form.

I'll update this post with a sample config shortly.

[2020-05-06 08:33] dianabarsan commented on #6125
Also, if you create  > 1000 scheduled tasks, it would process only 1000 per run.

[2020-05-06 09:41] garethbowen opened #6406 "Release 3.8.2"
# Planning

- [x] Create an [organisation wide project](https://github.com/orgs/medic/projects?query=is%3Aopen+sort%3Aname-asc) and add this issue to it.
- [x] Add all the issues to be worked on to the project.

# Development

When development is ready to begin one of the engineers should be nominated as a Release Manager. They will be responsible for making sure the following tasks are completed

[2020-05-06 09:46] garethbowen commented on #6394
Ready for AT on `6394-restructure-html-to-match-add-report-menu`

[2020-05-06 09:48] derickl commented on #6401
For our case, users will never create that place type from the UI. It'll be created via integrations hence the need to hide its create action.

[2020-05-06 09:49] garethbowen commented on #6401
Right, so if we added a configurable permission and you didn't give that permission to any role (except admin who has all permissions) that'd work for your use case?

[2020-05-06 09:52] derickl commented on #6401
@garethbowen
RE: https://github.com/medic/cht-core/issues/6401#issuecomment-624301664
Using the properties json file that we use in Forms would work.

RE:https://github.com/medic/cht-core/issues/6401#issuecomment-624549552
When you say admin, are you referring to the user admin or full access users? It it's the former, it could work. If the latter, not.

[2020-05-06 09:53] garethbowen commented on #6401
The couchdb admin, which on 2.x was called `admin` and now is called `medic` by convention.

[2020-05-06 09:58] derickl commented on #6401
That would work for the exact problem we have unless new requirements invalidate it. Would we have leeway to add more than one type of permission? Or is this solution mean to have one extra permission as a stop gap?

[2020-05-06 10:03] garethbowen commented on #6401
I'm not sure what this means.

The feature I'm proposing would mean if a user does not have the permission to complete a form then that form should not be shown in the menu. I believe this already works for Report forms, we just need to implement it the same way for Contact forms. I like this solution because it's useful for other use cases too.

[2020-05-06 13:05] dianabarsan commented on #4840
Merged.

[2020-05-06 13:05] #4840 closed

[2020-05-06 13:05] dianabarsan commented on #4839
Merged.

[2020-05-06 13:05] #4839 closed

[2020-05-06 14:04] abbyad commented on #6401
This sounds as though with this issue we'll be able to add the permissions directly to the form's doc in the short term, and that soon after (if not immediately) we'll also make adjustments to medic-conf to use properties files for all Contact forms too. Just highlighting that for consistency we'll want to consider consolidating how form title translations are done between the two types, which is

[2020-05-06 14:25] SCdF commented on #5048
Answered-ish here: https://github.com/pouchdb/pouchdb/issues/802#issuecomment-624680630

[2020-05-06 14:42] newtewt commented on #6394
I have tested this using the browser's(chrome, firefox) device scaling and went well under 400 px and seeing it work. I've also tested on my pixel 2 and kyocera phones I have but neither have dimensions under 400. This is working as expected in those conditions.

[2020-05-06 14:56] MaxDiz opened #6407 "Automated CHW performance data and trend monitoring with task follow-up to Supervisor"
**Is your feature request related to a problem? Please describe.**
As a CHW Supervisor, I want a more proactive way to monitor the performance of CHW's under my supervision, so I can identify performance challenges early and intervene by providing targeted support.

**Describe the solution you'd like**
Automated monitoring of aggregate data and trends for CHW key performance indicators that, when

[2020-05-06 15:17] SCdF commented on #6306
@brad1905 back to AT! In addition to other AT notes:
 - Outbound messages should only send once, per record / config combination, regardless of later edits

[2020-05-06 15:20] SCdF commented on #6116
FYI back on it

[2020-05-06 16:14] benkags opened #6409 "Ability to manage SMS notifications and schedules from app contacts forms."
**Is your feature request related to a problem? Please describe.**
There is no known way AFAIK to generate notifications, create and clear schedules when a contact is created in the app(using the contact forms). We can manage schedules using app form report submissions much as we can with the TextForms. What we are not able to do create SMS notification and schedules when a contact is created in t

[2020-05-06 16:56] newtewt commented on #6125
This is working now as expected, seeing the batched amounts go out. @dianabarsan  feel free to merge and close.

[2020-05-06 16:58] dianabarsan commented on #6125
Merged.

[2020-05-06 16:58] #6125 closed

[2020-05-06 16:59] SCdF commented on #6306
Actually hold off on that: I'm not sure, pending a response from @derickl, that we can move forward with this plan

[2020-05-06 16:59] abbyad commented on #6182
Bringing in notes from discussion with @garethbowen. It appears that the need for XLSForm types for each db-object type is not needed. The only reason it is used now is to [inform the search in the Enketo widget](https://github.com/medic/cht-core/blob/2c1db1618bdafc5ec14c3a27aa4a37249fcc1b4a/webapp/src/js/enketo/widgets/db-object-widget.js#L64-L76).

Current db-object fields could instead be of ty

[2020-05-06 17:40] newtewt commented on #6356
@garethbowen  can we close this one out?

[2020-05-06 17:44] kennsippell opened #6410 "Ability to customize icons shown on main tabs (contact, tasks, etc)"
**What feature do you want to improve?**
The icon displayed on each of the main tabs (Messaging, Contacts, Tasks, Analytics, etc.) is not currently configurable.  In cases where users have <400px screen width, the text is hidden and only the icon appears so for some users, this icon may be the only descriptor they get about the purpose of that tab. It is therefore important that the tab be context

[2020-05-06 18:04] brad1905 opened #6412 "Error parsing JSON"
I see this frequently, doesn't appear to be breaking anything as far as I can tell... previously I have seen  "Unexpected token T in JSON at position 0"

feedback doc:
[code]
Does anyone know why this happens and if it has any adverse impact?

[2020-05-06 18:15] SCdF commented on #6162
We are having heaps of trouble reproducing this because it is challenging to get the logs off the android app, since Chromium no longer attaches its debugger properly and a very clever hack by Diana around using feedback docs isn't accurate enough to catch the log.

I'm going to have a think and see if there is another way we can AT this, but we may just say that because the act of saving reports

[2020-05-06 18:32] dianabarsan commented on #6162
I managed to replicate this this morning by submitting a form and then immediately submitting a bug report. The resulting "feedback" doc contained the error in the logs.

[2020-05-06 19:31] abbyad commented on #6409
Can you provide more info on why this is not working? This seems to be the cleanest option, and from my understanding _should_ work. If you share your config or an example I can also explore further.

[2020-05-06 19:43] MaxDiz commented on #6330
Hi @Maigua clarifying a few things about current message syncing functionality:
- when a message is sent, it goes out immediately
- incoming messages could take as long as 5 minutes to arrive, but could sync sooner
- a user can manually sync (in the hamburger menu) which will push/pull messages immediately

It seems like these options should answer immediate project needs. Can you please clarify t

[2020-05-06 19:47] MaxDiz commented on #6410
After conversation with @abbyad , reluctantly adding this issue to 3.8.2 to meet immediate partner expectations.

[2020-05-06 19:54] abbyad commented on #6410
I am not certain yet that it needs to be added to 3.8.2 yet, but is being prioritized to figure out how to best deal with a deployment where this has become a blocker.

[2020-05-06 20:29] dianabarsan commented on #6412
Is it maybe possible you're hitting `ngrok`s request/min limit and you're getting something that is not json when you're actually requesting json?
Are you seeing similar errors when not tunneling?

[2020-05-06 20:34] dianabarsan commented on #6404
Is it possible your browser just autocompletes because you saved these credentials? Can you try in an incognito window or another browser?

[2020-05-06 22:54] garethbowen commented on #6394
Merged into `master` for release in 3.9.0. We can backport to a patch release later if needed.

[2020-05-06 22:54] #6394 closed

[2020-05-06 22:56] MaxDiz commented on #6352
This issue remains a priority for v3.10. Relevant discussion here: https://medic.slack.com/archives/C3TJFFKK7/p1588706985024100. @derickl please add Palladium feedback as well, so we can make sure we are addressing all related needs in this ticket.

[2020-05-06 23:00] garethbowen commented on #6356
@newtewt The PR also fixes 2 other issues so I don't want to merge until those have passed AT.

[2020-05-06 23:01] garethbowen commented on #6162
Another option would be to install an old version of Chrome/Chromium and connect that to the device.

[2020-05-06 23:04] garethbowen commented on #6412
Alternatively it could be a session timeout redirecting the request to the login page.

[2020-05-06 23:05] garethbowen commented on #6404
I've noticed the same thing with the password field. We should be able to make sure these fields do not autocomplete with the right combination of attributes.

[2020-05-06 23:13] garethbowen commented on #5902
Ready for AT on `5902-dont-replicate-feedback`

[2020-05-06 23:15] garethbowen commented on #6182
We should probably think about changing the name from `db-object` to `contact-search` or something to make it clear it is only designed to work with contacts.

[2020-05-07 00:22] brad1905 commented on #6149
AT passed, ready to merge

[2020-05-07 00:23] brad1905 commented on #6334
AT passed, ready to merge

[2020-05-07 00:44] abbyad commented on #6182
Ya, good idea. If we are changing the name I'll throw `select-contact` into the ring!

[2020-05-07 00:51] garethbowen commented on #6149
NB: This is waiting on #6291 to pass AT before merge.

[2020-05-07 06:40] benkags commented on #6409
Thanks, @abbyad. I was also expecting it to work. Can you tell what's not right with this [xls](https://drive.google.com/file/d/1JssU6DewaDuj5I0Bbl3z5VolgqPmrIDx/view?usp=sharing) that I used?

I'd also proved some more detail in the linked issue

[2020-05-07 07:29] dianabarsan commented on #6162
I believe the problem is Chrome removing an old deprecated feature (https://developer.mozilla.org/en-US/docs/Web/API/Document/registerElement) that's used by the old inspector script. (If you open devtools in that blank debugger page, you can see an error about `registerElement` not being defined).

I had this idea that extensions might be loaded on that page, so we could leverage those and inject

[2020-05-07 07:59] dianabarsan commented on #6181
For AT:
Task documents should be purged when they are in a terminal state ('Cancelled', 'Completed', 'Failed') 60 days after their end date.
Target documents should be purged when they are older than 6 months.

[2020-05-07 10:20] benkags commented on #6330
@Max, to respond to your last question.
The heart of this project is the messaging. In fact, the system is named 2wt for 2-way texting.

Here is a user story that may be helpful.

You are right, manually syncing after every few seconds to check if a client has responded will work but it is not the best experience for this user. It is more of a workaround than a solution.

[2020-05-07 13:52] MaxDiz commented on #6330
Understood and thanks for the clarification. Product team resources are focused on immediate Covid response needs currently. The workaround seems manageable for project requirements (though not ideal). This issue will not be prioritized for the current release cycle. Appreciate your understanding.

[2020-05-07 14:04] abbyad commented on #6409
Looking at the [additional doc documentation](https://github.com/medic/medic-docs/blob/264e57adcce9c6c269eb31be9ffcaa18350e42bb/configuration/forms.md#creating-additional-docs), it appears that creating additional docs is only for App forms. This would be in line with [how it was designed](https://github.com/medic/cht-core/issues/2912), which was to create Contacts from Reports, and not the other

[2020-05-07 16:02] dianabarsan commented on #6334
This was only partially a duplicate of https://github.com/medic/cht-core/issues/6149, so not resolved by its fix.
The remaining part (the request to update older reports when patient_id is generated on a contact) is probably a duplicate of https://github.com/medic/cht-core/issues/6383 .

[2020-05-07 17:03] MaxDiz commented on #5775
This feature has been requested by a few partners recently. Adding to v3.10 release to start design. If ready in time, eng can pick up, but it should not be a blocker for the release.

[2020-05-07 17:17] MaxDiz commented on #4771
This issue has been added to 3.10 to fulfill contractual obligations. It needs additional scoping to clarify requirements from project deployment and R&L team perspectives. If ready in time, eng can pick up, but it should not be a blocker for the release.

assigning myself to continue scoping

[2020-05-07 17:38] newtewt commented on #6209
@dianabarsan  I've found an issue with using a function for the Date. I'm using the default config and the target `births-this-month`. If the `date_of_birth` is the first of the month. The target never seems to show. Whether I set my date to last month or later this month. If it's not the first of the month it seems to work.

[2020-05-07 17:58] dianabarsan commented on #6209
@newtewt that sounds like a different issue but I'll look into it.
Can you please share your exact config for the target?

[2020-05-07 17:59] newtewt commented on #6209
[code]

[2020-05-07 19:55] garethbowen commented on #6410
Dropping from 3.8.2 as that release has been stopped for now. Please reach out to product-management on Slack or comment here to discuss prioritising this.

[2020-05-07 20:17] abbyad opened #6415 "Missing translation: `state.duplicated`"
**Describe the bug**
Missing translation for `state.duplicate`, so the key appears in the app for messages on reports.

**To Reproduce**
You can try to get this state to occur on a report's messages, but simpler to just look for the translation in the App Management page.
1. Go to **App Management** page
1. Click on **Display** and then go to **Translations** tab
1. Search for `state.duplicate`
1.

[2020-05-07 22:21] garethbowen commented on #6415
This was removed on Feb 10 in this commit: https://github.com/medic/cht-core/commit/86e62d66be8a0bba15e675f88e59463f3d48e471

[2020-05-07 22:46] garethbowen commented on #6406
3.8.2 has been halted in favour of focussing on 3.9.0

[2020-05-07 22:46] #6406 closed

[2020-05-07 22:51] garethbowen commented on #6162
In the meantime I believe AT can continue on this issue using the [feedback doc trick](https://github.com/medic/cht-core/issues/6162#issuecomment-624816917) Diana mentioned above.

[2020-05-08 00:42] abbyad commented on #6415
Could you tell why that happened? Was it overwritten accidentally because it wasn't in POEditor so the alphabetised export didn't include it?

[2020-05-08 01:49] abbyad commented on #6291
I did a walkthrough of a case-based workflow to give it a test run, and it is working really nicely! Case reports were seen on the submitter's place, and were cleared by SMS like patient reports.

We'll post more about the config as part of the feature education, but in the meantime here are some snippets that may prove useful for others exploring the feature:

<details>
 <summary>Case Reports</su

[2020-05-08 02:03] abbyad commented on #6291
In app_settings.json there is the `accept_patient_reports` transition which is configured in the `patient_reports` section. For case reports we have a `case_reports` transition, and the `case_reports` section. I like that the section name matches the transition name, but think it would be easier for app builders if it was consistent across both since these transitions are conceptually similar and

[2020-05-08 02:30] garethbowen commented on #6415
It's possible the translations were imported to POE as part of the pre-release process, then the key was added, then they were exported from POE just before release. Release documentation: https://github.com/medic/cht-core/blob/master/.github/ISSUE_TEMPLATE/z_release_major.md

Maybe we should document that immediately before exporting you should import again to make sure none are missed.

[2020-05-08 07:22] dianabarsan commented on #6209
@newtewt This is happening on `master` as well, so might be considered a separate issue, as it's affecting targets calculation in general, not just when reporting intervals turn over.

I can fix it on the same branch and up to you if you want to submit a separate issue or keep it within this.

[2020-05-08 09:32] dianabarsan commented on #6209
@newtewt I pushed a change on `6209-recalculate-targets` that fixes this bug - it was caused by our date comparison not being inclusive.
The birth date was calculated on 1st at midnight, which was also the start of the reporting interval.

[2020-05-08 12:57] peter-ochieng commented on #5804
@SCdF Could you have a look?the raised issues were fixed and I worked with @garethbowen to fix the styling issues as well.
Thanks

[2020-05-08 14:09] dianabarsan opened #6417 "As an offline user, submitting a report without a subject throws an error"
**Describe the bug**
When Rules-Engine is enabled, we listen to changes and assume that every report should have a subject.
Submitting a report without a subject results in this error:
![image](https://user-images.githubusercontent.com/35681649/81413461-22783000-914e-11ea-8151-12a2af5ce5e8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Add a subject-less form to your server (you can pi

[2020-05-08 14:27] derickl commented on #6306
@SCdF

Just had a chat with @kitsao and we can work around the limitation of sending once.

[2020-05-08 14:42] abbyad commented on #6409
Re option 1:

From my test I also got a `messages.generic.registration_not_found` error. It appears that this was not working because the report was saving the new person's UUID as `patient_id` instead of `patient_uuid`, and so the patient could not be found. **Changing it to save the UUID as `patient_uuid` generates schedules**. This may affect the reports in other ways, so it may need to be upda

[2020-05-08 15:14] abbyad commented on #6291
Note for AT that `case_id` generation will occur even when `case_reports` transition is disabled. Using the following transitions will still generate the `case_id` and schedule seen in the screenshot below.

[code]

![image](https://user-images.githubusercontent.com/789512/81418669-08712a00-911b-11ea-8e7d-f20b46ff4b0f.png)

@garethbowen, this makes me lean towards naming the `case_reports` transit

[2020-05-08 17:00] newtewt commented on #6209
I'm seeing this work as expected. On the interval change the previous doc is getting updated. Also the fix for the 1st of the month date report is there as well.  Feel free to close and merge @dianabarsan

[2020-05-08 18:06] abbyad commented on #6415
Works well! Passes AT, ready to merge.

#### Before and After
<div>
<img src="https://user-images.githubusercontent.com/789512/81434542-4fb7e480-9134-11ea-812b-6512b2c09dbb.png" width=45%>
<img src="https://user-images.githubusercontent.com/789512/81434548-5181a800-9134-11ea-97de-47857ac596f1.png" width=45%>
</div>
<br>
The missing `case_id` translation is expected, given that the separate branche

[2020-05-10 21:24] ngaruko commented on #6181
LGTM @dianabarsan Ready to merge

[2020-05-10 22:06] garethbowen commented on #6306
Great - moving back to AT.

[2020-05-10 22:14] garethbowen commented on #6291
Updated transition name from `case_reports` to `accept_case_reports`.

[2020-05-10 22:19] garethbowen commented on #6415
Merged.

[2020-05-10 22:19] #6415 closed

[2020-05-11 07:12] dianabarsan commented on #6181
Merged.

[2020-05-11 07:12] #6181 closed

[2020-05-11 08:22] ngaruko commented on #6286
LGTM - Pinging @benkags to have a go at it and see if that's what he expect before closing this off.

[2020-05-11 10:14] dianabarsan commented on #6209
Merged.

[2020-05-11 10:14] #6209 closed

[2020-05-11 11:31] SCdF commented on #5804
@peter-ochieng I think we've cracked it!

AFAICT this works on Chromium and Firefox on desktop, as well as the Y4 and Moto G4.

Side note: I've noticed that the tecno y4 has a rendering issue where it shows a small black line, but it's also present on master, so :shrug:. Putting it here in case @garethbowen you think it's worth raising something over (imo it's not: esp since it's hard to debug tha

[2020-05-11 15:12] SCdF commented on #6162
After far too much faffing around I managed to reproduce this. No more log, everything else worked for me AFAICT. Back to you @dianabarsan to merge!

[2020-05-11 15:34] SCdF commented on #6306
OK I've fixed the merge conflicts and the latest build should now be testable, cc. @brad1905

[2020-05-11 15:55] newtewt commented on #5902
I think this is working as expected. I did find one scenario where if you were to replicate a feedback doc on one device. Then log in another device before the replication occurs it would pull down the doc. However, it eventually was purged locally from both instances. I don't think we should handle this case but I'll leave it up to you to decide.

[2020-05-11 16:08] peter-ochieng commented on #5804
Merged to master

[2020-05-11 16:08] #5804 closed

[2020-05-11 17:38] dianabarsan commented on #5902
@newtewt that behavior is expected and can't be prevented, unfortunately, without introducing some kind of filter (which we can't do because https://github.com/medic/cht-core/issues/5902#issuecomment-623368269) . If it was purged locally in the end, I'm satisfied :)

[2020-05-11 17:41] dianabarsan commented on #6162
Merged

[2020-05-11 17:41] #6162 closed

[2020-05-11 17:49] dianabarsan commented on #5902
Merged.

[2020-05-11 17:49] #5902 closed

[2020-05-11 19:06] kennsippell commented on #6390
To clarify - I didn't ask for this to be deprioritised. Rather, I proposed bumping this from v3.10 to allow for a faster release timing since affected projects have a workaround. This seemed to be the lowest priority of the issues in the v3.10 release at the time, but please indicate otherwise if you feel this should be prioritised in our v3.10 covid release.

[2020-05-11 22:34] garethbowen commented on #6390
That's what deprioritising means.

[2020-05-11 22:48] garethbowen commented on #6389
Read for AT in `6389-dedupe-tasks`. Test #6417 at the same time.

[2020-05-11 22:48] garethbowen commented on #6417
Read for AT in `6389-dedupe-tasks`. Test #6389 at the same time.

[2020-05-11 23:48] garethbowen opened #6418 "Release 3.10.0"
# Planning

- [x] Create an [organisation wide project](https://github.com/orgs/medic/projects?query=is%3Aopen+sort%3Aname-asc) and add this issue to it. We use [semver](http://semver.org) so if there are breaking changes increment the major, otherwise if there are new features increment the minor, otherwise increment the service pack. Breaking changes in our case relate to updated software requir

[2020-05-12 02:30] garethbowen commented on #3538
Cannot reproduce:

[code]

Please reopen with reproduction steps if it doesn't work for you.

[2020-05-12 02:30] #3538 closed

[2020-05-12 03:25] garethbowen commented on #6182
Example error output:

[code]

[2020-05-12 06:29] dianabarsan commented on #6389
This is going to be a lot harder to replicate because we now sync immediately when local changes happen.

[2020-05-12 08:01] SCdF opened #6419 "Allow you to configure outbound to send the same record multiple times"
**What feature do you want to improve?**
Prior to 3.9, every time a document changed (either by a human or programmatically, including by sentinel itself) and it passed a `relevant_to` function, an outbound push was queued, unless one was already queued. Every 5 minutes or so, sentinel's scheduler would pick up these queued outbound tasks and executed them.

In [3.9.0](#6312) we added an [optimisa

[2020-05-12 08:03] SCdF commented on #6312
Upgrade note draft for #6306:

Outbound push's push logic has changed: now an outbound push **only sent once per record / config combination**. Specifically: the first time your `relevant_to` function resolves to `true` is the first and only time a particular record will be send to a configured external service. This is to ensure that pushes are stable and predictable, and additional pushes are no

[2020-05-12 08:13] SCdF opened #6420 "Move to ESLint 7"
https://eslint.org/blog/2020/05/eslint-v7.0.0-released

We should move to this once we no longer need to support Node 8.x.

[2020-05-12 13:12] dianabarsan opened #6421 "Db-doc doesn't allow unallocated data_records"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Enable an offline user to be allowed to view unallocated data records (config + permission)
2. Create a public SMS form and send this form from an unknown phone number
3. As the offline user, attempt to access the resulting doc with a direct request: `<host>/medic/<doc_id>`
4. Get a forbidden result

**Expected behavior**
Y

[2020-05-12 13:49] abbyad commented on #6312
Looks good, thanks for clarifying.

There is a missing word in the first sentence (`outbound push **IS** only sent`) and "record / config combination" may be unclear -- perhaps clearer to say that "each configured outbound push will be sent only once per doc."

The rest of the explanation is perfect as is!

[2020-05-12 15:17] benkags commented on #6286
LGTM.
Thanks everyone!

[2020-05-12 17:23] dianabarsan commented on #6286
Merged.

[2020-05-12 17:23] #6286 closed

[2020-05-12 19:18] garethbowen commented on #6291
For AT make sure that tasks can be configured to be created and resolved based on case registration and signoff reports respectively. It may be that this won't work due to the reports not being patient related.

[2020-05-12 20:34] ngaruko commented on #6356
I have been seeing a weird behaviour with just one report and the search field . The report is one of the test/demo data loaded by ` medic-conf csv-to-docs upload-docs `. In the search, if one type the surname/last name, the report shows in the search. However, if the first name is used, no result shows. It seems to happen only on this particular report.
Steps to reproduce -
1 - Launch `medic` on

[2020-05-13 01:22] ngaruko opened #6424 "Search by first name does not filter report"
**Describe the bug**
The report is one of the test/demo data loaded by `medic-conf csv-to-docs upload-docs`. In the search, if one type the surname/last name, the report shows in the search. However, if the first name is used, no result shows. It seems to happen only on this particular report.

**To Reproduce**
1 - Launch medic on local host
2 - upload test data (`csv-to-docs upload-docs`)
3 - one

[2020-05-13 01:27] garethbowen commented on #6291
I've patched the PR to enable generating and resolving tasks - please reinstall to test the latest version. There's a related issue ( https://github.com/medic/medic-conf/issues/325 ) causing errors on task generation. To get around it use the `325-handle-unknown-contact` branch of medic-conf (which you could AT at the same time if you choose!).

[2020-05-13 01:39] garethbowen commented on #6424
I think this is because the report has a field with "Adriana Akiyama". That is what is used for the search terms. We don't search over the contact name. If you search for "adri" it works as expected. It's just a bit of weird data making it look wrong.

We could either change the data to not use the same names as much, or we make this a feature request for the freetext search to query the contact n

[2020-05-13 06:34] dianabarsan opened #6425 "Support resolving tasks concerning unknown contacts"
**Describe the bug**
We can no longer rely on `action.modifyContent` to inject contact information into reports generated by task actions.
This causes tasks that are about unknown contacts to generate reports that are unattached (are missing their subject).
This workflow is used where supervisors with replication depth receive `needs_signoff` reports about patients they can't see.

**To Reproduce*

[2020-05-13 07:06] dianabarsan commented on #6421
Ready for AT on `6421-db-doc-unallocated`

[2020-05-13 08:06] SCdF commented on #6312
Cool, updated

[2020-05-13 08:39] dianabarsan commented on #6425
This is considered a blocker for upgrading existing projects which rely on this working. Some of these projects are required to upgrade to 3.9 to access other new features, like DHIS2 itegration.

Bumping this to High Priority and scheduling for 3.9.

[2020-05-13 13:41] SCdF opened #6426 "Streamline infodoc writes to remove potential for conflicts"
Over time out use of infodocs has grown. They used to just be written to by the transition handler. Then api started to write to them preemptively on every doc write. Then transitions were split between "sync" and "async" transitions. Then outbound started storing data in them and writing to them from a couple of places.

It's getting complicated.

We should drop all places where we `db.sentinel.p

[2020-05-13 16:22] SCdF commented on #6306
OK here are the complete AT instructions:
 - outbound pushes should send (or attempt to send) immediately. This will not create a task but it should update their `-info` doc in the same way that the tasks currently do when they successfully complete
 - if they fail for any way (bad config, bad conversion, server is down or times out etc) the transition will succeed and move on to process other doc

[2020-05-13 20:12] newtewt commented on #6291
@garethbowen  can you expand on this part? I'm not real sure if all reports that have that case_id should move there or specific reports or there is a config to do that?

[2020-05-13 20:33] kennsippell commented on #6352
Bara, can you clarify this comment?

Who exactly is "them" in that comment. Are you saying User 1 should be able to "submit a report about [a person in user 2's place]"?

[2020-05-13 20:50] newtewt opened #6428 "UUID is shown instead of patient name."
**Describe the bug**
Reports are showing the UUID when submitted via SMS. This should show the name.

**To Reproduce**
Steps to reproduce the behavior:
1.  Submit an SMS report that has no patient assigned. I used the case_id workflow
2. Sync the report to the user that submitted the report
3. Navigate to that users place.
4. The report displays the UUID but is associated to the right place.

**Ex

[2020-05-13 21:17] newtewt commented on #6291
@garethbowen  After our chat, this is what I'm seeing when sending a follow up SMS with the case_id.

I created a hierarchy like this

Health Facility 1 --> Tom's Area -->
                           --> Till's Area -->  Bilbo's HouseHould

My original SMS case_id report was submitted using Till's phone number.  I think followed up with an SMS confirmation report from Tom's phone number. The second

[2020-05-13 21:18] senseibara commented on #6352
That's correct. Right now with Replication depth 1, User 1  will see the place of user 2 but not people/persons created on that place. Ideally we should be able to see these people/persons and submit a report about them that will get replicated to user 2 account, but without seeing reports submitted by user 2 for these people/persons at his level.

[2020-05-13 21:57] garethbowen commented on #6425
Ready for AT in `6425-suportt-clearing-tasks-from-unknown-contacts`

[2020-05-13 22:07] abbyad commented on #6379
Added to Implementing Partner's backlog as well, since hosting in Europe or in country is required for a partner looking to use RapidPro with the CHT, ideally by June 1st. They can use TextIt while in testing and training phases only, and need to make sure that no patient data is stored in other countries while in production.

[2020-05-13 22:46] garethbowen commented on #6291
@newtewt Can I have a look at the second report? I'm particularly interested in if it has a `place_uuid` (which should be set by the `accept_case_reports` transition), a `place_id`, or a `patient_id`.

[2020-05-13 22:59] ngaruko commented on #6417
LGTM
**_Master_**
![image](https://user-images.githubusercontent.com/6979995/81873545-15d15d00-95d0-11ea-8ee2-3aad0e944168.png)

_**Branch**_

![image](https://user-images.githubusercontent.com/6979995/81874089-44036c80-95d1-11ea-8d14-28620324abb3.png)

There is a `file too large` error that I think could be handled a little gracefully, but I assume this is a different thing and since this is a de

[2020-05-13 23:03] garethbowen commented on #6417
@ngaruko Yeah that is a different issue. Please raise a new issue for it!

[2020-05-13 23:15] garethbowen commented on #6182
The pyxform tests are failing but it looks like they fail on `master` too so I'm ignoring them...

[2020-05-14 03:01] kennsippell commented on #6352
Awesome! As @senseibara describes it, this issue is very useful for addressing the scaling needs of our MSF-Niger covid response and should remain in 3.10.

It would be nice to have somebody confirm the feasibility of this feature request from the product perspective.

[2020-05-14 04:11] ngaruko opened #6430 "File Too Large Error not handled properly"
**Describe the bug**
When loading a 'large size'  image  , an error message is displayed but there is no indication of what size is acceptable - just in case the user has to adjust the size of the image.
**To Reproduce**
Steps to reproduce the behavior:
1. Add a image-related form to your server (you can pick one from demo-forms, eg photos-on-android)
2 . Login as an offline user.
3. Try  to submi

[2020-05-14 04:43] dianabarsan commented on #6425
@derickl @kennsippell Would you mind checking if this meets your needs for the projects that are blocked? Thanks!

[2020-05-14 07:08] SCdF opened #6431 "Write transitions to the `transition` parameter of the `-info` doc in all cases the transition is run"
**What feature do you want to improve?**
We have a log of transitions that have run on documents, stored at `infoDoc.transitions`.

**Describe the improvement you'd like**
Currently it only adds a transition to the log if that transitions `onMatch` function returns `true`. Some don't however, because this boolean does double duty: it also indicates that the transition edited the document and so th

[2020-05-14 07:12] dianabarsan commented on #6431
If the `onMatch` does double duty and also works as a `filter` (when filtering requires async operations), maybe we should just go with the 1st idea of returning 2 things.

[2020-05-14 07:13] SCdF commented on #6431
Yeah that is a good point. We have mused about dropping filter altogether, since it's not very flexible. Could do both here.

[2020-05-14 18:46] newtewt commented on #6291
@garethbowen  I'm seeing something a little off with tasks when I submit via an eketo form.

When I view the household I see 4 tasks generated. 2 with the names of the contact and 2 blank. When viewing the tasks tab I only see 2 blank tasks.

![image](https://user-images.githubusercontent.com/10531066/81973010-7e7d0180-95f1-11ea-982e-cf6625e00d0d.png)

![image](https://user-images.githubuserconten

[2020-05-14 20:16] MaxDiz commented on #6001
Related https://github.com/medic/cht-core/issues/6158

[2020-05-14 20:17] dianabarsan commented on #6291
It looks like @newtewt has a case of a duplicate (triplicate) task problem. This is probably something different and related to task generation.

[2020-05-14 21:39] MaxDiz commented on #6410
removing 'covid' label since this no longer seems to be a blocker for the deployment

[2020-05-15 10:38] dianabarsan commented on #6291
Good news, everyone!
I managed to replicate the duplicate task issue that @newtnewt ran into yesterday. It's contained within this PR's code and is a side-effect of indexing reports by `place_uuid` in `reports_by_subject`.

To replicate:
1. have a xform that you can submit at place level (@newtnewt used the "ON" form from `config/standard` and updated the properties so it can be submitted at place

[2020-05-15 14:19] abbyad commented on #6410
I believe this is still required for the deployment to switch back to a release. @SMurithi, @derickl, can one of you please confirm, and work to get this scheduled with @n-orlowski?

[2020-05-17 21:11] ngaruko commented on #6291
Thanks @dianabarsan and @newtewt . I think we could push this back into `In Progress` for visibility... and someone will look at it! Right @garethbowen ?

[2020-05-17 21:55] garethbowen opened #6433 "Infinite spinners when loading tabs as admin"
**Describe the bug**
As admin when accessing data we request it from the server. If the server is down the spinner keeps spinning forever with no indication that the request failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the webapp as admin
2. Take the server down (alternatively go offline).
3. Click on the Contacts tab
4. Note that the spinner never goes away.

**Expected

[2020-05-18 13:21] newtewt commented on #6291
@abbyad when I submit a report that triggers schedules for parent and grandparent I have noticed there is some odd mapping. If I submit from any level from Household down it maps the parent as the district_hospital and the grand parent as the sender of the report. @dianabarsan  has found the cause of this. We are not sure if this is an issue that would be an impact to these workflows. Are you able

[2020-05-18 20:12] brad1905 commented on #6306
AT has passed for desktop browser and Android app and this is ready to be merged

[2020-05-18 20:37] garethbowen commented on #6182
Ready for AT in `6182-pyxform-configurable-hierarchy-support`.

pyxform didn't end up changing at all. Once you install this branch, read the [documentation change](https://github.com/medic/medic-docs/pull/219) and reconfigure forms to use the new type and appearance. Make sure the old way works for the hardcoded hierarchies, and the new way works. Make sure you can specify 0, 1, or many types (as

[2020-05-18 20:47] brad1905 opened #6435 "Age displayed as 0 or blank despite valid age entered"
New person added to household shows blank in Age field instead of displaying a valid age.

Steps to reproduce the behavior:
1. click People tab
2. Select Health Facility
3. Select Area
4. Select Household
5. Click New person
6. Enter valid Full name
7. click checkbox Date of birth unknown
8. Enter years 33
9. Select Female
10. Enter valid Phone Number
11. Select Role Patient
12. Click Submit
13. P

[2020-05-19 02:47] ngaruko commented on #6421
LGTM.
Feel free to merge this @dianabarsan .

[2020-05-19 07:15] dianabarsan commented on #6421
Merged.

[2020-05-19 07:15] #6421 closed

[2020-05-19 09:58] #6306 closed

[2020-05-19 12:23] dianabarsan opened #6436 "Handle CouchDB view queries with include docs and deletions errors"
**Describe the bug**
There's a race condition in CouchDB when you request a view with `include_docs`.
If a document that's part of a result in deleted while the view request is active, it *will* show up as a result, but the `doc` will be null.
This causes a bunch of errors if we don't account for this situation.

This pops up a lot in e2e tests where we add some docs, checks some things and immedi

[2020-05-19 15:45] newtewt commented on #6389
I can no longer reproduce the issue described above. Disabling the network and try also to no avail. I'm seeing tasks cleared when the sync occurs on both browsers. Tasks are clearing appropriately as well. I don't see duplicates in the couchdb either. I think we can close and merge both related tasks @dianabarsan

[2020-05-19 15:57] newtewt commented on #6223
@brad1905 @SCdF  does this need re-tested after changes to #6306 or can we close? The branch this was in has been merged.

[2020-05-19 16:07] SCdF commented on #6223
@newtewt it's probably fine, but if you've got the time it might be worth retesting since this code did move around a bit.

[2020-05-19 16:24] dianabarsan commented on #6389
@newtewt I can prepare 2 custom builds for you, a `master` version that removes the instant sync and the my proposed version that removes the instant sync, if you'd like to compare the two.

[2020-05-19 16:27] newtewt commented on #6389
I think disabling the network in your branch is enough to disable instant sync right?  By not being able to reproduce the issue. I was able to before applying your branch and after I could no longer(fixed). My initial comment wasn't very clear.

[2020-05-19 16:27] dianabarsan commented on #6389
I just thought of another way of simulating. Change your users so they can't edit (set the `can_edit` permission to false, to stop the upwards sync), create the report on the server, sync down on 2 clients. they will both generate tasks, just not upload them. Change permission so they `can_edit` and have them both sync u twice. Maybe that will get both of them to upload and generate tasks and then

[2020-05-19 16:28] dianabarsan commented on #6389
Ah cool! :D I completely misunderstood. If the tasks got duplicated. there should be duplicates in CouchDB though.

[2020-05-19 16:54] dianabarsan commented on #6389
Merged.

[2020-05-19 16:54] #6389 closed

[2020-05-19 16:54] dianabarsan commented on #6417
Merged.

[2020-05-19 16:54] #6417 closed

[2020-05-19 17:51] newtewt commented on #6223
@SCdF  I did a quick check on this. There is no warning in the log about deleting tasks when none exists and I saw an invalid task get deleted when there was one.

[2020-05-19 17:55] abbyad commented on #6291
That means that you couldn't use `parent` or `grandparent` correctly, right? I imagine we'd want to map those correctly as they are commonly used in SMS workflows.

[2020-05-19 18:55] Marina-Kenf opened #6437 "Possibility of using config locally without being oblige to use serveo?"
**Describe the issue**
Trying to work on config on my local machine through docker.
I went through theses steps: https://github.com/medic/cht-core/blob/master/INSTALL.md.
Localhost available but unable to login due to service-worker error "`Loading error, please check your connection`" && "`Error bootstrapping DOMException: Failed to register a ServiceWorker for scope ('https://localhost/') with s

[2020-05-19 18:58] dianabarsan commented on #6291
The reason the mapping fails is because we forcefully map `parent` to the `health-center` for backwards compatibility here: https://github.com/medic/cht-core/blob/master/shared-libs/message-utils/src/index.js#L162

[2020-05-19 19:02] garethbowen commented on #6437
You should be able to access http://localhost (NB: without the "s" on the "http") without serveo as long as you're just using it locally. Browsers have an exception to the https requirement for "localhost" access.

You need to use serveo or ngrok if you want to connect your phone to your computer because then you're using an IP not "localhost". We haven't yet come up with a solution to work around

[2020-05-19 21:22] abbyad commented on #6291
Ah, thanks @dianabarsan. I hadn't realized that parent and grandparent weren't working in a generic way. That doesn't seem like a blocker then.

[2020-05-19 21:46] garethbowen commented on #6437
Probably a duplicate of #6168

[2020-05-19 21:55] garethbowen commented on #6291
I can't find any documentation for values for recipients but looking at [the code](https://github.com/medic/cht-core/blob/e431ebce16bfe00f93c9f9adc597c8fd723f1634/shared-libs/message-utils/src/index.js#L82) I think you want to specify something like `ancestor:<type>` to send it to a specific level of the hierarchy.

I think this is a separate issue that potentially affects all message sending. Ple

[2020-05-20 03:25] garethbowen commented on #5960
Similar: #6398

[2020-05-20 08:45] dianabarsan commented on #6339
Ready for AT on `6339-contacts-by-phone-api`

[2020-05-20 08:46] SCdF commented on #6223
Great, thanks @newtewt !

[2020-05-20 08:46] #6223 closed

[2020-05-20 09:20] Marina-Kenf commented on #6437
Thanks @garethbowen for you reply.
I can instead access https://localhost.
- In chrome login to the config as admin is successful but generates the error mentioned above for a chw account. Only serveo is able to connect the chw.
- In Mozilla, I had the same issues but when I cleared the cookies, login worked for both admin and Chw profiles.

[2020-05-20 13:57] dianabarsan commented on #6352
@kennsippell

Are we discussing device-level scaling or server-level scaling? Is it so User1 doesn't generate tasks for User2's reports? ( we don't pass the user object to tasks, right? we have no way of filtering tasks by the user's roles. )

Because of how we do doc authorization, off the top of my head, we'd still need to get the list of all reports submitted under every level the user has acce

[2020-05-20 15:07] Marina-Kenf commented on #6437
Closing ticket and conversation moved to #6168.

[2020-05-20 15:07] #6437 closed

[2020-05-20 15:36] kennsippell commented on #6168
@herbertUG Is this something you're still working on? Any updates here?

[2020-05-20 18:39] garethbowen commented on #6398
Closing as a duplicate of #6398

[2020-05-20 18:39] #6398 closed

[2020-05-20 18:42] garethbowen opened #6439 "Auth service unit test is flaky"
One of the Auth unit tests fails from time to time on travis.

[code]

and

[code]

[2020-05-20 18:42] garethbowen commented on #5960
I split the Auth failure off as its own issue: #6439

[2020-05-20 18:43] garethbowen commented on #5960
@dianabarsan I think this can now be closed, unless there was something else you wanted to do with it?

[2020-05-20 19:29] dianabarsan commented on #5960
Yup, happy to close!

[2020-05-20 19:29] #5960 closed

[2020-05-20 19:58] kennsippell commented on #6352
@dianabarsan

Unsure if this is what you're asking, but we [pass the user object](https://github.com/medic/cht-core/blob/master/shared-libs/rules-engine/src/rules-emitter.js#L48) as a global into nools. So tasks can have `appliesIf: () => user.roles.blah`.

This is for device-level scaling. @senseibara Can you work with Diana to clarify needs?

[2020-05-20 21:09] MaxDiz commented on #6401
This issue was raised as a usability issue during MoH Ke deployment testing. It's not a blocker for the deployment, but the team feels that the workaround is not ideal (UX-wise). Adding to the next roadmap planning meeting for discussion.

[2020-05-20 21:33] MaxDiz commented on #6410
Confirmed that this issue is still a high priority for the MoH Ke deployment. Adding to the next roadmap planning discussion

[2020-05-21 06:56] dianabarsan opened #6440 "Sentinel will skip changes entirely in certain conditions"
**Describe the bug**
These are, in fact, two bugs.

First bug is: if sentinel receives lots of changes in one tick, it will queue up multiple handlers of these changes in the event loop. They're synchronous and they'll be executed in one tick.
If, while executing, we're passing the imposed (100) sentinel change queue limit, we cancel the changesFeed - over and over - without null checking. This th

[2020-05-21 13:19] MaxDiz commented on #6312
We setup a new subcategory on the CHT Forum to announce releases. Can we change the second to last bullet point to say "....under the Product - Releases category."?

https://forum.communityhealthtoolkit.org/c/product/releases/26

[2020-05-21 14:54] newtewt opened #6442 "Change is lost if you immediately edit a newly created person"
**Describe the bug**
Creating a new person and then immediately editing seems to discard the change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new person with no phone number when logged in as an offline user.
2. Quickly click edit once you submit the create form.
3. Add a phone number using the edit form and submit
4. You see the phone number on the contact. It refreshes and

[2020-05-21 14:56] dianabarsan commented on #6442
Can you check if the doc has a conflict?

[2020-05-21 14:57] dianabarsan commented on #6442
I'm guessing that, because we're uploading immediately, the doc is picked up to generate a patient_id and is colliding with your second change.

[2020-05-21 16:04] MaxDiz commented on #6312
Please also add me as a reviewer of the blog post

[2020-05-21 18:27] IreneAchola opened #6444 "Support submission of forms for places in SMS"
**What feature do you want to improve?**
Creation of places was recently introduced in SMS. Households can now be created and new patients added in their respective households, however, SMS does not support submission of other forms for these places e.g. household_visit,off/muting forms.

**Describe the improvement you'd like**
To be able to submit forms (acceptable reports) for places. (place-cen

[2020-05-21 19:53] ranjuts commented on #6396
I started this spreadsheet to keep track of requests but there are many unknowns. https://docs.google.com/spreadsheets/d/1AXvteiBp--OpuUdz4PuuKPyaKMY-yKvHgvcgHUOx8uE/edit#gid=0

[2020-05-21 20:56] helizabetholsen commented on #5993
Checking in on the follow-up conversation referenced by @yembrick and @MaxDiz re: overlap between R&L telemetry analysis and proposed metrics and product team exploration / use of telemetry data. This could be something for us to discuss @garethbowen during our call early next week.

[2020-05-21 21:03] MaxDiz commented on #6444
may be related to: https://github.com/medic/cht-core/issues/6409

[2020-05-21 22:23] garethbowen commented on #6440
Ready for AT in `6440-fix-sentinel-queue`

[2020-05-21 22:29] garethbowen commented on #6291
Ready for AT again.

[2020-05-21 22:46] n-orlowski commented on #5775
Hi team,

See below for the explorations of this issue with annotations outlining the potential options for the People tab and variations of the Household and Individual pages looking at placement of icons, continuity, visual language and user friendliness.

<img width="1401" alt="Exploration" src="https://user-images.githubusercontent.com/59581790/82612874-d16a3200-9b78-11ea-8376-dde169f3a5b4.png

[2020-05-22 12:40] mmureithi commented on #5775
![image](https://user-images.githubusercontent.com/36505554/82667392-726ff000-9c40-11ea-9310-bae2e390950b.png)

Have we considered placing the icon in the biodata section as above in the household's and person's profile page?

@n-orlowski

[2020-05-22 15:25] n-orlowski commented on #5775
@mmureithi Yes, something we considered but felt like having two prominent icons in this section might be unclear and break the design on smaller screens (if you are talking about putting it with the HH name). I also thought about including the 2 icons in the people list and decided against it due to the real estate they would take up in a single row (then followed this thought process onto the ot

[2020-05-22 16:24] abbyad commented on #6379
Testing [our hosted instance](https://github.com/medic/medic-infrastructure/issues/171) and it _looks_ good, but not fully functional.

I was able to create an account, but could not create a [new Flow](https://rapidpro.dev.medicmobile.org/flow/).

![image](https://user-images.githubusercontent.com/789512/82688383-cd94e900-9c26-11ea-9c13-febfbfe2af29.png)

I also could not [import existing flows](

[2020-05-22 18:24] ecsalomon commented on #5775
@n-orlowski Thanks for putting together these designs. I really like how this is looking. I love the cleaned up look of the `Icon right` option but think the MVP with `Icon left` is also looking good.

I agree with your concerns about the `Dropdown` option introducing confusion about selecting the HH page vs dropping down, and I think @helizabetholsen would agree that we don't want to demote the i

[2020-05-23 02:54] helizabetholsen commented on #5775
Thanks for flagging, @ecsalomon. This is correct, I think we need to be thinking more about risk communication at the household scale, as well as the individual. For example, in the context of our equity lens work entire households might exhibit risk factors related to increased vulnerability to a) contracting COVID-19 or b) facing disruptions to PHC as a result of COVID-19.

When we are using mea

[2020-05-25 21:30] garethbowen commented on #6094
Ready for AT in `6094-configurable-duplicates`.
[Documentation PR](https://github.com/medic/medic-docs/pull/224).

[2020-05-26 00:07] garethbowen commented on #5706
Moved to 3.12.0 to free up resource to work on 3.11.0.

[2020-05-26 00:07] garethbowen commented on #5708
Moved to 3.12.0 to free up resource to work on 3.11.0.

[2020-05-26 00:08] garethbowen commented on #5903
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:08] garethbowen commented on #6026
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:08] garethbowen commented on #6100
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:08] garethbowen commented on #5950
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:09] garethbowen commented on #5468
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:09] garethbowen commented on #6299
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:10] garethbowen commented on #5905
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:10] garethbowen commented on #5769
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:10] garethbowen commented on #5697
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:10] garethbowen commented on #5710
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:10] garethbowen commented on #4902
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:11] garethbowen commented on #6139
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:11] garethbowen commented on #6130
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:11] garethbowen commented on #5794
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:11] garethbowen commented on #6168
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:12] garethbowen commented on #5636
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:12] garethbowen commented on #6213
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:12] garethbowen commented on #6262
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:12] garethbowen commented on #6302
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:12] garethbowen commented on #6028
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #6327
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #6345
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #5969
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #4386
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #6387
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 00:13] garethbowen commented on #6390
Moved to 3.12.0 to free up engineers to work on 3.11.0.

[2020-05-26 07:06] kennsippell opened #6446 "Outbound - Support for capturing mappings via javascript modules"
**What feature do you want to improve?**
Outbound Push

**Describe the improvement you'd like**
For the Goma project, one potential architecture we have considered involves many outbound push configurations - possibly ~25 separate outbound push configurations. The resulting system seems quite verbose and stringy. When integrations start to get complex, it would be so really helpful to have reusabl

[2020-05-26 09:23] kennsippell commented on #6349
I have been unable to create a flow which updates a contact's URN - this is necessary for scenarios like updating a contact's phone number. I can use an "add URN" node to give a contact multiple phone numbers, but I can't figure out how to remove the old value. Any suggestions here?

[2020-05-26 11:04] SCdF opened #6447 "Upgrade UI only considers *.app.medicmobile.org as "production""
In production instances we only show supported upgrades, i.e. real releases.

In every other instance we also show upgrades to betas and branches.

We do this by reading the URL. Which worked fine in the old days, but now lots are self hosting you could argue this isn't correct.

We should either:
 - be OK with self hosting installing arbitrary things, but probably add a clear warning that release

[2020-05-26 11:06] SCdF commented on #6447
Unsure if this is a [bug or an improvement](https://s3.amazonaws.com/neowin/forum/uploads/post-48-1086855312.jpg). I feel like the first option is an improvement, and the second option is a bug. YMMV.

[2020-05-26 14:25] newtewt commented on #6291
I think this is ready to merge. Not sure who's going to handle that @garethbowen  @dianabarsan.  I've re-ran through the test cases described in QA channel along with Diana's reproduction steps. Also tried with self reporting on too. It is working as expected. Can close #6149  and #6356 as well.

[2020-05-26 17:06] MaxDiz commented on #4771
From discussion with @ecsalomon and @sacul-git , R&L minimum requirement is to create a feature MVP that does not need to be completely re-engineered to be able to incorporate:

- Individualized targets for activities CHWs undertake (ie targets irrespective of hierarchy)
- Calculate targets dynamically from a function, using internal + external data sources (gps, epidemiological models, etc). May

[2020-05-26 20:53] garethbowen commented on #6447
I'm calling this a bug as it's not working as expected.

[2020-05-26 21:06] garethbowen commented on #6291
Merged!

[2020-05-26 21:06] #6291 closed

[2020-05-26 21:06] garethbowen commented on #6356
Merged.

[2020-05-26 21:06] #6356 closed

[2020-05-26 21:06] garethbowen commented on #6149
Merged.

[2020-05-26 21:06] #6149 closed

[2020-05-26 21:24] helizabetholsen commented on #6354
Thanks for flagging this ticket for me @garethbowen. In follow-up to our conversation with @yembrick today, I wanted to add that I'd be interested in a number of metrics related to sync times - average # of times a CHW syncs per month, amount of time it takes per sync, and the % of CHWs who do not sync at all in a given month.

More broadly, I wanted to flag a few additional telemetry-derived metr

[2020-05-26 23:12] garethbowen commented on #6349
@abbyad Can you provide Kenn more information on your workaround?

[2020-05-27 02:06] abbyad commented on #6349
To avoid modifying the URL you need to do everything within a flow, and as Kenn pointed out you can add a URN, and update a contact, but you can't remove a URN directly from within a Flow. To do that it seems as though you need to edit the contact via the API.

@kennsippell can you test using a webhook to RapidPro from within a Flow? That may be the easiest way to manage this, and would have the a

[2020-05-27 03:50] n-orlowski commented on #5775
Thanks for the feedback, team! Looking at this issue with these new considerations we have come up with the following:

<img width="1200" alt="Screen Shot 2020-05-26 at 8 43 40 PM" src="https://user-images.githubusercontent.com/59581790/82975565-ae34ed80-9f91-11ea-99ad-cf58ba073aca.png">

Reducing the visual noise here by removing the family icons in the people tab as well as creating "Risk" cards

[2020-05-27 12:30] SCdF commented on #5214
I haven't seen this in a very long time, so I'm going to close it. If anyone reproduces it feel free to reopen

[2020-05-27 12:30] #5214 closed

[2020-05-27 13:35] abbyad commented on #4902
Changing the backlog this is in since it primarily serves App Builders, who can more easily use the SMS features out of the box once we namespace the `tag=hidden` properly.

[2020-05-27 19:35] dianabarsan commented on #6440
Just an addendum as @newtewt found another issue (bug3):

To replicate, follow the same steps as to reproduce bug2, but increase the number of contacts to 300 and brick the settings soon after your upload is done (no need to wait for the log entry).
Same as before, if the bug exists, there should be contacts without `patient_id` when sentinel has "apparently" finished.
If you restart sentinel, you

[2020-05-27 19:38] newtewt commented on #6440
I uploaded a bunch of data using medic-conf. Recreated the issue in master and now with the latest change it is working fine. I can't get the first error to occur either. @dianabarsan  feel free to close.

[2020-05-27 23:24] n-orlowski commented on #6380
<img width="1425" alt="Screen Shot 2020-05-27 at 4 05 10 PM" src="https://user-images.githubusercontent.com/59581790/83080741-e260ea80-a033-11ea-94a5-a127be4fc2c7.png">

Hi team, see latest iteration on this flow:
- Flow is triggered by user receiving credentials
- User opens app, logs in with username and temporary password
- User is prompted to change password with guidance on strength (copy + m

[2020-05-28 00:26] abbyad commented on #6380
This UX is great!

What would a user see at each step if they lose connectivity?

[2020-05-28 02:56] garethbowen commented on #6380
It'll all be cached by the service worker so they will see the page and we can show a helpful error when they try and submit the form.

[2020-05-28 03:56] dianabarsan commented on #6440
Merged.

[2020-05-28 03:56] #6440 closed

[2020-05-28 03:59] brad1905 opened #6449 "medic-conf error in ./contact-summary.js from Terser"
medic-conf command generates error:
    ERROR in ./contact-summary.js from Terser
    TypeError: Cannot read property 'variables' of undefined

   ERROR Error: Webpack errors when building contact-summary
    at /usr/local/lib/node_modules/medic-conf/src/lib/package-lib.js:96:25

**To Reproduce**
1. Run command: 'medic-conf --url=https://medic:password@localhost --accept-self-signed-certs'
2. See

[2020-05-28 13:42] newtewt opened #6450 "Images used in a repeat are only showing spinners"
**Describe the bug**
When an image is used in a repeat block the image just shows a spinner. This can be reproduced using the form attached. Seems to happen on 3.8.1 and greated.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload the sample form and add an image.
2. Navigate to the form.
2. Enter value of 1 in the repeat section.
3. Click repeat
4. See the spinnners loading. There are 2

[2020-05-28 18:07] newtewt commented on #6425
@dianabarsan  @brad1905  and I are working through this. We are seeing the task clear now but we thought that that patient data would be represented in the report that was clearing the task. Is that correct?

The patient_uuid field is being set to the submitter of the task report and not the original patient on the report that clears the form.

[code]

[2020-05-28 19:18] newtewt commented on #6425
ACtually after further review I think it's working right. Need to confirm on @brad1905 's instance first.

[2020-05-28 19:57] newtewt commented on #6425
The issue was that the user(chw supervisor) we were seeing clicking on the patient id was going to the contacts page which threw me off. It is linking to the correct patient_id and a user that can see that patient can navigate to them.

[2020-05-28 20:21] garethbowen commented on #6450
@newtewt I can't see an attached form. Also, do you know if this worked before 3.8.1?

[2020-05-28 20:26] newtewt commented on #6450
Attached the form now. Forgot it.  I tried on 3.7 with it working and went to 3.8.1 with it not working.

[code]

[2020-05-28 22:29] newtewt commented on #6425
This seems to be working as expected @dianabarsan . I'm able to now clear tasks as a supervisor and the report has the expected id associated.

[2020-05-29 00:17] isaacholeman commented on #6450
This is needed for the new cohort of covid surveillance CHWs that the Ministry of Health in Mali hopes to start training as early as June 5th. Specifically, they will be screening for malaria as well as covid symptoms, and they're expecting our typical visual guides for supporting malaria rapid diagnostic tests.

@garethbowen @MaxDiz the level of priority here is pretty high, but probably not high

[2020-05-29 00:22] ngaruko commented on #6339
Getting this error @dianabarsan . What should be the format of the `phone parameter`?
![image](https://user-images.githubusercontent.com/6979995/83207296-fbd67380-a1a6-11ea-84a3-2df69740c24d.png)

[2020-05-29 03:53] dianabarsan commented on #6425
@newtewt
Sorry for not being clear, Due to urgency, we went with option b) use a stub when rehydrating and contact is unknown - this means that the resulting report will only have the uuid available and no other information.
This was both quicker and safer.

[2020-05-29 04:04] dianabarsan commented on #6339
@ngaruko this is because you're using "+" in a URL - which in decoded to space (\s) and the resulting string _is_ an invalid phone number.

Please have a look a the documentation of this endpoint https://github.com/medic/cht-core/blob/6339-contacts-by-phone-api/api/README.md#get-apiv1contacts-by-phone
You need to URLEncode phone numbers when doing GET.

[2020-05-29 13:24] newtewt commented on #6425
Yeah! That's what we were seeing. Feel free to merge @dianabarsan

[2020-05-29 13:54] dianabarsan commented on #6425
Merged!

[2020-05-29 13:54] #6425 closed

[2020-05-29 15:28] abbyad commented on #6339
The documentation is useful and well written!

Also, are formatted phone numbers equivalent to non-formatted phone numbers? For instance, will the result be the same if the endpoint is called with the URL encoded versions of `+14165550000`, `+1 (416) 555-0000`, and `+1-416-555-0000`?

[2020-05-30 04:56] dianabarsan commented on #6339
@abbyad it should be the same, yes.

[2020-06-01 08:14] SCdF commented on #6419
After talking with Marc we are going with the middle option above.

[2020-06-01 14:07] MaxDiz commented on #6410
Adding to the v3.10 release based on partner requirement. Per discussion with @garethbowen we can build a custom 3.9.0+icon branch post release (if needed) or wait for 3.10.0.

[2020-06-01 18:18] Marina-Kenf opened #6455 "Publish a dev version of the docker-compose.yml"
**Describe the issue**

My local cht-core was working until I made some config changes.

1. Why does a config change prevent the service from starting?
2. This error is not prescriptive to help app builders fix the issue, as per the screenshot below

![Screenshot from 2020-06-01 10-34-53](https://user-images.githubusercontent.com/63068738/83440187-605e3080-a43c-11ea-84c5-669d45425619.png)

3. When

[2020-06-01 18:40] SCdF commented on #6455
@Marina-Kenf it looks like you uploaded an invalid form. Googling for error code 6 we get here: http://xmlsoft.org/XSLT/xsltproc.html, which somewhat unhelpfully says "6: error in one of the documents".

So API fails to start because when it tries to precompile forms that you uploaded at one is invalid somehow, and that step crashes API. If you can work out _how_ you made them invalid, this would

[2020-06-01 19:04] Marina-Kenf opened #6456 "Local config: Docker failed to create couchDB account - 404 Not Found"
**Describe the issue**

I have had this issue for long and on two different computers and I believe it's worthy to emphasize on it.

The first installation of the docker was fine and locahost/cht-core was usable locally. After a config change to the cht-core, it crashes and localhost no more available. I have tried to restart my docker but having the errors below.

![Screenshot from 2020-06-01 19-

[2020-06-01 19:05] SCdF commented on #6455
Actually an easier workaround is to just expose the CouchDB port in your docker-compose.yml file.

If you edit it with this:

[code]

(basically, you're adding the `ports:` line and the mapping below it)

You can now access futon over 5984, so `http://localhost:5984/_utils`.

If you're already using CouchDB locally, change the first `5984` to a different unused port and access it there.

[2020-06-01 21:48] michaelkohn opened #6457 "Rename configuration fields to be consistent with DHIS2 and make names localizable"
Current CHT/DHIS2 integration configuration uses terminology that is not entirely consistent with DHIS2. Excerpts from the documentation are below and the full documentation is [here](https://github.com/medic/medic-docs/blob/74c1e4cb20b1cc2e45d81de8181347a9264c4646/configuration/dhis-integration.md#example-configuration).

A few suggestions:
-  In `app_settings`, rename `guid` to `id`
- In `app_se

[2020-06-01 21:50] garethbowen commented on #6457
Instead of `name` can we use `translation_key`? That would make it consistent with other places we have translatable strings.

[2020-06-01 21:51] michaelkohn commented on #6457
Sure

[2020-06-01 21:51] garethbowen commented on #6457
Although I see the name is exported as well. What is the `name` used for in the export? Maybe we should have both an export name and a translation key?

[2020-06-01 21:54] michaelkohn commented on #6457
DHIS2 does not need the `name` of the Data Set when you are importing it, so I'm not 100% sure why `name` would be included in the export.

[2020-06-01 22:04] garethbowen commented on #6457
@kennsippell Do you know? Is it just a human readable string to make it easier to scan the file?

[2020-06-01 22:17] kennsippell opened #6458 "When re-assigning a report for follow-up to different users, the report remains visible to users who are no longer assigned"
**Describe the bug**

Hierarchy
[code]

For the MoH-Niger project, we have a user with facility_id at level A responsible for creating a report and "assigning" that report to another user with facility_id at level B.  To "assign" the report to the user B1, the report is created with an appropriate patient_id such that it appears in B1's replication view. This bug occurs when user A attempts to "re

[2020-06-01 22:21] garethbowen commented on #6116
Ready for AT in `6116_async-nonessential-delete-cleanup`

[2020-06-01 22:37] kennsippell commented on #6457
@garethbowen Where do you see `name` being exported? The `contact.name` is used in the admin/src/js/controller/export-dhis.js to create a list of "human readable" orgUnits. But I don't expect to see a name in the exported payload. Here is an [example payload](https://github.com/medic/cht-core/blob/master/api/tests/mocha/services/export/dhis.spec.js#L52).

Do you mean that the `label` is being expo

[2020-06-01 22:42] garethbowen commented on #6457
Actually it does, for example, the DHIS2 export page is fully translated. We just don't necessarily ship all the admin console translations for all the supported languages out of the box.

I saw it in the description of this issue: "From DHIS2, if you download metadata for Data Sets, it looks like this:". It could be that the documentation is wrong?

[2020-06-01 22:51] kennsippell commented on #6457
@michaelkohn can confirm, but I think he is exporting a dataset via DHIS2. The CHT only supports the exporting of a dataValueSet.

[2020-06-01 23:26] kennsippell commented on #6455
imo Invalid configurations shouldn't crash the API.  If an app builder does somehow upload an invalid configuration like this, it's a poor experience with a high burden of education/diagnosis to investigate via docker/couchdb. Currently, App Builders have to:

1. bash into docker
1. read through the logs
1. understand the log output enough to know which config component specifically is causing the

[2020-06-01 23:28] michaelkohn commented on #6457
Correct. Currently the `label` field in the CHT is just what shows up in the dropdown of the Admin App.  Likewise, the `name` field in DHIS2 is what shows up in the dropdown in the Data Entry app. So we would be translating the contents of a drop down, NOT the field label. This value does not get sent to DHIS2.

<img width="363" alt="Screen Shot 2020-06-01 at 6 25 15 PM" src="https://user-images.g

[2020-06-01 23:31] michaelkohn commented on #6457
I included the DHIS2 metadata export so you could see what they call the `id` and `name` fields (what we are calling `guid` and `label`).

[2020-06-01 23:38] garethbowen commented on #6455
What about medic-conf validates the XML before uploading so we can catch and report useful errors before pushing the XML? For example, API could have an endpoint to attempt compilation and report errors with enough info for debugging?

I'm not convinced that's the right approach. If we solve the issue above to catch these errors earlier then this should not happen. The problem with logging and con

[2020-06-02 00:48] kennsippell commented on #6455
You could replace the form with a stock form that just says "compilation error" or alike.

Sounds fine. My major point is just that App Builders should be able to fix/avoid this from within medic-conf.

I do think that App Builders would benefit from this development docker configuration. For bug investigations (like this one), but also for other failure pattern investigations. It would help build

[2020-06-02 03:37] garethbowen commented on #6450
There's another bug shown in the screenshot which is with multiple languages available you see multiple spinners until the image loads. This PR fixes that too.

[2020-06-02 05:01] garethbowen commented on #6457
I've put this in 3.9.0 because changing the configuration schema after release would break backwards compatibility.

[2020-06-02 07:09] SCdF commented on #6455
I think it would be cool to ship two compose files, one which is prod ready (possibly including [only showing prod ready releases](https://github.com/medic/cht-core/issues/6447)) and is the default, and another which [extends](https://docs.docker.com/compose/extends/#understand-the-extends-configuration) that file but makes changes for "dev" (all releases, debug logs, looser port exposure). I have

[2020-06-02 07:10] SCdF commented on #6455
This is a super good idea: IMO we should be providing apis in API for most all logic that medic-conf does, so it can be versioned and altered correctly against the actual server is runs against

[2020-06-02 07:51] SCdF commented on #6456
@Marina-Kenf is this related to the other ticket you raised? Can you upload logs as opposed to screenshots, as there isn't really any information in that screenshot to action. It sounds like the workaround you tried is similar to this, but have you tried `docker-compose down -v` to before running `docker-compose up`? From other screenshots I've noticed that your docker requires sudo to use. This i

[2020-06-02 08:27] SCdF commented on #6458
Is this not the standard class of issue, similar to moving people, where we do not have any kind of support for intelligently deleting data off users devices that still exists on the server but would not longer qualify for being replicated to that use? If so this would be an improvement as opposed to a bug (core has not supported this or any similar issue in the past and has never claimed to).

Or

[2020-06-02 08:32] Marina-Kenf commented on #6456
@SCdF thanks for your reply.

Yes

I just did it and it's generating a lot of errors among which
[code]
Now it is stucked at
 `medic-os    | [2020/06/02 08:14:31] Info: Starting log streaming`

Without sudo, permission is denied
`Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.40/containers/medic-os/

[2020-06-02 08:38] Marina-Kenf commented on #6456
Here are the logs
[code]
[code]

[2020-06-02 08:38] Marina-Kenf commented on #6455
I have added the 5984 port but there is no way to assess because the localhost is no more available.
My docker is stucked here since more than 20 minutes.

![docker-not -running](https://user-images.githubusercontent.com/63068738/83495559-c20bb280-a4af-11ea-975a-c562b934a0eb.png)

[2020-06-02 08:47] Marina-Kenf commented on #6456
I'll like to add that after the cht-core crashes, it was still possible to start the docker till the end before having the 404 error. After we (with @kennsippell ) did the `prune` command, it really got broken even more and the docker is now stucked in the starting process.

[2020-06-02 09:36] Marina-Kenf commented on #6456
I'm adding the below as a continuation of the `docker-compose up` displayed in the first screenshot of this issue, if it can be helpful! This leads to the abortion of the command.

[code]

[2020-06-02 09:48] dianabarsan commented on #6450
Ready for AT on `6450-replace-images-in-repeats`

[2020-06-02 09:55] dianabarsan opened #6463 "Bump dependencies for 3.10"
Bump dependencies as documented [here](https://github.com/medic/medic-docs/blob/master/development/update-dependencies.md).

[2020-06-02 10:29] SCdF commented on #6116
AT:
 - When you delete a document, any read documents in users dbs (that get created to mark that you've viewed a document) and the info doc for that document should get deleted. In this PR we change it so that instead of happening "instantly" (read: when transitions see the change) this now happens as a background job. This job runs on the standard schedule, so every ~5 minutes or on startup So,

[2020-06-02 10:32] SCdF commented on #6455
This log screenshot is not enough to determine what is going on. Please attach the entire log file. For example, can you tell higher up if haproxy started correctly?

[2020-06-02 11:03] SCdF commented on #6457
Ready for AT in `6457-fix-dhis-config-schema`

[2020-06-02 11:55] SCdF commented on #6456
OK looking at your logs I don't see anything particularly interesting.

The *last* log you linked is because you restarted docker while the container was running, presumably because you updated it.

On needing you use sudo, it is unlikely to help your current issue, but if you follow the post installation linux extra steps from your installation link you can set it up so you don't need sudo all th

[2020-06-02 12:08] SCdF opened #6464 "Info companion docs can continue to grow in size"
Currently `-info` docs are loaded up pretty frequently in api and sentinel, generally whenever the parent document is CRUD'd. For example, every time you write a document via API the `-info` companion document is loaded, some dates updated, and saved again, synchronously.

With the introduction of outbound push and with the additional work happening to allow for the same document to be pushed mult

[2020-06-02 13:06] Marina-Kenf commented on #6456
I have done nothing particular on the issue since then but I just re-run the docker. It is running normally (I don't understand the randomness), localhost available but is at the stage of issue #6168.

My alternative for login is:
- Google Chrome for the admin account
- and only Mozilla Firefox possible for a Chw account.

Okay, I'll do so. Thank you @SCdF

[2020-06-02 13:26] SCdF commented on #6456
I have definitely noticed that our current docker-compose.yrml isn't particularly stable. The SRE team is currently working on a newer, hopefully more stable and flexible architecture.

re: #6168 it is likely that you can solve this by using ngrok: https://github.com/medic/cht-core/blob/master/DEVELOPMENT.md#ngrok

Though note that any data you create will be effectively sent to their servers so i

[2020-06-02 13:26] #6456 closed

[2020-06-02 15:05] newtewt commented on #6450
This is working good. Images are showing in the repeats fine. Also tried to reproduce the potentially related issue and did not see any spinners.  @garethbowen  feel free to close and merge.

[2020-06-02 16:06] Marina-Kenf commented on #6455
After issue #6456 (consequence of this one) is resolved, haproxy started correctly.
Current config is the default as the one causing the error has been wiped during the workaround.

But the topic still remains entire if this occurs again, as app builders does not have enough information to fix the issue.

This would be nice.

[2020-06-02 17:04] kennsippell commented on #6458
I created the issue because I know plans are being created to fix a "class of issues" related our inability to delete data off user devices. I was just wanting to capture this additional scenario, since I believe it brings its own set of nuances.

MoH Niger also needs a workaround (medic/config-msf#84) and I was hoping this might stimulate discussion.

[2020-06-02 17:17] isaacholeman commented on #6450
Fantastic that this was fixed so quickly, thank you! @kennsippell @garethbowen @abbyad would you confer with @binokaryg and decide what's the recommended implementation approach for MOH Mali? Go live date is this Friday June 5th.

[2020-06-02 17:26] SCdF commented on #6458
Ok so if the end result of solving this class of problem in core was:
 -  When any CouchDB write occurs where the resulting permissible hierarchy changes compared to the existing one on record, any users who were in the old but are not in the new get instructed, as part of their normal document sync process, to delete that document

Would that cover these cases?

[2020-06-02 17:29] SCdF commented on #6458
Can you do this for now completely with task completion and creation? i.e. have a "reassign" action (form) that results in a new task being created for Investigator B and resolves the task for Investigator 1?

[2020-06-02 18:00] kennsippell commented on #6450
I believe the current plan is to get this merged and into a `3.9-beta2` branch. Once that's ready, it's my opinion that the Covid-MoH-Mali development work and test pass should progress from that beta branch.

[2020-06-02 18:34] garethbowen commented on #6450
Merged and backported to `3.9.x`

[2020-06-02 18:34] #6450 closed

[2020-06-02 18:42] garethbowen commented on #6439
Added to 3.10.0 as this is failing quite a lot of our builds. Don't spend too long trying to fix it as we don't want to delay 3.10.0 - the best option may be deleting/disabling the tests altogether.

[2020-06-02 19:37] dianabarsan commented on #6352
I went with adding a new option to `replication_depth` called `report_depth` (final name is TBD) which works in conjuction with the already existent `depth` (see https://github.com/medic/medic-docs/blob/54c9c40c4a2a3c7cc2d0449e05a14ccf3574a5a1/configuration/replication.md#depth)
Ex:
[code]

In terms of what is visible, for example for
`{ "role": "national_manager", "depth": 2, "report_depth": 1 }`

[2020-06-02 19:46] newtewt commented on #6457
@garethbowen  The admin app doesn't seem to respect your selected language on your profile because none of it is translated or maybe I'm missing all the keys for Spanish. Adding a new translation_key for the DHIS dataset though shows the English translation in the drop down even though my users account is set to Spanish.

![image](https://user-images.githubusercontent.com/10531066/83562813-3104fd8

[2020-06-02 19:47] MaxDiz commented on #4771
From discussion with @ranjuts , project implementation minimum requirement is to create a feature that incorporates the ability to:

- set targets at a branch level in the deployment hierarchy
- manually change targets at the supervisor field level (ie not in config only)
- update targets without syncing to server (current timing expectation is quarterly)
- store historical target data for offline

[2020-06-02 19:48] newtewt commented on #6457
I'm also seeing an extra property when I download my app_settings.

[code]

[2020-06-02 20:09] newtewt commented on #6457
Otherwise I think the changes for this are working ok. The export is occuring and using the updated values.

As an aside I am confused how this works in general. I used our births-this-month example and see the target as my offline user but when exporting the value is 0 in the `dataValues`

[2020-06-02 20:31] garethbowen commented on #6457
I think that'll be unrelated to this change. I think what's happening is when rendering the dhisDataSets angular adds the $$hashKey for internal use, then at some point you've saved the config anywhere in the app management app which has saved the property inadvertently. Please raise a separate issue for this.

[2020-06-02 21:40] garethbowen commented on #6457
Merged and backported to `3.9.x`. I've also merged the medic-docs PR but not the beta docs site one as it's waiting for review.

[2020-06-02 21:40] #6457 closed

[2020-06-02 23:47] garethbowen commented on #6455
I've raised [this issue](https://github.com/medic/medic-conf/issues/331) to add xform validation and more useful logging info.

This issue should now cover providing a dev version of the docker-compose.yml.

[2020-06-03 11:34] senseibara commented on #6352
hey Diana, thanks you first of all this looks really great.
Will it be possible also to have a 'report_depth' : 0 ? That would mean the supervisor can only see reports of district(0) but won't see reports submitted by center(1) unless those reports are submitted by himself.

[2020-06-03 11:47] dianabarsan commented on #6352
Yes, it's possible.

[2020-06-03 11:50] senseibara commented on #6352
Perfect for me then, nothing else to add on my side. Thank you !

[2020-06-03 13:49] newtewt opened #6468 "$$hashKey added to dhis settings when exported"
**Describe the bug**
When exporting app_settings there is an extra property added to the settings that we don't use. Example shown below.

**To Reproduce**
Steps to reproduce the behavior:
1. Have dhis configured for export in app_settings in your running instance.
2. Navigate to admin page > backup app code
3. Download current settings
4. Look at the dhisDataSets key and see the extra values.

**

[2020-06-03 14:51] dianabarsan commented on #5817
I was thinking we could add a new property on places, called "contacts".
This would be an example of how a contact could look like:

[code]

`<tag1>`, `<tag2>` can be any string you wish.

We can change our hydration code to hydrate every entry in `contacts` (at 1st we can do a shallow hydration, just the main contact docs and no parents/grandparents) and you would be able to access them with some

[2020-06-03 15:30] michaelkohn commented on #6457
FWIW.... I'm seeing some inconsistencies in how we name properties and deal with translation keys.

---

#### In some of our documentation I notice that the `property` is a normal field name like "**title**" and the `type` is of `translation key`.  See [tasks.js](https://docs.communityhealthtoolkit.org/beta/apps/reference/tasks/#tasksjs)

![Screen Shot 2020-06-03 at 10 19 56 AM](https://user-image

[2020-06-03 21:10] garethbowen commented on #6468
This should be as simple as cloning the settings object before rendering so angular marks up the clone. It may also be fixed with upgrading to angular 9 so scheduling it for development after that.

[2020-06-03 21:31] garethbowen commented on #5817
I like it. It's basically exposing a property that configurers can use to get something hydrated (and minified) automatically. Some thoughts about expanding on your initial idea...

1. The `ancestor:` smart path is a limited version of what you're proposing, ie: it links to some contacts but not all. Can we deprecate that and use this new smart path with implicit tags for parent contact types? eg:

[2020-06-03 22:05] garethbowen commented on #6439
No AT required. Merged.

[2020-06-03 22:05] #6439 closed

[2020-06-03 22:08] garethbowen commented on #6457
Thanks for flagging that! The property names are inconsistent for historical reasons and can't be changed without breaking backwards compatibility so I'm ignoring those for now. I think the type should be "string" because "translation_key" is a Medic convention. The fact that it's a translation key should be explained in the description. @abbyad What do you think?

[2020-06-04 04:28] dianabarsan commented on #5817
So `contact:<tag>` would search the whole lineage for a linked contact with that tag and and `contact:<contact_type>` would search the whole lineage for a parent contact with that type? or do you expect `contact:<contact_type>` to look into "tagged" contacts as well to match the type?
More to discuss here, I think, it's not 100% straight forward.

Not sure what you mean by "overloaded". Are you su

[2020-06-04 04:45] garethbowen commented on #5817
I was thinking that `contact:abc` would look in the tagged contacts for `abc` and then if none found would look in the hierarchy for an ancestor with type `abc`. It's not a big deal, just trying to simplify configuration of resolving recipients.

Yeah. It's weird to have `contact` and `contacts`.

Yes I suppose so. If that's the case definitely don't do the work now - we can do it when a workflow

[2020-06-04 05:07] dianabarsan commented on #5817
"linked_contacts"? I feel particularly uninspired this morning 😁

[2020-06-04 05:54] dianabarsan commented on #6463
Merged.

[2020-06-04 05:54] #6463 closed

[2020-06-04 08:16] dianabarsan commented on #6094
new documentation PR: https://github.com/medic/beta/pull/55

[2020-06-04 09:05] leah-ngaari commented on #6444
cc @korirm , @PhilipNgari and @SMurithi

[2020-06-04 12:42] binokaryg commented on #6184
Is it also supposed to work with Android app?
Here is my observation in 3.9.0-beta.2 using `geopoint` type and changing the `appearance` column:

appearance | Mobile browser | Android app
-- | -- | --
<blank> | No map section | No map section
placement-map | No map section | No map section
maps | Works after clicking Map button | Map button shows but map image is blank

[2020-06-04 14:00] michaelkohn commented on #6457
FWIW... my preference is that it should be something like this:

|Property|Type|Description|Required|
|---|---|---|---|
|`name`|`string`|Translation key for the name of the data set as displayed in the UI. e.g. `dhis.dataset.name.moh515`|Yes|

[2020-06-04 23:50] garethbowen commented on #5817
Yes that's about the best I could come up with too :/ For the generic solution I was thinking `linked_docs` but that's even more uninspired...

[2020-06-04 23:54] garethbowen commented on #6184
Yes it should work. I tested it with no appearance. The widget relies on Google Maps so it's possible it's rate limiting or blocking you, and it will not work offline.

Can you check the browser logs and see if there are any errors reported?

[2020-06-07 22:14] garethbowen opened #6470 "Rename DHIS2 configuration names to use snake case"
Found by @abbyad

This should be renamed to `dhis_data_sets`, in code, configuration, and documentation. Also check other properties added in 3.9.0 and ensure they comply.

Recent relevant style guide addition: https://github.com/medic/medic-docs/blob/master/development/style-guide.md#use-snake_case-for-couchdb-document-property-names

[2020-06-08 07:49] dianabarsan commented on #6024
Ready for AT on `6024-cleaner-errors`

[2020-06-09 04:57] kennsippell commented on #5903
Removing from 3.12 pending admin console design conversations.

[2020-06-09 06:01] dianabarsan commented on #6470
Unsure what scope to extend this to. DHIS config also exists in targets config and contact documents.

This is probably because this is how the properties are named in DHIS and described in the original issue: https://github.com/medic/cht-core/issues/6002

Targets config is already a pita of cases: https://github.com/medic/medic-docs/blob/master/configuration/developing-community-health-applicatio

[2020-06-09 08:57] dianabarsan opened #6474 "DHIS export errors are not visible"
**Describe the bug**
When exporting DHIS2 from admin, when you've got invalid config of any kind, you're unable to download and no error information is displayed to the user OR in api logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Adds some dhis2 config to your app_settings. Don't add this to any form or contact.
2. Login to admin and go to dhis2 export.
3. Select your newly added con

[2020-06-09 10:52] dianabarsan opened #6475 "Improve admin export error handling"
**What feature do you want to improve?**
If an error occurs when exporting something from the admin console, no error information is provided to the user.

**Describe the improvement you'd like**
If an export request fails, the user should know why this happened.

**Additional context**
Export uses the `download` attribute on `a` html elements which don't provide any means of error handling.

[2020-06-09 10:53] dianabarsan commented on #6474
Because of how the UI is built, there's no immediately easy way to handle errors. So I'm opting for logging the error in API - so it's at least visible somewhere.
I've opened a new issue for the UI part: https://github.com/medic/cht-core/issues/6475

[2020-06-09 13:19] dianabarsan commented on #6470
I opted to change the base config setting alone (from `dhisDataSets` to `dhis_data_sets`) and leaving other DHIS2-related properties unchanged.

Because properties used in DHIS2 via exports are hardcoded within the config, we would (or will) have a mix of camelCase and snake_case anyway. Imposing a case on properties would require converting to the original property name when exporting.

[2020-06-09 14:29] newtewt opened #6477 "Adding a new language does not show on the login page until cache is cleared."
**Describe the bug**
When adding a new language through the admin UI. The log in pages do not reflect this change until cache is cleared.

**To Reproduce**
Steps to reproduce the behavior: Have two browsers open. Chrome and Firefox or chrome and incognito.

1. Log in as admin on chrome.
2. Navigate to log in page on firefox.
3. Add a new lang on the chrome browser.
4. Refresh the log in page.
5. T

[2020-06-09 15:15] newtewt opened #6478 "Deleting primary contact from a place will retain that person as a contact when editing."
**Describe the bug**
If a primary contact is deleted from a District Hospital/health center/ etc the contact is deleted. However, when editing that place the primary contact will still show the uuid. Looking at the json doc there is a contact property still associated with the id of the person who was originally the contact.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a place with

[2020-06-09 19:57] n-orlowski commented on #6380
Received feedback that the temporary password flow may be too complicated for CHWs and have iterated to simplify using a magic link:

<img width="1532" alt="Screen Shot 2020-06-09 at 12 46 42 PM" src="https://user-images.githubusercontent.com/59581790/84192731-47163f00-aa4f-11ea-9712-3682c0c4e88c.png">

- Flow is triggered by an SMS either with a message to install the app, or if the app is alread

[2020-06-09 20:28] garethbowen commented on #6475
As well as reporting errors we should have some a spinner or similar indication that the download is being prepared. Some downloads take seconds to start downloading and currently there is no visual indication that it's working.

The simple way to solve both of these is to link the button to a URL directly perhaps opening in a new tab. It's not great UI but it's simple, and reliable, and almost ce

[2020-06-09 21:06] ngaruko opened #6479 "Remove redirect from log out."
**To Reproduce**
Steps to reproduce the behaviour:
1. Log in as admin on the admin portal (https://gamma.dev.medicmobile.org/admin/#/users)
2. Log out and try to log in as a restricted user.
3. The user is redirected to the same admin page , ie https://gamma.dev.medicmobile.org/admin/#/users, and since the restricted user does not have permissions to access the admin page, I get an error.
`{"error

[2020-06-09 22:37] garethbowen commented on #6477
Closing as a duplicate of #6338

[2020-06-09 22:37] #6477 closed

[2020-06-09 22:46] garethbowen commented on #6479
Logging out from the webapp also adds the current URL as a redirect, which has a similar problem if you then log in as someone with different permissions. I also wonder if we're leaking information when we do this, if someone else has access to the device.

I propose we don't append the current URL on logout from app management or the webapp. This will solve the immediate problem. The bug will sti

[2020-06-09 22:47] garethbowen commented on #6479
Low priority because most devices only have one user, and it's recoverable if they do.

[2020-06-10 02:13] garethbowen commented on #6379
My thoughts on [Medic hosting RapidPro](https://docs.google.com/document/d/1hrjj9Wh_y694J_SavaZ68qFSjLNx90G-IeqXVDX__Ws/edit?usp=sharing). Feedback and questions welcome!

I haven't tackled "best practices for flows" but we can iterate on that as we get more familiar with configuring flows.

@abbyad Is there anything else I should investigate before closing this off?

[2020-06-10 07:58] yrimal opened #6481 "Allow enough space to show list of forms in Reports Filter."
**Is your feature request related to a problem? Please describe.**
It is not convenient to filter Form Types on Reports tab in Web App because there's no enough space for form names on drop down.

![image](https://user-images.githubusercontent.com/6102813/84241055-a68f5000-ab1e-11ea-9948-fd8f04597a5f.png)

**Describe the solution you'd like**
I'd like to see the full name for forms when I'm select

[2020-06-10 22:49] garethbowen commented on #6370
That would be a quick fix, but I think we need to revisit the idea of `sensitive` reports.

Usually only certain reports will be sensitive, such as a supervisor submitting a performance report about the CHP. I think a better solution would be to have a configuration on forms about whether the information should be considered sensitive (we may need to come up with a better term). I think this shoul

[2020-06-11 01:55] abbyad commented on #6379
Thanks @garethbowen for the detailed investigation!

If we have deployments using RapidPro now, we should provide guidance on when and where to back up the configs so that projects do it in a reliable and consistent way. A couple of lines on that for now would be sufficient.

As for best practices, the only aspect that I would add now is where to keep CHT credentials (eg in globals, never embedded

[2020-06-11 03:44] dianabarsan commented on #6370
Oh, a turnaround, I like!

So the new isSensitive is:
- report has `sensitive = true` and ( is about you or your place )
- report has `sensitive = Array` and (`sensitive` does not include your roles)

As for renaming, looking here https://en.wikipedia.org/wiki/Information_sensitivity there are a couple of adjectives used: *sensitive*, *confidential*, *private* and *classified*.

[2020-06-11 03:53] garethbowen commented on #6370
I wonder if we should use two different words for the two different types, eg: `private` means don't show the subject, and `sensitive` means special roles required. Feel free to just to the `private` bit now, so we can take the time to do the `sensitive` bit right.

[2020-06-11 16:03] newtewt opened #6485 "Getting contact summary cards displayed that should not on a profile"
**Describe the bug**
Loading a contact summary for a child happened to load extra contact summary cards. There were 2 instances of the immunization and 1 of the past pregnancies card. This contact only has immune reports. I believe at one point I saw all the reports displaying under this contact but I cannot reproduce and no evidence otherwise.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-06-11 17:05] dianabarsan commented on #6485
Sounds like a race condition to me.
I managed to replicate it as an admin user on `gamma.dev` by throttling the CPU by 6x and loading contacts aggressively (not allowing a contact to fully load before I navigated to the next).

![image](https://user-images.githubusercontent.com/35681649/84417784-ce65dd00-ac1e-11ea-9bd4-5a26effa1114.png)

[2020-06-11 19:33] MaxDiz commented on #5775
R&L team clarified that there are no immediate project deployments for this improvement. There is some remaining design work to be done. It may make sense to bump to v3.12 and bundle design/dev with #5706 and #5708. For discussion at the next roadmap planning meeting.

[2020-06-11 21:22] garethbowen commented on #6352
Ready for AT in `6352-adds-report-replication-depth`, [documentation](https://github.com/medic/cht-docs/pull/58).

[2020-06-11 21:24] kennsippell commented on #6379
This is a great outcome.

I think best practices can be comprehensively captured after we've deployed a compelted system using RapidPro. Goma and CIHA are being piloted in the next month or so and I think we'll have a clear picture of what is working. Those projects will definitely have a lot to share on best practices, and change management at that time. Should we split that follow-up into cht-do

[2020-06-11 22:24] mrjones-plip opened #6486 "When creating new Health Facility, date picker shows over search box"
I was setting up my dev environment and went to set up a new health facility. When selecting the age of the new person that's created in the process, I see a seemingly random datepicker appear over the "search everything" box in the upper left of the browser.

**To Reproduce**
Assuming a totally clean install using localhost:5988, Steps to reproduce the behavior:
1. Go to [People](http://localhost

[2020-06-12 09:48] SCdF commented on #4771
@MaxDiz and I have a conversation about this from a technical perspective. I confess I don't completely understand the requirements as talked about in Max's past two comments, so @ecsalomon / @sacul-git / @ranjuts please read this comment carefully and let me know if what I'm saying is accurate.  I apologise in advance for how wrong I'm about to get everything (and how long this has ended up being

[2020-06-12 10:28] dianabarsan commented on #4771
I would drop "potentially" and just say expensive. As of 3.8, we no longer hold all these records in memory and request them on a need-to-know basis.

[2020-06-12 11:09] dianabarsan commented on #6370
Ready for AT on `6370-private-reports`. [Documentation PR](https://github.com/medic/cht-docs/pull/143)

[2020-06-12 13:55] ecsalomon commented on #4771
@SCdF Happy to clarify.

- Individualized targets for activities CHWs undertake (ie targets irrespective of hierarchy)
    - Does activities in this context mean reports that CHWs have created via tasks or other actions? Or does this mean reports about CHWs?
        - The former
- Calculate targets dynamically from a function, using internal + external data sources (gps, epidemiological models, et

[2020-06-12 14:12] SMurithi commented on #6410
I second the approach proposed by @n-orlowski. For partners such as MoH this flexibility is important.

[2020-06-12 14:22] dianabarsan commented on #6410
@SMurithi can you please share the approach proposed by Nicole?

[2020-06-12 14:35] SMurithi commented on #6410
@dianabarsan this is what I mean -  ability to upload any icon that conforms to the specs required (size, file type, pixelation/resolution etc).

[2020-06-12 17:35] n-orlowski commented on #3237
@garethbowen can we archive this? Seems to be replaced by #6380

[2020-06-12 20:03] abbyad opened #6489 "Migrate all medic-docs references"
**Describe the improvement you'd like**
All references to `medic-docs` in comments, readmes, and templates should be reviewed and migrated to the relevant URL in [docs.communityhealthtoolkit.org](https://docs.communityhealthtoolkit.org/)

[2020-06-14 20:58] garethbowen commented on #3237
I agree, it's _probably_ a duplicate, however this one is security focussed, and that one is user workflow focussed, so I'd like to keep them both around to ensure that both concepts are considered and tested.

[2020-06-14 21:00] garethbowen commented on #6380
Some work has been done towards implementing the PIN for added security in #3237 . Use that as a starting point and then it can be UATed and closed at the same time as this one.

[2020-06-15 01:59] garethbowen opened #6490 "Guard against xpath string concatenation regression"
**Describe the issue**
We use `medic/openrosa-xpath-evaluator` to evaluate xpath in Enketo forms, and one non-standard feature is that you can concatenate string values with either the `+` operator or the `concat()` function. At some point we're going to upgrade to a version that deprecates use of the `+` operator but because it's a dependency of a dependency it's hard to know when that'll happen.

[2020-06-15 15:01] newtewt opened #6491 "Exporting App Settings seems to be adding extra elements for configured sms forms."
**Describe the bug**
Uploading the standard config which contains SMS forms. Then using the admin page to backup the app settings. Shows a bunch of extra elements in the config. Starting at 0 and going to the count of number of sms forms configured.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload standard config
2. Go to the admin page > backup app code > Download current settings.
3.

[2020-06-15 15:01] michaelkohn commented on #6379
Looks good.

Not saying we need to add these to this doc, but we should also be thinking about:
1. How we'll approach training/onboarding onto RapidPro from a technical perspective
2. Statement/guidance on how/when it should be used
3. RE: Medic SaaS hosting of RapidPro, think about some lessons learned from RDBMS

For `#1`, I'm just thinking of what we've historically done for KlipFolio and Postg

[2020-06-15 15:37] binokaryg commented on #6184
The geopoint field works, as it gets the coordinates, but no map is shown when I am using the Android app with no appearance. I couldn't find any errors in the logs.

![image](https://user-images.githubusercontent.com/20041732/84677287-3e8d9f00-af4e-11ea-89f1-5bd8433cb400.png)

[2020-06-15 23:25] garethbowen commented on #6491
@newtewt To help us narrow this down could you check in the database directly using...

1. fauton/curl for the doc with id `settings`, and
2. the GET settings API

It's be useful to know which of those are correct and which have the incorrect format.

[2020-06-15 23:29] garethbowen commented on #6184
@binokaryg Thanks! Can you confirm you were online when loading the form?

To help us assess the priority, is having the map required for a project, or are you just trying it out?

Do you want to interact with the map so you can for example manually enter a location, or is it useful to see a static image of where the phone thinks it is?

[2020-06-16 06:06] latin-panda commented on #4889
On this ticket:
1.. Delete the user-setting from _User DB (prevent login of un-existing users)
2.. Keep the user-settings from Medic DB and add new property flag. Even though it has a copy of the roles, permission checks appear to be done against User DB (in case of bypass) plus login already blocked.
3.. On user create, we check if settings from Medic DB already exist and block user creation.

[2020-06-16 07:37] yrimal commented on #6481
Given that, there's similar issue in other filter as well, I think better would be to expand space for drop-down and allow line wrap as well.

![image](https://user-images.githubusercontent.com/6102813/84745399-38da9c80-afd4-11ea-9dab-1de494de2462.png)

[2020-06-16 08:06] dianabarsan commented on #5817
Ready for review on `5817-linked-contacts` along with this documentation PR: https://github.com/medic/cht-docs/pull/145

[2020-06-16 08:56] binokaryg commented on #6184
Yes, I was online when loading the form.
I guess the priority may not be that high. The requirement does not include manually entering a location. However, it might be helpful for the CHWs to confirm that the coordinates match the location they are trying to record.

[2020-06-16 12:12] SCdF commented on #6419
Ready for AT at `6419_outbound-multi-send-support`

[2020-06-16 14:19] SCdF commented on #6001
In 3.9 we added a monitoring API, which includes a count of how many queued outbound tasks their are.

Also in 3.9 we changed outbound to send immediately, and only gets queued if there was a problem.

So AFAICT, we already have this covered minimally, because if the outbound queue count is >0 then an outbound request has failed in the last ~5 minutes.

@garethbowen / @nomulex what is the proposed

[2020-06-16 17:08] n-orlowski opened #6492 "Touch area of items in the hamburger menu should be larger"
**What feature do you want to improve?**
The touch area of the menu items in the hamburger menu is 30px tall making it likely for users to accidentally press the wrong item. Best practice would me to make the line items 45px tall.

<img width="265" alt="Screen Shot 2020-06-16 at 10 04 41 AM" src="https://user-images.githubusercontent.com/59581790/84805587-577f6a00-afb9-11ea-8e04-082416c3c3ee.png">

[2020-06-16 17:14] ranjuts commented on #4771
Thanks for the questions @SCdF

As I'm re-reading this alongside your questions, I'm realizing this requirement is missing a few pieces. The supervisor should only be changing targets at the place that they belong to or lower (i.e. CHV area) and the ability to change targets would be needed by the user at the supervisor level or above only (so not at the CHV level).

Yes, basically. Although it co

[2020-06-16 19:24] newtewt commented on #6491
@garethbowen

1. The doc in couchdb viewed from fauxton shows the extra.
2. Can I hit the API with a curl or something else?

[2020-06-16 20:33] garethbowen commented on #6312
[Blog header image](https://drive.google.com/file/d/124W3SDDSRuwyIQM94QzlSiQLv2Dvsr0P/view) courtesy of @n-orlowski

[2020-06-16 21:21] garethbowen commented on #6481
Yes, the same fix should be applied to all filters on all tabs.

[2020-06-16 21:38] garethbowen commented on #6491
Thanks for that. Yes you can hit the API with a curl but there's no need - if it's in the DB then it will (almost certainly) be returned from the API.

This also means it's not the export that's the problem because it's just spitting out what's in the DB but somewhere else. Can you think of anything else you might've done to get to this point? For example, how did you upload the standard config?

[2020-06-17 04:59] garethbowen commented on #6492
This is small and low risk. Doing it now.

[2020-06-17 05:19] dianabarsan commented on #6410
Because of how our menu works and the multiple states that a header icon has (inactive, hovered, and active), there's a downside in allowing "any icon that conforms to the specs" to be a header icon.

We allow `.png` and `.svg` images as icons.

There are ways that we can apply an overlay over a png image to change its color, but these are not widely supported by browsers. If we allow png icons, t

[2020-06-17 07:14] dianabarsan commented on #4771
I was thinking about a solution for this that won't have high negative impact on device performance and I had the idea that we could use auxiliary "invisible" targets (https://github.com/medic/cht-core/issues/6211) to track metrics or markers
that are relevant to other targets' goals calculations and, in the context of "goal" being a function, it would receive the "target" document as a parameter

[2020-06-17 10:56] latin-panda opened #6495 "Unit test failing for half hour timezones"
**Describe the bug**
When running the unit test while on a timezone with half an hour, example: -9:30. The unit test fails.

**To Reproduce**
Steps to reproduce the behaviour:
1. Set your timezone to -9:30.
2. run `grunt unit` on master branch.

[2020-06-17 13:28] SCdF commented on #6495
@latin-panda are you able to post an error log / stack trace showing what happens exactly?

[2020-06-17 19:57] MaxDiz commented on #6410
@dianabarsan makes sense. If you can provide documentation on any limitations / guidance for best display, I think we're good to go. Thanks for looking into it!

[2020-06-17 22:02] latin-panda commented on #6495
These are test failing due the the half hour timezone difference:
<img width="662" alt="Screen Shot 2020-06-18 at 7 02 18 am" src="https://user-images.githubusercontent.com/66472237/84955132-dac5ca80-b135-11ea-9772-04050f5d3779.png">
<img width="676" alt="Screen Shot 2020-06-18 at 7 02 27 am" src="https://user-images.githubusercontent.com/66472237/84955143-ddc0bb00-b135-11ea-8169-9027f80b491f.png"

[2020-06-17 23:00] garethbowen commented on #6313
Ready for AT on `AshleyWWW:master`.

NB: this is from an external contributor so we don't have a published build for this - you'll have to have a dev environment to test it fully.

[2020-06-18 04:28] latin-panda commented on #6495
I did some research and tried some methods to set the unit test to use a timezone (UTC or any other) with the goal of running them all under the same conditions, so far the best was to use moment-timezone library like this:

This fixes the issues from the previous comment.

<img width="537" alt="Screen Shot 2020-06-18 at 11 44 44 am" src="https://user-images.githubusercontent.com/66472237/84977465

[2020-06-18 11:13] latin-panda commented on #6404
I have turn off the autocomplete for this field.

[2020-06-18 17:39] dianabarsan commented on #6401
@garethbowen  Should I do this now or create a new issue? (for contact & report forms I presume).

@abbyad Fortunately, no changes needed. App developers just need to create the properties files and re-upload. I did come across one related [bug](https://github.com/medic/medic-conf/issues/335) where only updating properties is not enough to deem the form updated and to be uploaded.

Maybe this shou

[2020-06-18 20:04] MaxDiz commented on #6444
Based on discussion with the Roadmap planning team, we are adding to v3.10 as bug, if turns out to be more than a bug, we will bump to v3.12 as an improvement. This request is relevant to the SMS reference app for MoH Kenya, but is not currently an active deployment.

[2020-06-18 20:09] MaxDiz commented on #6380
Based on discussion with the Roadmap planning team, we are going to remove the requirement for a PIN to simplify the initial implementation. If a user needs to log-in on multiple devices, they will need an administrator to set a password.

[2020-06-18 20:10] MaxDiz commented on #5775
Based on discussion with the Roadmap planning team, we are bumping this issue to v3.12. Design work can continue in the meantime.

[2020-06-18 20:18] MaxDiz commented on #6379
Based on discussion with the Roadmap planning team, we are going to move forward with scheduling with SRE. This is for the deploying the MSF-Goma project.

Addl open items:
* check on RapidPro default gateway to see if any sensitive data is being routed through the US (or outside of Europe AWS hosting).
* If we use a different gateway, is it still functional with firebase

Unicef and Praekit curre

[2020-06-18 22:47] ngaruko opened #6502 "Guided tour erratic when user has no access to any tab"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with no access to tabs, say `Data Entry` access level
2. Login as the user created
3. A `Select Tour` modal is displayed as shown in the screenshot below.

**Expected behavior**
The tour should be disabled in cases like these

**Screenshots**
![image](https://user-images.githubusercontent.com/6979995/85078844-7d0aae80-b219-11ea-96e

[2020-06-18 23:24] garethbowen commented on #6401
Feel free to raise a separate issue - it has a completely different motive than this one (security vs ux).

Definitely.

[2020-06-18 23:41] mrjones-plip commented on #6486
diving into this and have made very little headway, but I'll get there! In case I get help from others, here's a gif of exactly what I see:
![datepicker](https://user-images.githubusercontent.com/8253488/85082019-8432ad80-b182-11ea-85be-1da740b36eea.gif)

[2020-06-19 01:30] garethbowen commented on #6379
I've created a new issue for the SRE work https://github.com/medic/medic-projects/issues/7478 and one for the documentation: https://github.com/medic/cht-docs/issues/163

Closing as I think this is as far as we need to go on the investigation in 3.10.0. Please reopen if there's anything else I can do.

[2020-06-19 01:30] #6379 closed

[2020-06-19 01:43] garethbowen commented on #6380
As Max said we're making this simpler for the 3.10.0 implementation...

1. When creating users the admin should have the option of providing a password (as they do now), _or_ sending a magic link via SMS.
2. If they pick magic link then we generate a random complex password with a 24 hour expiry.
3. Then we send a configurable SMS message containing a link to that project's instance with the crede

[2020-06-19 04:09] garethbowen commented on #6312
Done!

[2020-06-19 04:09] #6312 closed

[2020-06-19 05:28] mrjones-plip commented on #6486
I...I think I found the problem?  I think I found the problem!! Our forms are structured to use the implicit relationship of a `label` tag by virtue of it wrapping around in `input` tag (as opposed to using the explicit `for="ID_HERE"` syntax). This is all fine and dandy, except that there's not one, but *two* inputs inside the `label` tag in question.

If I go in via the developer tools and delet

[2020-06-19 05:35] mrjones-plip commented on #6486
Ah! And I found a possible fix.  It appears that the `label` tag is binding ("binding"?) to the *first* `input` inside it.  In our problem case, it's this invisible input mentioned above. Re-ordering the DOM so that this  `input` is rendered after the "real" one (though it looks like it's actually the fake one), the problem goes away.

How easy this is to do is another question ;)

Onward!!

[2020-06-19 09:20] SCdF opened #6504 "Default config tests only work in UTC"
To reproduce:
 - Live outside of UTC, or change your timezone to be different (in linux you can do this scoped sensibly with the env variable, `TZ="EAT"`)
 - Go into `./config/default` and `npm ci` and then run `npm test`

What should happen:
 - the tests should pass!

What happens:
  - one of the tests fail!!

You can fix this by running `TZ="UTC" npm test`.

We should either fix the test / confi

[2020-06-19 10:09] latin-panda commented on #6404
Adding this resource as reference: https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

[2020-06-19 10:34] dianabarsan opened #6505 "Prevent users from opening and filling forms they're not authorized to see/fill"
**What feature do you want to improve?**
We currently filter the report forms we display as available actions in the actionbar to the ones that the user is authorized to see (via the `context.permissions` property in the forms document).
With https://github.com/medic/cht-core/issues/6401, we also filter the create contact forms in a similar manner.
However, if a user accesses the form (be it conta

[2020-06-19 10:36] dianabarsan commented on #6401
Added https://github.com/medic/cht-core/issues/6505 for the security/authorization issue.

[2020-06-19 12:07] dianabarsan commented on #6444
I don't understand tagging as a "bug" as it was never part of any feature request.
Places first appeared as "subjects" in SMS as part of https://github.com/medic/cht-core/issues/5614 , which only covered **creation** and at no point mentioned place centered workflows.

[2020-06-19 12:10] dianabarsan commented on #6444
At the moment, transitions, mainly "registration", requires the subject to be a "person" explicitly (it will add an error if the form lacks a `patient_id` field filled with a valid person shortcode).

We also do not hydrate the "place" (reports have `patient`, not `place`). So we don't consider places as actual "subjects" in terms of workflows.

It's a completely new feature, I believe.

[2020-06-19 15:26] MaxDiz commented on #6444
Thanks for the quick investigation @dianabarsan . Based on your response, I will bump this to v3.12 and re-tag as an improvement.

[2020-06-19 16:55] mrjones-plip commented on #6486
I chatted with @SCdF  on this and he said that MM uses the bootstrap datepicker b/c it fixes  the way older versions of android poorly handle them with the native picker.  He was also able to reproduce the error on his FF instance, which is great :100:

He also said that @garethbowen would likely be the best person to follow up on this ;)  I checked your calendar and it looks like your busy today

[2020-06-20 08:09] kennsippell opened #6506 "tasks.js containing a url in code or comments causes crash in nools"
**Overview**
This tasks.js file
[code]

Causes crash with stack below.

**To Reproduce**
Steps to reproduce the behavior:
1. Update tasks.js to include text above
2. medic-conf compile-app-settings upload-app-settings --local
3. Load tasks tab

**Expected behavior**
No crash

**Logs**
[code]

**Environment**
- Instance: localhost
- Browser: Chrome
- Client platform: Ubuntu Bionic
- App: medic-conf

[2020-06-21 20:55] garethbowen commented on #5917
Following on from [this comment](https://github.com/medic/cht-core/issues/5917#issuecomment-557942396) I'm now more and more certain that we should use the Android Location service by default, only using the browser version when it's not available.

[2020-06-21 22:23] garethbowen commented on #6504
If it's not too difficult I'd rather fix the test to run in all timezones as we have more chance of finding actual timezone bugs.

[2020-06-21 22:25] garethbowen commented on #6505
I think it should also apply to edits. Additionally, we should display an error if the user doesn't have the `can_edit` permission.

[2020-06-21 22:49] garethbowen commented on #6486
@mrjones-plip That makes sense to me! Great idea.

Essentially clicking on the label focuses on the hidden input which triggers Firefox to show the datepicker. IMO this is a bug in Firefox because it should not be possible to focus on a hidden input. If you felt so inclined you could raise a bug in Firefox.

It looks like this code in the enketo-core widget is meant to handle it: https://github.co

[2020-06-21 23:13] garethbowen commented on #6506
Definitely should fix this bug.

I'm curious though, why are you checking a URL? Are you branching based on dev/app versions? I'm wondering if there's also a feature we could add here.

[2020-06-22 11:10] SCdF commented on #6404
Ready for AT in `6404-username-autofill-off`

[2020-06-22 11:15] latin-panda commented on #6276
Hi @garethbowen,

This is the branch with the progress so far: [code](https://github.com/medic/cht-core/blob/311db2373df7ee683bd9425714eb743deb146b00/api/src/controllers/login.js#L230)
Looks like we don't need to enable crossorigin in style.css and script.js resources.

But we do need leave the HTML tags, otherwise the browser will throw a warning saying that those 2 resources weren't used a few s

[2020-06-22 12:18] SCdF commented on #5917
@garethbowen agreed. I actually thought that's what we *were* doing, but it looks like we went browser only a few years ago: #3781

(code still exists in medic-android so we can bring it back to life as need be)

I'm going to do a bit of research on android vs. browser and you and I should chat when you're around in case you've already done the same and we can combine our brains!

[2020-06-22 17:27] SCdF commented on #5917
It's the end of my day: turns out I cannot find anything that would imply that using native android apis over browser ones gives you more accuracy. I'm not saying that it's not possible (it's what I presumed), just that my research didn't turn it up. I think this is important because the browser apis are _much_ easier to work with than the Android ones, and we probably want to use them properly an

[2020-06-22 20:19] mrjones-plip opened #6508 "Confusing messaging on which way to set local dev env"
**What feature do you want to improve?**
We call out two ways to set up a local development environment in both [DEVELOPMENT.md](https://github.com/medic/cht-core/blob/master/DEVELOPMENT.md) (native apps except couchDB in docker) and [INSTALL.md](https://github.com/medic/cht-core/blob/master/INSTALL.md) (all docker, all the time). This is confusing to a new developer.

**Describe the improvement y

[2020-06-22 20:31] mrjones-plip commented on #6508
OK, so in  [DEVELOPMENT.md](https://github.com/medic/cht-core/blob/master/DEVELOPMENT.md), in the very first paragraph, we very clearly call out what this document is for:

Likely we just need to the complimentary explanation in  [INSTALL.md](https://github.com/medic/cht-core/blob/master/INSTALL.md)

[2020-06-22 22:21] mrjones-plip opened #6510 "add entries to .gitignore so it ignores medic-conf files"
**Describe the issue**
By definition, you need to run `medic-conf` in the directory where you CHT configs are. This means it puts additional files into this repo in `config/default`.  These files, in turn, get flagged for being added when git runs and notices new, untracked files.

**Describe the improvement you'd like**
Add entries to `.gitignore` that excludes files from `cht-core` but doesn't p

[2020-06-22 22:23] mrjones-plip commented on #6510
For example, I found these in my `config/default` directory and saw I could safely delete them with `git clean f`:

[code]

[2020-06-22 22:56] MaxDiz commented on #4771
Removed `Blocked` label - scoping to clarify requirements from project deployment and R&L team perspectives has been completed.

Bumped to v3.12 for development

[2020-06-23 00:54] garethbowen commented on #6276
I don't think we need to include the service-worker itself but it'd be good to preload all the files listed in the generated service-worker. There are a couple of dozen of those in addition to the style and script you've got.

[2020-06-23 01:45] ngaruko commented on #6339
LGTM -
Tested the endpoint `/api/v1/contacts-by-phone?phone="%2B9779841299392"` on `local` instance with seed data in `medic/conf/default`
**_On master_**
![image](https://user-images.githubusercontent.com/6979995/85351406-c4fe3e00-b557-11ea-9689-8080ce0310a6.png)

**_On the branch_**
![image](https://user-images.githubusercontent.com/6979995/85351269-6f299600-b557-11ea-9509-455a735d3b8c.png)

[2020-06-23 02:03] abbyad commented on #6380
I think of _that_ as the magic part!

[2020-06-23 03:26] ngaruko commented on #6024
LGTM. Error a lot shorter and concise.
AT'd on `local` using the [text.it API](https://github.com/medic/cht-core/issues/6306#issuecomment-623823702).
1 - Tested without configuring couchdb credentials
**_On master_**
[code]
[2020-06-23 03:23:16] 2020-06-23 03:23:16 ESC[31mERRORESC[39m: Failed to push f88e2fab-eb91-4645-80d1-50a8aa96ad3f to textit-patient: { Error: Mapping error for 'textit-patient

[2020-06-23 10:06] #6508 closed

[2020-06-23 10:29] SCdF commented on #4889
This is ready for AT in `4889-dont-delete-user-settings`.

[2020-06-23 12:52] antonykhaemba opened #6511 "Ability to generate a downloadable file on CHT"
**Is your feature request related to a problem? Please describe.**
As part of Covid-19 Surveillance integrated system, CHT tool is used as the primary data collection tool. Rapid Response Team (RRT) use CHT tool to register suspected cases, collect samples and fill the case investigation and lab request form. Once a case investigation is submitted, the report is pushed to KenyaEMR. According to th

[2020-06-23 13:46] newtewt commented on #6510
The list provided above we should be able to exclude.
[code]
Snapshots are for detecting changes based on your system and the configured system.
Json docs and users.csv are generated by csv-to-docs and shouldn't be committed. The csv folder that contains the data represented as csvs should be committed when changed.
The log can also be excluded.

The xlsx files shouldn't be altered by medic-conf.

[2020-06-23 13:54] newtewt commented on #6510
Ahh I see now why those xlsx were created. Default config is creating them using the generic `PLACE_TYPE-edit.xlsx`. I don't think we should exclude these in gitignore as they could be changed and committed. I'm also pretty sure that medic-conf will create them every time you run the `convert-contact-forms` so just committing them won't work either.

[2020-06-23 15:33] mrjones-plip commented on #6510
Yeah, @newtewt  - I thought some of those we might not be able to safely add to `.gitignore` based on what I thought might be happening.  Thanks for confirming! Even we can't add them all, some will be better.

[2020-06-23 21:06] garethbowen commented on #6492
Ready for AT on `6492-increase-dropdown-clickable-area`

[2020-06-23 21:09] garethbowen commented on #6001
I think the minimal solution (monitoring when the queue is > 0) is fine for now. We can refine this in future releases to expose more detail to reduce the noise but I propose we go with the minimal solution and see how it performs in a real world scenario before trying to work out how to improve it.

Therefore I propose we close this issue. @SCdF Does that work for you?

[2020-06-23 21:10] garethbowen commented on #6024
@ngaruko Should this be in the "ready to merge" state?

[2020-06-23 21:45] garethbowen commented on #6511
We have [an API](https://docs.communityhealthtoolkit.org/apps/reference/api/#get-apiv2exportreports) to export a CSV from the CHT containing reports that match given search criteria. If that contains everything you need you could start by exporting that and then write a script which converts it to whatever format you like. Would that work?

[2020-06-23 22:36] mrjones-plip commented on #6486
@garethbowen  - whew - this is slow going for this PHP engineer over here ;)  I've copied over the enketo core (`src`) into our app and updated `widget.js` to use that local source per your instructions. I can confirm that when I comment out this line in `widget.js`:

[code]

The app then devolves as expected to show the native FF datepicker when the dob field gets focus, with no bootstrap UI to b

[2020-06-23 22:50] mrjones-plip commented on #6486
Oh - that went a lot more quickly than I thought it would! Whew.  All we have to do is change line [94 in datepicker-extended.js](https://github.com/enketo/enketo-core/blob/4.41.6/src/widget/date/datepicker-extended.js#L94) from this:

[code]

To this:

[code]

I'll look into this part now:

[2020-06-23 23:04] garethbowen commented on #6486
One way to solve it is simply by committing the copied code. We'd just have to be careful to update it (or hopefully if it's fixed, remove it) when updating enketo-core.

[2020-06-23 23:12] mrjones-plip commented on #6486
Yes, for sure including the copied code wholesale would work, as it is in my dev environment now.  However, the `datepicker-extended.js` file has this at the top:

[code]

In order to get all those to resolve nicely, I just copied the entire [`src`](https://github.com/enketo/enketo-core/tree/4.41.6/src) directory in which is 805k of new JS for just a one line fix.  I'm hoping for a fix with a more

[2020-06-23 23:14] garethbowen commented on #6486
Have a look at our other custom widgets in `/webapp/src/js/enketo/widgets/` for inspiration.

[2020-06-23 23:21] mrjones-plip commented on #6486
Yes, I saw that! More to get confused by ;)  I'll pick this up tomorrow - but very much appreciate the hand holding through this!

[2020-06-24 04:12] latin-panda commented on #6276
Logging findings and experience so far:

I tried to load the service-worker as **worker**:
`</service-worker.js>; rel=preload; as=worker`
But it's not supported yet:
<img width="1215" alt="Screen Shot 2020-06-23 at 6 23 42 pm" src="https://user-images.githubusercontent.com/66472237/85497668-7c10bd00-b61d-11ea-9bda-e36d2a3db3f2.png">

Then I tried to load it as `rel=prefetch` but this violates Cont

[2020-06-24 07:55] kennsippell commented on #6506
I believe [this is the line here](https://github.com/noolsjs/nools/blob/master/lib/parser/nools/nool.parser.js#L10) @peter-ochieng. Looks like it assumes any `//` is a comment and removes everything after it... Unsure if that can be removed? Or how you'd appropriately patch that regex. Gl!

I've never actually had to use a string literal in my nools code. Not branching based on dev/prod urls. I wa

[2020-06-24 10:35] SCdF commented on #6001
Yep I'm happy with this.

For those reading in the future, this was addressed with the `/api/v1/monitoring` API, and the `outbound_push.backlog` result, with >0 meaning something is failing.

[2020-06-24 10:35] #6001 closed

[2020-06-24 10:38] SCdF commented on #6024
Merged

[2020-06-24 11:10] kitsao commented on #6511
Makes sense @garethbowen. Here's a possible solution @antonykhaemba .

1. Configure the `manifest` as a form that would be triggered as a task upon submission of a `case_investigation` report that has a lab section completed.
2. The work of the `manifest` is to collate the details required and the work of the rapid responder of contact tracer would be to submit it.
3. The user filters reports of `

[2020-06-24 17:19] peter-ochieng commented on #6506
Thanks @kennsippell for the link, am currently working on that regex patch then I'll see how to apply it.

[2020-06-24 20:50] garethbowen commented on #6506
Instead of patching nools I think it'd be better if we could find a way to escape the characters, either in documentation or automatically in medic-conf.

[2020-06-24 23:09] ngaruko commented on #6313
LGTM
**Before**
![image](https://user-images.githubusercontent.com/6979995/85634338-475d3e00-b6cf-11ea-837b-e5343d86cf23.png)

**After**
![image](https://user-images.githubusercontent.com/6979995/85636305-3d8a0980-b6d4-11ea-9152-9f6185e3eecf.png)

[2020-06-25 05:03] ngaruko commented on #6492
![image](https://user-images.githubusercontent.com/6979995/85656097-78a43100-b704-11ea-968a-70560572903f.png)

![image](https://user-images.githubusercontent.com/6979995/85656201-9a9db380-b704-11ea-950e-f47448ff4d61.png)

To 42px
![image](https://user-images.githubusercontent.com/6979995/85656943-80b0a080-b705-11ea-80b0-30774ddccd47.png)
 Should that be enough @n-orlowski ?

[2020-06-25 15:34] newtewt opened #6513 "Run Scalability Suite On a Server against a Server."
**Describe the issue**
Currently we run our scalability suite against gamma.dev from a QA's local machine. There are so many variables with this and in an attempt to cut down on some. We'd want to start running these on a server(AWS) against a test instance. This will allow us to control the machine executing and the machine running against. Hopefully to have the same set of variables each release

[2020-06-25 16:37] newtewt commented on #6404
I'm seeing this occur in Firefox but couldn't get it to happen in Chrome. After the branch is applied. I don't see the autofill happen in either browser.

@JenniferMuli  feel free to merge.

[2020-06-25 18:32] n-orlowski commented on #6492
@ngaruko should be fine thanks!

[2020-06-25 21:41] garethbowen commented on #6401
Ready for AT in `6401-contact-forms-permissions`.

Ensure that if you set a form context with an `expression` or `permission` that disallows the current user from completing that form then it's not shown as an option in the action bar.

Relevant documentation: https://docs.communityhealthtoolkit.org/apps/reference/forms/app/#formsappform_namepropertiesjson

[2020-06-25 22:00] #6404 closed

[2020-06-25 22:51] latin-panda commented on #6276
Final thoughts:

I was trying to preload the resources which the service worker loads in the worker route, and noticed that even if I try to invalidate the preload intentionally (to debug), the browser isn’t giving any error or warning, perhaps because it's background process ( 🤔 ? )

<img width="573" alt="Screen Shot 2020-06-26 at 8 03 01 am" src="https://user-images.githubusercontent.com/6647223

[2020-06-25 23:22] latin-panda opened #6514 "Migrate from SW-Precache to Workbox"
**What feature do you want to improve?**
We have some service workers made with SW-Precache but this library is obsolete already.

**Describe the improvement you'd like**
SW-Precache evolved to the now called Workbox, which has new features that could be useful in the future, additionally it's good to keep our project's technology updated for better support.

**Describe alternatives you've conside

[2020-06-25 23:24] latin-panda commented on #6338
Just a FYI: There's an open [issue](https://github.com/medic/cht-core/issues/6514) to migrate from sw-precache to Workbox.

[2020-06-26 03:46] dianabarsan commented on #6410
Ready for AT on `6410-configurable-menu-icons`.
Documentation PR https://github.com/medic/cht-docs/pull/161

[2020-06-26 09:24] antonykhaemba commented on #1565
`Feedback shared by Brac team`
Brac are piloting v3.8.1 for 40 CHP's in one of the branches and they are expected to upgrade from the current v2.8 to v3.8.1 in a few weeks time. A concern was raised by the CHPs that when a user is under contact profile clicking back takes them to all families in the area instead of the immediate parent profile. This also happens when a user opens a task on the con

[2020-06-26 12:57] MaxDiz commented on #1565
Hi @antonykhaemba glad to hear this upgrade is moving forward. A 2-week turnaround for a non-critical improvement is a tough sell. It is possible to review this issue for a late add to v3.10 (in development currently).  Would BRAC be willing to upgrade to v3.10 when released?

[2020-06-28 21:09] garethbowen commented on #1565
This is a highly complex issue (as you can tell by the comments above) which probably needs another round of design before we look at how to solve it. Adding it to 3.10 would undoubtedly delay its release.

@antonykhaemba How critical is this issue for Brac?

[2020-06-28 21:35] garethbowen commented on #6276
Ready for AT in `6276-login-resources-http2`

As well as testing that the login page still works ensure that the login.js and login.css are preloaded so the page renders quicker. Ensure you clear your browser cache completely between tests.

[2020-06-29 06:39] antonykhaemba commented on #1565
Adding @brian256 to discuss and advise if Brac will be willing to upgrade to 3.10 or maybe 3.11.

[2020-06-29 07:52] ashish-medic opened #6516 "Improve SMS reminders so they can be configured to be sent to places anywhere in the hierarchy"
**What feature do you want to improve?**

Currently, this feature sends reminders only to all the clinic level contact person. Trying out `"recipient": "health_center"` didn't work as expected. We have `recipient` option for registrations,patient_reports, and notifications but it looks like this option is missing for the reminder.

**Describe the improvement you'd like**
 The option of selecting t

[2020-06-29 13:55] Hareet commented on #6513
Let's get Steps 1-3 automated and running then we'll wrap up 4-8.

@nomulex
We'll need to create an IAM user that is limited to starting/stopping 1 AWS Instance at a specific time. Try to make that restricted to a Spot Fleet of 1 instance if possible. Once you have tested those credentials, you can hand them over to Nick.

@newtewt You can use the self-hosting scripts found in medic-infrastructure

[2020-06-29 15:47] MaxDiz commented on #6516
Hi @ashish-medic to clarify, you're looking for something similar to this for "Reminder", correct?

<img width="802" alt="Screen Shot 2020-06-29 at 10 34 46 AM" src="https://user-images.githubusercontent.com/46463417/86026537-2c533c80-b9f5-11ea-99da-db77f9e9e501.png">

[2020-06-29 15:51] MaxDiz commented on #6516
May be worth fixing this issue at the same time: https://github.com/medic/cht-core/issues/3233

[2020-06-30 07:35] ngaruko commented on #6401
LGTM.
Tested by adding `"permission":"can_register_pregnancies" `  and` "permission":"can_report_death"` to `pregnancy.properties.json` and `death_report.properties.json` respectively (and removing `expression`, they seem to work in an OR fashion - not AND - which I guess is intentional @garethbowen ?)... and adding `can-register_pregancies` and `can_report_death` to permission with `chw` enabled.

[2020-06-30 08:40] dianabarsan commented on #6401
@ngaruko we're restricting displaying new contact actions, not new report actions (though thanks for checking we didn't regress there!).

[2020-06-30 12:27] nomulex commented on #6513
I have created the credentials to create a spot fleet and sent them to @newtewt on slack.

[2020-06-30 14:17] mrsarm commented on #6433
I checked the error details and I could reproduce the error well, and I could see that in some tab sections like _"Reports"_ or _"People"_ this is solved showing an error message in the same place the spinner was loading:

![Screenshot_20200630_110749](https://user-images.githubusercontent.com/1608415/86136858-ef557b80-bac2-11ea-9e06-b50aabbda956.png)

Both with the same message and markup, so I'l

[2020-06-30 19:12] garethbowen commented on #6433
Added to 3.10.0 because if not merged any solution will probably be broken by the 3.11.0 angular refactor.

[2020-06-30 21:42] mrjones-plip commented on #6486
@garethbowen  - thanks for the tip re FF bug! I just filed a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1649592) with them.  An interesting finding is that both Chrome and Safari don't show datepicker but they also do not (visibly?) put the focus on the visible input. For reference the distilled test HTML is:

[code]

I wonder if it the other two browsers are indeed putting the focus on th

[2020-06-30 21:46] garethbowen commented on #6481
Ready for AT on `6481-report-filters-dropdown-padding`. Ensure that all dropdowns work as expected on desktop and mobile, and that long menu items are wrapped.

[2020-06-30 21:50] garethbowen commented on #6486
Yes I think so, however we're on a very old version of Enketo so it'd be good to attempt to reproduce this using the latest version before filing a bug. [Plunker](https://plnkr.co/) is a good site for reproducing bugs and means you can share the reproduction if you do end up raising an Enketo bug.

[2020-06-30 22:15] mrjones-plip commented on #6486
Awesome! As always, your guidance is much appreciated.

[2020-06-30 23:36] garethbowen opened #6519 "Upgrading doesn't apply replication configuration which means `users-meta` is empty"
**Describe the bug**

In #4898 (3.5.0) we moved feedback and telemetry docs to being stored in the users meta database for performance reasons. This also included a new configuration option for replication which allowed users to set up replications from one db to another based on a configured cron ([documentation](https://docs.communityhealthtoolkit.org/apps/reference/app-settings/replication/)).

[2020-06-30 23:39] garethbowen commented on #6519
There are multiple solutions to this problem. Initially I was thinking that we should include a default configuration in code which would apply if the app settings were undefined. However, because this code is now only useful for the meta data replication which we rely on working I think we should just hardcode this replication and remove the config option altogether.

[2020-06-30 23:40] garethbowen commented on #6519
@dianabarsan @SCdF I'm curious what you think about my proposed solution. I also think we should include this in 3.10.0 so it just works out of the box.

[2020-06-30 23:49] garethbowen commented on #6424
Closing as not a bug. We can consider improvements to search as a separate issue.

[2020-06-30 23:49] #6424 closed

[2020-06-30 23:53] garethbowen commented on #6313
Merged

[2020-06-30 23:53] #6313 closed

[2020-07-01 01:31] garethbowen commented on #6492
Merged.

[2020-07-01 01:31] #6492 closed

[2020-07-01 03:35] garethbowen commented on #6386
This is the same error as was fixed on the Contacts tab in #5813 and should be fixed in the same way.

[2020-07-01 03:39] garethbowen commented on #6386
There is a very similar bug here too.

1. Open a form
2. Omit a required field on the final page
3. Click Submit
4. See Error saving report next to Submit, and Error: Form is invalid in console.
5. Provide a value and blur the field

**Expected**
The "error saving report" should go away.

![Screenshot from 2020-07-01 15-39-31](https://user-images.githubusercontent.com/2064938/86200537-14c0b300-bbb

[2020-07-01 03:44] garethbowen commented on #6386
This also affects the "actions" forms on the Contacts tab, and the forms on the Tasks tab.

[2020-07-01 05:01] ngaruko commented on #6481
LGTM
Also tested filtering by place and on mobile phone
![image](https://user-images.githubusercontent.com/6979995/86204787-71759b00-bbbc-11ea-9a76-fa6e4a9ac337.png).
![image](https://user-images.githubusercontent.com/6979995/86204812-84886b00-bbbc-11ea-8dbf-7c8db1af688e.png)

[2020-07-01 05:33] dianabarsan commented on #6519
I'm ok with hard-coding and dropping the configuration altogether!

[2020-07-01 08:38] ashish-medic commented on #6516
@MaxDiz yes that's something similar I was looking for. But, in the case of "reminder" when "recipient": "health_center" then SMS  reminders should go to all the persons at the health facility, and when the recipient is `clinic` then all the persona at the clinic level should get the reminder.

[2020-07-01 08:44] SCdF commented on #6519
Agree, just hard code it.

[2020-07-01 12:34] PhilipNgari commented on #1565
@garethbowen . this was said to have worked in 2.8 so it looks like something that broke after 3x. Is there room to resolve this as we know it will be major should  BRAC sign the 2020 SoW. cc @ranjuts

[2020-07-01 13:04] #6481 closed

[2020-07-01 14:23] MaxDiz commented on #6516
potential add to v3.10 for covid response. Relevant conversation: https://medic.slack.com/archives/C3TJFFKK7/p1593592078014500

[2020-07-01 15:47] MaxDiz commented on #6511
@antonykhaemba Checking back to see if this issue has been solved with current functionality and can be closed

[2020-07-01 15:56] dianabarsan commented on #6386
Ready for AT on `6386-clear-submission-error`

[2020-07-01 22:56] garethbowen commented on #6516
I've had a look at the implementation of reminders. The `recipient` configuration is ignored completely, and instead the recipient is hard coded to `reporting_unit`, which explains what you're finding. The reminders have been set up to always SMS to "leaf nodes", which is the lowest level of places, in this case clinics. We should allow people to configure the contact type or user role that we wan

[2020-07-01 23:48] ngaruko commented on #6386
LGTM atm.
As part of this or maybe a separate issue, shall we consider disabling/greying out the the `submit` until all required boxes are ticked ? @garethbowen ?

[2020-07-02 01:18] ngaruko commented on #6410
The Admin console Resource icon dropdowns only displays four options instead of the whole list in the `Icons` section; that this mean only these 4 are `svg` as in the dos @dianabarsan ?
![image](https://user-images.githubusercontent.com/6979995/86305567-126c6080-bc66-11ea-8d8d-3dedab552e5b.png)

[2020-07-02 03:05] garethbowen commented on #6386
Yes I think that's a separate issue to check the state of the validation. The error message that's being cleared here is a generic message that could be to do with having no internet connection, or similar.

I think we should raise an issue to have two messages - one for "validation error" which disables the submit button and clears when something changes, and one for everything else which let's y

[2020-07-02 04:23] dianabarsan commented on #6410
@ngaruko that's correct. you can also check which ones are svg's by looking at the `resources` document in the DB and checking its attachments to verify.

[2020-07-02 04:43] ngaruko opened #6521 "Improve Error Message on Form Submission"
**What feature do you want to improve?**
On form submission, there is a generic error `Error saving report` that shows if the form cannot be saved for any given reason.
**Describe the improvement you'd like**
It would be better to have a clear message on why the report cannot be submitted.
**Describe alternatives you've considered**
One possible consideration for validation errors would be to disa

[2020-07-02 04:43] ngaruko commented on #6386
Raised #6521

[2020-07-02 04:50] garethbowen commented on #6386
Merged.

[2020-07-02 04:50] #6386 closed

[2020-07-02 06:04] ashish-medic commented on #6516
Bringing the slack conversation back here:
- This feature is one of the necessary piece for new workflow for MoH - Nepal which includes DHIS2 integration between CHT and has data points for COVID related information like

  - Number of clients in COVID Clinic
  - Number of isolation beds available
  - Number of people in isolation - COVID Suspected
  - Number of people in isolation - COVID Confirm

[2020-07-02 09:40] Enock1990 opened #6523 "Due Date for Danger signs not showing up on the Summary Page"
While using the CHT Demo the Due Date for a Danger sign for a pregnant woman does not show up on the summary page. Looks like the sentence is missing the date.
**Steps to reproduce the behavior:**
1. Go to 'New Action' under a pregnant woman
2. Click on 'Pregnancy Follow up'
3. Do the follow-up and ensure you indicate the pregnant woman has a danger sign
4. On the summary page, it doesn't show the

[2020-07-02 15:24] benkags commented on #6396
Just had a chat with an Africas Talking Developer on an unrelated issue to do with CIHA and I brought up IVR. He recommends https://mteja.io/. It's a sister company and AT has been using it for their IVR needs internally instead of their own voice offering.

I have not had a look into it yet but wanted to leave it here an an option we may want to explore.

[2020-07-02 18:46] MaxDiz commented on #6516
Thanks for the additional info @ashish-medic . Based on your description, I think the daily reminders can wait until v3.11. I realize it's not an optimized workflow, but the critical health reporting information from DHIS2 would still be available for facility personnel to check.

As a temporary alternative, perhaps we could look into:
1) educating facility personal to the availability and value o

[2020-07-02 22:52] garethbowen commented on #6418
It'd be worth mentioning [this breaking change](#6519) in the release notes.

[2020-07-02 23:26] garethbowen commented on #6519
Ready for AT in `6519-hardcode-users-meta-replication`. The replication steps above should be enough to test this, but ensure the `app_settings.replications` configuration is empty first to prove that it's not longer used.

There's an associated docs PR here: https://github.com/medic/cht-docs/pull/200

[2020-07-03 05:34] antonykhaemba commented on #6511
Not yet, we are still discussing with the Apps team on how well this can be handled on CHT @MaxDiz

[2020-07-03 08:25] dianabarsan commented on #6410
Merged into `master`.

[2020-07-03 08:25] #6410 closed

[2020-07-03 09:24] ashish-medic commented on #6516
@MaxDiz those are very plausible ideas, but one of the strengths of CHT is a task, target, and reminder/schedule, and using these features helps users to increase the reporting rates. This workflow is about reporting/submitting Dhi2 forms in a timely manner with COVID response in mind. This feature will be highly advantageous for MoH Nepal COVID response.

Talking about RapidPro workflow there is

[2020-07-06 02:12] nnbhandari1 commented on #6516
@ashish-medic Considering the associated cost, I do not think an SMS reminder would be necessary atm. However, it would be a great function if the SMS was free.
Can the app notify the user on a daily basis?

[2020-07-06 02:26] ngaruko commented on #6094
LGTM

[2020-07-06 03:34] ngaruko commented on #6352
LGTM .
Did you want to have a second look @senseibara

[2020-07-06 06:08] nnbhandari1 commented on #6516
@ashish-medic, @ranjuts , and I had a quick discussion regarding the SMS reminder feature. Although the feature is very helpful, we concluded, that given the time crunch and the current requirement, it would be most helpful to launch the app at the earliest possible. We can upgrade our system later on in time to give an added experience to our users.

-

[2020-07-06 07:04] dianabarsan commented on #6094
Merged into `master`.

[2020-07-06 07:04] #6094 closed

[2020-07-06 12:41] MaxDiz commented on #6516
adding to v3.11 based on above conversation

[2020-07-06 13:07] SCdF commented on #5917
Talked with Gareth. Here are three things we're looking at, as an evolution of our GPS strategy:
 - Make sure we are catching all debug info we can, somewhere. Against the form, or in telemetry etc
 - Change our JS code to use web geo api as optimally as possible
 - Change our android code to use native apis as optimally as possible (this will likely come later)

[2020-07-06 14:15] abbyad commented on #6401
@ngaruko do you have screenshots and the code snippets for showing/hiding the option to add contacts?

@derickl, as the person who opened the issue could you do a pass at AT to also verify that the behaviour matches what is needed?

[2020-07-06 15:04] abbyad commented on #6396
Thanks @benkags, will keep this in mind too!

Current countries of operation for Mteja: Kenya, Uganda, Nigeria, South Africa, Philippines, USA
![image](https://user-images.githubusercontent.com/789512/86608394-7a79ba00-bf78-11ea-8ec8-a274b9f018a9.png)

[2020-07-06 17:41] newtewt commented on #6513
@Hareet @nomulex  if I request a spot instance using and specify the `prepare.sh` file in user-data. I believe it would fail because the `docker-compose.yml` is not copied as well. Am I missing a step?

[2020-07-06 23:29] garethbowen commented on #6396
@abbyad Can we remove this from 3.10.0, and either put it in 3.11.0 or track it separately from product releases?

[2020-07-07 06:08] ngaruko commented on #6419
Seems to fire multiple errors at once @SCdF
[code]

[2020-07-07 08:12] SCdF commented on #6419
@ngaruko apart from the double logging is this AT complete? I'll take a quick look but it's very minor and may just be an artefact of how we report transition failures, and I'm guessing you also see this on master right now as well?

[2020-07-07 14:07] nomulex commented on #6513
@newtewt  would it make sense to make two requests one to create the instance etc and one to  push the compose file and any other files you need

[2020-07-07 14:22] abbyad commented on #6396
We are tracking it with releases for scheduling purposes. We are aiming to wrap up the investigation by the end of next week, so it should be fine to leave in 3.10 and will close ahead of the release.

[2020-07-07 14:28] newtewt commented on #6513
@nomulex  I think that's going to be the solution. I was hoping to use the `user-data` option on the request so it processes that script at launch but without moving it around I'm not sure that it's possible.

[2020-07-07 22:34] ngaruko commented on #6419
@SCdF If you are still looking at the error logging, there is even a less elegant error log I see when I use the wrong `flow_number`. Obviously most of it comes from the third party api (`textit`), but it looks quite challenging to look.
[outbound-error.txt](https://github.com/medic/cht-core/files/4887444/outbound-error.txt)
Other than that, it is good to merge - and yes, it is on master as well

[2020-07-08 03:38] garethbowen commented on #6516
I think this is reasonably safe and the initial dev work is out of the way so I'm bumping it up to 3.10.0.

[2020-07-08 06:58] ngaruko commented on #6116
LGTM

[2020-07-08 08:49] SCdF commented on #6024
According to this comment: https://github.com/medic/cht-core/issues/6419#issuecomment-655171376

We aren't correctly catching request issues

[2020-07-08 12:51] SCdF commented on #6024
@ngaruko I cannot reproduce your error in the logs. It very much looks like it's from a much older version of master, prior to the log work done in this ticket.

I used the latest master as of the time of this comment. I created the following outbound config:
[code]

I used a mock JS file to return the same style of error that you got, that looks like this:

[code]

When I engage with this config

[2020-07-08 12:59] SCdF commented on #6419
I've reopened the ticket responsible for making clean error logs and we'll continue that conversation there. Since the scope of this ticket passed AT, I'll merge it.

[2020-07-08 13:08] SCdF commented on #6419
Merged

[2020-07-08 13:08] #6419 closed

[2020-07-08 14:29] SCdF opened #6528 "Work out definitively how CouchDB authentication maintains fresh authentication tokens"
There has been some confusion recently about exactly how our authentication tokens are maintained, and what users need to do to maintain them.

We use CouchDB authentication. In production systems we set the auth timeout to 1 year. This means that when you call `_session` and authenticate the token you get back is valid for one year (provided you don't invalid it and all tokens for that server by

[2020-07-08 14:29] SCdF commented on #6528
This conversation has some more internal details: https://medic.slack.com/archives/CEQTMKFT8/p1594192795003500

[2020-07-08 16:13] SCdF commented on #6528
This was brought up in the CouchDB slack by @nomulex. The gist is that how the code works right now means that any interaction with CouchDB in the _last 90% of the session time_ should result in the session being regenerated.

So if the timeout is set to 10 minutes, then as long as the device syncs somewhere inside 1:00->9:59 it should result in their session being extended by another 10 minutes.

[2020-07-08 18:45] dianabarsan commented on #6516
Ready for AT on `6516-remind-anyone`.
Documentation PR: https://github.com/medic/cht-docs/pull/216

[2020-07-08 22:01] garethbowen commented on #6433
Ready for AT in `6433-fix-infinite-spinners`

[2020-07-08 22:18] garethbowen commented on #6121
Ready for AT in `6121-app-settings-translation-update`

[2020-07-08 22:54] ngaruko commented on #6024
@SCdF Seems to work well when I switch to this branch (`6024-cleaner-errors`)- but not on `master` atm. Must be a glitch in my environment as this was merged last month, and was expecting to be clean log in `master` ...
[code]

[2020-07-09 00:00] garethbowen opened #6530 "Add rate limiting to authentication endpoints"
Currently it's possible for a malicious actor to make unlimited attempts at logging in until correct credentials are found. This sort of brute force attack should be limited by rate limiting failed authentication requests. This goes for both logging in through the login form, as well as basic authentication via a range of URLs.

Denial of service style attacks are out of scope for this issue.

[2020-07-09 00:31] ngaruko commented on #6433
Looks good  - Maybe we could improve on the error message to be more specific but that would be a different improvement issue.

[2020-07-09 04:04] ngaruko commented on #6121
Looks good. Translations propagate without the need to refresh. Ready to merge...

[2020-07-09 08:44] peter-ochieng commented on #6121
Merged to master

[2020-07-09 08:44] #6121 closed

[2020-07-09 10:53] SCdF commented on #6024
Talked to Bede, this was a mistake in his retesting, and it works as expected

[2020-07-09 10:53] #6024 closed

[2020-07-09 16:16] MaxDiz commented on #5697
removing from v3.12 so can be considered alongside #5997 and #5886 (to be scheduled)

[2020-07-09 16:17] MaxDiz commented on #5710
removing from v3.12 so can be considered alongside #5997 and #5886 (to be scheduled)

[2020-07-09 19:59] n-orlowski commented on #5775
<img width="1406" alt="Screen Shot 2020-07-09 at 12 50 58 PM" src="https://user-images.githubusercontent.com/59581790/87084289-d8a9d580-c1e2-11ea-9527-59e6708a54c1.png">

Latest iteration is to have 2 levels of priority for MVP, labelling high priority items as "Priority Care", visible across the app and including a card on the contact pages.

The concept here is to simplify the identification for

[2020-07-09 20:39] michaelkohn commented on #5775
I think it looks great. It leads me to these proposed assumptions and questions:

**Assumptions**
- Conceptually, this new design caters to two levels of priority: priority and non-priority (not sure of best terminology)
- There are three entities that might have a priority associated to them: families, family members, and tasks
- Tasks associated to a priority family can be priority or non-priori

[2020-07-09 21:59] n-orlowski commented on #5775
@michaelkohn

Most assumptions are correct however:
- Non-priority families and/or non-priority people should not receive priority tasks

For other stuff:
- Priority/risk examples: Economic vulnerability, unlikely to deliver at facility, late illness identification (@ecsalomon can add more)
- Unsure about how to specify priority but I imagine it would be the same as tasks are configured..
- There

[2020-07-09 22:03] ecsalomon commented on #5775
To add a bit on this question:

I would say that we should support _whatever is the level displayed in the contacts list for the user_ and all levels below that (whether this is families + family members or clinics + nurses or something other combination) being priority, but not any levels above that.

[2020-07-09 22:31] MaxDiz opened #6532 "Add RapidPro as an SMS Gateway"
The I-Tech project is moving forward with scale-up in Zimbabwe. The care protocol relies heavily on using two-way-text to communicate between patients and facility level providers. Using medic-gateway running on android to send and receive SMS using medic-api APIs has some issues including being dropped from the play store, the app going to sleep, low throughput, high latency, etc. And, the CHT's

[2020-07-10 08:02] dianabarsan commented on #6130
Ready for AT on `6130-minify-deleted-records`.

[2020-07-10 09:31] dianabarsan opened #6533 "Sentinel might process changes when it shouldn't"
We have a mechanism where Sentinel would stop processing changes if any of the enabled transitions is misconfigured.
Right now, because of how our queue is paused and resumed when it reaches certain length, we might get in a situation where sentinel processing is resumed even if it was stopped due to a misconfigured transition.

**To Reproduce**
A little disclaimer that this a total race condition

[2020-07-10 12:47] nomulex commented on #6513
Removing this from the SRE dashboard since all necessary access was granted.

[2020-07-10 13:49] #6433 closed

[2020-07-10 13:53] dianabarsan commented on #6352
@senseibara are you interested to AT this before it gets merged?

[2020-07-10 15:33] SCdF commented on #5917
@garethbowen / @abbyad current prod code does two things that are potentially confusing:
 - Has the timeout for how long it's willing to wait for geo data set at 5 minutes, but completely ignores this and if it doesn't get a geo lock in time it just passes geo as undefined
 - Only overwrites geo data if it has any, leaving old geo on edited docs arbitrarily

The former is probably one of the reaso

[2020-07-10 15:54] abbyad commented on #5917
What is the time in "doesn't get a geo lock in time" -- is that 5 mins, or based on user behaviour, like completing the form?

As for ammendments, I think that is a bigger question to address than just for GPS, as it has to do with our data model and auditing. We should open a separate issue for that. cc @MaxDiz

[2020-07-10 15:59] MaxDiz commented on #6418
Product education for this release:
https://github.com/medic/cht-docs/issues/225
https://github.com/medic/cht-docs/issues/226

[2020-07-10 16:27] SCdF commented on #5917
Exactly, like completing the form

[2020-07-10 18:17] senseibara commented on #6352
sorry @ngaruko @dianabarsan for my late answer,
I can try this out monday and revert to your ( hoping that's a fine turnaround )

[2020-07-10 21:41] michaelkohn commented on #5775
Thanks for the feedback @n-orlowski @ecsalomon

## Priority/non-priority tasks

@n-orlowski I agree that they should not automatically be priority tasks, but since tasks themselves are an entity that can independently have a priority associated to them, a non-priority person should be able to have a priority task (as it works today).

## Priority for all places and contacts

Cool. I hadn't heard a

[2020-07-10 22:18] michaelkohn opened #6536 "Improve availability of priority information on task documents and align with FHIR coding"
**What feature do you want to improve?**
The [task documents](https://github.com/medic/medic-docs/blob/master/development/db-schema.md#tasks) that are stored to disk, and potentially the task definitions in tasks.js.

**Describe the improvement you'd like**
I would like to know the task priority from the task document without having to know which task definition was used to create it. I would also

[2020-07-10 22:44] ecsalomon commented on #5775
automatically be priority tasks, but since tasks themselves are an entity
that can independently have a priority associated to them, a non-priority
person should be able to have a priority task (as it works today).

Our thinking is that if you have a status/condition that elevates a task to
high priority, that status should show on your profile

On Fri, Jul 10, 2020 at 4:41 PM Michael Kohn <notifi

[2020-07-12 07:47] jimbo108 commented on #6502
I've fixed this in my local branch -- still need to write a unit test and create PR.  Aiming to do so in the next 3 days.

[2020-07-13 02:27] ngaruko commented on #6516
LGTM - Pinging @ashish-medic to double check that the behaviour matches what is required?

[2020-07-13 02:57] ngaruko commented on #6130
The original Json and the JSON of the deleted doc seem almost the same with a few lines of difference (but this seems to be the case with `master` as well). Am I missing something @dianabarsan ?
![image](https://user-images.githubusercontent.com/6979995/87266361-28f1a200-c519-11ea-846f-d852622e0830.png)

[2020-07-13 05:18] dianabarsan commented on #6130
The `$$hashKey` is a property that Angular adds (as a means to uniquely identify scope objects).
I've never seen it (and I just tried deleting a doc on `gamma.dev`), but I'm probably not reproducing it correctly.

@njogz would you mind looking into this?

[2020-07-13 06:36] njogz commented on #6130
Yes. Looking into it.

[2020-07-13 08:20] njogz commented on #6130
I am also unable to reproduce the `$$hashKey`. @ngaruko could you please provide the steps to reproduce the diff you show above?

[2020-07-13 08:57] latin-panda commented on #6491
Hi @newtewt
I uploaded the standard app settings and made the backup (also checked the settings in the DB) but looks like it's okay (see attachment)
[app_settings.json.1594623370432.txt](https://github.com/medic/cht-core/files/4911366/app_settings.json.1594623370432.txt)
Do you remember any other step or additional information that we can use to reproduce the issue? Thanks!

[2020-07-13 10:38] ashish-medic commented on #6516
The following code is working as expected. LGTM
[code]

[2020-07-13 10:52] ngaruko commented on #6516
Thanks @ashish-medic

[2020-07-13 11:00] ngaruko commented on #6130
@njogz I was using `standard` configuration - deleted report loaded from  [test data](https://drive.google.com/drive/u/2/folders/1At2nQR-OAjpUVoEyrE0ekrHP-sNLeYhc)

[2020-07-13 12:16] dianabarsan commented on #6116
I'm moving this back to "In progress" because it needs a little more work.
A migration that it's adding needs a small update to generate the a new seq tracker for sentinel - so when Sentinel v.310 starts for the 1st time after an upgrade, it won't start processing all deletes from 0.

[2020-07-13 13:00] newtewt commented on #6491
@latin-panda  I tried this morning to recreate the issue on 3.9. I cannot.  I don't believe there were any other steps.  I'm going to close this and if we notice it again we can reopen.

[2020-07-13 13:00] #6491 closed

[2020-07-13 13:37] senseibara commented on #6352
@ngaruko @dianabarsan , i tested a few scenarios and it looks really great to me !  nice work @dianabarsan.

[2020-07-13 13:55] dianabarsan commented on #6352
Merged into `master`.

[2020-07-13 13:55] #6352 closed

[2020-07-13 17:41] SCdF commented on #6528
The partner currently has 3.5.0, so this was tested on this build and 3.9.0 (latest release at the time). Timeout was set to `600`, so 10 minutes.

3.5.0
 - sync, offline for 11minutes, online, sync. Expected: logged out. Result: success: unknown error on sync*, logged out on reload
 - sync, online for 9 minutes, continually sync for 2 min or until it fails. Expected: say logged in. Result: succes

[2020-07-14 03:02] garethbowen commented on #6516
Code and documentation merged.

[2020-07-14 03:02] #6516 closed

[2020-07-14 07:58] njogz commented on #6130
@ngaruko the `$$hashkey` key issue will possibly be resolved with the angular update coming up. Gareth mentions that [here](https://github.com/medic/cht-core/issues/6468#issuecomment-638463350)

[2020-07-14 12:46] SCdF commented on #6528
Worth mentioning that this reupping mechanism is done via the `set-cookie` header, which CouchDB will return in the response when it considers it appropriate:

![image](https://user-images.githubusercontent.com/583851/87426534-353c3480-c5d7-11ea-924d-fb1fa2f96cb2.png)

This doesn't appear to be the case right now (as noted in the screenshot), but there is potential in the future for us to lose thi

[2020-07-14 13:12] Patrickyk commented on #6528
We have had spontaneous logouts from our 3.6 implementation . Normally after pushing updates  and a few users  are logged out every two weeks .
If the token is unchanged and is not expired are there other factors that can cause it to become invalid ?

[2020-07-14 18:28] Hareet commented on #6528
https://calnetweb.berkeley.edu/calnet-technologists/incommon-sectigo-certificate-service/addtrust-external-root-expiration-may-2020

Our legacy devices fall into `Condition 1`:

Reading through the link, it looks like our only option is to create `Trust Chain Path C`:

USERTrust RSA Certification Authority [Intermediate 2] (Exp: Dec 31, 2028)
InCommon RSA Server CA [Intermediate 1] (Exp: Oct 5, 20

[2020-07-14 18:32] mrjones-plip commented on #6528
It sounds like @Hareet has a good fix re root certs (and is certainly WAY more in the know about cht-core than me), but @SCdF  - I know that HAProxy can be configured to log both egress and ingress headers if we're concerned about checking historically what's happening on that instance. Unsurprisingly, Hareet will know more about this and our default logging config too ;)

[2020-07-14 19:24] newtewt opened #6537 "Upgrade python dependency to latest"
**Describe the issue**
Python 2 hit end of life Jan 2020.

**Describe the improvement you'd like**
We should move to python3 or possibly investigate other solutions if need be.

Running list of things that are affected.

- [ ] Medic-conf ` npm test` fail because xml elements are in a different order than the stored files we have in test.
- [ ] prepare.sh has some commands that won't run if you don

[2020-07-14 21:25] mrsarm commented on #6537
I think we should maintain compatibility with Python 2 while moving to Python 3 as "main" version. To do that, checking the code of our pyxform we can figure out why the XML are produced in that why and fix it, not because it is a bug but to maintain compatibility.

As far I could see today, the difference between the XML produced when used with Python 3 is that the attributes in the XML tags are

[2020-07-14 22:05] newtewt commented on #6537
@mrsarm  I think I have a solution that will work regardless. Using `chai-xml` compares it and we don't have to worry about ordering.  I'll have a pull request in for that tomorrow and get your feedback.

[2020-07-14 22:25] mrsarm commented on #6537
@newtewt yes but are we sure that generating the XML like that does not represent any issue in the CHT apps? It shouldn't, XML attributes' order should not be taken into account, just wanted to confirm.

As far I could see, using the medic-conf with Python 3 works well, I could use it to export the default configuration under this [folder](https://github.com/medic/cht-core/tree/master/config/defau

[2020-07-15 01:56] MaxDiz opened #6538 "Adhere to play store privacy policy requirements update"
Google recently announced an [update](https://support.google.com/googleplay/android-developer/answer/9914283) to their Google Play Policies, which takes effect Aug 12, 2020. Adherence is mandatory, else risk de-listing. Included in this update, they require developers to:

For the in-app disclosure, UI requirements include:
- Must be displayed in the normal usage of the app and not require the use

[2020-07-15 02:01] MaxDiz commented on #6538
@abbyad can you link to the privacy policy language?

[2020-07-15 02:11] garethbowen commented on #6538
@n-orlowski Have you got time to investigate what this would look like in the app?

[2020-07-15 04:15] brad1905 commented on #6519
Working as expected, verified docs replicated to the medic-users-meta db

[2020-07-15 04:46] garethbowen commented on #6519
Merged!

[2020-07-15 04:46] #6519 closed

[2020-07-15 05:43] jimbo108 commented on #6502
Created PR #6539 to address this issue.

[2020-07-15 06:07] latin-panda commented on #6251
This ticket has 2 PRs:

medic-conf: https://github.com/medic/medic-conf/pull/340
cht-docs: https://github.com/medic/cht-docs/pull/234/files

[2020-07-15 06:36] iesmail-znz commented on #6528
@SCdF , I tried all 4 scenarios on my testing instance running version 3.5.0, and my results match yours.

[2020-07-15 08:02] SCdF commented on #6528
@Patrickyk thanks for this additional data point! I'm not sure these issues are related, but it's certainly weird and in the same ballpark. Your issue is even weirder though honestly: updates are pushed via replication (sync) which in theory requires that the user's cookie is valid. It's not clear to me how your users have a valid cookie that allows them to get updates, but that cookie isn't valid

[2020-07-15 12:10] SCdF commented on #5917
OK PR for webapp changes here: https://github.com/medic/cht-core/pull/6535

[2020-07-15 13:26] SCdF commented on #5917
PR for removing the periodic gps call in android: https://github.com/medic/medic-android/pull/110

[2020-07-15 15:24] n-orlowski commented on #6538
Sure do! Will propose a few options by EOD

[2020-07-15 15:40] IreneAchola opened #6540 "Improve uniqueWithin validation"
**What feature do you want to improve?**
On SMS validation, there is a `uniqueWithin` functionality that checks if a report, with a number of fields, was submitted within a specified time period and `exists`, that checks if a form with a certain field exists for a patient. It would be great to be able to do a validation for form submissions that are dependent on other forms that have been submitte

[2020-07-15 16:20] abbyad commented on #6538
The privacy policy will be different between deployments. You can see a sample with this [draft privacy policy for one upcoming deployment](https://docs.google.com/document/d/17lKWxlzGXwZSXxoj9bTvyYlPp-ptSBkcHumnserQv4E/edit?usp=sharing) (private link). The format can be updated as needed to plain text, markdown, or other.

[2020-07-15 18:34] n-orlowski commented on #6538
<img width="1420" alt="privacy-flow" src="https://user-images.githubusercontent.com/59581790/87581628-1ba9f400-c68e-11ea-9b25-e89a1ff3e758.png">

Aligned on this flow with @garethbowen :

- On load we would check to see if the latest version of the policy has been accepted, if not we'd display the first screen
- The policy is quite long to scroll through so the Accept button should be sticky / alw

[2020-07-15 18:40] garethbowen commented on #6538
Another few requirements...

- We need to allow translation but this can be as simple as allowing configuration of multiple blobs of formatted text, one for each language.
- We need to track when the user accepted the policy, which language they accepted, and which version they accepted.
- We need to show the prompt and require acceptance again on future start ups if the policy is updated from the

[2020-07-15 19:34] dianabarsan commented on #6538
If language matters, what should happen if the user changes their language?

[2020-07-15 19:43] garethbowen commented on #6538
Good question. I think we should show the policy again on next load. It's not likely to happen but just in case they didn't understand the policy the first time so clicked through and changed their language in app.

[2020-07-15 20:08] garethbowen commented on #6538
As for format, markdown would be ideal but would require including a markdown generating library to be included which I'm reluctant to do for just this feature. I think plain old HTML is the way to go, relying on `ng-bind-html` to sanitize it and only allow "safe" elements through (ie: no `script` injection).

[2020-07-16 02:52] ngaruko commented on #6130
@dianabarsan I am trying to understand what this ticket was supposed to do and make sure we did the right thing. As I see, there seems to be no much difference between the Json of the original report and the Json of the deleted report.
Tested with`undo death`  report  and did a file comparison between the two json. Differences as follow (ignoring the _rev of course) -

**on master** (`undo death r

[2020-07-16 03:13] dianabarsan commented on #6130
This is what the ticket was supposed to do :)

[2020-07-16 06:56] leah-ngaari commented on #6540
FYI @PhilipNgari and @SMurithi. This might affect deployment of MoH SMS Kenya projects.

[2020-07-16 07:24] antonykhaemba commented on #6444
Hi @MaxDiz
Is it possible to move this request to v3.10, we are likely to deploy the project in August 2020. Delays might affect the deployment of MOH SMS projects.

cc @IreneAchola @leah-ngaari and @PhilipNgari

[2020-07-16 07:24] PhilipNgari commented on #6444
@max  I would propose we consider this to be released in the next release.There is possibility of a deployment in  1 month time or so.

[2020-07-16 10:24] ngaruko commented on #6182
Tested with the [pregnancy form](https://github.com/medic/cht-core/blob/6182-pyxform-configurable-hierarchy-support/config/default/forms/app/pregnancy.xml), with appearance set to `select-contact type-{{contact_type}}`.
Not sure if we should think of handing invalid `select-contact` types (or no type entered) in the UI @garethbowen ?
Just to notify the user what went wrong.
![image](https://user-i

[2020-07-16 12:28] SCdF commented on #6528
The only work to be done on this ticket (unless we get more information that shows that there is a bug in how we expose authentication) is to write some tests to make sure we never drop these headers.

[2020-07-16 20:19] abbyad commented on #6540
Just wanted to note that there is ambiguity in [the validation functions documentation](https://docs.communityhealthtoolkit.org/apps/reference/app-settings/#cht-validation-functions) which will be fixed shortly.

The example in the documentation makes it seem as though `uniqueWithin` _already_ checks other forms:
![image](https://user-images.githubusercontent.com/789512/87718556-fbf2f880-c77f-11ea

[2020-07-16 21:53] garethbowen commented on #6182
Possibly... this affected the old way of defining contact types too so I agree it shouldn't block this issue. Maybe raise a new issue in cht-core so it's more obvious when the search is always going to return no results?

[2020-07-16 22:06] garethbowen commented on #6182
Documentation and cht-core code merged.

[2020-07-16 22:37] garethbowen commented on #6380
Ready for AT.

Read through the documentation PR here: https://github.com/medic/cht-docs/pull/220
You'll need to build a custom medic-android app to handle the URLs using the branch: `6380-token-login`
Then install the cht-core branch: `6380-remote-login`

[2020-07-16 22:40] ngaruko commented on #6130
I guess we can merge and close this off @njogz .

[2020-07-16 23:34] garethbowen opened #6543 "Allow for multiple places to be assigned to users"
### Overview

Currently replication permissions are based on a user's facility_id. This is a single UUID that references a place in the hierarchy. The user is permitted to access all people and places underneath that place. The user also has access to all reports about the people and places they can access.

There are a few caveats to this, including
- depth: restricting how many levels below your

[2020-07-16 23:37] garethbowen commented on #6458
@kennsippell Is this a duplicate of #5701 ?

[2020-07-16 23:41] garethbowen opened #6544 "Update docs on phone when replication permissions change"
### Overview

Currently replication permissions are based on a user's facility_id. This is a single UUID that references a place in the hierarchy. The user is permitted to access all people and places underneath that place. The user also has access to all reports about the people and places they can access.

There are a few caveats to this, including
- depth: restricting how many levels below your

[2020-07-17 00:15] MaxDiz commented on #6444
It's too late to add non-production related issues to v3.10. I am adding to v3.11 to try to meet the tbd deployment timeline

[2020-07-17 05:54] Patrickyk commented on #6528
@SCdF thanks  very helpful. Will revert after investigation.

[2020-07-17 07:59] dianabarsan opened #6545 "Change /users/info api to deal with task documents"
**What feature do you want to improve?**
The `/users/info` api was added as a means to warn configurers and users when replicating too many docs.
This endpoint is called with specific parameters (`roles` and a `facility_id`) when adding/editing users (via admin console or medic-conf).This configurer-side request completely disregards which user we're editing.

This endpoint is _also_ called when p

[2020-07-17 08:33] dianabarsan opened #6546 "Change API to detect if the client is human when returing error responses"
**What feature do you want to improve?**
Login as an offline user and access `http://<yourhost>/admin` in your browser.
You'll see a json response on screen `{"error":"forbidden","reason":"Insufficient privileges"}`.
This is just one example, there are plenty of occurances where human requests will end up with json responses.

**Describe the improvement you'd like**
API could detect when the clien

[2020-07-18 03:05] #6130 closed

[2020-07-19 21:46] garethbowen commented on #6545
Sounds good!

Having ~70x more tasks that docs sounds like a misconfiguration. Should raise a new issue to warn about that somehow...

[2020-07-20 02:15] dianabarsan commented on #6545
The instance in question was a test instance. I'm assuming the configuration changed a lot, and with every configuration change, "old" tasks get canceled and new tasks get generated. And they just .. pile up in large numbers.

Even if we would warn, it wouldn't be actionable, for the same reasons I've iterated above. Also, the reason of the large number of tasks might not be because of the current

[2020-07-20 02:38] garethbowen commented on #6545
I was hoping to detect misconfiguration which could impact performance, but ideally these would be caught earlier (eg: in the config test harness) so let's not worry about it now.

[2020-07-20 06:39] dianabarsan commented on #6380
Addendum to the AT instructions:

In order to enable the Android intent (allowing app links to open in the medic-android webapp), you need to update the code before build, setting your host in the settings:
https://github.com/medic/medic-android/blob/6380-token-login/src/main/res/values/strings.xml#L6
[code]

example branded: https://github.com/medic/medic-android/blob/6380-token-login/src/hope_th

[2020-07-20 07:35] ngaruko commented on #6380
Thanks @dianabarsan for the added notes. It looks good now.
Tested by adding `token_login.app_url` and `token_login` to `app_settings.json`
[code]
and `app-host` to medic-android (testing  with unbranded flavour)
	`<string name="app_host">f45889e82732.ngrok.io</string>`
and sending message generated by creating a user with ` Enable login via SMS link` checked.
![image](https://user-images.githubus

[2020-07-20 18:55] mrjones-plip opened #6551 "Remove serveo from developer setup doc, replace with pagekite"
**What feature do you want to improve?**
Our docs tell developers to use serveo to test their app with a valid TLS cert. Server has been down for many months see [Diana's comment in slack](https://medic.slack.com/archives/C024KTGRW/p1582654771003800)

also rando [Stack Overflow comment](https://stackoverflow.com/questions/8569892/how-to-test-open-graph-on-localhost/52227444#52227444)).  We should

[2020-07-20 20:13] abbyad commented on #6396
Some thoughts from the investigation are in this [internal doc](https://docs.google.com/document/d/1XAlgfTNUJDaLdA04FDtyfjPSIaLCFeUAFU1gMUrS3Ic/edit#). I think this gives us enough to move forward and to close this issue.

@ranjuts please comment in the doc where additional info is needed, and any questions you may still have. We can create a new issue for any more IVR-related work.

[2020-07-20 20:13] #6396 closed

[2020-07-20 21:00] garethbowen commented on #6502
Ready for AT. This was developed by an external contributor so it's not available on the market but you can deploy using a dev environment on the `jimbo108` fork, `master` branch.

[2020-07-20 21:13] ngaruko commented on #6380
Sorry @dianabarsan - Was too quick to move this to ready to merge. Since it is a new feature and an important one for that, I have asked @n-orlowski  to give it a final look and try different use cases/scenarios/error messages etc and give us feedback.
@abbyad Feel free to think of edge cases /eventual gotchas before we close it off.

[2020-07-20 21:58] n-orlowski commented on #6380
Curious to know if CHWs will know how to contact the admin if they run into the error state.. Maybe a more suitable message would be to contact their supervisor? Other scenarios look like they work well 🙂

<img width="411" alt="Screen Shot 2020-07-20 at 2 57 18 PM" src="https://user-images.githubusercontent.com/59581790/87990660-513d4b80-ca99-11ea-9b84-14d4e118c2c9.png">

[2020-07-21 01:03] mrjones-plip opened #6553 "Research way for developers to test TLS requiring android app against specific cht-core branches"
**Describe the issue**
Currently developers who are following our [developer guide](https://github.com/medic/cht-core/blob/master/DEVELOPMENT.md) are instructed to reverse proxy their dev instance behind ngrok's TLS servers.  This allows the android app to connect with a valid TLS cert but still gives the developer flexibility to run their own, local code which they can easily iterate on.

When we

[2020-07-21 01:23] garethbowen commented on #6553
Another alternative is to pay for pro level service which should get around the throttling.

[2020-07-21 03:21] Hareet commented on #6553
Two scenarios SRE recommends:
1. Everyone can use [linuxserver's docker-letsencrypt](https://github.com/linuxserver/docker-letsencrypt) with some port config to talk to the rest of the dev setup (or deploy it inside the docker network medic-net if you are using medic-os). You can take the nginx.conf from medic-os and likely pass it through.

Here's the steps I imagine:
Turn up node on 5988, launch

[2020-07-21 03:27] mrjones-plip commented on #6553
Good point! We might want to quantify what this needs to be.  The [jump up](https://ngrok.com/pricing) from free to basic or pro only goes from 40connections/min -> 60connections/min.  I suspect we'd need to go to 120 at Business.

@dianabarsan - you have stats that would validate my hunch?

[2020-07-21 03:37] mrjones-plip commented on #6553
@Hareet  - Thanks for the input! I was definitely lacking a lot detail from the SRE perspective, so much appreciated.

The rigidity of dynamic DNS might be limiting though.  What if I'm at a different location (thus different IP)?  What if I want to test over my Phone's hotspot/MiFi/what-ever-the-kids-call-it-these-days while at the same location? "pushing" the SSH tunnel (eg `ssh -R 5988:localhos

[2020-07-21 04:20] Hareet commented on #6553
They provide a container that updates the DNS service to your IP every few minutes. You would just kick that off alongside the other containers they provide.

Hm, I'm not sure if it's worth covering every scenario. Perhaps a combination of the methods would do it all?

I'd rather the devs deal with this and script it for self-hosted partners and everyone to use (with missing a few scenarios) than

[2020-07-21 05:57] ngaruko commented on #6502
Looks Ok. The tour does not show for users with no access to the app tabs. However, there is a small glitch in the behaviour: the tour pops ups again after being dismissed. Not sure if we really should spend much time of this feature  @garethbowen ?

[tour.mov.zip](https://github.com/medic/cht-core/files/4951581/tour.mov.zip)

[2020-07-21 06:34] dianabarsan commented on #6553
I'd say we need definitely more than 120 connections. At least 500.
With ngrok, this is the message I got when I was replicating a user with ~100 docs.

[code]

For a user with legitimate data, where reports have attachments, the configuration has multiple forms (each with attachments), every attachment request counts towards this limit and they very easily add up (I think the 20 connections are a

[2020-07-21 08:21] derickl opened #6554 "Work out how to support multiple short codes for a single CHT deployment"
**Is your feature request related to a problem? Please describe.**
A typical medic-gateway deployment uses a simcard which can send/receive messages across any MNO. With shortcodes, this may not necessarily be the case. In some countries one has to apply to each MNO for a short code and you would very likely end up with different numbers for each of the networks applied to (e.g. Kenya). In other c

[2020-07-21 08:23] garethbowen commented on #6502
I think that's unrelated to this. I think that's happening because when you select the tour it adds a `tour=true` parameter to the URL. Then when you reload that parameter is used to kick off the tour again. Can you test that in `master` and make sure the bug exists there too? If it is, please raise a separate issue for that.

[2020-07-21 09:31] SMurithi commented on #6554
Well put @derickl. Just to add that there is potential for national scale and we need to be ready ahead of that. Having users buy Safaricom lines has been termed as disruptive and a potential barrier to engagement.

[2020-07-21 11:56] latin-panda commented on #6251
This ticket has 2 PR:
https://github.com/medic/cht-core/pull/6550
https://github.com/medic/cht-docs/pull/242

[2020-07-21 19:01] dianabarsan commented on #6551
Merged to `master`. Only contains documentation updates, no AT required.

[2020-07-21 19:01] #6551 closed

[2020-07-21 21:23] garethbowen opened #6556 "Release 3.11.0"
# Planning

- [x] Create an [organisation wide project](https://github.com/orgs/medic/projects?query=is%3Aopen+sort%3Aname-asc) and add this issue to it. We use [semver](http://semver.org) so if there are breaking changes increment the major, otherwise if there are new features increment the minor, otherwise increment the service pack. Breaking changes in our case relate to updated software requir

[2020-07-21 21:46] garethbowen commented on #6554
CHT currently supports receiving SMS messages from multiple aggregators. The missing component is adding support for sending SMS using multiple aggregators. The challenge here is knowing which aggregator to use for each outgoing message.

@derickl Can you think of a way to configure the logic of which aggregator to use? For example, does everyone on Safaricom use the same phone number prefix?

Thi

[2020-07-21 21:52] mrjones-plip commented on #6553
@Hareet  - cool cool - thanks very much for the feedback.  I didn't mean to suggest all of the "push traffic back to your FQDN" wouldn't work (I can see how they will!), I more wanted to show the SSH tunnel is more flexible (but maybe less reliable?!?).  Anyway, all good info to gather.

@dianabarsan  - woah!! really great to know this data point.  Even the for pay versions of ngrok are WAY under-

[2020-07-21 22:02] mrjones-plip commented on #6553
Oh yeah - how important is it for folks to see the per request real time info?  For example, ngrok gives you this when you fire it up and make reqeusts:

![image](https://user-images.githubusercontent.com/8253488/88111541-f5d79000-cb62-11ea-9181-653b1edb2e22.png)

I was thinking it wasn't that important b/c you likely have the API running via `node server.js` in a terminal and you can see the same

[2020-07-21 22:07] garethbowen commented on #6553
I agree it's not important. It's nice sometimes to help debug where an issue lies (eg: you forgot to start API), but that's usually fairly obvious.

[2020-07-21 22:34] garethbowen commented on #5917
AT instructions:

- Make sure you install the `5917-goodbye-periodic-gpsing` branch of medic-android. It shouldn't make any different as it just removes dead code but we need to prove it's actually dead code!
- Install the `5917_better-gps` branch of cht-core.
- Test submitting reports on various mobile devices, and desktop browsers, in lots of places, with GPS turned off, inside and outside, on t

[2020-07-22 00:29] ngaruko commented on #6380
@n-orlowski I think we definitely could improve on error messages. Not sure how much info we can get from the phone, but it would be a good think of ways check for things like no app installed, wrong version of the app, expired link, etc and ask the user to take appropriate action like download the app, upgrade, contact admin (assuming they are supposed to know how to as @n-orlowski mentioned). Yo

[2020-07-22 02:01] abbyad commented on #6380
@ngaruko can you list out the different error scenarios that were covered as part of AT, and show what the results were?

[2020-07-22 03:49] ngaruko commented on #6502
@garethbowen Agree - Will raise a different issue

[2020-07-22 04:33] dianabarsan commented on #6380
We send 2 sms, one that contains the actual link (so we don't risk the sms app splitting the link between messages and becoming unclickable) and one that _should_ contain instructions for the user - which is configurable via `token_login.translation_key` (https://github.com/medic/cht-docs/blob/6380-token-login/content/en/apps/reference/app-settings/token_login.md#app_settingsjson-token_login). Thi

[2020-07-22 04:57] ngaruko commented on #6380
A few scenario tested :
1 - App-host not specified (or different the one in settings) OR app not installed  >>
What happens: Open the browser  - Logged in
Suggestion/Ideal: Notice that the app is installed but that 'something' is wrong with the version or if not installed , prompt/advise the user to get the app

2 - Invalid or tempered with link or disabled link
What happens: Error as expected
![i

[2020-07-22 10:34] benkags opened #6557 "API service doesn't boot successfully if there is a label named "submission" in the xform"
**Describe the bug**
Medic-api doesn’t boot successfully if there is a label named ‘submission’ in the xform.

The LG’s config outputs the logs below when it gets to the form:death_report during an upgrade to v3.9.0 resulting in the api failing to boot.

_My assessment of what is happening._

[This](https://github.com/medic/cht-core/blob/a6b10893a83a12e7799e10ec866e9bc0b5be407a/api/src/services/ge

[2020-07-22 10:41] dianabarsan commented on #6557
Related and very cryptic: https://github.com/enketo/enketo-transformer/issues/65

[2020-07-22 10:43] dianabarsan commented on #6557
My impression is that "submission" elements are reserved for something: https://github.com/enketo/enketo-transformer/blob/21c067e61f7b79d26846bf19d48a228dfab04fdc/src/xsl/openrosa2html5form.xsl#L108

[2020-07-22 17:05] newtewt commented on #6401
@ngaruko  did you move this back so that @derickl  could get a chance to look at this? Just wondering what happened to make it go backwards. Thanks!

[2020-07-22 17:28] ecsalomon commented on #4771
Was thinking about this in the context of UHC work and am curious how this would interact with aggregate targets for supervisors? If, say, each CHW has a target set based on cases observed at a facility, would it be possible for a supervisor to have an aggregate view into coverage percentage of all CHWs and drill down by CHW to see what each CHW's target is and how they are doing at meeting it? (s

[2020-07-22 18:56] dianabarsan commented on #6401
Well, @newtewt , thanks for bringing this forward, cause it made me realize I forgot to handle LHS actionbar :) Pushed a change on the branch to fix.

[2020-07-22 20:50] garethbowen commented on #6557
I agree it looks like a reserved element type. I'm not sure there's much we can do about this other than improve error handling and work around it by changing the name.

NB: We have an issue scheduled to [catch these errors earlier](https://github.com/medic/medic-conf/issues/331) which will reduce the severity of this issue.

[2020-07-23 00:19] ngaruko commented on #6380
I guess the last one is a quick fix @dianabarsan . The rest are edge cases, and if the user is familiar with the app and their phone, and the onboarding process/training  is done properly,  it should be too much of a pain. Your thoughts @abbyad @n-orlowski ?

[2020-07-23 00:29] n-orlowski commented on #6380
[Best practice](https://uxdesign.cc/form-field-required-vs-optional-9b4d7cdbf400) is actually to not use asterisks for the required field but to use an "Optional" label for those that are not required, so I think the last item is fine :)

[2020-07-23 02:37] garethbowen commented on #6369
No AT required. Merged!

[2020-07-23 02:37] #6369 closed

[2020-07-23 02:39] garethbowen commented on #6251
Ready for AT in `6251-logs-replicating-many-docs`.

@latin-panda Can you please add steps for how to AT this issue?

[2020-07-23 05:05] dianabarsan commented on #6116
This change refactors how Sentinel's scheduled tasks are processed.
Before, they were run in sequence, blocking next task until done. The 5 minute restart interval was calculated _after_ all tasks were finished.
Now, they should run in parallel, and the scheduler checks, every 5 minutes, if a task is not already running. if not, it would start it, otherwise it would skip it and check it again next

[2020-07-23 05:25] dianabarsan commented on #6116
Ah also, when upgrading an instance to this version and start sentinel, make sure the backgroundCleanup doesn't start processing deletes from 0

[2020-07-23 10:04] latin-panda commented on #6251
On this ticket we added a new DB in CouchDB called `medic-logs`, where we add/update a document per user when they replicate docs, this document is called `replication-count-[user name]`.
The `replication-count-[user name]` contains the user name, count of replicated docs and logged date.

To test this I usually do the following requests:
1. Replicate documents with an user that has `offline` role